<td><PersonLink @person={{person}} @page="access-documents" /></td>
<td>{{person.status}}</td>
<td class={{tickets.style}}>{{tickets.text}}</td>
<td class={{arrivalDate.style}}>{{arrivalDate.text}}</td>
<td class={{vpTickets.style}}>{{vpTickets.text}}</td>
<td class="text-right {{significantOtherCount.style}}">{{significantOtherCount.text}}</td>
<td>
  {{notes}}
  {{#if documentsErrors}}
    <p class="text-danger">
      {{#each documentsErrors as |error|}}
        {{error}}<br>
      {{/each}}
    </p>
  {{/if}}
</td>
