<div class="card mb-3">
  <div class="card-header">{{heading}} - {{description}}</div>
  <div class="card-body">
    <div class="mb-2">
    </div>

    {{#each group as |alert idx|}}
      {{#if idx}}<hr>{{/if}}
      <div class="row">
        <div class="col-sm-12">
          <div class="font-weight-bold">{{alert.title}}</div>
          {{alert.description}}
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 mt-2">
          {{#if alert.no_opt_out}}
            <span class="text-muted">SMS cannot be opted out of</span>
          {{else if alert.email_only}}
            <span class="text-muted">only email used</span>
          {{else}}
            {{#if (has-alert-phone alert numbers)}}
              <label>{{input type="checkbox" checked=(mut (get alert "use_sms"))}} {{if alert.on_playa numbers.on_playa.phone numbers.off_playa.phone}}</label>
            {{else}}
              <i class="text-muted">no phone number given</i>
            {{/if}}
          {{/if}}
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 mt-2">
          {{#if alert.no_opt_out}}
            <span class="text-muted">Email cannot be opted out of</span>
          {{else if alert.sms_only}}
            <span class="text-muted">only SMS used</span>
          {{else}}
            <label>{{input type="checkbox" checked=(mut (get alert "use_email"))}} {{email}}</label>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
