<caption class="d-flex bg-dark text-light col-12">
  {{heading}}<br> {{description}}
</caption>
{{#each group as |alert|}}
<tr class="d-flex">
  <td class="col-6">
    <b>{{alert.title}}</b><br>
    {{alert.description}}
  </td>
  <td class="col-3">
    {{#if alert.no_opt_out}}
      <span class="text-muted">Cannot be opted out of</span>
    {{else if alert.email_only}}
      <span class="text-muted">only email used</span>
    {{else}}
      {{#if (has-alert-phone alert numbers)}}
        <label>{{input type="checkbox" checked=(mut (get alert "use_sms"))}} {{if alert.on_playa numbers.on_playa.phone numbers.off_playa.phone}}</label>
      {{else}}
        no # number
      {{/if}}
    {{/if}}
  </td>
  <td class="col-3">
    {{#if alert.no_opt_out}}
      <span class="text-muted">Cannot be opted out of</span>
    {{else if alert.sms_only}}
      <span class="text-muted">only SMS used</span>
    {{else}}
      <label>{{input type="checkbox" checked=(mut (get alert "use_email"))}} {{email}}</label>
    {{/if}}
  </td>
</tr>
{{/each}}
