<ChForm @formId="bmid" @originalModel={{@entry}} @onSubmit={{@onSave}} @onCancel={{@onCancel}} as |f|>
  <p>
    {{#if @entry.wap_id}}
      WAP ID #{{@entry.wap_id}} - {{@entry.wapTypeHuman}} - {{@entry.wap_status}}
      {{#if @entry.wapSubmitted}}
        <br>
        <strong class="text-danger">WAP has been submitted for processing - WAP Date cannot be changed.</strong>
      {{/if}}
    {{else}}
      <strong class="text-danger">WAP could not be located - WAP Date cannot be changed.</strong>
    {{/if}}
  </p>
  <div class="form-row">
    <f.input @name="status" @label="BMID Status" @type="select" @options={{this.bmidStatusOptions}} />
    <f.input @name="meals" @label="Meals" @type="select" @options={{this.mealOptions}} @grid="col-auto" />
    <f.input @name="showers" @label="Showers" @type="select" @options={{this.showerOptions}} @grid="col-auto" />
    <f.input @name="admission_date" @label="WAP Date" @type="select" @disabled={{@entry.wapDisabled}} @options={{@admissionDateOptions}} />
  </div>

  <div class="form-row">
    <f.input @name="title1" @label="Title 1" @type="text" @size=64 @grid="col-auto" />
    <f.input @name="title2" @label="Title 2" @type="text" @size=64 @grid="col-auto" />
    <f.input @name="title3" @label="Title 3" @type="text" @size=64 @grid="col-auto" />
  </div>

  <div class="form-row">
    <f.input @name="team" @label="Team" @type="text" @size=80 @grid="col-auto" />
    <f.input @name="notes" @label="Notes" @type="textarea" @rows=4 @cols=80 />
  </div>
  <div class="form-group row">
    <div class="col-auto">
      {{#if @entry.isNew}}
        BMID record will be created on save.
      {{else}}
        Created {{@entry.create_datetime}} Last modified {{@entry.modified_datetime}}
      {{/if}}
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <f.submit @label={{if @entry.isNew "Create" "Update"}} @disabled={{@entry.isSaving}} />
      {{#if @onCancel}}
        <f.cancel @disabled={{@entry.isSaving}} />
      {{/if}}
      {{#if @entry.isSaving}}
        <LoadingIndicator/>
      {{/if}}
    </div>
  </div>
</ChForm>
