<div id="sidebar-container" class="sidebar-expanded d-none d-md-block d-print-none" {{did-insert this.sidebarInserted}}>
  <ul class="list-group">
    {{yield}}

    <ChSidebarGroup>
      <a href class="{{this.linkBg}} list-group-item list-group-item-action d-flex align-items-center" {{action this.sidebarToggle}}>
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span id="collapse-icon" class="fas fa-lg mr-3"></span>
          <span id="collapse-text" class="menu-collapsed">Collapse</span>
        </div>
      </a>
    </ChSidebarGroup>

    <div class="ranger-logo menu-collapsed">
      <img src={{root-url "assets/images/ranger-logo.png"}} alt="ranger logo">
    </div>
  </ul>
</div>
