{{#if isUrl}}
<a href="{{routePath}}" class="{{linkBg}} list-group-item list-group-item-action">
  <ChSidebarLinkContent @iconUrl={{iconUrl}} @icon={{icon}} @iconType={{iconType}} @title={{title}} @badgeText={{badgeText}} />
</a>
{{else}}
  {{! ARG.. link-to cannot accept an empty dynamic segment}}
  {{#if routeArg}}
    <LinkTo @route={{routePath}} @model={{routeArg}} class={{concat linkBg " list-group-item list-group-item-action"}} @activeClass="sidebar-active">
      <ChSidebarLinkContent @iconUrl={{iconUrl}} @icon={{icon}} @iconType={{iconType}} @title={{title}} @badgeText={{badgeText}} />
    </LinkTo>
  {{else}}
    <LinkTo @route={{routePath}} class={{concat linkBg " list-group-item list-group-item-action"}} @activeClass="sidebar-active">
      <ChSidebarLinkContent @iconUrl={{iconUrl}} @icon={{icon}} @iconType={{iconType}} @title={{title}} @badgeText={{badgeText}} />
    </LinkTo>
  {{/if}}
{{/if}}
