<a href {{action clickHelp}} class="popover-button">{{fa-icon "question-circle"}}{{#if label}} {{label}}{{/if}}</a>
{{#if this.isShowing}}
  <div class="popover d-block {{if this.bottom "popover-bottom"}} {{if this.left "popover-left"}}">
    <h3 class="popover-header">{{if isLoading "Hang tight" title}}</h3>
    <div class="arrow"></div>
    <div class="popover-body">
      {{#if this.isLoading}}
        Loading help {{fa-icon "spinner" spin=true}}
      {{else if this.body}}
        {{nl2br this.body allowHtml=true}}

      {{else}}
        <p>
          Ooops! Looks like we forgot to write some help for this.
        </p>
        <p>
          help id=[{{@slug}}]
        </p>
      {{/if}}
    </div>
    <div class="popover-footer">
      {{#if (has-role "admin")}}
        {{#if this.body}}
          {{#link-to "admin.help" (query-params editSlug=@slug) class="btn btn-secondary"}}Edit Help{{/link-to}}
        {{else if (not this.isLoading)}}
          {{#link-to "admin.help" (query-params createSlug=@slug) class="btn btn-secondary"}}Create Help{{/link-to}}
        {{/if}}
      {{/if}}
      <button class="btn btn-primary" {{action closeHelp}}>Close</button>
    </div>
  </div>
{{/if}}
