{{#ch-form "message" message
  modalBox=true
  modalTitle="Send A New Clubhouse Message"
  onSubmit=(action "submitAction") onCancel=(action "cancelAction")
  validator=personMessageValidations as |f|}}
  <p>
    Clubhouse messages are intended for communications with other Rangers while
    the event is happening.  Please consider using email during the rest of the
    year.
   </p>
  {{f.input "message_from" label="From" type="text" size=30 maxlength=120 autofocus="true"}}
  {{f.input "recipient_callsign" label="To" type="search" onSearch=(action "searchCallsignAction") }}
  {{f.input "subject" label="Subject" maxlength=80}}
  {{f.input "body" label="Message" type="textarea" rows=4 cols=8}}
  {{f.submit label="Send" }}
  {{f.cancel}}
{{/ch-form}}
