{{#modal-dialog title=data.title onClose=onClose}}
  <p>
    {{#if data.isMe}}You are{{else}}The person is{{/if}} already
    enrolled in {{pluralize data.slots.length (if data.isAlpha "Alpha shift" "training session") }}:
  </p>
  <p>
    {{#each data.slots as |slot|}}
      <b>{{slot.position.title}} - {{slot.description}} {{shift-format slot.begins}}</b><br>
    {{/each}}
  </p>
  <p>
    {{#if data.forced}}
      Because you either have the Admin, Trainer, VC or Mentor role,
      {{if data.isMe "you have" "the person has"}}
      been added to the
      {{#if data.isAlpha}}Alpha shift{{else}}training sessions{{/if}}.
      Hope you know what you are doing!
    {{else}}
      You may only sign up for one {{#if data.isAlpha}}Alpha shift{{else}}training session{{/if}}.
      Multiple enrollments are not allowed.
      Contact {{mail-to (config "VCEmail")}} for help.
    {{/if}}
  </p>
{{/modal-dialog}}
