<ModalDialog @title="Already Signed Up" as |modal|>
  <modal.body>
    <p>
      {{this.youAreOrCallsignIs}} already enrolled in
      {{pluralize this.enrolledSlots.length (if this.isAlpha "Alpha shift" (concat this.trainingType " session")) }}:
    </p>
    <p>
      {{#each this.enrolledSlots as |slot|}}
        <b>{{slot.position.title}} - {{slot.description}} {{shift-format slot.begins}}</b><br>
      {{/each}}
    </p>
    <p>
      Only one {{#if this.isAlpha}}Alpha shift{{else}}{{this.trainingType}} session{{/if}} may be signed up for.
      You may remove yourself from the other session, if it has not past, and sign up for a new one.
    </p>
    <p>
      To arrange another sign up or if you have questions, email
      {{#if this.slot.contact_email}}
        {{mail-to this.slot.contact_email}}
      {{else}}
        {{vc-email}}
      {{/if}}
    </p>
    {{#if this.data.person.isRanger}}
      <p>
        NOTE: {{this.youAreOrCallsignIs}} allowed to sign up for a single  Training session and different
        ART Training sessions.
      </p>
    {{/if}}
  </modal.body>
  <modal.footer>
    <modal.button @label="Close" @action={{@onClose}} @type="primary"/>
  </modal.footer>
</ModalDialog>
