{{#modal-dialog title=dialog.title onClose=onClose}}
<p>
  {{if dialog.message.isMe "You are" "The person is"}} already enrolled in {{pluralize dialog.message.slots.length "training session"}}:
</p>
<p>
  {{#each dialog.message.slots as |slot|}}
  <b>{{slot.position.title}} - {{slot.description}} {{shift-format slot.begins}}</b><br>
  {{/each}}
</p>
<p>
  {{#if dialog.message.forced}}
    Because you either have the Admin, Trainer, VC or Mentor role,
    {{if dialog.message.isMe "you have" "the person has"}} been added to the training session. Hope you know what you are doing!
  {{else}}
    Multiple enrollments for training sessions are not allowed.
    Contact {{mail-to (config "VCEmail")}} for help.
  {{/if}}
</p>
{{/modal-dialog}}
