<div class="modal" tabindex="-1" role="dialog" {{did-insert this.boxInserted}}>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      {{#if @title}}
        <div class="modal-header">
          <h5 class="modal-title">{{@title}}</h5>
        </div>
      {{/if}}
      <div class="modal-body">
        {{yield}}
        {{#unless @noButtons}}
          <div class="row mt-2">
            <div class="text-right col-sm-12">
              {{#if @onConfirm}}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{this.cancelLabel}}</button>
                <button type="button" class="btn btn-primary" {{action @onConfirm}}>{{this.confirmLabel}}</button>
              {{else}}
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{this.closeLabel}}</button>
              {{/if}}
            </div>
          </div>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
