{{#if photo}}
  {{#if photo.photo_url}}
    <img src="{{photo.photo_url}}" class="mx-auto d-block" alt="profile photo">
    Status:
    {{#if (eq photo.photo_status "approved")}}
      <span class="text-success">Approved</span>
    {{else}}
      <span class="text-danger">{{photo.photo_status}}</span>
    {{/if}}
    <br>
  {{else}}
    <i class="far fa-user fa-8x"></i><br>
    Wanna supply a photo?<br>
  {{/if}}
  {{#if photo.message}}
    <div class="text-danger">ERROR: {{photo.message}}</div>
  {{/if}}
  {{#if photo.upload_url}}
    <div class="mt-1">
      <a href="{{photo.upload_url}}" class="btn btn-primary btn-sm">Upload a new photo</a>
    </div>
  {{else}}
    <strong>Photo uploading is disabled at this time.</strong>
  {{/if}}
{{else}}
  <div class="loading-spinner"></div>
  . . Loading photo . .
{{/if}}
