<div class="mb-2 d-print-none">
  <div class="form-check form-check-inline">
    {{radio-button value="upcoming" groupValue=viewSchedule radioId="view-upcoming" radioClass="form-check-input"}}
    <label for="view-upcoming" class="form-check-label">Upcoming Shifts ({{upcomingCount}})</label>
  </div>
  <div class="form-check form-check-inline">
    {{radio-button value="all" groupValue=viewSchedule radioId="view-all" classNames="form-check-label" radioClass="form-check-input" }} <label for="view-all" class="form-check-label">All Shifts ({{slots.length}})</label>
  </div>
</div>

{{#if overlapping}}
  <p>
    <span class="text-danger">You are signed up for overlapping shifts, marked with a
      {{fa-icon "exclamation-triangle"}}.</span>
    This might be an error, and you
    didn't mean to be in two places at once. It might be just fine and you plan to work two shifts back-to-back.
    You only get credit for the time you work, and won't receive double credit for the overlapping time.
  </p>
{{/if}}
<div>(hh:mm) = time in parentheses indicates the time does not count towards appreciations.</div>

<div class="schedule-table schedule-itinerary">
  <div class="schedule-row schedule-header">
    <div class="schedule-time">From</div>
    <div class="schedule-time">To</div>
    <div class="schedule-duration">Time</div>
    <div class="schedule-credits">Credits</div>
    <div class="schedule-long-description">Position / Description</div>
    <div class="schedule-actions d-print-none">Actions</div>
  </div>

  {{#if viewSlots}}
    {{#each viewSlots as |slot| }}
      <div class="schedule-row {{if slot.is_overlapping "schedule-overlapping"}}">
        <div class="schedule-time">
          {{#if slot.is_overlapping}}
            <span class="text-danger">{{fa-icon "exclamation-triangle"}}</span>
          {{/if}}
          {{shift-format slot.slot_begins}}
        </div>
        <div class="schedule-time">{{shift-format slot.slot_ends}}</div>
        <div class="schedule-duration"><span class="schedule-sm-label">Duration:</span>
          {{#if slot.position_count_hours}}
            {{hour-minute-format slot.slot_duration}}
          {{else}}
            ({{hour-minute-format slot.slot_duration}})
          {{/if}}
        </div>
        <div class="schedule-credits"><span class="schedule-sm-label">Credits:</span>{{credits-format slot.credits}}</div>
        <div class="schedule-long-description">{{slot.position_title}}<br>{{slot-info-link slot.slot_description slot.slot_url}}</div>
        <div class="schedule-actions d-print-none">
          <button onclick={{action showPeople slot}} class="btn btn-secondary btn-sm" title="View people signed up">{{fa-icon "users" type="fas"}}</button>
          {{#if (or (not slot.has_started) (has-role "admin"))}}
            {{! Note: magic here -  by not using onclick, no event argument will be passed to leaveSlot. That tells the method to allow the page to scroll.}}
            <button {{action leaveSlot slot}} class="btn btn-danger btn-sm" title="Remove shift from schedule" disabled={{slot.is_submitting}}>
              {{#if slot.is_submitting}}
                {{fa-icon "spinner" spin=true}}
              {{else}}
                {{fa-icon "trash-alt" type="fas"}}
              {{/if}}
            </button>
          {{/if}}
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class="schedule-row">
      <div>
        {{#if slots}}
          <span class="text-danger">No upcoming {{year}} shifts were found.</span>
        {{else}}
          <strong>No scheduled shifts were found for {{year}}.</strong>
        {{/if}}
      </div>
    </div>
  {{/if}}

  <div class="schedule-row">
    <div class="schedule-line">
      {{#if scheduleSummary.event_start}}
        <b>{{year}} Event Week:</b> {{shift-format scheduleSummary.event_start}} to {{shift-format scheduleSummary.event_end}}
      {{else}}
        <strong class="text-danger">{{year}} event dates have not been determined. Estimate breakdowns will not be accurate.</strong>
      {{/if}}
    </div>
    <div>
      <span class="mr-2 d-inline-block"><b>Total Schedule Time:</b> {{hour-minute-format scheduleSummary.total_duration}}</span>
      <div class="d-inline-block"><b>Est. Time Counted Towards Appreciations:</b> {{hour-minute-format scheduleSummary.counted_duration}}</div>
    </div>
    <div class="schedule-line">
      <span class="d-inline-block"><b>Scheduled Hours Breakdown (Pre-Event / Event / Post-Event / Other):</b></span>
      <span class="d-inline-block">{{hour-minute-format scheduleSummary.pre_event_duration}} / {{hour-minute-format scheduleSummary.event_duration}} / {{hour-minute-format scheduleSummary.post_event_duration}} / {{hour-minute-format scheduleSummary.other_duration}}</span>
    </div>
    <div class="schedule-line">
      <span class="mr-2 d-inline-block"><b>Scheduled Credits:</b> {{credits-format scheduleSummary.total_credits}}</span>
      <span class="d-inline-block"><b>Earned Credits:</b> {{credits-format creditsEarned}}</span>
    </div>
    <div>
      <span class="d-inline-block"><b>Scheduled Credits Breakdown (Pre-Event / Event / Post-Event):</b></span>
      <span class="d-inline-block">{{credits-format scheduleSummary.pre_event_credits}} / {{credits-format scheduleSummary.event_credits}} / {{credits-format scheduleSummary.post_event_credits}}</span><br>
    </div>
  </div>
</div>

{{#if (and scheduleSummary person.isRanger isCurrentYear)}}
  {{ticket-threshold year=year credits=scheduleSummary.total_credits creditsEarned=creditsEarned}}
{{/if}}
