{{#if (and isCurrentYear (not permission.signup_allowed))}}
  {{#ch-box "Signups for training and/or shifts is not allowed" type="warning" icon="exclamation-circle"}}
    {{#if person.isPassProspective}}
      <p>
        You cannot sign up for shifts (including trainings) because it looks like
        you were interested in volunteering with us some time ago but your account
        isn't in our volunteer intake pipeline for this year.
      </p>

      <p>
        <a href="http://rangers.burningman.org/ranger-application-process/">Click Here</a>
        to read about our intake process for this event cycle, as it may have
        changed since you last applied. All prospective Rangers must reapply each year
        from the start of the process.
      </p>
    {{else if permission.manual_review_window_missed}}
      We are sorry to report that you were not among the first
      {{permission.manual_review_cap}} prospective volunteers to have passed
      the Manual Review. Sadly
      this means that you have missed the window for volunteering with us
      as a Ranger this year. If you have questions or believe you have received
      this message in error, please contact {{vc-email}} .
    {{else}}
      {{#if (eq permission.photo_status "error")}}
        <h3>Oops! There was a problem communicating with our photo server.</h3>
        <p>
          We cannot determine if you have uploaded a photo, or if it has been approved. Please
          check back in a few minutes to see if the problem has resolved. If this
          problems persists, please contact {{admin-email}} for help.
        </p>
        <p>
          We are sorry if this is an inconvenience for you.
        </p>
      {{else if (not-eq permission.photo_status "not-required")}}
        <p>
          You cannot sign up for shifts (including trainings) because {{deniedReason}}.
        </p>
        {{#if (not-eq permission.photo_status "approved")}}
          <p>
            {{#if (eq permission.photo_status "missing")}}
              Please upload a BMID (lam) photo. Note that photos can take 2-3 days to be
              approved. A new photo may be uploaded on the {{#link-to "me.personal-info"}}Personal Info{{/link-to}} page.
            {{else if (eq permission.photo_status "rejected")}}
              The photo was rejected. Please upload a new photo that conforms to the guidelines.
            {{else}}
              Your photo has been submitted and may take up to 2 to 3 days to review. Please check back then.
            {{/if}}
          </p>
        {{/if}}
      {{/if}}

      {{#if permission.manual_review_allowed}}
        {{#if permission.manual_review_url}}
          <p>
            Please <a href="{{permission.manual_review_url}}">click here</a> to take the Manual Review.
          </p>
        {{else}}
          <h3>The Manual Review is not quite ready.</h3>
          Unfortunately, the Manual Review is still being worked on. You may not
          sign up for shifts, including trainings, until the review is ready and
          you have passed it. Please check back later.
        {{/if}}
      {{/if}}
    {{/if}}

    {{#if (or person.isPassProspective (and (not person.callsign_approved) (not person.isAuditor) (not person.isNonRanger)))}}
      Please email {{vc-email}} if you are interested in
      volunteering with us or if you think you have received this message in error.
    {{/if}}
  {{/ch-box}}
{{else}}
  {{schedule-table slots=signedUpSlots person=person year=year creditsEarned=creditsEarned}}
  <h3>{{if isCurrentYear "Available Shifts" "Past Shifts"}}</h3>
  {{#if slots}}
    <div class="row mb-1">
      <div class="col-md-3 mb-2">
        {{#power-select
            selected=filterDay
            options=dayOptions
            searchEnabled=false
            searchField="title"
            onchange=(action (mut filterDay))
                      as |item| }}
          {{item.title}}
        {{/power-select}}
      </div>
      <div class="col-md-5 mb-2">
        {{#power-select
            selected=filterActive
            options=activeOptions
            searchEnabled=false
            onchange=(action (mut filterActive)) as |item| }}
          {{item.title}}
        {{/power-select}}
      </div>
    </div>

    <p class="text-muted">Showing {{viewSlots.length}} of {{slots.length}}</p>

    {{#if slotGroups}}
      {{#each slotGroups as |group|}}
        <div class="schedule-table schedule-signup-sheet">
          <div class="schedule-title">{{if group.show (fa-icon "caret-down") (fa-icon "caret-right")}} <a href="#" {{action "toggleGroup" group}}>{{group.title}} ({{group.slots.length}})</a></div>
          {{#if group.show}}
            <div class="schedule-row schedule-header d-sm-none d-md-block">
              <div class="schedule-time">From</div>
              <div class="schedule-time">To</div>
              <div class="schedule-credits">Credits</div>
              <div class="schedule-description">Description</div>
              <div class="schedule-signups">Signups</div>
              <div class="schedule-actions">Actions</div>
            </div>
            {{#each group.slots as |slot|}}
              <div class="schedule-row {{if slot.person_assigned "table-warning"}}">
                <div class="schedule-time">
                  {{#if slot.person_assigned}}
                    {{fa-icon "check"}}
                  {{/if}}
                  {{shift-format slot.slot_begins}}
                </div>
                <div class="schedule-time">{{shift-format slot.slot_ends}}</div>
                <div class="schedule-credits"><span class="schedule-sm-label">Credits:</span> {{credits-format slot.credits}}</div>
                <div class="schedule-description">
                  <span class="schedule-sm-label">{{group.title}} - </span>{{slot-info-link slot.slot_description slot.slot_url}}
                </div>
                <div class="schedule-signups">{{slot-full-indicator slot.slot_signed_up slot.slot_max}}</div>
                <div class="schedule-actions">
                  <button {{action "showPeople" slot}} class="btn btn-secondary btn-sm">{{fa-icon "users" type="fas"}}</button>
                  {{#if slot.person_assigned}}
                    {{#if (or (has-role "admin") (not slot.has_started))}}
                      {{! Only allow admins to remove a sign up that has started}}
                      <button {{action "leaveSlot" slot}} class="btn btn-danger btn-sm">{{fa-icon "trash-alt" type="fas"}}</button>
                    {{/if}}
                  {{else}}
                    {{#if slot.slot_active}}
                      {{#if (or (not slot.isFull) (not slot.has_started) (has-role "admin"))}}
                        <button {{action "joinSlot" slot}} class="btn btn-primary btn-sm">{{fa-icon "user-plus" type="fas"}}</button>
                      {{/if}}
                    {{/if}}
                  {{/if}}
                </div>
              </div>
            {{/each}}
          {{/if}}
        </div>
      {{/each}}
    {{else}}
      <div class="text-danger">There are no shifts which match.</div>
    {{/if}}
    <div class="mt-2"><strong>Note:</strong>
      <ul>
        <li>A shift may not be added to or removed from your schedule if the shift has already started.</li>
        <li>Any shift with <small class="text-danger">N/A</small> in the Actions
          column indicates the shift has not been activated yet and sign ups are not allowed. Check back at a later time to see if the shift has been activated.</li>
      </ul>
    </div>
  {{else}}
    <div class="text-danger">There are no shifts available.</div>
  {{/if}}
{{/if}}
