{{#unless isCurrentYear}}
  {{#ch-alert "warning"}}
    Warning: You are viewing a past schedule ({{year}}).
  {{/ch-alert}}
{{/unless}}
{{#if (and noPermissionToSignUp (not requirementsOverride))}}
  {{#ch-box "Sign ups for training and/or shifts is not allowed" type="warning" icon="exclamation-circle"}}
    {{#if person.isPastProspective}}
      <p>
        {{if isMe "You" person.callsign}} cannot signup for trainings and/or shifts because it looks like
        you were interested in volunteering with us some time ago but the account
        isn't in our volunteer intake pipeline for this year.
      </p>

      <p>
        <a href="http://rangers.burningman.org/ranger-application-process/">Click Here</a>
        to read about our intake process for this event cycle, as it may have
        changed since you last applied. All prospective Rangers must reapply each year
        from the start of the process.
      </p>
    {{else}}
      {{#if (eq permission.photo_status "error")}}
        <h3 class="mt-2">Oops! There was a problem communicating with our photo server.</h3>
        <p>
          We cannot determine if {{if isMe "you have" (concat person.callsign " has")}} uploaded a photo,
          or if it has been approved. Please check back in a few minutes to see if the problem has resolved.
          If this problems persists, please contact {{admin-email}} for help.
        </p>
        <p>
          We are sorry if this is an inconvenience for you.
        </p>
      {{else}}
        <p>
          {{if isMe "You have" (concat person.callsign " has")}} not met all the requirements to sign up for training
          and/or shifts. The following item(s) need to be done:
        <ul class="mt-2">
          {{#each deniedReason as |reason|}}
            <li>{{reason}}</li>
          {{/each}}
        </ul>
        </p>
        {{#if (not hasApprovedPhoto)}}
          {{#if (eq permission.photo_status "missing")}}
            <h3 class="mt-2">Upload a photo</h3>
            Please upload a {{if person.isNonRanger "Clubhouse"
                                 "BMID (lam)"}} photo. Note that photos can take 2-3 days to be
            approved. A new photo may be uploaded on the
            <LinkTo @route="me.overview">Home Page</LinkTo>.
          {{else if (eq permission.photo_status "rejected")}}
            <h3 class="mt-2">Submitted photo was rejected</h3>
            The photo was rejected. Please upload a new photo that conforms to the guidelines.
            A new photo may be uploaded on the
            <LinkTo @route="me.overview">Home Page</LinkTo>.
          {{else}}
            <h3 class="mt-2">Photo pending approval</h3>
            The photo has been submitted and may take up to 2 to 3 days to review. Please check back then.
          {{/if}}
        {{/if}}
      {{/if}}

      {{#if permission.online_training_allowed}}
        <h3 class="mt-2">Complete Online Training</h3>
        {{#if permission.online_training_url}}
          {{#if isMe}}
            <OnlineTrainingLaunch @text="Click Here" @person={{this.person}} @url={{permission.online_training_url}} />
            to take the Online Training Ranger course.
            The course will take 1 to 2 hours to complete.
          {{else}}
            <strong class="text-danger">{{person.callsign}} will need to login and complete Online Training.</strong>
          {{/if}}
        {{else}}
          <strong class="text-danger">Unfortunately, the Online Training course is still
            being worked on.</strong> You may not signup for shifts, including
          trainings, until the course is ready and you have passed it. Please
          check back later.
        {{/if}}
      {{else if (and (not hasApprovedPhoto) (not permission.online_training_passed))}}
        <h3 class="mt-2">Upload Photo &amp; Complete Part 1 of Training (online)</h3>
        You will need to upload a photo and have it approved before being allowed to take Part 1 of Training (online).
      {{/if}}
    {{/if}}

    {{#if (or person.isPastProspective (and (not person.callsign_approved) (not person.isAuditor) (not person.isNonRanger)))}}
      <p>
        Please email {{vc-email}} if {{if isMe "you are" (concat person.callsign " is")}} interested in volunteering
        with us
        or if you think you have received this message in error.
      </p>
    {{else}}
      {{#if permission.missing_bpguid}}
        <h3 class="mt-2">Missing Burner Profile ID</h3>
        <PersonMissingBpguid/>
      {{/if}}

    {{/if}}

    {{#if isAdmin}}
      <p class="text-danger mt-2">
        As a Clubhouse Admin, you may override the requirement(s) to gain access to the schedule. You better know what
        you are doing!
        YOUR ACTIONS WILL BE LOGGED.
      </p>
      <p>
        <button class="btn btn-danger" {{action setRequirementsOverride}}>Click To Override</button>
      </p>
    {{/if}}
  {{/ch-box}}
{{/if}}
{{#if (or requirementsOverride (not noPermissionToSignUp))}}
  {{#if requirementsOverride}}
    {{#ch-alert "danger"}}
      {{fa-icon "exclamation-triangle"}}
      The scheduling requirements override is enabled. You better know what you are doing! Remember, the Clubhouse logs all scheduling actions.
    {{/ch-alert}}
  {{/if}}
  {{#if (and person.isRanger permission.recommend_burn_weekend_shift)}}
    {{#ch-alert "danger"}}
      <b>We strongly urge all Rangers to work at least one shift on Burn Weekend (Friday night through Sunday night) —
        including at least one Burn Perimeter shift.</b> Burn Weekend is our busiest time
      and having solid staffing is critical. This annoying text box will stick
      around until you sign up for a weekend shift.
    {{/ch-alert}}
  {{/if}}
  {{#if permission.missing_behavioral_agreement}}
    <div class="border rounded p-2 my-2">
      <b>Starting in 2019, Burning Man requests you sign the optional Burning Man's Behavioral Standards Agreement.</b>
      <div class="mt-2">
        {{#if isMe}}
          <button class="btn btn-primary" {{action showBehaviorAgreementAction}}>Click here</button>
          to read about the Behavioral Standards, and be given a chance to agree.
        {{else}}
          {{person.callsign}} has not signed the agreement.
        {{/if}}
      </div>
    </div>
  {{/if}}

  <p>
    The <i class="fas fa-info-circle info-icon"></i> icon on a shift description means additional information is
    available. Click on the icon and/or text.
  </p>

  <ScheduleTable @slots={{signedUpSlots}} @person={{person}} @year={{year}} @creditsEarned={{creditsEarned}}
                 @scheduleSummary={{scheduleSummary}} @leaveSlot={{action leaveSlot}} @showPeople={{action
          showPeople}} />
  <div class="d-print-none">
    <h3 class="mt-2">{{if isCurrentYear "Available Shifts" "Past Shifts"}}</h3>
    {{#if availableSlots}}
      {{#if inactiveSlots}}
        {{#ch-alert "warning"}}
          Because you have the Edit Slots, Grant Positions, Trainer, VC, and/or Admin role, the shift listing
          may contain inactive shifts.
          Sign ups are disabled for inactive shifts until the shift has been activated.
        {{/ch-alert}}
      {{/if}}

      <div class="row mb-1">
        <div class="col-sm-5 col-md-auto mb-2">
          <ChForm::Select @name="filterDay" @value={{filterDay}} @options={{dayOptions}} @onChange={{action
                  setFilterDay}} @controlClass="form-control"/>
        </div>
        {{#if inactiveSlots}}
          <div class="col-sm-5 col-md-auto mb-2">
            <ChForm::Select @name="filterActive" @value={{filterActive}} @options={{activeOptions}} @onChange={{action
                    (mut filterActive)}} @controlClass="form-control"/>
          </div>
        {{/if}}
      </div>

      <p class="text-muted">Showing {{viewSlots.length}} of {{availableSlots.length}}</p>

      {{#if slotGroups}}
        {{#each slotGroups as |group|}}
          <div class="schedule-table schedule-signup-sheet">
            <div class="schedule-title">{{if group.show (fa-icon "caret-down") (fa-icon "caret-right")}} <a
                    href="#" {{action "toggleGroup" group}}>{{group.title}} ({{group.slots.length}})</a></div>
            {{#if group.show}}
              <div class="schedule-row schedule-header">
                <div class="schedule-time">From</div>
                <div class="schedule-time">To</div>
                <div class="schedule-credits">Credits</div>
                <div class="schedule-description">Description</div>
                <div class="schedule-signups">Sign Ups</div>
                <div class="schedule-actions">Actions</div>
              </div>
              {{#each group.slots as |slot|}}
                <div class="schedule-row {{if slot.person_assigned "table-success"}}">
                  <div class="schedule-time">
                    {{#if slot.person_assigned}}
                      {{fa-icon "check" title="You are signed up for this shift."}}
                    {{else if (not slot.slot_active)}}
                      {{fa-icon "exclamation-triangle" title="Shift is inactive and may not be signed up for"}}
                    {{/if}}
                    {{shift-format slot.slot_begins}}
                  </div>
                  <div class="schedule-time">{{shift-format slot.slot_ends}}</div>
                  <div class="schedule-credits"><span class="schedule-sm-label">Credits:</span> {{credits-format
                          slot.credits}}</div>
                  <div class="schedule-description">
                    <span class="schedule-sm-label">{{group.title}} - </span>{{slot-info-link slot.slot_description
                                                                                              slot.slot_url}}
                  </div>
                  <div class="schedule-signups">{{slot-full-indicator slot.slot_signed_up slot.slot_max}}</div>
                  <div class="schedule-actions">
                    <button {{action "showPeople" slot}} class="btn btn-secondary btn-sm" title="View people signed up"
                                                         disabled={{slot.is_retrieving_people}}>
                      {{#if slot.is_retrieving_people}}
                        {{fa-icon "spinner" spin="true"}}
                      {{else}}
                        {{fa-icon "users" type="fas"}}
                      {{/if}}
                      Sign Ups
                    </button>
                    {{#if slot.person_assigned}}
                      {{#if (or (has-role "admin") (not slot.has_started))}}
                      {{! Only allow admins to remove a sign up that has started}}
                        <button onclick={{action "leaveSlot" slot}} class="btn btn-light-red btn-sm"
                                title="Remove from schedule" disabled={{slot.is_submitting}}>
                          {{#if slot.is_submitting}}
                            {{fa-icon "spinner" spin=true}}
                          {{else}}
                            {{fa-icon "trash-alt" type="fas"}}
                          {{/if}}
                          Remove
                        </button>
                      {{/if}}
                    {{else}}
                    {{! Only show action buttons for the current year}}
                      {{#if isCurrentYear}}
                        {{#if slot.slot_active}}
                          {{#if (or (has-role "admin") (and (not slot.isFull) (not slot.has_started)))}}
                            <button onclick={{action "joinSlot" slot}} class="btn btn-primary btn-sm"
                                    title="Sign up for the shift" disabled={{slot.is_submitting}}>
                              {{#if slot.is_submitting}}
                                {{fa-icon "spinner" spin=true}}
                              {{else}}
                                {{fa-icon "user-plus" type="fas"}}
                              {{/if}}
                              Add
                            </button>
                          {{/if}}
                        {{else}}
                          <small class="text-danger">Inactive</small>
                        {{/if}}
                      {{/if}}
                    {{/if}}
                  </div>
                </div>
              {{/each}}
            {{/if}}
          </div>
        {{/each}}
      {{else}}
        <div class="text-danger">There are no shifts which match.</div>
      {{/if}}
      <div class="mt-2"><strong>Note:</strong>
        <ul>
          <li>A shift may not be added to or removed from your schedule if the shift has already started.</li>
        </ul>
      </div>
    {{else}}
      <div class="text-danger">There are no shifts available.</div>
    {{/if}}
  </div>

  <p class="d-print-none text-muted">
    Use your browser's print command to send this page to the printer. Don't
    worry, the navigation bar, website footer, and this message will not appear
    on the paper.
  </p>
{{/if}}


{{#if showBehaviorAgreement}}
  <BehavioralAgreementModal @closeAgreement={{this.closeAgreement}} @signAgreement={{this.signAgreement}} />
{{/if}}
