<div class="card card-ticket" id="ticket-wapso">
  <div class="card-header p-0">
    <button class="btn btn-link m-0" type="button" {{action toggleCard "wapso"}}>
      {{fa-icon (if showing.wapso "caret-down" "caret-right")}}
      Work Access Passes For SOs
      {{#if (or (eq ticketingInfo.wap_so_status "none") (eq ticketingInfo.wap_so_status "view"))}}
        <span class="text-black-50 d-inline-block">- To Be Announced</span>
      {{else if (eq ticketingInfo.wap_so_status "frozen")}}
        <span class="text-danger">- Frozen</span>
      {{else if wapSOCount}}
        <span class="text-success d-inline-block">- {{pluralize wapSOCount "person"}} {{fa-icon "check"}}</span>
      {{else}}
        <span class="text-success d-inline-block">- Available</span>
      {{/if}}
    </button>
  </div>
  <AnimatedContainer>
    {{#animated-if showing.wapso use=transition}}
      <div class="card-body">
        {{#if (eq ticketingInfo.wap_so_status "frozen")}}
          {{#if wapSOCount}}
            You have requested Significant Other Passes for the following:
            <ul>
              {{#each wapSOList as |row|}}
                {{#if row.name}}
                  <li>{{row.name}} can enter on or after {{mdy-format row.access_date full=true}} @ 00:01.</li>
                {{/if}}
              {{/each}}
            </ul>
          {{/if}}
          {{ticket-frozen item="Work Access Passes For Significant Others" ticketingInfo=ticketingInfo}}
        {{else if (or (eq ticketingInfo.wap_so_status "none") (eq ticketingInfo.wap_so_status "view"))}}
          <p>
            Information about Significant Other Work Access Passes is not yet
            available in the Clubhouse, please check back soon.
          </p>
        {{else if (eq ticketingInfo.wap_so_status "accept")}}
          {{#if wapSOCount}}
            <p><b>You are requesting {{pluralize wapSOCount "Work Access Pass"}} for your Significant {{if (eq wapSOCount 1) "Other" "Others"}}.</b></p>
          {{else}}
            <p><b>No Significant Other Work Access passes have been requested, yet.</b></p>
          {{/if}}

          <p>
            You may request up to {{pluralize ticketingInfo.wap_so_max "Significant Other Work Access Passs"}} below.
            You may add, remove, or change names until the ticketing deadline. All Work Access passes
            are sent by email.
          </p>

          <div class="wap-so-table">
            <div class="wap-so-header wap-so-row d-sm-none d-md-block">
              <div class="wap-so-name">Significant Other Legal Name</div>
              <div class="wap-so-access">Arrival Date</div>
            </div>
            {{#each wapSOList as |row|}}
              <div class="wap-so-row">
                <div class="wap-so-name">
                  <span class="wap-so-sm-label">SO Legal Name</span>
                  {{input type="text" value=row.name size=30 maxlength=100 class="form-control form-control-sm"}}
                </div>
                <div class="wap-so-access">
                  <span class="wap-so-sm-label">Arrival Date</span>
                  {{mdy-format row.access_date full=true}}
                </div>
              </div>
            {{/each}}
          </div>

          <button type="button" class="btn btn-primary btn-lg" {{action saveSONamesAction}}>Save Names</button>
          {{#if isSOListDirty}}
            <b class="text-danger">Changes will not be saved until you click on 'Save Names'</b>
          {{else if isSaved}}
            <span class="text-success ml-2">{{fa-icon "check" size="2x"}}</span>
          {{/if}}

          <p class="mt-4">
            If you need more than {{pluralize ticketingInfo.wap_so_max "pass"}} passes or
            need the Significant Others to arrive before {{mdy-format defaultDate full=true}},
            email {{mail-to ticketingInfo.ranger_ticketing_email}}
            and plead your case.
          </p>
        {{/if}}

        <div class="float-right">
          <button type="button" class="btn btn-success btn-lg mb-4" {{action nextSection}}>Next {{fa-icon "arrow-right"}}</button>
        </div>
      </div>
    {{/animated-if}}
  </AnimatedContainer>
</div>
