<div class="card card-ticket" id="ticket-delivery">
  <div class="card-header p-0">
    <button class="btn btn-link m-0" type="button" {{action toggleCard "delivery"}}>
      {{fa-icon (if showing.delivery "caret-down" "caret-right")}} Ticket Delivery
      {{#if (eq ticketingInfo.delivery_status "none")}}
        <span class="text-black-50">- To Be Announced</span>
      {{else}}
        {{#if usingStaffCredential}}
          <span class="text-success">- Pick up at Will Call</span>
        {{else if mailables}}
          {{#if (eq deliveryMethod "mail")}}
            <span class="text-success">- Sent By Mail</span>
          {{else if (eq deliveryMethod "will_call")}}
            <span class="text-success">- Pickup at Will Call</span>
          {{else}}
            <span class="text-danger">- Need Answer</span>
          {{/if}}
        {{else if (eq ticketingInfo.wap_status "frozen")}}
          <span class="text-danger">- Frozen</span>
        {{/if}}
      {{/if}}
    </button>
  </div>
  <div class="card-body collapse {{if showing.delivery "show"}}">

    {{#if (eq ticketingInfo.delivery_status "none")}}
      Information about ticket delivery is not yet available in the Clubhouse, please check back soon.
    {{else if usingStaffCredential}}
      <p class="font-weight-bold">
        Your Staff Credential {{if (eq vehiclePass.status "claimed") "and Vehicle Pass"}} will be held at Will Call under your name "{{person.first_name}} {{person.last_name}}".
      </p>
      <p>
        Sorry, Staff Credentials cannot be mailed due to Burning Man organization policies.
      </p>
    {{else if (eq ticketingInfo.delivery_status "frozen")}}
      <p class="text-danger">The deadline has passed for being able to change your delivery option.</p>
      {{#if mailables}}
        You have the following {{pluralize mailables.length "item"}}:
        <ul>
          {{#each mailables as |item|}}
            <li>A {{ticket-type-human item.type}}</li>
          {{/each}}
        </ul>
        {{#if (eq deliveryMethod "mail")}}
          <p>The item(s) will be mail to you at:</p>
          {{delivery.street}}<br>
          {{delivery.city}} {{delivery.state}} {{delivery.postal_code}} {{delivery.country}}<br>
        {{else}}
          <p>You will pick the items up at Will Call.</p>
        {{/if}}
      {{else}}
        Huh, it doesn't appear you have any items needing to be mailed or picked up.
      {{/if}}
    {{else if mailables}}
      The following {{pluralize mailables.length "item"}}
      {{#if (eq deliveryMethod "none")}}
        can be mailed to you or held at Will Call for you to pick up:
      {{else if (eq deliveryMethod "mail")}}
        <span class="text-success">will be mailed to you</span>:
      {{else}}
        <span class="text-success">will be at Will Call for you to pickup</span>:
      {{/if}}

      <ul>
        {{#each mailables as |item|}}
          <li>A {{ticket-type-human item.type}}</li>
        {{/each}}
      </ul>

      {{#if (eq ticketingInfo.delivery_status "accept")}}
        {{#if (eq deliveryMethod "none")}}
          <div class="font-weight-bold">How do you want your {{pluralize mailables.length "item"}} delivered?</div>
          <button type="button" class="btn btn-primary" {{action setDeliveryMethod "mail"}}>Deliver By Mail</button>
          <span class="ml-3 mr-3">OR</span>
          <button type="button" class="btn btn-primary" {{action setDeliveryMethod "will_call"}}>Pickup At Will Call</button>
        {{else if (eq deliveryMethod "mail")}}
          <div class="font-weight-bold">Would you rather use Will Call?</div>
          <button type="button" class="btn btn-primary" {{action setDeliveryMethod "will_call"}}>Pickup at Will Call</button>
        {{else if (eq deliveryMethod "will_call")}}
          <div class="font-weight-bold">Do you want delivery by mail instead?</div>
          <button type="button" class="btn btn-primary" {{action setDeliveryMethod "mail"}}>Deliver By Mail</button>
        {{else}}
          Uh oh, I don't understand what the method [{{deliveryMethod}}] is. This is a bug!
        {{/if}}

        {{#if (eq deliveryMethod "mail")}}
          <div class="font-weight-bold mt-4">Please note:</div>
          <ul>
            <li><span class="text-danger">We can only mail to destinations in the United States and Canada.</span></li>
            <li>Mailing is via the United States Postal Service in the U.S. and via UPS in Canada.</li>
            <li><span class="text-danger">We cannot guarantee delivery times of mailed items.</span>
              So if you are planning to leave home for
              a three-week road trip on August 2 and then show up at Burning Man, it is
              probably best to have your items held for you at Will-Call.</li>
            <li>
              <span class="text-danger">Mailed items cannot be tracked.</span> If you are worried that your
              items might get lost or stolen in the mail, it is safest to have
              them held at Will-Call.
            </li>
          </ul>
          <strong></strong>
          {{#ch-form "delivery" delivery validator=ticketDeliveryValidations onSubmit=(action saveDelivery) as |f|}}
            <legend>
              Enter your mailing address:
            </legend>
            <p class="text-danger mt-2 mb-2 ml-2">Your delivery choice will not be saved until you click on 'Save Address'.</p>
            <div class="form-row">
              {{f.input "street" label="Street" grid="col-md-8 col-sm-6"}}
            </div>
            <div class="form-row">
              {{f.input "city" label="City" grid="col-sm-5 col-md-4"}}
              {{f.input "state" label="State / Province"  maxlength=2 size=2 grid="col-sm-5 col-md-4"}}
              {{f.input "postal_code" label="Zip / Postal Code" grid="col-sm-5 col-md-4"}}
            </div>
            <div class="form-row">
              {{f.input "country" type="select" options=countryOptions label="Country" grid="col-sm-5 col-md-4"}}
            </div>
            {{f.submit label="Save Address"}}
          {{/ch-form}}
        {{/if}}
      {{/if}}
    {{else}}
      {{#if (or (eq ticket.status "qualified") (eq vehiclePass.status "qualified"))}}
        Once you've claimed a ticket or Vehicle Pass we can talk about how we might be able to get it to you.
      {{else}}
        You have no items which can be mailed or held at Will Call.
      {{/if}}
    {{/if}}
  </div>
</div>
