{{#if (eq ticketingInfo.period "announce")}}
  {{ticketing-announce ticketingInfo=ticketingInfo ticketPackage=ticketPackage person=person}}
{{else if (eq ticketingInfo.period "open")}}
  {{ticketing-open ticketingInfo=ticketingInfo ticketPackage=ticketPackage person=person}}
{{else if (eq ticketingInfo.period "closed")}}
  {{ticketing-closed ticketingInfo=ticketingInfo ticketPackage=ticketPackage person=person}}
{{else if (eq ticketingInfo.period "offseason")}}
  {{ticketing-offseason ticketingInfo=ticketingInfo ticketPackage=ticketPackage person=person}}
{{else}}
  Uh oh, I do not understand the ticketing period status [{{ticketingInfo.period}}]
{{/if}}

<hr>

<p class="h3">Have a ticketing question? Is something not right?</p>
The ticketing FAQ can answer most of your questions. Click one of the following topics to open the FAQ in a new window:
<ul>
  {{#unless (or person.isAlpha person.isProspective)}}
    <li>{{ticket-faq topic="ticketing" ticketingInfo=ticketingInfo}}</li>
    <li>{{ticket-faq topic="vp" ticketingInfo=ticketingInfo}}</li>
  {{/unless}}
  <li>{{ticket-faq topic=(if (or person.isAlpha person.isProspective) "alpha" "wap") ticketingInfo=ticketingInfo}}</li>
</ul>
