<div class="card card-ticket" id="ticket-wapso">
  <div class="card-header p-0">
    <button class="btn btn-link m-0" type="button" {{action toggleCard "wapso"}}>
      {{fa-icon (if showing.wapso "caret-down" "caret-right")}}
      Work Access Passes For SOs
      {{#if (or (eq ticketingInfo.wap_so_status "none") (eq ticketingInfo.wap_so_status "view"))}}
        <span class="text-black-50">- To Be Announced</span>
      {{else if (eq ticketingInfo.wap_so_status "frozen")}}
        <span class="text-danger">- Frozen</span>
      {{else if wapSOCount}}
        <span class="text-success">- {{pluralize wapSOCount "person"}}</span>
      {{else}}
        <span class="text-black">- Available</span>
      {{/if}}
    </button>
  </div>
  <div class="card-body collapse {{if showing.wapso "show"}}">
    {{#if (eq ticketingInfo.wap_so_status "frozen")}}
      {{#if wapSOCount}}
        You have requested Significant Other Passes for the following:
        <ul>
          {{#each wapSOList as |row|}}
            {{#if row.name}}
              <li>{{row.name}} can enter on or after {{mdy-format row.access_date}} @ 0001.</li>
            {{/if}}
          {{/each}}
        </ul>
      {{/if}}
      {{ticket-frozen item="Work Access Passes For Significant Others" ticketingInfo=ticketingInfo}}
    {{else if (or (eq ticketingInfo.wap_so_status "none") (eq ticketingInfo.wap_so_status "view"))}}
      <p>
        Information about Significant Other Work Access Passes is not yet
        available in the Clubhouse, please check back soon.
      </p>
    {{else if (eq ticketingInfo.wap_so_status "accept")}}
      <p>
        You may request up to {{pluralize ticketingInfo.wap_so_max "Significant Other Work Access Passs"}} below.
        You may add, remove, or change names until the ticketing deadline. All Work Access passes
        are sent by email.
      </p>
      <p class="text-danger">
        Changes will not be saved until you click on 'Save Names'
      </p>

      {{#if wapSOCount}}
        <p class="text-success font-weight-bold">You are requesting {{pluralize wapSOCount "pass"}}.</p>
      {{else}}
        <p class="font-weight-bold">You have not requested any Work Access Passes for Significant Others.</p>
      {{/if}}

      <div class="wap-so-table">
        <div class="wap-so-header wap-so-row d-sm-none d-md-block">
          <div class="wap-so-name">Significant Other Legal Name</div>
          <div class="wap-so-access">Arrival Date</div>
        </div>
        {{#each wapSOList as |row|}}
          <div class="wap-so-row">
            <div class="wap-so-name">
              <span class="wap-so-sm-label">SO Legal Name</span>
              {{input type="text" value=row.name size=30 maxlength=100}}
            </div>
            <div class="wap-so-access">
              <span class="wap-so-sm-label">Arrival Date</span>
              {{mdy-format row.access_date}}
            </div>
          </div>
        {{/each}}
      </div>

      <button type="button" class="btn btn-primary" {{action saveSONamesAction}}>Save Names</button>
      <p class="mt-4">
        If you need more than {{pluralize ticketingInfo.wap_so_max "pass"}} passes or
        need the Significant Others to arrive before {{mdy-format defaultDate}},
        email {{mail-to ticketingInfo.ranger_ticketing_email}}
        and plead your case.
      </p>
    {{/if}}

    <div class="float-right">
      <button type="button" class="btn btn-success" {{action nextSection}}>Next {{fa-icon "arrow-right"}}</button>
    </div>
    {{ticket-faq topic=(if (or person.isAlpha person.isProspective) "alpha" "wap") ticketingInfo=ticketingInfo}}
  </div>
</div>
