<div class="col-sm-6 col-md-4 col-xl-3 mb-2">
  <div class="card {{if (or (eq ticket.status "submitted") (eq ticket.status "claimed")) "card-success" }}">
    <div class="card-body">
      <h5 class="card-title d-flex h-100">
        <div class="align-self-md-center">
          {{ticket-type-human ticket.type}}
        </div>
        <div class="align-self-md-center ml-auto">
          {{#if (eq ticket.type "staff_credential")}}
            {{fa-icon "id-badge" type="far" color="success"  size="2x"}}
          {{else if (eq ticket.type "reduced_price_ticket")}}
            {{fa-icon "ticket-alt" type="fas" color="success" size="2x"}}
          {{else if (eq ticket.type "gift_ticket")}}
            {{fa-icon "gift"  color="success" type="2x"}}
          {{else}}
            &nbsp;
          {{/if}}
        </div>
      </h5>
      <p class="card-text">
        Earned in {{ticket.source_year}}<br>
        Expires {{mdy-format ticket.expiry_date}}<br>
        Status {{ticket.status}}
      </p>
    </div>
  </div>
</div>
