<div class="card" id="ticket-wap">
  <div class="card-header p-0">
    <button class="btn btn-link m-0" type="button" {{action toggleCard "wap"}}>
      {{fa-icon (if showing.wap "caret-down" "caret-right")}} Work Access Pass For Myself
      {{#if (eq ticketingInfo.wap_status "none")}}
        - To Be Announced
      {{else if (and (eq ticketingInfo.wap_status "frozen") (not-eq wap.status "submitted"))}}
        - Frozen
      {{else if usingStaffCredential}}
          - Part of Staff Credential
      {{else if wap}}
        - {{ticket-status wap.status}}
      {{else if isStaffCredentialBanked}}
        - None (Staff Credential Banked)
      {{/if}}
    </button>
  </div>
  <div class="card-body collapse {{if showing.wap "show"}}">
    {{#if (eq ticketingInfo.wap_status "none")}}
      Information about Work Access Passes is not yet available in the Clubhouse, please check back soon.
    {{else if (and (eq ticket.type "staff_credential") (eq ticket.status "banked") (not wap))}}
      <strong class="text-danger">You do not have a Work Access Pass because you have banked your Staff Credential.</strong>
      If you need a separate Work Access Pass, please contact {{mail-to ticketingInfo.ranger_ticketing_email}}
    {{else if (eq ticket.type "staff_credential")}}
        <strong class="text-success">Your Staff Credential acts as your Work Access Pass.</strong>
        No separate pass is needed.
        {{#if ticket.access_any_time}}
          <strong>You may enter the event at any time!</strong>
        {{else}}
          <strong>You may enter the event on or after {{mdy-format ticket.access_date}} 00:01.</strong>
          If you have an operational need to be on playa earlier than this date,
          please contact your Cadre or Manager.
        {{/if}}
    {{else if wap}}
      <p>
        {{#if (and (eq ticketingInfo.wap_status "frozen") (eq wap.status "qualified"))}}
          You did qualify for a Work Access Pass however it was not claimed.
        {{else}}
          <strong>You qualify for a Work Access Pass which allows you to enter the event
          {{#if wap.access_any_time}}
            at any time!
          {{else}}
            on or after {{mdy-format wap.access_date}} 00:01.
          {{/if}}
        </strong>
        {{/if}}
      </p>

      {{#if (eq wap.status "submitted")}}
          <p>The Work Access Pass has been submitted to the Burning Man Ticket Request System.</p>
      {{else if (eq ticketingInfo.wap_status "view")}}
        Information about how to claim your Work Access Pass will be available in June or early July.
      {{else if (eq ticketingInfo.wap_status "accept")}}
        {{#if (eq wap.status "qualified")}}
          <div>
            Do you wish to use your Work Access Pass?
          </div>
          <button type="button" class="btn btn-primary" {{action setTicketStatus wap "claimed"}}>Claim Work Access Pass</button>
        {{else if (eq wap.status "claimed")}}
          <div>Do you no longer need the Work Access Pass?</div>
          <button type="button" class="btn btn-primary" {{action setTicketStatus wap "qualified"}}>Release Work Access Pass</button>
        {{/if}}
      {{/if}}
      {{! End of if wap }}
    {{else}}
      {{! No WAP or Staff Credential}}
      <strong class="text-danger">Uh oh, you do not have a Work Access Pass. This is probably a mistake.</strong>
      {{#if (or person.isAlpha person.isProspective)}}
        All Alphas qualify for a Work Access Pass for arrival on Friday at 0001.
      {{else}}
        All returning Rangers qualify for a Work Access Pass for arrival on Thursday at 0001
      {{/if}}
      Contact {{mail-to ticketingInfo.ranger_ticketing_email}} and let us know something is wrong.
    {{/if}}

    {{#if (eq ticketingInfo.wap_status "frozen")}}
      {{ticket-frozen item="Work Accesss Pass" ticketingInfo=ticketingInfo}}
    {{/if}}
    {{#if nextSection}}
      <div class="float-right">
        <button type="button" class="btn btn-success" {{action nextSection}}>Next {{fa-icon "arrow-right"}}</button>
      </div>
    {{/if}}
  </div>
</div>
