<div class="card card-ticket" id="ticket-delivery">
  <div class="card-header p-0">
    <button class="btn btn-link m-0" type="button" {{action toggleCard "delivery"}}>
      {{fa-icon (if showing.delivery "caret-down" "caret-right")}} Ticket Delivery
      {{#if (eq ticketingInfo.delivery_status "none")}}
        <span class="text-black-50">- To Be Announced</span>
      {{else if (not-eq ticket.status "qualified")}}
        {{#if itemsToMail}}
          {{#if (eq deliveryMethod "mail")}}
            {{#if (or (not itemsNeedAddress) haveAddress)}}
              <span class="text-success">- US Mail {{fa-icon "check"}}</span>
            {{else}}
              <span class="text-danger">- US Mail: Need Address {{fa-icon "exclamation-circle"}}</span>
            {{/if}}
          {{else if (eq deliveryMethod "will_call")}}
            <span class="text-success">- Pickup at Will Call {{fa-icon "check"}}</span>
          {{else}}
            <span class="text-danger">- Need Answer {{fa-icon "exclamation-circle"}}</span>
          {{/if}}
        {{else if (eq ticketingInfo.wap_status "frozen")}}
          <span class="text-danger">- Frozen</span>
        {{/if}}

        {{#if (and usingStaffCredential (not needAnswer))}}
          <span class="text-success">- Staff Credential: Pick up at Will Call {{fa-icon "check"}}</span>
        {{/if}}
      {{/if}}
    </button>
  </div>
  <div class="card-body collapse {{if showing.delivery "show"}}">
    {{#if (eq ticketingInfo.delivery_status "none")}}
      Information about ticket delivery is not yet available in the Clubhouse, please check back soon.
    {{else if (eq ticketingInfo.delivery_status "frozen")}}
      <p class="text-danger">The deadline has passed for being able to change your delivery option.</p>
      {{#if itemsToMail}}
        You have the following {{pluralize itemsToMail.length "item"}}:
        <ul>
          {{#each itemsToMail as |item|}}
            <li>A {{ticket-type-human item.type}}</li>
          {{/each}}
        </ul>
        {{#if (eq deliveryMethod "mail")}}
          <p>The item(s) will be mail to you at:</p>
          {{delivery.street}}<br>
          {{delivery.city}} {{delivery.state}} {{delivery.postal_code}} {{delivery.country}}<br>
        {{else}}
          <p>You will pick the items up at Will Call.</p>
        {{/if}}
      {{else}}
        Huh, it doesn't appear you have any items needing to be mailed or picked up.
      {{/if}}
    {{else if usingStaffCredential}}
      <p>
        <b>Your Staff Credential {{if (eq vehiclePass.status "claimed") "and Vehicle Pass"}} will be held at Will Call under your name "{{person.first_name}} {{person.last_name}}".</b>
      </p>
      <p>
        Sorry, Staff Credentials cannot be mailed due to Burning Man organization policies.
      </p>
      {{#unless ticket.access_any_time}}
        <p class="text-danger">
          You may pick your Staff Credential early, however you may only enter the event on {{mdy-format ticket.access_date full=true}} @ 00:001.
        </p>
      {{/unless}}
      <p>
        Your Staff Credential will be available for pick up at the following locations on the given dates:
      </p>
      <p>
        {{#if ticketingInfo.pickup_locations}}
          {{nl2br ticketingInfo.pickup_locations}}
        {{else}}
          <b class="text-danger">Oops! We haven't set the pickup locations yet! Email the ticketing team and let us know about this problem - {{mail-to ticketingInfo.ranger_ticketing_email}}</b>
        {{/if}}
      </p>

    {{else if (eq ticket.status "qualified")}}
      <b>You will need to claim or bank your event ticket first.</b>
    {{else if (or (eq ticket.status "claimed") (eq vehiclePass.status "claimed"))}}
      <p>
        <b>
          The following {{if (eq itemsToMail.length 1) "item" (pluralize itemsToMail.length "item")}}
          {{#if (eq deliveryMethod "none")}}
            can be mailed to you or held at Will Call for you to pick up:
          {{else if (eq deliveryMethod "mail")}}
            will be mailed to you:
          {{else}}
            will be at Will Call for you to pickup:
          {{/if}}
        </b>
        <ul>
          {{#each itemsToMail as |item|}}
            <li>A {{ticket-type-human item.type}}</li>
          {{/each}}
        </ul>
      </p>

      {{#if (and  (eq deliveryMethod "mail") (eq ticket.type "reduced_price_ticket"))}}
        <p class="mt-2">
          <b>Note about your Reduce Price Ticket:</b>
          When your ticket is uploaded the Burning Man Ticketing website, you will need to enter in your credit card and mailing address there.
          {{#if (eq vehiclePass.status "claimed")}}
            <b>You will need to enter your mailing address TWICE. Enter your address below for your Vehicle Pass, and then again for the ticket on the Burning Man Ticketing website.</b>
          {{/if}}
        </p>
      {{/if}}

      {{#if (eq deliveryMethod "none")}}
        <div class="font-weight-bold">How do you want your {{pluralize itemsToMail.length "item"}} delivered?</div>
        <button type="button" class="btn btn-primary btn-lg" {{action setDeliveryMethod "mail"}}>Deliver By US Mail</button>
        <span class="ml-3 mr-3">OR</span>
        <button type="button" class="btn btn-primary btn-lg" {{action setDeliveryMethod "will_call"}}>Pickup At Will Call</button>
      {{else if (eq deliveryMethod "mail")}}
        <div class="font-weight-bold">Would you rather use Will Call?</div>
        <button type="button" class="btn btn-primary btn-lg" {{action setDeliveryMethod "will_call"}}>Pickup at Will Call</button>
      {{else if (eq deliveryMethod "will_call")}}
        <div class="font-weight-bold">Do you want delivery by mail instead?</div>
        <button type="button" class="btn btn-primary btn-lg" {{action setDeliveryMethod "mail"}}>Deliver By US Mail</button>
      {{else}}
        Uh oh, I don't understand what the method [{{deliveryMethod}}] is. This is a bug!
      {{/if}}

      {{#if (eq deliveryMethod "mail")}}
        {{#if itemsNeedAddress}}
          <div class="mt-4">Please note:</div>
          <ul>
            <li><b class="text-danger">ITEMS MAY ONLY BE MAILED TO AN UNITED STATES ADDRESS VIA USPS.</b> Sorry, Canada, Australia, and the rest of the world - you will have to use Will Call instead.</li>
            <li><b class="text-danger">We cannot guarantee delivery times of mailed items NOR provide tracking information.</b>
              If you are worried that your items might get lost in the mail or not be delivered in time, it is safest to have
              them held at Will Call.
            </li>
            {{#if (eq ticket.type "reduced_price_ticket")}}
              <li>
                <b class="text-danger">The address entered below will NOT be used for your event ticket.</b>
                The Burning Man Ticketing website will ask again for the address which will be used
                for the event ticket. We apologize for the inconvenience.
              </li>
            {{/if}}
          </ul>
          {{#ch-form "delivery" delivery validator=ticketDeliveryValidations onSubmit=(action saveDelivery) as |f|}}
            <legend>
              Enter your mailing address:
            </legend>
            <div class="form-row">
              {{f.input "street" label="Street" grid="col-md-8 col-sm-6"}}
            </div>
            <div class="form-row">
              {{f.input "city" label="City" grid="col-sm-5 col-md-4"}}
              {{f.input "state" label="State"  maxlength=2 size=2 grid="col-sm-5 col-md-4"}}
              {{f.input "postal_code" label="Zip Code" grid="col-sm-5 col-md-4"}}
            </div>
            {{f.submit label="Save Address" submitClass="btn-lg"}}
            {{#if f.model.isDirty}}
              <strong class="text-danger">Don't forget to click 'Save Address'</strong>
            {{else if isSaved}}
              <strong class="text-success">{{fa-icon "check" size="2x"}}</strong>
            {{/if}}
          {{/ch-form}}
        {{/if}}
      {{/if}}
    {{else if (eq ticket.status "banked")}}
      <b>You have chosen to bank your event ticket{{if (eq vehiclePass.status "qualified") " and not claimed your vehicle pass"}}. No action is need.</b>
    {{else}}
      <b>You have no items which can be mailed or held at Will Call.</b>
    {{/if}}
  </div>
</div>
