{{#if (or person.isAlpha person.isProspective)}}
  The Work Access Passes page is currently disabled. Please check back later.
{{else}}
  <h2>
    Hold up! The event is over, and we're in the offseason. Ticket announcements will be available in January.
  </h2>
  {{#if bankedTickets}}
    You have {{pluralize bankedTickets.length "ticket"}} banked:
    <ul>
      {{#each bankedTickets as |ticket|}}
        <li>A {{ticket-type-human ticket.type}} earned in {{ticket.source_year}} and will expire after {{mdy-format ticket.expiry_date full=true}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>
      <b>
        You have no banked tickets on file.
      </b>
    </p>
  {{/if}}
{{/if}}
