<h2 class="text-danger">
  Ticketing has closed. You may not request changes through the Clubhouse at this time.
</h2>

{{#if hasFullPackage}}
Below is a summary of the tickets and/or items you have claimed, banked, and/or submitted for this year's event:
{{else}}
A summary of your Work Access Pass is below:
{{/if}}
<ul>
  {{#if hasFullPackage}}
    <li>
      {{#if ticket}}
        A {{ticket-type-human ticket.type}}
        {{#if (eq ticket.status "banked")}}
          has been banked for this year. It will expire on {{mdy-format ticket.expiry_date}}.
        {{else if (or (eq ticket.type "staff_credential") (eq ticketPackage.delivery.method "will_call"))}}
          picked up at Will Call.
        {{else}}
          will be mailed to:
          <p class="mt-2 ml-3">
            {{person.first_name}} {{person.last_name}}<br>
            {{delivery.street}}<br>
            {{delivery.city}} {{delivery.state}} {{delivery.postal_code}} {{delivery.country}}
          </p>
        {{/if}}
      {{else}}
        No qualifying, submitted, or banked tickets for this year were found.
      {{/if}}
    </li>

    <li>
      {{#if usingStaffCredential}}
        {{#if usingVehiclePass}}
          A Vehicle Pass will be held at Will Call for you.
        {{/if}}
      {{else if usingVehiclePass}}
        {{#if usingMail}}
          A Vehicle Pass will be mailed to you.
        {{else if usingWillCall}}
          will be picked up at Will Call.
        {{else}}
          Uh oh, this may be a bug. You have a claimed Vehicle Pass yet I can't figure out the delivery method.
          Please contact {{vc-email}} for help.
        {{/if}}
      {{else}}
        The vehicle pass was not used.
      {{/if}}
    </li>
  {{/if}}

  <li>
    {{#if usingWAP}}
      A Work Access Pass will be emailed to you. You may enter the event
      {{#if wap.access_any_time}}
        at any time!
      {{else}}
        on or after {{mdy-format wap.access_date}} @ 0001.
      {{/if}}
    {{else}}
      No Work Access Pass was claimed.
    {{/if}}
  </li>

  {{#if hasFullPackage}}
    <li>
      {{#if wapSOList}}
        {{pluralize wapSOList.length "pass"}} for your Significant Other{{if (gt wapSOList.length 1) "s"}} will be emailed to you:
        <ul>
          {{#each wapSOList as |so|}}
            <li>{{so.name}} may enter the event on or after {{mdy-format so.access_date}} @ 0001.</li>
          {{/each}}
        </ul>
      {{else}}
        No Work Access Passes for Significant Others were requested.
      {{/if}}
    </li>
  {{/if}}
</ul>
