<div class="card" id="ticket-ticket">
  <div class="card-header p-0">
    <button class="btn btn-link m-0" type="button" {{action toggleCard "ticket"}}>
      {{fa-icon (if showing.ticket "caret-down" "caret-right")}}
      {{#if ticket}}
        {{ticketTypeHuman}}
      {{else}}
        Event Ticket
      {{/if}}
      {{#if ticket}}
        - {{ticket-status ticket.status}}
      {{/if}}
    </button>
  </div>
  <div class="card-body collapse {{if showing.ticket "show"}}">
    {{#if ticket}}
      {{#if (gt ticketPackage.tickets.length 1)}}
        <p>
          You're a rare one: you have more than one ticket available.
          We've automatically chosen the oldest of these for you to use below.
          If you want to use one of your other banked tickets,
          please email {{mail-to ticketingInfo.ranger_ticketing_email}}
          and let us know and we can make that happen!
        </p>
        <p>
          For reference the following tickets are on file:
          <ul>
            {{#each ticketPackage.tickets as |onfile|}}
              <li>
                A {{ticket-type-human onfile.type}} qualified in {{onfile.source_year}} and will expire on {{mdy-format onfile.expiry_date}}
                {{#if onfile.selected}}
                  <span class="text-danger">(SELECTED)</span>
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </p>
      {{/if}}

      {{#if (eq ticket.status "submitted")}}
        Your {{ticketTypeHuman}} has been submitted to the Burning Man Ticket Request System.
        You should have received an email from {{ticketingInfo.ticket_vendor_name}} informing you about it.
        You cannot request changes to it via the Secret Clubhouse at this time.
        If you urgently need to make a change, please email {{mail-to ticketingInfo.ranger_ticketing_email}}
        and they may be able to help.
      {{else if (eq ticketingInfo.ticket_status "accept")}}
        {{#if (eq ticket.status "claimed")}}
          <p>
            <span class="text-success">You will be using the {{ticketTypeHuman}} for this year's event.</span> If your plans have changed,
            you may bank the ticket. Note, the ticket will expire on {{mdy-format ticket.expiry_date}}.
          </p>
          <button type="button" class="btn btn-primary" {{action setTicketStatus ticket "banked"}}>Bank Ticket</button>
        {{else if (eq ticket.status "banked")}}
          <p>
            <strong>You will not be using the {{ticketTypeHuman}} this year.</strong>
            If your plans have changed, and wish to use the ticket, go ahead claim it.
            Note: the ticket will expire on {{mdy-format ticket.expiry_date}}.
          </p>
          <button type="button" class="btn btn-primary" {{action setTicketStatus ticket "claimed"}}>Claim Ticket</button>
        {{else if (eq ticket.status "qualified")}}
          <p class="font-weight-bold">
            You qualified for a {{ticketTypeHuman}}!
          </p>
          <p>
            Choose "Claim Ticket" to use the ticket for this year's event,
            or to bank the ticket, use "Bank Ticket". Note: the ticket will expire on {{mdy-format ticket.expiry_date}}.
          </p>
          <div class="mt-2 mb-2">What do you want to do with your {{ticketTypeHuman}}?</div>
          <button type="button" class="btn btn-primary" {{action setTicketStatus ticket "claimed"}}>Claim Ticket</button>
          <span class="ml-4 mr-4">OR</span>
          <button type="button" class="btn btn-primary" {{action setTicketStatus ticket "banked"}}>Bank Ticket</button>
        {{/if}}
      {{else if (eq ticketingInfo.ticket_status "frozen")}}
        {{#if (eq ticket.status "qualified")}}
          <strong>You did not claim nor bank your {{ticketTypeHuman}}. The item will be automatically banked and will expire on {{mdy-format ticket.expiry_date}}.</strong>
        {{else if (eq ticket.status "banked")}}
          <strong>Your {{ticketTypeHuman}} has been banked, and will expire on {{mdy-format ticket.expiry_date}}.</strong>
        {{else if (Eq ticket.status "claimed")}}
          <strong>Your {{ticketTypeHuman}} will be used for the event.</strong>
        {{/if}}
        {{ticket-frozen item="ticket" ticketingInfo=ticketingInfo}}
      {{else}}
        You qualified for a {{ticketTypeHuman}}! Ticketing is not yet open. Please check back later.
      {{/if}}
    {{else}}
      <strong>Sorry, it doesn't look like you qualified for a Reduced-Price Ticket or Staff Credential.</strong>
      <p>
        You earned {{credits-format ticketPackage.credits_earned}} last event. The minimum credits needed to earn
        a Reduced-Price Ticket was {{credits-format ticketingInfo.rpt_credits}}, and a Staff Credential was
        {{credits-format ticketingInfo.sc_credits}}.
      </p>
    {{/if}}
    <div class="float-right">
      <button type="button" class="btn btn-success" {{action nextSection}}>Next {{fa-icon "arrow-right"}}</button>
    </div>
  </div>
</div>
