<div class="row my-1">
  <div class="col-auto">
    {{#if summary.event_start}}
      <b>Event Week:</b> {{shift-format summary.event_start}} to {{shift-format summary.event_end}}
    {{else}}
      <strong class="text-danger">Event dates have not been entered for the year. Hour &amp; credit breakdowns will not be accurate.</strong>
    {{/if}}
  </div>
</div>

<div class="row my-1">
  <div class="col-auto"><strong>Total Time:</strong> {{hour-minute-format summary.total_duration}}</div>
  <div class="col-auto"><strong>Time Counted Towards Appreciations:</strong> {{hour-minute-format summary.counted_duration}}</div>
  <div class="col-auto"><strong>Total Credits:</strong> {{credits-format summary.total_credits}}</div>
</div>

<div class="row my-1">
  <div class="col-auto">
    <span class="d-inline-block"><b>Credits Breakdown (Pre-Event / Event / Post-Event):</b></span>
    {{credits-format summary.pre_event_credits}} / {{credits-format summary.event_credits}} / {{credits-format summary.post_event_credits}}
  </div>
</div>

<div class="row my-1">
  <div class="col-auto">
    <span class="d-inline-block"><b>Hours Breakdown (Pre-Event / Event / Post-Event / Other):</b></span>
    {{hour-minute-format summary.pre_event_duration}} / {{hour-minute-format summary.event_duration}} / {{hour-minute-format summary.post_event_duration}} / {{hour-minute-format summary.other_duration}}
  </div>
</div>
