<div class="table-responsive mt-2">
  <table class="table table-sm table-width-auto">
    <thead>
      <tr>
        <th>Position</th>
        <th>Pass</th>
        <th>Date</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {{#each trainings as |training|}}
        <tr>
          <td>{{training.position_title}}</td>
          <td>
            {{#if (eq training.status "pass")}}
              <span class="text-success">YES</span>
            {{else if (eq training.status "pending")}}
              Pending
            {{else if (eq training.status "no-shift")}}
              <span class="text-danger">No training sign up found</span>
            {{else if (eq training.status "no-show")}}
              <span class="text-danger">No show</span>
            {{else}}
              <span class="text-danger">NO</span>
            {{/if}}
            {{#if training.is_trainer}}
              (as trainer)
            {{/if}}
          </td>
          <td>
            {{#if training.date}}
              {{mdy-format training.date}}
            {{else}}
              -
            {{/if}}
          </td>
          <td>{{present-or-not training.location "-"}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
