<YearSelect @title="Survey Administration" @year={{this.year}} @onChange={{action (mut this.year)}} />
<p>
  <button type="button" class="btn btn-primary" {{on "click" this.newSurveyAction}}>New Survey</button>
</p>
<p>
  Showing {{pluralize this.surveys.length "survey"}}
</p>
<table class="table table-width-auto table-striped table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Position</th>
    <th>Title</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.surveys as |survey|}}
    <tr>
      <td>{{survey.id}}</td>
      <td>{{survey.type}}</td>
      <td>
        {{#if survey.position_id}}
          {{present-or-not (get this.positionsById survey.position_id) (concat "Unknown #" survey.position_id)}}
        {{else}}
          -
        {{/if}}
      </td>
      <td>
        {{survey.title}}
      </td>
      <td>
        <LinkTo @route="admin.survey.manage" @model={{survey.id}} class="btn btn-primary btn-sm">Manage</LinkTo>
        <button type="button" class="btn btn-secondary btn-sm" {{on "click" (fn this.duplicateSurveyAction survey)}}>Duplicate</button>
        <button type="button" class="btn btn-danger btn-sm" {{on "click" (fn this.deleteSurveyAction survey)}}>{{fa-icon "trash"}} Delete</button>
       </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="3" class="text-danger">No surveys found for {{this.year}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{#if this.surveyEntry}}
  <SurveyForm @survey={{this.surveyEntry}} @positions={{this.positions}} @onCancel={{this.cancelSurveyAction}} @onSave={{this.saveSurveyAction}} />
{{/if}}

{{#if this.isDuplicating}}
  <ModalDialog as |Modal|>
    <Modal.body>
      Duplicating Survey <LoadingIndicator />
    </Modal.body>
  </ModalDialog>
{{/if}}
