<YearSelect @title="Survey Administration"
            @year={{this.year}}
            @minYear={{2012}}
            @skipPandemic={{true}}
            @onChange={{action (mut this.year)}} />
<p>
  <UiButton @onClick={{this.newSurveyAction}}>New Survey</UiButton>
</p>
Showing {{pluralize this.surveys.length "survey"}}
<UiTable>
  <thead>
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Position</th>
    <th>Title</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.surveys as |survey|}}
    <tr>
      <td>{{survey.id}}</td>
      <td>{{survey.type}}</td>
      <td>
        {{#if survey.position_id}}
          <PresentOrNot @value={{get this.positionsById survey.position_id}} @empty="Unknown #{{survey.position_id}}"/>
        {{else}}
          -
        {{/if}}
      </td>
      <td>
        {{survey.title}}
      </td>
      <td>
        <LinkTo @route="admin.survey.manage" @model={{survey.id}} class="btn btn-primary btn-sm">Manage</LinkTo>
        <UiButton @type="secondary" @size="sm" @onClick={{fn this.duplicateSurveyAction survey}}>
          Duplicate
        </UiButton>
        <UiButton @type="danger" @size="sm" @onClick={{fn this.deleteSurveyAction survey}}>
          {{fa-icon "trash"}} Delete
        </UiButton>
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="5" class="text-danger">No surveys found for {{this.year}}</td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>

{{#if this.surveyEntry}}
  <SurveyForm @survey={{this.surveyEntry}}
              @positions={{this.positions}}
              @onCancel={{this.cancelSurveyAction}}
              @onSave={{this.saveSurveyAction}} />
{{/if}}

{{#if this.isDuplicating}}
  <LoadingDialog>
    Duplicating Survey
  </LoadingDialog>
{{/if}}
