<h1>ID #{{this.survey.id}}: {{this.survey.title}}</h1>
<p>
  <LinkTo @route="admin.survey" @query={{hash year=this.survey.year}}>
    Back to {{this.survey.year}} Survey Administration
  </LinkTo>
</p>
<dl>
  <dt>Prologue:</dt>
  <dd>
    <ReadMore @text={{this.survey.prologue}} />
  </dd>
  <dt>Epilogue:</dt>
  <dd>
    <ReadMore @text={{this.survey.epilogue}} />
  </dd>
</dl>
<p>
  <UiButton @onClick={{this.newGroupAction}}>{{fa-icon "plus"}} Add Group</UiButton>
  <UiButton @type="secondary" @onClick={{this.editSurveyAction}}>
    {{fa-icon "edit"}} Edit Survey
  </UiButton>
</p>

{{#each this.orderedGroups as |group idx|}}
  <table class="table table-sm table-striped table-hover">
    <caption>
      <div class="d-inline-block">
        ID #{{group.id}} {{group.title}}
        {{#if (eq group.type "trainer")}}
          <br><i>(Is trainer group)</i>
        {{else if group.report_title}}
          <br>(In separate report as: "{{group.report_title}}")
        {{/if}}
      </div>
      <span class="ms-2">
          <UiButton @size="sm" @onClick={{fn this.newQuestionAction group}} @disabled={{group.isSaving}}>
            {{fa-icon "plus"}} Add Question
          </UiButton>
          <UiButton @type="secondary"
                    @size="sm"
                    @onClick={{fn this.editGroupAction group}}
                    @disabled={{group.isSaving}}>
            {{fa-icon "edit"}} Edit Group
          </UiButton>
        </span>
      <span class="ms-4">
          {{#if (not-eq idx 0)}}
            <UiButton @type="secondary"
                      @size="sm"
                      @onClick={{fn this.moveGroupAction group -1}}
                      @disabled={{group.isSaving}}>
              {{fa-icon "arrow-up"}} Move Group Up
            </UiButton>
          {{/if}}
        {{#if (not-eq group this.orderedGroups.lastObject)}}
          <UiButton @type="secondary"
                    @size="sm"
                    @onClick={{fn this.moveGroupAction group 1}}
                    @disabled={{group.isSaving}}>
              {{fa-icon "arrow-down"}} Move Group Down
            </UiButton>
        {{/if}}

        </span>
    </caption>
    <thead>
    <tr>
      <th class="w-5">ID</th>
      <th class="w-55">Description</th>
      <th class="w-5">Type</th>
      <th class="w-5 text-center">Req?</th>
      <th class="w-10">Action</th>
      <th class="w-25 text-end">Move Position</th>
    </tr>
    </thead>
    <tbody>
    {{#each group.surveyQuestions as |question idx|}}
      <tr>
        <td class="w-5">{{question.id}}</td>
        <td class="w-55">{{question.description}}</td>
        <td class="w-5">{{question.type}}</td>
        <td class="w-5 text-center">{{yesno question.is_required}}</td>
        <td class="w-10">
          <UiButton @type="secondary" @size="sm" @onClick={{fn this.editQuestionAction question}}>
            {{fa-icon "edit"}} Edit
          </UiButton>
        </td>
        <td class="w-25 text-end">
          {{#if (not-eq idx 0)}}
            <UiButton @type="secondary" @size="sm" @onClick={{fn this.moveQuestionAction group question -1}}
                      @disabled={{question.isSaving}}>
              {{fa-icon "arrow-up"}} Move Up
            </UiButton>
          {{/if}}
          {{#if (not-eq question group.surveyQuestions.lastObject)}}
            <UiButton @type="secondary" @size="sm" @onClick={{fn this.moveQuestionAction group question 1}}
                      @disabled={{question.isSaving}}>
              {{fa-icon "arrow-down"}} Move Down
            </UiButton>
          {{/if}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="5"><b class="text-danger">No questions found for this group</b></td>
      </tr>
    {{/each}}

    </tbody>
  </table>
{{else}}
  <p>
    <b class="text-danger">No groups were found for this survey. Try adding some.</b>
  </p>
{{/each}}

{{#if this.groupEntry}}
  <ModalDialog @title={{if this.groupEntry.isNew "Create New Group" (concat "Edit Group ID #" this.groupEntry.id)}}
               @onEscape={{this.cancelGroupAction}} as |Modal|>
    <ChForm @formId="survey-group" @formFor={{this.groupEntry}} @onSubmit={{this.saveGroupAction}} as |f|>
      <Modal.body>
        <FormRow>
          <f.radioGroup @name="type"
                        @label="What group type is this?"
                        @options={{this.groupTypeOptions}}
          />
        </FormRow>
        <FormRow>
          <f.text @name="report_title"
                  @label="Report Title (used for separate reporting)"
                  @size={{40}}
                  @disabled={{and (not-eq f.model.type "separate-slot") (not-eq f.model.type "separate-summary")}}
          />
        </FormRow>
        <FormRow>
          <f.text @name="title"
                  @label="Group Title (shown to user)"
                  @size={{80}}
                  @maxlength={{170}}/>
        </FormRow>
        <FormRow>
          <f.textarea @name="description"
                      @label="Group Description (shown to user)"
                      @rows={{4}}
                      @cols={{80}}/>
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label={{if this.groupEntry.isNew "Create" "Save"}} @disabled={{this.groupEntry.isSaving}} />
        <UiCancelButton @onClick={{this.cancelGroupAction}} />
        {{#if this.groupEntry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
        <div class="ms-auto">
          <UiButton @type="light-red" @onClick={{this.deleteGroupAction}} @disabled={{this.groupEntry.isDeleting}}>
            {{fa-icon "trash"}} Delete Group
          </UiButton>
        </div>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.questionEntry}}
  <ModalDialog @title={{if this.questionEntry.isNew "Add Question" (concat "Edit Question ID #" this.questionEntry.id)}}
               @onEscape={{this.cancelQuestionAction}} as |Modal|>
    <ChForm @formId="survey-group" @formFor={{this.questionEntry}} @onSubmit={{this.saveQuestionAction}} as |f|>
      <Modal.body>
        <FormRow>
          <f.select @name="type"
                    @label="Question Type"
                    @options={{this.typeOptions}}/>
        </FormRow>
        {{#if (eq f.model.type "rating")}}
          <FormRow>
            <div class="col-auto">
              <f.checkbox @name="summarize_rating"
                          @label="Summarize this rating as a table with each row as a training session"/>
            </div>
          </FormRow>
        {{/if}}
        <FormRow>
          <f.textarea @name="description"
                      @label="Question"
                      @rows={{4}}
                      @cols={{80}}/>
        </FormRow>
        <FormRow>
          <div class="col-auto">
            <f.checkbox @name="is_required"
                        @label="Question requires an answer"/>
          </div>
        </FormRow>
        <FormRow>
          <f.textarea @name="options"
                      @label="Options (one per line)"
                      @rows={{4}}
                      @cols={{80}}
                      @disabled={{not-eq f.model.type "options"}} />
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label={{if this.questionEntry.isNew "Create" "Save"}} @disabled={{this.questionEntry.isSaving}} />
        <UiCancelButton @onClick={{this.cancelQuestionAction}} @disabled={{this.questionEntry.isSaving}} />
        {{#if this.questionEntry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
        <div class="ms-auto">
          <UiButton @type="light-red" @class="ml-auto" @onClick={{this.deleteQuestionAction}}>
            {{fa-icon "trash"}} Delete
          </UiButton>
        </div>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.surveyEdit}}
  <SurveyForm @survey={{this.surveyEdit}}
              @positions={{this.positions}}
              @onCancel={{this.cancelSurveyAction}}
              @onSave={{this.saveSurveyAction}} />
{{/if}}
