<YearSelect @title="Prospective Applications"
            @year={{this.year}}
            @onChange={{set-value this 'year'}}
            @skipPandemic={{true}}
            @minYear={{2015}}
/>
<p>
  For application emails, your assignment id is {{this.session.userId}} with the first letter of your callsign "{{this.callsignLetter}}".
</p>
{{#if this.notCurrentYear}}
  <UiAlert @type="warning">
    {{fa-icon "exclamation" right=1}} Warning: you are viewing a prior year.
  </UiAlert>
{{/if}}

{{#if this.applications}}
  {{! Status Dashboard }}
  <div class="vc-app-dashboard d-print-none">
    {{#each this.statusGroups as |group|}}
      <div class="vc-app-dashboard-card {{if (eq this.statusFilter group.filterValue) 'active'}}"
           role="button"
           {{on "click" (fn this.applyDashboardFilter group.filterValue)}}>
        <div class="vc-app-dashboard-count {{group.colorClass}}">{{group.count}}</div>
        <div class="small">{{fa-icon group.icon}} {{group.label}}</div>
      </div>
    {{/each}}
  </div>

  {{! Workflow Presets }}
  <div class="vc-app-presets d-print-none">
    <button type="button"
            class="btn btn-sm {{if (eq this.activePreset 'my-queue') 'btn-primary' 'btn-outline-secondary'}}"
            {{on "click" (fn this.applyPreset "my-queue")}}>
      {{fa-icon "user" right=1}} My Queue
    </button>
    <button type="button"
            class="btn btn-sm {{if (eq this.activePreset 'needs-triage') 'btn-primary' 'btn-outline-secondary'}}"
            {{on "click" (fn this.applyPreset "needs-triage")}}>
      {{fa-icon "inbox" right=1}} Needs Triage
    </button>
    <button type="button"
            class="btn btn-sm {{if (eq this.activePreset 'awaiting-response') 'btn-primary' 'btn-outline-secondary'}}"
            {{on "click" (fn this.applyPreset "awaiting-response")}}>
      {{fa-icon "hourglass-half" right=1}} Awaiting Response
    </button>
    <button type="button"
            class="btn btn-sm {{if (eq this.activePreset 'ready-for-callsign') 'btn-primary' 'btn-outline-secondary'}}"
            {{on "click" (fn this.applyPreset "ready-for-callsign")}}>
      {{fa-icon "id-badge" right=1}} Ready for Callsign
    </button>
  </div>

  {{! Filter Bar }}
  <FormRow class="mb-3 small">
    <FormLabel @auto={{true}}>Status</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="statusFilter"
                      @value={{this.statusFilter}}
                      @options={{this.statusFilterOptions}}
                      @onChange={{fn this.setFilter 'statusFilter'}}
                      @fieldSize="sm"
      />
    </div>

    <FormLabel @auto={{true}}>Assigned To</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="assignedTo"
                      @value={{this.assignedToFilter}}
                      @options={{this.assignedOptions}}
                      @onChange={{fn this.setFilter 'assignedToFilter'}}
                      @fieldSize="sm"

      />
    </div>
    <FormLabel @auto={{true}}>Last Name</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="nameFilter"
                      @value={{this.nameFilter}}
                      @options={{this.nameFilterList}}
                      @onChange={{fn this.setFilter 'nameFilter'}}
                      @fieldSize="sm"
      />
    </div>
    <FormLabel @auto={{true}}>BRC Exp.</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="experienceFilter"
                      @value={{this.experienceFilter}}
                      @options={{this.experienceFilterOptions}}
                      @onChange={{fn this.setFilter 'experienceFilter'}}
                      @fieldSize="sm"
      />
    </div>
    <FormLabel @auto={{true}}>Age</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="ageFilter"
                      @value={{this.ageFilter}}
                      @options={{this.ageFilterOptions}}
                      @onChange={{fn this.setFilter 'ageFilter'}}
                      @fieldSize="sm"
      />
    </div>
  </FormRow>
  <div class="mb-1">
    <UiButton @type="secondary" @onClick={{this.resetFilters}}>
      Reset Filters
    </UiButton>
  </div>


  <ProspectiveApplicationTable @applications={{this.filteredApps}} >
    {{this.filterInfo}}
  </ProspectiveApplicationTable>
{{else}}
  <div class="my-3">
    <b class="text-danger">No applications have been imported for {{this.year}}</b>
  </div>
{{/if}}
