<YearSelect @title="Prospective Applications"
            @year={{this.year}}
            @onChange={{set-value this 'year'}}
            @skipPandemic={{true}}
            @minYear={{2015}}
/>

{{#if this.notCurrentYear}}
  <UiAlert @type="warning">
    {{fa-icon "exclamation" right=1}} Warning: you are viewing a prior year.
  </UiAlert>
{{/if}}

{{#if this.applications}}
  <FormRow class="mb-3 small">
    <FormLabel @auto={{true}}>Status</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="statusFilter"
                      @value={{this.statusFilter}}
                      @options={{this.statusFilterOptions}}
                      @onChange={{set-value this 'statusFilter'}}
                      @fieldSize="sm"
      />
    </div>

    <FormLabel @auto={{true}}>Assigned To</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="assignedTo"
                      @value={{this.assignedToFilter}}
                      @options={{this.assignedOptions}}
                      @onChange={{set-value this 'assignedToFilter'}}
                      @fieldSize="sm"

      />
    </div>
    <FormLabel @auto={{true}}>Last Name</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="nameFilter"
                      @value={{this.nameFilter}}
                      @options={{this.nameFilterList}}
                      @onChange={{set-value this 'nameFilter'}}
                      @fieldSize="sm"
      />
    </div>
    <FormLabel @auto={{true}}>BRC Exp.</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="experienceFilter"
                      @value={{this.experienceFilter}}
                      @options={{this.experienceFilterOptions}}
                      @onChange={{set-value this 'experienceFilter'}}
                      @fieldSize="sm"
      />
    </div>
    <FormLabel @auto={{true}}>Age</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="ageFilter"
                      @value={{this.ageFilter}}
                      @options={{this.ageFilterOptions}}
                      @onChange={{set-value this 'ageFilter'}}
                      @fieldSize="sm"
      />
    </div>
  </FormRow>
  <div class="mb-1">
    <UiButton @type="secondary" @onClick={{this.resetFilters}}>
      Reset Filters
    </UiButton>
  </div>


  <ProspectiveApplicationTable @applications={{this.filteredApps}} >
    {{this.filterInfo}}
  </ProspectiveApplicationTable>
{{else}}
  <div class="my-3">
    <b class="text-danger">No applications have been imported for {{this.year}}</b>
  </div>
{{/if}}
