<div class="my-3">
  <LinkTo @route="vc.applications.index" @query={{hash year=this.application.year}}>
    Back to {{this.application.year}} Prospective Applications Listing
  </LinkTo>
</div>


{{#if this.application.isBonked}}
  <UiAlert @type="danger" class="mb-2">
    {{fa-icon "ban" right=1}} Application has been bonked. Take no further action. Do not contact the individual unless
    instructed to do so by the V.C. Cadre or the Personnel Managers.
  </UiAlert>
{{/if}}

{{#if this.application.isStatusDuplicate}}
  <UiAlert @type="danger">
    {{fa-icon "hand" type="r" right=1}} Application marked as a duplicate. No further action should take place.
  </UiAlert>
{{else if this.haveDuplicateApplications}}
  <UiAlert @type="warning" class="mb-3">
    {{fa-icon "exclamation" right=1}} Multiple active applications found for this year. See the Related Applications
    section below to determine which one to proceed with.
  </UiAlert>
{{/if}}

{{#if this.application.existingAccount}}
  {{#if this.application.isStatusCreated}}
    <UiAlert @type="success" @icon="check">
      Application was approved, and an account created.
      <PersonLink @person={{this.application.person}} @showStatus={{true}} />
    </UiAlert>
  {{else if this.application.isReturningApplicant}}
    <UiAlert @type="info" @icon="hand-point-right">
      Application belongs to a returning Past Prospective.
      <PersonLink @person={{this.application.existingAccount}} @showStatus={{true}} />
    </UiAlert>
  {{else if this.application.wasUberbonkedPreviously}}
    <UiAlert @type="danger" @icon="ban">
      Applicant was Uberbonked in a prior year. Double-check the application, and Clubhouse
      account.
      <PersonLink @person={{this.application.existingAccount}} @showStatus={{true}} />
    </UiAlert>
  {{else if this.application.isReturningRanger}}
    <UiAlert @type="danger" @icon="hand-point-right">
      Application may to belong to a returning Ranger. Verify this is not a mistake.
      <PersonLink @person={{this.application.existingAccount}} @showStatus={{true}} />
    </UiAlert>
  {{else}}
    <UiAlert @type="warning" @icon="hand-point-right">
      Application may be associated with an existing Clubhouse account.
      <PersonLink @person={{this.application.existingAccount}} @showStatus={{true}} />
    </UiAlert>
  {{/if}}
{{/if}}

<div class="sticky-top bg-light-gray fs-5 align-middle border border-dark-gray border-opacity-50 mb-2">
  {{#if this.notCurrentYear}}
    <div class="text-bg-warning p-2">
      {{fa-icon "exclamation" right=1}} You are viewing an application from a prior year.
    </div>
  {{/if}}
  <div class="d-flex justify-content-between p-2">
    <div>
      A-{{this.application.id}} Year {{this.application.year}}
      <span class="ms-4 border p-1 rounded {{this.statusColor this.application.status}}">
        {{this.application.statusLabel}}
      </span>
      <span class="ms-4">{{this.application.first_name}} {{this.application.last_name}}</span>
      <span class="ms-4"><MailTo @to={{this.application.email}} /></span>
    </div>
    <div>
        <UiButton @onClick={{this.openSendEmailDialog}} @type="secondary" @size="sm">
        Send Email
      </UiButton>
    </div>
  </div>
  <div class="d-flex justify-content-between p-2 small">
    <div>
      {{#if this.isAssignedToMe}}
        {{fa-icon "thumbs-up" right=1}} You are assigned to this application.
      {{else if this.assignedToOther}}
        <b class="text-danger">
          {{fa-icon "hand" right=1}}
          Assigned to {{this.application.assigned_person.callsign}}.
        </b>
      {{else if (not this.application.assigned_person_id)}}
        Application is unassigned
      {{/if}}
      {{#unless this.isAssignedToMe}}
        <a href class="mx-3" {{on-click this.assignToSelf}}>Assign To Self</a>
      {{/unless}}
      <a href class="mx-3" {{on-click this.openAssignDialog}}>Assign To VC</a>
      {{#if this.application.assigned_person_id}}
        <a href {{on-click this.unassignApplication}} class="ms-3">Clear Assignment</a>
      {{/if}}
    </div>
    <div>
      {{#if this.application.updated_by_person}}
        Updated at {{shift-format this.application.updated_by_person_at}}
        by {{this.application.updated_by_person.callsign}}
      {{else}}
        <i>Application has not been updated yet.</i>
      {{/if}}
    </div>
    <div>
      Salesforce ID
      <ExtLink @href="https://burningman.my.salesforce.com/{{this.application.salesforce_id}}">
        {{this.application.salesforce_name}}
      </ExtLink>
    </div>
  </div>
</div>

<Vc::ApplicationDetails @application={{this.application}}
                        @previewEmail={{this.previewEmail}}
/>
<Vc::ApplicationHandles @application={{this.application}}
                        @previewEmail={{this.previewEmail}}
/>
<Vc::ApplicationPersonalInfo @application={{this.application}}
                             @onSubmit={{this.save}}

/>
<Vc::ApplicationRelated @relatedApplications={{this.relatedApplications}} />
<UiSection>
  <:title>Mail Log</:title>
  <:body>
    <MailLogTable @logs={{this.application.mail_logs}} />
  </:body>
</UiSection>
<Vc::ApplicationAuditLog @application={{this.application}} />
<UiSection>
  <:title>Misc.</:title>
  <:body>
    <UiGridTable as |t|>
      <t.label>BPGUID</t.label>
      <t.column>{{this.application.bpguid}}</t.column>
      <t.label>SFUID</t.label>
      <t.column>{{this.application.sfuid}}</t.column>
      <t.label>Actions</t.label>
      <t.column>
        <UiButton @size="sm" @type="secondary" @onClick={{this.openStatusDialog}} class="me-2">
          Adjust Status
        </UiButton>
        <UiButton @onClick={{this.deleteApplication}} @type="secondary" @size="sm" class="me-2">
          Delete Application
        </UiButton>
      </t.column>
    </UiGridTable>
  </:body>
</UiSection>
<div class="mt-3">
  <LinkTo @route="vc.applications.index" @query={{hash year=this.application.year}}>
    Back to {{this.application.year}} Prospective Applications Listing
  </LinkTo>
</div>

{{#if this.showSendEmailDialog}}
  <ModalDialog @onEscape={{this.cancelSendEmailDialog}} as |Modal|>
    <ChForm @formId="email"
            @formFor={{this.emailForm}}
            @validator={{this.emailValidation}}
            @onSubmit={{this.sendEmail}} as |f|>
      <Modal.title>Send Email To {{this.application.first_name}} {{this.application.last_name}}</Modal.title>
      <Modal.body>
        <p>
          The email message will be sent as
          <VcEmail/>
          .
        </p>
        <FormRow>
          <f.text @name="subject" @label="Subject:" @size={{80}} />
        </FormRow>
        <FormRow>
          <f.textarea @name="message"
                      @label="Your message:"
                      @rows={{10}}
                      @cols={{80}}
                      @autofocus={{true}}
          />
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <UiButtonRow>
          <f.submit @label="Send Email"/>
          <UiButton @onClick={{fn this.previewRawEmail f.model}} @type="secondary">
            Preview Email
          </UiButton>
          <UiCancelButton @onClick={{this.cancelSendEmailDialog}} />
        </UiButtonRow>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.showAssignDialog}}
  <ModalDialog @onEscape={{this.cancelAssignDialog}} as |Modal|>
    <ChForm @formId="assign" @formFor={{this.assignmentForm}} @onSubmit={{this.submitAssignment}} as |f|>
      <Modal.title>Update Application Assignment</Modal.title>
      <Modal.body>
        <FormRow>
          <f.select @name="assigned_person_id"
                    @label="Volunteer Coordinator to assign to:"
                    @options={{this.VCOptions}}
          />
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label="Update"/>
        <UiCancelButton @onClick={{this.cancelAssignDialog}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.showStatusDialog}}
  <ModalDialog @onEscape={{this.cancelStatusDialog}} as |Modal|>
    <ChForm @formId="assign" @formFor={{this.application}} @onSubmit={{this.submitStatus}} as |f|>
      <Modal.title>Adjust Application Status</Modal.title>
      <Modal.body>
        <UiAlert @type="danger" @icon="hand">
          This is considered an emergency fix feature. Please note:
          <ul>
            <li>No emails wil be sent when updating the status through this dialog.</li>
            <li>Confirm with your fellow V.C.s that this action is appropriate.</li>
          </ul>
        </UiAlert>
        <p>
          <b class="text-danger">No emails will be sent when updating the status through this dialog.</b>
        </p>
        <FormRow>
          <f.select @name="status"
                    @label="Update status to:"
                    @options={{this.statusOptions}}
          />
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label="Update"/>
        <UiCancelButton @onClick={{this.cancelStatusDialog}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.emailToPreview}}
  <ModalDialog @title="Preview Email " @onEscape={{this.closePreviewEmailDialog}} as |modal|>
    <modal.body>
      <div class="border">
        <iframe {{on-insert this.insertPreviewEmail}}
          id="mail-preview-iframe"
          class="mail-preview-iframe"
          title="preview email">
        </iframe>
      </div>
    </modal.body>
    <modal.footer>
      <UiCloseButton @onClick={{this.closePreviewEmailDialog}} />
    </modal.footer>
  </ModalDialog>
{{/if}}


{{#if this.isSubmitting}}
  <LoadingDialog>
    Submitting your request
  </LoadingDialog>
{{/if}}