{{#if @results.provisions}}
  <p>
    {{pluralize @results.provisions.length "provision"}}
    {{if (eq @results.provisions.length 1) "was" "were"}}
    {{if (eq @taskAction "bank-provisions") "banked." "marked as expired or used."}}
  </p>

  <UiTable>
    <thead>
    <tr>
      <th>RP</th>
      <th>Type</th>
      <th>Status</th>
      <th>Person</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {{#each @results.provisions as |p|}}
      <tr>
        <td>
          <PersonLink @personId={{p.person.id}} @page="tickets-provisions" @callsign="RP-{{p.id}}"/>
        </td>
        <td>{{this.typeLabel p.type}}</td>
        <td>{{p.status}}</td>
        <td>
          <PersonLink @person={{p.person}} />
        </td>
        <td>{{p.person.status}}</td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
{{else}}
  <p class="text-danger">
    <b>No provisions were found that need to be
      {{if (eq @taskAction "bank-provisions") "banked." "marked as expired or used."}}
    </b>
  </p>
{{/if}}
