{{#if @results.access_documents}}
  <p>
    {{pluralize @results.access_documents.length "access document"}}
    {{if (eq @results.access_documents.length 1) "was" "were"}}
    {{if (eq @taskAction "bank-access-documents") "banked." "marked as expired or used."}}
  </p>

  <UiTable>
    <thead>
    <tr>
      <th>RAD</th>
      <th>Type</th>
      <th>Status</th>
      <th>Person</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {{#each @results.access_documents as |ad|}}
      <tr>
        <td>
          <PersonLink @personId={{ad.person.id}} @page="tickets-provisions" @callsign={{concat "RAD-" ad.id}} />
        </td>
        <td>{{this.typeLabel ad.type}}</td>
        <td>{{ad.status}}</td>
        <td>
          <PersonLink @person={{ad.person}} />
        </td>
        <td>{{ad.person.status}}</td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
{{else}}
  <p class="text-danger">
    <b>No provisions were found that need to be
      {{if (eq @taskAction "bank-access-documents") "banked." "marked as expired or used."}}
    </b>
  </p>
{{/if}}
