{{#if @results.access_documents}}
  <p>
    {{pluralize @results.access_documents.length "access document"}}
    {{if (eq @results.access_documents.length 1) "was" "were"}} expired.
  </p>

  <UiTable>
    <thead>
    <tr>
      <th>RAD</th>
      <th>Type</th>
      <th>Source Year</th>
      <th>Status</th>
      <th>Person</th>
      <th>Status</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {{#each @results.access_documents as |ad|}}
      <tr>
        <td>
          <PersonLink @personId={{ad.person.id}} @page="tickets-provisions" @callsign={{concat "RAD-" ad.id}} />
        </td>
        <td>{{this.typeLabel ad.type}}</td>
        <td>{{ad.source_year}}</td>
        <td>{{ad.status}}</td>
        <td>
          <PersonLink @person={{ad.person}} />
        </td>
        <td>{{ad.person.status}}</td>
        <td>{{#if ad.person.email}}
          <MailTo @to={{ad.person.email}} />{{else}}<i>no email</i>{{/if}}</td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
{{else}}
  <p class="text-danger">
    <b>No expired access documents were found.</b>
  </p>
{{/if}}
