{{#if @results.provisions}}
  <p>
    {{pluralize @results.provisions.length "provision"}}
    {{if (eq @results.provisions.length 1) "was" "were"}} expired.
  </p>

  <UiTable>
    <thead>
    <tr>
      <th>RAD</th>
      <th>Type</th>
      <th>Source Year</th>
      <th>Status</th>
      <th>Person</th>
      <th>Status</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {{#each @results.provisions as |prov|}}
      <tr>
        <td>
          <PersonLink @personId={{prov.person.id}} @page="tickets-provisions" @callsign="RP-{{prov.id}}"/>
        </td>
        <td>{{this.typeLabel prov.type}}</td>
        <td>{{prov.source_year}}</td>
        <td>{{prov.status}}</td>
        <td>
          <PersonLink @person={{prov.person}} />
        </td>
        <td>{{prov.person.status}}</td>
        <td>{{#if prov.person.email}}
          <MailTo @to={{prov.person.email}} />{{else}}<i>no email</i>{{/if}}</td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
{{else}}
  <p class="text-danger">
    <b>No expired provisions were found.</b>
  </p>
{{/if}}
