{{#if @results.people}}
  <p>
    {{pluralize @results.people.length "person"}} {{if (eq @results.people.length 1) "has" "have"}} been
    granted SAPs
  </p>
  <UiTable>
    <thead>
    <tr>
      <th>Person</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {{#each @results.people as |person|}}
      <tr>
        <td>
          <PersonLink @person={{person}} />
        </td>
        <td>{{person.status}}</td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
{{else}}
  <p class="text-danger">
    No qualifying {{if (eq @taskAction "grant-alpha-waps") "Alphas" "active/inactive Rangers"}} were found
      to grant SAPs to.
  </p>
{{/if}}
