{{#if @results.people}}
  <b>{{pluralize @results.people.length  "Past Prospective"}} with approved callsign(s) were reset</b>
  <UiTable>
    <thead>
    <tr>
      <th>Old Callsign</th>
      <th>New Callsign</th>
    </tr>
    </thead>
    <tbody>
    {{#each @results.people as |person|}}
      <tr>
        <td>
          <PersonLink @person={{person}} />
        </td>
        <td>{{person.callsign_reset}}</td>
      </tr>
      {{#if person.error}}
        <tr>
          <td colspan="2" class="text-danger">Error: {{person.error}}</td>
        </tr>
      {{/if}}
    {{else}}
      <tr>
        <td colspan="2">No Past Prospectives with approved callsigns were found.</td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
{{else}}
  <p class="text-danger"><b>No Past Prospectives with approved callsigns were found.</b></p>
{{/if}}
