{{#if @results.bmids}}
  <p>
    Note: only titles that were set will be shown. A title set prior to this will not appear below.
  </p>
  {{pluralize @results.bmids.length "BMID"}} were set.
  <UiTable>
    <thead>
    <tr>
      <th>Callsign</th>
      <th>Status</th>
      <th>Title 1</th>
      <th>Title 2</th>
      <th>Title 3</th>
    </tr>
    </thead>
    <tbody>
    {{#each @results.bmids as |bmid|}}
      <tr>
        <td>
          <PersonLink @person={{bmid}} @page="bmid"/>
        </td>
        <td>{{bmid.status}}</td>
        <td>{{#if bmid.title1}}{{bmid.title1}}{{else}}-{{/if}}</td>
        <td>{{#if bmid.title2}}{{bmid.title2}}{{else}}-{{/if}}</td>
        <td>{{#if bmid.title3}}{{bmid.title3}}{{else}}-{{/if}}</td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
{{else}}
  <p class="text-danger">
    <b>It appears all qualifying BMIDs have the titles already set.</b>
  </p>
{{/if}}
