{{#if @results.access_documents}}
  <p>
    {{pluralize @results.access_documents.length "staff credential"}}
    {{if (eq @results.people.length 1) "has" "have"}} been set the access date of
    "{{@results.access_date}}".
  </p>
  <UiTable>
    <thead>
    <tr>
      <th>RAD</th>
      <th>Status</th>
      <th>Person</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {{#each @results.access_documents as |sc|}}
      <tr>
        <td>
          <PersonLink @personId={{sc.person.id}} @page="tickets-provisions" @callsign={{concat "RAD-" sc.id}} />
        </td>
        <td>{{sc.status}}</td>
        <td>
          <PersonLink @person={{sc.person}} />
        </td>
        <td>{{sc.person.status}}</td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
{{else}}
  <p class="text-danger"><b>No Staff Credentials with unspecified access dates were found.</b></p>
{{/if}}

