{{#if @vehicleInfo.org_vehicle_insurance}}
  <h6 class="text-success fw-bold">
    Your MVR request has been approved!
  </h6>
  You are authorized to operate trucks and SUVs on behalf of the Ranger department. However,
  the MVR is not transferable between events, so a new request must be submitted each year.
{{else if @vehicleInfo.mvr_past_deadline}}
  <UiAlert @type="danger" @icon="hand">
    The MVR submission deadline has past.
    <div class="mt-2">
      The deadline was {{full-datetime-format @vehicleInfo.mvr_deadline}} (Pacific). You are not
      allowed to drive the larger Ranger vehicles, such as trucks &amp; SUVs, nor your personal vehicle, on behalf
      of the Rangers.
    </div>
  </UiAlert>
{{else if @vehicleInfo.mvr_eligible}}
  <UiAlert @type="warning" @icon="hand-point-right">
    A Motor Vehicle Record authorization Request form (MVR Request) has not been submitted, or is awaiting approval.
  </UiAlert>

  <DocumentShow @tag={{@vehicleInfo.mvr_form_instructions_tag}} />

  <Me::VehicleStepMute @name="MVR Request"
                       @ignoring={{@vehicleInfo.ignore_mvr}}
                       @toggleMute={{@toggleMute}}
  />
{{else if @vehicleInfo.mvr_positions}}
  <Me::VehiclePositionSignups @name="MVR Request"
                              @fullName="Motor Vehicle Record authorization Request form"
                              @positions={{@vehicleInfo.mvr_positions}}
  />
  <Me::VehicleStepMute @name="MVR Request"
                       @ignoring={{@vehicleInfo.ignore_mvr}}
                       @toggleMute={{@toggleMute}}
  />
{{else}}
  <UiAlert @type="danger" @icon="hand">
    You are not eligible to submit a MVR Request at this time.
  </UiAlert>
  <p>
    Reach out to your manager if you believe you have an operational need to drive your personal vehicle while
    volunteering for the Rangers. All personal vehicles must be approved prior to arriving to the playa.
  </p>
{{/if}}
