<ModalDialog @title="{{if @entry.isNew "Submit" "Update"}} Vehicle Request"
             @onEscape={{@onFinish}} as |Modal|>
  <ChForm @formId="vehicle"
          @formFor={{@entry}}
          @validator={{this.vehicleValidations}}
          @onSubmit={{this.saveAction}}  as |f|>
    <Modal.body>
      <p>
        <b class="text-danger">All fields are required.</b>
      </p>
      <fieldset>
        <legend>Vehicle Description</legend>
        <FormRow>
          <f.select @name="vehicle_class"
                    @label="Vehicle Class"
                    @options={{this.vehicleClassOptions}}/>
        </FormRow>
        <FormRow>
          <f.text @name="vehicle_year"
                  @label="Vehicle Year"
                  @size={{4}}
                  @maxlength={{4}}
          />
          <f.text @name="vehicle_make"
                  @label="Make"
                  @size={{15}}
                  @hint="e.g., Ford, GMC, etc."/>
          <f.text @name="vehicle_model"
                  @label="Model"
                  @size={{15}}
                  @hint="e.g., F-350, Tacoma, etc."
          />
          <f.text @name="vehicle_color"
                  @label="Color"
                  @size={{15}}
          />
        </FormRow>
        <FormRow>
          <f.select @name="license_state"
                    @label="Vehicle License State or Province"
                    @options={{this.stateOptions}}
          />
          <f.text @name="license_number"
                  @label="Vehicle License Number"
                  @size={{10}}
          />
        </FormRow>
      </fieldset>
      <fieldset>
        <legend>Personal Vehicle Use Items (Stickers &amp; Other Items)</legend>
        <FormRow>
          <FormLabel>
            Request a Driving Sticker if needed to drive your personal vehicle for Ranger business
          </FormLabel>
          <div class="col-12">
            <f.radioGroup @name="driving_sticker"
                          @options={{this.drivingStickerOptions}}
                          @inline={{true}}
            />
          </div>
        </FormRow>
        <FormRow>
          <FormLabel>Ranger Logo Decal</FormLabel>
          <div class="col-12">
            <f.radioGroup @name="ranger_logo"
                          @options={{this.rangerLogoOptions}}
                          @inline={{true}}
            />
          </div>
        </FormRow>
        <FormRow>
          <FormLabel>Fuel Chit Requests</FormLabel>
          <div class="col-12">
            <f.radioGroup @name="fuel_chit"
                          @options={{this.fuelChitOptions}}
                          @inline={{true}}
            />
          </div>
        </FormRow>
        <FormRow>
          <FormLabel>Amber Light</FormLabel>
          <div class="col-12">
            <f.radioGroup @name="amber_light"
                          @options={{this.amberLightOptions}}
                          @inline={{true}}
            />
          </div>
        </FormRow>
        <FormRow>
          <f.textarea @name="request_comment"
                      @label="Comments for the Approver"
                      @rows={{2}}
                      @cols={{80}}/>
        </FormRow>
      </fieldset>
    </Modal.body>
    <Modal.footer @align="start">
      <f.submit @label="{{if @entry.isNew "Submit" "Update"}} Request"/>
      <UiCancelButton @onClick={{@onFinish}} />
    </Modal.footer>
  </ChForm>
</ModalDialog>

{{#if @entry.isSaving}}
  <LoadingDialog>
    Submitting request
  </LoadingDialog>
{{/if}}
