{{#if (and (not @vehicleInfo.pvr_eligble) (not @vehicleInfo.pvr_positions))}}
  <UiAlert @type="danger" @icon="hand">
    You are not permitted to use your personal vehicle for Ranger business currently.
  </UiAlert>
  <h6 class="fw-bold">Talk with your manager regarding eligibility</h6>
  <p>
    Reach out to your manager if you believe you have an operational need to drive your personal vehicle while
    volunteering for the Rangers.
  </p>
{{/if}}

<h6 class="fw-bold">Vehicle Requests Must Be Submitted Each &amp; Every Year</h6>
Please note the following regarding Personal Vehicle requests:
<ul class="mb-2">
  <li class="fw-bold text-danger">
    You must submit a vehicle request every year, even if your vehicle was previously approved.
  </li>
  <li class="fw-bold text-danger">
    Requests must be submitted PRIOR to arriving on playa.
  </li>
  <li>
    <b class="text-danger">Approvals do not carry over from year to year.</b>
    An approved request is only valid for the current event.
  </li>
</ul>
<p>
  More information is available in the
  <ExtLink @href={{@vehicleInfo.personal_vehicle_document_url}}>
    Ranger Personal Vehicle Use Procedures
  </ExtLink>
  document. (link opens in a new window)
</p>

{{#if @vehicleInfo.personal_vehicle_signed}}
  <Me::PersonalVehicleTable @vehicles={{@vehicles}}
                            @newAction={{this.newAction}}
                            @editAction={{this.editAction}}
                            @deleteAction={{this.deleteAction}}
  />
{{else if (or @vehicleInfo.pvr_eligible @vehicleInfo.pvr_positions)}}
  {{#unless @vehicleInfo.pvr_eligible}}
    <Me::VehiclePositionSignups @name="Personal Vehicle Request"
                                @positions={{@vehicleInfo.pvr_positions}} />
  {{/unless}}
  <h6 class="fw-bold">Personal Vehicle Agreement must be reviewed &amp; signed</h6>
  <p>
    The Personal Vehicle Agreement must be signed before you may submit a Personal Vehicle Request.
    {{#if @vehicleInfo.pvr_positions}}
      The agreement will become available after you have signed up for a qualifying shift.
    {{/if}}
  </p>
  {{#if @vehicleInfo.org_vehicle_insurance}}
    {{#if @vehicleInfo.pvr_eligible}}
      <UiAlert @type="danger" @icon="hand">
        You have not agreed to the Ranger Personal Vehicle Agreement yet.
      </UiAlert>
      <p>
        <UiButton @type="primary" @onClick={{@reviewAgreement}}>
          Review And Sign the Ranger Personal Vehicle Agreement
        </UiButton>
      </p>
    {{/if}}
  {{else}}
    <UiAlert @type="danger" @icon="hand">
      Your MVR request must be approved first before being allowed Personal Vehicle requests.
    </UiAlert>
  {{/if}}
  <Me::VehicleStepMute @ignoring={{@vehicleInfo.ignore_pvr}}
                       @toggleMute={{@toggleMute}}
                       @name="Personal Vehicle Request"
  />
{{/if}}

{{#if this.entry}}
  <Me::PersonalVehicleEdit @entry={{this.entry}}
                           @onFinish={{this.finishEdit}}
                           @vehicles={{@vehicles}} />
{{/if}}
