<EditableSection
  @formId="person"
  @sectionId="address"
  @formFor={{@person}}
  @validator={{@personInfoValidations}}
  @onSubmit={{@onSubmit}}>
  <:title>Home Address</:title>
  <:view>
    <p>
      Note, the Clubhouse and Burner Profile accounts are not synced. Updating your address in one account will not
      update it in the other. The address in your Burner Profile account—not your Clubhouse account—will be used to send
      the Burning Man organization's Thank You cards, which are mailed in late fall or early winter.
    </p>
    <p>
      The address below is used for Ranger related mailings.
    </p>
    {{@person.street1}} {{@person.apt}}<br>
    {{#if @person.street2}}
      {{@person.street2}}<br>
    {{/if}}
    {{@person.city}}, {{@person.state}} {{@person.zip}}
    <span class="ms-1">{{@person.country}}</span>
  </:view>
  <:edit as |f|>
    <PersonAddressEdit @f={{f}} />
  </:edit>
</EditableSection>
