{{#if @timesheetsMissing}}
  <NoAppreciateIcon/>
  = the shift hours do not count towards appreciations.
  <div class="timesheet-table">
    <div class="timesheet-row timesheet-header">
      <div class="timesheet-time">From</div>
      <div class="timesheet-time">To</div>
      <div class="timesheet-duration">Duration</div>
      <div class="timesheet-position">Position</div>
    </div>
    {{#each @timesheetsMissing as |tsm|}}
      <div class="timesheet-entry">
        <div class="timesheet-row">
          <div class="timesheet-time">{{shift-format tsm.on_duty}}</div>
          <div class="timesheet-time">{{shift-format tsm.off_duty}}</div>
          <div class="timesheet-duration">
            <span class="timesheet-sm-label">Time:</span>
            {{hour-minute-format tsm.duration}}
          </div>
          <div class="timesheet-position">{{tsm.position.title}}</div>
        </div>
        <div class="timesheet-row">
          <div>
            {{#if tsm.isPending}}
              <b class="text-info">The request is pending review.</b>
            {{else}}
              {{#if tsm.isApproved}}
                <span class="text-success">{{fa-icon "check"}} The request has been APPROVED. Your timesheet has been updated with the missing shift.</span>
              {{else}}
                The request has been rejected.
              {{/if}}
              {{#if tsm.reviewer_notes}}
                <div class="mt-2">
                  <strong>Response from the reviewer:</strong><br>
                  {{nl2br tsm.reviewer_notes}}
                </div>
              {{/if}}
            {{/if}}
          </div>
        </div>
        <div class="timesheet-row timesheet-actions">
          {{#if (or tsm.isPending tsm.isRejected)}}
            <UiButton @onClick={{fn this.editAction tsm}} @disabled={{or tsm.isReloading tsm.isSaving}}>
              {{#if tsm.isReloading}}
                <SpinIcon/>
              {{else if tsm.isRejected}}
                {{fa-icon "redo"}} Submit Appeal
              {{else}}
                {{fa-icon "edit"}} Edit
              {{/if}}
            </UiButton>
            {{#if tsm.isPending}}
              <UiButton @type="danger"
                        @onClick={{fn this.deleteAction tsm}}
                        @disabled={{or tsm.isReloading tsm.isSaving}}>
                {{#if tsm.isSaving}}
                  Deleting
                  <SpinIcon/>
                {{else}}
                  {{fa-icon "trash"}} Delete
                {{/if}}
              </UiButton>
            {{/if}}
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
  <hr>
{{else}}
  <p>
    No missing timesheet entry requests have been submitted yet.
  </p>
{{/if}}

<UiButton @onClick={{this.newRequestAction}}>
  New Missing Timesheet Request
</UiButton>

{{#if this.entry}}
  <ModalDialog @title="Missing Timesheet Request" @onEscape={{this.cancelAction}} as |Modal|>
    <ChForm @formId="tm"
            @formFor={{this.entry}}
            @validator={{this.timesheetValidations}}
            @onSubmit={{this.saveAction}} as |f|>
      <Modal.body>
        <p>
          Use this form for <b>MISSING TIMESHEET ENTRIES ONLY</b>. If you have
          an existing entry that needs correction, go back to the
          Timesheet Review page and submit a correction by clicking on 'Mark Entry Incorrect'.
        </p>
        <FormRow>
          <f.select @name="position_id"
                    @label="Which position was the shift for?"
                    @options={{this.positionOptions}} />
        </FormRow>
        <FormRow>
          <f.datetime @name="on_duty"
                      @label="What was the START date & time of the shift?"
                      @size={{15}}
                      @startDate={{this.startDateForEntry}}/>
          <f.datetime @name="off_duty"
                      @label="What was the END date & time of the shift?"
                      @size={{15}}
                      @startDate={{this.startDateForEntry}}/>
        </FormRow>
        <FormRow>
          <f.text @name="partner"
                  @label="Who was your partner (if any) for the shift?"
                  @size={{20}}/>
        </FormRow>
        <p>
          <b>Give as much supporting details on why a shift should be added to your timesheet.</b><br>
          <span class="text-danger">Your request may be denied if not enough supporting details are provided.</span>
        </p>
        <ul>
          <li>If you had no partner for the shift, is there anyone who can verify your hours?</li>
          <li>Was another person responsible for checking you in, and why did they fail to do that?</li>
          <li>If you called Ranger HQ on the radio to check you in for the shift, who was the Ranger on the other
            end?
          </li>
        </ul>
        {{#if this.entry.isRejected}}
          <b class="text-danger">Sorry, the correction request has been rejected.</b>
          <div class="card mb-4">
            <div class="card-header">The Timesheet Correction Team has left you a note:</div>
            <div class="card-body">
              {{this.entry.reviewer_notes}}
            </div>
          </div>
        {{/if}}
        <f.textarea @name="additional_notes"
                    @label={{if this.entry.isRejected "Supply additional information for an appeal:"
                                "Why is this new entry needed?"}}
                    @cols={{80}}
                    @rows={{4}} />
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label={{if f.model.isNew "Submit New Request" "Update Request"}} @disabled={{this.isSubmitting}} />
        <UiCancelButton @disabled={{this.isSubmitting}} @onClick={{this.cancelAction}} />
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
