<UiSection>
  <:title>
    {{@year}} Timesheet
    {{#if @isHQView}}
      for {{@person.callsign}}
      <HelpPopover @slug="hq-timesheet-entries"/>
    {{/if}}
  </:title>
  <:body>
    <NoAppreciateIcon/>
    = the shift hours do not count towards provisions and appreciations.
    <div class="timesheet-table">
      <div class="timesheet-row timesheet-header">
        <div class="timesheet-time">Time</div>
        <div class="timesheet-duration">Duration</div>
        <div class="timesheet-credits">Credits</div>
        <div class="timesheet-position">Position</div>
      </div>
      {{#each @timesheets key="id" as |ts|}}
        <div class="timesheet-entry">
          {{#if this.correctionsEnabled}}
            <div class="timesheet-row-header {{this.timesheetRowClass ts}}">
              {{#if ts.stillOnDuty}}
                {{fa-icon "ban"}} The entry cannot be verified or a correction submitted
                until after the shift has ended.
              {{else if ts.isVerified}}
                {{fa-icon "check"}} Entry was verified as correct on {{shift-format ts.verified_at}} (Pacific)
              {{else if ts.isUnverified}}
                {{fa-icon "arrow-right"}} The entry has not been verified as correct or a correction submitted.
              {{else if ts.isApproved}}
                {{fa-icon "arrow-right"}} The correction request has been approved. You will need verify the
                correction is accurate.
              {{else if ts.isRejected}}
                {{fa-icon "times"}} The correction request has been denied. An appeal may be submitted.
              {{else if ts.isPending}}
                {{fa-icon "hourglass-half"}} The correction request is pending review.
              {{else}}
                Unknown state? [{{ts.review_status}}]
              {{/if}}
            </div>
          {{/if}}
          {{#if (and (not ts.isVerified) ts.isTooShort)}}
            <div class="timesheet-row-header">
              {{fa-icon "hand-point-right"}} The entry is less than 15 minutes. Please verify this is not a mistake.
            </div>
          {{/if}}
          {{#if (and (not ts.isVerified) ts.isTooLong)}}
            <div class="timesheet-row-header">
              <p>
                {{fa-icon "hand-point-right"}} The entry exceeds the scheduled shift duration by 1.5 times. Please
                confirm this is not a mistake, or submit a correction.
              </p>
              The scheduled shift was {{hour-minute-words ts.slot.duration}} long.
            </div>
          {{/if}}
          <div class="timesheet-row">
            <div class="timesheet-time">
              {{#if ts.off_duty}}
                {{shift-format ts.on_duty ts.off_duty}}
              {{else}}
                {{shift-format ts.on_duty}} to <i>On Duty</i>
              {{/if}}<br>
              {{#unless ts.position.count_hours}}
                <NoAppreciateIcon/>
              {{/unless}}
            </div>
            <div class="timesheet-duration">
              {{hour-minute-words ts.duration}}
            </div>
            <div class="timesheet-credits">
              {{credits-format ts.credits}} credits
            </div>
            <div class="timesheet-position">{{ts.position.title}}</div>
          </div>
          {{#if this.correctionsEnabled}}
            <div class="timesheet-row timesheet-actions">
              {{#if ts.off_duty}}
                <UiButton @type="secondary" @onClick={{fn this.markIncorrectAction ts}}
                          @disabled={{ts.isLoading}}>
                  {{#if ts.isPending}}
                    Add More Info
                  {{else if ts.isRejected}}
                    Submit Correction Appeal
                  {{else}}
                    Request Correction
                  {{/if}}
                </UiButton>
                {{#unless ts.isVerified}}
                  <UiButton @type="success"
                            @onClick={{fn this.markCorrectAction ts}}
                            @disabled={{ts.isSaving}}>
                    Mark Entry As Correct
                  </UiButton>
                {{/unless}}
                {{#if (or ts.isReloading ts.iSaving)}}
                  <LoadingIndicator/>
                {{/if}}
              {{/if}}
            </div>
          {{/if}}
        </div>
      {{else}}
        <span class="text-danger">No entries were found for {{this.year}}</span>
      {{/each}}
    </div>
  </:body>
</UiSection>

{{#if this.entry}}
  <ModalDialog @title="Timesheet Correction" as |Modal|>
    <ChForm @formId="correction"
            @formFor={{this.entry}}
            @validator={{this.correctionValidations}}
            @onSubmit={{this.saveCorrectionAction}} as |f|>
      <Modal.body>
        Please help us understand why this entry should be fixed by providing the following information:
        <ul class="no-indent">
          <li><b>Provide a BRIEF &amp; CONCISE explanation</b> in 1 to 3 sentences what needs to be corrected.</li>
          <li><b>State the correct times</b> if the starting and/or ending time is wrong.</li>
          <li>
            <b>If the position "<i>{{this.entry.position.title}}</i>" is wrong,</b> tell us what the correct
            position is.
          </li>
          <li><b>Who was your shift partner or the Shift Lead who can corroborate your story?</b></li>
        </ul>
        {{#if this.entry.isRejected}}
          <UiNotice @type="danger" @icon="times" @title="Correction request has been denied">
            The response from the timesheet review team:<br>
            {{nl2br this.entry.reviewer_notes}}
          </UiNotice>
        {{/if}}

        {{#if this.entry.notes}}
          Your previous message to the timesheet review team:<br>
          {{nl2br this.entry.notes}}
        {{/if}}
        <table class="table table-width-auto table-sm">
          <thead>
          <tr>
            <th>Position</th>
            <th>Time</th>
            <th>Duration</th>
            <th>Credits</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{this.entry.position.title}}</td>
            <td>{{shift-format this.entry.on_duty this.entry.off_duty}}</td>
            <td class="text-end">{{hour-minute-words this.entry.duration}}</td>
            <td class="text-end">{{credits-format this.entry.credits}}</td>
          </tr>
          </tbody>
        </table>
        <FormRow>
          <f.textarea @name="additional_notes"
                      @label={{if this.entry.isRejected "Supply additional information for an appeal:"
                                  "Provide a BRIEF & CONCISE explanation in 1 to 3 sentences what needs to be corrected:"}}
                      @cols={{80}}
                      @rows={{3}} />
        </FormRow>
        <b class="text-danger">The request will be denied if:</b><br>
        {{fa-icon "ban" right=1}} You started late, yet are requesting the start time to updated to the scheduled shift
        start. Credit is only
        given for the time you are on duty.<br>
        {{fa-icon "ban" right=1}} Not enough or incomplete information was provided.<br>
        {{fa-icon "ban" right=1}} The requested changes cannot be confirmed by the shift partner(s) or the Shift Lead.
        Yes, we do
        check!<br>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="Submit Correction Request" @disabled={{this.entry.isSaving}} />
        <UiCancelButton @disabled={{this.entry.isSaving}} @onClick={{this.cancelCorrectionAction}} />
        {{#if this.entry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
