{{#if @timesheets}}
  <UiSection>
    <:title>Timesheet Entries</:title>
    <:body>
      <div class="timesheet-table">
        <div class="timesheet-row timesheet-header">
          <div class="timesheet-time">From</div>
          <div class="timesheet-time">To</div>
          <div class="timesheet-duration">Time</div>
          <div class="timesheet-credits">Credits</div>
          <div class="timesheet-position">Position</div>
        </div>
        {{#each @timesheets as |ts|}}
          <div class="timesheet-entry">
            <div class="timesheet-row">
              <div class="timesheet-time">{{shift-format ts.on_duty}}</div>
              <div class="timesheet-time">
                {{#if ts.off_duty}}
                  {{shift-format ts.off_duty}}
                {{else}}
                  <i>On Duty</i>
                {{/if}}
              </div>
              <div class="timesheet-duration">
                <span class="timesheet-sm-label">Time:</span>
                {{#unless ts.position.count_hours}}
                  <NoAppreciateIcon/>
                {{/unless}}
                {{hour-minute-format ts.duration}}
              </div>
              <div class="timesheet-credits">
                <span class="timesheet-sm-label">Credits:</span>
                {{credits-format ts.credits}}
              </div>
              <div class="timesheet-position">{{ts.position.title}}</div>
            </div>

            <div class="timesheet-row d-print-none">
              <div>
                {{#if ts.stillOnDuty}}
                  <b>You are still on duty. You may submit a correction after the shift has ended.</b>
                {{else if ts.isVerified}}
                  <span class="text-success">
                {{fa-icon "check"}} Entry was marked correct on {{shift-format ts.verified_at}}
              </span>
                {{else if ts.isUnverified}}
                  <b>{{fa-icon "arrow-right"}} This entry has not been verified.</b>
                {{else if ts.isApproved}}
                  <b>{{fa-icon "arrow-right"}} The correction request has been approved. Verify this entry is
                    correct.</b>
                {{else if ts.isRejected}}
                  <b class="text-danger">{{fa-icon "times"}} The correction request has been denied.</b>
                {{else if ts.isPending}}
                  <b class="text-info">{{fa-icon "hourglass-half"}} The correction request is pending review.</b>
                {{else}}
                  Unknown state?
                {{/if}}

                {{#if ts.haveReviewerResponse}}
                  <p><b>Response from the timesheet review team:</b></p>
                  <p>{{nl2br ts.reviewer_notes}}</p>
                {{/if}}
              </div>
            </div>

            <div class="timesheet-row timesheet-actions d-print-none">
              {{#if ts.off_duty}}
                {{#unless ts.isVerified}}
                  <UiButton @type="success" @onClick={{fn this.markCorrectAction ts}} @disabled={{ts.isSaving}}>
                    Entry Correct
                  </UiButton>
                {{/unless}}
                <UiButton @type="secondary" @onClick={{fn this.markIncorrectAction ts}} @disabled={{ts.isLoading}}>
                  {{#if ts.isPending}}
                    Add More Info
                  {{else if ts.isRejected}}
                    Submit Appeal
                  {{else}}
                    Entry Incorrect
                  {{/if}}
                </UiButton>
                {{#if ts.isReloading}}
                  <LoadingIndicator/>
                {{/if}}
              {{/if}}
              {{#if ts.isSaving}}
                <LoadingIndicator/>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </:body>
  </UiSection>
  <TimesheetSummary @summary={{@timesheetSummary}} />
  <TimesheetPositionSummary @timesheets={{@timesheets}} />
{{else}}
  <UiSection>
    <:title>No timesheet entries</:title>
    <:body>
      <b class="text-danger">No timesheet entries were found.</b>
    </:body>
  </UiSection>
{{/if}}


{{! Timesheet entry correction form dialog }}
{{#if this.entry}}
  <ModalDialog @title="Timesheet Correction" as |Modal|>
    <ChForm @formId="correction"
            @formFor={{this.entry}}
            @validator={{this.correctionValidations}}
            @onSubmit={{this.saveCorrectionAction}} as |f|>
      <Modal.body>
        <dl class="row">
          <dt class="col-2">Position:</dt>
          <dd class="col-10">{{this.entry.position.title}}</dd>

          <dt class="col-2">Time:</dt>
          <dd class="col-10">{{shift-format this.entry.on_duty}} to {{shift-format this.entry.off_duty}}</dd>

          <dt class="col-2">Duration:</dt>
          <dd class="col-10">{{hour-minute-format this.entry.duration}}</dd>

          <dt class="col-2">Credits:</dt>
          <dd class="col-10">{{credits-format this.entry.credits}}</dd>
        </dl>

        Provide as much information as possible to help us understand why this entry should be fixed.
        <ul>
          <li><b>Provide an explanation</b> in one to three sentences what needs to be corrected.</li>
          <li><b>State the correct times</b> if the starting and/or ending time is wrong.</li>
          <li><b>If the position "{{this.entry.position.title}}" is wrong,</b> tell us what is the correct
            position.
          </li>
          <li><b>Who was the partner for the shift?</b></li>
        </ul>
        {{#if this.entry.isRejected}}
          <ChNotice @type="danger" @icon="times" @title="Correction request has been denied">
            The response from the timesheet review team:<br>
            {{nl2br this.entry.reviewer_notes}}
          </ChNotice>
        {{/if}}

        {{#if this.entry.notes}}
          Your previous message to the timesheet review team:<br>
          {{nl2br this.entry.notes}}
        {{/if}}
        <FormRow>
          <f.textarea @name="additional_notes"
                   @label={{if this.entry.isRejected "Supply additional information for an apeal:"
                               "Your message to the timesheet review team:"}}
                   @cols={{80}}
                   @rows={{3}} />
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="Submit Correction Request" @disabled={{this.entry.isSaving}} />
        <UiCancelButton @disabled={{this.entry.isSaving}} @onClick={{this.cancelCorrectionAction}} />
        {{#if this.entry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
