<UiSection>
  <:title>
    {{@year}} Timesheet
  </:title>
  <:body>
    {{#if (lt @year 2008)}}
      <UiAlert @type="warning" @icon="hand-point-right">
        You are viewing a timesheet created prior to 2008. The department did not start tracking volunteer hours
        until 2008. Any timesheet entry from before 2008 are placeholders and do not represent the actual volunteer work
        performed.
      </UiAlert>
    {{/if}}

    {{#if (and @person.employee_id this.havePaidEntries)}}
      <p>
        Note: Paid position entries may have a daily hour cap applied before being uploaded to the payroll system.
        This will not affect the hours and credits applied towards tickets and provisions.
      </p>
    {{/if}}
    Legend:
    <HoursDoCountLegend/>
    <div class="timesheet-table">
      <div class="timesheet-row timesheet-header">
        <div class="timesheet-time">Time</div>
        <div class="timesheet-duration">Duration</div>
        <div class="timesheet-credits">Credits</div>
        <div class="timesheet-position">Position</div>
      </div>
      {{#each @timesheets key="id" as |ts|}}
        <div class="timesheet-entry-container">
          {{#if this.correctionsEnabled}}
            <div class="timesheet-entry-header {{this.timesheetEntryHeaderClass ts}}">
              {{#if ts.stillOnDuty}}
                {{fa-icon "ban" right=1}} The entry cannot be verified or a correction submitted
                until after the shift has ended.
              {{else if ts.isVerified}}
                {{fa-icon "check" right=1}} Verified as correct on {{shift-format ts.verified_at}} (Pacific)
              {{else if ts.isUnverified}}
                {{fa-icon "arrow-right" right=1}} The entry has not been verified as correct or a correction submitted.
              {{else if ts.isApproved}}
                {{fa-icon "arrow-right" right=1}} The correction request has been approved. You still need to mark the
                entry as correct.
              {{else if ts.isRejected}}
                {{fa-icon "times" right=1}} The correction request has been denied. An appeal may be submitted.
              {{else if ts.isPending}}
                {{fa-icon "hourglass-half" right=1}} The correction request is pending review.
              {{else}}
                Unknown state? [{{ts.review_status}}]
              {{/if}}
            </div>
          {{/if}}
          {{#if (and (not ts.isVerified) ts.isTooShort)}}
            <div class="timesheet-entry-header">
              {{fa-icon "hand-point-right" right=1}} The entry is less than 15 minutes. Please verify this is not a
              mistake.
            </div>
          {{/if}}
          {{#if (and (not ts.isVerified) ts.isTooLong)}}
            <div class="timesheet-entry-header">
              <p>
                {{fa-icon "hand-point-right" right=1}} The entry exceeds the scheduled shift duration by 1.5 times.
                Please confirm this is not a mistake, or submit a correction.
              </p>
              The scheduled shift was {{hour-minute-words ts.slot.duration}} long.
            </div>
          {{/if}}
          <div class="timesheet-entry">
            <div class="timesheet-row">
              <div class="timesheet-time">
                {{#unless ts.position.count_hours}}
                  <NoAppreciateIcon/>
                {{/unless}}
                {{#if ts.off_duty}}
                  {{shift-format ts.on_duty ts.off_duty}}
                {{else}}
                  {{shift-format ts.on_duty}} to <i>On Duty</i>
                {{/if}}<br>
              </div>
              <div class="timesheet-duration">
                {{hour-minute-words ts.duration}}
              </div>
              <div class="timesheet-credits">
                {{credits-format ts.credits}} credits
              </div>
              <div class="timesheet-position">
                {{ts.position.title}}
                {{#if (and @person.employee_id ts.position.paycode )}}
                  <div class="text-muted small">
                    {{fa-icon "person-digging" right=1}} Paid position.
                  </div>
                {{/if}}
              </div>
            </div>
            {{#if this.correctionsEnabled}}
              <div class="timesheet-row-info">
                {{#if ts.notes}}
                  {{#if ts.showNotes}}
                    <div class="border p-2 my-2">
                      <h5 class="mx-n2 mt-n2 p-2 text-bg-gray">Notes from you &amp; the Timesheet Wranglers</h5>
                      <TimesheetNotes @notes={{ts.notes}} @isMe={{this.isMe}} />
                    </div>
                  {{else}}
                    <div class="p-2">
                      <TimesheetNotes @notes={{ts.notes}} @isMe={{this.isMe}} @lastInfo={{true}} />
                    </div>
                  {{/if}}
                {{/if}}
              </div>
            {{/if}}
          </div>
          {{#if this.correctionsEnabled}}
            <div class="timesheet-row timesheet-actions">
              {{#if ts.off_duty}}
                <UiButton @type="secondary"
                          @onClick={{fn this.markIncorrectAction ts}}
                          @disabled={{ts.isLoading}}>
                  {{#if ts.isPending}}
                    Add More Info
                  {{else if ts.isRejected}}
                    Submit Appeal
                  {{else}}
                    Request Correction
                  {{/if}}
                </UiButton>
                {{#unless ts.isVerified}}
                  <UiButton @type="success"
                            @onClick={{fn this.markCorrectAction ts}}
                            @disabled={{ts.isSaving}}>
                    Mark Correct
                  </UiButton>
                {{/unless}}
                {{#if (or ts.isReloading ts.iSaving)}}
                  <LoadingIndicator/>
                {{/if}}
              {{/if}}
              {{#if ts.notes}}
                <UiButton @type="gray" @onClick={{fn this.toggleNotes ts}}>
                  {{fa-icon "comments" type="r" right=1}}
                  {{#if ts.showNotes}}
                    Hide Notes
                  {{else}}
                    Show Notes
                  {{/if}}
                </UiButton>
              {{/if}}
            </div>
          {{/if}}
        </div>
      {{else}}
        <span class="text-danger">No entries were found for {{@year}}</span>
      {{/each}}
    </div>
  </:body>
</UiSection>

{{#if this.entry}}
  <Me::TimesheetReviewEdit @entry={{this.entry}}
                           @isMe={{true}}
                           @onCancel={{this.cancelCorrectionAction}}
                           @positions={{@positions}}
                           @onUpdate={{this.savedEntry}}
  />
{{/if}}
