{{#if @ignoring}}
  <h6 class="fw-bold text-danger">
    The {{@name}} step has been muted on the Clubhouse Dashboard.
  </h6>
  <p>
    The Clubhouse Dashboard will no longer prompt you to submit a {{@name}}. The step has been moved
    to the completed section. Use the button below to unmute the step.
  </p>
  <p>
    <UiButton @onClick={{@toggleMute}} @type="secondary" @size="sm">
      Unmute the {{@name}}
    </UiButton>
  </p>
{{else}}
  <h6 class="fw-bold">Wish to mute the {{@name}} step on the Clubhouse Dashboard?</h6>
  <p>
    If you are not planning to drive on behalf of the Rangers this year by submitting a {{@name}} this year,
    you have the option to mute the {{@name}} step on the Clubhouse Dashboard by using the button below. Once muted, the
    step will be moved to the completed section.
  </p>
  <p>
    <UiButton @onClick={{@toggleMute}} @type="secondary" @size="sm">
      Mute the {{@name}} Step
    </UiButton>
  </p>
{{/if}}
