<tr>
  <td>
    <PersonLink @person={{@person}} @page="access-documents"/>
  </td>
  <td>{{@person.status}}</td>
  <td class={{this.tickets.style}}>{{this.tickets.text}}</td>
  <td class={{this.arrivalDate.style}}>{{this.arrivalDate.text}}</td>
  <td class={{this.vpTickets.style}}>{{this.vpTickets.text}}</td>
  <td class="text-end {{this.significantOtherCount.style}}">{{this.significantOtherCount.text}}</td>
  <td>
    {{~this.notes}}
    {{~#if this.documentsErrors~}}
      <p class="text-danger">
        {{~#each this.documentsErrors as |error|~}}
          {{error}}<br>
        {{~/each~}}
      </p>
    {{/if}}
  </td>
</tr>
