<PrintInstruction @backAction={{@backAction}} @backLabel="Back to Alpha selection"/>
{{#each @alphas as |alpha alphaIdx|}}
  <div class="d-flex mx-2 mt-4 mb-2 {{if alphaIdx "d-print-page-break"}}">
    <img src={{assets-url "images/ranger-logo-bw.png"}} class="alpha-sheet-logo" alt="ranger">
    <div class="alpha-sheet-header align-middle">
      {{@year}} Alpha To Dirt Ranger Acceptance Form ({{add alphaIdx 1}} / {{@alphas.length}})
    </div>
  </div>

  <div class="alpha-sheet-section-header">
    Alpha Information
  </div>

  <div class="row g-0">
    <div class="col-8">
      <div class="alpha-sheet-column">
        <div class="alpha-sheet-column-label">Ranger Handle:</div>
        <div class="alpha-sheet-column-field">
          <h1>{{alpha.callsign}}</h1>
          <div>
            {{#if alpha.pronouns}}
              {{pronouns-format alpha}}
            {{else}}
              <i>(Pronouns not stated)</i>
            {{/if}}
          </div>
          <div>
            {{#if alpha.fkas}}
              FKA: {{join alpha.fkas ", "}}<br>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="alpha-sheet-column">
        <div class="alpha-sheet-column-label">Real Name:</div>
        <div class="alpha-sheet-column-field">{{alpha.first_name}} {{alpha.last_name}}</div>
      </div>
      <div class="alpha-sheet-column">
        <div class="alpha-sheet-column-label">Training Location ({{alpha.trainings.length}}):</div>
        <div class="alpha-sheet-column-{{if alpha.trainings "field" "input"}}">
          {{#each alpha.trainings as |place|}}
            {{ymd-format place.slot_begins}} {{place.slot_description}}<br>
          {{/each}}
        </div>
      </div>
      <div class="alpha-sheet-column">
        <div class="alpha-sheet-column-label">Schedule Shift:</div>
        <div class="alpha-sheet-column-{{if alpha.alpha_slot "field" "input"}}">
          {{#if alpha.alpha_slot}}
            {{shift-format alpha.alpha_slot.begins}}
          {{/if}}
        </div>
      </div>
      <div class="alpha-sheet-column">
        <div class="alpha-sheet-column-label">Actual Shift:</div>
        <div class="alpha-sheet-column-input">&nbsp;</div>
      </div>
    </div>

    <div class="col-4">
      <div class="alpha-sheet-headshot-box">
        {{#if alpha.photo_approved}}
          <img src={{alpha.photo_url}} alt="headshot">
        {{else}}
          <div class="text-center align-middle">
            {{fa-icon "user" size="8x" type="far"}}<br>No approved photo
          </div>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="alpha-sheet-section-header">
    Mentoring Information
  </div>
  <div class="row g-0">
    <div class="col-6">
      <div class="alpha-sheet-column">
        <div class="alpha-sheet-column-label">Known Rangers:</div>
        <div class="alpha-sheet-column-{{if alpha.known_rangers "field" "input"}}">
          {{#if alpha.known_rangers}}
            {{join ", " alpha.known_rangers}}
          {{else}}
            &nbsp;
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="alpha-sheet-column">
        <div class="alpha-sheet-column-label">Known PNVs:</div>
        <div class="alpha-sheet-column-{{if alpha.known_pnvs "field" "input"}}">
          {{#if alpha.known_pnvs}}
            {{join ", " alpha.known_pnvs}}
          {{else}}
            &nbsp;
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-6">
      <div class="alpha-sheet-column">
        <div class="alpha-sheet-column-label align-top">Prior Mentors:</div>
        <div class="alpha-sheet-column-field">
          {{#each alpha.mentor_history as |history historyIdx| }}
            {{#if historyIdx}}<br>{{/if}}
            {{history.year}} ({{mentor-short-status history.status}})
            {{#each history.mentors as |mentor idx|}}
              {{if idx " / "}}{{mentor.callsign}}
            {{/each}}
          {{else}}
            None
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="alpha-sheet-column">
        <div class="alpha-sheet-column-label">Pass/Bonk:</div>
        <div class="alpha-sheet-column-input">&nbsp;</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 g-0">
      <table class="alpha-sheet-table mt-4">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th class="w-35">{{@year}} MENTOR NAME</th>
          <th class="w-20">ACCEPT</th>
          <th class="w-20">ACCEPT W/RESERV.</th>
          <th class="w-20">REJECT</th>
        </tr>
        </thead>
        <tbody>
        <NumberOfTimes @times={{3}} as |mentor|>
          <tr>
            <td class="text-end">{{add mentor 1}}.</td>
            <td class="w-40 border-bottom border-dark">&nbsp;</td>
            <td class="w-20 border-bottom border-dark">&nbsp;</td>
            <td class="w-20 border-bottom border-dark">&nbsp;</td>
            <td class="w-20 border-bottom border-dark">&nbsp;</td>
          </tr>
        </NumberOfTimes>
        <tr>
          <td colspan="5" class="px-4">
            Legend: <b>ACCEPT</b> = Accept Alpha into the Rangers.
            <b>ACCEPT W/RESERV.</b> = Accept Alpha into the Rangers. Other feedback outweighs my concerns.
            <b>REJECT</b> = Bonk Alpha
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="alpha-sheet-column align-middle">
        <div class="alpha-sheet-column-label alpha-sheet-column-auto">
          For bonked Alpha <span class="text-muted">(check one)</span>:

        </div>
        <div class="alpha-sheet-column-field">
            <span class="align-middle">
              <span class="ms-2">{{fa-icon "square" type="far"}} Asked to return</span>
              <span class="ms-2">{{fa-icon "square" type="far"}} Discourage from returning</span>
            </span>
        </div>
      </div>
    </div>
  </div>

  <div class="ms-3 mb-2 mt-4 text-center">
    Legend for VC, Mentor &amp; Training rankings: 1/Green = Above Avg., 2/Normal = Average, 3/Yellow = Below Avg.,
    4/FLAG = Major issue.
  </div>

  <div class="alpha-sheet-section-header">
    Volunteer Coordinators (VC) Notes/Flags
  </div>
  <div class="alpha-sheet-comment-box-md">
    {{#each alpha.vc_team as |info|}}
      Year {{info.year}}
      <IntakeRanking @type="vc" @rank={{info.rank}} />
      <br>
      {{#each info.notes as |note|}}
        {{#unless note.is_log}}
          <div>
            &mdash; {{note.person_source.callsign}}: {{note.note}}
          </div>
        {{/unless}}
      {{/each}}
    {{else}}
      No VC notes
    {{/each}}
  </div>
  <div class="alpha-sheet-section-header">
    Training Notes/Ranking
  </div>
  <div class="alpha-sheet-comment-box-md">
    {{#each alpha.trainings as |place|}}
      {{#if place.training_passed}}
        <div class="mb-2">
          {{ymd-format place.slot_begins}} {{place.slot_description}}
          <IntakeRanking @type="training" @rank={{place.training_rank}} />
          {{#if place.feedback_delivered}}
            (feedback delivered)
          {{else}}
            <b>(FEEDBACK NOT DELIVERED)</b>
          {{/if}}
          :<br>
          {{#each place.training_notes as |note|}}
            {{#unless note.is_log}}
              {{note.note}}<br>
            {{/unless}}
          {{else}}
            <i>No notes given.</i>
          {{/each}}
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div class="alpha-sheet-section-header">
    Mentor Notes/Ranking
  </div>
  <div class="alpha-sheet-comment-box-md">
    {{#each alpha.mentor_team as |info|}}
      {{info.year}}
      <IntakeRanking @type="mentor" @rank={{info.rank}} />
      <br>
      {{#each info.notes as |note|}}
        {{#unless note.is_log}}
          <div>
            &mdash; {{#if note.person_source}}{{note.person_source.callsign}}{{else}}<i>Unknown</i>{{/if}}
            : {{note.note}}
          </div>
        {{/unless}}
      {{/each}}
    {{else}}
      No prior mentor notes
    {{/each}}
  </div>
  <div class="alpha-sheet-footer">* * * WRITE COMMENTS ON BACK * * *</div>
{{/each}}
