{{#if this.isStopped}}
  <ChNotice @title="One or more phone numbers are STOPPED" @icon="exclamation-triangle">
    <p>
      <b class="text-danger">WARNING: Someone, most likely you, texted the STOP command
        from one of the following numbers.</b>
    </p>
    <p>That phone number will not be able to receive alerts until the START
      command is texted from the same number.</p>
    <ul>
      {{#if this.numbers.on_playa.is_stopped}}
        <li>The number {{this.numbers.on_playa.phone}} is stopped</li>
      {{/if}}
      {{#if (and this.numbers.off_playa.is_stopped (not this.numbers.is_same))}}
        <li>The pre-event number {{this.numbers.off_playa.phone}} is stopped</li>
      {{/if}}
    </ul>
    Contact {{general-support-email}} for help.
  </ChNotice>
{{/if}}

{{#if this.notVerified}}
  <ChNotice @title="Verify Your Phone Number(s)" @icon="arrow-right">
    <p>
      Please verify your SMS number(s). You will not be able receive Clubhouse alert messages
      until you do so. (Data rates may apply.)
    </p>
    <p>
      <strong>A verification code has been sent to {{this.unverifiedPhones}}</strong>
    </p>
    <ChForm @formId="verify" @formFor={{this.verifyForm}} as |f|>
      {{#if (or this.numbers.is_same (and this.numbers.off_playa.phone (not this.numbers.off_playa.is_verified)))}}
        <FormRow>
          <f.text @name="off_playa"
                  @label="Enter verification code for {{this.numbers.off_playa.phone}}"
                  @inputmode="decimal"
                  @size={{5}}
                  @maxlength={{5}}
          />
        </FormRow>
        <FormRow>
          <UiButton @disabled={{this.isSubmitting}}
                    @onClick={{fn this.confirmCodeAction f.model "off-playa"}}>
            Verify
          </UiButton>
          <UiButton @type="secondary"
                    @class="ms-2"
                    @onClick={{fn this.sendNewCodeAction "off-playa"}} @disabled={{this.isSubmitting}}>
            Resend verification code
          </UiButton>
        </FormRow>
      {{/if}}
      {{#if (and (not this.numbers.is_same) this.numbers.on_playa.phone (not this.numbers.on_playa.is_verified))}}
        <FormRow>
          <f.text @name="on_playa"
                  @label="Enter verification code for {{this.numbers.on_playa.phone}}"
                  @inputmode="decimal"
                  @size={{5}}
                  @maxlength={{5}}/>
        </FormRow>
        <UiButton @disabled={{this.isSubmitting}}
                  @onClick={{fn this.confirmCodeAction f.model "on-playa"}}>
          Verify
        </UiButton>
        <UiButton @type="secondary"
                  @class="ms-2"
                  @onClick={{fn this.sendNewCodeAction "on-playa"}}
                  @disabled={{this.isSubmitting}}>
          Resend verification code
        </UiButton>
      {{/if}}
      {{#if this.isSubmitting}}
        <LoadingIndicator/>
      {{else}}
        &nbsp;
      {{/if}}
    </ChForm>
  </ChNotice>
{{/if}}

<UiSection>
  <:title>Pre-Event &amp; On Playa SMS Numbers</:title>
  <:body>
    <p>
      <b>For non-USA phone numbers:</b> Include your country code when entering a phone number.<br>
      Australia: +61, Canada: +1, France: +33, Mexico: +52, New Zealand: +64, UK: +44.
    </p>

    <ChForm @formId="numbers" @formFor={{this.phoneForm}} @validator={{this.numberValidations}}
            @onSubmit={{this.saveNumbersAction}} as |f|>
      <FormRow>
        <f.text @name="off_playa"
                @label={{if f.model.is_same
                            "Pre-Event & On Playa phone number:" "Pre-Event phone number:"}}
                @inputmode="tel"
                size={{30}}
        />
      </FormRow>
      <FormRow>
        <div class="col-12">
          <f.checkbox @name="is_same" @label="On playa number is the same as the pre-event number"/>
        </div>
      </FormRow>
      <FormRow @class={{if f.model.is_same "d-none"}}>
        <f.text @name="on_playa"
                @label="On Playa phone number:"
                @inputmode="tel"
                @size={{30}}
        />
      </FormRow>

      <div class="mt-3">
        <f.submit @label="Update Phone {{if f.model.is_same "Number" "Numbers"}}"
                  @disabled={{this.isUpdatingNumbers}} />
        {{#if this.isUpdatingNumbers}}
          <LoadingIndicator/>
        {{/if}}
      </div>
    </ChForm>
  </:body>
</UiSection>

<UiSection>
  <:title>Alert Preference Options</:title>
  <:body>
    {{#if this.isMe}}
      <p class="ms-2">
        To change your email visit
        <LinkTo @route="me.personal-info">Personal Info</LinkTo>
      </p>
    {{/if}}

    <AlertGroup @numbers={{this.numbers}} @email={{@person.email}} @group={{this.offPlayaAlerts}}
                @heading="Pre & Post Event Alerts"
                @description="These alerts may be sent to you before or after the event."/>
    <AlertGroup @numbers={{this.numbers}} @email={{@person.email}} @group={{this.onPlayaAlerts}}
                @heading="On Playa Alerts"
                @description="These alerts may be sent to you while the event is happening."/>

    <UiButton @onClick={{this.updatePrefsAction}} @disabled={{this.isSubmitting}}>
      Update Preferences
    </UiButton>
    {{#if this.isSubmitting}}
      <LoadingIndicator/>
    {{/if}}
  </:body>
</UiSection>