{{#if this.isStopped}}
  <ChBox @title="One or more phone numbers are STOPPED">
    <b class="text-danger">{{fa-icon "exclamation-triangle"}} WARNING: Someone, most likely you, texted the STOP command
      from one of the following numbers.</b> That phone number will not be able to receive alerts until the START
    command is texted from the same number.
    <ul>
      {{#if this.numbers.on_playa.is_stopped}}
        <li>The number {{this.numbers.on_playa.phone}} is stopped</li>
      {{/if}}
      {{#if (and this.numbers.off_playa.is_stopped (not this.numbers.is_same))}}
        <li>The pre-event number {{this.numbers.off_playa.phone}} is stopped</li>
      {{/if}}
    </ul>
    Contact {{general-support-email}} for help.
  </ChBox>
{{/if}}

{{#if this.notVerified}}
  <ChAlert @type="danger">
    <div class="float-left mt-2 mr-3">
      {{fa-icon "exclamation-triangle" size="2x"}}
    </div>
    Please verify your SMS number(s). You will not be able receive Clubhouse alert messages
    until you do so. (Data rates may apply.)
  </ChAlert>
  <ChBox @title="Verify Your Phone Number(s)">
    <p>
      <strong>A verification code has been sent to {{this.unverifiedPhones}}</strong>
    </p>
    <ChForm @formId="verify" @formFor={{this.verifyForm}} as |f|>
      {{#if (or this.numbers.is_same (and this.numbers.off_playa.phone (not this.numbers.off_playa.is_verified)))}}
        <div class="form-row">
          <f.input @name="off_playa" @label={{concat "Enter verification code for " this.numbers.off_playa.phone}}
                   @type="text" @inputmode="decimal" @size=5 @maxlength=5 @grid="col-auto"/>
        </div>
        <div class="form-row">
          <button type="button" class="btn btn-primary" disabled={{this.isSubmitting}}
            {{action this.confirmCodeAction f.model "off-playa"}}>
            Verify
          </button>
          <button type="button" class="btn btn-secondary ml-2" {{action this.sendNewCodeAction "off-playa"}}
                  disabled={{this.isSubmitting}}>Resend verification code
          </button>
        </div>
      {{/if}}
      {{#if (and (not this.numbers.is_same) this.numbers.on_playa.phone (not this.numbers.on_playa.is_verified))}}
        <div class="form-row">
          <f.input @name="on_playa" @label={{concat "Enter verification code for " this.numbers.on_playa.phone}}
                   @type="text"  @inputmode="decimal" @size=5 @maxlength=5 @grid="col-auto"/>
        </div>
        <div class="form-row">
          <button type="button" class="btn btn-primary" disabled={{this.isSubmitting}}
            {{action this.confirmCodeAction f.model "on-playa"}}>
            Verify
          </button>
          <button type="button" class="btn btn-secondary ml-2" {{action this.sendNewCodeAction "on-playa"}}
                  disabled={{this.isSubmitting}}>
            Resend verification code
          </button>
        </div>
      {{/if}}
      <div class="form-row">
        <div class="col-auto">
          {{#if this.isSubmitting}}
            <LoadingIndicator/>
          {{else}}
            &nbsp;
          {{/if}}
        </div>
      </div>
    </ChForm>
  </ChBox>
{{/if}}

<h3>Pre-Event &amp; On Playa SMS Numbers</h3>
<p>
  {{#if (not-eq @person.country "US")}}
    <ChAlert @type="warning">
      Your home address is listed as outside the USA. In case you have a non-USA phone number, be sure to include the
      country code when entering your phone number(s).
    </ChAlert>
  {{/if}}
  <b>For non-USA phone numbers:</b> Include your country code when entering a phone number.<br>
  Australia: +61, Canada: +1, France: +33, Mexico: +52, New Zealand: +64, UK: +44.
</p>

<ChForm @formId="numbers" @formFor={{this.phoneForm}} @validator={{this.numberValidations}}
        @onSubmit={{this.saveNumbersAction}} as |f|>
  <div class="form-row">
    <f.input @name="off_playa"
             @label={{if f.model.is_same "Pre-Event & On Playa phone number:" "Pre-Event phone number:"}}
             @type="text" @inputmode="tel" @size=30 @grid="col-auto"/>
  </div>
  <div class="form-row">
    <f.input @name="is_same" @label="On playa number is the same as the pre-event number" @type="checkbox"/>
  </div>
  <div class="form-row mt-2 {{if f.model.is_same "d-none"}}">
    <f.input @name="on_playa" @label="On Playa phone number:" @type="text" @inputmode="tel" @size=30 @grid="col-auto"/>
  </div>

  <div class="mt-2">
    <f.submit @label={{if this.isUpdatingNumbers "Updating" "Update SMS Numbers"}}
              @disabled={{this.isUpdatingNumbers}} />
    {{#if this.isUpdatingNumbers}}
      <LoadingIndicator/>
    {{/if}}
  </div>
</ChForm>
<hr>

<h3>Alert Preference Options</h3>
{{#if this.isMe}}
  <p class="ml-2">
    To change your email visit
    <LinkTo @route="me.personal-info">Personal Info</LinkTo>
  </p>
{{/if}}

<AlertGroup @numbers={{this.numbers}} @email={{@person.email}} @group={{this.offPlayaAlerts}}
            @heading="Pre & Post Event Alerts"
            @description="These alerts may be sent to you before or after the event."/>
<AlertGroup @numbers={{this.numbers}} @email={{@person.email}} @group={{this.onPlayaAlerts}}
            @heading="On Playa Alerts"
            @description="These alerts may be sent to you while the event is happening."/>

<button type="button" class="btn btn-primary" {{action this.updatePrefsAction}} disabled={{this.isSubmitting}}>
  Update Preferences
</button>
{{#if this.isSubmitting}}
  <LoadingIndicator/>
{{/if}}
