{{#if this.isLoading}}
  <LoadingIndicator/>
{{else}}
  {{#if this.otherHours}}
    <ChNotice @title="Has hours not counting towards appreciations">
      {{this.otherHours}} hours have been worked however these do not count towards appreciations.
      Certain shifts such as Training sessions and On Call positions fall into this category.
    </ChNotice>
  {{/if}}
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="w-40">Tickets</th>
      <th class="w-15 text-right">Requires</th>
      <th class="w-15 text-right">Worked</th>
      <th class="w-15 text-right">Needs</th>
      <th class="w-15">Progress</th>
    </tr>
    </thead>
    <tbody>
    {{#unless this.staffCredential.earned}}
      <AppreciationProgressRow @item={{this.reducedPriceTicket}} @name="Reduced Price Ticket"/>
    {{/unless}}
    <AppreciationProgressRow @item={{this.staffCredential}} @name="Staff Credential"/>
    </tbody>
  </table>
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="w-40">Meal Passes</th>
      <th class="w-15 text-right">Requires</th>
      <th class="w-15 text-right">Worked</th>
      <th class="w-15 text-right">Needs</th>
      <th class="w-15">Progress</th>
    </tr>
    </thead>
    <tbody>
    {{#unless this.allEatPass.earned}}
      <AppreciationProgressRow @item={{this.eventWeekEatPass}} @name="Event Week Eat Pass"
                               @subtext="(event week hours)"/>
    {{/unless}}
    <AppreciationProgressRow @item={{this.allEatPass}} @name="All Eat Meal Pass"
                             @subtext="(pre/event/post-week hours)"/>
    </tbody>
  </table>
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="w-40">Org Shower Access</th>
      <th class="w-15 text-right">Requires</th>
      <th class="w-15 text-right">Worked</th>
      <th class="w-15 text-right">Needs</th>
      <th class="w-15">Progress</th>
    </tr>
    </thead>
    <tbody>
    <AppreciationProgressRow @item={{this.showerPog}} @name="Wet Spot Pog for THIS event"/>
    <AppreciationProgressRow @item={{this.showerAccess}} @name="Wet Spot Access for NEXT event"/>
    </tbody>
  </table>
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="w-40">Ranger Clothing</th>
      <th class="w-15 text-right">Requires</th>
      <th class="w-15 text-right">Worked</th>
      <th class="w-15 text-right">Needs</th>
      <th class="w-15">Progress</th>
    </tr>
    </thead>
    <tbody>
    {{#if @isShinyPenny}}
      <tr>
        <td colspan="5">Person is a Shiny Penny and NOT eligible to earn additional Ranger clothing this year.</td>
      </tr>
    {{else}}
      <AppreciationProgressRow @item={{this.tshirt}} @name="Ranger T-Shirt"/>
      <AppreciationProgressRow @item={{this.shirtLong}} @name="Ranger Long Sleeve Shirt"/>
    {{/if}}
    </tbody>
  </table>
{{/if}}
