<tr>
  <td class="w-40">
    {{#if @item.earned}}
      <span class="text-success">{{fa-icon "check"}} {{@name}}</span>
    {{else}}
      {{@name}}
    {{/if}}
    {{#if @subtext}}
      <br>{{@subtext}}
    {{/if}}
  </td>
  <td class="w-15 text-right">
    {{@item.threshold}} {{@item.type}}
  </td>
  <td class="w-15 text-right">
    {{@item.value}} {{@item.type}}
  </td>
  <td class="w-15 text-right">
    {{#if @item.earned}}
      -
    {{else}}
      {{@item.needs}} {{@item.type}}
    {{/if}}
  </td>
  <td class="w-15">
    {{#if @item.earned}}
      <b class="text-success">EARNED</b>
    {{else}}
      <ProgressBar @width={{@item.width}} @text="{{@item.width}}%" @type="success"/>
    {{/if}}
  </td>
</tr>