<div class="max-width-700">
  {{#if this.isLoading}}
    <LoadingIndicator/>
  {{else}}
    {{#if this.otherHours}}
      <ChNotice @title="Has hours not counting towards appreciations">
        {{this.otherHours}} hours have been worked however these do not count towards appreciations.
        Certain shifts such as Training sessions and On Call positions fall into this category.
      </ChNotice>
    {{/if}}
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Appreciation</th>
        <th class="text-right">Requires</th>
        <th class="text-right">Earned/Worked</th>
        <th class="text-right">Needs</th>
        <th>Progress</th>
      </tr>
      </thead>
      <tbody>
      {{#unless this.staffCredential.earned}}
        <AppreciationProgressRow @item={{this.reducedPriceTicket}} @name="Reduced Price Ticket"/>
      {{/unless}}
      <AppreciationProgressRow @item={{this.staffCredential}} @name="Staff Credential"/>
      {{#unless this.eatEventPeriod.earned}}
        <AppreciationProgressRow @item={{this.eatEventWeek}} @name="All-You-Can-Eat Pass"
                                 @subtext="(event week hours)"/>
      {{/unless}}
      {{#if (or this.eatEventPeriod.earned (not this.eatEventWeek.earned))}}
        <AppreciationProgressRow @item={{this.eatEventPeriod}} @name="All-You-Can-Eat Pass"
                                 @subtext="(pre-/event/post-week hours)"/>
      {{/if}}
      <AppreciationProgressRow @item={{this.showerPog}} @name="Shower Pog"/>
      <AppreciationProgressRow @item={{this.showerAccess}} @name="Showers Next Event"/>
      {{#if @isShinyPenny}}
        <tr>
          <td colspan="5">Person is a Shiny Penny and NOT eligible to earn Ranger clothing this year.</td>
        </tr>
      {{else}}
      <AppreciationProgressRow @item={{this.tshirt}} @name="Ranger T-Shirt" />
      <AppreciationProgressRow @item={{this.shirtLong}} @name="Ranger Long Sleeve Shirt" />
      {{/if}}
      </tbody>
    </table>
  {{/if}}
</div>
