<ChForm @formId="checkout"
        @formFor={{this.assetForm}}
        @validator={{this.assetValdiations}}
        @onSubmit={{this.checkoutAsset}} as |f|>
  <FormRow>
    <f.text @name="barcode"
             @placeholder="Enter Barcode"
             @size={{15}} />
    <f.select @name="attachment_id"
              @options={{this.attachmentOptions}}/>
    <div class="col-auto">
      <f.submit @label="Checkout" @disabled={{or (is-empty f.model.barcode) this.isSubmitting}}/>
      {{#if this.isSubmitting}}
        <LoadingIndicator/>
      {{/if}}
    </div>
  </FormRow>
  {{#if this.barcodeNotFound}}
    <p>
      <b class="text-danger">Barcode "{{this.barcodeNotFound}}" was not found.</b>
    </p>
  {{else if this.barcodeCheckedOut}}
    <p>
      <b class="text-danger">Asset {{this.barcodeCheckedOut.barcode}} still checked out by
        <LinkTo @route="person.assets"
                @model={{this.barcodeCheckedOut.person_id}}>{{this.barcodeCheckedOut.callsign}}</LinkTo>
        on {{shift-format this.barcodeCheckedOut.checked_out}}
      </b>
    </p>
    <p>
      <UiButton @type="secondary" @onClick={{this.showHistoryAction}}>
        Show Asset History
      </UiButton>
    </p>
  {{/if}}
</ChForm>
{{#if this.showHistory}}
  <ModalAssetHistory @assetId={{this.barcodeCheckedOut.asset_id}} @onClose={{this.closeHistory}} />
{{/if}}
