{{pluralize @assets.length "asset"}} found
<UiTable>
  <thead>
  <tr>
    <th>Type</th>
    <th>Barcode</th>
    <th>Attachment</th>
    <th>Duration</th>
    <th>Description</th>
    <th>Checked Out Time /<br>By Person</th>
    <th>Checked In Time /<br>By Person</th>
    <th>Time (HH:SS)</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {{#each @assets as |ap|}}
    <tr>
      <td>{{ap.asset.type}}</td>
      <td>{{ap.asset.barcode}}</td>
      <td>
        <PresentOrNot @value={{ap.attachment.description}} @empty="-"/>
      </td>
      <td class="text-center">
        <AssetDurationLabel @asset={{ap.asset}}/>
      </td>
      <td>
        <PresentOrNot @value={{ap.asset.description}} @empty="-"/>
      </td>
      <td>
        {{shift-format ap.checked_out}}<br>
        {{#if ap.check_out_person}}
          <PersonLink @person={{ap.check_out_person}} />
        {{else}}
          -
        {{/if}}
      </td>
      <td>
        {{#if ap.checked_in}}
          {{shift-format ap.checked_in}}<br>
          {{#if ap.check_in_person}}
            <PersonLink @person={{ap.check_in_person}} />
          {{else}}
            -
          {{/if}}
        {{else}}
          <UiButton @size="sm" @onClick={{fn this.checkInAsset ap.asset ap}} @disabled={{ap.asset.isSubmitting}}>
            Check In
          </UiButton>
          {{#if ap.asset.isSubmitting}}
            <SpinIcon/>
          {{/if}}
        {{/if}}
      </td>
      <td class="text-end">
        {{hour-minute-format ap.duration}}
      </td>
      <td>
        <UiButton @type="secondary" @size="sm" @onClick={{fn this.showHistoryAction ap.asset}}>
          History
        </UiButton>
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="8">
        <b class="text-danger">No assets were found for {{@year}}</b>
      </td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>

{{#if this.assetForHistory}}
  <ModalAssetHistory @assetId={{this.assetForHistory.id}} @onClose={{this.closeHistory}} />
{{/if}}
