{{pluralize this.rows.length "asset"}} found
<UiTable>
  <thead>
  <tr>
    <th>Type</th>
    <th>Barcode</th>
    <th>Attachment</th>
    <th>Duration</th>
    <th>Description</th>
    <th>Checked Out Time /<br>By Person</th>
    <th>Checked In Time /<br>By Person</th>
    <th>Time (HH:SS)</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.rows as |ap|}}
    <tr>
      <td>{{ap.asset.type}}</td>
      <td>{{ap.asset.barcode}}</td>
      <td>
        <PresentOrNot @value={{ap.attachment.description}} @empty="-"/>
        {{#if (eq @mode "checkout")}}
          <br>
          <UiButton @onClick={{fn this.changeAssetAttachment ap}}
                    @type="secondary" @size="sm" class="mt-1" data-test-change-attachment={{ap.asset.barcode}}>
            Change Attachment
          </UiButton>
        {{/if}}
      </td>
      <td class="text-center">
        <AssetDurationLabel @asset={{ap.asset}}/>
      </td>
      <td>
        <PresentOrNot @value={{ap.asset.description}} @empty="-"/>
      </td>
      <td>
        {{shift-format ap.checked_out}}<br>
        {{#if ap.check_out_person}}
          <PersonLink @person={{ap.check_out_person}} />
        {{else}}
          -
        {{/if}}
      </td>
      <td>
        {{#if ap.checked_in}}
          {{shift-format ap.checked_in}}<br>
          {{#if ap.check_in_person}}
            <PersonLink @person={{ap.check_in_person}} />
          {{else}}
            -
          {{/if}}
        {{else}}
          {{#let (this.isSubmitting ap.asset.id) as |submitting|}}
            <UiButton @size="sm" @onClick={{fn this.checkInAsset ap.asset ap}} @disabled={{submitting}}
                      data-test-check-in={{ap.asset.barcode}}>
              Check In
            </UiButton>
            {{#if submitting}}
              <SpinIcon/>
            {{/if}}
          {{/let}}
        {{/if}}
      </td>
      <td class="text-end">
        {{hour-minute-format ap.duration}}
      </td>
      <td>
        <AssetHistoryLauncher @assetId={{ap.asset.id}} />
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="9">
        <b class="text-danger">
          {{#if (eq @mode "checkout")}}
            No assets are currently checked out.
          {{else}}
            No assets were returned in {{@year}}.
          {{/if}}
        </b>
      </td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>

{{#if this.updateAsset}}
  <ModalDialog @title="Update attachment for {{this.updateAsset.asset.barcode}}"
               @onEscape={{this.cancelAttachmentDialog}} as |Modal|>
    <ChForm @formFor={{this.updateAsset}}
            @formId="asset"
            @onSubmit={{this.submitAsset}} as |f|>

      <Modal.body>
        <FormRow>
          <f.select @name="attachment_id"
                    @label="Choose the new attachment"
                    @options={{this.attachmentOptions}}/>
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label="Update" />
        <UiCancelButton @onClick={{this.cancelAttachmentDialog}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
