<ChForm @formId="checkout"
        @formFor={{this.assetForm}}
        @changeSet={{false}}
        @onSubmit={{this.checkoutAsset}} as |f|>
  <FormRow>
    <f.text @name="barcode"
            @placeholder="Enter Barcode"
            @size={{15}}
            @autofocus={{if @noAutoFocus false true}}
            @onChange={{@onBarcodeChange}}
    />
    <f.select @name="attachment_id"
              @options={{this.attachmentOptions}}/>
    <div class="col-auto">
      <f.submit @label="Checkout" @disabled={{or (is-empty f.model.barcode) this.isSubmitting}}/>
      {{#if this.isSubmitting}}
        <LoadingIndicator/>
      {{/if}}
    </div>
  </FormRow>
  {{#if this.barcodeNotFound}}
    <span class="fw-semibold text-danger">Barcode "{{this.barcodeNotFound}}" was not found.</span>
  {{else if this.barcodeCheckedOut}}
    <div class="mt-2">
      <span class="fw-semibold text-danger">
      Asset {{this.barcodeCheckedOut.barcode}} still checked out by {{this.barcodeCheckedOut.callsign}}.
      </span>
      Check out was on {{shift-format this.barcodeCheckedOut.checked_out}}.
    </div>
    <div class="mt-2 mb-4">
      <UiButton @type="secondary" @onClick={{this.showHistoryAction}}>
        Show Asset History
      </UiButton>
    </div>
  {{else}}
    <br>
  {{/if}}
</ChForm>
{{#if this.showHistory}}
  <ModalAssetHistory @assetId={{this.barcodeCheckedOut.asset_id}} @onClose={{this.closeHistory}} />
{{/if}}
