<ChForm @formId="checkout"
        @formFor={{this.assetForm}}
        @changeSet={{false}}
        @onSubmit={{this.checkoutAsset}} as |f|>
  <FormRow>
    <f.text @name="barcode"
            @placeholder="Enter Barcode"
            @size={{15}}
            @autofocus={{if @noAutoFocus false true}}
            @onChange={{@onBarcodeChange}}
    />
    <f.select @name="attachment_id"
              @options={{this.attachmentOptions}}/>
    <div class="col-auto">
      <f.submit @label="Checkout" @disabled={{or (is-empty f.model.barcode) this.isSubmitting}}/>
      {{#if this.isSubmitting}}
        <LoadingIndicator/>
      {{/if}}
    </div>
  </FormRow>
  {{#if this.barcodeNotFound}}
    <span class="fw-semibold text-danger">Barcode "{{this.barcodeNotFound}}" was not found.</span>
  {{else if this.barcodeCheckedOut}}
    <div class="mt-2">
      <span class="fw-semibold text-danger">
      Asset {{this.barcodeCheckedOut.barcode}} still checked out by {{this.barcodeCheckedOut.callsign}}.
      </span>
      Check out was on {{shift-format this.barcodeCheckedOut.checked_out}}.
    </div>
    <div class="mt-2 mb-4">
      <UiButton @type="secondary" @onClick={{this.showHistoryAction}}>
        Show Asset History
      </UiButton>
    </div>
  {{else if this.assetExpired}}
    <ModalDialog @onEscape={{this.closeExpiredDialog}} as |Modal|>
      <Modal.title>Asset Has Expired</Modal.title>
      <Modal.body>
        <p>
          Asset #{{this.assetExpired.barcode}} is no longer eligible for checkout and should not be handed out.
          Place it in the designated pile for return to the vendor.
        </p>
        The checkout can be forced if you have authorization from the HQ Lead due to unforeseen circumstances. The
        action will be logged and subject to review.
      </Modal.body>
      <Modal.footer>
        <UiCloseButton @onClick={{this.closeExpiredDialog}} />
        <UiButton @onClick={{this.forceCheckout}} @type="warning">
          Force Checkout
        </UiButton>
      </Modal.footer>
    </ModalDialog>
  {{else}}
    <br>
  {{/if}}
</ChForm>
{{#if this.showHistory}}
  <ModalAssetHistory @assetId={{this.barcodeCheckedOut.asset_id}} @onClose={{this.closeHistory}} />
{{/if}}
