<div class="autocomplete-input-block">
  <div class="input-group">
    {{#if @modeOptions}}
        <button type="button"
                class="btn btn-light-gray dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false">{{this.modeText}}</button>
        <ul class="dropdown-menu">
          {{#each @modeOptions as |opt|}}
            <li >
              <a class="dropdown-item" href="#" {{on "click" (fn this.selectModeEvent opt.value)}}>{{opt.label}}</a>
            </li>
          {{/each}}
        </ul>
    {{/if}}
    <input type="search"
           placeholder={{@placeholder}}
           value={{@text}}
           class={{this.inputClass}}
           disabled={{@disabled}}
      {{on "keyup" this.keyUpEvent}}
      {{on "focus" this.focusEvent}}
      {{on "blur" this.blurEvent}}
      {{on "input" this.inputEvent}}
      {{did-insert this.inputInsertElement}}
           autofocus={{@autofocus}}
           autocomplete="off"
           spellcheck="false"
    />
    {{~#if @appendSearchIcon~}}
        <span class="input-group-text">{{fa-icon "search"}}</span>
    {{~/if~}}
  </div>
  {{#if (and this.isFocused (or this.isSearching this.noResultsFound this.options))}}
    <div class="autocomplete-results-box mt-1 border rounded"
      {{did-insert this.resutsBoxInsertedEvent}}
      {{will-destroy this.resultsBoxDestroy}}
    >
      <div class="autocomplete-list">
        {{~#if this.noResultsFound~}}
          <div>No results found</div>
        {{~else if this.isSearching~}}
          <div class="text-muted">Searching <SpinIcon /></div>
        {{~/if~}}
        {{~#each this.options as |opt idx|~}}
          <div class="{{if (eq idx this.selectionIdx) "autocomplete-option-selected"}}"
               data-result-id={{idx}}
               role="link"
            {{on "click" (fn this.clickSelection opt)}}
            {{!template-lint-disable no-down-event-binding}}
            {{on "mousedown" (fn this.clickSelection opt)}}
          >
            {{~yield opt~}}
          </div>
        {{~else~}}
          {{#if (and (not this.noResultsFound) (not this.isSearching))}}
            <div class="text-muted">Start typing to search</div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/if}}

</div>
