{{#if this.isLoading}}
  <LoadingDialog/>
{{else}}
  <AwardsInfo />
  {{#if (or this.teams this.special this.positions)}}
    <h3>Cadre / Delegation and Selected Teams Recognition</h3>
    {{#if this.teams}}
      <AwardTrophies @trophies={{this.teams}} />
    {{else}}
      It does not appear
      <YouOrCallsign @person={{@person}} @youLabel="you have" @callsignVerb="has"/>
      served on a cadre or delegation since 2020.
    {{/if}}

    <h3 class="mt-4">Special Position Recognition</h3>
    {{#if this.positions}}
      <AwardTrophies @trophies={{this.positions}} />
    {{else}}
      <YouOrCallsign @person={{@person}} @youLabel="You have" @callsignVerb="has"/>
      not been awarded any special positions recognition.
    {{/if}}

    <h3 class="mt-4">Special Service Recognition</h3>
    {{#if this.special}}
      <AwardTrophies @trophies={{this.special}} />
    {{else}}
      <YouOrCallsign @person={{@person}} @youLabel="You have" @callsignVerb="has"/>
      not been awarded any special service recognition.
    {{/if}}
  {{else}}
    No recognition awards have been granted.
  {{/if}}
{{/if}}
