<ChForm @formId="bmid" @formFor={{@entry}} @onSubmit={{@onSave}} @onCancel={{@onCancel}} as |f|>
  <p>
    {{#if @entry.wap_id}}
      WAP ID #{{@entry.wap_id}} - {{@entry.wapTypeHuman}} - {{@entry.wap_status}}
      {{#if @entry.wapSubmitted}}
        <br>
        <b class="text-danger">WAP has been submitted for processing - WAP Date cannot be changed.</b>
      {{/if}}
    {{else}}
      <b class="text-danger">WAP could not be located - WAP Date cannot be changed.</b>
    {{/if}}
  </p>
  <p>
    {{fa-icon "plus-circle" color="success"}} = if present, person has claimed provision (showers, meals).
  </p>
  <div class="form-row">
    <f.input @name="status" @label="BMID Status" @type="select" @options={{this.bmidStatusOptions}}  @fieldSize="sm"/>
    <f.input @name="meals" @label="Meals" @type="select" @options={{this.mealOptions}} @grid="col-auto"
             @fieldSize="sm">
      {{#if @entry.want_meals}}
        <div class="text-success">{{fa-icon "plus-circle"}} {{@entry.want_meals}}</div>
      {{/if}}
    </f.input>
    <f.input @name="showers" @label="Showers" @type="select" @options={{this.showerOptions}} @grid="col-auto"
             @fieldSize="sm">
      {{#if @entry.want_showers}}
        <div class="text-success">{{fa-icon "plus-circle"}} showers</div>
      {{/if}}
    </f.input>
    <f.input @name="admission_date" @label="WAP Date" @type="select" @disabled={{@entry.wapDisabled}}
             @options={{@admissionDateOptions}}  @fieldSize="sm"/>
  </div>

  <div class="form-row">
    <label class="col-form-label col-form-label-fixed">Title 1</label>
    <f.input @name="title1" @type="text" @size={{30}} @maxLength={{64}} @wrapClass="col-auto" @fieldSize="sm"/>
  </div>
  <div class="form-row mt-1">
    <label class="col-form-label col-form-label-fixed">Title 2</label>
    <f.input @name="title2" @type="text" @size={{30}} @maxLength={{64}} @wrapClass="col-auto" @fieldSize="sm"/>
  </div>
  <div class="form-row mt-1">
    <label class="col-form-label col-form-label-fixed">Title 3</label>
    <f.input @name="title3" @type="text" @size={{30}} @maxLength={{64}} @wrapClass="col-auto" @fieldSize="sm"/>
  </div>

  <div class="form-row mt-1">
    <label class="col-form-label col-form-label-fixed">Team</label>
    <f.input @name="team" @type="text" @size={{30}} @maxLength={{64}} @wrapClass="col-auto" @fieldSize="sm"/>
  </div>
  <div class="form-row">
    <label class="col-form-label col-form-label-fixed">Notes</label>
    <f.input @name="notes" @type="textarea" @rows={{4}} @cols={{80}} @wrapClass="col-auto" @fieldSize="sm"/>
  </div>
  <div class="form-group row mt-1">
    <div class="col-auto">
      {{#if @entry.isNew}}
        This is a new BMID record.
      {{else}}
        Created {{@entry.create_datetime}} Last modified {{@entry.modified_datetime}}
      {{/if}}
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <f.submit @label={{if @entry.isNew "Create" "Update"}} @disabled={{@entry.isSaving}} />
      {{#if @onCancel}}
        <f.cancel @disabled={{@entry.isSaving}} />
      {{/if}}
      {{#if @entry.isSaving}}
        <LoadingIndicator/>
      {{/if}}
    </div>
  </div>
</ChForm>
