<ChForm @formId="bmid" @formFor={{@entry}} @onSubmit={{@onSave}} as |f|>
  <p>
    {{#if @entry.wap_id}}
      WAP ID #{{@entry.wap_id}} - {{@entry.wapTypeHuman}} - {{@entry.wap_status}}
      {{#if @entry.wapSubmitted}}
        <br>
        <b class="text-danger">WAP has been submitted for processing - WAP Date cannot be changed.</b>
      {{/if}}
    {{else}}
      <b class="text-danger">WAP could not be located - WAP Date cannot be changed.</b>
    {{/if}}
  </p>
  <p>
    {{fa-icon "plus-circle" color="success"}} = if present, person has qualified provision (showers, meals).
  </p>
  <FormRow>
    <f.select @name="status"
              @label="BMID Status"
              @options={{this.bmidStatusOptions}}
              @fieldSize="sm"/>
    <f.select @name="meals"
              @label="Meals"
              @options={{this.mealOptions}}
              @fieldSize="sm">
      {{#if @entry.want_meals}}
        <div class="text-success">{{fa-icon "plus-circle"}} {{@entry.want_meals}}</div>
      {{/if}}
    </f.select>
    <f.select @name="showers"
              @label="Showers"
              @options={{this.showerOptions}}
              @fieldSize="sm">
      {{#if @entry.want_showers}}
        <div class="text-success">{{fa-icon "plus-circle"}} showers</div>
      {{/if}}
    </f.select>
    <f.select @name="admission_date"
              @label="WAP Date"
              @disabled={{@entry.wapDisabled}}
              @options={{@admissionDateOptions}}
              @fieldSize="sm"/>
  </FormRow>

  <FormRow @margin="mt-4 mb-2">
    <FormLabel @fixed={{true}}>Title 1</FormLabel>
    <f.text @name="title1"
            @size={{30}}
            @maxlength={{64}}
            @fieldSize="sm"/>
  </FormRow>
  <FormRow>
    <FormLabel @fixed={{true}}>Title 2</FormLabel>
    <f.text @name="title2"
            @size={{30}}
            @maxlength={{64}}
            @fieldSize="sm"/>
  </FormRow>
  <FormRow>
    <FormLabel @fixed={{true}}>Title 3</FormLabel>
    <f.text @name="title3"
            @size={{30}}
            @maxlength={{64}}
            @fieldSize="sm"/>
  </FormRow>

  <FormRow>
    <FormLabel @fixed={{true}}>Team</FormLabel>
    <f.text @name="team"
            @size={{30}}
            @maxlength={{64}}
            @fieldSize="sm"/>
  </FormRow>
  <FormRow>
    <FormLabel @fixed={{true}}>Notes</FormLabel>
    <f.textarea @name="notes"
                @rows={{4}}
                @cols={{80}}
                @fieldSize="sm"/>
  </FormRow>
  {{#if @entry.isNew}}
    <p>
      This is a new BMID record.
    </p>
  {{else}}
    <dl class="row mb-2">
      <dt class="col-auto">Created</dt>
      <dd class="col-auto">{{@entry.create_datetime}}</dd>
      <dt class="col-auto">Last Modified</dt>
      <dd class="col-auto">{{@entry.modified_datetime}}</dd>
    </dl>
  {{/if}}
  <f.submit @label={{if @entry.isNew "Create" "Update"}} @disabled={{@entry.isSaving}} />
  {{#if @onCancel}}
    <UiCancelButton @onClick={{@onCancel}} @disabled={{@entry.isSaving}} />
  {{/if}}
  {{#if @entry.isSaving}}
    <LoadingIndicator/>
  {{/if}}
</ChForm>
