<ChForm @formId="bmid" @formFor={{@bmid}} @onSubmit={{@onSave}} as |f|>
  {{#if @bmid.notQualifiedToPrint}}
    <p>
      <UiNotice @type={{if @bmid.isNew "danger" "secondary"}}
                @title={{if this.isEchelon "No Sign Ups Found"
                            "No Claimed Ticket nor In-Person Training Sign-Up Found"}}
                @icon="hand"
      >
        <p>
          {{#if this.isEchelon}}
            Because the Echelon volunteer has not signed up for any shifts, the recommendation is to not print their
            BMID.
          {{else}}
            Because the person has not signed up for an In-Person Training nor claimed a ticket, the recommendation is
            to not print their BMID.
          {{/if}}
        </p>
        {{#if @bmid.isNew}}
          To ensure the BMID is printed, set the status to "Prep" or "Ready To Print" (don't forget to fill out the
          appropriate fields) and hit the "Create" button.
        {{else if @bmid.qualifiedToPrint}}
          However, the BMID record has a status that will cause the BMID to be printed. Set the status to
          "Do Not Print" or "Issues" to prevent the BMID from being printed.
        {{else if @bmid.isSubmitted}}
          The BMID was submitted for printing.
        {{else if @bmid.willNotPrint}}
          The BMID record has a status which will explicitly prevent the BMID from being printed.
        {{else}}
          Bug: Uh, the record has a status [{{@bmid.status}}] which I cannot determine if the BMID will actually
          be printed or not.
        {{/if}}
      </UiNotice>
    </p>
  {{/if}}
  <p>
    {{#if @bmid.wap_id}}
      The SAP is through RAD-{{@bmid.wap_id}} a {{@bmid.wapTypeLabel}} status {{@bmid.wap_status}}.
      {{#if @bmid.wapSubmitted}}
        <br>
        <b class="text-danger">SAP has been submitted for processing - SAP Date cannot be changed.</b>
      {{else if @bmid.wapBanked}}
        <br>
        <span class="text-danger">The selected {{@bmid.wapTypeLabel}} is banked. An additional SAP document may need to be issued.</span>
      {{/if}}
    {{else}}
      <b class="text-danger">A SAP or Staff Credential could not be located - SAP Date cannot be changed.</b>
    {{/if}}
  </p>
  {{#unless @bmid.has_approved_photo}}
    <p>
      <b class="text-danger">Person does not have an approved photo on file.</b>
    </p>
  {{/unless}}
  <FormRow class="g-1">
    <f.select @name="status"
              @label="Status"
              @options={{this.bmidStatusOptions}}
              @fieldSize="sm"
              @fixedLabel={{true}}
              @inline={{true}}
    />
  </FormRow>
  <ProvisionManagement @person={{@person}} @onUpdate={{this.updateBmidProvisions}} as |actions|>
    <FormRow class="g-1">
      <FormLabel @fixed={{true}} @size="sm">Meals</FormLabel>
      <div class="col-auto small">
        <span class="me-2">{{@bmid.mealsLabel}}</span>
        {{#if @bmid.noMeals}}
          <a href {{on-click actions.newMeal}} class="ms-2">
            Add Meal Pass
          </a>
        {{else}}
          <a href {{on-click actions.manageMeals}}>
            Manage Meal Passes
          </a>
        {{/if}}
      </div>
    </FormRow>
    <FormRow class="g-1">
      <FormLabel @fixed={{true}} @size="sm">Showers</FormLabel>
      <div class="col-auto mt-1 small">
        <span class="me-2">{{if @bmid.showers_granted "Yes" "No"}}</span>
        {{#if @bmid.showers_granted}}
          <a href {{on-click actions.manageShowers}}>
            Manage Shower Passes
          </a>
        {{else}}
          <a href {{on-click actions.newShower}}>
            Add Shower Pass
          </a>
        {{/if}}
      </div>
    </FormRow>
  </ProvisionManagement>

  <FormRow class="g-1">
    <f.select @name="admission_date"
              @label="SAP Date"
              @disabled={{@bmid.wapDisabled}}
              @options={{@admissionDateOptions}}
              @fieldSize="sm"
              @fixedLabel={{true}}
              @inline={{true}}
    />
  </FormRow>

  <FormRow @margin="mt-4 mb-2">
    <FormLabel @fixed={{true}}>Title 1</FormLabel>
    <f.text @name="title1"
            @size={{30}}
            @maxlength={{64}}
            @fieldSize="sm"/>
  </FormRow>
  <FormRow class="g-1">
    <FormLabel @fixed={{true}}>Title 2</FormLabel>
    <f.text @name="title2"
            @size={{30}}
            @maxlength={{64}}
            @fieldSize="sm"/>
  </FormRow>
  <FormRow class="g-1">
    <FormLabel @fixed={{true}}>Title 3</FormLabel>
    <f.text @name="title3"
            @size={{3}}
            @maxlength={{3}}
            @fieldSize="sm"/>
  </FormRow>

  <FormRow class="g-1">
    <FormLabel @fixed={{true}}>Team</FormLabel>
    <f.text @name="team"
            @size={{30}}
            @maxlength={{64}}
            @fieldSize="sm"/>
  </FormRow>
  <FormRow class="g-1">
    <FormLabel @fixed={{true}}>Notes</FormLabel>
    <f.textarea @name="notes"
                @rows={{4}}
                @cols={{80}}
                @fieldSize="sm"/>
  </FormRow>
  {{#if @bmid.isNew}}
    <div class="mb-4">
      This is a new BMID record.
    </div>
  {{else}}
    <div class="row mb-4">
      <div class="col-auto">Last Modified</div>
      <div class="col-auto">{{shift-format @bmid.updated_at year=true}}</div>
      <div class="col-auto">Created</div>
      <div class="col-auto">{{shift-format @bmid.created_at year=true}}</div>
    </div>
  {{/if}}
  <f.submit @label={{if @bmid.isNew "Create" "Update"}} @size="md"/>
  {{#if @onCancel}}
    <UiCancelButton @onClick={{@onCancel}} @size="md"/>
  {{/if}}
  {{#if @bmid.isSaving}}
    <LoadingDialog/>
  {{/if}}
</ChForm>
