<ChForm @formId="bmid" @formFor={{@entry}} @onSubmit={{@onSave}} as |f|>
  {{#if this.notQualified}}
    <p>
      <UiNotice @type={{if @entry.isNew "danger" "secondary"}}
                @title="No Claimed Ticket nor In-Person Training Sign-Up Found"
                @icon="hand"
      >
        <p>
          Because the person has not signed up for In-Person Training nor claimed a ticket, the recommendation is to not
          print their BMID.
        </p>
        {{#if @entry.isNew}}
          To ensure the BMID is printed, set the status to "Prep" or "Ready To Print" (don't forget to fill out the
          appropriate fields) and hit the "Create" button.
        {{else if @entry.qualifiedToPrint}}
          However, the BMID record has a status that will cause the BMID to be printed. Set the status to
          "Do Not Print" or "Issues" to prevent the BMID from being printed.
        {{else if @entry.isSubmitted}}
          The BMID was submitted for printing.
        {{else if @entry.willNotPrint}}
          The BMID record has a status which will explicitly prevent the BMID from being printed.
        {{else}}
          Bug: Uh, the record has a status [{{@entry.status}}] which I cannot determine if the BMID will actually
          be printed or not.
        {{/if}}
      </UiNotice>
    </p>
  {{/if}}
  <p>
    {{#if @entry.wap_id}}
      The WAP is through RAD-{{@entry.wap_id}} a {{@entry.wapTypeHuman}} status {{@entry.wap_status}}.
      {{#if @entry.wapSubmitted}}
        <br>
        <b class="text-danger">WAP has been submitted for processing - WAP Date cannot be changed.</b>
      {{else if @entry.wapBanked}}
        <br>
        <span class="text-danger">The selected {{@entry.wapTypeHuman}} is banked. An additional WAP document may need to be issued.</span>
      {{/if}}
    {{else}}
      <b class="text-danger">A WAP or Staff Credential could not be located - WAP Date cannot be changed.</b>
    {{/if}}
  </p>
  <p>
    Meals and showers are a union of what is explicitly set on the BMID, allocated provisions, and non-banked earned
    provisions.
  </p>
  <p>
    <EarnedProvisionIcon/>
    = will use earned provision.
    <AllocatedProvisionIcon/>
    = will use allocated provision.
  </p>
  {{#unless @entry.has_approved_photo}}
    <p>
      <b class="text-danger">Person does not have an approved photo on file.</b>
    </p>
  {{/unless}}
  <FormRow>
    <f.select @name="status"
              @label="BMID Status"
              @options={{this.bmidStatusOptions}}
              @fieldSize="sm"/>
    <f.select @name="meals"
              @label="Meals"
              @options={{this.mealOptions}}
              @fieldSize="sm">
      {{#if @entry.allocated_meals}}
        <div>
          <AllocatedProvisionIcon/> {{@entry.allocated_meals}}
        </div>
      {{/if}}
      {{#if @entry.earned_meals}}
        <div>
          <EarnedProvisionIcon/> {{@entry.earned_meals}}
        </div>
      {{/if}}
    </f.select>
    <f.select @name="showers"
              @label="Showers"
              @options={{this.showerOptions}}
              @fieldSize="sm">
      {{#if @entry.allocated_showers}}
        <div>
          <AllocatedProvisionIcon/>
          Showers
        </div>
      {{/if}}
      {{#if @entry.earned_showers}}
        <div>
          <EarnedProvisionIcon/>
          Showers
        </div>
      {{/if}}
    </f.select>
    <f.select @name="admission_date"
              @label="WAP Date"
              @disabled={{@entry.wapDisabled}}
              @options={{@admissionDateOptions}}
              @fieldSize="sm"/>
  </FormRow>

  <FormRow @margin="mt-4 mb-2">
    <FormLabel @fixed={{true}}>Title 1</FormLabel>
    <f.text @name="title1"
            @size={{30}}
            @maxlength={{64}}
            @fieldSize="sm"/>
  </FormRow>
  <FormRow>
    <FormLabel @fixed={{true}}>Title 2</FormLabel>
    <f.text @name="title2"
            @size={{30}}
            @maxlength={{64}}
            @fieldSize="sm"/>
  </FormRow>
  <FormRow>
    <FormLabel @fixed={{true}}>Title 3</FormLabel>
    <f.text @name="title3"
            @size={{30}}
            @maxlength={{64}}
            @fieldSize="sm"/>
  </FormRow>

  <FormRow>
    <FormLabel @fixed={{true}}>Team</FormLabel>
    <f.text @name="team"
            @size={{30}}
            @maxlength={{64}}
            @fieldSize="sm"/>
  </FormRow>
  <FormRow>
    <FormLabel @fixed={{true}}>Notes</FormLabel>
    <f.textarea @name="notes"
                @rows={{4}}
                @cols={{80}}
                @fieldSize="sm"/>
  </FormRow>
  {{#if @entry.isNew}}
    <div class="mb-4">
      This is a new BMID record.
    </div>
  {{else}}
    <div class="row mb-4">
      <div class="col-auto">Created</div>
      <div class="col-auto">{{@entry.created_at}}</div>
      <div class="col-auto">Last Modified</div>
      <div class="col-auto">{{@entry.updated_at}}</div>
    </div>
  {{/if}}
  <f.submit @label={{if @entry.isNew "Create" "Update"}} @disabled={{@entry.isSaving}} />
  {{#if @onCancel}}
    <UiCancelButton @onClick={{@onCancel}} @disabled={{@entry.isSaving}} />
  {{/if}}
  {{#if @entry.isSaving}}
    <LoadingIndicator/>
  {{/if}}
</ChForm>
