{{#if this.isSubmitting}}
  <LoadingDialog>
    Processing the request. Please wait.
  </LoadingDialog>
{{else if this.didTransmit}}
  <BroadcastSentTable @result={{this.result}} />
{{else if this.isReviewing}}
  <table class="table table-width-auto">
    <caption>Review the criteria and message</caption>
    <tbody>
    {{#if @broadcast.alerts}}
      <tr>
        <th>Alert</th>
        <td>{{this.broadcastAlert}}</td>
      </tr>
    {{/if}}
    {{#if @broadcast.has_status}}
      <tr>
        <th>Status ({{this.broadcastForm.statuses.length}})</th>
        <td>
          {{#each this.broadcastForm.statuses as |status idx|~}}
            {{~if idx ", "}}{{status}}
          {{~/each}}
        </td>
      </tr>
    {{/if}}
    {{#if @broadcast.has_slot}}
      <tr>
        <th>Shift</th>
        <td>{{this.broadcastSlot}}</td>
      </tr>
    {{/if}}
    {{#if @broadcast.has_position}}
      <tr>
        <th>Team/Position:</th>
        <td>{{this.broadcastPosition}} -
          {{#if (eq this.broadcastForm.position_signed_up "any")}}
            anyone - signed up or not
          {{else if (eq this.broadcastForm.position_signed_up "")}}
            signed up for team shift
          {{else if (eq this.broadcastForm.position_signed_up "not-signed-up")}}
            NOT signed up for a team shift
          {{/if}}
        </td>
      </tr>
    {{/if}}
    {{#if @broadcast.has_restrictions}}
      <tr>
        <th>Is On Site?</th>
        <td>{{yesno this.broadcastForm.on_site}}</td>
      </tr>
      <tr>
        <th>Might attend?</th>
        <td>{{yesno this.broadcastForm.attending}}</td>
      </tr>
      <tr>
        <th>Training</th>
        <td>
          {{#if (eq this.broadcastForm.training "passed")}}
            passed Dirt Training
          {{else if (eq this.broadcastForm.training "registered")}}
            signed up for OR passed Dirt Training
          {{else if (eq this.broadcastForm.training "no-training")}}
            NOT signed up for Dirt Training
          {{else}}
            anyone regardless of being trained or not
          {{/if}}
        </td>
      </tr>
    {{/if}}
    <tr>
      <th>Send Text/SMS</th>
      <td>{{if this.broadcastForm.send_sms "YES" "NO"}}<br>
        {{#if this.broadcastForm.send_sms}}
          Text message: {{this.broadcastForm.sms_message}}
        {{/if}}
      </td>
    </tr>
    <tr>
      <th>Send Clubhouse</th>
      <td>{{if this.broadcastForm.send_clubhouse "YES" "NO"}}</td>
    </tr>
    <tr>
      <th>Send Email</th>
      <td>{{if this.broadcastForm.send_email "YES" "NO"}}</td>
    </tr>

    {{#if (or this.broadcastForm.send_clubhouse this.broadcastForm.send_email)}}
      <tr>
        <th class="w-15">Message</th>
        <td>Subject: {{this.broadcastForm.subject}}<br>
          {{nl2br this.broadcastForm.message}}
        </td>
      </tr>
    {{/if}}
    </tbody>
  </table>

  <UButton @type="success" @size="lg" @onClick={{this.transmitAction}}>SEND MESSAGE</UButton>
  <UiButton @type="secondary" @size="lg" @onClick={{this.editMessageAction}}>EDIT</UiButton>

  <BroadcastCandidatesTable @people={{this.people}} />
{{else}}
  {{#if this.noPeople}}
    <ChNotice @type="danger">
      No accounts were found matching the criteria.
    </ChNotice>
  {{/if}}
  <ChForm @formId="broadcastForm" @formFor={{this.broadcastForm}}
          @validator={{this.broadcastValidations}}
          @onSubmit={{this.reviewAction}} as |f|>
    {{#if
      (or @broadcast.alerts @broadcast.has_status @broadcast.has_slot @broadcast.has_position @broadcast.has_restrictions)}}
      <UiSection>
        <:title>Audience Filters</:title>
        <:body>
          {{#if @broadcast.alerts}}
            <FormRow>
              <f.select
                @name="alert_id"
                @label="Alert type:"
                @options={{this.alertOptions}} />
            </FormRow>
          {{/if}}
          {{#if @broadcast.has_status}}
            <FormRow>
              <f.checkboxGroup @name="statuses"
                               @label="Ranger Status:"
                               @options={{this.statusOptions}}/>
            </FormRow>
          {{/if}}
          {{#if @broadcast.has_slot}}
            <FormRow>
              <f.select @name="slotPositionId"
                        @label="Select on the team to show available shifts"
                        @options={{this.slotPositionOptions}}
                        @onChange={{this.positionChange}}/>
            </FormRow>
            {{#if f.model.slotPositionId}}
              <FormRow>
                <f.select @name="slot_id"
                          @label="Shift to broadcast to:"
                          @options={{this.slotOptions}}/>
              </FormRow>
            {{/if}}
          {{/if}}
          {{#if @broadcast.has_position}}
            <FormRow>
              <f.select @name="position_id"
                        @label="Team:"
                        @options={{this.positionOptions}} />
            </FormRow>
            <FormRow>
              <f.select @name="position_signed_up"
                        @label="Team Shift Sign Ups"
                        @options={{this.signedUpOptions}}/>
            </FormRow>
          {{/if}}
          {{#if @broadcast.has_restrictions}}
            <FormRow>
              <FormLabel>Attendance:</FormLabel>
              <div class="col-sm-12 col-lg-auto">
                <f.checkbox @name="on_site"
                            @label="Who are signed up for any kind of shift during the event"
                />
                <f.checkbox @name="attending"
                            @label="Indicated they will attend"

                />
                <div class="mt-2">
                  Checking both will search for people who are signed up for shifts during event OR indicated they will
                  attend.
                </div>
              </div>
            </FormRow>
            <h4>-- AND --</h4>
            <FormRow>
              <f.radioGroup @name="training"
                            @label="Training:"
                            @options={{this.trainingOptions}}/>
            </FormRow>
          {{/if}}
        </:body>
      </UiSection>
    {{/if}}
    <UiSection>
      <:title>Text/SMS Message</:title>
      <:body>
        <FormRow>
          <div class="col-12 ms-2 mb-2">
            <f.checkbox @name="send_sms" @label="Send Text/SMS message" @inline={{true}}/>
          </div>
        </FormRow>
        <FormRow>
          <f.textarea @name="sms_message"
                      @label="Text/SMS to send (limited to {{@config.sms_limit}} characters)"
                      @maxlength={{@config.sms_limit}}
                      @rows={{2}}
                      @cols={{80}}
                      @disabled={{not f.model.send_sms}}
                      @showCharCount={{true}}
          />
        </FormRow>
      </:body>
    </UiSection>
    <UiSection>
      <:title>Email and/or Clubhouse Message</:title>
      <:body>
        <FormRow>
          <div class="col-12 ms-2">
            <f.checkbox @name="send_email"
                        @label="Send email message"
                        @inline={{true}} />
            <f.checkbox @name="send_clubhouse"
                        @label="Send Clubhouse message" @inline={{true}}/>
          </div>
        </FormRow>
        <FormRow>
          <f.text @name="subject"
                  @label="Subject for message:"
                  @size={{80}}
                  @maxlength={{80}} />
        </FormRow>
        <FormRow>
          <f.textarea @name="message"
                   @label="Message to send to email and/or Clubhouse Message"
                   @rows={{10}}
                   @cols={{100}}
                   @disabled={{not (or f.model.send_email f.model.send_clubhouse)}}
          />
        </FormRow>
      </:body>
    </UiSection>
    <p>
      <f.submit @label="REVIEW MESSAGE & RECIPIENTS" @submitClass="btn-lg"/>
    </p>
    Don’t worry, you’ll have a chance to confirm the message and exactly who it is being sent to before it is
    actually sent.
  </ChForm>
{{/if}}
