<UiSection>
  <:title>Sending to {{pluralize @people.length "person"}}</:title>
  <:body>
    <UiTable class="mt-4">
      <thead>
      <tr>
        <th>Callsign</th>
        <th>Status</th>
        <th>Name</th>
        <th colspan="2">Deliver Via</th>
      </tr>
      </thead>

      <tbody>
      {{#each @people key="id" as |person|}}
        <tr>
          <td>{{person.callsign}}</td>
          <td>{{person.status}}</td>
          <td>{{person.first_name}} {{person.last_name}}</td>
          <td>
            {{#if person.use_sms}}
              text
            {{else}}
              &nbsp;
            {{/if}}
          </td>
          <td>
            {{#if person.use_email}}
              email
            {{else}}
              &nbsp;
            {{/if}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </UiTable>
  </:body>
</UiSection>