{{#if this.isSubmitting}}
  <LoadingPane @item="broadcasts"/>
{{else if this.didTransmit}}
  <BroadcastSentTable @result={{this.result}} />
{{else if this.isReviewing}}
  <UiSection>
    <:title>Review your message to be sent:</:title>
    <:body>
      <p class="h4 mb-2">
        {{this.broadcastForm.message}}
      </p>
      <UiButton @size="lg" @onClick={{this.transmitAction}}>SEND MESSAGE</UiButton>
      <UiButton @size="lg" @type="secondary" @onClick={{this.editMessageAction}}>EDIT</UiButton>
    </:body>
  </UiSection>

  <BroadcastCandidatesTable @people={{this.people}} />
{{else}}
  {{#unless @config.is_during_event}}
    <ChNotice @type="danger" @title="Event has not started yet" @icon="exclamation">
      This broadcast may not be appropriate to send out right now. Check out the General Broadcast Actions
    </ChNotice>
  {{/unless}}

  {{#if (eq @type "emergency")}}
    <h3 class="text-danger">SEND TO ALL ON-PLAYA RANGERS, NOT ALREADY ON DUTY</h3>
    <p>
      This will send a text and email message to
      <b>ALL {{@broadcast.receivers}} ON-PLAYA Rangers who are not already on duty</b>.<br>
      It should ONLY be used in emergencies (mass mobilization for fire, fatality, plane crash, etc.).<br>
      <br>
      <b class="text-danger">Please be brief and choose your words carefully as they may end up on the front page of the
        New York Times.</b>
    </p>
  {{else if (eq @type "onshift")}}
    <h3>Text Message ONLY to {{pluralize @broadcast.receivers "ON SHIFT Ranger"}}</h3>
    <p>
      This will send only a TEXT message to {{@broadcast.receivers}} ON SHIFT Rangers.
      Only Rangers who have opted-in to receive On Shift messages AND who are
      carrying their cellphones might receive this message. Delivery is
      not guaranteed.<br>
      <br>
      <b class="text-danger">If you need to send an emergency message to EVERYONE, you're in the wrong place.</b>
    </p>
  {{else}}
    <h3>Text And Email Off-Duty Ranger</h3>
    <p>
      This will send a text and email to {{if (eq @type "recruit-dirt") @broadcast.receivers}} off-duty
      Rangers who have indicated they might be willing to come in and work some extra shifts when needed.
      You can use this if your shift is low on people.<br>
      <b class="text-danger">If you need to send an emergency message to EVERYONE, you're in the wrong place.</b>
    </p>
  {{/if}}

  <UiSection>
    <:body>
      <ChForm @formId="broadcast-form"
              @formFor={{this.broadcastForm}}
              @validator={{this.broadcastValidations}}
              @onSubmit={{this.reviewAction}} as |f|>
        {{#if @broadcast.has_muster_position}}
          <h4>Special Team That Needs More Rangers</h4>
          <FormRow>
            <f.select @name="position_id"
                      @options={{this.positionOptions}} />
          </FormRow>
        {{/if}}
        <h4>Message to send (limited to {{@config.sms_limit}} characters)</h4>
        <FormRow>
          <f.textarea @name="message"
                   @maxlength={{@config.sms_limit}}
                   @autofocus={{not @broadcast.has_muster_position}}
                   @rows={{2}}
                   @cols={{80}}
                   @showCharCount={{true}}
                   @fieldSize="lg"
          />
        </FormRow>
        <f.submit @label="REVIEW MESSAGE & RECIPIENTS" @submitClass="btn-lg"/>
        <p>Don’t worry, you’ll have a chance to confirm the message and exactly who it is being sent to before it is
          actually sent.</p>
      </ChForm>
    </:body>
  </UiSection>
{{/if}}
