{{#if this.isUrl}}
  <a href="{{@route}}" class="{{this.linkBg}} list-group-item list-group-item-action">
    <ChSidebarLinkContent @iconUrl={{@iconUrl}} @icon={{@icon}} @iconType={{this.iconType}} @title={{@title}} @badgeText={{@badgeText}} />
  </a>
{{else}}
  {{! ARG.. link-to cannot accept an empty dynamic segment}}
  {{#if @routeArg}}
    <LinkTo @route={{@route}} @model={{@routeArg}} class="{{this.linkBg}} list-group-item list-group-item-action" @activeClass="sidebar-active">
      <ChSidebarLinkContent @iconUrl={{@iconUrl}} @icon={{@icon}} @iconType={{this.iconType}} @title={{@title}} @badgeText={{@badgeText}} />
    </LinkTo>
  {{else}}
    <LinkTo @route={{@route}} class="{{this.linkBg}} list-group-item list-group-item-action" @activeClass="sidebar-active">
      <ChSidebarLinkContent @iconUrl={{@iconUrl}} @icon={{@icon}} @iconType={{this.iconType}} @title={{@title}} @badgeText={{@badgeText}} />
    </LinkTo>
  {{/if}}
{{/if}}
