<div class="max-width-900">
  <p>
    Click on a message to show the contents.
  </p>
  <div class="d-flex flex-column flex-xl-row flex-shrink-1 flex-xl-shrink-0 justify-content-xl-between mb-2">
    <div class="align-self-xl-center">
      {{#if @messages}}
        {{pluralize @messages.length "message"}}
        {{#if this.unreadCount}}
          <b>({{this.unreadCount}} unread)</b>
        {{else}}
          (no unread)
        {{/if}}
      {{else}}
        <b>
          {{#if @isMe}}
            You have no messages
          {{else}}
            {{@person.callsign}} has no messages.
          {{/if}}
        </b>
      {{/if}}
    </div>
    {{#if this.canSendMessages}}
      <div>
        <UiButtonRow>
          {{#if @isWorkerInterface}}
            <UiButton  @responsive={{true}} @onClick={{this.newMessageToAction}}>
              New Message TO {{@person.callsign}}
            </UiButton>
            <UiButton @type="secondary" @responsive={{true}}
                      @onClick={{this.newMessageFromAction}}>
              New Message FROM {{@person.callsign}}
            </UiButton>
          {{else}}
            <UiButton @type="primary" @responsive={{true}} @onClick={{this.newMessageFromAction}}>
              {{fa-icon "plus" right=1}} New Message
            </UiButton>
          {{/if}}
        </UiButtonRow>
      </div>
    {{/if}}
  </div>
  {{#each @messages key="id" as |message|}}
    <PersonMessage @message={{message}}
                   @canSendMessages={{this.canSendMessages}}
                   @onReplyTo={{fn this.replyToAction message}}
                   @updateUnreadCount={{this.updateUnreadCount}}
    />
  {{/each}}


  {{#if this.newMessage}}
    <MessageNew @message={{this.newMessage}}
                @onSubmit={{this.submitAction}}
                @onCancel={{this.cancelAction}}
                @isMe={{@isMe}}
                @isSubmitting={{this.isSubmitting}}
    />
  {{/if}}
</div>

