{{#if this.newMessage}}
  <MessageNew @message={{this.newMessage}} @onSubmit={{this.submitAction}} @onCancel={{this.cancelAction}}
              @isSubmitting={{this.isSubmitting}} />
{{/if}}

<div class="row">
  <div class="col-sm-12 col-md-6 mb-2">
    <div class="form-check form-check-inline">
      <RadioButton @value="all" @groupValue={{this.filterMessages}} @radioId="filter-all"
                   @radioClass="form-check-input"/>
      <label for="filter-all" class="form-check-label">All</label>
    </div>
    <div class="form-check form-check-inline">
      <RadioButton @value="unread" @groupValue={{this.filterMessages}} @radioId="filter-unread"
                   @classNames="form-check-label" @radioClass="form-check-input"/>
      <label for="filter-unread" class="form-check-label">Unread ({{this.unreadCount}})</label>
    </div>

    <div class="form-check form-check-inline">
      <RadioButton @value="read" @groupValue={{this.filterMessages}} @radioId="filter-read"
                   @classNames="form-check-label"
                   @radioClass="form-check-input"/>
      <label for="filter-read" class="form-check-label">Read ({{this.readCount}})</label>
    </div>
  </div>
</div>
{{#if this.canSendMessages}}
  <p>
    <a href="#" class="btn btn-primary" {{on "click" this.newMessageAction}}>New Message</a>
  </p>
{{/if}}

<p class="text-muted">Showing {{pluralize this.viewMessages.length "message"}}</p>
{{#if @messages}}
  {{#each this.viewMessages as |message|}}
    <div class="card mb-2">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <h5>From: {{message.message_from}}</h5>
            <h5>{{#unless message.delivered}}<span class="text-danger">&bullet;</span> {{/unless}}
              Subject: {{message.subject}}</h5>
            {{#if message.isDictacted}}
              <div class="text-muted">(written by {{message.creator_callsign}})</div>
            {{/if}}
          </div>
          <div class="col-sm-12 col-md-4 text-md-right">
            {{shift-format message.sent_at}}
            <div class="text-muted small">({{moment-from-now message.sent_at}})</div>
          </div>
        </div>
        <div class="mt-2">
          {{message.body}}
        </div>
        <div class="mt-3">
          {{#if message.delivered}}
            <button {{on "click" (fn this.markUnreadAction message)}}
                    type="button" class="btn btn-secondary" disabled={{message.isSubmitting}}>
              Mark Unread
            </button>
          {{else}}
            <button {{on "click" (fn this.markReadAction message)}}
                    type="button" class="btn btn-primary" disabled={{message.isSubmitting}}>
              Mark Read
            </button>
          {{/if}}
          {{#if message.isSubmitting}}
            <LoadingIndicator/>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}

{{else}}
  <b>Congratulations!</b> There are no messages.
{{/if}}
