<div class="mail-container">
  <p>
    {{#if @messages}}
      {{pluralize @messages.length "message"}}
      {{#if this.unreadCount}}
        <b>({{this.unreadCount}} unread)</b>
      {{else}}
        (no unread)
      {{/if}}
    {{else}}
      <b>
        {{#if @isMe}}
          You have no messages
        {{else}}
          {{@person.callsign}} has no messages.
        {{/if}}
      </b>
    {{/if}}
  </p>
  {{#if this.canSendMessages}}
    <p>
      {{#if @isWorkerInterface}}
        <UiButton @class="btn-responsive" @onClick={{this.newMessageToAction}}>
          New Message TO {{@person.callsign}}
        </UiButton>
        <UiButton @type="secondary" @class="ml-lg-2 btn-responsive" @onClick={{this.newMessageFromAction}}>
          New Message FROM {{@person.callsign}}
        </UiButton>
      {{else}}
        <UiButton @type="primary" @class="btn-responsive" @onClick={{this.newMessageFromAction}}>
          {{fa-icon "plus"}} New Message
        </UiButton>
      {{/if}}
    </p>
  {{/if}}

  {{#each @messages as |message|}}
    <div class="mail {{unless message.delivered "mail-unread"}}">
      <div class="mail-photo">
        {{#if message.is_rbs}}
          {{fa-icon "bullhorn"}}
        {{else if message.sender_photo_url}}
          <img src={{message.sender_photo_url}} loading="lazy" alt="{{message.message_from}}"/>
        {{else}}
          {{fa-icon "user"}}
        {{/if}}
      </div>
      <div class="mail-header {{if message.showing "mail-showing"}}" {{on "click" (fn this.toggleMessage message)}}
           role="button">
        <div class="mail-indicator">
          {{#if message.delivered}}
            {{fa-icon "check-circle" type="far"}}
          {{else}}
            {{fa-icon "arrow-right" color="success"}}
          {{/if}}
        </div>
        <div class="mail-from">
          {{message.message_from}}
        </div>
        <div class="mail-date">
          {{shift-format message.sent_at}}
        </div>
        <div class="mail-subject">
          {{message.subject}}
        </div>
      </div>
      <BsCollapse @collapsed={{not message.showing}} class="mail-body">
        {{#if message.isDictated}}
          <div class="mail-written-by">{{fa-icon "pen-alt"}} written by {{message.creator_callsign}}
            for {{message.message_from}}</div>
        {{/if}}

        {{message.body}}
        <div class="mail-actions">
          {{#if message.delivered}}
            <UiButton @onClick={{fn this.markUnreadAction message}}
              @type="secondary" @class="responsive" @disabled={{message.isSubmitting}}>
              Mark Unread
              {{#if message.isSubmitting}}
                <SpinIcon />
              {{/if}}
            </UiButton>
          {{else}}
            <UiButton @class="btn-responsive" @onClick={{fn this.markReadAction message}} @disabled={{message.isSubmitting}}>
              Mark Read
              {{#if message.isSubmitting}}
                <SpinIcon />
              {{/if}}
            </UiButton>
          {{/if}}
        </div>
      </BsCollapse>
    </div>
  {{/each}}
</div>


{{#if this.newMessage}}
  <MessageNew @message={{this.newMessage}}
              @onSubmit={{this.submitAction}}
              @onCancel={{this.cancelAction}}
              @isMe={{@isMe}}
              @isSubmitting={{this.isSubmitting}}
  />
{{/if}}

