<ModalDialog @title={{this.title}} @onEscape={{this.cancelAction}} as |Modal|>
  <ChForm @formId="contact"
          @formFor={{this.contactForm}}
          @validator={{this.contactValidation}}
          @onSubmit={{action this.sendAction}}
          as |f|>
    <Modal.body>
      {{#if @isInactive}}
        <ChNotice @type="danger" @icon="exclamation" @title="{{@callsign}} is inactive">
          The person has not worked as a Ranger for three or more years. Their email address
          registered with the Clubhouse might be out of date.
        </ChNotice>
      {{/if}}

      Please note the following:
      <ol>
        <li>Be civil, courteous, and polite.</li>
        <li>The message will be emailed and the return address set to "do-not-reply@burningman.org".</li>
        <li>All messages sent through this page are recorded.</li>
        <li>Message delivery is NOT guaranteed. The Ranger may have
          an outdated email address registered with the Clubhouse, or the message
          may end up in their spam folder.
        </li>
        <li>The Ranger you wish to contact may choose to not respond. Please
          respect their choice.
        </li>
        <li><strong>INCLUDE YOUR CONTACT EMAIL ADDRESS IN THE MESSAGE.</strong> The Clubhouse
          will not include your email address automatically.
        </li>
      </ol>

      <FormRow>
        <f.textarea @name="message"
                    @label="Enter your contact message to {{@callsign}}:"
                    @rows={{10}}
                    @cols={{80}}
        />
      </FormRow>
    </Modal.body>
    <Modal.footer @noAlign=true>
      <f.submit @label={{if this.isSending "Sending" "Send Message"}} @disabled={{this.isSending}} />
      <UiCancelButton @disabled={{this.isSending}} @onClick={{this.cancelAction}}/>
      {{#if this.isSending}}
        <LoadingIndicator/>
      {{/if}}
    </Modal.footer>
  </ChForm>
</ModalDialog>
