<div class="float-end">
  <a href {{action this.toggleShow}}>{{if this.show "Hide" "Show"}}  debug controls</a>
</div>
{{#if this.show}}
  <ChForm @formId="milestone" @formFor={{@milestones}} @changeSet={{false}} @onSubmit={{@update}}
          @onFormChange={{@update}} as |f|>
    <FormRow>
      <FormLabel @auto={{true}}>Period</FormLabel>
      <div class="col-auto">
        <f.select @name="period" @options={{this.periodOpts}}/>
      </div>
      <FormLabel @auto={{true}}>Photo</FormLabel>
      <div class="col-auto mt-2">
        <Input @type="checkbox" @checked={{@photo.upload_enabled}}/> Upload enabled
      </div>
      <div class="col-auto">
        <ChForm::Select @name="photo_status" @value={{@photo.photo_status}} @options={{this.photoOpts}}
                        @onChange={{this.updatePhotoStatus}}/>
      </div>
    </FormRow>
    <FormRow>
      <FormLabel @auto={{true}}>Online Training</FormLabel>
      <div class="col-auto mt-2">
        <f.checkbox @name="online_training_enabled" @label="Enabled"/>
        <f.checkbox @name="online_training_passed" @label="Passed"/>
      </div>
    </FormRow>
    <FormRow>
      <FormLabel @auto={{true}}>Training</FormLabel>
      <div class="col-auto mt-2">
        <f.checkbox @name="trainings_available" @label="Trainings available"/>
        <f.checkbox @name="is_trainer" @label="Is Trainer" @onChange={{this.setIsTrainer}}/>
      </div>
      <div class="col-auto">
        <button type="button" {{action this.setTraining "no-shift"}}>
          Missing
        </button>
        <button type="button" {{action this.setTraining "pending"}}>
          Pending
        </button>
        <button type="button" {{action this.setTraining "fail"}}>
          Failed
        </button>
        <button type="button" {{action this.setTraining "pass"}}>
          Passed
        </button>
      </div>
      <div class="col-auto">
        <button type="button" {{action this.setFullDay true}}>Needs Full Day</button>
        <button type="button" {{action this.setFullDay false}}>Only Half Day</button>
      </div>
    </FormRow>
    <FormRow>
      <FormLabel @auto={{true}}>ART</FormLabel>
      <div class="col-auto">
        <button type="button" {{action this.setARTs "none"}}>
          None
        </button>
        <button type="button" {{action this.setARTs "no-shift"}}>
          Missing
        </button>
        <button type="button" {{action this.setARTs "pending"}}>
          Pending
        </button>
        <button type="button" {{action this.setARTs "fail"}}>
          Failed
        </button>
        <button type="button" {{action this.setARTs "pass"}}>
          Passed
        </button>
      </div>
    </FormRow>
    <FormRow>
      <FormLabel @auto={{true}}>Surveys</FormLabel>
      <div class="col-auto">
        <button type="button" {{action this.setSurveys}}>Set Student</button>
        <button type="button" {{action this.clearSurveys}}>Clear Student</button>
        <button type="button" {{action this.setTrainerSurveys}}>Set Trainers</button>
        <button type="button" {{action this.clearTrainerSurveys}}>Clear Trainers</button>
      </div>
    </FormRow>

    <FormRow>
      <FormLabel @auto={{true}}>Shifts</FormLabel>
      <div class="col-auto mt-2">
        <f.checkbox @name="dirt_shifts_available" @label="Dirt Shifts Available"/>
        <f.checkbox @name="burn_weekend_available" @label="Burn Shifts Available"/>
        <f.checkbox @name="burn_weekend_signup" @label="Have Burn Shift Signup"/>
      </div>
      <FormLabel @auto={{true}}>Shift Sign Up Count</FormLabel>
      <div class="col-auto">
        <button type="button" {{action this.setShiftSignups 0}}>0</button>
        <button type="button" {{action this.setShiftSignups 1}}>1</button>
        <button type="button" {{action this.setShiftSignups 2}}>2</button>
      </div>
    </FormRow>

    <FormRow>
      <FormLabel @auto={{true}}>Cheetah Cub</FormLabel>
      <div class="col-auto">
        <f.checkbox @name="is_cheetah_cub" @label="Is Cub" @onChange={{this.setCheetahCub}}/>
      </div>
      <FormLabel @auto={{true}}> Shift</FormLabel>
      <div class="col-auto">
        <button type="button" {{action this.setCheetahCubShift true}}>Add</button>
        <button type="button" {{action this.setCheetahCubShift false}}>Remove</button>
      </div>
    </FormRow>
    <FormRow>
      <FormLabel @auto={{true}}>Ticketing</FormLabel>
      <f.select @name="ticketing_period"
                @options={{this.ticketingPeriodOpts}}
                @onChange={{this.updateTicketingPeriod}}/>
      <FormLabel @auto={{true}}>Packages</FormLabel>
      <div class="col-auto">
        <button type="button" {{action this.setTicketPackage "claimed"}}>
          Claimed
        </button>
        <button type="button" {{action this.setTicketPackage "qualified"}}>
          Qualified
        </button>
        <button type="button" {{action this.setTicketPackage "banked"}}>
          Banked
        </button>
      </div>
    </FormRow>
    <FormRow>
      <FormLabel @auto={{true}}>Timesheets</FormLabel>
      <div class="col-auto mt-2">
        <f.checkbox @name="did_work" @label="Did Work"/>
      </div>
      <FormLabel @auto={{true}}>Unverified Timesheets</FormLabel>
      <div class="col-auto mt-2">
        <button type="button" {{action this.setUnverifiedTS 0}}>0</button>
        <button type="button" {{action this.setUnverifiedTS 1}}>1</button>
        <button type="button" {{action this.setUnverifiedTS 2}}>2</button>
      </div>
      <div class="col-auto mt-2">
        <f.checkbox @name="timesheet_confirmed" @label="Final Confirmation"/>
      </div>
    </FormRow>
    <FormRow>
      <FormLabel @auto={{true}}>Agreements</FormLabel>
      <div class="col-auto mt-2">
        <f.checkbox @name="motorpool_agreement_available" @label="Motorpool Available"
        />
        <f.checkbox @name="motorpool_agreement_signed" @label="Motorpool Signed"
        />
        <f.checkbox @name="asset_authorized" @label="Radio Checkout Agreement"
        />
        <f.checkbox @name="vehicle_requests_allowed" @label="Vehicle Requests Allowed"

                    @onChange={{this.updateVehicleRequests}}/>
      </div>
      <div class="col-auto">
        <button type="button" {{action this.setVehicleRequests
                                       "missing"}}>Missing
        </button>
        <button type="button" {{action this.setVehicleRequests
                                       "pending"}}>Submit
        </button>
        <button type="button" {{action this.setVehicleRequests
                                       "approved"}}>Approved
        </button>
        <button type="button" {{action this.setVehicleRequests
                                       "rejected"}}>Denied
        </button>
      </div>
    </FormRow>
    <FormRow>
      <FormLabel @auto={{true}}>Misc</FormLabel>
      <div class="col-auto mt-2">
        <f.checkbox @name="behavioral_agreement" @label="Behavioral agreement signed"
        />
        <f.checkbox @name="missing_bpguid" @label="Missing BPGUID"/>
      </div>
    </FormRow>
  </ChForm>
{{/if}}