<div class="homepage-title">Clubhouse Ranger Dashboard</div>
{{#if @person.unread_message_count}}
  <p>
    <LinkTo @route="me.messages">
      {{fa-icon "envelope" color="success"}} You have {{pluralize @person.unread_message_count "unread message"}}.
    </LinkTo>
  </p>
{{/if}}

<p>
  {{#if @person.isEchelon}}
    Hello Volunteer {{@person.callsign}}.
    {{#if @person.years_as_ranger}}
      Thank you for volunteering with the Rangers for {{pluralize @person.years_as_ranger.length "year"}}.
    {{else}}
      Thank you for helping the Rangers.
    {{/if}}
  {{else}}
    Hello Ranger {{@person.callsign}}, thank you for {{this.serviceInfo}}.
  {{/if}}
</p>

<p>
  Need help? <a href="#contacts">Jump to the contact section</a> below to see who to email.
</p>

<DashboardPasswordReminder/>
{{#unless this.isAfterEvent}}
  <h5>Check back often. The dashboard may have additional steps for you to do leading up to the start of the event.</h5>
{{/unless}}

<div class="dashboard-box">
  {{#if @motds}}
    <DashboardMotd @motds={{@motds}} />
  {{/if}}
  {{#each this.stepGroups as |group idx|}}
    <DashboardGroup @title={{group.title}}
                    @isActive={{eq idx 0}}
                    @isUrgent={{group.isUrgent}}
                    @hasTopArrow={{or @motds idx}}
                    @hasBottomArrow={{not group.isLast}}
                    @includeSidePhoto={{eq idx 0}}
                    @photo={{@photo}}
                    @person={{@person}}
                    @uploadAction={{@uploadAction}}
    >
      {{#each group.steps as |step|}}
        <DashboardStep @step={{step}} @isActive={{step.isActive}} @isNotUser={{this.isNotUser}}
                       @showBehaviorAgreementAction={{@showBehaviorAgreementAction}}
                       @photo={{@photo}} @person={{@person}} @uploadAction={{@uploadAction}}
                       @milestones={{@milestones}}
        />
      {{/each}}
    </DashboardGroup>
  {{/each}}
  <DashboardLinks @milestones={{@milestones}} />
</div>
