<div class="homepage-title">Clubhouse Onboarding Checklist</div>
<p>
  {{#if (eq @person.status "bonked")}}
    Hello {{@person.callsign}}.
  {{else}}
    Hello Prospective Ranger {{@person.callsign}}.
  {{/if}}
</p>
{{#if this.haveUrgentActions}}
  <p>
    <b class="text-danger">{{fa-icon "exclamation-circle" size="2x"}} There are one or more URGENT items that need your
      attention.</b>
  </p>
{{else if this.haveActions}}
  <p>
    <h4>{{fa-icon "exclamation-circle" type="fas"}} There are one or more items that need your attention.</h4>
  </p>
{{else if this.haveWaiting}}
  <p>
    {{fa-icon "hourglass-half" size="2x"}} You're not done, however there is nothing to be done in the Clubhouse right
    now. Please check back as indicated below.
  </p>
{{/if}}
<p>
  <b>Questions?</b> Contact the Volunteer Coordinators at {{vc-email}}
</p>

<div class="dashboard-box">
  {{#if @motds}}
    <DashboardMotd @motds={{@motds}} />
  {{/if}}

  {{#each this.stepGroups as |group idx|}}
    <DashboardGroup @title={{group.title}}
                    @isActive={{group.isActive}}
                    @hasTopArrow={{or @motds (gt idx 0)}}
                    @hasBottomArrow={{not group.isLast}}>
      {{#each group.steps as |step stepIdx|}}
      {{!
         On larger screens (aka desktop/tablets) float the photo on the right within the first step group
         On smaller screens the photo is shown below the photo step.
       }}
        <DashboardStep @step={{step}}
                       @isActive={{and step.isActive group.isActive}}
                       @showBehaviorAgreementAction={{@showBehaviorAgreementAction}}
                       @includePhoto={{or
                (and (not this.session.isSmallScreen)  (eq idx 0) (eq stepIdx 0))
                (and step.isPhotoStep this.session.isSmallScreen)}}
                       @isNotUser={{this.isNotUser}}
                       @photoPosition={{if (and (not this.session.isSmallScreen) (eq idx 0)) "above" "inside"}}
                       @photo={{@photo}} @person={{@person}} @uploadAction={{@uploadAction}}
        />
      {{/each}}
    </DashboardGroup>
  {{/each}}
  <DashboardLinks @isPNV={{true}} />
</div>

