<h2 id="homepage-title">Clubhouse Auditor Checklist</h2>
<p>
  Hello Auditor {{@person.first_name}}! Your Clubhouse handle is {{@person.callsign}}.
</p>

<div class="dashboard-box">
  {{#if @motds}}
    <DashboardMotd @motds={{@motds}} />
  {{/if}}
  <DashboardGroup @title="Complete the Checklist" @isActive={{true}} @hasTopArrow={{not (is-empty @motds)}} >
    <div class="dashboard-step-row dashboard-step-active">
      <div class="dashboard-step-title">
        <div class="dashboard-icon">
          <DashboardIcon @result="note"/>
        </div>
        As an auditor, take note of the following:
      </div>
      <div class="dashboard-step-description">
        {{#if this.isOffSeason}}
          <p>
            This is the off season and trainings will not
            be available until April. Check back in March when the training schedule is posted.
          </p>
        {{/if}}
        <p>
          <b class="text-danger">You are NOT on a path to becoming a Black Rock Ranger.</b>
        </p>
        <p>
          Visit
          <a href="https://rangers.burningman.org/becoming-a-ranger/" target="_blank" rel="noopener noreferrer">
            Becoming a Ranger
          </a>
          to read about the Ranger volunteer requirements and qualifications.
        </p>
        <p>
          You can sign up to participate in a ranger training to get a better understanding of what Black Rock
          Rangers do.
        </p>
        <p>
          Your Clubhouse handle, {{@person.callsign}}, is your last name, first initial, and the year.
          Auditors are not allowed to choose their own handles. Black Rock Ranger handles are only assigned
          as part of the ranger onboarding  process.
        </p>

      </div>
    </div>
    {{#each this.steps as |step|}}
      <DashboardStep @step={{step}}
                     @isActive={{step.isActive}}
                     @showBehaviorAgreementAction={{@showBehaviorAgreementAction}}
      />
    {{/each}}
  </DashboardGroup>
  <DashboardLinks @isPNV={{true}} />
</div>

