<div class="homepage-title">Clubhouse Onboarding Checklist</div>
{{#if @motds}}
  <DashboardMotd @motds={{@motds}} />
{{/if}}

<p>
  {{#if (eq @person.status "bonked")}}
    Hello {{@person.callsign}}.
  {{else}}
    Hello {{if @person.isProspective "Prospective Ranger" "Alpha"}} {{@person.callsign}}.
  {{/if}}
</p>
{{#if this.haveUrgentActions}}
  <UiAlert @type="danger" @icon="exclamation-circle" class="mb-2">
    There are one or more URGENT items that need your attention.
  </UiAlert>
{{else if this.haveWaiting}}
  <UiAlert @type="secondary" @icon="hourglass-half" class="mb-2">
    You're not done, however there is nothing to be done in the Clubhouse right now. Please check back as indicated
    below.
  </UiAlert>
{{/if}}
<p>
  <b>Questions?</b> Contact the Volunteer Coordinators at
  <VcEmail/>
</p>
<p>
  <b>Need to drop your application?</b> Reach out to the Volunteer Coordinators at the email address above. Please note,
  Ranger applications <span class="text-danger">DO NOT roll over</span> to the next year. A new application must be
  submitted.
</p>
<DashboardPasswordReminder/>

<div class="dashboard-box">

  {{#each this.stepGroups as |group idx|}}
    <DashboardGroup @title={{group.title}}
                    @isActive={{group.isActive}}
                    @hasBottomArrow={{not group.isLast}}>
      {{#each group.steps as |step stepIdx|}}
      {{!
         On larger screens (aka desktop/tablets) float the photo on the right within the first step group
         On smaller screens the photo is shown below the photo step.
       }}
        <DashboardStep @step={{step}}
                       @isActive={{and step.isActive group.isActive}}
                       @showBehaviorAgreementAction={{@showBehaviorAgreementAction}}
                       @includePhoto={{and (eq stepIdx 0) group.includePhotoStep}}
                       @isNotUser={{this.isNotUser}}
                       @photoPosition={{if (and (not this.session.isSmallScreen) (eq idx 0)) "above" "inside"}}
                       @photo={{@photo}} @person={{@person}} @uploadAction={{@uploadAction}}
                       @milestones={{@milestones}}
        />
      {{/each}}
    </DashboardGroup>
  {{/each}}
  <DashboardLinks @milestones={{@milestones}} />
</div>

