{{#if (eq @photo.photo_status "missing")}}
  <ChBox @title="Your Photo Is Needed" @type="warning">
    <p>
      {{fa-icon "exclamation-triangle" size="2x"}} You need to upload a photo
      {{#if @person.isNonRanger}}
        to schedule shifts in Clubhouse.
      {{else}}
        for your Burning Man ID badge.
      {{/if}}
    </p>
    <p>
      Note that you will <span class="text-danger">not be able to sign up for shifts</span>
      until you have an approved Clubhouse photo. Usually photos are approved within 2 to 3 days.
    </p>
  </ChBox>
{{else if (eq @photo.photo_status "rejected")}}
  <ChAlert @type="danger">
    {{fa-icon "times" size="2x"}} <strong>Your photo has been rejected.</strong> A new one will need to be submitted.
    <p>
      The following reason(s) are why the photo was rejected:
    </p>
    <ul>
      {{#each @photo.rejections as |reason|}}
        <li>{{reason}}</li>
      {{/each}}
    </ul>
    For a full list of photo requirements, please see <a target="_blank" rel="noopener" href="https://docs.google.com/document/d/1hUqrJwdMG6XB5nk7Eh8nY2GH4uvAFTppmCKCmfidIvQ/edit?usp=sharing">this helpful document.</a>.
  </ChAlert>
{{/if}}

<PersonPhoto @photo={{@photo}} @person={{@person}} @uploadAction={{@uploadAction}} />

<div class="mt-1 mb-1">
  {{#if (lte @person.years.length 1)}}
    Hello Shiny Penny! Congratulations on becoming a Ranger.
  {{else}}
    Hello {{#if @person.vintage}}Vintage{{/if}} Ranger! You have Rangered at {{pluralize @person.years.length "burn"}}.
  {{/if}}
</div>

<div class="mt-1 mb-2">Thank for stopping by. There are a few things to do here:</div>

<dl>
  <dt>Verify Your Personal Info</dt>
  <dd>
    Look in the Me menu in the top navigation bar or sidebar menu for <LinkTo @route="me.personal-info">Personal Info</LinkTo>
    to edit your address, email address, phone numbers, etc.
    <p class="mt-2">
      We'd really appreciate it if you'd make sure your phone numbers,
      emergency contacts, languages, and shirt size info are all up to date!
    </p>
  </dd>

  <dt>Current Schedule & Shift Signups</dt>
  <dd>
    {{#if @person.isRanger}}
      Signup for training and shifts:
    {{else}}
      Signup for shifts:
    {{/if}}

    <LinkTo @route="me.schedule">Schedule / Sign Up</LinkTo>

    <ul class="mt-2">
      {{#unless @person.isNonRanger}}
        <li>Training shifts start getting posted in April.</li>
      {{/unless}}

      {{#if (and (not @person.isNonRanger) @person.canSignupForShifts)}}
        <li>
          Ranger shifts start getting posted in June. You <strong>do not</strong> have to be
          trained to sign up for shifts, but you <strong>must</strong> be trained before
          actually working shifts on playa.
        </li>
      {{/if}}
    </ul>
  </dd>

  {{#if @person.isRanger}}
    <dt>Tickets, Staff Credientals, Vehicle &amp; Work Passes</dt>
    <dd>
      <LinkTo @route="me.tickets">Tickets &amp; Stuff</LinkTo> is the place
      to claim staff credentials, reduced-price tickets, vehicle passes,
      and work access passes.
    </dd>

    <dt>Timesheets</dt>
    <dd>
      Check that your timesheet is accurate: your timesheet is located in
      <LinkTo @route="me.timesheet">Timesheets</LinkTo>
    </dd>

    <dt>Radio Checkout Form</dt>
    <dd>
      Rangers must complete the Rangers Radio Checkout Form
      before being issued a radio. Radio forms are available at Ranger HQ or
      the form can be printed and filled out in advance. The form is located here:
      <a href="{{config "RadioCheckoutFormUrl"}}" target="_blank" rel="noopener">Rangers Radio Checkout Form</a>
    </dd>

    {{#if (config "MotorpoolPolicyEnable")}}
      <dt>Motorpool Agreement</dt>
      <dd>
        Complete your Ranger Motorpool Policy acknowledgement. Any Ranger operating
        any type of vehicle for Ranger business at Burning Man must agree to the
        Ranger Motorpool Policy by reading and filling out the acknowledgment form
        located here:
        <LinkTo @route="me.motorpool-policy">Motorpool Policy</LinkTo>
      </dd>
    {{/if}}

    {{#if (config "RangerFeedbackFormUrl")}}
      <dt>Ranger Feedback</dt>
      <dd>
        Did you have a (positive or negative) interaction on- or off-playa with a fellow Ranger?
        Let us know by filling out the Ranger Feedback Form located here:
        <a href="{{config "RangerFeedbackFormUrl"}}" target="_blank" rel="noopener">Ranger Feedback Form</a>
        (opens in a new window)
      </dd>
    {{/if}}

    <dt>Ranger Policies</dt>
    <dd>Peruse our
      <a href="{{config "RangerPoliciesUrl"}}" target="_blank" rel="noopener">Ranger policies</a> (opens in a new window)
    </dd>

    <dt>Get Involved More With Special Groups</dt>
    <dd>
      Learn how to <a href="{{config "JoiningRangerSpecialTeamsUrl"}}" target="_blank" rel="noopener">join Ranger special teams</a> (opens in a new window)
    </dd>
  {{/if}}
</dl>
