<div class="homepage-title">Clubhouse Ranger Dashboard</div>
{{#if @person.unread_message_count}}
  <p>
    <LinkTo @route="me.messages">
      {{fa-icon "envelope" color="success"}} You have {{pluralize @person.unread_message_count "unread message"}}.
    </LinkTo>
  </p>
{{/if}}

<p>
  {{#if @person.isNonRanger}}
    Hello Volunteer {{@person.callsign}}. Thank you for helping the Rangers.
  {{else}}
    Hello Ranger {{@person.callsign}}, thank you for
    {{#if @person.years.length}}
      rangering {{pluralize @person.years.length "burn"}}.
    {{else}}
      stopping by.
    {{/if}}
  {{/if}}
</p>

<div class="dashboard-box">
  {{#if @motds}}
    <DashboardMotd @motds={{@motds}} />
  {{/if}}
  {{#each this.stepGroups as |group idx|}}
    <DashboardGroup @title={{group.title}}
                    @isActive={{eq idx 0}}
                    @hasTopArrow={{or @motds idx}}
                    @hasBottomArrow={{not group.isLast}}
                    @includeSidePhoto={{eq idx 0}}
                    @photo={{@photo}} @person={{@person}} @uploadAction={{@uploadAction}}
    >
      {{#each group.steps as |step|}}
        <DashboardStep @step={{step}} @isActive={{step.isActive}} @isNotUser={{this.isNotUser}}
                       @showBehaviorAgreementAction={{@showBehaviorAgreementAction}}
                       @photo={{@photo}} @person={{@person}} @uploadAction={{@uploadAction}}
                       @milestones={{@milestones}}
        />
      {{/each}}
    </DashboardGroup>
  {{/each}}
  <DashboardLinks/>
</div>
