{{#if (and @includePhoto (eq @photoPosition "above"))}}
  <PersonPhoto @photo={{@photo}} @person={{@person}} @uploadAction={{@uploadAction}}
               @containerClass="ms-2 float-lg-right"/>
{{/if}}
<div class="dashboard-step-row {{if @isActive "dashboard-step-active"}}">
  <div class="dashboard-step-title">
    <div class="dashboard-icon">
      <DashboardIcon @result={{@step.result}} />
    </div>
    {{!
    [[#if (and @step.isBehavioralAgreement (not-eq @step.result "completed"))]]
  <a href [[on "click" @showBehaviorAgreementAction]]>[@step.name]</a>
    else if (or @step.route @step.linkedMessage.route)
      <LinkTo @route=[[or @step.route @step.linkedMessage.route]] disabled=[[@isNotUser]]>
        [[@step.name]]
      </LinkTo>
      }}
    {{#if (or (eq @step.result "blocked") (eq @step.result "urgent"))}}
      <span class="text-danger">{{@step.name}}</span>
    {{else}}
      {{@step.name}}
    {{/if}}
  </div>
  <div class="dashboard-step-description">
    {{#if (eq @step.result "completed")}}
      Completed.
    {{/if}}
    {{#if @step.message}}
      {{@step.message}}
    {{/if}}
    {{#if @step.linkedMessage}}
      {{@step.linkedMessage.prefix}}
      <LinkTo @route={{@step.linkedMessage.route}} disabled={{@isNotUser}}>{{@step.linkedMessage.text}}</LinkTo>
      {{@step.linkedMessage.suffix}}
    {{/if}}
    {{#if @step.isOnlineTraining}}
      <p>
        <OnlineTrainingLaunch @text="Launch online training"
                              @person={{@person}}
                              @url={{@milestones.online_training_url}} />
      </p>
    {{/if}}

    {{#if @step.isPhotoStep}}
      {{#if @photo.upload_enabled}}
        <a href {{on "click" @uploadAction}}>Submit a headshot</a>
        to use on a BMID.
      {{else}}
        Unfortunately, photo uploading is currently disabled.
      {{/if}}
    {{/if}}

    {{#if @step.arts}}
      <DashboardArts @step={{@step}} />
    {{/if}}

    {{#if @step.email}}
      <div>{{mail-to @step.email}}</div>
    {{/if}}

    {{#if @step.survey}}
      {{#if (eq @step.survey "student")}}
        {{#each @milestones.surveys.sessions as |slot|}}
          <p class="my-1">
            <LinkTo @route="me.survey" @query={{hash slot_id=slot.id type="training"}} disabled={{@isNotUser}}>
              {{slot.position_title}} - {{slot.description}} {{shift-format slot.begins}}
            </LinkTo>
          </p>
        {{/each}}
      {{else}}
        {{#each @milestones.surveys.trainers as |slot|}}
          <p class="my-1">
            <LinkTo @route="me.survey" @query={{hash slot_id=slot.id type="trainer"}} disabled={{@isNotUser}}>
              {{slot.position_title}} - {{slot.description}} {{shift-format slot.begins}}
            </LinkTo>
            {{#each slot.trainers as |trainer idx|}}
              {{~if idx ", "}}{{trainer.callsign}}
            {{~/each}}
          </p>
        {{/each}}
      {{/if}}
    {{/if}}

    {{#if @step.isMissingBpguid}}
      <PersonMissingBpguid/>
    {{/if}}
    {{#if @step.isTicketing}}
      <DashboardStepTicketing @step={{@step}} @isNotUser={{@isNotUser}} />
    {{/if}}
  </div>
  {{#if (and @includePhoto (eq @photoPosition "inside"))}}
    <PersonPhoto @photo={{@photo}} @person={{@person}} @uploadAction={{@uploadAction}} />
  {{/if}}
</div>
