<div class="homepage-title">Clubhouse Auditor Checklist</div>
<p>
  Hello Auditor {{or @person.desired_first_name @person.first_name}}. Your Clubhouse handle is {{@person.callsign}}.
</p>
<p>
  <b>Questions?</b> Contact the Volunteer Coordinators at <VcEmail />
</p>

<div class="dashboard-box">
  {{#if @motds}}
    <DashboardMotd @motds={{@motds}} />
  {{/if}}
  <DashboardGroup @title="Complete the Checklist" @isActive={{true}} @hasTopArrow={{not (is-empty @motds)}} >
    <div class="dashboard-step-row dashboard-step-active">
      <div class="dashboard-step-title">
        <div class="dashboard-icon">
          <DashboardIcon @result="note"/>
        </div>
        As an auditor, take note of the following:
      </div>
      <div class="dashboard-step-description">
        {{#if this.isOffSeason}}
          <p>
            This is the off season and trainings will not
            be available until April. Check back in March when the training schedule is posted.
          </p>
        {{/if}}
        <p>
          <b class="text-danger">You are NOT on a path to becoming a Black Rock Ranger.</b>
        </p>
        <p>
          Visit
          <ExtLink @href="https://rangers.burningman.org/becoming-a-ranger/">
            Becoming a Ranger
          </ExtLink>
          to read about the Ranger volunteer requirements and qualifications.
        </p>
        <p>
          You can sign up to participate in a ranger training to get a better understanding of what Black Rock
          Rangers do.
        </p>
        <p>
          Your Clubhouse handle, {{@person.callsign}}, is your last name, first initial, and the year.
          Auditors are not allowed to choose their own handles.
        </p>

      </div>
    </div>
    {{#each this.steps as |step|}}
      <DashboardStep @step={{step}}
                     @isActive={{step.isActive}}
                     @isNotUser={{this.isNotUser}}
                     @showBehaviorAgreementAction={{@showBehaviorAgreementAction}}
                     @person={{@person}}
                     @milestones={{@milestones}} />
    {{/each}}
  </DashboardGroup>
  <DashboardLinks @isPNV={{true}} />
</div>

