<UiSection id={{if @sectionId (concat "section-" @sectionId)}}>
  <:title>
    <div class="d-flex flex-row {{unless @editButtonNoRightAlign "justify-content-between"}}">
      <div>
        {{yield to="title"}}
      </div>
      <div class="{{if @editButtonNoRightAlign "ms-4"}}">
        {{#if this.isEditing}}
          <UiButton @onClick={{this.cancelEdit}} @type="secondary" @size="sm">
            Cancel
          </UiButton>
        {{else}}
          <UiButton @onClick={{this.editAction}} @type="secondary" @size="sm">
            {{fa-icon "edit" right=1}} Edit
          </UiButton>
        {{/if}}
      </div>
    </div>
  </:title>
  <:body>
    {{#if this.isEditing}}
      {{#if @formFor}}
        <ChForm @formId={{@formId}}
                @formFor={{@formFor}}
                @autocomplete="on"
                @validator={{@validator}}
                @onSubmit={{this.onSubmit}}
                @onFormInit={{@onFormInit}}
                as |f|>
          {{yield f to="edit"}}
          <div class="mt-4">
            <f.submit/>
            <UiCancelButton @onClick={{this.cancelEdit}} />
          </div>
        </ChForm>
      {{else}}
        {{yield this.cancelEdit to="edit"}}
      {{/if}}
    {{else}}
      {{yield to="view"}}
    {{/if}}
  </:body>
</UiSection>
