<UiSection id={{if @sectionId (concat "section-" @sectionId)}}>
  <:title>
    {{yield to="title"}}
  </:title>
  <:actions>
    {{#if this.isEditing}}
      <UiCancelButton @onClick={{this.cancelEdit}} @type="gray" @size="sm"/>
    {{else}}
      <UiEditButton @onClick={{this.editAction}} @type="secondary" @size="sm"/>
    {{/if}}
  </:actions>
  <:body>
    {{#if this.isEditing}}
      {{#if @formFor}}
        <ChForm @formId={{@formId}}
                @formFor={{@formFor}}
                @autocomplete="on"
                @validator={{@validator}}
                @onSubmit={{this.onSubmit}}
                @onFormInit={{@onFormInit}}
                as |f|>
          {{yield f to="edit"}}
          <div class="mt-4">
            <f.submit/>
            <UiCancelButton @onClick={{this.cancelEdit}} />
          </div>
        </ChForm>
      {{else}}
        {{yield this.cancelEdit to="edit"}}
      {{/if}}
    {{else}}
      {{yield to="view"}}
    {{/if}}
  </:body>
</UiSection>
