<div class="mt-2">
  <UiButton @type="secondary" @size="sm" @onClick={{this.copyToClipboardAction}}>
    Copy {{pluralize @people.length "email"}} to clipboard
  </UiButton>
</div>
{{#if this.showWarning}}
  <PersonalInfoWarning />
{{/if}}
<div id={{this.listId}} class="mt-2" {{on-insert this.elementInserted}}>
  {{~#each @people as |person idx|~}}
    {{~#if idx}},<br>{{/if}}"{{person.callsign}}" &lt;{{person.email}}&gt;
  {{~/each~}}
</div>
