<a href {{on "click" this.clickHelp}} class="popover-button">
  {{fa-icon "question-circle"}}{{#if @label}} {{@label}}{{/if~}}
  <BsPopover @title={{if this.isLoading "Loading Help" this.title}} as |po|>
    {{#if this.isLoading}}
      <LoadingIndicator @text="Loading help. Stand by."/>
    {{else if this.body}}
      {{nl2br this.body allowHtml=true}}
    {{else}}
      <p>
        Ooops! Looks like we forgot to write some help for this.
      </p>
      <p>
        help id=[{{@slug}}]
      </p>
    {{/if}}
    <div class="popover-footer">
      {{#if (has-role "admin")}}
        {{#if this.body}}
          <LinkTo @route="admin.help" @query={{hash editSlug=@slug}} class="btn btn-secondary btn-sm">Edit Help</LinkTo>
        {{else}}
          <LinkTo @route="admin.help" @query={{hash createSlug=@slug}} class="btn btn-secondary btn-sm">
            Create Help
          </LinkTo>
        {{/if}}
      {{/if}}
      <UiCloseButton @onClick={{po.close}} />
    </div>
  </BsPopover>
</a>
