<p>
  The estimated hours and credits are based on the shifts already worked,
  plus the possible hours and credits earned from upcoming shifts signed up
  for.
</p>
<div class="row">
  <div class="col-6">
    <table class="table-hover table-striped">
      <caption>Credits Breakdown</caption>
      <tbody>
      <tr>
        <th>Total Earned Credits</th>
        <td class="text-right">{{credits-format @timesheetSummary.total_credits}}</td>
      </tr>
      <tr>
        <td colspan="2" class="pb-3">
          How many credits have been earned (worked) so far that count towards reduced-price tickets and staff
          credentials.
        </td>
      </tr>
      <tr>
        <th>Estimated Credits</th>
        <td class="text-right">{{credits-format @creditsExpected}}</td>
      </tr>
      <tr>
        <td colspan="2" class="pb-3">
          Calculated total credits that might be received based on the credits earned so far
          and what upcoming shifts the person is signed up for.
        </td>
      </tr>
      <tr>
        <th>Earned Pre-Event Credits</th>
        <td class="text-right">{{credits-format @timesheetSummary.pre_event_credits}}</td>
      </tr>
      <tr>
        <td colspan="2" class="pb-3">How many credits have been earned in the pre-event period (before gate
          open).
        </td>
      </tr>
      <tr>
        <th>Earned Event Week Credits</th>
        <td class="text-right">{{credits-format @timesheetSummary.event_credits}}</td>
      </tr>
      <tr>
        <td colspan="2" class="pb-3">Credits have been earned during the event week (gate open thru Labor Day)
        </td>
      </tr>
      <tr>
        <th>Earned Post-Event Credits</th>
        <td class="text-right">{{credits-format @timesheetSummary.post_event_credits}}</td>
      </tr>
      <tr>
        <td colspan="2" class="pb-3">Credits have been earned during the post-event week (after Labor Day)</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <table class="table-hover table-striped">
      <caption>Hours Breakdown</caption>
      <tbody>
      <tr>
        <th>Total Appreciations Hours</th>
        <td class="text-right">{{hour-minute-format @timesheetSummary.counted_duration}}</td>
      </tr>
      <tr>
        <td colspan="2" class="pb-3">
          The total number of hours which count towards appreciations such as t-shirts, all-you-eat
          passes, and shower pogs.
        </td>
      </tr>
      <tr>
        <th>Total Estimated Appreciated Hours</th>
        <td class="text-right">{{hour-minute-format @countedDurationExpected}}</td>
      </tr>
      <tr>
        <td colspan="2" class="pb-3">
          Calculated total hours which count towards appreciations that might be received based on
          the hours worked so far and what upcoming shifts the person is signed up for.
        </td>
      </tr>
      <tr>
        <th>Total Hours</th>
        <td class="text-right">{{hour-minute-format @timesheetSummary.total_duration}}</td>
      </tr>
      <tr>
        <td colspan="2" class="pb-3">
          The total number of hours worked so far that include appreciated and non-appreciated hours.
        </td>
      </tr>
      <tr>
        <th>Pre-Event Hours</th>
        <td class="text-right">
          {{hour-minute-format @timesheetSummary.pre_event_duration}}
        </td>
      </tr>
      <tr>
        <td colspan="2" class="pb-3">How many hours have been worked in the pre-event period (before gate open).
        </td>
      </tr>
      <tr>
        <th>Event Week Hours</th>
        <td class="text-right">{{hour-minute-format @timesheetSummary.event_duration}}</td>
      </tr>
      <tr>
        <td colspan="2" class="pb-3">The hours worked during the event week (Gate Open thru Labor Day)</td>
      </tr>
      <tr>
        <th>Post-Event Hours</th>
        <td class="text-right">{{hour-minute-format @timesheetSummary.post_event_duration}}</td>
      </tr>
      <tr>
        <td colspan="2" class="pb-3">The hours have been earned during the post-event week (after Labor Day)
        </td>
      </tr>
      <tr>
        <th>Hours not counted towards appreciations</th>
        <td class="text-right">{{hour-minute-format @timesheetSummary.other_duration}}</td>
      </tr>
      <tr>
        <td colspan="2" class="pb-3">
          Some shifts (trainings, certain on-call positions, etc) have hours which are not counted
          towards appreciations.
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
