{{#if this.mayRequestTwoMealPogs}}
  <div class="alert alert-danger fs-6">
    {{fa-icon "hand-point-right"}} {{@person.callsign}} is on a Mentor shift and may be eligible for TWO meal pogs.
  </div>
{{/if}}

<div class="d-flex flex-wrap">
  <div class="me-4">
    <h4>{{fa-icon "utensils" right=1 fixed=true}} Meals</h4>
     <table class="table table-width-auto">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Event Period</th>
        <th>Pog or has BMID Meal Pass?</th>
      </tr>
      </thead>
      <tbody>
      {{this.periodRow "Pre-Event" "pre"}}
      {{this.periodRow "Event Week" "event"}}
      {{this.periodRow "Post-Event" "post"}}
      </tbody>
    </table>
  </div>
  <div>
    <h4>{{fa-icon "shower" right=1 fixed=true}} Showers</h4>
    <p>
      {{#if @showers}}
        <b class="text-danger">{{fa-icon "ban" right=1 fixed=true}} NO SHOWER POGS</b><br>
        Has Wet Spot Access BMID
      {{else}}
        <span class="text-success">Pog for every 40 hours worked</span>
      {{/if}}
    </p>
    The Wet Spot is located on 5:30 towards the DPW Depot.
  </div>
</div>