{{#if this.isLoading}}
  <LoadingIndicator @text="Loading pogs"/>
{{else}}
  {{#if @endedShiftEntry}}
    <p>
    <div class="fs-5 mb-2">
      The shift <i>{{@endedShiftEntry.position.title}}</i> worked {{shift-format @endedShiftEntry.on_duty @endedShiftEntry.off_duty}} was {{hour-minute-words @endedShiftEntry.duration}}
      in length.
    </div>
    {{#if @endedShiftEntry.isUnverified}}
      <b class="text-danger">
        The timesheet entry is unverified. Review the timesheet entry to ensure the worked shift duration is
        accurate.
      </b>
    {{else if @endedShiftEntry.isPending}}
      <b class="text-danger">
        The timesheet entry has a pending correction. The worked shift duration might be incorrect.
      </b>
    {{/if}}
    </p>
  {{/if}}
  {{#if this.hasMealPass}}
    <UiNotice @icon="hand-point-right" @type="secondary" @title="Has Meal Pass">
      {{@person.callsign}} has a BMID Meal Pass for the {{this.currentPeriodLabel}} period.
    </UiNotice>
   {{else}}
    {{#if this.isMentor}}
      <div class="alert alert-danger fs-6">
        {{fa-icon "hand-point-right" right=1}} {{@person.callsign}} is on a Mentor shift and will receive their meal pogs directly
        from the Mentor Shack.
      </div>
    {{/if}}

    <p>
      <b>For the current event period, issue a Full Meal Pog for every 6+ hours worked in a shift.</b>
      {{#if this.config.meal_half_pog_enabled}}
        <br>
        1/2 Meal Pogs are available for a shift worked less than 6 hours.
      {{/if}}
    </p>
  {{/if}}
  <div class="row mb-2">
    <div class="col-auto">
      <UiButton @onClick={{this.recordFullMealPog}}>
        Record Full Meal Pog
      </UiButton>
    </div>
    {{#if this.config.meal_half_pog_enabled}}
      <div class="col-auto">
        <UiButton @onClick={{this.recordHalfMealPog}}>
          Record &half; Meal Pog
        </UiButton>
      </div>
    {{/if}}
    <div class="col-auto">
      <UiButton @onClick={{this.recordShowerPog}}>
        Record Shower Pog
      </UiButton>
    </div>
  </div>
  Showing {{pluralize this.pogs.length "pog"}}.
  <table class="table table-width-auto table-hover table-stripped">
    <thead>
    <tr>
      <th>Pog</th>
      <th>Status</th>
      <th>Issued On</th>
      <th>Issued By</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.pogs as |pog|}}
      <tr class="align-middle">
        <td>{{pog.pogLabel}}</td>
        <td>
          {{#if (and pog.isHalfMealPog pog.isRedeemed)}}
            Redeemed for Full Meal Pog
          {{else}}
            {{pog.statusLabel}}
          {{/if}}
        </td>
        <td>{{shift-format pog.issued_at}}</td>
        <td>
          <PersonLink @person={{pog.issued_by}} />
        </td>
        <td>
          {{#if (and pog.isHalfMealPog pog.isIssued)}}
            <UiButton @onClick={{fn this.redeemForFullMealPog pog}} @size="sm">
              Redeem for Full Meal Pog
            </UiButton>
          {{else if (not pog.isCancelled)}}
            <UiButton @onClick={{fn this.confirmPogCancel pog}} @size="sm" @type="secondary">
              Cancel
            </UiButton>
          {{else}}
            -
          {{/if}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="5">
          No pogs have been issued yet.
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{/if}}

{{#if this.pogToCancel}}
  <ModalDialog @onEscape={{this.cancelCancelPog}} as |Modal|>
    <ChForm @formId="pog"
            @formFor={{this.pogToCancel}}
            @validator={{this.pogValidations}}
            @onSubmit={{this.saveCancelledPog}} as |f|>
      <Modal.title>Confirm Pog Cancel</Modal.title>
      <Modal.body>
        <p>
          This action is intended to mark a pog record as being accidentally issued.
        </p>
        <p class="text-danger">
          This does NOT actually cancel the physical pog -- just the record in the Clubhouse. The physical pog
          can still be used.
        </p>
        <FormRow>
          <f.textarea @name="notes"
                      @label="Supply a reason on why this pog is being cancelled:"
                      @rows={{2}}
                      @cols={{80}}
          />
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="Cancel {{this.pogToCancel.pogLabel}}"/>
        <UiButton @onClick={{this.cancelCancelPog}} @type="secondary">
          Close Without Pog Cancel
        </UiButton>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}