{{#if this.isLoading}}
  <LoadingIndicator @text="Loading pogs"/>
{{else}}
  {{#if @endedShiftEntry}}
    <p>
    <div class="fs-5 mb-2">
      The shift <i>{{@endedShiftEntry.position.title}}</i> worked
      {{shift-format @endedShiftEntry.on_duty @endedShiftEntry.off_duty}}
      was {{hour-minute-words @endedShiftEntry.duration}} in length.
    </div>
    {{#if @endedShiftEntry.isUnverified}}
      <b class="text-danger">
        The timesheet entry has not been reviewed. Review the timesheet entry to ensure the worked shift duration is
        accurate.
      </b>
    {{else if @endedShiftEntry.isPending}}
      <b class="text-danger">
        The timesheet entry has a pending correction. The worked shift duration might be incorrect.
      </b>
    {{/if}}
    </p>
  {{/if}}
  {{#if this.hasMealPass}}
    <UiNotice @icon="hand-point-right" @type="secondary" @title="Has Meal Pass">
      {{@person.callsign}} has a BMID Meal Pass for the {{this.currentPeriodLabel}} period.
    </UiNotice>
  {{else}}
    {{#if this.isMentor}}
      <UiAlert @type="danger" @icon="hand">
        {{@person.callsign}} is on a Mentor shift and will receive their meal pogs directly from the Mentor Shack.
      </UiAlert>
    {{/if}}
    <p>
      <b>
        For the current event period, issue a {{if this.config.meal_half_pog_enabled "Full"}} Meal Pog for
        every 6+ hours worked in a shift.
      </b>
      {{#if this.config.meal_half_pog_enabled}}
        <br>
        1/2 Meal Pogs are available for a shift worked less than 6 hours.
      {{/if}}
    </p>
  {{/if}}
  <div class="row mb-2">
    <div class="col-auto">
      <UiButton @onClick={{this.recordFullMealPog}}>
        {{#if this.config.meal_half_pog_enabled}}
          Record Full Meal Pog
        {{else}}
          Record Meal Pog
        {{/if}}
      </UiButton>
    </div>
    {{#if this.config.meal_half_pog_enabled}}
      <div class="col-auto">
        <UiButton @onClick={{this.recordHalfMealPog}}>
          Record &half; Meal Pog
        </UiButton>
      </div>
    {{/if}}
    <div class="col-auto">
      <UiButton @onClick={{this.recordShowerPog}}>
        Record Shower Pog
      </UiButton>
    </div>
  </div>
  Showing {{pluralize this.pogs.length "pog"}} recorded.
  <UiTable @normalSize={{true}}>
    <thead>
    <tr>
      <th>Pog</th>
      <th>Status</th>
      <th>Issued On</th>
      <th>Issued By</th>
      <th>Notes</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.pogs as |pog|}}
      <tr class="align-middle">
        <td class="no-wrap">{{pog.pogLabel}}</td>
        <td class="no-wrap">
          {{#if (and pog.isHalfMealPog pog.isRedeemed)}}
            Redeemed for Full Meal Pog
          {{else}}
            {{pog.statusLabel}}
          {{/if}}
        </td>
        <td class="no-wrap">{{shift-format pog.issued_at}}</td>
        <td class="no-wrap">
          <PersonLink @person={{pog.issued_by}} />
        </td>
        <td>
          <PresentOrNot @value={{pog.notes}} @empty="-"/>
        </td>
        <td class="no-wrap">
          {{#if pog.isCancelled}}
            -
          {{else}}
            <UiButton @onClick={{fn this.editPog pog}} @size="sm" @type="secondary">
              Update Note
            </UiButton>
            {{#if (and pog.isHalfMealPog pog.isIssued)}}
              <UiButton @onClick={{fn this.redeemForFullMealPog pog}} @size="sm">
                Redeem for Full Meal Pog
              </UiButton>
            {{else if (not pog.isCancelled)}}
              <UiButton @onClick={{fn this.confirmPogCancel pog}} @size="sm" @type="gray" class="btn-link">
                Cancel
              </UiButton>
            {{/if}}
          {{/if}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="6">
          No pogs have been issued yet.
        </td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
{{/if}}

{{#if this.pogToIssue}}
  <ModalDialog as |Modal|>
    <ChForm @formId="pog"
            @changeSet={{false}}
            @formFor={{this.pogIssueForm}}
            @onSubmit={{this.savePog}} as |f|>
      <Modal.title>Confirm {{this.pogLabel this.pogToIssue}}</Modal.title>
      <Modal.body>
        {{#if this.pogIssueWarnings}}
          <UiAlert @type="danger" @icon="hand">
            Please note the following:
            <ul>
              {{#each this.pogIssueWarnings as |warning|}}
                <li class="text-danger">{{warning}}</li>
              {{/each}}
            </ul>
          </UiAlert>
        {{/if}}
        <p>
          Are you sure you want to issue a {{this.pogLabel this.pogToIssue}}?
        </p>
        <FormRow>
          <f.textarea @name="notes"
                      @label="Optional note to record with this pog:"
                      @rows={{2}}
                      @cols={{80}}
          />
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="Record {{this.pogLabel this.pogToIssue}}"/>
        <UiCancelButton @onClick={{this.cancelPogIssue}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.pogToCancel}}
  <ModalDialog @onEscape={{this.cancelCancelPog}} as |Modal|>
    <ChForm @formId="pog"
            @formFor={{this.pogToCancel}}
            @validator={{this.pogValidations}}
            @onSubmit={{this.saveCancelledPog}} as |f|>
      <Modal.title>Confirm Pog Cancel</Modal.title>
      <Modal.body>
        <UiAlert @type="danger" @icon="hand-point-right">
          This will NOT actually cancel the PHYSICAL pog -- just the record in the Clubhouse. The physical pog
          can still be used.
        </UiAlert>
        <p>
          This action is intended to mark a pog record as being accidentally issued.
        </p>
        <FormRow>
          <f.textarea @name="notes"
                      @label="Supply a reason on why this pog is being cancelled:"
                      @rows={{2}}
                      @cols={{80}}
          />
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="Cancel {{this.pogToCancel.pogLabel}}"/>
        <UiButton @onClick={{this.cancelCancelPog}} @type="gray" class="btn-link">
          Do Not Cancel Pog
        </UiButton>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.pogToEdit}}
  <ModalDialog @onEscape={{this.cancelPogEdit}} as |Modal|>
    <ChForm @formId="pog"
            @formFor={{this.pogToEdit}}
            @validator={{this.pogValidations}}
            @onSubmit={{this.updatePog}} as |f|>
      <Modal.title>Edit Pog {{this.pogType this.pogToEdit.pog}}</Modal.title>
      <Modal.body>
        <div class="d-flex mb-4">
          <div class="me-4">
            <b>Issued On</b><br>
            {{shift-format this.pogToEdit.issued_at}}
          </div>
          <div>
            <b>Pog Type</b><br>
            {{this.pogToEdit.pogLabel}}
          </div>
        </div>
        <FormRow>
          <f.textarea @name="notes"
                      @label="Update the pog note:"
                      @rows={{2}}
                      @cols={{80}}
                      @autofocus={{true}}
          />
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="Update"/>
        <UiCancelButton @onClick={{this.cancelPogEdit}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
