{{#if this.isLoading}}
  <LoadingIndicator @text="Loading pogs"/>
{{else}}
  {{#if @endedShiftEntry}}
    <p>
    <div class="fs-5 mb-2">
      The shift <i>{{@endedShiftEntry.position.title}}</i> worked
      {{shift-format @endedShiftEntry.on_duty @endedShiftEntry.off_duty}}
      was {{hour-minute-words @endedShiftEntry.duration}} in length.
    </div>
    {{#if @endedShiftEntry.isUnverified}}
      <b class="text-danger">
        The timesheet entry has not been reviewed. Review the timesheet entry to ensure the worked shift duration is
        accurate.
      </b>
    {{else if @endedShiftEntry.isPending}}
      <b class="text-danger">
        The timesheet entry has a pending correction. The worked shift duration might be incorrect.
      </b>
    {{/if}}
    </p>
  {{/if}}
  {{#if this.hasMealPass}}
    <UiNotice @icon="hand-point-right" @type="secondary" @title="Has Meal Pass">
      {{@person.callsign}} has a BMID Meal Pass for the {{this.currentPeriodLabel}} period.
    </UiNotice>
  {{else}}
    {{#if this.isMentor}}
      <UiAlert @type="danger" @icon="hand">
        {{@person.callsign}} is on a Mentor shift and will receive their meal pogs directly from the Mentor Shack.
      </UiAlert>
    {{/if}}
    <p>
      <b>
        For the current event period, issue a {{if this.config.meal_half_pog_enabled "Full"}} Meal Pog for
        every 6+ hours worked in a shift.
      </b>
      {{#if this.config.meal_half_pog_enabled}}
        <br>
        1/2 Meal Pogs are available for a shift worked less than 6 hours.
      {{/if}}
    </p>
  {{/if}}
  <UiButtonRow class="mb-2">
    <UiButton @onClick={{this.recordFullMealPog}} @size="md">
      {{#if this.config.meal_half_pog_enabled}}
        Record Full Meal Pog
      {{else}}
        Record Meal Pog
      {{/if}}
    </UiButton>
    {{#if this.config.meal_half_pog_enabled}}
      <UiButton @onClick={{this.recordHalfMealPog}} @size="md">
        Record &half; Meal Pog
      </UiButton>
    {{/if}}
    <UiButton @onClick={{this.recordShowerPog}} @size="md">
      Record Shower Pog
    </UiButton>
  </UiButtonRow>
  Showing {{pluralize this.pogs.length "pog"}} recorded.
  <UiTable @normalSize={{true}}>
    <thead>
    <tr>
      <th>Pog</th>
      <th>Status</th>
      <th>Issued On</th>
      <th>Issued By</th>
      <th>Notes</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.pogs as |pog|}}
      <tr class="align-middle">
        <td class="no-wrap">{{pog.pogLabel}}</td>
        <td class="no-wrap">
          {{#if (and pog.isHalfMealPog pog.isRedeemed)}}
            Redeemed for Full Meal Pog
          {{else}}
            {{pog.statusLabel}}
          {{/if}}
        </td>
        <td class="no-wrap">{{shift-format pog.issued_at}}</td>
        <td class="no-wrap">
          <PersonLink @person={{pog.issued_by}} />
        </td>
        <td>
          <PresentOrNot @value={{pog.notes}} @empty="-"/>
        </td>
        <td class="no-wrap">
          {{#if pog.isCancelled}}
            -
          {{else}}
            <UiButton @onClick={{fn this.editPog pog}} @size="sm" @type="secondary">
              Update Note
            </UiButton>
            {{#if (and pog.isHalfMealPog pog.isIssued)}}
              <UiButton @onClick={{fn this.redeemForFullMealPog pog}} @size="sm">
                Redeem for Full Meal Pog
              </UiButton>
            {{else if (not pog.isCancelled)}}
              <UiButton @onClick={{fn this.confirmPogCancel pog}} @size="sm" @type="gray" class="btn-link">
                Cancel
              </UiButton>
            {{/if}}
          {{/if}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="6">
          No pogs have been issued yet.
        </td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
{{/if}}

{{#if this.pogToIssue}}
  <ModalDialog @position="top" as |Modal|>
    <ChForm @formId="pog"
            @changeSet={{false}}
            @formFor={{this.pogIssueForm}}
            @onSubmit={{this.savePog}} as |f|>
      <Modal.title>Confirm {{this.pogLabel this.pogToIssue}}</Modal.title>
      <Modal.body>
        {{#if this.pogIssueWarnings}}
          <UiAlert @type="danger" @icon="hand">
            Please note the following:
            <ul class="mb-0">
              {{#each this.pogIssueWarnings as |warning|}}
                <li>{{warning}}</li>
              {{/each}}
            </ul>
          </UiAlert>
        {{/if}}
        {{#unless (eq this.pogToIssue "shower")}}
          Meal pog guidelines:
          <div class="my-2 mx-3">
            <div class="d-flex align-items-start mb-2">
              <div class="me-2">
                {{fa-icon "utensils" type="s" fixed=true}}
              </div>
              <div>
                <div class="fw-semibold">
                  One pog for 6+ hours, two for 10+ hours &mdash; for one of the next three meals, not 24-hour period.
                </div>
                <div>
                  <ReadMore @hideFullText={{true}}>
                    Pogs can only be issued for one of the next three meals following the end of the shift—not
                    within a 24-hour window. Example: for going off duty at 18:15, the pog may be for that night’s
                    dinner, or the next day’s breakfast or lunch. If two pogs are issued, each may be for a different
                    meal within that three-meal window.
                  </ReadMore>
                </div>
              </div>
            </div>

            <div class="d-flex align-items-start mb-2">
              <div class="me-2">
                {{fa-icon "ban" fixed=true}}
              </div>
              <div>
                <div class="fw-semibold text-danger">
                  No pog for shifts under 6 hours, unless rangered two contiguous, back-to-back shifts totaling 6+
                  hours.
                </div>
                <div>
                  <ReadMore @hideFullText={{true}}>
                    <p>
                      Two back-to-back, contiguous shifts totaling over 6 hours are eligible for one pog.
                      Example: for Rangering a Burn Perimeter shift immediately followed by a Dirt shift, only one pog
                      is issued for 6+ hours, even though two shifts were worked.
                    </p>
                    If the combined time exceeds 10 hours, two pogs may be issued.
                  </ReadMore>
                </div>
              </div>
            </div>

            <div class="d-flex align-items-start mb-2">
              <div class="me-2">
                {{fa-icon "people-group" type="s"  fixed=true}}
              </div>
              <div>
                <div class="fw-semibold">
                  Mentors, Sandman &amp; Gerlach Patrol handles their own &mdash; no pogs issued.
                </div>
                <div>
                  <ReadMore @hideFullText={{true}}>
                    Mentors and Sandman receive pogs directly from their Cadres. Gerlach Patrol gets to eat at
                    Bruno’s for free. If a Ranger walks up to HQ Window and claims they were approved for a pog,
                    the HQ Lead must confirm the authorization with the appropriate Cadre.
                  </ReadMore>
                </div>
              </div>
            </div>

            <div class="d-flex align-items-start mb-2">
              <div class="me-2">
                {{fa-icon "shuffle" fixed=true}}
              </div>
              <div>
                <div class="fw-semibold">
                  Pog swaps &mdash; only for the same three-meal window &amp; only one swap allowed
                </div>
                <div>
                  <ReadMore @hideFullText={{true}}>
                    A pog may be swapped for a different meal, but only if the new pog falls within the original
                    three-meal window &mdash; not a 24-hour period &mdash; following the shift’s end. Timing is based
                    on the shift, not when the Ranger returns to request it. Only one replacement pog may be granted per
                    shift.
                  </ReadMore>
                </div>
              </div>
            </div>

            <div class="d-flex align-items-start mb-2">
              <div class="me-2">
                {{fa-icon "person-walking-arrow-loop-left" fixed=true}}
              </div>
              <div>
                <div class="fw-semibold">Forgotten Pog &mdash; only for the three-meal window after the shift</div>
                <div>
                  <ReadMore @hideFullText={{true}}>
                    <p>
                      A pog may be issued later if it’s within the original three-meal window, not 24-hour period,
                      of the shift’s end time, not from when the Ranger returns to ask for a pog.
                    </p>
                    The Ranger, not HQ, is responsible for getting a pog.
                  </ReadMore>
                </div>
              </div>
            </div>

            <div class="d-flex align-items-start mb-2">
              <div class="me-2">
                {{fa-icon "question" fixed=true}}
              </div>
              <div>
                <div class="fw-semibold">Questions &amp; Exceptions</div>
                <div>
                  <ReadMore @hideFullText={{true}}>
                    <p>
                      For questions, talk with the HQ Short or HQ Lead. For exceptions, refer the person to the HQ Lead.
                    </p>
                    The <i>Ranger Commissary Meals Policy</i> &mdash; found in <i>the Ranger Department Policies,
                    Protocols, and Procedures</i> folder on Google Drive &mdash; outlines how pogs are issued.
                    A link to the Ranger Google Drive is further down on the Clubhouse Homepage in the <i>Links &amp;
                    Things</i> section.
                  </ReadMore>
                </div>
              </div>
            </div>
          </div>
        {{/unless}}
        <FormRow>
          <f.textarea @name="notes"
                      @label="Optional note to record with this pog (do not record the barcode):"
                      @rows={{2}}
                      @cols={{80}}
                      @autofocus={{true}}
          />
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <UiButtonRow>
          <f.submit @label="Record {{this.pogLabel this.pogToIssue}}" @size="md"/>
          <UiCancelButton @onClick={{this.cancelPogIssue}} @size="md"/>
        </UiButtonRow>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.pogToCancel}}
  <ModalDialog @onEscape={{this.cancelCancelPog}} as |Modal|>
    <ChForm @formId="pog"
            @formFor={{this.pogToCancel}}
            @validator={{this.pogValidations}}
            @onSubmit={{this.saveCancelledPog}} as |f|>
      <Modal.title>Confirm Pog Cancel</Modal.title>
      <Modal.body>
        <UiAlert @type="danger" @icon="hand-point-right">
          This will NOT actually cancel the PHYSICAL pog -- just the record in the Clubhouse. The physical pog
          can still be used.
        </UiAlert>
        <p>
          This action is intended to mark a pog record as being accidentally issued.
        </p>
        <FormRow>
          <f.textarea @name="notes"
                      @label="Supply a reason on why this pog is being cancelled:"
                      @rows={{2}}
                      @cols={{80}}
          />
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label="Cancel {{this.pogToCancel.pogLabel}}"/>
        <UiButton @onClick={{this.cancelCancelPog}} @type="gray" class="btn-link">
          Do Not Cancel Pog
        </UiButton>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.pogToEdit}}
  <ModalDialog @onEscape={{this.cancelPogEdit}} as |Modal|>
    <ChForm @formId="pog"
            @formFor={{this.pogToEdit}}
            @validator={{this.pogValidations}}
            @onSubmit={{this.updatePog}} as |f|>
      <Modal.title>Edit Pog {{this.pogType this.pogToEdit.pog}}</Modal.title>
      <Modal.body>
        <div class="d-flex mb-4">
          <div class="me-4">
            <b>Issued On</b><br>
            {{shift-format this.pogToEdit.issued_at}}
          </div>
          <div>
            <b>Pog Type</b><br>
            {{this.pogToEdit.pogLabel}}
          </div>
        </div>
        <FormRow>
          <f.textarea @name="notes"
                      @label="Update the pog note:"
                      @rows={{2}}
                      @cols={{80}}
                      @autofocus={{true}}
          />
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label="Update"/>
        <UiCancelButton @onClick={{this.cancelPogEdit}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
