{{#if this.hasUnreviewedTimesheet}}
  <UiNotice @title="Timesheet Entry Review Needed" @icon="hand-point-right" @type="warning">
    Before any shift can be started, or when a shift is ended, all timesheet entries must be reviewed.
    The exception is during a very busy time such as the Burn Night check-in, the review can skipped by using
    the <i>Skip Review</i> button.
  </UiNotice>
{{else}}
  <div class="d-flex justify-content-between mb-4">
    <div>
      If a timesheet entry not listed below requires correction,
      <span class="d-inline-block">
        click on
      <LinkTo @route="hq.timesheet" @model={{@person.id}}>Timesheet / Corrections</LinkTo>
      .
      </span>
    </div>
    <div>
      <UiButton @type="secondary" @onClick={{this.newTimesheetMissingRequest}} @size="sm">
        New Missing Timesheet Request
      </UiButton>
    </div>
  </div>
{{/if}}
{{#if @unverifiedTimesheets}}
  <p>
    <UiButton @onClick={{this.skipEntireReview}} @type="secondary">
      Skip Review For All Entries
    </UiButton>
  </p>
  <UiTable @normalSize={{true}}>
    <thead>
    <tr>
      <th>Time</th>
      <th>Position</th>
      <th class="text-end">Duration</th>
      <th class="text-end">Credits</th>
    </tr>
    </thead>
    <tbody>
    {{#each @unverifiedTimesheets as |entry|}}
      <tr>
        <td>
          {{shift-format entry.on_duty entry.off_duty}}
        </td>
        <td>
          {{entry.position.title}}
        </td>
        <td class="text-end">
          {{hour-minute-words entry.duration}}
        </td>
        <td class="text-end">
          {{credits-format entry.credits}} credits
        </td>
      </tr>
      <tr>
        <td colspan="4">
          {{#if entry.isVerified}}
            <div class="text-success">
              {{fa-icon "check" fixed=1 right=1}} Entry has been marked as correct.
            </div>
          {{else if entry.isPending}}
            <div class="text-danger">
              {{fa-icon "hourglass" fixed=1 right=1}} A correction request submitted.
            </div>
          {{else if entry.isIgnoring}}
            {{fa-icon "clock" type="r" fixed=1 right=1}} Entry will be reviewed at a later time.
          {{else}}
            <div class="text-danger">
              {{fa-icon "arrow-right" fixed=1 right=1}} Entry requires review.
            </div>
          {{/if}}
          <div class=" d-flex justify-between align-items-center mt-1">
            <UiButton @type="success" @class="btn-timesheet"
                      @onClick={{fn this.toggleEntryVerified entry}}
                      @disabled={{entry.isSaving}}>
              {{#if entry.isVerified}}
                Un-Verify Entry
              {{else}}
                Mark Entry As Correct
              {{/if}}
            </UiButton>
            <UiButton @type="secondary"
                      @class="btn-timesheet"
                      @onClick={{fn this.markEntryIncorrect entry}}
                      @disabled={{entry.isSaving}}>
              Submit Correction
              {{#if entry.isPending}}
                {{fa-icon "check"}}
              {{/if}}
            </UiButton>
            <UiButton @type="secondary"
                      @class="btn-timesheet"
                      @onClick={{fn this.ignoreEntry entry}}
                      @disabled={{or entry.isSaving entry.isVerified entry.isPending}}>
              Skip Review
              {{#if entry.isIgnoring}}
                {{fa-icon "check"}}
              {{/if}}
            </UiButton>
            {{#if entry.isSaving}}
              <SpinIcon/>
            {{else}}
              &nbsp;
            {{/if}}
          </div>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
{{/if}}

{{#if this.showCorrectionForm}}
  <ModalDialog @title="Timesheet Entry Correction" @onEscape={{this.cancelEntryCorrection}} as |Modal|>
    <ChForm @formId="correction" @formFor={{this.entry}}
            @validator={{this.correctionValidations}}
            @onSubmit={{this.saveEntryCorrection}} as |f|>
      <Modal.body>
        <dl class="row">
          <dt class="col-sm-2">Position:</dt>
          <dd class="col-sm-10">{{this.entry.position.title}}</dd>

          <dt class="col-sm-2">Time:</dt>
          <dd class="col-sm-10">{{shift-format this.entry.on_duty}} to {{shift-format this.entry.off_duty}}</dd>

          <dt class="col-sm-2">Duration:</dt>
          <dd class="col-sm-10">{{hour-minute-format this.entry.duration}}</dd>

          <dt class="col-sm-2">Credits:</dt>
          <dd class="col-sm-10">{{credits-format this.entry.credits}}</dd>
        </dl>
        Provide as much information as possible to help the reviewer understand why this entry should be fixed.
        <ul>
          <li>Why does {{this.person.callsign}} think the entry is wrong?</li>
          <li><b>Wrong times?</b> State the correct times. Don't forget to include the month and day.</li>
          <li><b>Is the position "{{this.entry.position.title}}" wrong?</b> State the correct position</li>
          <li><b>Who was their shift partner(s)?</b></li>
        </ul>

        <FormRow>
          <f.textarea @name="additional_notes"
                      @label="Timesheet entry correction note:"
                      @autofocus={{true}}
                      @cols={{80}}
                      @rows={{5}}/>
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="Submit Correction" @disabled={{this.isCorrectionSubmitting}} />
        <UiCancelButton @disabled={{this.isCorrectionSubmitting}} @onClick={{this.cancelEntryCorrection}} />
        {{#if this.isCorrectionSubmitting}}
          <SpinIcon/>
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.timesheetMissingEntry}}
  <Me::TimesheetMissingEdit @entry={{this.timesheetMissingEntry}}
                            @onSave={{this.closeTimesheetMissing}}
                            @onCancel={{this.closeTimesheetMissing}}
                            @positionOptions={{this.positionOptions}}
  />
{{/if}}
