{{#if this.isNotRanger}}
  <b class="text-danger">{{@person.callsign}} has the status "{{@person.status}}" is not eligible to earn tickets and
    provisions.</b>
{{else if this.isLoading}}
  <LoadingIndicator/>
{{else}}
  {{#if this.otherHours}}
    <UiNotice @title="Has Non-Counting Hours">
      {{this.otherHours}} hours have been worked however these do not count towards provisions and appreciations.
      Certain shifts such as Training sessions and On Call positions fall into this category.
    </UiNotice>
  {{/if}}
  <HqTicketsAndProvisionsTable @items="Tickets">
    {{#unless this.items.staff_credential.has_earned}}
      <HqTicketsAndProvisionsRow @item={{this.items.rpt}} @name="Reduced Price Ticket"/>
    {{/unless}}
    <HqTicketsAndProvisionsRow @item={{this.items.staff_credential}} @name="Staff Credential"/>
  </HqTicketsAndProvisionsTable>
  <HqTicketsAndProvisionsTable @items="Meal Passes">
    {{#unless this.items.all_eats.has_earned}}
      <HqTicketsAndProvisionsRow @item={{this.items.event_week_eats}} @name="Event Week Eat Pass"
                                 @subtext="(Event week hours only)"/>
    {{/unless}}
    <HqTicketsAndProvisionsRow @item={{this.items.all_eats}} @name="All Eat Meal Pass"
                               @subtext="(Pre/Event Week/Post hours)"/>
  </HqTicketsAndProvisionsTable>

  <HqTicketsAndProvisionsTable @items="Ranger Clothing">
    {{#if this.isShinyPenny}}
      <tr>
        <td colspan="5">
          {{@person.callsign}} is a Shiny Penny and NOT eligible to earn additional Ranger clothing this year.
        </td>
      </tr>
    {{else}}
      <HqTicketsAndProvisionsRow @item={{this.items.t_shirt}} @name="Ranger T-Shirt"
                                 @subtext="(Pre-event & Event week hours only)"/>
      <HqTicketsAndProvisionsRow @item={{this.items.long_sleeve_shirt}} @name="Ranger Long Sleeve Shirt"
                                 @subtext="(Pre-event & Event week hours only)"/>
    {{/if}}
  </HqTicketsAndProvisionsTable>

  <HqTicketsAndProvisionsTable @items="Wet Spot (aka Burning Man Org Showers)">
    <HqTicketsAndProvisionsRow @item={{this.items.shower_pog}} @name="Wet Spot Pog for THIS event"
                               @subtext="(Event week hours only)"
    />
    <HqTicketsAndProvisionsRow @item={{this.items.shower_access_event_week}} @name="Wet Spot Access for NEXT event"
                               @subtext="(Event week hours only)"
    />
    <HqTicketsAndProvisionsRow @item={{this.items.shower_access_entire_event}} @name="Wet Spot Access for NEXT event"
                               @subtext="(Pre/Event Week/Post hours)"
    />
  </HqTicketsAndProvisionsTable>

{{/if}}
