<ModalDialog @title="Add note for {{@person.callsign}}" @size="xl" @onEscape={{@closeNoteAction}} as |Modal|>
  <Modal.body>
    {{#each @teamNotes as |intake|}}
      <table class="table table-striped table-sm">
        <caption>Year {{intake.year}}
          <IntakeRanking @rank={{intake.rank}} />
        </caption>
        <thead>
        <tr>
          <th class="w-20">Timestamp</th>
          <th class="w-15">Person</th>
          <th class="w-65">Note</th>
        </tr>
        </thead>
        <tbody>
        {{#each intake.notes as |note|}}
          <tr>
            <td class="w-20">{{note.created_at}}</td>
            <td class="w-15">
              {{#if note.person_source}}
                {{note.person_source.callsign}}
              {{else}}
                <i>* imported *</i>
              {{/if}}
            </td>
            <td class="w-65">
              {{nl2br note.note}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="3">No {{@viewYear}} {{uppercase @type}} notes are present.</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>No prior notes</p>
    {{/each}}

    {{#if @canAddNote}}
      <ChForm @formId="person-note" @formFor={{this.noteForm}} @onSubmit={{this.submitNoteAction}} as |f|>
        <p>
          <b>Your note will be timestamped, and appended to any existing notes.</b>
        </p>
        <FormRow>
          <f.select @name="event_year"
                    @label="Event Year"
                    @options={{this.yearOptions}} />
          <f.select @name="ranking"
                    @label="{{uppercase @type}} Ranking"
                    @options={{if (eq @type "personnel") this.personnelRankingOptions this.rankingOptions}} />
        </FormRow>
        <FormRow>
          <f.textarea @name="note"
                      @label="Enter your {{@type}}  notes:"
                      @rows={{5}}
                      @cols={{80}}/>
        </FormRow>
        <f.submit @label="Save Note" disabled={{or this.isSubmitting (is-empty f.model.note)}} />
        <UiCancelButton @disabled={{this.isSubmitting}} @onClick={{@closeNoteAction}} />
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </ChForm>
    {{else}}
      <p>
        <UiCloseButton @onClick={{@closeNoteAction}} />
      </p>
    {{/if}}
  </Modal.body>

</ModalDialog>
