{{#each this.teamNotes as |intake|}}
  <div class="mb-2">
    <div class="hstack gap-3">
      <div class="fw-semibold">{{intake.year}}</div>
      <div>
        <IntakeRanking @rank={{intake.rank}} />
      </div>
    </div>
    {{#if intake.have_notes}}
      <ul class="no-indent">
        {{#each intake.notes as |note|}}
          {{#unless note.is_log}}
            <li>
              {{note.note}}
              {{#if this.canAddNote}}
                <div class="mt-2 mb-3">
                  <a href {{on-click this.updateNoteAction note}} class="me-4">Update</a>
                  <a href {{on-click this.deleteNoteAction note}}>Delete</a>
                </div>
              {{/if}}
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    {{else}}
      <i>no notes</i>
    {{/if}}
  </div>
{{else}}
  <div class="mb-2">
    No {{uppercase @type}} notes
  </div>
{{/each}}
{{#if (or this.canAddNote this.teamNotes)}}
  <div class="mb-2">
    <UiButton @type="secondary" @size="sm" @onClick={{this.addNoteAction}} class="note-button">
      {{#if this.canAddNote}}
        Add {{uppercase @type}} Note / Rank
      {{else}}
        View {{uppercase @type}} Details
      {{/if}}
    </UiButton>
  </div>
{{/if}}

{{#if this.addingNotes}}
  <IntakeNoteEdit @teamNotes={{this.teamNotes}}
                  @type={{@type}}
                  @viewYear={{@viewYear}}
                  @person={{@person}}
                  @onSubmit={{@onSubmit}}
                  @closeNoteAction={{this.closeNoteAction}}
                  @canAddNote={{this.canAddNote}}
  />
{{/if}}
{{#if this.updateNote}}
  <IntakeNoteUpdate @note={{this.updateNote}} @closeAction={{this.closeUpdateNote}} />
{{/if}}