{{#if this.rank~}}
  {{#if (eq this.rank 1)}}
    <span class="rank-1">{{fa-icon "thumbs-up"}} 1/Green</span>
  {{else if (eq this.rank 2)}}
    2/Normal
  {{else if (eq this.rank 3)}}
    <span class="rank-3">{{fa-icon "exclamation-circle"}} 3/Yellow</span>
  {{else if (eq this.rank 4)}}
    <span class="rank-4">{{fa-icon "flag"}} 4/FLAG</span>
  {{else}}
    {{this.rank}}/Unknown
  {{/if}}
{{~else~}}
  <span class="rank-none">No Rank</span>
{{~/if~}}
