{{#each this.teamNotes as |intake|}}
  <div class="mb-1">
    <b>{{intake.year}}
      <IntakeRanking @rank={{intake.rank}} />
    </b>
    <br>
    {{#if intake.have_notes}}
      {{#each intake.notes as |note|}}
        {{#unless note.is_log}}
          <div class="mb-1">
            &mdash; {{note.note}}
            {{#if this.canAddNote}}
              <p>
                <UiButton @size="sm" @onClick={{fn this.updateNoteAction note}}>Update</UiButton>
                <UiButton @type="light-red" @size="sm" @onClick={{fn this.deleteNoteAction note}}>Delete</UiButton>
              </p>
            {{/if}}
          </div>
        {{/unless}}
      {{/each}}
    {{else}}
      <i>no notes</i>
    {{/if}}
  </div>
{{else}}
  No {{uppercase @type}} notes
{{/each}}
<div class="my-2">
  <UiButton @type="secondary" @size="sm" @onClick={{this.addNoteAction}}>
    {{if this.canAddNote "Add" "View"}} {{uppercase @type}} note / rank
  </UiButton>
</div>

{{#if this.addingNotes}}
  <IntakeNoteEdit @teamNotes={{this.teamNotes}}
                  @type={{@type}}
                  @viewYear={{@viewYear}}
                  @person={{@person}}
                  @onSubmit={{@onSubmit}}
                  @closeNoteAction={{this.closeNoteAction}}
                  @canAddNote={{this.canAddNote}}
  />
{{/if}}
{{#if this.updateNote}}
  <IntakeNoteUpdate @note={{this.updateNote}} @closeAction={{this.closeUpdateNote}} />
{{/if}}