{{#if @trainings}}
  {{#each @trainings as |training|}}
    <div class="mb-2">
      <div class="hstack gap-4">
        <div>
          <LinkTo @route="training.session.index" @models={{array 13 training.slot_id}}>
            {{mdy-format training.slot_begins}}
          </LinkTo>
        </div>
        <div>
          &lt;{{training.person_status}}&gt;
        </div>
        {{#if training.slot_has_ended}}
          <div>
            {{training-pass-badge training.training_passed}}
          </div>
          <div>
            <IntakeRanking @rank={{training.training_rank}} @type="Training"/>
          </div>
        {{else}}
          <div>
            {{badge "secondary" "Training Pending"}}
          </div>
        {{/if}}
      </div>
      {{#if training.slot_has_ended}}
        {{#each training.training_notes as |note|}}
          {{#unless note.is_log}}
            &mdash; {{note.note}}<br>
          {{/unless}}
        {{else}}
          <i>No training notes</i>
        {{/each}}
      {{/if}}
    </div>
  {{/each}}

  <div class="my-2">
    <UiButton @type="secondary" @size="sm" @onClick={{this.showHistoryAction}} class="note-button">
      View Training Details
    </UiButton>
  </div>
{{else}}
  <i>No training signups</i>
{{/if}}

{{#if this.showHistory}}
  <ModalDialog @title="{{@person.callsign}} Training History"
               @size="xl"
               @onEscape={{this.closeHistoryAction}} as |Modal|>
    <Modal.body>

      {{#each @trainings as |row|}}
        <div class="mb-3">
          <h4 class="text-bg-gray p-2">
            {{mdy-format row.slot_begins}}
            {{row.slot_description}}
          </h4>
          <div class="p-2">
            <div class="hstack gap-4 mb-2">
              <div>
                Status &lt;{{row.person_status}}&gt;
              </div>
              {{#if row.slot_has_ended}}
                <div>
                  {{training-pass-badge row.training_passed}}
                </div>
                <div>
                  <IntakeRanking @rank={{row.training_rank}} />
                </div>
              {{else}}
                <div>
                  Pending
                </div>
              {{/if}}
            </div>
            {{#if row.slot_has_ended}}
              {{#if row.training_notes}}
                {{#each row.training_notes as |note|}}
                  <div class="fw-semibold mb-1">
                    {{shift-format note.created_at year=true}} (Pacific) by
                    {{if note.person_source_id note.person_source.callsign "* imported *"}}:
                  </div>
                  <div class="mb-2">
                    {{#if note.is_log}}
                      <i>{{note.note}}</i>
                    {{else}}
                      {{nl2br note.note}}
                    {{/if}}
                  </div>
                {{/each}}
                {{#if row.feedback_delivered}}
                  <span class="text-success">
                    {{fa-icon "check" right=1}} Lead trainer delivered feedback  to trainee.
                  </span>
                {{else}}
                  <span class="text-bg-warning">
                    {{fa-icon "times" right=1}} Lead trainer did not deliver feedback to trainee.
                  </span>
                {{/if}}
              {{else}}
                <i>No note left</i>
              {{/if}}
            {{/if}}
          </div>
        </div>
      {{/each}}
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeHistoryAction}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}
