<ModalDialog @title="Add note for {{@person.callsign}}" @size="xl" @onEscape={{@closeNoteAction}} as |Modal|>
  <Modal.body>
    {{#each @teamNotes as |intake|}}
      <div class="mb-3">
        <h4 class="text-bg-gray p-2">
          Year {{intake.year}}
          <IntakeRanking @rank={{intake.rank}} />
        </h4>
        {{#each intake.notes as |note|}}
          <div class="p-2">
            <b>{{shift-format note.created_at year=true}} (Pacific)
              {{#if note.person_source}}
                by {{note.person_source.callsign}}
              {{else}}
                <i>* imported *</i>
              {{/if}}:</b> <br>
            {{#if note.is_log}}
              <i>{{note.note}}</i>
            {{else}}
              {{nl2br note.note}}
            {{/if}}
          </div>
        {{else}}
          <i>No {{@viewYear}} {{uppercase @type}} notes are present.</i>
        {{/each}}
      </div>
    {{else}}
      <b>No prior notes left.</b>
    {{/each}}

    {{#if @canAddNote}}
      <hr>
      <ChForm @formId="person-note" @formFor={{this.noteForm}} @onSubmit={{this.submitNoteAction}} as |f|>
        <p>
          <b>Your note will be timestamped, and appended to any existing notes.</b>
        </p>
        <FormRow>
          <f.select @name="event_year"
                    @label="Event Year"
                    @options={{this.yearOptions}} />
          <f.select @name="ranking"
                    @label="{{uppercase @type}} Ranking"
                    @options={{if (eq @type "personnel") this.personnelRankingOptions this.rankingOptions}} />
        </FormRow>
        <FormRow>
          <f.textarea @name="note"
                      @label="Enter your {{@type}}  notes:"
                      @rows={{5}}
                      @cols={{80}}/>
        </FormRow>
        <f.submit @label="Save Note" disabled={{or this.isSubmitting (is-empty f.model.note)}} />
        <UiCancelButton @disabled={{this.isSubmitting}} @onClick={{@closeNoteAction}} />
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </ChForm>
    {{else}}
      <div class="text-end">
        <UiCloseButton @onClick={{@closeNoteAction}} />
      </div>
    {{/if}}
  </Modal.body>
</ModalDialog>
