<UiButton @onClick={{this.openDialogAction}} ...attributes>
  {{this.label}}
</UiButton>

{{#if this.showDialog}}
  <ModalDialog @size="xl" @title={{@title}} @onEscape={{this.cancelAction}} as |dialog|>
    <dialog.body>
      <div class="masonry-container masonry-col-{{or @columns 5}}">
        {{#each @groups as |group groupIdx|}}
          <div class="masonry-item">
            <div class="masonry-item-header">{{group.label}}</div>
            {{#if group.header}}
              <p>
                {{group.header}}
              </p>
            {{/if}}
            {{#each group.options as |option optionIdx|}}
              <div class="form-check">
                <input type="radio"
                       checked={{option.selected}}
                       id="opt-{{groupIdx}}-{{optionIdx}}"
                       class="form-check-input"
                  {{on "click" (fn this.selectAction option)}}
                >
                <label for="opt-{{groupIdx}}-{{optionIdx}}"
                       class="form-check-label {{if option.selected "text-light-red font-weight-bold"}}">
                  {{option.label}}
                </label>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </dialog.body>
    <dialog.footer>
      <UiCloseButton @onClick={{this.cancelAction}} @size="md" />
    </dialog.footer>
  </ModalDialog>
{{/if}}