<p class="text-danger">
  Note: only the last 6 months of mail logs are retained.
</p>
<p>
  Click the timestamp to view the entire message.<br>
  {{fa-icon "triangle-exclamation"}} = Bounced (address doesn't exist or mailbox full),
  {{fa-icon "bell"}} = Recipient's mail provider marked email as spam.
</p>
<UiTable>
  <thead>
  <tr>
    <th class="w-15">Timestamp</th>
    <th class="w-35">From / To</th>
    <th class="w-50">Subject</th>
  </tr>
  </thead>
  <tbody>
  {{#each @logs as |mail|}}
    <tr class="{{if mail.did_bounce "text-danger"}} {{if mail.did_complain "text-warning"}}">
      <td class="w-15">
        {{#if mail.did_bounce}}
          {{fa-icon "triangle-exclamation"}}
        {{/if}}
        {{#if mail.did_complain}}
          {{fa-icon "bell"}}
        {{/if}}
        <a href {{action this.showMailLogAction mail}}>
          {{mail.created_at}}
        </a>
      </td>
      <td class="w-35">
        {{#if mail.sender}}
          <PersonLink @person={{mail.sender}} />
        {{else if mail.sender_id}}
          Person #{{mail.sender_id}}
        {{else}}
          <i>- Clubhouse -</i>
        {{/if}}
        &lt;{{mail.from_email}}&gt; {{fa-icon "arrow-right"}}<br>
        {{#if mail.person}}
          <PersonLink @person={{mail.person}} />
        {{else if mail.person_id}}
          Person #{{mail.person_id}}
        {{else}}
          -
        {{/if}} &lt;{{mail.to_email}}&gt;
        {{#if mail.broadcast_id}}
          <br>
          <i>(sent via RBS)</i>
        {{/if}}
      </td>
      <td class="w-50">{{mail.subject}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="4" class="text-danger">No mail logs were found.</td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>

{{#if this.mailLog}}
  <ModalDialog @onEscape={{this.closeMailLogAction}} @title="Mail Log #{{this.mailLog.id}}" as |Modal|>
    <Modal.body>
      {{#if this.mailLog.broadcast_id}}
        <p>
          Message was sent from the RBS.
        </p>
      {{/if}}
      <dl class="row">
        <dt class="col-1">Date:</dt>
        <dd class="col-11">
          {{this.mailLog.created_at}}
        </dd>
        <dt class="col-1">From:</dt>
        <dd class="col-11">
          {{#if this.mailLog.sender}}
            {{this.mailLog.sender.callsign}}
          {{else if this.mailLog.sender_id}}
            Person #{{this.mailLog.sender_id}}
          {{else}}
            <i>- Clubhouse -</i>
          {{/if}}
          &lt;{{this.mailLog.from_email}}&gt;
        </dd>
        <dt class="col-1">To:</dt>
        <dd class="col-11">
          {{#if this.mailLog.person}}
            {{this.mailLog.person.callsign}}
          {{else if this.mailLog.person_id}}
            Person #{{this.mailLog.person_id}}
          {{/if}}
          &lt;{{this.mailLog.to_email}}&gt;
        </dd>
        <dt class="col-1">Subject:</dt>
        <dd class="col-11">
          {{this.mailLog.subject}}
        </dd>
        <dt class="col-12">Message:</dt>
        <dd class="col-12">
          <iframe {{did-insert this.insertMailLogBody}} title="Mail Message" class="mail-preview-iframe"></iframe>
        </dd>
      </dl>
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeMailLogAction}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}
