{{#each @menteeList as |year| }}
  <UiSection>
    <:title>
      {{year.year}} Mentees
      ({{year.mentees.length}} alphas, {{year.passed}} passed, {{year.bonked}} bonked)
    </:title>
    <:body>
      <div class="d-flex flex-wrap">
        {{#each year.mentees key="person_id" as |mentee|}}
        {{! template-lint-disable no-inline-styles}}
          <div class="card mb-2 me-2" style="width: 12rem;">
            {{#if mentee.profile_url}}
              <img src={{mentee.profile_url}} class="card-img-top" alt="profile" loading="lazy">
            {{else}}
            {{! template-lint-disable no-inline-styles}}
              <div class="text-center" style="height: 244px;">
                <i class="far fa-user fa-8x my-4"></i>
                <div class="card-text text-center mb-3">(No Photo)</div>
              </div>
            {{/if}}
            <div class="card-body">
              <h4 class="card-title mb-1">
                {{#if @contactAction}}
                  {{mentee.callsign}}
                {{else}}
                  <LinkTo @route="person.index" @model={{mentee.person_id}}>{{mentee.callsign}}</LinkTo>
                {{/if}}
                <div class="h6">&lt;{{mentee.status}}&gt;</div>
              </h4>
              <div class="card-subtitle h5 mb-2">
                {{#if (eq mentee.mentor_status "pass")}}
                  <UiBadge @text="passed" @type="success"/>
                {{else if (eq mentee.mentor_status "bonk")}}
                  <UiBadge @text="bonked" @type="danger"/>
                {{else if (eq mentee.mentor_status "self-bonk")}}
                  <UiBadge @text="self bonked" @type="gray"/>
                {{else}}
                  <UiBadge @text="pending" @type="warning"/>
                {{/if}}
              </div>

               <p class="card-text">
                <b>Mentors</b><br>
                {{#each mentee.mentors as |mentor |}}
                  {{mentor.callsign}}<br>
                {{/each}}
              </p>
              {{#if (eq mentee.mentor_status "pass")}}
                <p class="card-text">
                  <b>Last Worked</b><br>
                  {{#if mentee.last_worked}}
                    {{mentee.last_worked}}
                  {{else}}
                    <i>never</i>
                  {{/if}}
                </p>
              {{/if}}
              {{#if mentee.formerly_known_as}}
                <p class="card-text">
                  <b>Formerly Known As</b><br>
                  {{mentee.formerly_known_as}}
                </p>
              {{/if}}
              {{#if @contactAction}}
                <p class="card-text">
                  <b>Last Contact</b><br>
                  {{#if mentee.last_contact}}
                    {{mdy-format mentee.last_contact}}
                  {{else}}
                    <i>never</i>
                  {{/if}}
                </p>
                {{#if (eq mentee.contact_status "allow")}}
                  <UiButton @onClick={{fn @contactAction mentee}}>Contact</UiButton>
                {{else if (eq mentee.contact_status "block")}}
                  <span class="text-muted">No Contact</span>
                {{else}}
                  -
                {{/if}}
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </:body>
  </UiSection>
{{/each}}
