<ModalDialog @title="Send A New Clubhouse Message" as |Modal|>
  <ChForm @formId="message-form"
          @formFor={{@message}}
          @validator={{this.personMessageValidations}}
          @onSubmit={{@onSubmit}}
          @onCancel={{@onCancel}} as |f|>
    <Modal.body>
      <p class="ml-2">
        Messages <b class="text-danger">are NOT private</b> (will be seen by HQ staff &amp; Tech Team), for official
        Ranger business only, and archived each year.
        Burning Man and the Rangers have a zero-tolerance policy for behavior that is non-consensual,
        abusive, harassing, or harmful to others.
      </p>
      <div class="form-row mb-2">
        {{#unless @isMe}}
          <f.input @name="message_from" @label="From" @type="text" @size=30 @maxlength=120 @autofocus=true
                   @gridClass="col-sm-12 col-md-6"/>
        {{/unless}}
        <div class="col-sm-12 col-md-6">
          <f.input @name="recipient_callsign"
                   @placeholder="Enter a callsign"
                   @label="To"
                   @type="search"
                   @size={{30}}
                   @onSearch={{this.searchCallsignAction}}
                   @autofocus={{@isMe}}
          />
        </div>
      </div>
      <div class="form-row">
        <f.input @name="subject" @label="Subject" @size={{80}} @maxlength={{80}} @gridClass="col-auto"/>
      </div>
      <div class="form-row">
        <f.input @name="body" @label="The message (be civil, courteous, polite, & professional)"
                 @type="textarea" @rows={{4}} @cols={{80}} @gridClass="col-auto"/>
      </div>
    </Modal.body>
    <Modal.footer @noAlign=true>
      <f.submit @label="Send" @disabled={{@isSubmitting}} />
      <f.cancel @disabled={{@isSubmitting}} />
      {{#if @isSubmitting}}
        <LoadingIndicator @text="Sending Message"/>
      {{/if}}
    </Modal.footer>
  </ChForm>
</ModalDialog>