<ModalDialog @title="Send A New Clubhouse Message" @onEscape={{@onCancel}} as |Modal|>
  <ChForm @formId="message-form"
          @formFor={{@message}}
          @validator={{this.personMessageValidations}}
          @onSubmit={{@onSubmit}} as |f|>
    <Modal.body>
      <p>
        <b class="text-danger"> Messages are NOT private (will be seen by HQ staff &amp; Tech Team), for official
        Ranger business only, and archived each year.</b>
      </p>
      <p>
        Burning Man and the Rangers have a zero-tolerance policy for behavior that is non-consensual,
        abusive, harassing, or harmful to others.
      </p>
      <FormRow>
        {{#unless @isMe}}
          <f.text @name="message_from"
                  @label="From"
                  @size={{30}}
                  @maxlength={{60}}
                  @autofocus={{not this.isFromMessage}} />
        {{/unless}}
        <f.search @name="recipient_callsign"
                 @placeholder="Enter a callsign"
                 @label="To"
                 @size={{30}}
                 @maxlength={{60}}
                 @onSearch={{this.searchCallsignAction}}
                 @autofocus={{this.isFromMessage}}/>
      </FormRow>
      <FormRow>
        <f.text @name="subject"
                @label="Subject"
                @size={{80}}
                @maxlength={{80}} />
      </FormRow>
      <FormRow>
        <f.textarea @name="body"
                   @label="The message (be civil, courteous, polite, & professional)"
                   @rows={{4}}
                   @cols={{80}} />
      </FormRow>
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <f.submit @label="Send" @disabled={{@isSubmitting}} />
      <UiCancelButton @disabled={{@isSubmitting}} @onClick={{@onCancel}} />
      {{#if @isSubmitting}}
        <LoadingIndicator @text="Sending Message"/>
      {{/if}}
    </Modal.footer>
  </ChForm>
</ModalDialog>