<ModalDialog @title="Send A New Clubhouse Message" @onEscape={{@onCancel}} as |Modal|>
  <ChForm @formId="message-form"
          @formFor={{@message}}
          @validator={{this.personMessageValidations}}
          @onSubmit={{@onSubmit}} as |f|>
    <Modal.body>
      <p>
        <span class="text-danger"> Messages are NOT private (will be seen by HQ staff &amp; Tech Team), for official
        Ranger business only, and archived each year.</span>
      </p>
      <p>
        Burning Man and the Rangers have a zero-tolerance policy for behavior that is non-consensual,
        abusive, harassing, or harmful to others.
      </p>
      <FormRow>
        {{#unless @isMe}}
          <f.input @name="message_from"
                   @label="From"
                   @type="text"
                   @size={{30}} @maxlength={120}
            @autofocus={{not this.isFromMessage}}
                   @gridClass="col-sm-12 col-md-6"/>
            {{/unless}}
        <div class="col-sm-12 col-md-6">
          <f.input @name="recipient_callsign"
                   @placeholder="Enter a callsign"
                   @label="To"
                   @type="search"
                   @size={{30}}
                   @onSearch={{this.searchCallsignAction}}
                   @autofocus={{this.isFromMessage}}
          />
        </div>
      </FormRow>
      <FormRow>
        <f.input @name="subject"
                 @label="Subject"
                 @size={{80}}
                 @maxlength={{80}} />
      </FormRow>
      <FormRow>
        <f.input @name="body" @label="The message (be civil, courteous, polite, & professional)"
                 @type="textarea"
                 @rows={{4}} @cols={{80}}
                 @gridClass="col-auto"/>
      </FormRow>
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <f.submit @label="Send" @disabled={{@isSubmitting}} />
      <UiCancelButton  @disabled={{@isSubmitting}} @onClick={{@onCancel}} />
      {{#if @isSubmitting}}
        <LoadingIndicator @text="Sending Message"/>
      {{/if}}
    </Modal.footer>
  </ChForm>
</ModalDialog>