<ModalDialog @title="Asset Check Out/In History" @onEscape={{@onClose}} as |modal|>
  <modal.body>
    <UiTable>
      <thead>
      <tr>
        <th>Person</th>
        <th>Attachment</th>
        <th>Checked Out Time /<br>By Person</th>
        <th>Checked In Time /<br>By Person</th>
      </tr>
      </thead>
      <tbody>
      {{#if this.isLoading}}
        <tr>
          <td colspan="5">
            <LoadingIndicator @text="Loading asset history"/>
          </td>
        </tr>
      {{else}}
        {{#each this.assetHistory as |row|}}
          <tr>
            <td>
              <PersonLink @person={{row.person}} @page="assets" />
            </td>
            <td><PresentOrNot @value={{row.attachment.description}} @empty="-" /></td>
            <td>
              {{shift-format row.checked_out}}<br>
              {{#if row.check_out_person}}
                <PersonLink @person={{row.check_out_person}} />
              {{else}}
                -
              {{/if}}
            </td>
            <td>
              {{#if row.checked_in}}
                {{shift-format row.checked_in}}<br>
                {{#if row.check_in_person}}
                  <PersonLink @person={{row.check_in_person}} />
                {{else}}
                  -
                {{/if}}
              {{else}}
                <UiButton @size="sm" @onClick={{fn this.checkin row}}>Check In</UiButton>
              {{/if}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="5" class="text-danger">
              No asset history was found - this asset has not been checked out.
            </td>
          </tr>
        {{/each}}
      {{/if}}
      </tbody>
    </UiTable>
  </modal.body>
  <modal.footer>
    <UiCloseButton @onClick={{@onClose}} />
  </modal.footer>
</ModalDialog>
