<BsModal
  @fade={{false}}
  @keyboard={{false}}
  @backdropClose={{false}}
  @position={{or @position "center"}}
  @transitionDuration={{100}}
  @size={{or @size "lg"}}
  @fullscreen={{@fullscreen}}
  {{did-insert this.adjustClassOnInsert}}
  as |modal|>
  {{#if @title}}
    <modal.header @closeButton={{false}}>
      <h5 class="modal-title">{{@title}}</h5>
    </modal.header>
  {{/if}}
  {{yield (hash
            title=(component "modal/title" modal=modal)
            body=modal.body
            footer=(component "modal/footer" modal=modal align=@align))}}
</BsModal>
