{{#in-element this.destinationElement insertBefore=null}}
  <div class="modal" tabindex="-1" role="dialog" {{did-insert this.boxInserted}}>
    <div class="modal-dialog {{this.modalLocation}} modal-{{or @size "lg"}}" role="document">
      <div class="modal-content">
        {{#if @title}}
          <div class="modal-header">
            <h5 class="modal-title">{{@title}}</h5>
          </div>
        {{/if}}
        {{yield (hash body=(component "modal/body")
                        footer=(component "modal/footer" align=@align)
                        button=(component "modal/button" action=@action label=@label type=@type disabled=@disabled))
        }}
      </div>
    </div>
  </div>
{{/in-element}}
