<ModalDialog @title="Sign up requirements have not been met" @isInline={{@isInline}} as |Modal|>
  <Modal.body>
    <ScheduleRequirements @requirements={{this.data.requirements}} @person={{this.data.person}} />
    <p>
      <b class="text-danger">You have the privileges to force the sign up and your actions will be logged if you do.</b>
    </p>
  </Modal.body>
  <Modal.footer>
    <Modal.button @label="Cancel" @action={{@onClose}} @type="primary"/>
    <Modal.button @label="Force Sign Up" @action={{@onConfirm}} @type="danger"/>
  </Modal.footer>
</ModalDialog>
