<ModalDialog @title="Asset Check Out/In History" @onEscape={{@onClose}} as |modal|>
  <modal.body>
    <table class="table table-striped table-sm mt-4">
      <thead>
      <tr>
        <th>Person</th>
        <th>Attachment</th>
        <th>Out</th>
        <th>In</th>
      </tr>
      </thead>
      <tbody>
      {{#if this.isLoading}}
        <tr>
          <td colspan="5">
            <LoadingIndicator @text="Loading asset history"/>
          </td>
        </tr>
      {{else}}
        {{#each this.assetHistory as |row|}}
          <tr>
            <td>
              <LinkTo @route="person.assets" @model={{row.person.id}}>{{row.person.callsign}}</LinkTo>
            </td>
            <td><PresentOrNot @value={{row.attachment.description}} @empty="-" /></td>
            <td>{{shift-format row.checked_out}}</td>
            <td>
              {{#if row.checked_in}}
                {{shift-format row.checked_in}}
              {{else}}
                <button type="button" class="btn btn-primary btn-sm" {{action this.checkin row}}>Check In</button>
              {{/if}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="5" class="text-danger">
              No asset history was found - this asset has not been checked out.
            </td>
          </tr>
        {{/each}}
      {{/if}}
      </tbody>
    </table>
  </modal.body>
  <modal.footer>
    <modal.button @type="primary" @label="Close" @action={{@onClose}} />
  </modal.footer>
</ModalDialog>
