<ModalDialog @title="Already Signed Up" @isInline={{@isInline}} as |modal|>
  <modal.body>
    <p>
      Only one {{#if this.isAlpha}}Alpha shift{{else}}{{this.trainingType}} session{{/if}} may be signed up for.
      <YouOrCallsign @person={{this.person}} @youLabel="You are" @callsignVerb="is"/>
      already signed up for the following:
    </p>
    <p>
      {{#each this.enrolledSlots as |slot|}}
        <b>{{slot.position.title}} - {{slot.description}} {{shift-format slot.begins}}</b><br>
      {{/each}}
    </p>
    <p>
      If the above {{this.shiftType}} has not started, the sign up may be removed, and the new {{this.shiftType}} added.
    </p>
    <p>
      To arrange another sign up (if the previous one cannot be removed) or if you have questions, email
      {{#if this.slot.contact_email}}
        {{mail-to this.slot.contact_email}}
      {{else}}
        {{vc-email}}
      {{/if}}
    </p>
  </modal.body>
  <modal.footer>
    <modal.button @label="Close" @action={{@onClose}} @type="primary"/>
  </modal.footer>
</ModalDialog>
