<BsModal
  @fade={{false}}
  @keyboard={{false}}
  @backdropClose={{false}}
  @position="center"
  @size={{or @size "lg"}} as |modal|>
  {{#if @title}}
    <modal.header @closeButton={{false}}>
      <h5 class="modal-title">{{@title}}</h5>
    </modal.header>
  {{/if}}
  {{yield (hash body=modal.body footer=(component "modal/footer" modal=modal align=@align))}}
</BsModal>
