<UiButton @onClick={{this.setupAccountAction}}
          @type="{{if @didComplete "secondary" "primary"}}"
          @responsive={{true}}
          @size="{{if @didComplete "sm"}}"
>
  {{@text}}
</UiButton>
{{#if this.showCreationDialog}}
  <LoadingDialog>
    Setting up your Online Course account. Please wait.
  </LoadingDialog>
{{/if}}
{{#if this.showDownForMaintenanceDialog}}
  <ModalDialog @onEscape={{this.closeDownForMaintenance}} as |Modal|>
    <Modal.body>
      <h3 class="text-danger">Online Course Unavailable</h3>
      <p>
        Sorry, the Online Course is down for maintenance.
      </p>
      <p>
        If the problem persists for more than a day, please contact the Ranger Tech Team at
        <TechSupportEmail/>
        for help.
      </p>
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeDownForMaintenance}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}
{{#if this.showErrorDialog}}
  <ModalDialog @onEscape={{this.closeAction}} as |Modal|>
    <Modal.body>
      <h3 class="text-danger">An unexpected error occurred.</h3>
      <p>
        Sorry, there was an issue trying to launch the online course. You can try again in a few minutes.
      </p>
      <p>
        If the problem persists, please contact the Ranger Tech Team
        <TechSupportEmail/>
        for help.
      </p>
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeAction}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}
{{#if this.showExodusDialog}}
  <ModalDialog as |Modal|>
    <Modal.body>
      <h4>
        {{fa-icon "hand-point-right" right=1}} You are about to leave the Clubhouse and head to the Online Course
        website.
      </h4>
      <p>
        You have been enrolled in the Online Course. Please remember that you are still required to attend an In-Person
        Training session after completing the course.
      </p>
      On the Online Course login page, click the <i>Login Using The Clubhouse</i> button to log in. <b>Do not use the
      login form that asks for a username and password.</b>
    </Modal.body>
    <Modal.footer>
      <UiButton @onClick={{this.launchTrainingAction}} @disabled={{this.isSubmitting}} @responsive={{true}}>
        Go To Online Course
      </UiButton>
      {{#if this.isSubmitting}}
        <LoadingIndicator @text="Working"/>
      {{/if}}
    </Modal.footer>
  </ModalDialog>
{{/if}}