<UiButton @onClick={{this.setupAccountAction}} @class="btn-responsive">{{@text}}</UiButton>
{{#if this.showCreationDialog}}
  <LoadingDialog>
    Setting up your Online Course account. Please wait.
  </LoadingDialog>
{{/if}}
{{#if this.showErrorDialog}}
  <ModalDialog @onEscape={{this.closeAction}} as |Modal|>
    <Modal.body>
      <h3 class="text-danger">An unexpected error occurred.</h3>
      <p>
        Sorry, there was an issue trying to launch the online course. You can try again in a few minutes.
      </p>
      <p>
        If the problem persists, please contact the Ranger Tech Team {{admin-email}} for help.
      </p>
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeAction}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}
{{#if this.showExodusDialog}}
  <ModalDialog as |Modal|>
    <Modal.body>
      <h4>{{fa-icon "hand-point-right"}} You are about to leave the Clubhouse and head to the Online Course website.</h4>
      {{#if this.alreadyExists}}
        <p>
          Your online course account has already been set up.
        </p>
      <p>
        <b>Your Online Course username is:</b><br>
        {{this.username}}
      </p>
      {{else}}
        <p>
          A Ranger online course website account has been set up, and you have been enrolled.
        </p>
        <p>
          <b class="text-danger">WRITE DOWN the following online course website account info. The username
            and password will be needed to log into the online course website:</b>
        </p>
        <p>
          <b>Username:</b> {{this.username}}<br>
          <b>Password:</b> {{this.password}}<br>
        </p>
        <p>
          <b>Your username is your callsign in all lower case, ONLY has letters (a-z), and numbers (0-9). All spaces, dashes, and
            other special characters have been removed.</b>
        </p>
        <p>
          <i>The above credentials are ONLY for the online course website and are SEPARATE from the Clubhouse.</i>
        </p>
      {{/if}}
      <UiButton @onClick={{this.launchTrainingAction}} @disabled={{this.isSubmitting}} @class="btn-responsive">
        Go To Online Course
      </UiButton>
      {{#if this.isSubmitting}}
        <LoadingIndicator @text="Working"/>
      {{/if}}
    </Modal.body>
  </ModalDialog>
{{/if}}