<UiSection>
  <:title>{{@name}} - {{pluralize @people.length "person"}}</:title>
  <:body>
    <table class="table table-striped table-hover table-sm table-width-auto">
      <thead>
      <tr>
        <th>Moodle ID</th>
        <th>Callsign</th>
        <th>Moodle Idnumber</th>
        <th>Moodle Username</th>
        <th>Moodle Email</th>
        <th>Completed Date</th>
      </tr>
      </thead>
      <tbody>
      {{#each @people as |person|}}
        <tr>
          <td class="text-end">{{person.id}}</td>
          <td>
            {{#if person.person}}
              <PersonLink @person={{person.person}} />
            {{else}}
              <b class="text-danger">* unknown *</b>
            {{/if}}
          </td>
          <td class="text-end">
            {{person.idnumber}}
          </td>
          <td>
            {{person.username}}
          </td>
          <td>
            {{person.email}}
          </td>
          <td>
            {{#if person.is_teacher}}
              <b class="text-danger">Not enrolled as student</b>
            {{else}}
              <PresentOrNot @value={{person.date_complete}} @empty="not yet"/>
            {{/if}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </:body>
</UiSection>
