<UiButton @onClick={{this.setupAccountAction}}
          @type="{{if @didComplete "secondary" "primary"}}"
          @responsive={{true}}
          ...attributes
>
  {{@text}}
</UiButton>
{{#if this.showCreationDialog}}
  <LoadingDialog>
    Setting up your Online Course account. Please wait.
  </LoadingDialog>
{{/if}}
{{#if this.showDownForMaintenanceDialog}}
  <ModalDialog @onEscape={{this.closeDownForMaintenance}} as |Modal|>
    <Modal.body>
      <h3 class="text-danger">Online Course Unavailable</h3>
      <p>
        Sorry, the Online Course is down for maintenance.
      </p>
      <p>
        If the problem persists for more than a day, please contact the Ranger Tech Team at
        <TechSupportEmail/>
        for help.
      </p>
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeDownForMaintenance}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}
{{#if this.showErrorDialog}}
  <ModalDialog @onEscape={{this.closeAction}} as |Modal|>
    <Modal.body>
      <h3 class="text-danger">An unexpected error occurred.</h3>
      <p>
        Sorry, there was an issue trying to launch the Online Course. You can try again in a few minutes.
      </p>
      <p>
        If the problem persists, please contact the Ranger Tech Team
        <TechSupportEmail/>
        for help.
      </p>
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeAction}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}
{{#if this.showExodusDialog}}
  <ModalDialog as |Modal|>
    <Modal.body>
      <h4>
        {{fa-icon "hand-point-right" right=1}} You are about to leave the Clubhouse and head to the Online Course
        website.
      </h4>
      <p>
        {{#if @isART}}
          The Advanced Ranger Training (ART) online course is hosted on the same website as the mandatory Online Course
          that all Rangers must complete to ranger on playa. After logging in, select the appropriate ART Online Course
          from the landing page.
        {{else}}
          You have been enrolled in the Online Course. Please remember that you are still required to attend an
          In-Person Training session after completing the course.
        {{/if}}
      </p>
      On the Online Course website login page, click the <code>Login Using The Clubhouse</code> button to access
      your account. <span class="text-danger">Do not use the login form that asks for a username and password</span>.
    </Modal.body>
    <Modal.footer>
      <UiButton @onClick={{this.launchTrainingAction}} @disabled={{this.isSubmitting}} @responsive={{true}}>
        Go To Online Course
      </UiButton>
      {{#if this.isSubmitting}}
        <LoadingIndicator @text="Working"/>
      {{/if}}
    </Modal.footer>
  </ModalDialog>
{{/if}}