<UiButton @onClick={{this.openDialogAction}}>
  {{this.label}}
</UiButton>

{{#if this.showDialog}}
  <ModalDialog @size="xl" @title={{@title}} @onEscape={{this.cancelAction}} as |dialog|>
    <dialog.body>
      <div class="masonry-container masonry-col-5 masonry-border">
        {{#each this.dayOptions as |day dayIdx|}}
          <div class="masonry-item">
            <h4 class="mx-n1 mt-n1 p-1 bg-light-gray">{{day.label}}</h4>
            {{#each day.periods as |period periodIdx|}}
              <div class="form-check">
                <input type="radio"
                       checked={{period.selected}}
                       id="period-{{dayIdx}}-{{periodIdx}}"
                       class="form-check-input"
                  {{on "click" (fn this.clickPeriodAction period)}}
                >
                <label for="period-{{dayIdx}}-{{periodIdx}}"
                       class="form-check-label {{if period.selected "text-danger font-weight-bold"}}">
                  {{period.label}}
                </label>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </dialog.body>
    <dialog.footer>
      <UiCancelButton @onClick={{this.cancelAction}} />
    </dialog.footer>
  </ModalDialog>
{{/if}}