<div class="form-row">
  <@f.input @name="country" @label="Country" @type="select" @options={{this.countryOptions}} @autocomplete="country"
  @grid="col-auto" />
</div>
<div class="form-row">
  <@f.input @name="street1" @type="text" @label="Street" @maxlength=128 @autocomplete="address-line1" @grid="col-sm-6
  col-md-8 col-lg-4" />
  <@f.input @name="apt" @type="text" @label="Apt" @maxlength=10 @grid="col-md-1 col-sm-4" />
</div>

<div class="form-row">
  <@f.input @name="street2" @type="text" @label="Street Line 2" @maxlength=128 @autocomplete="address-line2"
  @grid="col-sm-12 col-md-8 col-lg-4" />
</div>
<div class="form-row">
  <@f.input @name="city" @type="text" @label="City" @autocomplete="address-level2" @grid="col-sm-5 col-md-4" />
  {{#if this.stateOptions}}
    <@f.input @name="state" @label={{this.stateLabel}} @type="select" @options={{this.stateOptions}}
    @autocomplete="address-level1" @grid="col-sm-12 col-md-6 col-lg-3" />
  {{else}}
    <@f.input @name="state" @label={{this.stateLabel}} @maxlength=128 @disabled={{if @f.model.country false true}}
    @autocomplete="address-level1" @grid="col-sm-12 col-md-6 col-lg-3" />
  {{/if}}
  <@f.input @name="zip" @label={{if (eq @f.model.country "US") "Zip code" "Postal Code"}} @maxlength=10
  @autocomplete="postal-code" @grid="col-sm-12 col-md-4 col-lg-2" />
</div>
