{{#if this.isLoading}}
  <LoadingIndicator @text="Loading the ticket and provision progress"/>
{{else}}
  <UiSection>
    <:title>{{fa-icon "ticket" right=2}} Ticket Qualifications</:title>
    <:body>
      <p>
        You may qualify for either a Reduced-Price Ticket (RPT) OR a Staff Credential (SC). If you do qualify for either
        ticket type, you will automatically qualify for a Vehicle Pass. Only one ticket type will be awarded.
        (i.e., if you qualify for a SC, you will NOT receive a RPT as well.)
      </p>
      {{#unless this.items.staff_credential.has_earned}}
        <PersonTicketsAndProvisionsItem @item={{this.items.rpt}} @name="Reduced Price Ticket"/>
      {{/unless}}
      <PersonTicketsAndProvisionsItem @item={{this.items.staff_credential}} @name="Staff Credential"/>
    </:body>
  </UiSection>
  <UiSection>
    <:title>{{fa-icon "utensils" right=2}} Meal Pass Qualifications</:title>
    <:body>
      <p>
        Two possible commissary meal passes are available:
        </p>
      <p>
        &bullet; The Event Week Eat Pass allows you to eat at the commissary during the event week ONLY.<br>
        &bullet; The All-Eat Meal Pass allows you to eat at the commissary during the pre-event, event week, and post-event periods
      </p>
      <p>
        Both passes are good for 3 meals per day. Only one meal pass will be awarded. (i.e., if you qualify
        for an All-Eat meal pass, you will NOT receive an Event Week meal pass as well.)
      </p>
      {{#unless this.items.all_eats.has_earned}}
        <PersonTicketsAndProvisionsItem @item={{this.items.event_week_eats}}
                                        @name="Event Week Eat Pass"
                                        @eventWeek={{true}}
                                        @subtext="The Event Week Eat Pass qualification is based off Event Week hours ONLY."/>
      {{/unless}}
      <PersonTicketsAndProvisionsItem @item={{this.items.all_eats}}
                                      @name="All-Eat Meal Pass"
                                      @subtext="The All-Eat Meal Pass Qualification can be met with any hours worked in the Pre-Event, Event Week, or Post-Event periods."
      />

    </:body>
  </UiSection>
  <UiSection>
    <:title>{{fa-icon "shower" right=2}} Wet Spot Qualifications</:title>
    <:body>
      <p>
        The Wet Spot is the Burning Man volunteer &amp; staff shower facility located on 5:30 towards the DPW Depot.
      </p>
      <p>
        For every {{this.items.shower_pog.threshold}} hours worked during the Event Week only, you may receive a
        single-use
        shower pog only good for the current event.
      </p>
      <p>
        The Wet Spot Access qualification allows daily access to the facility for the NEXT event. To qualify for
        the Wet Spot, one of two thresholds have to be met:
      </p>
      <p>
        <b>- EITHER -</b><br>
        &bullet; Work {{this.items.shower_access_event_week.threshold}} hours during the EVENT WEEK. <b>- OR -</b><br>
        &bullet; Work {{this.items.shower_access_entire_event.threshold}} hours during the pre-event, event week and/or
        post-event period.
      </p>
      <p>
        Only one shower access will be awarded. (i.e., if you met both the Event Week and Pre-Event / Event Week /
        Post-Event thresholds, you will receive only one shower access provision for the following event.)
      </p>
      <PersonTicketsAndProvisionsItem @item={{this.items.shower_pog}}
                                      @eventWeek={{true}}
                                      @name="Wet Spot Pog for THIS event"/>
      <PersonTicketsAndProvisionsItem @item={{this.items.shower_access_event_week}}
                                      @eventWeek={{true}}
                                      @name="Wet Spot Access for NEXT event (Event Week hours)"
                                      @subtext="Based off hours solely worked during the Event Week period."
      />
      <PersonTicketsAndProvisionsItem @item={{this.items.shower_access_entire_event}}
                                      @name="Wet Spot Access for NEXT event (Pre-event, Event week, Post-event hours)"
                                      @subtext="Based off hours hours work during the Pre-event, Event Week, and/or Post-event periods."
      />
    </:body>
  </UiSection>
{{/if}}