<div class="mugshot {{@containerClass}}">
  {{#if (and (not-eq @photo.photo_status "missing") @photo.photo_url)}}
    <img src={{or @photo.profile_url @photo.photo_url}} alt="profile">
    {{#if (eq @photo.photo_status "approved")}}
      <span class="text-success">{{fa-icon "check"}} Approved</span>
    {{else if (eq @photo.photo_status "submitted")}}
      <b>{{fa-icon "hourglass-half"}} Awaiting Approval</b>
    {{else if (eq @photo.photo_status "rejected")}}
      <b class="text-danger">{{fa-icon "times"}} Rejected</b>
    {{else}}
      <span class="text-danger">Status: {{@photo.photo_status}}</span>
    {{/if}}
    <br>
  {{else}}
    <i class="far fa-user fa-8x"></i><br>
    Wanna supply a photo?<br>
  {{/if}}

  <div class="mt-1">
    {{#if (and @uploadAction this.canShowUploadButton)}}
      <UiButton @onClick={{@uploadAction}}>Upload new photo</UiButton>
    {{else}}
      <small>Uploading is disabled</small>
    {{/if}}
  </div>

</div>

