<div class="mail {{unless @message.delivered "mail-unread"}}">
  <div class="mail-photo">
    {{#if @message.is_rbs}}
      {{fa-icon "bullhorn"}}
    {{else if @message.sender_photo_url}}
      <img src={{@message.sender_photo_url}} loading="lazy" alt={{@message.message_from}}/>
    {{else}}
      {{fa-icon "user"}}
    {{/if}}
  </div>
  <div class="mail-header {{if @message.showing "mail-showing"}}"
    {{on "click" this.toggleMessage}}
       role="button">
    <div class="mail-indicator">
      {{#if @message.has_expired}}
        {{fa-icon "ban"}}
      {{else if @message.delivered}}
        {{fa-icon "check-circle" type="far"}}
      {{else}}
        {{fa-icon "arrow-right" color="success"}}
      {{/if}}
    </div>
    <div class="mail-from">
      {{@message.message_from}}
    </div>
    <div class="mail-date">
      {{shift-format @message.created_at}} (Pacific)
    </div>
    <div class="mail-subject">
      {{@message.subject}}
    </div>
  </div>
  <div class="mail-body">
    {{#if this.isOpened}}
      {{#if @message.isDictated}}
        <div class="mail-written-by">
          {{fa-icon "pen-alt" right=1}} written by {{@message.creator_callsign}} for {{@message.message_from}}
        </div>
      {{/if}}
      {{#if @message.has_expired}}
        <UiAlert @type="danger" @icon="ban">
          This message expired on {{shift-format @message.expires_at}} (Pacific) and is no longer considered relevant.
        </UiAlert>
      {{else if @message.expires_at}}
        <UiAlert @type="warning" @icon="hand-point-right">
          This message will no longer be considered relevant after {{shift-format @message.expires_at}}
          (Pacific).
        </UiAlert>
      {{/if}}
      {{nl2br @message.body}}
      <div class="mail-actions">
        {{#if (and @canSendMessages (not @message.is_rbs))}}
          <UiButton @onClick={{@onReplyTo}}
                    @responsive={{true}}
                    class="me-4 mb-2"
                    @disabled={{this.isSubmitting}}>
            {{fa-icon "reply" right=1}} Reply
          </UiButton>
        {{/if}}
        <UiButton @type="secondary"
                  @responsive={{true}}
                  class="mb-2"
                  @onClick={{this.toggleRead}}
                  @disabled={{@message.isSubmitting}}>
          {{#if @message.delivered}}
            Mark Unread
          {{else}}
            Mark Read
          {{/if}}
          {{#if @message.isSubmitting}}
            <SpinIcon/>
          {{/if}}
        </UiButton>
        {{#if (and  @canSendMessages @message.is_rbs)}}
          <div class="mail-no-reply">
            This is a broadcast message and cannot be replied to.
          </div>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
