<ModalDialog @title="Upload A New BMID Photo" @onEscape={{@closeAction}} as |modal|>
  <modal.body>
    {{#unless @photo.upload_enabled}}
      <h3 class="text-danger border border-danger p-2">
        <b>Photo uploading is disabled.</b> Because you have the Admin or VC permission, you are allowed to upload a
        photo. Do not abuse this.
      </h3>
    {{/unless}}
    {{#if (eq this.step "showGuidelines")}}
      <p>
        Before uploading a BMID photo, take a moment to review the photo help sheet:
      </p>
      <p>
        View
        <ExtLink @href="https://docs.google.com/document/d/1hUqrJwdMG6XB5nk7Eh8nY2GH4uvAFTppmCKCmfidIvQ/edit?usp=sharing">
         The Ranger BMID Help Sheet
        </ExtLink> (Link will be opened in a new window)

      </p>
      {{else if (eq this.step "source")}}
      <h4>Your BMID photo is an ID photo. Think “passport” or driver's license.</h4>
      The photo must meet the following criteria:
      <ul class="no-indent">
        <li><b class="text-danger">NO sunglasses, goggles, facepaint, or masks.</b></li>
        <li>
          <b class="text-danger">Nothing covering your head - no hats, horns, wreaths, etc.</b>
          (Religious attire is OK.)
        </li>
        <li>Face the camera directly with full face in view.</li>
        <li>Your face is evenly lit with no shadows.</li>
        <li>Color ONLY. No black & white photos.</li>
        <li>No other people in the photo.</li>
      </ul>
      <div class="row g-0">
        <div class="col-sm-12 col-xl-auto mb-2">
          <div class="input-group">
            <input type="file"
                   class="form-control"
                   id="photo-file"
                   accept=".jpg,.jpeg,.jp2,.png,image/jpg,image/jpeg,image/png"
                {{on "change" this.fileChangeEvent}}>
          </div>
        </div>
        {{#if this.hasCamera}}
          <div class="col-sm-12 col-xl-auto mx-xl-4 my-xl-2 text-center">
            <h4>- OR -</h4>
          </div>
          <div class="col-sm-12 col-xl-auto text-sm-center text-xl-none">
            <UiButton @onClick={{this.takeSelfieAction}} @class="btn-responsive">
              Use Camera / Take Selfie
            </UiButton>
          </div>
        {{/if}}
      </div>
      {{#if this.showNoBlobError}}
        <p>
          <b class="text-danger">
            Uh oh, I had a problem processing your image. You can try another photo, or email this one
            to the photo wranglers at :
          </b>
        </p>
        <p>
          {{vc-email}}<br>
          (don't forget to include your Prospective Ranger handle!)
        </p>
        <p>
          Sorry about that!
        </p>
      {{/if}}

      <p class="mt-2">
        Examples of a good BMID photo:
      </p>

      <FormRow>
        <div class="col-sm-6 col-lg-3 mb-2 text-center">
          <img src={{assets-url "images/headshot-good-1.jpg"}} alt="example headshot 1"/>
        </div>
        <div class="col-sm-6 col-lg-3 mb-2 text-center">
          <img src={{assets-url "images/headshot-good-2.jpg"}} alt="example headshot 2"/>
        </div>
        <div class="col-sm-6 col-lg-3 text-center">
          <img src={{assets-url "images/headshot-good-3.jpg"}} alt="example headshot 3"/>
        </div>
      </FormRow>
    {{else if (eq this.step "take-selfie")}}
      <PhotoSelfie @useSelfieAction={{this.useSelfieAction}} @width={{this.width}} @height={{this.height}} />
    {{else if (eq this.step "edit-photo")}}
      <PhotoEdit @imageDataUrl={{this.originalImageDataUrl}}
                 @submitAction={{this.uploadEditAction}}
                 @cancelAction={{this.chooseSourceAction}}
                 @isSubmitting={{this.isSubmitting}}
                 @width={{this.width}}
                 @height={{this.height}}
                 @isMugshot={{true}}
      />
    {{/if}}
  </modal.body>
  <modal.footer>
    <UiCancelButton @onClick={{@closeAction}} />
    {{#if (eq this.step "showGuidelines")}}
      <UiButton @onClick={{this.gotoSourceStep}} @type="primary">
        Upload Photo
      </UiButton>
    {{/if}}
  </modal.footer>
</ModalDialog>

{{#if this.isLoading}}
  <LoadingDialog>
    Loading
  </LoadingDialog>
{{/if}}