<div id="camera-container">
  {{!template-lint-disable require-media-caption}}
  <video id="photo-player" autoplay="true" playsinline="true" capture="user"
    {{on-insert this.setupCamera}} {{before-removal this.destroyCamera}}></video>
  <UiButton class="btn-block mt-4" @size="lg" @onClick={{this.snapShutterAction}} @disabled={{not this.cameraReady}}>
    {{#if this.cameraReady}}
      {{fa-icon "camera"}} Use Image
    {{else}}
      <LoadingIndicator @text="Please wait"/>
    {{/if}}
  </UiButton>
</div>
