<ModalDialog @title="Reject Photo for {{@photo.person.callsign}}"
             @size="xl"
             @onEscape={{@onClose}} as |modal|>
  <modal.body>
    <ChForm @formId="photo"
            @formFor={{this.reviewForm}}
            @changeSet={{false}}
            @onSubmit={{this.onRejectSubmit}} as |f|>
      <FormRow>
        <div class="col-3">
          <div class="photo-large">
            <img src={{@photo.image_url}} alt="{{@photo.person.callsign}}"/>
          </div>
        </div>
        <f.checkboxGroup @name="reasons"
                         @label="Rejection Reasons:"
                         @options={{this.rejectionOptions}}
                         @cols={{4}}
                         @wrapClass="col-8 ms-2"
        />
      </FormRow>
      <FormRow>
        <f.textarea @name="message"
                    @label="Custom message to include in the rejection email:"
                    @rows={{5}}
                    @cols={{80}}
                    @hint="All email addresses and links in the message will be hyperlinked."/>
      </FormRow>
      <f.submit @label="Reject Photo" @submitClass="btn-danger" disabled={{@photo.isSaving}} />
      <UiCancelButton @disabled={{@photo.isSaving}} @onClick={{@onClose}} />
      <UiButton @type="secondary" @onClick={{this.rejectPreviewAction}}>Preview Email</UiButton>
      {{#if @photo.isSaving}}
        <LoadingIndicator/>
      {{/if}}
    </ChForm>
  </modal.body>
</ModalDialog>

{{#if this.rejectMail}}
  <ModalDialog @title="Rejection Email Preview" @onEscape={{this.closeRejectMail}} as |modal|>
    <modal.body>
      <div class="border">
        <iframe {{did-insert this.insertRejectMail}}
          id="mail-preview-iframe"
          class="mail-preview-iframe"
          title="rejection message preview">
        </iframe>
      </div>
    </modal.body>
    <modal.footer>
      <UiCloseButton @onClick={{this.closeRejectMail}} />
    </modal.footer>
  </ModalDialog>
{{/if}}

