<UiTable>
  <thead>
  <tr>
    <th>ID</th>
    <th>Photo</th>
    {{#unless @person}}
      <th>Callsign</th>
    {{/unless}}
    <th>Status</th>
    <th>Uploaded</th>
    <th>Reviewed</th>
    <th>Edited</th>
    {{#if @deletePhotoAction}}
      <th>Actions</th>
    {{/if}}
  </tr>
  </thead>
  <tbody>
  {{#each @photos as |photo|}}
    <tr>
      <td>{{photo.id}}</td>
      <td>
        <img id="photo-{{photo.id}}"
             src={{or photo.profile_url photo.image_url}}
             class="photo-icon"
             role="button"
             alt={{photo.person.callsign}}
             loading="lazy"
          {{on "click" (fn this.showPhotoAction photo)}}
        />
      </td>
      {{#unless @person}}
        <td>
          <PersonLink @person={{photo.person}} />
        </td>
      {{/unless}}
      <td>
        {{#if (eq photo.status "approved")}}
          <b class="text-success">{{fa-icon "check" right=1}} {{photo.status}}</b>
        {{else if (eq photo.status "rejected")}}
          <b class="text-danger">{{fa-icon "times" right=1}} {{photo.status}}</b>
        {{else}}
          {{photo.status}}
        {{/if}}<br>
        {{#if photo.is_active}}
          <b>CURRENT</b>
        {{else}}
          <span class="text-muted">archived</span>
        {{/if}}
      </td>
      <td>
        {{#if photo.uploaded_at}}
          {{photo.uploaded_at}}<br>
          by {{#if photo.upload_person}}
          <PersonLink @person={{photo.upload_person}} />
        {{else}}
          <i>unknown</i>
        {{/if}}
        {{else}}
          <i>never</i>
        {{/if}}
      </td>
      <td>
        {{#if photo.reviewed_at}}
          {{photo.reviewed_at}}<br>
          by {{#if photo.review_person}}
          <PersonLink @person={{photo.review_person}} />
        {{else}}
          <i>unknown</i>
        {{/if}}
        {{else}}
          <i>never</i>
        {{/if}}
      </td>
      <td>
        {{#if photo.edited_at}}
          {{photo.edited_at}}<br>
          by {{#if photo.edit_person}}
          <PersonLink @person={{photo.edit_person}} />
        {{else}}
          <i>unknown</i>
        {{/if}}
        {{else}}
          <i>never</i>
        {{/if}}
      </td>
      {{#if @deletePhotoAction}}
        <td>
          <UiButton @type="light-red" @size="sm" @onClick={{fn @deletePhotoAction photo}} @disabled={{photo.isSaving}}>
            {{fa-icon "trash"}} Delete
          </UiButton>
          {{#if photo.is_active}}
            <UiButton @type="secondary"
                      @class="me-1"
                      @size="sm"
                      @disabled={{photo.isSaving}}
                      @onClick={{fn this.editPhotoAction photo}}>
              {{fa-icon "edit"}} Edit
            </UiButton>
            {{#if (not-eq photo.status "rejected")}}
              <UiButton @type="danger"
                        @class="me-1"
                        @size="sm"
                        @onClick={{fn this.showRejectDialog photo}}
                        @disabled={{photo.isSaving}}>
                {{fa-icon "times"}} Reject
              </UiButton>
            {{/if}}
            {{#if (not-eq photo.status "approved")}}
              <UiButton @type="success"
                        @size="sm"
                        @onClick={{fn this.approveAction photo}}
                        @disabled={{photo.isSaving}}>
                {{fa-icon "check"}} Approve
              </UiButton>
            {{/if}}
          {{else}}
            <UiButton @type="secondary" @size="sm" @onClick={{fn @activatePhotoAction photo}}>
              {{fa-icon "star"}} Activate
            </UiButton>
          {{/if}}
          {{#if photo.isSaving}}
            <LoadingIndicator/>
          {{/if}}
        </td>
      {{/if}}
    </tr>
  {{/each}}
  </tbody>
</UiTable>

{{#if this.showPhoto}}
  <PhotoInfo @photo={{this.showPhoto}} @closeAction={{this.closePhotoAction}} @rejectionLabels={{@rejectionLabels}} />
{{/if}}

{{#if this.rejectPhoto}}
  <PhotoRejectDialog @photo={{this.rejectPhoto}} @onClose={{this.onRejectClose}} @reviewConfig={{@reviewConfig}} />
{{/if}}

{{#if this.editPhoto}}
  <PhotoEditDialog @photo={{this.editPhoto}} @onClose={{this.closeEditPhotoAction}} />
{{/if}}
