<ModalDialog @title="Photo Information" as |modal|>
  <modal.body>
    <div class="row">
      <div class="col-6">
        <img src={{@photo.image_url}} alt="{{@photo.person.callsign}}" />
      </div>
      <div class="col-6">
        <h3>ID #{{@photo.id}} - {{@photo.person.callsign}}</h3>
        <dl>
          <dt>Status</dt>
          <dd>{{@photo.status}}</dd>
          <dt>Dimensions (WxH)</dt>
          <dd>{{@photo.width}} x {{@photo.height}}</dd>
          <dt>Uploaded</dt>
          <dd>
            {{#if @photo.uploaded_at}}
              {{@photo.uploaded_at}}
              by {{#if @photo.upload_person}}
              <PersonLink @person={{@photo.upload_person}} />
            {{else}}
              <i>unknown</i>
            {{/if}}
            {{else}}
              <i>never</i>
            {{/if}}
          </dd>
          <dt>Reviewed</dt>
          <dd>
            {{#if @photo.reviewed_at}}
              {{@photo.reviewed_at}}
              by {{#if @photo.review_person}}
              <PersonLink @person={{@photo.review_person}} />
            {{else}}
              <i>unknown</i>
            {{/if}}
            {{else}}
              <i>never</i>
            {{/if}}
          </dd>
          <dt>Edited</dt>
          <dd>
            {{#if @photo.edited_at}}
              {{@photo.edited_at}}<br>
              by {{#if @photo.edit_person}}
              <PersonLink @person={{@photo.edit_person}} />
            {{else}}
              <i>unknown</i>
            {{/if}}
            {{else}}
              <i>never</i>
            {{/if}}
          </dd>
          {{#if (eq @photo.status "rejected")}}
            <dt>{{pluralize @photo.reject_reasons.length "Reject reason"}}</dt>
            <dd>
              {{#each @photo.reject_reasons as |reason idx|~}}
                {{~if idx ", " ~}}
                <PresentOrNot @value={{get @rejectionLabels reason}}
                              @empty={{concat "Unknown reason " reason}} />
              {{~else}}
                <i>none given</i>
              {{/each}}
            </dd>
            <dt>Rejection Message</dt>
            <dd>
              <PresentOrNot @value={{@photo.reject_message}} />
            </dd>
          {{/if}}
        </dl>
      </div>
    </div>
  </modal.body>
  <modal.footer>
    <modal.button @label="Close" @action={{@closeAction}} @type="primary"/>
  </modal.footer>
</ModalDialog>
