<ModalDialog @title="Upload A New BMID Photo" @onEscape={{@closeAction}} as |modal|>
  <modal.body>
    {{#unless @photo.upload_enabled}}
      <h3 class="text-danger border border-danger p-2">
        <b>Photo uploading is disabled.</b> Because you have the Admin or VC role, you are allowed to upload a
        photo.
        Do not abuse this.
      </h3>
    {{/unless}}
    {{#if (eq this.step "source")}}
      <h4>Your BMID photo is an ID photo. Think “passport” or driver's license.</h4>
      The photo must meet the following criteria:
      <ul class="no-indent">
        <li><b class="text-danger">NO sunglasses, goggles, facepaint, or masks.</b></li>
        <li>
          <b class="text-danger">Nothing covering your head - no hats, horns, wreaths, etc.</b>
          (Religious attire is OK.)
        </li>
        <li>Face the camera directly with full face in view.</li>
        <li>Your face is evenly lit with no shadows.</li>
        <li>Color ONLY. No black & white photos.</li>
        <li>No other people in the photo.</li>
      </ul>
      <div class="row g-0">
        <div class="col-sm-12 col-lg-auto mb-2">
          <div class="input-group">
            <input type="file" class="form-control" capture="user" id="photo-file"
                   accept="image/jpg,image/jpeg,image/png" {{on "change" this.fileChangeEvent}}>
          </div>
        </div>
        {{#if this.hasCamera}}
          <div class="col-sm-12 col-lg-auto mx-4 my-2">
            <h4>- OR -</h4>
          </div>
          <div class="col-sm-12 col-lg-auto text-center">
            <UiButton @onClick={{this.takeSelfieAction}}>
              Use Camera / Take Selfie
            </UiButton>
          </div>
        {{/if}}
      </div>

      <p class="mt-2">
        Examples of a good BMID photo:
      </p>

      <FormRow>
        <div class="col-sm-6 col-lg-3 mb-2 text-center">
          <img src={{assets-url "images/headshot-good-1.jpg"}} alt="example headshot 1"/>
        </div>
        <div class="col-sm-6 col-lg-3 mb-2 text-center">
          <img src={{assets-url "images/headshot-good-2.jpg"}} alt="example headshot 2"/>
        </div>
        <div class="col-sm-6 col-lg-3 text-center">
          <img src={{assets-url "images/headshot-good-3.jpg"}} alt="example headshot 3"/>
        </div>
      </FormRow>
    {{else if (eq this.step "take-selfie")}}
      <PhotoSelfie @useSelfieAction={{this.useSelfieAction}} @width={{this.width}} @height={{this.height}} />
    {{else if (eq this.step "edit-photo")}}
      <PhotoEdit @imageDataUrl={{this.originalImageDataUrl}} @submitAction={{this.uploadEditAction}}
                 @cancelAction={{this.chooseSourceAction}} @isSubmitting={{this.isSubmitting}} @width={{this.width}}
                 @height={{this.height}} />
    {{/if}}
  </modal.body>
  <modal.footer>
    <UiCancelButton @onClick={{@closeAction}} />
  </modal.footer>
</ModalDialog>
