<a href="#" {{on "click" this.preventClick}} ...attributes>
  {{@text}}
  <BsPopover @title={{@title}} @onShow={{@onShow}} as |po|>
    {{yield po}}
    <div class="popover-footer mt-2"><UiCloseButton @onClick={{po.close}} /></div>
  </BsPopover>
</a>
