<UiTable>
  <thead>
  <tr>
    <th>ID</th>
    <th colspan="2">Active / Title (Short Title)</th>
    <th>Team / Category / Type</th>
    <th>Min / Max</th>
    <th>Attributes</th>
    <th>Associated Roles</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {{#each @viewPositions key="id" as |position|}}
    <tr id="position-{{position.id}}">
      <td class="text-end">{{position.id}}</td>
      <td class="text-center">
        <BooleanIcon @value={{position.active}} @falseIcon="times" @falseClass="text-danger"/>
      </td>
      <td>
        {{position.title}}
        {{#if position.short_title}}
          <br>({{position.short_title}})
        {{/if}}
      </td>
      <td>
        {{this.teamName position.team_id}}<br>
        {{#if position.team_id}}
          {{position.teamCategoryLabel}}<br>
        {{/if}}
        {{position.type}}
      </td>
      <td class="text-center">{{position.min}} / {{position.max}}</td>
      <td>
        {{#if position.training_position_id}}
          Training position: {{pluck position.training_position_id @positions "title" "-"}}<br>
        {{/if}}
        {{#if position.parent_position_id}}
          Parent position: {{pluck position.parent_position_id @positions "title" "-"}}<br>
        {{/if}}
        {{#if position.require_training_for_roles}}
          {{fa-icon "user-graduate" ffixed=true right=1}} Requires ART to be passed before roles are granted.<br>
        {{/if}}
        {{#if position.new_user_eligible}}
          {{fa-icon "globe" fixed=true right=1}} Grant to New Accounts<br>
        {{/if}}
        {{#if position.all_rangers}}
          {{fa-icon "universal-access" fixed=true right=1}} Grant To All Rangers<br>
        {{/if}}
        {{#if position.count_hours}}
          {{fa-icon "clock" fixed=true right=1}} Hours count towards appreciations<br>
        {{/if}}
        {{#if position.on_sl_report}}
          {{fa-icon "list" fixed=true right=1}} On Shift Lead Report<br>
        {{/if}}
        {{#if position.on_trainer_report}}
          {{fa-icon "rectangle-list" fixed=true right=1}} On Trainer's Report<br>
        {{/if}}
        {{#if position.prevent_multiple_enrollments}}
          {{fa-icon "ban" fixed=true right=1}} Multiple Enrollments Prevented<br>
        {{/if}}
        {{#if position.alert_when_no_trainers}}
          {{fa-icon "bell" fixed=true right=1}} Alert when this trainer/mentor slot becomes empty while the
          trainee/mentee slot
          still has signups.<br>
        {{/if}}
        {{#if position.alert_when_becomes_empty}}
          {{fa-icon "bell" fixed=true right=1}} Alert when slot becomes empty of signups.<br>
        {{/if}}
        {{#if position.no_training_required}}
          {{fa-icon "person-walking" fixed=true right=1}} In-Person training not required to check in.<br>
        {{/if}}
        {{#if position.pvr_eligible}}
          {{fa-icon "car" fixed=true right=1}} Position grants Personal Vehicle eligibility.<br>
        {{/if}}
        {{#if position.mvr_eligible}}
          {{fa-icon "truck-monster" fixed=true right=1}} Position grants MVR eligibility.<br>
        {{/if}}
        {{#if position.mvr_signup_eligible}}
          {{fa-icon "truck-monster" fixed=true right=1}} Shift signups grants MVR eligibility.<br>
        {{/if}}
        {{#if position.not_timesheet_eligible}}
          {{fa-icon "ban" fixed=true right=1}} Used only for scheduling. Timesheet entries may not be created.<br>
        {{/if}}
        {{#if position.cruise_direction}}
          {{fa-icon "people-group" fixed=true right=1}} Selectable on the Cruise Direction interface<br>
        {{/if}}
        {{#if position.contact_email}}
          Contact email:
          <MailTo @to={{position.contact_email}} />
        {{/if}}
      </td>
      <td>
        {{#if position.role_ids}}
          {{this.roleList position.role_ids}}
        {{else}}
          <i class="text-muted">None</i>
        {{/if}}
      </td>
      <td>
        <UiEditButton @size="sm" @onClick={{fn @editAction position}}/>
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="7"><b class="text-danger">No positions found</b></td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>
