<h1>
  {{#if @position.isNew}}
    Create New Position
  {{else}}
    Edit Position {{@position.title}} (ID #{{@position.id}})
  {{/if}}
</h1>
<ChForm @formId="position-form"
        @formFor={{@position}}
        @validator={{this.positionValidations}}
        @onSubmit={{@saveAction}} as |f|>
  <fieldset>
    <legend>Description</legend>
    <FormRow>
      <f.text @name="title"
              @label="Title"
              @maxlength={{40}}
              @size={{40}}
              @showCharCount={{true}}
      />
      <f.text @name="short_title"
              @label="Short Title"
              @size={{6}}
              @maxlength={{6}}
              @showCharCount={{true}}
      />
      <f.select @name="type"
                @label="Type"
                @options={{this.positionTypes}}
      />
      <f.text @name="resource_tag"
              @label="Trainer resource page document tag"
              @size={{30}}
              @maxlength={{30}}
              @disabled={{not-eq f.model.type "Training"}}
              @hint="Only available for type 'Training'"
      />
    </FormRow>
  </fieldset>

  <fieldset>
    <legend>Suggested Ranger Counts Per Slot</legend>
    <FormRow>
      <f.number @name="min"
                @label="Min"
                @size={{3}}
                @maxlength={{3}}
                @inline={{true}}
      />
      <f.number @name="max"
                @label="Max"
                @size={{3}}
                @maxlength={{3}}
                @inline={{true}}
      />
    </FormRow>
  </fieldset>

  <fieldset>
    <legend>Active &amp; Grant Flags</legend>
    <UiAlert @type="warning" @icon="hand-point-right">
      The "Position Sanity Checker" has be run after deactivating a position, setting <i>All Rangers</i>, and/or
      checking <i>Grant to new Prospective accounts</i> in order to adjust the effected accounts. No accounts
      will be automatically updated after adjusting these checkboxes.
    </UiAlert>
    <p class="text-danger">
    </p>
    <FormRow>
      <div class="col-12">
        <f.checkbox @name="active" @label="Active"/>
      </div>
      <div class="col-12">
        <f.checkbox @name="all_rangers"
                    @label="Grant to All Rangers (status active / inactive / inactive extension / retired)"/>
      </div>
      <div class="col-12">
        <f.checkbox @name="new_user_eligible"
                    @label="Grant to new accounts (Rangers, Applications, etc)"/>
      </div>
    </FormRow>
  </fieldset>
  <fieldset>
    <legend>Team &amp; Team Position Flags</legend>
    <UiAlert @type="warning" @icon="hand-point-right">
      After adjusting the team position category, run the Position Sanity Checker to bulk grant or revoke the
      team positions to team members.
    </UiAlert>
    <FormRow>
      <f.select @name="team_id"
                @label="Team"
                @options={{this.teamPositionOptions}}
                @inline={{true}}
      />
      <f.select @name="team_category"
                @label="Team Position Category"
                @options={{this.categoryOptions}}
                @inline={{true}}
                @disabled={{not f.model.team_id}}
      />
    </FormRow>
    <FormRow>
      <div class="col-auto">
        <f.checkbox @name="deselect_on_team_join"
                    @label="Recommend position be deselected when the person joins the team (e.g., for mentee positions)"
                    @disabled={{not f.model.team_id}}
        />
      </div>
    </FormRow>
  </fieldset>
  <fieldset>
    <legend>Other Flags</legend>
    <FormRow>
      <div class="col-12">
        <f.checkbox @name="count_hours"
                    @label="Hours count towards provisions (meal passes, showers) and appreciations (shirts)"/>
        <f.checkbox @name="prevent_multiple_enrollments"
                    @label="Prevent Multiple Enrollments (usually for Training positions)"/>
        <f.checkbox @name="on_sl_report"
                    @label="For the Shift Lead Report: indicates the person holds this position of interest"/>
        <f.checkbox @name="on_trainer_report"
                    @label="For the Trainer's Report: indicates the position is relevant to trainers"/>
        <f.checkbox @name="no_training_required"
                    @label="In-Person training not required to check-in for this position (note, all positions with type Training automatically do not require passing an In-Person training) "/>
        <f.checkbox @name="not_timesheet_eligible"
                    @label="Used only for scheduling. Timesheet entries may not be created."
        />

      </div>
    </FormRow>
  </fieldset>

  <fieldset>
    <legend>Position Permission Grants</legend>
    {{#if this.isTechNinja}}
      <p>
        Adjustments to permission associations will take immediate effect upon pushing the Save button.
      </p>
      <FormRow>
        <div class="col-12">
          <f.checkbox @name="require_training_for_roles"
                      @label="ART training must be passed each year before roles are granted"/>
        </div>
      </FormRow>
      <FormRow>
        <f.checkboxGroup @label="Permissions to assign when position is granted"
                         @name="role_ids"
                         @options={{@roleOptions}} />
      </FormRow>
    {{else}}
      <p>
        Contact the Tech Team to adjust the associated permissions.
      </p>
    {{/if}}
  </fieldset>

  {{#unless (eq f.model.type "Training")}}
    <fieldset>
      <legend>Training</legend>
      <p>
        The Training Position is the position the person has to have passed in the current year to
        be allowed to work this position during the event.
      </p>
      <FormRow>
        <f.select @name="training_position_id"
                  @label="Training Position"
                  @inline={{true}}
                  @fixedLabel={{true}}
                  @options={{this.trainingOptions}}
        />
      </FormRow>
    </fieldset>
  {{/unless}}
  <fieldset>
    <legend>Parent Position</legend>
    <p>
      Certain Mentor/Mentee (e.g., GD Mentor &amp; Mentee) shifts, and shifts where a child shift's signup count will
      count against the parent's signups (e.g., "prime" Troubleshooter shifts &amp; TS Mentor) can be defined. The
      parent position info will be used by the slot interface to help link shifts together.
    </p>
    <FormRow>
      <f.select @name="parent_position_id"
                @label="Parent Position"
                @inline={{true}}
                @options={{this.parentPositionOptions}}
      />
    </FormRow>
  </fieldset>

  <fieldset>
    <legend>Driving</legend>
    <UiAlert @type="warning" @icon="hand-point-right">
      Do not set either checkbox below for a position that has been granted to all Rangers or new users. Doing so will
      cause the respective homepage dashboard MVR or PVR prompts to appear for everyone regardless if they are signed up
      for this shift or not.
    </UiAlert>
    <FormRow>
      <div class="col-12">
        <f.checkbox @name="mvr_eligible"
                    @inline={{true}}
                    @label="MVR Eligibility: The person will be shown a MVR submission link under the Vehicle Dashboard when granted the position AND signs up for this shift. The homepage dashboard MVR prompt will always appear regardless if the person has signed up for this shift or not."
        />
      </div>
      <div class="col-12">
        <f.checkbox @name="pvr_eligible"
                    @inline={{true}}
                    @label="Personal Vehicle Request Eligibility: The person will be allowed to submit a PVR under the Vehicle Dashboard when granted the position AND signs up for this shift. The homepage dashboard PVR prompt will always appear regardless if the person has signed up for this shift or not."
        />
      </div>
    </FormRow>
  </fieldset>
  <fieldset>
    <legend>Payroll</legend>
    <p>
      Any position with a paycode will appear in the Payroll interface, and all timesheet entries will
      have a paid position indicator.
    </p>
    <FormRow class="align-items-end">
      <f.text @name="paycode" @label="Paycom employee code" @size={{20}} @maxlength={{20}} @inline={{true}} />
      <div class="col-auto align-self-center">
        <f.checkbox @name="no_payroll_hours_adjustment"
                    @label="Hours will not be adjusted during payroll export"/>
      </div>
    </FormRow>
  </fieldset>

  <fieldset>
    <legend>Auto Sign Out</legend>
    A timesheet entry can be automatically signed out of when the hour cap is reached. A note will be left in
    the timesheet audit trail, and an email sent to the contact email (set below).
    <FormRow>
      <div class="col-auto">
        <f.checkbox @label="Auto sign out timesheet"
                    @name="auto_sign_out"
        />
      </div>
    </FormRow>
    <FormRow>
      <f.number @label="Hours Cap"
                @name="sign_out_hour_cap"
                @size={{10}}
                @maxlength={{10}}
                @hint="Fractional hours are supported. (e.g., 10.5, 6.3, etc.)"
                @inline={{true}}
                @disabled={{not f.model.auto_sign_out}}
      />
    </FormRow>
  </fieldset>
  <fieldset>
    <legend>Notifications</legend>
    <FormRow>
      <div class="col-12">
        <f.checkbox @name="alert_when_no_trainers"
                    @label="Send email to contact email when trainer/mentor slot signs up become empty and the trainee/mentee slots still have sign ups."
        />
      </div>
      <div class="col-12">
        <f.checkbox @name="alert_when_becomes_empty"
                    @label="Send email to contact email when signups become empty and when LMOP is active."
        />
      </div>
    </FormRow>
    <FormRow>
      <div class="col-12">
        <f.text @name="contact_email"
                @label="Contact Email (shift full notification, etc)"
                @size={{40}}
                @maxlength={{200}}/>
      </div>
    </FormRow>
  </fieldset>
  <UiButtonRow class="mt-4">
    <f.submit @disabled={{@position.isSaving}} />
    <UiCancelButton @onClick={{@cancelAction}} />
    {{#unless @position.isNew}}
      <UiButton @type="danger" @onClick={{@deleteAction}} class="ms-auto">
        {{fa-icon "trash"}} Delete Position
      </UiButton>
    {{/unless}}
  </UiButtonRow>

</ChForm>

{{#if @position.isSaving}}
  <LoadingDialog>
    Saving Positions
  </LoadingDialog>
{{/if}}
