<table class="table table-width-auto table-striped table-hover table-sm">
  <thead>
  <tr>
    <th>ID</th>
    <th colspan="2">Active / Title</th>
    <th>Short Title</th>
    <th>Team / Category</th>
    <th>Type</th>
    <th>Min / Max</th>
    <th>Attributes</th>
    <th>Associated Roles</th>
    {{#if @canManagePositions}}
      <th>Action</th>
    {{/if}}
  </tr>
  </thead>
  <tbody>
  {{#each @viewPositions key="id" as |position|}}
    <tr>
      <td class="text-end">{{position.id}}</td>
      <td class="text-center">
        <BooleanIcon @value={{position.active}} @falseIcon="times" @falseClass="text-danger"/>
      </td>
      <td>
        {{position.title}}
      </td>
      <td>
        <PresentOrNot @value={{position.short_title}} @empty="-"/>
      </td>
      <td>
        {{this.teamName position.team_id}}
        {{#if position.team_id}}
          <br>
          {{position.teamCategoryLabel}}
        {{/if}}
      </td>
      <td>{{position.type}}</td>
      <td class="text-center">{{position.min}} / {{position.max}}</td>
      <td>
        {{#if position.training_position_id}}
          Training position:
          <div class="ms-3">{{pluck position.training_position_id @positions "title" "-"}}</div>
        {{/if}}
        {{#if position.require_training_for_roles}}
          {{fa-icon "user-graduate" fixed=true}} Requires ART to be passed before roles are granted.<br>
        {{/if}}
        {{#if position.new_user_eligible}}
          {{fa-icon "globe" fixed=true}} Grant to New Accounts<br>
        {{/if}}
        {{#if position.all_rangers}}
          {{fa-icon "universal-access" fixed=true}} Grant To All Rangers<br>
        {{/if}}
        {{#if position.count_hours}}
          {{fa-icon "clock" fixed=true}} Hours count towards appreciations<br>
        {{/if}}
        {{#if position.on_sl_report}}
          {{fa-icon "list" fixed=true}} On Shift Lead Report<br>
        {{/if}}
        {{#if position.on_trainer_report}}
          {{fa-icon "rectangle-list" fixed=true}} On Trainer's Report<br>
        {{/if}}
        {{#if position.prevent_multiple_enrollments}}
          {{fa-icon "ban" fixed=true}} Multiple Enrollments Prevented<br>
        {{/if}}
        {{#if position.alert_when_no_trainers}}
          {{fa-icon "bell" fixed=true}} Alert when this trainer/mentor slot becomes empty while the trainee/mentee slot still has signups.<br>
        {{/if}}
        {{#if position.alert_when_becomes_empty}}
          {{fa-icon "bell" fixed=true}} Alert when slot becomes empty of signups.<br>
        {{/if}}
        {{#if position.contact_email}}
          <MailTo @to={{position.contact_email}} />
        {{/if}}
      </td>
      <td>
        {{#if position.role_ids}}
          {{this.roleList position.role_ids}}
        {{else}}
          <i class="text-muted">None</i>
        {{/if}}
      </td>
      {{#if @canManagePositions}}
        <td>
          <UiButton @size="sm" @onClick={{fn @editAction position}}>
            {{fa-icon "edit"}} Edit
          </UiButton>
        </td>
      {{/if}}
    </tr>
  {{else}}
    <tr>
      <td colspan="{{if @canManagePositions 8 7}}"><b class="text-danger">No positions found</b></td>
    </tr>
  {{/each}}
  </tbody>
</table>
