<UiTable>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title / Short Title</th>
    <th>Active</th>
    <th>Team / Category / Type</th>
    <th>Min / Max</th>
    <th>Attributes</th>
    <th>Associated Roles</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {{#each @viewPositions key="id" as |position|}}
    <tr id="position-{{position.id}}">
      <td class="text-end">{{position.id}}</td>
      <td class="no-wrap">
        {{position.title}}
        {{#if position.short_title}}
          <br>({{position.short_title}})
        {{/if}}
      </td>
      <td class="text-center">
        <UiBadgeActive @active={{position.active}} />
      </td>
      <td class="no-wrap">
        {{this.teamName position.team_id}}<br>
        {{#if position.team_id}}
          {{position.teamCategoryLabel}}<br>
        {{/if}}
        {{position.type}}
      </td>
      <td class="text-center">{{position.min}} / {{position.max}}</td>
      <td>
        {{#if position.training_position_id}}
          Training position: {{pluck position.training_position_id @positions "title" "-"}}<br>
        {{/if}}
        {{#if position.parent_position_id}}
          Parent position: {{pluck position.parent_position_id @positions "title" "-"}}<br>
        {{/if}}
        {{#each (this.positionAttributeLabels position) as |label|}}
          {{label}}<br>
        {{/each}}
        {{#if position.contact_email}}
          Contact email:
          <MailTo @to={{position.contact_email}} />
        {{/if}}
      </td>
      <td>
        {{#if position.role_ids}}
          {{this.roleList position.role_ids}}
        {{else}}
          <i class="text-muted">None</i>
        {{/if}}
      </td>
      <td>
        <UiEditButton @size="sm" @onClick={{fn @editAction position}}/>
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="7"><b class="text-danger">No positions found</b></td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>
