<UiTable>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title / Short Title</th>
    <th>Active</th>
    <th>Team / Category / Type</th>
    <th>Min / Max</th>
    <th>Attributes</th>
    <th>Associated Roles</th>
    {{#if @canManagePositions}}
      <th>Action</th>
    {{/if}}
  </tr>
  </thead>
  <tbody>
  {{#each this.rows key="id" as |row|}}
    <tr id="position-{{row.id}}">
      <td class="text-end">{{row.id}}</td>
      <td class="no-wrap">
        {{row.position.title}}
        {{#if row.position.short_title}}
          <br>({{row.position.short_title}})
        {{/if}}
      </td>
      <td class="text-center">
        <UiBadgeActive @active={{row.position.active}} />
      </td>
      <td class="no-wrap">
        {{#if row.team}}
          {{row.team.title}}<br>
          {{row.position.teamCategoryLabel}}<br>
        {{else}}
          <i class="text-muted">Not Assigned</i><br>
        {{/if}}
        {{row.position.type}}
      </td>
      <td class="text-center">{{row.position.min}} / {{row.position.max}}</td>
      <td>
        {{#if row.position.training_position_id}}
          Training position: {{pluck row.position.training_position_id @positions "title" "-"}}<br>
        {{/if}}
        {{#if row.position.parent_position_id}}
          Parent position: {{pluck row.position.parent_position_id @positions "title" "-"}}<br>
        {{/if}}
        {{#each row.attributeLabels as |label|}}
          {{label}}<br>
        {{/each}}
        {{#if row.position.contact_email}}
          Contact email:
          <MailTo @to={{row.position.contact_email}} />
        {{/if}}
      </td>
      <td>
        {{#each row.roleTitles as |title|}}
          {{title}}<br>
        {{else}}
          <i class="text-muted">None</i>
        {{/each}}
      </td>
      {{#if @canManagePositions}}
        <td>
          <UiEditButton @size="sm" @onClick={{fn @editAction row.position}} />
        </td>
      {{/if}}
    </tr>
  {{else}}
    <tr>
      <td colspan={{if @canManagePositions 8 7}}><b class="text-danger">No positions found</b></td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>
