{{#each this.options as |opt idx|}}
  <div class="form-check form-check-inline">
    <input type="radio"
           id="radio-opt-{{idx}}"
           class="form-check-input"
           checked={{opt.selected}} {{on "click" (fn this.changeEvent opt)}}
    />
    <label class="form-check-label" for="radio-opt-{{idx}}">
      {{opt.label}}
    </label>
  </div>
{{/each}}
