<UiSection>
  <:title>Sign OUT People {{fa-icon "bed"}}</:title>
  <:body>
    {{#if this.isLoading}}
      <LoadingDialog @item="positions"/>
    {{else if this.positions}}
      <div class="row form-group">
        <label class="col-form-label col-sm-12 col-lg-auto">Position</label>
        <div class="col-sm-12 col-lg-auto">
          <ChForm::Select @name="positionId"
                          @value={{this.positionId}}
                          @options={{this.positionOptions}}
                          @onChange={{action this.selectPosition}}
                          @controlClass="form-control"/>
        </div>
      </div>

      {{#if this.position}}
        <h4>
          {{this.position.title}} - {{pluralize this.position.people.length "person"}}
        </h4>
        <p>
          Click on the person to sign them out. Click again to resume their shift if they were accidentally signed
          out.
        </p>
        <p>
          {{fa-icon "walking"}} = person is on shift. {{fa-icon "bed"}} = person has been signed off.
        </p>
        <div class="rollcall-grid">
          {{#each this.position.people key="id" as |person|}}
            <a href class="rollcall-person {{unless person.isSignedIn "text-muted"}}"
              {{action this.clickPerson person}}>
              <div class="rollcall-photo">
                {{#if person.photo_url}}
                  <img src={{person.photo_url}} alt={{person.callsign}} loading="lazy"/>
                {{else}}
                  {{fa-icon "user"}}
                {{/if}}
              </div>
              <div class="rollcall-indicator">
                {{#if person.isSubmitting}}
                  {{fa-icon "spinner" spin=true}}
                {{else if person.hasProblem}}
                  {{fa-icon "exclamation" color="danger"}}
                {{else if person.isSignedIn}}
                  {{fa-icon "walking"}}
                {{else}}
                  {{fa-icon "bed" color="success"}}
                {{/if}}
              </div>
              <div class="rollcall-name">
                {{person.callsign}}
              </div>
              <div class="rollcall-info">
                {{#if person.isSignedIn}}
                  {{#if person.backOnShift}}
                    <b class="text-danger">RESUMED SHIFT</b>
                  {{else}}
                    <b>ON DUTY</b>
                  {{/if}}<br>
                {{else}}
                  <b class="text-success">Off Duty</b><br>
                {{/if}}
                {{this.position.title}}<br>
                {{#if person.isSignedIn}}
                  {{shift-format person.on_duty}}
                {{/if}}<br>
                Duration {{hour-minute-format person.duration}}
              </div>
            </a>
          {{/each}}
        </div>
      {{/if}}
    {{else}}
      <p>
        <b class="text-danger">No one appears to be on duty?</b>
      </p>
    {{/if}}
  </:body>
</UiSection>