{{#if this.isLoading}}
  <LoadingPane @items="loading shifts"/>
{{else}}
  <UiSection>
    <:title>{{fa-icon "walking" right=1}} Sign In People</:title>
    <:body>
      {{#if this.positions}}
        <FormRow>
          <div class="col-sm-12 col-xl-auto">
            <FormLabel>Position</FormLabel>
            <ChForm::Select @name="positionId"
                            @value={{this.positionId}}
                            @options={{this.positionOptions}}
                            @onChange={{this.selectPosition}}
            />
          </div>
          <div class="col-sm-12 col-xl-auto">
            <FormLabel>Shift</FormLabel>
            <ChForm::Select @name="slotId"
                            @value={{this.slotId}}
                            @options={{this.slotOptions}}
                            @onChange={{this.selectSlot}}
                            @disabled={{eq this.positionId 0}}
            />
          </div>
          <div class="col-auto mt-4">
            <UiButton @type="secondary" @onClick={{this.openTimeDialog}}>
              Set Time
            </UiButton>
          </div>
        </FormRow>
      {{else}}
        <div class="my-2">
          <b class="text-danger">No shifts found starting within the next 4 hours.</b>
        </div>
      {{/if}}

      {{#if this.slot}}
        <div class="fs-4 hstack gap-3 my-2">
          <div>{{this.position.title}}</div>
          <div>{{this.slot.description}}</div>
          <div>{{shift-format this.slot.begins}}</div>
          {{#if this.startTime}}
            <div class="text-bg-warning px-1">Check-in Time: {{this.startTime}}</div>
            <div>
              <a href {{on "click" this.clearStartTime}}>
                Clear Time
              </a>
            </div>
          {{/if}}
        </div>
      {{/if}}
      {{#if this.isRetrievingPeople}}
        <LoadingPane @item="the signups"/>
      {{else if this.people}}
        <p>
          {{pluralize this.people.length "signup"}}. Click the box to sign the person in OR out.
        </p>

        <div class="rollcall-grid">
          {{#each this.people as |person|}}
            <a href
               class="rollcall-person {{if person.on_duty "rollcall-problem" (if person.signedIn "rollcall-success")}}"
              {{on-click this.clickPerson person}}>
              <div class="rollcall-photo">
                {{#if person.photo_url}}
                  <img src={{person.photo_url}} alt={{person.callsign}} loading="lazy"/>
                {{else}}
                  {{fa-icon "user"}}
                {{/if}}
              </div>
              <div class="rollcall-indicator">
                {{#if person.isSubmitting}}
                  <SpinIcon/>
                {{else if person.on_duty}}
                  {{fa-icon "walking" color="danger"}}
                {{else if person.signedIn}}
                  {{fa-icon "walking" color="success"}}
                {{/if}}
              </div>
              <div class="rollcall-name">
                {{person.callsign}}
              </div>
              <div class="rollcall-info">
                {{#if person.on_duty}}
                  <b>Already on duty</b><br>
                  {{person.on_duty.position.title}}<br>
                  {{shift-format person.on_duty.on_duty}}
                {{else if person.signedIn}}
                  <b>ON DUTY</b><br>
                  {{this.position.title}}<br>
                  {{shift-format person.startTime}}
                {{/if}}
              </div>
            </a>
          {{/each}}
        </div>
      {{else if (gt this.slotId 0)}}
        <p class="text-danger">
          <b>No sign ups found for the shift.</b>
        </p>
      {{/if}}
    </:body>
  </UiSection>
{{/if}}

{{#if this.showTimeDialog}}
  <ModalDialog @onEscape={{this.closeTimeDialog}} as |Modal|>
    <Modal.title>Set Check-In Time</Modal.title>
    <Modal.body>
      <p>
        Check-in times may be adjusted to an earlier time, but only if you are authorized to do so.
        All manually set check-in times are logged and will be reviewed.
      </p>
      <UiAlert @type="warning" @icon="hand-point-right">
        Any specified check-in time will be subject to time blockers, if applicable.
      </UiAlert>
      <FormRow>
        <div class="col-sm-12 col-xl-auto">
          <FormLabel>Set Time</FormLabel>
          <input type="time"
                 name="startTime"
                 class="form-control"
                 value={{this.startTime}}
            {{on "change" this.updateStartTime}}
          />
        </div>
        <div class="col-sm-12 col-xl-auto mt-4">
          <a href {{on "click" this.clearStartTime}}>
            Clear Time
          </a>
        </div>
      </FormRow>
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeTimeDialog}} @size="md"/>
    </Modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.showSignInBlockersDialog}}
  <ModalDialog @onEscape={{this.closeSignInBlockersDialog}} as |Modal|>
    <Modal.title>Sign In Blocked</Modal.title>
    <Modal.body>
      <p>
        {{this.blockedInfo.callsign}} is blocked from signing in to the shift for the following reason(s):
      </p>
      <ul>
        {{#each this.blockedInfo.blockers as |blocker|}}
          <li>{{blocker}}</li>
        {{/each}}
      </ul>
      {{#if this.blockedInfo.start_time}}
        <p class="text-danger">
          Note: The manually set check-in time of {{time-format this.blockedInfo.start_time}} was used. This may
          or may not have triggered any time check-in blockers.
        </p>
      {{/if}}
      Direct {{this.blockedInfo.callsign}} to an HQ window to resolve this issue.
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeSignInBlockersDialog}} @size="md"/>
    </Modal.footer>
  </ModalDialog>
{{/if}}
