<UiAccordion as |Accordion|>
  <Accordion.title>
    {{@position.title}}
    {{#if this.signupCount}}
      {{#if (eq this.signupCount this.overlappingCount)}}
        <span class="text-danger d-inline-block">[ {{pluralize this.overlappingCount "overlapping signup"}} ]</span>
      {{else}}
        <span class="text-success d-inline-block">[
          {{pluralize this.nonOverlappingCount "signup"}}
          {{#if this.overlappingCount}}
            <span class="text-black">&amp;</span> <span class="text-danger">
            {{pluralize this.overlappingCount "overlapping signup"}}
          </span>
          {{/if}}
          ]</span>
      {{/if}}
    {{/if}}
  </Accordion.title>
  <Accordion.body>
    {{#if Accordion.isOpen}}
      {{#if (and this.isTrainingPosition this.showTrainingAdvisory)}}
        <p class="text-danger">
          {{fa-icon "hand-point-right" right=1}} Walk-ins are not allowed. All attendees must be signed up prior to the
          session's start time.
        </p>
        <p>
          {{#if this.needsFullDayTraining}}
            <b>
              Because you are {{this.personStatus}}, you MUST attend the <u class="text-danger">FULL DAY</u>
              In-Person Training.
            </b>
          {{else}}
            Since you have two or more years of experience, you may choose to attend only the second half, which usually
            starts immediately after lunch, of an In-Person Training. However, you are welcome to attend the full day
            to share your wisdom with new applicants and inexperienced Rangers.
          {{/if}}
        </p>
        <p>
          Additional training sessions will be posted through the end of Spring.
        </p>
      {{else if this.isAlphaPosition}}
        <p>
          Alpha shifts are ONLY offered on Saturday (the day before the gate opens), Sunday, Monday, and Tuesday.
          No other shifts are offered later in the week. Exceptions cannot be made.
        </p>
        <p>
          Alpha shifts are 10+ hours long. The first two hours consist of review and practice. The next six hours
          are spent in the field with Mentors. The final two hours are dedicated to Mentor evaluations and may
          involve a fair amount of waiting. (We have many Alphas to assess at the end of the day, and it takes
          time.)
        </p>
        <p>
          Show up prepared with snacks, a meal, layered clothing, a hat, sunglasses, comfortable walking shoes,
          sunscreen, and a water container (water and electrolytes are provided). Also bring a pen or pencil, a
          notebook, and, if attending a swing shift (2pm to midnight), a flashlight or headlamp.
        </p>
        <p class="text-danger">
          ARRIVE 30 MINUTES EARLY for your Alpha shift. You will be turned away if you arrive after the start time.
        </p>
        <p>
          Check-in at the Hat Rack located at Ranger HQ, 5:45 &amp; the Esplanade, between BMIR and Placement.
        </p>
        <p>
          <b>Can't make your Alpha shift?</b> Email the Mentor Cadre at
          <MailTo @to={{setting "MentorEmail"}} />
          or stop by Ranger HQ on playa to see if another shift can be attended.
        </p>
      {{/if}}
      {{#if this.haveNoAppreciationSlots}}
        <NoAppreciateIcon/>
        = the shift hours will not count towards provisions &amp; appreciations.<br>
      {{/if}}
      {{#if this.haveShiftWithAdditionalInfo}}
        <InfoIcon/>
        = More shift information available, click on the icon and/or text.<br>
      {{/if}}
      {{#if this.haveOverlapping}}
        <div class="mt-1 text-danger">
          {{pluralize this.overlappingCount "shift signup"}} {{if (eq this.overlappingCount 1) "is" "are"}} overlapping,
          marked with a {{fa-icon "flag" color="danger"}}. You only get credit for the time you work.
        </div>
      {{/if}}
      <div class="schedule-table">
        <div class="schedule-row schedule-header">
          <div class="schedule-icon">&nbsp;</div>
          <div class="schedule-time-description">Time / Description</div>
          <div class="schedule-duration">Duration</div>
          <div class="schedule-credits">Credits</div>
          <div class="schedule-signups">Sign Ups</div>
          <div class="schedule-actions">Actions</div>
        </div>
        {{#each @position.slots key="id" as |slot|}}
          <div class="schedule-row {{if slot.isOverlapping "schedule-overlapping"
                                        (if slot.person_assigned "schedule-signed-up")}}"
               id="slot-{{slot.id}}">
            <div class="schedule-icon">
              {{#if slot.isOverlapping}}
                {{fa-icon "flag" color="danger"}}
              {{else if slot.person_assigned}}
                {{fa-icon "check"}}
              {{else if (not slot.slot_active)}}
                {{fa-icon "times" color="danger"}}
              {{else}}
                &nbsp;
              {{/if}}
            </div>
            <div class="schedule-time-description" tabindex="0">
              {{#if slot.has_ended}}
                <div class="text-danger">Shift has ended.</div>
              {{else if slot.has_started}}
                <div class="text-danger">Shift has started.</div>
              {{/if}}
              <span id="slot-times-{{slot.id}}">
              {{shift-format slot.slot_begins slot.slot_ends}}
                {{#if (or this.isTrainingType slot.isNotPacific)}}
                  ({{slot.slot_tz_abbr}})
                {{/if}}
              </span>
              <div class="schedule-sm-label" tabindex="0">{{@position.title}}</div>
              <div>
                <SlotInfoLink @description={{slot.slot_description}}
                              @info={{slot.slot_url}}
                              @ariaTextLabel="Click for more information about {{slot.position_title}} at {{shift-format
                                slot.slot_begins}}"
                />
              </div>
              {{#if (and slot.trainer_slot_id (eq slot.trainer_count 0))}}
                <div class="text-danger">No trainers / mentors are signed up yet.<br>Check back later.</div>
              {{/if}}
              {{#if slot.isOverlapping}}
                <div class="mt-1 small">
                  Sign up overlaps with:<br>
                  {{#each slot.overlappingSlots key="id" as |overlap|}}
                    {{overlap.position_title}} {{overlap.slot_description}}<br>
                  {{/each}}
                </div>
              {{/if}}
            </div>
            <div class="schedule-duration" tabindex="0">
              <span class="schedule-sm-label">Duration:</span>
              {{#unless slot.position_count_hours}}
                <span class="me-1" aria-hidden="true"><NoAppreciateIcon/></span>
              {{/unless}}
              <span class="sr-only">
                Duration is
              </span>
              {{hour-minute-format slot.slot_duration}}
              {{#unless slot.position_count_hours}}
                <span class="sr-only">
                 Shift does not count towards provisions and appreciations.
                </span>
              {{/unless}}
            </div>
            <div class="schedule-credits" tabindex="0">
              <span class="sr-only">Possible credits earned is</span>
              <span class="schedule-sm-label">Credits:</span> {{credits-format slot.credits}}
            </div>
            <div class="schedule-signups">
              <span class="sr-only" tabindex="0">
                {{#if (or (and slot.trainer_slot_id (eq slot.slot_max 0)) (not slot.slot_signed_up))}}
                  No signups yet
                {{else}}
                  {{#if (gte slot.slot_signed slot.slot_max)}}
                    This shift is full.
                  {{/if}}
                  {{pluralize slot.slot_signed_up "person"}} {{is-are slot.slot_signed_up}} signed up out of a maximum
                  of {{slot.slot_max}} sign ups.
                {{/if}}
              </span>
              {{#if (and slot.trainer_slot_id (eq slot.slot_max 0))}}
                -
              {{else}}
                {{slot-full-indicator slot.slot_signed_up slot.slot_max}}
              {{/if}}
            </div>
            <div class="schedule-actions">
              {{#if slot.signUpInfo}}
                <button type="button"
                  {{on "click" (fn @hidePeople slot)}}
                        class="btn btn-warning btn-sm"
                        aria-label="Hide signups for {{slot.position_title}} on {{shift-format slot.slot_begins}}"
                >
                  {{fa-icon "users" type="fas" fixed=true right=1}}
                  Hide Sign Ups
                </button>
              {{else}}
                <button type="button"
                  {{on "click" (fn @showPeople slot)}}
                        class="btn btn-secondary btn-sm"
                        disabled={{slot.isRetrievingSignUps}}
                        aria-label="Show signups for {{slot.position_title}} on {{shift-format slot.slot_begins}}"
                >
                  {{#if slot.isRetrievingSignUps}}
                    <SpinIcon/>
                  {{else}}
                    {{fa-icon "users" type="fas" fixed=true right=1 aria-hidden="true"}}
                  {{/if}}
                  Sign Ups
                </button>
              {{/if}}
              {{#if slot.person_assigned}}
                {{#if (or @isAdmin (not slot.has_started))}} {{!template-lint-disable "no-negated-condition"}}
                {{! Only allow admins to remove a sign up that has started}}
                  <button type="button"
                    {{on "click" (fn @leaveSlot slot)}}
                          class="btn btn-danger btn-sm"
                          disabled={{slot.isSubmitting}}
                          aria-label="Remove sign up for {{slot.position_title}} on {{shift-format slot.slot_begins}}"
                  >
                    {{#if slot.isSubmitting}}
                      <SpinIcon/>
                    {{else}}
                      {{fa-icon "trash-alt" type="fas" fixed=true right=1}}
                    {{/if}}
                    Remove
                  </button>
                {{/if}}
              {{else if @isCurrentYear}}
              {{! Only show action buttons for the current year}}
                {{#if slot.slot_active}}
                  {{#if (or this.canForceSignUp (and (not slot.isFull) (not slot.has_started)))}}
                    <button type="button" {{on "click" (fn @joinSlot slot)}}
                            class="btn btn-primary btn-sm"
                            aria-label="Add {{slot.position_title}} on {{shift-format slot.slot_begins}} to schedule"
                            disabled={{slot.isSubmitting}}>
                      {{#if slot.isSubmitting}}
                        <SpinIcon/>
                      {{else}}
                        {{fa-icon "user-plus" type="fas" fixed=true right=1}}
                      {{/if}}
                      Add
                    </button>
                  {{/if}}
                {{else}}
                  <small class="text-danger">inactive</small>
                {{/if}}
              {{/if}}
            </div>
          </div>
          {{#if slot.signUpInfo}}
            <ScheduleSignUpInfo @info={{slot.signUpInfo}} />
          {{/if}}
        {{/each}}
      </div>
    {{/if}}
  </Accordion.body>
</UiAccordion>
