{{#if (has-block)}}
  {{yield this.onYearChange}}
{{/if}}
<p>
  All shift / training session times are in the Pacific timezone unless otherwise noted.
</p>

{{#if this.isLoading}}
  <LoadingDialog/>
{{else}}
  <div class="max-width-1000">
    {{#unless this.isCurrentYear}}
      <UiNotice @icon="hand-point-right" @title="Viewing Prior Year">
        Warning: You are viewing the {{this.year}} schedule.
      </UiNotice>
    {{/unless}}

    {{#if this.showScheduleBlocker}}
      <ScheduleBlocked @requirements={{this.permission.requirements}}
                       @person={{@person}}
                       @overrideAction={{this.overrideAction}}
                       @canOverride={{this.canOverride}}
                       @isMe={{this.isMe}}
                       @isAdmin={{this.isAdmin}}
                       @hasTrainingBlocker={{this.hasTrainingBlocker}}
      />
    {{else}}
      {{#if (and this.isAdmin this.requirementsOverride)}}
        <UiNotice @type="danger" @icon="exclamation"
                  @title="All forced scheduling actions are logged and subject to review.">
          As a Clubhouse Admin, you are allowed to override any scheduling blockers. Note: such actions are monitored.
        </UiNotice>
      {{/if}}
      <UiTab as |tab|>
        <tab.pane @title="Schedule" @id="schedule">
          <ScheduleBurnWeekendRecommendation @person={{@person}} @permission={{this.permission}} />
          <ScheduleTable @slots={{this.signedUpSlots}}
                         @person={{@person}}
                         @isMe={{this.isMe}}
                         @isAdmin={{this.isAdmin}}
                         @year={{this.year}}
                         @creditsEarned={{this.creditsEarned}}
                         @scheduleSummary={{this.scheduleSummary}}
                         @leaveSlot={{this.leaveSlot}}
                         @showPeople={{this.showPeople}}
                         @hidePeople={{this.hidePeople}}
          />
        </tab.pane>
        <tab.pane @title="Available Sign-Ups" @id="sign-ups">
          <ScheduleBurnWeekendRecommendation @person={{@person}}
                                             @permission={{this.permission}} />
          <ScheduleAvailableSignUps @availableSlots={{this.availableSlots}}
                                    @year={{this.year}}
                                    @showPeople={{this.showPeople}}
                                    @hidePeople={{this.hidePeople}}
                                    @joinSlot={{this.joinSlot}}
                                    @leaveSlot={{this.leaveSlot}}
                                    @isAdmin={{this.isAdmin}}
                                    @needsFullTraining={{this.permission.needs_full_training}}
                                    @person={{@person}}
          />
        </tab.pane>
        {{#if (or @person.isRanger @person.isEchelon)}}
          <tab.pane @title="Ticket & Provisions Qualifications" @id="progress">
            {{#if this.isCurrentYear}}
              {{#if (eq tab.activeId "progress")}}
                <PersonTicketProvisionsProgress @person={{@person}} />
              {{/if}}
            {{else}}
              Ticket qualification information is only available for the current event.
            {{/if}}
          </tab.pane>
        {{/if}}
        <tab.pane @title="Hours & Credits" @id="hours-credits">
          {{#if (eq tab.activeId "hours-credits")}}
            <ScheduledHoursCredits @person={{@person}}
                                   @year={{this.year}} />
          {{/if}}
        </tab.pane>
        {{#if @includeLog}}
          <tab.pane @title="Audit Log" @id="audit-log">
            {{#if (eq tab.activeId "audit-log")}}
              <Person::ScheduleLog @person={{@person}}
                                   @year={{this.year}} />
            {{/if}}
          </tab.pane>
        {{/if}}
      </UiTab>
    {{/if}}
  </div>
{{/if}}

{{#if this.showShiftInfo}}
  <ModalDialog @onEscape={{this.closeShiftInfo}} as |Modal|>
    <Modal.title>Shift Information {{if this.resultInfo.became_full " And Shift Is Full"}}</Modal.title>
    <Modal.body>
      <h5 class="text-success">
        {{fa-icon "check" right=1}} The shift has been successfully signed up for.
      </h5>
      {{#if  (and this.resultInfo.became_full this.resultInfo.slot.slot_url)}}
        <div class="fw-semibold mb-2">
          Please refer to the information further down this dialog box about this shift and the linked shift(s)
          reaching full capacity.
        </div>
      {{/if}}
      {{#if this.resultInfo.slot.slot_url}}
        Here's some important information about this shift:
        <div class="border border-success p-2">
          {{hyperlink-text this.resultInfo.slot.slot_url}}
        </div>
        <p>
          To view this information again, click on the shift description with the
          {{fa-icon "question-circle" class="info-icon" right=1}} icon.
        </p>
      {{/if}}
      {{#if  this.resultInfo.became_full}}
        <UiAlert @type="warning" class="mt-2">
          The combined signups for this shift and the listed shift(s) below have reached the maximum of
          {{this.resultInfo.combined_max}}.
          <ul class="my-2">
            {{#each this.resultInfo.linkedPositions as |title|}}
              <li>{{title}}</li>
            {{/each}}
          </ul>
          As a result, this shift and the shift(s) listed above are considered full, and no additional signups are
          allowed for any of them.
        </UiAlert>
      {{/if}}
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeShiftInfo}} @size="md"/>
    </Modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.showMVRInfo}}

  {{#if this.resultInfo.is_past_mvr_deadline}}
    <ModalDialog @onEscape={{this.closeMVRInfo}} as |Modal|>
      <Modal.title>Motor Vehicle Record Request</Modal.title>
      <Modal.body>
        <p>
          You have successfully signed up for the shift. This position uses vehicles from the Ranger rental fleet.
        </p>
        <p>
          {{this.resultInfo.agreementWarning}}
        </p>
        <p>
          Unfortunately, the deadline of {{shift-format this.resultInfo.mvr_deadline}} (Pacific) has passed to submit a
          Motor Vehicle Record (MVR) request. For future events, we encourage you to sign up for a shift before the MVR
          submission deadline to expand your vehicle options.
        </p>
      </Modal.body>
      <Modal.footer>
        <UiCloseButton @onClick={{this.closeMVRInfo}} @size="md"/>
      </Modal.footer>
    </ModalDialog>
  {{else}}
    <ModalDialog @onEscape={{this.closeMVRInfo}} as |Modal|>
      <Modal.title>'Motor Vehicle Record Request (optional)</Modal.title>
      <Modal.body>
        <p>
          The shift has been successfully signed up for. This position involves operating vehicles from the Ranger
          rental fleet.
        </p>
        <p>
          {{this.resultInfo.agreementWarning}}
        </p>
         <p>
          This position grants access to the larger rental fleet vehicles, but only if a Motor Vehicle Record (MVR)
          request is submitted and approved. Note: this is separate from signing the Motor Pool Agreement.
        </p>
        <p>
          If you choose not to submit a MVR Request or if the request is denied, you will be limited to
          operating UTVs and golf carts.
        </p>
        <p>
          To obtain MVR approval, visit the Clubhouse homepage and follow the instructions on the dashboard.
          A valid driver’s license is required. License and driving record verification can take 2 weeks
          or more. Longer for non-US license holders. Enter all information carefully, denials most often
          occur due to errors when submitting the form.
        </p>
        <p class="text-danger">
          The deadline to submit a MVR Request is {{shift-format this.resultInfo.mvr_deadline}} (Pacific).
          No exceptions will be made once the deadline has passed.
        </p>
      </Modal.body>
      <Modal.footer>
        <UiCloseButton @onClick={{this.closeMVRInfo}} @size="md"/>
      </Modal.footer>
    </ModalDialog>
  {{/if}}
{{/if}}