<PrintInstruction/>

<div class="max-width-1200">
  {{#unless this.isCurrentYear}}
    <ChNotice @type="warning">
      Warning: You are viewing a past schedule ({{@year}}).
    </ChNotice>
  {{/unless}}

  {{#if this.showScheduleBlocker}}
    <ScheduleBlocked @requirements={{@permission.requirements}}
                     @person={{@person}}
                     @overrideAction={{this.overrideAction}}
                     @canOverride={{this.canOverride}}
                     @isMe={{this.isMe}}
                     @isAdmin={{this.isAdmin}}
                     @hasTrainingBlocker={{this.hasTrainingBlocker}}
    />
  {{else}}
    {{#if (and this.isAdmin this.requirementsOverride)}}
      <ChNotice @type="danger" @icon="exclamation"
                @title="All forced scheduling actions are logged and is subject to review."/>
    {{/if}}

    <ScheduleTable @slots={{@signedUpSlots}}
                   @person={{@person}}
                   @isMe={{this.isMe}}
                   @isAdmin={{this.isAdmin}}
                   @year={{@year}}
                   @creditsEarned={{@creditsEarned}}
                   @scheduleSummary={{this.scheduleSummary}}
                   @leaveSlot={{this.leaveSlot}}
                   @showPeople={{this.showPeople}}
                   @includeLog={{@includeLog}}
    />

    <div class="d-print-none">
      <UiSection>
        <:title>{{if this.isCurrentYear "Available" "Past"}} {{@year}} Shifts</:title>
        <:body>
          {{#if this.availableSlots}}
            <FormRow>
              <div class="col-sm-12 col-xl-auto">
                <label class="col-form-label">
                  Day filter:
                </label>
              </div>
              <div class="col-sm-12 col-xl-auto">
                <ChForm::Select @name="filterDay"
                                @value={{this.filterDay}}
                                @options={{this.dayOptions}}
                                @onChange={{action (mut this.filterDay)}} />
              </div>
            </FormRow>
            <p>
              Click on the position title to show the available shifts.
            </p>
            <div>
              <b>Showing {{this.viewSlots.length}} of {{pluralize this.availableSlots.length "shift"}}.</b>
              {{#if (not-eq this.viewSlots.length this.availableSlots.length)}}
                <b> Adjust the day filter above to show prior shifts &amp; trainings.</b>
              {{/if}}
            </div>
            {{#each this.positions key="position_id" as |position|}}
              <SchedulePositionList @position={{position}}
                                    @showPeople={{this.showPeople}}
                                    @joinSlot={{this.joinSlot}}
                                    @leaveSlot={{this.leaveSlot}}
                                    @isAdmin={{this.isAdmin}}
                                    @isCurrentYear={{this.isCurrentYear}}
              />
            {{else}}
              <b class="text-danger">There are no shifts which match.</b>
            {{/each}}
            <div class="mt-2">
              <b>Note:</b>
              <ul>
                <li>A shift may not be added to or removed from your schedule if the shift has already started.</li>
              </ul>
            </div>
          {{else}}
            <p><b class="text-danger">There are no shifts available.</b></p>
          {{/if}}
        </:body>
      </UiSection>
    </div>
  {{/if}}
</div>