<p>
  All shift / training session times are in the Pacific timezone unless otherwise noted.
</p>

<div class="max-width-1000">
  {{#unless this.isCurrentYear}}
    <UiNotice @icon="hand-point-right" @title="Viewing Prior Year">
      Warning: You are viewing the {{@year}} schedule.
    </UiNotice>
  {{/unless}}

  {{#if this.showScheduleBlocker}}
    <ScheduleBlocked @requirements={{@permission.requirements}}
                     @person={{@person}}
                     @overrideAction={{this.overrideAction}}
                     @canOverride={{this.canOverride}}
                     @isMe={{this.isMe}}
                     @isAdmin={{this.isAdmin}}
                     @hasTrainingBlocker={{this.hasTrainingBlocker}}
    />
  {{else}}
    {{#if (and this.isAdmin this.requirementsOverride)}}
      <UiNotice @type="danger" @icon="exclamation"
                @title="All forced scheduling actions are logged and subject to review.">
        As a Clubhouse Admin, you are allowed to override any scheduling blockers. Note: such actions are monitored.
      </UiNotice>
    {{/if}}
    <UiTab as |tab|>
      <tab.pane @title="Schedule" @id="schedule">
        <ScheduleTable @slots={{@signedUpSlots}}
                       @person={{@person}}
                       @isMe={{this.isMe}}
                       @isAdmin={{this.isAdmin}}
                       @year={{@year}}
                       @creditsEarned={{@creditsEarned}}
                       @scheduleSummary={{this.scheduleSummary}}
                       @leaveSlot={{this.leaveSlot}}
                       @showPeople={{this.showPeople}}
        />
      </tab.pane>
      <tab.pane @title="Available Sign-Ups" @id="sign-ups">
        <ScheduleAvailableSignUps @availableSlots={{this.availableSlots}}
                                  @year={{@year}}
                                  @showPeople={{this.showPeople}}
                                  @joinSlot={{this.joinSlot}}
                                  @leaveSlot={{this.leaveSlot}}
                                  @isAdmin={{this.isAdmin}}
                                  @milestones={{@milestones}}
                                  @person={{@person}}
        />
      </tab.pane>
      {{#if (or @person.isRanger @person.isNonRanger)}}
        <tab.pane @title="Ticket & Provisions Qualifications" @id="progress">
          {{#if this.isCurrentYear}}
            {{#if (eq tab.activeId "progress")}}
              <PersonTicketProvisionsProgress @person={{@person}} />
            {{/if}}
          {{else}}
            Ticket qualification information is only available for the current event.
          {{/if}}
        </tab.pane>
      {{/if}}
      <tab.pane @title="Hours & Credits" @id="hours-credits">
        <ScheduledHoursCredits @scheduleSummary={{@scheduleSummary}}
                               @creditsEarned={{@creditsEarned}}
                               @year={{@year}} />
      </tab.pane>
      {{#if @includeLog}}
        <tab.pane @title="Audit Log" @id="audit-log">
          {{#if (eq tab.activeId "audit-log")}}
            <Person::ScheduleLog @year={{@year}} @person={{@person}} />
          {{/if}}
        </tab.pane>
      {{/if}}
    </UiTab>
  {{/if}}
</div>
