<ChNotice @type="danger"
          @icon="exclamation-circle"
          @title={{if @hasTrainingBlocker "Training Sign Up Warning" "Sign Ups Blocked"}}>
  <ScheduleRequirements @requirements={{@requirements}} @person={{@person}} @isTraining={{@hasTrainingBlocker}} />
  {{#if @hasTrainingBlocker}}
    <p>
      The dashboard on the home page has instructions on how to resolve the issue(s) above.
    </p>
    <p>
      <YouOrCallsign @person={{@person}} @youLabel="You are" @callsignVerb="is"/>
      allowed to sign up for all other shifts.
    </p>
    <p>
      <b>A Training shift MUST BE ATTENDED &amp; PASSED before being allowed to work on playa.</b>
    </p>
  {{else if @isAdmin}}
    <p class="mt-2">
      As a Clubhouse Admin, you may view the schedule and make adjustments.<br>
      <b class="text-danger">ALL ACTIONS WILL BE LOGGED.</b>
    </p>
  {{else if @isMe}}
    <p>
      The dashboard on home page has instructions on how to resolve the issue(s) above.
    </p>
  {{/if}}
  <div class="mt-4">
    <UiButton @onClick={{@overrideAction}} @class="btn-responsive">
      View Schedule
    </UiButton>
  </div>
</ChNotice>
