<ChNotice @type="danger"
          @icon="exclamation-circle"
          @title={{if @hasTrainingBlocker "Training Sign Up Warning" "Sign Ups Blocked"}}>
  <ScheduleRequirements @requirements={{@requirements}}
                        @person={{@person}}
                        @hasTrainingBlocker={{@hasTrainingBlocker}} />
  {{#if @hasTrainingBlocker}}
    {{#if @isMe}}
      <p>
        The dashboard on the home page has instructions on how to resolve the issue(s) above.
      </p>
    {{/if}}
  {{else if @isAdmin}}
    <p class="mt-2">
      As a Clubhouse Admin, you may view the schedule and make adjustments.<br>
      <b class="text-danger">ALL ACTIONS WILL BE LOGGED.</b>
    </p>
  {{else if @isMe}}
    <p>
      The dashboard on home page has instructions on how to resolve the issue(s) above.
    </p>
  {{/if}}
</ChNotice>
<div class="my-4">
  <UiButton @onClick={{@overrideAction}} @class="btn-responsive">
    View Schedule
  </UiButton>
</div>
