<p>
  All shift / training session times are in the Pacific timezone unless otherwise noted.
</p>
<div class="max-width-1000">
  {{#unless this.isCurrentYear}}
    <UiNotice @icon="hand-point-right" @title="Viewing Prior Year">
      Warning: You are viewing the {{@year}} schedule.
    </UiNotice>
  {{/unless}}

  {{#if this.showScheduleBlocker}}
    <ScheduleBlocked @requirements={{this.permission.requirements}}
                     @person={{@person}}
                     @overrideAction={{this.overrideAction}}
                     @canOverride={{this.canOverride}}
                     @isMe={{this.isMe}}
                     @isAdmin={{this.isAdmin}}
                     @hasTrainingBlocker={{this.hasTrainingBlocker}}
    />
  {{else}}
    {{#if (and this.isAdmin this.requirementsOverride)}}
      <UiNotice @type="danger" @icon="exclamation"
                @title="All forced scheduling actions are logged and subject to review.">
        As a Clubhouse Admin, you are allowed to override any scheduling blockers. Note: such actions are monitored.
      </UiNotice>
    {{/if}}
    <UiTab as |tab|>
      <tab.pane @title="Schedule" @id="schedule">
        <ScheduleBurnWeekendRecommendation @person={{@person}} @permission={{this.permission}} />
        <ScheduleTable @slots={{@signedUpSlots}}
                       @person={{@person}}
                       @isMe={{this.isMe}}
                       @isAdmin={{this.isAdmin}}
                       @year={{@year}}
                       @creditsEarned={{@creditsEarned}}
                       @scheduleSummary={{this.scheduleSummary}}
                       @leaveSlot={{this.leaveSlot}}
                       @showPeople={{this.showPeople}}
        />
      </tab.pane>
      <tab.pane @title="Available Sign-Ups" @id="sign-ups">
        <ScheduleBurnWeekendRecommendation @person={{@person}} @permission={{this.permission}} />
        <ScheduleAvailableSignUps @availableSlots={{this.availableSlots}}
                                  @year={{@year}}
                                  @showPeople={{this.showPeople}}
                                  @joinSlot={{this.joinSlot}}
                                  @leaveSlot={{this.leaveSlot}}
                                  @isAdmin={{this.isAdmin}}
                                  @needsFullTraining={{this.permission.needs_full_training}}
                                  @person={{@person}}
        />
      </tab.pane>
      {{#if (or @person.isRanger @person.isNonRanger)}}
        <tab.pane @title="Ticket & Provisions Qualifications" @id="progress">
          {{#if this.isCurrentYear}}
            {{#if (eq tab.activeId "progress")}}
              <PersonTicketProvisionsProgress @person={{@person}} />
            {{/if}}
          {{else}}
            Ticket qualification information is only available for the current event.
          {{/if}}
        </tab.pane>
      {{/if}}
      <tab.pane @title="Hours & Credits" @id="hours-credits">
        {{#if (eq tab.activeId "hours-credits")}}
          <ScheduledHoursCredits @person={{@person}}
                                 @year={{@year}} />
        {{/if}}
      </tab.pane>
      {{#if @includeLog}}
        <tab.pane @title="Audit Log" @id="audit-log">
          {{#if (eq tab.activeId "audit-log")}}
            <Person::ScheduleLog @year={{@year}} @person={{@person}} />
          {{/if}}
        </tab.pane>
      {{/if}}
    </UiTab>
  {{/if}}
</div>

{{#if this.signUpInfo}}
  <ModalDialog as |Modal|>
    <Modal.title>
      <span class="me-2">{{this.signUpSlot.position_title}}</span> {{shift-format this.signUpSlot.slot_begins
                                                                                  timezone=this.signUpSlot.slot_tz_abbr}}
    </Modal.title>
    <Modal.body>
      {{#if this.signUpInfo.people}}
        <b>{{pluralize this.signUpInfo.people.length "sign-up"}}:</b>
        <div class="callsign-list mt-2">
          {{#each this.signUpInfo.people as |person|}}
            <div>{{person.callsign}}</div>
          {{/each}}
        </div>
      {{else}}
        No one is signed up for this shift. Be the first!
      {{/if}}
      {{#if this.signUpInfo.assoc_signups}}
        {{#each this.signUpInfo.assoc_signups as |assoc|}}
          <div class="mt-2 fw-bold">
            {{pluralize assoc.people.length "sign-up"}} for the corresponding {{assoc.position_title}} shift:
          </div>
          <div class="mt-2">
            {{#if assoc.people}}
              <div class="callsign-list">
                {{#each assoc.people as |person|}}
                  <div>{{person.callsign}}</div>
                {{/each}}
              </div>
            {{else}}
              <br>
              No one has signed up for this related position.
            {{/if}}
          </div>
        {{/each}}
      {{/if}}
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeSignUps}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}
