<ChNotice @type="danger" @icon="exclamation-circle">
  <ScheduleRequirements @requirements={{@requirements}} @person={{@person}} @isTraining={{@hasTrainingBlocker}} />
  {{#if @hasTrainingBlocker}}
    <p>
      The homepage has instructions on how to resolve the issue(s) above.
    </p>
    <p>
      <YouOrCallsign @person={{@person}} @youLabel="You are" @callsignVerb="is"/>
      allowed to sign up for all other shifts.
    </p>
    <p>
      <b>A Training shift MUST BE ATTENDED &amp; PASSED before being allowed to work on playa.</b>
    </p>
    <p>
      <button type="button" class="btn btn-primary" {{on "click" @overrideAction}}>
        View Schedule &amp; Sign Ups
      </button>
    </p>
    <BackToHome/>
  {{else}}
    {{#if @isAdmin}}
      <p class="mt-2">
        As a Clubhouse Admin, you may override the requirement(s) to gain access to the schedule.<br>
        <b class="text-danger">ALL ACTIONS WILL BE LOGGED.</b>
      </p>
      <button type="button" class="btn btn-danger" {{on "click" @overrideAction}}>
        Override Requirements
      </button>
    {{else if @isMe}}
      <p>
        The homepage has instructions on how to resolve the issue(s) above.
      </p>
      <BackToHome/>
    {{/if}}
  {{/if}}
</ChNotice>
