<PrintInstruction/>
{{#if this.hasOverlapping}}
  <UiNotice @icon="flag" @title="Overlapping Shifts" @type="danger">
    <YouOrCallsign @person={{@person}} @youLabel="You have" @callsignVerb="has"/>
    overlapping shifts, marked with a {{fa-icon "flag" color="danger"}}.
    Credit is only awarded based on the time worked, and no double credit will be issued.
  </UiNotice>
{{/if}}
{{#if this.permission.recommend_burn_weekend_shift}}

{{/if}}
<UiSection>
  <:title>{{@year}} Shift Schedule for {{@person.callsign}}</:title>
  <:body>
     <div class="d-print-none">
      <p>
        <NoAppreciateIcon/>
        = the shift hours do not count towards provisions (meal passes, showers, event radios) and appreciations
        (shirts).<br>
        <InfoIcon/>
        = More shift information available, click on the icon and/or text.<br>
        {{fa-icon "flag" color="danger"}}
        = Sign-up overlaps with one or more shifts
      </p>
    </div>
    <div class="d-flex flex-column flex-xl-row align-middle">
      <div class="me-2">
        Showing {{this.viewSlots.length}} of {{pluralize @slots.length "sign-up"}}.
      </div>
      <div class="d-print-none">
        {{#if (and this.isCurrentYear (not this.showAllShifts) this.previousSlotCount)}}
          <UiButton @onClick={{this.toggleAll}}  @size="sm" @type="secondary">
            {{fa-icon "clock" type="far"}} Show {{if this.showAllShifts "Upcoming Shifts" "All Shifts"}}
          </UiButton>
        {{/if}}
        <UiButton @onClick={{this.exportCalendarAction}} @type="secondary" @size="sm">
          {{fa-icon "calendar-days" type="far" right=1}} Export To Calendar
        </UiButton>
      </div>
    </div>
    <div class="schedule-table schedule-itinerary mt-2">
      <div class="schedule-row schedule-header">
        <div class="schedule-icon">&nbsp;</div>
        <div class="schedule-time-description">Time / Position / Description</div>
        <div class="schedule-duration">Duration</div>
        <div class="schedule-credits">Credits</div>
        <div class="schedule-actions">Actions</div>
      </div>
      {{#if (and (not this.showAllShifts) this.previousSlotCount)}}
        <div class="schedule-row schedule-sub-header">
          <div class="schedule-sub-header-text">
            <span class="d-inline-block text-danger fw-bold">
              {{pluralize this.previousSlotCount "previous sign-up"}}
              {{if (eq this.previousSlotCount 1) "is" "are"}} not shown.
            </span>
            Use the Show All button to see the previous sign-ups.
          </div>
        </div>
      {{/if}}
      <div class="schedule-body">
        {{#each this.viewSlots key="id" as |slot| }}
          <div class="schedule-row {{if slot.is_overlapping "schedule-overlapping"}}">
            <div class="schedule-icon">
              {{#if slot.is_overlapping}}
                {{fa-icon "flag" color="danger"}}
              {{else}}
                &nbsp;
              {{/if}}
            </div>
            <div class="schedule-time-description">
              {{#if slot.has_ended}}
                <div class="text-danger">Shift has ended.</div>
              {{else if slot.has_started}}
                <div class="text-danger">Shift has started.</div>
              {{/if}}
              {{shift-format slot.slot_begins slot.slot_ends}}
              {{#if slot.isNotPacific}}
                ({{slot.slot_tz_abbr}})
              {{/if}}<br>
              {{slot.position_title}}<br>
              <SlotInfoLink @description={{slot.slot_description}} @info={{slot.slot_url}} />
            </div>
            <div class="schedule-duration">
              <span class="schedule-sm-label">Duration:</span>
              {{#unless slot.position_count_hours}}
                <span class="me-1"><NoAppreciateIcon/></span>
              {{/unless~}}
              {{hour-minute-format slot.slot_duration}}
            </div>
            <div class="schedule-credits">
              <span class="schedule-sm-label">Credits:</span>{{credits-format slot.credits}}
            </div>
            <div class="schedule-actions">
              {{#if (or (not slot.has_started) @isAdmin)}}
              {{! Note: magic here -  by not using onclick, no event argument will be passed to leaveSlot. That tells the method to allow the page to scroll.}}
                <button type="button" {{on "click" (fn @leaveSlot slot)}} class="btn btn-danger btn-sm me-1"
                        disabled={{slot.is_submitting}}>
                  {{~#if slot.is_submitting~}}
                    <SpinIcon/>
                    {{~else~}}
                    {{fa-icon "trash-alt" type="fas" fixed=true right=1}}
                  {{~/if~}}
                  &nbsp;Remove
                </button>
              {{~/if~}}
              <button {{on "click" (fn @showPeople slot)}}
                type="button"
                class="btn btn-secondary btn-sm"
                disabled={{slot.is_retrieving_people}}>
                {{#if slot.is_retrieving_people}}
                  <SpinIcon/>
                {{~else~}}
                  {{fa-icon "users" type="fas" fixed=true right=1}}
                {{/if}}
                &nbsp;Sign Ups
              </button>
            </div>
          </div>
        {{else}}
          <div class="schedule-row">
            <div class="schedule-icon">
              {{fa-icon "exclamation"}}
            </div>
            <div>
              {{~#if @slots~}}
                No more upcoming shifts were found for {{@year}}.
                {{~else~}}
                No shift sign-ups were found for {{@year}}.
              {{~/if~}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </:body>
</UiSection>
