<div class="schedule-signup-row">
  {{#if @info.people}}
    <b>{{pluralize @info.people.length "sign-up"}}:</b>
    <div class="callsign-list mt-2">
      {{#each @info.people as |person|}}
        <div>{{person.callsign}}</div>
      {{/each}}
    </div>
  {{else}}
    No one is signed up for this shift. Be the first!
  {{/if}}
  {{#if @info.parent}}
    <div class="my-2 small">
      This shift is linked to a parent shift. The combined signup counts for both this shift and the parent shift may
      not exceed the parent's signup limit.
    </div>
    <div class="small fw-bold">
      {{pluralize @info.parent.people.length "signup"}} in the parent {{@info.parent.position_title}} shift:
    </div>
    {{#if @info.parent.people}}
      <div class="callsign-list">
        {{#each @info.parent.people as |person|}}
          <div>{{person.callsign}}</div>
        {{/each}}
      </div>
    {{else}}
      No one has signed up for the shift.
    {{/if}}
  {{/if}}
  {{#if @info.child}}
    <div class="my-2 small">
      This shift is linked to a child shift. The combined signup counts for both this shift and the child shift may
      not exceed this shift's signup limit.
    </div>
    <div class="small fw-bold">
      {{pluralize @info.child.people.length "signup"}} in the {{@info.child.position_title}} child shift:
    </div>
    {{#if @info.child.people}}
      <div class="callsign-list">
        {{#each @info.child.people as |person|}}
          <div>{{person.callsign}}</div>
        {{/each}}
      </div>
    {{else}}
      No one has signed up for the shift.
    {{/if}}
  {{/if}}

  {{#if @info.assoc_signups}}
    {{#each @info.assoc_signups as |assoc|}}
      <div class="mt-2 small fw-bold">
        {{pluralize assoc.people.length "signup"}} in the corresponding {{assoc.position_title}} shift:
      </div>
      <div class="mt-2">
        {{#if assoc.people}}
          <div class="callsign-list">
            {{#each assoc.people as |person|}}
              <div>{{person.callsign}}</div>
            {{/each}}
          </div>
        {{else}}
          No one has signed up for corresponding shift.
        {{/if}}
      </div>
    {{/each}}
  {{/if}}
</div>