{{#if this.justTrainingBlocker}}
  <p>
    Before
    <YouOrCallsign @person={{@person}} @youLabel="you are" @callsignVerb="is"/>
    allowed to sign up for any In-Person Trainings, the Online Course must first be completed.
  </p>
  <p>
    <YouOrCallsign @person={{@person}} @youLabel="You may" @callsignVerb="is allowed to" /> sign up for shifts however
    an In-Person Training has to be attended &amp; passed before being allowed to work.
  </p>
{{else}}
  <p>
    Before <YouOrCallsign @person={{@person}} @youLabel="you are" @callsignVerb="is"/>
    allowed to sign up for any shifts, including trainings, the following issue(s) must be fixed first:
  </p>
  <ul>
    {{#each this.requirementsList as |req|}}
      <li><b>{{req}}</b></li>
    {{/each}}
  </ul>
{{/if}}
