<PrintInstruction/>

<div class="max-width-1000">
  {{#unless this.isCurrentYear}}
    <ChNotice @type="warning">
      Warning: You are viewing a past schedule ({{@year}}).
    </ChNotice>
  {{/unless}}

  {{#if this.showScheduleBlocker}}
    <ScheduleBlocked @requirements={{@permission.requirements}} @person={{@person}}
                     @overrideAction={{this.overrideAction}} @canOverride={{this.canOverride}}
                     @isMe={{this.isMe}} @isAdmin={{this.isAdmin}}
                     @hasTrainingBlocker={{this.hasTrainingBlocker}}
    />
  {{else}}
    {{#if this.requirementsOverride}}
      <ChNotice @type="danger" @icon="exclamation" @title="Schedule requirements overridden">
        <b>All actions are logged and subject to review.</b>
      </ChNotice>
    {{/if}}

    <p>
      The <i class="fas fa-info-circle info-icon"></i> icon on a shift description means additional information is
      available. Click on the icon and/or text.
    </p>

    <ScheduleTable @slots={{@signedUpSlots}} @person={{@person}} @isMe={{this.isMe}} @isAdmin={{this.isAdmin}} @year={{@year}}
                   @creditsEarned={{@creditsEarned}}
                   @scheduleSummary={{@scheduleSummary}} @leaveSlot={{this.leaveSlot}}
                   @showPeople={{this.showPeople}} />
    <div class="d-print-none">
      <h3 class="mt-2">{{if this.isCurrentYear "Available" "Past"}} {{@year}} Shifts</h3>
      {{#if this.availableSlots}}
        {{#if this.inactiveSlots}}
          <ChNotice @type="info" @title="Schedule listing has inactive shifts" @icon="hand-point-right">
            <p>
              Because you have the Edit Slots, Grant Positions, Trainer, VC, and/or Admin role, the shift listing
              will contain inactive shifts.
            </p>
            Sign ups are disabled until the shift has been activated through the Edit Slots page.
          </ChNotice>
        {{/if}}

        <div class="row mb-1">
          <div class="col-sm-5 col-md-auto mb-2">
            <ChForm::Select @name="filterDay"
                            @value={{this.filterDay}}
                            @options={{this.dayOptions}}
                            @onChange={{action (mut this.filterDay)}}
                            @controlClass="form-control"/>
          </div>
          {{#if this.inactiveSlots}}
            <div class="col-sm-5 col-md-auto mb-2">
              <ChForm::Select @name="filterActive"
                              @value={{this.filterActive}}
                              @options={{this.activeOptions}}
                              @onChange={{action (mut this.filterActive)}}
                              @controlClass="form-control"/>
            </div>
          {{/if}}
        </div>

        <p>Showing {{this.viewSlots.length}} of {{this.availableSlots.length}}</p>
        {{#each this.positions as |position|}}
          <SchedulePositionList @position={{position}}
                                @showPeople={{this.showPeople}}
                                @joinSlot={{this.joinSlot}}
                                @leaveSlot={{this.leaveSlot}}
                                @isAdmin={{this.isAdmin}}
                                @isCurrentYear={{this.isCurrentYear}}
          />
        {{else}}
          <div class="text-danger">There are no shifts which match.</div>
        {{/each}}
        <div class="mt-2"><b>Note:</b>
          <ul>
            <li>A shift may not be added to or removed from your schedule if the shift has already started.</li>
          </ul>
        </div>
      {{else}}
        <p><b class="text-danger">There are no shifts available.</b></p>
      {{/if}}
    </div>
  {{/if}}
</div>