{{#if this.isLoading}}
  <LoadingIndicator @text="Loading hours & credit"/>
{{else}}
  <UiSection>
    <:title>Scheduled Hours &amp; Credits Breakdown</:title>
    <:body>
      <p>
        {{#if this.scheduleSummary.event_start}}
          The {{@year}} Event Week is {{shift-format this.scheduleSummary.event_start}} to
          {{shift-format this.scheduleSummary.event_end}}.
        {{else}}
          <b class="text-danger">Event dates have not been entered for the year. Hour &amp; credits breakdowns will not
            be accurate.</b>
        {{/if}}
      </p>

      <table class="table table-sm table-width-auto">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th class="text-end">Total</th>
          <th>Pre-Event</th>
          <th>Event</th>
          <th>Post-Event</th>
          <th>Training / Other</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Scheduled Hours</td>
          <td class="text-end">
            {{hour-minute-format this.scheduleSummary.counted_duration}} (counted)<br>
            {{hour-minute-format this.scheduleSummary.total_duration}} (total)
          </td>
          <td class="text-end">{{hour-minute-format this.scheduleSummary.pre_event_duration}}</td>
          <td class="text-end">{{hour-minute-format this.scheduleSummary.event_duration}}</td>
          <td class="text-end">{{hour-minute-format this.scheduleSummary.post_event_duration}}</td>
          <td class="text-end">{{hour-minute-format this.scheduleSummary.other_duration}}</td>
        </tr>
        <tr>
          <td>Scheduled Credits</td>
          <td class="text-end">{{credits-format this.scheduleSummary.total_credits}}</td>
          <td class="text-end">{{credits-format this.scheduleSummary.pre_event_credits}}</td>
          <td class="text-end">{{credits-format this.scheduleSummary.event_credits}}</td>
          <td class="text-end">{{credits-format this.scheduleSummary.post_event_credits}}</td>
          <td class="text-center">-</td>
        </tr>
        </tbody>
      </table>
      <p>
        counted = the estimated number of hours which may count towards provisions and appreciations
      </p>

      <p>
        You have earned {{credits-format this.scheduleSummary.credits_earned}} credits so far.
      </p>
    </:body>
  </UiSection>
{{/if}}