<div class="bg-khaki row g-0">
  {{! line up the search bar with main content}}
  <div class="d-none d-md-block sidebar-expanded">
    &nbsp;
  </div>

  <ChForm @formId="search-bar-form"
          @formFor={{this.searchForm}}
          @changeSet={{false}}
          @formClass="col-sm-11 col-lg-8 col-xl-6 mb-2 mx-2"
          @onFormChange={{action this.searchFormChange}} as |f|>
    <AutocompleteInput @placeholder={{this.searchPlaceholder}}
                       @onSearch={{action this.searchAction}}
                       @onSelect={{action this.searchSelectAction}}
                       @onFocus={{action this.searchFocusAction}}
                       @text={{this.searchText}}
                       @modeOptions={{this.modeOptions}}
                       @onModeChange={{action this.modeChange}}
                       @mode={{this.searchForm.mode}}
                       @appendSearchIcon={{true}}
                       as |item|>
      {{~#if (eq this.searchType "asset")~}}
        {{this.searchYear}} #{{item.barcode}} {{item.description}} {{item.type}}
        {{~else~}}
        {{~#if (eq this.searchType "person-id")~}}
          ID #{{item.id}} -
        {{~/if~}}
        <b>{{item.callsign}}</b> &lt;{{item.first_name}} {{item.last_name}}, {{item.status}}&gt;
        {{~#if item.fka_match~}}
          <span class="ms-4 d-block">- FKA: {{item.fka_match}}</span>
        {{~/if~}}
        {{~#if (eq item.email_match "full")~}}
          <span class="ms-4 d-block">- email exact match</span>
        {{~else if (eq item.email_match "partial")~}}
          <span class="ms-4 d-block">- email partial match</span>
        {{~/if~}}
      {{~/if~}}
    </AutocompleteInput>
    {{#if this.showSearchOptions}}
      <div class="bg-white p-2">
        <FormRow @class="mt-4">
          <FormLabel @fixed={{true}} @class="pt-0">Search By:</FormLabel>
          <div class="col-sm-12 col-lg-9">
            <f.checkbox @name="callsign"
                        @label="Callsign"
                        @inline={{true}}
            />
            <f.checkbox @name="name"
                        @label="Name"
                        @inline={{true}}
            />
            <f.checkbox @name="email"
                        @label="Email"
                        @inline={{true}}
            />
            <f.checkbox @name="formerly_known_as"
                        @label="Formerly Known As"
                        @inline={{true}}
            />
          </div>
        </FormRow>
        <FormRow>
          <FormLabel @fixed={{true}}  @class="pt-0">Include:</FormLabel>
          <div class="col-sm-12 col-lg-9">
            <f.checkbox @name="auditor"
                        @label="Auditor"
                        @inline={{true}}/>
            <f.checkbox @name="past_prospective"
                        @label="Past Prospective"
                        @inline={{true}}/>
          </div>
        </FormRow>
        <FormRow>
          <small>Hint: Save time by pressing &lt;SHIFT&gt; F1 to place the cursor in search field.</small>
          <div class="col-auto ms-auto">
            <UiButton @type="secondary" @size="sm" @onClick={{this.hideSearchBoxAction}}>
              Hide Options
            </UiButton>
          </div>
        </FormRow>
      </div>
    {{/if}}
  </ChForm>
</div>