{{#if this.session.showSearchDialog}}
  <ModalDialog @position="top" @onEscape={{this.hideSearchBoxAction}} @onInsert={{this.onModalInsert}} as |Modal|>
    <Modal.body>
      {{#if (gt this.modeOptions.length 1)}}
        <FormRow class="align-items-center">
          <div class="col-auto">
            <label class="col-form-label">
              Mode:
            </label>
          </div>
          <div class="col-auto">
            {{#if this.session.isSmallScreen}}
              <ChForm::Select @options={{this.modeOptions}}
                              @onChange={{this.modeChange}}
                              @value={{this.searchMode}}
                              @fieldSize="sm"
              />
            {{else}}
              <RadioGroup @options={{this.modeOptions}}
                          @onChange={{this.modeChange}}
                          @value={{this.searchMode}}
              />
            {{/if}}
          </div>
        </FormRow>
      {{/if}}
      <AutocompleteInput @placeholder={{this.searchPlaceholder}}
                         @onSearch={{this.searchAction}}
                         @onSelect={{this.searchSelectAction}}
                         @onFocus={{this.searchFocusAction}}
                         @text={{this.searchText}}
                         @focusBorder={{true}}
                         @onModeChange={{this.modeChange}}
                         @mode={{this.searchMode}}
                         @appendSearchIcon={{true}}
                         @autofocus={{true}}
                         @onEscape={{this.hideSearchBoxAction}}
                         @renderBelow={{true}}
                         @noResultsText={{this.noResultsText}}
                         @fastFocus={{true}}
                         @onBlur={{this.blurEvent}}
                         autocomplete="off"
                         as |item group|>
        {{#if (eq this.searchType "asset")}}
          Year {{this.searchYear}} #{{item.barcode}} {{item.type}} {{item.description}}
        {{else if (eq this.searchType "vehicle")}}
          {{item.name}}: {{item.numbers}}
          <span class="ms-4 d-block">&bullet; {{item.description}}</span>
        {{else}}
          <b>{{item.callsign}}</b>
          <span class="d-inline-block">
            &lt;{{or item.preferred_name item.first_name}} {{item.last_name}}, {{item.status}}&gt;
          </span>
          {{#if (eq group.field "name")}}
            {{#if item.preferred_name}}
              <span class="ms-4 d-block">&bullet; Legal first name: {{item.first_name}}</span>
            {{/if}}
          {{else if (eq group.field "fka")}}
            <span class="ms-4 d-block">&bullet; FKA: {{item.fka_match}}</span>
          {{else if (eq group.field "email")}}
            <span class="ms-4 d-block">&bullet;Email match</span>
          {{else if (eq group.field "email-old")}}
            <span class="ms-4 d-block">&bullet; OLD email match</span>
          {{/if}}
        {{/if}}
      </AutocompleteInput>
      <div class="border-top mt-2 pt-2 d-flex justify-content-between small">
        {{#unless this.session.isSmallScreen}}
          <div class="mt-1 ms-2">
            <span class="bg-gray p-1">&uparrow;</span>
            <span class="bg-gray p-1">&downarrow;</span> to navigate results
            <span class="bg-gray p-1 ms-2">&crarr;</span> to select
            <span class="bg-gray p-1 ms-2">esc</span> to close this dialog
            <span class="bg-gray p-1 ms-2">{{if this.session.isMac "⌘" "CTRL"}} K</span>
            to open this dialog
          </div>
        {{/unless}}
        <div class="me-2">
          <UiButton @type="secondary" @size="sm" @onClick={{this.hideSearchBoxAction}}>
            Close
          </UiButton>
        </div>
      </div>
    </Modal.body>
  </ModalDialog>
{{/if}}