{{#if this.isReloadingTimesheets}}
  <LoadingIndicator @text="Reloading Timesheets"/>
{{else if @onDutyEntry}}
  <p>
    <b class="text-success">{{@person.callsign}} is on duty.</b>
  </p>
  <table class="table table-width-auto">
    <thead>
    <tr>
      <th>Position</th>
      <th>On Duty</th>
      <th class="text-end">Duration</th>
      <th class="text-end">Credits</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        {{@onDutyEntry.position.title}}<br>
        <UiButton @type="secondary" @onClick={{this.changePositionAction}} @class="mt-1" @size="sm"
                  @disabled={{this.isSubmitting}}>
          Change Position
        </UiButton>

      </td>
      <td>{{shift-format @onDutyEntry.on_duty}}</td>
      <td class="text-end">
        {{#unless @onDutyEntry.position.count_hours}}
          <NoAppreciateIcon/>
        {{/unless}}
        {{hour-minute-format @onDutyEntry.duration}}
      </td>
      <td class="text-end">{{credits-format @onDutyEntry.credits}}</td>
      <td>
        <UiButton @type="danger" @onClick={{this.endShiftAction}} @disabled={{this.isSubmitting}}>
          {{fa-icon "bed"}} End Shift
        </UiButton>
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </td>
    </tr>
    </tbody>
  </table>
  {{#unless @onDutyEntry.position.count_hours}}
    Note:
    <NoAppreciateIcon/> = {{@onDutyEntry.position.title}} hours do not count towards appreciations.
  {{/unless}}
{{else}}
  {{#if (not @person.canStartShift)}}
    <b class="text-danger">
      {{@person.callsign}} cannot start a shift because their status does not allow them to work shifts.
    </b>
  {{else if @hasUnverifiedTimesheet}}
    One or more timesheet entries has to be verified before a shift can be started.
  {{else}}
    {{#unless this.isPersonDirtTrained}}
      <div class="text-danger font-weight-bold mb-2">
        <div class="d-flex">
          <div class="my-auto mr-2 d-inline-block">{{fa-icon "exclamation-circle" size="2x"}}</div>
          <div class="my-auto d-inline-block">
            {{@person.callsign}} cannot start a shift because they have not completed
            {{#if this.otOnly}}
              the Online Training course.
            {{else}}
              Face-to-Face training.
            {{/if}}
            If this is an error, check with the HQ Lead.
          </div>
        </div>
      </div>
    {{/unless}}

    {{#if (and this.isPersonDirtTrained @imminentSlots)}}
      <p>
        {{pluralize @imminentSlots.length "upcoming shift"}} found.
      </p>
      <table class="table table-width-auto table-hover table-striped m-0">
        <thead>
        <tr>
          <th>Shift</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
        </thead>

        <tbody>
        {{#each @imminentSlots as |slot|}}
          <tr>
            <td class="align-middle">
              {{slot.position_title}}{{#if slot.slot_description}} - {{slot.slot_description}}{{/if}}
            </td>
            <td class="align-middle">{{shift-format slot.slot_begins slot.slot_ends}}</td>
            <td class="align-middle">
              {{#if (and (not slot.is_untrained) (not slot.is_unqualified))}}
                <UiButton @type={{if slot.is_within_start_time "primary" "warning"}}
                          @onClick={{fn this.signinShiftAction slot}} @disabled={{this.isSubmitting}}>
                  {{if slot.is_within_start_time "Start Shift" "Start Shift Early"}}
                </UiButton>
              {{else}}
                <div class="text-danger">
                  {{if slot.is_untrained "Not Trained"}}
                  {{if slot.is_unqualified slot.unqualified_message}}
                </div>
                {{#if this.userCanForceCheckIn}}
                  <UiButton @type="warning" @onClick={{fn this.signinShiftAction slot}} @disabled={{this.isSubmitting}}>
                    Force Start Shift
                  </UiButton>
                {{/if}}
              {{/if}}
              {{#if this.isSubmitting}}
                <LoadingIndicator/>
              {{/if}}
            </td>
          </tr>
          {{#unless slot.is_within_start_time}}
            <tr>
              <td colspan="5" class="text-danger">
                <b>WARNING: Most shifts may only be signed into within 15 minutes of the actual start time.<br>
                  Suggest to {{@person.callsign}} they come back in {{pluralize slot.can_start_in "minute"}} to start
                  their shift.</b>
              </td>
            </tr>
          {{/unless}}
        {{/each}}
        </tbody>
      </table>

      <p class="mt-2 mb-2">Use the upcoming shift to sign in <b>OR</b> a specific position can be signed into below:</p>
    {{/if}}

    <FormRow>
      <div class="col-auto">
        <ChForm::Select @name="signin_position_id"
                        @value={{this.signinPositionId}}
                        @options={{this.signinPositions}}
                        @onChange={{this.updateShiftPosition}}/>
      </div>
      <div class="col-auto">
        {{#if this.isPersonDirtTrained}}
          <UiButton @onClick={{this.startShiftAction}} @disabled={{this.isSubmitting}}>
            {{fa-icon "walking"}} Start Shift
          </UiButton>
        {{else if this.userCanForceCheckIn}}
          <UiButton @type="warning" @onClick={{this.startShiftAction}} @disabled={{this.isSubmitting}}>
            Force Shift Start
          </UiButton>
        {{else}}
          <div class="text-danger mt-1">NOT DIRT TRAINED - SHIFT START IS NOT ALLOWED</div>
        {{/if}}
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </div>
    </FormRow>
  {{/if}}
{{/if}}

{{#if this.showPositionDialog}}
  <ModalDialog @title="Update shift position" @onEscape={{this.cancelUpdatePosition}} as |Modal|>
    <Modal.body>
      Select the new position the shift should be updated to:
      <FormRow>
        <div class="col-auto">
          <ChForm::Select @name="newPositionId"
                          @value={{this.newPositionId}}
                          @options={{this.signinPositions}}
                          @onChange={{action (mut this.newPositionId)}}/>
        </div>
      </FormRow>
      {{#if this.changePositionError}}
        <b class="text-danger">{{this.changePositionError}}</b>
      {{/if}}
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <UiButton @onClick={{this.updatePositionAction}} @disabled={{this.isSubmitting}}>
        Update Position
      </UiButton>
      <UiCancelButton @disabled={{this.isSubmitting}} @onClick={{this.cancelUpdatePosition}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.showEarlyShiftConfirm}}
  <ModalDialog @title="Confirm Early Shift Sign In" @onEscape={{this.closeEarlyShiftAction}} as |Modal|>
    <Modal.body>
      <p>
        <b class="text-danger">WARNING: Most shifts may only be signed into within 15 minutes of the actual start
          time.</b>
      </p>
      <p>
        The "{{this.earlySlot.position_title}}" shift starts at {{shift-format this.earlySlot.slot_begins}}
        and can be <b>signed into {{pluralize this.earlySlot.can_start_in "minute"}} from now</b>.
      </p>
      <p>
        Are you absolutely sure you want to sign in this person at this time? Check with the HQ Lead or Short if in
        doubt.
      </p>
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <UiCancelButton @onClick={{this.closeEarlyShiftAction}} />
      <UiButton @type="warning" @onClick={{this.confirmEarlyShiftAction}}>
        Confirm Early Shift Start
      </UiButton>
    </Modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.showForceStartConfirm}}
  <ModalDialog @title="Confirm Forced Shift Check In" @onEscape={{this.closeForceStartConfirm}} as |Modal|>
    <Modal.body>
      <p>
        <b class="text-danger">WARNING: {{@person.callsign}} has not meet all the qualifications to start
          a {{this.forcePosition.title}} shift</b>
      </p>
      <ul>
        {{#unless this.isPersonDirtTrained}}
          <li>Dirt Training has not been completed</li>
        {{/unless}}
        {{#if this.forcePosition.is_untrained}}
          <li>{{this.forcePosition.training_title}} has not been completed</li>
        {{/if}}
        {{#if this.forcePosition.is_unqualified}}
          <li>{{this.forcePosition.unqualified_message}}</li>
        {{/if}}
      </ul>
      <p>
        Since you either have the Admin, or Timesheet Management role, you can force a shift check in.
      </p>
      <p>
        <b class="text-danger">A forced shift start will be logged and subject to review.</b>
      </p>
      <p>
        Are you absolutely sure you want to sign in this person at this time? Check with the HQ Lead or Short if in
        doubt.
      </p>
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <UiCancelButton @onClick={{this.closeForceStartConfirm}} />
      <UiButton @type="warning" @onClick={{this.confirmForceStart}}>
        Confirm Force Shift Start
      </UiButton>
    </Modal.footer>
  </ModalDialog>
{{/if}}