{{#if this.isReloadingTimesheets}}
  <LoadingIndicator @text="Reloading Timesheets"/>
{{else if @onDutyEntry}}
  <p>
    <b class="text-success">{{@person.callsign}} is on duty.</b>
  </p>
  <table class="table table-width-auto">
    <thead>
    <tr>
      <th>Position</th>
      <th>On Duty</th>
      <th class="text-end">Duration</th>
      <th class="text-end">Credits</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        {{@onDutyEntry.position.title}}<br>
        <UiButton @type="secondary"
                  @onClick={{this.changePositionAction}}
                  @class="mt-1"
                  @size="sm"
                  @disabled={{this.isSubmitting}}>
          Correct Position
        </UiButton>
      </td>
      <td>{{shift-format @onDutyEntry.on_duty}}</td>
      <td class="text-end">
        {{#unless @onDutyEntry.position.count_hours}}
          <NoAppreciateIcon/>
        {{/unless}}
        {{hour-minute-format @onDutyEntry.duration}}
      </td>
      <td class="text-end">{{credits-format @onDutyEntry.credits}}</td>
      <td>
        <UiButton @type="danger" @onClick={{this.endShiftAction}} @disabled={{this.isSubmitting}}>
          {{fa-icon "bed"}} End Shift
        </UiButton>
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </td>
    </tr>
    </tbody>
  </table>
  {{#if this.mayNotNeedRadio}}
    <p>
      <b class="text-danger">
        {{fa-icon "arrow-right"}} {{@person.callsign}} is working a Burn Perimeter shift and may not need a radio.
        Check with the HQ Short or Lead if in doubt.
      </b>
    </p>
  {{/if}}
  {{#unless @onDutyEntry.position.count_hours}}
    Note:
    <NoAppreciateIcon/> = {{@onDutyEntry.position.title}} hours do not count towards provisions and appreciations.
  {{/unless}}
{{else}}
  {{#if (not @person.canStartShift)}}
    <b class="text-danger">
      {{@person.callsign}} cannot start a shift because their status does not allow them to work shifts.
    </b>
  {{else if @hasUnverifiedTimesheet}}
    One or more timesheet entries has to be verified before a shift can be started.
  {{else}}
    {{#unless this.isPersonDirtTrained}}
      <UiNotice @title="Work Eligibility Issue" @icon="hand" @type="danger">
        {{@person.callsign}} should not start a shift because
        {{if this.otOnly "the Online Course" "an In-Person Training"}}
        has not been completed. Check with the HQ Short or HQ Lead if this is an error.
        {{#if this.userCanForceCheckIn}}
          <div class="mt-2">
            You have the privileges to force a shift start.
          </div>
        {{/if}}
      </UiNotice>
    {{/unless}}

    {{#if (and this.isPersonDirtTrained @imminentSlots)}}
      <p>
        {{pluralize @imminentSlots.length "upcoming shift"}} found.
      </p>
      <table class="table table-width-auto table-hover table-striped m-0">
        <thead>
        <tr>
          <th>Shift</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
        </thead>

        <tbody>
        {{#each @imminentSlots as |slot|}}
          <tr>
            <td class="align-middle">
              {{slot.position_title}}{{#if slot.slot_description}} - {{slot.slot_description}}{{/if}}
            </td>
            <td class="align-middle">{{shift-format slot.slot_begins slot.slot_ends}}</td>
            <td class="align-middle">
              {{#if (and (not slot.is_untrained) (not slot.is_unqualified))}}
                <UiButton @type={{if slot.is_within_start_time "primary" "warning"}}
                          @onClick={{fn this.signinShiftAction slot}} @disabled={{this.isSubmitting}}>
                  {{if slot.is_within_start_time "Start Shift" "Start Shift Early"}}
                </UiButton>
              {{else}}
                <div class="text-danger">
                  {{if slot.is_untrained "Not Trained"}}
                  {{if slot.is_unqualified slot.unqualified_message}}
                </div>
                {{#if this.userCanForceCheckIn}}
                  <UiButton @type="warning" @onClick={{fn this.signinShiftAction slot}} @disabled={{this.isSubmitting}}>
                    Force Start Shift
                  </UiButton>
                {{/if}}
              {{/if}}
              {{#if this.isSubmitting}}
                <LoadingIndicator/>
              {{/if}}
            </td>
          </tr>
          {{#unless slot.is_within_start_time}}
            <tr>
              <td colspan="5" class="text-danger">
                <b>WARNING: Most shifts may only be signed in to within 15 minutes of the actual start time.<br>
                  Suggest to {{@person.callsign}} they come back in {{pluralize slot.can_start_in "minute"}} to start
                  their shift.</b>
              </td>
            </tr>
          {{/unless}}
        {{/each}}
        </tbody>
      </table>
      <p class="mt-2 mb-2">Use the upcoming shift to sign in <b>OR</b> a specific position can be signed in to below:
      </p>
    {{/if}}

    <FormRow>
      <div class="col-auto">
        <ChForm::Select @name="signin_position_id"
                        @value={{this.signinPositionId}}
                        @options={{this.signinPositions}}
                        @onChange={{this.updateShiftPosition}}/>
      </div>
      <div class="col-auto">
        {{#if this.isPersonDirtTrained}}
          <UiButton @onClick={{this.startShiftAction}} @disabled={{this.isSubmitting}}>
            {{fa-icon "walking"}} Start Shift
          </UiButton>
        {{else if this.userCanForceCheckIn}}
          <UiButton @type="warning" @onClick={{this.startShiftAction}} @disabled={{this.isSubmitting}}>
            Force Shift Start
          </UiButton>
        {{else}}
          <div class="text-danger mt-1">NOT DIRT TRAINED - SHIFT START IS NOT ALLOWED</div>
        {{/if}}
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </div>
    </FormRow>
  {{/if}}
{{/if}}

{{#if this.showPositionDialog}}
  <ModalDialog @title="Correct Sift Position" @onEscape={{this.cancelUpdatePosition}} as |Modal|>
    <Modal.body>
      <p>
        This action is intended to correct a shift check in where the wrong position was selected.
      </p>
      <p>
        <b>
          When switching from an on-call shift (such as 007 Standby, Tech On Call, etc.) to a working shift
          (007, Tech Team, etc) and visa-versa, END THE CURRENT SHIFT and start a new one.
        </b>
      </p>
      Select the new position the shift should be corrected to:
      <FormRow>
        <div class="col-auto">
          <ChForm::Select @name="newPositionId"
                          @value={{this.newPositionId}}
                          @options={{this.signinPositions}}
                          @onChange={{action (mut this.newPositionId)}}/>
        </div>
      </FormRow>
      {{#if this.changePositionError}}
        <b class="text-danger">{{this.changePositionError}}</b>
      {{/if}}
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <UiButton @onClick={{this.updatePositionAction}} @disabled={{this.isSubmitting}}>
        Update Position
      </UiButton>
      <UiCancelButton @disabled={{this.isSubmitting}} @onClick={{this.cancelUpdatePosition}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.showEarlyShiftConfirm}}
  <ModalDialog @title="Confirm Early Shift Sign In" @onEscape={{this.closeEarlyShiftAction}} as |Modal|>
    <Modal.body>
      <p>
        <b class="text-danger">
          WARNING: Most shifts may only be signed in to within 15 minutes of the actual start time.
        </b>
      </p>
      <p>
        The "{{this.earlySlot.position_title}}" shift starts at {{shift-format this.earlySlot.slot_begins}}
        and can be <b>signed into {{pluralize this.earlySlot.can_start_in "minute"}} from now</b>.
      </p>
      <p>
        Are you absolutely sure you want to sign in this person at this time? Check with the HQ Lead or Short if in
        doubt.
      </p>
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <UiButton @type="warning" @onClick={{this.confirmEarlyShiftAction}}>
        Confirm Early Shift Start
      </UiButton>
      <UiCancelButton @onClick={{this.closeEarlyShiftAction}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.showForceStartConfirm}}
  <ModalDialog @title="Confirm Forced Shift Check In" @onEscape={{this.closeForceStartConfirm}} as |Modal|>
    <Modal.body>
      <p>
        <b class="text-danger">
          WARNING: {{@person.callsign}} has not meet all the qualifications to start
          a {{this.forcePosition.title}} shift
        </b>
      </p>
      <ul>
        {{#if
          (and (not this.isPersonDirtTrained) (not this.forcePosition.is_untrained) (not this.forcePosition.is_unqualified))}}
          <li>In-Person Training has not been completed.</li>
        {{/if}}
        {{#if this.forcePosition.is_untrained}}
          <li>{{this.forcePosition.training_title}} has not been completed</li>
        {{/if}}
        {{#if this.forcePosition.is_unqualified}}
          <li>{{this.forcePosition.unqualified_message}}</li>
        {{/if}}
      </ul>
      <p>
        Since you either have the Admin, or Timesheet Management role, you can force a shift check in.
      </p>
      <p>
        <b class="text-danger">A forced shift start will be logged and subject to review.</b>
      </p>
      <p>
        Are you absolutely sure you want to sign in this person at this time? Check with the HQ Lead or Short if in
        doubt.
      </p>
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <UiButton @type="warning" @onClick={{this.confirmForceStart}}>
        Confirm Force Shift Start
      </UiButton>
      <UiCancelButton @onClick={{this.closeForceStartConfirm}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}