<UiSection>
  <:title>
    {{@title}}
    {{if @isOnDuty "ON DUTY" "Scheduled"}} - {{if @people (pluralize @people.length "Ranger") "NONE"}}
  </:title>
  <:body>
    <UiTable>
      <thead>
      <tr>
        <th class="w-10">Position</th>
        <th class="w-15">Callsign</th>
        <th class="w-5">Pronouns</th>
        <th class="w-5">Gender</th>
        <th class="w-5 text-end">Yrs</th>
        <th class="w-5 text-center">GTR?</th>
        <th class="w-5 text-center">Veh?</th>
        <th class="w-30">Positions / Certifications ({{fa-icon "award" color="danger"}})</th>
        {{#if @isOnDuty}}
          <th class="w-10 text-end">On Duty</th>
          <th class="w-10 text-end">Duration</th>
        {{else}}
          <th class="w-10 text-end">Shift Start</th>
          <th class="w-10 text-end">Shift Ends</th>
        {{/if}}
      </tr>
      </thead>
      <tbody>
      {{#each @people key="id" as |person idx|}}
        <tr class="{{this.rowCss idx}}">
          <td class="w-10 {{if person.is_greendot_shift "bg-shift-lead-greendot"}}">
            {{if person.position.short_title person.position.short_title person.position.title}}
          </td>
          <td class="w-15">
            {{#unless person.on_site}}
              {{fa-icon "ban" color="danger"}}
            {{/unless}}
            <PersonLink @person={{person}} />
          </td>
          <td class="w-5">
            {{#if person.pronouns}}
              {{pronouns-format person noParens=true}}
            {{else}}
              -
            {{/if}}
          </td>
          <td class="w-5">
            <PresentOrNot @value={{person.gender}} @empty="-"/>
          </td>
          <td class="w-5 text-end">{{person.years}}</td>
          <td class="w-5 text-center">
            {{#if person.vehicle_blacklisted}}
              <b class="text-danger">-BL-</b>
            {{else if person.signed_motorpool_agreement}}
              GTR
            {{else}}
              -
            {{/if}}
          </td>
          <td class="w-5 text-center">
            {{#if person.vehicle_blacklisted}}
              <b class="text-danger">-BL-</b>
            {{else if person.org_vehicle_insurance}}
              VEH
            {{else}}
              -
            {{/if}}
          </td>
          <td class="w-30 {{this.positionCss person}}">
            {{#each person.positions as |p idx|~}}
              {{~if idx ", "}}{{p~}}
            {{~else}}
              -
            {{/each}}
            {{#if person.certifications}}
              <br>
              {{#each person.certifications as |certTitle|}}
                &nbsp;{{fa-icon "award" color="danger"}} {{certTitle}}
              {{/each}}
            {{/if}}
          </td>
          {{#if @isOnDuty}}
            <td class="w-10 text-end">{{time-format person.on_duty}}</td>
            <td class="w-10 text-end">{{hour-minute-format person.duration}}</td>
          {{else}}
            <td class="w-10 text-end">{{if person.slot.begins_day_before "<"}}{{time-format person.slot.begins}}</td>
            <td class="w-10 text-end">{{time-format person.slot.ends}}{{if person.slot.ends_day_after ">"}}</td>
          {{/if}}
        </tr>
      {{else}}
        <tr>
          <td colspan="10">
            <b class="text-danger">
              {{#if @isOnDuty}}
                No on duty personnel found.
              {{else}}
                No sign-ups found.
              {{/if}}
            </b>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </UiTable>
  </:body>
</UiSection>