{{#if this.isReloadingTimesheets}}
  <LoadingIndicator @text="Reloading Timesheet Entries"/>
{{else if @onDutyEntry}}
  <UiTable @normalSize={{true}}>
    <thead>
    <tr>
      <th>Position</th>
      <th>&nbsp;</th>
      <th>On Duty</th>
      <th class="text-end">Duration</th>
      <th class="text-end">Credits</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="align-middle">
        {{@onDutyEntry.position.title}}
      </td>
      <td class="align-middle">
        <UiButton @type="secondary"
                  @onClick={{this.changePositionAction}}
                  @size="sm"
                  @disabled={{this.isSubmitting}}>
          {{fa-icon "pen-to-square" type="r" right=1}} Correct Position
        </UiButton>
      </td>
      <td class="align-middle">{{shift-format @onDutyEntry.on_duty}}</td>
      <td class="text-end align-middle">
        {{#unless @onDutyEntry.position.count_hours}}
          <NoAppreciateIcon/>
        {{/unless}}
        {{hour-minute-format @onDutyEntry.duration}}
      </td>
      <td class="text-end align-middle">{{credits-format @onDutyEntry.credits}}</td>
      <td class="align-middle">
        <UiButton @type="danger" @onClick={{this.endShiftAction}} @disabled={{this.isSubmitting}} @size="md">
          {{fa-icon "bed" right=2}} End Shift
        </UiButton>
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </td>
    </tr>
    {{#if (and @onDutyEntry.slot @onDutyEntry.slot.url)}}
      <tr>
        <td colspan="6">
          <SlotInfoLink @description="Click for more information about this shift" @info={{@onDutyEntry.slot.url}} />
        </td>
      </tr>
    {{/if}}
    </tbody>
  </UiTable>
  {{#unless @onDutyEntry.position.count_hours}}
    Note:
    <NoAppreciateIcon/> = {{@onDutyEntry.position.title}} hours do not count towards provisions and appreciations.
  {{/unless}}
{{else}}
  {{#unless @hasUnreviewedTimesheet}}
    {{#if @upcomingSlots.imminent}}
      <div class="mb-2 fw-semibold">
        {{@person.callsign}} can be signed in to a scheduled shift OR an unscheduled shift (aka position).
      </div>
      <UiTable @normalSize={{true}} @noStriped={{true}}>
        <thead>
        <tr>
          <th>Shift</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each @upcomingSlots.imminent as |slot|}}
          <tr class="{{if slot.slot_description "tr-no-border"}}">
            <td class="align-middle">
              {{slot.position_title}}
            </td>
            <td class="align-middle">{{shift-format slot.slot_begins slot.slot_ends}}</td>
            <td class="align-middle">
              <UiButton @type="primary"
                        @onClick={{fn this.signInShiftAction slot}}
                        @disabled={{this.isSubmitting}}
                        @size="md">
                {{fa-icon "person-walking" right=2}} Start Shift
              </UiButton>
              {{#if this.isSubmitting}}
                <LoadingIndicator/>
              {{/if}}
            </td>
          </tr>
          {{#if slot.slot_description}}
            <tr class="tr-no-top-padding">
              <td colspan="3">
                <SlotInfoLink @description={{slot.slot_description}} @info={{slot.slot_url}} />
              </td>
            </tr>
          {{/if}}

        {{/each}}
        </tbody>
      </UiTable>
      <p>
        <b>
          To sign in to a different shift / position, select the position below, and use the
          <i>Start Shift</i> button.
        </b>
      </p>
    {{/if}}

    <FormRow>
      <label class="col-auto col-form-label">
        <b>Shift / Position</b>
      </label>
      <div class="col-auto">
        <ChForm::Select @name="signin_position_id"
                        @value={{this.signinPositionId}}
                        @options={{this.signinPositions}}
                        @onChange={{this.updateShiftPosition}}
        />
      </div>
      <div class="col-auto">
        <UiButton @onClick={{this.startShiftAction}} @disabled={{this.isSubmitting}} @size="md">
          {{fa-icon "walking" right=2}} Start Shift
        </UiButton>
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </div>
    </FormRow>
  {{/unless}}
{{/if}}

{{#if this.showPositionDialog}}
  <ShiftCorrectPositionModal @positionId={{this.newPositionId}}
                             @positions={{this.signinPositions}}
                             @onPositionChange={{this.updateNewPosition}}
                             @error={{this.changePositionError}}
                             @isSubmitting={{this.isSubmitting}}
                             @onUpdate={{this.updatePositionAction}}
                             @onCancel={{this.cancelUpdatePosition}}/>
{{/if}}

{{#if this.showBlockers}}
  <ShiftBlockedModal @title={{this.blockedTitle}}
                     @blockedPhrase={{this.blockedPhrase}}
                     @forcePhrase={{this.forcePhrase}}
                     @referPhrase={{this.referPhrase}}
                     @blockers={{this.blockers}}
                     @userCanForceCheckIn={{this.userCanForceCheckIn}}
                     @form={{this.forceStartForm}}
                     @validations={{this.forceShiftValidations}}
                     @onConfirm={{this.confirmForce}}
                     @onCancel={{this.closeForceConfirm}}/>
{{/if}}

{{#if this.showTooShortDialog}}
  <ShiftTooShortModal @onDutyEntry={{@onDutyEntry}}
                      @person={{@person}}
                      @allowCorrectionOnEnd={{@allowCorrectionOnEnd}}
                      @onCorrectPosition={{this.updatePositionInstead}}
                      @onDelete={{this.deleteEntry}}
                      @onConfirmEnd={{this.confirmEndShift}}
                      @onMissedCheckIn={{this.missedShiftCheckIn}}
                      @onCancel={{this.closeTooShortDialog}}/>
{{/if}}