{{#if this.isReloadingTimesheets}}
  <LoadingIndicator @text="Reloading Timesheets"/>
{{else if this.onDutyEntry}}
  <div class="text-success font-weight-bold mb-2">{{@person.callsign}} is on duty.</div>
  <table class="table mt-1 mb-0 table-width-auto">
    <thead>
    <tr>
      <th>Position</th>
      <th>On Duty</th>
      <th class="text-right">Duration</th>
      <th class="text-right">Credits</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{this.onDutyEntry.position.title}}</td>
      <td>{{shift-format this.onDutyEntry.on_duty}}</td>
      <td class="text-right">
        {{#if this.onDutyEntry.position.count_hours}}
          <NoAppreciateIcon />
        {{/if}}
        {{hour-minute-format this.onDutyEntry.duration}}
      </td>
      <td class="text-right">{{credits-format this.onDutyEntry.credits}}</td>
      <td>
        <button type="button" class="btn btn-danger" {{action this.endShiftAction}} disabled={{this.isSubmitting}}>
          End Shift
        </button>
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </td>
    </tr>
    </tbody>
  </table>
  {{#unless this.onDutyEntry.position.count_hours}}
    Note: {{this.onDutyEntry.position.title}} hours do not count towards appreciations.
  {{/unless}}
{{else}}
  {{#if (not @person.canStartShift)}}
    <b class="text-danger">{{@person.callsign}} cannot start a shift because their status does not allow them to work
      shifts</b>
  {{else if @hasUnverifiedTimesheet}}
    One or more timesheet entries has to be verified before a shift can be started.
  {{else}}
    {{#unless this.isPersonDirtTrained}}
      <div class="text-danger font-weight-bold mb-2">
        <div class="d-flex">
          <div class="my-auto mr-2 d-inline-block">{{fa-icon "exclamation-circle" size="2x"}}</div>
          <div class="my-auto d-inline-block">
            This person cannot start a shift because they have not been trained.
            If this is an error, check with the HQ Lead.
          </div>
        </div>
      </div>
    {{/unless}}

    {{#if (and this.isPersonDirtTrained @imminentSlots)}}
      <p>
        {{pluralize @imminentSlots.length "upcoming shift"}} found.
      </p>
      <table class="table table-hover table-striped table-sm m-0">
        <thead>
        <tr>
          <th>Position</th>
          <th class="w-25">Description</th>
          <th>Starts</th>
          <th>Ends</th>
          <th>Action</th>
        </tr>
        </thead>

        <tbody>
        {{#each @imminentSlots as |slot|}}
          <tr>
            <td class="align-middle">{{slot.position_title}}</td>
            <td class="w-25 align-middle">{{slot.slot_description}}</td>
            <td class="align-middle">{{shift-format slot.slot_begins}}</td>
            <td class="align-middle">{{shift-format slot.slot_ends}}</td>
            <td class="align-middle">
              {{#if (and (not slot.is_untrained) (not slot.is_unqualified))}}
                <button type="button" class="btn btn-primary" {{action this.signinShiftAction slot}}
                        disabled={{this.isSubmitting}}>Start Shift
                </button>
              {{else}}
                <div class="text-danger">{{if slot.is_untrained "Not Trained"}} {{if slot.is_unqualified
                                                                                     slot.unqualified_message}}</div>
                {{#if (has-role "admin" "timesheet-management")}}
                  <button type="button" class="btn btn-warning" {{action this.signinShiftAction slot}}
                          disabled={{this.isSubmitting}}>Force Start Shift
                  </button>
                {{/if}}
              {{/if}}
              {{#if this.isSubmitting}}
                <LoadingIndicator/>
              {{/if}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>

      <p class="mt-2 mb-2">Use the upcoming shift to sign in <b>OR</b> a specific position can be signed into below:</p>
    {{/if}}

    <div class="form-row">
      <div class="col-auto">
        <ChForm::Select @name="signin_position_id" @controlClass="form-control" @value={{this.signinPositionId}}
                        @options={{this.signinPositions}} @onChange={{this.updateShiftPosition}} />
      </div>
      <div class="col-auto">
        {{#if this.isPersonDirtTrained}}
          <button type="button" class="btn btn-primary" {{action this.startShiftAction}} disabled={{this.isSubmitting}}>
            Start Shift
          </button>
        {{else if (has-role "admin" "timesheet-management")}}
          <button type="button" class="btn btn-warning" {{action this.startShiftAction}} disabled={{this.isSubmitting}}>
            Force Shift Start
          </button>
        {{else}}
          <div class="text-danger mt-1">NOT DIRT TRAINED - SHIFT START IS NOT ALLOWED</div>
        {{/if}}
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </div>
    </div>
  {{/if}}
{{/if}}
