<table class="table table-sm table-striped table-box table-hover">
  <caption>{{@title}} - {{if @people (pluralize @people.length "Ranger") "NONE"}}</caption>
  <thead>
    <tr>
      <th class="w-10">Position</th>
      <th class="w-15">Callsign</th>
      <th class="w-5">Pronouns</th>
      <th class="w-5">Gender</th>
      <th class="w-5 text-right">Yrs</th>
      <th class="w-5 text-center">GTR?</th>
      <th class="w-5 text-center">Veh?</th>
      <th class="w-30">Positions</th>
      <th class="w-10 text-right">Shift Start</th>
      <th class="w-10 text-right">Shift Ends</th>
    </tr>
  </thead>
  <tbody>
    {{#each @people as |person|}}
      <tr>
        <td class="w-10 {{if person.is_greendot_shift "bg-shift-lead-greendot"}}">
          {{if person.short_title person.short_title person.position_title}}
        </td>
        <td class="w-15">
          <PersonLink @callsign={{person.callsign}} @personId={{person.person_id}} />
        </td>
        <td class="w-5">
          {{#if person.pronouns}}
            {{pronouns-format person noParens=true}}
          {{else}}
            -
          {{/if}}
        </td>
        <td class="w-5"><PresentOrNot @value={{person.gender}} @empty="-" /></td>
        <td class="w-5 text-right">{{person.years}}</td>
        <td class="w-5 text-center">
          {{#if person.vehicle_blacklisted}}
            -BL-
          {{else if person.signed_motorpool_agreement}}
            GTR
          {{else}}
            -
          {{/if}}
        </td>
        <td class="w-5 text-center">
          {{#if person.vehicle_blacklisted}}
            -BL-
          {{else if person.org_vehicle_insurance}}
            VEH
          {{else}}
            -
          {{/if}}
        </td>
        <td class="w-30 {{if person.is_greendot "bg-shift-lead-greendot" (if (and person.is_troubleshooter (not (or person.is_rsl person.is_ood) ) ) "bg-shift-lead-troubleshooter")}}">
          {{#each person.positions as |p idx|~}}
            {{if idx ", "}}{{p}}
          {{~else}}
            -
          {{/each}}
        </td>
        <td class="w-10 text-right">{{if person.slot_begins_day_before "<"}}{{time-format person.slot_begins}}</td>
        <td class="w-10 text-right">{{time-format person.slot_ends}}{{if person.slot_ends_day_after ">"}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan="9" class="text-danger">No sign ups found</td>
      </tr>
    {{/each}}
  </tbody>
</table>
