<ChAccordion as |Accordion|>
  <Accordion.title>
    {{#if this.isVintage}}
      Mark Callsign As Vintage:
    {{else}}
      Convert to {{@newStatus}}:
    {{/if}}
    {{pluralize @people.length "person"}}
  </Accordion.title>
  <Accordion.body>
    <table class="table table-hover table-striped table-sm table-width-auto mt-2">
      <thead>
      <tr>
        <th>
          <Input @type="checkbox" @checked={{this.selectAll}} {{on "change" this.toggleAll}} />
        </th>
        <th>Callsign</th>
        <th>Current Status</th>
        {{#unless this.isVintage}}
          <th>Proposed Status</th>
        {{/unless}}
        {{#unless this.isPastProspective}}
          <th>Last year worked</th>
          <th>Total years</th>
        {{/unless}}
        <th>Email</th>
        {{#unless this.isVintage}}
          <th>Vintage?</th>
        {{/unless}}
      </tr>
      </thead>
      <tbody>
      {{#each @people key="id" as |person|}}
        <tr class="{{if person.error "bg-danger"}}">
          <td>
            {{#if person.converted}}
              {{fa-icon "check"}}
            {{else}}
              {{#if person.error}}
                {{fa-icon "excalamation-triangle"}}
              {{/if}}
              <Input @type="checkbox" @checked={{person.selected}}
                {{on "change" (fn this.togglePerson person)}} />
            {{/if}}
          </td>
          <td>
            <PersonLink @person={{person}} />
          </td>
          <td>{{person.status}}</td>
          {{#unless this.isVintage}}
            <td>{{@newStatus}}</td>
          {{/unless}}
          {{#unless this.isPastProspective}}
            <td class="text-end">{{person.last_year}}</td>
            <td class="text-end">{{person.years}}</td>
          {{/unless}}
          <td>{{mail-to person.email}}</td>
          {{#unless this.isVintage}}
            <td class="text-center">{{if person.vintage "Y" "-"}}</td>
          {{/unless}}
        </tr>
        {{#if person.error}}
          <tr class="tr-no-border">
            <td colspan="5">{{person.error_message}}</td>
          </tr>
        {{/if}}
      {{else}}
        <tr>
          <td colspan="{{if (or this.isVintage this.isPastProspective) 6 8}}" class="text-danger">No accounts found</td>
        </tr>
      {{/each}}
      </tbody>
    </table>

    <UiButton @onClick={{action this.submit}} @disabled={{or this.isSubmitting (not this.selectedCount)}}>
      {{#if this.isVintage}}
        Mark as Vintage ({{this.selectedCount}})
      {{else}}
        Convert to {{@newStatus}} ({{this.selectedCount}})
      {{/if}}
    </UiButton>
    {{#if this.isSubmitting}}
      <LoadingIndicator/>
    {{/if}}
  </Accordion.body>
</ChAccordion>
