<ModalDialog @title="{{if @surveyEntry.isNew "Create" "Edit"}} Survey"
             @size="xl"
             @onEscape={{this.cancelSurveyAction}}
             as |Modal|>
  <ChForm @formId="survey"
          @formFor={{@survey}}
          @validator={{this.surveyValidations}}
          @onSubmit={{this.saveSurveyAction}} as |f|>
    <Modal.body>
      <FormRow>
        <f.select @name="type"
                  @label="Type"
                  @options={{this.typeOptions}}/>
        <f.select @name="position_id"
                  @label={{this.positionLabel f.model.type}}
                  @options={{this.positionOptions f.model.type}}/>
        {{#if (this.isMentorOrMenteeType f.model.type)}}
          <f.select @name="mentoring_position_id"
                    @label={{this.mentoringPositionLabel f.model.type}}
                    @options={{this.mentoringPositionOptions f.model.type}}
          />
        {{/if}}
      </FormRow>
      <p>
        Only activate the survey when the survey has been finalized, and it is ready to be published.
      </p>
      <FormRow>
        <div class="col-auto">
          <f.checkbox @name="active" @label="Active"/>
        </div>
      </FormRow>
      <FormRow>
        <f.text @name="title"
                @label="Title"
                @size={{80}}
                @maxlength={{190}}/>
      </FormRow>
      <FormRow>
        <f.editor @name="prologue"
                    @label="Prologue text to show at the very beginning of the survey (HTML allowed):"
                    @cols={{80}}
                    @rows={{4}}/>
      </FormRow>
      <FormRow>
        <f.editor @name="epilogue"
                    @label="Epilogue text to shown at the very end of the survey (HTML allowed):"
                    @cols={{80}}
                    @rows={{4}}/>
      </FormRow>
    </Modal.body>
    <Modal.footer @align="start">
      <f.submit @label={{if @survey.isNew "Create" "Save"}}  />
      <UiCancelButton @onClick={{this.cancelSurveyAction}} />
    </Modal.footer>
  </ChForm>
</ModalDialog>

{{#if @survey.isSaving}}
  <LoadingDialog>
    Submitting the request
  </LoadingDialog>
{{/if}}
