<h1>{{@survey.title}}</h1>

{{#if @slot}}
  <h3>{{@slot.position.title}} {{@slot.description}} {{shift-format @slot.begins}}</h3>
{{/if}}
{{#if @survey.prologue}}
  <p>
    {{this.htmlPrologue}}
  </p>
{{/if}}
<ChForm @formId="survey" @formFor={{this.surveyForm}} @validator={{this.validations}}
        @onSubmit={{this.submitAction}} as |f|>
  {{#each this.surveyGroups as |group|}}
    <UiSection>
      <:title>
        {{#if group.trainer}}Trainer {{group.trainer.callsign}} -{{/if}}
        {{group.title}}
      </:title>
      <:body>
        {{#if group.showTrainerPhoto}}
          {{#if group.trainer.photo_url}}
            <div class="photo-medium mb-3">
              <img src={{group.trainer.photo_url}} alt="trainer {{group.trainer.callsign}}">
            </div>
          {{else}}
            <div class="my-2">
              <i class="far fa-user fa-4x"></i><br>
              Uh oh, {{group.trainer.callsign}} does not have a photo on file. Sorry!
            </div>
          {{/if}}

          {{#if this.isTrainerSurvey}}
            <FormRow>
              <f.radioGroup @name="share_name_{{group.trainer.id}}"
                            @label="Share your name with {{group.trainer.callsign}} or leave anonymous comments?"
                            @options={{get this.shareNameOptionsForTrainer group.trainer.id}}
              />
            </FormRow>
          {{/if}}
        {{/if}}
        {{#if group.description}}
          <p>
            {{group.description}}
          </p>
        {{/if}}
        {{#each group.survey_questions as |question|}}
          <div class="{{if (get f.model.error question.formName) "is-invalid"}}">
            {{question.description}}
            {{#if question.is_required}}
              <i><b class="text-danger">(required)</b></i>
            {{/if}}
          </div>
          <FormRow>
            {{#if (eq question.type "text")}}
              <f.textarea @name={{question.formName}} @rows={{4}} @cols={{80}}/>
            {{else if (eq question.type "rating")}}
              <f.radioGroup @name={{question.formName}}
                            @options={{this.ratingOptions}}
                            @inline={{not this.session.isSmallScreen}}
              />
            {{else if (eq question.type "options")}}
              <f.radioGroup @name={{question.formName}}
                            @options={{question.formOptions}}
                            @inline={{not this.session.isSmallScreen}}
              />
            {{else}}
              Uh oh, question #{{question.id}} has an unknown type "{{question.type}}".
              This is a bug, please report this to the tech team.
            {{/if}}
          </FormRow>
        {{/each}}
      </:body>
    </UiSection>
  {{/each}}
  <f.submit @label="Submit Feedback" @submitClass="btn-responsive" @disabled={{this.isSubmitting}}/>
  {{#if this.isSubmitting}}
    <LoadingIndicator @text="Submitting"/>
  {{/if}}
</ChForm>