<tr>
  <td>
    {{@title}}
  </td>
  <td>
    {{#if this.line.rating_count}}
      <progress max="100" value="{{mult (div this.line.mean 7) 100}}"/> {{this.line.mean}}
    {{else}}
      <i>no ratings</i>
    {{/if}}
  </td>
  <td class="text-right">{{this.line.variance}}</td>
  <td class="text-right">{{this.line.rating_count}}</td>
</tr>