{{#unless @noheader}}
  <div class="font-italic mb-1">
    <b>{{#if @trainer}}Trainer {{@trainer.callsign}}: {{/if}}{{@question.description}}</b>
  </div>
{{/unless}}
<div class="ms-2">
  {{#if (eq @question.type "rating")}}
    <table class="table table-width-auto table-sm">
      <thead>
      <tr>
        <th colspan="2">Avg. Rating</th>
        <th>Std. Dev.</th>
        <th>Responses</th>
        <th>Distribution (rating x count)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-end">{{@question.mean}}</td>
        <td>
          <progress max="100" value="{{mult (div @question.mean 7) 100}}"/>
        </td>
        <td class="text-end">{{@question.variance}}</td>
        <td class="text-end">{{@question.rating_count}}</td>
        <td>
          {{#each-in @question.distribution as |rank count|}}
            {{rank}}x{{count}}
          {{/each-in}}
        </td>
      </tr>
      </tbody>
    </table>
  {{else}}
    {{#if @question.responses}}
      ({{pluralize @question.responses.length "response"}})
      {{#each @question.responses as |response|}}
        <div class="mb-1 ms-2">
          &mdash; {{response.answer}}
        </div>
      {{/each}}
    {{/if}}
    {{#each @question.slots as |slot|}}
      <div class="my-2">
        {{#if @trainingId}}
          <LinkTo @route="training.session.index"
                  @models={{array @trainingId slot.slot_id}}
                  class="d-block mb-2">
            {{slot.slot_description}} {{shift-format slot.slot_begins}}
          </LinkTo>
        {{else}}
          {{slot.slot_description}} {{shift-format slot.slot_begins}}
        {{/if}}
        ({{pluralize slot.responses.length "response"}})
        <div class="mt-2">
          {{#if slot.responses}}
            {{#each slot.responses as |response|}}
              <div class="mb-1 ms-2">
                &mdash; {{response.answer}}
              </div>
            {{/each}}
          {{else}}
            <i>No feedback was given</i>
          {{/if}}
        </div>
      </div>
    {{/each}}
  {{/if}}
</div>