<h1>{{@survey.title}}</h1>

{{#if @slot}}
  <h3>{{@slot.position.title}} {{@slot.description}} {{shift-format @slot.begins}}</h3>
{{/if}}
{{#if @survey.prologue}}
  {{this.htmlPrologue}}
{{/if}}
<ChForm @formId="survey"
        @formFor={{this.surveyForm}}
        @validator={{this.validations}}
        @onSubmit={{this.submitAction}} as |f|>
  {{#each this.surveyGroups as |group idx|}}
    {{#if idx}}
      <hr class="mt-4" />
    {{/if}}
    <h3>
      {{#if group.trainer}}
        Trainer {{group.trainer.callsign}} -
      {{/if}}
      {{group.title}}
    </h3>
    {{#if group.showTrainerPhoto}}
      {{#if group.trainer.photo_url}}
        <img src="{{group.trainer.photo_url}}" class="d-block mb-2" alt="trainer {{group.trainer.callsign}}">
      {{else}}
        <div class="my-2">
        <i class="far fa-user fa-8x"></i><br>
        Uh oh, {{group.trainer.callsign}} does not have a photo on file. Sorry!
        </div>
      {{/if}}

      {{#if this.isTrainerSurvey}}
        <div class="form-row no-gutters mb-4">
          <label class="col-form-label  col-12">Share your name with {{group.trainer.callsign}} or leave anonymous comments?</label>
          <f.input @name="share_name_{{group.trainer.id}}" @type="radioGroup" @options={{get this.shareNameOptionsForTrainer group.trainer.id}} @inline={{true}} />
        </div>
      {{/if}}
    {{/if}}
    {{#if group.description}}
      <p>
        {{group.description}}
      </p>
    {{/if}}
    {{#each group.survey_questions as |question|}}
      <div class="form-row no-gutters">
        <div class="col-12 mb-2 {{if (get f.model.error question.formName) "is-invalid"}}">
          {{question.description}}
          {{#if question.is_required}}
            <i><b class="text-danger">(required)</b></i>
          {{/if}}
        </div>
      </div>
      <div class="form-row no-gutters mb-3">
        {{#if (eq question.type "text")}}
        <f.input @name={{question.formName}} @type="textarea" @rows=4 @cols=80/>
        {{else if (eq question.type "rating")}}
          <div class="col-auto form-check-inline-responsive">
            <f.input @name={{question.formName}} @type="radioGroup" @options={{this.ratingOptions}} @inline={{true}} />
          </div>
        {{else if (eq question.type "options")}}
          <div class="col-auto form-check-inline-responsive">
            <f.input @name={{question.formName}} @type="radioGroup" @options={{question.formOptions}} @inline={{true}} />
          </div>
        {{else}}
          Uh oh, question #{{question.id}} has an unknown type "{{question.type}}".
          This is a bug, please report this to the tech team.
        {{/if}}
      </div>
    {{/each}}
  {{/each}}
  <f.submit @label="Submit Feedback"/>
</ChForm>