{{#if (or @person.isAlpha @person.isProspective)}}
  <UiSection>
    Information about Work Access Passes will be made available in June or July. Please check back at that time.
  </UiSection>
{{else}}
  {{#if @ticketPackage.lsdTickets}}
    <UiNotice @icon="ticket" @type="success" @title="Claimed Late Season Directed (LSD) Items">
      <TicketLsdAvailable @ticketPackage={{@ticketPackage}} @ticketingInfo={{@ticketingInfo}} />
    </UiNotice>
  {{/if}}
  {{#if @ticketPackage.giftTickets}}
    <UiNotice @icon="ticket" @type="success" @title="Gift Ticket(s)">
      {{singular-or-pluralize @ticketPackage.giftTickets.length "Gift Ticket" capitalize=true}} is available.
      The {{pluralize @ticketPackage.giftTickets.length "ticket" without-count=true}} may be claimed once the Ranger
      ticketing window has opened up.
    </UiNotice>
  {{/if}}
  {{#if @ticketPackage.tickets}}
    <UiNotice @icon="ticket"
              @title="Hooray! You have {{pluralize @ticketPackage.tickets.length "ticket"}} available!"
              @type="success">
      <ul class="no-indent">
        {{#each @ticketPackage.tickets as |ticket|}}
          <li>
            A {{ticket-type-human ticket.type}} was earned in {{ticket.source_year}} and will expire after
            {{mdy-format ticket.expiry_date full=true}}
          </li>
        {{/each}}
      </ul>
    </UiNotice>
    <UiSection>
      <:title>What happens next?</:title>
      <:body>
        You'll need to come back later to claim or bank your ticket once the ticketing window has opened.
        Information about how to claim or bank your goodies will be available in the Clubhouse in June or early July.
        {{#if @ticketPackage.tickets}}
          <div class="mt-2">
            If you are not planning on attending the event this year, you may bank the ticket(s).
          </div>
        {{/if}}
      </:body>
    </UiSection>
  {{else}}
    <UiNotice @title="No Ticket Qualified For" @icon="arrow-right">
      <p>
        Sorry, it doesn't appear you qualified for a ticket during the last event.
      </p>
      You earned {{credits-format @ticketPackage.credits_earned}} credits last event. The minimum credits needed to earn
      a Reduced-Price Ticket was {{credits-format @ticketingInfo.rpt_credits}}, and a Staff Credential was
      {{credits-format @ticketingInfo.sc_credits}}.
    </UiNotice>
  {{/if}}
  <UiSection>
    <:title>Where are the Vehicle Passes &amp; Work Access Passes (WAPs)?</:title>
    <:body>
      <p>
        Any Ranger in good standing who intends to work the upcoming event will qualify for a WAP.
      </p>
      <p>
        {{#if @ticketPackage.tickets}}
          A free Vehicle Pass will be made available if you claim a ticket through the Ranger department and intend
          to work the upcoming event.
        {{else}}
          Sorry, you do not qualify for a Vehicle Pass through the Ranger department because no ticket was qualified for
          during the last event, and no banked tickets are on file. You will be responsible for purchasing your own
          Vehicle Pass.
        {{/if}}
      </p>
      Don't worry, any qualified for passes will be made available when ticketing is opened up in June or July.
    </:body>
  </UiSection>
{{/if}}
