{{#if (or @person.isAlpha @person.isProspective)}}
  <UiSection>
    The Work Access Passes page is currently disabled. Please check back later.
  </UiSection>
{{else}}
  <UiSection>
    <:title>
      Hold up! We're in the off season. Ticketing for the {{this.eventYear}} event has not yet started.
    </:title>
    <:body>
      <p>
        Stay tuned to the Ranger Announce mailing list for updates.
      </p>
      {{#if this.tickets}}
        You have {{pluralize this.tickets.length "ticket"}}:
        <ul>
          {{#each this.tickets as |ticket|}}
            <li>
              A {{ticket-type-human ticket.type}} earned in {{ticket.source_year}} and will expire
              after {{mdy-format ticket.expiry_date full=true}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        You have no tickets currently.
      {{/if}}
      {{#if this.provisions}}
        You have the following {{pluralize this.provisions.length "provision"}}:
        <ul>
          {{#each this.provisions as |item|}}
            <li>
              {{item.typeLabelWithCounts}}
              expiring after {{mdy-format item.expiry_date full=true}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </:body>
  </UiSection>
{{/if}}
