<div class="my-2">
  {{#if this.wapSOCount}}
    <b>
      You are requesting {{pluralize this.wapSOCount "Setup Access Pass"}} for your
      Significant {{if (eq this.wapSOCount 1) "Other" "Others"}}.
    </b>
  {{else}}
    No Significant Other Setup Access Passes have been requested, yet.
  {{/if}}
</div>

<p>
  You may request up to {{pluralize @ticketingInfo.wap_so_max "Significant Other Setup Access Passs"}} below.
  All Setup Access Passes are sent by email to your account as a PDF. The S.O. SAP PDF will have your name on it.
  The names of your SOs are stored elsewhere in the ticketing system.
</p>

<div class="wap-so-table">
  <div class="wap-so-header wap-so-row d-sm-none d-md-block">
    <div class="wap-so-name">Significant Other Legal Name</div>
    <div class="wap-so-access">Arrival Date</div>
  </div>
  {{#each this.wapSOList as |row idx|}}
    <div class="wap-so-row">
      <div class="wap-so-name">
        <span class="wap-so-sm-label">SO Legal Name #{{add idx 1}}</span>
        <Input @type="text"
               @value={{row.name}}
               size={{30}}
               maxlength={{100}}
               class="form-control form-control-sm"/>
      </div>
      <div class="wap-so-access">
        <span class="wap-so-sm-label">Arrival Date</span>
        {{mdy-format row.access_date full=true}}
      </div>
    </div>
  {{/each}}
</div>

<UiButton @class="btn-responsive" @onClick={{this.saveSONamesAction}} @disabled={{this.isSaving}}>
  Save Names
  {{#if this.isSaving}}
    <SpinIcon/>
  {{/if}}
</UiButton>
<div class="mb-2">
  {{#if this.isSOListDirty}}
    <b class="text-danger">Changes will not be saved until you click on 'Save Names'</b>
  {{else if this.isSaved}}
    <span class="text-success ms-2">{{fa-icon "check" }} S.O. records have been saved.</span>
  {{else}}
    &nbsp;
  {{/if}}
</div>

<div class="mt-4">
  If you need more than {{pluralize @ticketingInfo.wap_so_max "pass"}} or
  need the Significant Others to arrive before {{mdy-format this.defaultDate full=true}},
  email <MailTo @to={{@ticketingInfo.ranger_ticketing_email}} />
  and plead your case.
</div>
