{{#if @person.needsBpguid}}
  <UiNotice @title="Missing Burner Profile ID" @type="warning">
    <PersonMissingBpguid/>
  </UiNotice>
{{else if this.isPNV}}
  <TicketOpenApplicant @ticketingInfo={{@ticketingInfo}} />
{{else}}
  {{#if (and @ticketPackage.giftTickets (not this.claimedGiftTicket))}}
    <div class="alert alert-secondary">
      {{singular-or-pluralize @ticketPackage.giftTickets.length "Gift Ticket" capitalize=true}}
      {{~#if @ticketPackage.giftVPs~}}
        , and {{singular-or-pluralize @ticketPackage.giftVPs.length "Gift Vehicle Pass"}}
      {{/if}} is available.
      To claim the {{pluralize  @ticketPackage.giftTickets.length "ticket" without-count=true}}, click on the ticketing
      button below.
    </div>
  {{/if}}
  {{#if @ticketPackage.lsdTickets}}
    <div class="alert alert-secondary">
      <TicketLsdAvailable @ticketPackage={{@ticketPackage}} @ticketingInfo={{@ticketingInfo}} />
    </div>
  {{/if}}

  {{#if this.showTicketingWizard}}
    <UiWizard @onCancel={{this.cancelTicketing}}
              @onFinish={{this.finishTicketing}}
              @finishLabel="Finish Ticketing" as |w|>
      <w.step @title="Ticket Selection">
        <TicketInfo @person={{@person}}
                    @ticketPackage={{@ticketPackage}}
                    @ticketingInfo={{@ticketingInfo}}
                    @ticket={{this.ticket}}
                    @setDocumentStatus={{this.setDocumentStatus}}
                    @isSavingDocumentStatus={{this.isSavingDocumentStatus}}
        />
      </w.step>
      {{#if @ticketPackage.giftTickets}}
        <w.step @title="Gift Ticket Selection">
          <TicketGiftInfo @person={{@person}}
                          @ticketPackage={{@ticketPackage}}
                          @ticketingInfo={{@ticketingInfo}}
                          @ticket={{this.ticket}}
                          @setDocumentStatus={{this.setDocumentStatus}}
                          @isSavingDocumentStatus={{this.isSavingDocumentStatus}}
          />
        </w.step>
      {{/if}}
      <w.step @title="Vehicle Pass">
        <TicketVpInfo @person={{@person}}
                      @ticketPackage={{@ticketPackage}}
                      @ticketingInfo={{@ticketingInfo}}
                      @ticket={{this.ticket}}
                      @setDocumentStatus={{this.setDocumentStatus}}
                      @isSavingDocumentStatus={{this.isSavingDocumentStatus}}
        />
      </w.step>
      {{#if @ticketPackage.provisions}}
        <w.step @title="Provisions">
          <TicketProvisions @person={{@person}}
                            @ticketPackage={{@ticketPackage}}
                            @ticketingInfo={{@ticketingInfo}}
          />
        </w.step>
      {{/if}}

      <w.step @title="Setup Access Pass For You">
        <TicketWapInfo @person={{@person}}
                       @ticketPackage={{@ticketPackage}}
                       @ticketingInfo={{@ticketingInfo}}
                       @ticket={{this.ticket}}
                       @setDocumentStatus={{this.setDocumentStatus}}
                       @isSavingDocumentStatus={{this.isSavingDocumentStatus}}
        />
      </w.step>

      <w.step @title="Setup Access Passes For Significant Others">
        <TicketWapSoInfo @person={{@person}}
                         @ticketPackage={{@ticketPackage}}
                         @ticketingInfo={{@ticketingInfo}}
        />
      </w.step>


      <w.step @title="Delivery Information">
        <TicketDeliveryInfo @person={{@person}}
                            @ticketPackage={{@ticketPackage}}
                            @ticketingInfo={{@ticketingInfo}}
                            @ticket={{this.ticket}}
        />
      </w.step>

      <w.step @title="Summary & Confirmation" @isLast={{true}}>
        <TicketSummary @person={{@person}}
                       @ticketPackage={{@ticketPackage}}
                       @ticketingInfo={{@ticketingInfo}}
                       @ticket={{this.ticket}}
        />
      </w.step>
    </UiWizard>
  {{else}}
    <h4 class="text-danger">
      The Ranger ticketing deadline is {{full-datetime-format @ticketingInfo.submit_date}} (Pacific)
    </h4>
    <p>
      Adjustment to your ticketing choice may be made up until the deadline. Once the deadline has passed, it may no
      longer be possible to modify the ticket(s) or make any adjustments.
    </p>
    {{#if this.hasStarted}}
      {{#if this.hasFinished}}
        {{#if this.ticket.isQualified}}
          <UiNotice @type="danger" @icon="hand" @title="Ticketing not completed!">
            You did not indicate if you wanted to use or bank your {{this.ticket.typeLabel}}.
          </UiNotice>
        {{else if (this.ticket.isClaimed (not this.ticket.haveAddress))}}
          <UiNotice @type="danger" @icon="hand" @title="Ticketing not completed!">
            You did not indicate if you wanted to have your ticket mailed or if you are going to pick it up at
            will-call.
          </UiNotice>
        {{else}}
          <UiNotice @type="success" @icon="check" @title="Ticketing choices have been confirmed.">
            {{#if this.claimedGiftTicket}}
              <p>
                See further down the page for information regarding your Gift Ticket.
              </p>
            {{/if}}
            <p>
              While you have completed all the Clubhouse ticketing steps, further actions may need to be taken later.
              After the Ranger ticketing deadline passes, the claimed items will be uploaded to the Burning Man ticketing
              system. Once the upload happens, an email will be sent detailing any additional steps needed to be taken,
              including how to pay for and ship the items (if applicable).
            </p>
            <p>
              <b>
                Failure to visit the Burning Man ticketing website and finishing the Burning Man ticketing "check out" process
                in a timely manner for any uploaded tickets &amp; vehicle passes, regardless if the item(s) requires payment or
                not, will result in your items being delayed. Much sadness will be had.
              </b>
              Please be responsible. Do not make more work for the Ranger Ticketing team. They're volunteers with
              lives, just like you.
            </p>
            <p>
              Claimed WAPs, not part of a Staff Credential, are automatically emailed out.
            </p>
            Ticket selection, pick up locations, access dates, banked items, and other details are
            below.
          </UiNotice>
        {{/if}}
      {{else}}
        <UiNotice @type="danger" @icon="hand" @title="Ticketing not completed!">
          You started the ticketing process but did not complete all the steps. Click the 'Start Ticketing' button
          below, make sure you go through all the steps, and be sure to click the 'Finish Ticketing' button on the
          last step.
        </UiNotice>
      {{/if}}
    {{else}}
      <p>
        You may request, claim, or bank any items you've qualified for, such as a Staff Credential, Special Price
        Ticket, Vehicle Pass, Setup Access Pass, or Setup Access Passes for your significant others/critical camp mates.
      </p>
    {{/if}}
    <UiButton @onClick={{this.startTicketing}} @type="success" class="btn-responsive">
      {{#if this.hasFinished}}
        Adjust Ticketing Choices
      {{else}}
        Start Ticketing
      {{/if}}
    </UiButton>

    {{#if this.hasFinished}}
      <h3 class="mt-4">Ticketing Details</h3>
      <TicketOverview @ticketingInfo={{@ticketingInfo}}
                      @ticketPackage={{@ticketPackage}}
                      @person={{@person}}
      />
    {{/if}}
  {{/if}}
{{/if}}