{{#if this.usingStaffCredential}}
  <p>
    Your <b>Staff Credential {{if @ticketPackage.vehiclePass.isClaimed "and Vehicle Pass"}}</b> will be held at Staff
    Credentialing under your legal name <b>"{{@person.first_name}} {{@person.last_name}}"</b>.
  </p>
  <p>
    Please note that we are unable to mail Staff Credentials due to Burning Man organization policies.
  </p>
  <p>
    The Ticketing Summary section will display the available pickup locations once you've completed all ticketing steps.
  </p>
{{else if (or @ticket.isClaimed this.vehiclePass.isClaimed)}}
  <UiNotice @icon="hand-point-right" @title="New Shipping Costs" @type="warning">
    As of 2025, BMP will be passing on shipping costs to those that prefer delivery over Will Call. Items to be mailed
    will cost an additional ${{@ticketingInfo.mail_standard_price}} for USPS Standard Mail,
    or ${{@ticketingInfo.mail_priority_price}} for USPS Priority Mail. Will Call is always free.
  </UiNotice>
  <p>
    The following {{if (eq this.itemsToDeliver.length 1) "item" (pluralize this.itemsToDeliver.length "item")}}
    {{#if this.isDeliveryNone}}
      can be mailed to you or held at Will Call for you to pick up:
    {{else if this.isDeliveryStandardPost}}
      will be mailed to you via <b>USPS Standard Mail</b>:
    {{else if this.isDeliveryPriorityPost}}
      will be mailed to you via <b>USPS Priority Mail</b>:
    {{else}}
      will be at <b>Will Call</b> for you to pickup:
    {{/if}}
  </p>

  <ul>
    {{#each this.itemsToDeliver as |item|}}
      <li>A {{ticket-type-human item.type}}</li>
    {{/each}}
  </ul>

  {{#if this.isDeliveryNone}}
    <p>
      <b>How do you want your {{pluralize this.itemsToDeliver.length "item"}} delivered?</b>
    </p>
  {{else if (or this.isDeliveryStandardPost this.isDeliveryPriorityPost)}}
    <p>
      You will be asked for your mailing address when you visit the Burning Man Ticketing website. Information will be
      sent after the Ranger ticketing deadline passes on how to access the website.
    </p>
    <p>
      <b>Worried about whether your items will arrive on time?</b> Use WILL CALL. Have the piece of mind your
      item(s) will be waiting for you at the Box Office.
    </p>
    <p>
      <span class="text-danger">Items may only be mailed to a United States address &mdash; NO EXCEPTIONS!</span>
      Please use WILL CALL if you have an address outside the USA.
    </p>
  {{else if this.isDeliveryWillCall}}
    <p>
      <b>Do you want delivery by mail instead?</b>
    </p>
  {{else}}
    Uh oh, I don't understand what the method [{{this.itemToDeliver.delivery_method}}] is. This is a bug!
  {{/if}}
  <UiButtonRow>
    {{#unless this.isDeliveryWillCall}}
      <UiButton @onClick={{fn this.setDeliveryMethod "will_call"}} @type="secondary">
        Pickup At Will Call (FREE!)
      </UiButton>
    {{/unless}}
    {{#unless this.isDeliveryStandardPost}}
      <UiButton @onClick={{fn this.setDeliveryMethod "postal"}} @type="secondary">
        Deliver By USPS Standard Mail (+${{@ticketingInfo.mail_standard_price}})
      </UiButton>
    {{/unless}}
    {{#unless this.isDeliveryPriorityPost}}
      <UiButton @onClick={{fn this.setDeliveryMethod "priority"}} @type="secondary">
        Deliver By USPS Priority Mail (+${{@ticketingInfo.mail_priority_price}})
      </UiButton>
    {{/unless}}
  </UiButtonRow>
{{else}}
  {{#if @ticket.isBanked}}
    <p>
      You have chosen to <b>BANK</b> your event ticket
      {{#if this.vehiclePass.isQualified}}
        and <b>NOT CLAIM</b> your vehicle pass
      {{/if}}.
    </p>
  {{else if this.hasQualifiedTickets}}
    <b>You will need to claim or bank your event ticket(s) first before any delivery information can be given.</b>
  {{/if}}
  <p>
    You have no items which can be mailed or held at Will Call.
  </p>
{{/if}}

{{#if this.isSaving}}
  <LoadingDialog>Submitting the request</LoadingDialog>
{{/if}}
