{{#if (eq @ticketingInfo.period "announce")}}
  <TicketingAnnounce @ticketingInfo={{@ticketingInfo}} @ticketPackage={{this.ticketPackage}} @person={{@person}} />
{{else if (eq @ticketingInfo.period "open")}}
  <TicketingOpen @ticketingInfo={{@ticketingInfo}} @ticketPackage={{this.ticketPackage}} @person={{@person}} />
{{else if (eq @ticketingInfo.period "closed")}}
  <TicketingClosed @ticketingInfo={{@ticketingInfo}} @ticketPackage={{this.ticketPackage}} @person={{@person}} />
{{else if (eq @ticketingInfo.period "offseason")}}
  <TicketingOffseason @ticketingInfo={{@ticketingInfo}} @ticketPackage={{this.ticketPackage}} @person={{@person}} />
{{else}}
  Uh oh, I do not understand the ticketing period status [{{@ticketingInfo.period}}]
{{/if}}

<UiSection>
  <:title>Have a ticketing question? Is something not right?</:title>
  <:body>
    The ticketing FAQs can answer most of your questions. Click one of the following topics to open the FAQ in a new
    window:
    <ul>
      {{#if (not (or @person.isAlpha @person.isProspective))}}
        <li>
          <TicketFaq @topic="ticketing" @ticketingInfo={{@ticketingInfo}} />
        </li>
        <li>
          <TicketFaq @topic="vp" @ticketingInfo={{@ticketingInfo}} />
        </li>
      {{/if}}
      <li>
        <TicketFaq @topic={{if (or @person.isAlpha @person.isProspective) "alpha" "wap"}}
                   @ticketingInfo={{@ticketingInfo}} />
      </li>
    </ul>
  </:body>
</UiSection>