<div class="max-width-700">
  {{#if @ticketPackage.tickets}}
    {{#if this.allTicketsBanked}}
      <TicketOverviewItem @icon="archive" @title="All Tickets Banked" @type="secondary">
        You banked all your available tickets.
      </TicketOverviewItem>
    {{else if this.ticketNotClaimed}}
      <TicketOverviewItem @icon="ban" @title="No Ticket" @type="danger">
        You have not claimed a ticket.
      </TicketOverviewItem>
    {{else}}
      <TicketOverviewItem @icon="ticket" @title="{{this.ticket.typeLabel}} Claimed" @type="success">
        {{#if (or this.usingStaffCredential this.usingWillCall)}}
          Pick up at {{if this.usingStaffCredential "Staff Credentialing" "Will Call"}} &mdash;
          Held under your name "{{@person.first_name}} {{@person.last_name}}"
        {{else if this.ticket.isDeliveryNone}}
          <b class="text-danger">
            You did not indicate if you want the ticket mailed or if you will pick it up at Will Call.
          </b>
        {{else}}
          The ticket will be mailed to you.
        {{/if}}
        {{#if this.usingStaffCredential}}
          <p>
            Note: Due to Burning Man ticketing policies, Staff Credentials cannot be mailed.
          </p>
          <p>
            {{#if this.ticket.access_any_time}}
              Your Staff Credential is available to pick up any time from the following locations:
            {{else if this.ticket.access_date}}
              Your Staff Credential is available for pickup on or after {{mdy-format this.ticket.access_date full=true}}
              at the following locations on the given dates and times:
            {{else}}
              <b class="text-danger">
                Uh oh, we forgot to write down when you may pick up your Staff Credential! Please email the
                Ranger Ticketing Team to get this fixed.
              </b>
            {{/if}}
          </p>
          {{#if @ticketingInfo.pickup_locations}}
            {{nl2br @ticketingInfo.pickup_locations}}
          {{else}}
            <b class="text-danger">
              Oops! We haven't set the pickup locations yet! Email the ticketing team and let us know about this
              problem:<br>
              {{mail-to @ticketingInfo.ranger_ticketing_email}}
            </b>
          {{/if}}
        {{else}}
          <div class="mt-2">
            The ticket must be paid for. An invoice will be sent. Failing to pay in a timely manner may result in
            your inability to attend the event.
          </div>
        {{/if}}
      </TicketOverviewItem>
    {{/if}}
    {{! Can only have a VP if you claimed a ticket}}
    {{#if this.usingVehiclePass}}
      <TicketOverviewItem @icon="car-side" @title="Vehicle Pass Claimed" @type="success">
        {{#if (or this.usingStaffCredential this.usingWillCall)}}
          Pick up at {{if this.usingStaffCredential "Staff Credentialing" "Will Call"}} &mdash;
          Held under your name "{{@person.first_name}} {{@person.last_name}}"
        {{else}}
          The vehicle pass will be mailed to you.
        {{/if}}
      </TicketOverviewItem>
    {{else}}
      <TicketOverviewItem @icon="ban" @title="No Vehicle Pass" @type="secondary">
        No Vehicle Pass was claimed. A Vehicle Pass may only be claimed if a ticket is claimed as well.
      </TicketOverviewItem>
    {{/if}}
  {{/if}}

  {{#if this.giftTicketCount}}
    <TicketOverviewItem @icon="gift"
                        @title="{{singular-or-pluralize this.giftTicketCount "Gift Ticket" capitalize=true}} Claimed"
                        @type="success">
      <p>
        {{singular-or-pluralize this.giftTicketCount "Gift Ticket" capitalize=true}}
        {{~#if this.giftVPCount~}}, and {{singular-or-pluralize this.giftVPCount "Gift Vehicle Pass"}}{{/if}}
        has been claimed.
      </p>

      <TicketGiftConditions/>
    </TicketOverviewItem>
  {{/if}}

  {{#if this.lsdTicketCount}}
    <TicketOverviewItem @icon="gift"
                        @title="{{singular-or-pluralize this.lsdTicketCount "Late Season Directed Ticket" capitalize=true}} Claimed"
                        @type="success">
      <p>
        {{singular-or-pluralize this.lsdTicketCount "LSD Ticket" capitalize=true}}
        {{~#if this.lsdVPCount~}}, and {{singular-or-pluralize this.lsdVPCount "LSD Vehicle Pass"}}{{/if}}
        has been claimed.
      </p>
      All Late Season Directed ticket(s) must be paid for in advance. Instructions will be sent on how to pay.
    </TicketOverviewItem>
  {{/if}}

  {{#if this.usingWAP}}
    <TicketOverviewItem @icon="passport" @title="Work Access Pass (WAP) Claimed" @type="success">
      {{#if this.usingStaffCredential}}
        <p>
          Your Staff Credential acts as your WAP. No additional document is required.
        </p>
      {{/if}}

      {{#if this.effectiveWAP}}
        {{#if this.effectiveWAP.access_any_time}}
          <b>You may enter the event at any time.</b>
        {{else if this.effectiveWAP.access_date}}
          <b>
            You may enter the event on or after {{mdy-format this.effectiveWAP.access_date full=true}} @ 00:01.
          </b>
          <div class="text-danger">
            Note: You will be turned away from the gate if you attempt to enter prior to the date and time listed.
            NO EXCEPTIONS!
          </div>
        {{else}}
          <b class="text-danger">
            Uh oh, we forgot to write down the access date. Email the Ranger Ticketing Team to get this fixed.
          </b>
        {{/if}}
        {{#unless this.usingStaffCredential}}
          <div class="mt-2">
            The WAP will be emailed to you at {{mail-to @person.email}}.<br>
            WAPs are emailed after the ticketing deadline closes and up to a week before the start of the event.
          </div>
        {{/unless}}
      {{/if}}
    </TicketOverviewItem>
  {{else}}
    <TicketOverviewItem @icon="ban" @title="No Work Access Pass (WAP)" @type="secondary">
      {{#if (and this.haveStaffCredential this.allTicketsBanked)}}
        You have a Staff Credential that has been banked. Staff Credentials also acts as a WAP. You will either need to
        claim the Staff Credential, or email the Ranger Ticketing Team to request a separate WAP document.
      {{else}}
        No WAP was claimed.
      {{/if}}
    </TicketOverviewItem>
  {{/if}}
  {{#if this.wapSOList}}
    <TicketOverviewItem @icon="people-group" @title="WAPs For Significant Other Claimed" @type="secondary">
      {{pluralize this.wapSOList.length "Significant Other WAP"}} will be emailed to you at
      {{mail-to @person.email}}<br>
      <ul class="mt-2">
        {{#each this.wapSOList as |so|}}
          <li>{{so.name}}<br>
            May enter
            {{#if so.access_any_time}}
              any time.
            {{else if so.access_date}}
              on or after {{mdy-format so.access_date}} @ 00:01
            {{else}}
              <b class="text-danger">No access date entered. Email the Ranger Ticketing Team to get this fixed.</b>
            {{/if}}
          </li>
        {{/each}}
      </ul>
      Significant Other WAPs are emailed after the ticketing deadline closes and up to a week before the start of the
      event.
    </TicketOverviewItem>
  {{else}}
    <TicketOverviewItem @icon="ban" @title="No WAPs For Significant Others" @type="secondary">
      You did not claim any WAPs for Significant Others.
    </TicketOverviewItem>
  {{/if}}
  {{#if (and @ticketPackage.provisionItems (not @ticketPackage.provisionsBanked))}}
    <TicketOverviewItem @icon="gear" @title="Provisions Claimed" @type="success">
      You will be using the following {{pluralize @ticketPackage.provisionItems.length "provision"}}:
      <div class="mt-2">
        {{#each @ticketPackage.provisionItems as |item|}}
          {{fa-icon item.icon right=2 fixed=true}} {{item.name}}<br>
        {{/each}}
      </div>
    </TicketOverviewItem>
  {{/if}}
  <TicketOverviewBanked @ticketPackage={{@ticketPackage}} />
</div>