<p>
  Your <b>Staff Credential {{if @vehiclePass.isClaimed "and Vehicle Pass"}}</b> will be held at Staff
  Credentialing under your name <b>"{{@person.first_name}} {{@person.last_name}}"</b>.
</p>
<p>
  Sorry, Staff Credentials cannot be mailed due to Burning Man organization policies.
</p>
{{#if @ticket.access_any_time}}
  <p>
    Your Staff Credential allows you to enter the event at any time, and may be picked up on or after the
    early arrival date on the credential at the following locations on the given dates:
  </p>
{{else if @ticket.access_date}}
  <p>
    You may pick up the Staff Credential on or after the day you are allowed to enter the event -
    {{mdy-format @ticket.access_date full=true}}.
    Early pickups are not allowed unless you have a separate Work Access Pass good for entry on a date earlier
    than that of your staff credential.
  </p>
  <p>
    Your Staff Credential is available for pickup at the following locations on the given dates and times:
  </p>
{{else}}
  <p>
    You may pick up the Staff Credential on or after the day you are allowed to enter the
    event.
  </p>
  <p class="text-danger">
    However, we forgot to set the entry date on your ticket. Please contact
    Ranger Ticketing at <MailTo @to={{@ticketingInfo.ranger_ticketing_email}} /> to get this sorted out.
  </p>
  <p>
    Once the date is fixed, your Staff Credential will be available for pickup at the following locations on
    the given dates and times:
  </p>
{{/if}}
{{#if @ticketingInfo.pickup_locations}}
  <p>
    {{nl2br @ticketingInfo.pickup_locations}}
  </p>
  Don't worry, the above information will be provided later as well.
{{else}}
  <b class="text-danger">Oops! We haven't set the pickup locations yet! Email the ticketing team and let us
    know about this problem - <MailTo @to={{@ticketingInfo.ranger_ticketing_email}} /></b>
{{/if}}
