<TicketSection @id="summary" @toggleCard={{@toggleCard}} @showing={{@showing}}>
  <:title>{{this.summaryTitle}}</:title>
  <:body>
    {{#if this.unfinishedItems}}
      <b class="text-danger">You have {{pluralize this.unfinishedItems.length "outstanding task"}} to complete.</b>
      <ul class="mt-2">
        {{#each this.unfinishedItems as |item|}}
          <li>{{item}}</li>
        {{/each}}
      </ul>
    {{else}}
      {{#if (and @ticketPackage.tickets (not @ticket.isClaimed))}}
        <h4 class="text-danger">{{fa-icon "hand-point-right"}} No Ticket Claimed</h4>
        <p>
          You have {{pluralize @ticketPackage.tickets.length "ticket"}} available yet you have not
          claimed one. Go back to the first section, and claim a ticket if this is a mistake.
        </p>
      {{/if}}

      <b>Please review your decisions below, and take note of the following:</b>
      <ol class="no-indent">
        <li>
          <b class="text-danger">The ticketing deadline is
            {{full-datetime-format @ticketingInfo.submit_date}} Pacific Time</b>.
          You have until then to adjust your selections and/or change the delivery method.
        </li>
        <li>
          <b class="text-danger">It may not be possible to request changes once the ticketing deadline has passed.</b>
        </li>
        {{#if this.claimedItems}}
          <li>
            The items will be sent for processing after the deadline, and emails sent giving further instructions.
            Reduced-Price ticket requests will be invoiced. Work Access Passes are sent via email sometime after the
            deadline cutoff and a week before the event starts.
          </li>
        {{/if}}
      </ol>
      <p>
        <b>If you are happy with your selections, sit back, check the Clubhouse often, watch your inbox, and
          keep an eye on the Ranger Announce mailing list for further instructions.</b>
      </p>
      {{#if this.claimedItems}}
        <hr>
        <h4 class="text-success">
          {{fa-icon "gift"}} {{pluralize this.claimedItems.length "CLAIMED Item"}}
        </h4>
        <b>The following have been claimed and will be submitted for processing:</b>
        {{#each this.claimedItems as |item|}}
          <div class="mb-1 ms-3">{{fa-icon "check" color="success"}} {{item}}</div>
        {{/each}}
      {{/if}}
      {{#if this.bankedItems}}
        <hr>
        <h4>{{fa-icon "box-archive"}} {{pluralize this.bankedItems.length "BANKED Item"}}</h4>
        <b>The following item(s) will be banked:</b>
        <ul>
          {{#each this.bankedItems as |item|}}
            <li><i>Banked:</i> {{item}}</li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if this.unclaimedItems}}
        <hr>
        <h4 class="text-danger mt-2">
          {{fa-icon "triangle-exclamation"}} {{pluralize this.unclaimedItems.length "UNCLAIMED Item"}}
        </h4>
        <b>Not claiming the following item(s) may affect your ability to Ranger on playa:</b>
        {{#each this.unclaimedItems as |item|}}
          <div class="mt-1 ms-3">{{fa-icon "times" color="danger"}} {{item}}</div>
        {{/each}}
      {{/if}}
    {{/if}}
  </:body>
</TicketSection>
