{{#if @ticketPackage.vehiclePass}}
  <UiAlert @type="danger" @icon="hand-point-right">
    Please only claim a Vehicle Pass if you truly plan to use it. As Vehicle Passes are a very limited resource,
    they have a direct and significant impact on ticket prices and the Bureau of Land Management event permit.
  </UiAlert>
  {{#if @ticketPackage.vehiclePass.isVehiclePassGift}}
    <p>
      Since you qualified for a Staff Credential, you can claim a free Vehicle Pass.
    </p>
  {{else}}
    <p>
      Starting in 2024, the cost of a Vehicle Pass claimed with a claimed or banked Special Price Ticket is
      ${{@ticketingInfo.sp_vp_cost}} (USD).
    </p>
  {{/if}}
  {{#if @ticketPackage.vehiclePass.isQualified}}
     <div class="mt-2 mb-2">Do you want to claim a Vehicle Pass?</div>
    <UiButton @class="btn-responsive"
              @onClick={{fn @setDocumentStatus @ticketPackage.vehiclePass "claimed"}}
              @disabled={{@isSavingDocumentStatus}}>
      Claim Vehicle Pass
      {{#if @isSavingDocumentStatus}}
        <SpinIcon/>
      {{/if}}
    </UiButton>
  {{else}}
    <b>You will be using the Vehicle Pass.</b>
    <div class="my-2"> Do you no longer need a Vehicle Pass?</div>
    <UiButton @class="btn-responsive"
              @onClick={{fn @setDocumentStatus @ticketPackage.vehiclePass "qualified"}}
              @disabled={{@isSavingDocumentStatus}}>
      Release Vehicle Pass
      {{#if @isSavingDocumentStatus}}
        <SpinIcon/>
      {{/if}}
    </UiButton>
  {{/if}}
{{else if @ticketPackage.tickets.length}}
  <p>
    You should have qualified for a Vehicle Pass, however, we do not have one on file.
  </p>
  <p>
    Contact
    <MailTo @to={{@ticketingInfo.ranger_ticketing_email}} />
    and let us know something is wrong.
  </p>
{{else}}
  <p>
    <b>Sorry, but it doesn't look like you qualified for a free Vehicle Pass.</b>
  </p>
  <p>
    Free Vehicle Passes are provided to Rangers who qualified for a Staff Credential or
    Special Price Ticket.
  </p>
{{/if}}
