{{#if (or @person.isProspective @person.isAlpha)}}
  <UiSection>
    <:title>Work Access Passes</:title>
    <:body>
      <p>
        Alphas and Prospective Rangers who have signed up for or completed
        training and intend to walk an Alpha shift on playa are eligible for a
        Work Access Pass (WAP) that allows them to enter the event on or any day after
        {{mdy-format @ticketingInfo.wap_alpha_default_date full=true}}
        at 00:01 (one minute after midnight).
      </p>
      <p class="text-danger">
        <b>The WAP is NOT an event ticket or a vehicle pass.</b> You must provide your own Burning Man ticket.
      </p>
      <p>
        <b>The WAP is good for YOU ONLY</b>, and does not extend to significant others or
        traveling companions.
      </p>
      <p>
        <b>Look for an email with your WAP from Burning Man Ticketing between late July and early August.</b>
        Don't forget to check your spam folder.
      </p>
    </:body>
  </UiSection>
{{else}}
  <UiSection>
    <:title>Ticketing is closed.</:title>
    <:body>
      <p>
        You may not request changes through the Clubhouse at this time.
      </p>

      {{#if this.hasFullPackage}}
        Below is a summary of the tickets and/or items you have claimed, banked, and/or submitted for this year's event:
      {{else}}
        A summary of your Work Access Pass is below:
      {{/if}}
      <ul class="mt-1">
        {{#if this.hasFullPackage}}
          {{#unless this.allTicketsBanked}}
            <li>
              {{#if this.ticket}}
                {{#if (or this.ticket.isStaffCredenital this.usingWillCall)}}
                  <b class="text-success">A {{ticket-type-human this.ticket.type}} will be held at
                    {{if this.usingStaffCredential "Staff Credentialing" "Will Call"}}.</b><br>
                  The ticket will be under your name "{{@person.first_name}} {{@person.last_name}}".<br>
                  {{#if this.usingStaffCredential}}
                    Your Staff Credential acts as your WAP.<br>
                    {{#if this.ticket.access_any_time}}
                      <b>You may enter the event at any time.</b>
                    {{else}}
                      You may enter the event on or any day after {{mdy-format this.ticket.access_date full=true}} @
                      00:01.<br>
                      <span class="text-danger">If you try to enter the event prior to this time, you will be turned away from the gate. No exceptions!</span>
                    {{/if}}
                  {{/if}}
                {{else}}
                  <b class="text-success">A {{ticket-type-human this.ticket.type}} will be mailed to you.</b><br>
                  <b class="text-danger">
                    You must pay for it by {{full-datetime-format @ticketingInfo.paid_by}} Pacific Time.
                  </b>
                  <p>
                    Important: Your ticket will not be mailed to you until you have paid for it in the Burning Man
                    Ticketing website. If you do not pay for it by {{mdy-format @ticketingInfo.paid_by full=true}},
                    the ticket will revert to being held for you at Will Call.
                  </p>
                  <p>
                    An email will be sent out soon from Ticket Support with instructions on how to pay for your ticket.
                    You will be asked for a mailing address when paying for your ticket. Don't forget to check your spam
                    folder.
                  </p>
                {{/if}}
              {{else if this.ticketNotClaimed}}
                <b class="text-danger">A ticket has NOT BEEN CLAIMED for this year.</b><br>
                The ticket(s) will automatically be banked.
              {{else}}
                No qualifying, submitted, or banked tickets for this year were found.
              {{/if}}
            </li>
          {{/unless}}
          {{#if this.bankedItems}}
            <li class="mt-2">
              {{pluralize this.bankedItems.length "item"}} will be banked:
              <ul>
                {{#each this.bankedItems as |item|}}
                  <li>{{item.typeLabel}} expires after {{mdy-format item.expiry_date}}</li>
                {{/each}}
              </ul>
            </li>
          {{/if}}

          <li class="mt-2">
            {{#if this.usingStaffCredential}}
              {{#if this.usingVehiclePass}}
                <b class="text-success">A Vehicle Pass will be held at Staff Credentialing.</b><br>
                The Vehicle Pass will be under your name "{{@person.first_name}} {{@person.last_name}}".
              {{else}}
                The Vehicle Pass was not claimed.
              {{/if}}
            {{else if this.usingVehiclePass}}
              {{#if this.usingMail}}
                <b class="text-success">A Vehicle Pass will be mailed to you.</b><br>
                You will provide the mailing address for the Vehicle Pass when you pay for your Reduced-Price Ticket.
              {{else if this.usingWillCall}}
                <b class="text-success">A Vehicle Pass will be held at Will Call.</b><br>
                The Vehicle Pass will be under your name "{{@person.first_name}} {{@person.last_name}}".
              {{else}}
                Uh oh, this may be a bug. You have a claimed Vehicle Pass, yet I can't figure out the delivery method.
                Please contact {{mail-to @ticketingInfo.ranger_ticketing_email}} for help.
              {{/if}}
            {{else if this.haveVP}}
              <b class="text-danger">The Vehicle Pass was not claimed.</b>
            {{else}}
              No Vehicle Pass was qualified for.
            {{/if}}
          </li>
        {{/if}}

        {{#if (or this.usingWAP (not this.usingStaffCredential))}}
        {{! A person may have a SC with a later access date, and then a WAP with an earler corrected access date}}
          <li class="mt-2">
            {{#if this.usingWAP}}
              <b class="text-success">A Work Access Pass will be emailed to you.</b><br>
              <b>You may enter the event
                {{#if this.wap.access_any_time}}
                  at any time!
                {{else}}
                  on or any day after {{mdy-format this.wap.access_date full=true}} @ 00:01.<br>
                  <span class="text-danger">You will be turned away from the gate if you attempt to enter the event
                    before this time. No exceptions!</span>
                {{/if}}</b>
              <br>
              An email will be sent out in the coming weeks which contains your WAP.
            {{else}}
              <b class="text-danger">No Work Access Pass was claimed.</b>
            {{/if}}
          </li>
        {{/if}}

        {{#if this.hasFullPackage}}
          <li class="mt-2">
            {{#if this.wapSOList}}
              <b class="text-success">{{pluralize this.wapSOList.length "pass"}} for your Significant Other{{if
                (gt this.wapSOList.length 1) "s"}} will be emailed to you.</b><br>
              Your {{if (gt this.wapSOList.length 1) "Significant Others are" "Significant Other is"}}:
              <ul class="mb-2">
                {{#each this.wapSOList as |so|}}
                  <li>{{so.name}}. They may enter the event on or any day after {{mdy-format so.access_date full=true}}
                    @
                    00:01.
                  </li>
                {{/each}}
              </ul>
              Emails will be sent out in the coming weeks which contains your Significant Other WAP(s).
            {{else}}
              No Work Access Passes for Significant Others were requested.
            {{/if}}
          </li>
        {{/if}}
      </ul>
    </:body>
  </UiSection>
  {{#if this.usingStaffCredential}}
    <UiSection>
      <:title>Information About Picking Up Staff Credentials</:title>
      <:body>
        {{#if this.ticket.access_any_time}}
          <p>
            Your Staff Credential allows you to enter the event at any time, and may be picked up at the following
            locations
            on the given dates:
          </p>
        {{else if this.ticket.access_date}}
          <p>
            You may pick up the Staff Credential on or after the day you are allowed to
            <b>enter the event - {{mdy-format this.ticket.access_date full=true}} @ 00:01.</b>
          </p>
          <p>
            <b class="text-danger">Early pickups are not allowed</b> unless you have a separate Work Access Pass good
            for
            entry on a date earlier than that of your staff credential.
          </p>
          <p>
            Your Staff Credential is available for pickup on or after {{mdy-format this.ticket.access_date full=true}}
            at
            the following locations on the given dates and times:
          </p>
        {{else}}
          <p>
            You may pick up the Staff Credential on or after the day you are allowed to enter the event.
            <b class="text-danger">However, we forgot to set the entry date on your ticket. Please contact Ranger
              Ticketing at {{mail-to @ticketingInfo.ranger_ticketing_email}}
              to get this sorted out.</b>
          </p>
          <p>
            Once the date is fixed, your Staff Credential will be available for pickup at the following locations on the
            given dates and times:
          </p>
        {{/if}}
        <p>
          {{#if @ticketingInfo.pickup_locations}}
            {{nl2br @ticketingInfo.pickup_locations}}
          {{else}}
            <b class="text-danger">Oops! We haven't set the pickup locations yet! Email the ticketing team and let us
              know
              about this problem - {{mail-to @ticketingInfo.ranger_ticketing_email}}</b>
          {{/if}}
        </p>
      </:body>
    </UiSection>
  {{/if}}
{{/if}}
