{{#if @person.needsBpguid}}
  <ChNotice @title="Missing Burner Profile ID" @type="warning">
    <PersonMissingBpguid/>
  </ChNotice>
{{else if (or this.isPNV)}}
  <p>
    A Work Access Pass (WAP) is good <b class="text-danger">for YOU (the Alpha/Prospective) ONLY and IS *NOT* AN EVENT
    TICKET</b>.
  </p>
  <p>
    The WAP does not extend to significant others or traveling companions.
  </p>
  <p>
    <b class="text-danger">All Alphas &amp; Prospectives must provide their own event ticket.</b>
  </p>
  <p>
    Alphas and Prospective Rangers who have signed up for or completed training and intend to walk an Alpha shift
    on playa are eligible for a WAP that allows them to enter the event on or after
    {{mdy-format @ticketingInfo.wap_alpha_default_date full=true}} at 00:01 (one minute after midnight).
  </p>
  <p>
    You will be turned away from the gate if you attempt to enter earlier than
    {{mdy-format @ticketingInfo.wap_alpha_default_date full=true}}.
  </p>
  <p>
    <b>Look for an email with your WAP from Burning Man Ticketing between late July and mid-August.</b>
  </p>
{{else}}
  <UiSection>
    <:title>Ticketing Is Open!</:title>
    <:body>
      <p>
        You may request, claim, or bank any items you've qualified for, such as a Staff Credential, Reduced-Price
        Ticket,
        Vehicle Pass, Work Access Pass, or Work Access Passes for your significant others/critical camp mates.
      </p>
      <p>
        <b>The ticketing deadline is {{full-datetime-format @ticketingInfo.submit_date}} Pacific Time.</b>
        Once the deadline has passed, it may not be possible to make changes.
      </p>
      <div class="max-width-700">
        <p class="d-grid">
          <UiButton @type="success" @onClick={{fn this.nextSection "ticket"}}>
            Begin Ticketing {{fa-icon "arrow-right"}}
          </UiButton>
        </p>
        <TicketInfo @person={{@person}}
                    @ticketPackage={{@ticketPackage}}
                    @ticketingInfo={{@ticketingInfo}}
                    @ticket={{this.ticket}}
                    @setDocumentStatus={{this.setDocumentStatus}}
                    @isSavingDocumentStatus={{this.isSavingDocumentStatus}}
                    @showing={{this.showing}}
                    @toggleCard={{this.toggleCard}}
                    @nextSection={{action this.nextSection "vp"}}
        />

        <TicketVpInfo @person={{@person}}
                      @ticketPackage={{@ticketPackage}}
                      @ticketingInfo={{@ticketingInfo}}
                      @ticket={{this.ticket}}
                      @setDocumentStatus={{this.setDocumentStatus}}
                      @isSavingDocumentStatus={{this.isSavingDocumentStatus}}
                      @showing={{this.showing}}
                      @toggleCard={{this.toggleCard}}
                      @nextSection={{action this.nextSection (if  @ticketPackage.appreciations "provisions" "wap")}}

        />
        {{#if @ticketPackage.appreciations}}
          <TicketProvisions @person={{@person}}
                            @ticketPackage={{@ticketPackage}}
                            @ticketingInfo={{@ticketingInfo}}
                            @setDocumentStatus={{this.setDocumentStatus}}
                            @isSavingDocumentStatus={{this.isSavingDocumentStatus}}
                            @showing={{this.showing}}
                            @toggleCard={{this.toggleCard}}
                            @nextSection={{action this.nextSection "wap"}}
          />
        {{/if}}

        <TicketWapInfo @person={{@person}}
                       @ticketPackage={{@ticketPackage}}
                       @ticketingInfo={{@ticketingInfo}}
                       @ticket={{this.ticket}}
                       @setDocumentStatus={{this.setDocumentStatus}}
                       @isSavingDocumentStatus={{this.isSavingDocumentStatus}}
                       @showing={{this.showing}}
                       @toggleCard={{this.toggleCard}}
                       @nextSection={{action this.nextSection "wapso"}} />

        <TicketWapSoInfo @person={{@person}}
                         @ticketPackage={{@ticketPackage}}
                         @ticketingInfo={{@ticketingInfo}}
                         @ticket={{this.ticket}}
                         @showing={{this.showing}}
                         @toggleCard={{this.toggleCard}}
                         @nextSection={{action this.nextSection "delivery"}} />

        <TicketDeliveryInfo @person={{@person}}
                            @ticketPackage={{@ticketPackage}}
                            @ticketingInfo={{@ticketingInfo}}
                            @ticket={{this.ticket}}
                            @showing={{this.showing}}
                            @toggleCard={{this.toggleCard}}
                            @nextSection={{action this.nextSection "summary"}} />

        <TicketSummary @person={{@person}}
                       @ticketPackage={{@ticketPackage}}
                       @ticketingInfo={{@ticketingInfo}}
                       @ticket={{this.ticket}}
                       @showing={{this.showing}}
                       @toggleCard={{this.toggleCard}} />
      </div>
    </:body>
  </UiSection>
{{/if}}
