{{#if (or @person.isProspective @person.isAlpha)}}
  <UiSection>
    <:title>Work Access Passes</:title>
    <:body>
      <p>
        Alphas and Prospective Rangers who have signed up for or completed
        training and intend to walk an Alpha shift on playa are eligible for a
        Work Access Pass (WAP) that allows them to enter the event on or any day after
        {{mdy-format @ticketingInfo.wap_alpha_default_date full=true}}
        at 00:01 (one minute after midnight).
      </p>
      <p class="text-danger">
        <b>The WAP is NOT an event ticket or a vehicle pass.</b> You must provide your own Burning Man ticket.
      </p>
      <p>
        <b>The WAP is good for YOU ONLY</b>, and does not extend to significant others or
        traveling companions.
      </p>
      <p>
        <b>Look for an email with your WAP from Burning Man Ticketing between late July and early August.</b>
        Don't forget to check your spam folder.
      </p>
    </:body>
  </UiSection>
{{else}}
  <UiNotice @title="Ranger Ticketing Is Closed" @icon="hand" @type="danger">
    You may not request changes through the Clubhouse at this time.
  </UiNotice>
  <p>
    Below is details on how your tickets (if earned), WAPs, and other items will be submitted to the Burning Man
    Ticketing Website.
  </p>
  <TicketOverview @ticketingInfo={{@ticketingInfo}}
                  @ticketPackage={{@ticketPackage}}
                  @person={{@person}}
  />
{{/if}}
