<div class="accordion-container" id="ticket-{{@id}}">
  <a class="accordion-title" href {{action @toggleCard @id}}>
    <div class="accordion-title-text">
      {{yield to="title"}}
    </div>
    <div class="accordion-title-icon">
      {{fa-icon (if (get @showing @id) "minus" "plus")}}
    </div>
  </a>
  <BsCollapse @collapsed={{not (get @showing @id)}} class="accordion-body">
    {{yield to="body"}}
    {{#if @nextAction}}
      <div class="d-grid">
        <UiButton @type="success" @class="mt-4" @disabled={{@nextDisabled}} @onClick={{@nextAction}}>
          Next {{fa-icon "arrow-right"}}
        </UiButton>
      </div>
    {{/if}}
  </BsCollapse>
</div>
