{{#if (or @person.isAlpha @person.isProspective)}}
  The Work Access Passes page is currently disabled. Please check back later.
{{else}}
  <h2>
    Hold up! We're in the off season. Ticketing for the {{this.eventYear}} event has not yet started.
  </h2>
  <p>
    <b>Stay tuned to the Ranger Announce mailing list for updates.</b>
  </p>
  {{#if this.tickets}}
    You have {{pluralize this.tickets.length "ticket"}}:
    <ul>
      {{#each this.tickets as |ticket|}}
        <li>
          A {{ticket-type-human ticket.type}} earned in {{ticket.source_year}} and will expire
          after {{mdy-format ticket.expiry_date full=true}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    You have no tickets currently.
  {{/if}}
  {{#if this.appreciations}}
    You have the following {{pluralize this.appreciations.length "provision"}}:
    <ul>
      {{#each this.appreciations as |item|}}
        <li>
          {{item.typeLabel}}
          {{#if item.isEventRadio}}
            (count {{item.item_count}})
          {{/if}}
         expiring after {{mdy-format item.expiry_date full=true}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{/if}}
