<UiSection>
  <:title>Ticket Qualifications</:title>
  <:body>
    {{#if this.showForThisYear}}
      To qualify for a ticket to the {{this.ticketYear}} event you need {{credits-format this.rpThreshold}} credits
      for a reduced-price ticket and {{credits-format this.scThreshold}} credits for a staff credential.
      {{#if this.reachedSCThreshold}}
        <div class="mt-2">
          <b class="text-success">Congratulations!</b> You're signed up for {{credits-format @credits}} credits
          worth of shifts, which is above the {{credits-format this.scThreshold}} credits required
          to qualify for a {{this.ticketYear}} free staff credential.
          {{#if this.withinSCThreshold}}
            But since you are close to the threshold, you may want to sign up for
            one more shift. (See fine print below.)
          {{/if}}
        </div>
      {{else if this.almostSCThreshold}}
        <div class="mt-2">
          <b>Almost there!</b> You're signed up for {{credits-format @credits}} credits worth of shifts, and you need
          {{credits-format this.scThreshold}} to qualify for a {{this.ticketYear}} Staff Credential ticket.
        </div>
      {{else if this.reachedRPThreshold}}
        <div class="mt-2">
          <b class="text-success">Congratulations!</b> You're signed up for {{credits-format @credits}} credits worth of
          shifts, which is above the {{credits-format this.rpThreshold}} credits required to qualify for a reduced-price
          ticket in {{this.ticketYear}}. You need only {{credits-format this.scDelta}} credits more to qualify for a
          staff
          credential.
          {{#if this.withinRPThreshold}}
            Since you are close to the threshold, you may want to sign up for one more shift.
            (See fine print below.)
          {{/if}}
        </div>
      {{else if this.almostRPTicket}}
        <div class="mt-2">
          <b class="text-danger">Almost there!</b> You're signed up for {{credits-format @credits}} credits
          worth of shifts, and you need {{credits-format this.rpThreshold}} to qualify for a {{this.ticketYear}}
          reduced-price ticket.
        </div>
      {{/if}}

      {{#if (gt @credits 0)}}
        <div class="text-muted small mt-2">
          <b>The fine print:</b> The total credits listed above are based on scheduled shift times, but ticket
          qualification credits are based on the hours you actually work. In other words, if a shift runs longer than
          the scheduled time, you'll receive more credits -- but more importantly, if a shift runs shorter than the
          scheduled time (which is typical for Burn Perimeter and Art Safety shifts), you'll receive fewer credits. If
          by the end of the event your total credits based on actual shift times are less than the required threshold,
          then you won't qualify for a (reduced-price or staff credential) ticket in {{this.ticketYear}}. If you're just
          over a threshold and depending on Burn Perimeter or Art Safety shifts to get you there, you might consider
          adding another shift or two to be on the safe side.
        </div>
      {{/if}}
    {{/if}}
  </:body>
</UiSection>
