{{#if this.unfinishedItems}}
  <b class="text-danger">You have {{pluralize this.unfinishedItems.length "outstanding task"}} to complete.</b>
  <ul class="mt-2">
    {{#each this.unfinishedItems as |item|}}
      <li>{{item}}</li>
    {{/each}}
  </ul>
{{else}}
  {{#if (and @ticketPackage.tickets (not @ticket.isUsing))}}
    <h4 class="text-danger">{{fa-icon "ban"}} No Ticket Claimed</h4>
    <p>
      You have {{pluralize @ticketPackage.tickets.length "ticket"}} available yet you have not
      claimed one. Go back to the ticket step, and claim a ticket if this is a mistake.
    </p>
  {{/if}}

  Your choices are summarized below:
  <div class="my-2">
    {{#if this.submittedItems}}
      <TicketSummaryCard @type="success" @icon="gear">
        <:title>{{pluralize this.claimedItems.length "Submitted Item"}}</:title>
        <:body>
          The following items have been submitted for processing:
          {{#each this.submittedItems as |item|}}
            <div class="mb-1">
              {{fa-icon "check" color="success" right=1 fixed=true}} {{item}}
            </div>
          {{/each}}
        </:body>
      </TicketSummaryCard>
    {{/if}}
    {{#if this.claimedItems}}
      <TicketSummaryCard @type="success" @icon="check">
        <:title>{{pluralize this.claimedItems.length "Claimed Item"}}</:title>
        <:body>
          <p>
            The following will be submitted for processing:
          </p>
          <ul class="no-indent">
            {{#each this.claimedItems as |item|}}
              <li>{{item}}</li>
            {{/each}}
          </ul>
        </:body>
      </TicketSummaryCard>
    {{/if}}
    {{#if this.unclaimedItems}}
      <TicketSummaryCard @type="danger" @icon="triangle-exclamation">
        <:title>{{pluralize this.unclaimedItems.length "Unclaimed Item"}}</:title>
        <:body>
          The following items have not been claimed and may or may not affect your ability to serve as a Ranger on the
          playa:
          <div class="ms-2">
            {{#each this.unclaimedItems as |item|}}
              <div class="mt-2">{{fa-icon "ban" color="danger" right=1 fixed=true}} {{item}}</div>
            {{/each}}
          </div>
        </:body>
      </TicketSummaryCard>
    {{/if}}
    {{#if this.bankedItems}}
      <TicketSummaryCard @type="secondary" @icon="box-archive">
        <:title>{{pluralize this.bankedItems.length "Banked Item"}}</:title>
        <:body>
          <p>
            The following item(s) will be banked:
          </p>
          <ul class="no-indent">
            {{#each this.bankedItems as |item|}}
              <li>
                {{item.name}}
                <div class="text-muted">Expires {{item.expires}}</div>
              </li>
            {{/each}}
          </ul>
        </:body>
      </TicketSummaryCard>
    {{/if}}
  </div>
  <p class="h4">
    If you are happy with your choices above, sit back, check the Clubhouse often, watch your inbox, and
    keep an eye on the Ranger Announce mailing list for further instructions about the upcoming event.
  </p>
{{/if}}
