<UiNotice @type="warning" @icon="hand-point-right" @title="Gift Ticket Delivery Info">
  <p>
    Gift Ticket delivery choices are separate from Staff Credentials and Special Price Tickets.
  </p>
  <p>
    For 2025, Gift Tickets will be shipped free of charge. Special-Priced Tickets do have a
    mailing cost associated.
  </p>
  <span class="text-success fw-bold">Pickup at Will Call is always free.</span>
</UiNotice>
{{#if this.haveMultiple}}
  <p>
    Hey, you have multiple gift tickets! Please indicate your choices below.
  </p>
{{/if}}
{{#each @ticketPackage.giftTickets as |ticket idx|}}
  {{#if this.haveMultiple}}
    {{#if idx}}
      <hr>
    {{/if}}
    <h3>Gift Ticket #{{add idx 1}} of {{@ticketPackage.giftTickets.length}}</h3>
  {{/if}}
  {{#if ticket.isClaimed}}
    <h4>
      You have claimed your {{ticket.typeLabel}} {{this.ticketDelivery ticket}}.
    </h4>
    <p>
      If your plans have changed, please release the ticket. Gift tickets cannot be banked and are only good for the
      upcoming event.
    </p>
    <TicketGiftConditions/>
  {{else if ticket.isQualified}}
    <h4>A {{ticket.typeLabel}} is available</h4>
    <TicketGiftConditions/>
  {{/if}}
  <UiButtonRow>
    {{#if ticket.isClaimed}}
      <UiButton @onClick={{fn @setDocumentStatus ticket "qualified"}} @type="secondary">
        Release Gift Ticket
      </UiButton>
    {{/if}}
    {{#unless ticket.isDeliveryWillCall}}
      <UiButton @onClick={{fn this.claimAndSetDeliveryMethod ticket "will_call"}} @type="secondary">
        Claim &amp; Pickup At Will Call
      </UiButton>
    {{/unless}}
    {{#unless ticket.isDeliveryStandardPost}}
      <UiButton @onClick={{fn this.claimAndSetDeliveryMethod ticket "postal"}} @type="secondary">
        Claim &amp; Deliver via Standard Mail
      </UiButton>
    {{/unless}}
    {{#unless ticket.isDeliveryPriorityPost}}
      <UiButton @onClick={{fn this.claimAndSetDeliveryMethod ticket "priority"}} @type="secondary">
        Claim &amp; Deliver via Priority Mail
      </UiButton>
    {{/unless}}
  </UiButtonRow>
  {{#if ticket.isQualified}}
    <div class="mt-1">
      <b>Don't want the ticket?</b> Hit the NEXT button below. The Gift Ticket will remain available to claim
      until the Ranger ticketing window closes.
    </div>
  {{/if}}
{{/each}}

{{#if @isSavingDocumentStatus}}
  <LoadingDialog>Submitting your choices</LoadingDialog>
{{/if}}