{{#if this.usingStaffCredential}}
  <p>
    Your <b>Staff Credential {{if @ticketPackage.vehiclePass.isClaimed "and Vehicle Pass"}}</b> will be held at Staff
    Credentialing under your legal name <b>"{{@person.first_name}} {{@person.last_name}}"</b>.
  </p>
  <p>
    Please note that we are unable to mail Staff Credentials due to Burning Man organization policies.
  </p>
  <p>
    The Ticketing Summary section will display the available pickup locations once you've completed all ticketing steps.
  </p>
{{else if (or @ticket.isClaimed this.vehiclePass.isClaimed)}}
  <p>
    The following {{if (eq this.itemsToDeliver.length 1) "item" (pluralize this.itemsToDeliver.length "item")}}
    {{#if this.isDeliveryNone}}
      can be mailed to you or held at Will Call for you to pick up:
    {{else if this.isDeliveryPostal}}
      will be mailed to you:
    {{else}}
      will be at Will Call for you to pickup:
    {{/if}}
  </p>

  <ul>
    {{#each this.itemsToDeliver as |item|}}
      <li>A {{ticket-type-human item.type}}</li>
    {{/each}}
  </ul>

  {{#if this.isDeliveryNone}}
    <p>
      <b>How do you want your {{pluralize this.itemsToDeliver.length "item"}} delivered?</b>
    </p>
    <UiButton class="btn-responsive" @onClick={{fn this.setDeliveryMethod "postal"}} @disabled={{this.isSaving}}>
      {{fa-icon "envelope"}} Deliver By US Mail
      {{#if this.isSaving}}
        <SpinIcon/>{{/if}}
    </UiButton>
    <span class="h5 mx-auto mx-xl-4 my-sm-2 my-xl-none d-sm-block d-xl-inline-block">- OR -</span>
    <UiButton class="btn-responsive"
              @onClick={{fn this.setDeliveryMethod "will_call"}}
              @disabled={{this.isSaving}}>
      {{fa-icon "user" type="far"}} Pickup At Will Call
      {{#if this.isSaving}}
        <SpinIcon/>
      {{/if}}
    </UiButton>
  {{else if this.isDeliveryPostal}}
    <p>
      You will be asked for your mailing address when you visit the Burning Man Ticketing website. Information will be
      sent after the Ranger ticketing deadline passes on how to access the website.
    </p>
    <p>
      <b>Would you rather use Will Call?</b>
    </p>
    <UiButton class="btn-responsive" @onClick={{fn  this.setDeliveryMethod "will_call"}} @disabled={{this.isSaving}}>
      {{fa-icon "user" type="far"}} Pickup at Will Call
      {{#if this.isSaving}}
        <SpinIcon/>
      {{/if}}
    </UiButton>
  {{else if this.isDeliveryWillCall}}
    <p>
      <b>Do you want delivery by mail instead?</b>
    </p>
    <UiButton @class="responsive" @onClick={{fn  this.setDeliveryMethod "postal"}} @disabled={{this.isSaving}}>
      {{fa-icon "envelope"}} Deliver By US Mail
      {{#if this.isSaving}}
        <SpinIcon/>
      {{/if}}
    </UiButton>
  {{else}}
    Uh oh, I don't understand what the method [{{this.itemToDeliver.delivery_method}}] is. This is a bug!
  {{/if}}

  {{#if this.isSaving}}
    <LoadingIndicator/>
  {{/if}}
{{else}}
  {{#if @ticket.isBanked}}
    <p>
      You have chosen to <b>BANK</b> your event ticket
      {{#if this.vehiclePass.isQualified}}
        and <b>NOT CLAIM</b> your vehicle pass
      {{/if}}.
    </p>
  {{else if this.hasQualifiedTickets}}
    <b>You will need to claim or bank your event ticket(s) first before any delivery information can be given.</b>
  {{/if}}
  <p>
    You have no items which can be mailed or held at Will Call.
  </p>
{{/if}}
