{{#if this.haveMultiple}}
  <p>
    Hey, you have multiple gift tickets! Please indicate your choices below.
  </p>
{{/if}}
{{#each @ticketPackage.giftTickets as |ticket idx|}}
  {{#if this.haveMultiple}}
    {{#if idx}}
      <hr>
    {{/if}}
    <h3> Gift Ticket #{{add idx 1}} of {{@ticketPackage.giftTickets.length}}</h3>
  {{/if}}
  {{#if ticket.isClaimed}}
    <h4>You have claimed your {{ticket.typeLabel}}</h4>
    <p>
      If your plans have changed, please release the ticket. Gift tickets cannot be banked and are only good for the
      upcoming event.
    </p>
    <TicketGiftConditions/>
    <UiButton @class="btn-responsive"
              @onClick={{fn @setDocumentStatus ticket "qualified"}}
              @disabled={{@isSavingDocumentStatus}}>
      Release Gift Ticket
      {{#if @isSavingDocumentStatus}}
        <SpinIcon/>
      {{/if}}
    </UiButton>
  {{else if ticket.isQualified}}
    <h4>A {{ticket.typeLabel}} is available</h4>
    <TicketGiftConditions/>
    <UiButton @class="btn-responsive"
              @onClick={{fn @setDocumentStatus ticket "claimed"}}
              @disabled={{@isSavingDocumentStatus}}>
      Claim Ticket
      {{#if @isSavingDocumentStatus}}
        <SpinIcon/>
      {{/if}}
    </UiButton>
  {{else}}
    <p>
      Uh oh, I don't know the state of the ticket [{{ticket.status}}], id #{{ticket.id}}.
    </p>
  {{/if}}
{{/each}}