<UiSection>
  <:title>{{@name}} Ticket(s) Available</:title>
  <:body>
    You have been given {{pluralize @tickets.length (concat @name " Ticket")}}. The conditions on {{@name}} Tickets are:
    <ol class="mt-2">
      <li>{{yield}}</li>
      <li>A {{@name}} Ticket may be transferred to another person.</li>
      <li class="text-danger">A {{@name}} Ticket may NOT BE resold.</li>
    </ol>
    <p>
      For {{if this.haveMultipleTickets "each" "the"}} ticket listed below, please indicate if you wish to claim
      the ticket or turn down it down.
    </p>
    <p>
      We will assume you intend to turn down a ticket if you do make a choice in a timely manner.
    </p>
    {{#each @tickets as |ticket idx|}}
      {{#if idx}}
        <hr>
      {{/if}}
      {{#if this.haveMultipleTickets}}
        <b>{{@name}} Ticket {{add idx 1}} of {{@tickets.length}}</b>
      {{/if}}
      <dd class="mt-2">
        {{#if ticket.isClaimed}}
          <p class="text-success">
            {{fa-icon "check"}} You have indicated you want to USE this ticket.
          </p>
        {{else if ticket.isTurnedDown}}
          <p>
            {{fa-icon "hand" type="far"}} You have indicated you wish to turn down this ticket.
          </p>
        {{else}}
          <p>
            {{#if this.haveMultipleTickets}}
              What do you want to do with this ticket?
            {{else}}
              What do you want to do with {{@name}} Ticket {{add idx 1}} of {{@tickets.length}}?
            {{/if}}
          </p>
        {{/if}}
        <div class="row">
          {{#unless ticket.isTurnedDown}}
            <div class="col-sm-6 col-xl-auto">
              <UiButton @onClick={{fn this.turnDownTicket ticket}}>
                Turn Down Ticket
              </UiButton>
            </div>
          {{/unless}}
          {{#unless ticket.isClaimed}}
            <div class="col-sm-6 col-xl-auto">
              <UiButton @onClick={{fn this.claimTicket ticket}}>
                Claim Ticket
              </UiButton>
            </div>
          {{/unless}}
        </div>
      </dd>
    {{/each}}
    {{#if this.haveClaimed}}
      <p>
        <b>What Happens Next?</b><br>
        The ticket(s) will be uploaded to the Burning Man Ticketing System on or after
        {{dayjs-format @ticketingInfo.special_submit_date "dddd, MMMM Do YYYY"}}. Shortly after the date, an email
        will be sent providing instructions on how to have the ticket delivered and, if desired, transferred to another
        person.
      </p>
    {{/if}}
  </:body>
</UiSection>