<div class="card card-ticket" id="ticket-{{@id}}">
  <div class="card-header p-0">
    <a href {{action @toggleCard @id}}>
      {{fa-icon (if (get @showing @id) "minus" "plus")}}
      {{yield to="title"}}
    </a>
  </div>
  <div class="card-body collapse">
    {{yield to="body"}}
    {{#if @nextAction}}
      <div class="d-grid">
        <UiButton @type="success" @class="mt-4" @disabled={{@nextDisabled}} @onClick={{@nextAction}}>
          Next {{fa-icon "arrow-right"}}
        </UiButton>
      </div>
    {{/if}}
  </div>
</div>
