<UiSection>
  <:title>{{@year}} Worked Positions Summary</:title>
  <:body>
    {{#if this.workedPositions}}
      {{pluralize this.workedPositions.length "position"}} worked.
      <UiTable>
        <thead>
        <tr>
          <th>Position</th>
          <th>Shift Count</th>
          <th>Total Duration</th>
          <th>Total Credits</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.workedPositions as |position|}}
          <tr>
            <td>{{position.title}}</td>
            <td class="text-end">{{position.total}}</td>
            <td class="text-end">{{hour-minute-format position.duration}}</td>
            <td class="text-end">{{credits-format position.credits}}</td>
          </tr>
        {{/each}}
        </tbody>
      </UiTable>
    {{else}}
      No positions were worked.
    {{/if}}
  </:body>
</UiSection>