<UiSection>
  <:title>Worked Hours &amp; Earned Credits Breakdown</:title>
  <:body>
    <p>
      {{#if @summary.event_start}}
        The {{@year}} Event Week is {{shift-format @summary.event_start}} to {{shift-format @summary.event_end}}.
      {{else}}
        <b class="text-danger">Event dates have not been entered for the year. Hour &amp; credits breakdowns will not be
          accurate.</b>
      {{/if}}
    </p>

    <table class="table table-sm table-width-auto">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th class="text-end">Total</th>
        <th>Pre-Event</th>
        <th>Event</th>
        <th>Post-Event</th>
        <th>Training / Other</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Hours</td>
        <td class="text-end">
          {{hour-minute-format @summary.counted_duration}} (counted)<br>
          {{hour-minute-format @summary.total_duration}} (total)
        </td>
        <td class="text-end">{{hour-minute-format @summary.pre_event_duration}}</td>
        <td class="text-end">{{hour-minute-format @summary.event_duration}}</td>
        <td class="text-end">{{hour-minute-format @summary.post_event_duration}}</td>
        <td class="text-end">{{hour-minute-format @summary.other_duration}}</td>
      </tr>
      <tr>
        <td>Credits</td>
        <td class="text-end">{{credits-format @summary.total_credits}}</td>
        <td class="text-end">{{credits-format @summary.pre_event_credits}}</td>
        <td class="text-end">{{credits-format @summary.event_credits}}</td>
        <td class="text-end">{{credits-format @summary.post_event_credits}}</td>
        <td class="text-center">-</td>
      </tr>
      </tbody>
    </table>
    <p>
      counted = the number of hours which count towards appreciation.
    </p>
  </:body>
</UiSection>