<UiTable class="my-4">
  <thead>
  <tr>
    <th>Training</th>
    <th>Required To Work</th>
    <th>Training Status</th>
    <th>Date</th>
    <th>Location</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.trainings as |training|}}
    <tr>
      <td>{{training.position_title}}</td>
      <td>
        {{#each training.required_by as |position|}}
          {{#if position.not_granted}}
            <i>{{fa-icon "bell" right=1 type="r"}} {{position.title}}</i>
            <br>(See note below)
          {{else}}
            {{position.title}}
          {{/if}}
          <br>
        {{else}}
          -
        {{/each}}
      </td>
      {{#if (eq training.status "no-shift")}}
        <td class="text-center">
          {{badge "secondary" "no sign up"}}
        </td>
        <td colspan="2">&nbsp;</td>
      {{else}}
        <td class="text-center">
          {{#if (eq training.status "pass")}}
            {{badge "success" "passed"}}
          {{else if (eq training.status "pending")}}
            {{badge "warning" "pending"}}
          {{else if (eq training.status "no-show")}}
            {{badge "danger" "no show"}}
          {{else}}
            {{badge "danger" "not passed"}}
          {{/if}}
          {{#if training.is_trainer}}
            (as trainer)
          {{/if}}
        </td>
        <td>
          {{#if training.date}}
            {{mdy-format training.date}}
          {{else}}
            -
          {{/if}}
        </td>
        <td>
          <PresentOrNot @value={{training.location}} @empty="-"/>
        </td>
      {{/if}}
    </tr>
    {{#if training.is_green_dot_pnv}}
      <tr class="tr-no-border">
        <td colspan="5">
          <b>In order to become a Green Dot,</b> an individual must complete two steps in the same year: 1) pass a Green Dot
          training and 2) successfully complete a Green Dot mentee shift.<br>
          {{#if training.mentee_timesheet}}
            A mentee shift was worked on {{shift-format training.mentee_timesheet.on_duty}}. Check with a Green Dot
            cadre member to verify the mentee shift was passed.
          {{else if training.mentee_slot}}
            A mentee shift has been signed up for starting {{shift-format training.mentee_slot.begins}} but no mentee
            shift has been walked (yet).
          {{else}}
            <span class="text-danger">No Green Dot mentee shift sign up was found.</span>
          {{/if}}
        </td>
      </tr>
    {{/if}}
  {{/each}}
  </tbody>
</UiTable>
{{#if this.hasNotGrantedPositions}}
  Note: {{fa-icon "bell" right=1 type="r"}} = The position will be granted once all ART requirements have been met.
{{/if}}
