<div class="table-responsive">
  <UiTable>
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th class="text-nowrap">Time / Location</th>
      <th class="text-nowrap">Sign Ups</th>
      <th colspan="{{this.trainingColumns}}">Trainers</th>
    </tr>
    </thead>
    <tbody>
    {{#each @sessions as |session|}}
      <tr>
        <td>
          {{#if session.slot.active}}
            {{fa-icon "check" color="success"}}
          {{else}}
            {{fa-icon "times" color="danger"}}
          {{/if}}
        </td>
        <td class="text-nowrap">
          <LinkTo @route="training.session.index"
                  @models={{array @training.id session.slot.id}}>
            {{shift-format session.slot.begins}} ({{session.slot.timezone_abbr}})
          </LinkTo>
          {{#if (gte session.slot.signed_up session.slot.max)}}
            <b class="text-danger ms-1">(FULL)</b>
          {{/if}}
          <br>
          {{session.slot.description}}
          {{#unless session.slot.active}}
            <div class="text-danger">(not activated, sign-ups disabled)</div>
          {{/unless}}
        </td>
        <td class="text-end text-nowrap">
          {{session.slot.signed_up}} of {{session.slot.max}}
        </td>
        {{#if session.trainers.length}}
          {{#each session.trainers as |trainerGroup|}}
            <td class="text-nowrap">
              {{#if (gt this.trainingColumns 1)}}
                {{trainerGroup.position_title}} ({{trainerGroup.trainers.length}}):<br>
              {{/if}}
              {{#each trainerGroup.trainers as |trainer index|~}}
                {{~if index ", "~}}
                <PersonLink @person={{trainer}} />
                {{~if trainer.is_lead " (lead)"~}}
              {{~else}}
                <i>none found</i>
              {{/each}}
            </td>
          {{/each}}
        {{else}}
          <td colspan="{{this.trainingColumns}}">
            <div class="text-danger fw-bold">No trainer slots were found.</div>
            A trainer's slot has to exists where the slot's description matches this session's description EXACTLY
            and where the start time is within one hour of this session.
          </td>
        {{/if}}
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
</div>