<button type="button"
        class="btn {{this.typeClass}} {{this.sizeClass}} {{if @responsive "btn-responsive"}}"
        disabled={{@disabled}}
{{on-click this.clickAction}} ...attributes>{{yield}}</button>