<button type="button"
        class="btn btn-{{or @type "primary"}} {{if @size (concat "btn-" @size)}}"
        ...attributes
  {{on-click @onClick}}
>
  {{fa-icon "edit" right=1}} {{#if (has-block)}}{{yield}}{{else}}Edit{{/if}}
</button>
