<section class="ui-section" ...attributes>
  {{#if (has-block "title")}}
    <div class="d-flex justify-content-between ui-section-title {{if @isWarning "ui-section-title-warning"}}">
      <div>{{yield to="title"}}</div>
      {{#if (has-block "actions")}}
        <div>
          {{yield to="actions"}}
        </div>
      {{/if}}
    </div>
  {{/if}}
  {{#if (has-block "body")}}
    {{yield to="body"}}
  {{else}}
    {{yield}}
  {{/if}}
</section>
