{{#if this.renderAsDropdown}}
  <div class="sidebar-small-screen-container">
    <BsDropdown @tagName="div" class="mb-2" as |dd|>
      <dd.button>{{@smallTitle}} <span class="caret"></span></dd.button>
      <dd.menu as |menu|>
        {{~yield (hash
                        group=(component "sidebar/group"
                                renderAsDropdown=true
                                theme=@theme
                                title=@title
                                menu=menu
                        )
                        link=(component "sidebar/link"
                                renderAsDropdown=true
                                theme=@theme
                                route=@route
                                title=@title
                                icon=@icon
                                iconType=@iconType
                                iconUrl=@iconUrl
                                badgeText=@badgeText
                                menu=menu
                        )
                )~}}
      </dd.menu>
    </BsDropdown>
  </div>
{{else}}
  <div id="sidebar-container"
       class="sidebar-theme-{{this.themeClass}} sidebar-expanded d-none d-lg-block d-print-none"
    {{on-insert this.sidebarInserted}}>
    <div class="sidebar-content">
      {{yield (hash
                      group=(component "sidebar/group"
                              theme=@theme
                              title=@title
                      )

                      link=(component "sidebar/link"
                              theme=@theme
                              route=@route
                              title=@title
                              icon=@icon
                              iconType=@iconType
                              iconUrl=@iconUrl
                              badgeText=@badgeText
                      )
              )}}
      <div class="sidebar-separator"></div>
      <a href class="sidebar-link" {{on-click this.sidebarToggle}}>
        <span id="collapse-icon" class="fas fa-lg fa-angle-double-left"></span>
        <span class="sidebar-link-text">Collapse</span>
      </a>
      <div class="sidebar-ranger-logo">
        <img src={{assets-url "images/ranger-logo.png"}} alt="BRC Ranger Icon">
      </div>
    </div>
  </div>
{{/if}}