<table class="table {{unless @noWidthAuto "table-width-auto"}} {{unless @normalSize "table-sm"}} table-hover {{unless @noStriped "table-striped"}} {{if @stickyHeader "table-sticky"}}" ...attributes>
  {{yield}}
</table>