{{#if this.isActive}}
  <ModalDialog as |Modal|>
    <Modal.title>
      Step {{this.number}} of {{this.wizard.stepCount}} - {{this.title}}
    </Modal.title>
    <Modal.body>
      {{yield}}
    </Modal.body>
    <Modal.footer class="justify-content-between">
      {{#if (not-eq this.number 1)}}
        <div>
          <UiButton @onClick={{this.wizard.backStep}} @type="secondary">
            {{fa-icon "arrow-left"}} {{this.wizard.backLabel}}
          </UiButton>
        </div>
      {{/if}}
      {{#if (or (not @isLast) @includeCancel)}}
        <div>
          <UiButton @onClick={{this.wizard.cancelAction}} @type="secondary">
            {{fa-icon "ban"}} Cancel
          </UiButton>
        </div>
      {{/if}}
      {{#if @isLast}}
        <div>
          <UiButton @onClick={{this.finishAction}}>
            {{this.finishLabel}}
          </UiButton>
        </div>
      {{else}}
        <div>
          <UiButton @onClick={{this.nextAction}} @type="success">
            {{this.nextLabel}} {{fa-icon "arrow-right" left=1}}
          </UiButton>
        </div>
      {{/if}}
    </Modal.footer>
  </ModalDialog>
{{/if}}
