<p>
  A {{@year}} Prospective or Alpha is shown who meets one or more of criteria in {{@year}} or previous year :
  a team rank (aka flag) of 3/Yellow or 4/Flag, Personnel flag raised, or a bonk/self-bonk.
</p>
<p>
  Showing {{pluralize this.people.length "person"}} in the class of {{@year}}.
</p>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th class="w-15">Callsign / Name / FKA</th>
    <th class="w-10">History</th>
    <th class="w-75">Notes</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.people key="id" as |person|}}
    {{#if person.personnel_issue}}
      <tr class="table-danger">
        <td colspan="3" class="text-center h3">
          {{fa-icon "ban"}} PERSONNEL FLAG RAISED ON {{person.callsign}} -
          TAKE NO ACTIONS UNTIL RESOLVED {{fa-icon "ban"}}
        </td>
      </tr>
    {{/if}}
    <tr class="{{if person.personnel_issue "table-light-red"}}">
      <td class="w-15">
        <PersonLink @person={{person}} />
        <br>
        &lt;{{person.status}}&gt;<br>
        {{person.first_name}} {{person.last_name}}
        <div class="mt-2">
          FKA:<br>
          {{#each person.formerly_known_as as |fka|}}
            {{fka}}<br>
          {{else}}
            <i>none</i>
          {{/each}}
        </div>
      </td>
      <td class="w-10">
        {{#each-in person.pnv_history as |pnvYear info|}}
          <div class="mb-2">
            {{pnvYear}}<br>
            Training
            {{#if (is-empty info.training_status)}}
              NONE
            {{else}}
              {{info.training_status}}
            {{/if}}
            <br>
            {{#if info.was_auditor}}
              Auditor
            {{else if (not-eq info.mentor_status 'none')}}
              Mentor {{info.mentor_status}}
            {{else if info.have_alpha_shift}}
              Walked w/No Mentors?
            {{else}}
              No Alpha shift
            {{/if}}
          </div>
        {{else}}
          <i>No PNV History</i>
        {{/each-in}}
      </td>
      <td>
        <b>Personnel Notes</b><br>
        <IntakeNotes @type="personnel" @person={{person}} @viewYear={{@year}} @onSubmit={{this.noteSubmitted}} />
        <b>RRN Notes</b><br>
        <IntakeNotes @type="rrn" @person={{person}} @viewYear={{@year}} @onSubmit={{this.noteSubmitted}} />
        <b>VC Notes</b><br>
        <IntakeNotes @type="vc" @person={{person}} @viewYear={{@year}} @onSubmit={{this.noteSubmitted}} />
        <b>Training Notes</b><br>
        <IntakeTraining @trainings={{person.trainings}} @person={{person}} />
        <b>Mentor Notes</b><br>
        <IntakeNotes @type="mentor" @person={{person}} @viewYear={{@year}} @onSubmit={{this.noteSubmitted}} />
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="6"><b class="text-danger">No {{@year}} flagged Prospectives or Alphas were found</b></td>
    </tr>
  {{/each}}
  </tbody>
</table>
