<p>
  A {{@year}} Prospective or Alpha is shown who meets one or more of criteria in {{@year}} or previous year :
  a team rank (aka flag) of 3/Yellow or 4/Flag, Personnel flag raised, or a bonk/self-bonk.
</p>
<p>
  Showing {{pluralize this.people.length "person"}} in the class of {{@year}}.
</p>

{{#each this.sortedPeople key="id" as |person|}}
  <UnifiedFlaggingCard @person={{person}} @year={{@year}} @onSubmit={{this.noteSubmitted}} />
{{else}}
  <p><b class="text-danger">No {{@year}} flagged Prospectives or Alphas were found</b></p>
{{/each}}
