<p>
  A {{@year}} Prospective or Alpha is shown who meets one or more of criteria in {{@year}} or previous year :
  a team rank (aka flag) of 3/Yellow or 4/Flag, Personnel flag raised, or a bonk/self-bonk.
</p>
<p>
  Showing {{pluralize this.people.length "person"}} in the class of {{@year}}.
</p>

<UiTable>
  <thead>
  <tr>
    <th class="no-wrap">Callsign / History</th>
    <th>Unified Flagging Team Notes</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.people key="id" as |person|}}
    <tr>
      <td class="no-wrap">
        <PersonLink @person={{person}} class="fs-5" />
        <br>
        &lt;{{person.status}}&gt;<br>
        {{person.first_name}} {{person.last_name}}
        <div class="mt-2">
          FKA:<br>
          {{#each person.formerly_known_as as |fka|}}
            {{fka}}<br>
          {{else}}
            <i>none</i>
          {{/each}}
        </div>
        {{#if person.pnv_history}}
          {{#each-in person.pnv_history as |pnvYear info|}}
            <div class="mt-2">
              <div class="fw-semibold">{{pnvYear}}</div>
              <div>{{training-status-badge info.training_status}}</div>
              <div>
                {{#if info.was_auditor}}
                  as auditor
                {{else}}
                  {{mentee-status-badge person.status info.mentor_status info.have_alpha_shift}}
                {{/if}}
              </div>
            </div>
          {{/each-in}}
        {{else}}
          <i>No PNV History</i>
        {{/if}}
      </td>
      <td>
        {{#if person.personnel_issue}}
          <div class="alert alert-danger h4 mb-2">
            {{fa-icon "ban" right=1}} PERSONNEL FLAG RAISED ON {{person.callsign}} -
            TAKE NO ACTIONS UNTIL RESOLVED {{fa-icon "ban"}}
          </div>
        {{/if}}

        <div class="fs-5 fw-semibold">Personnel</div>
        <div>
          <IntakeNotes @type="personnel"
                       @person={{person}}
                       @viewYear={{@year}}
                       @onSubmit={{this.noteSubmitted}} />
        </div>
        <div class="fs-5 fw-semibold mt-3">RRN</div>
        <div>
          <IntakeNotes @type="rrn" @person={{person}} @viewYear={{@year}} @onSubmit={{this.noteSubmitted}} />
        </div>
        <div class="fs-5 fw-semibold mt-2">VC</div>
        <div>
          <IntakeNotes @type="vc" @person={{person}} @viewYear={{@year}} @onSubmit={{this.noteSubmitted}} />
        </div>
        <div class="fs-5 fw-semibold mt-3">
          Training
        </div>
        <div>
          <IntakeTraining @trainings={{person.trainings}} @person={{person}} />
        </div>
        <div class="fs-5 fw-semibold mt-3">
          Mentor
        </div>
        <div>
          <IntakeNotes @type="mentor" @person={{person}} @viewYear={{@year}} @onSubmit={{this.noteSubmitted}} />
        </div>
      </td>
      </tr>
  {{else}}
      <tr>
        <td colspan="6"><b class="text-danger">No {{@year}} flagged Prospectives or Alphas were found</b></td>
      </tr>
  {{/each}}
  </tbody>
</UiTable>
