<p>
  Alpha, Deep Freeze, Training, and Advanced Ranger Training entries are filtered out. Only on playa volunteering
  efforts as represented by a timesheet entry are listed. Any off playa efforts, including off playa trainings, are not
  shown here.
</p>
<p>
  Click on the hour totals to see how the time was spent.
</p>
<p>
  <Person::YearsBreakdown @person={{@person}} />
</p>
{{#if this.isLoading}}
  <LoadingIndicator @text="Loading Work History"/>
{{else}}
  {{#if this.inaccurateYears}}
    <p class="text-danger">
      NOTE: {{if this.isMe "You have " (concat @person.callsign " has")}}
      timesheet entries before 2008. The department did not start tracking volunteer hours until the 2008 event.
      All timesheet entries prior to 2008 are placeholders.
    </p>
    <p>
    </p>
  {{/if}}
  {{#if this.years}}
    {{#if this.hasEchelonWork}}
      <p>
        <b class="text-danger">
          {{if this.isMe "You have " (concat @person.callsign " has")}} Echelon volunteer timesheet entries.
        </b>
      </p>
    {{/if}}
    {{#if this.inaccurateYears}}
      {{pluralize this.inaccurateYears.length "year"}} worked prior to 2008: [{{year-range this.inaccurateYears}}]<br>
      {{pluralize this.years.length "year"}} worked after 2007.
    {{else}}
      {{pluralize this.years.length "year"}} worked.
    {{/if}}
    {{pluralize this.positions.length "position"}}.
    <div class="overflow-y-auto">
      <UiTable>
        <thead>
        <tr>
          <th>Position</th>
          <th>Total Hours</th>
          {{#each this.years as |year|}}
            <th>{{year}}</th>
          {{/each}}
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>All Positions</th>
          <td class="text-end">{{hour-format this.totalDuration}}</td>
          {{#each this.years as |year|}}
            <td class="text-end">
              <a href {{on-click this.showEntireYearAction year}}>
                {{hour-format (get (get this.yearTotals year) "duration")}}
              </a>
            </td>
          {{/each}}
        </tr>
        {{#each this.positions as |position|}}
          <tr>
            <td>{{position.title}}</td>
            <td class="text-end">
              <a href {{on-click this.showPositionAllEntriesAction position.id}}>{{hour-format position.duration}}</a>
            </td>
            {{#each this.years as |year|}}
              {{#let (get (get this.positionsByYear year) position.id) as |work|}}
                {{#if work}}
                  <td class="text-end">
                    <a href {{on-click this.showPositionYearSummaryAction position.id year}}>
                      {{hour-format work.duration}}
                    </a>
                  </td>
                {{else}}
                  <td class="text-center">
                    -
                  </td>
                {{/if}}
              {{/let}}
            {{/each}}
          </tr>
        {{/each}}
        </tbody>
      </UiTable>
    </div>
  {{else}}
    <p>
      <b class="text-danger">No timesheet entries were found.</b>
    </p>
  {{/if}}
{{/if}}

{{#if this.showPositionYearEntries}}
  <ModalDialog @title="{{this.showYear}} {{this.position.title}}"
               @onEscape={{this.closePositionYearSummaryAction}} as |Modal|>
    <Modal.body>
      {{pluralize this.entries.length "entry"}}
      <UiTable>
        <thead>
        <tr>
          <th>Time</th>
          <th>Duration</th>
          <th>Credits</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.entries as |entry|}}
          <tr>
            <td>
              {{shift-format entry.on_duty entry.off_duty}}
              {{#if entry.is_echelon}}
                <br>(as Echelon volunteer)
              {{/if}}
            </td>
            <td class="text-end">
              {{hour-format entry.duration}}
            </td>
            <td class="text-end">
              {{credits-format entry.credits}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </UiTable>
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closePositionYearSummaryAction}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}


{{#if this.showPositionAllEntries}}
  <ModalDialog @title={{this.position.title}} @onEscape={{this.closePositionAllEntriesAction}} as |Modal|>
    <Modal.body>
      {{#each-in this.position.years as |year info|}}
        <UiTable>
          <thead>
          <tr>
            <th>Year {{year}}</th>
            <th class="text-end">Duration</th>
            <th class="text-end">Credits</th>
          </tr>
          </thead>
          <tbody>
          {{#each info.entries as |entry|}}
            <tr>
              <td>
                {{shift-format entry.on_duty entry.off_duty}}
                {{#if entry.is_echelon}}
                  <br>(as Echelon volunteer)
                {{/if}}
              </td>
              <td class="text-end">
                {{hour-format entry.duration}}
              </td>
              <td class="text-end">
                {{credits-format entry.credits}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </UiTable>
      {{/each-in}}
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closePositionAllEntriesAction}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.showEntireYear}}
  <ModalDialog @title="Year {{this.showEntireYear}}" @onEscape={{this.closeEntireYearAction}} as |Modal|>
    <Modal.body>
      <UiTable>
        <thead>
        <tr>
          <th>Position</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Credits</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.yearEntries as |entry|}}
          <tr>
            <td>
              {{entry.position.title}}
              {{#if entry.is_echelon}}
                <br>(as Echelon volunteer)
              {{/if}}
            </td>
            <td>
              {{shift-format entry.on_duty entry.off_duty}}
            </td>
            <td class="text-end">
              {{hour-format entry.duration}}
            </td>
            <td class="text-end">
              {{credits-format entry.credits}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </UiTable>
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeEntireYearAction}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}
