{{#if this.isLoading}}
  <LoadingIndicator/>
{{else if this.didError}}
  <p>
    <b class="text-danger">The WYSIWYG editor failed to load. Falling back to basic text.</b>
  </p>
{{/if}}
<textarea
  id={{this.elementId}}
  name={{@name}}
  {{did-insert this.elementInsertedEvent}} disabled={{this.isLoading}}>{{this.initialText}}</textarea>
