{{#if this.isLoading}}
  <p>
    <LoadingIndicator/>
  </p>
{{else if this.didError}}
  <p>
    <b class="text-danger">The WYSIWYG editor failed to load. Falling back to basic text.</b>
  </p>
{{/if}}
<textarea
  id={{this.elementId}}
  name={{@name}}
  cols={{@cols}}
  rows={{@rows}}
  {{on-insert this.elementInsertedEvent}} disabled={{this.isLoading}}>{{this.initialText}}</textarea>
