{{#if @subheader}}
  <div class="h2">
    <ChForm::Select @name="year" @value={{@year}} @options={{this.yearOptions}} @onChange={{@onChange}} /> {{@title}}
  </div>
{{else}}
  <h1><ChForm::Select @name="year" @value={{@year}} @options={{this.yearOptions}} @onChange={{@onChange}} /> {{@title}}</h1>
{{/if}}

