<h1>Claimed Tickets With No Sign Ups</h1>
<p>
  This report shows all people who have claimed or submitted tickets who have not completed the Online Course OR did
  complete the course yet did not work.
</p>
<p>
  <UiButton @onClick={{this.exportToCSV}}>Export To CSV</UiButton>
</p>
{{pluralize this.people.length "person"}} found.
<UiTable>
  <thead>
  <tr>
    <th>Callsign</th>
    <th>Status</th>
    <th>Name</th>
    <th>Type</th>
    <th>OT Completed?</th>
    <th>Has Signups?</th>
    <th>Trained?</th>
    <th>Trainings</th>
    <th>Training Status</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.people as |person|}}
    <tr>
      <td>
        <PersonLink @person={{person}} />
      </td>
      <td>
        {{person.status}}
      </td>
      <td>
        {{person.first_name}} {{person.last_name}}
        {{#if person.preferred_name}}
          (<i>{{person.preferred_name}}</i>)
        {{/if}}
        <br>
        <MailTo @to={{person.email}} />
      </td>
      <td>
        {{ticket-type-human person.type}}<br>
        RAD-{{person.access_document_id}}
      </td>
      <td class="text-center">
        {{yesno person.ot_completed}}
      </td>
      <td class="text-center">
        {{yesno person.has_signups}}
      </td>
      <td>
        {{yesno person.have_trained}}
      </td>
      <td>
        {{#if (or person.trainings person.teachings)}}
          {{#each person.trainings as |slot|}}
            {{ymd-format slot.begins}}<br>
          {{/each}}
          {{#each person.teachings as |slot|}}
            {{ymd-format slot.begins}}<br>
          {{/each}}
        {{else}}
          no training signups
        {{/if}}
      </td>
      <td>
        {{#if (or person.trainings person.teachings)}}
          {{#each person.trainings as |slot|}}
            {{slot.status}}<br>
          {{/each}}
          {{#each person.teachings as |slot|}}
            {{slot.status}} (as trainer)<br>
          {{/each}}
        {{else}}
          -
        {{/if}}
      </td>

    </tr>
  {{/each}}
  </tbody>
</UiTable>