<h1>Claimed Tickets With No Sign Ups</h1>
<p>
  This report shows all people who have claimed or submitted tickets who have not completed the Online Course OR did
  complete the course yet did not ranger.
</p>
<p>
  <UiExportToCSVButton @onClick={{this.exportToCSV}} />
</p>
{{pluralize this.people.length "person"}} found.
<UiTable>
  <thead>
  <tr>
    <th>Callsign</th>
    <th>Status</th>
    <th>Name</th>
    <th>Type</th>
    <th>OT Completed?</th>
    <th>Has Signups?</th>
    <th>Trained?</th>
    <th>Trainings</th>
    <th>Training Status</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.peopleWithTrainingSlots as |row|}}
    <tr>
      <td>
        <PersonLink @person={{row.person}} />
      </td>
      <td>
        {{row.person.status}}
      </td>
      <td>
        {{row.person.first_name}} {{row.person.last_name}}
        {{#if row.person.preferred_name}}
          (<i>{{row.person.preferred_name}}</i>)
        {{/if}}
        <br>
        <MailTo @to={{row.person.email}} />
      </td>
      <td>
        {{ticket-type-human row.person.type}}<br>
        RAD-{{row.person.access_document_id}}
      </td>
      <td class="text-center">
        {{yesno row.person.ot_completed}}
      </td>
      <td class="text-center">
        {{yesno row.person.has_signups}}
      </td>
      <td>
        {{yesno row.person.have_trained}}
      </td>
      <td>
        {{#if row.trainingSlots.length}}
          {{#each row.trainingSlots as |slot|}}
            {{ymd-format slot.begins}}<br>
          {{/each}}
        {{else}}
          no training signups
        {{/if}}
      </td>
      <td>
        {{#if row.trainingSlots.length}}
          {{#each row.trainingSlots as |slot|}}
            {{slot.status}}<br>
          {{/each}}
        {{else}}
          -
        {{/if}}
      </td>

    </tr>
  {{/each}}
  </tbody>
</UiTable>