<h1>Unclaimed Expiring Tickets</h1>

<p>Below are unclaimed tickets that will expire at the end of the coming event.</p>

Showing {{pluralize this.expiring.length "person"}}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Callsign</th>
      <th>Status</th>
      <th>Email</th>
      <th>RAD</th>
      <th>Ticket Type</th>
      <th>Ticket Status</th>
      <th>Good Through</th>
    </tr>
  </thead>

  <tbody>
    {{#each this.expiring as |person|}}
      <tr>
        <td><PersonLink @person={{person.person}} @page="access-documents" /></td>
        <td>{{person.person.status}}</td>
        <td>{{mail-to person.person.email}}</td>
        {{#let person.tickets.firstObject as |ticket|}}
          <td>RAD-{{ticket.id}}</td>
          <td>{{ticket.type}}</td>
          <td>{{ticket.status}}</td>
          <td>{{mdy-format ticket.expiry_date}}</td>
        {{/let}}
      </tr>
    {{else}}
      <tr>
        <td colspan="6" class="text-danger">
          Huh, I could not find any expiring tickets for this year.
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<EmailList @people={{this.emailList}} />
