<h1>Provisions (Meals, Showers, Radios)</h1>

<FormRow>
  <FormLabel @auto={{true}}>Type</FormLabel>
  <div class="col-auto">
    <ChForm::Select @name="typeFilter"
                    @value={{this.typeFilter}}
                    @options={{this.typeOptions}}
                    @onChange={{action (mut this.typeFilter)}}/>
  </div>
  <FormLabel @auto={{true}}>Status</FormLabel>
  <div class="col-auto">
    <ChForm::Select @name="statusFilter"
                    @value={{this.statusFilter}}
                    @options={{this.statusOptions}}
                    @onChange={{action (mut this.statusFilter)}}/>
  </div>
  <FormLabel @auto={{true}}>Allocated</FormLabel>
  <div class="col-auto">
    <ChForm::Select @name="allocatedFilter"
                    @value={{this.allocatedFilter}}
                    @options={{this.allocatedOptions}}
                    @onChange={{action (mut this.allocatedFilter)}}/>
  </div>
</FormRow>

<p>
  The following shows all current provisions (available, banked, claimed &amp; submitted)
</p>
Showing {{pluralize this.viewProvisions.length "provision"}} <UiExportToCSVButton @onClick={{this.exportToCSV}}/>
<table class="table table-sm table-width-auto table-striped table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Person</th>
    <th>Type</th>
    <th>Status</th>
    <th>Item Count</th>
    <th>Allocated?</th>
    <th>Source Year</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.viewProvisions as |row|}}
    <tr>
      <td>RP-{{row.id}}</td>
      <td>{{row.person.callsign}}</td>
      <td>{{this.typeLabel row.type}}</td>
      <td>{{row.status}}</td>
      <td class="text-end">
        {{or row.item_count "-"}}
      </td>
      <td class="text-center">{{yesno row.is_allocated}}</td>
      <td class="text-end">{{row.source_year}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="6" class="text-danger">
        No provisions found matching the criteria.
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>