<h1>Special Tickets Report</h1>

<p>
  This shows any qualified, claimed, submitted, or turned down Gift and LSD Tickets.
</p>
<p>
  <UiButton @onClick={{this.exportToCSV}}>Export To CSV</UiButton>
</p>
Showing {{pluralize this.tickets.length "ticket"}}
<table class="table table-width-auto table-sm table-striped table-hover">
  <thead>
  <tr>
    <th>Callsign</th>
    <th>Status</th>
    <th>Ticket</th>
    <th>RAD</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.tickets as |ticket|}}
    <tr>
      <td>
        <PersonLink @person={{ticket.person}} @page="tickets-provisions"/>
      </td>
      <td>{{ticket.person.status}}</td>
      <td>{{this.ticketTypeLabel ticket.type}}</td>
      <td>RAD-{{ticket.id}}</td>
      <td>{{this.ticketStatusLabel ticket.status}}</td>
    </tr>
  {{else}}
  <tr>
    <td colspan="5" class="text-danger">No special tickets were found.</td>
  </tr>
  {{/each}}
  </tbody>
</table>