<h1>Ticketing Statistics</h1>

<b>People Ticket Counts</b>
<UiTable>
  <thead>
  <tr>
    <th>Claimed</th>
    <th>Unclaimed</th>
    <th>Banked All</th>
    <th>Submitted</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="text-end">{{this.statistics.people_claimed}}</td>
    <td class="text-end">{{this.statistics.people_tickets_unclaimed}}</td>
    <td class="text-end">{{this.statistics.people_fully_banked}}</td>
    <td class="text-end">{{this.statistics.people_tickets_submitted}}</td>
  </tr>
  </tbody>
</UiTable>
{{#let (array
  (hash title="Special Price Tickets" prefix="spt" hasBanked=true)
  (hash title="Staff Credentials" prefix="sc" hasBanked=true)
  (hash title="Special Price Vehicle Passes" prefix="sp_vp")
  (hash title="Gift Vehicle Passes" prefix="gift_vp")
  (hash title="LSD Tickets" prefix="lsd")
  (hash title="LSD Vehicle Passes" prefix="lsd_vp")
  (hash title="Gift Tickets" prefix="gift")
  (hash title="Setup Access Passes" prefix="wap")
) as |ticketStatistics|}}
<div class="row">
  {{#each ticketStatistics as |stat|}}
    <div class="col-auto">
      <b>{{stat.title}}</b>
      <UiTable>
        <thead>
        <tr>
          <th>Claimed</th>
          <th>Unclaimed</th>
          {{#if stat.hasBanked}}<th>Banked</th>{{/if}}
          <th>Submitted</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-end">{{get this.statistics (concat stat.prefix "_claimed")}}</td>
          <td class="text-end">{{get this.statistics (concat stat.prefix "_unclaimed")}}</td>
          {{#if stat.hasBanked}}<td class="text-end">{{get this.statistics (concat stat.prefix "_banked")}}</td>{{/if}}
          <td class="text-end">{{get this.statistics (concat stat.prefix "_submitted")}}</td>
        </tr>
        </tbody>
      </UiTable>
    </div>
  {{/each}}

  <div class="col-auto">
    <b>Significant Other Setup Access Passes</b>
    <UiTable>
      <thead>
      <tr>
        <th>People w/SOSAPs</th>
        <th>Total Claimed</th>
        <th>Total Submitted</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-end">{{this.statistics.people_with_wapso}}</td>
        <td class="text-end">{{this.statistics.wapso_claimed}}</td>
        <td class="text-end">{{this.statistics.wapso_submitted}}</td>
      </tr>
      </tbody>
    </UiTable>
  </div>
</div>
{{/let}}

<b>Provisions</b>
<UiTable>
  <thead>
  <tr>
    <th>People w/qualified (earned)</th>
    <th>People w/allocated</th>
    <th>People w/both</th>
    <th>People w/banked</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="text-end">{{this.statistics.people_with_qualified_provisions}}</td>
    <td class="text-end">{{this.statistics.people_with_allocated_provisions}}</td>
    <td class="text-end">{{this.statistics.people_with_both_provisions}}</td>
    <td class="text-end">{{this.statistics.people_with_banked_provisions}}</td>
  </tr>
  </tbody>
</UiTable>
