<h1>Export Access Documents</h1>

<p>Below are Access Documents in "claimed" status that are suitable
  for exporting into TRS.</p>

<p>1. Select the type of Access Documents you're interested in and
  click "Filter"</p>

<p>2. Click the "Export N Selected Documents" button at the bottom of the page to download a CSV to upload into TRS.</p>

<p>
  3. If the upload succeeds, you can click "Mark Selected As Submitted"
  at the bottom of the page to marks these puppies as submitted.
  (If some failed, you can uncheck the little checkboxes on the left
  for each record. Do this before you click on the button to mark them
  as submitted.)
</p>

<p>Note that there is a recommended TRS batch size of not more than
  {{this.MAX_BATCH_SIZE}} items. (An item is any goodie of any sort.) If you have more
  than {{this.MAX_BATCH_SIZE}} items, the system will stop at around {{this.MAX_BATCH_SIZE}},
  and you can then upload that batch, mark it as submitted, and get on with the next batch.</p>


{{#if this.badRecords}}
  <UiSection>
    <:title>
      <span class="text-danger">
        {{fa-icon "exclamation-triangle"}} {{pluralize this.badRecords.length "item"}} with errors
      </span>
    </:title>
    <:body>
      <UiTable>
        <thead>
        <tr>
          <th>Callsign</th>
          <th>ID</th>
          <th>Type</th>
          <th>Access Date</th>
          <th>Error</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.badRecords as |rec|}}
          <tr>
            <td>
              <PersonLink @person={{rec.person}} @page="tickets-provisions"/>
            </td>
            <td>RAD-{{rec.document.id}}</td>
            <td>{{rec.document.shortType}}</td>
            <td>
              {{#if rec.document.access_any_time}}
                Any
              {{else}}
                {{or rec.document.access_date "-"}}
              {{/if}}
            </td>
            <td>{{rec.document.error}}</td>
          </tr>
        {{/each}}
        </tbody>
      </UiTable>
    </:body>
  </UiSection>
{{/if}}

<UiSection>
  <:title>Export Records</:title>
  <:body>
    <FormRow>
      <FormLabel @auto={{true}}>Export Filter</FormLabel>
      <div class="col-auto">
        <ChForm::Select @name="selectTypes"
                        @value={{this.filter}}
                        @options={{this.filterOptions}}
                        @onChange={{this.changeFilter}} />
      </div>
      <FormLabel @auto={{true}}>Export is limited to {{this.MAX_BATCH_SIZE}} items</FormLabel>
    </FormRow>

    {{#if this.viewBadRecords}}
      <p>
        <b class="text-danger">
          {{pluralize this.viewBadRecords.length "item"}} with errors will not be bulk selected
          however, the rows may be individually selected.
        </b>
      </p>
    {{/if}}
    Showing {{pluralize this.viewRecords.length "item"}} of type "{{this.filterLabel}}".
    Selected {{pluralize this.selectedCount "item"}}.
    <UiTable>
      <thead>
      <tr>
        <th>
          <Input @type="checkbox" @checked={{this.selectAll}}
                  {{on "change" this.toggleAll}}
                 disabled={{eq this.filter "all"}} />
        </th>
        <th>Callsign</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Delivery</th>
        <th>Note</th>
      </tr>
      </thead>

      <tbody>
      {{#each this.viewRecords as |rec|}}
        <tr class={{if rec.has_error "table-danger"}}>
          <td>
            {{#if rec.submitted}}
              <span class="text-success">{{fa-icon "check"}}</span>
            {{else if (eq this.filter "all")}}
              &nbsp;
            {{else}}
              <Input @type="checkbox" @checked={{rec.selected}} {{on "change" (fn this.toggleRecord rec)}} />
            {{/if}}
          </td>
          <td>
            {{#if rec.has_error}}
              {{fa-icon "exclamation-triangle" color="danger" right=1}}
            {{/if}}
            <PersonLink @person={{rec.person}} @page="tickets-provisions"/>
          </td>
          <td>{{rec.person.first_name}}</td>
          <td>{{rec.person.last_name}}</td>
          <td><MailTo @to={{rec.person.email}} /></td>
          <td>{{this.deliveryLabel rec}}</td>
          <td>
            {{rec.trsNote}}
            {{#if rec.has_error}}
              <div class="text-danger">{{rec.error}}</div>
            {{/if}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </UiTable>

    <UiButton @onClick={{this.exportSelectedAction}}
              @disabled={{or this.isSubmitting
                             (gt this.selectedCount this.MAX_BATCH_SIZE)
                             (eq this.selectedCount 0)
                             (eq this.filter "all")}}>
      {{#if (eq this.filter "all")}}
        Export Disabled For "All" View
      {{else}}
        Export {{pluralize this.selectedCount "Selected Document"}}
      {{/if}}
    </UiButton>
    <UiButton @type="secondary"
              @onClick={{this.markSubmitted}}
              @disabled={{or this.isSubmitting (eq this.selectedCount 0) (eq this.filter "all")}}>
      Mark Selected As Submitted
    </UiButton>
    {{#if (gt this.selectedCount this.MAX_BATCH_SIZE)}}
      <div class="text-danger">
        <b>{{this.selectedCount}} items has been selected which exceeds the max. TRS batch size
          of {{this.MAX_BATCH_SIZE}} items. Reduce the number selected.</b>
      </div>
    {{/if}}

    {{#if this.isSubmitting}}
      <LoadingDialog>
        Marking as submitted.
      </LoadingDialog>
    {{/if}}
  </:body>
</UiSection>
