<h1>Ranger SAP Candidates</h1>

{{#if this.people}}
  {{pluralize this.people.length "person"}} may need a SAP
  <UiTable>
    <thead>
    <tr>
      <th>Callsign</th>
      <th>Status</th>
      <th>Has SPT?</th>
      <th>Years worked {{this.startYear}} &amp; later</th>
      <th>Schedule</th>
    </tr>
    </thead>

    <tbody>
    {{#each this.people as |person|}}
      <tr>
        <td>
          <PersonLink @person={{person}} />
        </td>
        <td>{{person.status}}</td>
        <td>
          {{#if person.has_rpt}}
            {{#each person.tickets as |ticket|}}
              RAD-{{ticket.id}} {{or (get this.typeShortLabels ticket.type) ticket.type}} {{ticket.status}}<br>
            {{/each}}
          {{else}}
            NO SPT
          {{/if}}
        </td>
        <td>
          {{#if person.years}}
            {{join person.years ", "}}
          {{else}}
            No Years
          {{/if}}
        </td>
        <td>
          {{#if person.schedule}}
            {{person.schedule.length}} sign up(s):<br>
            {{#each person.schedule as |slot|}}
              {{slot.begins}} {{slot.position_title}} {{slot.description}}<br>
            {{/each}}
          {{else}}
            No Sign Ups
          {{/if}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
{{else}}
  <b class="text-success">Congratulations! No Ranger appears to need a SAP at this moment.</b>
{{/if}}