<h1 class="d-print-none">Alpha Acceptance Sheet</h1>

{{#if this.isPrinting}}
  <AcceptanceSheetsPrint @alphas={{this.printAlphas}} @backAction={{this.showAlphasAction}} @year={{this.year}} />
{{else}}
  <FormRow>
    <FormLabel>Mentor Shift Filter</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="filter"
                      @value={{this.filter}}
                      @options={{this.filterOptions}}
                      @onChange={{this.changeFilter}} />
    </div>
    <div class="col-auto">
      <UiButton @onClick={{this.printAction}}>
        Print Selected ({{this.printAlphas.length}}
      </UiButton>
    </div>
  </FormRow>

  Showing {{this.viewAlphas.length}} of {{pluralize this.alphas.length "Alpha"}}
  <UiTable>
    <thead>
    <tr>
      <th><Input @type="checkbox" @checked={{this.selectAll}} {{on "change" this.toggleAll}} /></th>
      <th>Callsign</th>
      <th>Name</th>
      <th>Training</th>
      <th>Mentor Shift</th>
      <th>Errors</th>
    </tr>
    </thead>

    <tbody>
    {{#each this.viewAlphas as |alpha|}}
      <tr>
        <td><Input @type="checkbox" @checked={{alpha.selected}} {{on "change" (fn this.toggleAlpha alpha)}} /></td>
        <td>
          <PersonLink @person={{alpha}} />
        </td>
        <td>{{alpha.first_name}} {{alpha.last_name}}</td>
        <td>
          {{#each alpha.trainings as |place|}}
            {{shift-format place.slot_begins}}
            {{place.slot_description}}<br>
          {{else}}
            none
          {{/each}}
        </td>
        <td>
          {{#if alpha.alpha_slot}}
            {{shift-format alpha.alpha_slot.begins}}
          {{else}}
            none
          {{/if}}
        </td>
        <td>
          {{#if (and alpha.trainings alpha.trained alpha.alpha_slot)}}
            <span class="text-success">{{fa-icon "check"}} none</span>
          {{else}}
            <b class="text-danger">
              {{fa-icon "ban"}} ISSUE:
              {{#unless alpha.trainings}}
                No training signups<br>
              {{/unless}}
              {{#unless alpha.trained}}
                Did not pass training<br>
              {{/unless}}
              {{#unless alpha.alpha_slot}}
                No mentor shift
              {{/unless}}
            </b>
          {{/if}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
  <UiButton @onClick={{this.printAction}}>Print Selected ({{this.printAlphas.length}})</UiButton>
{{/if}}
