<h1 class="d-print-none">Alpha Acceptance Sheet</h1>

{{#if isPrinting}}
  {{print-instruction backAction=(action showAlphasAction) backLabel="Back to Alpha selection"}}
  {{#each printAlphas as |alpha alphaIdx|}}
    <div class="d-flex mx-2 mb-2 {{if alphaIdx "d-print-page-break"}}">
      <img src="/assets/images/ranger-logo-bw.png" class="alpha-sheet-logo" alt="ranger logo">
      <div class="alpha-sheet-header align-middle">{{year}} Alpha To Dirt Ranger Acceptance Form ({{add alphaIdx 1}}/{{printAlphas.length}})</div>
    </div>

    <div class="alpha-sheet-section-header">
      Alpha Information
    </div>

    <div class="row no-gutters">
      <div class="col-8">
        <div class="alpha-sheet-column">
          <div class="alpha-sheet-column-label">Ranger Handle:</div>
          <div class="alpha-sheet-column-field alpha-sheet-column-lg">{{alpha.callsign}}</div>
        </div>
        <div class="alpha-sheet-column">
          <div class="alpha-sheet-column-label">Real Name:</div>
          <div class="alpha-sheet-column-field">{{alpha.first_name}} {{alpha.last_name}}</div>
        </div>
        <div class="alpha-sheet-column">
          <div class="alpha-sheet-column-label">Training Location:</div>
          <div class="alpha-sheet-column-{{if alpha.trainings "field" "input"}}">
            {{#each alpha.trainings as |place idx|}}
              {{if idx "/"}}
              {{shift-format place.begins}} {{place.description}}
            {{/each}}
          </div>
        </div>
        <div class="alpha-sheet-column">
          <div class="alpha-sheet-column-label">Schedule Shift:</div>
          <div class="alpha-sheet-column-{{if alpha.alpha_slot "field" "input"}}">
            {{#if alpha.alpha_slot}}
              {{shift-format alpha.alpha_slot.begins}}
              {{alpha.alpha_slot.description}}
            {{/if}}
          </div>
        </div>
        <div class="alpha-sheet-column">
          <div class="alpha-sheet-column-label">Actual Shift:</div>
          <div class="alpha-sheet-column-input">&nbsp;</div>
        </div>
      </div>

      <div class="col-4">
        <div class="alpha-sheet-headshot-box">
          {{#if alpha.photo_url}}
            <img src={{alpha.photo_url}} alt="headshot">
          {{else}}
            NO APPROVED PHOTO<br>
            or<br>
            Lambase Connection error
          {{/if}}
        </div>
      </div>
    </div>

    <div class="alpha-sheet-section-header">
      Mentoring Information
    </div>
    <div class="row">
      <div class="col-12">
        <div class="alpha-sheet-column">
          <div class="alpha-sheet-column-label alpha-sheet-column-auto ">Prior Mentors:</div>
          <div class="alpha-sheet-column-field">
            {{#each alpha.mentor_history as |history historyIdx| }}
              {{if historyIdx ","}}
              {{history.year}} ({{mentor-short-status history.status}})
              {{#each history.mentors as |mentor idx|}}
                {{if idx " / "}}{{mentor.callsign}}
              {{/each}}
            {{else}}
              None
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="alpha-sheet-column">
          <div class="alpha-sheet-column-label">1st Mentor:</div>
          <div class="alpha-sheet-column-input">&nbsp;</div>
        </div>
        <div class="alpha-sheet-column">
          <div class="alpha-sheet-column-label">2nd Mentor:</div>
          <div class="alpha-sheet-column-input">&nbsp;</div>
        </div>
        <div class="alpha-sheet-column">
          <div class="alpha-sheet-column-label">3rd Mentor:</div>
          <div class="alpha-sheet-column-input">&nbsp;</div>
        </div>
      </div>
      <div class="col-6">
        <div class="alpha-sheet-column">
          <div class="alpha-sheet-column-label">Pass/Bonk:</div>
          <div class="alpha-sheet-column-input">&nbsp;</div>
        </div>
        <div class="alpha-sheet-column">
          <div class="alpha-sheet-column-label">Flag Type:</div>
          <div class="alpha-sheet-column-{{if alpha.mentors_flag_note "field" "input"}}">{{alpha.mentors_flag_note}}</div>
        </div>
        <div class="alpha-sheet-column">
          <div class="alpha-sheet-column-label">Training Rank:</div>
          <div class="alpha-sheet-column-{{if alpha.trainings.firstObject.rank "field" "input"}}">
            {{#each alpha.trainings as |place idx|}}
              {{if idx " / "}}
              {{if (gte place.rank 4) "FLAG" place.rank}}
            {{/each}}
          </div>
        </div>
      </div>

      <div class="col-12 mt-4">
        <table class="alpha-sheet-table">
          <thead>
            <tr>
              <th class="w-15">1st Mentor</th>
              <th class="w-15">2nd Mentor</th>
              <th class="w-15">3rd Mentor</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="w-15 border-bottom border-dark">&nbsp;</td>
              <td class="w-15 border-bottom border-dark">&nbsp;</td>
              <td class="w-15 border-bottom border-dark">&nbsp;</td>
              <td>
                ACCEPT Alpha into the Rangers.
              </td>
            </tr>
            <tr>
              <td class="w-15 border-bottom border-dark">&nbsp;</td>
              <td class="w-15 border-bottom border-dark">&nbsp;</td>
              <td class="w-15 border-bottom border-dark">&nbsp;</td>
              <td>
                ACCEPT with Reservations. Other feedback outweighs my concerns.
              </td>
            </tr>
            <tr>
              <td class="w-15 border-bottom border-dark">&nbsp;</td>
              <td class="w-15 border-bottom border-dark">&nbsp;</td>
              <td class="w-15 border-bottom border-dark">&nbsp;</td>
              <td>
                REJECT Alpha - BONKED
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="alpha-sheet-comment-box-md">
      <h3>Mentor Comments:</h3>
      {{alpha.mentors_notes}}
    </div>
    <div class="alpha-sheet-comment-box-md">
      <h3>Training Comments:</h3>
      {{#each alpha.trainings as |place|}}
        {{place.notes}}
      {{/each}}
    </div>
    <div class="alpha-sheet-comment-box-lg">
      <h3>Comments:</h3>
    </div>
  {{/each}}
{{else}}
  <div class="form-row mb-2">
    <label class="col-form-label col-auto">Mentor Shift Filter</label>
    <div class="col-auto">
      {{ch-form/select name="filter" value=filter options=filterOptions onChange=(action (mut filter)) controlClass="form-control"}}
    </div>
  </div>
  <div class="mb-2">
    <button class="btn btn-primary" {{action printAction}}>Print Selected ({{printAlphas.length}})</button>
  </div>
  <table class="table table-striped table-sm table-hover">
    <caption>Showing {{viewAlphas.length}} of {{alphas.length}}</caption>
    <thead>
      <tr>
        <th>{{input type="checkbox" checked=selectAll change=(action toggleAll value="target.checked")}}</th>
        <th>Callsign</th>
        <th>Name</th>
        <th>Training</th>
        <th>Mentor Shift</th>
        <th>Errors</th>
      </tr>
    </thead>

    <tbody>
      {{#each viewAlphas as |alpha|}}
        <tr>
          <td>{{input type="checkbox" checked=alpha.selected}}</td>
          <td>{{person-link person=alpha}}</td>
          <td>{{alpha.first_name}} {{alpha.last_name}}</td>
          <td>
            {{#each alpha.trainings as |place|}}
              {{shift-format place.begins}}
              {{place.description}}<br>
            {{else}}
              none
            {{/each}}
          </td>
          <td>
            {{#if alpha.alpha_slot}}
              {{shift-format alpha.alpha_slot.begins}}
            {{else}}
              none
            {{/if}}
          </td>
          <td>
            {{#unless alpha.training}}
              No training signups<br>
            {{/unless}}
            {{#unless alpha.trained}}
              Did not pass training<br>
            {{/unless}}
            {{#unless alpha.alpha_slot}}
              No mentor shift
            {{/unless}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <button class="btn btn-primary" {{action printAction}}>Print Selected ({{printAlphas.length}})</button>

{{/if}}
