<h1 class="d-print-none">Alpha Acceptance Sheet</h1>

{{#if this.isPrinting}}
  <AcceptanceSheetsPrint @alphas={{this.printAlphas}} @backAction={{this.showAlphasAction}} />
{{else}}
  <div class="form-row mb-2">
    <label class="col-form-label">Mentor Shift Filter</label>
    <div class="col-auto">
      <ChForm::Select @name="filter"
                      @value={{this.filter}}
                      @options={{this.filterOptions}}
                      @onChange={action this.changeFilter}}
                      @controlClass="form-control"/>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary" {{action this.printAction}}>
        Print Selected ({{this.printAlphas.length}})
      </button>
    </div>
  </div>
  Showing {{this.viewAlphas.length}} of {{pluralize this.alphas.length "Alpha"}}
  <table class="table table-striped table-sm table-hover table-width-auto">
    <thead>
    <tr>
      <th><Input @type="checkbox" @checked={{this.selectAll}} @change={{action this.toggleAll value="target.checked"}} /></th>
      <th>Callsign</th>
      <th>Name</th>
      <th>Training</th>
      <th>Mentor Shift</th>
      <th>Errors</th>
    </tr>
    </thead>

    <tbody>
    {{#each this.viewAlphas as |alpha|}}
      <tr>
        <td><Input @type="checkbox" @checked={{alpha.selected}} @change={{action this.toggleAlpha alpha}} /></td>
        <td>
          <PersonLink @person={{alpha}} />
        </td>
        <td>{{alpha.first_name}} {{alpha.last_name}}</td>
        <td>
          {{#each alpha.trainings as |place|}}
            {{shift-format place.slot_begins}}
            {{place.slot_description}}<br>
          {{else}}
            none
          {{/each}}
        </td>
        <td>
          {{#if alpha.alpha_slot}}
            {{shift-format alpha.alpha_slot.begins}}
          {{else}}
            none
          {{/if}}
        </td>
        <td>
          {{#if (and alpha.trainings alpha.trained alpha.alpha_slot)}}
            <span class="text-success">{{fa-icon "check"}} none</span>
          {{else}}
            {{#unless alpha.trainings}}
              <b class="text-danger">{{fa-icon "circle-dot"}} No training signups</b><br>
            {{/unless}}
            {{#unless alpha.trained}}
              <b class="text-danger">{{fa-icon "times"}} Did not pass training</b><br>
            {{/unless}}
            {{#unless alpha.alpha_slot}}
              <b class="text-danger">{{fa-icon "user-friends"}} No mentor shift</b>
            {{/unless}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <button type="button" class="btn btn-primary" {{action this.printAction}}>Print Selected ({{this.printAlphas.length}})</button>
{{/if}}
