<h1>{{this.year}} Prospective And Alpha Status</h1>

<div class="form-row">
  <label class="col-form-label">Filter</label>
  <div class="col-auto">
    <ChForm::Select @name="filter" @value={{this.filter}} @options={{this.filterOptions}}
                    @onChange={{action (mut this.filter)}} @controlClass="form-control"/>
  </div>
</div>
<p class="mt-2">
  Legend:{{fa-icon "exclamation-triangle" color="danger"}} = Personnel Black Flag Raised. Take no actions until resolved.
</p>

Showing {{this.viewPotentials.length}} of {{this.mentees.length}}.
Current alphas: {{this.alphaCount}}, Potential Alpha status: {{this.statusEligibleCount}},
Potential Alpha position: {{this.positionEligibleCount}}.
<table class="table table-sm table-hover table-striped">
  <thead>
  <tr>
    <th>Callsign</th>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Mentor Issue<br>(Rank >=3)</th>
    <th class="text-center">Trained?</th>
    <th class="text-center">Alpha Status</th>
    <th class="text-center">Alpha Position</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.viewPotentials as |person|}}
    <tr class={{if person.personnel_issue "table-danger"}}>
      <td>
        {{#if person.personnel_issue}}
          {{fa-icon "exclamation-triangle" color="danger"}}
        {{/if}}
        <PersonLink @person={{person}} />
      </td>
      <td>{{person.first_name}} {{person.last_name}}</td>
      <td>{{mail-to person.email}}</td>
      <td>{{person.status}}</td>
      <td>
        {{#if person.have_mentor_flags}}
          {{#each person.mentor_team as |info|}}
            {{#if (gte info.rank 3)}}
              {{info.year}}
              <IntakeRanking @type="mentor" @rank={{info.rank}} />
            {{/if}}
          {{/each}}
        {{else}}
          -
        {{/if}}
      </td>
      <td class="text-center">
        {{#if person.trained}}
          <span class="text-success">{{fa-icon "check"}}</span>
        {{else}}
          <span class="text-danger">{{fa-icon "times"}}</span>
        {{/if}}
      </td>
      <td class="text-center">
        {{#if person.alpha_status_eligible}}
          <span class="text-success">{{fa-icon "check"}}</span>
        {{else}}
          <span class="text-danger">{{fa-icon "times"}}</span>
        {{/if}}
      </td>
      <td class="text-center">
        {{#if person.alpha_position_eligible}}
          <span class="text-success">{{fa-icon "check"}}</span>
        {{else}}
          <span class="text-danger">{{fa-icon "times"}} missing</span>
        {{/if}}
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="10">
        {{#if this.potentials}}
          <b class="text-danger">No Alphas or Prospectives matched the filter criteria.</b>
        {{else}}
          <b class="text-danger">No Alpha or Prospectives were found for {{this.year}}.</b>
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
