<h1>Alpha Mass Sign Out</h1>
<p>
  Preform a mass sign out of selected Alphas on their Alpha shift. An Alpha will be selected if they started the shift
  one hour before til one after the chosen shift time.
</p>

{{#if this.slots}}
  <FormRow>
    <FormLabel @auto={{true}}>Select shift:</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="slot"
                      @value={{this.selectedSlot}}
                      @options={{this.slotOptions}}
                      @onChange={{this.changeSlot}} />
    </div>
  </FormRow>
{{else}}
  <p>
    <b class="text-danger">No Alpha {{this.year}} shifts were found.</b>
  </p>
{{/if}}

{{#if this.isLoading}}
  <LoadingDialog>
    Loading Alphas on shift . . .
  </LoadingDialog>
{{/if}}

{{#if this.alphaSignout}}
  <LoadingDialog>
    Signing off Alpha {{this.alphaSignout.callsign}} ({{this.alphaSignoutIndex}} of {{this.alphaSignoutCount}}). . .
  </LoadingDialog>
{{/if}}

{{#if this.shiftDate}}
  {{pluralize this.alphas.length "Alpha"}} found for
  {{#if (eq this.shiftDate "all")}}
    all {{this.year}} shifts.
  {{else}}
    {{shift-format this.shiftDate}}.
  {{/if}}
  <table class="table table-striped table-hover table-width-auto">
    <thead>
    <tr>
      <th>
        <Input @type="checkbox" @checked={{this.selectAll}}
               {{on "change" this.toggleAll}} />
      </th>
      <th>Callsign</th>
      <th>On Duty</th>
      <th>Off Duty</th>
      <th>Duration</th>
      <th>Error?</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.alphas key="id" as |alpha|}}
      <tr class={{if alpha.error "bg-highlight"}}>
        <td>
          {{#if alpha.error}}
            {{fa-icon "times" color="danger"}}
          {{else if alpha.off_duty}}
            {{fa-icon "check" color="success"}}
          {{else}}
            <Input @type="checkbox" @checked={{alpha.selected}} />
          {{/if}}
        </td>
        <td>
          <PersonLink @person={{alpha}} />
        </td>
        <td>{{shift-format alpha.on_duty}}</td>
        <td>
          {{#if alpha.off_duty}}
            {{shift-format alpha.off_duty}}
          {{else}}
            -
          {{/if}}
        </td>
        <td class="text-end">
          {{hour-minute-format alpha.duration}}
        </td>
        <td>
          {{alpha.error}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="7">
          <b class="text-success">
            Congratulations, no on shift Alpha were found for the
            {{#if (eq this.shiftDate "all")}}
              year!
            {{else}}
              {{shift-format this.shiftDate}} shift.
            {{/if}}
          </b>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <UiButton @onClick={{this.signoutAction}}>
    Sign out selected Alphas
  </UiButton>
{{/if}}