<h1>{{year}} Alpha Mentor Assignments</h1>
<p class="d-print-none">
  Use this page to assign mentors to Alphas (anyone with the Alpha position).
  Passing or bonking an Alpha here will <b>NOT change the account status</b>. Use the
  {{#link-to "mentor.convert"}}Alpha Conversion{{/link-to}} page to mint Shiny Pennies, and/or bonk Alphas.
</p>

<div class="form-row mb-2 d-print-none">
  <label class="col-form-label col-auto">Filter</label>
  <div class="col-auto">
    {{ch-form/select name="filter" value=filter options=filterOptions onChange=(action (mut filter)) controlClass="form-control"}}
  </div>
</div>
{{#if isPrinting}}
  <PrintInstruction @backLabel="Back to Mentor Assignments" @backAction={{action this.togglePrinting}} />
  <table class="table table-width-auto">
    <caption>Showing {{viewAlphas.length}} of {{alphas.length}}</caption>
    <thead>
      <tr>
        <th>Callsign</th>
        <th>Name</th>
        <th>Mentor Shift</th>
        <th>Mentor 1</th>
        <th>Mentor 2</th>
        <th>Mentor 3</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      {{#each viewAlphas as |person|}}
        <tr>
          <td>
            {{person.callsign}}
          </td>
          <td>{{person.first_name}} {{person.last_name}}</td>
          <td>
            {{#if person.alpha_slot}}
              {{shift-format person.alpha_slot.begins}}
            {{else}}
              -
            {{/if}}
          </td>
          <td>
            {{#if person.mentors.0.mentor_id}}
              {{options-get this.mentorOptions person.mentors.0.mentor_id}}
            {{else}}
              -
            {{/if}}
          </td>
          <td>
            {{#if person.mentors.1.mentor_id}}
              {{options-get this.mentorOptions person.mentors.1.mentor_id}}
            {{else}}
              -
            {{/if}}
          </td>
          <td>
            {{#if person.mentors.2.mentor_id}}
              {{options-get this.mentorOptions person.mentors.2.mentor_id}}
            {{else}}
              -
            {{/if}}
          </td>
          <td>
            {{person.mentor_status}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

{{else}}
  <div class="float-right">
    <button class="btn btn-secondary mb-2" {{action this.togglePrinting}}>Print Mentor Assignments</button>
  </div>

  Mentor shift = Shift Alpha is signed up for. On Shift = Is the Alpha currently signed into an Alpha shift?
  <table class="table table-sm table-hover">
    <caption>Showing {{viewAlphas.length}} of {{alphas.length}}</caption>
    <thead>
      <tr>
        <th>Callsign</th>
        <th>Name</th>
        <th>Mentor Shift</th>
        <th>On Shift</th>
        <th>Mentor 1</th>
        <th>Mentor 2</th>
        <th>Mentor 3</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      {{#each viewAlphas as |person|}}
        <tr>
          <td>
            {{person-link person=person}}
          </td>
          <td>{{person.first_name}} {{person.last_name}}</td>
          <td>
            {{#if person.alpha_slot}}
              {{shift-format person.alpha_slot.begins}}
            {{else}}
              -
            {{/if}}
          </td>
          <td>
            {{yesno person.on_alpha_shift}}
          </td>
          <td>
            {{ch-form/select name=(concat "mentor1_" person.id) value=person.mentors.0.mentor_id onChange=(action (mut person.mentors.0.mentor_id)) options=mentorOptions}}
          </td>
          <td>
            {{ch-form/select name=(concat "mentor1_" person.id) value=person.mentors.1.mentor_id onChange=(action (mut person.mentors.1.mentor_id)) options=mentorOptions}}
          </td>
          <td>
            {{ch-form/select name=(concat "mentor1_" person.id) value=person.mentors.2.mentor_id onChange=(action (mut person.mentors.2.mentor_id)) options=mentorOptions}}
          </td>
          <td>
            {{ch-form/select name=(concat "status_" person.id) value=person.mentor_status onChange=(action (mut person.mentor_status)) options=statusOptions}}
          </td>
        </tr>
        {{#if person.mentor_history}}
          <tr class="no-border">
            <td colspan="8">
              Prior Mentors:
              {{#each person.mentor_history as |history|}}
                {{history.year}} ({{history.status}}):
                {{#each history.mentors as |mentor mentor_idx|}}
                  {{if mentor_idx " / "}}{{person-link person=mentor}}
                {{/each}}
                <br>
              {{/each}}
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
  <button class="btn btn-primary" disabled={{isSubmitting}} {{action saveAlphas}}>Save Assignments &amp; Results</button>
  {{#if isSubmitting}}
    <span class="ml-1">Submitting {{fa-icon "spinner" spin=true}}</span>
  {{/if}}
{{/if}}
