<h1>{{this.year}} Alpha Mentor Assignments</h1>
{{#if this.isPrinting}}
  <PrintInstruction @backLabel="Back to Mentor Assignments" @backAction={{action this.togglePrinting}} />
  <table class="table table-width-auto">
    <caption>Showing {{this.viewAlphas.length}} of {{this.alphas.length}}</caption>
    <thead>
    <tr>
      <th>Callsign</th>
      <th>Name</th>
      <th>Mentor Shift</th>
      <th>Mentor 1</th>
      <th>Mentor 2</th>
      <th>Mentor 3</th>
      <th>Result</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.viewAlphas key="id" as |person|}}
      <tr>
        <td>
          {{person.callsign}}
        </td>
        <td>{{person.first_name}} {{person.last_name}}</td>
        <td>
          {{#if person.alpha_slot}}
            {{shift-format person.alpha_slot.begins}}
          {{else}}
            -
          {{/if}}
        </td>
        <td>
          {{this.mentorName person 0}}
        </td>
        <td>
          {{this.mentorName person 1}}
        </td>
        <td>
          {{this.mentorName person 2}}
        </td>
        <td>
          {{person.mentor_status}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{else}}
  <p>
    Use this page to assign mentors to Alphas (anyone with the Alpha position).
    Passing or bonking an Alpha here will <b>NOT change the account status</b>. Use the
    <LinkTo @route="mentor.convert-alphas">Alpha Conversion</LinkTo>
    page to mint Shiny Pennies, and/or bonk Alphas.
  </p>

  <FormRow>
    <FormLabel @auto={{true}}>Filter</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="filter"
                      @value={{this.filter}}
                      @options={{this.filterOptions}}
                      @onChange={{this.updateFilter}} />
    </div>
    <div class="col-auto">
      <UiButton @type="secondary" @class="mb-2" @onClick={{this.togglePrinting}}>
        Print Mentor Assignments
      </UiButton>
    </div>
  </FormRow>
  <p>
    <MentorAssignmentFromPod @alphas={{this.viewAlphas}} @year={{this.year}} />
  </p>
  <p>
    Legend: Mentor shift = Shift Alpha is signed up for. On Shift = Is the Alpha currently signed into an Alpha shift?
  </p>
  <UiSection>
    <:title>Showing {{this.viewAlphas.length}} of {{pluralize this.alphas.length "Alpha"}}</:title>
    <:body>
      <table class="table table-striped table-hover table-sm table-width-auto">
        <thead>
        <tr>
          <th>Callsign</th>
          <th>Name</th>
          <th>Mentor Shift</th>
          <th>On Shift</th>
          <th>Mentor 1</th>
          <th>Mentor 2</th>
          <th>Mentor 3</th>
          <th>Result</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.viewAlphas key="id" as |person|}}
          <tr id="person-{{person.id}}"
              class="{{if person.error "invalid-feedback"}} {{if person.mentor_history "no-border"}}">
            <td>
              <PersonLink @person={{person}} />
            </td>
            <td>{{person.first_name}} {{person.last_name}}</td>
            <td>
              {{#if person.alpha_slot}}
                {{shift-format person.alpha_slot.begins}}
              {{else}}
                -
              {{/if}}
            </td>
            <td class="text-center">
              {{yesno person.on_alpha_shift}}
            </td>
            <td>
              <ChForm::Select @name="mentor1_{{person.id}}"
                              @value={{this.getMentorId person 0}}
                              @onChange={{fn this.setMentorId person 0}}
                              @options={{this.mentorOptions}}
                              @controlClass={{this.selectClass person}}
              />
            </td>
            <td>
              <ChForm::Select @name="mentor2_{{person.id}}"
                              @value={{this.getMentorId person 1}}
                              @onChange={{fn this.setMentorId person 1}}
                              @options={{this.mentorOptions}}
                              @controlClass={{this.selectClass person}}
              />
            </td>
            <td>
              <ChForm::Select @name="mentor3_{{person.id}}"
                              @value={{this.getMentorId person 2}}
                              @onChange={{fn this.setMentorId person 2}}
                              @options={{this.mentorOptions}}
                              @controlClass={{this.selectClass person}}
              />
            </td>
            <td>
              <ChForm::Select @name="status_{{person.id}}"
                              @value={{person.mentor_status}}
                              @onChange={{action (mut person.mentor_status)}}
                              @options={{this.statusOptions}}
                              @controlClass={{this.selectClass person}}
              />
            </td>
          </tr>
          {{#if person.mentor_history}}
            <tr>
              <td colspan="8">
                Prior Mentors:
                {{#each person.mentor_history as |history|}}
                  [{{history.year}} ({{history.status}}):
                  {{#each history.mentors as |mentor mentor_idx|}}
                    {{if mentor_idx " / "}}
                    <PersonLink @person={{mentor}} />
                  {{/each}}]
                {{/each}}
              </td>
            </tr>
          {{/if}}
          {{#if person.error}}
            <tr class="no-border">
              <td colspan="8">
                <b class="text-danger">{{person.error}}</b>
              </td>
            </tr>
          {{/if}}
        {{else}}
          <tr>
            <td colspan="8">
              <b class="text-danger">No Alphas found.</b>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      <UiButton @disabled={{this.isSubmitting}} @onClick={{this.saveAlphas}}>
        Save Assignments &amp; Results
      </UiButton>
    </:body>
  </UiSection>
{{/if}}
{{#if this.isSubmitting}}
  <LoadingDialog>
    Submitting request
  </LoadingDialog>
{{/if}}

{{#if this.isRendering}}
  <LoadingDialog>
    Hang Tight - rendering the list
  </LoadingDialog>
{{/if}}

