<h1>{{this.year}} Alpha Mentor Assignments</h1>
{{#if this.isPrinting}}
  <PrintInstruction @backLabel="Back to Mentor Assignments" @backAction={{action this.togglePrinting}} />
  <UiTable>
    <caption>Showing {{this.viewAlphas.length}} of {{this.alphas.length}}</caption>
    <thead>
    <tr>
      <th>Callsign</th>
      <th>Name</th>
      <th>Mentor Shift</th>
      <th>Mentor 1</th>
      <th>Mentor 2</th>
      <th>Mentor 3</th>
      <th>Result</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.viewAlphas key="id" as |person|}}
      <tr>
        <td>
          {{person.callsign}}
        </td>
        <td>{{person.first_name}} {{person.last_name}}</td>
        <td>
          {{#each  person.alpha_slots as |slot idx|}}
            {{#if idx}}<br>{{/if}}
            {{shift-format slot.begins}}
          {{else}}
            -
          {{/each}}
        </td>
        <td>
          {{this.mentorName person 0}}
        </td>
        <td>
          {{this.mentorName person 1}}
        </td>
        <td>
          {{this.mentorName person 2}}
        </td>
        <td>
          {{person.mentor_status}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
{{else}}
  <p>
    Use this page to assign mentors to Alphas (anyone with the Alpha position).
    Passing or bonking an Alpha here will <b>NOT change the account status</b>. Use the
    <LinkTo @route="mentor.convert-alphas">Alpha Conversion</LinkTo>
    page to mint Shiny Pennies, and/or bonk Alphas.
  </p>

  <FormRow>
    <FormLabel @auto={{true}}>Status Filter</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="filter"
                      @value={{this.filter}}
                      @options={{this.filterOptions}}
                      @onChange={{this.updateFilter}} />
    </div>
    <FormLabel @auto={{true}}>Shift</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="shiftFilter"
                      @value={{this.shiftFilter}}
                      @options={{this.shiftFilterOptions}}
                      @onChange={{this.updateShiftFilter}} />
    </div>
    <div class="col-auto">
      <UiButton @type="secondary" @class="mb-2" @onClick={{this.togglePrinting}}>
        Print Mentor Assignments
      </UiButton>
    </div>
  </FormRow>
  <p>
    <MentorAssignmentFromPod @alphas={{this.viewAlphas}} @year={{this.year}} />
  </p>
  <p>
    Legend: Mentor shift = Shift Alpha is signed up for. On Shift = Is the Alpha currently signed in to an Alpha
    shift?<br>
    for.
  </p>
  {{#if this.walkingUnknown}}
    <UiAlert @type="warning" @icon="hand">
      The following Alphas were found who are checked in, yet it cannot be determined which shift they are walking.
      This might be a result of a very early, or late check in.
      <div class="my-2">The Mentor Assignment From Pod button will probably not work for these.</div>
      <div class="mt-2">
        {{#each this.walkingUnknown as |person idx|}}
          {{if idx ", "~}}{{person.callsign~}}
        {{/each}}
      </div>
    </UiAlert>
  {{/if}}
  <UiSection>
    <:title>
      Showing {{this.viewAlphas.length}} of {{pluralize this.alphas.length "Alpha"}}
      {{this.titleLabel}}
    </:title>
    <:body>
      <p>
        <UiButton @disabled={{not this.selectedAlphas}} @onClick={{this.updateToPassed}}>
          Mark (but not save) {{pluralize this.selectedAlphas "Alpha"}} as Passed
        </UiButton>
      </p>
      <UiTable>
        <thead>
        <tr>
          <th><Input @type="checkbox" @checked={{this.selectAll}} {{on "change" this.toggleAll}} /></th>
          <th>Callsign</th>
          <th>Name</th>
          <th>Signed Up For</th>
          <th>Checked In For</th>
          <th>Mentor 1</th>
          <th>Mentor 2</th>
          <th>Mentor 3</th>
          <th>Result</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.viewAlphas key="id" as |person|}}
          <tr id="person-{{person.id}}"
              class="{{if person.error "invalid-feedback"}} {{if person.mentor_history "no-border"}}">
            <td>
              <Input @type="checkbox" @checked={{person.selected}} />
            </td>
            <td>
              <PersonLink @person={{person}} />
            </td>
            <td>{{person.first_name}} {{person.last_name}}</td>
            <td>
              {{#each person.alpha_slots as |slot idx|}}
                {{#if idx}}<br>{{/if}}
                {{shift-format slot.begins}}
              {{else}}
                -
              {{/each}}
            </td>
            <td>
              {{#if person.on_alpha_shift}}
                {{shift-format person.on_alpha_shift.begins}}
              {{else}}
                -
              {{/if}}
            </td>
            <td>
              <ChForm::Select @name="mentor1_{{person.id}}"
                              @value={{this.getMentorId person 0}}
                              @onChange={{fn this.setMentorId person 0}}
                              @options={{this.mentorOptions}}
                              @controlClass={{this.selectClass person}}
              />
            </td>
            <td>
              <ChForm::Select @name="mentor2_{{person.id}}"
                              @value={{this.getMentorId person 1}}
                              @onChange={{fn this.setMentorId person 1}}
                              @options={{this.mentorOptions}}
                              @controlClass={{this.selectClass person}}
              />
            </td>
            <td>
              <ChForm::Select @name="mentor3_{{person.id}}"
                              @value={{this.getMentorId person 2}}
                              @onChange={{fn this.setMentorId person 2}}
                              @options={{this.mentorOptions}}
                              @controlClass={{this.selectClass person}}
              />
            </td>
            <td>
              <ChForm::Select @name="status_{{person.id}}"
                              @value={{person.mentor_status}}
                              @onChange={{action (mut person.mentor_status)}}
                              @options={{this.statusOptions}}
                              @controlClass={{this.selectClass person}}
              />
            </td>
          </tr>
          {{#if person.mentor_history}}
            <tr>
              <td colspan="8">
                Prior Mentors:
                {{#each person.mentor_history as |history|}}
                  [{{history.year}} ({{history.status}}):
                  {{#each history.mentors as |mentor mentor_idx|}}
                    {{if mentor_idx " / "}}
                    <PersonLink @person={{mentor}} />
                  {{/each}}]
                {{/each}}
              </td>
            </tr>
          {{/if}}
          {{#if person.error}}
            <tr class="no-border">
              <td colspan="8">
                <b class="text-danger">{{person.error}}</b>
              </td>
            </tr>
          {{/if}}
        {{else}}
          <tr>
            <td colspan="8">
              <b class="text-danger">No Alphas found.</b>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </UiTable>
      <UiButton @disabled={{this.isSubmitting}} @onClick={{this.saveAlphas}}>
        Save Assignments &amp; Results
      </UiButton>
    </:body>
  </UiSection>
{{/if}}
{{#if this.isSubmitting}}
  <LoadingDialog>
    Submitting request
  </LoadingDialog>
{{/if}}

{{#if this.isRendering}}
  <LoadingDialog>
    Hang Tight - rendering the list
  </LoadingDialog>
{{/if}}

