<h1>Prospective to Alpha bulk conversion</h1>
<p>
  Use this page to convert trained Prospectives to Alphas. Check the candidates to convert, then
  select <b>Convert</b>. Expand any row to review their intake notes and ranks.
</p>

{{#if this.personnelFlagCount}}
  <p>
    <b class="text-danger">The Personnel Flag has been raised on {{pluralize this.personnelFlagCount "person"}}. The
      prospective(s) have to be selected by hand.</b>
  </p>
{{/if}}

<UnifiedFlagging @people={{this.prospectives}}
                 @year={{this.year}}
                 @showGender={{true}}
                 @selectable={{true}}
                 @mentorNotesOnly={{true}}
                 @actionLabel="Convert"
                 @actionIcon="user-plus"
                 @busyMessage="Converting Prospectives to Alphas. This may take upwards to a minute."
                 @emptyMessage="No trained Prospectives were found to convert."
                 @onConvert={{this.convertAction}} />
