<h1>Alpha Conversions</h1>

<table class="table table-sm table-hover mb-4">
  <caption>{{pluralize passed.length "Shiny Penny candidate"}}</caption>
  <thead>
    <tr>
      <th class="w-5"><Input @type="checkbox" @checked={{passAll}} @change={{action togglePassAll value="target.checked"}} /></th>
      <th class="w-15">Callsign</th>
      <th class="w-20">Name</th>
      <th class="w-5">Status</th>
      <th>Mentor Result</th>
    </tr>
  </thead>

  <tbody>
    {{#each passed as |person|}}
      <tr class="{{if person.selected "bg-highlight"}}">
        <td class="w-5">
          {{#if person.converted}}
            {{fa-icon "check"}}
          {{else}}
            <Input @type="checkbox" @checked={{person.selected}} />
          {{/if}}
        </td>
        <td class="w-15"><PersonLink @person={{person}} /></td>
        <td class="w-20">{{person.first_name}} {{person.last_name}}</td>
        <td class="w-5">{{person.status}}</td>
        <td>{{person.mentor_status}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan="5"><strong class="text-danger">No passed Alphas were found</strong></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<button class="btn btn-success" {{action convertAction passed "active"}} disabled={{or (not passCount) isSubmitting}}>Mint Selected Shiny Pennies ({{passCount}})</button>
{{#if isSubmitting}}
  Submitting {{fa-icon "spinner" spin=true}} . . .
{{/if}}

<table class="table table-sm table-hover mt-4 mb-2">
  <caption>{{pluralize bonked.length "Bonked Alpha"}}</caption>
  <thead>
    <tr>
      <th class="w-5"><Input @type="checkbox" @checked={{bonkAll}} @change={{action toggleBonkAll value="target.checked"}} /></th>
      <th class="w-15">Callsign</th>
      <th class="w-20">Name</th>
      <th class="w-5">Status</th>
      <th>Mentor Result</th>
    </tr>
  </thead>

  <tbody>
    {{#each bonked as |person|}}
      <tr class="{{if person.selected "bg-highlight"}}">
        <td class="w-5">
          {{#if person.converted}}
            {{fa-icon "check"}}
          {{else}}
            <Input @type="checkbox" @checked={{person.selected}} />
          {{/if}}
        </td>
        <td class="w-15"><PersonLink @person={{person}} /></td>
        <td class="w-20">{{person.first_name}} {{person.last_name}}</td>
        <td class="w-5">{{person.status}}</td>
        <td>{{person.mentor_status}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan="5"><strong class="text-danger">No bonked Alphas were found</strong></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<button class="btn btn-danger" disabled={{or (not bonkCount) isSubmitting}} {{action convertAction bonked "bonked"}}>Bonk Selected Alphas ({{bonkCount}})</button>
{{#if isSubmitting}}
  Submitting {{fa-icon "spinner" spin=true}} . . .
{{/if}}
