<YearSelect @title="Post Season Summary"
            @year={{this.year}}
            @minYear={{2008}}
            @skipPandemic={{true}}
            @onChange={{action (mut this.year)}}  />
<FormRow @class="my-2">
  <FormLabel @auto={{true}}>Filter</FormLabel>
  <div class="col-auto">
    <ChForm::Select @name="filter"
                    @value={{this.filter}}
                    @options={{this.filterOptions}}
                    @onChange={{action (mut this.filter)}}
    />
  </div>
  <FormLabel @auto={{true}}>Callsign Filter:</FormLabel>
  <div class="col-auto">
    <Input @type="text"
           @value={{this.callsignFilter}}
           class="form-control"
    />
  </div>
  <div class="col-auto">
    <UiButton @onClick={{this.clearFiltersAction}} @type="secondary">Clear Filters</UiButton>
  </div>
  <div class="col-auto">
    <UiButton @onClick={{this.exportToCSV}}>Export to CSV</UiButton>
  </div>
</FormRow>

Showing {{this.viewMentees.length}} of {{this.mentees.length}}. {{this.passedCount}} passed. {{this.bonkedCount}}
bonked.
<table class="table table-striped table-hover table-sm">
  <thead>
  <tr>
    <th class="w-15">Mentee / FKAs</th>
    <th class="w-25">Mentors</th>
    <th class="w-15">Pass</th>
    <th class="w-45">Mentor Notes/Flags</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.viewMentees key="id" as |mentee|}}
    <tr>
      <td class="w-15">
        <PersonLink @person={{mentee}} />
        <br>
        &lt;{{mentee.status}}&gt;<br>
        {{#each mentee.fkas as |name|}}
          {{name}}<br>
        {{/each}}
      </td>
      <td class="w-25">
        {{#each mentee.mentors as |mentor idx| ~}}
          {{#if idx}}/{{/if}}
          <PersonLink @person={{mentor}} />
        {{else}}
          <i>none</i>
        {{/each}}
      </td>
      <td class="w-15">
        {{#if (eq mentee.status "uberbonked")}}
          <b class="text-danger">{{fa-icon "bell"}} UBERBONKED</b><br>
        {{else if (and (eq mentee.mentor_status 'pending') (not mentee.alpha_slot))}}
          <span class="text-danger">{{fa-icon "question"}} No Alpha shift</span>
        {{else}}
          {{#if (eq mentee.mentor_status "pass")}}
            <span class="text-success">{{fa-icon "check"}} Passed</span>
          {{else if (eq mentee.mentor_status "pending")}}
            <span class="text-danger">{{fa-icon "shoe-prints"}} Didn't Walk</span>
          {{else if (eq mentee.mentor_status "bonk")}}
            <span class="text-danger">{{fa-icon "ban"}} Bonked</span>
          {{else if (eq mentee.mentor_status "self-bonk")}}
            <span class="text-danger">{{fa-icon "ban"}} Self Bonked</span>
          {{else}}
            {{mentee.mentor_status}}
          {{/if}}
        {{/if}}
      </td>
      <td class="w-60">
        <IntakeNotes @type="mentor" @person={{mentee}} @viewYear={{this.year}} @onSubmit={{this.noteSubmitted}} />
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="7"><b class="text-danger">
        No mentees found for {{this.year}} with filter "{{this.filter}}"
        {{#if this.callsignFilter}}
          AND callsign matching "{{this.callsignFilter}}"
        {{/if}}
      </b></td>
    </tr>
  {{/each}}
  </tbody>
</table>
