<YearSelect @title="Post Season Summary"
            @year={{this.year}}
            @minYear={{2008}}
            @skipPandemic={{true}}
            @onChange={{set-value this 'year'}}  />
<FormRow class="my-2">
  <FormLabel @auto={{true}}>Filter</FormLabel>
  <div class="col-auto">
    <ChForm::Select @name="filter"
                    @value={{this.filter}}
                    @options={{this.filterOptions}}
                    @onChange={{set-value this 'filter'}}
    />
  </div>
  <FormLabel @auto={{true}}>Callsign Filter:</FormLabel>
  <div class="col-auto">
    <Input @type="text"
           @value={{this.callsignFilter}}
           class="form-control"
    />
  </div>
  <div class="col-auto mt-1">
    <UiButtonRow>
      <UiButton @onClick={{this.clearFiltersAction}} @type="secondary">Clear Filters</UiButton>
      <UiExportToCSVButton @onClick={{this.exportToCSV}} />
    </UiButtonRow>
  </div>
</FormRow>

Showing {{this.viewMentees.length}} of {{this.mentees.length}}. {{this.passedCount}} passed. {{this.bonkedCount}}
bonked.
<UiTable>
  <thead>
  <tr>
    <th class="no-wrap">Mentee / FKAs</th>
    <th class="no-wrap text-center">Outcome</th>
    <th class="no-wrap">Mentors</th>
    <th>Mentor Notes/Flags</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.viewMentees key="id" as |mentee|}}
    <tr>
      <td class="no-wrap">
        <PersonLink @person={{mentee}} />
        <br>
        &lt;{{mentee.status}}&gt;<br>
        {{#each mentee.fkas as |name|}}
          {{name}}<br>
        {{/each}}
      </td>
      <td class="no-wrap text-center">
        {{mentee-status-badge mentee.status mentee.mentor_status mentee.alpha_slots}}
      </td>
      <td class="no-wrap">
        {{#each mentee.mentors as |mentor idx| ~}}
          {{#if idx}} / {{/if}}
          <PersonLink @person={{mentor}} />
        {{else}}
          <i>none</i>
        {{/each}}
      </td>
      <td>
        <IntakeNotes @type="mentor" @person={{mentee}} @viewYear={{this.year}} @onSubmit={{this.noteSubmitted}} />
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="7"><b class="text-danger">
        No mentees found for {{this.year}} with filter "{{this.filter}}"
        {{#if this.callsignFilter}}
          AND callsign matching "{{this.callsignFilter}}"
        {{/if}}
      </b></td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>
