<h1>{{this.year}} Potential Alphas</h1>

<div class="form-group row">
  <label class="col-form-label col-auto">Filter By:</label>
  <div class="form-check form-check-inline">
    <Input @type="checkbox" @checked={{this.untrained}} id="untrained-flag" class="form-check-input"/>
    <label for="untrained-flag" class="form-check-label">Untrained</label>
  </div>
  <div class="form-check form-check-inline">
    <Input @type="checkbox" @checked={{this.rrnFlagged}} id="rrn-flag" class="form-check-input"/>
    <label for="rrn-flag" class="form-check-label">RRN Flagged</label>
  </div>
  <div class="form-check form-check-inline">
    <Input @type="checkbox" @checked={{this.vcFlagged}} id="vc-flag" class="form-check-input"/>
    <label for="vc-flag" class="form-check-label">VC Flagged</label>
  </div>
  <div class="form-check form-check-inline">
    <Input @type="checkbox" @checked={{this.trainingFlagged}} id="trained-flag" class="form-check-input"/>
    <label for="trained-flag" class="form-check-label">Training Flagged</label>
  </div>
  <div class="form-check form-check-inline">
    <Input @type="checkbox" @checked={{this.mentorFlagged}} id="mentor-flag" class="form-check-input"/>
    <label for="mentor-flag" class="form-check-label">Mentor Flagged</label>
  </div>
  <div class="form-check form-check-inline">
    <Input @type="checkbox" @checked={{this.personnelFlagged}} id="personnel-flag" class="form-check-input"/>
    <label for="black-flag" class="form-check-label">Personnel Flagged</label>
  </div>

</div>
<p>
  Any prospective or alpha who has signed up for training in the current year will be shown here.
</p>
<p>
  Legend: RRN Rank = Ranger Regional Network. VC = Volunteer Coordinators.<br>
  Rankings: 1/Green = Above Avg., 2/Normal = Average, 3/Yellow = Below Avg., 4/FLAG = Major issue.
</p>
Showing {{this.viewPotentials.length}} of {{pluralize this.mentees.length "potential alpha"}}
<table class="table table-sm table-striped table-hover">
  <thead>
  <tr>
    <th>Callsign / Name / Gender</th>
    <th>Status</th>
    <th>History</th>
    <th>RRN Rank</th>
    <th>VC Rank</th>
    <th>FKA / Mentor Notes &amp; Rank</th>
    <th>Training</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.viewPotentials as |person|}}
    <tr>
      <td>
        <PersonLink @person={{person}} />
        <br>
        {{person.first_name}} {{person.last_name}}<br>
        <PresentOrNot @value={{person.gender}} @empty="no gender stated" />
      </td>
      <td>{{person.status}}</td>
      <td>
        {{#each person.mentor_history as |history|}}
          {{history.year}}
          {{#if (eq history.status "bonk")~}}
            Bonk
          {{~else if (eq history.status "self-bonk")~}}
            Self-Bonk
          {{~else if (eq history.status "pending")~}}
            Pending
            {{~else~}}
            Pass
          {{~/if}}<br>
        {{else}}
          <i>no history</i>
        {{/each}}
      </td>
      <td>
        {{#each person.rrn_ranks as |yearRank|}}
          {{yearRank.year}}
          <IntakeRanking @rank={{yearRank.rank}} />
          <br>
        {{else}}
          none
        {{/each}}
      </td>
      <td>
        {{#each person.vc_ranks as |yearRank|}}
          {{yearRank.year}}
          <IntakeRanking @rank={{yearRank.rank}} />
          <br>
        {{else}}
          none
        {{/each}}
      </td>
      <td>
        {{#if person.has_note_on_file}}
          <div class="mb-2"><b class="text-danger">Personnel Note</b></div>
        {{/if}}
        {{#if person.personnel_issue}}
          <div class="mb-2">
            <b class="text-danger">PERSONNEL FLAG RAISED<br>
              TAKE NO ACTION UNTIL RESOLVED
            </b>
          </div>
        {{/if}}
        {{#if person.fkas}}
          <div class="mb-2">
            FKA: {{join person.fkas ", "}}
          </div>
        {{/if}}

        <IntakeNotes @type="mentor" @person={{person}} @viewYear={{this.year}} @onSubmit={{this.noteSubmitted}} />
      </td>
      <td>
        {{#if person.trained}}
          <div class="text-success">{{fa-icon "check"}} Trained</div>
        {{else}}
          <div class="text-danger">{{fa-icon "times"}} NOT Trained</div>
        {{/if}}

        <IntakeTraining @trainings={{person.trainings}} @person={{person}} />
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="7">
        <b class="text-danger">
          {{#if this.mentees}}
            No potential Alphas matched the filter criteria.
          {{else}}
            No potential Alphas were found for this year.
          {{/if}}
        </b>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
