<h1>{{this.year}} Potential Alphas</h1>

Any prospective or alpha who has signed up for training in the current year is shown here, sorted worst-first.
<p class="mb-2">
  {{#if this.personnelIssuesCount}}
    <b class="text-danger">The Personnel Flag has been raised on {{pluralize this.personnelIssuesCount "person"}}.</b>
  {{else}}
    <div class="text-success">{{fa-icon "check" right=1}} Congratulations! No one has the Personnel Flag raised.</div>
  {{/if}}
</p>

<div class="roster-controls">
  <span class="fw-semibold small">Filter By:</span>
  <div class="roster-controls-divider"></div>
  <div class="d-flex align-items-center flex-wrap gap-3">
    <div class="form-check form-check-inline m-0">
      <Input @type="checkbox" @checked={{this.untrained}} id="untrained-flag" class="form-check-input"/>
      <label for="untrained-flag" class="form-check-label">Untrained</label>
    </div>
    <div class="form-check form-check-inline m-0">
      <Input @type="checkbox" @checked={{this.rrnFlagged}} id="rrn-flag" class="form-check-input"/>
      <label for="rrn-flag" class="form-check-label">RRN Flagged</label>
    </div>
    <div class="form-check form-check-inline m-0">
      <Input @type="checkbox" @checked={{this.vcFlagged}} id="vc-flag" class="form-check-input"/>
      <label for="vc-flag" class="form-check-label">VC Flagged</label>
    </div>
    <div class="form-check form-check-inline m-0">
      <Input @type="checkbox" @checked={{this.trainingFlagged}} id="trained-flag" class="form-check-input"/>
      <label for="trained-flag" class="form-check-label">Training Flagged</label>
    </div>
    <div class="form-check form-check-inline m-0">
      <Input @type="checkbox" @checked={{this.mentorFlagged}} id="mentor-flag" class="form-check-input"/>
      <label for="mentor-flag" class="form-check-label">Mentor Flagged</label>
    </div>
    <div class="form-check form-check-inline m-0">
      <Input @type="checkbox" @checked={{this.personnelFlagged}} id="personnel-flag" class="form-check-input"/>
      <label for="personnel-flag" class="form-check-label">Personnel Flagged</label>
    </div>
  </div>
  <div class="roster-controls-divider"></div>
  <span class="roster-controls-count">Showing {{this.filteredPeople.length}} of {{pluralize this.mentees.length
                                                                                            "potential alpha"}}</span>
</div>


{{#if this.filteredPeople.length}}
  <UnifiedFlagging @people={{this.filteredPeople}} @year={{this.year}} @showGender={{true}}/>
{{else}}
  <p>
    <b class="text-danger">
      {{#if this.mentees}}
        No potential Alphas matched the filter criteria of {{join this.filterNames ", "}}.
      {{else}}
        No potential Alphas were found for this year.
      {{/if}}
    </b>
  </p>
{{/if}}
