{{#if this.signupSheetSlot}}
  <PrintInstruction @backLabel="Back to Alpha Schedule" @backAction={{action this.clearSignupSheet}} />
  <Mentor::AlphaSignupSheet @slot={{this.signupSheetSlot}} />
{{else if this.signedInSlot}}
  <PrintInstruction @backLabel="Back to Alpha Schedule" @backAction={{action this.clearSignedInSheet}} />
  <Mentor::AlphasSignedInSheet @slot={{this.signedInSlot}} />
{{else if this.apparelSlot}}
  <PrintInstruction @backLabel="Back to Alpha Schedule" @backAction={{action this.clearAlphaApparel}} />
  <Mentor::AlphaApparelSheet @slot={{this.apparelSlot}} />
{{/if}}
<div class="d-print-none">
  <YearSelect @title="Alpha Scheduled Shift" @year={{this.year}} @onChange={{action (mut this.year)}} />
</div>
<div class="mt-4 {{if this.hideShiftSchedule "d-none"}}">
  {{#each this.slots key="id" as |slot|}}
    <ChAccordion as |Accordion|>
      <Accordion.title>
        {{shift-format slot.begins}} - {{pluralize slot.people.length "Alpha"}}
      </Accordion.title>
      <Accordion.body>
        <div class="mt-2 mb-3">
          <UiButton @type="secondary" @onClick={{fn this.showSignupSheet slot}}>
            {{fa-icon "clipboard-list"}} Sign-In Sheet
          </UiButton>
          <UiButton @type="secondary" @onClick={{fn this.showSignedInSheet slot}}>
            {{fa-icon "info-circle"}} Info Sheet
          </UiButton>
          <UiButton @type="secondary" @onClick={{fn this.showAlphaApparel slot}}>
            {{fa-icon "tshirt"}} Apparel Distribution
          </UiButton>
          <UiButton @type="secondary" @onClick={{fn this.showAddPersonAction slot}}>
            {{fa-icon "plus"}} Add Person
          </UiButton>
        </div>
        <table class="table table-sm table-striped table-hover">
          <thead>
          <tr>
            <th class="w-15">Callsign</th>
            <th class="w-15">Name</th>
            <th class="w-5 text-center">Gender</th>
            <th class="w-5 text-center">Signed In</th>
            <th class="w-10">Flag</th>
            <th class="w-20">Training Location</th>
            <th class="w-20">Home</th>
            <th class="w-5">Action</th>
          </tr>
          </thead>
          <tbody>
          {{#each slot.people key="id" as |person|}}
            <tr>
              <td class="w-15">
                <PersonLink @person={{person}} />
              </td>
              <td class="w-15">{{person.first_name}} {{person.last_name}}</td>
              <td class="w-5 text-center">{{person.gender}}</td>
              <td class="w-5 text-center">{{yesno person.on_alpha_shift}}</td>
              <td class="w-10">
                {{#if person.have_mentor_flags}}
                  {{#each person.mentor_team as |info|}}
                    {{#if (gte info.rank 3)}}
                      {{info.year}}
                      <IntakeRanking @type="mentor" @rank={{info.rank}} />
                      <br>
                    {{/if}}
                  {{/each}}
                {{else}}
                  -
                {{/if}}
              </td>
              <td class="w-20">
                {{#each person.trainings as |training|}}
                  {{ymd-format training.slot_begins}} {{training.slot_description}}<br>
                {{/each}}
              </td>
              <td class="w-25">
                {{person.city}} {{person.state}} {{person.country}}
              </td>
              <td class="w-5">
                <UiButton @type="secondary" @size="sm" @onClick={{fn this.removePersonAction slot person}}>
                  Remove
                </UiButton>
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="8" class="text-danger"><b>No sign ups found for this mentee shift</b></td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </Accordion.body>
    </ChAccordion>
  {{else}}
    <b class="text-danger">No {{this.year}} Alpha shifts found.</b>
  {{/each}}
</div>


{{! Add Person dialog box}}
{{#if this.addPersonForm}}
  <ModalDialog @title="Add Person To {{shift-format this.slot.begins}}"
               @onEscape={{this.cancelSearchAction}} as |Modal|>
    <ChForm @formId="search"
            @formFor={{this.addPersonForm}}
            @changeSet={{false}}
            @onFormChange={{this.searchPeopleAction}} as |f|>
      <Modal.body>
        <FormRow>
          <f.text @name="name"
                  @label="Enter the callsign, real name, or email of the person to add:"
                  @size={{30}}
                  @autofocus={{true}}
                  @disabled={{this.slot.is_submitting}}/>
        </FormRow>
        <UiCancelButton @disabled={{this.slot.is_submitting}} @onClick={{this.cancelSearchAction}}/>
        {{#if this.slot.is_submitting}}
          <LoadingIndicator @text="Adding"/>
        {{else if this.isSearching}}
          <LoadingIndicator @text="Searching"/>
        {{/if}}
        {{#if this.foundPeople}}
          Click on the callsign to add the person to the Alpha shift.
          <table class="table table-hover mt-2">
            <thead>
            <tr>
              <th class="w-25">Callsign</th>
              <th class="w-25">Name</th>
              <th class="w-25">Status</th>
            </tr>
            </thead>
            <tbody>
            {{#each this.foundPeople key="id" as |person|}}
              <tr>
                <td class="w-25">
                  <a href {{action this.addPersonAction person this.slot}}>
                    {{person.callsign}}
                  </a>
                </td>
                <td class="w-25">{{person.first_name}} {{person.last_name}}</td>
                <td class="w-25">{{person.status}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        {{else if this.noSearchMatch}}
          <div class="text-danger">No person found matching "{{this.noSearchMatch}}"</div>
        {{/if}}
      </Modal.body>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.isSubmitting}}
  <LoadingPane @text="refreshing the sign up list"/>
{{/if}}