<main>
  <h1>{{this.survey.title}} (Year {{this.survey.year}})</h1>

  <div class="my-4">
    <LinkTo @route="mentor.surveys">
      Back to Mentor Surveys
    </LinkTo>
  </div>
  {{#each this.report.summarized_ratings as |summary|}}
    <UiAccordion as |Accordion|>
      <Accordion.title>{{summary.description}}</Accordion.title>
      <Accordion.body>
        <SurveyRatingSummaryReport @noHeader={{true}}
                                   @report={{this.report}}
                                   @summary={{summary}}
                                   @survey={{this.survey}}
        />
      </Accordion.body>
    </UiAccordion>
  {{/each}}

  {{#if (eq this.report.type "trainer")}}
    <p>
      Showing {{pluralize this.report.trainers.length (if this.isAlphaSurvey "Mentor" "Trainer")}}
    </p>
    {{#each this.report.trainers key="trainer_id" as |trainer|}}
      <UiAccordion id="trainer-{{trainer.trainer_id}}" as |Accordion|>
        <Accordion.title>
          Mentor {{trainer.callsign}}
        </Accordion.title>
        <Accordion.body>
          <div class="photo-medium">
            <img src={{trainer.photo_url}} alt="{{trainer.callsign}} headshot"/>
          </div>
          {{#each trainer.questions as |question|}}
            <SurveyQuestionReport @report={{this.report}}
                                  @trainer={{trainer}}
                                  @question={{question}}
                                  @trainingId={{this.training.id}}
                                  @survey={{this.survey}}
            />
          {{/each}}
        </Accordion.body>
      </UiAccordion>
    {{/each}}
  {{else}}
    {{#each this.report.questions as |question|}}
      <UiAccordion as |Accordion|>
        <Accordion.title>{{question.description}}</Accordion.title>
        <Accordion.body>
          <SurveyQuestionReport @noHeader={{true}}
                                @report={{this.report}}
                                @question={{question}}
                                @trainingId={{this.training.id}}
                                @survey={{this.survey}}
          />
        </Accordion.body>

      </UiAccordion>
    {{/each}}
  {{/if}}
  <div class="mt-4">
    <LinkTo @route="mentor.surveys">
      Back to Mentor Surveys
    </LinkTo>
  </div>
</main>