{{#if timesheets}}
  <div class="timesheet-table">
    <div class="timesheet-row timesheet-header">
      <div class="timesheet-time">From</div>
      <div class="timesheet-time">To</div>
      <div class="timesheet-duration">Time</div>
      <div class="timesheet-credits">Credits</div>
      <div class="timesheet-position">Position</div>
    </div>
    {{#each timesheets as |ts|}}
      <div class="timesheet-entry">
        <div class="timesheet-row">
          <div class="timesheet-time">{{shift-format ts.on_duty}}</div>
          <div class="timesheet-time">
            {{#if ts.off_duty}}
              {{shift-format ts.off_duty}}
            {{else}}
              <i>On Duty</i>
            {{/if}}
          </div>
          <div class="timesheet-duration">
            <span class="timesheet-sm-label">Time:</span>
            {{#if ts.position.count_hours}}
              {{hour-minute-format ts.duration}}
            {{else}}
              [{{hour-minute-format ts.duration}}]
            {{/if}}
          </div>
          <div class="timesheet-credits">
            <span class="timesheet-sm-label">Credits:</span>
            {{credits-format ts.credits}}
          </div>
          <div class="timesheet-position">{{ts.position.title}}</div>
        </div>

        <div class="timesheet-row d-print-none">
          <div>
            {{#if ts.off_duty}}
              {{#if ts.verified}}
                <span class="text-success">{{fa-icon "check"}} Entry was marked correct on {{shift-format ts.verified_at}}</span>
              {{else if ts.isApproved}}
                The correction request has been APPROVED.
                The timesheet has been updated.
              {{else if ts.isRejected}}
                The correction request has been denied.
              {{else if ts.isPendingReview }}
                <span class="text-info font-weight-bold">The correction request is pending review.</span>
              {{else if ts.isUnverified}}
                <strong>This entry has not been verified.</strong>
              {{else}}
                Unknown state?
              {{/if}}

              {{#if (and ts.haveReviewerResponse (not ts.verified))}}
                <p class="text-bold">Response from the timesheet review team:</p>
                <p>{{ts.reviewer_notes}}</p>
              {{/if}}
            {{else}}
              <strong>You are still on duty. You may submit a correction after the shift has ended.</strong>
            {{/if}}
          </div>
        </div>

        <div class="timesheet-row timesheet-actions d-print-none">
          {{#if ts.off_duty}}
            {{#unless ts.verified}}
              <button type="button" class="btn btn-success" {{action markCorrectAction ts}} disabled={{isSubmitting}}>
                Mark Entry Correct
              </button>
            {{/unless}}
            <button type="button" class="btn btn-secondary" {{action markIncorrectAction ts}} disabled={{ts.isLoading}}>
              {{#if ts.isPendingReview}}
                Edit Correction Note
              {{else if (and ts.isRejected (not ts.verified))}}
                Submit Appeal
              {{else}}
                Mark Entry Incorrect
              {{/if}}
            </button>
            {{#if ts.isReloading}}
              <span class="text-muted">Loading {{fa-icon "spinner" spin=true}}</span>
            {{/if}}
          {{/if}}
          {{#if ts.isSaving}}
            <span class="ml-2 text-muted">Submitting {{fa-icon "spinner" spin=true}}</span>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>

  <TimesheetSummary @summary={{timesheetSummary}} />
  <TimesheetPositionSummary @timesheets={{timesheets}} />
{{else}}
  <p class="text-danger font-weight-bold">No timesheet entries were found.</p>
{{/if}}


{{! Timesheet entry correction form dialog }}
{{#if entry}}
  {{#ch-form "correction" entry modalBox=true modalTitle="Timesheet Correction" validator=correctionValidations onSubmit=(action saveCorrectionAction) onCancel=(action cancelCorrectionAction) as |f|}}
    <dl class="form-row">
      <dt class="col-sm-2">Position:</dt>
      <dd class="col-sm-10">{{entry.position.title}}</dd>

      <dt class="col-sm-2">Time:</dt>
      <dd class="col-sm-10">{{shift-format entry.on_duty}} to {{shift-format entry.off_duty}}</dd>

      <dt class="col-sm-2">Duration:</dt>
      <dd class="col-sm-10">{{hour-minute-format entry.duration}}</dd>

      <dt class="col-sm-2">Credits:</dt>
      <dd class="col-sm-10">{{credits-format entry.credits}}</dd>
    </dl>

    <div class="form-row">
      Use the following area to explain why this entry is incorrect. Provide as
      much information as possible to help us understand why this entry should be fixed.
      <ul>
        {{#if isMe}}
          <li><b>State the correct times</b> if the starting and/or ending time is wrong.</li>
          <li><b>If the position is wrong,</b> tell us what is the correct position.</li>
          <li><b>Provide an explanation</b> on why you think the entry is wrong.</li>
          <li><b>Who was your partner for the shift?</b></li>
        {{else}}
          <li><b>Why does {{person.callsign}} think the entry is wrong?</b></li>
          <li><b>Wrong times?</b> State the correct times. Don't forget to include the month and day.</li>
          <li><b>Is the position "{{entry.position.title}}" wrong?</b> State the correct position</li>
          <li><b>Who was their shift partner(s)?</b></li>
        {{/if}}
      </ul>
    </div>
    {{#if entry.isRejected}}
      <b class="text-danger">The correction request has been rejected.</b>
      <div class="card mb-4">
        <div class="card-header">The timesheet correction team has left you a note:</div>
        <div class="card-body">
          {{entry.reviewer_notes}}
        </div>
      </div>
    {{/if}}
    {{f.input "notes" label=(if entry.isRejected "Supply additional information for an apeal:" "Your correction note:") type="textarea" cols=80 rows=3}}
    <f.submit @label="Submit Correction Request" @disabled={{isSubmitting}} />
    {{f.cancel}}
    {{#if isSubmitting}}
      <span class="text-muted">Submitting {{fa-icon "spinner" spin=true}} . . .</span>
    {{/if}}
  {{/ch-form}}
{{/if}}
