<YearSelect @title="Survey Administration"
            @year={{this.year}}
            @minYear={{2012}}
            @skipPandemic={{true}}
            @onChange={{set-value this 'year'}} />
<p>
  <UiButton @onClick={{this.newSurveyAction}}>New Survey</UiButton>
</p>
Showing {{pluralize this.surveys.length "survey"}}
<UiTable>
  <thead>
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Position</th>
    <th>Title</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.surveys as |survey|}}
    <tr>
      <td>{{survey.id}}</td>
      <td>{{survey.typeLabel}}</td>
      <td>
        {{#if survey.position_id}}
          {{survey.position_title}}
          {{#if survey.mentoring_position_id}}
            <br>&rarr;
            {{survey.mentoring_position_title}}
          {{/if}}
        {{else}}
          -
        {{/if}}
      </td>
      <td>
        {{survey.title}}
      </td>
      <td>
        <UiButtonRow>
          <UiDeleteButton @onClick={{fn this.deleteSurveyAction survey}} />
          <UiButton @type="secondary" @size="sm" @onClick={{fn this.duplicateSurveyAction survey}}>
            {{fa-icon "clone" right=1}} Duplicate
          </UiButton>
          <LinkTo @route="ops.survey.manage" @model={{survey.id}} class="btn btn-primary btn-sm">
            {{fa-icon "pen-to-square" type="r" right=1}} Manage
          </LinkTo>
        </UiButtonRow>
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="5" class="text-danger">No surveys found for {{this.year}}</td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>

{{#if this.surveyEntry}}
  <SurveyForm @survey={{this.surveyEntry}}
              @positionOptions={{this.positionOptions}}
              @mentorPositionOptions={{this.mentorPositionOptions}}
              @menteePositionOptions={{this.menteePositionOptions}}
              @onCancel={{this.cancelSurveyAction}}
              @onSave={{this.saveSurveyAction}}
  />
{{/if}}

{{#if this.isDuplicating}}
  <LoadingDialog>
    Duplicating Survey
  </LoadingDialog>
{{/if}}
