<h1>ID #{{this.survey.id}}: {{this.survey.title}}</h1>
{{#if this.survey.active}}
  <UiAlert @type="success" @icon="check">
    The survey has been activated. It will appear on the Clubhouse Dashboard.
  </UiAlert>
{{else}}
  <UiAlert @type="danger" @icon="ban">
    The survey has not been activated. It will not appear on the Clubhouse Dashboard.
  </UiAlert>
{{/if}}
<p>
  <LinkTo @route="ops.survey" @query={{hash year=this.survey.year}}>
    Back to {{this.survey.year}} Survey Administration
  </LinkTo>
</p>
<dl>
  <dt>Prologue:</dt>
  <dd>
    {{#if this.survey.prologue}}
      {{this.safeHtmlString this.survey.prologue}}
    {{else}}
      <i>No prologue text given.</i>
    {{/if}}
  </dd>
  <dt>Epilogue:</dt>
  <dd>
    {{#if this.survey.epilogue}}
      {{this.safeHtmlString this.survey.epilogue}}
    {{else}}
      <i>No epilogue text given.</i>
    {{/if}}
  </dd>
</dl>
<UiButtonRow class="my-4">
  <UiButton @onClick={{this.newGroupAction}} @size="sm">
    {{fa-icon "plus" type="r" right=1}} Add Group
  </UiButton>
  <UiEditButton @type="secondary" @onClick={{this.editSurveyAction}}>
    Edit Survey
  </UiEditButton>
</UiButtonRow>

{{#each this.orderedGroups as |group idx|}}
  <div class="bg-light-gray p-2">
    <div class="fs-5">
      <div class="d-flex justify-content-between">
        <div>
          {{group.title}}
          {{#if (eq group.type "trainer")}}
            <i>(Is trainer/mentor group)</i>
          {{else if group.report_title}}
            (In separate report as: "{{group.report_title}}")
          {{/if}}
        </div>
        <div>
          ID #{{group.id}}
        </div>
      </div>
    </div>
  </div>
  <UiButtonRow class="my-2">
    <UiButton @size="sm" @onClick={{fn this.newQuestionAction group}} @disabled={{group.isSaving}}>
      {{fa-icon "plus" type="r" right=1}} Add Question
    </UiButton>
    <UiEditButton @onClick={{fn this.editGroupAction group}}>
      Edit Group
    </UiEditButton>
    {{#if (not-eq idx 0)}}
      <UiButton @type="secondary"
                @size="sm"
                @onClick={{fn this.moveGroupAction group -1}}
                @disabled={{group.isSaving}}>
        {{fa-icon "arrow-up" right=1}} Move Group Up
      </UiButton>
    {{/if}}
    {{#if (this.isNotLast group this.orderedGroups)}}
      <UiButton @type="secondary"
                @size="sm"
                @onClick={{fn this.moveGroupAction group 1}}
                @disabled={{group.isSaving}}>
        {{fa-icon "arrow-down" right=1}} Move Group Down
      </UiButton>
    {{/if}}
  </UiButtonRow>
  <UiTable @noWidthAuto={{true}}>
    <thead>
    <tr>
      <th class="w-5">ID</th>
      <th class="w-55">Description</th>
      <th class="w-5">Type</th>
      <th class="w-5 text-center">Req?</th>
      <th class="w-10">Action</th>
      <th class="w-20">Move Position</th>
    </tr>
    </thead>
    <tbody>
    {{#each group.surveyQuestions as |question idx|}}
      <tr>
        <td class="w-5">{{question.id}}</td>
        <td class="w-55">{{question.description}}</td>
        <td class="w-5">{{question.type}}</td>
        <td class="w-5 text-center">{{yesno question.is_required}}</td>
        <td class="w-10">
          <UiEditButton @type="secondary" @size="sm" @onClick={{fn this.editQuestionAction question}} />
        </td>
        <td class="w-20">
          <UiButtonRow>
            {{#if (not-eq idx 0)}}
              <UiButton @type="secondary" @size="sm" @onClick={{fn this.moveQuestionAction group question -1}}
                        @disabled={{question.isSaving}}>
                {{fa-icon "arrow-up" right=1}} Move Up
              </UiButton>
            {{/if}}
            {{#if (this.isNotLast question group.surveyQuestions)}}
              <UiButton @type="secondary" @size="sm" @onClick={{fn this.moveQuestionAction group question 1}}
                        @disabled={{question.isSaving}}>
                {{fa-icon "arrow-down" right=1}} Move Down
              </UiButton>
            {{/if}}
          </UiButtonRow>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="5"><b class="text-danger">No questions found for this group</b></td>
      </tr>
    {{/each}}

    </tbody>
  </UiTable>
{{else}}
  <p>
    <b class="text-danger">No groups were found for this survey. Try adding some.</b>
  </p>
{{/each}}

{{#if this.groupEntry}}
  <ModalDialog @title={{if this.groupEntry.isNew "Create New Group" (concat "Edit Group ID #" this.groupEntry.id)}}
               @onEscape={{this.cancelGroupAction}} as |Modal|>
    <ChForm @formId="survey-group" @formFor={{this.groupEntry}} @onSubmit={{this.saveGroupAction}} as |f|>
      <Modal.body>
        <FormRow>
          <f.radioGroup @name="type"
                        @label="What group type is this?"
                        @options={{this.groupTypeOptions}}
          />
        </FormRow>
        <FormRow>
          <f.text @name="report_title"
                  @label="Report Title (used for separate reporting)"
                  @size={{40}}
                  @disabled={{and (not-eq f.model.type "separate-slot") (not-eq f.model.type "separate-summary")}}
          />
        </FormRow>
        <FormRow>
          <f.text @name="title"
                  @label="Group Title (shown to user)"
                  @size={{80}}
                  @maxlength={{170}}/>
        </FormRow>
        <FormRow>
          <f.textarea @name="description"
                      @label="Group Description (shown to user)"
                      @rows={{4}}
                      @cols={{80}}/>
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label={{if this.groupEntry.isNew "Create" "Save"}} @disabled={{this.groupEntry.isSaving}} />
        <UiCancelButton @onClick={{this.cancelGroupAction}} />
        {{#if this.groupEntry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
        <div class="ms-auto">
          <UiDeleteButton @onClick={{this.deleteGroupAction}}>Delete Group</UiDeleteButton>
        </div>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.questionEntry}}
  <ModalDialog @title={{if this.questionEntry.isNew "Add Question" (concat "Edit Question ID #" this.questionEntry.id)}}
               @onEscape={{this.cancelQuestionAction}} as |Modal|>
    <ChForm @formId="survey-group" @formFor={{this.questionEntry}} @onSubmit={{this.saveQuestionAction}} as |f|>
      <Modal.body>
        <FormRow>
          <f.select @name="type"
                    @label="Question Type"
                    @options={{this.typeOptions}}/>
        </FormRow>
        {{#if (eq f.model.type "rating")}}
          <FormRow>
            <div class="col-auto">
              <f.checkbox @name="summarize_rating"
                          @label="Summarize this rating as a table with each row as a training session"/>
            </div>
          </FormRow>
        {{/if}}
        <FormRow>
          <f.textarea @name="description"
                      @label="Question"
                      @rows={{4}}
                      @cols={{80}}/>
        </FormRow>
        <FormRow>
          <div class="col-auto">
            <f.checkbox @name="is_required"
                        @label="Question requires an answer"/>
          </div>
        </FormRow>
        <FormRow>
          <f.textarea @name="options"
                      @label="Options (one per line)"
                      @rows={{4}}
                      @cols={{80}}
                      @disabled={{not-eq f.model.type "options"}} />
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label={{if this.questionEntry.isNew "Create" "Save"}} @disabled={{this.questionEntry.isSaving}} />
        <UiCancelButton @onClick={{this.cancelQuestionAction}} @disabled={{this.questionEntry.isSaving}} />
        {{#if this.questionEntry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
        <div class="ms-auto">
          <UiDeleteButton @onClick={{this.deleteQuestionAction}} />
        </div>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.surveyEdit}}
  <SurveyForm @survey={{this.surveyEdit}}
              @positionOptions={{this.positionOptions}}
              @mentorPositionOptions={{this.mentorPositionOptions}}
              @menteePositionOptions={{this.menteePositionOptions}}
              @onCancel={{this.cancelSurveyAction}}
              @onSave={{this.saveSurveyAction}}
  />
{{/if}}
