{{#if @iconUrl}}
  <img src={{@iconUrl}} alt="icon" class="sidebar-icon">
{{else}}
  <span class="fa{{@iconType}} fa-{{@icon}} fa-fw mr-1"></span>
{{/if}}
<span class="sidebar-link-text">{{@title}}{{#if @badgeText}} <span class="badge badge-pill bg-success ms-1">{{@badgeText}}</span>{{/if}}</span>
