{{#if this.isUrl}}
  <a href={{@route}} class="{{this.linkClass}}">
    <Sidebar::LinkText @iconUrl={{@iconUrl}}
                       @icon={{@icon}}
                       @iconType={{this.iconType}}
                       @title={{@title}}
                       @badgeText={{@badgeText}} />
  </a>
{{else}}
  {{#if @routeArg}}
    <LinkTo @route={{@route}} @model={{@routeArg}} @query={{@query}}
            class="{{this.linkClass}}"
            @activeClass="{{this.activeClass}}">
      <Sidebar::LinkText @iconUrl={{@iconUrl}}
                         @icon={{@icon}}
                         @iconType={{this.iconType}}
                         @title={{@title}}
                         @badgeText={{@badgeText}} />
    </LinkTo>
  {{else}}
  {{! ARG.. link-to @model cannot deal with undefined and do the right thing}}
    <LinkTo @route={{@route}}
            @query={{@query}}
            class="{{this.linkClass}}"
            @activeClass="{{this.activeClass}}">
      <Sidebar::LinkText @iconUrl={{@iconUrl}}
                         @icon={{@icon}}
                         @iconType={{this.iconType}}
                         @title={{@title}}
                         @badgeText={{@badgeText}} />
    </LinkTo>
  {{/if}}
{{/if}}
