<YearSelect @title="Training Surveys" @year={{this.year}} @minYear={{2012}} @onChange={{action (mut this.year)}} />

<table class="table table-striped table-hover table-width-auto mt-2">
  <thead>
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Title</th>
    <th>Reports</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.surveys as |survey|}}
    <tr>
      <td>{{survey.id}}</td>
      <td>{{survey.type}}</td>
      <td>{{survey.title}}</td>
      <td>
        {{#each survey.reports as |report|}}
          <LinkTo @route="training.survey.report"
                  @models={{array this.training.id survey.id}}
                  @query={{hash type=report.type report_id=report.id}}>
            {{report.title}}
          </LinkTo>
          <br>
        {{/each}}
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="4"><b class="text-danger">No surveys found for {{this.year}}</b></td>
    </tr>
  {{/each}}
  </tbody>
</table>
