<h1 id="top">{{this.survey.title}} (Year {{this.survey.year}})</h1>
<p>
  <LinkTo @route="training.survey.index" @query={{hash year=this.survey.year}} @model={{this.training.id}}>
    Back to {{this.survey.year}} Surveys
  </LinkTo>
</p>
{{#if (eq this.survey.type "trainer")}}
  {{#each this.trainers as |trainer|}}
    <UiAccordion id="trainer-{{trainer.trainer_id}}" as |Accordion|>
      <Accordion.title>
        Trainer {{trainer.callsign}}
      </Accordion.title>
      <Accordion.body>
        {{#each trainer.report.summarized_ratings as |summary|}}
          <SurveyRatingSummaryReport @report={{trainer.report}}
                                     @summary={{summary}}
                                     @survey={{this.survey}}
          />
        {{/each}}
        {{#each trainer.report.questions as |question|}}
          <SurveyQuestionReport @report={{trainer.report}}
                                @question={{question}}
                                @survey={{this.survey}}
          />
        {{/each}}
      </Accordion.body>
    </UiAccordion>
  {{else}}
    <b class="text-danger">No Trainer-on-Trainer feedback has been given yet.</b>
  {{/each}}
{{else}}
  {{#if (and (not this.report.summarized_ratings) (not this.report.trainers) (not this.report.questions))}}
    <p class="text-danger">
      No responses or questions found for this survey report?
    </p>
  {{/if}}
  {{#each this.report.summarized_ratings as |summary|}}
    <UiAccordion as |Accordion|>
      <Accordion.title>{{summary.description}}</Accordion.title>
      <Accordion.body>
        <SurveyRatingSummaryReport @noHeader={{true}}
                                   @report={{this.report}}
                                   @summary={{summary}}
                                   @survey={{this.survey}}
        />
      </Accordion.body>
    </UiAccordion>
  {{/each}}

  {{#if (eq this.report.type "trainer")}}
    {{#each this.report.trainers key="trainer_id" as |trainer|}}
      <UiAccordion id="trainer-{{trainer.trainer_id}}" as |Accordion|>
        <Accordion.title>
          Trainer {{trainer.callsign}}
        </Accordion.title>
        <Accordion.body>
          <div class="photo-medium">
            <img src={{trainer.photo_url}} alt="{{trainer.callsign}} headshot"/>
          </div>
          {{#each trainer.questions as |question|}}
            <SurveyQuestionReport @report={{this.report}}
                                  @trainer={{trainer}}
                                  @question={{question}}
                                  @trainingId={{this.training.id}}
                                  @survey={{this.survey}}
            />
          {{/each}}
        </Accordion.body>
      </UiAccordion>
    {{/each}}
  {{else}}
    {{#each this.report.questions as |question|}}
      <UiAccordion as |Accordion|>
        <Accordion.title>{{question.description}}</Accordion.title>
        <Accordion.body>
          <SurveyQuestionReport @noHeader={{true}}
                                @report={{this.report}}
                                @question={{question}}
                                @trainingId={{this.training.id}}
                                @survey={{this.survey}}
          />
        </Accordion.body>

      </UiAccordion>
    {{/each}}
  {{/if}}
{{/if}}
