<h1 id="top">{{this.survey.title}} (Year {{this.survey.year}})</h1>
<p>
  <LinkTo @route="training.survey.index" @query={{hash year=this.survey.year}} @model={{this.training.id}}>
    Back to {{this.survey.year}} Surveys
  </LinkTo>
</p>
{{#if (eq this.survey.type "trainer")}}
  {{#each this.trainers as |trainer|}}
    <ChAccordion id="trainer-{{trainer.trainer_id}}" as |Accordion|>
      <Accordion.title>
        Trainer {{trainer.callsign}}
      </Accordion.title>
      <Accordion.body>
        {{#each trainer.report.summarized_ratings as |summary|}}
          <SurveyRatingSummaryReport @report={{trainer.report}} @summary={{summary}} />
        {{/each}}
        {{#each trainer.report.questions as |question|}}
          <SurveyQuestionReport @report={{trainer.report}} @question={{question}} />
        {{/each}}
      </Accordion.body>
    </ChAccordion>
  {{else}}
    <b class="text-danger">No Trainer-on-Trainer feedback has been given yet.</b>
  {{/each}}
{{else}}
  {{#each this.report.summarized_ratings as |summary|}}
    <ChAccordion as |Accordion|>
      <Accordion.title>{{summary.description}}</Accordion.title>
      <Accordion.body>
        <SurveyRatingSummaryReport @noHeader={{true}} @report={{this.report}} @summary={{summary}} />
      </Accordion.body>
    </ChAccordion>
  {{/each}}

  {{#if (eq this.report.type "trainer")}}
    {{#each this.report.trainers as |trainer|}}
      <ChAccordion id="trainer-{{trainer.trainer_id}}" as |Accordion|>
        <Accordion.title>
          Trainer {{trainer.callsign}}
        </Accordion.title>
        <Accordion.body>
          <img src="{{trainer.photo_url}}" alt="{{trainer.callsign}} headshot" class="d-block"/>
          {{#each trainer.questions as |question|}}
            <SurveyQuestionReport @report={{this.report}}
                                  @trainer={{trainer}}
                                  @question={{question}}
                                  @trainingId={{this.training.id}} />
          {{/each}}
        </Accordion.body>
      </ChAccordion>
    {{/each}}
  {{else}}
    {{#each this.report.questions as |question|}}
      <ChAccordion as |Accordion|>
        <Accordion.title>{{question.description}}</Accordion.title>
        <Accordion.body>
          <SurveyQuestionReport @noHeader={{true}}
                                @report={{this.report}}
                                @question={{question}}
                                @trainingId={{this.training.id}} />
        </Accordion.body>

      </ChAccordion>
    {{/each}}
  {{/if}}
{{/if}}
