<div class="signup-page">
  {{#each this.alphaPages as |alphaPage idx|}}
    <h1 class="{{if idx "d-print-page-break"}} mb-4">
      {{year-format @slot.begins}} {{@slot.description}} &mdash; {{shift-format @slot.begins}} &mdash; Alpha Shift Sign Ups
      <div class="float-end small">Page {{add idx 1}} of {{this.alphaPages.length}}</div>
    </h1>

    <table class="signup-table">
      <tbody>
        {{#each alphaPage as |person|}}
          <tr>
            <td class="w-5 text-center align-middle">
              {{#if person.have_mentor_flags}}
                {{fa-icon "check"}}
              {{else}}
                &nbsp;
              {{/if}}
            </td>
            <td class="w-25">
              <div class="signup-label">Handle</div>
              {{person.callsign}}
            </td>
            <td class="w-25">
              <div class="signup-label">T-Shirt Size</div>
              {{person.teeshirt_size_style}}
            </td>
            <td class="w-25">
              <div class="signup-label">Long Sleeve Shirt</div>
              {{person.longsleeveshirt_size_style}}
            </td>
            <td rowspan="3" class="w-15">
              <div class="signup-label">Initial Here</div>
            </td>
          </tr>
          <tr>
            <td class="w-5">
              <div class="signup-label">Team</div>
              &nbsp;
            </td>
            <td class="w-25">
              <div class="signup-label">Real Name</div>
              {{person.first_name}} {{person.last_name}}
            </td>
            <td class="w-25">
              <div class="signup-label">Training Location</div>
              {{#each person.trainings as |place|}}
                {{year-format place.slot_begins}} {{place.slot_description}}<br>
              {{/each}}
            </td>
            <td class="w-25">
              <div class="signup-label">Home</div>
              {{person.city}} {{person.state}} {{person.country}}
            </td>
          </tr>
          <tr>
            <td class="w-5">
              <div class="signup-label">Pod</div>
              &nbsp;
            </td>
            <td class="w-35" colspan="2">
              <div class="signup-label">Known Rangers</div>
              &nbsp;
            </td>
            <td class="w-35">
              <div class="signup-label">Known Alphas</div>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="5">
              &nbsp;
            </td>
          </tr>
          <tr class="signup-separator">
            <td colspan="5">&nbsp;</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}


  <NumberOfTimes @times={{2}} as |pageIdx|>
    <h1 class="d-print-page-break">
      {{year-format @slot.begins}} {{@slot.description}} &mdash; {{shift-format @slot.begins}} &mdash; Alpha Standby List
      <div class="float-end small">Page {{add pageIdx 1}} of 2</div>
    </h1>

    <div class="text-center h3">
      PLEASE WRITE LEGIBLY
    </div>

    <table class="signup-table">
      <tbody>
        <NumberOfTimes @times={{this.alphasPerPage}}>
          <tr>
            <td class="w-5 text-center">
                &nbsp;
            </td>
            <td class="w-25">
              <div class="signup-label">Ranger Handle (if known)</div>
            </td>
            <td class="w-25">
              <div class="signup-label">T-Shirt Size</div>
            </td>
            <td class="w-25">
              <div class="signup-label">Long Sleeve Shirt</div>
            </td>
            <td rowspan="3" class="w-15">
              <div class="signup-label">Initial Here</div>
            </td>
          </tr>
          <tr>
            <td class="w-5">
              <div class="signup-label">Team</div>
            </td>
            <td class="w-25">
              <div class="signup-label">Real Name</div>
            </td>
            <td class="w-25">
              <div class="signup-label">Training Location</div>
            </td>
            <td class="w-25">
              <div class="signup-label">Home</div>
            </td>
          </tr>
          <tr>
            <td class="w-5">
              <div class="signup-label">Pod</div>
              &nbsp;
            </td>
            <td class="w-35" colspan="2">
              <div class="signup-label">Known Rangers</div>
              &nbsp;
            </td>
            <td class="w-35">
              <div class="signup-label">Known Alphas</div>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan="5">
              &nbsp;
            </td>
          </tr>
          <tr class="signup-separator">
            <td colspan="5">&nbsp;</td>
          </tr>
        </NumberOfTimes>
      </tbody>
    </table>
  </NumberOfTimes>
</div>
