{{#each this.alphaGroups as |group groupIdx|}}
  {{#each group.pages as |alphas idx|}}
    <div class="d-flex justify-content-between {{if (or idx groupIdx) "d-print-page-break"}}">
      <h2 class="align-middle">{{year-format @slot.begins}} {{@slot.description}} {{shift-format @slot.begins}}</h2>
      <h2 class="align-middel">Alpha Apparel Distribution - {{group.title}}</h2>
      <h2 class="align-middle">Page {{add idx 1}} of {{group.pages.length}}</h2>
    </div>

    {{pluralize group.people.length group.title}}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Callsign</th>
          <th>Name</th>
          <th>Status</th>
          <th>Result</th>
          <th>Tee Shirt</th>
          <th>Long Sleeve</th>
        </tr>
      </thead>

      <tbody>
        {{#each alphas as |person|}}
          <tr>
            <td>{{person.callsign}}</td>
            <td>{{person.first_name}} {{person.last_name}}</td>
            <td>{{person.status}}</td>
            <td>{{person.mentor_status}}</td>
            <td>
              <PresentOrNot @value={{person.teeshirt_size_style}} @empty="UNKNOWN" />
            </td>
            <td>
              <PresentOrNot @value={{person.longsleeveshirt_size_style}} @empty="UNKNOWN" />
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}
{{/each}}

<h2 class="d-print-page-break">{{year-format @slot.begins}} {{shift-format @slot.begins}} Shirt Summary (EXCLUDING BONKS)</h2>
<div class="row">
  {{#each this.shirtGroups as |shirts|}}
    <div class="col-5">
      <table class="table table-box">
        <caption>{{shirts.name}} Totals</caption>
        <thead>
          <tr>
            <th>Shirt Type</th>
            <th class="text-end">Count</th>
          </tr>
        </thead>
        <tbody>
          {{#each shirts.types as |shirt|}}
            <tr>
              <td>{{shirt.type}}</td>
              <td class="text-end">{{shirt.count}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/each}}
</div>
