{{#each @groups as |group|}}
  <UiSection>
    <:title>{{group.title}}</:title>
    <:body>
      <UiTable>
        {{#each group.positions as |position|}}
          {{#if position.people}}
            <tbody>
              <Mentor::ShiftReportHeader @position={{position}} @alphaPosition={{@alphaPosition}} @startedLabel="Started" />
              {{#each position.people as |person|}}
                <Mentor::ShiftReportRow @person={{person}} @position={{position}} @alphaPosition={{@alphaPosition}}
                                        @began={{person.on_duty}} @duration={{person.duration}} />
              {{/each}}
            </tbody>
          {{/if}}
        {{else}}
          <tbody>
          <tr>
            <td colspan="4">No timesheet entries located</td>
          </tr>
          </tbody>
        {{/each}}
      </UiTable>
    </:body>
  </UiSection>
{{/each}}
