{{#each this.checkboxColumns as |column|~}}
  <div class={{this.gridClass}}>
    {{~#each column as |cb idx|~}}
      <div class="form-check">
        <Input @type="checkbox"
               id="{{@domId}}-{{cb.index}}"
               class="form-check-input"
               @checked={{cb.isChecked}}
               @click={{action this.onClickEvent cb}}
        />
        <label for="{{@domId}}-{{cb.index}}" class="form-check-label">{{cb.label}}</label>
      </div>
    {{~/each~}}
  </div>
{{~/each}}
