{{#if this.wrapField}}
  <div class={{this.wrapClass}}>
    {{#if (and this.emitTopLabel @label)~}}
      <label class={{this.labelClass}} for={{this.domId}}>{{@label}}</label>
    {{/if~}}

    {{#if (eq @type "select")~}}
      <ChForm::Select @name={{@name}} @controlClass={{this.controlClass}} @disabled={{@disabled}}
                      @includeBlank={{@includeBlank}}
                      @multiple={{@multiple}} @onChange={{action this.update}} @options={{@options}} @size={{@size}}
                      @value={{get @model @name}} />
    {{else if (eq @type "radio")~}}
      <input type="radio"
             class={{this.controlClass}}
             id={{this.domId}}
             onclick={{action this.update @value}}
             checked={{eq (get @model @name) @value}}
             disabled={{@disabled}}
      >
      {{#if @label}}
        <label class="form-check-label" for={{this.domId}}>{{@label}}</label>
      {{/if}}
    {{else if (eq @type "checkbox")~}}
      <input type="checkbox"
             class={{this.controlClass}}
             id={{this.domId}}
             name={{@name}}
             checked={{get @model @name}}
             disabled={{@disabled}}
             onclick={{action this.update value="target.checked"}}
      >
      {{#if @label~}}
        <label class="form-check-label {{if @disabled "text-muted"}}" for={{this.domId}}>{{@label}}</label>
      {{~/if~}}
    {{else if (or this.editorFailed (eq @type "textarea"))}}
      {{#if this.editorFailed}}
        <div class="text-danger">Editor failed to load. Falling back to plain text.</div>
      {{/if}}
      <textarea
              name={{@name}}
              id={{this.domId}}
              class="{{this.controlClass}} {{if this.errorMessages "is-invalid"}}"
              placeholder={{@placeholder}}
              disabled={{@disabled}}
              autofocus={{@autofocus}}
              rows={{@rows}}
              cols={{@cols}}
              maxlength={{@maxlength}}
              oninput={{action this.update value="target.value"}}
      >{{this._val}}</textarea>
    {{else if (or (eq @type "datetime") (eq @type "date"))}}
      <DatetimePicker @autofocus={{@autofocus}} @classNames={{this.controlClass}} @size={{@size}}
                      @maxlength={{@maxlength}}
                      @onChange={{this.update}} @placeholder={{@placeholder}} @value={{get @model @name}}
                      @dateOnly={{eq @type "date"}} @startDate={{@startDate}} />
    {{~else if (eq @type "editor")~}}
      <WysiwygEditor @text={{get @model @name}} @id={{this.domId}} @onChange={{this.update}}
                     @onLoadError={{this.editorLoadFailed}} />
    {{~else if (eq @type "search")~}}
      <AutocompleteInput @placeholder={{@placeholder}}
                         @onSearch={{@onSearch}}
                         @onSelect={{this.update}}
                         @onFocus={{@onFocus}}
                         @disabled={{@disabled}}
                         @autofocus={{@autofocus}}
                         @inputClass="{{this.controlClass}} {{if this.errorMessages "is-invalid"}}"
                         @text={{get @model @name}} as |item|>
        {{~item~}}
      </AutocompleteInput>
    {{~else~}}
      <input type={{@type}}
             value={{get @model @name}}
             name={{@name}}
             id={{this.domId}}
             class="{{this.controlClass}} {{if this.errorMessages "is-invalid"}}"
             placeholder={{@placeholder}}
             disabled={{@disabled}}
             autofocus={{@autofocus}}
             oninput={{action this.update value="target.value"}}
             maxlength={{@maxlength}}
             size={{@size}}
             autocomplete={{@autocomplete}}
             onfocus={{@onFocus}}
             inputmode={{@inputmode}}
      >
    {{/if~}}
    {{#if (has-block)}}
      {{yield}}
    {{/if}}
    {{#if @hint~}}
      <small class="form-text text-muted {{if (eq @type "textarea") "ml-2"}}">{{nl2br @hint}}</small>
    {{~/if~}}

    {{#each this.errorMessages as |msg|~}}
      <div class="text-danger">&bullet; {{msg}}</div>
    {{~/each~}}
  </div>
{{else}}
  {{#if @label~}}
    <label class={{this.labelClass}} for={{this.domId}}>{{@label}}</label>
  {{/if~}}

  {{#if (eq @type "checkboxGroup")}}
    <ChForm::CheckboxGroup @name={{@name}} @value={{get @model @name}} @options={{@options}} @cols={{@cols}}
                           @domId={{this.domId}}
                           @model={{@model}} @onUpdate={{this.update}} />
  {{else if (eq @type "radioGroup")~}}
    {{#each this.radioOptions as |option idx|~}}
      <div class={{this.wrapClass}}>
        <input type="radio"
               class={{this.controlClass}}
               id={{concat this.domId idx}}
               onclick={{action this.update option.value}}
               checked={{eq (get @model @name) option.value}}
               disabled={{@disabled}}
        >
        <label class={{this.labelClass}} for={{concat this.domId idx}}>{{option.label}}</label>
      </div>
    {{/each}}
  {{~else~}}
    Unknown field type [{{@type}}]
  {{~/if~}}
  {{~#if (has-block)~}}
    {{yield}}
  {{~/if~}}

  {{~#if @hint~}}
    <small class="form-text text-muted">{{nl2br @hint}}</small>
  {{~/if~}}

  {{~#each this.errorMessages as |msg|~}}
    <div class="text-danger is-invalid">&bullet; {{msg}}</div>
  {{~/each~}}
{{/if}}