<ChForm::WrapBlock @wrapClass={{this.wrapClass}}>
  {{#if @label~}}
    <label class={{this.labelClass}} for={{this.domId}}>{{@label}}</label>
  {{~/if~}}
  <ChForm::WrapBlock @wrapClass={{this.inputWrapClass}}>
    <div class="input-group">
      <input type={{if this.showPassword "text" "password"}}
             value={{this.modelValue}}
             name={{@name}}
             id={{this.domId}}
             class="{{this.controlClass}} {{if this.errorMessages "is-invalid"}} border-end-0"
             placeholder={{@placeholder}}
             disabled={{@disabled}}
             maxlength={{@maxlength}}
             size={{@size}}
             onfocus={{@onFocus}}
             inputmode={{@inputmode}}
             ...attributes
        {{on-insert this.inputInserted}}
        {{on "input" this.inputEvent}}
      >
      <a href {{action this.toggleShow}} class="input-group-text border-start-0 bg-white">
        {{#if this.showPassword}}
          {{fa-icon "eye" fixed=true}}
        {{else}}
          {{fa-icon "eye-slash" fixed=true}}
        {{/if}}
      </a>
    </div>
    {{#if (has-block)}}
      {{yield}}
    {{/if}}
    {{~#if @hint~}}
      <ChForm::Hint @hint={{@hint}} />
    {{~/if~}}
    {{#if @showCharCount}}
      <ChForm::CharCount @count={{this.charCount}} @length={{@maxlength}} />
    {{/if}}
    <ChForm::ErrorMessages @errorMessages={{this.errorMessages}} />
  </ChForm::WrapBlock>
</ChForm::WrapBlock>
