<select name={{@name}} class={{@controlClass}}
        size={{@size}} multiple={{@multiple}}
        disabled={{@disabled}} {{on "change" this.changeEvent}}>
  {{~#if @includeBlank~}}
    <option value="" selected={{is-empty @value}}>-</option>
  {{~/if~}}
  {{#each this.selectOptions as |opt|~}}
    {{#if opt.groupName}}
      <optgroup label={{opt.groupName}}>
        {{~#each opt.options as |groupOpt|~}}
          <option value={{groupOpt.value}}
                  selected={{ch-form/contains @value groupOpt.value}}>{{groupOpt.label}}</option>
        {{~/each~}}
      </optgroup>
    {{~else~}}
      <option value={{opt.value}} selected={{ch-form/contains @value opt.value}}>{{opt.label}}</option>
    {{~/if}}
  {{~/each~}}
</select>
