<YearSelect @title="Alpha / Mentor Pod Management"
            @year={{this.year}}
            @minYear={{2023}}
            @onChange={{set-value this 'year'}}
/>
<p>
  Click on the time to manage the Mentor &amp; Alpha pods. Only activated shifts are shown.
</p>

Showing {{pluralize this.slots.length "Alpha shift"}}.
{{#if this.slots}}
  <UiTable>
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Time</th>
      <th>Description</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.slots as |slot|}}
      <tr class="{{if (this.inProgress slot) "table-warning"}}">
        <td>
          {{#if (this.inProgress slot)}}
            {{fa-icon "arrow-right"}}
          {{/if}}
        </td>
        <td>
          <LinkTo @route="mentor.pod.manage" @model={{slot.id}}>{{shift-format slot.begins}}</LinkTo>
        </td>
        <td>
          {{slot.description}}
        </td>
        <td>
          {{#if (this.inProgress slot)}}
            In progress
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>

{{else}}
  <div class="mt-2 text-danger">
    No Alpha shifts were found. Either none have been created or activated yet.
  </div>
{{/if}}
