{{!template-lint-disable no-forbidden-elements}}
<style>
  @media print {
    @page {
      size: landscape;
    }
  }
</style>

<h1>Alpha Pods for {{shift-format this.slot.begins}} - {{this.slot.description}}</h1>
<div class="d-print-none">
  <p>
    <LinkTo @route="mentor.pod">Back to Alpha Pod Management Listing</LinkTo>
  </p>
  <p>
    <UiButton @onClick={{this.createPod}}>
      {{fa-icon "plus"}} Create Pod
    </UiButton>
    <UiButton @onClick={{this.toggleShowSortControls}} @type="secondary">
      {{if this.showSortControls "Hide" "Show"}} Sorting Controls
    </UiButton>
  </p>
  <p>
    Only the checked-in Alphas will be available to add into a pod. Click on the callsign to remove it.
  </p>
  <p>
    Use the Alpha Mentor Assignment page to assign mentors to alphas, and mark the Alphas as passed or bonked.
  </p>
</div>
{{#if this.pods}}
  {{#each this.podGroups as |group|}}
    <div class="table-responsive mt-4">
      <table class="table table-width-auto table-bordered">
        <thead>
        <tr>
          {{#each group as |pod|}}
            <th>
              <div class="d-flex justify-content-between">
                <div>Pod #{{pod.sort_index}}</div>
                <a href {{action this.removePod pod}} class="ps-4 d-block d-print-none small fw-normal">
                  Delete
                </a>
              </div>
              {{#if this.showSortControls}}
                <div class="d-flex justify-content-between">
                  {{#if (not-eq pod.sort_index 1)}}
                    <UiButton @onClick={{fn this.movePod pod -1}}
                              @size="sm"
                              @type="secondary"
                              class="d-block">
                      {{fa-icon "arrow-left"}}
                    </UiButton>
                  {{/if}}
                  {{#if (this.isNotLastPod pod)}}
                    <UiButton @onClick={{fn this.movePod pod 1}}
                              @size="sm"
                              @type="secondary"
                              class="d-block">
                      {{fa-icon "arrow-right"}}
                    </UiButton>
                  {{/if}}
                </div>
              {{/if}}
            </th>
          {{/each}}
        </tr>
        </thead>
        <tbody>
        <tr class="table-secondary">
          {{#each group as |pod|}}
            <td>
              <div class="d-flex justify-content-between align-items-center">
                <div class="fw-bold">Mentors ({{pod.person_count}})</div>
                <a href {{action this.addMentor pod}} class="ps-4 d-block d-print-none small">Add</a>
              </div>
            </td>
          {{/each}}
        </tr>
        <tr>
          {{#each group key="id" as |pod|}}
            <td>
              {{#if pod.people}}
                <ol class="no-indent">
                  {{#each pod.people key="id" as |mentor mentorIdx|}}
                    <li class="mb-2">
                      <div class="d-flex">
                        <Popover @title="Update Or Remove Mentor"
                                 @text={{mentor.callsign}}
                                 @onShow={{fn this.onMentorShow pod mentor}}
                                 class="d-block" as |po|>
                          <div class="d-flex justify-between">
                            <div class="border p-2">
                              <h5>Update Mentor</h5>
                              <p>
                                <Input @type="checkbox" @checked={{this.isLead}} class="form-check-input" id="islead"/>
                                <label for="islead">Is Lead Mentor</label>
                              </p>
                              <FormRow>
                                <FormLabel>
                                  Relocate to pod:
                                </FormLabel>
                                <div class="col-auto">
                                  <ChForm::Select @name="relocatePod"
                                                  @value={{this.podIndex}}
                                                  @options={{this.podOptions}}
                                                  @onChange={{action (mut this.podIndex)}}
                                  />
                                </div>
                              </FormRow>
                              <UiButton @onClick={{fn this.updatePerson pod mentor po.close}} @size="sm">
                                Update
                              </UiButton>
                            </div>
                            <div class="ms-2 border p-2">
                              <h5>Remove From Pod</h5>
                              <UiButton @onClick={{fn this.removePerson pod mentor po.close}}  @size="sm"
                                        @type="danger">
                                Remove Mentor
                              </UiButton>
                            </div>
                          </div>
                        </Popover>
                        {{#if mentor.is_lead}}
                          <span class="ms-1">(Lead)</span>
                        {{/if}}
                        <PodSortControls @pod={{pod}}
                                         @person={{mentor}}
                                         @index={{mentorIdx}}
                                         @showSortControls={{this.showSortControls}} />
                      </div>
                    </li>
                  {{/each}}
                </ol>
              {{else}}
                <span class="text-muted">No Mentors Yet</span>
              {{/if}}
            </td>
          {{/each}}
        </tr>
        <tr class="table-secondary">
          {{#each group key="id" as |pod|}}
            <td>
              <div class="d-flex justify-content-between align-items-center">
                <div class="fw-bold">MITtens ({{pod.mittenPod.person_count}})</div>
                <a href {{action this.addMITten pod.mittenPod}} class="ps-4 d-block d-print-none small">
                  Add
                </a>
              </div>
            </td>
          {{/each}}
        </tr>
        <tr>
          {{#each group key="id" as |pod|}}
            <td>
              {{#if pod.mittenPod.people}}
                <ol class="no-indent">
                  {{#each pod.mittenPod.people key="id" as |mitten mittenIdx|}}
                    <li class="mb-2">
                      <div class="d-flex">
                        <Popover @title="Update or Remove MITten"
                                 @text={{mitten.callsign}}
                                 @onShow={{fn this.onMITtenShow pod.mittenPod mitten}}
                                 class="d-block" as |po|>
                          <div class="d-flex justify-between">
                            <div>
                              <FormRow>
                                <FormLabel>
                                  Relocate to pod:
                                </FormLabel>
                                <div class="col-auto">
                                  <ChForm::Select @name="relocatePod"
                                                  @value={{this.podIndex}}
                                                  @options={{this.podOptions}}
                                                  @onChange={{action (mut this.podIndex)}}
                                  />
                                </div>
                              </FormRow>
                              <UiButton @onClick={{fn this.updatePerson pod.mittenPod mitten po.close}} @size="sm">
                                Update
                              </UiButton>
                            </div>
                            <div class="ms-2 border p-2">
                              <UiButton @onClick={{fn this.removePerson pod.mittenPod mitten}} @size="sm"
                                        @type="danger">
                                Remove MITTen From Pod
                              </UiButton>
                            </div>
                          </div>
                        </Popover>
                        <PodSortControls @pod={{pod.mittenPod}}
                                         @person={{mitten}}
                                         @index={{mittenIdx}}
                                         @showSortControls={{this.showSortControls}} />
                      </div>
                    </li>
                  {{/each}}
                </ol>
              {{else}}
                <div class="text-muted">No MITtens yet</div>
              {{/if}}
            </td>
          {{/each}}
        </tr>
        <tr class="table-secondary">
          {{#each group key="id" as |pod|}}
            <td>
              <div class="d-flex justify-content-between align-items-center">
                <div class="fw-bold">
                  Alphas ({{pod.alphaPod.person_count}})
                </div>
                <a href {{action this.addAlpha pod.alphaPod}} class="ps-4 d-block d-print-none small">
                  Add
                </a>
              </div>
            </td>
          {{/each}}
        </tr>
        <tr>
          {{#each group key="id" as |pod|}}
            <td class="ps-2">
              {{#if pod.alphaPod.people}}
                <ol class="no-indent">
                  {{#each pod.alphaPod.people key="id" as |alpha alphaIdx|}}
                    <li class="mb-3">
                      <div class="d-flex">
                        <Popover @title="Relocate Or Remove {{alpha.callsign}}"
                                 @text={{alpha.callsign}}
                                 @onShow={{fn this.onAlphaShow pod.alphaPod alpha}}
                                 as |po|
                        >
                          <div class="d-flex justify-between">
                            <div class="border p-2">
                              <FormRow>
                                <FormLabel>
                                  Relocate to pod:
                                </FormLabel>
                                <div class="col-auto">
                                  <ChForm::Select @name="relocatePod"
                                                  @value={{this.podIndex}}
                                                  @options={{this.podOptions}}
                                                  @onChange={{action (mut this.podIndex)}}
                                  />
                                </div>
                              </FormRow>
                              <UiButton @onClick={{fn this.updatePerson pod.alphaPod alpha po.close}} @size="sm">
                                Update
                              </UiButton>
                            </div>
                            <div class="ms-2 border p-2">
                              <UiButton @onClick={{fn this.removePerson pod.alphaPod alpha}} @size="sm" @type="danger">
                                Remove Alpha
                              </UiButton>
                            </div>
                          </div>
                        </Popover>
                        <PodSortControls @pod={{pod.alphaPod}}
                                         @person={{alpha}}
                                         @index={{alphaIdx}}
                                         @showSortControls={{this.showSortControls}} />
                      </div>
                    </li>
                  {{/each}}
                </ol>
              {{else}}
                <span class="text-muted">No Alphas Yet</span>
              {{/if}}
            </td>
          {{/each}}
        </tr>
        </tbody>
      </table>
    </div>
  {{/each}}
{{else}}
  <div class="text-danger fs-4">No pods have been created yet.</div>
{{/if}}
{{#if this.showAddDialog}}
  <ModalDialog @onEscape={{this.closeAddDialog}} @position="top" @size="xl" as |Modal|>
    <Modal.title>Add People to Pod #{{this.addPod.sort_index}}</Modal.title>
    <ChForm @formId="callsign" @formFor={{this.callsignForm}} @onSubmit={{this.addPerson}} as |f|>
      <Modal.body>
        <p>
          Select all the callsigns to add to Pod #{{this.addPod.sort_index}}.
          {{#if (eq this.addType "Alpha")}}
            The Alpha check-in time is appended to the callsign for reference.
          {{/if}}
        </p>
        {{#if (eq this.addType "Mentor")}}
          <FormRow>
            <div class="col-auto">
              <f.checkbox @name="is_lead" @label="Is Lead Mentor"/>
            </div>
          </FormRow>
        {{/if}}
        <fieldset>
          <legend>
            {{#if (eq this.addType "Alpha")}}
              Checked-In Alphas with -1 hour and +2 hours of shift start.
            {{else}}
              Checked-In {{this.addType}}s within -/+ 1 hour of shift start ({{dayjs-format this.slot.begins "HH:mm"}}).
            {{/if}}
          </legend>
          <FormRow>
            <FormLabel>
            </FormLabel>
            <div class="col-auto">
              {{#if this.onDutyOptions}}
                <f.checkboxGroup @name="onduty" @options={{this.onDutyOptions}} @cols={{4}} />
              {{else if (eq this.addType "Alpha")}}
                No checked-In Alphas with -1 hour and +2 hours of shift start.
              {{else}}
                No checked-in {{this.addType}}s were found with -/+ 1 hour of shift.
              {{/if}}
            </div>
          </FormRow>
        </fieldset>
        <fieldset>
          <legend>Other Checked-In {{this.addType}}s</legend>
          <FormRow>
            <div class="col-auto">
              {{#if this.offDutyOptions}}
                <a href {{action this.toggleOffDuty}} class="d-block mb-2">
                  {{if this.showOffDuty "Hide" "Show" }} {{pluralize this.offDutyOptions.length
                                                                     (concat "Other " this.addType)}}
                </a>

                {{#if this.showOffDuty}}
                  <f.checkboxGroup @name="offduty" @options={{this.offDutyOptions}} @cols={{4}} />
                {{/if}}
              {{else}}
                No other {{this.addType}}s were found.
              {{/if}}
            </div>
          </FormRow>
        </fieldset>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="Add {{this.addType}}s" @disabled={{and (not f.model.offduty) (not f.model.onduty)}} />
        <UiCancelButton @onClick={{this.closeAddDialog}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.isSubmitting}}
  <LoadingDialog>
    Submitting request
  </LoadingDialog>
{{/if}}