<UiSection>
  <:title>Access Documents (Tickets,Vehicle Passes, WAPs)</:title>
  <:body>
    Showing {{if this.isShowingAll "ALL including used and expired" "current"}}
    {{pluralize this.documents.length "access document"}}
    <UiTable>
      <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Status</th>
        <th>Delivery</th>
        <th>Access Date</th>
        <th>Source Year</th>
        <th>Expires in</th>
      </tr>
      </thead>
      <tbody>
      {{#each this.documents key="id" as |document|}}
        <tr>
          <td><a href {{action this.editAccessDocument document}}>RAD-{{document.id}}</a></td>
          <td>
            {{document.typeLabel}}
            {{#if document.isWAPSO}}
              <br>
              for {{if document.name document.name "not given"}}
            {{/if}}
          </td>
          <td>{{document.status}}</td>
          <td>{{document.deliveryMethodLabel}}</td>
          <td>
            {{#if document.access_any_time}}
              Any
            {{else if document.access_date}}
              {{dayjs-format document.access_date "ddd MM/DD/YY"}}
            {{else}}
              -
            {{/if}}
          </td>
          <td class="text-end">
            {{document.source_year}}
          </td>
          <td class="text-end">
            {{document.expiryYear}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="7" class="text-danger">No current/non-expired item records were found.</td>
        </tr>
      {{/each}}
      </tbody>
    </UiTable>
    <UiButton @onClick={{this.newAccessDocument}}>
      {{fa-icon "plus"}} New Access Document
    </UiButton>

    <UiButton @type="secondary" @onClick={{this.showAction}} disabled={{this.isLoading}}>
      {{#if this.isLoading}}
        <LoadingIndicator @text="Loading"/>
      {{else}}
        Show {{if this.isShowingAll "Current" "All"}} Access Documents
      {{/if}}
    </UiButton>
  </:body>
</UiSection>

{{#if this.entry}}
  <ModalDialog @title="{{if this.entry.isNew "Create A New" "Edit"}} Access Document For {{@person.callsign}}"
               @onEscape={{this.cancelAccessDocument}}
               as |Modal|>
    <ChForm @formId="entry"
            @formFor={{this.entry}}
            @onSubmit={{this.saveAccessDocument}} as |f|>
      <Modal.body>
        <FormRow>
          <f.select @name="type"
                    @label="Type"
                    @options={{this.typeOptions}}/>
          <f.select @name="status"
                    @label="Status"
                    @options={{this.statusOptions}}/>
          <f.select @name="source_year"
                    @options={{this.yearOptions}}
                    @label="Source Year"/>
          <f.select @name="expiry_year"
                    @options={{this.yearOptions}}
                    @label="Good Through"/>
          <f.select @name="delivery_method"
                    @label="Delivery Method"
                    @options={{this.deliveryMethodOptions}}/>
        </FormRow>
        {{#if (or
                (eq f.model.type "work_access_pass")
                (eq f.model.type "work_access_pass_so")
                (eq f.model.type "staff_credential")
              )}}
          <FormRow>
            <f.select @name="admission_date"
                      @label="Access Date"
                      @options={{this.admissionDateOptions}}/>
            {{#if (eq f.model.type "work_access_pass_so")}}
              <f.text @name="name" @label="SAP SO Name" @size={{40}} @grid="col-auto"/>
            {{/if}}
          </FormRow>
        {{/if}}

        {{#if (or
                (eq f.model.type "gift_ticket")
                (eq f.model.type "special_price_ticket")
                (eq f.model.type "vehicle_pass_gift")
                (eq f.model.type "vehicle_pass_sp")
              )}}
          {{#if this.isTicketingOpen}}
            <p class="text-danger">
              NOTE: Ticketing is still open. The delivery method may be overridden
              by the end user for all un-submitted deliverable items.
            </p>
          {{/if}}
        {{/if}}
        {{#if (or
                (eq f.model.type "lsd_ticket")
                (eq f.model.type "vehicle_pass_lsd")
              )}}
          <p class="text-danger">
            Any qualified (status) LSD item will be updated to status claimed. End-users may only see LSD items are
            available. An upload LSD item indicates the person has stated they want the goodies.
          </p>
        {{/if}}
        {{#unless this.entry.isNew}}
          Comments:
          <div class="my-2">
            {{#if this.entry.comments}}
              {{nl2br this.entry.comments}}
            {{else}}
              <i>no comments yet.</i>
            {{/if}}
          </div>
        {{/unless}}
        <FormRow>
          <f.textarea @name="additional_comments"
                      @label="Additional Comments"
                      @rows={{4}}
                      @cols={{80}}
                      @hint="(Your callsign and today's date will be automatically added to any additional comments provided.)"/>
        </FormRow>
        {{#unless this.entry.isNew}}
          Last Modified: {{this.entry.updated_at}}
          Created: {{this.entry.created_at}}
        {{/unless}}
        {{#if this.showingChanges}}
          <div class="mt-2">
            {{#if this.entryChanges}}
              <UiTable>
                <thead>
                <tr>
                  <th>Timestamp (UTC-7)</th>
                  <th>Who</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {{#each this.entryChanges as |row|}}
                  <tr>
                    <td>{{row.created_at}}</td>
                    <td>
                      <PersonLink @personId={{row.person_id}} @callsign={{row.callsign}} />
                    </td>
                    <td>
                      <b>{{row.operation}}</b>
                      {{#each (this.changeArray row) as |change|}}
                        <div>
                          {{change.column}}: <i>{{change.oldValue}}</i> <span class="text-muted">{{fa-icon "arrow-right"}}</span>
                          <i>{{change.newValue}}</i>
                        </div>
                      {{/each}}
                    </td>
                  </tr>
                {{/each}}
                </tbody>
              </UiTable>
            {{else}}
              <span class="text-danger">No changes have been recorded.</span>
            {{/if}}
          </div>
        {{/if}}
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label={{if this.entry.isNew "Create" "Update"}}
                  @disabled={{this.entry.isSaving}} />
        {{#unless this.entry.isNew}}
          <UiButton @onClick={{this.toggleChanges}} @type="secondary">
            {{#if this.showingChanges}}
              Hide Changes
            {{else}}
              Show Changes
            {{/if}}
          </UiButton>
        {{/unless}}
        <UiCancelButton @disabled={{this.entry.isSaving}}
                        @onClick={{this.cancelAccessDocument}} />
        {{#if this.entry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
        {{#unless this.entry.isNew}}
          <UiButton @type="danger" @class="ms-auto"
                    @onClick={{fn this.deleteAccessDocument this.entry}}
                    @disabled={{this.entry.isSaving}}>
            {{fa-icon "trash"}} Delete
          </UiButton>
        {{/unless}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
