<ChForm @formId="person" @formFor={{@person}} @onSubmit={{this.saveAction}} as |f|>
  <p class="m-2">
    Supply your emergency contact information for both on-playa and off-playa contacts.<br>
    <strong>Off-Playa:</strong>
    Their name, relationship to you (partner, friend, sibling, parent, etc.), a phone number, and email.<br>

    <strong>On-Playa:</strong>
    Their playa name, real-world name, relationship, camp location and camp description.<br>
  </p>
  <FormRow>
    <f.textarea @name="emergency_contact"
             @label="Emergency Contact Information:"
             @rows={{10}}
             @cols={{80}}/>
  </FormRow>
  <f.submit @label="Update" @disabled={{@person.isSaving}} />
  <UiCancelButton @disabled={{@person.isSaving}} @onClick={{@onCancel}} />
  {{#if @person.isSaving}}
    <LoadingIndicator/>
  {{else if this.isSaved}}
    {{fa-icon "check" color="success"}}
  {{/if}}
</ChForm>
