{{!
The Admin, Mentor, and VC form. Not all team may every field listed here.

Everyone else will see person/simple-form
}}
{{#if (has-role "admin" "vc" "view-pii" "view-email")}}
  <div class="row mb-1">
    <div class="col-sm-6 col-lg-auto">
      email {{#if @person.email}}
      {{mail-to @person.email}}
    {{else}}
      <i class="text-muted">missing</i>
    {{/if}}
    </div>
    {{#if (has-role "admin" "vc" "view-pii")}}
      <div class="col-sm-6 col-lg-auto">
        phone
        {{#if @person.home_phone}}
          {{phone-link @person.home_phone}}
        {{else}}
          n/a
        {{/if}}
      </div>
      {{#if @person.alt_phone}}
        <div class="col-sm-6 col-lg-auto">
          alt phone {{phone-link @person.alt_phone}}
        </div>
      {{/if}}
    {{/if}}
  </div>
  <div class="row mb-1">
    <div class="col-sm-6 col-lg-auto">
      Last seen
      {{#if @person.last_seen_at}}
        {{moment-format @person.last_seen_at "MMM DD, YYYY @ HH:mm"}}
      {{else}}
        <i>never</i>
      {{/if}}
    </div>
    <div class="col-sm-6 col-lg-auto">
      Created
      {{#if @person.create_date}}
        {{moment-format @person.create_date "MMM DD, YYYY @ HH:mm"}}
      {{else}}
        <i>prior to 2010</i>
      {{/if}}
    </div>
  </div>
{{/if}}
<div class="row mb-3">
  <div class="col-auto">
    {{#if @person.non_ranger_years}}
      Non Ranger volunteer work:
      {{pluralize @person.non_ranger_years.length 'year'}} [{{year-range @person.non_ranger_years}}]<br>
      Ranger work:
      {{#if @person.rangered_years}}
        {{pluralize @person.rangered_years.length 'year'}} [{{year-range @person.rangered_years}}]
      {{else}}
        <i>none</i>
      {{/if}}
    {{else if @person.years}}
      {{pluralize @person.years.length 'year'}} worked [{{year-range @person.years}}]
    {{else}}
      Has not worked yet
    {{/if}}
  </div>
</div>

<ChForm @formId="person" @formFor={{@person}} @onSubmit={{action @savePersonAction}} as |f|>
  <div class="form-row mb-2">
    <label class="col-form-label col-form-label-fixed">Callsign</label>
    <f.input @name="callsign" @type="text" @size=36 @maxlength=100 @wrapClass="col-sm-12 col-lg-auto"/>
    <f.input @name="callsign_approved" @type="select" @wrapClass="col-sm-12 col-lg-auto"
             @options={{@callsignApprovedOptions}} />
  </div>

  <div class="form-row mb-2">
    <label class="col-form-label col-form-label-fixed">FKA</label>
    <f.input @name="formerly_known_as" @type="text" @size=55 @maxlength=200 @wrapClass="col-sm-12 col-lg-auto"/>
  </div>

  <div class="form-row mb-2">
    <label class="col-form-label col-form-label-fixed">Status</label>
    <f.input @name="status" @type="select" @options={{@statusOptions}} @wrapClass="col-auto"/>
  </div>

  <div class="form-row mb-1">
    <label class="col-form-label col-form-label-fixed">Personnel</label>
    {{#if (has-role "admin")}}
      <div class="col-auto mt-2">
        <f.input @name="has_note_on_file" @label="Note on file" @value=1 @type="checkbox" @inline={{true}}/>
      </div>
    {{else}}
      <div class="mt-2 col-auto">
        {{#if @person.has_note_on_file}}
          <b class="text-danger">Note on file</b>
        {{else}}
          <i class="text-muted">no note on file</i>
        {{/if}}
      </div>
    {{/if}}
  </div>

  <div class="form-row mb-1">
    <label class="col-form-label col-form-label-fixed">On Site</label>
    <div class="col-auto mt-2">
      <f.input @name="on_site" @type="radioGroup" @options={{@onSiteOptions }} @inline={{true}} />
    </div>
  </div>


  <div class="form-row mb-1">
    <label for="person_position" class="col-form-label col-form-label-fixed">Positions</label>
    <div class="col-sm-12 col-lg-9">
      <div class="row col-12 mt-1 mb-1">
        <button type="button" {{action @togglePositions}} class="btn btn-secondary btn-sm mr-2">
          {{if @showPositions "Hide" "Show"}} Positions
        </button>
        {{#if (has-role "admin" "grant-position")}}
          <button type="button" {{action @editPositionsAction}} class="btn btn-secondary btn-sm">
            Edit Positions
          </button>
        {{/if}}
      </div>
      {{#unless @personPositions}}
        <b class="text-danger">No positions granted</b>
      {{/unless}}
      {{#if @showPositions}}
        <div class="row">
          {{#each @personPositions as |position| }}
            <div class="col-sm-6 col-xl-4">
              {{position-label position}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>

  <div class="form-row mb-1">
    <label class="col-form-label col-form-label-fixed">Roles</label>
    <div class="col-sm-12 col-lg-9">
      <div class="row col-12 mt-1 mb-1">
        <button type="button" {{action @toggleRoles}} class="btn btn-secondary btn-sm mr-2">
          {{if @showRoles "Hide" "Show"}} Roles
        </button>
        {{#if (has-role "admin")}}
          <button type="button" {{action @editRolesAction}} class="btn btn-secondary btn-sm">Edit Roles</button>
        {{/if}}
      </div>
      {{#unless @personRoles}}
        <b class="text-danger">No roles granted</b>
      {{/unless}}
      {{#if @showRoles}}
        <div class="row">
          {{#each @personRoles as |role| }}
            <div class="col-sm-6 col-xl-4">
              {{role.title}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>

  <div class="form-row mb-1">
    <label class="col-form-label col-form-label-fixed">Vehicles</label>
    <div class="col-sm-12 col-lg-auto mt-2">
      {{#if (has-role "admin")}}
        <f.input @name="vehicle_blacklisted" @label="Vehicle Blacklisted" @type="checkbox" @inline={{true}} />
      {{else if @person.vehicle_blacklisted}}
        <b class="text-danger">VEHICLE BLACKLISTED</b>
      {{else}}
        <i>No blacklisted vehicle</i>
      {{/if}}
    </div>
  </div>


  <div class="form-row mb-1">
    <label class="col-form-label col-form-label-fixed">Certifications</label>
    <div class="col-sm-12 col-lg-auto mt-2">
      {{#if (has-role "admin" "vc")}}
        <f.input @name="osha10" @label="OSHA-10" @type="checkbox" @inline={{true}}  />
        <f.input @name="osha30" @label="OSHA-30" @type="checkbox" @inline={{true}}  />
      {{else if (or @person.osha10 @person.osha30)}}
        {{#if @person.osha10}}OSHA-10{{/if}}
        {{#if @person.osha30}}OSHA-30{{/if}}
      {{else}}
        No OSHA certifications
      {{/if}}
    </div>
  </div>

  <div class="form-row mb-1">
    <label class="col-form-label col-form-label-fixed">Agreements</label>
    <div class="col-sm-12 col-lg-9 mt-2">
      {{#if (has-role "admin" "vc")}}
        <f.input @name="behavioral_agreement" @label="Burning Man's Behavioral Standards Agreement" @type="checkbox"
                 @inline={{true}} />
      {{else}}
        Behavioral Standards Agreement {{if @person.behavioral_agreement "signed" "NOT SIGNED"}}<br>
      {{/if}}
    </div>
  </div>

  <div class="form-row mb-1">
    <label class="col-form-label col-form-label-fixed">More Flags</label>
    <div class="col-sm-12 col-lg-9 mt-2">
      <LinkTo @route="person.event-info">Person &gt; Event/Training Info</LinkTo>
      has additional agreements, affidavits, and vehicles flags which are reset every year.
    </div>
  </div>

  <div class="form-row mt-2">
    <label class="col-form-label col-form-label-fixed">&nbsp;</label>
    <div class="col-sm-12 col-lg-auto mb-4">
      <f.submit @label="Update" @disabled={{or @person.isSaving (not f.model.isDirty)}} @submitClass="btn-responsive"/>
    </div>
    <div class="col-sm-12 col-lg-auto mb-4">
      {{#if (has-role "admin")}}
        {{#if @person.message}}
          <button type="button" class="btn btn-secondary btn-responsive" {{action @editNote}}>
            Update Note
          </button>
        {{else}}
          <button type="button" class="btn btn-secondary btn-responsive" {{action @confirmNoteOrMessage}}>
            Add Note
          </button>
        {{/if}}
      {{/if}}
      {{#if @person.isSaving}}
        <p>
          <LoadingIndicator/>
        </p>
      {{/if}}
    </div>
    {{#if (has-role "admin")}}
      <div class="col-sm-12 col-lg-auto ml-auto mt-1">
        <button type="button" class="btn btn-secondary btn-sm" {{action @removePersonAction}}>Remove</button>
      </div>
    {{/if}}
  </div>
</ChForm>
