{{!
The Admin, Mentor, and VC form.
Everyone else will see person/simple-form
}}
{{#if (has-role "admin" "vc" "view-pii" "view-email")}}
  <div class="row mb-1">
    <div class="col-sm-6 col-lg-auto">
      email {{#if @person.email}}
      {{mail-to @person.email}}
    {{else}}
      <i class="text-muted">missing</i>
    {{/if}}
    </div>
    {{#if (has-role "admin" "vc" "view-pii")}}
      <div class="col-sm-6 col-lg-auto">
        phone
        {{#if @person.home_phone}}
          {{phone-link @person.home_phone}}
        {{else}}
          n/a
        {{/if}}
      </div>
      {{#if @person.alt_phone}}
        <div class="col-sm-6 col-lg-auto">
          alt phone {{phone-link @person.alt_phone}}
        </div>
      {{/if}}
    {{/if}}
  </div>
  <div class="row mb-1">
    <div class="col-sm-6 col-lg-auto">
      Last seen
      {{#if @person.last_seen_at}}
        {{dayjs-format @person.last_seen_at "MMM DD, YYYY @ HH:mm"}}
      {{else}}
        <i>never</i>
      {{/if}}
    </div>
    <div class="col-sm-6 col-lg-auto">
      Created
      {{#if @person.create_date}}
        {{dayjs-format @person.create_date "MMM DD, YYYY @ HH:mm"}}
      {{else}}
        <i>prior to 2010</i>
      {{/if}}
    </div>
  </div>
{{/if}}
<div class="row mb-3">
  <div class="col-auto">
    {{#if @person.non_ranger_years}}
      Non Ranger volunteer work:
      {{pluralize @person.non_ranger_years.length 'year'}} [{{year-range @person.non_ranger_years}}]<br>
      Ranger work:
      {{#if @person.rangered_years}}
        {{pluralize @person.rangered_years.length 'year'}} [{{year-range @person.rangered_years}}]
      {{else}}
        <i>none</i>
      {{/if}}
    {{else if @person.years}}
      {{pluralize @person.years.length 'year'}} worked [{{year-range @person.years}}]
    {{else}}
      Has not worked yet
    {{/if}}
  </div>
</div>

<ChForm @formId="person" @formFor={{@person}} @onSubmit={{action @savePersonAction}} as |f|>
  <FormRow>
    <FormLabel @fixed={{true}}>Callsign</FormLabel>
    <f.text @name="callsign"
            @size={{36}}
            @maxlength={{100}}/>
    <f.select @name="callsign_approved"
              @options={{@callsignApprovedOptions}}/>
  </FormRow>

  <FormRow>
    <FormLabel @fixed={{true}}>FKA</FormLabel>
    <f.text @name="formerly_known_as"
            @size={{55}}
            @maxlength={{200}}/>
  </FormRow>

  <FormRow>
    <FormLabel @fixed={{true}}>Status</FormLabel>
    <f.select @name="status"
              @options={{@statusOptions}}/>
  </FormRow>

  <FormRow>
    <FormLabel @fixed={{true}}>Personnel</FormLabel>
    <div class="col-auto mt-2">
      {{#if (has-role "admin")}}
        <f.checkbox @name="has_note_on_file" @label="Note on file" @value={{1}} />
      {{else}}
        {{#if @person.has_note_on_file}}
          <b class="text-danger">Note on file</b>
        {{else}}
          <i class="text-muted">no note on file</i>
        {{/if}}
      {{/if}}
    </div>
  </FormRow>

  <FormRow>
    <FormLabel @fixed={{true}}>On Site</FormLabel>
    <div class="col-auto mt-2">
      <f.radioGroup @name="on_site"
                    @options={{@onSiteOptions }}
                    @inline={{true}}/>
    </div>
  </FormRow>


  <FormRow>
    <FormLabel @fixed={{true}}>Positions</FormLabel>
    <div class="col-sm-12 col-lg-10">
      <UiButton @type="secondary" @size="sm" @class="mr-2" @onClick={{@togglePositions}}>
        {{if @showPositions "Hide" "Show"}} Positions
      </UiButton>
      {{#if (has-role "admin" "grant-position")}}
        <UiButton @type="secondary" @onClick={{@editPositionsAction}} @size="sm">
          Edit Positions
        </UiButton>
      {{/if}}
      {{#unless @personPositions}}
        <b class="text-danger">No positions granted</b>
      {{/unless}}
      {{#if @showPositions}}
        <div class="masonry-container">
          {{#each @personPositions as |position| }}
            <div class="masonry-item">
              {{position-label position}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </FormRow>

  <FormRow>
    <FormLabel @fixed={{true}}>Roles</FormLabel>
    <div class="col-sm-12 col-lg-10">
      <UiButton @type="secondary" @onClick={{@toggleRoles}} @size="sm">
        {{if @showRoles "Hide" "Show"}} Roles
      </UiButton>
      {{#if (has-role "admin")}}
        <UiButton @type="secondary" @onClick={{@editRolesAction}} @class="ms-2" @size="sm">
          Edit Roles
        </UiButton>
      {{/if}}
      {{#unless @personRoles}}
        <b class="text-danger">No roles granted</b>
      {{/unless}}
      {{#if @showRoles}}
        <div class="masonry-container">
          {{#each @personRoles as |role| }}
            <div class="masonry-item">
              {{role.title}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </FormRow>

  <FormRow>
    <FormLabel @fixed={{true}}>Vehicles</FormLabel>
    <div class="col-sm-12 col-lg-auto mt-2">
      {{#if (has-role "admin")}}
        <f.checkbox @name="vehicle_blacklisted"
                    @label="Vehicle Blacklisted"/>
      {{else if @person.vehicle_blacklisted}}
        <b class="text-danger">VEHICLE BLACKLISTED</b>
      {{else}}
        <i>No blacklisted vehicle</i>
      {{/if}}
    </div>
  </FormRow>


  <FormRow>
    <FormLabel @fixed={{true}}>Certifications</FormLabel>
    <div class="col-sm-12 col-lg-auto mt-2">
      {{#if (has-role "admin" "vc")}}
        <f.checkbox @name="osha10"
                    @label="OSHA-10"/>
        <f.checkbox @name="osha30"
                    @label="OSHA-30"/>
      {{else if (or @person.osha10 @person.osha30)}}
        {{#if @person.osha10}}OSHA-10{{/if}}
        {{#if @person.osha30}}OSHA-30{{/if}}
      {{else}}
        No OSHA certifications
      {{/if}}
    </div>
  </FormRow>

  <FormRow>
    <FormLabel @fixed={{true}}>Agreements</FormLabel>
    <div class="col-sm-12 col-lg-auto mt-2">
      {{#if (has-role "admin" "vc")}}
        <f.checkbox @name="behavioral_agreement"
                    @label="Burning Man's Behavioral Standards Agreement"/>
      {{else}}
        Behavioral Standards Agreement {{if @person.behavioral_agreement "signed" "NOT SIGNED"}}<br>
      {{/if}}
    </div>
  </FormRow>

  <FormRow>
    <FormLabel @fixed={{true}}>More Flags</FormLabel>
    <div class="col-sm-12 col-lg-10 mt-2">
      <LinkTo @route="person.event-info">Person &gt; Event/Training Info</LinkTo>
      has additional agreements, affidavits, and vehicles flags which are reset every year.
    </div>
  </FormRow>

  <FormRow>
    <FormLabel @fixed={{true}}>&nbsp;</FormLabel>
    <div class="col-sm-12 col-lg-auto mb-4">
      <f.submit @label="Update" @disabled={{or @person.isSaving (not f.model.isDirty)}} @submitClass="btn-responsive"/>
    </div>
    <div class="col-sm-12 col-lg-auto mb-4">
      {{#if (has-role "admin")}}
        {{#if @person.message}}
          <UiButton @type="secondary" @class="btn-responsive" @onClick={{@editNote}}>
            Update Note
          </UiButton>
        {{else}}
          <UiButton @type="secondary" @class="btn-responsive" @onClick={{@confirmNoteOrMessage}}>
            Add Note
          </UiButton>
        {{/if}}
      {{/if}}
      {{#if @person.isSaving}}
        <p>
          <LoadingIndicator/>
        </p>
      {{/if}}
    </div>
    {{#if (has-role "admin")}}
      <div class="col-sm-12 col-lg-auto ms-auto mt-1">
        <UiButton @type="secondary" @size="sm" @onClick={{@removePersonAction}}>Remove</UiButton>
      </div>
    {{/if}}
  </FormRow>
</ChForm>
