<ModalDialog @title="Edit Permissions" @onEscape={{@onCancel}} as |Modal|>
  <ChForm @formId="roles"
          @formFor={{this.roleForm}}
          @onSubmit={{this.save}} as |f|>
    <Modal.body>
      <b class="text-danger">Manual permission grants are discouraged.</b> The recommendation is to have the person belong
      to a Clubhouse Team, or have a position granted, that has the desired permission associated.
      <UiTable>
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Permission</th>
          <th>Assigned Thru Team(s)?</th>
          <th>Assigned Thru Position(s)?</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.roles as |role|}}
          <tr>
            <td>
              <Input @type="checkbox"
                     id="role-{{role.id}}"
                     class="form-check-input"
                     @checked={{role.selected}}
                     disabled={{role.disabled}}
                {{on "change" (fn this.clickRole role)}}
              />
            </td>
            <td>
              <label for="role-{{role.id}}" class="form-check-label">
                {{role.title}}
              </label>
            </td>
            {{#if role.disabled}}
              <td class="text-muted" colspan="3">
                Contact Tech Team to assign/remove
              </td>
            {{else}}
              <td>
                {{#each role.teams as |team idx|}}
                  {{#if idx}}<br>{{/if}}
                  {{team.title}}
                {{else}}
                  <i class="text-muted">None</i>
                {{/each}}
              </td>
              <td>
                {{#each role.positions as |position idx|}}
                  {{#if idx}}<br>{{/if}}
                  {{position.title}}
                {{else}}
                  <i class="text-muted">None</i>
                {{/each}}
              </td>
            {{/if}}
          </tr>
        {{/each}}
        </tbody>
      </UiTable>
    </Modal.body>
    <Modal.footer @align="start">
      <f.submit @label="Update" @disabled={{@isSaving}} />
      <UiCancelButton @onClick={{@onCancel}} @disabled={{@isSaving}} />
      {{#if @isSaving}}
        <LoadingIndicator/>
      {{/if}}
    </Modal.footer>
  </ChForm>
</ModalDialog>
