<ModalDialog @title="Edit Roles" @onEscape={{@onCancel}} as |Modal|>
  <ChForm @formId="roles"
          @formFor={{this.roleForm}}
          @onSubmit={{this.save}} as |f|>
    <Modal.body>
      <div class="masonry-container masonry-border">
        {{#each this.roles as |role|}}
          <div class="masonry-item">
            <div class="form-check">
              <Input @type="checkbox"
                     id="role-{{role.id}}"
                     class="form-check-input"
                     @checked={{role.selected}}
                     disabled={{role.disabled}}
                {{on "change" (fn this.clickRole role)}}
              />
              <label for="role-{{role.id}}" class="form-check-label">
                {{role.title}}
                {{#if role.disabled}}
                  <div class="text-muted small">Contact Tech Team to grant/revoke</div>
                {{/if}}
              </label>

              {{#if role.positions}}
                <div class="ms-1">
                  <div class="text-danger">Granted thru {{pluralize role.positions.length "position"}}:</div>
                  <ul>
                    {{#each role.positions as |position|}}
                      <li>{{position.title}}</li>
                    {{/each}}
                  </ul>
                </div>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <f.submit @label="Update" @disabled={{@isSaving}} />
      <UiCancelButton @onClick={{@onCancel}} @disabled={{@isSaving}} />
      {{#if @isSaving}}
        <LoadingIndicator/>
      {{/if}}
    </Modal.footer>
  </ChForm>
</ModalDialog>
