<ModalDialog @title="Edit Roles" @onEscape={{@onCancel}} as |Modal|>
  <ChForm @formId="roles" @formFor={{this.roleForm}} @onSubmit={{this.save}} as |f|>
    <Modal.body>
      <FormRow>
        <div class="col-auto">
          <f.checkboxGroup
            @name="roleIds"
            @options={{this.roleOptions}}
          />
        </div>
      </FormRow>
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <f.submit @label="Update" @disabled={{@isSaving}} />
      <UiCancelButton @onClick={{@onCancel}} @disabled={{@isSaving}} />
      {{#if @isSaving}}
        <LoadingIndicator/>
      {{/if}}
    </Modal.footer>
  </ChForm>
</ModalDialog>
