<ModalDialog @title="Edit Roles" as |Modal|>
  <ChForm @formId="roles" @originalModel={{this.roleForm}} @onSubmit={{this.save}} @onCancel={{@onCancel}} as |f|>
    <Modal.body>
      <div class="form-row">
        <f.input @name="roleIds" @type="checkboxGroup" @wrapClass="form-row" @options={{this.roleOptions}} />
      </div>
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <f.submit @label="Update" @disabled={{@isSaving}} />
      <f.cancel @disabled={{@isSaving}} />
      {{#if @isSaving}}
        <LoadingIndicator/>
      {{/if}}
    </Modal.footer>
  </ChForm>
</ModalDialog>
