{{#if this.isLoading}}
  <LoadingIndicator @text="Loading the scheduling audit log"/>
{{else}}
  {{fa-icon "times" color="danger"}} = Person is no longer signed up for the shift.
  <UiTable>
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Start</th>
      <th>Position / Description</th>
      <th>Added On/By</th>
      <th>Removed On/By</th>
    </tr>
    </thead>
    <tbody>
    {{#if this.isBefore2019}}
      <tr>
        <td colspan="6">Sorry, the scheduling audit log is only available for 2019 and later years.</td>
      </tr>
    {{else}}
      {{#each this.auditLogs as |entry|}}
        <tr>
          <td>
            {{#if entry.no_signup}}
              {{fa-icon "times" color="danger"}}
            {{else}}
              &nbsp;
            {{/if}}
          </td>
          <td>
            {{shift-format entry.slot_begins}}
            {{#if entry.no_signup}}
              <br><b class="text-danger">No longer signed up.</b>
            {{/if}}
          </td>
          <td>
            {{entry.position_title}}<br>
            {{entry.slot_description}}
          </td>
          <td>
            {{#each entry.added as |event|}}
              {{shift-format event.date}}<br>
              {{#if (eq this.personId event.person.id)}}
                <i>self</i>
              {{else}}
                <PersonLink @person={{event.person}} />
              {{/if}}
              <br>
            {{else}}
              -
            {{/each}}
          </td>
          <td>
            {{#each entry.removed as |event|}}
              {{shift-format event.date}}<br>
              {{#if (eq this.personId event.person.id)}}
                <i>self</i>
              {{else}}
                <PersonLink @person={{event.person}} />
              {{/if}}<br>
            {{else}}
              -
            {{/each}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>&nbsp;</td>
          <td colspan="7"><b class="text-danger">No {{@year}} scheduling logs found for {{@person.callsign}}</b></td>
        </tr>
      {{/each}}
    {{/if}}
    </tbody>
  </UiTable>
{{/if}}