{{#if @isLoading}}
  <LoadingIndicator @text="Loading the scheduling audit log"/>
{{else}}
  {{fa-icon "times" color="danger"}} = Person is no longer signed up for the shift.
  <table class="table table-sm table-width-auto table-striped table-hover">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Start</th>
      <th>Position</th>
      <th>Description</th>
      <th>Added</th>
      <th>Added By</th>
      <th>Removed</th>
      <th>Removed By</th>
    </tr>
    </thead>
    <tbody>
    {{#if this.isBefore2019}}
      <tr>
        <td colspan="8">Sorry, the scheduling audit log is only available for 2019 and later years.</td>
      </tr>
    {{else}}
      {{#each @auditLogs as |entry|}}
        <tr class="{{if entry.no_signup "text-decoration-line-through"}}">
          <td>
            {{#if entry.no_signup}}
              {{fa-icon "times" color="danger"}}
            {{else}}
              &nbsp;
            {{/if}}
          </td>
          <td>
            {{shift-format entry.slot_begins}}
          </td>
          <td>{{entry.position_title}}</td>
          <td>{{entry.slot_description}}</td>
          <td>
            {{#each entry.added as |event|}}
              {{shift-format event.date}}<br>
            {{else}}
              -
            {{/each}}
          </td>
          <td>
            {{#each entry.added as |event|}}
              {{#if (eq this.personId event.person.id)}}
                <i>self</i>
              {{else}}
                <PersonLink @person={{event.person}} />
              {{/if}}
              <br>
            {{else}}
              -
            {{/each}}
          </td>
          <td>
            {{#each entry.removed as |event|}}
              {{shift-format event.date}}<br>
            {{else}}
              -
            {{/each}}
          </td>
          <td>
            {{#each entry.removed as |event|}}
              {{#if (eq this.personId event.person.id)}}
                <i>self</i>
              {{else}}
                <PersonLink @person={{event.person}} />
              {{/if}}<br>
            {{else}}
              -
            {{/each}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>&nbsp;</td>
          <td colspan="7"><b class="text-danger">No {{@year}} scheduling logs found for {{@person.callsign}}</b></td>
        </tr>
      {{/each}}
    {{/if}}
    </tbody>
  </table>
{{/if}}