<p>
  {{#if (gte @year 2019)}}
    <a href {{action this.showLogAction}}>View Scheduling Log</a>
    {{#if this.isLoading}}
      <LoadingIndicator/>
    {{/if}}
  {{else}}
    Sorry, the scheduling log is only available for 2019 and later.
  {{/if}}
</p>

{{#if this.showLog}}
  <ModalDialog @title="{{this.args.year}} Scheduling Log for {{this.args.person.callsign}}" @size="xl" as |Modal|>
    <Modal.body>

      <table class="table table-sm table-width-auto table-striped table-hover">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Start Time</th>
          <th>Position</th>
          <th>Description</th>
          <th>Added</th>
          <th>Added By</th>
          <th>Removed</th>
          <th>Removed By</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.logs as |entry|}}
          <tr>
            <td>
              {{#if entry.removed_at}}
                {{fa-icon "times" color="danger"}}
              {{else}}
                &nbsp;
              {{/if}}
            </td>
            <td>
              {{shift-format entry.slot_begins}}
            </td>
            <td>{{entry.position_title}}</td>
            <td>{{entry.slot_description}}</td>
            {{#if entry.added_at}}
              <td>{{shift-format entry.added_at}}</td>
              <td>
                {{#if (eq this.personId entry.person_added.id)}}
                  <i>self</i>
                {{else}}
                  <PersonLink @person={{entry.person_added}} />
                {{/if}}
              </td>
            {{else}}
              <td>-</td>
              <td>-</td>
            {{/if}}
            {{#if entry.removed_at}}
              <td>{{shift-format entry.removed_at}}</td>
              <td>
                {{#if (eq this.personId entry.person_removed.id)}}
                  <i>self</i>
                {{else}}
                  <PersonLink @person={{entry.person_removed}} />
                {{/if}}
              </td>
            {{else}}
              <td>-</td>
              <td>-</td>
            {{/if}}
          </tr>
        {{else}}
        <tr>
          <td>&nbsp;</td>
          <td colspan="7"><b class="text-danger">No {{@year}} scheduling logs found for {{@person.callsign}}</b></td>
        </tr>
        {{/each}}
        </tbody>
      </table>
    </Modal.body>
    <Modal.footer>
      <button type="button" class="btn btn-primary" {{action this.closeAction}}>Close</button>
    </Modal.footer>
  </ModalDialog>
{{/if}}