<dl class="row">
  {{#if (has-role "view-pii" "view-email")}}
    <dt class="col-sm-12 col-lg-2">Contact</dt>
    <dd class="col-sm-12 col-lg-9">
      <PersonalInfoWarning/>
      {{#if @person.email}}
        email {{mail-to @person.email}}
      {{else}}
        <i class="text-muted">email missing</i>
      {{/if}}
      {{#if (has-role "view-pii")}}
        <div>
          phone
          {{#if @person.home_phone}}
            {{phone-link @person.home_phone}}
          {{else}}
            n/a
          {{/if}}
        </div>
        {{#if @person.alt_phone}}
          <div>
            alt phone {{phone-link @person.alt_phone}}
          </div>
        {{/if}}
      {{/if}}
    </dd>
  {{/if}}
  <dt class="col-sm-12 col-lg-2">Years</dt>
  <dd class="col-sm-12 col-lg-9">
    {{#if @person.non_ranger_years}}
      Non Ranger volunteer work:
      {{pluralize @person.non_ranger_years.length 'year'}} [{{year-range @person.non_ranger_years}}]<br>
      Ranger work:
      {{#if @person.rangered_years}}
        {{pluralize @person.rangered_years.length 'year'}} [{{year-range @person.rangered_years}}]
      {{else}}
        <i>none</i>
      {{/if}}
    {{else if @person.years}}
      {{pluralize @person.years.length 'year'}} worked [{{year-range @person.years}}]
    {{else}}
      Has not worked yet
    {{/if}}
  </dd>
  <dt class="col-sm-12 col-lg-2">Callsign</dt>
  <dd class="col-sm-12 col-lg-9">
    {{#if @person.callsign_approved}}
      <div class="text-success">{{fa-icon "check"}} Approved</div>
    {{else}}
      <div class="text-danger">{{fa-icon "times"}} Not approved</div>
    {{/if}}
    {{#if @person.used_vanity_change}}
      <i>
        One-time vanity change used
        {{#if @person.vanity_changed_at}}
          on {{mdy-format @person.vanity_changed_at}}
        {{/if}}
      </i>
    {{/if}}
  </dd>
  <dt class="col-sm-12 col-lg-2">FKAs</dt>
  <dd class="col-sm-12 col-lg-9">
    <PresentOrNot @value={{@person.formerly_known_as}} @empty="no previous callsigns"/>
  </dd>
  {{#if @person.has_note_on_file}}
    <dt class="col-sm-12 col-lg-2">Personnel Note</dt>
    <dd class="col-sm-12 col-lg-9">
      <b class="text-danger">Has note on file</b>. Contact the Personnel Manager for more information:
      {{mail-to (config "PersonnelEmail")}}
    </dd>
  {{/if}}
  <dt class="col-sm-12 col-lg-2">On Site</dt>
  <dd class="col-sm-12 col-lg-9">
    <ChForm @formId="person" @formFor={{@person}} @onSubmit={{@savePersonAction}} as |f|>
      <FormRow>
        <div class="col-auto">
          <f.radioGroup @name="on_site"
                        @options={{@onSiteOptions}}
                        @inline={{true}} />
        </div>
      </FormRow>
      <f.submit @label="Update" @size="sm" @disabled={{@person.isSaving}} />
      {{#if @person.isSaving}}
        <LoadingIndicator/>
      {{/if}}
    </ChForm>
  </dd>
  <dt class="col-sm-12 col-lg-2">Team/Positions</dt>
  <dd class="col-sm-12 col-lg-9">
    <Person::Positions @personMembership={{@personMembership}}
                       @showMembership={{@showMembership}}
                       @toggleMembership={{@toggleMembership}}
                       @canEditMembership={{@canEditMembership}}
                       @editMembershipAction={{@editMembershipAction}}
    />
  </dd>
  <dt class="col-sm-12 col-lg-2">Permissions</dt>
  <dd class="col-sm-12 col-lg-9">
    <Person::Permissions @roles={{@roles}}
                   @grantedRoles={{@grantedRoles}}
                   @toggleRoles={{@toggleRoles}}
                   @showRoles={{@showRoles}} />
  </dd>
</dl>
