<dl class="row">
  {{#if (has-role "view-pii" "view-email")}}
    <dt class="col-sm-12 col-lg-2">Contact</dt>
    <dd class="col-sm-12 col-lg-9">
      {{#if @person.email}}
        email {{mail-to @person.email}}
      {{else}}
        <i class="text-muted">missing</i>
      {{/if}}
      {{#if (has-role "view-pii")}}
        <div>
          phone
          {{#if @person.home_phone}}
            {{phone-link @person.home_phone}}
          {{else}}
            n/a
          {{/if}}
        </div>
        {{#if @person.alt_phone}}
          <div>
            alt phone {{phone-link @person.alt_phone}}
          </div>
        {{/if}}
      {{/if}}
    </dd>
  {{/if}}
  <dt class="col-sm-12 col-lg-2">Years</dt>
  <dd class="col-sm-12 col-lg-9">
    {{#if @person.non_ranger_years}}
      Non Ranger volunteer work:
      {{pluralize @person.non_ranger_years.length 'year'}} [{{year-range @person.non_ranger_years}}]<br>
      Ranger work:
      {{#if @person.rangered_years}}
        {{pluralize @person.rangered_years.length 'year'}} [{{year-range @person.rangered_years}}]
      {{else}}
        <i>none</i>
      {{/if}}
    {{else if @person.years}}
      {{pluralize @person.years.length 'year'}} worked [{{year-range @person.years}}]
    {{else}}
      Has not worked yet
    {{/if}}
  </dd>
  <dt class="col-sm-12 col-lg-2">Callsign</dt>
  <dd class="col-sm-12 col-lg-9">
    {{#if @person.callsign_approved}}
      <span class="text-success">{{fa-icon "check"}} Approved</span>
    {{else}}
      <span class="text-danger">{{fa-icon "times"}} Not approved</span>
    {{/if}}
  </dd>
  <dt class="col-sm-12 col-lg-2">FKAs</dt>
  <dd class="col-sm-12 col-lg-9">
    <PresentOrNot @value={{@person.formerly_known_as}} @empty="no previous callsigns"/>
  </dd>
  {{#if @person.has_note_on_file}}
    <dt class="col-sm-12 col-lg-2">Personnel Note</dt>
    <dd class="col-sm-12 col-lg-9">
      <b class="text-danger">Has note on file</b>. Contact the Personnel Manager for more information:
      {{mail-to (config "PersonnelEmail")}}
    </dd>
  {{/if}}
  <dt class="col-sm-12 col-lg-2">On Site</dt>
  <dd class="col-sm-12 col-lg-9">
    <ChForm @formId="person" @formFor={{@person}} @onSubmit={{@savePersonAction}} as |f|>
      <FormRow>
        <div class="col-auto">
          <f.radioGroup @name="on_site"
                        @options={{@onSiteOptions}}
                        @inline={{true}} />
        </div>
      </FormRow>
      <f.submit @label="Update" @size="sm" @disabled={{@person.isSaving}} />
      {{#if @person.isSaving}}
        <LoadingIndicator/>
      {{/if}}
    </ChForm>
  </dd>
  <dt class="col-sm-12 col-lg-2">Positions / Roles</dt>
  <dd class="col-sm-12 col-lg-9">
    <div>
      <UiButton @onClick={{@togglePositions}} @type="secondary" @size="sm">
        {{if @showPositions "Hide" "Show"}} Positions
      </UiButton>
      <UiButton @onClick={{@toggleRoles}} @type="secondary" @size="sm">
        {{if @showRoles "Hide" "Show"}} Roles
      </UiButton>
      {{#if (has-role "grant-position")}}
        <UiButton @onClick={{@editPositionsAction}} @type="secondary" @size="sm" @class="ms-2">
          Edit Positions
        </UiButton>
      {{/if}}
    </div>
    {{#unless @personPositions}}
      <b class="text-danger">No positions granted</b>
    {{/unless}}
    {{#if @showPositions}}
      <div class="mt-1">
        <b>{{pluralize @personPositions.length "position"}}:</b>
      </div>
      <div class="masonry-container">
        {{#each @personPositions as |position| }}
          <div class="masonry-item">
            {{position-label position}}
          </div>
        {{/each}}
      </div>
    {{/if}}
    {{#unless @personRoles}}
      <b class="text-danger">No roles granted</b>
    {{/unless}}
    {{#if @showRoles}}
      <div class="mt-1">
        <b>{{pluralize @personRoles.length "role"}}:</b>
      </div>
      <div class="masonry-container">
        {{#each @personRoles as |role| }}
          <div class="masonry-item">
            {{role.title}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </dd>
  <dt class="col-sm-12 col-lg-2">Certifications</dt>
  <dd class="col-sm-12 col-lg-9">
    {{#if (or @person.osha10 @person.osha30)}}
      {{#if @person.osha10}}OSHA-10{{/if}}
      {{#if @person.osha30}}OSHA-30{{/if}}
    {{else}}
      No OSHA certifications
    {{/if}}
  </dd>
  <dt class="col-sm-12 col-lg-2">&nbsp;</dt>
  <dd class="col-sm-12 col-lg-9">
    <LinkTo @route="person.event-info">Person &gt; Event/Training Info</LinkTo>
    has additional agreements, affidavits, and vehicles flags.
  </dd>
</dl>
