<div class="border rounded p-2 mt-2 mb-2">
  <h3>{{@year}} Timesheet Entries</h3>
  <div class="d-flex">
    <div>
      <NoAppreciateIcon/>
      = the shift hours do not count towards appreciations.
    </div>
    <div class="ml-4">
      <LinkTo @route="person.timesheet-log" @query={{hash year=@year}}>View {{@year}} Timesheet Log</LinkTo>
    </div>
  </div>
  <table class="table table-hover table-striped table-width-auto">
    <thead>
    <tr>
      <th>Time</th>
      <th class="text-right">Duration</th>
      <th class="text-right">Credits</th>
      <th>Position</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {{#each @timesheets key="id" as |ts|}}
      <tr>
        <td>
          {{#if ts.off_duty}}
            {{shift-format ts.on_duty ts.off_duty}}
          {{else}}
            {{shift-format ts.on_duty}} to <i>still on duty</i>
          {{/if}}
        </td>
        <td class="text-right">
          {{#unless ts.position.count_hours}}
            <NoAppreciateIcon/>
          {{/unless}}
          {{hour-minute-format ts.duration}}
        </td>
        <td class="text-right">
          {{credits-format ts.credits}}
        </td>
        <td>
          {{ts.position.title}}
          {{#if ts.is_non_ranger}}
            <br>(as non ranger volun.)
          {{/if}}

        </td>
        <td>
          {{#if (is-empty ts.off_duty)}}
            -
          {{else if ts.isVerified}}
            <span class="text-success">{{fa-icon "check"}} Verified</span>
          {{else if ts.isUnverified}}
            {{fa-icon "question"}} Unverified
          {{else if ts.isPending}}
            <b class="text-danger">{{fa-icon "arrow-right"}} Correction Request</b>
          {{else if ts.isRejected}}
            {{fa-icon "times"}} Correction Rejected
          {{else if ts.isApproved}}
            {{fa-icon "thumbs-up" type="far"}} Correction Approved
          {{else}}
            &nbsp;
          {{/if}}
        </td>
        <td>
          {{#if (is-empty ts.off_duty)}}
            <button type="button" class="btn btn-danger btn-sm" {{action this.signoffAction ts}}>End Shift</button>
          {{else }}
            <button type="button"
                    class="btn {{if ts.isPending "btn-danger" "btn-primary"}} btn-sm"
              {{action this.editEntryAction ts}} disabled={{ts.isReloading}}>
              {{#if ts.isReloading}}
                {{fa-icon "spinner" spin=true}}
              {{else}}
                {{fa-icon "edit"}}
              {{/if}}
              {{#if this.canManageTimesheets}}
                {{if ts.isPending "Correct" "Edit"}}
              {{else}}
                View
              {{/if}}
            </button>
          {{/if}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td>&nbsp;</td>
        <td colspan="6"><b class="mt-2 text-danger">No timesheet entries found for {{@year}}</b></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <TimesheetSummary @summary={{@timesheetSummary}} />
  <TimesheetPositionSummary @timesheets={{@timesheets}} />
</div>

{{#if this.editEntry}}
  <ModalDialog @title="{{if this.canManageTimesheets "Edit" "View"}} Timesheet #{{this.editEntry.id}}" as |Modal|>
    <ChForm @formId="entry" @formFor={{this.editEntry}}
            @validator={{this.timesheetValidations}}
            @onSubmit={{this.saveEntryAction}}
            @onCancel={{this.cancelEntryAction}} as |f|>
      <Modal.body>
        {{#if this.editEntry.isPending}}
          <ChNotice @type="danger" @icon="arrow-right" @title="Correction Request Review Required">
            Entry has a correction request and needs to be reviewed.
          </ChNotice>
        {{else if this.editEntry.isUnverified}}
          <ChNotice @type="danger" @title="Unverified - No Review Required" @icon="hourglass">
            Entry needs to be verified by the person. No review action required at this time.
          </ChNotice>
        {{else if this.editEntry.isVerified}}
          <ChNotice @type="success" @icon="check" @title="Entry Verified - No Review Required">
            Entry was verified on {{shift-format this.editEntry.verified_at}}
            by {{this.editEntry.verified_person.callsign}}. Review is not needed at this time.
          </ChNotice>
        {{/if}}

        <fieldset>
          <legend>Message(s) from {{@person.callsign}}:</legend>
          <p>
            {{#if this.editEntry.notes}}
              {{nl2br this.editEntry.notes}}
            {{else}}
              <i>No notes were given.</i>
            {{/if}}
          </p>
        </fieldset>
        <fieldset>
          <legend>Time &amp; Position</legend>
          {{#if this.canManageTimesheets}}
            <div class="form-row">
              <f.input @name="on_duty" @label="On Duty" @type="datetime" @size={{20}} @grid="col-auto"/>
              <f.input @name="off_duty" @label="Off Duty" @type="datetime" @size={{20}} @grid="col-auto"/>
              <f.input @name="position_id" @label="Position" @type="select" @options={{this.positionOptions}}
                       @grid="col-auto"/>
            </div>
            <div class="form-row ml-1 mb-2">
              <f.input @name="is_non_ranger" @type="checkbox"
                       @label="Non Ranger work entry (don't check if you don't know what this means)"/>
            </div>

          {{else}}
            <dl class="form-row">
              <dt class="col-sm-2">Position:</dt>
              <dd class="col-sm-10">
                {{this.editEntry.position.title}}
                {{#if this.editEntry.is_non_ranger}}
                  (as non ranger volunteer)
                {{/if}}
              </dd>

              <dt class="col-sm-2">Time:</dt>
              <dd class="col-sm-10">
                {{shift-format this.editEntry.on_duty}} to {{shift-format this.editEntry.off_duty}}
              </dd>

              <dt class="col-sm-2">Duration:</dt>
              <dd class="col-sm-10">{{hour-minute-format this.editEntry.duration}}</dd>

              <dt class="col-sm-2">Credits:</dt>
              <dd class="col-sm-10">{{credits-format this.editEntry.credits}}</dd>
            </dl>
          {{/if}}
        </fieldset>
        <fieldset>
          <legend>Reviewer message(s) to {{@person.callsign}}:</legend>
          <p>
            {{#if this.editEntry.reviewer_notes}}
              {{nl2br this.editEntry.reviewer_notes}}
            {{else}}
              <i>No reviewer messages have been entered so far.</i>
            {{/if}}
          </p>
          {{#if this.canManageTimesheets}}
            <div class="form-row">
              <f.input @name="additional_reviewer_notes"
                       @label="Reviewer message to {{@person.callsign}}:"
                       @type="textarea" @cols=80 @rows=2
              />
            </div>
            <div class="form-row">
              <label class="col-form-label">Review status:</label>
              <div class="col-auto">
                <f.input @name="review_status" @type="radioGroup" @options={{this.reviewOptions}} @inline={{true}} />
              </div>
            </div>
          {{else}}
            <dl class="form-row">
              <dt class="col-2">
                Review Status:
              </dt>
              <dd class="col-10">
                {{this.editEntry.review_status}}
              </dd>
            </dl>
          {{/if}}
        </fieldset>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        {{#if this.canManageTimesheets}}
          <f.submit @label="Update" @disabled={{this.editEntry.isSaving}} />
          <f.cancel @disabled={{this.editEntry.isSaving}} />
          {{#if this.editEntry.isSaving}}
            <LoadingIndicator/>
          {{/if}}
          <div class="ml-auto">
            <button type="button" class="btn btn-danger" {{action this.removeEntryAction}}
                    title="Delete timesheet entry" disabled={{this.editEntry.isSaving}}>
              {{fa-icon "trash"}} Delete Entry
            </button>
          </div>
        {{else}}
          <button type="button" class="btn btn-secondary" {{action this.cancelEntryAction}}>Close</button>
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
