<UiSection>
  <:title>Missing Timesheet Requests</:title>
  <:body>
    <p>
      <UiButton @type="secondary" @onClick={{this.newEntryAction}}>New Request</UiButton>
    </p>
    {{pluralize @timesheetMissing.length "missing entry request"}}
    {{#if @timesheetMissing}}
      <table class="table table-striped table-width-auto">
        <thead>
        <tr>
          <th>From</th>
          <th>To</th>
          <th class="text-end">Time</th>
          <th class="text-end">Credits</th>
          <th>Position</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each @timesheetMissing as |tm|}}
          <tr>
            <td>{{shift-format tm.on_duty}}</td>
            <td>{{shift-format tm.off_duty}}</td>
            <td class="text-end">{{hour-minute-format tm.duration}}</td>
            <td class="text-end">{{credits-format tm.credits}}</td>
            <td>{{tm.position.title}}</td>
            <td>
              {{#if tm.isPending}}
                <b class="text-danger">{{fa-icon "arrow-right"}} Review needed</b>
              {{else if tm.isRejected}}
                {{fa-icon "times"}} Rejected
              {{else if tm.isApproved}}
                <span class="text-success"> {{fa-icon "thumbs-up" type="far"}} Approved</span>
              {{else}}
                [Unknown {{tm.status}}]
              {{/if}}
            </td>
            <td>
              <UiButton @size="sm" @type={{if tm.isPending "danger" "primary"}}
                        @onClick={{fn this.editEntryAction tm}} @disabled={{tm.isReloading}}>
                {{#if tm.isReloading}}
                  <SpinIcon/>
                {{else}}
                  {{fa-icon "edit"}}
                {{/if}}
                {{if tm.isPending "Review" "Edit"}}
              </UiButton>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      <p class="mt-2 text-danger">No missing timesheet entry requests found for {{@year}}</p>
    {{/if}}
  </:body>
</UiSection>

{{#if this.newEntry}}
  <ModalDialog @title="Create New Missing Timesheet Request" @onEscape={{this.cancelNewEntryAction}} as |Modal|>
    <ChForm @formId="entry"
            @formFor={{this.newEntry}}
            @validator={{this.newEntryValidations}}
            @onSubmit={{this.createEntryAction}} as |f|>
      <Modal.body>
        <FormRow>
          <f.datetime @name="on_duty"
                      @label="On Duty"
                      @startDate={{this.startDateForEntry}} />
          <f.datetime @name="off_duty"
                      @label="Off Duty"
                      @startDate={{this.startDateForEntry}}
          />
          <f.select @name="position_id"
                    @label="Position"
                    @options={{@positions}}/>
        </FormRow>
        <FormRow>
          <f.text @name="partner"
                  @label="Partner(s) for shift."
                  @size={{40}}
                  @maxlength={{60}}/>
        </FormRow>
        <FormRow>
          <f.textarea @name="additional_notes"
                      @label="Correction message from {{@person.callsign}}"
                      @cols={{80}}
                      @rows={{4}}
                      @options={{@positions}} />
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="Create" @disabled={{this.newEntry.isSaving}} />
        <UiCancelButton @disabled={{this.newEntry.isSaving}} @onClick={{this.cancelNewEntryAction}} />
        {{#if this.newEntry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.editEntry}}
  <ModalDialog @title="Manage Missing Timesheet Request ID #{{this.editEntry.id}}"
               @onEscape={{this.cancelEntryAction}} as |Modal|>
    <ChForm @formId="entry"
            @formFor={{this.editEntry}}
            @validator={{this.timesheetValidations}}
            @onSubmit={{this.saveEntryAction}} as |f|>
      <Modal.body>
        {{#if (eq this.editEntry.review_status "approved")}}
          <ChNotice @type="success" @icon="check" @title="Request approved">
            Request has been approved. Review is not needed at this time.
          </ChNotice>
        {{else if (eq this.editEntry.review_status "rejected")}}
          <ChNotice @type="danger" @icon="times" @title="Request rejected">
            Request was rejected. Review is not needed at this time.
          </ChNotice>
        {{/if}}
        <dl class="row">
          <dt class="col-2">Position:</dt>
          <dd class="col-10">{{this.editEntry.position.title}}</dd>

          <dt class="col-2">Time:</dt>
          <dd class="col-10">{{shift-format this.editEntry.on_duty}} - {{shift-format this.editEntry.off_duty}}</dd>

          <dt class="col-2">Duration:</dt>
          <dd class="col-10">{{hour-minute-format this.editEntry.duration}}</dd>

          <dt class="col-2">Credits:</dt>
          <dd class="col-10">{{credits-format this.editEntry.credits}}</dd>
          <dt class="col-2">Partner(s):</dt>
          <dd class="col-10">
            {{#if (and this.editEntry.partner this.editEntry.partner_info)}}
              <table class="table table-sm table-striped">
                <thead>
                <tr>
                  <th>Partner</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Position</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {{#each this.partnerInfo as |pi|}}
                  <tr>
                    <td>{{pi.callsign}}</td>
                    {{#if pi.on_duty}}
                      <td>{{shift-format pi.on_duty}}</td>
                      <td>{{shift-format pi.off_duty}}</td>
                      <td>{{pi.position_title}}</td>
                    {{else if pi.person_id}}
                      <td colspan="3" class="text-danger">
                        no shift within 30 mins of {{shift-format this.editEntry.on_duty}}
                      </td>
                    {{else}}
                      <td colspan="3" class="text-danger">callsign not found</td>
                    {{/if}}
                    {{#if pi.person_id}}
                      <td>
                        <UiButton @type="secondary" @size="sm" @onClick={{fn this.viewPartnerTimesheetAction pi}}>
                          View Timesheet
                        </UiButton>
                      </td>
                    {{/if}}
                  </tr>
                {{/each}}
                </tbody>
              </table>
            {{else}}
              <i>No partner name given</i>
            {{/if}}
          </dd>
        </dl>
        <fieldset>
          <legend>Message from {{@person.callsign}}</legend>
          {{#if this.editEntry.notes}}
            {{nl2br this.editEntry.notes}}
          {{else}}
            <i>No notes or messages from {{@person.callsign}} about this request?!?</i>
          {{/if}}
        </fieldset>
        <fieldset>
          <legend>Submission Review</legend>
          {{#if this.editEntry.reviewed_at}}
            <FormRow>
              Last review on {{shift-format this.editEntry.reviewed_at}} by {{this.editEntry.reviewer_person.callsign}}
            </FormRow>
          {{/if}}
          <FormRow>
            <f.textarea @name="additional_reviewer_notes"
                        @label="Enter your response to {{@person.callsign}} below. Be clear and concise."
                        @cols={{80}}
                        @rows={{4}}/>
          </FormRow>
          <FormRow>
            <f.radioGroup @name="review_status"
                          @label="Correction Status:"
                          @options={{this.reviewOptions}}
                          @inline={{true}}
                          @onChange={{this.statusChangeAction}} />
          </FormRow>
        </fieldset>
        {{#if (eq f.model.review_status "approved")}}
          <fieldset>
            <legend>New Timesheet Entry</legend>
            <FormRow>
              <div class="col-auto">
                <f.checkbox @name="create_entry" @label="Create new entry"/>
              </div>
            </FormRow>
            <FormRow>
              <f.datetime @name="new_on_duty"
                          @label="On Duty"/>
              <f.datetime @name="new_off_duty"
                          @label="Off Duty"/>
              <f.select @name="new_position_id"
                        @label="Position"
                        @options={{@positions}}/>
            </FormRow>
          </fieldset>
        {{/if}}

        {{#if this.havePartnerTimesheet}}
          <hr>
          <table class="table table-width-auto table-sm">
            <caption>{{this.partnerCallsign}} {{@year}} Timesheet</caption>
            <thead>
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Duration</th>
              <th>Position</th>
            </tr>
            </thead>

            <tbody>
            {{#each this.partnerTimesheet as |pt| }}
              <tr>
                <td>{{shift-format pt.on_duty}}</td>
                {{#if pt.off_duty}}
                  <td>
                    {{shift-format pt.off_duty}}
                  </td>
                  <td>
                    {{hour-minute-format pt.duration}}
                  </td>
                {{else}}
                  <td colspan="2">On Duty</td>
                {{/if}}
                <td>{{pt.position.title}}</td>
              </tr>
            {{else}}
              <tr>
                <td colspan="4">No timesheets found for {{@year}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        {{/if}}
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        {{#if this.nextEntry}}
          <f.submit @label="Update & Review Next"
                    @onSubmit={{this.saveAndManageNextEntryAction}}
                    @disabled={{this.editEntry.isSaving}}/>
        {{/if}}
        <f.submit @label="Update" @disabled={{this.editEntry.isSaving}} />
        <UiCancelButton @disabled={{this.editEntry.isSaving}} @onClick={{this.cancelEntryAction}} />
        {{#if this.editEntry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
        <div class="ms-auto">
          <UiButton @type="danger" @onClick={{this.deleteEntryAction}} @disabled={{this.editEntry.isSaving}}>
            {{fa-icon "trash"}} Delete
          </UiButton>
        </div>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
