<UiSection>
  <:title>{{@year}} Timesheet Entries</:title>
  <:body>
    <div class="d-flex">
      <div>
        <NoAppreciateIcon/>
        = the shift hours do not count towards appreciations.
      </div>
      <div class="ms-4">
        <LinkTo @route="person.timesheet-log" @query={{hash year=@year}}>View {{@year}} Timesheet Log</LinkTo>
      </div>
    </div>
    <table class="table table-hover table-striped table-width-auto">
      <thead>
      <tr>
        <th>Time</th>
        <th class="text-end">Duration</th>
        <th class="text-end">Credits</th>
        <th>Position</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      {{#each @timesheets key="id" as |ts|}}
        <tr>
          <td>
            {{#if ts.off_duty}}
              {{shift-format ts.on_duty ts.off_duty}}
            {{else}}
              {{shift-format ts.on_duty}} to <i>still on duty</i>
            {{/if}}
          </td>
          <td class="text-end">
            {{#unless ts.position.count_hours}}
              <NoAppreciateIcon/>
            {{/unless}}
            {{hour-minute-format ts.duration}}
          </td>
          <td class="text-end">
            {{credits-format ts.credits}}
          </td>
          <td>
            {{ts.position.title}}
            {{#if ts.is_non_ranger}}
              <br><i>(as non ranger volunteer)</i>
            {{/if}}
          </td>
          <td>
            {{#if (is-empty ts.off_duty)}}
              -
            {{else if ts.isVerified}}
              <span class="text-success">{{fa-icon "check"}} Verified</span>
            {{else if ts.isUnverified}}
              {{fa-icon "question"}} Unverified
            {{else if ts.isPending}}
              <b class="text-danger">{{fa-icon "arrow-right"}} Correction Request</b>
            {{else if ts.isRejected}}
              {{fa-icon "times"}} Correction Rejected
            {{else if ts.isApproved}}
              {{fa-icon "thumbs-up" type="far"}} Correction Approved
            {{else}}
              &nbsp;
            {{/if}}
          </td>
          <td>
            {{#if (is-empty ts.off_duty)}}
              <UiButton @type="danger" @size="sm" @onClick={{fn this.signoffAction ts}}>
                End Shift
              </UiButton>
            {{else}}
              <UiButton @type={{if ts.isPending "danger" "primary"}} @size="sm"
                        @onClick={{fn this.editEntryAction ts}} @disabled={{ts.isReloading}}>
                {{#if ts.isReloading}}
                  <SpinIcon/>
                {{else}}
                  {{fa-icon "edit"}}
                {{/if}}
                {{#if this.canManageTimesheets}}
                  {{if ts.isPending "Correct" "Edit"}}
                {{else}}
                  View
                {{/if}}
              </UiButton>
            {{/if}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>&nbsp;</td>
          <td colspan="6"><b class="mt-2 text-danger">No timesheet entries found for {{@year}}</b></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </:body>
</UiSection>

<TimesheetSummary @summary={{@timesheetSummary}} />
<TimesheetPositionSummary @timesheets={{@timesheets}} />

{{#if this.editEntry}}
  <ModalDialog
    @title="{{if this.canManageTimesheets "Edit" "View"}} Timesheet #{{this.editEntry.id}}"
    @onEscape={{this.cancelEntryAction}}
    as |Modal|>
    <ChForm @formId="entry" @formFor={{this.editEntry}}
            @validator={{this.timesheetValidations}}
            @onSubmit={{this.saveEntryAction}}
            as |f|>
      <Modal.body>
        {{#if this.editEntry.isPending}}
          <ChNotice @type="danger" @icon="arrow-right" @title="Correction Request Review Required">
            Entry has a correction request and needs to be reviewed.
          </ChNotice>
        {{else if this.editEntry.isUnverified}}
          <ChNotice @type="danger" @title="Unverified - No Review Required" @icon="hourglass">
            Entry needs to be verified by the person. No review action required at this time.
          </ChNotice>
        {{else if this.editEntry.isVerified}}
          <ChNotice @type="success" @icon="check" @title="Entry Verified - No Review Required">
            Entry was verified on {{shift-format this.editEntry.verified_at}}
            by {{this.editEntry.verified_person.callsign}}. Review is not needed at this time.
          </ChNotice>
        {{/if}}

        <fieldset>
          <legend>Message(s) from {{@person.callsign}}:</legend>
          <p>
            {{#if this.editEntry.notes}}
              {{nl2br this.editEntry.notes}}
            {{else}}
              <i>No notes were given.</i>
            {{/if}}
          </p>
        </fieldset>
        <fieldset>
          <legend>Time &amp; Position</legend>
          {{#if this.canManageTimesheets}}
            <FormRow>
              <f.datetime @name="on_duty"
                          @label="On Duty"
                          @size={{20}}
              />
              <f.datetime @name="off_duty"
                          @label="Off Duty"
                          @size={{20}}
              />
              <f.select @name="position_id"
                        @label="Position"
                        @options={{this.positionOptions}}
              />
            </FormRow>
            <FormRow>
              <div class="col-auto">
                <f.checkbox @name="is_non_ranger"
                            @label="Non Ranger work entry (don't check if you don't know what this means)"/>
              </div>
            </FormRow>
          {{else}}
            <dl class="row">
              <dt class="col-2">Position:</dt>
              <dd class="col-10">
                {{this.editEntry.position.title}}
                {{#if this.editEntry.is_non_ranger}}
                  (as non ranger volunteer)
                {{/if}}
              </dd>

              <dt class="col-2">Time:</dt>
              <dd class="col-10">
                {{shift-format this.editEntry.on_duty}} to {{shift-format this.editEntry.off_duty}}
              </dd>

              <dt class="col-2">Duration:</dt>
              <dd class="col-10">{{hour-minute-format this.editEntry.duration}}</dd>

              <dt class="col-2">Credits:</dt>
              <dd class="col-10">{{credits-format this.editEntry.credits}}</dd>
            </dl>
          {{/if}}
        </fieldset>
        <fieldset>
          <legend>Reviewer message(s) to {{@person.callsign}}:</legend>
          <p>
            {{#if this.editEntry.reviewer_notes}}
              {{nl2br this.editEntry.reviewer_notes}}
            {{else}}
              <i>No reviewer messages have been entered so far.</i>
            {{/if}}
          </p>
          {{#if this.canManageTimesheets}}
            <FormRow>
              <f.textarea @name="additional_reviewer_notes"
                          @label="Reviewer message to {{@person.callsign}}:"
                          @cols={{80}}
                          @rows={{2}}/>
            </FormRow>
            <FormRow>
              <f.radioGroup @name="review_status"
                            @label="Review status:"
                            @options={{this.reviewOptions}}
                            @inline={{true}}
              />
            </FormRow>
          {{else}}
            <dl class="row">
              <dt class="col-2">
                Review Status:
              </dt>
              <dd class="col-10">
                {{this.editEntry.review_status}}
              </dd>
            </dl>
          {{/if}}
        </fieldset>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        {{#if this.canManageTimesheets}}
          <f.submit @label="Update" @disabled={{this.editEntry.isSaving}} />
          <UiCancelButton @disabled={{this.editEntry.isSaving}} @onClick={{this.cancelEntryAction}} />
          {{#if this.editEntry.isSaving}}
            <LoadingIndicator/>
          {{/if}}
          <div class="ms-auto">
            <UiButton @type="danger" @onClick={{this.removeEntryAction}} @disabled={{this.editEntry.isSaving}}>
              {{fa-icon "trash"}} Delete
            </UiButton>
          </div>
        {{else}}
          <UiCloseButton @onClick={{this.cancelEntryAction}} />
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
