<h3>
  Timesheet Audit Log for {{@year}}
</h3>

{{#if this.isLoading}}
  <LoadingIndicator @text="Loading timesheet audit log"/>
{{else}}
  {{#each this.logs as |entry|}}
    <UiAccordion as |Accordion|>
      <Accordion.title>
        #{{entry.timesheet_id}}
        {{#if entry.deleted}}
          <span class="text-danger mx-1">DELETED</span>
        {{/if}}
        {{#if entry.timesheet}}
          {{entry.timesheet.position_title}}:
          {{#if entry.timesheet.off_duty}}
            {{shift-format entry.timesheet.on_duty entry.timesheet.off_duty}}
          {{else}}
            {{shift-format entry.timesheet.on_duty}} - <i class="text-danger">Still On Duty</i>
          {{/if}}
        {{else}}
          <b class="text-danger">Timesheet association failure</b>
        {{/if}}
      </Accordion.title>

      <Accordion.body>
        <table class="table table-sm table-striped table-hover max-width-900">
          <thead>
          <tr>
            <th class="timesheetlog-time">Timestamp</th>
            <th class="timesheetlog-user">User</th>
            <th class="timesheetlog-message">Action</th>
          </tr>
          </thead>
          <tbody>
          {{#each entry.logs as |log|}}
            <tr>
              <td class="timesheetlog-time">{{shift-format log.created_at}}</td>
              <td class="timesheetlog-user">
                <PersonLink @personId={{log.creator_person_id}} @callsign={{log.creator_callsign}} />
              </td>
              <td class="timesheetlog-message">
                {{#let log.data as |data|}}
                  <b>
                    {{this.actionLabel log.action}}
                    {{#if data.via}}
                      via
                      {{#if (eq data.via "bulk-upload")}}
                        bulk uploader
                      {{else if (eq data.via "missing-entry")}}
                        missing entry request
                      {{else}}
                        {{data.via}}
                      {{/if}}
                    {{/if}}
                  </b>
                  <br>
                  {{#if data.message}}
                    {{data.message}}<br>
                  {{/if}}
                  {{#if data.forced}}
                    <span class="text-danger">Forced - Unqualified "{{data.forced.message}}"</span><br>
                  {{/if}}
                  {{#if (eq log.action "update")}}
                    {{#if data.review_status}}
                      <span class="me-2">Status update:</span>
                      {{get data.review_status 0}} &rarr; {{get data.review_status 1}}<br>
                    {{/if}}
                    {{#if data.position_id}}
                      <span class="me-2">Position update:</span>
                      {{get (get data.position_id 0) 'title'}} &rarr; {{get (get data.position_id 1) 'title'}}<br>
                    {{/if}}
                    {{#if data.on_duty}}
                      <span class="me-2">On Duty update:</span>
                      {{shift-format (get data.on_duty 0)}} &rarr; {{shift-format (get data.on_duty 1)}}<br>
                    {{/if}}
                    {{#if data.off_duty}}
                      <span class="me-2">Off Duty update:</span>
                      {{shift-format (get data.off_duty 0)}} &rarr; {{shift-format (get data.off_duty 1)}}<br>
                    {{/if}}
                  {{else}}
                    {{#if data.position_title}}
                      <span class="me-2">Position:</span>
                      {{data.position_title}}<br>
                    {{/if}}
                    {{#if data.on_duty}}
                      <span class="me-2">On Duty:</span>
                      {{shift-format data.on_duty}}<br>
                    {{/if}}
                    {{#if data.off_duty}}
                      <span class="me-2">Off Duty:</span>
                      {{shift-format data.off_duty}}<br>
                    {{/if}}
                  {{/if}}
                  {{#if data.notes}}
                    <div>
                      Notes:<br>
                      {{data.notes}}
                    </div>
                  {{/if}}
                  {{#if data.reviewer_notes}}
                    <div>
                      Reviewer notes:<br>
                      {{data.reviewer_notes}}
                    </div>
                  {{/if}}
                {{/let}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </Accordion.body>
    </UiAccordion>
  {{else}}
    <p>
      <b class="text-danger">
        {{#if (lt @year 2018)}}
          Timesheet logs are not available prior to 2018.
        {{else}}
          No timesheet logs found for {{@year}}.
        {{/if}}
      </b>
    </p>
  {{/each}}

  {{#if (gte @year 2018)}}
    <UiAccordion as |Accordion|>
      <Accordion.title>Other Timesheet Actions</Accordion.title>
      <Accordion.body>
        <table class="table table-sm table-striped table-hover max-width-900">
          <thead>
          <tr>
            <th class="timesheetlog-time">Time</th>
            <th class="timesheetlog-user">User</th>
            <th class="timesheetlog-message">Action</th>
          </tr>
          </thead>

          <tbody>
          {{#each this.otherLogs as |log|}}
            <tr>
              <td class="timesheetlog-time">{{shift-format log.created_at}}</td>
              <td class="timesheetlog-user">
                <PersonLink @personId={{log.creator_person_id}} @callsign={{log.creator_callsign}} />
              </td>
              <td class="timesheetlog-message">
                <b>
                  {{this.actionLabel log.action}}
                  {{#if log.data.via}}
                    via
                    {{#if (eq log.data.via "bulk-upload")}}
                      bulk uploader
                    {{else if (eq log.data.via "missing-entry")}}
                      missing entry request
                    {{else}}
                      {{log.data.via}}
                    {{/if}}
                  {{/if}}
                </b>
                {{#if log.data.message}}
                  <br>
                  {{log.data.message}}
                {{/if}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="4"><b class="text-danger">No other logs found for {{@year}}</b></td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </Accordion.body>
    </UiAccordion>
  {{/if}}
{{/if}}