<div class="small text-muted">Starting in 2025, a min of 6 hours must be worked at each event for it to count as having
  Rangered that event.
</div>
Rangered events:
{{#if @person.years_as_ranger}}
  {{pluralize @person.years_as_ranger.length "event"}}
  [{{year-range @person.years_as_ranger}}]
{{else}}
  <i>none</i>
{{/if}}<br>
{{#if @person.years_as_contributor}}
  As Echelon volunteer:
  {{#if @person.years_as_contributor}}
    {{pluralize @person.years_as_contributor.length "event"}}
    [{{year-range @person.years_as_contributor}}]
  {{/if}}<br>
{{/if}}
Service years:
{{#if @person.years_of_service}}
  {{pluralize @person.years_of_service.length "year"}}
  [{{year-range @person.years_of_service}}]
{{else}}
  <i>none</i>
{{/if}}<br>
