<!-- TODO Add Documentation for attributes here -->
<h2 class="mt-2">{{@title}}</h2>
<p>
  {{yield}}
</p>

{{#if @people}}
  <ChAccordion as |Accordion|>
    <Accordion.title>{{@caption}}</Accordion.title>
    <Accordion.body>
      <table class="table table-striped table-hover table-sm table-width-auto">
        <thead>
          <tr>
            <th>Fix?</th>
            <th>Callsign</th>
            <th>Status</th>
            {{#each @people.columns as |column|}}
              <th>{{column.label}}</th>
            {{/each}}
          </tr>
        </thead>

        <tbody>
          {{#each @people as |person|}}
            <tr>
              <td>
                {{#if person.errors}}
                  {{fa-icon "exclamation-triangle"}}
                {{else if person.fixed}}
                  {{fa-icon "check"}}
                {{else}}
                  <Input @type="checkbox" @checked={{person.checked}} />
                {{/if}}
              </td>
              <td>
                <PersonLink @person={{person}} />
              </td>
              <td>{{person.status}}</td>

              {{#each @people.columns as |column|}}
                <td class={{column.class}}>
                  {{get person column.property}}
                </td>
              {{/each}}
            </tr>
            {{#if (or person.messages person.errors)}}
              <tr class="tr-no-border">
                <td colspan="5">
                  {{#each person.errors as |error|}}
                    <span class="text-danger">ERROR: {{error}}</span><br>
                  {{/each}}
                  {{#each person.messages as |message|}}
                    <span class="text-success">{{message}}</span><br>
                  {{/each}}
                </td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>

      {{#if @canRepair}}
        <button type="button" class="btn btn-primary" {{action @repairAction  @repairType @people}} disabled={{this.isSubmitting}}>
          Fix {{@title}}
        </button>
        {{#if this.isSubmitting}}
          <LoadingIndicator />
        {{/if}}
      {{/if}}
    </Accordion.body>
  </ChAccordion>

{{else}}
  <p class="text-success"><b>{{@sucessMessage}}</b></p>
{{/if}}
