{{#unless this.isUpdating}}
  <ModalDialog @title="Bulk Edit {{@position.title}}" @size="xl" @onEscape={{@onClose}} as |Modal|>
    <ChForm @formId="bulkEdit"
            @formFor={{this.editForm}}
            @changeSet={{false}}
            @onSubmit={{this.submitAction}}
            @validator={{this.bulkEditValidations}} as |f|>
      <Modal.body>
        <fieldset>
          <legend>Bulk edit columns (leave field blank to not update)</legend>
          <FormRow>
            <f.select @name="positionId"
                      @label="Position"
                      @options={{this.positionOptions}}
            />
            <f.text @name="description"
                    @label="Description"
                    @size={{40}}
                    @maxlength={{40}}
                    @showCharCount={{true}}
            />
            <f.text @name="max"
                    @label="Max Signups"
                    @size={{4}} />
          </FormRow>
          <FormRow>
            <f.textarea @name="url"
                        @label="Information"
                        @rows={{3}}
                        @cols={{80}}
                        @maxlength={{512}}
                        @showCharCount={{true}}
            />
          </FormRow>
          <f.submit @label="Update"/>
          <UiCancelButton @type="secondary" @onClick={{@onClose}}/>
        </fieldset>

        <fieldset class="mt-2">
          <legend>Select slots to update</legend>
          <table class="table table-sm table-striped table-hover table-width-auto">
            <thead>
            <tr>
              <th>
                <Input @type="checkbox" @checked={{this.selectAll}} {{on "change" this.toggleAll}} />
              </th>
              <th>ID</th>
              <th>From</th>
              <th>To</th>
              <th class="text-end">Max</th>
              <th class="text-end">Count</th>
              <th>Description</th>
              <th>Active</th>
            </tr>
            </thead>
            <tbody>
            {{#each @position.slots key="id" as |slot|}}
              <tr id="slot-{{slot.id}}">
                <td>
                  <f.checkbox @name="slot_{{slot.id}}" @inline={{true}} />
                </td>
                <td>{{slot.id}}</td>
                <td>{{shift-format slot.begins}}</td>
                <td>{{shift-format slot.ends}}</td>
                <td class="text-end">{{slot.max}}</td>
                <td class="text-end">{{slot.signed_up}}</td>
                <td>
                  <SlotInfoLink @description={{slot.description}} @info={{slot.url}} />
                </td>
                <td class="text-center">
                  {{#if slot.active}}
                    {{fa-icon "check" color="success"}}
                  {{else}}
                    {{fa-icon "times" color="danger"}}
                  {{/if}}
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </fieldset>
      </Modal.body>
    </ChForm>
  </ModalDialog>
{{/unless}}
{{#if this.slotUpdating}}
  <LoadingDialog>
    Updating slot ID #{{this.slotUpdating.id}}
  </LoadingDialog>
{{/if}}