<h1>{{this.formTitle}} for {{@year}}</h1>
<p>
  <a href {{on-click @onCancel}} class="my-4">Back to slots listing</a>
</p>
<ChForm @formId="slot"
        @formFor={{@slot}}
        @validator={{this.slotValidations}}
        @onSubmit={{@onSave}} as |f|>
  <fieldset>
    <legend>Basic Information</legend>
    <FormRow>
      <f.select @name="position_id"
                @label="Position"
                @fixedLabel={{true}}
                @inline={{true}}
                @options={{this.positionOptions}}
      />
    </FormRow>
    <div class="my-2">
      When filling out the description, please avoid using "Click For More Info", or similar, phrasing.
      The text entered in the Additional Information field will be displayed automatically when the user
      signs up for the shift.
    </div>
    <FormRow>
      <f.text @name="description"
              @label="Description"
              @fixedLabel={{true}}
              @inline={{true}}
              @size={{40}}
              @maxlength={{40}}
              @showCharCount={{true}}
      />
    </FormRow>
    <FormRow>
      <f.datetime @name="begins"
                  @label="Start Time"
                  @fixedLabel={{true}}
                  @size={{16}}
                  @maxlength={{16}}
                  @inline={{true}}
      />
      <f.datetime @name="ends"
                  @label="Ending Time"
                  @size={{16}}
                  @maxlength={{16}}
                  @inline={{true}}
      />
      <f.select @name="timezone"
                @label="Timezone"
                @options={{this.timezoneOptions}}
                @inline={{true}}
      />
    </FormRow>
  </fieldset>
  <fieldset class="mt-2">
    <legend>Shift Information</legend>
    <div class="my-2">
      Remember to provide information about the shift in the area below. Any url and emails will be
      hyperlinked automatically. When the user signs up for this shift, the following information will be displayed
      automatically.
    </div>
    <div class="my-2">
      Example: <i>Women of Khaki will meet at Tokyo before shift. More info at
      http://women.khaki/meetup or email women@khaki.rangers</i>
    </div>
    <FormRow>
      <f.textarea @name="url"
                  @label="Additional Information"
                  @rows={{3}}
                  @cols={{80}}
                  @maxlength={{512}}
                  @showCharCount={{true}}
                  @hint=""/>
    </FormRow>
  </fieldset>
  <fieldset>
    <legend>Sign-Up Multiplier &amp; Parent Slot Assoc.</legend>
    <p>
      By selecting a slot below, the sign-up limit of this mentee/trainee slot will be dynamically adjusted based
      on the number of Mentors/Trainers signed up. The max count of this slot will become a multiplier.
      (For example, if the max count on this mentee shift is 2 and 3 mentors sign up, then 6 mentees will
      be allowed to sign up.) <span class="fw-semibold">It is recommended to use the <i>Link To Multiplier Slots</i>
      button on the slots listing to set the slots in bulk</span> instead of trying to do this by hand.
    </p>
    {{#if f.model.parent_slot_id}}
      <div class="col-12">A parent slot has been set. A multiple slot cannot be used.</div>
    {{else if (or @slot.trainer_slot_id (this.hasParentPosition f.model.position_id))}}
      <FormRow>
        <f.select @name="trainer_slot_id"
                  @label="Sign Up Multiplier Mentor/Trainer's Slot"
                  @options={{this.slotOptions f.model.position_id}}
                  @includeBlank={{true}}
                  @inline={{true}}
        />
      </FormRow>
      <p>
        Warning: DO NOT link back the mentor/trainer slot to this slot. An infinite recursion loop will happen.
      </p>

    {{else}}
      <p>The selected position is not a child position.</p>
    {{/if}}
  </fieldset>
  <fieldset>
    <legend>Parent Sign-Up Count Adjustments</legend>
    <p>
      When this slot is linked to a "parent" slot, this slot's signup counts are combined with the parent's
      signup count. (e.g., if the parent shift has 3 signups, and this shift has 2, then parent's signup count
      will effectively be 5.) The combined count may not exceed the parent's signup limit.
      <span class="fw-semibold">It is recommended to use the <i>Link To Parent Slots</i>
      button on the slots listing to set the slots in bulk</span> instead of trying to do this by hand.
    </p>
    {{#if f.model.trainer_slot_id}}
      A trainer multiple slot has been set. A parent slot cannot be set at the same time.
    {{else if (or @slot.parent_signup_slot_id (this.hasParentPosition f.model.position_id))}}
      <FormRow>
        <f.select @name="parent_signup_slot_id"
                  @label="Link to parent slot"
                  @options={{this.slotOptions f.model.position_id}}
                  @includeBlank={{true}}
                  @inline={{true}}
        />
      </FormRow>
    {{else}}
      <p>
        The select position is not a child position.
      </p>
    {{/if}}
  </fieldset>
  <fieldset>
    <legend>Max Sign-Ups &amp; Activation</legend>
    {{#if f.model.trainer_slot_id}}
      <p>
        <span class="text-danger">NOTE:</span>
        The Trainer's Slot has been set and the Max Sign Ups will act as a multiplier instead of a
        hard count. The total sign-ups allowed will be computed as the number of trainers signed up in
        the trainer's slot TIMES the Max Sign-Ups limit.
        (e.g., if 2 trainers are signed up, and the sign-up limit is 10, the total signups allowed will
        be 20.)
      </p>
    {{/if}}
    <FormRow>
      {{! template-lint-disable no-inline-styles}}
      <f.number @name="max"
                @label={{if f.model.trainer_slot_id "Multiplier Sign Ups" "Max Sign Ups"}}
                @size={{4}}
                @maxlength={{4}}
                @inline={{true}}
                style="width: 5em;"
      />
      <div class="col-auto align-self-center">
        <f.checkbox @name="active" @label="Active"/>
      </div>
    </FormRow>
  </fieldset>

  <div class="mt-3">
    <f.submit @label={{if @slot.isNew "Create" "Update"}} @disabled={{@slot.isSaving}} />
    {{#unless @slot.isNew}}
      <f.submit @label="Create new slot from this one"
                @onSubmit={{@onClone}}
                @type="secondary"
                class="ms-4"
      />
    {{/unless}}
    <UiCancelButton @onClick={{@onCancel}} class="ms-4"/>
    {{#if @slot.isSaving}}
      <LoadingIndicator/>
    {{/if}}
  </div>
</ChForm>
<div class="mt-4">
  <a href {{on-click @onCancel}} class="mt-4">Back to slots listing</a>
</div>
