{{#unless @isFiltered}}
  <h1>Bulk Edit {{@position.title}}</h1>
{{/unless}}

<a href {{on-click @onClose}} class="d-block my-4">Back to slots listing</a>

<ChForm @formId="bulkEdit"
        @formFor={{this.editForm}}
        @changeSet={{false}}
        @onSubmit={{this.submitAction}}
        @validator={{this.bulkEditValidations}} as |f|>
  <fieldset>
    <legend>Bulk edit columns (leave field blank to not update)</legend>
    <FormRow>
      {{#if @positions}}
        <f.select @name="positionId"
                  @label="Position"
                  @options={{this.positionOptions}}
        />
      {{/if}}
      <f.text @name="description"
              @label="Description"
              @size={{40}}
              @maxlength={{40}}
              @showCharCount={{true}}
      />
      <f.text @name="max"
              @label="Max Signups"
              @size={{4}} />
    </FormRow>
    <FormRow>
      <f.textarea @name="url"
                  @label="Information"
                  @rows={{3}}
                  @cols={{80}}
                  @maxlength={{512}}
                  @showCharCount={{true}}
      />
    </FormRow>
    <f.submit @label="Update"/>
    {{#if @onClose}}
      <UiCancelButton @type="secondary" @onClick={{@onClose}}/>
    {{/if}}
  </fieldset>

  <fieldset class="mt-2">
    <legend>Select slots to update</legend>
    <UiTable>
      <thead>
      <tr>
        <th>
          <Input @type="checkbox" @checked={{this.selectAll}} {{on "change" this.toggleAll}} />
        </th>
        <th>ID</th>
        <th>Time</th>
        <th class="text-end">Max</th>
        <th class="text-end">Count</th>
        <th>Description</th>
        <th>Active</th>
      </tr>
      </thead>
      <tbody>
      {{#each @slots key="id" as |slot|}}
        <tr id="slot-{{slot.id}}">
          <td>
            <f.checkbox @name="slot_{{slot.id}}" @inline={{true}} />
          </td>
          <td>{{slot.id}}</td>
          <td>
            {{shift-format slot.begins slot.ends}}
            {{#if @isFiltered}}
              <div class="mt-1">
                {{slot.position.title}}
              </div>
            {{/if}}
          </td>
          <td class="text-end">{{slot.max}}</td>
          <td class="text-end">{{slot.signed_up}}</td>
          <td>
            <SlotInfoLink @description={{slot.description}} @info={{slot.url}} />
          </td>
          <td class="text-center">
            <UiBadgeActive @active={{slot.active}} />
          </td>
        </tr>
      {{/each}}
      </tbody>
    </UiTable>
  </fieldset>
</ChForm>

{{#if this.slotUpdating}}
  <LoadingDialog>
    Updating slot ID #{{this.slotUpdating.id}}
  </LoadingDialog>
{{/if}}