<ModalDialog @title={{this.formTitle}} @onEscape={{@onCancel}} as |Modal|>
  <ChForm @formId="slot"
          @formFor={{@slot}}
          @validator={{this.slotValidations}}
          @onSubmit={{@onSave}} as |f|>
    <Modal.body>
      <FormRow>
        <f.select @name="position_id"
                  @label="Position"
                  @options={{this.positionOptions}} />
      </FormRow>
      <FormRow>
        <f.select @name="trainer_slot_id"
                  @label="Sign Up Multiplier Trainer's Slot"
                  @options={{this.trainerSlotsOptions}}
                  @includeBlank={{true}}
        />
      </FormRow>

      <FormRow>
        <f.text @name="description"
                @label="Description"
                @size={{40}}
                @maxlength={{40}}
                @showCharCount={{true}}
        />
      </FormRow>
      <FormRow>
        <f.datetime @name="begins"
                    @label="Beginning Time"
                    @maxlength={{25}} />
        <f.datetime @name="ends"
                    @label="Ending Time"
                    @maxlength={{20}} />
      </FormRow>
      <FormRow>
        <f.number @name="max"
                @label={{if f.model.trainer_slot_id "Multiplier" "Max Sign Ups"}}
                @size={{4}}
                @maxlength={{4}}
        />
      </FormRow>
      {{#if f.model.trainer_slot_id}}
        <span class="text-danger">NOTE:</span>
        The Trainer's Slot has been set and the Max Sign Ups will act as a multiplier instead of a
        hard count. The total sign ups allowed will be computed as the number of trainers signed up in
        the trainer's slot TIMES the Max Sign Ups limit.
        (e.g., if 2 trainers are signed up, and the sign up limitis 10, the total signups allowed will
        be 20.)
      {{/if}}


      <FormRow>
        <div class="col-auto">
          <f.checkbox @name="active" @label="Active"/>
        </div>
      </FormRow>

      <FormRow>
        <f.textarea @name="url"
                    @label="Information"
                    @rows={{3}}
                    @cols={{80}}
                    @maxlength={{512}}
                    @showCharCount={{true}}
                    @hint="Additional information may be given about the shift in the above area.
        e.g., Women of Khaki will meet at Tokyo before shift. More info at http://women.khaki/meetup or email
        women@khaki.rangers"/>
      </FormRow>
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <f.submit @label={{if @slot.isNew "Create" "Update"}} @disabled={{@slot.isSaving}} />
      {{#unless @slot.isNew}}
        <f.submit @label="Create New Slot" @onSubmit={{@onClone}} />
      {{/unless}}
      <UiCancelButton @onClick={{@onCancel}} />
      {{#if @slot.isSaving}}
        <LoadingIndicator/>
      {{/if}}
    </Modal.footer>
  </ChForm>
</ModalDialog>
