<ModalDialog @onEscape={{@cancelAction}} as |Modal|>
  <ChForm @formId="vehicle"
          @formFor={{@entry}}
          @onSubmit={{@saveAction}} as |f|>
    <Modal.title>
      <div class="d-flex justify-content-between align-items-baseline">
        <strong>{{@entry.person.callsign}}</strong>
        <span class="text-muted ms-2">{{@entry.vehicle_year}} {{@entry.vehicle_make}} {{@entry.vehicle_model}}</span>
      </div>
      <div class="text-muted small">
        {{@entry.vehicle_color}} &middot; Lic #{{@entry.license_number}}
      </div>
    </Modal.title>
    <Modal.body>
      {{#if @entry.isApproved}}
        <UiAlert @type="success" @icon="check">
          Request has been approved for the following items:
        </UiAlert>
      {{else if @entry.isRejected}}
        <UiAlert @type="danger" @icon="exclamation-triangle">
          Request has been denied. DO NOT ISSUE ANY STICKERS/ITEMS.
        </UiAlert>
      {{else}}
        <UiAlert @type="warning" @icon="exclamation">
          Vehicle request is pending review. Wait for approval before issuing items.
        </UiAlert>
      {{/if}}
      {{#unless @entry.isRejected}}
        <div class="vr-sticker-items mb-2">
          <div class="vr-sticker-item">
            <div class="vr-sticker-item-label">Driving Permit</div>
            <div class="vr-sticker-item-value">
              {{#if (eq @entry.driving_sticker "none")}}
                <i>- none -</i>
              {{else}}
                {{@entry.drivingStickerLabel}}
              {{/if}}
            </div>
          </div>
          <div class="vr-sticker-item">
            <div class="vr-sticker-item-label">Ranger Logo Decal</div>
            <div class="vr-sticker-item-value">
              {{#if (eq @entry.ranger_logo "none")}}
                <i>- none -</i>
              {{else}}
                {{@entry.rangerLogoLabel}}
              {{/if}}
            </div>
          </div>
          <div class="vr-sticker-item">
            <div class="vr-sticker-item-label">Fuel Chit</div>
            <div class="vr-sticker-item-value">
              {{#if (eq @entry.fuel_chit "none")}}
                <i>- none -</i>
              {{else}}
                {{@entry.fuelChitLabel}}
              {{/if}}
            </div>
          </div>
          <div class="vr-sticker-item">
            <div class="vr-sticker-item-label">Amber Light</div>
            <div class="vr-sticker-item-value">
              {{#if (eq @entry.amber_light "none")}}
                <i>- none -</i>
              {{else}}
                {{@entry.amberLightLabel}}
              {{/if}}
            </div>
          </div>
        </div>
      {{/unless}}

      {{#if @entry.response}}
        <b>Response from Approver</b><br>
        <div class="border p-2 mb-2">
          {{@entry.response}}
        </div>
      {{/if}}

      {{#unless @entry.isRejected}}
        {{#if (not-eq @entry.driving_sticker "none")}}
          <FormRow class="mt-3">
            <f.text @name="sticker_number"
                    @label="Enter STAFF Driving Permit #"
                    @size={{15}}
                    @autofocus={{true}}
            />
          </FormRow>
        {{else}}
          <div class="mt-2">
            <b>No driving permit has been requested.</b>
          </div>
        {{/if}}
      {{/unless}}
    </Modal.body>
    <Modal.footer @align="start">
      {{#unless @entry.isRejected}}
        <f.submit @label="Update" @disabled={{@entry.isSaving}} />
      {{/unless}}
      <UiCancelButton @disabled={{@entry.isSaving}} @onClick={{@cancelAction}} />
      {{#if @entry.isSaving}}
        <LoadingIndicator/>
      {{/if}}
    </Modal.footer>
  </ChForm>
</ModalDialog>