Showing {{pluralize @model.people.length "person"}}
<table class="table table-striped table-hover table-sm table-width-auto">
  <thead>
  <tr>
    <th>Callsign</th>
    <th>OT ID</th>
    <th>OT Username</th>
    <th>OT Email</th>
    <th>OT Name</th>
    <th>Completed Date</th>
  </tr>
  </thead>
  <tbody>
  {{#each @model.people as |person|}}
    <tr>
      <td>
        {{#if person.person}}
          <PersonLink @person={{person.person}} />
        {{else}}
          <i>* unknown *</i>
        {{/if}}
      </td>
      <td>
        {{person.user_id}}
      </td>
      <td>
        {{person.username}}
      </td>
      <td>
        {{person.email}}
      </td>
      <td>
        {{person.first_name}} {{person.last_name}}
      </td>
      <td>
        {{#if person.competed_at}}
          {{person.competed_at}}
        {{else}}
          <i>not completed</i>
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
