<main>
  <h1>Action Log</h1>

  {{#if this.error}}
    <p class="text-danger">
      {{this.error}}
    </p>
  {{/if}}

  <ChForm @formId="query" @formFor={{this.query}} @changeSet={{false}} @onSubmit={{this.searchAction}} as |f|>
    <FormRow>
      <f.text @name="person"
              @label="Person"
              @size={{30}}
              @fieldSize="sm"
              @hint="Callsign or person id"/>
      <f.datetime @name="start_time"
                  @label="Start time (UTC-7)"
                  @fieldSize="sm"
                  @size={{30}} />
      <f.datetime @name="end_time"
                  @label="End time (UTC-7)"
                  @fieldSize="sm"
                  @size={{30}} />
    </FormRow>
    <FormRow>
      <FormLabel @fixed={{true}}>Events</FormLabel>
      <f.checkboxGroup @name="events"
                       @cols={{4}}
                       @options={{this.eventOptions}} />
    </FormRow>
    <FormRow>
      <FormLabel @fixed={{true}} @class="pt-0">Sort</FormLabel>
      <div class="col-auto">
        <f.radioGroup @name="sort"
                      @options={{this.sortOptions}}
                      @inline={{true}}/>
      </div>
    </FormRow>
    <f.submit @label="Search"/>
    <UiButton @type="secondary" @onClick={{fn this.resetFilters f.model}}>Reset</UiButton>
  </ChForm>

  {{#if this.logs}}
    <div class="mt-4">
      Showing {{this.currentPage}} of {{this.total_pages}} pages. {{pluralize this.total "row"}}
    </div>
    <table class="table table-striped table-hover table-sm ">
      <thead>
      <tr>
        <th class="w-15">Timestamp (UTC-7)</th>
        <th class="w-15">User</th>
        <th class="w-15">Target</th>
        <th class="w-15">Event</th>
        <th class="w-30">Message / Reason</th>
        <th class="w-15">Action</th>
      </tr>
      </thead>

      <tbody>
      {{#each this.logs as |log|}}
        <tr>
          <td class="w-15">{{log.created_at}}</td>
          <td class="w-15">
            {{#if log.person}}
              <PersonLink @person={{log.person}} />
            {{else if log.person_id}}
              #{{log.person_id}}
            {{else}}
              -
            {{/if}}
          </td>
          <td class="w-15">
            {{#if log.target_person}}
              <PersonLink @person={{log.target_person}} />
            {{else if log.target_person_id}}
              #{{log.target_person_id}}
            {{else}}
              -
            {{/if}}
          </td>
          <td class="w-15">
            {{log.event}}
          </td>
          <td class="w-30">
            {{#if log.message}}
              {{log.message}}
            {{else}}
              -
            {{/if}}
          </td>
          <td class="w-5">
            {{#if log.data}}
              <UiButton @type="secondary" @size="sm" @onClick={{fn this.toggleLog log}}>
                {{if log.showing "Hide" "Show"}}
              </UiButton>
            {{else}}
              -
            {{/if}}
          </td>
        </tr>

        {{#if (or log.positions log.position log.roles log.slot)}}
          <tr class="tr-no-border">
            <td colspan="6">
              {{#if log.positions}}
                {{#each log.positions as |p idx|}}
                  {{if idx " / "}} {{p.title}}
                {{/each}}
                <br>
              {{/if}}
              {{#if log.position}}
                Position #{{log.position.id}} {{log.position.title}}
              {{/if}}

              {{#if log.roles}}
                {{#each log.roles as |r idx|}}
                  {{if idx " / "}} {{r.title}}
                {{/each}}<br>
              {{/if}}

              {{#if log.slot}}
                Slot #{{log.slot.id}} {{log.slot.position.title}} - {{log.slot.description}}
                {{shift-format log.slot.begins}}<br>
              {{/if}}

              {{#if log.enrolled_slots}}
                {{#each log.enrolled_slots as |slot|}}
                  Previously Enrolled #{{slot.id}} {{slot.position.title}} - {{slot.description}}
                  {{shift-format slot.begins}}<br>
                {{/each}}
              {{/if}}
            </td>
          </tr>
        {{/if}}

        {{#if log.showing}}
          <tr class="tr-no-border">
            <td colspan="6">
              <JsonFormat @json={{log.data}} />
            </td>
          </tr>
        {{/if}}
      {{/each}}
      </tbody>
    </table>
    <UiButton @type="secondary" @onClick={{this.goPrevPage}} @disabled={{eq this.currentPage 1}}>
      Prev Page
    </UiButton>
    <UiButton @type="secondary" @onClick={{this.goNextPage}} @disabled={{eq this.currentPage this.total_pages}}>
      Next Page
    </UiButton>
  {{else}}
    <p class="text-danger font-weight-bold mt-4">No Action Logs matched the criteria.</p>
  {{/if}}
</main>
