<main>
  <h1>Action Log</h1>

  {{#if this.error}}
    <p class="text-danger">
      {{this.error}}
    </p>
  {{/if}}

  <ChForm @formId="query" @formFor={{this.query}} @changeSet={{false}} @onSubmit={{this.searchAction}} as |f|>
    <FormRow>
      <f.search @name="person"
                @label="Person"
                @size={{30}}
                @hint="Callsign or person id"
                @autofocus={{true}}
                @onSearch={{this.searchCallsignAction}}
                @noResultsText="No callsigns found"
      />
      <f.datetime @name="start_time"
                  @label="Start time"
                  @size={{20}} />
      <f.datetime @name="end_time"
                  @label="End time"
                  @size={{20}} />
      <f.text @name="event_name" @label="Event Name" @size={{20}} />
      <f.text @name="message" @label="Message/Reason" @size={{20}}/>
    </FormRow>
    <FormRow>
      <FormLabel @fixed={{true}}>Events</FormLabel>
      <f.checkboxGroup @name="events"
                       @cols={{4}}
                       @options={{this.eventOptions}} />
    </FormRow>
    <FormRow>
      <FormLabel @fixed={{true}} @class="pt-0">Sort</FormLabel>
      <div class="col-auto">
        <f.radioGroup @name="sort"
                      @options={{this.sortOptions}}
                      @inline={{true}}/>
      </div>
    </FormRow>
    <f.submit @label="Search"/>
    <UiButton @type="gray" class="btn-link" @onClick={{fn this.resetFilters f.model}}>
      Clear Filters
    </UiButton>
  </ChForm>

  {{#if this.logs}}
    <div class="mt-4">
      Showing {{this.currentPage}} of {{this.total_pages}} pages. {{pluralize this.total "row"}}
    </div>
    <UiTable @noWidthAuto={{true}}>
      <thead>
      <tr>
        <th class="w-20">Timestamp (Pacific)</th>
        <th class="w-15">User</th>
        <th class="w-15">Target</th>
        <th class="w-20">Event</th>
        <th class="w-25">Message / Reason</th>
      </tr>
      </thead>

      <tbody>
      {{#each this.logs as |log|}}
        <tr>
          <td class="w-20">
            {{#if log.data}}
              <a href {{on-click this.toggleLog log}}>
                {{fa-icon (if log.showing "caret-down" "caret-right") right=1}} {{timestamp-format log.created_at}}
              </a>
            {{else}}
              &nbsp; {{log.created_at}}
            {{/if}}
          </td>
          <td class="w-15">
            {{#if log.person}}
              <PersonLink @person={{log.person}} />
            {{else if log.person_id}}
              #{{log.person_id}}
            {{else}}
              -
            {{/if}}
          </td>
          <td class="w-15">
            {{#if log.target_person}}
              <PersonLink @person={{log.target_person}} />
            {{else if log.target_person_id}}
              #{{log.target_person_id}}
            {{else}}
              -
            {{/if}}
          </td>
          <td class="w-20">
            {{log.event}}
          </td>
          <td class="w-25 text-break">
            {{#if log.message}}
              <ReadMore @text={{log.message}} @limit={{50}}/>
            {{else}}
              -
            {{/if}}
          </td>
        </tr>

        {{#if (or log.positions log.position log.roles log.slot log.role log.team)}}
          <tr class="tr-no-border">
            <td colspan="5" class="text-break">
              {{#if log.positions}}
                {{#each log.positions as |p idx|}}
                  {{if idx " / "}} {{p.title}}
                {{/each}}
                <br>
              {{/if}}
              {{#if log.position}}
                Position #{{log.position.id}} {{log.position.title}}
              {{/if}}

              {{#if log.roles}}
                {{#each log.roles as |r idx|}}
                  {{if idx " / "}} {{r.title}}
                {{/each}}<br>
              {{/if}}

              {{#if log.role}}
                Role: {{log.role.title}}<br>
              {{/if}}

              {{#if log.slot}}
                Slot #{{log.slot.id}} {{log.slot.position.title}} - {{log.slot.description}}
                {{shift-format log.slot.begins}}<br>
              {{/if}}

              {{#if log.enrolled_slots}}
                {{#each log.enrolled_slots as |slot|}}
                  Previously Enrolled #{{slot.id}} {{slot.position.title}} - {{slot.description}}
                  {{shift-format slot.begins}}<br>
                {{/each}}
              {{/if}}

              {{#if log.team}}
                Team: {{log.team.title}}<br>
              {{/if}}
            </td>
          </tr>
        {{/if}}

        {{#if log.showing}}
          <tr class="tr-no-border">
            {{! template-lint-disable no-inline-styles}}
            <td colspan="5" class="text-break">
              {{#if log.ip}}
                IP: {{log.ip}}<br>
              {{/if}}
              {{#if log.browser}}
                Browser: {{log.browser.platform}} {{log.browser.browser}} {{log.browser.version}}
              {{else if log.user_agent}}
                User agent: {{log.user_agent}}<br>
              {{/if}}
              <JsonFormat @json={{log.data}} />
            </td>
          </tr>
        {{/if}}
      {{/each}}
      </tbody>
    </UiTable>
    <UiButtonRow>
      <UiButton @type="secondary" @onClick={{this.goPrevPage}} @disabled={{eq this.currentPage 1}}>
        Prev Page
      </UiButton>
      <UiButton @type="secondary" @onClick={{this.goNextPage}} @disabled={{eq this.currentPage this.total_pages}}>
        Next Page
      </UiButton>
    </UiButtonRow>
  {{else}}
    <p class="text-danger font-weight-bold mt-4">No Action Logs matched the criteria.</p>
  {{/if}}
</main>
