<main>
  <h1>Ranger Broadcast Service Alerts</h1>
  {{#if this.canManageAlerts}}
    <p>
      <UiButton @onClick={{this.newAlert}}>New Alert</UiButton>
    </p>
  {{/if}}
  <p>

  </p>
  Showing {{pluralize this.alerts.length "alert"}}
  <UiTable>
    <thead>
    <tr>
      <th>ID</th>
      <th>Title / Description</th>
      <th>On Playa?</th>
      {{#if this.canManageAlerts}}
        <th>Action</th>
      {{/if}}
    </tr>
    </thead>

    <tbody>
    {{#each this.alerts as |alert|}}
      <tr>
        <td class="no-wrap text-end">{{alert.id}}</td>
        <td>{{alert.title}}<br>{{alert.description}}</td>
        <td class="no-wrap">
          {{#if alert.on_playa}}
            <UiBadge @text="on playa" @type="secondary"/>
          {{else}}
            -
          {{/if}}
        </td>
        {{#if this.canManageAlerts}}
          <td class="no-wrap">
            <UiEditButton @size="sm" @onClick={{fn this.editAlert alert}} />
          </td>
        {{/if}}
      </tr>
    {{else}}
      <tr>
        <td colspan="4"><b class="text-danger">No alerts found?</b></td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>

  {{#if this.entry}}
    <ModalDialog @title="{{if this.entry.isNew "New" "Edit"}} Alert" @onEscape={{this.cancelAlert}} as |Modal|>
      <ChForm @formId="alert" @formFor={{this.entry}} @onSubmit={{this.saveAlert}} as |f|>
        <Modal.body>
          <FormRow>
            <f.text @name="title"
                    @label="Title"
                    @size={{30}}
                    @maxlength={{255}}/>
          </FormRow>
          <FormRow>
            <f.textarea @name="description"
                        @label="Alert Description"
                        @rows={{10}}
                        @cols={{80}}/>
          </FormRow>
          <FormRow>
            <div class="col-auto">
              <f.checkbox @name="on_playa"
                          @label="Is alert related to a broadcast that will happen on playa?"/>
            </div>
          </FormRow>
        </Modal.body>
        <Modal.footer @align="start">
          <UiButtonRow>
            <f.submit @label={{if this.entry.isNew "Create" "Update"}} @disabled={{this.entry.isSaving}} />
            <UiCancelButton @disabled={{this.entry.isSaving}} @onClick={{this.cancelAlert}} />
            {{#if this.isSaving}}
              <LoadingIndicator/>
            {{/if}}
            <div class="ms-auto">
              <UiButton @type="danger" @size="sm" @onClick={{this.deleteAlert}}>
                {{fa-icon "trash"}} Delete
              </UiButton>
            </div>
          </UiButtonRow>
        </Modal.footer>
      </ChForm>
    </ModalDialog>
  {{/if}}
</main>