<h1>Ranger Broadcast Service Alerts</h1>
{{#if this.canManageAlerts}}
  <p>
    <UiButton @onClick={{this.newAlert}}>New Alert</UiButton>
  </p>
{{/if}}

Showing {{pluralize this.alerts.length "alert"}}
<table class="table table-sm table-hover table-width-auto">
  <thead>
  <tr>
    <th class="w-10">ID</th>
    <th class="w-65">Title / Description</th>
    <th class="w-5">On Playa?</th>
    {{#if this.canManageAlerts}}
      <th class="w-20">Action</th>
    {{/if}}
  </tr>
  </thead>

  <tbody>
  {{#each this.alerts as |alert|}}
    <tr>
      <td class="w-10">{{alert.id}}</td>
      <td class="w-65">{{alert.title}}<br>{{alert.description}}</td>
      <td class="w-5">{{yesno alert.on_playa}}</td>
      {{#if this.canManageAlerts}}
        <td class="w-20">
          <UiButton @type="danger" @size="sm" @onClick={{fn this.deleteAlert alert}}>
            {{fa-icon "trash"}} Delete
          </UiButton>
          <UiButton @size="sm" @onClick={{fn this.editAlert alert}}>
            {{fa-icon "edit"}} Edit
          </UiButton>
        </td>
      {{/if}}
    </tr>
  {{else}}
    <tr>
      <td colspan="4" class="w-100"><b class="text-danger">No alerts found?</b></td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{#if this.entry}}
  <ModalDialog @title="{{if this.entry.isNew "New" "Edit"}} Alert" @onEscape={{this.cancelAlert}} as |Modal|>
    <ChForm @formId="alert" @formFor={{this.entry}} @onSubmit={{action this.saveAlert}} as |f|>
      <Modal.body>
        <FormRow>
          <f.text @name="title"
                  @label="Title"
                  @size={{30}}
                  @maxlength={{255}}/>
        </FormRow>
        <FormRow>
          <f.textarea @name="description"
                      @label="Alert Description"
                      @rows={{10}}
                      @cols={{80}}/>
        </FormRow>
        <FormRow>
          <div class="col-auto">
            <f.checkbox @name="on_playa"
                        @label="Is alert related to a broadcast that will happen on playa?"/>
          </div>
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign=true>
        <f.submit @label={{if this.entry.isNew "Create" "Update"}} @disabled={{this.entry.isSaving}} />
        <UiCancelButton @disabled={{this.entry.isSaving}} @onClick={{this.cancelAlert}} />
        {{#if this.isSaving}}
          <LoadingIndicator/>
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
