{{year-select "Assets (Radios, Gear, Vehicles)" year=year onChange=(action (mut year))}}

{{#unless isCurrentYear}}
  {{#ch-alert "warning"}}
    A previous year is selected. Select the current year to add new assets.
  {{/ch-alert}}
{{/unless}}

<div class="form-row mb-1">
  <div class="col-auto">
    <label class="col-form-label">Description Filter</label>
  </div>
  <div class="col-md-3 mb-2">
    {{ch-form/select name="descriptionFilter" value=descriptionFilter options=descriptionOptions onChange=(action (mut descriptionFilter)) controlClass="form-control"}}
  </div>

  <div class="col-auto">
    <label class="col-form-label">Temp ID Filter</label>
  </div>
  <div class="col-md-3 mb-2">
    {{ch-form/select name="tempIdFilter" value=tempIdFilter options=tempIdOptions onChange=(action (mut tempIdFilter)) controlClass="form-control"}}
  </div>
</div>

{{#if isCurrentYear}}
  <div class="float-right">
    <button class="btn btn-primary" {{action newAsset}}>New Asset</button>
  </div>
{{/if}}

Showing {{viewAssets.length}} of {{pluralize assets.length "asset"}}
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>Barcode</th>
      <th>Description</th>
      <th>Temp ID</th>
      <th>Assigned</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    {{#each viewAssets as |asset|}}
      <tr>
        <td>{{asset.barcode}}</td>
        <td>{{asset.description}}</td>
        <td>{{present-or-not asset.temp_id "-"}}</td>
        <td>{{if asset.perm_assign "Perm" "Temp"}}</td>
        <td>
          <button class="btn btn-secondary btn-sm" {{action assetHistoryAction asset}}>History</button>
          <button class="btn btn-danger btn-sm" {{action deleteAsset asset}}>{{fa-icon "trash"}}</button>
          <button class="btn btn-primary btn-sm" {{action editAsset asset}}>{{fa-icon "edit"}}</button>
        </td>
      </tr>
    {{else if assets}}
      <tr>
        <td colspan="5" class="text-danger">No assets matched.</td>
      </tr>
    {{else}}
      <td colspan="5" class="text-danger">No assets were found for {{year}}?!?</td>
    {{/each}}
  </tbody>
</table>

{{#if entry}}
  {{#ch-form "asset" entry modalBox=true modalTitle=(if entry.isNew "New Asset" "Edit Asset") validator=assetValidations onSubmit=(action saveAsset) onCancel=(action cancelAsset) as |f|}}
    <div class="form-row">
      {{f.input "description" label="Description/Type" type="select" options=assetDescriptionOptions grid="col-auto"}}
      {{f.input "barcode" label="Barcode" size=25 grid="col-auto"}}

      {{f.input "temp_id" label="Temp ID (aka secondary description)" type="text" size=25 grid="col-auto"}}
      {{f.input "notes" type="textarea" label="Notes"  rows=2 cols=80}}
    </div>
    <div class="form-row">
      <label class="col-auto">Assignment</label>
    </div>
    <div class="form-row">
      <div class="col-auto">
        {{f.input "perm_assign" type="radioGroup" options=permanentOptions inline=true}}
      </div>
    </div>

    {{#if entry.isNew}}
      <div class="form-row mt-2">
        <label class="col-auto">Copies (including the first) - Leave blank if only creating one</label>
      </div>
      <div class="form-row">
        {{f.input "copies" type="text" size=4 maxlength=4 controlClass="form-control" grid="col-auto"}}
      </div>
    {{/if}}
    <fieldset>
      <legend>Vehichle Information</legend>
      <div class="form-row">
        {{f.input "category" type="select" label="Category" options=categoryOptions grid="col-auto"}}
        {{f.input "subtype" type="text" label="Type" size=25 grid="col-auto"}}
        {{f.input "color" type="text" label="Color" size=25 grid="col-auto"}}
        {{f.input "style" type="text" label="Style" size=25 grid="col-auto"}}
      </div>
    </fieldset>
    <div class="mt-2">
      {{f.submit label=(if f.model.isNew "Create" "Update") disabled=isSubmitting}}
      {{f.cancel disabled=isSubmitting}}
      {{#if (and isSubmitting creatingBarcode)}}
        <b>Creating {{creatingBarcode}}</b>
      {{/if}}
    </div>
  {{/ch-form}}
{{/if}}
{{#if assetForHistory}}
  {{modal-asset-history assetId=assetForHistory.id onClose=(action closeAssetHistory)}}
{{/if}}
