<YearSelect @title="Assets (Radios, Gear, Vehicles)" @year={{this.year}} @onChange={{action (mut this.year)}} />
<div class="form-row mb-1">
  <label class="col-form-label">Description Filter</label>
  <div class="col-auto">
    <ChForm::Select @name="descriptionFilter" @value={{this.descriptionFilter}} @options={{this.descriptionOptions}}
                    @onChange={{action (mut this.descriptionFilter)}} @controlClass="form-control"/>
  </div>

  <label class="col-form-label">Temp ID Filter</label>
  <div class="col-auto">
    <ChForm::Select @name="tempIdFilter" @value={{this.tempIdFilter}} @options={{this.tempIdOptions}}
                    @onChange={{action (mut this.tempIdFilter)}} @controlClass="form-control"/>
  </div>
  <label class="col-form-label">Action</label>
  <div class="col-auto">
    <button type="button" class="btn btn-primary" {{action this.newAsset}}>New Asset</button>

  </div>
</div>

Showing {{this.viewAssets.length}} of {{pluralize this.assets.length "asset"}}
<table class="table table-sm table-striped table-width-auto">
  <thead>
  <tr>
    <th>Barcode</th>
    <th>Description</th>
    <th>Temp ID</th>
    <th>Assigned</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  {{#each this.viewAssets as |asset|}}
    <tr>
      <td>{{asset.barcode}}</td>
      <td>{{asset.description}}</td>
      <td>
        <PresentOrNot @value={{asset.temp_id}} @empty="-"/>
      </td>
      <td>{{if asset.perm_assign "Perm" "Temp"}}</td>
      <td>
        <button type="button" class="btn btn-secondary btn-sm" {{action this.assetHistoryAction asset}}>History</button>
        <button type="button" class="btn btn-danger btn-sm" {{action this.deleteAsset asset}}>{{fa-icon "trash"}}
          Delete
        </button>
        <button type="button" class="btn btn-primary btn-sm" {{action this.editAsset asset}}>{{fa-icon "edit"}}Edit
        </button>
      </td>
    </tr>
  {{else if this.assets}}
    <tr>
      <td colspan="5" class="text-danger">No assets matched.</td>
    </tr>
  {{else}}
    <td colspan="5" class="text-danger">No assets were found for {{this.year}}?!?</td>
  {{/each}}
  </tbody>
</table>

{{#if this.entry}}
  <ModalDialog @title={{if this.entry.isNew "New Asset" "Edit Asset"}} @onEscape={{this.cancelAsset}} as |Modal|>
    <ChForm @formId="asset"
            @formFor={{this.entry}}
            @validator={{this.assetValidations}}
            @onSubmit={{action this.saveAsset}} as |f|>
      <Modal.body>
        <div class="form-row">
          <f.input @name="description" @label="Description/Type" @type="select"
                   @options={{this.assetDescriptionOptions}}
                   @grid="col-auto"/>
          <f.input @name="barcode" @label="Barcode" @size={{25}} @grid="col-auto"/>

          <f.input @name="temp_id" @label="Temp ID (aka secondary description)" @type="text" @size={{25}} @grid="col-auto"/>
          <f.input @name="notes" @type="textarea" @label="Notes" @rows={{2}} @cols={{80}}/>
        </div>
        <div class="form-row">
          <label class="col-auto">Assignment</label>
          <div class="col-auto">
            <f.input @name="perm_assign" @type="radioGroup" @options={{this.permanentOptions}} @inline={{true}}/>
          </div>
        </div>

        {{#if this.entry.isNew}}
          <div class="form-row">
            <label class="col-12">Copies (including the first) - Leave blank if only creating one</label>
            <f.input @name="copies" @type="text" @size={{4}} @maxlength={{4}} @controlClass="form-control" @grid="col-auto"/>
          </div>
        {{/if}}
        <fieldset>
          <legend>Vehichle Information</legend>
          <div class="form-row">
            <f.input @name="category" @type="select" @label="Category" @options={{this.categoryOptions}}
                     @grid="col-auto"/>
            <f.input @name="subtype" @type="text" @label="Type" @size={{25}} @grid="col-auto"/>
            <f.input @name="color" @type="text" @label="Color" @size={{25}} @grid="col-auto"/>
            <f.input @name="style" @type="text" @label="Style" @size={{25}} @grid="col-auto"/>
          </div>
        </fieldset>
      </Modal.body>
      <Modal.footer @noAlign=true>
        <f.submit @label={{if f.model.isNew "Create" "Update"}} @disabled={{this.isSubmitting}} />
        <UiCancelButton @disabled={{this.isSubmitting}} @onClick={{this.cancelAsset}} />
        {{#if this.isSubmitting}}
          {{#if this.creatingBarcode}}
            <LoadingIndicator @text={{concat "Creating " this.creatingBarcode}} />
          {{else}}
            <LoadingIndicator/>
          {{/if}}
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
{{#if this.assetForHistory}}
  <ModalAssetHistory @assetId={{this.assetForHistory.id}} @onClose={{action this.closeAssetHistory}} />
{{/if}}
