<main>
  <h1>Special Service Awards</h1>
  <p>
    Special Service Awards are granted to individuals to recognize their participation in special events that
    fall outside cadre/delegation contributions.
  </p>
  <p>
    <UiButton @onClick={{this.newAward}}>New Award</UiButton>
  </p>
  <UiTable>
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.awards as |award|}}
      <tr>
        <td class="text-end">{{award.id}}</td>
        <td>{{award.title}}</td>
        <td>
          {{nl2br award.description}}
        </td>
        <td>
          <UiEditButton @size="sm" @onClick={{fn this.editAward award}} />
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="4">No awards have been created yet.</td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
</main>
{{#if this.entry}}
  <ModalDialog @title={{if this.entry.isNew "New Award"  "Edit Award"}} @onEscape={{this.cancelAward}} as |Modal|>
    <ChForm @formId="award"
            @formFor={{this.entry}}
            @validator={{this.awardValidations}}
            @onSubmit={{this.saveAward}} as |f|>
      <Modal.body>
        <FormRow>
          <f.text @name="title"
                  @label="Award Title (shown to user):"
                  @maxlength={{80}}
                  @size={{80}}/>
        </FormRow>
        <FormRow>
          <f.textarea @name="description"
                      @label="Award Description (not shown to user):"
                      @rows={{4}}
                      @cols={{80}}
                      @size={{80}}
          />
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <UiButtonRow>
          <f.submit @label={{if this.entry.isNew "Create" "Update"}} />
          <UiCancelButton @onClick={{this.cancelAward}} />
          <div class="ms-auto">
            <UiDeleteButton @onClick={{this.removeAward}} />
          </div>
        </UiButtonRow>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
{{#if this.entry.isSaving}}
  <LoadingDialog>Saving Entry</LoadingDialog>
{{/if}}
