<h1>Bulk Upload</h1>

<p>This page allows you to bulk upload a list of Rangers who should have
  their Ranger vehicle paperwork checked, or their Motor Vehicle Record (MVR)
  checked, or who should be marked as eligible for an event radio, etc.</p>

<p>Please select which action you want to take, and then enter Ranger
  callsigns in the big text input area below. Some actions require you to have
  comma-separated parameters after each Ranger's callsign.</p>
<p>
  No changes will be made until you click on the 'Commit' button which appears after clicking on 'Verify Upload'.
</p>

{{#if actionResults}}
  <div class="border rounded p-2 mt-2 mb-2">
    {{#if resultFailures}}
      <h4 class="text-danger">{{pluralize resultFailures.length "error"}} encountered</h4>
      <table class="table table-sm table-striped mt-4">
        <thead>
          <tr>
            <th>Callsign</th>
            <th>Error</th>
          </tr>
        </thead>
        <tbody>
          {{#each resultFailures as |result|}}
            <tr>
              <td class="w-25">
                {{#if (eq result.status "callsign-not-found")}}
                  {{result.callsign}}
                {{else}}
                  {{person-link person=result}}
                {{/if}}
              </td>
              <td class="w-70">
                {{#if (eq result.status "callsign-not-found")}}
                  Callsign not found
                {{else}}
                  {{result.status}}
                  {{#if result.details}}
                    : {{result.details}}
                  {{/if}}
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else if resultsCommitted}}
      <h4 class="text-success">Bulk Upload SUCCESS!</h4>
    {{else}}
      <h4>Review Upload - Nothing submitted yet</h4>
    {{/if}}

    {{#if resultSuccesses}}
      <h4>{{pluralize resultSuccesses.length "callsign" }} {{if resultsCommitted "successfully uploaded" "with no errors"}}</h4>
      <div class="row">
        {{#each resultSuccesses as |result|}}
          <div class="col-sm-6 col-md-3 col-lg-2 m-2">{{person-link person=result}}</div>
        {{/each}}
      </div>
    {{/if}}

    {{#if (and resultSuccesses (not resultFailures) (not resultsCommitted))}}
      <button class="btn btn-success" {{action commitAction}} disabled={{isSubmitting}}>Commit Upload</button>
    {{/if}}
  </div>
{{/if}}

<div class="form-group row">
  <div class="col-auto">
    <label class="col-form-label">Select bulk action:</label>
  </div>
  <div class="col-auto">
    {{ch-form/select name="uploadAction" value=uploadAction options=uploadOptions
        includeBlank=true onChange=(action (mut uploadAction)) controlClass="form-control"}}
  </div>
</div>

<div class="form-group row">
  <div class="col-auto">
    <label>Enter callsigns (one per line) below:</label>
    {{textarea class="form-control" value=this.records rows=10 cols=80}}
  </div>
</div>

<div class="form-group row">
  <div class="col-auto">
    <button type="button" class="btn btn-primary" disabled={{or isSubmitting disableSubmit}} {{action submitAction}}>{{if isSubmitting "Submitting" "Verify Upload"}}</button>
  </div>
</div>
<p>
  After the actions have been verified, you'll be able to commit the upload.
</p>
