<h1>Bulk Callsign and/or Email Lookup</h1>

<ChForm @formId="bulkForm" @formFor={{this.bulkForm}} @changeSet={{false}} @onSubmit={{this.lookupAction}} as |f|>
  <FormRow>
    <f.textarea @name="lines"
             @label="Enter a list of callsigns and/or emails separated by a new line to lookup:"
             @cols={{40}}
             @rows={{10}}/>
  </FormRow>
  <f.submit @label="Lookup" @disabled={{or (is-empty f.model.lines) this.isSubmitting}}/>
  {{#if this.isSubmitting}}
    <LoadingIndicator/>
  {{/if}}
</ChForm>

{{#if this.people}}
  {{#if this.peopleNotFound}}
    <UiSection>
      <:title><span class="text-danger">{{pluralize this.peopleNotFound.length "person"}} not found1</span></:title>
      <:body>
        <div class="callsign-list mb-2">
          {{#each this.peopleNotFound as |name|}}
            <div>{{name}}</div>
          {{/each}}
        </div>
        <UiButton @type="secondary" @onClick={{this.exportNotFoundToCSV}}>
          Export Not Found to CSV
        </UiButton>
      </:body>
    </UiSection>
  {{/if}}

  <UiSection>
    <:title><span class="text-success">{{pluralize this.peopleFound.length "person"}} found</span></:title>
    <:body>
      {{#if this.peopleFound}}
        <table class="table table-width-auto table-striped table-hover">
          <thead>
          <tr>
            <th>Callsign</th>
            <th>Status</th>
            <th>Name</th>
            <th>Email</th>
            <th>Last worked</th>
          </tr>
          </thead>
          <tbody>
          {{#each this.peopleFound as |person|}}
            <tr>
              <td>
                <PersonLink @person={{person}} />
              </td>
              <td>{{person.status}}</td>
              <td>{{person.first_name}} {{person.last_name}}</td>
              <td>{{mail-to person.email}}</td>
              <td>
                {{#if person.last_worked}}
                  {{person.last_worked}}
                {{else}}
                  <i>never</i>
                {{/if}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        <UiButton @onClick={{this.exportFoundToCSV}}>Export Found To CSV</UiButton>
      {{/if}}
    </:body>
  </UiSection>
{{/if}}
