<main>
  <h1>Bulk Grant Awards</h1>
  <p>
    Use this interface bulk grant awards to people based either on service years, or upload a list of callsigns to grant
    a specific award.
  </p>

  <UiSection>
    <:title>Service Year Grants</:title>
    <:body>
      <p>
        Choose the service years and award to grant. People will be selected based on who have worked X years or more,
        who are allowed to work (i.e., a status of active, inactive, inactive extension, or retired), and who have NOT
        been grant the award yet.
      </p>
      <FormRow>
        <div class="col-auto">
          <label>Service Years</label>
          <ChForm::Select @name="serviceYears"
                          @value={{this.serviceYears}}
                          @options={{this.serviceYearOptions}}
                          @onChange={{action (mut this.serviceYears)}} />
        </div>
        <div class="col-auto">
          <label>Award</label>
          <ChForm::Select @name="awardId"
                          @value={{this.awardId}}
                          @options={{this.awardOptions}}
                          @onChange={{action (mut this.awardId)}} />
        </div>
      </FormRow>
      <UiButton @onClick={{this.previewServiceYearGrant}}>Preview Grant</UiButton>
      {{#if this.haveServiceYearsResults}}
        <div class="mt-2">
          {{#if this.committed}}
            Granted {{this.awardSelected.title}} to {{pluralize this.haveServiceYearsResults.length "person"}}
          {{else}}
            Found {{pluralize this.serviceYearsResults.length "candidate"}}
          {{/if}}
          who have worked {{this.serviceYears}} years or more.
        </div>
        <table class="table table-width-auto table-striped table-hover">
          <thead>
          <tr>
            <th>Person</th>
            <th>Status</th>
            <th class="text-end">Years Worked</th>
          </tr>
          </thead>
          <tbody>
          {{#each this.serviceYearsResults as |person|}}
            <tr>
              <td>
                <PersonLink @person={{person}} />
              </td>
              <td>{{person.status}}</td>
              <td class="text-end">{{person.years}}</td>
            </tr>
          {{else}}
            <tr>
              <td colspan="3" class="text-danger">
                No people founds to have worked {{this.serviceYears}} (or more) and who have been NOT awarded
                {{this.awardSelected.title}}.
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        {{#if (and this.serviceYearsResults (not this.committed))}}
          <UiButton @onClick={{this.commitServiceYearGrant}}>
            Grant "{{this.awardSelected.title}}" to {{pluralize this.serviceYearsResults.length "person"}}
          </UiButton>
        {{/if}}
      {{/if}}
    </:body>
  </UiSection>

  <UiSection>
    <:title>Grant Specific Award</:title>
    <:body>
      <p>
        Select the award, and enter the people to grant the award to.
      </p>
      <FormRow>
        <div class="col-auto">
          <label>Award To Grant</label>
          <ChForm::Select @name="awardId"
                          @value={{this.awardId}}
                          @options={{this.awardOptions}}
                          @onChange={{action (mut this.awardId)}} />
        </div>
      </FormRow>
      <FormRow>
        <div class="col-auto">
          <label>Enter callsigns (one per line) below:</label>
          <Textarea class="form-control" @value={{this.callsigns}} rows={{10}} cols={{80}} />
        </div>
      </FormRow>
      <UiButton @onClick={{this.previewGrant}}>Preview Grant</UiButton>
      {{#if this.haveResults}}
        <div class="mt-2">
          {{#if this.committed}}
            Granted {{this.awardSelected.title}} to {{pluralize this.results.length "person"}}
          {{else}}
            Showing {{pluralize this.results.length "person"}}
            {{#if this.resultErrors}}
              <b class="text-danger">{{pluralize this.resultErrors "error"}} found</b>
            {{/if}}
          {{/if}}
        </div>
        <table class="table table-width-auto table-striped table-hover">
          <thead>
          <tr>
            <th>Person</th>
            <th>Status</th>
            <th>Granted?</th>
          </tr>
          </thead>
          <tbody>
          {{#each this.results as |person|}}
            <tr>
              {{#if person.not_found}}
                <td colspan="3" class="text-danger">{{person.callsign}} not found</td>
              {{else}}
                <td>
                  <PersonLink @person={{person}} />
                </td>
                <td>{{person.status}}</td>
                <td>
                  {{#if person.have_award}}
                    {{#if this.committed}}
                      <span class="text-success">{{fa-icon "check"}} Granted</span>
                    {{else}}
                      <b class="text-danger">Already has award</b>
                    {{/if}}
                  {{else}}
                    -
                  {{/if}}
                </td>
              {{/if}}
            </tr>
          {{else}}
            <tr>
              <td colspan="3" class="text-danger">
                No people founds to have worked {{this.serviceYears}} (or more) and who have been NOT awarded
                {{this.awardSelected.title}}.
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        {{#if (and this.haveResults (not this.committed))}}
          <UiButton @onClick={{this.commitGrant}}>
            Grant "{{this.awardSelected.title}}" to {{pluralize this.results.length "person"}}
          </UiButton>
        {{/if}}
      {{/if}}
    </:body>
  </UiSection>
</main>
{{#if this.isSubmitting}}
  <LoadingDialog>
    Submitting grant request
  </LoadingDialog>
{{/if}}