<h1>Position Bulk Grant/Revocation</h1>
<p>
  Use this page to grant or revoke a position for a list of callsigns.
</p>

{{#if this.people}}
  <div class="border rounded p-2 mt-2 mb-2">
    {{#if this.committed}}
      <h4 class="text-success">
        The {{this.positionTitle}} was successfully {{if this.granted "granted to" "revoked from"}}
        {{pluralize this.successCount "person"}}
      </h4>
      {{#if this.errorCount}}
        <h4 class="text-danger">{{pluralize this.errorCount "error" }} encountered</h4>
      {{/if}}
    {{else if this.errorCount}}
      <h4 class="text-danger">{{pluralize this.errorCount "error" }} encountered</h4>
      <p>
        Correct the errors and try again. No changes have been committed.
      </p>
    {{else}}
      <h4>Review Callsigns</h4>
      <p>
        No errors were detected. Review the list below to make sure the callsigns and position are correct before
        committing.
      </p>
      <p>
        <b>The position "{{this.positionTitle}}" will be {{if this.granted "GRANTED TO" "REVOKED FROM"}} the
          following:</b>
      </p>
    {{/if}}
    <table class="table table-striped table-sm table-width-auto">
      <thead>
      <tr>
        <th>Callsign</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      {{#each this.people as |person|}}
        <tr class="{{if person.errors "table-danger"}}">
          <td>
            {{#if person.errors}}
              <span class="text-danger">{{fa-icon "exclamation-triangle"}}</span>
            {{/if}}
            {{#if person.id}}
              <PersonLink @person={{person}} />
            {{else}}
              {{person.callsign}}
            {{/if}}
          </td>
          <td>
            {{#if person.errors}}
              {{person.errors}}
            {{else}}
              Position "{{this.positionTitle}}"
              {{if this.committed "was successfully" "will be"}}
              {{if this.granted "granted" "revoked"}}
            {{/if}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>

    {{#if (and (not this.errorCount) (not this.committed))}}
      <div class="mt-2 mb-2">
        <UiButton @disabled={{this.isSubmitting}} @onClick={{this.commitAction}}>
          {{if this.granted "Grant" "Revoke"}} "{{this.positionTitle}}" {{if this.granted "to" "from"}}
          {{pluralize this.people.length "person"}}
        </UiButton>
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </div>
    {{/if}}
  </div>
{{/if}}

<ChForm @formId="bulkForm" @formFor={{this.bulkForm}} @changeSet={{false}} @onSubmit={{this.verifyAction}} as |f|>
  <FormRow>
    <f.select @name="positionId"
              @label="Position"
              @options={{this.positionOptions}}/>
  </FormRow>
  <FormRow>
    <div class="col-12 mt-2">
      <f.radioGroup @name="grant"
                    @options={{this.grantRevokeOptions}}
                    @inline={{true}}/>
    </div>
  </FormRow>
  <FormRow>
    <f.textarea @name="callsigns"
                @label="Enter a list of callsigns to grant or revoke a position:"
                @cols={{30}}
                @rows={{10}}/>
  </FormRow>
  <p>
    Don't worry, you'll have a chance to review the callsigns and position before actually committing the changes.
  </p>
  <f.submit @label="Verify Callsign(s)"
            @disabled={{or (is-empty f.model.positionId) (is-empty f.model.callsigns) this.isSubmitting}}/>
</ChForm>

{{#if this.isSubmitting}}
  <LoadingDialog>
    Performing bulk operations. This may take a minute.
  </LoadingDialog>
{{/if}}
