<main class="col">
  <h1>Clubhouse 1 Log</h1>

  <ChAlert @type="warning">
    The Clubhouse 1 Log has been deprecated. Entries range from July 16, 2008 to late October 2019.
  </ChAlert>

  {{#if this.error}}
    <p class="text-danger">
      {{this.error}}
    </p>
  {{/if}}

  <ChForm @formId="query" @formFor={{this.query}} @changeSet={{false}} @onSubmit={{this.searchAction}} as |f|>
    <div class="form-row">
      <f.input @name="person" @label="Person" @type="text" @size=30 @grid="col-sm-12 col-md-2"
               @controlClass="form-control form-control-sm" @hint="Callsign or person id"/>
      <f.input @name="start_time" @label="Start time" @controlClass="form-control form-control-sm" @type="datetime"
               @size=30 @grid="col-sm-12 col-md-2"/>
      <f.input @name="end_time" @label="End time" @controlClass="form-control form-control-sm" @type="datetime" @size=30
               @grid="col-sm-12 col-md-2"/>
    </div>
    <div class="form-group row mb-2">
      <label class="col-2">Events</label>
      <f.input @name="events" @type="checkboxGroup" @cols=4 @options={{this.eventOptions}}/>
    </div>
    <div class="form-group row mb-2">
      <label class="col-2">Event Contains</label>
      <f.input @name="event_text" @type="text" @size=40 @grid="col-sm-12 col-md-2"
               @controlClass="form-control form-control-sm"/>
    </div>
    <div class="form-row mb-2">
      <label class="col-1">Sort</label>
      <div class="col-auto">
        <f.input @name="sort" @type="radioGroup" @options={{this.sortOptions}} @inline={{true}}/>
      </div>
    </div>
    <f.submit @label="Search"/>
    <button type="button" class="btn btn-secondary" {{action this.resetFilters f.model}}>Reset</button>
  </ChForm>

  {{#if this.logs}}
    <div class="mt-4">
      Showing {{this.currentPage}} of {{this.total_pages}} pages. {{pluralize this.total "row"}}
    </div>
    <table class="table table-hover table-sm table-width-auto">
      <thead>
      <tr>
        <th class="w-15">Timestamp</th>
        <th class="w-15">Person</th>
        <th class="w-15">Target</th>
        <th class="w-50">Event</th>
      </tr>
      </thead>

      <tbody>
      {{#each this.logs as |log|}}
        <tr>
          <td class="w-15">{{log.occurred}}</td>
          <td class="w-15">
            {{#if log.user_person}}
              <PersonLink @person={{log.user_person}} />
            {{else if log.user_person_id}}
              #{{log.user_person_id}}
            {{else}}
              -
            {{/if}}
          </td>
          <td class="w-15">
            {{#if log.current_person}}
              <PersonLink @person={{log.current_person}} />
            {{else if log.current_person_id}}
              #{{log.current_person_id}}
            {{else}}
              -
            {{/if}}
          </td>
          <td class="w-50">
            {{log.event}}
          </td>
        </tr>

      {{/each}}
      </tbody>
    </table>
    <button type="button" class="btn btn-secondary" {{action this.goPrevPage}} disabled={{eq this.currentPage 1}}>Prev
      Page
    </button>
    <button type="button" class="btn btn-secondary" {{action this.goNextPage}} disabled={{eq this.currentPage
                                                                                             this.total_pages}}>Next
      Page
    </button>
  {{else}}
    <p class="text-danger font-weight-bold mt-4">No Action Logs matched the criteria.</p>
  {{/if}}
</main>
