<main>
  <h1>Clubhouse 1 Log</h1>

  <ChNotice @type="danger" @title="Clubhouse 1 Log Deprecated" @icon="exclamation-triangle">
    Entries range from July 16, 2008 to late October 2019.
  </ChNotice>

  {{#if this.error}}
    <p class="text-danger">
      {{this.error}}
    </p>
  {{/if}}

  <ChForm @formId="query" @formFor={{this.query}} @changeSet={{false}} @onSubmit={{this.searchAction}} as |f|>
    <FormRow>
      <f.text @name="person"
              @label="Person"
              @size={{30}}
              @fieldSize="sm"
              @hint="Callsign or person id"
      />
      <f.datetime @name="start_time"
                  @label="Start time"
                  @fieldSize="sm"
                  @size={{30}} />
      <f.datetime @name="end_time"
                  @label="End time"
                  @fieldSize="sm"
                  @size={{30}}
      />
    </FormRow>
    <FormRow>
      <FormLabel @fixed={{true}}>Events</FormLabel>
      <f.checkboxGroup @name="events" @cols={{4}} @options={{this.eventOptions}}/>
    </FormRow>
    <FormRow>
      <FormLabel @fixed={{true}}>Event Contains</FormLabel>
      <f.text @name="event_text"
              @size={{40}}
              @fieldSize="sm"/>
    </FormRow>
    <FormRow>
      <FormLabel @fixed={{true}} @class="pt-0">Sort</FormLabel>
      <div class="col-auto">
        <f.radioGroup @name="sort"
                      @options={{this.sortOptions}}
                      @inline={{true}}/>
      </div>
    </FormRow>
    <f.submit @label="Search"/>
  </ChForm>

  {{#if this.logs}}
    <div class="mt-4">
      Showing {{this.currentPage}} of {{this.total_pages}} pages. {{pluralize this.total "row"}}
    </div>
    <table class="table table-hover table-sm table-width-auto">
      <thead>
      <tr>
        <th class="w-15">Timestamp</th>
        <th class="w-15">Person</th>
        <th class="w-15">Target</th>
        <th class="w-50">Event</th>
      </tr>
      </thead>

      <tbody>
      {{#each this.logs as |log|}}
        <tr>
          <td class="w-15">{{log.occurred}}</td>
          <td class="w-15">
            {{#if log.user_person}}
              <PersonLink @person={{log.user_person}} />
            {{else if log.user_person_id}}
              #{{log.user_person_id}}
            {{else}}
              -
            {{/if}}
          </td>
          <td class="w-15">
            {{#if log.current_person}}
              <PersonLink @person={{log.current_person}} />
            {{else if log.current_person_id}}
              #{{log.current_person_id}}
            {{else}}
              -
            {{/if}}
          </td>
          <td class="w-50">
            {{log.event}}
          </td>
        </tr>

      {{/each}}
      </tbody>
    </table>
    <UiButton @type="secondary" @onClick={{this.goPrevPage}} @disabled={{eq this.currentPage 1}}>
      Prev Page
    </UiButton>
    <UiButton @type="secondary" @onClick={{this.goNextPage}} @disabled={{eq this.currentPage this.total_pages}}>
      Next Page
    </UiButton>
  {{else}}
    <p class="text-danger font-weight-bold mt-4">No Action Logs matched the criteria.</p>
  {{/if}}
</main>
