<YearSelect @title="Position Credits" @year={{this.year}} @onChange={{action (mut this.year)}} />

<div class="form-row my-3 no-gutters">
  <label class="col-form-label">Day Filter</label>
  <div class="col-auto">
    <ChForm::Select @name="dayFilter" @value={{this.dayFilter}} @options={{this.dayOptions}}
                    @onChange={{this.changeDayFilter}}  @controlClass="form-control"/>
  </div>
  <label class="col-form-label">Actions</label>
  <div class="col-auto">
    <UiButton @onClick={{this.newCredit}}>New Position Credit</UiButton>
    {{#if this.credits.length}}
      <UiButton @onClick={{fn this.startCopy 0}} @type="secondary">
        Copy Credits
      </UiButton>
    {{/if}}
  </div>
</div>

{{#if this.credits.length}}
  <p>
    Showing {{this.viewCredits.length}} of {{pluralize this.credits.length "position credit"}}
  </p>
  {{#unless this.viewCredits}}
    <p class="text-danger">
      No credits matched the filter criteria.
    </p>
  {{/unless}}
{{else}}
  <p class="text-danger">No position credits were found for {{this.year}}?</p>
  To copy credits from a previous year, select that year from the list above.
{{/if}}

{{#each this.positionCredits as |position|}}
  <ChAccordion @isInitOpen={{get this.positionsOpened position.position_id}}
               @onClick={{action this.positionClicked position}} as |accordion|>
    <accordion.title>
      {{position.title}} ({{position.credits.length}})
      {{#if position.isNonExistent}}
        <b class="text-danger">POSITION DOES NOT EXIST</b>
      {{/if}}
    </accordion.title>
    <accordion.body>
      {{#if accordion.isOpen}}
        <p>
        <UiButton @onClick={{fn this.startCopy position.position_id}} @type="secondary" @size="sm">
          Bulk Copy
        </UiButton>
      </p>
        <table class="table table-sm table-hover table-striped">
          <thead>
          <tr>
            <th class="w-5">ID</th>
            <th class="w-15">From</th>
            <th class="w-15">To</th>
            <th class="w-10 text-right">Credits</th>
            <th class="w-35">Description</th>
            <th class="w-20">Actions</th>
          </tr>
          </thead>
          <tbody>
          {{#each position.credits key="id" as |credit|}}
            <tr id="credit-{{credit.id}}">
              <td class="w-5">{{credit.id}}</td>
              <td class="w-15">{{shift-format credit.start_time}}</td>
              <td class="w-15">{{shift-format credit.end_time}}</td>
              <td class="w-10 text-right">{{credits-format credit.credits_per_hour}}</td>
              <td class="w-35">{{credit.description}}</td>
              <td class="w-20">
                <UiButton @onClick={{fn this.deleteCredit credit}} @type="danger" @size="sm">
                  {{fa-icon "trash-alt" type="fas"}} Delete
                </UiButton>
                <UiButton @onClick={{fn this.editCredit credit}} @size="sm">
                  {{fa-icon "edit"}} Edit
                </UiButton>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{/if}}
    </accordion.body>
  </ChAccordion>
{{/each}}

{{#if this.credit}}
  <ModalDialog @title="{{if this.credit.isNew "New" "Edit"}} Position Credit" @onEscape={{this.cancelCredit}} as |Modal|>
    <ChForm @formId="credit-form"
            @formFor={{this.credit}}
            @validator={{this.creditValidations}}
            @onSubmit={{this.saveCredit}}  as |f|>
      <Modal.body>
        <div class="row">
          <div class="col-5">
            {{#if this.credit.isNew}}
              <f.input @name="position_id" @label="Position" @type="select" @options={{this.positionOptions}}
                       @multiple=true @size={{15}} @hint="Select multiple positions to create in bulk"/>
            {{else}}
              <f.input @name="position_id" @label="Position" @type="select" @options={{this.positionOptions}} />
            {{/if}}
          </div>
          <div class="col-7">
            <div class="form-row">
              <f.input @name="start_time" @label="Beginning Time" @type="datetime" @maxlength={{25}}
                       @gridClass="col-auto"/>
              <f.input @name="end_time" @label="Ending Time" @type="datetime" @maxlength={{20}} @gridClass="col-auto"/>
              <f.input @name="credits_per_hour" @label="Credits Per Hour" @type="text" @maxlength={{20}}
                       @gridClass="col-auto"/>
              <f.input @name="description" @label="Description" @size={{25}} @maxlength={{25}} @gridClass="col-auto"/>
            </div>
          </div>
        </div>
      </Modal.body>
      <Modal.footer @noAlign=true>
        <f.submit @label={{if this.credit.isNew "Create" "Update"}}
                  @disabled={{or this.credit.isSaving this.isCreditSubmitting}} />
        <UiCancelButton @disabled={{or this.credit.isSaving this.isCreditSubmitting}} @onClick={{this.cancelCredit}} />
        {{#if (or this.credit.isSaving this.isCreditSubmitting)}}
          <LoadingIndicator/>
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}


{{#if this.copyParams}}
  <ModalDialog @title="Copy Credits" @onEscape={{this.cancelCopy}} as |Modal|>
    <ChForm @formId="copyCredits"
            @formFor={{this.copyParams}}
            @changeSet={{false}}
            @validator={{this.copyValidations}}
            @onSubmit={{this.performCopy}} as |f|>
      <Modal.body>
        <fieldset>
          <legend>Add/Subtract Time to New Credits</legend>
          <div class="form-row">
            <f.input @name="deltaDays" @label="Days" @type="number" @maxlength={{5}} @size={{5}} @gridClass="col-auto"/>
            <f.input @name="deltaHours" @label="Hours" @type="number" @maxlength={{5}} @size={{5}}
                     @gridClass="col-auto"/>
            <f.input @name="deltaMinutes" @label="Minutes" @type="number" @maxlength={{5}} @size={{5}}
                     @gridClass="col-auto"/>
            <f.input @name="newPositionId" @label="Position" @type="select" @options={{this.positionOptionsForCopy}}
                     @gridClass="col-auto"/>
          </div>
          <p>
            Labor Day of {{this.year}} is {{this.selectedYearLaborDay}}.
            Labor Day of {{this.presentYear}} is {{this.presentYearLaborDay}}, {{this.laborDayDiff}} days later.
          </p>
          {{#if this.badCredits}}
            <p>
              <b class="text-danger">
                {{this.badCredits.length}} credit(s) have been filtered because the credits point to non-existent
                positions.
              </b>
            </p>
          {{/if}}
        </fieldset>
        <div class="mb-2">
          <f.submit @label={{concat "Copy " this.copySelectedCreditCount " selected credits"}}
                    @disabled={{this.isCopying}} />
          <UiCancelButton @disabled={{this.isCopying}} @onClick={{this.cancelCopy}} />
          {{#if this.isCopying}}
            <LoadingIndicator/>
          {{/if}}
        </div>
        {{#each this.copySourcePositions as |position|}}
          <ChAccordion as |Accordion|>
            <Accordion.title>
              [{{position.selectedCredits.length}}] <b>{{position.title}}</b> credits to copy
              <UiButton @onClick={{fn this.copyPositionSelectAll position}}>
                {{#if position.allSelected}}deselect{{else}}select{{/if}} all
              </UiButton>
            </Accordion.title>
            <Accordion.body>
              {{#if Accordion.isOpen}}
                <table class="table table-sm table-box table-hover">
                  <thead>
                  <tr>
                    <th>Copy</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th class="text-right">Credits</th>
                    <th>Description</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#each position.credits as |credit|}}
                    <tr>
                      <td><Input @type="checkbox" @checked={{credit.selected}} id={{credit.checkboxId}} /></td>
                      <td>
                        <label for={{credit.checkboxId}}>
                          {{shift-format credit.source.start_time}} &rarr;
                          <br>{{credit.start_time}}
                        </label>
                      </td>
                      <td>
                        <label for={{credit.checkboxId}}>
                          {{shift-format credit.source.end_time}} &rarr;
                          <br>{{credit.end_time}}
                        </label>
                      </td>
                      <td class="text-right">
                        <label for={{credit.checkboxId}}>{{credits-format credit.source.credits_per_hour}}</label>
                      </td>
                      <td><label for={{credit.checkboxId}}>{{credit.source.description}}</label></td>
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              {{/if}}
            </Accordion.body>
          </ChAccordion>
        {{/each}}
      </Modal.body>
    </ChForm>
  </ModalDialog>
{{/if}}
