<main>
  <h1>Error Log</h1>

  {{#if this.error_logs}}
    <p>
      <button type="button" class="btn btn-danger" {{action this.purgeLog}}>Purge Log</button>
    </p>
    <p>
      Showing {{this.page}} of {{this.total_pages}} pages. Total {{pluralize this.total "found row"}}
    </p>
    <table class="table table-hover table-sm table-width-auto">
      <thead>
      <tr>
        <th>Timestamp</th>
        <th>Person</th>
        <th>Type</th>
        <th>IP</th>
        <th>URL</th>
        <th>Action</th>
      </tr>
      </thead>

      <tbody>
      {{#each this.error_logs as |log|}}
        <tr>
          <td>{{log.created_at}}</td>
          <td>
            {{#if log.person}}
              <PersonLink @person={{log.person}} />
            {{else}}
              -
            {{/if}}
          </td>
          <td>
            {{log.error_type}}
          </td>
          <td>
            {{log.ip}}
          </td>
          <td>
            {{log.url}}
          </td>
          <td>
            <button type="button" class="btn btn-secondary btn-sm" {{action this.toggleLog log}}>
              {{if log.showing "Hide" "Show"}}
            </button>
          </td>
        </tr>

        {{#if log.showing}}
          <tr>
            <td colspan="6">
              User Agent: {{log.user_agent}}<br>
              <JsonFormat @json={{log.data}} />
            </td>
          </tr>
        {{/if}}
      {{/each}}
      </tbody>
    </table>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        {{#if (not-eq this.page 1)}}
          <LinkTo @route="admin.error-log" @query={{hash page=this.previousPage}} class="btn btn-primary">Prev Page</LinkTo>
        {{else}}
          &nbsp;
        {{/if}}
      </div>
      <div class="col-sm-12 col-md-6">
        {{#if (not-eq this.page this.total_pages)}}
          <LinkTo @route="admin.error-log" @query={{hash page=this.nextPage}} class="btn btn-primary">Next Page</LinkTo>
        {{else}}
          &nbsp;
        {{/if}}
      </div>
    </div>
  {{else}}
    <p>
      <b class="text-danger">No log entries were found</b>
    </p>
  {{/if}}
</main>
