<main>
  <h1>Error Log</h1>

  {{#if this.error_logs}}
    <p>
      <UiButton @type="danger" @onClick={{this.purgeLog}}>Purge Log</UiButton>
    </p>
    <p>
      Showing {{this.page}} of {{this.total_pages}} pages. Total {{pluralize this.total "found row"}}
    </p>
    <UiTable>
      <thead>
      <tr>
        <th>Timestamp</th>
        <th>Person</th>
        <th>Type</th>
        <th>IP</th>
        <th>URL</th>
      </tr>
      </thead>

      <tbody>
      {{#each this.error_logs as |log|}}
        <tr>
          <td>
            <a href {{action this.toggleLog log}}>
              {{fa-icon (if log.showing "caret-down" "caret-right")}} {{log.created_at}}
            </a>
          </td>
          <td>
            {{#if log.person}}
              <PersonLink @person={{log.person}} />
            {{else}}
              -
            {{/if}}
          </td>
          <td>
            {{log.error_type}}
          </td>
          <td>
            {{log.ip}}
          </td>
          <td>
            {{log.url}}
          </td>
         </tr>

        {{#if log.showing}}
          <tr>
            {{! template-lint-disable no-inline-styles}}
            <td colspan="5" style="overflow-x: scroll">
              User Agent: {{log.user_agent}}<br>
              <JsonFormat @json={{log.data}} />
            </td>
          </tr>
        {{/if}}
      {{/each}}
      </tbody>
    </UiTable>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        {{#if (not-eq this.page 1)}}
          <LinkTo @route="admin.error-log" @query={{hash page=this.previousPage}} class="btn btn-primary">Prev Page
          </LinkTo>
        {{else}}
          &nbsp;
        {{/if}}
      </div>
      <div class="col-sm-12 col-md-6">
        {{#if (not-eq this.page this.total_pages)}}
          <LinkTo @route="admin.error-log" @query={{hash page=this.nextPage}} class="btn btn-primary">Next Page</LinkTo>
        {{else}}
          &nbsp;
        {{/if}}
      </div>
    </div>
  {{else}}
    <p>
      <b class="text-danger">No log entries were found</b>
    </p>
  {{/if}}
</main>
