<main class="col">
  <h1>Error Log</h1>

  <div class="float-right">
    <button class="btn btn-danger btn-sm" {{action purgeLog}}>Purge Log</button>
  </div>

  {{#if logs}}
    Showing {{page}} of {{total_pages}} pages. Total {{pluralize total "found row"}}
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Person</th>
          <th>Type</th>
          <th>IP</th>
          <th>URL</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        {{#each logs as |log|}}
          <tr>
            <td>{{log.created_at}}</td>
            <td>
              {{#if log.person}}
                {{person-link person=log.person}}
              {{else}}
                -
              {{/if}}
            </td>
            <td>
              {{log.error_type}}
            </td>
            <td>
              {{log.ip}}
            </td>
            <td>
              {{log.url}}
            </td>
            <td>
              <button class="btn btn-secondary btn-sm" {{action toggleLog log}}>{{if log.showing "Hide" "Show"}}</button>
            </td>
          </tr>

          {{#if log.showing}}
          <tr>
            <td colspan="6"> {{json-format json=log.data}} </td>
          </tr>
          {{/if}}
        {{/each}}
      </tbody>
    </table>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        {{#if (not-eq page 1)}}
          {{#link-to "admin.error-log" (query-params page=previousPage) class="btn btn-primary"}}Prev Page{{/link-to}}
        {{else}}
          &nbsp;
        {{/if}}
      </div>
      <div class="col-sm-12 col-md-6">
        {{#if (not-eq page total_pages)}}
          {{#link-to "admin.error-log" (query-params page=nextPage) class="btn btn-primary"}}Next Page{{/link-to}}
        {{else}}
          &nbsp;
        {{/if}}
      </div>
    </div>
  {{else}}
    <strong class="text-danger">No log entries were found</strong>
  {{/if}}
</main>
