<main>
  <h1>Error Logs</h1>
  <p>
    Any exceptions trapped by the front or backend will be recorded here.
  </p>
  {{#if this.error_logs}}
    Showing {{this.page}} of {{this.total_pages}} pages. Total {{pluralize this.total "found row"}}
    <UiTable>
      <thead>
      <tr>
        <th>Timestamp</th>
        <th>Person</th>
        <th>Type</th>
        <th>IP</th>
        <th>URL</th>
      </tr>
      </thead>

      <tbody>
      {{#each this.error_logs as |row|}}
        <tr>
          <td>
            <a href {{action this.toggleLog row}}>
              {{fa-icon (if row.showing "caret-down" "caret-right")}} {{row.created_at}}
            </a>
          </td>
          <td>
            {{#if row.person}}
              <PersonLink @person={{row.person}} />
            {{else}}
              -
            {{/if}}
          </td>
          <td>
            {{row.error_type}}
          </td>
          <td>
            {{row.ip}}
          </td>
          <td>
            {{row.url}}
          </td>
        </tr>

        {{#if row.showing}}
          <tr>
            {{! template-lint-disable no-inline-styles}}
            <td colspan="5" style="overflow-x: scroll">
              <div class="grid-table">
                <div class="grid-table-label">User Agent</div>
                <div>
                  {{row.user_agent}}
                </div>
                {{#if (this.isClientException row)}}
                  {{#let (this.exceptionDetails row.data) as |details|}}
                    <div class="grid-table-label">Exception</div>
                    <div>
                      {{details.exceptionName}}
                    </div>
                    <div class="grid-table-label">Message</div>
                    <div>
                      {{details.exceptionMessage}}
                    </div>
                    <div class="grid-table-label">Stack</div>
                    <div>
                      {{nl2br details.stack}}
                    </div>
                  {{/let}}
                {{/if}}
                <div class="grid-table-label">Raw Object</div>
                <div>
                  <JsonFormat @json={{row.data}} />
                </div>
              </div>
            </td>
          </tr>
        {{/if}}
      {{/each}}
      </tbody>
    </UiTable>
    <div class="hstack gap-3">
      {{#if (not-eq this.page 1)}}
        <LinkTo @route="admin.error-row" @query={{hash page=this.previousPage}} class="btn btn-primary">
          Prev Page
        </LinkTo>
      {{/if}}
      {{#if (not-eq this.page this.total_pages)}}
        <LinkTo @route="admin.error-row" @query={{hash page=this.nextPage}} class="btn btn-primary">Next Page</LinkTo>
      {{/if}}
      <UiButton @type="secondary" @onClick={{this.purgeLog}} @size="sm">Delete All Logs</UiButton>
    </div>
  {{else}}
    <p>
      <b class="text-danger">No row entries were found</b>
    </p>
  {{/if}}
</main>
