<h1>Help / Tooltip Documents</h1>

<p class="text-muted mb-4">
  {{fa-icon "music"}} Help me if you can, I'm feeling down. And I do appreciate you being 'round {{fa-icon "music"}}
</p>
<p>
  Primary used by the HQ Window interface to provide tooltips on various page elements.
</p>
<p>
  <button type="button" class="btn btn-primary" {{on "click" this.newHelp}}>New Help Doc</button>
</p>
<table class="table table-sm table-hover table-striped table-width-auto">
  <caption>
    Showing {{pluralize this.viewDocuments.length "help document"}}
  </caption>
  <thead>
  <tr>
    <th>Slug</th>
    <th>Title / Body</th>
    <th>Tags</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  {{#each this.viewDocuments as |document|}}
    <tr>
      <td>{{document.slug}}</td>
      <td>
        <b>{{document.title}}</b><br>
        <ReadMore @text={{document.body}} />
      </td>
      <td>{{document.tags}}</td>
      <td>
        <button type="button" class="btn btn-secondary btn-sm" {{action this.editHelp document}}>
          {{fa-icon "edit"}} Edit
        </button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{#if this.entry}}
  <ModalDialog @title={{if this.entry.isNew "New Help Document" "Edit Help Document"}} as |Modal|>
    <ChForm @formId="help"
            @formFor={{this.entry}}
            @onSubmit={{action this.saveHelp}}
            @onCancel={{action this.cancelHelp}} as |f|>
      <Modal.body>
        <f.input @name="slug" @label="Slug / Help Identifier" @type="text" @size=20 @maxlength=255/>
          <f.input @name="tags" @label="Tags (separated by comma)" @size=20 @maxlength=255/>
            <f.input @name="title" @label="Help Title" @type="text" @size=20 @maxlength=255/>
              <f.input @name="body" @label="Help Body" @type="textarea" @rows=10 @cols=80/>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label={{if entry.isNew "Create" "Update"}} @disabled={{this.entry.isSaving}} />
        <f.cancel @disabled={{this.entry.isSaving}} />
        {{#if this.entry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
        <div class="ml-auto">
          <button type="button" class="btn btn-danger" {{action this.deleteHelp}}>{{fa-icon "trash"}} Delete</button>
        </div>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
