<main>
  <h1>System Mail Log</h1>
  <MailLogPage @logs={{this.logs}}
                @meta={{this.meta}}
                @stats={{this.stats}}
                @goNextPage={{this.goNextPage}}
                @goPrevPage={{this.goPrevPage}} />
</main>