<main>
  <h1>Maintenance Tasks {{#if this.task}}- {{this.task.title}}{{/if}}</h1>
  <p>
    All ticketing and provision maintenance functions have been moved to the Vol Coord &gt; Access Documents &gt;
    Maintenance page.
  </p>
  {{#if this.isSubmitting}}
    <LoadingPane @text={{concat "The task '" this.task.title "' is being performed. Hang tight!"}} />
  {{else if this.task}}
    <p>
      <a href {{action this.showIndex}}>{{fa-icon "angle-double-left"}} Back to Maintenance Tasks</a>
    </p>

    {{#if (eq this.taskAction "mark-off-site")}}
      <p>
        {{pluralize this.results.count "person"}} have been marked off-site.
      </p>
    {{else if (eq this.taskAction "archive-messages")}}
      {{#if (eq this.results.status "success")}}
        <p class="text-success">
          Congratulations! The {{this.results.year}} messages were successfully archived into a separate table.
        </p>
      {{else if (eq this.results.status "archive-exists")}}
        <p class="text-danger">
          <b>The {{this.results.year}} messages have been already archived. The archive table already exists.</b>
        </p>
      {{else}}
        <p class="text-danger">
          <b>Uh oh, I don't understand the server response "{{this.results.status}}".</b>
        </p>
      {{/if}}
    {{else}}
      Uh oh, I don't understand the task "{{this.taskAction}}". This is a BUG. Please report this to the Tech Team.
    {{/if}}
  {{else}}
    {{#each this.taskGroups as |group|}}
      <UiSection>
        <:title>{{group.group_title}}</:title>
        <:body>
          <UiTable>
            <tbody>
            {{#each group.tasks as |task|}}
              <tr>
                <td class="w-30">
                  {{#if task.param}}
                    <UiButton @class="btn-block" @onClick={{fn this.askParamAction task}}>
                      {{task.title}}
                    </UiButton>
                  {{else}}
                    <UiButton @class="btn-block" @onClick={{fn this.executeTask task}}>
                      {{task.title}}
                    </UiButton>
                  {{/if}}
                </td>
                <td class="w-70">
                  {{task.description}}
                </td>
              </tr>
            {{/each}}
            </tbody>
          </UiTable>
        </:body>
      </UiSection>
    {{/each}}
  {{/if}}

  {{#if this.taskParam}}
    <ModalDialog @onEscape={{this.cancelParamAction}} as |Modal|>
      <Modal.body>
        <FormRow>
          <FormLabel>{{this.taskParam.param.title}}</FormLabel>
        </FormRow>
        <FormRow>
          <div class="col-auto">
            <Input @type="text" size="80" class="form-control" @value={{this.paramValue}}/>
          </div>
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <UiButton @onClick={{fn this.executeTask this.taskParam}}>Submit</UiButton>
        <UiCancelButton @onClick={{this.cancelParamAction}} />
      </Modal.footer>
    </ModalDialog>
  {{/if}}
</main>