<main>
  <h1>Payroll Report</h1>
  {{#unless this.positionOptions}}
    <p class="text-danger">
      No positions have a paycode set. Payroll export is not available.
    </p>
  {{/unless}}
  <ChForm @formId="datesform" @formFor={{this.datesForm}} as |f|>
    <FormRow>
      <FormLabel>Positions to export</FormLabel>
      <f.checkboxGroup @name="position_ids" @options={{this.positionOptions}} />
    </FormRow>
    <FormRow>
      <f.datetime @name="start_time"
                  @label="Start Date & Time:"
                  @size={{20}}
      />
      <f.datetime @name="end_time"
                  @label="Ending Date & Time:"
                  @size={{20}}
      />
      <f.select @name="break_duration"
                @label="Lunch/Dinner Break Duration"
                @options={{this.breakDurationOptions}}
      />
      <f.select @name="hour_cap"
                @label="Hour Cap "
                @options={{this.hourCapOptions}}
      />
      <div class="col-auto align-self-end">
        <f.submit @onSubmit={{this.submitReport}} @label="Submit"/>
      </div>
    </FormRow>
    <FormRow>
      <div class="form-text">Note: hour cap is ignored on positions set to not adjust hours.</div>
    </FormRow>
  </ChForm>

  {{#if this.reportWasRun}}
    {{#if this.people}}
      Showing {{pluralize this.entryCount "timesheet entry"}} for {{pluralize this.people.length "person"}}.
      <UiButton @onClick={{fn this.exportPayroll true}} @size="sm">
        Export Adjusted Payroll
      </UiButton>
       <UiButton @onClick={{fn this.exportPayroll false}} @size="sm">
        Export Unadjusted Payroll
      </UiButton>
      <UiButton @onClick={{this.exportTable}} @size="sm">
        Export Table
      </UiButton>
      <table class="table table-width-auto table-sm table-striped table-hover mt-2">
        <thead>
        <tr>
          <th>Callsign / Employee ID</th>
          <th>Position / Sub-Dept ID</th>
          <th>Entry Status</th>
          <th>Original Time</th>
          <th>Adjusted</th>
          <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.people as |person|}}
          {{#each person.shifts as |row|}}
            <tr class={{if row.still_on_duty "table-warning"}}>
              <td>
                <PersonLink @person={{person}} /><br>
                 {{person.employee_id}}
              </td>
              <td>
                {{row.position_title}}<br>
                {{row.paycode}}
              </td>
              <td>
                {{#if row.still_on_duty}}
                  {{badge "warning" "still on duty"}}
                {{else if row.verified}}
                  {{badge "success" "verified"}}
                {{else}}
                  {{badge "danger" "unverified"}}
                {{/if}}
              </td>
              <td>
                {{shift-format row.orig_on_duty row.orig_off_duty}}<br>
                Orig. duration: {{hour-minute-format row.orig_duration}}
              </td>
              <td>
                {{#if row.meal_adjusted}}
                  {{#let row.meal_adjusted.first_half as |first|}}
                    {{shift-format first.on_duty first.off_duty}}
                  {{/let}}<br>
                  <div class="text-center"><i>- {{row.meal_adjusted.meal}} -</i></div>
                  {{#let row.meal_adjusted.second_half as |second|}}
                    {{shift-format second.on_duty second.off_duty}}
                  {{/let}}
                {{else}}
                  {{shift-format row.on_duty row.off_duty}}
                {{/if}}<br>
                Adj. total duration: {{hour-minute-format row.duration}}
              </td>
              <td>
                {{nl2br row.notes}}
              </td>
            </tr>
          {{/each}}
        {{/each}}
        </tbody>
      </table>
    {{else}}
      <b class="text-danger">
        No timesheet entries found for the time range
      </b>
    {{/if}}
  {{/if}}
</main>
{{#if this.isSubmitting}}
  <LoadingDialog>
    Retrieving the timesheet entries
  </LoadingDialog>
{{/if}}
