<main>
  {{#if this.isCurrentPeriod}}
    <h1>People By Status Change: Proposed Immediate Status Changes</h1>
  {{else}}
    <h1>People By Status Change: Proposed Changes</h1>
  {{/if}}

  <FormRow>
    <FormLabel @auto={{true}}>Show proposed statuses as of:</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="period"
                      @value={{this.period}}
                      @options={{this.periodOptions}}
                      @onChange={{set-value this 'period'}} />
    </div>
  </FormRow>
  <p>
    The database will be inspected as if the {{this.year}} event is over with.
    {{#if (lte this.year 2026)}}
      Until after the 2026 event, the event years 2019 &amp; 2022 are treated as contiguous. (i.e., the pandemic years
      2020 &amp; 2021 are skipped over.)
    {{/if}}
  </p>
  <p>
    Inactive candidates will not have worked the {{this.inactive_year}} and later events.
    Retired candidates will not have worked the {{this.retired_year}} and later events.
  </p>

  <StatusChangeTable @people={{this.inactives}} @newStatus="inactive" @year={{this.year}}/>
  <StatusChangeTable @people={{this.retired}} @newStatus="retired" @year={{this.year}}/>
  <StatusChangeTable @people={{this.actives}} @newStatus="active" @year={{this.year}}/>
  <StatusChangeTable @people={{this.past_prospectives}} @newStatus="past prospective" @year={{this.year}}/>
  <StatusChangeTable @people={{this.vintage}} @newStatus="vintage" @year={{this.year}}/>
</main>