<main>
  <h1 class={{if this.position "d-none"}}>Clubhouse Positions</h1>
  {{#unless this.canManagePositions}}
    <UiNotice @type="secondary" @icon="hand-point-right" @title="Need Position Help?">
      Contact the Tech Team regarding new positions or adjusting existing ones.
      <TechSupportEmail/>
    </UiNotice>
  {{/unless}}

  <UiTab class={{if this.position "d-none"}} as |tab|>
    <tab.pane @title="Positions" @id="positions">
      <FormRow>
        <FormLabel @auto={{true}}>Type filter</FormLabel>
        <div class="col-auto">
          <ChForm::Select @name="typeFilter"
                          @value={{this.typeFilter}}
                          @options={{this.typeOptions}}
                          @onChange={{set-value this 'typeFilter'}} />
        </div>
        <FormLabel @auto={{true}}>Active Filter</FormLabel>
        <div class="col-auto">
          <ChForm::Select @name="activeFilter"
                          @value={{this.activeFilter}}
                          @options={{this.activeOptions}}
                          @onChange={{set-value this 'activeFilter'}} />
        </div>
        <FormLabel @auto={{true}}>View as</FormLabel>
        <div class="col-auto">
          <ChForm::Select @name="activeFilter"
                          @value={{this.viewAs}}
                          @options={{this.viewAsOptions}}
                          @onChange={{set-value this 'viewAs'}} />
        </div>
        <FormLabel @auto={{true}}>Vehicle Eligibility Filter</FormLabel>
        <div class="col-auto">
          <ChForm::Select @name="vehicleEligibilityFilter"
                          @value={{this.vehicleEligibilityFilter}}
                          @options={{this.vehicleEligibleOptions}}
                          @onChange={{set-value this 'vehicleEligibilityFilter'}} />
        </div>
        {{#if this.canManagePositions}}
          <div class="col-auto">
            <UiButton @onClick={{this.newAction}}>New Position</UiButton>
          </div>
        {{/if}}
      </FormRow>
      {{#if (eq this.viewAs "list")}}
        <DropdownScrollList @items={{this.positionScrollItems}}
                            @thing="position"
                            @blinkBox={{true}}
        />
        Showing {{this.viewPositions.length}} of {{this.positions.length}} positions
        <div class="overflow-y-auto">
          <PositionTable @viewPositions={{this.viewPositions}}
                         @positions={{this.positions}}
                         @canManagePositions={{this.canManagePositions}}
                         @editAction={{this.editAction}}
                         @roleById={{this.roleById}}
                         @teamById={{this.teamById}}
          />
        </div>
      {{else}}
        <DropdownScrollList @items={{this.teamScrollList}} @thing="team"/>
        Showing {{pluralize this.viewByTeams.length "team"}}
        {{#each this.viewByTeams as |team|}}
          <UiSection id="team-{{team.id}}">
            <:title>
              {{team.title}} ({{pluralize team.team_positions.length "position"}})
            </:title>
            <:body>
              <div class="overflow-y-auto mt-2">
                <PositionTable @viewPositions={{team.team_positions}}
                               @positions={{this.positions}}
                               @canManagePositions={{this.canManagePositions}}
                               @editAction={{this.editAction}}
                               @roleById={{this.roleById}}
                               @teamById={{this.teamById}}
                />
              </div>
            </:body>
          </UiSection>
        {{/each}}
      {{/if}}
    </tab.pane>
    <tab.pane @title="Position Lineup" @id="lineup">
      <PositionLineup @positionLineups={{this.positionLineups}}
                      @positions={{this.positions}}
                      @canManagePositions={{this.canManagePositions}}
      />
    </tab.pane>
  </UiTab>
  {{#if this.position}}
    <PositionEdit @position={{this.position}}

                  @positions={{this.positions}}
                  @teams={{this.teams}}
                  @roleOptions={{this.roleOptions}}

                  @saveAction={{this.saveAction}}
                  @cancelAction={{this.cancelAction}}
                  @deleteAction={{this.deleteAction}}
    />
  {{/if}}
</main>
