<main>
  <YearSelect @title="Radio Eligibility Report"
              @year={{this.year}}
              @minYear={{2010}}
              @onChange={{action (mut this.year)}}
              @skipPandemic={{true}}
  />
  <p>
    The report will list all active, inactive, inactive extension, and retired
    Rangers with the last 3 event hours. The Alpha and Training shifts are not included.
  </p>
  <p>
    A person is considered a Shift Lead is they currently hold one of the following positions:
    {{#each this.shift_lead_positions as |position idx|}}
      {{if idx ", "}}{{position.title}}
    {{/each}}
  </p>
  <p>
    "Shift Lead" indicates if the person is shift lead.<br>
    "Signed Up" indicates if the person has signed up for a shift beginning August 15, {{this.year}} or later.
  </p>
  <p>
    <UiButton @onClick={{this.exportToCsv}}>Export To CSV</UiButton>
  </p>
  {{#if this.pandemicSkipped}}
    <p class="text-danger">
      Note: 2020 & 2021 are skipped over.
    </p>
  {{/if}}
  Showing {{pluralize this.people.length "person"}}
  <table class="table table-sm table-striped table-hover table-width-auto">
    <thead>
    <tr>
      <th>Callsign</th>
      <th class="text-end">{{this.year_1}} Hours</th>
      <th class="text-end">{{this.year_2}} Hours</th>
      <th class="text-end">{{this.year_3}} Hours</th>
      <th class="text-end">Eligibility Hours</th>
      <th>Shift Lead?</th>
      <th>{{this.year}} Signups?</th>
    </tr>
    </thead>

    <tbody>
    {{#each this.people as |person|}}
      <tr>
        <td>
          <PersonLink @person={{person}} />
        </td>
        <td class="text-end">{{person.year_1}}</td>
        <td class="text-end">{{person.year_2}}</td>
        <td class="text-end">{{person.year_3}}</td>
        <td class="text-end">{{person.radio_hours}}</td>
        <td class="text-center">{{yesno person.shift_lead}}</td>
        <td class="text-center">{{yesno person.signed_up}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan="6"><b class="text-danger">No one was found to be radio eligible for {{this.year}}.</b></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</main>