<YearSelect @title="Radio Eligibility Report" @year={{this.year}} @onChange={{action (mut this.year)}}  />
<p>
  The report will list all active, inactive, inactive extension, and retired
  Rangers with their last year, and previous to last year hours. The Alpha
  and Training shifts are not included.
</p>
<p>
  "Shift Lead" indicates if the person is shift lead.<br>
  "Signed Up" indicates if the person has signed up for a shift beginning August 15, {{this.year}} or later.
</p>
<p>
  <UiButton @onClick={{this.exportToCsv}}>Export To CSV</UiButton>
</p>
Showing {{pluralize this.people.length "person"}}
<table class="table table-sm table-striped table-hover table-width-auto">
  <thead>
  <tr>
    <th>Callsign</th>
    <th class="text-end">{{this.year_last}} Hours</th>
    <th class="text-end">{{this.year_prev}} Hours</th>
    <th class="text-end">Eligibility Hours</th>
    <th>Shift Lead</th>
    <th>{{this.year}} Signup</th>
  </tr>
  </thead>

  <tbody>
  {{#each this.people as |person|}}
    <tr>
      <td>
        <PersonLink @person={{person}} />
      </td>
      <td class="text-end">{{person.hours_last_year}}</td>
      <td class="text-end">{{person.hours_prev_year}}</td>
      <td class="text-end">{{person.radio_hours}}</td>
      <td>{{yesno person.shift_lead}}</td>
      <td>{{yesno person.signed_up}}</td>
    </tr>
  {{else}}
  <tr>
    <td colspan="6"><b class="text-danger">No one was found to be radio eligible for {{this.year}}.</b></td>
  </tr>
  {{/each}}
  </tbody>
</table>
