<h1>System Roles</h1>

{{#ch-alert "warning"}}
<p>
  A <b>role</b> is the permission to use certain parts of this website. It is
different from a position, which is part of the schedule. Some roles are
essential to the system and cannot be removed or renamed. New roles can be
created and edited to restrict access to extended information.
</p>

<p>
  When a new user creates an account, he or she is automatically authorized for
  any role with the "New User?" box checked.
</p>

<strong>DO NOT add/change/delete roles unless instructed to do so by the Tech Team.</strong>
{{/ch-alert}}

{{#if entry}}
  {{#ch-form "role" entry modalBox=true modalTitle=(if entry.isNew "New Role"  "Edit Role")
      validator=roleValidations onSubmit=(action "saveRole") onCancel=(action "cancelRole") as |f|}}
    <div class="form-row">
      {{f.input "title" type="text" label="Role Title:" maxlength=25 size=25}}
    </div>

    <div class="form-row">
      {{f.input "new_user_eligible" type="checkbox" label="New User Eligible?" options=newUserOptions}}
    </div>

    <div class="form-group mt-2">
      {{f.submit}}
      {{f.cancel}}
    </div>

  {{/ch-form}}
{{/if}}


<div class="row mb-1">
  <div class="col-md-2 mb-2">
    <button {{action "newRole"}} class="btn btn-primary">New Role</button>
  </div>
</div>

<table class="table table-box table-sm table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>New User?</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each roles as |role|}}
    <tr>
      <td>{{role.id}}</td>
      <td>{{role.title}}</td>
      <td>
        {{#if role.new_user_eligible}}
          Y
        {{else}}
        &nbsp;
        {{/if}}
      </td>
      <td>
        <button {{action "editRole" role}} class="btn btn-primary btn-sm" title="Edit role">{{fa-icon "edit"}}</button>
        <button {{action "removeRole" role}} class="btn btn-danger btn-sm" title="Delete role">{{fa-icon "trash-alt" type="fas"}}</button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
