<h1>System Roles</h1>

<p>
  A <b>role</b> is a permission to use certain parts of this website. It is
  different from a position, which is part of the schedule.
</p>

<table class="table table-sm table-hover table-striped table-width-auto">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>New User?</th>
    {{#if this.canManageRoles}}
      <th>Action</th>
    {{/if}}
  </tr>
  </thead>
  <tbody>
  {{#each this.roles as |role|}}
    <tr>
      <td class="text-right">{{role.id}}</td>
      <td>{{role.title}}</td>
      <td class="text-center">
        {{#if role.new_user_eligible}}
          {{fa-icon "check"}}
        {{else}}
          &nbsp;
        {{/if}}
      </td>
      {{#if this.canManageRoles}}
        <td>
          <button {{action this.editRole role}} type="button" class="btn btn-primary btn-sm">
            {{fa-icon "edit"}} Edit
          </button>
        </td>
      {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>

{{#if this.entry}}
  <ModalDialog @title={{if this.entry.isNew "New Role"  "Edit Role"}} as |Modal|>
    <ChForm @formId="role" @formFor={{this.entry}}
            @validator={{this.roleValidations}} @onSubmit={{this.saveRole}} @onCancel={{this.cancelRole}} as |f|>
      <Modal.body>
        <div class="form-row">
          <f.input @name="title" @type="text" @label="Role Title:" @maxlength={{25}} @size={{25}}/>
        </div>
        <div class="form-row">
          <div class="col-auto">
            <f.input @name="new_user_eligible" @type="checkbox" @label="New User Eligible?"
                     @options={{this.newUserOptions}} />
          </div>
        </div>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label={{if this.entry.isNew "Create" "Update"}} @disabled={{this.entry.isSaving}} />
        <f.cancel @disabled={{this.entry.isSaving}} />
        {{#if this.entry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
        <div class="ml-auto">
          <button {{action this.removeRole}} type="button" class="btn btn-danger btn-sm">
            {{fa-icon "trash-alt" type="fas"}} Delete
          </button>
        </div>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}


