<YearSelect @title="Clubhouse Slots" @year={{this.year}} @years={{this.yearList}}
            @onChange={{action (mut this.year)}} />

<FormRow>
  <FormLabel @auto={{true}}>Day Filter</FormLabel>
  <div class="col-auto">
    <ChForm::Select @name="dayFilter"
                    @value={{this.dayFilter}}
                    @options={{this.dayOptions}}
                    @onChange={{this.changeDayFilter}}/>
  </div>
  <FormLabel @auto={{true}}>Active Filter</FormLabel>
  <div class="col-auto">
    <ChForm::Select @name="activeFilter"
                    @value={{this.activeFilter}}
                    @options={{this.activeOptions}}
                    @onChange={{this.changeActiveFilter}} />
  </div>
  <FormLabel @auto={{true}}>Actions</FormLabel>
  <div class="col-auto">
    <UiButton @onClick={{this.newSlot}}>New Slot</UiButton>
    {{#if this.slots.length}}
      <UiButton @onClick={{this.startCopy}} @type="secondary">Copy Slots</UiButton>
    {{/if}}
  </div>
</FormRow>

{{#if (and this.eventDate.pre_event_slot_start this.eventDate.pre_event_slot_end)}}
  <p class="mt-2">
    {{this.year}} Pre-event is {{shift-format this.eventDate.pre_event_slot_start}} to
    {{shift-format this.eventDate.pre_event_slot_end}}
  </p>
{{else}}
  <ChNotice @title="{{this.year}} pre-event slot dates are not set" @type="danger">
    Pre-Event slots may not be properly vetted. Visit
    <LinkTo @route="admin.event-dates">Admin &gt; Edit Event Dates</LinkTo>
    to set the dates.
  </ChNotice>
{{/if}}

{{#if this.slots.length}}
  Showing {{this.viewSlots.length}} of {{pluralize this.slots.length "slot"}}
  {{#unless this.viewSlots}}
    <p class="text-danger">
      No slots matched the filter criteria.
    </p>
  {{/unless}}
{{else}}
  No slots were found for {{this.year}}?
{{/if}}

{{#each this.positionSlots as |position|}}
  <ChAccordion @isInitOpen={{get this.positionsOpened position.position_id}}
               @onClick={{action this.positionClicked position}} as |box|>
    <box.title>
      {{position.title}} ({{position.slots.length}}
      {{~#if position.inactive}}
        / <span class="text-danger">{{position.inactive}} inactive</span>
      {{~/if}})
    </box.title>
    <box.body>
      {{#if box.isOpen}}
        <p>
          <UiButton @size="sm" @onClick={{fn this.activate position}}>Activate All</UiButton>
          <UiButton @size="sm" @onClick={{fn this.deactivate position}}>Deactivate All</UiButton>
          <UiButton @type="secondary" @size="sm" @onClick={{fn this.startCopy position.position_id}}>
            Bulk Copy
          </UiButton>
          <UiButton @type="secondary" @size="sm" @onClick={{fn this.bulkEditOpenAction position}}>
            Bulk Edit
          </UiButton>
        </p>
        <table class="table table-sm table-hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>From</th>
            <th>To</th>
            <th class="text-end">Max</th>
            <th class="text-end">Count</th>
            <th class="text-end">Credits</th>
            <th>Description</th>
            <th>Active</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          {{#each position.slots key="id" as |slot|}}
            <tr id="slot-{{slot.id}}">
              <td>{{slot.id}}</td>
              <td>{{shift-format slot.begins}}</td>
              <td>{{shift-format slot.ends}}</td>
              <td class="text-end">{{slot.max}}</td>
              <td class="text-end">{{slot.signed_up}}</td>
              <td class="text-end">{{credits-format slot.credits}}</td>
              <td>
                <SlotInfoLink @description={{slot.description}} @info={{slot.url}} />
              </td>
              <td class="text-center">
                {{#if slot.active}}
                  {{fa-icon "check" color="success"}}
                {{else}}
                  {{fa-icon "times" color="danger"}}
                {{/if}}
              </td>
              <td>
                <UiButton @type="secondary" @size="sm" @onClick={{fn this.repeatSlot slot}}>
                  {{fa-icon "clone"}} Repeat
                </UiButton>
                <UiButton @type="secondary" @size="sm" @onClick={{fn this.repeatSlotAdd24Hours slot}}>
                  {{fa-icon "clone"}} Repeat+24
                </UiButton>
                <UiButton @type="danger" @size="sm" @onClick={{fn this.deleteSlot slot}}>
                  {{fa-icon "trash-alt"type="fas"}} Delete
                </UiButton>
                <UiButton @onClick={{fn this.editSlot slot}} @size="sm">
                  {{fa-icon "edit"}} Edit
                </UiButton>
              </td>
            </tr>
            {{#if slot.trainer_slot}}
              <tr class="{{if slot.trainer_slot "tr-no-border"}}">
                <td colspan="8">
                  Multiplier slot:
                  <a href="#slot-{{slot.trainer_slot.id}}">
                    #{{slot.trainer_slot.id}} {{slot.trainer_slot_title}} {{slot.trainer_slot.description}}
                    {{shift-format slot.trainer_slot.begins}}
                  </a>
                </td>
              </tr>
            {{/if}}
          {{/each}}
          </tbody>
        </table>
      {{/if}}
    </box.body>
  </ChAccordion>
{{/each}}

{{#if this.slot}}
  <Admin::SlotForm @slot={{this.slot}} @positions={{this.positions}} @trainerSlots={{this.trainerSlots}}
                   @onSave={{this.saveSlot}} @onCancel={{this.cancel}} @onClone={{this.cloneSlot}} />
{{/if}}

{{#if this.showBulkEditDialog}}
  <Admin::SlotBulkEdit @positions={{this.positions}}
                       @position={{this.bulkEditPosition}}
                       @onPositionUpdate={{this.bulkEditPositionUpdatedAction}}
                       @onClose={{this.bulkEditCloseAction}}
  />
{{/if}}

{{#if this.copyParams}}
  <ModalDialog @title="Copy Slots" @onEscape={{this.cancelCopy}} as |Modal|>
    <ChForm @formId="copySlots"
            @formFor={{this.copyParams}}
            @changeSet={{false}}
            @validator={{this.copyValidations}}
            @onSubmit={{this.performCopy}} as |f|>
      <Modal.body>
        <fieldset>
          <legend>Add/Subtract Time to New Slots</legend>
          <FormRow>
            <f.number @name="deltaDays"
                      @label="Days"
                      @maxlength={{5}}
                      @size={{5}}
            />
            <f.number @name="deltaHours"
                      @label="Hours"
                      @maxlength={{5}}
                      @size={{5}}
            />
            <f.number @name="deltaMinutes"
                      @label="Minutes"
                      @maxlength={{5}}
                      @size={{5}}
            />
          </FormRow>
          <legend>Set New Slot Attributes</legend>
          <p>
            The new slots will be cloned as-is (except with the new times used above) from slots being copied.
          </p>
          <p>
            Use the fields below if a different position, description, max (sign up count), information, and/or
            active
            field is desired for the new slots. Leaving the fields blank will cause the original slot values to
            be used.
          </p>
          <FormRow>
            <f.select @name="newPositionId"
                      @label="Position"
                      @options={{this.positionOptionsForCopy}}
            />
          </FormRow>
          <FormRow>
            <f.text @name="description"
                    @label="Description"
                    @maxlength={{40}}
                    @size={{40}}
            />
             <f.text @name="max"
                      @label="Max"
                      @maxlength={{3}}
                      @size={{3}} />
          </FormRow>
          <FormRow>
            <f.textarea @name="url"
                        @label="Information"
                        @rows={{3}}
                        @cols={{80}}
                        @maxlength={{512}} />
          </FormRow>
          <FormRow>
            <div class="col-auto">
              <f.checkbox @name="activate"
                          @label="Activate new slots"/>
            </div>
          </FormRow>
          Labor Day of {{this.year}} is {{this.selectedYearLaborDay}}.
          Labor Day of {{this.presentYear}} is {{this.presentYearLaborDay}}, {{this.laborDayDiff}} days later.
          <br>
          Note: training and mentor/mentee slots cannot be copied yet.
        </fieldset>
        <div class="my-4">
          <f.submit @label={{concat "Copy " this.copySelectedSlotCount " selected slots"}}
                    @disabled={{this.isCopyingSlots}} />
          <UiCancelButton @onClick={{this.cancelCopy}} @disabled={{this.isCopyingSlots}} />
          {{#if this.isCopyingSlots}}
            <LoadingIndicator/>
          {{/if}}
        </div>
        {{#each this.copySourcePositions as |position|}}
          <ChAccordion as |Accordion|>
            <Accordion.title>
              {{position.selectedSlots.length}} / {{position.slots.length}}
              <b>{{position.title}}</b> slots to copy
              <UiButton @onClick={{fn this.copyPositionSelectAll position}} @size="sm">
                {{#if position.allSelected}}deselect{{else}}select{{/if}} all
              </UiButton>
            </Accordion.title>
            <Accordion.body>
              {{#if Accordion.isOpen}}
                <table class="table table-sm table-box table-hover">
                  <thead>
                  <tr>
                    <th>Copy</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th class="text-end">Max</th>
                    <th>Description</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#each position.slots as |slot|}}
                    <tr>
                      {{#let (concat "copy-slot-" slot.source.id) as |checkid|}}
                        <td><Input @type="checkbox" @checked={{slot.selected}} id={{checkid}} /></td>
                        <td>
                          <label for={{checkid}}>
                            {{shift-format slot.source.begins}} &rarr;
                            <br>{{slot.begins}}
                          </label>
                        </td>
                        <td>
                          <label for={{checkid}}>
                            {{shift-format slot.source.ends}} &rarr;<br>
                            {{slot.ends}}
                          </label>
                        </td>
                        <td class="text-end"><label for={{checkid}}>{{slot.source.max}}</label></td>
                        <td><label for={{checkid}}>{{slot.source.description}}</label></td>
                      {{/let}}
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              {{/if}}
            </Accordion.body>
          </ChAccordion>
        {{/each}}
      </Modal.body>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.activatingSlot}}
  <LoadingDialog>
    Activating slot #{{this.activatingSlot.id}}
    - {{this.activatingSlot.begins}}- {{this.this.activatingSlot.description}}
  </LoadingDialog>
{{/if}}

{{#if this.slots.isUpdating}}
  <LoadingDialog>
    Updating slots lists
  </LoadingDialog>
{{/if}}