<YearSelect @title="Clubhouse Slots" @year={{this.year}} @years={{this.yearList}}
            @onChange={{action (mut this.year)}} />

<div class="form-row mb-1">
  <label class="col-form-label">Day Filter</label>
  <div class="col-auto">
    <ChForm::Select @name="dayFilter" @value={{this.dayFilter}} @options={{this.dayOptions}}
                    @onChange={{this.changeDayFilter}} @controlClass="form-control"/>
  </div>

  <label class="col-form-label">Active Filter</label>
  <div class="col-auto">
    <ChForm::Select @name="activeFilter" @value={{this.activeFilter}} @options={{this.activeOptions}}
                    @onChange={{this.changeActiveFilter}} @controlClass="form-control"/>
  </div>
  <label class="col-form-label">Actions</label>

  <div class="pl-4 col-auto">
    <button type="button" {{action this.newSlot}} class="btn btn-primary">New Slot</button>
    {{#if this.slots.length}}
      <button type="button" {{action this.startCopy}} class="btn btn-secondary">Copy Slots</button>
    {{/if}}
  </div>
</div>

{{#if (and this.eventDate.pre_event_slot_start this.eventDate.pre_event_slot_end)}}
  <p class="mt-2">
    {{this.year}} Pre-event is {{shift-format this.eventDate.pre_event_slot_start}} to
    {{shift-format this.eventDate.pre_event_slot_end}}
  </p>
{{else}}
  <ChNotice @title="{{this.year}} pre-event slot dates are not set" @type="danger">
    Pre-Event slots may not be properly vetted. Visit
    <LinkTo @route="admin.event-dates">Admin &gt; Edit Event Dates</LinkTo>
    to set the dates.
  </ChNotice>
{{/if}}

{{#if this.slots.length}}
  Showing {{this.viewSlots.length}} of {{pluralize this.slots.length "slot"}}
  {{#unless this.viewSlots}}
    <p class="text-danger">
      No slots matched the filter criteria.
    </p>
  {{/unless}}
{{else}}
  No slots were found for {{this.year}}?
{{/if}}

{{#each this.positionSlots as |position|}}
  <ChAccordion @isInitOpen={{get this.positionsOpened position.position_id}}
               @onClick={{action this.positionClicked position}} as |box|>
    <box.title>
      {{position.title}} ({{position.slots.length}}
      {{~#if position.inactive}}
        / <span class="text-danger">{{position.inactive}} inactive</span>
      {{~/if}})
    </box.title>
    <box.body>
      {{#if box.isOpen}}
        <p>
          <button type="button" class="btn btn-primary btn-sm" {{action this.activate position}}>Activate All</button>
          <button type="button" class="btn btn-primary btn-sm" {{action this.deactivate position}}>Deactivate All
          </button>
          <button type="button" class="btn btn-secondary btn-sm" {{action this.startCopy position.position_id}}>
            Bulk Copy
          </button>
        </p>
        <table class="table table-sm table-hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>From</th>
            <th>To</th>
            <th class="text-right">Max</th>
            <th class="text-right">Count</th>
            <th class="text-right">Credits</th>
            <th>Description</th>
            <th>Active</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          {{#each position.slots as |slot|}}
            <tr id="slot-{{slot.id}}">
              <td>{{slot.id}}</td>
              <td>{{shift-format slot.begins}}</td>
              <td>{{shift-format slot.ends}}</td>
              <td class="text-right">{{slot.max}}</td>
              <td class="text-right">{{slot.signed_up}}</td>
              <td class="text-right">{{credits-format slot.credits}}</td>
              <td>
                <SlotInfoLink @description={{slot.description}} @info={{slot.url}} />
              </td>
              <td class="text-center">
                {{#if slot.active}}
                  {{fa-icon "check" color="success"}}
                {{else}}
                  {{fa-icon "times" color="danger"}}
                {{/if}}
              </td>
              <td>
                <button type="button" {{action this.repeatSlot slot}} class="btn btn-secondary btn-sm">
                  {{fa-icon "clone"}} Repeat
                </button>
                <button type="button" {{action this.repeatSlotAdd24Hours slot}} class="btn btn-secondary btn-sm">
                  {{fa-icon "clone"}} Repeat+24
                </button>
                <button type="button" {{action this.deleteSlot slot}} class="btn btn-danger btn-sm">
                  {{fa-icon "trash-alt"type="fas"}} Delete
                </button>
                <button type="button" {{action this.editSlot slot}} class="btn btn-primary btn-sm">
                  {{fa-icon "edit"}} Edit
                </button>
              </td>
            </tr>
            {{#if slot.trainer_slot}}
              <tr class="{{if slot.trainer_slot "tr-no-border"}}">
                <td colspan="8">
                  Multiplier slot:
                  <a href="#slot-{{slot.trainer_slot.id}}">
                    #{{slot.trainer_slot.id}} {{slot.trainer_slot_title}} {{slot.trainer_slot.description}}
                    {{shift-format slot.trainer_slot.begins}}
                  </a>
                </td>
              </tr>
            {{/if}}
          {{/each}}
          </tbody>
        </table>
      {{/if}}
    </box.body>
  </ChAccordion>
{{/each}}

{{#if this.slot}}
  <Admin::SlotForm @slot={{this.slot}} @positions={{this.positions}} @trainerSlots={{this.trainerSlots}}
                   @onSave={{this.saveSlot}} @onCancel={{this.cancel}} @onClone={{this.cloneSlot}} />
{{/if}}

{{#if this.copyParams}}
  <ModalDialog @title="Copy Slots" as |Modal|>
    <ChForm @formId="copySlots" @formFor={{this.copyParams}}
            @changeSet={{false}} @validator={{this.copyValidations}}
            @onSubmit={{this.performCopy}} @onCancel={{this.cancelCopy}} as |f|>
      <Modal.body>
        <fieldset>
          <legend>Add/Subtract Time to New Slots</legend>
          <div class="form-row">
            <f.input @name="deltaDays" @label="Days" @type="number" @maxlength={{5}} @size={{5}} @grid="col-auto"/>
            <f.input @name="deltaHours" @label="Hours" @type="number" @maxlength={{5}} @size={{5}} @grid="col-auto"/>
            <f.input @name="deltaMinutes" @label="Minutes" @type="number" @maxlength={{5}} @size={{5}}
                     @grid="col-auto"/>
          </div>
          <legend>Set New Slot Attributes</legend>
          <p>
            The new slots will be cloned as-is (except with the new times used above) from slots being copied.
          </p>
          <p>
            Use the fields below if a different position, description, max (sign up count), information, and/or active
            field is desired for the new slots. Leaving the fields blank will cause the original slot values to be used.
          </p>
          <div class="form-row">
            <f.input @name="newPositionId" @label="Position" @type="select" @options={{this.positionOptionsForCopy}}
                     @grid="col-auto"/>
            <f.input @name="description" @label="Description" @type="text" @maxlength={{40}} @size={{40}}
                     @grid="col-auto"/>
            <f.input @name="max" @label="Max" @type="number" @maxlength={{3}} @size={{3}} @grid="col-2"/>
          </div>
          <div class="form-row">
            <f.input @name="url" @label="Information" @type="textarea" @rows={{3}} @cols={{80}} @maxlength={{512}}
                     @wrapClass="col-12"/>
          </div>
          <div class="form-row my-2">
            <div class="col-auto">
            <f.input @name="activate" @label="Activate new slots" @type="checkbox"/>
            </div>
          </div>
          Labor Day of {{this.year}} is {{this.selectedYearLaborDay}}.
          Labor Day of {{this.presentYear}} is {{this.presentYearLaborDay}}, {{this.laborDayDiff}} days later.
          <br>
          Note: training and mentor/mentee slots cannot be copied yet.
        </fieldset>
        <div class="my-4">
          <f.submit @label={{concat "Copy " this.copySelectedSlotCount " selected slots"}}
                    @disabled={{this.isCopyingSlots}} />
          <f.cancel @disabled={{this.isCopyingSlots}} />
          {{#if this.isCopyingSlots}}
            <LoadingIndicator/>
          {{/if}}
        </div>
        {{#each this.copySourcePositions as |position|}}
          <ChAccordion as |Accordion|>
            <Accordion.title>
              {{position.selectedSlots.length}} / {{position.slots.length}}
              <b>{{position.title}}</b> slots to copy
              <button type="button" {{on "click" (fn this.copyPositionSelectAll position)}}>
                {{#if position.allSelected}}deselect{{else}}select{{/if}} all
              </button>
            </Accordion.title>
            <Accordion.body>
              {{#if Accordion.isOpen}}
                <table class="table table-sm table-box table-hover">
                  <thead>
                  <tr>
                    <th>Copy</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th class="text-right">Max</th>
                    <th>Description</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#each position.slots as |slot|}}
                    <tr>
                      {{#let (concat "copy-slot-" slot.source.id) as |checkid|}}
                        <td><Input @type="checkbox" @checked={{slot.selected}} id={{checkid}} /></td>
                        <td>
                          <label for={{checkid}}>
                            {{shift-format slot.source.begins}} &rarr;
                            <br>{{slot.begins}}
                          </label>
                        </td>
                        <td>
                          <label for={{checkid}}>
                            {{shift-format slot.source.ends}} &rarr;<br>
                            {{slot.ends}}
                          </label>
                        </td>
                        <td class="text-right"><label for={{checkid}}>{{slot.source.max}}</label></td>
                        <td><label for={{checkid}}>{{slot.source.description}}</label></td>
                      {{/let}}
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              {{/if}}
            </Accordion.body>
          </ChAccordion>
        {{/each}}
      </Modal.body>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.activatingSlot}}
  <ModalDialog @title="Activating Slots" as |Modal|>
    <Modal.body>
      Updating slot id #{{this.activatingSlot.id}} - {{this.activatingSlot.begins}}
      - {{this.this.activatingSlot.description}}
      <LoadingIndicator/>
    </Modal.body>
  </ModalDialog>
{{/if}}

{{#if this.slots.isUpdating}}
  <ModalDialog as |Modal|>
    <Modal.body>
      Updating slots lists
    </Modal.body>
  </ModalDialog>
{{/if}}