<main>
  <h1>Clubhouse Teams</h1>
  <FormRow>
    <FormLabel @auto={{true}}>Active Filter</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="activeFilter"
                      @value={{this.activeFilter}}
                      @options={{this.activeOptions}}
                      @onChange={{set-value this 'activeFilter'}} />
    </div>
    <FormLabel @auto={{true}}>Vehicle Eligibility Filter</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="mvrEligibilityFilter"
                      @value={{this.mvrEligibilityFilter}}
                      @options={{this.mvrEligibleOptions}}
                      @onChange={{set-value this 'mvrEligibilityFilter'}} />
    </div>
    <div class="col-auto">
      <UiButton @onClick={{this.newTeam}} @size="sm">New Team</UiButton>
    </div>
  </FormRow>
  <p>
    <DropdownScrollList @items={{this.teamScrollList}}
                        @thing="team"
                        @blinkBox={{true}}
    />
  </p>

  Showing {{this.viewTeams.length}} of {{pluralize this.teams.length "team"}}
  <UiTable>
    <thead>
    <tr>
      <th>ID</th>
      <th colspan="2">Active / Title</th>
      <th>Type</th>
      <th>Associated Roles</th>
      <th>Attributes</th>
      <th>Managers</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.viewTeams key="id" as |team|}}
      <tr id="team-{{team.id}}">
        <td class="text-end">{{team.id}}</td>
        <td class="text-center">
          <BooleanIcon @value={{team.active}} @falseIcon="times" @falseClass="text-danger"/>
        </td>
        <td>
          {{team.title}}
        </td>
        <td>{{this.typeLabel team.type}}</td>
        <td>
          {{#if team.role_ids}}
            {{this.roleList team.role_ids}}
          {{else}}
            <i>None</i>
          {{/if}}
        </td>
        <td>
          {{#if team.mvr_eligible}}
            MVR Eligible<br>
          {{/if}}
          {{#if team.pvr_eligible}}
            PVR Eligible<br>
          {{/if}}
        </td>
        <td>
          {{#each team.managers as |person|}}
            <PersonLink @person={{person}} />
            <br>
          {{else}}
            -
          {{/each}}
        </td>
        <td>
          {{#if team.email}}
            {{team.email}}
          {{else}}
            -
          {{/if}}
        </td>
        <td>
          <UiEditButton @onClick={{fn this.editTeam team}} @size="sm"/>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="10" class="text-danger">
          No teams found.
        </td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
</main>

{{#if this.entry}}
  <ModalDialog @title={{if this.entry.isNew "New Team"  "Edit Team"}} @onEscape={{this.cancelTeam}} as |Modal|>
    <ChForm @formId="role"
            @formFor={{this.entry}}
            @validator={{this.teamValidations}}
            @onSubmit={{this.saveTeam}}
            @onCancel={{this.cancelTeam}} as |f|>
      <Modal.body>
        <FormRow>
          <f.text @name="title" @label="Team Title" @maxlength={{40}} @size={{25}}/>
          <f.select @name="type" @label="Team Type" @options={{this.typeOptions}} />
          <f.text @name="email" @label="Contact Email" @maxlength={{255}} @size={{35}} />
        </FormRow>
        <FormRow>
          <f.textarea @name="description"
                      @label="Description (will appear on the Me >  Directory page)"
                      @cols={{80}}
                      @rows={{4}} />
        </FormRow>

        <fieldset>
          <legend>Team Flags</legend>
          <FormRow>
            <div class="col-12">
              <f.checkbox @name="active" @label="Active"/>
            </div>
            <div class="col-12">
              <f.checkbox @name="mvr_eligible" @label="Team membership grants MVR eligibility"/>
            </div>
            <div class="col-12">
              <f.checkbox @name="pvr_eligible" @label="Team membership grants Personal Vehicle eligibility"/>
            </div>
          </FormRow>
        </fieldset>
        <fieldset>
          <legend>Team Role Grants</legend>
          {{#if this.isTechNinja}}
            <FormRow>
              <f.checkboxGroup @name="role_ids" @options={{this.roleOptions}} />
            </FormRow>
          {{else}}
            <p>
              Contact the Tech Team to adjust the associated permissions.
            </p>
          {{/if}}
        </fieldset>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label={{if this.entry.isNew "Create" "Update"}} @disabled={{this.entry.isSaving}} />
        <UiCancelButton @onClick={{this.cancelTeam}}
                        @disabled={{this.entry.isSaving}} />
        {{#if this.entry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
        {{#unless this.entry.isNew}}
          <div class="ms-auto">
            <UiButton @type="danger" @size="sm" @onClick={{this.removeTeam}}>
              {{fa-icon "trash-alt" type="fas" right=1}} Delete
            </UiButton>
          </div>
        {{/unless}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
