<main>
  <YearSelect @title="Thank You Cards"
              @year={{this.year}}
              @minYear={{2008}}
              @skipPandemic={{true}}
              @onChange={{set-value this 'year'}}  />

  {{#unless this.passwordOkay}}
    <FormRow>
      <FormLabel @auto={{true}}>Enter the Thank You card password:</FormLabel>
      <div class="col-auto">
        <Input @type="password" class="form-control" name="password" size="10" @value={{this.password}}/>
      </div>
      <div class="col-auto">
        <UiButton @onClick={{this.submit}} @disabled={{this.isSubmitting}}>Submit</UiButton>
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </div>
    </FormRow>
  {{/unless}}

  {{#if this.passwordOkay}}
    <p>
      <UiExportToCSVButton @onClick={{this.exportToCSV}} />
    </p>
    {{pluralize this.people.length "person"}} to send {{this.year}} Thank You cards to.
    <UiTable>
      <thead>
      <tr>
        <th>Callsign</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address 1</th>
        <th>Apt</th>
        <th>Address 2</th>
        <th>City</th>
        <th>State</th>
        <th>Postal Code</th>
        <th>Country</th>
      </tr>
      </thead>
      <tbody>
      {{#each this.people as |person|}}
        <tr>
          <td>
            <PersonLink @person={{person}} />
          </td>
          <td>{{person.first_name}} {{person.last_name}}</td>
          <td><MailTo @to={{person.email}} /></td>
          <td>{{person.street1}}</td>
          <td>{{person.apt}}</td>
          <td>{{person.street2}}</td>
          <td>{{person.city}}</td>
          <td>{{person.state}}</td>
          <td>{{person.zip}}</td>
          <td>{{person.country}}</td>
        </tr>
      {{else}}
        <tr>
          <td colspan="12" class="text-danger"><b>No Thank You Card candidates found.</b></td>
        </tr>
      {{/each}}
      </tbody>
    </UiTable>
  {{/if}}
</main>