<main>
  <h1>Top Hour Earners Report</h1>
  <p>
    This report will show active and inactive Rangers who have worked the top hours in a given span.
  </p>
  <ChForm @formId="topForm"
          @formFor={{this.topForm}}
          @changeSet={{false}}
          @onSubmit={{this.runReportAction}}
          as |f|>
    <FormRow>
      <f.select @name="startYear"
                @label="Start Year:"
                @options={{this.yearOptions}}
      />
      <f.select @name="endYear"
                @label="Ending Year:"
                @options={{this.yearOptions}}
      />
      <f.select @name="limit"
                @label="Limit to top earners:"
                @options={{this.limitOptions}}
      />
    </FormRow>
    <f.submit @label="Submit"/>
  </ChForm>

  {{#if this.haveResults}}
    <div class="mt-4 mb-2">
      <UiExportToCSVButton @onClick={{this.exportToCsv}} /><br>
      Showing {{pluralize this.topEarners.length "person"}} for {{this.startYear}} to {{this.endYear}}.
    </div>
    <table class="table table-width-auto table-hover table-striped">
      <thead>
      <tr>
        <th>Callsign</th>
        <th>Status</th>
        <th>Top Hours</th>
        <th>Top Year</th>
        {{#each this.yearRange as |year|}}
          <th>{{year}}</th>
        {{/each}}
      </tr>
      </thead>
      <tbody>
      {{#each this.topEarners as |person|}}
        <tr>
          <td>
            <PersonLink @person={{person}} />
          </td>
          <td>{{person.status}}</td>
          <td class="text-end">{{hour-format person.top_duration}}</td>
          <td class="text-end">{{person.top_year}}</td>
          {{#each person.years as |workYear|}}
            {{#if (and (not-eq workYear.year 2020) (not-eq workYear.year 2021))}}
              <td class="text-end">{{hour-format workYear.duration}}</td>
            {{/if}}
          {{/each}}
        </tr>
      {{else}}
        <tr>
          <td colspan="4"><b class="text-danger">Odd, no people were found.</b></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{/if}}
</main>

{{#if this.isSubmitting}}
  <LoadingDialog>
    Building the Top Hour Earners report . . .
  </LoadingDialog>
{{/if}}