<main>
  <h1>Top Hour Earners Report</h1>
  <p>
    This report will show active and inactive Rangers who have worked the top hours in a given span.
  </p>
  <ChForm @formId="topForm"
          @formFor={{this.topForm}}
          @changeSet={{false}}
          @onSubmit={{this.runReportAction}} as |f|>
    <FormRow>
      <f.select @name="startYear"
                @label="Start Year:"
                @options={{this.yearOptions}}
                @inline={{true}}
      />
      <f.select @name="endYear"
                @label="Ending Year:"
                @options={{this.yearOptions}}
                @inline={{true}}
      />
      <f.select @name="limit"
                @label="Limit to top earners:"
                @options={{this.limitOptions}}
                @inline={{true}}
      />
    </FormRow>
    <f.submit @label="Submit"/>
  </ChForm>

  {{#if this.haveResults}}
    <UiSection>
      <:title>Showing {{pluralize this.topEarners.length "person"}} for {{this.startYear}} to {{this.endYear}}</:title>
      <:body>
        <UiButton @onClick={{this.exportToCsv}} @type="secondary">Export to CSV</UiButton>
        <table class="table table-width-auto table-hover table-striped">
          <thead>
          <tr>
            <th>Callsign</th>
            <th>Status</th>
            <th>Top Hours</th>
            <th>Top Year</th>
            {{#each this.yearRange as |year|}}
              <th>{{year}}</th>
            {{/each}}
          </tr>
          </thead>
          <tbody>
          {{#each this.topEarners as |person|}}
            <tr>
              <td>
                <PersonLink @person={{person}} />
              </td>
              <td>{{person.status}}</td>
              <td class="text-end">{{hour-format person.top_duration}}</td>
              <td class="text-end">{{person.top_year}}</td>
              {{#each person.years as |workYear|}}
                <td class="text-end">{{hour-format workYear.duration}}</td>
              {{/each}}
            </tr>
          {{else}}
            <tr>
              <td colspan="4"><b class="text-danger">Odd, no people were found.</b></td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </:body>
    </UiSection>
  {{/if}}
</main>

{{#if this.isSubmitting}}
  <LoadingDialog>
    Building the Top Hour Earners report . . .
  </LoadingDialog>
{{/if}}