<table class="table table-striped table-hover table-sm table-width-auto">
  <caption>Full Course - {{pluralize @model.full_course.length "person"}}</caption>
  <thead>
  <tr>
    <th>Callsign</th>
    <th>OT ID</th>
    <th>OT Username</th>
    <th>OT Email</th>
    <th>OT Name</th>
    <th>Completed Date</th>
  </tr>
  </thead>
  <tbody>
  {{#each @model.full_course as |person|}}
    <tr>
      <td>
        {{#if person.person}}
          <PersonLink @person={{person.person}} />
        {{else}}
          <i>* unknown *</i>
        {{/if}}
      </td>
      <td>
        {{person.user_id}}
      </td>
      <td>
        {{person.username}}
      </td>
      <td>
        {{person.email}}
      </td>
      <td>
        {{person.first_name}} {{person.last_name}}
      </td>
      <td>
          <PresentOrNot @value={{person.date_complete}} @empty="-" />
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

<table class="table table-striped table-hover table-sm table-width-auto mt-4">
  <caption>Half Course - {{pluralize @model.half_course.length "person"}}</caption>
  <thead>
  <tr>
    <th>Callsign</th>
    <th>OT ID</th>
    <th>OT Username</th>
    <th>OT Email</th>
    <th>OT Name</th>
    <th>Completed Date</th>
  </tr>
  </thead>
  <tbody>
  {{#each @model.half_course as |person|}}
    <tr>
      <td>
        {{#if person.person}}
          <PersonLink @person={{person.person}} />
        {{else}}
          <i>* unknown *</i>
        {{/if}}
      </td>
      <td>
        {{person.user_id}}
      </td>
      <td>
        {{person.username}}
      </td>
      <td>
        {{person.email}}
      </td>
      <td>
        {{person.first_name}} {{person.last_name}}
      </td>
      <td>
        {{#if person.date_complete}}
          {{person.date_complete}}
        {{else}}
          <i>not completed</i>
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
