<h1>{{this.year}} Alpha Shirts Report</h1>
<p class="d-print-none">
  The report shows the current Prospective and Alphas, their shirt sizes, and shirt counts.
  Use by the Quartermaster to estimate how many shirts to order for Shiny Pennies.
</p>

{{#if this.alphas}}
  <p class="d-print-none">
    <UiExportToCSVButton @onClick={{this.exportPeople}} />
  </p>

  <UiTab as |tab|>
    <tab.pane @id="alphas" @title="Alphas">
      {{pluralize this.alphas.length "alpha"}} found
      <UiTable>
        <thead>
        <tr>
          <th>Callsign</th>
          <th>Status</th>
          <th>Name</th>
          <th>T-Shirt</th>
          <th>T-Shirt Backup</th>
          <th>Long Sleeve</th>
        </tr>
        </thead>

        <tbody>
        {{#each this.alphas key="id" as |person|}}
          <tr>
            <td>
              <PersonLink @person={{person}} />
            </td>
            <td>{{person.status}}</td>
            <td>{{person.first_name}} {{person.last_name}}</td>
            <td>
              {{person.teeshirt_size_style}}
            </td>
            <td>
              {{person.tshirt_secondary_size}}
            </td>
            <td>
              {{person.longsleeveshirt_size_style}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </UiTable>
    </tab.pane>

    <tab.pane @id="shirt-totals" @title="Shirt Totals">
      <div style="grid-template-columns: repeat(auto-fill, 250px)" class="d-grid gap-3">
        {{#each this.shirtGroups as |shirts|}}
          <div>
            <h4>{{shirts.name}} Totals</h4>
            <p>
              <UiExportToCSVButton @onClick={{fn this.exportCounts shirts}} />
            </p>
            <UiTable @noWidthAuto={{true}}>
              <thead>
              <tr>
                <th>Shirt Type</th>
                <th class="text-end">Count</th>
              </tr>
              </thead>
              <tbody>
              {{#each shirts.types as |shirt|}}
                <tr>
                  <td>{{shirt.type}}</td>
                  <td class="text-end">{{shirt.count}}</td>
                </tr>
              {{/each}}
              </tbody>
            </UiTable>
          </div>
        {{/each}}
      </div>
    </tab.pane>
  </UiTab>
{{else}}
  <strong class="text-danger">No Alphas or Prospectives were found for {{this.year}}?!?</strong>
{{/if}}
