<h1>{{this.year}} Alpha Shirts Report</h1>
<p class="d-print-none">
  The report shows the current Prospective and Alphas, their shirt sizes, and shirt counts.
  Use by the Quartermaster to estimate how many shirts to order for Shiny Pennies.
</p>

{{#if this.alphas}}
  <p class="d-print-none">
    <UiButton @onClick={{this.exportPeople}}>
      Export as CSV
    </UiButton>
    <a href="#shirt-totals" class="ms-2">Jump to shirt totals</a>
  </p>

  {{pluralize this.alphas.length "alpha"}} found
  <table class="table table-hover table-striped table-sm table-width-auto">
    <thead>
      <tr>
        <th>Callsign</th>
        <th>Status</th>
        <th>Name</th>
        <th>Tee Shirt</th>
        <th>Long Sleeve</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.alphas key="id" as |person|}}
        <tr>
          <td><PersonLink @person={{person}} /></td>
          <td>{{person.status}}</td>
          <td>{{person.first_name}} {{person.last_name}}</td>
          <td>
            {{person.teeshirt_size_style}}
          </td>
          <td>
            {{person.longsleeveshirt_size_style}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <h3 id="shirt-totals">Shirt Totals</h3>
  <div class="row">
    {{#each this.shirtGroups as |shirts|}}
      <div class="col-3">
        <table class="table table-sm table-box">
          <caption>
            {{shirts.name}} Totals
              <UiButton @type="secondary"
                        @size="sm" @class="d-inline-block float-end"
                        @onClick={{fn this.exportCounts shirts}}>
                Export
              </UiButton>
          </caption>
          <thead>
            <tr>
              <th>Shirt Type</th>
              <th class="text-end">Count</th>
            </tr>
          </thead>
          <tbody>
            {{#each shirts.types as |shirt|}}
              <tr>
                <td>{{shirt.type}}</td>
                <td class="text-end">{{shirt.count}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/each}}
  </div>

{{else}}
  <strong class="text-danger">No Alphas or Prospectives were found for {{this.year}}?!?</strong>
{{/if}}
