<YearSelect @title="Assets Outstanding"
            @year={{this.year}}
            @minYear={{2010}}
            @skipPandemic={{true}}
            @onChange={{set-value this 'year'}}
/>
<p>
  <UiButton @onClick={{this.exportToCSV}}>Export To CSV</UiButton>
</p>
Showing {{pluralize this.assets.length "asset"}} outstanding.
<UiTable>
  <thead>
  <tr>
    <th>Barcode</th>
    <th>Callsign</th>
    <th>Type</th>
    <th>Description</th>
    <th>Attachment</th>
    <th>Assigned</th>
    <th>Checked Out /<br>By Person</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.assets as |asset|}}
    <tr>
      <td>
        {{asset.barcode}}
      </td>
      <td>
        <PersonLink @person={{asset.checked_out.person}} />
      </td>
      <td>
        {{this.typeLabel asset.type}}
      </td>
      <td>
        <PresentOrNot @value={{asset.description}} @empty="-" />
      </td>
      <td>
        {{#if asset.checked_out.attachment}}
          {{asset.checked_out.attachment.description}}
        {{else}}
          -
        {{/if}}
      </td>
      <td>
        {{if asset.perm_assign "Permanent" "Temporary"}}
      </td>
       <td>
        {{shift-format asset.checked_out.checked_out}}<br>
        {{#if asset.checked_out.check_out_person}}
          <PersonLink @person={{asset.checked_out.check_out_person}} />
        {{else}}
          -
        {{/if}}
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="7"><b class="text-danger">No {{this.year}} outstanding assets were found.</b></td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>
