<YearSelect @title="Non-Radio Asset History" @year={{this.year}} @onChange={{action (mut this.year)}}  />

<p>
  <button class="btn btn-primary" {{action this.exportToCSV}}>Export To CSV</button>
</p>

Showing {{pluralize assets.length "non-radio asset entry"}}
<table class="table table-striped table-sm table-width-auto">
  <thead>
  <tr>
    <th>Barcode</th>
    <th>Description</th>
    <th>Assigned</th>
    <th>Temp ID</th>
    <th>Checked Out</th>
    <th>Checked In</th>
    <th>Callsign</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.assets as |asset|}}
    {{#each asset.asset_history as |history|}}
      <tr>
        <td>{{asset.barcode}}</td>
        <td>{{asset.description}}</td>
        <td>{{asset.temp_id}}</td>
        <td>{{if asset.perm_assign "Permanent" "Temporary"}}</td>
        <td>{{shift-format history.checked_out}}</td>
        <td>
          {{#if history.checked_in}}
            {{shift-format history.checked_in}}
          {{else}}
            Still out
          {{/if}}
        </td>
        <td>
          <PersonLink @person={{history.person}} />
        </td>
      </tr>
    {{/each}}
  {{else}}
    <tr>
      <td colspan="7">
        <b class="text-danger">No non-radio assets found for {{year}}</b>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
