<YearSelect @title="Non-Radio Asset History"
            @year={{this.year}}
            @minYear={{2010}}
            @skipPandemic={{true}}
            @onChange={{set-value this 'year'}}  />

<p>
  <UiExportToCSVButton @onClick={{this.exportToCSV}} />
</p>

Showing {{pluralize this.assets.length "non-radio asset entry"}}
<UiTable>
  <thead>
  <tr>
    <th>Barcode</th>
    <th>Type</th>
    <th>Description</th>
    <th>Duration</th>
    <th>Cbecked Out Time /<br>By Person</th>
    <th>Checked In Time /<br>By Person</th>
    <th>Callsign</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.assets as |asset|}}
    {{#each asset.asset_history as |history|}}
      <tr>
        <td>{{asset.barcode}}</td>
        <td>{{this.typeLabel asset.type}}</td>
        <td>
          <PresentOrNot @value={{asset.description}} @empty="-"/>
        </td>
        <td class="text-center">
          <AssetDurationLabel @asset={{asset}} />
        </td>
        <td>
          {{shift-format history.checked_out}}<br>
          {{#if history.check_out_person}}
            <PersonLink @person={{history.check_out_person}} />
          {{else}}
            -
          {{/if}}
        </td>
        <td>
          {{#if history.checked_in}}
            {{shift-format history.checked_in}}<br>
            {{#if history.check_in_person}}
              <PersonLink @person={{history.check_in_person}} />
            {{else}}
              -
            {{/if}}
          {{else}}
            <i>- Still out -</i>
          {{/if}}
        </td>
        <td>
          <PersonLink @person={{history.person}} />
        </td>
      </tr>
    {{/each}}
  {{else}}
    <tr>
      <td colspan="7">
        <b class="text-danger">No non-radio assets found for {{this.year}}</b>
      </td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>
