<h1>Flake Report for {{mdy-format this.date full=true}} @ {{time-format this.date}}</h1>

<p>
  Note: This page is a work in progress.
</p>

<p>
  The report will show shifts that were active at specified date &amp; time. Each
  shift will be broken down into people who signed up &amp; checked in, people
  who were signed up but signed into a different position/shift, people who
  either signed into the shift without signing up first (rogues) and/or people
  who were are still on duty from the pervious shfit (overlaps). Anyone who
  signed up but who was not working during the shift period is labled as a
  flake.
</p>


<ChForm @formId="dateform" @formFor={{this.dateForm}} @onSubmit={{this.submitForm}} as |f|>
  <FormRow>
    <f.datetime @name="date"
                @label="Shift date &amp; time to view:"
                @inline={{true}}/>
    <div class="col-auto">
      <f.submit @label="Submit"/>
      <UiButton @type="secondary" @onClick={{this.viewCurrentPeriod}}>View Current Period</UiButton>
    </div>
  </FormRow>
</ChForm>

<p>
  Showing {{pluralize this.positions.length "position"}}.
  <UiButton @type="secondary" @class="ms-2" @onClick={{this.toggleExpandAll}}>
    {{#if this.expandAll}}Hide All{{else}}Expand All{{/if}}
  </UiButton>
</p>


{{#each this.positions as |position|}}
  <div class="max-width-700">
    <ChAccordion as |accordion|>
      <accordion.title>{{position.title}}</accordion.title>
      <accordion.body>
        {{#if accordion.isOpen}}
          {{#each position.slots key="id" as |slot idx|}}
            <table class="table table-sm">
              <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Description</th>
                <th class="text-end">Signed Up</th>
                <th class="text-end">Max</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{shift-format slot.begins}}</td>
                <td>{{shift-format slot.ends}}</td>
                <td>{{slot.description}}</td>
                <td class="text-end">{{slot.signed_up}}</td>
                <td class="text-end">{{slot.max}}</td>
              </tr>
              </tbody>
            </table>
            <div class="ms-1 {{unless idx "mb-2"}}">
              {{#if slot.checked_in}}
                <h6>Signed up &amp; in ({{slot.checked_in.length}})</h6>
                <div class="callsign-list">
                  {{#each slot.checked_in key="id" as |person|}}
                    <div>
                      <PersonLink @person={{person}} />
                      <br>
                      ({{time-format person.timesheet.on_duty}})
                    </div>
                  {{/each}}
                </div>
              {{else if slot.signed_up}}
                <div class="text-danger mb-1">No scheduled sign ups on shift.</div>
              {{else}}
                <div class="text-danger mb-1">No shift sign ups.</div>
              {{/if}}
              {{#if slot.different_shift}}
                <h6>Went on different shift ({{slot.different_shift.length}}):</h6>
                <div class="row mb-1">
                  {{#each slot.different_shift key="id" as |person|~}}
                    <div class="col-auto">
                      <PersonLink @person={{person}} />
                      <br>
                      ({{person.timesheet.position_title}} @ {{time-format person.timesheet.on_duty}})
                    </div>
                  {{~/each}}
                </div>
              {{/if}}
              {{#if slot.rogues}}
                <h6>Rogues / Overlaps ({{slot.rogues.length}}):</h6>
                <div class="row mb-1">
                  {{#each slot.rogues key="id" as |person|}}
                    <div class="col-auto">
                      <PersonLink @person={{person}} />
                      <br>
                      ({{dayjs-format person.on_duty "ddd DD @ HH:MM"}} -
                      {{if person.off_duty (dayjs-format person.off_duty "ddd DD @ HH:MM") "now"}})
                    </div>
                  {{~/each}}
                </div>
              {{/if}}
              {{#if slot.not_present}}
                <h6>Flakes ({{slot.not_present.length}}):</h6>
                <div class="callsign-list">
                  {{#each slot.not_present key="id" as |person|}}
                    <PersonLink @person={{person}} />
                  {{/each}}
                </div>
              {{else if slot.signed_up}}
                <b class="text-success">No flakes.</b>
              {{/if}}
            </div>
          {{/each}}
        {{/if}}
      </accordion.body>
    </ChAccordion>
  </div>
{{else}}
  <p class="mt-2">
    <b class="text-danger">No shifts were found for the date &amp; time given.</b>
  </p>
{{/each}}
