<h1>Freaking Years Report</h1>

<p>
  <label>
    <RadioButton @value={{0}} @groupValue={{this.showAll}} @radioId="showAllFalse"/>
    Show only active status accounts
  </label>

  <label class="ml-2">
    <RadioButton @value={{1}} @groupValue={{this.showAll}} @radioId="showAllTrue"/>
    Show all accounts
  </label>
</p>
<p>
  Report on people's service based on years rangered. The "Signed Up" column
  indicates if ANY shift sign up (training, dirt shift, etc) was found for the
  current year which may indicate the person will be working the event.
</p>

<p>
  <button type="button" class="btn btn-primary" {{action this.exportToCsv}}>Export To CSV</button>
  <button type="button" class="btn btn-secondary" {{action this.toggleExpandAll}}>
    {{#if this.expandAll}}Hide All{{else}}Expand All{{/if}}
  </button>
</p>

Showing {{this.totalPeople}} people over {{this.freaking.length}} years.
{{#each this.freaking as |freaks|}}
  <div class="max-width-700">
    <ChAccordion as |accordion|>
      <accordion.title>{{pluralize freaks.years "year"}} - {{pluralize freaks.people.length "person"}}</accordion.title>
      <accordion.body>
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th class="w-20">Callsign</th>
            <th class="w-25">Name</th>
            <th class="w-10">Status</th>
            <th>First Year</th>
            <th>Last Year</th>
            <th>Signed Up {{signed_up_year}}</th>
          </tr>
          </thead>
          <tbody>
          {{#each freaks.people as |person| }}
            <tr>
              <td class="w-20">
                <PersonLink @person={{person}} />
              </td>
              <td class="w-25">{{person.first_name}} {{person.last_name}}</td>
              <td class="w-10">{{person.status}}</td>
              <td>{{person.first_year}}</td>
              <td>{{person.last_year}}</td>
              <td class="text-center">{{yesno person.signed_up}}</td>
            </tr>

          {{/each}}
          </tbody>
        </table>
      </accordion.body>
    </ChAccordion>
  </div>
{{/each}}
