{{year-select "HQ Window Check In/Out Forecast Report" year=year onChange=(action (mut year))}}

<p>
  <a href="#burn-perimeters">Jump to Burn Perimeters</a>
</p>

<div class="form-row">
  <div class="col-auto">
    <label class="col-form-label">Interval</label>
  </div>
  <div class="col-auto">
    <ChForm::Select @name="interval" @value={{interval}} @options={{intervalOptions}} @onChange={{action (mut interval)}} @controlClass="form-control" />
  </div>
  <div class="col-auto">
    <label class="col-form-label">Day Filter</label>
  </div>
  <div class="col-auto">
    <ChForm::Select @name="dayFilter" @value={{dayFilter}} @options={{dayOptions}} @onChange={{action (mut dayFilter)}} @controlClass="form-control" />
  </div>
  <div class="col-auto">
    <label class="col-form-label">Staffing Filter</label>
  </div>
  <div class="col-auto">
    <ChForm::Select @name="staffFilter" @value={{staffFilter}} @options={{staffOptions}} @onChange={{action (mut staffFilter)}} @controlClass="form-control" />
  </div>
  <div class="col-auto ml-auto">
    <button class="btn btn-secondary" {{action exportToCsv}}>Export to CSV</button>
  </div>
</div>

<p class="mt-2">
  Highlighted rows indicate no HQ staff (window, short, or lead) is available for the given period.
</p>
{{#if viewVisits}}
  <HqVisitsTable @visits={{viewVisits}} @title="All Shifts (excluding Training, Trainer, TiT, Uber & Burn Perimeter)" @interval={{interval}} />
{{else}}
  {{#if visits}}
    <p class="text-danger font-weight-bold">No shifts were found based on the filtering criteria</p>
  {{else}}
    <p class="text-danger font-weight-bold">No HQ Window shifts found for {{year}}</p>
  {{/if}}
{{/if}}

<h1 id="burn-perimeters">{{year}} Burn Perimeters</h1>
{{#each burns as |burn|}}
  <HqVisitsTable @visits={{burn.visits}} @title={{join " / " burn.descriptions}} @interval={{interval}} />
{{else}}
  <p class="text-danger font-weight-bold">No Burn Perimeter shifts found for {{year}}</p>
{{/each}}
