<h1>Languages Spoken</h1>

<p>
  This page will show all languages spoken by people marked as on site.
</p>
<p>
  Use the {{#link-to "search.languages" }}Search Languages{{/link-to}} page to search for people who speak a specific language and whom may or may not be on site, have a radio, etc.
</p>

{{#each languages as |language|}}
  <div class="border mb-2">
    <div class="bg-light-gray p-2">
      <a href class="h4" {{action this.toggleLanguage language}}>{{fa-icon (if language.showing "caret-down" "caret-right")}} {{language.language}}</a> ({{pluralize language.people.length "person"}})
    </div>

    <div class="row p-2 {{unless language.showing "d-none"}}">
      {{#each language.people as |person|}}
        <div class="col-sm-6 col-md-3 col-lg-2">
          {{person-link person=person}}
        </div>
      {{/each}}
    </div>
  </div>
{{else}}
  <p class="text-danger">
    <b>It appears there are no people marked as on site. Try using the {{#link-to "search.languages" }}Search Languages{{/link-to}} to find the language.</b>
  </p>
{{/each}}
