<h1>
  {{#if this.has_excessive_duration}}
    Currently on duty for longer than usual
  {{else if this.duty_date}}
    On duty at {{full-datetime-format this.duty_date}}
  {{else}}
    Currently on duty
  {{/if}}
</h1>

{{#unless this.over_hours}}
  <ChForm @formId="date-form"
          @formFor={{this.dateForm}}
          @validator={{this.dateValidations}}
          @onSubmit={{this.submitForm}} as |f|>
    <FormRow>
      <f.datetime @name="date"
                  @label="Date &amp; time to view:"
                  @type="datetime"
                  @inline={{true}}
      />
      <div class="col-auto">
        <f.submit @label="Submit"/>
        <UiButton @type="secondary" @onClick={{this.viewCurrentTime}}>View Current Time</UiButton>
      </div>
    </FormRow>
  </ChForm>
{{/unless}}
<p>
  An entry will be flagged if the duration exceeds 1.5 times the scheduled shift length or exceeds 1.5 times of 6 hours
  if no shift is associated.
</p>
{{#if this.positions}}
  <DropdownScrollList @items={{this.scrollList}}  @openAccordion={{true}} @thing="position"/>
{{/if}}
<p>
  Showing {{pluralize this.totalPeople "person"}} on duty in {{pluralize this.positions.length "position"}}.
</p>
{{#each this.positions key="id" as |position|}}
  <div class="max-width-1000">
    <UiAccordion id="position-{{position.id}}" as |accordion|>
      <accordion.title>
        {{position.title}} - {{pluralize position.timesheets.length "person"}}
        {{#if (and position.excessive_count (not this.has_excessive_duration))}}
          <small>({{pluralize position.excessive_count "entry"}} possibly longer than normal)</small>
        {{/if}}
      </accordion.title>
      <accordion.body>
        {{#if accordion.isOpen}}
          <UiTable>
            <thead>
            <tr>
              <th>Callsign</th>
              <th>On Duty</th>
              {{#if this.duty_date}}
                <th>Off Duty</th>
              {{/if}}
              <th class="text-end">Duration</th>
              <th>Assoc. Shift Start</th>
              <th>Shift Duration</th>
              <th>Over Duration</th>
              <th>Over %</th>
            </tr>
            </thead>

            <tbody>
            {{#each position.timesheets key="id" as |ts|}}
              <tr class={{if ts.excessive_duration "table-warning"}}>
                <td>
                  {{#if ts.excessive_duration}}
                    {{fa-icon "triangle-exclamation" right=1}}
                  {{/if}}
                  <PersonLink @personId={{ts.person_id}} @callsign={{ts.callsign}} />
                </td>
                <td>{{shift-format ts.on_duty}}</td>
                {{#if this.duty_date}}
                  <td>
                    {{#if ts.off_duty}}
                      {{shift-format ts.off_duty}}
                    {{else}}
                      <i>On Duty</i>
                    {{/if}}
                  </td>
                {{/if}}
                <td class="text-end">{{hour-minute-format ts.duration}}</td>
                {{#if ts.slot}}
                  <td>{{shift-format ts.slot.begins}}</td>
                  <td class="text-end">{{hour-minute-format ts.slot.duration}}</td>
                {{else}}
                  <td colspan="2"><i>- no shift associated -</i></td>
                {{/if}}
                <td class="text-end">
                  {{#if ts.excessive_duration}}
                    {{hour-minute-format ts.excessive_duration}}
                  {{else}}
                    -
                  {{/if}}
                </td>
                <td class="text-end">
                  {{#if ts.excessive_duration}}
                    {{ts.excessive_percentage}}%
                  {{else}}
                    -
                  {{/if}}
                </td>
              </tr>
            {{/each}}
            </tbody>
          </UiTable>
        {{/if}}
      </accordion.body>
    </UiAccordion>
  </div>
{{else}}
  <p>
    <strong class="text-success">Congratulations! No one is on duty
      {{#if this.over_hours}} for more than {{this.over_hours}} hours{{/if}}.
    </strong>
  </p>
{{/each}}
