<h1>
  {{#if this.over_hours}}
    Currently On Duty Over {{this.over_hours}} Hours
  {{else if this.duty_date}}
    On Duty at {{full-datetime-format this.duty_date}}
  {{else}}
    Currently On Duty
  {{/if}}
</h1>

{{#unless this.over_hours}}
  <ChForm @formId="date-form" @formFor={{this.dateForm}} @validator={{this.dateValidations}}
          @onSubmit={{this.submitForm}} as |f|>
    <FormRow>
      <f.datetime @name="date"
                  @label="Date &amp; time to view:"
                  @type="datetime"
                  @inline={{true}}
      />
      <div class="col-auto">
        <f.submit @label="Submit"/>
        <UiButton @type="secondary" @onClick={{this.viewCurrentTime}}>View Current Time</UiButton>
      </div>
    </FormRow>
  </ChForm>
{{/unless}}

Showing {{pluralize this.timesheet.length "person"}} on duty in {{pluralize this.positions.length "position"}}.
{{#each this.positions key="id" as |position|}}
  <div class="max-width-700">
    <ChAccordion as |accordion|>
      <accordion.title>
        {{position.title}} - {{pluralize position.timesheets.length "person"}}
      </accordion.title>
      <accordion.body>
        {{#if accordion.isOpen}}
          <table class="table table-sm table-striped table-hover table-width-auto">
            <thead>
            <tr>
              <th class="w-25">Callsign</th>
              {{#if this.duty_date}}
                <th class="w-30">On Duty</th>
                <th class="w-30">Off Duty</th>
              {{else}}
                <th class="w-60">On Duty Since</th>
              {{/if}}
              <th class="text-end w-15">Duration</th>
            </tr>
            </thead>

            <tbody>
            {{#each position.timesheets key="id" as |ts|}}
              <tr>
                <td class="w-25">
                  <PersonLink @person={{ts.person}} />
                </td>
                <td class={{if this.duty_date "w-30" "w-60"}}>{{shift-format ts.on_duty}}</td>
                {{#if this.duty_date}}
                  <td class="w-30">
                    {{#if ts.off_duty}}
                      {{shift-format ts.off_duty}}
                    {{else}}
                      <i>On Duty</i>
                    {{/if}}
                  </td>
                {{/if}}
                <td class="w-15 text-end">{{hour-minute-format ts.duration}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        {{/if}}
      </accordion.body>
    </ChAccordion>
  </div>
{{else}}
  <p>
    <strong class="text-success">Congratulations! No one is on duty
      {{#if this.over_hours}} for more than {{this.over_hours}} hours{{/if}}.
    </strong>
  </p>
{{/each}}
