<h1>People by Position</h1>

<div class="form-row">
  <label class="col-form-label col-auto">Options</label>
  <div class="form-check form-check-inline">
    <Input @type="checkbox" id="on-playa" class="form-check-input" @checked={{this.onPlaya}} />
    <label for="on-playa" class="form-check-label">
      On playa only
    </label>
  </div>
  <label class="col-form-label col-auto">Position types</label>
  {{#each this.positionTypes as |type|}}
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <Input @type="checkbox" class="form-check-input" @checked={{type.selected}} />
        {{type.name}}
      </label>
    </div>
  {{/each}}
</div>

<div class="form-row mb-2">
  <label class="col-form-label col-auto">Statuses</label>
  {{#each this.statuses as |status idx|}}
    <div class="form-check form-check-inline">
      <Input @type="checkbox" @id="status-{{idx}}" class="form-check-input" @checked={{status.selected}} />
      <label for="status-{{idx}}" class="form-check-label">
        {{status.name}}
      </label>
    </div>
  {{/each}}
</div>
<p>
  <button type="button" class="btn btn-secondary" {{action this.expandAllPositions true}}>Expand all</button>
  <button type="button" class="btn btn-secondary" {{action this.expandAllPositions false}}>Collapse all</button>
</p>

{{#each this.visiblePositions as |position|}}
  <ChAccordion as |accordion|>
    <accordion.title>
      {{position-label position}}
      {{#if position.allRangers}}
        &ndash; all rangers
      {{/if}}
      {{#if position.allPeople}}
        &ndash; all people
      {{/if}}
      &ndash; {{pluralize position.totalPeople "person"}}
      ({{position.onPlayaCount}} on playa)
      {{position.visiblePeople.length}} of {{pluralize position.people.length  "person"}} shown
      {{#if (and position.missingPeople.length (or position.allRangers position.allPeople))}}
        &ndash; <span class="text-danger">{{pluralize position.missingPeople.length "unassigned person"}}</span>
        ({{position.missingOnPlayaCount}} on playa)
      {{/if}}
      &ndash; {{position.type}}
    </accordion.title>
    <accordion.body>
      {{#if accordion.isOpen}}
        {{#if position.people}}
          {{#if (and position.allRangers position.visiblePeople.length)}}
            <p>
              Note: {{position.title}} is granted to all active and inactive rangers.
              The following list is just people who aren't active/inactive.
            </p>
          {{/if}}
          <div class="callsign-list">
            {{#each position.visiblePeople as |person|}}
              <div>
                <PersonLink @person={{person}} /> {{#if person.on_site}}{{fa-icon "check" color="success"}}{{/if}}<br>
                &lt;{{person.status}}&gt;
              </div>
            {{/each}}
          </div>
        {{/if}}
        {{#if (and position.missingPeople position.missingPeople.length)}}
          <table class="table table-sm table-striped table-hover table-width-auto">
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Callsign</th>
              <th>Status</th>
              <th>On playa</th>
              <th>Missing position</th>
            </tr>
            </thead>
            <tbody>
            {{#each position.missingPeople as |person|}}
              <tr>
                <td>{{fa-icon "exclamation-triangle" color="danger"}}</td>
                <td>
                  <PersonLink @person={{person}} />
                </td>
                <td>{{person.status}}</td>
                <td>{{#if person.on_site}}{{fa-icon "check" color="green"}}{{/if}}</td>
                <td>{{position.title}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        {{/if}}
        <div class="mt-2">
          <button type="button" class="btn btn-secondary btn-sm" {{action accordion.closeAction}}>
            Close {{position.title}}
          </button>
        </div>
      {{/if}}
    </accordion.body>
  </ChAccordion>
{{else}}
  <b class="text-danger">No positions matched.</b>
{{/each}}
