<h1>People by Position</h1>
<FormRow>
  <FormLabel @fixed={{true}}>Options</FormLabel>
  <div class="col-auto mt-2">
    <div class="form-check form-check-inline">
      <Input @type="checkbox" id="on-playa" class="form-check-input" @checked={{this.onPlaya}}/>
      <label for="on-playa" class="form-check-label">
        On playa only
      </label>
    </div>
    <div class="form-check form-check-inline">
      <Input @type="checkbox" id="show-match" class="form-check-input" @checked={{this.showMatch}}/>
      <label for="show-match" class="form-check-label">
        Only show positions that match the filters
      </label>
    </div>
  </div>
</FormRow>
<FormRow>
  <FormLabel @fixed={{true}}>Position types</FormLabel>
  <div class="col-sm-12 col-lg-auto mt-2">
    {{#each this.positionTypes as |type|}}
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <Input @type="checkbox" class="form-check-input" @checked={{type.selected}}/>
          {{type.name}}
        </label>
      </div>
    {{/each}}
  </div>
</FormRow>

<FormRow>
  <FormLabel @fixed={{true}}>Statuses</FormLabel>
  <div class="col-sm-12 col-lg-10 mt-2">
    {{#each this.statuses as |status idx|}}
      <div class="form-check form-check-inline">
        <Input @type="checkbox" id="status-{{idx}}" class="form-check-input" @checked={{status.selected}}/>
        <label for="status-{{idx}}" class="form-check-label">
          {{status.name}}
        </label>
      </div>
    {{/each}}
  </div>
</FormRow>

<DropdownScrollList @items={{this.positionsScrollList}} @openAccordion={{true}} @thing="position"/>

Showing {{this.visiblePositions.length}} of {{this.positions.length}} positions
{{#each this.visiblePositions key="id" as |position|}}
  <UiAccordion id="position-{{position.id}}" as |accordion|>
    <accordion.title>
      <span class="me-2">{{position-label position}}</span>
      [
      showing {{position.visiblePeople.length}} of {{pluralize position.people.length  "person"}}
      {{~#if (and position.active position.missingPeople.length (or position.allRangers position.allPeople))}}
        <span class="text-danger ms-2">
          {{pluralize position.missingPeople.length "unassigned person"}}
        </span>
      {{/if~}}
      {{~#if position.allRangers}}
        / {{fa-icon "universal-access" right=1}} All Ranger
      {{/if~}}

      {{~#if position.allPeople}}
        / {{fa-icon "globe" right=1}} All Accounts
      {{/if~}}
      ]
    </accordion.title>
    <accordion.body>
      {{#if accordion.isOpen}}
        <p>
          <UiExportToCSVButton @onClick={{fn this.exportToCSV position}}/>
        </p>
        {{#if position.people}}
          <div class="callsign-list">
            {{#each position.visiblePeople key="id" as |person|}}
              <div>
                <PersonLink @person={{person}} />
                {{#if person.on_site}}
                  <UiBadge @type="success">on site</UiBadge>
                {{/if}}<br>
                &lt;{{person.status}}&gt;
              </div>
            {{/each}}
          </div>
        {{/if}}
        {{#if (and position.missingPeople position.missingPeople.length)}}
          <UiTable>
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Callsign</th>
              <th>Status</th>
              <th>On playa</th>
              <th>Missing position</th>
            </tr>
            </thead>
            <tbody>
            {{~#each position.missingPeople key="id" as |person|~}}
              <tr>
                <td>{{fa-icon "exclamation-triangle" color="danger"}}</td>
                <td>
                  <PersonLink @person={{person}} />
                </td>
                <td>{{person.status}}</td>
                <td>{{#if person.on_site}}{{fa-icon "check" color="success" left=2}}{{/if}}</td>
                <td>{{position.title}}</td>
              </tr>
            {{~/each~}}
            </tbody>
          </UiTable>
        {{/if}}
      {{/if}}
    </accordion.body>
  </UiAccordion>
{{else}}
  <b class="text-danger">No positions matched.</b>
{{/each}}
