<h1>People By Role Report</h1>
<p>
  <label>Filter by:</label>
  <RadioGroup @options={{this.filterOptions}} @onChange={{action (mut this.filter)}} @value={{this.filter}} />
</p>
<p>
  Legend:<br>
  via role = Role explicitly assigned.<br>
  via team = Role assigned thru team membership.<br>
  via position = Role assigned thru position grant.<br>
  via untrained position = Person holds a position with roles associated however the appropriate ART training
  has not been passed for the year and the role has NOT been assigned. Once the person passes ART training, the role will be assigned.
</p>
<p>
  Click on the callsign to see a breakdown on how the role is assigned.
</p>

{{#each this.viewRoles as |role|}}
  <UiAccordion as |accordion|>
    <accordion.title>{{role.title}} ({{pluralize role.people.length "person"}})</accordion.title>
    <accordion.body>
      {{#if accordion.isOpen}}
        {{#if role.people}}
          <UiButton @onClick={{fn this.exportToCSV role}}>Export To CSV</UiButton>
          <div class="callsign-list mt-2">
            {{#each role.people key="id" as |person|}}
              <div>
                {{#if person.notAssigned}}
                  {{fa-icon "ban"}}
                {{/if}}
                <a href {{action this.showPersonAction person}}>{{person.callsign}}</a>
                <div class="text-muted small">
                  via {{this.grantedHow person}}
                </div>
              </div>
            {{/each}}
          </div>
        {{else}}
          <b>No one found which matches the filter.</b>
        {{/if}}
      {{/if}}
    </accordion.body>
  </UiAccordion>
{{/each}}

{{#if this.showPerson}}
  <ModalDialog @title="{{this.showPerson.callsign}} information" as |Modal|>
    <Modal.body>
      <table class="table table-width-auto mb-2">
        <thead>
        <tr>
          <th>Explicit Grant</th>
          <th>Thru Team Membership</th>
          <th>Thru Positions Grants</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            {{#if this.showPerson.granted}}
              <span class="text-danger">Yes</span>
            {{else}}
              <i class="text-muted">None</i>
            {{/if}}
          </td>
          <td>
            {{#each this.showPerson.teams as |team|}}
              {{team.title}}<br>
            {{else}}
              <i class="text-muted">None</i>
            {{/each}}
          </td>
          <td>
            {{#each this.showPerson.positions as |position idx|}}
              {{#if idx}}
                <br>
              {{/if}}
              {{position.title}}
            {{else}}
              <i class="text-muted">None</i>
            {{/each}}
          </td>
          <td>
            {{#each this.showPerson.positions as |position idx|}}
              {{#if position.require_training_for_roles}}
                {{#if idx}}
                  <br>
                {{/if}}
                {{#if position.is_trained}}
                  <span class="text-success">{{fa-icon "check"}} Trained - Role granted</span>
                {{else}}
                  <span class="text-danger">
                    {{fa-icon "ban"}} Untrained - Will not be granted until ART is passed.
                  </span>
                {{/if}}
              {{else}}
                <span class="text-muted">Role granted (training not required)</span>
              {{/if}}
            {{/each}}
          </td>
        </tr>
        </tbody>
      </table>
      <LinkTo @route="person.index" @model={{this.showPerson.id}}>
        Go to {{this.showPerson.callsign}}'s Person Manage page.
      </LinkTo>
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closePerson}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}
