<div class="form-group row">
  <legend>Options</legend>
  <div class="form-check form-check-inline d-inline-block">
    <label class="form-check-label">
      {{input type="checkbox" class="form-check-input" checked=onPlaya}}
      On playa only
    </label>
  </div>
  <div class="col-md d-inline-block">
    <a href {{action "expandAllPositions" true}}>Expand all</a>
    &ndash; <a href {{action "expandAllPositions" false}}>Collapse all</a>
  </div>
</div>

<div class="form-group row">
  <legend>Position types</legend>
  {{#each positionTypes as |type|}}
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        {{input type="checkbox" class="form-check-input" checked=type.selected}}
        {{type.name}}
      </label>
    </div>
  {{/each}}
</div>

<div class="form-group row">
  <legend>Person statuses</legend>
  {{#each statuses as |status|}}
    <div class="form-check form-check-inline">
      <label for="{{id}}" class="form-check-label">
        {{input type="checkbox" id=id class="form-check-input" checked=status.selected}}
        {{status.name}}
      </label>
    </div>
  {{/each}}
</div>

<h1>People by Position</h1>
{{#each visiblePositions as |position|}}
  <h2 class="d-inline-block">
    <a href {{action toggleExpanded position}}>
      {{fa-icon (if position.expanded "caret-down" "caret-right")}}
      {{position.title}}
    </a>
  </h2>
  {{#if position.allRangers}}
    &ndash; all rangers
  {{/if}}
  {{#if position.allPeople}}
    &ndash; all people
  {{/if}}
  &ndash; {{pluralize position.totalPeople "person"}}
  ({{position.onPlayaCount}} on playa)
  {{#if (not-eq position.visiblePeople.length position.people.length)}}
    {{pluralize position.visiblePeople.length "person"}} shown
  {{/if}}
  {{#if (or position.allRangers position.allPeople)}}
    &ndash; {{pluralize position.missingPeople.length "unassigned person"}}
    ({{position.missingOnPlayaCount}} on playa)
  {{/if}}
  &ndash; {{position.type}}
  {{#if position.expanded}}
    {{#if position.people}}
      {{#if (and position.allRangers position.visiblePeople.length)}}
        <br>Note: {{position.title}} is granted to all active and inactive rangers.
        The following list is just people who aren't active/inactive.
      {{/if}}
      <table class="table table-md table-hover table-width-auto">
        <thead>
          <tr>
            <th>Callsign</th>
            <th>Status</th>
            <th>On playa</th>
          </tr>
        </thead>
        <tbody>
          {{#each position.visiblePeople as |person|}}
            <tr>
              <td>{{person-link person=person}}</td>
              <td>{{person.status}}</td>
              <td>{{#if person.on_site}}{{fa-icon "check"}}{{/if}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
    {{#if (and position.missingPeople position.missingPeople.length)}}
      <table class="table table-md table-hover table-width-auto">
        <thead>
          <tr>
            <td><span class="text-danger">{{fa-icon "exclamation-triangle"}}</span></td>
            <th>Callsign</th>
            <th>Status</th>
            <th>On playa</th>
            <th>Missing position</th>
          </tr>
        </thead>
        <tbody>
          {{#each position.missingPeople as |person|}}
            <tr>
              <td><span class="text-danger">{{fa-icon "exclamation-triangle"}}</span></td>
              <td>{{person-link person=person}}</td>
              <td>{{person.status}}</td>
              <td>{{#if person.on_site}}{{fa-icon "check" title="On playa"}}{{/if}}</td>
              <td>{{position.title}} not assigned</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
    <a href {{action toggleExpanded position}}>
      {{fa-icon (if position.expanded "caret-up" "caret-right")}}
      {{position.title}}
      &ndash; {{pluralize position.totalPeople "person"}}
      ({{position.onPlayaCount}} on playa)
    </a>
  {{/if}}
  <hr>
{{/each}}
