<h1>People By Role Report</h1>
<p>
  An effective role is a union of explicit assignment, team membership w/associated roles, and position grants
  w/associated roles. If a person was only granted a position (and the role not explicitly assigned, or
  gained through team membership), and said position requires ART training, then the ART training must be passed
  for the year before the role takes effect.
</p>
<p>
  Legend:<br>
  Active = Indicates the role is active for the person<br>
  Manual Assignment? = Indicates the role has been manually assigned.<br>
  Thru Team Membership = Indicates the role is gained thru (Clubhouse) Team Membership<br>
  Thru Position Grant = Indicates the role is gained thru a position grant.<br>
  ART Trained? = Indicates if the person passed the appropriate ART training if the position requires such training.
</p>
<FormRow class="mb-2">
  <FormLabel @auto={{true}}>Filter by:</FormLabel>
  <div class="col-auto">
    <ChForm::Select @name="filter" @value={{this.filter}}
                    @options={{this.filterOptions}}
                    @onChange={{action (mut this.filter)}}
    />
  </div>
</FormRow>
{{#each this.viewRoles as |role|}}
  <UiAccordion as |accordion|>
    <accordion.title>{{role.title}} ({{pluralize role.people.length "person"}})</accordion.title>
    <accordion.body>
      {{#if accordion.isOpen}}
        {{#if role.people}}
          <UiButton @onClick={{fn this.exportToCSV role}} @size="sm">Export To CSV</UiButton>
          <table class="table table-sm table-width-auto table-striped table-hover mt-2">
            <thead>
            <tr>
              <th>Callsign</th>
              <th>Status</th>
              <th>Active</th>
              <th class="text-center">Manual<br>Assignment?</th>
              <th>Thru<br>Team Membership</th>
              <th>Thru<br>Positions Grants</th>
              <th>ART<br>Trained?</th>
            </tr>
            </thead>
            <tbody>
            {{#each role.people key="id" as |person|}}
              <tr>
                <td>
                  <PersonLink @person={{person}} />
                </td>
                <td>
                  {{person.status}}
                </td>
                <td class="text-center">
                  {{#if person.active}}
                    Yes
                  {{else}}
                    No
                  {{/if}}
                </td>
                <td class="text-center">
                  {{#if person.granted}}
                    <span class="text-danger">Yes</span>
                  {{else}}
                    <i class="text-muted">None</i>
                  {{/if}}
                </td>
                <td>
                  {{#each person.teams as |team|}}
                    {{team.title}}<br>
                  {{else}}
                    <i class="text-muted">None</i>
                  {{/each}}
                </td>
                <td>
                  {{#each person.positions as |position idx|}}
                    {{#if idx}}
                      <br>
                    {{/if}}
                    {{position.title}}
                  {{else}}
                    <i class="text-muted">None</i>
                  {{/each}}
                </td>
                <td>
                  {{#each person.positions as |position idx|}}
                    {{#if position.require_training_for_roles}}
                      {{#if idx}}
                        <br>
                      {{/if}}
                      {{#if position.is_trained}}
                        <span class="text-success">{{fa-icon "check"}} ART Trained</span>
                      {{else}}
                        <span class="text-danger">
                          {{fa-icon "ban"}} ART untrained
                        </span>
                      {{/if}}
                    {{else}}
                      <span class="text-muted">ART training not required</span>
                    {{/if}}
                  {{else}}
                    -
                  {{/each}}
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        {{else}}
          <b>No one found which matches the filter.</b>
        {{/if}}
      {{/if}}
    </accordion.body>
  </UiAccordion>
{{/each}}
