<h1>Position Sanity Checker</h1>

<p>
  This tool highlights potential inconsistencies in position, role, and status data.
</p>

{{#unless this.userCanRepair}}
  <p>
    <b class="text-danger">You don't have the "Grant/Revoke Position" or Admin role.</b> You can see issues but can't fix them. Sorry.
  </p>
{{/unless}}

<h2 class="mt-2">Shiny Pennies</h2>
<p>
  All first-year Rangers (minted in {{this.shiny_penny_year}}) should have the "Dirt - Shiny Penny" position and no one else should.
</p>

{{#if this.shiny_pennies}}
  <table id="shiny-penny-table" class="table table-striped table-hover table-sm table-width-auto">
    <caption>{{pluralize this.shiny_pennies.length "person"}} with Shiny Penny issues</caption>
    <thead>
      <tr>
        <th>Fix?</th>
        <th>Callsign</th>
        <th>Status</th>
        <th>Mentor Year</th>
        <th>Has Position?</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.shiny_pennies as |person|}}
        <tr>
          <td>
            {{#if person.errors}}
              {{fa-icon "exclamation-triangle"}}
            {{else if person.fixed}}
              {{fa-icon "check"}}
            {{else}}
              <Input @type="checkbox" @checked={{person.checked}} />
            {{/if}}
          </td>
          <td>
            <PersonLink @person={{person}} />
          </td>
          <td>{{person.status}}</td>
          <td>{{person.year}}</td>
          <td class="text-center">{{yesno person.has_shiny_penny}}</td>
        </tr>
        {{#if (or person.messages person.errors)}}
          <tr class="tr-no-border">
            <td colspan="5">
              {{#each person.errors as |error|}}
                <span class="text-danger">ERROR: {{error}}</span><br>
              {{/each}}
              {{#each person.messages as |message|}}
                <span class="text-success">{{message}}</span><br>
              {{/each}}
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
  {{#if this.userCanRepair}}
    <button class="btn btn-primary" {{action this.repairPeople "shiny-penny" this.shiny_pennies}} disabled={{this.isSubmitting}}>Fix Shiny Pennies</button>
    {{#if this.isSubmitting}}
      <LoadingIndicator />
    {{/if}}
  {{/if}}
{{else}}
  <p class="text-success"><b>Congratulations! All shiny pennies have the position and no crusty rangers have it.</b></p>
{{/if}}

<h2 class="mt-2">Green Dots</h2>
<p>
  All Green Dots should have the "Dirt - Green Dot", "Gerlach Patrol - Green Dot", and "Sanctuary" positions.
</p>

{{#if this.green_dot}}
  <table id="green-dot-table" class="table table-striped table-hover table-sm table-width-auto">
    <caption>{{pluralize this.green_dot.length "person"}} with Green Dot issues</caption>
    <thead>
      <tr>
        <th>Fix?</th>
        <th>Callsign</th>
        <th>Status</th>
        <th>Has Dirt - Green Dot?</th>
        <th>Has Sanctuary?</th>
        <th>Has Gerlach Patrol - Green Dot?</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.green_dot as |person|}}
        <tr>
          <td>
            {{#if person.errors}}
              {{fa-icon "exclamation-triangle"}}
            {{else if person.fixed}}
              {{fa-icon "check"}}
            {{else}}
              <Input @type="checkbox" @checked={{person.checked}} />
            {{/if}}
          </td>
          <td>
            <PersonLink @person={{person}} />
          </td>
          <td>{{person.status}}</td>
          <td class="text-center">{{yesno person.has_dirt_green_dot}}</td>
          <td class="text-center">{{yesno person.has_sanctuary}}</td>
          <td class="text-center">{{yesno person.has_gp_gd}}</td>
        </tr>
        {{#if (or person.messages person.errors)}}
          <tr class="tr-no-border">
            <td colspan="6">
              {{#each person.errors as |error|}}
                <span class="text-danger">ERROR: {{error}}</span><br>
              {{/each}}
              {{#each person.messages as |message|}}
                <span class="text-success">{{message}}</span><br>
              {{/each}}
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>

  {{#if this.userCanRepair}}
    <button class="btn btn-primary" {{action this.repairPeople "green-dot" this.green_dot}} disabled={{this.isSubmitting}}>Fix Green Dots</button>
    {{#if this.isSubmitting}}
      <LoadingIndicator />
    {{/if}}
  {{/if}}
{{else}}
  <p class="text-success">
    <b>Congratulations! All Green Dots have all three positions.</b>
  </p>
{{/if}}

<h2 class="mt-2">Management Role</h2>
<p>
  Rangers whose role requires significant Clubhouse access should have the "Login (Management Mode)" role.
</p>

{{#if this.management_role}}
  <p>
    Note: pay attention to any Shiny Penny who appears below. They may have been accidential granted a position that is not appropriate
    for a first year Ranger.
  </p>

  <table id="management-role-table" class="table table-striped table-hover table-sm table-width-auto">
    <caption>{{pluralize this.management_role.length "person"}} missing the Login Management role</caption>
    <thead>
      <tr>
        <th>Fix?</th>
        <th>Callsign</th>
        <th>Status</th>
        <th>Position(s)</th>
        <th>Is Shiny Penny?</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.management_role as |person|}}
        <tr>
          <td>
            {{#if person.errors}}
              {{fa-icon "exclamation-triangle"}}
            {{else if person.fixed}}
              {{fa-icon "check"}}
            {{else}}
              <Input @type="checkbox" @checked={{person.checked}} />
            {{/if}}
          </td>
          <td>
            <PersonLink @person={{person}} />
          </td>
          <td>{{person.status}}</td>
          <td>
            {{#each person.positions as |position|}}
              {{position.title}}<br>
            {{/each}}
          </td>
          <td class="text-center">{{yesno person.is_shiny_penny}}</td>
        </tr>
        {{#if (or person.messages person.errors)}}
          <tr class="tr-no-border">
            <td colspan="5">
              {{#each person.errors as |error|}}
                <span class="text-danger">ERROR: {{error}}</span><br>
              {{/each}}
              {{#each person.messages as |message|}}
                <span class="text-success">{{message}}</span><br>
              {{/each}}
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
  {{#if this.userCanRepair}}
    <button class="btn btn-primary" {{action this.repairPeople "management-role" this.management_role}} disabled={{this.isSubmitting}}>Fix Management Mode role</button>
    {{#if this.isSubmitting}}
      <LoadingIndicator />
    {{/if}}
  {{/if}}
{{else}}
  <p class="text-success">
    <b>Congratulations! Everyone with the those positions has the management role.</b>
  </p>
{{/if}}
