<h1>Position Sanity Checker</h1>

<p>
  This tool highlights potential inconsistencies in position, role, and status data.
</p>

{{#unless this.userCanRepair}}
  <p>
    <b class="text-danger">You don't have the "Grant/Revoke Position" or Admin role.</b>
    You can see issues but can't fix them. Sorry.
  </p>
{{/unless}}

<Admin::PositionSanityCheck
    @title="Shiny Pennies"
    @caption="{{pluralize this.shiny_pennies.length "person"}} with Shiny Penny issues"
    @sucessMessage="Congratulations! All shiny pennies have the position and no crusty rangers have it."
    @columns={{this.shiny_pennies.columns}}
    @people={{this.shiny_pennies}}
    @repairAction={{action this.repairPeople}}
    @repairType="shiny_pennies"
    @canRepair={{this.userCanRepair}}
>
  All first-year Rangers (minted in {{this.shiny_penny_year}}) should have the
  "Dirt - Shiny Penny" position and no one else should.
</Admin::PositionSanityCheck>

<Admin::PositionSanityCheck
    @title="Green Dots"
    @caption="{{pluralize this.green_dot.length "person"}} with Green Dot issues"
    @sucessMessage="Congratulations! All Green Dots have all three positions."
    @columns={{this.green_dot.columns}}
    @people={{this.green_dot}}
    @repairAction={{action this.repairPeople}}
    @repairType="green_dot"
    @canRepair={{this.userCanRepair}}
>
  All Green Dots should have the "Dirt - Green Dot", "Gerlach Patrol - Green Dot", and "Sanctuary" positions.
</Admin::PositionSanityCheck>

<Admin::PositionSanityCheck
    @title="Management Roles"
    @caption="{{pluralize this.management_role.length "person"}} missing the Login Management role."
    @sucessMessage="Congratulations! Everyone with the those positions has the management role."
    @columns={{this.management_role.columns}}
    @people={{this.management_role}}
    @repairAction={{action this.repairPeople}}
    @repairType="management_role"
    @canRepair={{this.userCanRepair}}
>
  Rangers whose role requires significant Clubhouse access should have the "Login (Management Mode)" role.
  <br>
  <strong>Note:</strong> pay attention to any Shiny Penny who appears below.
  They may have been accidential granted a position that is not appropriate for a first year Ranger.
</Admin::PositionSanityCheck>

<Admin::PositionSanityCheckHeader @title="Deactivated Position Assignments">
  All deactivated positions that have Rangers assigned to them.
</Admin::PositionSanityCheckHeader>

{{#each this.deactivated_positions as |position|}}
  {{#let (hash positionId=position.id) as |params| }}
    <Admin::PositionSanityCheckTable
        @title={{position.title}}
        @caption="{{position.title}} - {{pluralize position.people.length "person"}} assigned"
        @sucessMessage="Congratulations! No Rangers are assinged to this position."
        @columns=[]
        @people={{position.people}}
        @repairAction={{action this.repairPeople}}
        @repairParams={{params}}
        @repairType="deactivated_positions"
        @canRepair={{this.userCanRepair}}
    />
  {{/let}}

{{/each}}
