<div class="d-print-none">
  <YearSelect @title="Potential Shirt Report" @year={{this.year}} @onChange={{action (mut this.year)}}  />
  <p>
    The report shows people who may potentialy earn a short and long sleeve shirts for a given event year.
  </p>
  <p>
    <a href="#shirt-totals">Jump to shirt totals</a>
  </p>
  <p>
    <UiButton @onClick={{this.exportPeople}}>
      Export as CSV
    </UiButton>
  </p>
</div>

<div class="d-none d-print-block">
  <h1>Quartermaster Potential Earned Shirts Earned In {{this.year}}</h1>
</div>

Showing  {{pluralize this.people.length "person"}}
<table class="table table-width-auto table-hover table-striped table-sm">
  <thead>
  <tr>
    <th>Callsign</th>
    <th>Name</th>
    <th class="text-end">Estimated Hours</th>
    <th class="text-end">Actual Hours</th>
    <th>Tee Shirt ({{this.threshold_ss}} hrs)</th>
    <th>Long Sleeve ({{this.threshold_ls}} hrs)</th>
  </tr>
  </thead>

  <tbody>
  {{#each this.people key="id" as |person|}}
    <tr>
      <td>
        <PersonLink @person={{person}} />
      </td>
      <td>{{person.first_name}} {{person.middle_name}} {{person.last_name}}</td>
      <td class="text-end">{{person.estimated_hours}}</td>
      <td class="text-end">{{person.actual_hours}}</td>
      <td>
        {{#unless person.earned_ss}}
          not earned -
        {{/unless}}
        {{person.teeshirt_size_style}}
      </td>
      <td>
        {{#unless person.earned_ls}}
          not earned -
        {{/unless}}
        {{person.longsleeveshirt_size_style}}
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="6"><b class="text-danger">No one was found to have qualified for clothing in {{this.year}}</b></td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{#if this.people}}
  <h3 id="shirt-totals">Shirt Totals</h3>
  <div class="row">
    {{#each this.shirtGroups as |shirts|}}
      <div class="col-3">
        <table class="table table-sm table-box">
          <caption>
            {{shirts.name}} Totals
            <span class="d-inline-block float-end">
            <UiButton @type="secondary" @size="sm" @onClick={{fn this.exportCounts shirts}}>Export</UiButton>
          </span>
          </caption>
          <thead>
          <tr>
            <th>Shirt Type</th>
            <th class="text-end">Count</th>
          </tr>
          </thead>
          <tbody>
          {{#each shirts.types as |shirt|}}
            <tr>
              <td>{{shirt.type}}</td>
              <td class="text-end">{{shirt.count}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    {{/each}}
  </div>
{{/if}}
