{{year-select "Radio Assets Report" year=year onChange=(action (mut year))}}

<div class="form-row">
  <label>{{input type="checkbox" checked=summary}} Summarize report</label>
</div>
{{#if assets}}
  {{pluralize assets.length "radio"}},
  {{permCount}} event,
  {{tempCount}} shift
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Barcode</th>
        <th>Type</th>
        <th>Event/Shift</th>
      </tr>
    </thead>

    <tbody>
      {{#each (if summary radioSummaries assets) as |asset|}}
        <tr>
          <td>{{asset.barcode}}</td>
          <td>{{asset.temp_id}}</td>
          <td>{{if asset.perm_assign "event" "shift"}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

{{else}}
  <p class="font-weight-bold text-danger">
    No assets were found for {{year}}.
  </p>
{{/if}}
