<YearSelect @title="Radio Assets Report" @year={{this.year}} @onChange={{action (mut this.year)}} />

<FormRow><label><Input @type="checkbox" @checked={{this.summary}}/> Summarize report</label></FormRow>

{{pluralize this.assets.length "radio"}}, {{this.permCount}} event, {{this.tempCount}} shift
<table class="table table-striped table-sm table-width-auto">
  <thead>
  <tr>
    <th>Barcode {{if this.summary "Range"}}</th>
    {{#if this.summary}}
      <th>Count</th>
    {{/if}}
    <th>Type</th>
    <th>Assigned</th>
  </tr>
  </thead>
  <tbody>
  {{#each (if this.summary this.radioSummaries this.assets) key="id" as |asset|}}
    <tr>
      <td>{{asset.barcode}}</td>
      {{#if this.summary}}
        <td class="text-end">{{asset.count}}</td>
      {{/if}}
      <td>{{asset.temp_id}}</td>
      <td>{{if asset.perm_assign "Permanent" "Temporary"}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="3"><b class="text-danger">No {{this.year}} assets were found.</b></td>
    </tr>
  {{/each}}
  </tbody>
</table>
