<YearSelect @title="Radio Checkout Report"
            @year={{this.year}}
            @minYear={{2010}}
            @skipPandemic={{true}}
            @onChange={{action (mut this.year)}}
/>
<FormRow>
  <div class="col-auto">
    <label>
      <Input @type="checkbox" @checked={{this.include_qualified}}/>
      Include Event Radio Eligible
    </label>
  </div>
  <div class="col-auto">
    <label>
      <Input @type="checkbox" @checked={{this.event_summary}}/>
      Report as Event Summary
    </label>
  </div>
</FormRow>
<p>
  <UiButton @onClick={{this.exportToCSV}}>
    Export To CSV
  </UiButton>
</p>
Showing {{pluralize this.radios.length "entry"}}
<UiTable>
  <thead>
  <tr>
    <th>Callsign</th>
    <th>Barcode</th>
    <th class="text-end">Duration<br>(Hours)</th>
    <th>Checked Out Time /<br>By Person</th>
    {{#if (or this.event_summary this.include_eligible)}}
      <th>Checked In Time /<br>By Person</th>
      <th>Is Event Radio?</th>
      <th>Is Event Radio Eligible?</th>
    {{/if}}
  </tr>
  </thead>

  <tbody>
  {{#each this.radios as |radio|}}
    <tr>
      <td>
        <PersonLink @personId={{radio.person_id}} @callsign={{radio.callsign}} />
      </td>
      <td class="text-end">{{radio.barcode}}</td>
      <td class="text-end">{{hour-minute-format radio.duration}}</td>
      <td>
        {{shift-format radio.checked_out}}<br>
        {{#if radio.check_out_person}}
          <PersonLink @person={{radio.check_out_person}} />
        {{else}}
          -
        {{/if}}
      </td>
      {{#if (or this.event_summary this.include_eligible)}}
        <td>
          {{#if radio.checked_in}}
            {{shift-format radio.checked_in}}<br>
            {{#if radio.check_in_person}}
              <PersonLink @person={{radio.check_in_person}} />
            {{else}}
              -
            {{/if}}
          {{else}}
            <i>still out</i>
          {{/if}}
        </td>
        <td class="text-center">{{yesno radio.perm_assign}}</td>
        <td class="text-center">{{yesno radio.eligible}}</td>
      {{/if}}
    </tr>
  {{else}}
    <tr>
      <td colspan="7"><b class="text-danger">No entries were found for {{this.year}}.</b></td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>
