<h1>{{this.year}} Roll Call Interface</h1>
<p>
  Use this page to sign people into a shift they have signed up for OR sign out. The interface
  is intended for Burn Perimeter Rangers who do not require gear to be issued before or collected afterwards.
</p>

<UiButton @class="btn-responsive mb-4" @onClick={{this.chooseSignIn}}>
  Sign IN People {{fa-icon "walking"}}
</UiButton>
<UiButton @class="btn-responsive mb-4" @onClick={{this.chooseSignOut}}>
  Sign OUT People {{fa-icon "bed"}}
</UiButton>

{{#if this.isSignOut}}
  <RollcallSignOut/>
{{else if this.isSignIn}}
  <RollcallSignIn/>
{{/if}}
