<h1>Sandmen Qualification Report</h1>
<p>
  This report will show who holds the Sandman position, if they are trained for the current year, have signed the
  affidavit, have worked any Burn Perimeter-like shift in {{this.cutoff_year}} or later, and if they are signed up for
  a {{this.year}} Sandman shift.
</p>
<FormRow>
  <FormLabel @auto={{true}}>Filter:</FormLabel>
  <div class="col-auto mb-2">
    <ChForm::Select @name="filter"
                    @value={{this.filter}}
                    @options={{this.filterOptions}}
                    @onChange={{set-value this 'filter'}}/>
  </div>
  <div class="col-auto">
    <UiButton @onClick={{this.exportToCSV}}>Export all to CSV</UiButton>
  </div>
</FormRow>

Showing {{this.viewPeople.length}} of {{this.sandpeople.length}},
{{pluralize this.qualifiedSignedUpCount "qualified sign up"}},
{{pluralize this.unqualifiedSignedUpCount "unqualified sign up"}}

<UiTable>
  <thead>
  <tr>
    <th>Callsign</th>
    <th>{{this.year}} Trained</th>
    <th>Affidavit</th>
    <th>Experience (&gt;= {{this.cutoff_year}})</th>
    <th>{{this.year}} Signed Up</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.viewPeople key="id" as |person|}}
    <tr>
      <td>
        <PersonLink @person={{person}} />
      </td>
      <td class="text-center">{{yesno person.is_trained}}</td>
      <td class="text-center">{{yesno person.sandman_affidavit}}</td>
      <td class="text-center">{{yesno person.has_experience}}</td>
      <td class="text-center">{{yesno person.is_signed_up}}</td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>
