<YearSelect @title="Schedule By Position" @year={{this.year}} @onChange={{action (mut this.year)}}  />

<FormRow>
  <FormLabel @auto={{true}}>Active Filter:</FormLabel>
  <div class="col-auto mb-2">
    <ChForm::Select @name="activeFilter"
                    @value={{this.activeFilter}}
                    @options={{this.activeOptions}}
                    @onChange={{action (mut this.activeFilter)}} />
  </div>
  {{#if this.session.canViewEmail}}
    <div class="col-auto">
      <UiButton @onClick={{this.exportBulkPositions}} @disabled={{not this.positions.length}}>
        Export combined callsigns w/emails
      </UiButton>
    </div>
  {{/if}}
</FormRow>

<p>
  Jump to a position starting with the letter:<br>
  {{#each this.letterOptions as |letter|}}
    <a href {{on "click" (fn this.scrollToPosition letter.id)}} class="d-inline-block border p-2 mr-2 mb-2">
      {{letter.letter}}
    </a>
  {{/each}}
</p>
<p>
  Showing {{this.viewPositions.length}} of {{pluralize this.positions.length "position"}} for year {{this.year}}.
</p>

{{#each this.viewPositions as |position|}}
  <ChAccordion id="position-{{position.id}}" @isOpen={{mut (get this.showingPositions position.id)}} as |accordion|>
    <accordion.title>
      {{position-label position}} ({{pluralize position.activeCount "shift"~}}
      {{~#if position.inactiveCount~}}
        , <span class="text-danger">{{position.inactiveCount}} inactive</span>
      {{~/if~}}
      )
    </accordion.title>
    <accordion.body>
      {{#if accordion.isOpen}}
        {{#if (and (eq this.activeFilter "active") position.inactiveCount)}}
          <p class="text-danger">{{pluralize position.inactiveCount "inactive shift"}} are not shown.</p>
        {{else if (eq this.activeFtiler "inactive")}}
          <p class="text-danger">{{pluralize position.activeCount "active shift"}} are not shown.</p>
        {{/if}}
        <p>
          <UiButton @onClick={{fn this.exportByShift position}}>
            Export by Shift
          </UiButton>
          {{#if this.session.canViewEmail}}
            <UiButton @onClick={{fn this.exportByCallsign position}}>
              Export Callsigns w/Emails
            </UiButton>
          {{/if}}
        </p>
        <table class="table table-sm table-hover table-striped">
          <thead>
          <tr>
            <th class="w-10">From</th>
            <th class="w-10">To</th>
            <th class="w-15">Description</th>
            <th class="w-5">Active</th>
            <th class="w-10 text-center">Sign-Ups / Max</th>
            <th class="w-50">Callsigns</th>
          </tr>
          </thead>
          <tbody>
          {{#each position.slots key="id" as |slot|}}
            <tr>
              <td class="w-10">{{shift-format slot.begins}}</td>
              <td class="w-10">{{shift-format slot.ends}}</td>
              <td class="w-15">
                <PresentOrNot @value={{slot.description}} @empty="-"/>
              </td>
              <td class="w-5 text-center">
                {{#if slot.active}}
                  {{fa-icon "check" color="success"}}
                {{else}}
                  {{fa-icon "times" color="danger"}}
                {{/if}}
              </td>
              <td class="w-10 text-center">{{slot.sign_ups.length}} / {{slot.max}}</td>
              <td class="w-50">
                {{#each slot.sign_ups as |person idx|}}
                  {{~if idx ", "~}}
                  <PersonLink @person={{person}} />
                {{~else}}
                  <b class="text-danger">No sign ups</b>
                {{/each}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{/if}}
    </accordion.body>
  </ChAccordion>
{{else}}
  <b class="text-danger">No {{this.year}} shifts were found.</b>
{{/each}}

{{#if this.showBulkPositionDialog}}
  <ModalDialog @title="Select the positions to export the signed up callsigns w/emails:"
               @size="xl"
               @onEscape={{this.cancelExport}} as |Modal|>
    <ChForm @formId="positionIds"
            @formFor={{this.positionIdsForm}}
            @changeSet={{false}}
            @onSubmit={{this.exportSelectedPositions}} as |f|>
      <Modal.body>
        <FormRow>
          <f.checkboxGroup @name="positionIds"
                   @cols={{4}}
                   @options={{this.positionOptions}}/>
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="Export {{pluralize f.model.positionIds.length "position"}}"
                  @disabled={{not f.model.positionIds.length}} />
        <UiCancelButton @onClick={{this.cancelExport}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}