<YearSelect @title="Schedule By Callsign"
            @year={{this.year}}
            @minYear={{2008}}
            @skipPandemic={{true}}
            @onChange={{action (mut this.year)}}  />
<p>
  Jump to the callsigns starting with the letter:
</p>
<p>
  {{#each this.letterOptions as |letter|}}
    <a href {{on "click" (fn this.scrollToCallsign letter.id)}}class="d-inline-block border p-2 me-2 mb-2">
      {{letter.letter}}
    </a>
  {{/each}}
</p>
<p>
  Showing {{pluralize this.people.length "person"}}
</p>
<div class="max-width-900">
  {{#each this.people key="id" as |person|}}
    <UiAccordion id="person-{{person.id}}" as |accordion|>
      <accordion.title>{{person.callsign}} &lt;{{person.status}}&gt;</accordion.title>
      <accordion.body>
        {{#if accordion.isOpen}}
          <p>
            <LinkTo @route="person.index" @model={{person.id}}>
              View {{person.callsign}}
            </LinkTo>
            |
            <LinkTo @route="person.timesheet" @model={{person.id}} @query={{hash year=this.year}}>
              View {{this.year}} Timesheet
            </LinkTo>
          </p>
          <table class="table table-striped table-hover table-width-auto">
            <thead>
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Description</th>
              <th>Position</th>
            </tr>
            </thead>
            <tbody>
            {{#each person.slots key="id" as |slot|}}
              <tr>
                <td>{{shift-format slot.begins}}</td>
                <td>{{shift-format slot.ends}}</td>
                <td>
                  <PresentOrNot @value={{slot.description}} @empty="-"/>
                </td>
                <td>{{position-label slot.position}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        {{/if}}
      </accordion.body>
    </UiAccordion>
  {{else}}
    <p>
      <b class="text-danger">No {{this.year}} schedules were found.</b>
    </p>
  {{/each}}
</div>

