{{year-select "Schedule By Position" year=year onChange=(action (mut year))}}

<p>
  Jump to a position:
</p>
<p>
  {{#each positions as |position|}}
    <a href {{action this.scrollToPosition position}} class="d-inline-block border p-2 mr-2 mb-2">{{position.title}}</a>
  {{/each}}
</p>
<p>
  <button class="btn btn-primary " {{action this.toggleExpandAll}} disabled={{this.isExpanding}}>{{#if this.expandAll}}Hide All{{else}}Expand All{{/if}}</button>
  {{#if this.isExpanding}}
    <LoadingIndicator @text="Working" />
  {{/if}}
</p>
{{#each positions as |position|}}
  <div class="border mb-2" id="position-{{position.id}}">
    <div class="p-2 bg-light-gray">
      <h4><a href {{action this.togglePosition position}}>{{fa-icon (if position.showing "caret-down" "caret-right")}} {{position.title}} </a> ({{pluralize position.slots.length "shift"}})</h4>
    </div>
    {{#if position.showing}}
      <table class="table table-sm table-hover table-striped">
        <thead>
          <tr class="d-flex">
            <th class="col-lg-2 col-xl-2">From</th>
            <th class="col-lg-2 col-xl-2">To</th>
            <th class="col-lg-2 col-xl-2">Description</th>
            <th class="col-lg-1 col-xl-1 text-right">Sign Ups / Max</th>
            <th class="col-lg-5 col-xl-5">Callsign</th>
          </tr>
        </thead>

        <tbody>
          {{#each position.slots as |slot|}}
            <tr class="d-flex">
              <td class="col-lg-2 col-xl-2">{{shift-format slot.begins}}</td>
              <td class="col-lg-2 col-xl-2">{{shift-format slot.ends}}</td>
              <td class="col-lg-2 col-xl-2"><PresentOrNot @value={{slot.description}} @empty="-" /></td>
              <td class="col-lg-1 col-xl-1 text-right">{{slot.sign_ups.length}} / {{slot.max}}</td>
              <td class="col-lg-5 col-xl-5">
                {{#each slot.sign_ups as |person idx|}}
                  {{~if idx ", "~}}<PersonLink @person={{person}} />
                {{else}}
                  <b class="text-danger">No sign ups</b>
                {{/each}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
{{/each}}
