<YearSelect @title="Schedule By Position" @year={{this.year}} @onChange={{action (mut this.year)}}  />

<p>
  Jump to a position starting with the letter:<br>
  {{#each this.letterOptions as |letter|}}
    <a href {{on "click" (fn this.scrollToPosition letter.id)}} class="d-inline-block border p-2 mr-2 mb-2">
      {{letter.letter}}
    </a>
  {{/each}}
</p>
<p>
  Showing {{pluralize this.positions.length "position"}} for the year {{this.year}}.
  <button type="button" class="btn btn-primary ml-4" {{action this.toggleExpandAll}} disabled={{this.isExpanding}}>
    {{if this.expandAll "Hide" "Expand"}} All
  </button>

</p>

{{#each this.positions as |position|}}
  <ChAccordion id="position-{{position.id}}" @isOpen={{mut (get this.showingPositions position.id)}} as |accordion|>
    <accordion.title>
      {{position-label position}} ({{pluralize position.slots.length "shift"}})
    </accordion.title>
    <accordion.body>
      <table class="table table-sm table-hover table-striped">
        <thead>
        <tr>
          <th class="w-15">From</th>
          <th class="w-15">To</th>
          <th class="w-15">Description</th>
          <th class="w-5 text-right">Sign Ups</th>
          <th class="w-5 text-right">Max</th>
          <th class="w-45">Callsigns</th>
        </tr>
        </thead>
        <tbody>
        {{#each position.slots as |slot|}}
          <tr>
            <td class="w-15">{{shift-format slot.begins}}</td>
            <td class="w-15">{{shift-format slot.ends}}</td>
            <td class="w-15">
              <PresentOrNot @value={{slot.description}} @empty="-"/>
            </td>
            <td class="w-5 text-right">{{slot.sign_ups.length}}</td>
            <td class="w-5 text-right">{{slot.max}}</td>
            <td class="w-45">
              {{#each slot.sign_ups as |person idx|}}
                {{~if idx ", "~}}
                <PersonLink @person={{person}} />
              {{~else}}
                <b class="text-danger">No sign ups</b>
              {{/each}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </accordion.body>
  </ChAccordion>
{{else}}
  <b class="text-danger">No {{this.year}} shifts were found.</b>
{{/each}}
