<YearSelect @title="Schedule By Callsign" @year={{this.year}} @onChange={{action (mut this.year)}}  />

{{#if this.letterOptions}}
  <p>
    Jump to the callsigns starting with the letter:
  </p>
  <p>
    {{#each this.letterOptions as |letter|}}
      <a href {{on "click" (fn this.scrollToCallsign letter.id)}}
         class="d-inline-block border p-2 mr-2 mb-2">{{letter.letter}}</a>
    {{/each}}
  </p>
{{/if}}
<p>
  Showing {{pluralize this.people.length "person"}}
</p>
<div class="max-width-700">
  {{#each this.people as |person|}}
    <ChAccordion id="person-{{person.id}}" as |accordion|>
      <accordion.title>{{person.callsign}} </accordion.title>
      <accordion.body>
        <p>
          <LinkTo @route="person.index" @model={{person.id}}>
            View {{person.callsign}}
          </LinkTo>
          |
          <LinkTo @route="person.timesheet" @model={{person.id}} @year={{this.year}}>
            View {{this.year}} Timesheet
          </LinkTo>
        </p>
        <table class="table table-striped table-hover table-width-auto">
          <thead>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Description</th>
            <th>Position</th>
          </tr>
          </thead>
          <tbody>
          {{#each person.slots as |slot|}}
            <tr>
              <td>{{shift-format slot.begins}}</td>
              <td>{{shift-format slot.ends}}</td>
              <td>
                <PresentOrNot @value={{slot.description}} @empty="-"/>
              </td>
              <td>{{slot.position.title}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </accordion.body>
    </ChAccordion>
  {{else}}
    <p>
      <b class="text-danger">No {{this.year}} schedules were found.</b>
    </p>
  {{/each}}
</div>
