<YearSelect @title="Schedule By Position"
            @year={{this.year}}
            @minYear={{2008}}
            @skipPandemic={{true}}
            @onChange={{set-value this 'year'}}  />

<FormRow>
  <FormLabel @auto={{true}}>Active Filter:</FormLabel>
  <div class="col-auto mb-2">
    <ChForm::Select @name="activeFilter"
                    @value={{this.activeFilter}}
                    @options={{this.activeOptions}}
                    @onChange={{set-value this 'activeFilter'}} />
  </div>
</FormRow>
<p>
  All shift times are in the Pacific Timezone unless otherwise noted.<br>
  {{fa-icon "check" color="success"}} = The shift is activated, and available for sign ups.<br>
  {{fa-icon "times" color="danger"}} = The shift has not been activated yet, is not visible to users, and cannot be
  signed up for.
</p>
<DropdownScrollList @items={{this.positionScrollItems}} @openAccordion={{true}} @thing="position"/>
<p>
  Showing {{this.viewPositions.length}} of {{pluralize this.positions.length "position"}} for year {{this.year}}.
</p>

{{#each this.viewPositions key="id" as |position|}}
  <UiAccordion id="position-{{position.id}}" @isOpen={{mut (get this.showingPositions position.id)}} as |accordion|>
    <accordion.title>
      {{position-label position}} ({{pluralize position.activeCount "shift"~}}
      {{~#if position.inactiveCount~}}, <span class="text-danger">{{position.inactiveCount}} inactive</span>{{~/if~}}
      )
    </accordion.title>
    <accordion.body>
      {{#if accordion.isOpen}}
        {{#if (and (eq this.activeFilter "active") position.inactiveCount)}}
          <p class="text-danger">{{pluralize position.inactiveCount "inactive shift"}} {{is-are position.inactiveCount}}
            not shown.</p>
        {{else if (eq this.activeFtiler "inactive")}}
          <p class="text-danger">{{pluralize position.activeCount "active shift"}} {{is-are position.activeCount}} not
            shown.</p>
        {{/if}}
        <p>
          <UiExportToCSVButton @onClick={{fn this.exportByShift position}} />
        </p>
        <UiTable>
          <thead>
          <tr>
            <th class="no-wrap">Time / Description</th>
            <th class="no-wrap">Status</th>
            <th class="no-wrap text-end">Duration</th>
            <th class="no-wrap text-center">Sign-Ups</th>
            <th>Callsigns</th>
          </tr>
          </thead>
          <tbody>
          {{#each position.slots key="id" as |slot|}}
            <ScheduleByPositionRow @slot={{slot}} />
          {{/each}}
          </tbody>
        </UiTable>
      {{/if}}
    </accordion.body>
  </UiAccordion>
{{else}}
  <b class="text-danger">No {{this.year}} shifts were found.</b>
{{/each}}

{{#if this.showBulkPositionDialog}}
  <ModalDialog @title="Select the positions to export the signed up callsigns:"
               @size="xl"
               @onEscape={{this.cancelExport}} as |Modal|>
    <ChForm @formId="positionIds"
            @formFor={{this.positionIdsForm}}
            @changeSet={{false}}
            @onSubmit={{this.exportSelectedPositions}} as |f|>
      <Modal.body>
        <FormRow>
          <f.checkboxGroup @name="positionIds"
                           @cols={{4}}
                           @options={{this.positionOptions}}/>
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label="Export {{pluralize f.model.positionIds.length "position"}}"
                  @disabled={{not f.model.positionIds.length}} />
        <UiCancelButton @onClick={{this.cancelExport}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}