<YearSelect @title="Schedule By Callsign"
            @year={{this.year}}
            @minYear={{2008}}
            @skipPandemic={{true}}
            @onChange={{set-value this 'year'}}  />
<p>
  All shift times are in the Pacific Timezone unless otherwise noted.
</p>
<DropdownScrollList @items={{this.callsignScrollItems}} @openAccordion={{true}} @thing="callsign"/>
<p>
  Showing {{pluralize this.people.length "person"}}
</p>
<div class="max-width-900">
  {{#each this.people key="id" as |person|}}
    <UiAccordion id="person-{{person.id}}" as |accordion|>
      <accordion.title>{{person.callsign}} &lt;{{person.status}}&gt;</accordion.title>
      <accordion.body>
        {{#if accordion.isOpen}}
          <p>
            <LinkTo @route="person.index" @model={{person.id}}>
              View {{person.callsign}}
            </LinkTo>
            |
            <LinkTo @route="person.timesheet" @model={{person.id}} @query={{hash year=this.year}}>
              View {{this.year}} Timesheet
            </LinkTo>
          </p>
          <UiTable>
            <thead>
            <tr>
              <th>Time</th>
              <th class="text-end">Duration</th>
              <th>Description</th>
              <th>Position</th>
            </tr>
            </thead>
            <tbody>
            {{#each person.slots key="id" as |slot|}}
              <tr>
                <td>{{shift-format slot.begins slot.ends tz=slot.timezone tzabbr=slot.timezone_abbr}}</td>
                <td class="text-end">
                  {{hour-minute-format slot.duration}}
                </td>
                <td>
                  <PresentOrNot @value={{slot.description}} @empty="-"/>
                </td>
                <td>{{position-label slot.position}}</td>
              </tr>
            {{/each}}
            </tbody>
          </UiTable>
        {{/if}}
      </accordion.body>
    </UiAccordion>
  {{else}}
    <p>
      <b class="text-danger">No {{this.year}} schedules were found.</b>
    </p>
  {{/each}}
</div>

