{{year-select "Shift Lead Report" year=year gridClass="d-print-none" onChange=(action (mut year))}}
{{#if dirtShiftTimes}}
  <div class="form-row d-print-none mb-3">
    <div class="col-auto">
      <label class="col-form-label">Select Shift</label>
    </div>
    <div class="col-auto">
      {{ch-form/select name="shiftSelect" value=shiftSelect options=shiftOptions onChange=(action changeShift) disabled=isLoading controlClass="form-control"}}
    </div>
    <div class="col-12 text-muted">
      Use the browser's print command to send this page to the printer. The navigation header, footer, and this message will not appear on the page.
    </div>
  </div>
{{else}}
  <strong class="text-danger">No shifts could be located for {{year}}.</strong>
{{/if}}

{{#if isLoading}}
  {{loading-message "Shift Lead Report"}}
{{else if shiftSelect}}
  <h1>Shift Lead Report for {{moment-format shiftStart "dddd, MMMM Do YYYY @ HH:mm"}}</h1>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="border rounded p-2 mb-2">
        <h3>{{pluralize dirt_signups.length "Dirt Ranger"}},
          {{#if green_dot_total}}
            including {{pluralize green_dot_total "Green Dot"}}
          {{else}}
            and no Green Dots
          {{/if}}
        </h3>
        {{#if green_dot_total}}
        <p>
          {{#if green_dot_females}}
            {{pluralize green_dot_females "female Green Dot"}}
          {{else}}
            No female green dots are signed up.
          {{/if}}
        </p>
        {{/if}}
        <h3>{{pluralize command_staff_signups.length "Command Staff Ranger"}}</h3>
        <h3>{{pluralize non_dirt_signups.length "Special Team Ranger"}}</h3>

      </div>
    </div>

    <div class="col-sm-12 col-md-6">

      <table class="table table-sm table-box table-striped">
        <caption>{{below_min_positions.length}} POSITION{{if (not-eq below_min_positions.length 1) "S"}} BELOW MIN. STAFFING</caption>
        <thead>
          <tr>
            <th>Position</th>
            <th>Shift</th>
            <th class="text-center">Need</th>
            <th class="text-right">Signed Up</th>
          </tr>
        </thead>
        <tbody>
          {{#each below_min_positions as |position|}}
            <tr>
              <td>{{position.title}}</td>
              <td>{{time-format position.slot_begins}} - {{time-format position.slot_ends }}</td>
              <td class="text-center">{{#if (eq position.min position.max)}}
                  {{position.min}}
                {{else}}
                  {{position.min}} - {{position.max}}
                {{/if}}
              </td>
              <td class="text-right">{{if position.signed_up position.signed_up "NONE"}}</td>
            </tr>
          {{else}}
            <tr>
              <td colspan="4">
                <strong class="text-success text-center">Well done! All positions are fully staffed for this shift period.</strong></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <p>
    Gender = F: Female, M: Male, NB: Non-binary, Q: Queer (unspecified), GF: Gender Fluid, - (dash): not stated<br>
    GTR? = Indicates person signed the Motorpool Vehicle Agreement<br>
    Veh? = Indicates person has BM Org insurance<br>
  </p>
  {{shift-lead-table title="DIRT/GREEN DOTS Scheduled" people=dirt_signups}}
  {{shift-lead-table title="COMMAND STAFF Scheduled" people=command_staff_signups}}
  {{shift-lead-table title="SPECIAL TEAMS Scheduled" people=non_dirt_signups}}
  <p>
    <b>Secret decoder ring:</b>
    Dspch = Dispatcher,
    GD = Green Dot,
    GDLead = Green Dot Lead,
    GerPat = Gerlach Patrol,
    GerLd = Gerlach Patrol Lead,
    GTR = Gator/Golf Cart,
    HSP = Hot Springs Patrol,
    IntDsp = Intercept Dispatch,
    IntOpr = Intercept Operator,
    LNT = Leave No Trace,
    PM = Personnel Manager,
    Opr = Operator,
    RSL = Ranger Shift Lead,
    RSLPre = Ranger Shift Lead (pre-event),
    SC = Shift Coordinator,
    Tow = Tow Truck,
    TowMnt = Tow Truck Mentee,
    VEH = Vehicle (SUV, pick-up)
  </p>
{{else}}
{{/if}}
