<YearSelect @title="Shift Coverage Report"
            @year={{this.year}}
            @minYear={{2008}}
            @skipPandemic={{true}}
            @onChange={{action (mut this.year)}}  />

<FormRow>
  <FormLabel @auto={{true}}>Shift Type</FormLabel>
  <div class="col-auto">
    <ChForm::Select @name="type"
                    @value={{this.type}}
                    @options={{this.typeOptions}}
                    @onChange={{action (mut this.type)}} />
  </div>
  <FormLabel @auto={{true}}>Day Filter</FormLabel>
  <div class="col-auto">
    <ChForm::Select @name="type"
                    @value={{this.dayFilter}}
                    @options={{this.dayOptions}}
                    @onChange={{action (mut this.dayFilter)}} />
  </div>
</FormRow>

{{#if this.periods}}
  <p>
    <UiExportToCSVButton @onClick={{this.exportToCSV}} />
  </p>
{{else}}
  <b class="text-danger">No {{this.year}} shifts were found</b>
{{/if}}

{{! template-lint-disable table-groups}}
<UiTable>
  {{#each this.dayGroups as |day|}}
    <thead>
    <tr>
      <th>Period</th>
      {{#each this.columns as |col|}}
        <th>{{col.short_title}}</th>
      {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each day.periods key="begins" as |period|}}
      <tr>
        <td>
          <span class="d-inline-block">{{dayjs-format period.begins "ddd M/DD HH:mm"}}</span>
          <span class="d-inline-block">- {{dayjs-format period.ends "HH:mm"}}</span>
        </td>
        {{#each period.positions as |position|}}
          <td>
            {{#if (eq position.type "count")}}
              {{position.shifts}}
            {{else}}
              {{#each position.shifts as |shift shiftidx|}}
                <div class="{{if shiftidx "mt-1"}}">
                  {{#if position.shifts.length}}
                    <small class="d-inline-block">
                      {{dayjs-format shift.begins "HH:mm"}} - {{dayjs-format shift.ends "HH:mm"}}
                    </small><br>
                  {{/if}}
                  {{#each shift.people key="id" as |person|~}}
                    <PersonLink @person={{person}} />
                    <br>
                    {{~#if person.parenthetical}}
                      <div class="text-muted small">({{person.parenthetical}})</div>{{/if~}}
                  {{/each}}
                </div>
              {{else}}
                <div class="text-center">-</div>
              {{/each}}
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
    </tbody>
  {{/each}}
</UiTable>
