<div class="d-print-none">
  <YearSelect @title="Shift Lead Report" @year={{this.year}} @onChange={{action (mut this.year)}}  />
</div>
{{#if this.dirtShiftTimes}}
  <PrintInstruction/>
  <FormRow @class="d-print-none">
    <div class="col-auto">
      <PeriodSelect
        @label="Select a {{this.year}} shift period"
        @title="Select a shift period to report on"
        @periods={{this.shiftOptions}}
        @onSelect={{this.changeShift}}
        @selected={{this.shiftSelect}} />
    </div>
    <div class="col-auto">
      <UiButton @onClick={{this.onDutyAction}}>Currently On Duty</UiButton>
    </div>
  </FormRow>
{{else}}
  <b class="text-danger">No {{this.year}} shifts could be located.</b>
{{/if}}

{{#if this.isLoading}}
  <LoadingPane @item="Shift Lead Report"/>
{{else if this.shiftSelect}}
  <h1 class="mt-2">
    {{#if this.isOnDuty}}
      <span class="text-danger">ON DUTY</span> at
    {{else}}
      <span class="text-success">SCHEDULED</span> for
    {{/if}}
    {{dayjs-format this.shiftStart "dddd, MMMM Do YYYY @ HH:mm"}}
  </h1>


  <div class="d-flex">
    <section class="flex-fill ui-section">
      <h3>{{pluralize this.dirt_signups.length "Dirt Ranger"}},
        {{#if this.green_dot_total}}
          including {{pluralize this.green_dot_total "Green Dot"}}
        {{else}}
          and no Green Dots
        {{/if}}
      </h3>
      {{#if this.green_dot_total}}
        <p>
          {{#if this.green_dot_females}}
            {{pluralize this.green_dot_females "female Green Dot"}}
          {{else}}
            No female green dots are signed up.
          {{/if}}
        </p>
      {{/if}}
      <h3>{{pluralize this.command_staff_signups.length "Command Staff Ranger"}}</h3>
      <h3>{{pluralize this.non_dirt_signups.length "Special Team Ranger"}}</h3>
    </section>

    <section class="flex-fill ui-section">
      <h3>{{pluralize this.below_min_positions.length "position"}} BELOW MIN. STAFFING</h3>
      <table class="table table-sm table-striped">
        <thead>
        <tr>
          <th>Position</th>
          <th>Shift</th>
          <th class="text-center">Need</th>
          <th class="text-end">{{if this.isOnDuty "On Duty" "Signed Up"}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.belowMinPositions as |position|}}
          <tr>
            <td>{{position.title}}</td>
            <td>{{time-format position.slot_begins}} - {{time-format position.slot_ends }}</td>
            <td class="text-center">
              {{#if (eq position.min position.max)}}
                {{position.min}}
              {{else}}
                {{position.min}} - {{position.max}}
              {{/if}}
            </td>
            <td class="text-end">
              {{#if @isOnDuty}}
                {{if position.on_duty position.on_duty "NONE"}}
              {{else}}
                {{if position.signed_up position.signed_up "NONE"}}
              {{/if}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="4">
              <b class="text-success text-center">Well done! All positions are fully staffed for this shift
                period.</b>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </section>
  </div>
  <p>
    Gender = F: Female, M: Male, NB: Non-binary, Q: Queer (unspecified), GF: Gender Fluid, - (dash): not stated<br>
    GTR? = Indicates person signed the Motorpool Vehicle Agreement<br>
    Veh? = Indicates person has BM Org insurance<br>
  </p>
  <ShiftLeadTable @title="DIRT/GREEN DOTS" @people={{this.dirt_signups}} @isOnDuty={{this.isOnDuty}}/>
  <ShiftLeadTable @title="COMMAND STAFF" @people={{this.command_staff_signups}} @isOnDuty={{this.isOnDuty}}/>
  <ShiftLeadTable @title="SPECIAL TEAMS" @people={{this.non_dirt_signups}} @isOnDuty={{this.isOnDuty}}/>
  <p>
    <b>Secret decoder ring:</b>
    Dspch = Dispatcher,
    GD = Green Dot,
    GDLead = Green Dot Lead,
    GerPat = Gerlach Patrol,
    GerLd = Gerlach Patrol Lead,
    GTR = Gator/Golf Cart,
    HSP = Hot Springs Patrol,
    IntDsp = Intercept Dispatch,
    IntOpr = Intercept Operator,
    LNT = Leave No Trace,
    PM = Personnel Manager,
    Opr = Operator,
    RSL = Ranger Shift Lead,
    RSLPre = Ranger Shift Lead (pre-event),
    SC = Shift Coordinator,
    Tow = Tow Truck,
    TowMnt = Tow Truck Mentee,
    VEH = Vehicle (SUV, pick-up)
  </p>
{{/if}}
