<h1>People By Special Teams</h1>
<p>
  This report shows the hours worked by Rangers in chosen positions (special
  teams) for the years chosen. If you check the "Show Inactives" box, the report
  will also include people who are qualified to work that team but who didn't
  work any hours.
</p>

<div class="border border-dark p-2 mb-2">
  {{#ch-form "teamsForm" teamsForm changeSet=false onSubmit=(action searchTeamsAction) as |f|}}
    <div class="form-row">
      <label class="col-form">Teams:</label>
      {{f.input "positionIds" type="checkboxGroup" wrapClass="form-row" options=positionOptions cols=4}}
    </div>
    <div class="form-row">
      {{f.input "startYear" label="Start Year" type="select" options=yearOptions}}
      {{f.input "endYear" label="End Year" type="select" options=yearOptions}}
    </div>
    <div class="form-row">
      <label class="col-form">Show Inactives</label>
      {{f.input "showInactives" type="checkbox" }}
    </div>
    <div class="form-row text-muted">
      Note: The Clubhouse has timesheets dating back only to 2010.
    </div>
    <div class="form-group mt-4">
      {{f.submit label="Submit"}}
      {{#if (and haveResults (not people))}}
        <b class="text-danger">No people were found who matched the criteria.</b>
      {{/if}}
    </div>
  {{/ch-form}}
</div>

{{#if isSubmitting}}
  {{loading-dialog "the Special Team report"}}
{{else if (and haveResults people)}}
  <p>
    <button class="btn btn-secondary" {{action exportToCSV}}>Export to CSV</button>
  </p>
  <table class="table table-sm table-striped table-width-auto">
    <caption>Found {{pluralize people.length "person"}} for
      {{#each positionsUsed as |position idx|~}}
        {{if idx ", "~}}{{position.title~}}
      {{/each}}
    </caption>
    <thead>
      <tr>
        <th>Callsign</th>
        <th>Name</th>
        <th>Status</th>
        {{#if session.user.canViewEmail}}
          <th>Email</th>
        {{/if}}
        {{#each yearList as |year|}}
          <th class="text-right">{{year}} Hours</th>
        {{/each}}
        <th class="text-right">Total</th>
      </tr>
    </thead>

    <tbody>
      {{#each people as |person|}}
        <tr>
          <td>{{person-link person=person}}</td>
          <td>{{person.first_name}} {{person.last_name}}</td>
          <td>{{person.status}}</td>
          {{#if session.user.canViewEmail}}
            <td>
              {{#if person.email}}
                {{mail-to person.email}}
              {{else}}
                -
              {{/if}}
            </td>
          {{/if}}
          {{#each person.years as |duration|}}
            <td class="text-right">{{hour-format duration}}</td>
          {{/each}}
          <td class="text-right">{{hour-format person.total_duration}}</td>
        </tr>
      {{/each}}
      <tr>
        <td colspan="4" class="text-right">Totals</td>
        {{#each totalsList as |total|}}
          <td class="text-right">{{hour-format total}}</td>
        {{/each}}
        <td class="text-right">{{hour-format grandTotal}}</td>
      </tr>
    </tbody>
  </table>
{{/if}}
