<h1>People By Special Teams</h1>
<p>
  This report shows the hours worked by Rangers in chosen positions (special
  teams) for the years chosen.
</p>

<UiSection>
  <:body>
    <ChForm @formId="teamsForm"
            @formFor={{this.teamsForm}}
            @changeSet={{false}}
            @onSubmit={{this.searchTeamsAction}} as |f|>
      <FormRow>
        <f.checkboxGroup @name="positionIds"
                         @label="Teams:"
                         @options={{this.positionOptions}}
                         @cols={{4}} />
      </FormRow>
      <FormRow>
        <f.select @name="startYear"
                  @label="Start Year:"
                  @options={{this.yearOptions}}
                  @inline={{true}}
        />
        <f.select @name="endYear"
                  @label="Ending Year:"
                  @options={{this.yearOptions}}
                  @inline={{true}}
        />
        <div class="col-auto mt-2">
          <f.checkbox @name="showInactives"
                      @label="Include people who hold the position(s) but may not have worked in the year range"
                      @inline={{true}} />
        </div>
      </FormRow>
      <f.submit @label="Submit" @disabled={{this.isSubmitting}}/>
      {{#if this.isSubmitting}}
        <LoadingIndicator/>
      {{/if}}
      {{#if (and this.haveResults (not this.people))}}
        <p class="text-danger">No people were found who matched the criteria.</p>
      {{/if}}
    </ChForm>
  </:body>
</UiSection>

{{#if (and this.haveResults this.people)}}
  <UiSection>
    <:title>
      Found {{pluralize this.people.length "person"}} for
      {{#each this.positionsUsed as |position idx|~}}
        {{if idx ", "~}}{{position.title~}}
      {{/each}}
    </:title>
    <:body>
      <p>
        <UiButton @onClick={{this.exportToCSV}}>Export to CSV</UiButton>
      </p>
      <table class="table table-sm table-striped table-width-auto">
        <thead>
        <tr>
          <th>Callsign</th>
          <th>Name</th>
          <th>Status</th>
          {{#if this.session.canViewEmail}}
            <th>Email</th>
          {{/if}}
          {{#each this.yearList as |year|}}
            <th class="text-end">{{year}} Hours</th>
          {{/each}}
          <th class="text-end">Total</th>
        </tr>
        </thead>

        <tbody>
        {{#each this.people as |person|}}
          <tr>
            <td>
              <PersonLink @person={{person}} />
            </td>
            <td>{{person.first_name}} {{person.last_name}}</td>
            <td>{{person.status}}</td>
            {{#if this.session.canViewEmail}}
              <td>
                {{#if person.email}}
                  {{mail-to person.email}}
                {{else}}
                  -
                {{/if}}
              </td>
            {{/if}}
            {{#each person.years as |duration|}}
              <td class="text-end">{{hour-format duration}}</td>
            {{/each}}
            <td class="text-end">{{hour-format person.total_duration}}</td>
          </tr>
        {{/each}}
        <tr>
          <td colspan="{{if this.session.canViewEmail 4 3}}" class="text-end"><b>Totals</b></td>
          {{#each this.totalsList as |total|}}
            <td class="text-end">{{hour-format total}}</td>
          {{/each}}
          <td class="text-end">{{hour-format this.grandTotal}}</td>
        </tr>
        </tbody>
      </table>
    </:body>
  </UiSection>
{{/if}}
