<h1>People By Special Teams With Hours</h1>
<p>
  This report shows the hours worked by Rangers in chosen positions (aka Special Teams) for the years specified.
</p>

<ChForm @formId="teamsForm"
        @formFor={{this.teamsForm}}
        @changeSet={{false}}
        @onSubmit={{this.searchTeamsAction}} as |f|>
  <fieldset>
    <legend>Year Range & Status</legend>
    <FormRow>
      <f.select @name="startYear"
                @label="Start Year:"
                @options={{this.yearOptions}}
                @inline={{true}}
      />
      <f.select @name="endYear"
                @label="Ending Year:"
                @options={{this.yearOptions}}
                @inline={{true}}
      />
      <div class="col-auto mt-2">
        <f.checkbox @name="showInactives"
                    @label="Include people who hold the position(s) but may not have worked in the year range"
                    @inline={{true}} />
      </div>
    </FormRow>
  </fieldset>
  <fieldset>
    <legend>Positions To Report On</legend>
    <p>
      Click on the team name to reveal the team's positions.
    </p>
    <div class="d-flex justify-content-between">
      {{#each this.teamColumns as |column|}}
        <div class="flex-grow-1 me-4">
          {{#each column as |team|}}
            <details class="mb-3">
              <summary class="masonry-item-header">
                {{team.title}}
                {{#if team.selectedCount}}
                  <small class="ms-1 text-muted">({{team.selectedCount}} selected)</small>
                {{/if}}
              </summary>
              {{#each team.positionOptions as |position|}}
                <div class="form-check">
                  <Input @type="checkbox"
                         @checked={{position.isChecked}}
                         id="position_{{position.id}}"
                         class="form-check-input"
                  />
                  {{!template-lint-disable no-nested-interactive}}
                  <label class="form-check-label" for="position_{{position.id}}">{{position.title}}</label>
                </div>
              {{/each}}
            </details>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </fieldset>
  <f.submit @label="Submit" @disabled={{this.isSubmitting}}/>
  {{#if this.isSubmitting}}
    <LoadingIndicator/>
  {{/if}}
  {{#if (and this.haveResults (not this.people))}}
    <p class="text-danger">No people were found who matched the criteria.</p>
  {{/if}}
</ChForm>

{{#if (and this.haveResults this.people)}}
  <UiSection id="people" {{did-insert this.scrollToOnRender}}>
    <:title>
      Found {{pluralize this.people.length "person"}} for
      {{#each this.positionsUsed as |position idx|~}}
        {{if idx ", "~}}{{position.title~}}
      {{/each}}
    </:title>
    <:body>
      <p>
        <UiButton @onClick={{this.exportToCSV}}>Export to CSV</UiButton>
      </p>
      <table class="table table-sm table-striped table-width-auto">
        <thead>
        <tr>
          <th>Callsign</th>
          <th>Name</th>
          <th>Status</th>
          {{#if this.session.canViewEmail}}
            <th>Email</th>
          {{/if}}
          {{#each this.yearList as |year|}}
            <th class="text-end">{{year}} Hours</th>
          {{/each}}
          <th class="text-end">Total</th>
        </tr>
        </thead>

        <tbody>
        {{#each this.people as |person|}}
          <tr>
            <td>
              <PersonLink @person={{person}} />
            </td>
            <td>{{person.first_name}} {{person.last_name}}</td>
            <td>{{person.status}}</td>
            {{#if this.session.canViewEmail}}
              <td>
                {{#if person.email}}
                  <MailTo @to={{person.email}} />
                {{else}}
                  -
                {{/if}}
              </td>
            {{/if}}
            {{#each person.years as |duration|}}
              <td class="text-end">{{hour-format duration}}</td>
            {{/each}}
            <td class="text-end">{{hour-format person.total_duration}}</td>
          </tr>
        {{/each}}
        <tr>
          <td colspan="{{if this.session.canViewEmail 4 3}}" class="text-end"><b>Totals</b></td>
          {{#each this.totalsList as |total|}}
            <td class="text-end">{{hour-format total}}</td>
          {{/each}}
          <td class="text-end">{{hour-format this.grandTotal}}</td>
        </tr>
        </tbody>
      </table>
    </:body>
  </UiSection>
{{/if}}
