<YearSelect @title="Timesheet Unconfirmed Report" @year={{this.year}} @onChange={{action (mut this.year)}} />
<p>
  The report will show people who have not confirmed their timesheets as correct (i.e. have not checked the "I have
  reviewed and verified" checkbox on "My Timesheet Corrections")
</p>

{{#if this.unconfirmed_people}}
  <p>
    <UiButton @onClick={{this.downloadCsv}} @class="ms-2">Export as CSV</UiButton>
    <a href="#email-list-link">Jump to the email list</a>
  </p>
{{/if}}
<p>
  count = How many timesheet entries are not verified
</p>
Showing {{pluralize this.unconfirmed_people.length "person"}}
<table class="table table-hover table-striped table-width-auto">
  <thead>
  <tr>
    <th>Callsign</th>
    <th>Name</th>
    <th>Email</th>
    <th>Home Phone</th>
    <th>Count</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.unconfirmed_people as |person|}}
    <tr>
      <td>
        <PersonLink @person={{person}} />
      </td>
      <td>{{person.first_name}} {{person.last_name}}</td>
      <td>{{mail-to person.email}}</td>
      <td>{{phone-link person.home_phone}}</td>
      <td class="text-end">{{person.unverified_count}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="5">
        <b class="text-success">Congratulations (or WTF?), everyone has marked their timesheets as correct.</b>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{#if this.unconfirmed_people}}
  <EmailList @people={{this.unconfirmed_people}} />
{{/if}}
