<YearSelect @title="Timesheet By Position"
            @year={{this.year}}
            @onChange={{action (mut this.year)}}
            @minYear={{2008}}
            @skipPandemic={{true}}
/>
<DropdownScrollList @items={{this.positionsScrollList}} @openAccordion={{true}} @thing="position"/>
<p>
  Showing {{pluralize this.positions.length "position"}} <UiExportToCSVButton @onClick={{this.exportAllToCSV}} @size="sm"/>
</p>
{{#each this.positions key="id" as |position|}}
  <div class="max-width-700">
    <UiAccordion id="position-{{position.id}}" as |accordion|>
      <accordion.title>{{position-label position}} ({{pluralize position.timesheets.length "entry"}})</accordion.title>
      <accordion.body>
        {{#if accordion.isOpen}}
          <p>
            <UiExportToCSVButton @onClick={{fn this.exportToCSV position}} @size="sm" />
          </p>
          <UiTable>
            <thead>
            <tr>
              <th>Time</th>
              <th class="text-end">Hours</th>
              <th class="text-end">Credits</th>
              <th>Callsign</th>
              {{#if this.session.canViewEmail}}
                <th>Email</th>
              {{/if}}
            </tr>
            </thead>
            <tbody>
            {{#each position.timesheets key="id" as |entry|}}
              <tr>
                <td>
                  {{#if entry.off_duty}}
                    {{shift-format entry.on_duty entry.off_duty}}
                  {{else}}
                    {{shift-format entry.on_duty}}
                    to <i>still on duty</i>
                  {{/if}}
                </td>
                <td class="text-end">{{hour-format entry.duration}}</td>
                <td class="text-end">{{credits-format entry.credits}}</td>
                <td>
                  <PersonLink @person={{entry.person}} />
                </td>
                {{#if this.session.canViewEmail}}
                  <td>
                    {{#if entry.person.email}}
                      <MailTo @to={{entry.person.email}} />
                    {{else}}
                      -
                    {{/if}}
                  </td>
                {{/if}}
              </tr>
            {{/each}}
            </tbody>
          </UiTable>
        {{/if}}
      </accordion.body>
    </UiAccordion>

  </div>
{{else}}
  <p>
    <b class="text-danger">No {{this.year}} timesheet entries were found.</b>
  </p>
{{/each}}
