<YearSelect @title="Timesheet Corrections Report"
            @year={{this.year}}
            @onChange={{set-value this 'year'}}
            @minYear={{2018}}
            @skipPandemic={{true}}
/>

<FormRow>
    <FormLabel>Filter requests by callsigns starting with</FormLabel>
    <div class="col-auto">
        <ChForm::Select @name="callsignFilter" @value={{this.callsignFilter}} @options={{this.letterOptions}}
                        @onChange={{set-value this 'callsignFilter'}} />
    </div>
</FormRow>

Showing {{this.viewGroupCorrections.length}} of {{pluralize this.requests.length "correction request"}}
<UiTable>
  <thead>
  <tr>
    <th>Callsign</th>
    <th>Type</th>
    <th>Position</th>
    <th>Time</th>
    <th>Duration</th>
    <th>Credits</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.viewGroupCorrections as |person personIdx|}}
    {{#each person.requests as |request idx|}}
      <tr class="{{if (not-eq person.requests.length (add idx 1)) "no-border"}} {{if (not-eq (mod personIdx 2) 0) "tr-stripped"}}">
        <td>
          {{#if idx}}
            &nbsp;
          {{else}}
            <PersonLink @person={{request.person}} @page="timesheet" @year={{this.year}} />
          {{/if}}
        </td>
        <td>{{if request.is_missing "Missing Entry" "Correction"}}</td>
        <td>{{request.position.title}}</td>
        <td>{{shift-format request.on_duty request.off_duty}}</td>
        <td class="text-end">{{hour-minute-format request.duration}}</td>
        <td class="text-end">{{credits-format request.credits}}</td>
      </tr>
    {{/each}}
  {{else}}
    <tr>
      <td colspan="7">
        <b class="text-success">Congratulations! There are no outstanding timesheet corrections or missing timesheet
          requests at this time.</b>
      </td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>
