<main>
  <YearSelect @title="Timesheet By Position"
              @year={{this.year}}
              @onChange={{set-value this 'year'}}
              @minYear={{2008}}
              @skipPandemic={{true}}
  />
  <p>
    {{#if (eq this.status "full-report")}}
      Because you have the appropriate permissions, all positions with timesheets are shown.
    {{else if (eq this.status "partial-report")}}
      <UiAlert @type="warning" @icon="hand">
        Only the positions managed by the Cadres and Delegations you belong to are shown.
      </UiAlert>
    {{else}}
      <UiAlert @type="warning" @icon="hand">
        You do not appear to be a member of any Cadre or Delegation that manages positions. No positions are shown.
      </UiAlert>
    {{/if}}
  </p>
  <DropdownScrollList @items={{this.positionsScrollList}} @openAccordion={{true}} @thing="position"/>
  <p>
    Showing {{pluralize this.positions.length "position"}}
    <UiExportToCSVButton @thing="All" @onClick={{this.exportAllToCSV}} @size="sm" class="ms-4"/>
  </p>
  {{#each this.positions key="id" as |position|}}
    <UiAccordion id="position-{{position.id}}" as |accordion|>
      <accordion.title>
        {{position-label position}} ({{pluralize position.timesheets.length "entry"}})
      </accordion.title>
      <accordion.body>
        {{#if accordion.isOpen}}
          <p>
            <UiExportToCSVButton @onClick={{fn this.exportToCSV position}} @size="sm"/>
          </p>
          <UiTable>
            <thead>
            <tr>
              <th>Callsign</th>
              <th>On Duty At</th>
              <th class="text-end">Hours</th>
              <th class="text-end">Credits</th>
              <th>Shift Begins</th>
              <th>Shift Duration</th>
              <th>Shift Description</th>
              {{#if this.session.canViewEmail}}
                <th>Email</th>
              {{/if}}
            </tr>
            </thead>
            <tbody>
            {{#each position.timesheets key="id" as |entry|}}
              <tr>
                <td>
                  <PersonLink @person={{entry.person}} />
                </td>
                <td>
                  {{#if entry.off_duty}}
                    {{shift-format entry.on_duty entry.off_duty}}
                  {{else}}
                    {{shift-format entry.on_duty}}
                    to <i>still on duty</i>
                  {{/if}}
                </td>
                <td class="text-end">{{hour-format entry.duration}}</td>
                <td class="text-end">{{credits-format entry.credits}}</td>
                 {{#if entry.slot}}
                  <td>{{shift-format entry.slot.begins tz=entry.slot.timezone tzabbr=entry.slot.timezone_abbr}}</td>
                  <td class="text-end">{{hour-format entry.slot.duration}}</td>
                  <td>{{entry.slot.description}}</td>
                {{else}}
                  <td class="text-center">-</td>
                  <td class="text-center">-</td>
                  <td class="text-center">-</td>
                {{/if}}
                {{#if this.session.canViewEmail}}
                  <td>
                    {{#if entry.person.email}}
                      <MailTo @to={{entry.person.email}} />
                    {{else}}
                      -
                    {{/if}}
                  </td>
                {{/if}}
              </tr>
            {{/each}}
            </tbody>
          </UiTable>
        {{/if}}
      </accordion.body>
    </UiAccordion>
  {{else}}
    <p>
      <b class="text-danger">No {{this.year}} timesheet entries were found.</b>
    </p>
  {{/each}}
</main>