<YearSelect @title="Timesheet By Callsign" @year={{this.year}} @onChange={{action (mut this.year)}}  />

<p>
  Jump to callsigns starting with the letter:<br>
  {{#each this.letterOptions as |letter|}}
    <a href {{action this.scrollToCallsign letter.id}} class="d-inline-block border p-2 mr-2 mb-2">
      {{letter.letter}}
    </a>
  {{/each}}
</p>
<p>
  <button type="button" class="btn btn-primary" {{action this.exportToCSV}}>Export To CSV</button>
</p>
<p>
  [hh:mm] = Time does not count towards appreciations.
</p>
{{#each this.people key="id" as |person|}}
  <div class="max-width-700">
    <ChAccordion id="person-{{person.id}}" as |accordion|>
      <accordion.title>{{person.callsign}}</accordion.title>
      <accordion.body>
        {{#if accordion.isOpen}}
          <p>
            Go to {{person.callsign}}:
            <LinkTo @route="person.index" @model={{person.id}}>
              Account
            </LinkTo>
            |
            <LinkTo @route="person.timesheet" @model={{person.id}} @query={{hash year=this.year}}>
              {{this.year}} Timesheets
            </LinkTo>
            |
            <LinkTo @route="person.schedule" @model={{person.id}} @query={{hash year=this.year}}>
              {{this.year}} Schedule
            </LinkTo>
          </p>
          <table class="table table-sm table-hover table-striped table-width-auto">
            <thead>
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Position</th>
              <th class="text-right">Duration</th>
              <th class="text-right">Credits</th>
            </tr>
            </thead>
            <tbody>
            {{#each person.timesheet as |entry|}}
              <tr>
                <td>{{shift-format entry.on_duty}}</td>
                <td>{{#if entry.off_duty}}{{shift-format entry.off_duty}}{{else}}<i>still on duty</i>{{/if}}</td>
                <td>{{position-label entry.position}}</td>
                <td class="text-right">
                  {{#if entry.position.count_hours}}
                    {{hour-minute-format entry.duration}}
                  {{else}}
                    [{{hour-minute-format entry.duration}}]
                  {{/if}}
                </td>
                <td class="text-right">{{credits-format entry.credits}}</td>
              </tr>
            {{/each}}
            <tr>
              <td colspan="3" class="text-right"><b>Totals:</b></td>
              <td class="text-right">
                {{hour-minute-format person.total_duration}}
              </td>
              <td class="text-right">{{credits-format person.total_credits}}</td>
            </tr>
            <tr>
              <td colspan="3" class="text-right"><b>Total Appreciated Hours:</b></td>
              <td class="text-right">
                {{hour-minute-format person.total_appreciation_duration}}
              </td>
              <td>&nbsp;</td>
            </tr>
            </tbody>
          </table>
        {{/if}}
      </accordion.body>
    </ChAccordion>
  </div>
{{else}}
  <p>
    <b class="text-danger">No {{this.year}} timesheets were found.</b>
  </p>
{{/each}}
