<YearSelect @title="Timesheet By Callsign"
            @year={{this.year}}
            @onChange={{set-value this 'year'}}
            @minYear={{2008}}
            @skipPandemic={{true}}
/>

<p>
  {{#if (eq this.status "full-report")}}
    Because you have the appropriate permissions, all positions are shown.
  {{else if (eq this.status "partial-report")}}
    <UiAlert @type="warning" @icon="hand">
      Only the positions managed by the Cadres and Delegations you belong to are shown.
    </UiAlert>
  {{else}}
    <UiAlert @type="warning" @icon="hand">
      You do not appear to be a member of any Cadre or Delegation that manages positions. No positions are shown.
    </UiAlert>
  {{/if}}
</p>

<DropdownScrollList @items={{this.callsignScrollItems}} @openAccordion={{true}} @thing="callsign"/>
<p>
  Showing {{pluralize this.people.length "person"}}
  <UiExportToCSVButton @thing="All" @onClick={{this.exportAllToCSV}} @size="sm" class="ms-4"/>
</p>
{{#each this.people key="id" as |person|}}
  <UiAccordion id="person-{{person.id}}" as |accordion|>
    <accordion.title>{{person.callsign}} &lt;{{person.status}}&gt;</accordion.title>
    <accordion.body>
      {{#if accordion.isOpen}}
        <p>
          Go to {{person.callsign}}:
          <LinkTo @route="person.index" @model={{person.id}}>
            Account
          </LinkTo>
          |
          <LinkTo @route="person.timesheet" @model={{person.id}} @query={{hash year=this.year}}>
            {{this.year}} Timesheets
          </LinkTo>
          |
          <LinkTo @route="person.schedule" @model={{person.id}} @query={{hash year=this.year}}>
            {{this.year}} Schedule
          </LinkTo>
        </p>
        <NoAppreciateIcon/>
        = Time does not count towards provisions and appreciations.
        <UiExportToCSVButton onClick={{fn this.exportPersonToCSV person}} class="ms-4"/>
        <UiTable>
          <thead>
          <tr>
            <th>Time</th>
            <th>Position</th>
            <th class="text-end">Duration</th>
            <th class="text-end">Credits</th>
            <th>Shift Begins</th>
            <th>Shift Duration</th>
            <th>Shift Description</th>
          </tr>
          </thead>
          <tbody>
          {{#each person.timesheet key="id" as |entry|}}
            <tr>
              <td>
                {{#if entry.off_duty}}
                  {{shift-format entry.on_duty entry.off_duty}}
                {{else}}
                  {{shift-format entry.on_duty}} (<i>still on duty</i>)
                {{/if}}
              </td>
              <td>{{position-label entry.position}}</td>
              <td class="text-end">
                {{#unless entry.position.count_hours}}
                  <NoAppreciateIcon/>
                {{/unless}}
                {{hour-minute-format entry.duration}}
              </td>
              <td class="text-end">{{credits-format entry.credits}}</td>
              {{#if entry.slot}}
                <td>{{shift-format entry.slot.begins}}</td>
                <td class="text-end">{{hour-format entry.slot.duration}}</td>
                <td>{{entry.slot.description}}</td>
              {{else}}
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
              {{/if}}
            </tr>
          {{/each}}
          <tr>
            <td colspan="2" class="text-end"><b>Totals:</b></td>
            <td class="text-end">
              {{hour-minute-format person.total_duration}}
            </td>
            <td class="text-end">{{credits-format person.total_credits}}</td>
            <td colspan="4">-</td>
          </tr>
          <tr>
            <td colspan="2" class="text-end"><b>Hours counting towards appreciations &amp; provisions:</b></td>
            <td class="text-end">
              {{hour-minute-format person.total_appreciation_duration}}
            </td>
            <td colspan="4">-</td>
          </tr>
          </tbody>
        </UiTable>
      {{/if}}
    </accordion.body>
  </UiAccordion>
{{else}}
  <p>
    <b class="text-danger">No {{this.year}} timesheets were found.</b>
  </p>
{{/each}}
