<YearSelect @title="Timesheet Corrections Report" @year={{this.year}} @onChange={{action (mut this.year)}}  />

<div class="form-row mb-2">
  <label class="col-form-label">Filter requests by callsigns starting with</label>
  <div class="col-auto">
    <ChForm::Select @name="callsignFilter" @value={{this.callsignFilter}} @options={{this.letterOptions}}
                    @onChange={{action (mut this.callsignFilter)}} @controlClass="form-control"/>
  </div>
</div>

Showing {{this.viewGroupCorrections.length}} of {{pluralize this.requests.length "correction request"}}
<table class="table table-hover table-width-auto">
  <thead>
  <tr>
    <th>Callsign</th>
    <th>Type</th>
    <th>Position</th>
    <th>On Duty</th>
    <th>Off Duty</th>
    <th>Time</th>
    <th>Credits</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.viewGroupCorrections as |person|}}
    {{#each person.requests as |request idx|}}
      <tr class="{{if idx "no-border"}}">
        <td>
          {{#if idx}}
            &nbsp;
          {{else}}
            <PersonLink @person={{request.person}} @page="timesheet" @year={{this.year}} />
          {{/if}}
        </td>
        <td>{{if request.is_missing "Missing Entry" "Correction"}}</td>
        <td>{{request.position.title}}</td>
        <td>{{shift-format request.on_duty}}</td>
        <td>{{shift-format request.off_duty}}</td>
        <td>{{hour-minute-format request.duration}}</td>
        <td>{{credits-format request.credits}}</td>
      </tr>
    {{/each}}
  {{else}}
    <tr>
      <td colspan="7">
        <b class="text-success">Congratulations! There are no outstanding timesheet corrections or missing timesheet requests at this time.</b>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
