<YearSelect @title="Timesheet Totals" @year={{this.year}} @onChange={{action (mut this.year)}}  />

<p>
  <UiButton @onClick={{this.exportToCSV}}>Export to CSV</UiButton>
</p>

Showing {{pluralize this.people.length "person"}}
<table class="table table-width-auto">
  <thead>
    <tr>
      <th>Callsign</th>
      <th>Status</th>
      <th>Position</th>
      <th class="text-end">Hours</th>
      <th class="text-end">Credits</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.people key="id" as |person|}}
      {{#each person.positions key="id" as |pos idx|}}
        <tr>
          {{#unless idx}}
            <td rowspan="{{add person.positions.length 1}}">
              <PersonLink @person={{person}} @page="timesheet" />
            </td>
            <td rowspan="{{add person.positions.length 1}}">
              {{person.status}}
            </td>
        {{/unless}}
          <td>{{pos.title}}</td>
          <td class="text-end">{{hour-format pos.duration}}</td>
          <td class="text-end">{{credits-format pos.credits}}</td>
        </tr>
      {{/each}}
      <tr>
        <td class="text-end"><b>Total Hours / Credits</b></td>
        <td class="text-end">{{hour-format person.total_duration}}</td>
        <td class="text-end">{{credits-format person.total_credits}}</td>
      </tr>
    {{else}}
    <tr>
      <td colspan="5"><b class="text-danger">No {{this.year}} timesheet entries were found.</b></td>
    </tr>
    {{/each}}
  </tbody>
</table>
