<YearSelect @title="Timesheet By Position" @year={{this.year}} @onChange={{action (mut this.year)}}  />
<p>
  Showing {{pluralize this.positions.length "position"}}
</p>
{{#each this.positions key="id" as |position|}}
  <div class="max-width-700">
    <ChAccordion as |accordion|>
      <accordion.title>{{position-label position}} ({{pluralize position.timesheets.length "entry"}})</accordion.title>
      <accordion.body>
        {{#if accordion.isOpen}}
          <p>
            <UiButton @onClick={{fn this.exportToCSV position}}>Export To CSV</UiButton>
          </p>
          <table class="table table-sm table-hover table-striped table-width-auto">
            <thead>
            <tr>
              <th>From</th>
              <th>To</th>
              <th class="text-end">Hours</th>
              <th>Callsign</th>
              {{#if this.session.canViewEmail}}
                <th>Email</th>
              {{/if}}
            </tr>
            </thead>
            <tbody>
            {{#each position.timesheets key="id" as |entry|}}
              <tr>
                <td>{{shift-format entry.on_duty}}</td>
                <td>
                  {{#if entry.off_duty}}
                    {{shift-format entry.off_duty}}
                  {{else}}
                    <i>still on duty</i>
                  {{/if}}
                </td>
                <td class="text-end">{{hour-format entry.duration}}</td>
                <td>
                  <PersonLink @person={{entry.person}} />
                </td>
                {{#if this.session.canViewEmail}}
                  <td>
                    {{#if entry.person.email}}
                      {{mail-to entry.person.email}}
                    {{else}}
                      -
                    {{/if}}
                  </td>
                {{/if}}
              </tr>
            {{/each}}
            </tbody>
          </table>
        {{/if}}
      </accordion.body>
    </ChAccordion>

  </div>
{{else}}
  <p>
    <b class="text-danger">No {{this.year}} timesheet entries were found.</b>
  </p>
{{/each}}
