<YearSelect @title="Vehicle Registry" @year={{this.year}} @onChange={{action (mut this.year)}} />
<div class="form-row my-2">
  <label class="col-form-label">Filter by Status</label>
  <div class="col-auto">
    <ChForm::Select @name="filter" @value={{this.filter}} @options={{this.filterOptions}}
                    @onChange={{action (mut this.filter)}} @controlClass="form-control"/>
  </div>
  <label class="col-form-label">Filter by type</label>
  <div class="col-auto">
    <ChForm::Select @name="filter" @value={{this.typeFilter}} @options={{this.filterTypeOptions}}
                    @onChange={{action (mut this.typeFilter)}} @controlClass="form-control"/>
  </div>
  <div class="col-auto">
    <div class="input-group">
      <label class="col-form-label">Filter by rental, driving, or license #:</label>
      <Input @type="text" @value={{this.numberFilter}} size="5" class="form-control ml-2"/>
      <button type="button" class="btn btn-secondary btn-sm ml-1" {{action this.clearNumberFilterAction}}>Clear</button>
    </div>
  </div>
  {{#if (has-role "admin")}}
    <label class="col-form-label">Actions</label>
    <div class="col-auto">
      <button type="button" class="btn btn-primary" {{on "click" this.newAction}}>New Vehicle</button>
      <button type="button" class="btn btn-secondary" {{on "click" this.exportToCSV}}>Export to CSV</button>
    </div>
  {{/if}}
</div>
Showing {{this.viewVehicles.length}} of {{pluralize this.person_vehicle.length "vehicle"}}
<table class="table table-sm table-striped table-hover table-width-auto">
  <thead>
  <tr>
    <th>Person/Team</th>
    <th>Status</th>
    <th>Vehicle Description</th>
    <th>Class</th>
    <th>Rental #</th>
    <th>Driving Sticker</th>
    <th>Driving #</th>
    <th>License</th>
    <th>Ranger Logo</th>
    <th>Fuel Chit</th>
    <th>Amber Light</th>
    <th>MVR</th>
    <th>Motorpool</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.viewVehicles as |vehicle|}}
    <tr>
      <td>
        {{#if vehicle.isPersonal}}
          <PersonLink @person={{vehicle.person}} />
        {{else if vehicle.team_assignment}}
          {{vehicle.team_assignment}}
        {{else}}
          <i>Fleet Vehicle</i>
        {{/if}}
      </td>
      <td>
        {{#if vehicle.isPersonal}}
          {{#if vehicle.isApproved}}
            <span class="text-success">{{fa-icon "check"}} approved</span>
          {{else if vehicle.isRejected}}
            <span class="text-danger">{{fa-icon "times"}} denied</span>
          {{else}}
            {{vehicle.status}}
          {{/if}}
        {{else}}
          -
        {{/if}}
      </td>
      <td>{{vehicle.vehicle_year}} {{vehicle.vehicle_make}} {{vehicle.vehicle_model}} {{vehicle.vehicle_color}}</td>
      <td>{{vehicle.vehicle_class}}</td>
      <td>
        <PresentOrNot @value={{vehicle.rental_number}} @empty="-"/>
      </td>
      <td>
        {{#if vehicle.isRejected}}
          -
        {{else}}
          {{get this.drivingStickerLabels vehicle.driving_sticker}}
        {{/if}}
      </td>
      <td>
        <PresentOrNot @value={{vehicle.sticker_number}} @empty="-"/>
      </td>
      <td>{{vehicle.license_state}}-{{vehicle.license_number}}</td>
      <td class="text-center">
        {{#if vehicle.isRejected}}
          -
        {{else}}
          {{get this.logoLabels vehicle.ranger_logo}}
        {{/if}}
      </td>
      <td class="text-center">
        {{#if vehicle.isRejected}}
          -
        {{else}}
          {{get this.fuelChitLabels vehicle.fuel_chit}}
        {{/if}}
      </td>
      <td class="text-center">
        {{#if vehicle.isRejected}}
          -
        {{else}}
          {{get this.amberLightLabels vehicle.amber_light}}
        {{/if}}
      </td>
      <td class="text-center">{{if vehicle.org_vehicle_insurance "MVR" "-"}}</td>
      <td class="text-center">{{if vehicle.signed_motorpool_agreement "Motorpool" "-"}}</td>
      <td>
        <button type="button" class="btn btn-secondary btn-sm" {{on 'click' (fn this.editAction vehicle)}}>
          {{fa-icon "edit"}} Edit
        </button>
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="14">
        <b class="text-danger">
          {{#if this.person_vehicle}}
            No {{this.year}} vehicles matched the criteria.
          {{else}}
            No {{this.year}} vehicles were found.
          {{/if}}
        </b>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{#if this.entry}}
  <ModalDialog @title="{{if this.entry.isNew "Create" "Update"}} Personal Vehicle" as |Modal|>
    <ChForm @formId="vehicle" @formFor={{this.entry}} @validator={{this.vehicleValidations}}
            @onSubmit={{this.saveAction}} @onCancel={{this.cancelAction}} as |f|>
      <Modal.body>
        {{#if (has-role "admin")}}
          <fieldset class="mt-2">
            <legend>Vehicle Record Type &amp; Assignment</legend>
            <div class="row form-group">
              <label class="col-form-label col-auto">Type</label>
              <f.input @name="type" @type="radioGroup" @options={{this.typeOptions}} @inline={{true}}
                       @wrapClass="col-auto mt-2"/>
              <label class="col-form-label col-auto">Event Year</label>
              <f.input @name="event_year" @type="text" @size=4 @wrapClass="col-auto mt-1"
                       @controlClass="form-control form-control-sm"/>
              {{#if (eq f.model.type "personal")}}
                <label class="col-form-label">Personal Vehicle Owner</label>
                <div class="col-auto mt-1">
                  <f.input @name="callsign" @type="search"
                           @controlClass="form-control form-control-sm autocomplete-input"
                           @onSearch={{this.searchCallsignAction}}
                  />
                </div>
              {{else}}
                <label class="col-form-label">Team Assignment</label>
                <div class="col-auto mt-1">
                  <f.input @name="team_assignment" @type="text" @size="10" @controlClass="form-control form-control-sm"/>
                </div>
              {{/if}}
            </div>
          </fieldset>
          <fieldset>
            <legend>Vehicle Description &amp; Licensing</legend>
            <div class="row form-group">
              <f.input @name="vehicle_class" @label="Class" @type="select" @options={{this.vehicleClassOptions}}
                       @wrapClass="col-auto" @controlClass="form-control form-control-sm"/>
              <f.input @name="vehicle_year" @label="Year" @type="text" @size="4"
                       @maxlength="4"
                       @wrapClass="col-auto" @controlClass="form-control form-control-sm"/>
              <f.input @name="vehicle_make" @label="Make" @type="text" @size="15"
                       @hint="e.g., Ford, GMC, Toyota, etc."
                       @wrapClass="col-auto" @controlClass="form-control form-control-sm"/>
              <f.input @name="vehicle_model" @label="Model"
                       @hint="e.g., F-350, Tacoma, etc."
                       @type="text" @size="15"
                       @wrapClass="col-auto" @controlClass="form-control form-control-sm"/>
              <f.input @name="vehicle_color" @label="Color" @type="text" @size="15"
                       @wrapClass="col-auto" @controlClass="form-control form-control-sm"/>
            </div>
            <div class="row form-group">
              <f.input @name="rental_number"
                       @label="Rental #" @type="text" @size=5 @wrapClass="col-auto"
                       @controlClass="form-control form-control-sm"
                       @disabled={{eq f.model.type "personal"}}
              />
              <f.input @name="sticker_number" @label="Driving Sticker #" @type="text" @size="10"
                       @wrapClass="col-auto"
                       @controlClass="form-control form-control-sm"
              />
              <f.input @name="license_state" @label="License State/Province" @type="select"
                       @options={{this.stateOptions}}
                       @wrapClass="col-auto" @controlClass="form-control form-control-sm"/>
              <f.input @name="license_number" @label="License Plate #" @type="text" @size="10" @wrapClass="col-auto"
                       @controlClass="form-control form-control-sm"/>
            </div>
          </fieldset>
          <fieldset>
            <legend>Personal Vehicle Use Items (Stickers &amp; Other Items)</legend>
            <div class="form-row">
              <label class="col-form-label col-form-label-fixed ">Driving Sticker</label>
              <f.input @name="driving_sticker" @type="radioGroup" @options={{this.drivingStickerOptions}}
                       @inline={{true}} />
            </div>
            <div class="form-row">
              <label class="col-form-label col-form-label-fixed ">Ranger Logo</label>
              <f.input @name="ranger_logo" @type="radioGroup" @options={{this.rangerLogoOptions}} @inline={{true}} />
            </div>
            <div class="form-row">
              <label class="col-form-label col-form-label-fixed ">Fuel Chit</label>
              <f.input @name="fuel_chit" @type="radioGroup" @options={{this.fuelChitOptions}} @inline={{true}} />
            </div>
            <div class="form-row">
              <label class="col-form-label col-form-label-fixed ">Amber Light</label>
              <f.input @name="amber_light" @type="radioGroup" @options={{this.amberLightOptions}} @inline={{true}} />
            </div>
          </fieldset>
          <fieldset class="mt-2">
            <legend>Notes &amp; Status</legend>
            <div class="form-row">
              <f.input @name="notes" @label="Private Notes" @type="textarea" @rows="2" @cols="80"
                       @wrapClass="col-auto"/>
            </div>
            <div class="form-row mt-3">
              <f.input @name="request_comment" @label="Comment from person (only used for personal vehicles)" @type="textarea" @rows="2" @cols="80"
                       @wrapClass="col-auto" @disabled={{not-eq f.model.type "personal"}}/>
            </div>
            <div class="form-row mt-3">
              <f.input @name="response" @label="Response to person (only used for personal vehicles)" @type="textarea"
                       @rows="2" @cols="80" @wrapClass="col-auto" @disabled={{not-eq f.model.type "personal"}}
              />
            </div>
            <div class="row form-group">
              <label class="col-form-label col-auto">Request Status</label>
              <f.input @name="status" @type="radioGroup" @options={{this.statusOptions}} @inline={{true}} />
            </div>
          </fieldset>
        {{else}}
          <h3 class="ml-2">
            {{this.entry.person.callsign}}
            - {{this.entry.vehicle_year}} {{this.entry.vehicle_make}} {{this.entry.vehicle_model}} {{this.entry.vehicle_color}}
            Lic #{{this.entry.license_number}}
          </h3>
          <p class="ml-2">
            {{#if this.entry.isApproved}}
              <b class="text-success"> {{fa-icon "check"}} Request has been approved for the following items:</b>
            {{else if this.entry.isRejected}}
              <b class="text-danger">{{fa-icon "exclamation-triangle"}} Request has been denied. DO NOT ISSUE ANY
                STICKERS/ITEMS.</b>
            {{else}}
              <b class="text-danger">{{fa-icon "exclamation"}} Vehicle request is pending review. Wait for approval
                before issuing items.</b>
            {{/if}}
          </p>
          {{#unless this.entry.isRejected}}
            <p class="ml-2">
              <b>Driving sticker:</b>
              {{#if (eq this.entry.ranger_logo "none")}}
                <i>none</i>
              {{else}}
                {{get this.drivingStickerLabels this.entry.driving_sticker}}
              {{/if}}<br>

              <b>Ranger logo decal:</b>
              {{#if (eq this.entry.ranger_logo "none")}}
                <i>none</i>
              {{else}}
                {{get this.logoLabels this.entry.ranger_logo}}
              {{/if}}<br>

              <b>Fuel chit:</b>
              {{#if (eq this.entry.fuel_chit "none")}}
                <i>none</i>
              {{else}}
                {{get this.fuelChitLabels this.entry.fuel_chit}}
              {{/if}}<br>
              <b>Amber light:</b>
              {{#if (eq this.entry.amber_light "none")}}
                <i>none</i>
              {{else}}
                {{get this.amberLightLabels this.entry.amber_light}}
              {{/if}}
            </p>
          {{/unless}}
          {{#if this.entry.response}}
            <div class="border p-1 ml-2">
              <b>Response from Approver</b><br>
              {{this.entry.response}}
            </div>
          {{/if}}

          {{#if (and this.entry.isApproved (not-eq this.entry.driving_sticker "none"))}}
            <div class="form-row mt-2">
              <f.input @name="sticker_number" @label="Enter Driving Sticker #"
                       @type="text" @size="10" @wrapClass="col-auto" @autofocus={{true}} />
            </div>
          {{/if}}
        {{/if}}

      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label={{if this.entry.isNew "Create" "Update"}} @disabled={{this.entry.isSaving}} />
        <f.cancel @disabled={{this.entry.isSaving}} />
        {{#if (and (has-role "admin") (not this.entry.isNew))}}
          <button type="button" class="btn btn-danger" {{on 'click' (fn this.deleteAction this.entry)}}>
            {{fa-icon "trash"}} Delete
          </button>
        {{/if}}
        {{#if this.entry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}