<YearSelect @title="Vehicle Registry" @year={{this.year}} @onChange={{action (mut this.year)}} />
<div class="row">
  <FormLabel @auto={{true}}>Filter by Status</FormLabel>
  <div class="col-sm-12 col-xl-auto">
    <ChForm::Select @name="filter"
                    @value={{this.filter}}
                    @options={{this.filterOptions}}
                    @onChange={{action (mut this.filter)}} />
  </div>
  <FormLabel @auto={{true}}>Filter by type</FormLabel>
  <div class="col-sm-12 col-xl-auto">
    <ChForm::Select @name="filter"
                    @value={{this.typeFilter}}
                    @options={{this.filterTypeOptions}}
                    @onChange={{action (mut this.typeFilter)}} />
  </div>
  <FormLabel @auto={{true}}>Filter by rental, driving, or license #:</FormLabel>
  <div class="col-sm-6 col-xl-auto">
    <Input @type="text" @value={{this.numberFilter}} size="10" class="form-control"/>
  </div>
  <div class="col-sm-12 col-xl-auto mt-2 mt-xl-1">
    <UiButton @type="secondary" @size="sm" @onClick={{this.clearNumberFilterAction}}>
      Clear
    </UiButton>
  </div>
</div>

{{#if this.canEditVehicles}}
  <div class="my-3">
    <UiButton @onClick={{this.newEditAction}}>New Vehicle</UiButton>
    <UiButton @type="secondary" @onClick={{this.exportToCSV}}>Export to CSV</UiButton>
  </div>
{{/if}}

<UiSection>
  <:title>
    Showing {{this.viewVehicles.length}} of {{pluralize this.person_vehicle.length "Vehicle"}}
  </:title>
  <:body>
    <div class="vehicle-registry-table">
      <div class="vehicle-registry-header">
        <div class="vehicle-registry-person">Person/Team</div>
        <div class="vehicle-registry-status">Status</div>
        <div class="vehicle-registry-vehicle">Vehicle/Class/Lic.</div>
        <div class="vehicle-registry-rental">Rental #</div>
        <div class="vehicle-registry-sticker">Driving Sticker / #</div>
        <div class="vehicle-registry-logo">Ranger Logo</div>
        <div class="vehicle-registry-fuel-chit">Fuel Chit</div>
        <div class="vehicle-registry-amber-light">Amber Light</div>
        <div class="vehicle-registry-mvr">MVR</div>
        <div class="vehicle-registry-motorpool">Motorpool</div>
        <div class="vehicle-registry-action">Action</div>
      </div>
      {{#each this.viewVehicles as |vehicle|}}
        <div class="vehicle-registry-row">
          <div class="vehicle-registry-person">
            {{#if this.session.isSmallScreen}}
              <b>Owner</b><br>
            {{/if}}
            {{#if vehicle.isPersonal}}
              <PersonLink @person={{vehicle.person}} />
            {{else if vehicle.team_assignment}}
              Team {{vehicle.team_assignment}}
            {{else}}
              <i>Fleet Vehicle</i>
            {{/if}}
          </div>
          <div class="vehicle-registry-status">
            {{#if this.session.isSmallScreen}}
              <b>Status</b><br>
            {{/if}}
            {{#if vehicle.isPersonal}}
              {{#if vehicle.isApproved}}
                <span class="text-success">{{fa-icon "check"}} Approved</span>
              {{else if vehicle.isRejected}}
                <span class="text-danger">{{fa-icon "times"}} Denied</span>
              {{else if vehicle.isPending}}
                <span class="text-secondary">{{fa-icon "circle" type="far"}} Pending</span>
              {{else}}
                {{vehicle.status}}
              {{/if}}
            {{else}}
              -
            {{/if}}
          </div>
          <div class="vehicle-registry-vehicle">
            {{#if this.session.isSmallScreen}}
              <b>Vehicle Desc./Class/Lic.</b><br>
            {{/if}}
            {{vehicle.vehicle_year}} {{vehicle.vehicle_make}} {{vehicle.vehicle_model}} {{vehicle.vehicle_color}}<br>
            {{vehicle.vehicle_class}}<br>
            {{vehicle.license_state}}-{{vehicle.license_number}}
          </div>
          <div class="vehicle-registry-rental">
            {{#if this.session.isSmallScreen}}
              <b>Rental #</b><br>
            {{/if}}
            <PresentOrNot @value={{vehicle.rental_number}} @empty="-"/>
          </div>
          <div class="vehicle-registry-sticker">
            {{#if this.session.isSmallScreen}}
              <b>Driving Sticker / #</b><br>
            {{/if}}
            {{#if vehicle.isRejected}}
              -
            {{else}}
              {{vehicle.drivingStickerLabel}}<br>
              <PresentOrNot @value={{vehicle.sticker_number}} @empty="-"/>
            {{/if}}
          </div>
          <div class="vehicle-registry-logo">
            {{#if this.session.isSmallScreen}}
              <b>Ranger Logo</b><br>
            {{/if}}
            {{#if vehicle.isRejected}}
              -
            {{else}}
              {{vehicle.rangerLogoLabel}}
            {{/if}}
          </div>
          <div class="vehicle-registry-fuel-chit">
            {{#if this.session.isSmallScreen}}
              <b>Fuel Chit</b><br>
            {{/if}}
            {{#if vehicle.isRejected}}
              -
            {{else}}
              {{vehicle.fuelChitLabel}}
            {{/if}}
          </div>
          <div class="vehicle-registry-amber-light">
            {{#if this.session.isSmallScreen}}
              <b>Amber Light</b><br>
            {{/if}}

            {{#if vehicle.isRejected}}
              -
            {{else}}
              {{vehicle.amberLightLabel}}
            {{/if}}
          </div>
          <div class="vehicle-registry-mvr">
            {{#if this.session.isSmallScreen}}
              <b>Has MVR?</b><br>
            {{/if}}
            {{if vehicle.org_vehicle_insurance "MVR" "-"}}
          </div>
          <div class="vehicle-registry-motorpool">
            {{#if this.session.isSmallScreen}}
              <b>Has Motorpool?</b><br>
            {{/if}}
            {{if vehicle.signed_motorpool_agreement "Motorpool" "-"}}
          </div>
          <div class="vehicle-registry-action">
            {{#if this.canEditVehicles}}
              <UiButton @type="secondary" @size="sm"
                        @onClick={{fn this.editEntryAction vehicle}}>
                {{fa-icon "edit"}} Edit
              </UiButton>
            {{/if}}
            <UiButton @type="secondary" @size="sm"
                      @onClick={{fn this.editStickerAction vehicle}}>
              {{fa-icon "plus"}} View / Add Sticker
            </UiButton>
          </div>
        </div>
      {{else}}
        <div class="vehicle-registry-row">
          <div class="vehicle-registry-not-found">
            {{#if this.person_vehicle}}
              No {{this.year}} vehicles matched the criteria.
            {{else}}
              No {{this.year}} vehicles were found.
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  </:body>
</UiSection>

{{#if this.editEntry}}
  <VehicleRegistry::FullEdit @entry={{this.editEntry}}
                             @saveAction={{this.saveEditAction}}
                             @cancelAction={{this.cancelEditAction}}
                             @deleteAction={{this.deleteAction}}
  />
{{/if}}

{{#if this.stickerEditEntry}}
  <VehicleRegistry::StickerEdit @entry={{this.stickerEditEntry}}
                                @saveAction={{this.saveStickerAction}}
                                @cancelAction={{this.cancelStickerAction}}
  />
{{/if}}