<h1>{{this.year}} Motor Pool Protocol, Motor Vehicle Record, and Personal Vehicle Eligibility Report</h1>
This report will show anyone who meets one of the following conditions:
<ul>
  <li>has signed the Motor Pool Protocol</li>
  <li>has an approved Motor Vehicle Record (MVR)</li>
  <li>is eligible to submit a MVR request either through team membership, or signed up for a MVR eligible position</li>
  <li>has the MVR checkbox checked under Person Manage &gt; Event Info</li>
  <li>is eligible to submit a Personal Vehicle Request (PVR) either through team membership, or signed up for a PVR
    eligible position
  </li>
  <li>has the PVR checkbox checked under Person Manage &gt; Event Info</li>
</ul>
<p>
  <UiButton @onClick={{this.exportToCsv}}>Export to CSV</UiButton>
</p>
Showing {{pluralize this.people.length "person"}}
<div class="table-responsive">
  <UiTable>
    <thead>
    <tr>
      <th>Callsign</th>
      <th>Status</th>
      <th>Motor Pool Signed</th>
      <th>MVR Approved</th>
      <th>MVR Eligible</th>
      <th>MVR Teams</th>
      <th>MVR Signed-Up Positions</th>
      <th>MVR Checkbox</th>
      <th>PVR Eligible</th>
      <th>PVR Teams</th>
      <th>PVR Signed-Up Positions</th>
      <th>PVR Checkbox</th>
    </tr>
    </thead>

    <tbody>
    {{#each this.people key="id" as |person|}}
      <tr>
        <td>
          <PersonLink @person={{person}} />
        </td>
        <td>{{person.status}}</td>
        <td class="text-center">{{yesno person.signed_motorpool_agreement}}</td>
        <td class="text-center">{{yesno person.org_vehicle_insurance}}</td>
        <td class="text-center">
          {{#if (or person.mvr_eligible person.mvr_teams person.mvr_positions)}}
            Y
          {{else}}
            N
          {{/if}}
        </td>
        <td>
          {{#each person.mvr_teams as |team|}}
            {{team.title}}<br>
          {{else}}
            -
          {{/each}}
        </td>
        <td>
          {{#each person.mvr_positions as |position|}}
            {{position.title}}<br>
          {{else}}
            -
          {{/each}}
        </td>
        <td class="text-center">{{yesno person.mvr_eligible}}</td>
        <td class="text-center">
          {{#if (or person.pvr_eligible person.pvr_teams person.pvr_positions)}}
            Y
          {{else}}
            N
          {{/if}}
        </td>
        <td>
          {{#each person.pvr_teams as |team|}}
            {{team.title}}<br>
          {{else}}
            -
          {{/each}}
        </td>
        <td>
          {{#each person.pvr_positions as |position|}}
            {{position.title}}<br>
          {{else}}
            -
          {{/each}}
        </td>
        <td class="text-center">{{yesno person.pvr_eligible}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan="8" class="text-danger">
          <b>No one was found to have signed the Motor Pool Protocol, has Org insurance, or is MVR eligible.</b>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
</div>