<h1>Motorpool Policy &amp; Motor Vehicle Record (MVR) Report</h1>
<p>
  This report will show who has signed the Motorpool Policy Agreement and/or who has a Motor Vehicle Record (MVR).
</p>
<p>
  <UiButton @onClick={{this.exportToCsv}}>Export to CSV</UiButton>
</p>
Showing {{pluralize this.people.length "person"}}
<table class="table table-striped table-hover table-width-auto">
  <thead>
  <tr>
    <th>Callsign</th>
    <th>Status</th>
    <th>{{this.year}} Motorpool</th>
    <th>{{this.year}} Motor Vehicle Record</th>
  </tr>
  </thead>

  <tbody>
  {{#each this.people key="id" as |person|}}
    <tr>
      <td>
        <PersonLink @person={{person}} />
      </td>
      <td>{{person.status}}</td>
      <td class="text-center">{{yesno person.signed_motorpool_agreement}}</td>
      <td class="text-center">{{yesno person.org_vehicle_insurance}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="4" class="text-danger">
        <b>No one was found to have signed the Motorpool Policy or has Org insurance.</b>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
