<YearSelect @title="Vehicle Registry" @year={{this.year}} @onChange={{action (mut this.year)}} />
<div class="row row-cols-lg-auto g-3 align-items-center">
  <FormLabel @auto={{true}}>Filter by Status</FormLabel>
  <div class="col-auto">
    <ChForm::Select @name="filter"
                    @value={{this.filter}}
                    @options={{this.filterOptions}}
                    @onChange={{action (mut this.filter)}} />
  </div>
  <FormLabel @auto={{true}}>Filter by type</FormLabel>
  <div class="col-auto">
    <ChForm::Select @name="filter"
                    @value={{this.typeFilter}}
                    @options={{this.filterTypeOptions}}
                    @onChange={{action (mut this.typeFilter)}} />
  </div>
  <FormLabel @auto={{true}}>Filter by rental, driving, or license #:</FormLabel>
  <div class="col-auto">
    <Input @type="text" @value={{this.numberFilter}} size="5" class="form-control ms-2"/>
  </div>
  <div class="col-auto">
    <UiButton @type="secondary" @size="sm" @onClick={{this.clearNumberFilterAction}}>
      Clear
    </UiButton>
  </div>
</div>

{{#if (has-role "admin")}}
  <div class="my-3">
    <UiButton @onClick={{this.newAction}}>New Vehicle</UiButton>
    <UiButton @type="secondary" @onClick={{this.exportToCSV}}>Export to CSV</UiButton>
  </div>
{{/if}}
Showing {{this.viewVehicles.length}} of {{pluralize this.person_vehicle.length "vehicle"}}
<table class="table table-sm table-striped table-hover table-width-auto">
  <thead>
  <tr>
    <th>Person/Team</th>
    <th>Status</th>
    <th>Vehicle Description</th>
    <th>Class</th>
    <th>Rental #</th>
    <th>Driving Sticker</th>
    <th>Driving #</th>
    <th>License</th>
    <th>Ranger Logo</th>
    <th>Fuel Chit</th>
    <th>Amber Light</th>
    <th>MVR</th>
    <th>Motorpool</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.viewVehicles as |vehicle|}}
    <tr>
      <td>
        {{#if vehicle.isPersonal}}
          <PersonLink @person={{vehicle.person}} />
        {{else if vehicle.team_assignment}}
          {{vehicle.team_assignment}}
        {{else}}
          <i>Fleet Vehicle</i>
        {{/if}}
      </td>
      <td>
        {{#if vehicle.isPersonal}}
          {{#if vehicle.isApproved}}
            <span class="text-success">{{fa-icon "check"}} approved</span>
          {{else if vehicle.isRejected}}
            <span class="text-danger">{{fa-icon "times"}} denied</span>
          {{else}}
            {{vehicle.status}}
          {{/if}}
        {{else}}
          -
        {{/if}}
      </td>
      <td>{{vehicle.vehicle_year}} {{vehicle.vehicle_make}} {{vehicle.vehicle_model}} {{vehicle.vehicle_color}}</td>
      <td>{{vehicle.vehicle_class}}</td>
      <td>
        <PresentOrNot @value={{vehicle.rental_number}} @empty="-"/>
      </td>
      <td>
        {{#if vehicle.isRejected}}
          -
        {{else}}
          {{get this.drivingStickerLabels vehicle.driving_sticker}}
        {{/if}}
      </td>
      <td>
        <PresentOrNot @value={{vehicle.sticker_number}} @empty="-"/>
      </td>
      <td>{{vehicle.license_state}}-{{vehicle.license_number}}</td>
      <td class="text-center">
        {{#if vehicle.isRejected}}
          -
        {{else}}
          {{get this.logoLabels vehicle.ranger_logo}}
        {{/if}}
      </td>
      <td class="text-center">
        {{#if vehicle.isRejected}}
          -
        {{else}}
          {{get this.fuelChitLabels vehicle.fuel_chit}}
        {{/if}}
      </td>
      <td class="text-center">
        {{#if vehicle.isRejected}}
          -
        {{else}}
          {{get this.amberLightLabels vehicle.amber_light}}
        {{/if}}
      </td>
      <td class="text-center">{{if vehicle.org_vehicle_insurance "MVR" "-"}}</td>
      <td class="text-center">{{if vehicle.signed_motorpool_agreement "Motorpool" "-"}}</td>
      <td>
        <UiButton @type="secondary" @size="sm" @onClick={{fn this.editAction vehicle}}>
          {{fa-icon "edit"}} Edit
        </UiButton>
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="14">
        <b class="text-danger">
          {{#if this.person_vehicle}}
            No {{this.year}} vehicles matched the criteria.
          {{else}}
            No {{this.year}} vehicles were found.
          {{/if}}
        </b>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{#if this.entry}}
  <ModalDialog @title="{{if this.entry.isNew "Create" "Update"}} Personal Vehicle"
               @onEscape={{this.cancelAction}} as |Modal|>
    <ChForm @formId="vehicle"
            @formFor={{this.entry}}
            @validator={{this.vehicleValidations}}
            @onSubmit={{this.saveAction}} as |f|>
      <Modal.body>
        {{#if (has-role "admin")}}
          <fieldset class="mt-2">
            <legend>Vehicle Record Type &amp; Assignment</legend>
            <FormRow>
              <div class="col-auto">
                <FormLabel>Type</FormLabel>
                <div class="mt-2">
                  <f.radioGroup @name="type"
                                @options={{this.typeOptions}}
                                @inline={{true}}/>
                </div>
              </div>
              <f.text @name="event_year"
                      @label="Event Year"
                      @size={{4}}
                      @fieldSize="sm"
              />
              {{#if (eq f.model.type "personal")}}
                <f.search @name="callsign"
                          @label="Personal Vehicle Owner"
                          @controlClass="form-control form-control-sm autocomplete-input"
                          @onSearch={{this.searchCallsignAction}}
                />
              {{else}}
                <f.text
                  @name="team_assignment"
                  @label="Team Assignment"
                  @size={{10}}
                  @fieldSize="sm"/>
              {{/if}}
            </FormRow>
          </fieldset>
          <fieldset>
            <legend>Vehicle Description &amp; Licensing</legend>
            <FormRow>
              <f.select @name="vehicle_class"
                        @label="Class"
                        @options={{this.vehicleClassOptions}}
                        @fieldSize="sm"/>
            </FormRow>
            <FormRow>
              <f.text @name="vehicle_year"
                      @label="Year"
                      @size={{4}}
                      @maxlength={{4}}
                      @fieldSize="sm"/>
              <f.text @name="vehicle_make"
                      @label="Make"
                      @size={{15}}
                      @fieldSize="sm"
                      @hint="e.g., Ford, GMC, Toyota, etc."/>
              <f.text @name="vehicle_model" @label="Model"
                      @hint="e.g., F-350, Tacoma, etc."
                      @size={{15}}
                      @fieldSize="sm"/>
              <f.text @name="vehicle_color"
                      @label="Color"
                      @size={{15}}
                      @fieldSize="sm"/>
            </FormRow>
            <FormRow>
              <f.text @name="rental_number"
                      @label="Rental #"
                      @fieldSize="sm"
                      @disabled={{eq f.model.type "personal"}}
              />
              <f.text @name="sticker_number"
                      @label="Driving Sticker #"
                      @size={{10}}
                      @fieldSize="sm"
              />
              <f.select @name="license_state"
                        @label="License State/Province"
                        @options={{this.stateOptions}}
                        @fieldSize="sm"
              />
              <f.text @name="license_number"
                      @label="License Plate #"
                      @size={{10}}
                      @fieldSize="sm"/>
            </FormRow>
          </fieldset>
          <fieldset>
            <legend>Personal Vehicle Use Items (Stickers &amp; Other Items)</legend>
            <FormRow>
              <f.radioGroup @name="driving_sticker"
                            @label="Driving Sticker"
                            @fixedLabel={{true}}
                            @options={{this.drivingStickerOptions}}
                            @inline={{true}}/>
            </FormRow>
            <FormRow>
              <f.radioGroup @name="ranger_logo"
                            @label="Ranger Logo"
                            @fixedLabel={{true}}
                            @options={{this.rangerLogoOptions}}
                            @inline={{true}}/>
            </FormRow>
            <FormRow>
              <f.radioGroup @name="fuel_chit"
                            @label="Fuel Chit"
                            @fixedLabel={{true}}
                            @options={{this.fuelChitOptions}}
                            @inline={{true}}/>
            </FormRow>
            <FormRow>
              <f.radioGroup @name="amber_light"
                            @label="Amber Light"
                            @fixedLabel={{true}}
                            @options={{this.amberLightOptions}}
                            @inline={{true}}/>
            </FormRow>
          </fieldset>
          <fieldset class="mt-2">
            <legend>Notes &amp; Status</legend>
            <FormRow>
              <f.textarea @name="notes"
                          @label="Private Notes"
                          @rows={{2}}
                          @cols={{80}}
              />
            </FormRow>
            <FormRow>
              <f.textarea @name="request_comment"
                          @label="Comment from person (only used for personal vehicles)"
                          @rows={{2}}
                          @cols={{80}}
                          @disabled={{not-eq f.model.type "personal"}}/>
            </FormRow>
            <FormRow>
              <f.textarea @name="response"
                          @label="Response to person (only used for personal vehicles)"
                          @rows={{2}}
                          @cols={{80}}
                          @disabled={{not-eq f.model.type "personal"}}/>
            </FormRow>
            <FormRow>
              <f.radioGroup @name="status"
                            @label="Request Status"
                            @options={{this.statusOptions}}
                            @inline={{true}} />
            </FormRow>
          </fieldset>
        {{else}}
          <h3 class="ms-2">
            {{this.entry.person.callsign}}
            - {{this.entry.vehicle_year}} {{this.entry.vehicle_make}} {{this.entry.vehicle_model}} {{this.entry.vehicle_color}}
            Lic #{{this.entry.license_number}}
          </h3>
          <p class="ms-2">
            {{#if this.entry.isApproved}}
              <b class="text-success"> {{fa-icon "check"}} Request has been approved for the following items:</b>
            {{else if this.entry.isRejected}}
              <b class="text-danger">{{fa-icon "exclamation-triangle"}} Request has been denied. DO NOT ISSUE ANY
                STICKERS/ITEMS.</b>
            {{else}}
              <b class="text-danger">{{fa-icon "exclamation"}} Vehicle request is pending review. Wait for approval
                before issuing items.</b>
            {{/if}}
          </p>
          {{#unless this.entry.isRejected}}
            <p class="ms-2">
              <b>Driving sticker:</b>
              {{#if (eq this.entry.ranger_logo "none")}}
                <i>none</i>
              {{else}}
                {{get this.drivingStickerLabels this.entry.driving_sticker}}
              {{/if}}<br>

              <b>Ranger logo decal:</b>
              {{#if (eq this.entry.ranger_logo "none")}}
                <i>none</i>
              {{else}}
                {{get this.logoLabels this.entry.ranger_logo}}
              {{/if}}<br>

              <b>Fuel chit:</b>
              {{#if (eq this.entry.fuel_chit "none")}}
                <i>none</i>
              {{else}}
                {{get this.fuelChitLabels this.entry.fuel_chit}}
              {{/if}}<br>
              <b>Amber light:</b>
              {{#if (eq this.entry.amber_light "none")}}
                <i>none</i>
              {{else}}
                {{get this.amberLightLabels this.entry.amber_light}}
              {{/if}}
            </p>
          {{/unless}}
          {{#if this.entry.response}}
            <div class="border p-1 ms-2">
              <b>Response from Approver</b><br>
              {{this.entry.response}}
            </div>
          {{/if}}

          {{#if (and this.entry.isApproved (not-eq this.entry.driving_sticker "none"))}}
            <FormRow>
              <f.text @name="sticker_number"
                      @label="Enter Driving Sticker #"
                      @size={{10}}
                      @autofocus={{true}}/>
            </FormRow>
          {{/if}}
        {{/if}}

      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label={{if this.entry.isNew "Create" "Update"}} @disabled={{this.entry.isSaving}} />
        <UiCancelButton @disabled={{this.entry.isSaving}} @onClick={{this.cancelAction}} />
        {{#if this.entry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
        {{#if (and (has-role "admin") (not this.entry.isNew))}}
          <UiButton @type="danger" @class="ms-auto" @onClick={{fn this.deleteAction this.entry}}>
            {{fa-icon "trash"}} Delete
          </UiButton>
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}