<h1>{{this.year}} Motorpool Policy &amp; Motor Vehicle Record (MVR) Report</h1>
<p>
  This report will show who has signed the Motorpool Policy Agreement, who has a Motor Vehicle Record (MVR), or who
  is MVR eligible.
</p>
<p>
  <UiButton @onClick={{this.exportToCsv}}>Export to CSV</UiButton>
</p>
Showing {{pluralize this.people.length "person"}}
<UiTable>
  <thead>
  <tr>
    <th>Callsign</th>
    <th>Status</th>
    <th>Motorpool Signed</th>
    <th>MVR Approved</th>
    <th>MVR Eligible</th>
    <th>MVR Teams</th>
    <th>MVR Positions</th>
    <th>MVR Checkbox</th>
  </tr>
  </thead>

  <tbody>
  {{#each this.people key="id" as |person|}}
    <tr>
      <td>
        <PersonLink @person={{person}} />
      </td>
      <td>{{person.status}}</td>
      <td class="text-center">{{yesno person.signed_motorpool_agreement}}</td>
      <td class="text-center">{{yesno person.org_vehicle_insurance}}</td>
      <td class="text-center">
        {{#if (or person.mvr_eligible person.mvr_teams person.mvr_positions)}}
          Y
        {{else}}
          N
        {{/if}}
      </td>
      <td>
        {{#each person.mvr_teams as |team|}}
          {{team.title}}<br>
        {{else}}
          -
        {{/each}}
      </td>
      <td>
        {{#each person.mvr_positions as |position|}}
          {{position.title}}<br>
        {{else}}
          -
        {{/each}}
      </td>
      <td class="text-center">{{yesno person.mvr_eligible}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="8" class="text-danger">
        <b>No one was found to have signed the Motorpool Policy, has Org insurance, or is MVR eligible.</b>
      </td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>
