<YearSelect @title="Asset Search" @year={{this.year}} @onChange={{action (mut this.year)}} />

<ChForm @formId="search-form"
        @formFor={{this.assetForm}}
        @validator={{this.searchValidations}}
        @onSubmit={{this.searchAction}}
        @formClass="mt-2"
        as |f|>
  <FormRow>
    <f.text
      @name="barcode"
      @label="Enter the asset barcode:"
      @inline={{true}}
      @size={{30}}/>
    <div class="col-auto">
      <f.submit @label="Search"/>
    </div>
  </FormRow>
</ChForm>

{{#if this.barcodeNotFound}}
  <div class="text-danger mt-2">
    <strong>Barcode "{{this.barcode}}" for the year {{this.year}} was not found.</strong>
  </div>
{{else if this.asset}}
  {{#if this.checkedOut}}
    <h3 class="text-danger">
      Asset is checked out by
      <LinkTo @route="person.assets" @model={{this.checkedOut.person.id}}>{{this.checkedOut.person.callsign}}</LinkTo>
    </h3>
  {{/if}}
  <h3 class="mt-3">
    Asset {{this.asset.barcode}}
    ({{if this.asset.perm_assign "permanent" "temporary"}})
    {{this.asset.type}} {{this.asset.description}}
  </h3>
  <UiSection>
    <:title>Checkout History</:title>
    <:body>
      <UiTable class="mt-4">
        <thead>
        <tr>
          <th>Person</th>
          <th>Attachment</th>
          <th>Checked Out Time /<br>By Person</th>
          <th>Checked In Time /<br>By Person</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.asset.asset_history as |row|}}
          <tr>
            <td>
              <LinkTo @route="person.assets" @model={{row.person.id}}>{{row.person.callsign}}</LinkTo>
            </td>
            <td>
              <PresentOrNot @value={{row.attachment.description}} @empty="-"/>
            </td>
            <td>
              {{shift-format row.checked_out}}<br>
              {{#if row.check_out_person}}
                <PersonLink @person={{row.check_out_person}} />
              {{else}}
                -
              {{/if}}
            </td>
            <td>
              {{#if row.checked_in}}
                {{shift-format row.checked_in}}<br>
                {{#if row.check_in_person}}
                  <PersonLink @person={{row.check_in_person}} />
                {{else}}
                  -
                {{/if}}
              {{else}}
                <UiButton @type="primary" @size="sm" @onClick={{fn this.checkIn row}} @disabled={{row.isSaving}}>
                  Check In
                </UiButton>
                {{#if row.isSaving}}
                  <LoadingIndicator/>
                {{/if}}
              {{/if}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="4"><b class="text-danger">Asset #{{this.asset.barcode}} has not been checked out yet.</b></td>
          </tr>
        {{/each}}
        </tbody>
      </UiTable>
    </:body>
  </UiSection>
  <UiSection>
    <:title>Detailed Asset Information</:title>
    <:body>
      <UiTable class="mt-4">
        <thead>
        <tr>
          <th>Event Year</th>
          <th>Created</th>
          <th>Category</th>
          <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{this.asset.year}}</td>
          <td>
            <PresentOrNot @value={{this.asset.category}} @empty="-"/>
          </td>
          <td>
            <PresentOrNot @value={{this.asset.notes}} @empty="-"/>
          </td>
          <td>{{this.asset.created_at}}</td>
        </tr>
        </tbody>
      </UiTable>
    </:body>
  </UiSection>
{{/if}}
