<h1>Language Search</h1>

<ChForm @formId="search" @formFor={{this.searchForm}} @changeSet={{false}}
        @onSubmit={{this.submit}} as |f|>
  <FormRow>
    <label class="col-auto">Quick Search:</label>
    <a href class="col-auto" {{action this.setLanguage "spanish"}}>Spanish</a>
    <a href class="col-auto" {{action this.setLanguage "chinese"}}>Chinese</a>
    <a href class="col-auto" {{action this.setLanguage "dutch"}}>Dutch</a>
    <a href class="col-auto" {{action this.setLanguage "french"}}>French</a>
    <a href class="col-auto" {{action this.setLanguage "german"}}>German</a>
    <a href class="col-auto" {{action this.setLanguage "hebrew"}}>Hebrew</a>
    <a href class="col-auto" {{action this.setLanguage "italian"}}>Italian</a>
    <a href class="col-auto" {{action this.setLanguage "russian"}}>Russian</a>
  </FormRow>
  <FormRow>
    <f.text @label="Enter a language to search for:"
            @name="language"
            @size={{50}}
            @maxlength={{50}}
            @autofocus={{true}}
            @onChange={{this.languageUpdate}}
    />
  </FormRow>
  <FormRow>
    <div class="col-auto">
      <f.checkbox @name="offSite"
                  @value={{1}}
                  @label="Include off site"
                  @onChange={{this.onSiteUpdate}}
      />
    </div>
  </FormRow>
</ChForm>
<hr>
{{#if this.isLoading}}
  <LoadingPane @item="languages"/>
{{else}}
  <LanguageSpeakerTable @name="On Duty Rangers"
                        @speakers={{this.onDuty.length}}
                        @group={{this.onDutyGroup}}
                        @searchLanguage={{this.searchLanguage}}
  />
  <LanguageSpeakerTable @name="Rangers With Radios"
                        @speakers={{this.hasRadio.length}}
                        @group={{this.hasRadioGroup}}
                        @searchLanguage={{this.searchLanguage}}
  />
  <LanguageSpeakerTable @name="Off Duty Rangers"
                        @speakers={{this.offDuty.length}}
                        @group={{this.offDutyGroup}}
                        @searchLanguage={{this.searchLanguage}}
  />
{{/if}}