<h1>Language Search</h1>

<ChForm @formId="search"
        @formFor={{this.searchForm}}
        @changeSet={{false}}
        @onSubmit={{this.submit}} as |f|>
  <div>Quick Search:</div>
  <div class="masonry-container masonry-col-6 my-2">
    {{#each this.commonLanguages as |name|}}
      <a href class="small masonry-item" {{on-click this.setLanguage name}}>
        {{name}}
      </a>
    {{/each}}
  </div>
  <FormRow>
    <f.text @label="Enter a language to search for:"
            @name="language"
            @size={{50}}
            @maxlength={{50}}
            @autofocus={{true}}
            @onChange={{this.languageUpdate}}
    />
  </FormRow>
  <FormRow>
    <div class="col-auto">
      <f.checkbox @name="offSite"
                  @value={{1}}
                  @label="Include off site"
                  @onChange={{this.onSiteUpdate}}
      />
    </div>
  </FormRow>
</ChForm>
<hr>
{{#if this.isLoading}}
  <LoadingPane @item="languages"/>
{{else}}
  <h3 class="mb-4">
    Reporting on Rangers who are
    <span class="text-danger">{{if this.searchingOffSite "ON and OFF SITE" "ON SITE ONLY"}}</span>
  </h3>
  <LanguageSpeakerTable @name="On Duty Rangers"
                        @speakers={{this.onDuty.length}}
                        @group={{this.onDutyGroup}}
                        @searchLanguage={{this.searchLanguage}}
                        @isOnDuty={{true}}
  />
  <LanguageSpeakerTable @name="Rangers With Radios"
                        @speakers={{this.hasRadio.length}}
                        @group={{this.hasRadioGroup}}
                        @searchLanguage={{this.searchLanguage}}
  />
  <LanguageSpeakerTable @name="Off Duty Rangers"
                        @speakers={{this.offDuty.length}}
                        @group={{this.offDutyGroup}}
                        @searchLanguage={{this.searchLanguage}}
  />
{{/if}}