
{{#if ticketPackage.event_tickets}}
    We have the following {{if (eq ticketPackage.event_tickets.length 1) "ticket" "tickets"}} for you:
  <ul>
    {{#each ticketPackage.event_tickets as |ticket|}}
      <li>A {{if (eq ticket.type "staff_credentials") "Staff Credential" "Reduced Price Ticket"}} earned for {{ticket.source_year}} and expiring after {{mdy-format ticket.expiry_date}}.</li>
    {{/each}}
  </ul>

  <p class="h2">
    What happens next?
  </p>
  <p>
    In a few weeks, the ticketing window will be opened and you be able to claim your event ticket. There is nothing to do at this time.
  </p>
{{else if (or person.isAlpha person.isProspective)}}

{{else}}
  <p><b>Sorry, but it doesn't look like you qualified for a Staff Credential or Reduced-Price Ticket.</b></p>
  The thresholds for qualifying for a {{ticketPackage.current_year}} Staff Credential or Reduced-Price Ticket
  in {{ticketPackage.past_year}} based on your volunteer credits were: {{credits-format ticketPackage.rpt_credits}}
  credits for a Reduced-Price Ticket and {{credits-format ticketPackage.sc_credits}}
  credits for a Staff Credential.
{{/if}}

<p class="h2">Where are the Vehicle and Work Access Passes?</p>
Vehicle passes, and WAPs will be made available in the coming months.
An announcement will be made in June or July on when you will be able to claim
the passes.

<p class="h2">Is something not right?</p>
Are you missing a ticket, is the ticket type wrong, or just have a question?
The Ranger ticketing team can answer your questions - {{mail-to ticketPackage.ranger_ticketing_email}}
Please be sure to tell us your real-world name, your Ranger callsign,
and what you think the issue is.
