<YearSelect @title={{if this.failed "Ranger Failed Broadcast Log" "Ranger Broadcast Log"}} @year={{this.year}}
            @onChange={{action (mut this.year)}} />
<p>
  <LinkTo @route="admin.rbs">Back to RBS</LinkTo>
</p>
<table class="table table-striped table-hover table-sm table-width-auto">
  <caption>{{pluralize this.logs.length "log"}}</caption>
  <thead>
  <tr>
    <th>#</th>
    <th>Timestamp</th>
    <th>Sender</th>
    <th>Alert</th>
    <th class="text-end">People</th>
    <th>Delivery</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  {{#each this.logs as |log|}}
    <tr class="{{if (or log.sms_failed log.email_failed) "bg-highlight"}}">
      <td>{{log.id}}</td>
      <td>{{log.created_at}}</td>
      <td><PersonLink @person={{log.sender}} /></td>
      <td>{{if log.alert.on_playa "On Playa" "Pre-Event"}}: {{log.alert.title}}</td>
      <td class="text-end">{{log.people.length}}</td>
      <td>
        {{#if log.sent_sms}}SMS{{else}}&nbsp;{{/if}}
        {{#if log.sent_email}}email{{else}}&nbsp;{{/if}}
        {{#if log.sent_clubhouse}}CH{{/if}}
      </td>
      <td>
        <UiButton @type="secondary" @size="sm" @onClick={{fn this.toggleMessage log}}>Message</UiButton>
        <UiButton @type="secondary" @size="sm" @onClick={{fn this.toggleRecipients log}}>Recipients</UiButton>
        {{#if (or log.sms_failed log.email_failed)}}
          <UiButton @type="danger" @size="sm" @onClick={{fn this.retryAction log}}>Retry</UiButton>
        {{/if}}
      </td>
    </tr>
    {{#if (or log.retry_at log.sms_failed log.email_failed)}}
      <tr class="no-border">
        <td>&nbsp;</td>
        <td colspan="2" class="actions">
          {{#if log.retry_at}}
            Retry at {{log.retry_at}} by
            <PersonLink @person={{log.retry_person}} />
          {{else}}
            &nbsp;
          {{/if}}
        </td>
        <td colspan="4">
          {{#if (or log.sms_failed log.email_failed)}}
            {{#if log.sms_failed}}
              SMS fail: {{log.sms_failed}}
            {{/if}}
            {{#if log.email_failed}}
              Email fail: {{log.email_failed}}
            {{/if}}
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
    {{/if}}

    {{#if log.showMessage}}
      <tr class="no-border">
        <td colspan="7">
          {{#if log.sent_sms}}
            <p>
              <b>SMS:</b><br>
              {{log.sms_message}}
            </p>
          {{/if}}
          {{#if (or log.sent_email log.sent_clubhouse)}}
            <p>
              {{#if log.sender_address}}
                From: {{log.sender_address}}<br>
              {{/if}}
              <strong>Subject: {{log.subject}}</strong><br>
              {{nl2br log.email_message}}
            </p>
          {{/if}}
        </td>
      </tr>
    {{/if}}

    {{#if log.showRecipients}}
      <tr>
        <td colspan="7">
          Broadcast count {{log.people.length}}
          <table>
            <thead>
            <th>Callsign</th>
            <th>Name</th>
            <th>SMS</th>
            <th>Email</th>
            <th>Clubhouse</th>
            </thead>
            <tbody>
            {{#each log.people as |person|}}
              <tr>
                <td>{{person.callsign}}</td>
                <td>{{person.first_name}} {{person.last_name}}</td>
                <td>
                  <PresentOrNot @value={{person.sms.status}} @empty="-"/>
                </td>
                <td>
                  <PresentOrNot @value={{person.email.status}} @empty="-"/>
                </td>
                <td>
                  <PresentOrNot @value={{person.clubhouse.status}} @empty="-"/>
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </td>
      </tr>
    {{/if}}
  {{/each}}
  </tbody>
</table>

{{#if this.confirmRetry}}
  <ModalDialog @title="Retry Broadcast" @onEscape={{this.closeRetry}} as |modal|>
    <modal.body>
      <p>
        <b>ID:</b> #{{this.confirmRetry.id}}<br>
        <b>Created:</b> {{this.confirmRetry.created_at}}<br>
        <b>Sender:</b> {{this.confirmRetry.sender.callsign}}<br>
        <b>Alert:</b> {{if this.confirmRetry.alert.on_playa "On Playa" "Pre-Event"}}: {{this.confirmRetry.alert.title}}
        <br>
        <b>SMS Fail:</b> {{this.confirmRetry.sms_failed}}<br>
        <b>Email Fail:</b> {{this.confirmRetry.email_failed}}
      </p>
      <p>
        Are you sure you want to retry this broadcast?
      </p>
    </modal.body>
    <modal.footer>
      <UiCancelButton @onClick={{this.closeRetry}} />
      <UiButton @onClick={{this.attemptRetry}}>Confirm Retry</UiButton>
    </modal.footer>
  </ModalDialog>
{{else if this.retryingBroadcast}}
  <LoadingDialog>
    Retrying broadcast
  </LoadingDialog>
{{else if this.retryResult}}
  <ModalDialog @title="Retry Results" @onEscape={{this.closeRetry}} as |modal|>
    <modal.body>
      <BroadcastSentTable @result={{this.retryResult}} />
    </modal.body>
    <modal.footer>
      <UiCloseButton @onClick={{this.closeRetry}} />
    </modal.footer>
  </ModalDialog>
{{/if}}
