<YearSelect @title="RBS Message Log" @year={{this.year}} @onChange={{this.changeYearAction}} />
<p>
  <LinkTo @route="admin.rbs">Back to RBS</LinkTo>
</p>

<ChForm @formId="search" @formFor={{this.searchForm}} @changeSet={{false}} @onSubmit={{this.submitAction}} as |f|>
  <div class="row form-group">
    <label class="col-form-label">Message direction</label>
    <f.input @name="direction"@type="select" @options={{this.directionOptions}} @wrapClass="col-auto" />
  </div>
  <div class="row form-group">
    <label class="col-auto">Status</label>
    <f.input @name="status" @cols=4 @type="checkboxGroup" @options={{this.statusOptions}} @inline={{true}} />
  </div>
  <div class="form-row mt-2">
    <f.submit @label="Search" />
  </div>
</ChForm>

<table class="table table-sm table-striped mt-2">
  <caption>Showing {{this.currentPage}} of {{this.total_pages}} pages. {{pluralize this.total "row"}}</caption>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Person</th>
      <th>Status</th>
      <th>Direction</th>
      <th>Address</th>
      <th>Broadcast</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.messages as |message|}}
      <tr>
        <td>{{message.created_at}}</td>
        <td><PersonLink @person={{message.person}} /></td>
        <td>{{message.status}}</td>
        <td>{{message.direction}}</td>
        <td>{{message.address}}</td>
        <td><PresentOrNot @value={{message.broadcast_id}} @empty="-" /></td>
      </tr>
      {{#if (or (eq message.direction "inbound") (eq message.status "reply"))}}
        <tr class="no-border">
          <td colspan="6">
            {{#if message.message}}
              {{nl2br message.message}}
            {{else}}
              <i>empty message</i>
            {{/if}}
          </td>
        </tr>
      {{/if}}
    {{else}}
    <tr>
      <td colspan="6">
        <b class="text-danger">No message logs matched critiera.</b>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<button type="button" class="btn btn-secondary" {{action this.goPrevPage}} disabled={{eq this.currentPage 1}}>Prev Page</button>
<button type="button" class="btn btn-secondary" {{action this.goNextPage}} disabled={{eq this.currentPage this.total_pages}}>Next Page</button>
