<h1>RBS - Unverified &amp; Stopped Phone Numbers</h1>
<p>
  {{#link-to "admin.rbs"}}Back to the RBS{{/link-to}}
</p>
<p>
  The report shows which numbers have not been verified. The stopped table are those phone numbers which a stop command was issued by the owner.
</p>
<table class="table table-sm table-striped">
  <caption>{{pluralize unverified.length "unverified phone"}}</caption>
  <thead>
    <tr>
      <th>Callsign</th>
      <th>Status</th>
      <th>On Playa</th>
      <th>Pre-Event</th>
    </tr>
  </thead>
  <tbody>
    {{#each unverified as |person|}}
      <tr>
        <td>{{person-link person=person}}</td>
        <td>{{person.status}}</td>
        <td>
          {{#if (and person.sms_on_playa  (not person.sms_on_playa_verified))}}
            {{person.sms_on_playa}}
          {{else}}
            -
          {{/if}}
        </td>
        <td>
          {{#if (and person.sms_off_playa  (not person.sms_off_playa_verified))}}
            {{person.sms_off_playa}}
          {{else}}
            -
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<table class="table table-sm table-striped mt-2">
  <caption>{{pluralize stopped.length "stopped phone"}}</caption>
  <thead>
    <tr>
      <th>Callsign</th>
      <th>Status</th>
      <th>On Playa</th>
      <th>Pre-Event</th>
    </tr>
  </thead>
  <tbody>
    {{#each stopped as |person|}}
      <tr>
        <td>{{person-link person=person}}</td>
        <td>{{person.status}}</td>
        <td>{{#if (and person.sms_on_playa person.sms_on_playa_verified person.sms_on_playa_stopped)}}
            {{person.sms_on_playa}}
          {{else}}
            -
          {{/if}}
        </td>
        <td>{{#if (and person.sms_off_playa person.sms_on_playa_verified person.sms_on_playa_stopped)}}
            {{person.sms_off_playa}}
          {{else}}
            -
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
