<main>
  <h1>Salesforce Application Import</h1>
  <p>
    Use this interface to create Clubhouse Prospective accounts from approved applications.
  </p>
  <div class="my-4">
    <UiButton @onClick={{this.previewApplications}} @type="secondary">Preview Applications</UiButton>
    <UiButton @onClick={{this.importApplications}}>Import Applications</UiButton>
  </div>

  {{#if this.hasResults}}
    {{#if this.apiError}}
      <UiNotice @type="danger">
        <p>
          A general Salesforce API error occurred while processing the applications. Some records may have been imported
          -- double check below. Error:
        </p>
        {{this.apiError}}
      </UiNotice>
    {{/if}}
    <div class="mb-4">
      {{#if this.commited}}
        {{pluralize this.newApplications.length "application"}} successfully imported into the Clubhouse.<br>
      {{else}}
        {{pluralize this.newApplications.length "new application"}} found.<br>
      {{/if}}
      {{#if this.createFailures}}
        <div class="text-danger">{{pluralize this.createFailures.length "Clubhouse application"}} could not be created.</div>
      {{else if this.commited}}
        <div class="text-success">
          {{fa-icon "check" right=1}} All new applications found without query or validation errors were successfully
          imported.
        </div>
      {{/if}}
      {{pluralize this.existingApplications.length "existing application"}} found.<br>
      {{#if this.queryFailures}}
        <div class="text-danger">{{pluralize this.queryFailures.length "Salesforce application"}} could not be queried.</div>
      {{else}}
        <div class="text-success">{{fa-icon "check" right=1}} All Salesforce applications could be queried.</div>
      {{/if}}
    </div>

    <Vc::ApplicationFailedTable @records={{this.queryFailures}}>
      <:title>Salesforce Query Failures</:title>
      <:header>
        The following Salesforce application records could not be queried. Contact BMIT to
        resolve the permission issues with the ranger-tech-cadre account, or the permission issues on
        the individual Salesforce application records.
      </:header>
    </Vc::ApplicationFailedTable>

    <Vc::ApplicationFailedTable @records={{this.createFailures}}>
      <:title>Clubhouse Application Creation Failure</:title>
      <:header>
        The following Clubhouse application records could not be created. Contact the Ranger Tech Cadre for help.
      </:header>
    </Vc::ApplicationFailedTable>

    <UiSection>
      <:title>{{if this.commited "Imported" "Found"}} Applications</:title>
      <:body>
        {{#if this.newApplications}}
          <Vc::ApplicationImportTable @applications={{this.newApplications}} @committed={{this.commit}} />
        {{else}}
          No new applications were found.
        {{/if}}
      </:body>
    </UiSection>

    <UiSection>
      <:title>Existing Applications</:title>
      <:body>
        {{#if this.existingApplications}}
          <p>
            The following applications already exist within the Clubhouse.
          </p>
          <Vc::ApplicationImportTable @applications={{this.existingApplications}} @committed={{this.commit}} />
        {{else}}
          No current Salesforce applications were found that already exist within the Clubhouse.
        {{/if}}
      </:body>
    </UiSection>
  {{/if}}
</main>

{{#if this.isSubmitting}}
  <LoadingDialog>Retrieving the applications</LoadingDialog>
{{/if}}