<main>
  <YearSelect @title="Manage BMIDs"
              @year={{this.year}}
              @onChange={{set-value this 'year'}}
              @minYear={{2017}}
  />
  {{#if this.notCurrentYear}}
    <UiAlert @type="warning">
      {{fa-icon "hand" right=1}} Warning: you are viewing a previous year.
    </UiAlert>
  {{/if}}

  <div class="my-2">
    Navigation:
    <LinkTo @route="vc.bmid-sanity-check" class="ms-2">
      {{fa-icon "user-check"}} Sanity Check
    </LinkTo>
    <LinkTo @route="vc.bmid-print" class="ms-2">
      {{fa-icon "print"}} Export To Marcato
    </LinkTo>
  </div>
  <FormRow>
    <div class="col-auto">
      <label>Filter:</label>
      <ChForm::Select @name="filter" @value={{this.filter}}
                      @options={{this.filterOptions}}
                      @onChange={{fn this.changeFilter 'filter'}}
                      @fieldSize="sm"/>
    </div>
    <div class="col-auto">
      <label>Title Filter:</label>
      <ChForm::Select @name="titleFilter"
                      @value={{this.titleFilter}}
                      @options={{this.titleFilterOptions}}
                      @onChange={{fn this.changeFilter 'titleFilter'}}
                      @fieldSize="sm"/>
    </div>
    <div class="col-auto">
      <label>Team Filter:</label>
      <ChForm::Select @name="teamFilter"
                      @value={{this.teamFilter}}
                      @options={{this.teamFilterOptions}}
                      @onChange={{fn this.changeFilter 'teamFilter'}}
                      @fieldSize="sm"/>

    </div>
    <div class="col-auto">
      <label>Want Filter:</label>
      <ChForm::Select @name="wantFilter"
                      @value={{this.wantsFilter}}
                      @options={{this.wantFilterOptions}}
                      @onChange={{fn this.changeFilter 'wantFilter'}}
                      @fieldSize="sm"/>

    </div>
    <div class="col-auto">
      <label>Qualified To Print Filter:</label>
      <ChForm::Select @name="qualifiedFilter"
                      @value={{this.qualifiedFilter}}
                      @options={{this.qualifiedFilterOptions}}
                      @onChange={{fn this.changeFilter 'qualifiedFilter'}}
                      @fieldSize="sm"/>

    </div>
  </FormRow>
  <FormRow>
    <FormLabel @auto={{true}}>Callsign, title, team, notes filter:</FormLabel>
    <div class="col-auto">
      <Input @type="text"
             @value={{this.textFilterInput}}
             class="form-control form-control-sm ms-2"
             @enter={{this.textFilterAction}}  />
      <div class="text-muted small">Regular Expression allowed</div>
    </div>
    <div class="col-auto">
      <UiButtonRow>
        <UiButton @size="sm" @onClick={{this.textFilterAction}}>
          Filter
        </UiButton>
        <UiButton @type="secondary" @size="sm" @onClick={{this.clearTextFilterAction}}>
          Clear
        </UiButton>
      </UiButtonRow>
    </div>

    <div class="col-auto">
      <UiButtonRow>
        <UiButton @type="secondary" @size="sm" @onClick={{this.toggleEditMode}}>
          {{#if this.editMode}}{{fa-icon "table"}} Table View{{else}}{{fa-icon "edit"}} Edit Mode{{/if}}
        </UiButton>
        <UiButton @type="secondary" @size="sm" @onClick={{this.exportCSV}}>
          {{fa-icon "file-export"}} Export CSV
        </UiButton>
      </UiButtonRow>
    </div>
    {{#if this.textFilterError}}
      <div class="text-danger col-12">{{this.textFilterError}}</div>
    {{/if}}
  </FormRow>

  <p>
    Meals and showers are a union of what is explicitly set on the BMID, allocated provisions, and non-banked
    earned provisions.
  </p>

  <p>
    <span class="d-inline-block">{{fa-icon "exclamation-circle" color="danger"}} = indicates person has not a claimed
      a ticket or SAP, nor signed up for an In-Person Training.</span>
    <span class="d-inline-block">{{fa-icon "eye" color="danger"}} = person does not have an approved photo</span>
    <span class="d-inline-block"><EarnedProvisionIcon/> = is earned provision which will be used.</span>
    <span class="d-inline-block"><AllocatedProvisionIcon/> = is allocated provision which will be used.</span>
    <span class="d-inline-block"><SetProvisionIcon/>= explicitly set provision</span>
  </p>

  {{#if this.hasUnqualifiedToPrint}}
    <UiAlert @type="warning" @icon="hand-point-right">
      One or more BMIDs do not meet the printing qualifications (no ticket/SAP claimed, nor has an In-Person Training
      sign-up),
      and has the status "Prep".
    </UiAlert>
  {{/if}}
  Showing {{this.viewBmids.length}} of {{this.bmids.length}}
  {{#unless this.isRendering}}
    {{#if this.textFilter}}
      <span class="ms-2 font-weight-bold">Text filtering by "{{this.textFilter}}"</span>
    {{/if}}
    {{#if this.unsaveRows}}<span class="ms-4 text-danger">UNSAVED {{pluralize this.unsaveRows "record"}}</span>{{/if}}
  {{/unless}}

  <UiTable>
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>{{#if (eq this.sortColumn "callsign")}}[Callsign]{{else}}
        <a href {{on-click this.sortBmidsAction "callsign"}}>Callsign</a>{{/if}}</th>
      {{#unless this.editMode}}
        <th>Action</th>
      {{/unless}}
      <th>{{#if (eq this.sortColumn "status")}}[Status]{{else}}
        <a href {{on-click this.sortBmidsAction "status"}}>Status</a>{{/if}}</th>
      <th class="w-10">{{#if (eq this.sortColumn "title1")}}[Title 1]{{else}}
        <a href {{on-click this.sortBmidsAction "title1"}}>Title 1</a>{{/if}}</th>
      <th class="w-10">{{#if (eq this.sortColumn "title2")}}[Title 2]{{else}}
        <a href {{on-click this.sortBmidsAction "title2"}}>Title 2</a>{{/if}}</th>
      <th class="w-10">{{#if (eq this.sortColumn "title3")}}[Title 3]{{else}}
        <a href {{on-click this.sortBmidsAction "title3"}}>Title 3</a>{{/if}}</th>
      <th>{{#if (eq this.sortColumn "mvr")}}[MVR]{{else}}<a href {{on-click this.sortBmidsAction "mvr"}}>MVR</a>{{/if}}
      </th>
      <th>{{#if (eq this.sortColumn "showers")}}[Showers]{{else}}
        <a href {{on-click this.sortBmidsAction "showers"}}>Showers</a>{{/if}}</th>
      <th>{{#if (eq this.sortColumn "meals")}}[Meals]{{else}}
        <a href {{on-click this.sortBmidsAction "meals"}}>Meals</a>{{/if}}
      </th>
      <th class="w-10 text-center">{{#if (eq this.sortColumn "wap")}}[SAP]{{else}}
        <a href {{on-click this.sortBmidsAction "wap"}}>SAP</a>{{/if}}</th>
      <th>{{#if (eq this.sortColumn "team")}}[Team]{{else}}
        <a href {{on-click this.sortBmidsAction "team"}}>Team</a>{{/if}}
      </th>
      <th class="w-30">{{#if (eq this.sortColumn "notes")}}[Notes]{{else}}
        <a href {{on-click this.sortBmidsAction "notes"}}>Notes</a>{{/if}}</th>
      {{#if this.editMode}}
        <th>Action</th>
      {{/if}}
    </tr>
    </thead>

    <tbody>
    {{#if this.viewBmids}}
      {{#if this.editMode}}
        {{#each this.editableBmids key="person_id" as |bmid|}}
          <tr class="{{if bmid.isDirty "table-warning"}}">
            <td>
              {{#unless bmid.has_approved_photo}}
                {{fa-icon "eye" color="danger"}}
              {{/unless}}
              {{~#unless bmid.has_signups~}}
                {{fa-icon "exclamation-circle" color="danger"}}
              {{~/unless}}
            </td>
            <td>
              {{~#if bmid.person~}}
                <PersonLink @person={{bmid.person}} />
                {{~else~}}
                Deleted #{{bmid.person_id}}
              {{~/if~}}
            </td>
            <td>
              <ChForm::Select @name={{concat "status" bmid.person.id}}
                              @value={{bmid.status}}
                              @options={{this.bmidStatusOptions}}
                              @onChange={{set-value bmid 'status'}}
                              @controlClass=""/>
            </td>
            {{!
                Performance optimization here - using ch-form to manage over 1,000+ rows is too much for
                the browser.

                bmid.* is not updated until after the record is successfully saved. Using the object
                for the intial control values will help prevent rendering.

                editBmid is the changeset object which the data is manipulated in.
              }}
            <td><input value={{bmid.title1}} {{on "blur" (fn this.updateColumn bmid "title1")}} size="30"></td>
            <td><input value={{bmid.title2}} {{on "blur" (fn this.updateColumn bmid "title2")}} size="15"></td>
            <td><input value={{bmid.title3}} {{on "blur" (fn this.updateColumn bmid "title3")}} size="5"></td>
            <td>{{if bmid.org_vehicle_insurance "M" "-"}}</td>
            <td>
              <ChForm::Select @name={{concat "showers" bmid.person.id}}
                              @value={{bmid.showers}}
                              @options={{this.showerOptions}}
                              @onChange={{set-value bmid 'showers'}}
                              @controlClass=""/>
              {{#if bmid.allocated_showers}}
                <div class="align-middle text-success">
                  <AllocatedProvisionIcon/>
                  <small>S</small>
                </div>
              {{/if}}
              {{#if bmid.earned_showers}}
                <div class="align-middle">
                  <EarnedProvisionIcon/>
                  <small>S</small>
                </div>
              {{/if}}
            </td>
            <td>
              <ChForm::Select @name={{concat "meals" bmid.person.id}}
                              @value={{bmid.meals}}
                              @options={{this.mealOptions}}
                              @onChange={{set-value bmid 'meals'}}
                              @controlClass=""/>
              {{#if bmid.allocated_meals}}
                <div>
                  <AllocatedProvisionIcon/> {{bmid.allocated_meals}}
                </div>
              {{/if}}
              {{#if bmid.earned_meals}}
                <div>
                  <EarnedProvisionIcon/> {{bmid.earned_meals}}
                </div>
              {{/if}}
            </td>
            <td class="text-center">
              <ChForm::Select @name={{concat "admission_date" bmid.person.id}}
                              @value={{bmid.admission_date}}
                              @options={{this.admissionDateOptions}}
                              @onChange={{set-value bmid 'admission_date'}}
                              @controlClass=""
                              @disabled={{bmid.wapDisabled}} />
              {{#if bmid.wapDisabled}}
                {{#if bmid.wapMissing}}
                  {{badge "danger" "SAP missing"}}
                {{else}}
                  {{badge "danger" "SAP submitted"}}
                {{/if}}
              {{/if}}
            </td>
            <td><input value={{bmid.team}} {{on "blur" (fn this.updateColumn bmid "team")}} size="10"></td>
            <td><textarea cols="40" rows="1" {{on "focus" this.focusNote}}
                          {{on "blur" (fn this.blurNote bmid)}}>{{bmid.notes}}</textarea>
            </td>
            <td>
              <button type="button" {{on-click this.saveInlineBmid bmid}}>Save</button>
            </td>
          </tr>
        {{/each}}
      {{else}}
        {{#each this.renderBmids key="person_id" as |bmid|}}
          <tr class={{this.rowColor bmid}}>
            <td>
              {{#unless bmid.has_approved_photo}}
                {{fa-icon "eye" color="danger" right=1 fixed=true}}
              {{/unless}}
              {{#if bmid.notQualifiedToPrint}}
                {{fa-icon "exclamation-circle" color="danger" right=1 fixed=true}}
              {{/if}}
            </td>
            <td>
              {{#if bmid.person}}
                <PersonLink @person={{bmid.person}} />
              {{else}}
                Deleted #{{bmid.person_id}}
              {{/if}}
            </td>
            <td><a href {{on-click this.editBmid bmid}}>Edit</a></td>
            <td>{{bmid.statusHuman}}</td>
            <td class="w-10">
              <PresentOrNot @value={{bmid.title1}} @empty="-"/>
            </td>
            <td class="w-10">
              <PresentOrNot @value={{bmid.title2}} @empty="-"/>
            </td>
            <td class="w-10">
              <PresentOrNot @value={{bmid.title3}} @empty="-"/>
            </td>
            <td>{{if bmid.org_vehicle_insurance "M" "-"}}</td>
            <td class="no-wrap">
              {{#if bmid.allocated_showers}}
                <AllocatedProvisionIcon/>
              {{/if}}
              {{#if bmid.earned_showers}}
                <EarnedProvisionIcon/>
              {{/if}}
              {{#if bmid.showers}}
                <SetProvisionIcon/>
              {{/if}}
              {{if bmid.effectiveShowers "S" "-"}}
            </td>
            <td class="no-wrap">
              {{#if bmid.allocated_meals}}
                <AllocatedProvisionIcon/>
              {{/if}}
              {{#if bmid.earned_meals}}
                <EarnedProvisionIcon/>
              {{/if}}
              {{#if bmid.meals}}
                <SetProvisionIcon/>
              {{/if}}
              {{bmid.effectiveMealsHuman}}
            </td>
            <td class="w-10 text-center">
              {{#if bmid.wapMissing}}
                {{badge "warning" "SAP missing"}}
              {{else}}
                {{bmid.admissionDateShort}}
              {{/if}}
            </td>
            <td>{{bmid.team}}</td>
            <td class="w-30">{{nl2br bmid.notes}}</td>
          </tr>
        {{/each}}
      {{/if}}
    {{else}}
      <tr>
        <td colspan="12">
          <b class="text-danger">
            {{#if this.bmids}}
              No BMIDs match the filter criteria.
            {{else}}
              No BMIDs were found for {{this.year}} matching the filter criteria.
            {{/if}}
          </b>
        </td>
      </tr>
    {{/if}}
    </tbody>
  </UiTable>
</main>

{{#if this.entry}}
  <ModalDialog @title={{if this.entry.id (concat "Edit BMID #" this.entry.id) "New BMID"}}
               @onEscape={{this.cancelBmid}} as |Modal|>
    <Modal.body>
      <h3>
        {{this.year}} {{this.entry.person.callsign}}
        &lt;{{this.entry.person.status}}, {{this.entry.person.first_name}} {{this.entry.person.last_name}}&gt;
      </h3>
      <BmidEdit @entry={{this.entry}}
                @year={{this.year}}
                @admissionDateOptions={{this.admissionDateOptions}}
                @onSave={{this.saveBmid}}
                @onCancel={{this.cancelBmid}} />
    </Modal.body>
  </ModalDialog>
{{/if}}

{{#if this.isRendering}}
  <LoadingDialog>
    Hang Tight - Rendering {{this.renderBmids.length}} of {{this.viewBmids.length}}
  </LoadingDialog>
{{/if}}
