<main>
  <YearSelect @title="Manage BMIDs" @year={{this.year}} @onChange={{action (mut this.year)}} />
  <div class="my-2">
    Navigation:
    <LinkTo @route="vc.bmid-sanity-check" class="ms-2">
      {{fa-icon "user-check"}} Sanity Check
    </LinkTo>
    <LinkTo @route="vc.bmid-print" class="ms-2">
      {{fa-icon "print"}} Export To Marcato
    </LinkTo>
  </div>
  <FormRow>
    <div class="col-auto">
      <label>Filter:</label>
      <ChForm::Select @name="filter" @value={{this.filter}} @options={{this.filterOptions}}
                      @onChange={{action this.changeFilter 'filter'}} @fieldSize="sm"/>
    </div>
    <div class="col-auto">
      <label>Title Filter:</label>
      <ChForm::Select @name="titleFilter"
                      @value={{this.titleFilter}}
                      @options={{this.titleFilterOptions}}
                      @onChange={{action this.changeFilter 'titleFilter'}}
                      @fieldSize="sm"/>
    </div>
    <div class="col-auto">
      <label>Team Filter:</label>
      <ChForm::Select @name="teamFilter"
                      @value={{this.teamFilter}}
                      @options={{this.teamFilterOptions}}
                      @onChange={{action this.changeFilter 'teamFilter'}}
                      @fieldSize="sm"/>

    </div>
    <div class="col-auto">
      <label>Want Filter:</label>
      <ChForm::Select @name="wantFilter"
                      @value={{this.wantsFilter}}
                      @options={{this.wantFilterOptions}}
                      @onChange={{action this.changeFilter 'wantFilter'}}
                      @fieldSize="sm"/>

    </div>
  </FormRow>
  <FormRow>
    <FormLabel @auto={{true}}>Callsign, title, team, notes filter:</FormLabel>

    <div class="col-auto">
      <Input @type="text"
             @value={{this.textFilterInput}}
             class="form-control form-control-sm ms-2"
             @enter={{action this.textFilterAction}}  />
      <div class="text-muted small">Regular Expression allowed</div>
    </div>
    <div class="col-auto">
      <UiButton @size="sm" @class="ms-1" @onClick={{this.textFilterAction}}>
        Filter
      </UiButton>
      <UiButton @type="secondary" @size="sm" @class="ms-1" @onClick={{this.clearTextFilterAction}}>
        Clear
      </UiButton>
    </div>

    <div class="col-auto">
      <UiButton @type="secondary" @size="sm" @onClick={{this.toggleEditMode}}>
        {{#if this.editMode}}{{fa-icon "table"}} Table View{{else}}{{fa-icon "edit"}} Edit Mode{{/if}}
      </UiButton>
      <UiButton @type="secondary" @size="sm" @onClick={{this.exportCSV}}>
        {{fa-icon "file-export"}} Export CSV
      </UiButton>
    </div>
    {{#if this.textFilterError}}
      <div class="text-danger col-12">{{this.textFilterError}}</div>
    {{/if}}
  </FormRow>

  <p>
    {{fa-icon "exclamation-circle"}} = indicates person has not signed up for any shifts.
    {{fa-icon "plus-circle" color="success"}} = person has a qualified provision (showers, meals).
  </p>

  Showing {{this.viewBmids.length}} of {{this.bmids.length}}
  {{#unless this.isRendering}}
    {{#if this.textFilter}}
      <span class="ms-2 font-weight-bold">Text filtering by "{{this.textFilter}}"</span>
    {{/if}}
    {{#if this.unsaveRows}}<span class="ms-4 text-danger">UNSAVED {{pluralize this.unsaveRows "record"}}</span>{{/if}}
  {{/unless}}
  <table class="table table-sm table-striped table-hover">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>{{#if (eq this.sortColumn "callsign")}}[Callsign]{{else}}
        <a href {{action this.sortBmidsAction "callsign"}}>Callsign</a>{{/if}}</th>
      {{#unless this.editMode}}
        <th>Action</th>
      {{/unless}}
      <th>{{#if (eq this.sortColumn "status")}}[Status]{{else}}
        <a href {{action this.sortBmidsAction "status"}}>Status</a>{{/if}}</th>
      <th class="w-10">{{#if (eq this.sortColumn "title1")}}[Title 1]{{else}}
        <a href {{action this.sortBmidsAction "title1"}}>Title 1</a>{{/if}}</th>
      <th class="w-10">{{#if (eq this.sortColumn "title2")}}[Title 2]{{else}}
        <a href {{action this.sortBmidsAction "title2"}}>Title 2</a>{{/if}}</th>
      <th class="w-10">{{#if (eq this.sortColumn "title3")}}[Title 3]{{else}}
        <a href {{action this.sortBmidsAction "title3"}}>Title 3</a>{{/if}}</th>
      <th>{{#if (eq this.sortColumn "mvr")}}[MVR]{{else}}<a href {{action this.sortBmidsAction "mvr"}}>MVR</a>{{/if}}
      </th>
      <th>{{#if (eq this.sortColumn "showers")}}[Showers]{{else}}
        <a href {{action this.sortBmidsAction "showers"}}>Showers</a>{{/if}}</th>
      <th>{{#if (eq this.sortColumn "meals")}}[Meals]{{else}}
        <a href {{action this.sortBmidsAction "meals"}}>Meals</a>{{/if}}
      </th>
      <th class="w-10">{{#if (eq this.sortColumn "wap")}}[WAP]{{else}}
        <a href {{action this.sortBmidsAction "wap"}}>WAP</a>{{/if}}</th>
      <th>{{#if (eq this.sortColumn "team")}}[Team]{{else}}
        <a href {{action this.sortBmidsAction "team"}}>Team</a>{{/if}}
      </th>
      <th class="w-30">{{#if (eq this.sortColumn "notes")}}[Notes]{{else}}
        <a href {{action this.sortBmidsAction "notes"}}>Notes</a>{{/if}}</th>
      {{#if this.editMode}}
        <th>Action</th>
      {{/if}}
    </tr>
    </thead>

    <tbody>
    {{#if this.viewBmids}}
      {{#if this.editMode}}
        {{#each this.editableBmids key="person_id" as |bmid|}}
          <tr class="{{if bmid.isDirty "bg-warning"}}">
            <td>
              {{~#unless bmid.has_signups~}}
                {{fa-icon "exclamation-circle"}}
              {{~/unless}}
            </td>
            <td>
              {{~#if bmid.person~}}
                <PersonLink @person={{bmid.person}} />
                {{~else~}}
                Deleted #{{bmid.person_id}}
              {{~/if~}}
            </td>
            <td>
              <ChForm::Select @name={{concat "status" bmid.person.id}} @value={{bmid.status}}
                              @options={{this.bmidStatusOptions}} @onChange={{action (mut bmid.status)}}
                              @controlClass=""/>
            </td>
            {{!
                Performance optimization here - using ch-form to manage over 1,000+ rows is too much for
                the browser.

                bmid.* is not updated until after the record is successfully saved. Using the object
                for the intial control values will help prevent rendering.

                editBmid is the changeset object which the data is manipulated in.
              }}
            <td><input value={{bmid.title1}} onblur={{action this.updateColumn bmid "title1"}} size="30"></td>
            <td><input value={{bmid.title2}} onblur={{action this.updateColumn bmid "title2"}} size="30"></td>
            <td><input value={{bmid.title3}} onblur={{action this.updateColumn bmid "title3"}} size="30"></td>
            <td>{{if bmid.org_vehicle_insurance "M" "-"}}</td>
            <td>
              <ChForm::Select @name={{concat "showers" bmid.person.id}} @value={{bmid.showers}}
                              @options={{this.showerOptions}} @onChange={{action (mut bmid.showers)}}
                              @controlClass=""/>
              {{#if bmid.want_showers}}
                <div class="text-success align-middle">{{fa-icon "plus-circle"}} <small>Showers</small></div>
              {{/if}}
            </td>
            <td>
              <ChForm::Select @name={{concat "meals" bmid.person.id}}
                              @value={{bmid.meals}}
                              @options={{this.mealOptions}}
                              @onChange={{action (mut bmid.meals)}}
                              @controlClass=""/>
              {{#if bmid.want_meals}}
                <div class="text-success">{{fa-icon "plus-circle"}} {{bmid.want_meals}}</div>
              {{/if}}
            </td>
            <td>
              <ChForm::Select @name={{concat "admission_date" bmid.person.id}}
                              @value={{bmid.admission_date}}
                              @options={{this.admissionDateOptions}}
                              @onChange={{action (mut bmid.admission_date)}}
                              @controlClass=""
                              @disabled={{bmid.wapDisabled}} />
              {{#if bmid.wapDisabled}}
                {{#if bmid.wapMissing}}
                  <b class="text-danger">WAP missing</b>
                {{else}}
                  <b class="text-danger">WAP submitted</b>
                {{/if}}
              {{/if}}
            </td>
            <td><input value={{bmid.team}} onblur={{action this.updateColumn bmid "team"}} size="10"></td>
            <td><textarea cols="40" rows="1" onfocus={{action this.focusNote}}
                          onblur={{action this.blurNote bmid}}>{{bmid.notes}}</textarea>
            </td>
            <td>
              <button type="button" {{action this.saveInlineBmid bmid}}>Save</button>
            </td>
          </tr>
        {{/each}}
      {{else}}
        {{#each this.renderBmids key="person_id" as |bmid|}}
          <tr>
            <td>
              {{#unless bmid.has_signups}}
                {{fa-icon "exclamation-circle"}}
              {{/unless}}
            </td>
            <td>
              {{#if bmid.person}}
                <PersonLink @person={{bmid.person}} />
              {{else}}
                Deleted #{{bmid.person_id}}
              {{/if}}
            </td>
            <td><a href {{action this.editBmid bmid}}>Edit</a></td>
            <td>{{bmid.statusHuman}}</td>
            <td class="w-10">
              <PresentOrNot @value={{bmid.title1}} @empty="-"/>
            </td>
            <td class="w-10">
              <PresentOrNot @value={{bmid.title2}} @empty="-"/>
            </td>
            <td class="w-10">
              <PresentOrNot @value={{bmid.title3}} @empty="-"/>
            </td>
            <td>{{if bmid.org_vehicle_insurance "M" "-"}}</td>
            <td>
              {{if bmid.showers "S" "-"}}
              {{#if bmid.want_showers}}
                <div class="text-success">{{fa-icon "plus-circle"}} S</div>
              {{/if}}
            </td>
            <td>
              {{bmid.mealsHuman}}
              {{#if bmid.want_meals}}
                <div class="text-success no-wrap">{{fa-icon "plus-circle"}} {{bmid.want_meals}}</div>
              {{/if}}
            </td>
            <td class="w-10">
              {{#if bmid.wapMissing}}
                <strong class="text-danger">missing</strong>
              {{else}}
                {{bmid.admissionDateShort}}
              {{/if}}
            </td>
            <td>{{bmid.team}}</td>
            <td class="w-30">{{nl2br bmid.notes}}</td>
          </tr>
        {{/each}}
      {{/if}}
    {{else}}
      <tr>
        <td colspan="12">
          <b class="text-danger">
            {{#if this.bmids}}
              No BMIDs match the filter criteria.
            {{else}}
              No BMIDs were found for {{this.year}}.
            {{/if}}
          </b>
        </td>
      </tr>
    {{/if}}
    </tbody>
  </table>
</main>

{{#if this.entry}}
  <ModalDialog @title={{if this.entry.id (concat "Edit BMID #" this.entry.id) "New BMID"}}
               @onEscape={{this.cancelBmid}} as |Modal|>
    <Modal.body>
      <h3>
        {{this.year}} {{this.entry.person.callsign}}
        &lt;{{this.entry.person.status}}, {{this.entry.person.first_name}} {{this.entry.person.last_name}}&gt;
      </h3>
      <BmidEdit @entry={{this.entry}}
                @year={{this.year}}
                @admissionDateOptions={{this.admissionDateOptions}}
                @onSave={{this.saveBmid}}
                @onCancel={{this.cancelBmid}} />
    </Modal.body>
  </ModalDialog>
{{/if}}

{{#if this.isRendering}}
  <LoadingDialog>
    Hang Tight - Rendering {{this.renderBmids.length}} of {{this.viewBmids.length}}
  </LoadingDialog>
{{/if}}
