<main>
  <YearSelect @title="Manage BMIDs"
              @year={{this.year}}
              @onChange={{set-value this 'year'}}
              @minYear={{2017}}
  />
  {{#if this.notCurrentYear}}
    <UiAlert @type="warning">
      {{fa-icon "hand" right=1}} Warning: you are viewing a previous year.
    </UiAlert>
  {{/if}}

  <div class="hstack gap-4 mb-2">
    <div>
      Navigation:
    </div>
    <LinkTo @route="vc.bmid-sanity-check" class="d-inline-block">
      {{fa-icon "user-check" right=1}} Sanity Check
    </LinkTo>
    <LinkTo @route="vc.bmid-print" class="d-inline-block">
      {{fa-icon "print" right=1}} Export To Marcato
    </LinkTo>
  </div>
  <FormRow>
    <div class="col-auto">
      <label>Filter:</label>
      <ChForm::Select @name="filter" @value={{this.filter}}
                      @options={{this.filterOptions}}
                      @onChange={{fn this.changeFilter 'filter'}}
                      @fieldSize="sm"/>
    </div>
    <div class="col-auto">
      <label>Title Filter:</label>
      <ChForm::Select @name="titleFilter"
                      @value={{this.titleFilter}}
                      @options={{this.titleFilterOptions}}
                      @onChange={{fn this.changeFilter 'titleFilter'}}
                      @fieldSize="sm"/>
    </div>
    <div class="col-auto">
      <label>Team Filter:</label>
      <ChForm::Select @name="teamFilter"
                      @value={{this.teamFilter}}
                      @options={{this.teamFilterOptions}}
                      @onChange={{fn this.changeFilter 'teamFilter'}}
                      @fieldSize="sm"/>

    </div>
    <div class="col-auto">
      <label>Want Filter:</label>
      <ChForm::Select @name="wantFilter"
                      @value={{this.wantsFilter}}
                      @options={{this.wantFilterOptions}}
                      @onChange={{fn this.changeFilter 'wantFilter'}}
                      @fieldSize="sm"/>

    </div>
    <div class="col-auto">
      <label>Qualified To Print Filter:</label>
      <ChForm::Select @name="qualifiedFilter"
                      @value={{this.qualifiedFilter}}
                      @options={{this.qualifiedFilterOptions}}
                      @onChange={{fn this.changeFilter 'qualifiedFilter'}}
                      @fieldSize="sm"/>

    </div>
  </FormRow>
  <FormRow class="mt-2">
    <FormLabel @auto={{true}}>Callsign, title, team, notes filter:</FormLabel>
    <div class="col-auto">
      <Input @type="text"
             @value={{this.textFilterInput}}
             class="form-control form-control-sm ms-2"
             @enter={{this.textFilterAction}}  />
      <div class="text-muted small">Regular Expression allowed</div>
    </div>
    <div class="col-auto">
      <UiButtonRow>
        <UiButton @size="sm" @onClick={{this.textFilterAction}}>
          Filter
        </UiButton>
        <UiButton @type="secondary" @size="sm" @onClick={{this.clearTextFilterAction}}>
          Clear
        </UiButton>
      </UiButtonRow>
    </div>

    <div class="col-auto">
      <UiButtonRow>
        <UiButton @type="secondary" @size="sm" @onClick={{this.toggleEditMode}}>
          {{#if this.editMode}}{{fa-icon "table" right=1}} Table View{{else}}{{fa-icon "edit" right=1}} Edit Mode{{/if}}
        </UiButton>
        <UiButton @type="secondary" @size="sm" @onClick={{this.exportCSV}}>
          {{fa-icon "file-export" right=1}} Export CSV
        </UiButton>
      </UiButtonRow>
    </div>
    {{#if this.textFilterError}}
      <div class="text-danger col-12">{{this.textFilterError}}</div>
    {{/if}}
  </FormRow>

  <p>
    <span class="d-inline-block">{{fa-icon "exclamation-circle" color="danger" right=1}} = indicates person has not a claimed
      a ticket or SAP, nor signed up for an In-Person Training.</span>
    <span class="d-inline-block">{{fa-icon "eye" color="danger" right=1}}
      = person does not have an approved photo</span>
  </p>

  {{#if this.hasUnqualifiedToPrint}}
    <UiAlert @type="warning" @icon="hand-point-right">
      One or more BMIDs do not meet the printing qualifications (no ticket/SAP claimed, nor has an In-Person Training
      sign-up),
      and has the status "Prep".
    </UiAlert>
  {{/if}}
  Showing {{this.viewBmids.length}} of {{this.bmids.length}}
  {{#unless this.isRendering}}
    {{#if this.textFilter}}
      <span class="ms-2 font-weight-bold">Text filtering by "{{this.textFilter}}"</span>
    {{/if}}
    {{#if this.unsaveRows}}<span class="ms-4 text-danger">UNSAVED {{pluralize this.unsaveRows "record"}}</span>{{/if}}
  {{/unless}}

  <UiTable @stickyHeader={{true}} class="small">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>
        <BmidSortColumn @sorted={{this.sortColumn}} @field="callsign" @label="Callsign"
                        @onClick={{this.sortBmidsAction}} />
      </th>
      {{#unless this.editMode}}
        <th>Action</th>
      {{/unless}}
      <th>
        <BmidSortColumn @sorted={{this.sortColumn}} @field="status" @label="Status" @onClick={{this.sortBmidsAction}} />
      </th>
      <th class="w-10">
        <BmidSortColumn @sorted={{this.sortColumn}} @field="title1" @label="Title 1"
                        @onClick={{this.sortBmidsAction}} />
      </th>
      <th class="w-10">
        <BmidSortColumn @sorted={{this.sortColumn}} @field="title2" @label="Title 2"
                        @onClick={{this.sortBmidsAction}} />
      </th>
      <th class="w-5">
        <BmidSortColumn @sorted={{this.sortColumn}} @field="title3" @label="Title 3"
                        @onClick={{this.sortBmidsAction}} />
      </th>
      <th>
        <BmidSortColumn @sorted={{this.sortColumn}} @field="mvr" @label="MVR" @onClick={{this.sortBmidsAction}} />
      </th>
      <th class="w-5">
        <BmidSortColumn @sorted={{this.sortColumn}}
                        @field="showers_granted"
                        @label="Showers"
                        @onClick={{this.sortBmidsAction}} />
      </th>
      <th class="w-5">
        <BmidSortColumn @sorted={{this.sortColumn}} @field="meals" @label="Meals" @onClick={{this.sortBmidsAction}} />
      </th>
      <th class="w-10 text-center">
        <BmidSortColumn @sorted={{this.sortColumn}} @field="wap" @label="SAP" @onClick={{this.sortBmidsAction}} />
      </th>
      <th>
        <BmidSortColumn @sorted={{this.sortColumn}} @field="team" @label="Team" @onClick={{this.sortBmidsAction}} />
      </th>
      <th class="w-30">
        <BmidSortColumn @sorted={{this.sortColumn}} @field="notes" @label="Notes" @onClick={{this.sortBmidsAction}} />
      </th>
      {{#if this.editMode}}
        <th>Action</th>
      {{/if}}
    </tr>
    </thead>

    <tbody>
    {{#if this.viewBmids}}
      {{#if this.editMode}}
        {{#each this.editableBmids key="person_id" as |bmid|}}
          <tr>
            <td>
              {{#unless bmid.has_approved_photo}}
                {{fa-icon "eye" color="danger"}}
              {{/unless}}
              {{~#unless bmid.has_signups~}}
                {{fa-icon "exclamation-circle" color="danger"}}
              {{~/unless}}
            </td>
            <td>
              <PersonLink @person={{bmid.person}} />
            </td>
            <td>
              <ChForm::Select @name="status{{bmid.person.id}}"
                              @value={{bmid.status}}
                              @options={{this.bmidStatusOptions}}
                              @onChange={{set-value bmid 'status'}}
                              @controlClass=""/>
            </td>
            {{!
                Performance optimization here - using ch-form to manage over 1,000+ rows is too much for
                the browser.

                bmid.* is not updated until after the record is successfully saved. Using the object
                for the intial control values will help prevent rendering.

                editBmid is the changeset object which the data is manipulated in.
              }}
            <td>
              <input value={{bmid.title1}} {{on "blur" (fn this.updateColumn bmid "title1")}} size="30"
                     class="bmid-input">
            </td>
            <td>
              <input value={{bmid.title2}} {{on "blur" (fn this.updateColumn bmid "title2")}} size="33" maxlength="33"
                     class="bmid-input">
            </td>
            <td>
              <input value={{bmid.title3}} {{on "blur" (fn this.updateColumn bmid "title3")}} size="5" maxlength="5"
                     class="bmid-input">
            </td>
            <td>{{if bmid.org_vehicle_insurance "M" "-"}}</td>
            <ProvisionManagement @person={{bmid.person}} @onUpdate={{fn this.onProvisionUpdate bmid}} as |actions|>
              <td>
                {{#if bmid.showers_granted}}
                  Yes
                  <a href {{on-click actions.manageShowers}} class="d-block">
                    edit {{fa-icon "shower"}}
                  </a>
                {{else}}
                  No
                  <a href {{on-click actions.newShower}} class="d-block">
                    add {{fa-icon "shower"}}
                  </a>
                {{/if}}
              </td>
              <td>
                {{#if bmid.noMeals}}
                  None
                  <a href {{on-click actions.newMeal}} class="d-block">
                    add {{fa-icon "utensils"}}
                  </a>
                {{else}}
                  {{bmid.mealsShortLabel}}
                  <a href {{on-click actions.manageMeals}} class="d-block">
                    edit {{fa-icon "utensils"}}
                  </a>
                {{/if}}
              </td>
            </ProvisionManagement>
            <td class="text-center">
              <ChForm::Select @name="admission_date{{bmid.person.id}}"
                              @value={{bmid.admission_date}}
                              @options={{this.admissionDateOptions}}
                              @onChange={{set-value bmid 'admission_date'}}
                              @controlClass=""
                              @disabled={{bmid.wapDisabled}} />
              {{#if bmid.wapDisabled}}
                {{#if bmid.wapMissing}}
                  <UiBadge @text="SAP missing" @type="danger"/>
                {{else}}
                  <UiBadge @text="SAP submitted" @type="danger"/>
                {{/if}}
              {{/if}}
            </td>
            <td><input value={{bmid.team}} {{on "blur" (fn this.updateColumn bmid "team")}} size="10"
                       class="bmid-input"></td>
            <td><textarea cols="40" rows="1" {{on "focus" this.focusNote}}
              {{on "blur" (fn this.blurNote bmid)}}>{{bmid.notes}}</textarea>
            </td>
            <td>
              <button type="button" {{on-click this.saveInlineBmid bmid}}>Save</button>
            </td>
          </tr>
        {{/each}}
      {{else}}
        {{#each this.renderBmids key="person_id" as |bmid|}}
          <BmidViewRow @bmid={{bmid}} @editBmid={{this.editBmid}} />
        {{/each}}
      {{/if}}
    {{else}}
      <tr>
        <td colspan="12">
          <b class="text-danger">
            {{#if this.bmids}}
              No BMIDs match the filter criteria.
            {{else}}
              No BMIDs were found for {{this.year}} matching the filter criteria.
            {{/if}}
          </b>
        </td>
      </tr>
    {{/if}}
    </tbody>
  </UiTable>
</main>

{{#if this.entry}}
  <ModalDialog @title={{if this.entry.id (concat "Edit BMID #" this.entry.id) "New BMID"}}
               @onEscape={{this.cancelBmid}} as |Modal|>
    <Modal.body>
      <h3>
        {{this.year}} {{this.entry.person.callsign}}
        &lt;{{this.entry.person.status}}, {{this.entry.person.first_name}} {{this.entry.person.last_name}}&gt;
      </h3>
      <BmidEdit @person={{this.entry.person}}
                @bmid={{this.entry}}
                @year={{this.year}}
                @admissionDateOptions={{this.admissionDateOptions}}
                @onSave={{this.saveBmid}}
                @onCancel={{this.cancelBmid}}
      />
    </Modal.body>
  </ModalDialog>
{{/if}}

{{#if this.isRendering}}
  <LoadingDialog>
    Hang Tight - Rendering {{this.renderBmids.length}} of {{this.viewBmids.length}}
  </LoadingDialog>
{{/if}}
