<main>
  <h1>Handle Checker</h1>

  <div class="form-row align-items-left">
    <label class="col-form-label">Proposed handle</label>
    <div class="col-auto">
      <Input @type="text" @value={{this.currentName}} id="currentName"
             @enter={{action this.checkCurrentName}}
             class="form-control" size={{20}} {{did-insert this.focusElement}} />
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary" {{action this.checkCurrentName}}>Check handle</button>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-secondary" {{action this.clearCheckedHandles}}>Clear history</button>
    </div>
  </div>

  <legend>Handle rules</legend>
  <div class="form-group row">
    <div class="col">
      {{#each this.handleRules as |rule|}}
        <div class="form-check form-check-inline">
          {{#let (concat "handle-rule-checkbox-" rule.id) as |checkid|}}
            <Input @type="checkbox" @checked={{rule.enabled}} class="form-check-input" id={{checkid}} />
            <label class="form-check-label" for="{{checkid}}">{{rule.name}}</label>
          {{/let}}
        </div>
      {{/each}}
    </div>
  </div>

  <legend>Entity types</legend>
  <div class="form-group row">
    <div class="col">
      <div class="form-check form-check-inline">
        <Input @type="checkbox" @checked={{this.includeVintage}} class="form-check-input" id="include-vintage"/>
        <label class="form-check-label" for="include-vintage">Include all vintage handles</label>
      </div>
      {{#each this.entityTypes as |type|}}
        <div class="form-check form-check-inline">
          {{#let (concat "entity-type-checkbox-" type.id) as |entityId|}}
            <Input @type="checkbox" @checked={{type.enabled}} class="form-check-input" id={{entityId}} />
            <label class="form-check-label" for="{{entityId}}">{{type.name}}</label>
          {{/let}}
        </div>
      {{/each}}
    </div>
  </div>

  <div class="row">
    {{#each this.checkedHandles as |checked|}}
      <div class="check-result-card card" id="check-result-{{checked.id}}">
        <details open>
          <summary class="card-header">
            {{checked.name}} ({{checked.conflicts.length}})
          </summary>
          {{#each checked.conflicts as |conflict index|}}
            <div class="card">
              <div class="card-header conflict-priority-{{conflict.priority}} conflict-rule-{{conflict.ruleId}}">
                {{! template-lint-disable no-nested-interactive}}
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#conflict-detail-{{checked.id}}-{{index}}">
                  {{conflict.description}}
                </button>
              </div>
              <div id="conflict-detail-{{checked.id}}-{{index}}" class="collapse">
                <div class="card-body">
                  {{get this.ruleNames conflict.ruleId}}, {{conflict.priority}} priority
                  {{#if conflict.conflictingHandle}}
                    {{#with conflict.conflictingHandle as |handle|}}
                      {{#if handle.personId}}
                        <LinkTo @route="person.index" @model={{handle.personId}}
                                target="_blank" rel="noopener noreferrer">
                          {{handle.entityType}} {{handle.name}}
                        </LinkTo>
                      {{else}}
                        {{handle.entityType}} {{handle.name}}
                      {{/if}}
                      {{#if handle.personVintage}}(vintage){{/if}}
                    {{/with}}
                  {{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        </details>
      </div>
    {{/each}}
  </div>


  <div class="container">
    <hr>
    <div class="row align-items-center">
      <div class="col">
        <h3>All {{this.allEnabledHandles.length}} Handles</h3>
        <table class="table table-sm table-striped table-hover">
          <thead>
          <tr>
            <th>Handle</th>
            <th>Entity type</th>
            <th>Vintage</th>
          </tr>
          </thead>
          <tbody>
          {{#each this.allEnabledHandles as |handle|}}
            <tr>
              <td>
                {{#if handle.personId}}
                  <LinkTo @route="person.index" @model={{handle.personId}}
                          target="_blank" rel="noopener noreferrer">
                    {{handle.name}}
                  </LinkTo>
                {{else}}
                  {{handle.name}}
                {{/if}}
              </td>
              <td>
                {{handle.entityType}}
              </td>
              <td>
                {{#if handle.personVintage}}
                  vintage
                {{/if}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
