<main>
  <h1>Handle Checker</h1>

  <FormRow>
    <FormLabel @auto={{true}}>Proposed handle</FormLabel>
    <div class="col-auto">
      <Input @type="text" @value={{this.currentName}} id="currentName"
             @enter={{action this.checkCurrentName}}
             class="form-control" size={{20}} {{on-insert this.focusElement}} />
    </div>
    <div class="col-auto">
      <UiButton @onClick={{this.checkCurrentName}}>Check handle</UiButton>
    </div>
    <div class="col-auto">
      <UiButton @type="secondary" @onClick={{this.clearCheckedHandles}}>Clear history</UiButton>
    </div>
  </FormRow>

  <legend>Handle rules</legend>
  <FormRow class="max-width-900">
    <div class="col columns-container columns-4">
      {{#each this.handleRules as |rule|}}
        <div class="form-check">
          {{#let (concat "handle-rule-checkbox-" rule.id) as |checkid|}}
            <Input @type="checkbox" @checked={{rule.enabled}} class="form-check-input" id={{checkid}} />
            <label class="form-check-label" for="{{checkid}}">{{rule.name}}</label>
          {{/let}}
        </div>
      {{/each}}
    </div>
  </FormRow>

  <legend>Entity types</legend>
  <FormRow>
    <div class="col max-width-1000">
      <div class="form-check">
        <Input @type="checkbox" @checked={{this.includeVintage}} class="form-check-input" id="include-vintage"/>
        <label class="form-check-label" for="include-vintage">Include all vintage handles</label>
      </div>
      <div class="mt-2 columns-container columns-6">
        {{#each this.entityTypes as |type|}}
          <div class="form-check">
            {{#let (concat "entity-type-checkbox-" type.id) as |entityId|}}
              <Input @type="checkbox" @checked={{type.enabled}} class="form-check-input" id={{entityId}} />
              <label class="form-check-label" for="{{entityId}}">{{type.label}}</label>
            {{/let}}
          </div>
        {{/each}}
      </div>
    </div>
  </FormRow>

  <UiTab as |tab|>
    <tab.pane @id="check-handle" @title="Results">
      <h3>Check Handle Results</h3>
      {{#each this.checkedHandles as |checked|}}
        <UiAccordion @isInitOpen={{true}} class="d-inline-block align-top" as |accordion|>
          <accordion.title>{{checked.name}} ({{checked.conflicts.length}})</accordion.title>
          <accordion.body>
            {{#each checked.conflicts as |conflict|}}
              <details class="mb-2">
                <summary>
                  {{conflict.description}}
                </summary>
                {{#if conflict.conflictingHandle}}
                  {{#let conflict.conflictingHandle as |handle|}}
                    {{#if handle.personId}}
                      <LinkTo @route="person.index" @model={{handle.personId}} target="_blank">
                        {{handle.name}}
                      </LinkTo>
                    {{else}}
                      {{handle.name}}
                    {{/if}}
                    <span class="ms-2">
                      {{badge "secondary" (this.entityTypeLabel handle.entityType)}}
                    </span>
                    {{#if handle.personVintage}}
                      <span class="ms-2">{{badge "danger" "vintage"}}</span>
                    {{/if}}
                    {{#if handle.reason}}
                      <div class="mt-2">
                        Reason: {{handle.reason}}
                      </div>
                    {{/if}}
                  {{/let}}
                {{/if}}
                <div class="mt-2">
                  {{get this.ruleNames conflict.ruleId}} <span class="ms-4">{{conflict.priority}} priority</span>
                </div>
              </details>
            {{/each}}
          </accordion.body>
        </UiAccordion>
      {{else}}
        <div class="my-2">
          No handles checked yet.
        </div>
      {{/each}}
    </tab.pane>

    <tab.pane @id="all-handles" @title="All Handles / Locations / Terms">
      Showing {{pluralize this.allEnabledHandles.length "handle"}}
      <UiTable>
        <thead>
        <tr>
          <th>Handle</th>
          <th>Entity type</th>
          <th>Vintage</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.allEnabledHandles key="keyIdx" as |handle|}}
          <tr>
            <td>
              {{#if handle.personId}}
                <LinkTo @route="person.index" @model={{handle.personId}} target="_blank">
                  {{handle.name}}
                </LinkTo>
              {{else}}
                {{handle.name}}
              {{/if}}
            </td>
            <td>{{this.entityTypeLabel handle.entityType}}</td>
            <td>{{if handle.personVintage "vintage"}}</td>
          </tr>
        {{/each}}
        </tbody>
      </UiTable>
    </tab.pane>
  </UiTab>
</main>
