<main>
  <h1>Clubhouse Photos</h1>
  <p>
    Click on the photo to show a larger version, photo metadata, and rejection messages (if any).
    </p>
  <p>
    Legend: Current = photo in use. Archived = photo is no longer used and archived for historical purposes.
  </p>

  Showing page {{this.currentPage}} of {{this.total_pages}}
  <PhotoTable @photos={{this.person_photo}} @rejectionLabels={{this.rejectionLabels}} />
  {{#if this.total}}
    <UiButton @type="secondary" @onClick={{this.goPrevPage}} disabled={{eq this.currentPage 1}}>
      Prev Page
    </UiButton>
    <UiButton @type="secondary" @onClick={{this.goNextPage}} disabled={{eq this.currentPage this.total_pages}}>
      Next Page
    </UiButton>
  {{/if}}
</main>

