<main>
  <h1>Photo Review</h1>

  <p>
    Showing {{pluralize this.person_photo.length "submitted photo"}}
  </p>

  {{#each this.person_photo as |photo|}}
    <div class="border bg-light-gray mb-4 p-2">
      <div class="row">
        <div class="col-auto">
          <img id={{concat "photo-" photo.id}} src="{{photo.image_url}}" class="photo-vc-review"
               alt="{{photo.person.callsign}}"/>
        </div>
        <div class="col-auto">
          <h3>
            <PersonLink @person={{photo.person}} />
            &lt;{{photo.person.first_name}} {{photo.person.last_name}}, {{photo.person.status}}&gt;
          </h3>
          <p>
          <table class="table table-width-auto">
            <thead>
            <tr>
              <th>Status</th>
              <th>ID</th>
              <th>Uploaded</th>
              <th>Reviewed</th>
              <th>Edited</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                {{#if (eq photo.status "approved")}}
                  <b class="text-success">{{fa-icon "check"}} {{photo.status}}</b>
                {{else if (eq photo.status "rejected")}}
                  <b class="text-danger">{{fa-icon "times"}} {{photo.status}}</b>
                {{else}}
                  {{photo.status}}
                {{/if}}
              </td>
              <td class="text-end">
                {{photo.id}}
              </td>
              <td>
                {{#if photo.uploaded_at}}
                  {{photo.uploaded_at}}<br>
                  by {{#if photo.upload_person}}
                  <PersonLink @person={{photo.upload_person}} />
                {{else}}
                  <i>unknown</i>
                {{/if}}
                {{else}}
                  <i>never</i>
                {{/if}}
              </td>
              <td>
                {{#if photo.reviewed_at}}
                  {{photo.reviewed_at}}<br>
                  by {{#if photo.review_person}}
                  <PersonLink @person={{photo.review_person}} />
                {{else}}
                  <i>unknown</i>
                {{/if}}
                {{else}}
                  <i>never</i>
                {{/if}}
              </td>
              <td>
                {{#if photo.edited_at}}
                  {{photo.edited_at}}<br>
                  by {{#if photo.edit_person}}
                  <PersonLink @person={{photo.edit_person}} />
                {{else}}
                  <i>unknown</i>
                {{/if}}
                {{else}}
                  <i>never</i>
                {{/if}}
              </td>
            </tr>
            </tbody>
          </table>
          </p>
          <p>
            <UiButton @type="secondary" @class="mr-1" @disabled={{photo.isSaving}}
                      @onClick={{fn this.editPhotoAction photo}}>
              {{fa-icon "edit"}} Edit
            </UiButton>
            {{#if (not-eq photo.status "rejected")}}
              <UiButton @type="danger" @class="mr-1" @onClick={{fn this.showReviewPhoto photo}}
                        @disabled={{photo.isSaving}}>
                {{fa-icon "times"}} Reject
              </UiButton>
            {{/if}}
            {{#if (not-eq photo.status "approved")}}
              <UiButton @type="success" @onClick={{fn this.approveAction photo}} @disabled={{photo.isSaving}}>
                {{fa-icon "check"}} Approve
              </UiButton>
            {{/if}}
            {{#if photo.isSaving}}
              <LoadingIndicator/>
            {{/if}}
          </p>
        <p>
          {{#if photo.rejection_history}}
            <b>{{pluralize photo.rejection_history.length "previously rejected photo"}}</b>
            <div class="row mt-2">
              {{#each photo.rejection_history as |reject|}}
                <div class="col-auto">
                  <div class="mugshot-icon" role="link" {{on "click" (fn this.showPhotoInfoAction reject)}}>
                    <img src={{reject.image_url}} alt="rejected"/>
                    {{dayjs-format reject.uploaded_at "YYYY-MM-DD"}}
                  </div>
                </div>
              {{/each}}
            </div>
          {{else}}
            <b>No prior rejected photos.</b>
          {{/if}}
          </p>
          {{#if (eq photo.status "rejected")}}
            <p>
              Rejection reasons:
              {{#each photo.reject_reasons as |reason idx|~}}
                {{~if idx ", " ~}}
                <PresentOrNot @value={{get this.rejectionLabels reason}}
                              @empty={{concat "Unknown reason " reason}} />
                {{~else~}}
                <i>none given</i>
              {{~/each~}}
            </p>
            <p>
              Reject message:<br>
              <PresentOrNot @value={{photo.reject_message}} @empty="none given"/>
            </p>
          {{/if}}
        </div>
      </div>
    </div>
  {{else}}
    <b class="text-success">Congratulations! All photos have been reviewed.</b>
  {{/each}}
</main>

{{#if this.reviewPhoto}}
  <ModalDialog @title="Reject Photo for {{this.reviewPhoto.person.callsign}}"
               @size="xl"
               @onEscape={{this.onClose}} as |modal|>
    <modal.body>
      <ChForm @formId="photo"
              @formFor={{this.reviewForm}}
              @changeSet={{false}}
              @onSubmit={{this.onRejectSubmit}} as |f|>
        <FormRow>
          <div class="col-3">
            <div class="photo-large">
              <img src={{this.reviewPhoto.image_url}} alt="{{this.reviewPhoto.person.callsign}}"/>
            </div>
          </div>
          <f.checkboxGroup @name="reasons"
                           @label="Rejection Reasons:"
                           @options={{this.rejectionOptions}}
                           @cols={{4}}
                           @wrapClass="col-9 ms-2"
          />
        </FormRow>
        <FormRow>
          <f.textarea @name="message"
                      @label="Custom message to include in the rejection email:"
                      @rows={{5}}
                      @cols={{80}}
                      @hint="All email addresses and links in the message will be hyperlinked."/>
        </FormRow>
        <f.submit @label="Reject Photo" @submitClass="btn-danger" disabled={{this.reviewPhoto.isSaving}} />
        <UiCancelButton @disabled={{this.reviewPhoto.isSaving}} @onClick={{this.onClose}} />
        <UiButton @type="secondary" @onClick={{this.rejectPreviewAction}}>Preview Email</UiButton>
        {{#if this.reviewPhoto.isSaving}}
          <LoadingIndicator/>
        {{/if}}
      </ChForm>
    </modal.body>
  </ModalDialog>
{{/if}}

{{#if this.rejectMail}}
  <ModalDialog @title="Rejection Email Preview" @onEscape={{this.closeRejectMail}} as |modal|>
    <modal.body>
      <div class="border">
        <iframe {{on "load" this.insertRejectMail}} class="photo-reject-preview-box" title="rejection message preview">
        </iframe>
      </div>
    </modal.body>
    <modal.footer>
      <UiCloseButton @onClick={{this.closeRejectMail}} />
    </modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.editPhoto}}
  <ModalDialog @title="Edit Photo for {{this.editPhoto.person.callsign}}"
               @onEscape={{this.closeEditPhotoAction}} as |modal|>
    <modal.body>
      <PhotoEdit @imageDataUrl={{this.editPhoto.orig_url}}
                 @submitAction={{this.submitEditedPhotoAction}}
                 @width={{this.width}}
                 @height={{this.height}} />
    </modal.body>
    <modal.footer>
      <UiCancelButton @onClick={{this.closeEditPhotoAction}} />
    </modal.footer>
  </ModalDialog>
{{/if}}


{{#if this.showPhoto}}
  <PhotoInfo @photo={{this.showPhoto}}
             @closeAction={{this.closePhotoInfoAction}}
             @rejectionLabels={{this.rejectionLabels}} />
{{/if}}
