<main class="col">
  <h1>Photo Review</h1>

  <p>
    Showing {{pluralize this.person_photo.length "submitted photo"}}
  </p>

  {{#each this.person_photo as |photo|}}
    <div class="border bg-light-gray mb-4 p-2">
      <div class="row">
        <div class="col-auto">
          <img id={{concat "photo-" photo.id}} src="{{photo.image_url}}" class="photo-vc-review"/>
        </div>
        <div class="col-auto">
          <h3>
            <PersonLink @person={{photo.person}} />
            &lt;{{photo.person.first_name}} {{photo.person.last_name}}, {{photo.person.status}}&gt;
          </h3>
          <p>
          <table class="table table-width-auto">
            <thead>
            <tr>
              <th>Status</th>
              <th>ID</th>
              <th>Uploaded</th>
              <th>Reviewed</th>
              <th>Edited</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                {{#if (eq photo.status "approved")}}
                  <b class="text-success">{{fa-icon "check"}} {{photo.status}}</b>
                {{else if (eq photo.status "rejected")}}
                  <b class="text-danger">{{fa-icon "times"}} {{photo.status}}</b>
                {{else}}
                  {{photo.status}}
                {{/if}}
              </td>
              <td class="text-right">
                {{photo.id}}
              </td>
              <td>
                {{#if photo.uploaded_at}}
                  {{photo.uploaded_at}}<br>
                  by {{#if photo.upload_person}}
                  <PersonLink @person={{photo.upload_person}} />
                {{else}}
                  <i>unknown</i>
                {{/if}}
                {{else}}
                  <i>never</i>
                {{/if}}
              </td>
              <td>
                {{#if photo.reviewed_at}}
                  {{photo.reviewed_at}}<br>
                  by {{#if photo.review_person}}
                  <PersonLink @person={{photo.review_person}} />
                {{else}}
                  <i>unknown</i>
                {{/if}}
                {{else}}
                  <i>never</i>
                {{/if}}
              </td>
              <td>
                {{#if photo.edited_at}}
                  {{photo.edited_at}}<br>
                  by {{#if photo.edit_person}}
                  <PersonLink @person={{photo.edit_person}} />
                {{else}}
                  <i>unknown</i>
                {{/if}}
                {{else}}
                  <i>never</i>
                {{/if}}
              </td>
            </tr>
            </tbody>
          </table>
          </p>
          <p>
            <button type="button" class="btn btn-secondary mr-1" disabled={{photo.isSaving}} {{on "click"
                                                                                                  (fn this.editPhotoAction photo)}}>{{fa-icon
                    "edit"}} Edit
            </button>
            {{#if (not-eq photo.status "rejected")}}
              <button type="button" class="btn btn-danger mr-1" {{on "click" (fn this.showReviewPhoto photo)}}
                      disabled={{photo.isSaving}}>{{fa-icon "times"}} Reject
              </button>
            {{/if}}
            {{#if (not-eq photo.status "approved")}}
              <button type="button" class="btn btn-success mr-1" {{on "click" (fn this.approveAction photo)}}
                      disabled={{photo.isSaving}}>{{fa-icon "check"}} Approve
              </button>
            {{/if}}
            {{#if photo.isSaving}}
              <LoadingIndicator/>
            {{/if}}
          </p>
        <p>
          {{#if photo.rejection_history}}
            <b>{{pluralize photo.rejection_history.length "previously rejected photo"}}</b>
            <div class="row mt-2">
              {{#each photo.rejection_history as |reject|}}
                <div class="col-auto">
                  <div class="mugshot-icon">
                    <img src={{reject.image_url}} {{on "click" (fn this.showPhotoInfoAction reject)}} />
                    {{moment-format reject.uploaded_at "YYYY-MM-DD"}}
                  </div>
                </div>
              {{/each}}
            </div>
          {{else}}
            <b>No prior rejected photos.</b>
          {{/if}}
          </p>
          {{#if (eq photo.status "rejected")}}
            <p>
              Rejection reasons:
              {{#each photo.reject_reasons as |reason idx|~}}
                {{~if idx ", " ~}}{{present-or-not (get this.rejectionLabels reason)
                                                   (concat "Unknown reason " reason)~}}
              {{else}}
                <i>none given</i>
              {{/each}}
            </p>
            <p>
              Reject message:<br>
              {{present-or-not photo.reject_message "none given"}}
            </p>
          {{/if}}
        </div>
      </div>
    </div>
  {{else}}
    <b class="text-success">Congratulations! All photos have been reviewed.</b>
  {{/each}}
</main>

{{#if this.reviewPhoto}}
  <ModalDialog @title={{concat "Reject Photo for " this.reviewPhoto.person.callsign}} as |modal|>
    <modal.body>
      <ChForm @formId="photo" @originalModel={{this.reviewForm}} @changeSet={{false}} @onSubmit={{this.onRejectSubmit}}
              @onCancel={{this.onClose}} as |f|>
        <div class="form-row">
          <div class="col-3">
            <img src={{this.reviewPhoto.image_url}} class="mugshot"/>
          </div>
          <div class="col-8  ml-2">
            <label>Rejection Reasons:</label>
            <div class="form-row">
              <f.input @name="reasons" @type="checkboxGroup" @cols=2 @options={{this.rejectionOptions}} />
            </div>
          </div>
        </div>
        <div class="form-row mt-2">
          <f.input @name="message" @label="Custom message to include in the rejection email:" @type="textarea" @rows=5
                   @cols=80 @hint="All email addresses and links in the message will be hyperlinked."/>
        </div>
        <div class="form-group mt-2">
          <f.submit @label="Reject Photo" @submitClass="btn-danger" disabled={{this.reviewPhoto.isSaving}} />
          <f.cancel disabled={{this.reviewPhoto.isSaving}} />
          <button type="button" class="btn btn-secondary" {{action this.rejectPreviewAction}}>Preview Email</button>
          {{#if this.reviewPhoto.isSaving}}
            <LoadingIndicator/>
          {{/if}}
        </div>
      </ChForm>
    </modal.body>
  </ModalDialog>
{{/if}}

{{#if this.rejectMail}}
  <ModalDialog @title="Rejection Email Preview" as |modal|>
    <modal.body>
      <div class="border">
        <iframe {{on "load" this.insertRejectMail}} style="width: 100%; min-height: 200px;  overflow-y: scroll;">
        </iframe>
      </div>
    </modal.body>
    <modal.footer>
      <modal.button @type="primary" @label="Close" @action={{this.closeRejectMail}} />
    </modal.footer>
  </ModalDialog>

{{/if}}

{{#if this.editPhoto}}
  <ModalDialog @title={{concat "Edit Photo for " this.editPhoto.person.callsign}} as |modal|>
    <modal.body>
      <PhotoEdit @imageDataUrl={{this.editPhoto.orig_url}} @submitAction={{this.submitEditedPhotoAction}}
                 @width={{this.width}} @height={{this.height}} />
    </modal.body>
    <modal.footer>
      <modal.button @label="Cancel" @action={{this.closeEditPhotoAction}} @type="secondary"/>
    </modal.footer>
  </ModalDialog>
{{/if}}


{{#if this.showPhoto}}
  <PhotoInfo @photo={{this.showPhoto}} @closeAction={{this.closePhotoInfoAction}} @rejectionLabels={{this.rejectionLabels}} />
{{/if}}
