<main>
  <YearSelect @title="Spigot Flow"
              @year={{this.year}}
              @minYear={{2010}}
              @skipPandemic={{true}}
              @onChange={{set-value this 'year'}}
  />

  <p>
    The Spigot Flow report show the Prospective counts in a given year. Each date represents a day when one or more
    Prospectives completes a milestone. (e.g., completed the online course, signed up for in-person training,etc.)
  </p>
  <p>
    Previous year indicates the action was taken by the applicant in a prior intake cycle and was carried forward.
    Currently only applies to approved photos.
  </p>
  <p>
    Legend: Imported = imported from Salesforce or converted to Prospective.
    Online Course = completed online course.
    Trained = passed training.
    Dropped = converted to Past Prospective
  </p>
  <p>
    <UiExportToCSVButton @onClick={{this.exportToCSV}} />
  </p>
  Showing {{pluralize this.days.length "day"}}.
  <UiTable>
    <thead>
    <tr>
      <th>Date</th>
      <th>Imported</th>
      <th>Created</th>
      <th>First Login</th>
      <th>Photo Approved</th>
      <th>Online Course</th>
      <th>Signed Up for Training</th>
      <th>Trained</th>
      <th>Dropped</th>
      <th>Alpha Sign Up</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><b>Totals</b></td>
      <td class="text-end">
        {{this.totals.imported}}
      </td>
      <td class="text-end">
        {{this.totals.created}}
      </td>
      <td class="text-end">
        {{this.totals.first_login}}
      </td>
      <td class="text-end">
        {{this.totals.photo_approved}}
      </td>
      <td class="text-end">
        {{this.totals.online_trained}}
      </td>
      <td class="text-end">
        {{this.totals.training_signups}}
      </td>
      <td class="text-end">
        {{this.totals.training_passed}}
      </td>
      <td class="text-end">
        {{this.totals.dropped}}
      </td>
      <td class="text-end">
        {{this.totals.alpha_signups}}
      </td>
    </tr>
    {{#each this.days key="day" as |day|}}
      <tr>
        <td>
          {{#if (eq day.day 0)}}
            Previous Year(s)
          {{else}}
            <PresentOrNot @value={{day.day}} @empty="-"/>
          {{/if}}
        </td>
        <td class="text-end">
          {{#if day.imported.length}}
            {{day.imported.length}}
          {{else}}
            -
          {{/if}}
        </td>
        <td class="text-end">
          <SpigotCallsigns @callsigns={{day.created}} @title="Created" @day={{day.day}} />
        </td>
        <td class="text-end">
          <SpigotCallsigns @callsigns={{day.first_login}} @title="First Login" @day={{day.day}} />
        </td>
        <td class="text-end">
          <SpigotCallsigns @callsigns={{day.photo_approved}} @title="BMID Photo Approved" @day={{day.day}} />
        </td>
        <td class="text-end">
          <SpigotCallsigns @callsigns={{day.online_trained}} @title="Online Course" @day={{day.day}} />
        </td>
        <td class="text-end">
          <SpigotCallsigns @callsigns={{day.training_signups}} @title="Training Signups" @day={{day.day}} />
        </td>
        <td class="text-end">
          <SpigotCallsigns @callsigns={{day.training_passed}} @title="Training Passed" @day={{day.day}} />
        </td>
        <td class="text-end">
          <SpigotCallsigns @callsigns={{day.dropped}} @title="Dropped" @day={{day.day}} />
        </td>
        <td class="text-end">
          <SpigotCallsigns @callsigns={{day.alpha_signups}} @title="Alpha Signups" @day={{day.day}} />
        </td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
</main>
