<main>
  <YearSelect @title="Spigot Flow" @year={{this.year}} @onChange={{action (mut this.year)}} />

  <p>
    The Spigot Flow report show the Prospective counts in a given year. Each date represents a day where one or more
    Prospective completes a milestone. (e.g., signed up for training, completed online training, etc.)
  </p>
  <p>
    Legend: Imported = imported from Salesforce or converted to Prospective.
    Online Trained = completed online training.
    Trained = passed training.
    Dropped = converted to Past Prospective
  </p>
  <p>
    <UiButton @onClick={{this.exportToCSV}}>Export to CSV</UiButton>
  </p>
  Showing {{pluralize @model.days.length "day"}}.
  <table class="table table-width-auto table-striped table-hover">
    <thead>
    <tr>
      <th>Date</th>
      <th>Imported</th>
      <th>BMID Photo Approved</th>
      <th>Online Trained</th>
      <th>Signed Up for Training</th>
      <th>Trained</th>
      <th>Dropped</th>
      <th>Alpha Sign Up</th>
    </tr>
    </thead>
    <tbody>
    {{#each @model.days as |day|}}
      <tr>
        <td>
          <PresentOrNot @value={{day.day}} @empty="-" />
        </td>
        <td class="text-end">
          {{#if day.imported}}
            <Popover @text={{day.imported.length}} @title={{concat day.day " Imported"}}>
              <div class="row g-0">
                {{#each day.imported as |person|}}
                  <div class="col-6">
                    <PersonLink @person={{person}} />
                  </div>
                {{/each}}
              </div>
            </Popover>
          {{else}}
            -
          {{/if}}
        </td>
        <td class="text-end">
          {{#if day.photo_approved}}
            <Popover @text={{day.photo_approved.length}} @title={{concat day.day " BMID Photo Approved"}}>
              <div class="row g-0">
                {{#each day.photo_approved as |person|}}
                  <div class="col-6">
                    <PersonLink @person={{person}} />
                  </div>
                {{/each}}
              </div>
            </Popover>
          {{else}}
            -
          {{/if}}
        </td>
        <td class="text-end">
          {{#if day.online_trained}}
            <Popover @text={{day.online_trained.length}} @title={{concat day.day " Online Trained"}}>
              <div class="row g-0">
              {{#each day.online_trained as |person|}}
                <div class="col-6">
                  <PersonLink @person={{person}} />
                </div>
              {{/each}}
              </div>
            </Popover>
          {{else}}
            -
          {{/if}}
        </td>
        <td class="text-end">
          {{#if day.training_signups}}
            <Popover @text={{day.training_signups.length}} @title={{concat day.day " Training Signups"}}>
              <div class="row g-0">
              {{#each day.training_signups as |person|}}
                <div class="col-6">
                  <PersonLink @person={{person}} />
                </div>
              {{/each}}
              </div>
            </Popover>
          {{else}}
            -
          {{/if}}
        </td>
        <td class="text-end">
          {{#if day.training_passed}}
            <Popover @text={{day.training_passed.length}} @title={{concat day.day " Training Passed"}}>
              <div class="row g-0">
              {{#each day.training_passed as |person|}}
                <div class="col-6">
                  <PersonLink @person={{person}} />
                </div>
              {{/each}}
              </div>
            </Popover>
          {{else}}
            -
          {{/if}}
        </td>
        <td class="text-end">
          {{#if day.dropped}}
            <Popover @text={{day.dropped.length}} @title={{concat day.day " Dropped"}}>
              <div class="row g-0">
              {{#each day.dropped as |person|}}
                <div class="col-6">
                  <PersonLink @person={{person}} />
                </div>
              {{/each}}
              </div>
            </Popover>
          {{else}}
            -
          {{/if}}
        </td>
        <td class="text-end">
          {{#if day.alpha_signups}}
            <Popover @text={{day.alpha_signups.length}} @title={{concat day.day " Alpha Signups"}}>
              <div class="row g-0">
                {{#each day.alpha_signups as |person|}}
                  <div class="col-6">
                    <PersonLink @person={{person}} />
                  </div>
                {{/each}}
              </div>
            </Popover>
          {{else}}
            -
          {{/if}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</main>
