<main>
  <YearSelect @title="Unified Flagging"
              @year={{this.year}}
              @onChange={{action (mut this.year)}}
              @minYear={{2010}}
              @skipPandemic={{true}}
  />

  <UnifiedFlagging @people={{this.people}} @year={{this.year}} />
</main>
