<ModalDialog @title="Graduation Candidates" @onEscape={{@onCancel}} as |Modal|>
  <Modal.body>
    {{#if this.isLoading}}
      <LoadingIndicator @text="loading the candidates"/>
    {{else}}
      <p>
        Eligible candidates are ones who have passed training, and do not already have the <b>{{this.position.title}}</b>
        {{#if this.fullyGraduatedPosition}}
          or <b>{{this.fullyGraduatedPosition.title}}</b> positions.
        {{else}}
          position.
        {{/if}}
      </p>
      {{#if this.candidates}}
        The following candidates are eligible to be granted the {{this.position.title}} position:
        <table class="table table-striped table-hover table-sm table-width-auto">
          <thead>
          <tr>
            <th>Graduate?</th>
            <th>Callsign</th>
            <th>Status</th>
            <th>Result</th>
          </tr>
          </thead>

          <tbody>
          {{#each this.candidates as |student|}}
            <tr>
              <td class="text-end">
                {{#if student.didGraduate}}
                  {{fa-icon "check" color="success"}}
                {{else}}
                  <Input @type="checkbox" @checked={{student.selected}} />
                {{/if}}
              </td>
              <td>
                {{student.person.callsign}}
              </td>
              <td>{{student.person.status}}</td>
              <td>{{student.reason}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{else}}
        <p>
          <b class="text-danger">No eligible candidates were found.</b>
        </p>
      {{/if}}
      {{#if this.ineligible}}
        <b class="text-danger">The following candidates are not eligible for graduation</b>
        <table class="table table-striped table-hover table-sm table-width-auto">
          <thead>
          <tr>
            <th>Callsign</th>
            <th>Status</th>
            <th>Reason</th>
          </tr>
          </thead>

          <tbody>
          {{#each this.ineligible as |student|}}
            <tr>
              <td>
                {{student.person.callsign}}
              </td>
              <td>{{student.person.status}}</td>
              <td>{{student.reason}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{else}}
        <p>
          <b class="text-success">No ineligible candidates found. (Congratulations?)</b>
        </p>
      {{/if}}
    {{/if}}
  </Modal.body>

  <Modal.footer @noAlign={{true}}>
    {{#unless this.isLoading}}
      <UiButton @onClick={{this.saveGraduateAction}} @disabled={{or (not this.selectedCount) this.isSubmitting}}>
        Graduate {{pluralize this.selectedCount "Trainee"}}
      </UiButton>
      <UiCancelButton @disabled={{this.isSubmitting}} @onClick={{@onCancel}} />
      {{#if this.isSubmitting}}
        <LoadingIndicator/>
      {{/if}}
    {{/unless}}
  </Modal.footer>
</ModalDialog>
