<ModalDialog @title="Graduate Trainees" @onEscape={{@onCancel}} as |Modal|>
  <Modal.body>
    {{#if this.isLoading}}
      <LoadingIndicator @text="loading the candidates"/>
    {{else}}
      <p>
        Eligible candidates are ones who have passed training, and do not already have the following position(s):<br>
        <b>{{this.positionTitles}}</b>
      </p>
      {{#if this.fullyGraduatedPosition}}
        <p>
          Individuals who already have the <b>{{this.fullyGraduatedPosition.title}}</b> position are considered "fully
          graduated" and will be skipped.
        </p>
      {{/if}}
      {{#if this.candidates}}
        The following candidates are eligible to be granted the position(s):
        <UiTable>
          <thead>
          <tr>
            <th class="w-15">Graduate?</th>
            <th class="w-15">Callsign</th>
            <th class="w-10">Status</th>
            <th class="w-60">Result</th>
          </tr>
          </thead>

          <tbody>
          {{#each this.candidates as |student|}}
            <tr>
              <td class="w-15 text-center">
                {{#if student.didGraduate}}
                  {{fa-icon "check" color="success"}}
                {{else}}
                  <Input @type="checkbox" @checked={{student.selected}} />
                {{/if}}
              </td>
              <td class="w-15">
                {{student.person.callsign}}
              </td>
              <td class="w-15">{{student.person.status}}</td>
              <td class="w-50">{{student.reason}}</td>
            </tr>
          {{/each}}
          </tbody>
        </UiTable>
      {{else}}
        <p>
          <b class="text-danger">No eligible candidates were found.</b>
        </p>
      {{/if}}
      {{#if this.ineligible}}
        <div class="text-danger">The following are not eligible for graduation:</div>
        <UiTable>
          <thead>
          <tr>
            <th class="w-15">Callsign</th>
            <th class="w-10">Status</th>
            <th class="w-75">Reason</th>
          </tr>
          </thead>

          <tbody>
          {{#each this.ineligible as |student|}}
            <tr>
              <td class="w-15">
                {{student.person.callsign}}
              </td>
              <td class="w-10">{{student.person.status}}</td>
              <td class="w-75">{{student.reason}}</td>
            </tr>
          {{/each}}
          </tbody>
        </UiTable>
      {{else}}
        <p>
          <b class="text-success">No ineligible candidates found. (Congratulations?)</b>
        </p>
      {{/if}}
    {{/if}}
  </Modal.body>

  <Modal.footer @align="start">
    {{#unless this.isLoading}}
      <UiButton @onClick={{this.saveGraduateAction}} @disabled={{or (not this.selectedCount) this.isSubmitting}}>
        Graduate {{pluralize this.selectedCount "Trainee"}}
      </UiButton>
      <UiCancelButton @disabled={{this.isSubmitting}} @onClick={{@onCancel}} />
      {{#if this.isSubmitting}}
        <LoadingIndicator/>
      {{/if}}
    {{/unless}}
  </Modal.footer>
</ModalDialog>
