<h3>Final Timesheet Confirmation &amp; Agreement</h3>

<div class="ml-3 mt-4">
  {{#if (or unverifiedCount correctionPendingReviewCount missingPendingReviewCount)}}
    <div class="text-danger">
      {{fa-icon "exclamation-triangle"}} Hold up! The following item(s) are outstanding:
      <ul class="mt-2">
        {{#if unverifiedCount}}
          <li>You need to still review {{pluralize unverifiedCount "timesheet entry"}}. <LinkTo @route="me.timesheet-corrections.review">Click here</LinkTo> to do that.</li>
        {{/if}}
        {{#if correctionPendingReviewCount}}
          <li>{{pluralize correctionPendingReviewCount "timesheet entry"}} {{if (eq correctionPendingReviewCount 1) "is" "are"}} pending review.</li>
        {{/if}}

        {{#if missingPendingReviewCount}}
          <li>{{pluralize missingPendingReviewCount "missing timesheet entry request"}} {{if (eq missingPendingReviewCount 1) "is" "are"}} pending review.</li>
        {{/if}}
      </ul>
      Until these items are completed, you cannot confirm your entire timesheet as accurate.
    </div>
  {{else if timesheetInfo.timesheet_confirmed}}
    <p class="text-success">
      {{fa-icon "check"}} Thank you for verifying
      your {{timesheetInfo.correction_year}} timesheet is accurate and does not require any changes.
    </p>
    <p>
      If you do submit a correction and/or missing entry request after this point, you will need to reconfirm your
      timesheet is accurate.
    </p>
  {{else}}
    {{#ch-form "confirm" confirmForm onSubmit=(action "confirmAction") as |f|}}
      <div class="form-row">
          By checking the box below, you are agreeing to:
      </div>
      <div class="form-row">
        <ul class="mt-2">
          <li>All your timesheet entries have been reviewed.</li>
          <li>The entries are correct.</li>
          <li>There are no outstanding corrections or missing entry requests waiting for HQ review.</li>
          <li>You do not plan to submit any additional corrections and/or missing entry requests for your {{timesheetInfo.correction_year}} timesheet.</li>
        </ul>
        <label class="col-form-label">
          {{f.input "confirm" type="checkbox" wrapper=false controlClass=""}}
          <b>I have reviewed and verified that my timesheet for {{timesheetInfo.correction_year}} is accurate and does not require any changes.</b>
        </label>
      </div>
      <div class="form-row mt-2">
        <f.submit @label={{if isSubmitting "Submitting" "Submit Confirmation"}} @disabled={{isSubmitting}} />
      </div>
    {{/ch-form}}
  {{/if}}

  <div class="row mt-4">
    <div class="col-sm-12">
      <LinkTo @route="me.timesheet-corrections.missing" class="btn btn-success">{{fa-icon "arrow-left"}} Missing Entries Requests</LinkTo>
    </div>
  </div>
</div>
