<h3>Timesheet Entry Review</h3>

{{#if timesheets}}
  <p>
    Review your {{timesheetInfo.correction_year}} timesheet entries below and mark each
    as correct or incorrect. When you mark an entry as incorrect, a dialog box will appear
    where you may give an explanation on how the entry should be corrected.
  </p>
  <p>
    <b>Is the timesheet missing a shift that you worked?</b>
    Use the {{#link-to "me.timesheet-corrections.missing"}}Missing Entries Requests{{/link-to}}
    page to ask for a missing shift to be recorded.
  </p>
  {{me/timesheet-review-common timesheets=timesheets timesheetInfo=timesheetInfo}}
{{else}}
  <p class="lead mt-3 text-danger">
    No timesheet entries were found for {{timesheetInfo.correction_year}}.
  </p>

{{/if}}

<div class="mt-4">
  <div class="row">
    <div class="col-6 mb-2">
      {{#link-to "me.timesheet-corrections.index" class="btn btn-success"}}{{fa-icon "arrow-left"}} Correction Instructions{{/link-to}}
    </div>
    <div class="col-6 text-md-right">
      {{#link-to "me.timesheet-corrections.missing" class="btn btn-success"}}Missing Entries Requests {{fa-icon "arrow-right"}}{{/link-to}}
    </div>
  </div>
</div>
