<h1>Survey Feedback</h1>
<BackToHome/>

{{#if this.surveys}}
  <UiTable>
    <thead>
    <tr>
      <th>Year</th>
      <th>Surveys</th>
    </tr>
    </thead>
    <tbody>
    {{#each-in this.surveys as |year surveyTypes|}}
      <tr>
        <td>
          {{year}}
        </td>
        <td>
          {{#each surveyTypes as |survey|}}
            {{#if (eq survey.type "alpha")}}
              <LinkTo @route="me.trainer-feedback.view" @model={{year}}
                      @query={{hash type=survey.type}}
                      class="mb-2 d-block">
                {{survey.title}}
              </LinkTo>
            {{else}}
              <LinkTo @route="me.trainer-feedback.view"
                      @model={{year}}
                      class="mb-2 d-block">
                {{survey.title}}
              </LinkTo>
            {{/if}}
          {{/each}}
        </td>
      </tr>
    {{/each-in}}
    </tbody>
  </UiTable>
{{else}}
  <p>
    <b class="text-danger">No one has left you trainer feedback or you are not a trainer.</b>
  </p>
{{/if}}
