<h3>Schedule / Sign-Ups</h3>

<ScheduleManage @person={{this.person}}
                @slots={{this.slots}}
                @year={{this.year}}
                @creditsEarned={{this.creditsEarned}}
                @scheduleSummary={{this.scheduleSummary}}
                @signedUpSlots={{this.signedUpSlots}}
                @permission={{this.permission}}
                @includeLog={{true}}
/>
