{{#if this.isShinyPenny}}
  <UiNotice @type="success" @icon="smile-beam" @iconType="fa-regular"
            @title="{{this.person.callsign}} is a Shiny Penny">
    Share some Ranger love and welcome them to the family.
  </UiNotice>
{{/if}}

{{#unless this.person.on_site}}
  <UiNotice @type="danger" @icon="hand-point-right" @title="{{this.person.callsign}} is marked as OFF SITE">
    <p>
      Follow the procedures on the Site Check In page before signing the person into a shift.
    </p>
    <LinkTo @route="hq.site-checkin" @model={{this.person.id}} class="btn btn-danger">Begin Site Check In</LinkTo>
  </UiNotice>
{{/unless}}

{{#if this.person.unread_message_count}}
  <UiNotice @title="Unread Message(s)" @type="success" @icon="envelope">
    <p>
      {{this.person.callsign}} has {{pluralize this.person.unread_message_count "unread Clubhouse message"}}.
    </p>
    <LinkTo @route="hq.messages" class="btn btn-success">Read Message(s)</LinkTo>
  </UiNotice>
{{/if}}

{{#if this.scheduleRecommendations.burn_weekend_shift}}
  <UiNotice @title="Suggest Working A Burn Weekend Shift" @icon="fire-burner" @type="secondary">
    {{this.person.callsign}} is not signed up for a Burn Weekend shift. Ask if they are interested in signing up for
    one.
  </UiNotice>
{{/if}}

{{#if this.todos}}
  <div class="lh-lg mb-2 fs-4">
    {{#if this.todoCount}}
      {{pluralize this.todoCount "suggested task"}}:
    {{else}}
      <div class="text-success">
        All suggested tasks have been completed.
      </div>
    {{/if}}
    <div class="d-flex justify-content-start flex-wrap">
      {{#if this.todos}}
        {{#each this.todos as |todo|}}
          {{#if todo.ignore}}
            <div class="text-muted me-4">{{fa-icon "ban" fixed=true right=1}} {{todo.message}}</div>
          {{else if todo.completed}}
            <div class="text-success me-4">{{fa-icon "check" fixed=true right=1}} {{todo.message}}</div>
          {{else}}
            <div class="me-4">{{fa-icon "circle" type="far" fixed=true right=1}} {{todo.message}}</div>
          {{/if}}
        {{/each}}
      {{/if}}
    </div>
  </div>
{{/if}}

<UiTab @customTabs={{true}} @activeId={{this.firstTab}}  @checkTabNavigation={{this.checkAssetCheckout}} as |tab|>
  <UiTabCustomNav @tab={{tab}} as |nav|>
    <nav.item @paneId="timesheet-verification" @icon="list">
      <div>
        Timesheet Review
        {{#if this.unreviewedTimesheetCount}}
          <span class="ms-1 text-danger">({{pluralize this.unreviewedTimesheetCount "entry"}})</span>
        {{else}}
          <div class="ms-1 text-muted">(not needed yet)</div>
        {{/if}}
      </div>
    </nav.item>
    <nav.item @paneId="shift-manage" @icon="person-walking">
      {{#if this.onDutyEntry}}
        End The Shift
      {{else}}
        Start A Shift
      {{/if}}
    </nav.item>
    <nav.item @paneId="assets" @icon="tower-broadcast">
      Radios &amp; Gear
    </nav.item>
    <nav.item @paneId="pogs" @icon="utensils">
      Pogs
    </nav.item>
    <nav.item @paneId="offsite" @icon="house">
      Mark Off Site
    </nav.item>
  </UiTabCustomNav>
  <div class="tab-content">
    <tab.pane @id="timesheet-verification" @title="Timesheet Verification">
      <HqTimesheetVerification @unverifiedTimesheets={{this.unverifiedTimesheets}}
                               @completeTodo={{this.completeTodo}}
      />
    </tab.pane>
    <tab.pane @id="shift-manage" @title={{if this.onDutyEntry "End Shift" "Start Shift"}}>
      {{#if this.endedShiftEntry}}
        <HqTimesheetVerification @unverifiedTimesheets={{this.unverifiedTimesheets}}
                                 @completeTodo={{this.completeTodo}}
        />
      {{/if}}
      <ShiftCheckInOut @positions={{this.positions}}
                       @timesheets={{this.timesheets}}
                       @person={{this.person}}
                       @upcomingSlots={{this.upcomingSlots}}
                       @hasUnreviewedTimesheet={{this.hasUnreviewedTimesheet}}
                       @startShiftNotify={{this.startShiftNotify}}
                       @endShiftNotify={{this.endShiftNotify}}
                       @onDutyEntry={{this.onDutyEntry}}
                       @eventInfo={{this.eventInfo}}
                       @year={{this.session.currentYear}}
      />
    </tab.pane>

    <tab.pane @id="assets" @title="Radios, Gear & Assets">
      {{#if (eq tab.activeId "assets")}}
        {{#unless this.personEvent.asset_authorized}}
          <UiNotice @title="Do Not Issue Radios or Gear" @type="danger" @icon="ban">
            The Radio Checkout Agreement has not been signed. Direct {{this.person.callsign}} to the kiosk shack,
            so they can log in into the Clubhouse, review, and sign the agreement.
          </UiNotice>
        {{/unless}}
        {{#if this.radioCount}}
          {{#if this.shiftRadios}}
            <div class="alert alert-danger">
              Collect {{pluralize this.shiftRadios "shift radio"}} at the end of the shift.
            </div>
          {{/if}}
          {{#if this.eventRadios}}
            <h4 class="text-success">
              {{this.person.callsign}} has {{pluralize this.eventRadios "event radio"}} checked out. Collect the
              radio(s) after their very last shift of the season.
            </h4>
          {{/if}}
        {{/if}}

        <div class="mb-2">
          {{#if this.eventInfo.radio_eligible}}
            <p>
              {{this.person.callsign}} is authorized for {{pluralize this.eventInfo.radio_max "event radio"}}.
            </p>
          {{else}}
            {{#if this.mayNotNeedRadio}}
              <UiNotice @icon="hand-point-right" @type="secondary" @title="May not need radio">
                {{this.person.callsign}} is working a Burn Perimeter shift and may not need a radio. Check with
                the HQ Short or Lead if in doubt.
              </UiNotice>
            {{/if}}
            {{this.person.callsign}} is only authorized for SHIFT RADIOS.
          {{/if}}
        </div>

        {{#if this.personEvent.asset_authorized}}
          <AssetCheckoutForm @person={{this.person}}
                             @assets={{this.assets}}
                             @attachments={{this.attachments}}
                             @eventInfo={{this.eventInfo}}
                             @onCheckOut={{this.onAssetCheckOut}}
                             @registerCallback={{this.registerAssetCallback}}
          />
        {{/if}}

        <HqAssetTable @assetsCheckedOut={{this.assetsCheckedOut}}
                      @attachments={{this.attachments}}
                      @onCheckIn={{this.onAssetCheckIn}}
        />

        <div>
          {{#if this.assets.isUpdating}}
            <LoadingIndicator @text="Refreshing Assets"/>
          {{/if}}
        </div>
      {{/if}}
    </tab.pane>

    <tab.pane @id="pogs">
      <HqPogs @person={{this.person}}
              @onDutyEntry={{this.onDutyEntry}}
              @endedShiftEntry={{this.endedShiftEntry}}
              @period={{this.eventInfo.event_period}}
              @eventPeriods={{this.eventPeriods}}
              @showers={{this.eventInfo.showers}}
              @onPogIssue={{this.onPogIssue}}
      />
      <HqProvisionInfo @person={{this.person}}
                       @period={{this.eventInfo.event_period}}
                       @eventPeriods={{this.eventPeriods}}
                       @meals={{this.eventInfo.meals}}
                       @showers={{this.eventInfo.showers}}
                       @onDutyEntry={{this.onDutyEntry}} />
    </tab.pane>

    <tab.pane @id="offsite">
      {{#if this.person.on_site}}
        {{#if this.pendingItems}}
          <UiNotice @icon="hand" @type="danger" @title="Pending Item(s)">
            {{pluralize this.pendingItems "item"}} still needs to be dealt with before marking
            this person off site:
            <ul class="mt-2 mb-2">
              {{#unless this.isOffDuty}}
                <li>
                  {{this.person.callsign}} is still on duty.
                </li>
              {{/unless}}
              {{#if this.assetsCheckedOut}}
                <li>{{pluralize this.assetsCheckedOut.length "asset"}} (radios, gear, etc.) not collected.</li>
              {{/if}}
              {{#if this.unverifiedTimesheets}}
                <li>{{pluralize this.unverifiedTimesheets.length "timesheet entry"}} not reviewed.</li>
              {{/if}}
            </ul>
            You may choose to ignore this warning and proceed to mark this person off site. However, you really should
            take care of the items listed above.
          </UiNotice>
        {{else}}
          <p class="text-success">
            {{this.person.callsign}} has no outstanding items and is cleared to be marked off-site.
          </p>
        {{/if}}
        <UiButton @type="secondary" @onClick={{this.markOffSite}} @disabled={{this.isMarkingOffSite}}>
          Mark As Off Site
        </UiButton>
        {{#if this.isMarkingOffSite}}
          <SpinIcon/>
        {{/if}}
      {{else}}
        <div class="alert alert-danger">
          {{this.person.callsign}} is off site.
        </div>
      {{/if}}
    </tab.pane>
  </div>
</UiTab>
