{{#if isShinyPenny}}
  {{#ch-alert "success"}}
    <b>{{person.callsign}} is newly minted Shiny Penny. Share the Ranger love and welcome them to the family. {{fa-icon "smile-beam" type="far"}}</b>
  {{/ch-alert}}
{{/if}}

{{#unless person.on_site}}
  {{#ch-alert "danger"}}
    <h4>{{person.callsign}} is marked as OFF SITE.</h4>
    Follow the procedures on the Site Check In page before signing the person into a shift.
    <div class="mt-2">
      {{#link-to "hq.site-checkin" person.id class="btn btn-primary"}}Site Check In{{/link-to}}
    </div>
  {{/ch-alert}}
{{/unless}}

{{#if (gt person.unread_message_count 0)}}
  {{#ch-alert "warning" bold=true}}
    {{fa-icon "envelope"}} {{pluralize person.unread_message_count "unread Clubhouse message"}}.
    {{#link-to "hq.messages" class="btn btn-success"}}Read Now{{/link-to}}
  {{/ch-alert}}
{{/if}}

{{#if scheduleRecommendations.burn_weekend_shift}}
  {{#ch-alert "warning"}}
    <div class="d-flex">
      <div class="mr-2">
        {{fa-icon "exclamation-circle" size="2x"}}
      </div>
      <div class="mt-1">
        <h5> {{person.callsign}} is not signed up for a Burn Weekend shift</h5>
        Ask {{person.callsign}} if they are interested in signing up for a weekend shift.
      </div>
    </div>
  {{/ch-alert}}
{{/if}}

<h3>Timesheet Verification {{help-popover slug="hq-timesheet-verification"}} - {{#if unverifiedTimesheets }}{{pluralize unverifiedTimesheets.length "entry" }}{{else}}No Action Needed{{/if}}</h3>
{{#if unverifiedTimesheetEntry}}
  {{#if ignoreTimesheetVerification}}
    <button class="btn btn-secondary" {{action toggleIgnoreVerification}}>Show Verfication</button>
  {{else}}
    <p>Ask {{person.callsign}} if the following timesheet entry is correct:</p>
    <table class="table table-width-auto">
      <thead>
        <tr>
          <th>Position</th>
          <th>From</th>
          <th>To</th>
          <th class="text-right">Duration</th>
          <th class="text-right">Credits</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{unverifiedTimesheetEntry.position.title}}</td>
          <td>{{shift-format unverifiedTimesheetEntry.on_duty}}</td>
          <td>{{shift-format unverifiedTimesheetEntry.off_duty}}</td>
          <td class="text-right">{{hour-minute-format unverifiedTimesheetEntry.duration}}</td>
          <td class="text-right">{{credits-format unverifiedTimesheetEntry.credits}}</td>
        </tr>
      </tbody>
    </table>
    <div class="mt-2">
      <button class="btn btn-success py-2 px-4 mr-3" {{action markEntryCorrect}} disabled={{isSubmitting}}>YES</button>
      <button class="btn btn-danger  py-2 px-4 p-2 mr-3" {{action markEntryIncorrect}} disabled={{isSubmitting}}>NO</button>
      <button class="btn btn-gray  py-2 px-4" {{action toggleIgnoreVerification}} disabled={{isSubmitting}}>IGNORE</button>
    </div>
  {{/if}}
{{else}}
  No timesheet entries need review at this time.
{{/if}}

<hr class="my-3">
<h3>Shift Management {{help-popover slug="hq-shift-management"}}</h3>
{{shift-check-in-out
    positions=positions timesheets=timesheets person=person imminentSlots=imminentSlots
    hasUnverifiedTimesheet=(and unverifiedTimesheets (not ignoreTimesheetVerification))
    endShiftNotify=(action refreshTimesheetSummary)
    eventInfo=eventInfo
  }}


{{#if (and showCorrectionForm unverifiedTimesheetEntry)}}
  {{#ch-form "correction" unverifiedTimesheetEntry modalBox=true modalTitle="Timesheet Entry Correction" validator=correctionValidations onSubmit=(action saveEntryCorrection) onCancel=(action cancelEntryCorrection) as |f|}}
    <dl class="form-row">
      <dt class="col-sm-2">Position:</dt>
      <dd class="col-sm-10">{{unverifiedTimesheetEntry.position.title}}</dd>

      <dt class="col-sm-2">Time:</dt>
      <dd class="col-sm-10">{{shift-format unverifiedTimesheetEntry.on_duty}} to {{shift-format unverifiedTimesheetEntry.off_duty}}</dd>

      <dt class="col-sm-2">Duration:</dt>
      <dd class="col-sm-10">{{hour-minute-format unverifiedTimesheetEntry.duration}}</dd>

      <dt class="col-sm-2">Credits:</dt>
      <dd class="col-sm-10">{{credits-format unverifiedTimesheetEntry.credits}}</dd>
    </dl>
    <div class="form-row">
      Provide as much information as possible to help the reviewer understand why this entry should be fixed.
      <ul>
        <li>Why does {{person.callsign}} think the entry is wrong?</li>
        <li><b>Wrong times?</b> State the correct times. Don't forget to include the month and day.</li>
        <li><b>Is the position "{{unverifiedTimesheetEntry.position.title}}" wrong?</b> State the correct position</li>
        <li><b>Who was their shift partner(s)?</b></li>
      </ul>
    </div>
    {{f.input "notes" label="Timesheet entry correction note:" type="textarea" autofocus=true cols=80 rows=3}}
    {{f.submit label="Submit Correction" disabled=isSubmitting}}
    {{f.cancel}}
  {{/ch-form}}
{{/if}}

<hr>
<h3 class="mb-2">Radio &amp; Assets {{help-popover slug="hq-assets"}}</h3>
{{#unless eventInfo.radio_info_available}}
  {{#ch-alert "danger"}}
    Warning: Event radio information has not been posted yet. Radio eligibility cannot be determined.
  {{/ch-alert}}
{{/unless}}
{{#if radioCount}}
  {{#if shiftRadios}}
    <h3 class="text-danger">Collect {{pluralize shiftRadios "radio"}} at end of shift</h3>
  {{/if}}
  {{#if eventRadios}}
    <h3 class="text-success">Collect {{pluralize eventRadios "event radio"}} at event end</h3>
  {{/if}}
{{/if}}

<div class="mb-2">
  {{person.callsign}} is
  {{#if eventInfo.radio_eligible}}
    authorized for {{pluralize eventInfo.radio_max "event radio"}}.
  {{else}}
    only authorized for shift radios.
  {{/if}}
</div>

{{#if person.asset_authorized}}
  {{asset-checkout-form person=person assets=assets attachments=attachments eventInfo=eventInfo}}
{{else}}
  <p class="text-danger"><b>{{person.callsign}} is not asset authorized and may not check out equipment at this time. Have the person sign the Radio Checkout form, then to go Site Check In and mark the person having signed the document.</b></p>
  <p>
    {{#link-to "hq.site-checkin" person.id class="btn btn-primary"}}Site Check In{{/link-to}}
  </p>
{{/if}}


<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Barcode</th>
      <th>Attachment</th>
      <th>Assigned</th>
      <th>Temp ID</th>
      <th>Checked Out</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each assetsCheckedOut as |ap|}}
      <tr>
        <td class="align-middle">{{ap.asset.description}}</td>
        <td class="align-middle">{{present-or-not ap.asset.barcode "-"}}</td>
        <td class="align-middle">{{present-or-not ap.attachment.description "-"}}</td>
        <td class="align-middle">{{if ap.asset.perm_assign "Permanent" "Temporary"}}</td>
        <td class="align-middle">{{present-or-not ap.asset.temp_id "-"}}</td>
        <td class="align-middle">{{shift-format ap.checked_out}}</td>
        <td class="align-middle">
          <button class="btn btn-primary" {{action assetCheckInAction ap}}>Check In</button>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="7">No assets checked out</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if person.on_site}}
  <div class="mt-4">
    <button class="btn btn-secondary" {{action markOffSite}}>Mark As Off Site</button>
  </div>
{{/if}}
