<div id="todo-list" class="hq-todo-block">
  {{#if (or this.isShinyPenny this.scheduleRecommendations.burn_weekend_shift)}}
    <div class="mb-2 px-3 py-2 mx-n3 mt-n3 text-primary-emphasis bg-primary-subtle">
      {{#if this.isShinyPenny}}
        <div class={{if this.scheduleRecommendations.burn_weekend_shift "mb-1"}}>
          {{fa-icon "smile-beam" type="r" right=1}} {{this.person.callsign}} is a Shiny Penny.
          Welcome them to the department!
        </div>
      {{/if}}
      {{#if this.scheduleRecommendations.burn_weekend_shift}}
        {{fa-icon "hand-point-right" right=1}} Ask {{this.person.callsign}} if they are interested in working a
        Burn Weekend shift.
      {{/if}}
    </div>
  {{/if}}

  <div class="d-flex justify-content-start">
    <div class="flex-shrink-0 me-2 {{unless this.todoCount "text-success"}}">
      {{pluralize this.todoCount "suggested task"}}:
    </div>
    <div class="d-flex justify-content-start flex-wrap flex-shrink-1">
      {{#if this.todos}}
        {{#each this.todos as |todo|}}
          <HqTodoTask @todo={{todo}} />
        {{/each}}
      {{/if}}
    </div>
  </div>
  {{#if this.askIfDone}}
    <HqTodoTask @todo={{this.askIfDone}} />
  {{/if}}
  {{#if this.onDutyEntry}}
    <div class="mt-2 fw-semibold">
      {{fa-icon "person-walking" right=1}} {{this.person.callsign}} is signed into {{this.onDutyEntry.position.title}}.
    </div>
  {{/if}}
  {{#unless this.todoCount}}
    <div class="text-success fs-5 mt-2">
      {{fa-icon "check" right=1}} All suggested tasks have been completed.
    </div>
  {{/unless}}
</div>

{{#unless this.person.on_site}}
  <UiNotice @type="warning"
            @icon="hand-point-right"
            @title="{{this.person.callsign}} is marked as OFF SITE">
    <p>
      Follow the procedures on the Site Registration page before signing the person into a shift.
    </p>
    <LinkTo @route="hq.site-checkin" @model={{this.person.id}} class="btn btn-secondary">
      Begin Site Registration
    </LinkTo>
  </UiNotice>
{{/unless}}

{{#if this.person.unread_message_count}}
  <UiNotice @title="Unread Message(s)" @type="success" @icon="envelope">
    <p>
      {{this.person.callsign}} has {{pluralize this.person.unread_message_count "unread Clubhouse message"}}.
    </p>
    <LinkTo @route="hq.messages" class="btn btn-secondary">Read Message(s)</LinkTo>
  </UiNotice>
{{/if}}


<ShiftCheckInAlerts @positions={{this.positions}}
                    @person={{this.person}}
                    @upcomingSlots={{this.upcomingSlots}}
                    @eventInfo={{this.eventInfo}}
/>

<HqShiftManageSection @id="shift-manage" @requireAction={{this.onDutyEntry}}>
  <:title>
    {{#if this.onDutyEntry}}
      End The Shift
    {{else}}
      Start A Shift
    {{/if}}
  </:title>
  <:body>
    <HqTimesheetVerification @unverifiedTimesheets={{this.timesheetsToReview}}
                             @completeTodo={{this.completeTodo}}
                             @onFinished={{this.afterShiftReview}}
                             @positions={{this.positions}}
                             @person={{this.person}}
                             @registerCorrectionAction={{this.registerCorrectionAction}}
    />
    <ShiftCheckInOut @positions={{this.positions}}
                     @timesheets={{this.timesheets}}
                     @person={{this.person}}
                     @upcomingSlots={{this.upcomingSlots}}
                     @hasUnreviewedTimesheet={{this.hasUnreviewedTimesheet}}
                     @startShiftNotify={{this.startShiftNotify}}
                     @endShiftNotify={{this.endShiftNotify}}
                     @onDutyEntry={{this.onDutyEntry}}
                     @eventInfo={{this.eventInfo}}
                     @year={{this.session.currentYear}}
                     @allowCorrectionOnEnd={{true}}
    />
  </:body>
</HqShiftManageSection>

<HqShiftManageSection @id="assets" @requireAction={{this.collectRadioCount}}>
  <:title>
    Radios &amp; Gear
    {{#if this.collectRadioCount}}
      - Collect {{pluralize this.collectRadioCount "radio"}}
    {{/if}}
  </:title>
  <:body>
    {{#unless this.personEvent.asset_authorized}}
      <UiNotice @type="danger" @title="Radio Agreement Not Signed - Do Not Issue Radios or Gear" @icon="ban">
        The Radio Checkout Agreement has not been signed. {{this.person.callsign}} may not receive
        radios or other gear until this is resolved. Direct {{this.person.callsign}} to the kiosk
        shack, so they can log in into the Clubhouse, review, and sign the agreement.
      </UiNotice>
    {{/unless}}

    {{#if this.mayNotNeedRadio}}
      <UiAlert @type="warning" @title="Radio May Not Be Required" @icon="hand">
        {{this.person.callsign}} is working a shift that may not require a radio.
        Check with the HQ Short or Lead if in doubt.
      </UiAlert>
    {{/if}}

    {{#if (or this.shiftRadios this.collectEventRadiosAtShiftEnd this.collectEventRadios)}}
      <ul>
        {{#if this.shiftRadios}}
          <li>
            Collect {{pluralize this.shiftRadios "shift radio"}} at the end of the shift.
          </li>
        {{/if}}
        {{#if this.collectEventRadiosAtShiftEnd}}
          <li>
            Collect {{pluralize this.collectEventRadiosAtShiftEnd "event radio"}} at the end of the shift.
          </li>
        {{/if}}
        {{#if this.collectEventRadios}}
          <li>
            Collect {{pluralize this.collectEventRadios "event radio"}} when person is finished rangering the event.
          </li>
        {{/if}}
      </ul>
    {{/if}}

    <div class="mb-2">
      {{#if this.eventInfo.radio_eligible}}
        {{this.person.callsign}} is authorized for
        <span class="fw-semibold">{{pluralize this.eventInfo.radio_max "event radio"}}</span>.
      {{else}}
        {{this.person.callsign}} is only authorized for <span class="fw-semibold">SHIFT RADIOS.</span>
      {{/if}}
    </div>

    {{#if this.personEvent.asset_authorized}}
      <AssetCheckoutForm @person={{this.person}}
                         @assets={{this.assets}}
                         @attachments={{this.attachments}}
                         @eventInfo={{this.eventInfo}}
                         @onCheckOut={{this.onAssetCheckOut}}
                         @noAutoFocus={{true}}
                         @onBarcodeChange={{this.updateBarocde}}
      />
    {{/if}}
    <HqAssetTable @assetsCheckedOut={{this.assetsCheckedOut}}
                  @attachments={{this.attachments}}
                  @onCheckIn={{this.onAssetCheckIn}}
    />
    {{#if this.assets.isUpdating}}
      <LoadingIndicator @text="Refreshing Assets"/>
    {{/if}}
  </:body>
</HqShiftManageSection>

<HqShiftManageSection @id="pogs" @requireAction={{this.highlightMealShowers}}>
  <:title>Meals &amp; Showers</:title>
  <:body>
    <HqPogs @person={{this.person}}
            @onDutyEntry={{this.onDutyEntry}}
            @endedShiftEntry={{this.endedShiftEntry}}
            @period={{this.eventInfo.event_period}}
            @eventPeriods={{this.eventPeriods}}
            @showers={{this.eventInfo.showers}}
            @onPogIssue={{this.onPogIssue}}
    />
    <HqProvisionInfo @person={{this.person}}
                     @period={{this.eventInfo.event_period}}
                     @eventPeriods={{this.eventPeriods}}
                     @meals={{this.eventInfo.meals}}
                     @showers={{this.eventInfo.showers}}
                     @onDutyEntry={{this.onDutyEntry}} />
  </:body>
</HqShiftManageSection>

<HqShiftManageSection @id="offsite">
  <:title>
    Mark Off Site
  </:title>
  <:body>
    {{#if this.person.on_site}}
      {{#if this.pendingItems}}
        <UiNotice @icon="hand" @type="danger" @title="Pending Item(s)">
          {{pluralize this.pendingItems "item"}} still needs to be dealt with before marking
          this person off site:
          <ul class="mt-2 mb-2">
            {{#unless this.isOffDuty}}
              <li>
                {{this.person.callsign}} is still on duty.
              </li>
            {{/unless}}
            {{#if this.assetsCheckedOut}}
              <li>
                {{pluralize this.assetsCheckedOut.length "asset"}} (radios, gear, etc.) not collected.
              </li>
            {{/if}}
            {{#if this.timesheetsToReview}}
              <li>{{pluralize this.timesheetsToReview.length "timesheet entry"}} not reviewed.</li>
            {{/if}}
          </ul>
          You may choose to ignore this warning and proceed to mark this person off site. However, you
          really should take care of the items listed above.
        </UiNotice>
      {{else}}
        <p class="text-success">
          {{this.person.callsign}} has no outstanding items and is cleared to be marked off-site.
        </p>
      {{/if}}
      <UiButton @type="secondary" @onClick={{this.markOffSite}} @disabled={{this.isMarkingOffSite}} @size="md">
        Mark As Off Site
      </UiButton>
      {{#if this.isMarkingOffSite}}
        <SpinIcon/>
      {{/if}}
    {{else}}
        {{this.person.callsign}} is already marked as off site.
    {{/if}}
  </:body>
</HqShiftManageSection>

{{#if this.showUnsubmittedBarcodeDialog}}
  <ModalDialog @onEscape={{this.closeUnsubmittedBarcodeDialog}} as |Modal|>
    <Modal.title>
      Barcode Enter But Not Checked Out
    </Modal.title>
    <Modal.body>
      <p>
        Did you forget to hit the asset <i>Checkout</i> button?
      </p>
      You entered a barcode number, yet it was not checked out. Either check out the asset or clear the field
      before attempting to look up another callsign or navigate to another Clubhouse page.
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeUnsubmittedBarcodeDialog}} @size="md"/>
    </Modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.showIsAlpha}}
  <ModalDialog @onEscape={{this.closeIsAlphaDialog}} as |Modal|>
    <Modal.title>
      Do Not Start a Shift
    </Modal.title>
    <Modal.body>
      <div class="text-danger">
        {{this.person.callsign}} is an Alpha. Direct them to the Hat Rack, where the Mentors will take over.
      </div>
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeIsAlphaDialog}} @size="md"/>
    </Modal.footer>
  </ModalDialog>
{{/if}}