{{#if this.isShinyPenny}}
  <ChNotice @type="success" @icon="smile-beam" @iconType="far">
    {{this.person.callsign}} is newly minted Shiny Penny. Share some Ranger love and welcome them to the family.
  </ChNotice>
{{/if}}

{{#unless this.person.on_site}}
  <ChNotice @type="danger" @icon="hand-point-right" @title="{{this.person.callsign}} is marked as OFF SITE">
    <p>
      Follow the procedures on the Site Check In page before signing the person into a shift.
    </p>
    <LinkTo @route="hq.site-checkin" @model={{this.person.id}} class="btn btn-danger">Site Check In</LinkTo>
  </ChNotice>
{{/unless}}

{{#if (gt this.person.unread_message_count 0)}}
  <ChNotice @type="success" @icon="envelope">
    {{pluralize this.person.unread_message_count "unread Clubhouse message"}}.
    <LinkTo @route="hq.messages" class="btn btn-success">Read Now</LinkTo>
  </ChNotice>
{{/if}}

{{#if this.scheduleRecommendations.burn_weekend_shift}}
  <ChNotice @title="Suggest Working A Burn Weekend Shift" @icon="walking" @type="info">
    {{this.person.callsign}} is not signed up for a Burn Weekend shift. Ask if they are interested in signing up for
    one.
  </ChNotice>
{{/if}}

<div class="my-2">
  <div class="d-inline-block align-middle">
    <b>Earned Credits:</b> {{credits-format this.timesheetSummary.total_credits}}
    <b>Worked Hours:</b> {{hour-minute-format this.timesheetSummary.counted_duration}}
  </div>
  <div class="ml-2 d-inline-block">
    <button type="button" class="btn btn-sm btn-secondary align-middle" {{action this.toggleAppreciationsProgress}}>
      Ticket &amp; Provisions Progress
    </button>
    <button type="button" class="btn btn-sm btn-secondary ml-2 align-middle" {{action this.toggleHoursCreditBreakdown}}>
      Credits &amp; Hours Breakdown
    </button>
  </div>
</div>

<hr>

<h3>
  Timesheet Verification -
  {{#if this.hasUnverifiedTimesheet}}
    <span class="text-danger">{{pluralize this.unverifiedTimesheets.length "entry" }}</span>
  {{else}}
    No Action Needed
  {{/if}}
  <HelpPopover @slug="hq-timesheet-verification"/>
</h3>

{{#if this.unverifiedTimesheets}}
  Ask {{this.person.callsign}} if the following is correct:
  <table class="table table-width-auto table-striped table-hover">
    <thead>
    <tr>
      <th>Position</th>
      <th>From</th>
      <th>To</th>
      <th class="text-right">Duration</th>
      <th class="text-right">Credits</th>
      <th>Correct?</th>
      <th class="w-5">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.unverifiedTimesheets as |entry|}}
      <tr>
        <td class="align-middle">
          {{entry.position.title}}
        </td>
        <td class="align-middle">
          {{shift-format entry.on_duty}}
        </td>
        <td class="align-middle">
          {{shift-format entry.off_duty}}
        </td>
        <td class="text-right align-middle">
          {{hour-minute-format entry.duration}}
        </td>
        <td class="text-right align-middle">
          {{credits-format entry.credits}}
        </td>
        <td class="align-middle">
          <button type="button" class="btn btn-success btn-timesheet " {{action this.markEntryCorrect entry}}
                  disabled={{entry.isSaving}}>
            YES
            {{#if entry.isVerified}}
              {{fa-icon "check"}}
            {{/if}}
          </button>
          <button type="button" class="btn btn-light-red btn-timesheet" {{action this.markEntryIncorrect entry}}
                  disabled={{entry.isSaving}}>
            NO
            {{#if entry.isPending}}
              {{fa-icon "check"}}
            {{/if}}
          </button>
          <button type="button" class="btn btn-dark-gray btn-timesheet" {{action this.ignoreEntry entry}}
                  disabled={{or entry.isSaving entry.isVerified entry.isPending}}>
            IGNORE
            {{#if entry.isIgnoring}}
              {{fa-icon "check"}}
            {{/if}}
          </button>
        </td>
        <td class="w-5">
          {{#if entry.isSaving}}
            <SpinIcon/>
          {{else}}
            &nbsp;
          {{/if}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{else}}
  No timesheet entries need review at this time.
{{/if}}

<hr class="my-3">
<h3>Shift Management
  <HelpPopover @slug="hq-shift-management"/>
</h3>
<ShiftCheckInOut @positions={{this.positions}}
                 @timesheets={{this.timesheets}}
                 @person={{this.person}}
                 @imminentSlots={{this.imminentSlots}}
                 @hasUnverifiedTimesheet={{this.hasUnverifiedTimesheet}}
                 @startShiftNotify={{this.startShiftNotify}}
                 @endShiftNotify={{this.endShiftNotify}}
                 @onDutyEntry={{this.onDutyEntry}}
                 @eventInfo={{this.eventInfo}}
/>


{{#if this.showCorrectionForm}}
  <ModalDialog @title="Timesheet Entry Correction" as |Modal|>
    <ChForm @formId="correction" @formFor={{this.entry}}
            @validator={{this.correctionValidations}}
            @onSubmit={{this.saveEntryCorrection}} @onCancel={{this.cancelEntryCorrection}} as |f|>
      <Modal.body>
        <dl class="form-row">
          <dt class="col-sm-2">Position:</dt>
          <dd class="col-sm-10">{{this.entry.position.title}}</dd>

          <dt class="col-sm-2">Time:</dt>
          <dd class="col-sm-10">{{shift-format this.entry.on_duty}} to {{shift-format this.entry.off_duty}}</dd>

          <dt class="col-sm-2">Duration:</dt>
          <dd class="col-sm-10">{{hour-minute-format this.entry.duration}}</dd>

          <dt class="col-sm-2">Credits:</dt>
          <dd class="col-sm-10">{{credits-format this.entry.credits}}</dd>
        </dl>
        <div class="form-row">
          Provide as much information as possible to help the reviewer understand why this entry should be fixed.
          <ul>
            <li>Why does {{this.person.callsign}} think the entry is wrong?</li>
            <li><b>Wrong times?</b> State the correct times. Don't forget to include the month and day.</li>
            <li><b>Is the position "{{this.entry.position.title}}" wrong?</b> State the correct position</li>
            <li><b>Who was their shift partner(s)?</b></li>
          </ul>
        </div>
        <f.input @name="additional_notes" @label="Timesheet entry correction note:" @type="textarea"
                 @autofocus={{true}}
                 @cols={{80}}
                 @rows={{3}}/>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="Submit Correction" @disabled={{this.isCorrectionSubmitting}} />
        <f.cancel @disabled={{this.isCorrectionSubmitting}} />
        {{#if this.isCorrectionSubmitting}}
          <SpinIcon/>
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
<hr>
<h3 class="mb-2">Radio &amp; Assets
  <HelpPopover @slug="hq-assets"/>
</h3>
{{#unless this.eventInfo.radio_info_available}}
  <ChNotice @type="warning" @icon="exclamation">
    Event radio information has not been posted yet. Radio eligibility cannot be determined.
  </ChNotice>
{{/unless}}
{{#if this.radioCount}}
  {{#if this.shiftRadios}}
    <h3 class="text-danger">Collect {{pluralize this.shiftRadios "radio"}} at end of shift</h3>
  {{/if}}
  {{#if this.eventRadios}}
    <h3 class="text-success">Collect {{pluralize this.eventRadios "event radio"}} at event end</h3>
  {{/if}}
{{/if}}

<div class="mb-2">
  {{this.person.callsign}} is
  {{#if this.eventInfo.radio_eligible}}
    authorized for {{pluralize this.eventInfo.radio_max "event radio"}}.
  {{else}}
    only authorized for SHIFT RADIOS.
  {{/if}}
</div>

{{#if this.personEvent.asset_authorized}}
  <AssetCheckoutForm @person={{this.person}} @assets={{this.assets}} @attachments={{this.attachments}}
                     @eventInfo={{this.eventInfo}} />
{{else}}
  <h3 class="text-danger">Radio Checkout Agreement NOT SIGNED - DO NOT ISSUE RADIOS</h3>
  <p>
    Direct {{this.person.callsign}} to the kiosk shack so they can login into the Clubhouse, review and sign
    the agreement.
  </p>
{{/if}}

<table class="table table-striped table-width-auto">
  <thead>
  <tr>
    <th>Type</th>
    <th>Barcode</th>
    <th>Attachment</th>
    <th>Assigned</th>
    <th>Temp ID</th>
    <th>Checked Out</th>
    <th>Action</th>
    <th class="w-5">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.assetsCheckedOut as |ap|}}
    <tr>
      <td class="align-middle">{{ap.asset.description}}</td>
      <td class="align-middle">
        <PresentOrNot @value={{ap.asset.barcode}} @empty="-"/>
      </td>
      <td class="align-middle">
        <PresentOrNot @value={{ap.attachment.description}} @empty="-"/>
      </td>
      <td class="align-middle">{{if ap.asset.perm_assign "Permanent" "Temporary"}}</td>
      <td class="align-middle">
        <PresentOrNot @value={{ap.asset.temp_id}} @empty="-"/>
      </td>
      <td class="align-middle">{{shift-format ap.checked_out}}</td>
      <td class="align-middle">
        <button type="button" class="btn btn-primary" {{action this.assetCheckInAction ap}}
                disabled={{ap.isSubmitting}}>
          Check In
        </button>
      </td>
      <td class="w-5">
        {{#if ap.isSubmitting}}
          <SpinIcon/>
        {{else}}
          &nbsp;
        {{/if}}
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="8">No assets checked out</td>
    </tr>
  {{/each}}
  </tbody>
</table>
<div>
  {{#if this.assets.isUpdating}}
    <LoadingIndicator @text="Refreshing Assets"/>
  {{/if}}
</div>

{{#if (or this.person.on_site this.isMarkingOffSite)}}
  <div class="mt-4">
    <button type="button" class="btn btn-secondary" {{action this.markOffSite}} disabled={{this.isMarkingOffSite}}>
      Mark As Off Site
    </button>
    {{#if this.isMarkingOffSite}}
      <SpinIcon/>
    {{/if}}
  </div>
{{/if}}

{{#if this.showSiteLeaveDialog}}
  <ModalDialog @title="Outstanding Item(s)" as |Modal|>
    <Modal.body>
      <b class="text-danger">
        {{pluralize this.pendingItems "item"}} still needs to be dealt with before marking
        this person off site:
      </b>
      <ul class="mt-2 mb-2">
        {{#unless this.isOffDuty}}
          <li>
            {{this.person.callsign}} is still on duty.
          </li>
        {{/unless}}
        {{#if this.assetsCheckedOut}}
          <li>
            {{pluralize this.assetsCheckedOut.length "asset"}} has not been collected.
          </li>
        {{/if}}
        {{#if this.unverifiedTimesheets}}
          <li>
            {{if (eq this.unverifiedTimesheets.length 1) "A timesheet entry has"
                 (concat  this.unverifiedTimesheets.length " timesheet entries have")}} not been verified.
          </li>
        {{/if}}
      </ul>
      <p>
        You may choose to ignore this warning and proceed to mark this person off site. However, you really should
        take
        care of the items listed above.
      </p>
    </Modal.body>
    <Modal.footer>
      <Modal.button @label="Mark As Off Site" @action={{this.forceMarkOffSite}} @type="secondary"/>
      <Modal.button @label="Deal With Items" @action={{this.cancelSiteLeaveDialog}} @type="primary"/>
    </Modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.showAppreciationsProgress}}
  <ModalDialog @title="Appreciations Progress" as |Modal|>
    <Modal.body>
      <AppreciationProgress @timesheetSummary={{this.timesheetSummary}} @isShinyPenny={{this.isShinyPenny}} />
    </Modal.body>
    <Modal.footer>
      <Modal.button @label="Close" @action={{this.toggleAppreciationsProgress}} @type="primary"/>
    </Modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.showHoursCreditsBreakdown}}
  <ModalDialog @title="Hours And Credits Breakdown" as |Modal|>
    <Modal.body>
      <HoursCreditsBreakdown @timesheetSummary={{this.timesheetSummary}}
                             @countedDurationExpected={{this.countedDurationExpected}}
                             @creditsExpected={{this.creditsExpected}} />
    </Modal.body>
    <Modal.footer>
      <Modal.button @label="Close" @action={{this.toggleHoursCreditBreakdown}} @type="primary"/>
    </Modal.footer>
  </ModalDialog>
{{/if}}
