{{#if this.isShinyPenny}}
  <ChNotice @type="success" @icon="smile-beam" @iconType="far">
    {{this.person.callsign}} is newly minted Shiny Penny. Share some Ranger love and welcome them to the family.
  </ChNotice>
{{/if}}

{{#unless this.person.on_site}}
  <ChNotice @type="danger" @icon="hand-point-right" @title="{{this.person.callsign}} is marked as OFF SITE">
    <p>
      Follow the procedures on the Site Check In page before signing the person into a shift.
    </p>
    <LinkTo @route="hq.site-checkin" @model={{this.person.id}} class="btn btn-danger">Begin Site Check In</LinkTo>
  </ChNotice>
{{/unless}}

{{#if (gt this.person.unread_message_count 0)}}
  <ChNotice @type="success" @icon="envelope">
    {{pluralize this.person.unread_message_count "unread Clubhouse message"}}.
    <LinkTo @route="hq.messages" class="btn btn-success">Read Now</LinkTo>
  </ChNotice>
{{/if}}

{{#if this.scheduleRecommendations.burn_weekend_shift}}
  <ChNotice @title="Suggest Working A Burn Weekend Shift" @icon="walking" @type="info">
    {{this.person.callsign}} is not signed up for a Burn Weekend shift. Ask if they are interested in signing up for
    one.
  </ChNotice>
{{/if}}

<UiSection>
  <:title>
    Timesheet Entry Verification -
    {{#if this.hasUnverifiedTimesheet}}
      <span class="text-danger">{{pluralize this.unverifiedTimesheets.length "entry" }}</span>
    {{else}}
      No Action Needed
    {{/if}}
    <HelpPopover @slug="hq-timesheet-verification"/>
  </:title>
  <:body>
    {{#if this.unverifiedTimesheets}}
      Ask {{this.person.callsign}} if the following is correct:
      <table class="table table-width-auto table-striped table-hover">
        <thead>
        <tr>
          <th>Position</th>
          <th>Time</th>
          <th class="text-end">Duration</th>
          <th class="text-end">Credits</th>
          <th>Correct?</th>
          <th class="w-5">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.unverifiedTimesheets as |entry|}}
          <tr>
            <td class="align-middle">
              {{entry.position.title}}
            </td>
            <td class="align-middle">
              {{shift-format entry.on_duty entry.off_duty}}
            </td>
            <td class="text-end align-middle">
              {{hour-minute-format entry.duration}}
            </td>
            <td class="text-end align-middle">
              {{credits-format entry.credits}}
            </td>
            <td class="align-middle">
              <UiButton @type="success" @class="btn-timesheet" @onClick={{fn this.markEntryCorrect entry}}
                        @disabled={{entry.isSaving}}>
                YES
                {{#if entry.isVerified}}
                  {{fa-icon "check"}}
                {{/if}}
              </UiButton>
              <UiButton @type="danger" @class="btn-timesheet" @onClick={{fn this.markEntryIncorrect entry}}
                        @disabled={{entry.isSaving}}>
                NO
                {{#if entry.isPending}}
                  {{fa-icon "check"}}
                {{/if}}
              </UiButton>
              <UiButton @type="dark" @class="btn-timesheet" @onClick={{fn this.ignoreEntry entry}}
                        @disabled={{or entry.isSaving entry.isVerified entry.isPending}}>
                IGNORE
                {{#if entry.isIgnoring}}
                  {{fa-icon "check"}}
                {{/if}}
              </UiButton>
            </td>
            <td class="w-5">
              {{#if entry.isSaving}}
                <SpinIcon/>
              {{else}}
                &nbsp;
              {{/if}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      No timesheet entries need review at this time.
    {{/if}}
  </:body>
</UiSection>

<UiSection>
  <:title>
    Shift Check In/Out
    <HelpPopover @slug="hq-shift-management"/>

  </:title>
  <:body>
    <ShiftCheckInOut @positions={{this.positions}}
                     @timesheets={{this.timesheets}}
                     @person={{this.person}}
                     @imminentSlots={{this.imminentSlots}}
                     @hasUnverifiedTimesheet={{this.hasUnverifiedTimesheet}}
                     @startShiftNotify={{this.startShiftNotify}}
                     @endShiftNotify={{this.endShiftNotify}}
                     @onDutyEntry={{this.onDutyEntry}}
                     @eventInfo={{this.eventInfo}}
                     @year={{this.session.currentYear}}
    />
  </:body>
</UiSection>

<HqProvisionInfo @eventInfo={{this.eventInfo}} @person={{this.person}} @onDutyEntry={{this.onDutyEntry}} />

{{#if this.showCorrectionForm}}
  <ModalDialog @title="Timesheet Entry Correction" @onEscape={{this.cancelEntryCorrection}} as |Modal|>
    <ChForm @formId="correction" @formFor={{this.entry}}
            @validator={{this.correctionValidations}}
            @onSubmit={{this.saveEntryCorrection}} as |f|>
      <Modal.body>
        <dl class="row">
          <dt class="col-sm-2">Position:</dt>
          <dd class="col-sm-10">{{this.entry.position.title}}</dd>

          <dt class="col-sm-2">Time:</dt>
          <dd class="col-sm-10">{{shift-format this.entry.on_duty}} to {{shift-format this.entry.off_duty}}</dd>

          <dt class="col-sm-2">Duration:</dt>
          <dd class="col-sm-10">{{hour-minute-format this.entry.duration}}</dd>

          <dt class="col-sm-2">Credits:</dt>
          <dd class="col-sm-10">{{credits-format this.entry.credits}}</dd>
        </dl>
          Provide as much information as possible to help the reviewer understand why this entry should be fixed.
        <ul>
          <li>Why does {{this.person.callsign}} think the entry is wrong?</li>
          <li><b>Wrong times?</b> State the correct times. Don't forget to include the month and day.</li>
          <li><b>Is the position "{{this.entry.position.title}}" wrong?</b> State the correct position</li>
          <li><b>Who was their shift partner(s)?</b></li>
        </ul>

        <FormRow>
          <f.textarea @name="additional_notes"
                      @label="Timesheet entry correction note:"
                      @autofocus={{true}}
                      @cols={{80}}
                      @rows={{3}}/>
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="Submit Correction" @disabled={{this.isCorrectionSubmitting}} />
        <UiCancelButton @disabled={{this.isCorrectionSubmitting}} @onClick={{this.cancelEntryCorrection}} />
        {{#if this.isCorrectionSubmitting}}
          <SpinIcon/>
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
<UiSection>
  <:title>
    Radios, Sandman Gear, &amp; Other Assets
    <HelpPopover @slug="hq-assets"/>
  </:title>
  <:body>
    {{#unless this.personEvent.asset_authorized}}
      <h4 class="text-danger">{{fa-icon "exclamation-triangle"}} Radio Checkout Agreement NOT SIGNED - DO NOT ISSUE
        RADIOS</h4>
      <p>
        Direct {{this.person.callsign}} to the kiosk shack so they can login into the Clubhouse, review and sign
        the agreement.
      </p>

    {{/unless}}
    {{#unless this.eventInfo.radio_info_available}}
      <ChNotice @type="warning" @icon="exclamation">
        Event radio information has not been posted yet. Radio eligibility cannot be determined.
      </ChNotice>
    {{/unless}}
    {{#if this.radioCount}}
      {{#if this.shiftRadios}}
        <h3 class="text-danger">Collect {{pluralize this.shiftRadios "radio"}} at end of shift</h3>
      {{/if}}
      {{#if this.eventRadios}}
        <h3 class="text-success">Collect {{pluralize this.eventRadios "event radio"}} at event end</h3>
      {{/if}}
    {{/if}}

    <div class="mb-2">
      {{this.person.callsign}} is
      {{#if this.eventInfo.radio_eligible}}
        authorized for {{pluralize this.eventInfo.radio_max "event radio"}}.
      {{else}}
        only authorized for SHIFT RADIOS.
      {{/if}}
    </div>

    {{#if this.personEvent.asset_authorized}}
      <AssetCheckoutForm @person={{this.person}}
                         @assets={{this.assets}}
                         @attachments={{this.attachments}}
                         @eventInfo={{this.eventInfo}} />
    {{/if}}

    <HqAssetTable @assetsCheckedOut={{this.assetsCheckedOut}}
                  @attachments={{this.attachments}} />

    <div>
      {{#if this.assets.isUpdating}}
        <LoadingIndicator @text="Refreshing Assets"/>
      {{/if}}
    </div>
  </:body>
</UiSection>

{{#if (or this.person.on_site this.isMarkingOffSite)}}
  <UiButton @type="secondary" @onClick={{this.markOffSite}} @class="mt-2" @disabled={{this.isMarkingOffSite}}>
    Mark As Off Site
  </UiButton>
  {{#if this.isMarkingOffSite}}
    <SpinIcon/>
  {{/if}}
{{/if}}

{{#if this.showSiteLeaveDialog}}
  <ModalDialog @title="Outstanding Item(s)" @onEscape={{this.cancelSiteLeaveDialog}} as |Modal|>
    <Modal.body>
      <b class="text-danger">
        {{pluralize this.pendingItems "item"}} still needs to be dealt with before marking
        this person off site:
      </b>
      <ul class="mt-2 mb-2">
        {{#unless this.isOffDuty}}
          <li>
            {{this.person.callsign}} is still on duty.
          </li>
        {{/unless}}
        {{#if this.assetsCheckedOut}}
          <li>{{pluralize this.assetsCheckedOut.length "asset"}} not collected.</li>
        {{/if}}
        {{#if this.unverifiedTimesheets}}
          <li>{{pluralize this.unverifiedTimesheets.length "timesheet entry"}} not verified.</li>
        {{/if}}
      </ul>
      <p>
        You may choose to ignore this warning and proceed to mark this person off site. However, you really should
        take
        care of the items listed above.
      </p>
    </Modal.body>
    <Modal.footer>
      <UiButton @onClick={{this.forceMarkOffSite}} @type="secondary">
        Mark As Off Site
      </UiButton>
      <UiButton @onClick={{this.cancelSiteLeaveDialog}} @type="primary">
        Deal With Item
      </UiButton>
    </Modal.footer>
  </ModalDialog>
{{/if}}
