{{#if this.isOnSite}}
  <p>
    <strong class="text-success">{{this.person.callsign}} is marked as ON SITE.</strong>
  </p>
{{/if}}
<h2>Site Check In</h2>
<ul>
  <li>Verify the camp name, location, and the emergency contacts</li>
  <li>Check to see if the person has signed the Radio Authorization form and Motorpool Policy Agreement.</li>
  <li>After you hand the person their Ranger laminate and field guide, mark the person as on site.</li>
  <li>
    {{#if this.eventInfo.radio_eligible}}
      Check out an Event Radio if person would like one now.
    {{else}}
      Person is only authorized for shift radios.
    {{/if}}
  </li>
</ul>

<UiSection>
  <:title>Verify Camp &amp; Emergency Contact Info
    <HelpPopover @slug="hq-site-checkin-contact-info"/>
  </:title>
  <:body>
    <ChForm @formId="contact" @formFor={{this.person}} @onSubmit={{this.saveContactForm}} as |f|>
      <FormRow>
        <f.textarea @name="camp_location"
                    @label="Camp Name & Location"
                    @autofocus={{true}}
                    @rows={{2}}
                    @cols={{80}}/>
      </FormRow>

      {{#if this.session.isLMOPEnabled}}
        <p class="ms-2">
          <b>Off-Playa:</b>
          Real world name, relationship (partner, friend, sibling, parent), phone number, &amp; email.<br>

          <b>On-Playa:</b>
          Their playa name, real world name, relationship, camp location &amp; description.<br>
        </p>
        <FormRow>
          <f.textarea @name="emergency_contact"
                      @label="Emergency Contact Information:"
                      @rows={{4}}
                      @cols={{80}}/>
        </FormRow>
        <f.submit @label="Update Camp & Emergency Contact Info" @disabled={{this.isSubmitting}} />
      {{else}}
        <ChNotice @type="danger" @title="Emergency Contact Info access during the off season not allowed"
                  @icon="exclamation">
          Sorry, you only have privileges to view and update the Emergency Contact information while the event is
          happening.
        </ChNotice>
      {{/if}}
      {{#if this.isContactSaved}}
        {{fa-icon "check" color="success"}}
      {{/if}}
      {{#if this.isSubmitting}}
        <LoadingIndicator/>
      {{/if}}
    </ChForm>
  </:body>
</UiSection>


<HqProvisionInfo @eventInfo={{this.eventInfo}} @person={{this.person}} />

<UiSection>
  <:title>
    Agreements
    <HelpPopover @slug="hq-site-checkin-agreements"/>
  </:title>
  <:body>
    {{#if this.personEvent.asset_authorized}}
      <p class="text-success mt-3">
        {{fa-icon "check"}} Radio Checkout Agreement has been signed.
      </p>
    {{else}}
      <h4 class="text-danger">Radio Checkout Agreement NOT SIGNED - DO NOT ISSUE RADIOS.</h4>
      <p>
        Direct {{this.person.callsign}} to a kiosk and have them agree to the Radio Checkout Agreement. Only after the
        agreement is signed may they be given a radio.
      </p>
    {{/if}}
    {{#if this.personEvent.signed_motorpool_agreement}}
      <p class="text-success">
        {{fa-icon "check"}} The Motorpool Policy has been signed.
      </p>
    {{else}}
      <h4 class="text-danger">
        Motorpool Agreement NOT SIGNED - Not authorized to drive Ranger gators, UTVs, or golf carts.
      </h4>
      <p>
        If {{this.person.callsign}} is comfortable driving Ranger gators, UTVs, or golf carts while on duty, direct the
        person to a kiosk and have them agree to the Motorpool Policy.
      </p>
    {{/if}}
  </:body>
</UiSection>

{{#unless this.eventInfo.radio_info_available}}
  <ChNotice @type="danger">
    Warning: Event radio information has not been posted yet. Radio eligibility cannot be determined.
  </ChNotice>
{{/unless}}

{{#if this.eventInfo.radio_eligible}}
  <UiSection>
    <:title>
      Event Radio Checkout
      <HelpPopover @slug="hq-site-checkin-radios"/>
    </:title>
    <:body>
      <p class="text-success"><b>Authorized for {{pluralize this.eventInfo.radio_max "Event Radio"}}</b></p>
      <p>
        The radio may be checked out now, or at the start of their first shift.
      </p>
      <AssetCheckoutForm @person={{this.person}} @assets={{this.assets}} @attachments={{this.attachments}}
                         @eventInfo={{this.eventInfo}} />
      {{#if this.activeAssets}}
        {{pluralize this.activeAssets.length "asset"}} checked out.
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>Barcode</th>
            <th>Type</th>
            <th>Assigned</th>
            <th>Attachment</th>
            <th>Out</th>
          </tr>
          </thead>
          <tbody>
          {{#each this.activeAssets as |ap|}}
            <tr>
              <td>{{ap.asset.barcode}}</td>
              <td>{{ap.asset.description}}</td>
              <td>{{if ap.asset.perm_assign "Permanent" "Temporary"}}</td>
              <td>
                <PresentOrNot @value={{ap.attachment.description}} @empty="-"/>
              </td>
              <td>{{shift-format ap.checked_out}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{/if}}
      {{#if this.assets.isUpdating}}
        <LoadingIndicator @text="Refreshing assets"/>
      {{/if}}
    </:body>
  </UiSection>
{{else}}
  <UiSection>
    <:title>
      <span class="text-danger">Shift Radios Only</span>
      <HelpPopover @slug="hq-site-checkin-radios"/>
    </:title>
    <:body>
      {{this.person.callsign}} is only authorized for a shift radio.
      A radio will need be to checked out for each shift, and then returned at the end of the shift.
    </:body>
  </UiSection>
{{/if}}

<div class="mt-4">
  {{#if this.isOnSite}}
    <p class="font-weight-bold text-success">
      {{this.person.callsign}} is marked as ON SITE.
    </p>
    <LinkTo @route="hq.shift" class="btn btn-success">Start Shift Checkin</LinkTo>
  {{else}}
    <UiButton @onClick={{this.markOnSite}} @disabled={{this.isSubmitting}}>
      Mark As On Site
    </UiButton>
    {{#if this.isSubmitting}}
      <LoadingIndicator/>
    {{/if}}
  {{/if}}
</div>
