{{#unless isPersonDirtTrained}}
  <ChAlert @type="danger">
    <h3>{{this.person.callsign}} is not eligible for site check in.</h3>
    <p>
      <b>DO NOT HAND OVER THEIR BMID AND/OR CHECKOUT RADIOS AT THIS TIME.</b>
    </p>
    <p>
      {{#if (eq dirtTraining.status "pending")}}
        {{this.person.callsign}} is signed up training on {{mdy-format dirtTraining.date full=true}} @ {{time-format dirtTraining.date}}
        at {{dirtTraining.location}}. This training has not happened yet.
      {{else if (eq dirtTraining.status "fail")}}
        {{this.person.callsign}} did not pass training held {{mdy-format dirtTraining.date full=true}} at {{dirtTraining.location}}.
      {{else if (eq dirtTraining.status "no-shift")}}
        No training sign up was found for {{this.person.callsign}}.
      {{else}}
        Uh oh, I did not understand the status [{{dirtTraining.status}}]. This is a bug. Please report this to the tech team.
      {{/if}}
    </p>
    <p class="mt-2">
      {{this.person.callsign}} may only be issued their BMID, be allowed to check out radios,
      and work a shift AFTER they have attended &amp; passed training.
    </p>
  </ChAlert>
{{/unless}}
{{#if this.isOnSite}}
  <p>
    <strong class="text-success">{{this.person.callsign}} is marked as ON SITE.</strong>
  </p>
{{/if}}
<h2>Site Check In</h2>
<ul>
  <li>Verify the camp name, location, and the emergency contacts</li>
  <li>Check to see if the person has signed the Radio Authorization form and Motorpool Policy Agreement.</li>
  <li>{{#if this.eventInfo.radio_eligible}}Check out an Event Radio if person would like one now{{else}}Person is only authorized for shift radios.{{/if}}</li>
  <li>After you hand the person their Ranger laminate and field guide, mark the person as on site.</li>
</ul>

<h4>Update Contact Information <HelpPopover @slug="hq-site-checkin-contact-info" /></h4>

{{#ch-form "contact" person onSubmit=(action saveContactForm) as |f|}}
  <div class="form-row">
    {{f.input "camp_location" type="textarea" label="Camp Name & Location" autofocus=true rows=2 cols=80}}
  </div>
  <p class="ml-2">
    <strong>Off-Playa:</strong>
    Real world name, relationship (partner, friend, sibling, parent), phone number, &amp; email.<br>

    <strong>On-Playa:</strong>
    Their playa name, real world name, relationship, camp location &amp; description.<br>
  </p>
  <div class="form-row">
    {{f.input "emergency_contact" type="textarea" label="Emergency Contact Information:" rows=4 cols=80 }}
  </div>
  <f.submit @label="Update Camp & Emergency Contact Info" @disabled={{isSubmitting}} />
  {{#if contactSaved}}
    <span class="text-success">{{fa-icon "check"}}</span>
  {{/if}}
  {{#if isSubmitting}}
    <LoadingIndicator />
  {{/if}}
{{/ch-form}}

<hr class="my-3">
<h4>Agreements <HelpPopover @slug="hq-site-checkin-agreements" /></h4>

<p>
  {{#if this.person.asset_authorized}}
    Radio checkout form has been <strong class="text-success">SIGNED</strong>.
  {{else}}
    <div class="text-danger">Radio checkout form has NOT BEEN SIGNED.</div>
    <button class="btn btn-primary" {{action markAssetAuthorized}} disabled={{isSubmitting}}>Mark Form As Signed</button>
    {{#if isSubmitting}}
      <LoadingIndicator />
    {{/if}}
  {{/if}}
</p>
<p>
  {{#if this.person.vehicle_paperwork}}
    {{this.person.callsign}} has signed the Motorpool Policy and is authorized to drive golf carts and gators.
  {{else}}
    <span class="text-danger">{{this.person.callsign}} has NOT signed the Motorpool Policy. Direct the person to a kiosk and have them agree to the Motorpool Policy if they would like to drive golf carts &amp; UTVs on playa for Ranger business.</span>
  {{/if}}
</p>

<hr class="my-3">
<div class="float-right">

</div>

{{#unless this.eventInfo.radio_info_available}}
  <ChAlert @type="danger">
    Warning: Event radio information has not been posted yet. Radio eligibility cannot be determined.
  </ChAlert>
{{/unless}}

{{#if this.eventInfo.radio_eligible}}
  <h4>Event Radio Checkout <HelpPopover @slug="hq-site-checkin-radios" /></h4>
  <p class="text-success"><b>Authorized for {{pluralize this.eventInfo.radio_max "Event Radio"}}</b></p>
  <p>
    The radio may be checked out now, or at the start of their first shift.
  </p>
  <AssetCheckoutForm @person={{person}} @assets={{assets}} @attachments={{attachments}} @eventInfo={{this.eventInfo}} />
  {{#if activeAssets}}
    {{pluralize activeAssets.length "asset"}} checked out.
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Barcode</th>
          <th>Type</th>
          <th>Assigned</th>
          <th>Attachment</th>
          <th>Out</th>
        </tr>
      </thead>
      <tbody>
        {{#each activeAssets as |ap|}}
          <tr>
            <td>{{ap.asset.barcode}}</td>
            <td>{{ap.asset.description}}</td>
            <td>{{if ap.asset.perm_assign "Permanent" "Temporary"}}</td>
            <td>{{present-or-not ap.attachment.description "-"}}</td>
            <td>{{shift-format ap.checked_out}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if assets.isUpdating}}
    <LoadingIndicator @text="Refreshing assets" />
  {{/if}}
{{else}}
  <h4><span class="text-danger">{{this.person.callsign}} is only authorized for a shift radio.</span> <HelpPopover @slug="hq-site-checkin-radios" /></h4>
  A radio will need be to checked out for each shift, and then returned at the end of the shift.
{{/if}}

<div class="mt-4">
  {{#if isOnSite}}
    <p class="font-weight-bold text-success">
      {{this.person.callsign}} is marked as ON SITE.
    </p>
    <LinkTo @route="hq.shift" class="btn btn-success">Start Shift Checkin</LinkTo>
  {{else}}
    <button class="btn btn-primary" {{action markOnSite}} disabled={{isSubmitting}}>Mark As On Site</button>
    {{#if isSubmitting}}
      <LoadingIndicator />
    {{/if}}
  {{/if}}
</div>
