<h1>On-Site Registration</h1>

{{#if this.isOnSite}}
  <UiNotice @icon="check" @type="success" @title="{{this.person.callsign}} Marked On Site">
    <p>
      On-Site Registration is complete for {{this.person.callsign}} and is ready to start a shift.
    </p>
    <LinkTo @route="hq.shift" class="btn btn-success btn-lg">Start Shift Check-In</LinkTo>
  </UiNotice>
{{/if}}

<UiSection>
  <:title>Agreements</:title>
  <:body>
    {{#if this.personEvent.asset_authorized}}
      <h4 class="text-success">
        {{fa-icon "check" right=1 fixed=true}} Radio Checkout Agreement has been signed.
      </h4>
    {{else}}
      <h4 class="text-danger">
        {{fa-icon "ban" right=1 fixed=true}} Radio Checkout Agreement NOT SIGNED - DO NOT ISSUE RADIOS.
      </h4>
      <p>
        Direct {{this.person.callsign}} to a kiosk and have them agree to the Radio Checkout Agreement. Only after the
        agreement is signed may they be given a radio.
      </p>
    {{/if}}
    {{#if this.personEvent.signed_motorpool_agreement}}
      <h4 class="text-success">
        {{fa-icon "check" right=1 fixed=true}} The Motor Pool Protocol has been signed.
      </h4>
    {{else}}
      <h4 class="text-danger">
        {{fa-icon "ban" right=1 fixed=true}} Motor Pool Protocol NOT SIGNED - Not authorized to drive Ranger gators,
        UTVs, or
        golf carts.
      </h4>
      <p>
        If {{this.person.callsign}} is comfortable driving Ranger gators, UTVs, or golf carts while on duty,
        direct the person to a kiosk and have them agree to the Motor Pool Protocol.
      </p>
    {{/if}}
  </:body>
</UiSection>
<UiSection>
  <:title>Provisions Summary</:title>
  <:body>
    {{#if this.eventInfo.radio_max}}
      {{#if this.personEvent.asset_authorized}}
        <h4 class="text-success">
          {{fa-icon "tower-broadcast" right=1 fixed=true}}
          Authorized for {{pluralize this.eventInfo.radio_max "Event Radio"}}
        </h4>
      {{else}}
        <h4 class="text-muted">
          {{fa-icon "ban" right=1 fixed=true}}
          Authorized for {{pluralize this.eventInfo.radio_max "Event Radio"}}
          &mdash; DO NOT ISSUE UNTIL Radio Checkout Agreement IS SIGNED.
        </h4>
      {{/if}}
    {{else}}
      <h4>
        {{fa-icon "tower-broadcast" right=1 fixed=true}} Shift Radios only
      </h4>
    {{/if}}
    <hr>
    <HqProvisionInfo @person={{this.person}}
                     @period={{this.eventInfo.event_period}}
                     @eventPeriods={{this.eventPeriods}}
                     @meals={{this.eventInfo.meals}}
                     @showers={{this.eventInfo.showers}}
    />
  </:body>
</UiSection>

<UiButton @onClick={{this.startSiteCheckIn}} class="btn-block my-4" @size="lg">
  Begin On-Site Registration
</UiButton>

{{#if this.showSiteCheckInWizard}}
  <UiWizard @onCancel={{this.cancelSiteCheckIn}}
            @onFinish={{this.finishSiteCheckIn}}
            @finishLabel="Mark As On Site" as |w|>
    <ChForm @formId="person" @formFor={{this.person}} as |f|>
      <w.step @title="Verify Camp Information"
              @nextLabel="Save & Next"
              @nextAction={{fn this.saveContactForm f.model}}>
        <p>
          Enter the camp's name, the street address, and street side (man-side, mountainside, plaza, etc.).
        </p>
        <FormRow>
          <f.textarea @name="camp_location"
                      @label="Camp Name & Location (e.g., Camp Specificity, 9:15 &amp; D, Mountainside.)"
                      @autofocus={{true}}
                      @rows={{6}}
                      @cols={{80}}/>
        </FormRow>
      </w.step>
      <w.step @title="Verify Emergency Contact Information"
              @nextLabel="Save & Next"
              @nextAction={{fn this.saveContactForm f.model}}>
        {{#if this.session.isEMOPEnabled}}
          <p class="ms-2">
            <b>Off-Playa:</b>
            Real world name, relationship (partner, friend, sibling, parent), phone number, &amp; email.<br>

            <b>On-Playa:</b>
            Their playa name, real world name, relationship, camp location &amp; description.<br>
          </p>
          <FormRow>
            <f.textarea @name="emergency_contact"
                        @label="Emergency Contact Information:"
                        @rows={{6}}
                        @cols={{80}}/>
          </FormRow>
        {{else}}
          <UiNotice @type="danger"
                    @title="Emergency Contact Info access during the off season not allowed"
                    @icon="exclamation">
            Sorry, the Emergency Contact information is only available while Ranger operations are running on playa.
          </UiNotice>
        {{/if}}
      </w.step>
    </ChForm>
    {{#unless this.person.isAlpha}}
      <w.step @title="Radios" @nextAction={{this.checkForRadio}}>
        {{#unless this.eventInfo.radio_info_available}}
          <UiNotice @type="danger">
            Warning: Event radio information has not been posted yet. Radio eligibility cannot be determined.
          </UiNotice>
        {{/unless}}
        {{#if this.eventInfo.radio_eligible}}
          {{#if this.personEvent.asset_authorized}}
            <p class="text-success">
              <b>Authorized for {{pluralize this.eventInfo.radio_max "Event Radio"}}</b>
            </p>
            <p>
              The radio may be checked out now, or at the start of their first shift.
            </p>
            <AssetCheckoutForm @person={{this.person}}
                               @assets={{this.assets}}
                               @attachments={{this.attachments}}
                               @eventInfo={{this.eventInfo}}
            />
            {{#if this.activeAssets}}
              {{pluralize this.activeAssets.length "asset"}} checked out.
              <HqAssetTable @assetsCheckedOut={{this.activeAssets}}
                            @attachments={{this.attachments}}
              />
            {{/if}}
            {{#if this.assets.isUpdating}}
              <LoadingIndicator @text="Refreshing assets"/>
            {{/if}}
          {{else}}
            <div class="text-danger">
              While {{this.person.callsign}} is authorized for {{pluralize this.eventInfo.radio_max "Event Radio"}},
              {{this.person.callsign}} may not be issued radios and other gear until the Radio Checkout Agreement is
              signed.
            </div>
          {{/if}}
        {{else}}
          <h3>Shift Radios Only</h3>
          {{this.person.callsign}} is only authorized for a shift radio.
          A radio will need to be checked out for each shift, and then returned at the end of the shift.
        {{/if}}
      </w.step>
    {{/unless}}
    <w.step @title="Mark Person As On Site" @isLast={{true}} @includeCancel={{true}}>
      {{#if this.person.isAlpha}}
        <p>
          Direct {{this.person.callsign}} to the Hat Rack where The Mentors will take over. They will be responsible
          for checking them into their Alpha shift.
        </p>
        <p>
          Do not hand over a Ranger field guide. The Mentors hand these out to newly minted Shiny Pennies.
        </p>
      {{else}}
        <p>
          Don't forget to hand over their BMID. Offer them a Ranger field guide.
        </p>
        <p>
          Mark {{this.person.callsign}} as on site if everything appears to be okay.
        </p>
      {{/if}}
    </w.step>
  </UiWizard>
{{else if (and this.siteCheckInStarted (not this.siteCheckInFinished))}}
  <UiNotice @type="danger" @icon="band" @title="On-Site Registration In Not Completed">
    You have not gone through all the Site Registration steps. Use the <b>Begin Site Registration</b>
    button again and make sure all the steps have been completed.
  </UiNotice>
{{/if}}

{{#if this.person.isSaving}}
  <LoadingDialog>
    Submitting the request
  </LoadingDialog>
{{/if}}