<h3 class="d-print-none">Timesheet Entries <HelpPopover @slug="hq-timesheet-entries" /></h3>

<h1 class="d-none d-print-block">{{year}} Timesheet Entries For {{person.callsign}}</h1>

{{#if timesheets}}
  <Me::TimesheetReviewCommon @timesheets={{timesheets}} @timesheetSummary={{timesheetSummary}} @timesheetInfo={{timesheetInfo}} @person={{person}} />
{{else}}
  <p class="text-danger">
    No timesheet entries were found.
  </p>
{{/if}}

<hr class="mb-4">
<h3>Missing Timesheet Entry Requests  <HelpPopover @slug="hq-missing-timesheets" /></h3>
<Me::TimesheetMissingCommon @person={{person}} @timesheetsMissing={{timesheetsMissing}} @timesheetInfo={{timesheetInfo}} @positions={{correctionPositions}} />
