<h1>{{year-format slot.begins}} {{training.title}} - {{shift-format slot.begins}} - {{slot.description}}</h1>

{{#unless slot.active}}
  <p class="text-danger font-weight-bold">
    Training session has not been activated. Sign ups are disabled until the session (aka slot) has been activated.
  </p>
{{/unless}}
Signups: {{students.length}} of {{slot.max}}

{{#if (gte students.length slot.max)}}
  <span class="text-danger"> (FULL)</span>
{{/if}}

{{#if training.is_art}}
  ART Vets: {{vetCount}}
  ART Alphas: {{alphaCount}}<br>
{{else}}
  Vets: {{vetCount}}
  First years: {{firstYearCount}}
  Alphas: {{alphaCount}}<br>
{{/if}}

{{#if trainers}}
  {{#each trainers as |group|}}
    {{group.position_title}} ({{group.trainers.length}}):
    {{#each group.trainers as |trainer index|}}
      {{if index ", "}}<PersonLink @person={{trainer}} />
    {{else}}
      <i>none found</i>
    {{/each}}<br>
  {{/each}}
{{else}}
  <div class="border p-2 rounded mt-2 mb-2">
    <h4 class="text-danger">No trainer slots were found.</h4>
    In order to correctly show how many trainers are signed up to teach this session, a trainer's slot needs to exists where the
    slot's description matches this session's description exactly and where the start time within one hour
    of this session.
  </div>
{{/if}}

<div class="mt-2 mb-2">
  {{! Desktop Display }}
  <div class="d-sm-block d-none">
    <button class="btn btn-primary btn-sm" {{action "saveAllStudentsAction"}} disabled={{or isSubmitting (is-empty students)}}>{{if isSubmitting "Saving" "Save All"}}</button>
    <LinkTo @route="training.session.trainers-report" @models={{array training.id slot.id}} class="btn btn-secondary btn-sm">Trainer's Report</LinkTo>
    <LinkTo @route="training.session.signup-sheet" @models={{array training.id slot.id}} class="btn btn-secondary btn-sm">Sign up Sheet</LinkTo>
    <button class="btn btn-secondary btn-sm" {{action "toggleEmailListAction"}} disabled={{is-empty students}}>{{if showEmails "Hide Emails" "List Emails"}}</button>
    <button class="btn btn-secondary btn-sm" {{action "showAddPersonAction"}}>Add Person</button>
    <button class="btn btn-secondary btn-sm" {{action "showRemovePersonAction"}} disabled={{is-empty students}}>Remove Person</button>
  </div>

  {{! Cellphone/Tablet display }}
  <div class="d-block d-sm-none">
    <button class="btn btn-primary" {{action "saveAllStudentsAction"}} disabled={{isSubmitting}}>{{if isSubmitting "Saving" "Save All"}}</button>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Additional Actions
      </button>
      <div class="dropdown-menu">
        <LinkTo @route="training.session.trainers-report" @models={{array training.id slot.id}} class="dropdown-item">Trainer's Report</LinkTo>
        <LinkTo @route="training.session.signup-sheet" @models={{array training.id slot.id}} class="dropdown-item">Sign up Sheet</LinkTo>
        <div class="dropdown-divider"></div>
        <a href class="dropdown-item" {{action "toggleEmailListAction"}} disabled={{is-empty students}}>{{if showEmails "Hide Emails" "List Emails"}}</a>
        <div class="dropdown-divider"></div>
        <a href class="dropdown-item" {{action "showAddPersonAction"}}>Add Person</a>
        <a href class="dropdown-item" {{action "showRemovePersonAction"}} disabled={{is-empty students}}>Remove Person</a>
      </div>
    </div>
  </div>

</div>

{{#if training.is_art}}
  A '*' by a person's status indicate an ART Alpha.
{{/if}}

{{#if students}}
  <table class="table table-sm table-hover table-width-auto">
    <caption>{{pluralize students.length "student"}} {{passedCount}} passed</caption>
    <thead>
      <tr>
        <th class="w-20">Callsign</th>
        <th class="w-10">Status</th>
        <th class="w-5">Passed?</th>
        <th class="w-5">Rank</th>
        <th class="w-60">Comment</th>
      </tr>
    </thead>

    <tbody>
      {{#each students as |student|}}
        <tr class="{{if (or student.is_retired student.is_inactive) "bg-highlight"}}">
          <td class="w-20">
            {{#if (or student.is_retired student.is_inactive)}}
              {{fa-icon "exclamation-triangle"}}
            {{/if}}
            <PersonLink @person={{student}} />
          </td>
          <td class="w-10">{{student.status}}{{#if student.is_art_alpha}}*{{/if}}</td>
          <td class="w-5"><Input @type="checkbox" @checked={{student.passed}} /></td>
          <td class="text-center w-5">
            {{#if student.need_ranking}}
              <ChForm::Select @name={{concat "student" student.id}} @value={{student.rank}} @onChange={{action "changeRankAction" student}} @includeBlank={{true}} @options={{rankOptions}} />
            {{else if student.rank}}
              {{student.rank}}
            {{else}}
              &nbsp;
            {{/if}}
          </td>
          <td class="w-60">
            <Textarea @rows={{1}} @cols={{80}} @value={{student.notes}} @focusIn={{action focusNote}} @focusOut={{action blurNote}} />
          </td>
        </tr>
      {{/each}}
    </tbody>

  </table>
{{else}}
  <p class="mt-4 mb-4 text-danger font-weight-bold">
    No students have signed up.
  </p>
{{/if}}

<div class="mt-2 mb-2 d-sm-block d-none">
  <button class="btn btn-primary btn-sm" {{action "saveAllStudentsAction"}} disabled={{or isSubmitting (is-empty students)}}>{{if isSubmitting "Saving" "Save All"}}</button>
  <LinkTo @route="training.session.trainers-report" @models={{array training.id slot.id}} class="btn btn-secondary btn-sm">Trainer's Report</LinkTo>
  <LinkTo @route="training.session.signup-sheet" @models={{array training.id slot.id}} class="btn btn-secondary btn-sm">Signup Sheet</LinkTo>
  <button class="btn btn-secondary btn-sm" {{action "toggleEmailListAction"}} disabled={{is-empty students}}>{{if showEmails "Hide Emails" "List Emails"}}</button>
  <button class="btn btn-secondary btn-sm" {{action "showAddPersonAction"}}>Add Person</button>
  <button class="btn btn-secondary btn-sm" {{action "showRemovePersonAction"}} disabled={{is-empty students}}>Remove Person</button>
</div>

<table class="table table-striped table-sm table-width-auto">
  <caption>Trainer Attendance ({{this.trainerCount}})</caption>
  <thead>
    <tr>
      <th>Trainer</th>
      <th>Type</th>
      <th>Attended?</th>
    </tr>
  </thead>
  <tbody>
    {{#if this.trainerCount}}
      {{#each trainers as |trainerType|}}
        {{#each trainerType.trainers as |trainer|}}
          <tr>
            <td>
              <PersonLink @person={{trainer}} />
            </td>
            <td>{{trainerType.position_title}}</td>
            <td>
              <ChForm::Select @name={{concat "trainer" trainer.id}} @value={{trainer.status}} @onChange={{action (mut trainer.status)}} @options={{trainerStatusOptions}} />
            </td>
          </tr>
        {{/each}}
      {{/each}}
    {{else}}
      <tr>
        <td colpsan="3"><b class="text-danger">No trainers were found.</b></td>
      </tr>
    {{/if}}
  </tbody>
</table>
{{#if this.trainerCount}}
  <p>
    <button class="btn btn-primary btn-sm" {{action this.saveTrainers}} disabled={{this.isSubmitting}}>Save Trainers</button>
    {{#if this.isSubmitting}}
      <LoadingIndicator />
    {{/if}}
  </p>
{{/if}}

{{#if showEmails}}
  <EmailList @people={{students}} @scrollOnRender={{true}} />
{{/if}}

{{! Add Person dialog box}}
{{#if addPersonForm}}
  {{#ch-form "search" addPersonForm modalBox=true modalTitle="Add Person To Session" changeSet=false onFormChange=(action "searchPeopleAction") onCancel=(action "cancelSearchAction") as |f|}}
    <div class="form-row">
      {{f.input "name" label="Enter the callsign, real name, or email of the person to add:" type="text" size=30 autofocus=true}}
    </div>
    <div class="form-row">
      {{f.cancel}}
    </div>
    {{#if foundPeople}}
      Click on the callsign to add the person.
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="w-25">Callsign</th>
            <th class="w-25">Name</th>
            <th class="w-25">Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each foundPeople as |person|}}
            <tr>
              <td class="w-25"><a href="#" {{action "addPersonAction" person}}>{{person.callsign}}</a></td>
              <td class="w-25">{{person.first_name}} {{person.last_name}}</td>
              <td class="w-25">{{person.status}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else if noSearchMatch}}
      <div class="text-danger">No person found matching "{{noSearchMatch}}"</div>
    {{/if}}
  {{/ch-form}}
{{/if}}

{{! Remove person dialog box}}
{{#if removePersonForm}}
  {{#ch-form "removePerson" removePersonForm modalBox=true modalTitle="Remove Person From Session" changeSet=false onSubmit=(action "removePersonAction") onCancel=(action "cancelRemovePersonAction") as |f|}}
    <div class="form-row">
      {{f.input "person_id" label="Select the person to remove" type="select" options=removeStudentOptions}}
    </div>

    <f.submit @label="Remove Person" @disabled={{not f.model.person_id}} />
    {{f.cancel}}
  {{/ch-form}}
{{/if}}
