<h1>{{this.year}} {{this.training.title}} - {{shift-format this.slot.begins}}
  - {{this.slot.description}}</h1>
<p>
  <LinkTo @route="training.index" @model={{this.training.id}} @query={{hash year=this.year}}>
    Back to {{this.year}} {{this.training.title}} Sessions
  </LinkTo>
</p>
{{#unless this.trainers}}
  <ChNotice @type="danger" @title="No trainer slots were found">
    In order to correctly record how many trainers are signed up to teach this session, a trainer's slot needs to exists
    where the slot's description matches this session's description exactly and where the start time within one hour of
    this session.
  </ChNotice>
{{/unless}}

{{#unless this.havePrimaryTrainers}}
  <ChNotice @type="danger" @title="No trainer sign ups">
    No trainers are signed up to teach this session.
  </ChNotice>
{{/unless}}

{{#unless this.slot.active}}
  <ChNotice @type="danger" @title="Training session not activated">
    Sign ups are disabled until the session (aka slot) has been activated.
    Use the
    <LinkTo @route="admin.slots">Admin &gt; Edit Records &gt; Slots</LinkTo>
    page to mark the session as active.
  </ChNotice>
{{/unless}}

<FormRow>
  <div class="col-auto">
    Signups: {{this.students.length}} of {{this.slot.max}}
    {{#if (gte this.students.length this.slot.max)}}
      <b class="text-danger"> (FULL)</b>
    {{/if}}
  </div>
  {{#if this.training.is_art}}
    <div class="col-auto">
      ART Vets: {{this.vetCount}}
    </div>
    <div class="col-auto">
      ART Prospectives: {{this.prospectiveCount}}
    </div>
  {{else}}
    <div class="col-auto">
      Vets: {{this.vetCount}}
    </div>
    <div class="col-auto">
      First years: {{this.firstYearCount}}
    </div>
    <div class="col-auto">
      Prospectives: {{this.prospectiveCount}}
    </div>
    <div class="col-auto">
      Auditors: {{this.auditorCount}}
    </div>
  {{/if}}
</FormRow>

{{#if this.trainers}}
  <p>
    {{#each this.trainers as |group|}}
      {{group.position_title}} ({{group.trainers.length}}):
      {{#each group.trainers as |trainer index|}}
        {{if index ", "}}
        <PersonLink @person={{trainer}} />
      {{else}}
        <i>none found</i>
      {{/each}}<br>
    {{/each}}
  </p>
{{/if}}

<p>
  The person's status is the status at the time of training. The current status will be shown below if the
  time-of-training status differs from the current status.
</p>

{{#if this.training.is_art}}
  A {{fa-icon "asterisk"}} by a person's status indicates an ART Prospective.
{{/if}}


<div class="mt-2 mb-2">
  {{! Desktop Display }}
  <div class="d-sm-block d-none">
    <LinkTo @route="training.session.trainers-report" @models={{array this.training.id this.slot.id}}
            class="btn btn-secondary">
      {{fa-icon "list-alt"}} Trainer's Report
    </LinkTo>
    <LinkTo @route="training.session.signup-sheet" @models={{array this.training.id this.slot.id}}
            class="btn btn-secondary">
      {{fa-icon "clipboard-check"}} Sign up Sheet
    </LinkTo>
    <UiButton @type="secondary" @onClick={{this.toggleEmailListAction}} @disabled={{is-empty this.students}}>
      {{fa-icon "envelope"}} {{if this.showEmails "Hide Emails" "List Emails"}}
    </UiButton>
    {{#if this.canAddStudent}}
      <UiButton @type="secondary" @onClick={{this.showAddPersonAction}}>
        {{fa-icon "plus-square"}} Add Person
      </UiButton>
    {{/if}}
  </div>

  {{! Cellphone/Tablet display }}
  <div class="d-block d-sm-none">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
        Additional Actions
      </button>
      <div class="dropdown-menu">
        <LinkTo @route="training.session.trainers-report" @models={{array this.training.id this.slot.id}}
                class="dropdown-item">
          Trainer's Report
        </LinkTo>
        <LinkTo @route="training.session.signup-sheet" @models={{array this.training.id this.slot.id}}
                class="dropdown-item">
          Sign up Sheet
        </LinkTo>
        <div class="dropdown-divider"></div>
        <a href class="dropdown-item" {{action this.toggleEmailListAction}} disabled={{is-empty this.students}}>
          {{if this.showEmails "Hide" "List"}} Emails
        </a>
        {{#if this.canAddStudent}}
          <div class="dropdown-divider"></div>
          <a href class="dropdown-item" {{action this.showAddPersonAction}}>Add Person</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-fixed table-striped table-hover table-sm min-width-1000">
    <caption>{{pluralize this.students.length "student"}} ({{this.passedCount}} passed)</caption>
    <thead>
    <tr>
      <th class="w-15">Callsign</th>
      <th class="w-15">Status / Current</th>
      <th class="w-5 text-end">Pass?</th>
      <th class="w-5 text-center">Rank</th>
      <th class="w-50">Notes</th>
      <th class="w-10">Action</th>
    </tr>
    </thead>

    <tbody>
    {{#each this.students key="id" as |student|}}
      <tr class="{{if (or student.is_retired student.is_inactive) "bg-highlight"}}">
        <td class="w-15">
          {{#if (or student.is_retired student.is_inactive)}}
            {{fa-icon "exclamation-triangle"}}
          {{/if}}
          <PersonLink @person={{student}} />
        </td>
        <td class="w-15">
          {{student.status}}{{if student.is_art_prospective (fa-icon "asterisk")}}
          {{#if (not-eq student.status student.current_status)}}
            <div class="small">&lt;{{student.current_status}}&gt;</div>
          {{/if}}
        </td>
        <td class="w-5 text-center">
          {{#if student.passed}}
            {{fa-icon "check" color="success"}}
          {{else}}
            -
          {{/if}}
        </td>
        <td class="w-5 text-center">
          {{#if student.rank}}
            {{student.rank}}
          {{else if student.need_ranking}}
            {{fa-icon "question"}}
          {{else}}
            -
          {{/if}}
        </td>
        <td class="w-50">
          {{#if student.personnel_issue}}
            <div class="mb-2">
              <b class="text-danger">Personnel Flag raised. Take no actions until resolved.</b>
            </div>
          {{/if}}
          {{#each student.notes as |note|}}
            {{#unless note.is_log}}
              <div class="mb-2">
                {{note.note}}
              </div>
            {{/unless}}
          {{else}}
            <i>none</i>
          {{/each}}
          {{#if student.fkas}}
            <div class="mt-2">
              FKA: {{join student.fkas ", "}}
            </div>
          {{/if}}

        </td>
        <td class="w-10">
          <UiButton @size="sm" @onClick={{fn this.editStudentAction student}}>
            {{fa-icon "edit"}} Edit
          </UiButton>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="{{if this.training.is_art 6 9}}"><b class="text-danger">No students have signed up yet.</b></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5">
    <table class="table table-striped table-hover">
      <caption>Trainer Attendance ({{this.trainerCount}})</caption>
      <thead>
      <tr>
        <th>Trainer</th>
        <th>Type</th>
        <th>Attended?</th>
      </tr>
      </thead>
      <tbody>
      {{#if this.trainerCount}}
        {{#each this.trainers as |trainerType|}}
          {{#each trainerType.trainers as |trainer|}}
            <tr>
              <td>
                <PersonLink @person={{trainer}} />
              </td>
              <td>{{trainerType.position_title}}</td>
              <td>
                <ChForm::Select @name={{concat "trainer" trainer.id}} @value={{trainer.status}}
                                @onChange={{action (mut trainer.status)}} @options={{this.trainerStatusOptions}} />
              </td>
            </tr>
          {{/each}}
        {{/each}}
      {{else}}
        <tr>
          <td colspan="3"><b class="text-danger">No trainers were found.</b></td>
        </tr>
      {{/if}}
      </tbody>
    </table>
    {{#if this.trainerCount}}
      <p>
        <UiButton @onClick={{this.saveTrainers}} @disabled={{this.isSubmitting}}>
          Save Trainers
        </UiButton>
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </p>
    {{/if}}
  </div>
</div>

{{#if this.showEmails}}
  <EmailList @people={{this.students}} @scrollOnRender={{true}} />
{{/if}}

{{#if this.editStudent}}
  <ModalDialog @title="Add a note and/or set rank for {{this.editStudent.callsign}}"
               @onEscape={{this.cancelStudentAction}} as |Modal|>
    <ChForm @formId="student-form"
            @formFor={{this.studentForm}}
            @onSubmit={{this.saveStudentAction}} as |f|>
      <Modal.body>
        {{#if this.editStudent.personnel_issue}}
          <h3 class="text-danger">
            Personnel Flag raised on {{this.editStudent.callsign}}. TAKE NO ACTIONS UNTIL RESOLVED.
          </h3>
        {{/if}}
        <p>
          A note may only be edited or deleted by the trainer who wrote it.<br>
          Timestamps are in the Pacific Timezone (UTC-7).
        </p>
        <table class="table table-sm table-hover table-striped">
          <thead>
          <tr>
            <th class="w-20">Timestamp</th>
            <th class="w-15">Trainer</th>
            <th class="w-65">Note</th>
          </tr>
          </thead>
          <tbody>
          {{#each this.editStudent.notes as |note|}}
            <tr>
              <td class="w-20">{{note.created_at}}</td>
              <td class="w-15">
                {{#if note.person_source_id}}
                  {{note.person_source.callsign}}
                {{else}}
                  * imported *
                {{/if}}
              </td>
              <td class="w-65">
                {{#if note.is_log}}
                  <i>{{note.note}}</i>
                {{else}}
                  {{nl2br note.note}}
                  {{#if (eq note.person_source_id this.session.userId)}}
                    <br>
                    <UiButton @type="secondary" @size="sm" @onClick={{fn this.editNoteAction note}}>
                      Edit
                    </UiButton>
                    <UiButton @type="danger" @size="sm" @onClick={{fn this.deleteNoteAction note}}>
                      Delete
                    </UiButton>
                  {{/if}}
                {{/if}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="3">No previous notes.</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        {{#let (concat this.editStudent.callsign " <" this.editStudent.status ">") as |studentName|}}
          <FormRow>
            <FormLabel>Did {{studentName}} pass training?</FormLabel>
            <div class="col-12">
              <f.radioGroup @name="passed"
                            @options={{this.passedOptions}}
                            @inline={{true}}/>
            </div>
          </FormRow>
          <FormRow>
            <f.select @name="rank"
                      @label="Ranking for {{studentName}}"
                      @options={{if this.training.is_art this.artRankOptions this.dirtRankOptions}}/>
          </FormRow>
          <FormRow>
            <f.textarea @name="note"
                        @label="Enter the training notes about {{studentName}}:"
                        @hint="Your note will be timestamped and appended to any existing notes."
                        @rows={{3}}
                        @cols={{80}}/>
          </FormRow>
          {{#unless this.training.is_art}}
            <FormRow>
              <FormLabel>Was feedback delivered to {{studentName}}?</FormLabel>
              <div clas="col-12">
                <f.radioGroup @name="feedback_delivered"
                              @options={{this.feedbackDeliveredOptions}}
                              @inline={{true}}/>
              </div>
            </FormRow>
          {{/unless}}
        {{/let}}
      </Modal.body>
      <Modal.footer @noAlign=true>
        <f.submit @label="Save {{this.editStudent.callsign}} info" @disabled={{this.isSubmitting}} />
        <UiCancelButton @disabled={{this.isSubmitting}} @onClick={{this.cancelStudentAction}} />
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
        <div class="ms-auto">
          <UiButton @type="light-red" @onClick={{this.removeStudentAction}}>
            Remove From Training
          </UiButton>
        </div>

      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{! Add Person dialog box}}
{{#if this.addPersonForm}}
  <ModalDialog @title="Add Student To Session"
               @onEscape={{this.cancelSearchAction}} as |Modal|>
    <ChForm @formId="search"
            @formFor={{this.addPersonForm}}
            @changeSet={{false}}
            @onFormChange={{action this.searchPeopleAction}} as |f|>
      <Modal.body>
        <FormRow>
          <f.text @name="name"
                  @label="Enter the callsign, real name, or email of the person to add:"
                  @size={{30}}
                  @autofocus={{true}}/>
        </FormRow>
        <div class="my-4">
          <UiCancelButton @onClick={{this.cancelSearchAction}}/>
        </div>
        {{#if this.foundPeople}}
          Click on the callsign to add the person.
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th class="w-25">Callsign</th>
              <th class="w-25">Name</th>
              <th class="w-25">Status</th>
            </tr>
            </thead>
            <tbody>
            {{#each this.foundPeople key="id" as |person|}}
              <tr>
                <td class="w-25"><a href {{on "click" (fn this.addPersonAction person)}}>{{person.callsign}}</a></td>
                <td class="w-25">{{person.first_name}} {{person.last_name}}</td>
                <td class="w-25">{{person.status}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        {{else if this.noSearchMatch}}
          <p class="text-danger">
            <b>No person found matching "{{this.noSearchMatch}}"</b>
          </p>
        {{/if}}
      </Modal.body>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.editNote}}
  <ModalDialog @title="Edit Note for {{this.editStudent.callsign}}"
               @onEscape={{this.cancelNoteAction}} as |Modal|>
    <ChForm @formId="note-update"
            @formFor={{this.editNote}}
            @onSubmit={{this.updateNoteAction}} as |f|>
      <Modal.body>
        <p>
          Note created on {{shift-format this.editNote.created_at year=true}}
        </p>
        <FormRow>
          <f.textarea @name="note"
                      @label="Edit Your Note"
                      @rows={{4}}
                      @cols={{80}}
                      @autofocus={{true}}/>
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit/>
        <UiCancelButton @onClick={{this.cancelNoteAction}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}