<h1>{{year-format slot.begins}} {{training.title}} - {{shift-format slot.begins}} - {{slot.description}}</h1>
Signups: {{students.length}} of {{slot.max}}

{{#if (gte students.length slot.max)}}
  <span class="text-danger"> (FULL)</span>
{{/if}}

{{#if training.is_art}}
  ART Vets: {{vetCount}}
  ART Alphas: {{alphaCount}}<br>
{{else}}
  Vets: {{vetCount}}
  First years: {{firstYearCount}}
  Alphas: {{alphaCount}}<br>
{{/if}}

{{#if trainers}}
  {{#each trainers as |group|}}
    {{group.position_title}} ({{group.trainers.length}}):
    {{#each group.trainers as |trainer index|}}
      {{if index ", "}}{{person-link person=trainer}}
    {{else}}
      <i>none found</i>
    {{/each}}<br>
  {{/each}}
{{else}}
  <p class="bg-danger">
    No trainer slots were found. Verify the trainer slot's description matches exactly this slot's description.
  </p>
{{/if}}

<div class="mt-2 mb-2">
  <button class="btn btn-primary" {{action "saveAllStudentsAction"}} disabled={{isSubmitting}}>{{if isSubmitting "Saving" "Save All"}}</button>
  {{#link-to "training.session.trainers-report" training.id slot.id class="btn btn-secondary"}}Trainer's Report{{/link-to}}
  {{#link-to "training.session.signup-sheet" training.id slot.id class="btn btn-secondary"}}Signup Sheet{{/link-to}}
  <button class="btn btn-secondary" {{action "toggleEmailListAction"}}>{{if showEmails "Hide Emails" "List Emails"}}</button>
  <button class="btn btn-secondary" {{action "showAddPersonAction"}}>Add Person</button>
  <button class="btn btn-secondary" {{action "showRemovePersonAction"}}>Remove Person</button>
</div>

{{#if training.is_art}}
  A '*' by a person's status indicate an ART Alpha.
{{/if}}

<table class="table table-sm table-hover">
  <caption>{{pluralize students.length "student"}} {{passedCount}} passed</caption>
  <thead>
    <tr>
      <th class="w-20">Callsign</th>
      <th class="w-10">Status</th>
      <th class="w-5">Passed?</th>
      <th class="w-5">Rank</th>
      <th class="w-60">Comment</th>
    </tr>
  </thead>

  <tbody>
    {{#each students as |student|}}
      <tr class="{{if (or student.is_retired student.is_inactive) "bg-warning"}}">
        <td class="w-20">
          {{#if (or student.is_retired student.is_inactive)}}
            {{fa-icon "exclamation-triangle"}}
          {{/if}}
          {{person-link person=student}}
        </td>
        <td class="w-10">{{student.status}}{{#if student.is_art_alpha}}*{{/if}}</td>
        <td class="w-5">{{input type="checkbox" checked=student.passed}}</td>
        <td class="text-center w-5">
          {{#if student.need_ranking}}
            {{ch-form/select name=(concat "student" student.id) value=student.rank onChange=(action "changeRankAction" student) includeBlank=true options=rankOptions}}
          {{else}}
            &nbsp;
          {{/if}}
        </td>
        <td class="w-60">
          {{input type="text" value=student.notes size=60}}
        </td>
      </tr>
    {{/each}}
  </tbody>

</table>

<button class="btn btn-primary" {{action "saveAllStudentsAction"}} disabled={{isSubmitting}}>{{if isSubmitting "Saving" "Save All"}}</button>
{{#link-to "training.session.trainers-report" training.id slot.id class="btn btn-secondary"}}Trainer's Report{{/link-to}}
{{#link-to "training.session.signup-sheet" training.id slot.id class="btn btn-secondary"}}Signup Sheet{{/link-to}}
<button class="btn btn-secondary" {{action "toggleEmailListAction"}}>{{if showEmails "Hide Emails" "List Emails"}}</button>
<button class="btn btn-secondary" {{action "showAddPersonAction"}}>Add Person</button>
<button class="btn btn-secondary" {{action "showRemovePersonAction"}}>Remove Person</button>

{{#if showEmails}}
  {{email-list people=students scrollOnRender=true}}
{{/if}}

{{! Add Person dialog box}}
{{#if addPersonForm}}
  {{#ch-form "search" addPersonForm modalBox=true modalTitle="Add Person To Session" changeSet=false onFormChange=(action "searchPeopleAction") onCancel=(action "cancelSearchAction") as |f|}}
    <div class="form-row">
      {{f.input "name" label="Enter the callsign, real name, or email of the person to add:" type="text" size=30 autofocus="true"}}
    </div>
    <div class="form-row">
      {{f.cancel}}
    </div>
    {{#if foundPeople}}
      Click on the callsign to add the person.
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="w-25">Callsign</th>
            <th class="w-25">Name</th>
            <th class="w-25">Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each foundPeople as |person|}}
            <tr>
              <td class="w-25"><a href="#" {{action "addPersonAction" person}}>{{person.callsign}}</a></td>
              <td class="w-25">{{person.first_name}} {{person.last_name}}</td>
              <td class="w-25">{{person.status}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else if noSearchMatch}}
      <div class="text-danger">No person found matching "{{noSearchMatch}}"</div>
    {{/if}}
  {{/ch-form}}
{{/if}}

{{! Remove person dialog box}}
{{#if removePersonForm}}
  {{#ch-form "removePerson" removePersonForm modalBox=true modalTitle="Remove Person From Session" changeSet=false onSubmit=(action "removePersonAction") onCancel=(action "cancelRemovePersonAction") as |f|}}
    <div class="form-row">
      {{f.input "person_id" label="Select the person to remove" type="select" options=removeStudentOptions}}
    </div>

    {{f.submit label="Remove Person" disabled=(not f.model.person_id)}}
    {{f.cancel}}
  {{/ch-form}}
{{/if}}
