<YearSelect @title="Training Capacity for {{this.training.title}}" @year={{this.year}}
            @onChange={{action (mut this.year)}} />

{{#if this.notCurrentYear}}
  <ChAlert @type="warning">
    This is a historical report and PNV counts above do not accurately reflect
    the number of PNVs trained. This is because many people who were PNVs then are Rangers now.
    The total number of Rangers plus PNVs trained is accurate.
  </ChAlert>
{{/if}}

<table class="table table-hover table-width-auto table-sm">
  <thead>
  <tr class="thead-light">
    <th>Training</th>
    <th>Date</th>
    <th class="text-right">% Full</th>
    <th class="text-right">Seats</th>
    <th class="text-right">Signed Up</th>
    <th class="text-right" title="Prospective / Alpha">PNV</th>
    <th class="text-right" title="Returning Rangers, not in status 'auditor'">Returning</th>
    <th class="text-right">Auditors</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.slots as |slot|}}
    <tr class="{{if (gt slot.filled 90) "bg-danger text-light" (if (gt slot.filled 75) "bg-warning") }}">
      <td>{{slot.description}}</td>
      <td>{{shift-format slot.date}}</td>
      <td class="text-right">{{slot.filled}}%</td>
      <td class="text-right">{{slot.max}}</td>
      <td class="text-right">{{slot.signed_up}}</td>
      <td class="text-right">{{slot.alpha_count}}</td>
      <td class="text-right">{{slot.veteran_count}}</td>
      <td class="text-right">{{slot.auditor_count}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="9"><b class="text-danger">No {{this.year}} training shifts found.</b></td>
    </tr>
  {{/each}}
  {{#if this.slots}}
    <tr>
      <td colspan="2" class="text-right">Totals:</td>
      <td class="text-right">{{this.totalFullPercentage}}%</td>
      <td class="text-right">{{sum-column this.slots "max"}}</td>
      <td class="text-right">{{sum-column this.slots "signed_up"}}</td>
      <td class="text-right">{{sum-column this.slots "alpha_count"}}</td>
      <td class="text-right">{{sum-column this.slots "veteran_count"}}</td>
      <td class="text-right">{{sum-column this.slots "auditor_count"}}</td>
    </tr>
  {{/if}}
  </tbody>
</table>
