<YearSelect @title="Training Capacity for {{this.training.title}}"
            @year={{this.year}}
            @minYear={{2008}}
            @skipPandemic={{true}}
            @onChange={{set-value this 'year'}} />
<p>
  <UiButton @onClick={{this.exportToCSV}}>Export To CSV</UiButton>
</p>
Showing {{pluralize this.slots.length "active training"}}
<UiTable>
  <thead>
  <tr class="thead-light">
    <th>Training</th>
    <th>Date</th>
    <th class="text-end">% Full</th>
    <th class="text-end">Seats</th>
    <th class="text-end">Signed Up</th>
    <th class="text-end" title="Prospective / Alpha">PNV</th>
    <th class="text-end" title="Returning Rangers, not in status 'auditor'">Returning</th>
    <th class="text-end">Auditors</th>
    <th class="text-end">Passed</th>
    <th class="text-end">Not Passed</th>
    <th class="text-end">Trainers</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.slots key="id" as |slot|}}
    <tr class="{{this.bgColor slot.filled}}">
      <td>{{slot.description}}</td>
      <td>{{shift-format slot.begins}}</td>
      <td class="text-end">{{slot.filled}}%</td>
      <td class="text-end">{{slot.max}}</td>
      <td class="text-end">{{slot.signed_up}}</td>
      <td class="text-end">{{slot.pnv_count}}</td>
      <td class="text-end">{{slot.veteran_count}}</td>
      <td class="text-end">{{slot.auditor_count}}</td>
      <td class="text-end">{{slot.passed}}</td>
      <td class="text-end">{{slot.not_passed}}</td>
      <td class="text-end">{{slot.trainer_count}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="9"><b class="text-danger">No {{this.year}} training shifts found.</b></td>
    </tr>
  {{/each}}
  </tbody>
  {{#if this.slots}}
    <tfoot>
    <tr class="align-top">
      <th colspan="2" scope="row" class="text-end">Totals</th>
      <td class="text-end">{{this.totalFullPercentage}}%</td>
      <td class="text-end">{{this.totalMax}}</td>
      <td class="text-end">{{this.totalSignups}}</td>
      <td class="text-end">{{this.totalPNVs}}</td>
      <td class="text-end">{{this.totalVets}}</td>
      <td class="text-end">{{this.totalAuditors}}</td>
      <td class="text-end">{{this.totalPassed}}</td>
      <td class="text-end">{{this.totalNotPassed}}</td>
      <td class="text-end">{{this.uniqueTrainers}}<br>(unique)</td>
    </tr>
    </tfoot>
  {{/if}}

</UiTable>
