<YearSelect @title="{{this.training.title}} Sessions"
            @year={{this.year}}
            @minYear={{2008}}
            @skipPandemic={{true}}
            @onChange={{action (mut this.year)}} />
<p>
  Click on the time to manage the training session.
</p>
<p>
{{fa-icon "check" color="success"}} = Session is activated and available for sign-ups.<br>
{{fa-icon "times" color="danger"}} = not activated and sign-ups are not allowed.
</p>

<UiSection>
  <:title>In Progress &amp; Upcoming Sessions</:title>
  <:body>
    {{#if this.upcomingSessions}}
      <TrainingSessionsList @sessions={{this.upcomingSessions}} @training={{this.training}} />
    {{else}}
      No upcoming sessions were found.
    {{/if}}
  </:body>
</UiSection>

<UiSection>
  <:title>Past Sessions</:title>
  <:body>
    {{#if this.pastSessions}}
    <TrainingSessionsList @sessions={{this.pastSessions}} @training={{this.training}} />
    {{else}}
      No past sessions were found.
    {{/if}}
  </:body>
</UiSection>
