{{year-select (concat  "Trainer's Report - " training.title) year=year onChange=(action "changeYearAction") subheader=true}}

{{#each trainingSessions as |group|}}
  {{#ch-box (concat (shift-format group.slot.begins) " " group.slot.description)}}
    {{#unless group.slot.active}}
    <p class="text-danger font-weight-bold">
        Training session has not been activated. Sign ups are disabled until the session (aka slot) has been activated.
      </p>
    {{/unless}}
    <b>Sign ups:</b> {{group.slot.signed_up}} of {{group.slot.max}}
    {{#if (gte group.slot.signed_up group.slot.max)}}
      <span class="text-danger"> (FULL)</span>
    {{/if}}
    <br>
    {{#if group.trainers}}
        {{#each group.trainers as |trainerGroup|}}
          <b>{{trainerGroup.position_title}} ({{trainerGroup.trainers.length}}):</b>
          {{#each trainerGroup.trainers as |trainer index|}}
            {{if index ", "}}{{person-link person=trainer}}
          {{else}}
            <i>none found</i>
          {{/each}}<br>
        {{/each}}
    {{else}}
      {{#ch-alert "danger"}}
        No trainer slots were found. Verify the trainer slot's description matches exactly this slot's description.
      {{/ch-alert}}
    {{/if}}
    <div class="mt-2">
      {{#link-to "training.session.index" training.id group.slot.id class="btn btn-primary"}}Manage{{/link-to}}
    </div>
  {{/ch-box}}
{{else}}
<div class="text-danger">Odd, no training sessions were found for {{year}}</div>
{{/each}}
