{{year-select (concat  "Trainer's Report - " training.title) year=year onChange=(action "changeYearAction") subheader=true}}

{{#each trainingSessions as |group|}}
  {{#ch-box (concat (shift-format group.slot.begins) " " group.slot.description)}}
    {{#unless group.slot.active}}
    <p class="text-danger font-weight-bold">
        Training session has not been activated. Sign ups are disabled until the session (aka slot) has been activated.
      </p>
    {{/unless}}
    <b>Sign ups:</b> {{group.slot.signed_up}} of {{group.slot.max}}
    {{#if (gte group.slot.signed_up group.slot.max)}}
      <span class="text-danger"> (FULL)</span>
    {{/if}}
    <br>
    {{#if group.trainers}}
        {{#each group.trainers as |trainerGroup|}}
          <b>{{trainerGroup.position_title}} ({{trainerGroup.trainers.length}}):</b>
          {{#each trainerGroup.trainers as |trainer index|}}
            {{if index ", "}}<PersonLink @person={{trainer}} />
          {{else}}
            <i>none found</i>
          {{/each}}<br>
        {{/each}}
    {{else}}
        <strong class="text-danger font-weight-bold">No trainer slots were found.</strong> In order to correctly
        show how many trainers are signed up to teach this session, a trainer's slot needs to exists where the
        slot's description matches this session's description exactly and where the start time within one hour
        of this session.
    {{/if}}
    <div class="mt-2">
      <LinkTo @route="training.session.index" @models={{array training.id group.slot.id}} class="btn btn-primary">Manage</LinkTo>
    </div>
  {{/ch-box}}
{{else}}
<div class="text-danger">Odd, no training sessions were found for {{year}}</div>
{{/each}}
