<YearSelect @title="Multiple Enrollments Report for {{this.training.title}}"
            @year={{this.year}}
            @onChange={{action (mut this.year)}} />
{{#if this.enrollments}}
<p class="mt-4">
  <a href="#email-list-link" >Jump to email list</a>
</p>
{{/if}}
Showing {{pluralize this.enrollments.length "student"}}
<table class="table table-sm table-width-auto table-striped table-width-auto">
  <thead>
  <tr>
    <th>Callsign</th>
    <th>Email</th>
    <th>Training Date</th>
    <th>Training Location</th>
  </tr>
  </thead>

  <tbody>
  {{#each this.enrollments as |person|}}
    <tr>
      <td>
        <PersonLink @personId={{person.person_id}} @callsign={{person.callsign}} />
      </td>
      <td>{{mail-to person.email}}</td>
      <td>
        {{#each person.enrollments as |slot|}}
          {{shift-format slot.date}}<br>
        {{/each}}
      </td>
      <td>
        {{#each person.enrollments as |slot|}}
          {{slot.location}}<br>
        {{/each}}
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="4"><b class="text-success">Congratulations! No multiple enrollments were found for {{this.year}}.</b>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{#if this.enrollments}}
  <EmailList @people={{this.enrollments}} />
{{/if}}
