<YearSelect @title="Multiple Enrollments Report for {{this.training.title}}"
            @year={{this.year}}
            @minYear={{2008}}
            @skipPandemic={{true}}
            @onChange={{set-value this 'year'}} />


{{#each this.enrollments as |position|}}
  <UiSection>
    <:title>
      {{position.position_title}}: {{pluralize position.people.length "trainee"}}
    </:title>
    <:body>
      {{#if position.people}}
        <a href="#email-list-{{position.position_id}}">Jump to email list</a>
      {{/if}}
      <UiTable class="mt-4">
        <thead>
        <tr>
          <th>Callsign</th>
          <th>Email</th>
          <th>Time</th>
          <th>Location</th>
        </tr>
        </thead>

        <tbody>
        {{#each position.people as |person|}}
          <tr>
            <td>
              <PersonLink @personId={{person.person_id}} @callsign={{person.callsign}} />
            </td>
            <td>
              <MailTo @to={{person.email}} />
            </td>
            <td>
              {{#each person.enrollments as |slot|}}
                {{shift-format slot.begins}}<br>
              {{/each}}
            </td>
            <td>
              {{#each person.enrollments as |slot|}}
                {{slot.description}}<br>
              {{/each}}
            </td>
          </tr>
        {{else}}
          <tr><s></s>
            <td colspan="4" class="text-success">
              Congratulations! No multiple enrollments were found for {{this.year}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </UiTable>
      {{#if position.people}}
        <EmailList @people={{position.people}} @listId="email-list-{{position.position_id}}" />
      {{/if}}
    </:body>
  </UiSection>
{{/each}}
