<YearSelect @title="Completed {{this.training.title}}"
            @year={{this.year}}
            @minYear={{2008}}
            @skipPandemic={{true}}
            @onChange={{set-value this 'year'}} />

Showing {{pluralize this.slots.length "session"}}
<UiTable>
  <thead>
  <tr>
    <th>Date / Location</th>
    <th>People</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.slots as |slot idx|}}
    <tr>
      <td>
        {{shift-format slot.slot_begins}}<br>
        {{slot.slot_description}}
      </td>
      <td>
        <EmailList @people={{slot.people}} @listId="slot-emails{{idx}}"/>
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="3">No trainees found to have completed {{this.year}} training.</td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>
