<YearSelect @title="Completed {{this.training.title}}"
            @year={{this.year}}
            @minYear={{2008}}
            @skipPandemic={{true}}
            @onChange={{set-value this 'year'}} />
<div class="hstack gap-3 my-4">
  <div>
    Showing {{pluralize this.slots.length "session"}}
  </div>
  <div>
    <UiExportToCSVButton @onClick={{this.exportToCSV}} @size="sm"/>
  </div>
</div>

{{#each this.slots as |slot idx|}}
  <UiSection>
    <:title>{{shift-format slot.slot_begins}} {{slot.slot_description}}</:title>
    <:body>
      <h3>Trainees</h3>
      <EmailList @people={{slot.people}} @listId="slot-trainees-{{idx}}"/>
      <h3 class="mt-4">Trainers</h3>
      <EmailList @people={{slot.trainers}} @listId="slot-trainers-{{idx}}"/>
    </:body>
  </UiSection>
{{else}}
  <div class="mt-4 text-danger">
    No trainees found to have completed {{this.year}} training.
  </div>
{{/each}}
