<h1>Trainer Resources</h1>
<p>
  <LinkTo @route="training.index" @model={{this.training.id}} >
    Back to {{this.training.title}} Sessions
  </LinkTo>
</p>

{{#if this.isReloading}}
  <LoadingDialog>
    Reloading training information . . .
  </LoadingDialog>
{{else}}
  {{#if this.editDocument}}
    <DocumentEdit @type="position" @entityId={{this.training.id}} @onClose={{this.close}} />
  {{else}}
    {{#if this.canEditTrainerResource}}
      <p>
        <UiButton @onClick={{this.edit}} @onClose={{this.close}}>
          Edit Trainer Resource Document
        </UiButton>
      </p>
      <hr class="text-muted"/>
    {{/if}}

    {{#if this.training.resource_tag}}
      <DocumentShow @tag={{this.training.resource_tag}} />
    {{else}}
      No trainer resource document has been setup.
    {{/if}}
  {{/if}}
{{/if}}