<h1>{{year-format slot.begins}} {{training.title}} - {{shift-format slot.begins}} - {{slot.description}}</h1>
Signups: {{students.length}} of {{slot.max}}
{{#if (gte students.length slot.max)}}
  <span class="text-danger"> (FULL)</span>
{{/if}}
{{#if training.is_art}}
ART Vets: {{vetCount}}
ART Alphas: {{alphaCount}}<br>
{{else}}
Vets: {{vetCount}}
First years: {{firstYearCount}}
Alphas: {{alphaCount}}<br>
{{/if}}
{{#if trainers}}
{{#each trainers as |group|}}
  {{group.position_title}} ({{group.trainers.length}}):
  {{#each group.trainers as |trainer index|}}
      {{if index ", "}}{{person-link person=trainer}}
  {{else}}
    <i>none found</i>
  {{/each}}<br>
{{/each}}
{{else}}
{{#ch-alert "warning"}}
  No trainer slots were found. Verify the trainer slot's description matches exactly this slot's description.
{{/ch-alert}}
{{/if}}
<div class="mt-2 mb-2">
  <button class="btn btn-primary" {{action "saveAllStudentsAction"}} disabled={{isSubmitting}}>{{if isSubmitting "Saving" "Save All"}}</button>
  <button class="btn btn-secondary" {{action "printTrainersReportAction"}}>Trainers Report</button>
  <button class="btn btn-secondary" {{action "printSignupSheetAction"}}>Signup Sheet</button>
  <button class="btn btn-secondary" {{action "toggleEmailListAction"}}>{{if showEmails "Hide Emails" "List Emails"}}</button>
  <button class="btn btn-secondary" {{action "showAddPersonAction"}}>Add Person</button>
</div>
{{#if training.is_art}}
A '*' by a person's status indicate an ART Alpha.
{{/if}}
<table class="table table-sm table-hover">
  <caption>{{pluralize students.length "student"}} {{passedCount}} passed</caption>
  <thead>
    <tr>
      <th class="w-20">Callsign</th>
      <th class="w-10">Status</th>
      <th class="w-5">Passed?</th>
      <th class="w-5">Rank</th>
      <th class="w-45">Comment</th>
      <th class="w-15">Actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each students as |student|}}
  <tr class="{{if (or student.is_retired student.is_inactive) "bg-warning"}}">
    <td class="w-20">{{#if (or student.is_retired student.is_inactive)}}{{fa-icon "exclamation-triangle"}}{{/if}}{{person-link person=student}}</td>
    <td class="w-10">{{student.status}}{{#if student.is_art_alpha}}*{{/if}}</td>
    <td class="w-5">{{input type="checkbox" checked=student.passed}}</td>
    <td class="text-center w-5">
      {{#if student.need_ranking}}
        {{ch-form/select name=(concat "student" student.id) value=student.rank onChange=(action "changeRankAction" student) includeBlank=true options=rankOptions}}
      {{else}}
        &nbsp;
      {{/if}}
    </td>
    <td class="w-45">
      {{input type="text" value=student.notes size=40}}
    </td>
    <td class="w-15">
      <button class="btn btn-secondary btn-sm" title="View Student" {{action "viewStudentAction" student}}>{{fa-icon "user" type="far"}}</button>
      <button class="btn btn-danger btn-sm" title="Delete Student" {{action "removeStudentAction" student}}>{{fa-icon "trash-alt" type="far"}}</button>
    </td>
  </tr>
  {{/each}}
  </tbody>

</table>
<button class="btn btn-primary" {{action "saveAllStudentsAction"}} disabled={{isSubmitting}}>{{if isSubmitting "Saving" "Save All"}}</button>
<button class="btn btn-secondary" {{action "printTrainersReportAction"}}>Trainers Report</button>
<button class="btn btn-secondary" {{action "printSignupSheetAction"}}>Signup Sheet</button>
<button class="btn btn-secondary" {{action "toggleEmailListAction"}}>{{if showEmails "Hide Emails" "List Emails"}}</button>
<button class="btn btn-secondary" {{action "showAddPersonAction"}}>Add Person</button>

{{#if showEmails}}
{{email-list people=students scrollOnRender=true}}
{{/if}}

{{training/signup-sheet students=students training=training slot=slot}}
{{training/trainers-report students=students trainers=trainers training=training slot=slot}}

{{#if searchForm}}
{{#ch-form "search" searchForm modalBox=true modalTitle="Add Person To Session" changeSet=false onFormChange=(action "searchPeopleAction") onCancel=(action "cancelSearchAction") as |f|}}
  <div class="form-row">
    {{f.input "name" label="Enter the callsign, real name, or email of the person to add:" type="text" size=30 autofocus="true"}}
  </div>
  <div class="form-row">
    {{f.cancel}}
  </div>
{{#if foundPeople}}
  Click on the callsign to add the person.
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="w-25">Callsign</th>
        <th class="w-25">Name</th>
        <th class="w-25">Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each foundPeople as |person|}}
        <tr>
          <td class="w-25"><a href="#" {{action "addPersonAction" person}}>{{person.callsign}}</a></td>
          <td class="w-25">{{person.first_name}} {{person.last_name}}</td>
          <td class="w-25">{{person.status}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else if noSearchMatch}}
<div class="text-danger">No person found matching "{{noSearchMatch}}"</div>
{{/if}}
{{/ch-form}}
{{/if}}

{{#if viewStudent}}
  {{#modal-dialog title="Student Information" onClose=(action "closeStudentAction")}}
  <dl class="row">
  <dt class="col-sm-12 col-md-2">Callsign:</dt>
  <dd class="col-sm-12 col-md-9">{{viewStudent.callsign}}</dd>

  <dt class="col-sm-12 col-md-2">Name:</dt>
  <dd class="col-sm-12 col-md-9">{{viewStudent.first_name}} {{viewStudent.last_name}}</dd>

  <dt class="col-sm-12 col-md-2">Email:</dt>
  <dd class="col-sm-12 col-md-9">{{mail-to viewStudent.email}}</dd>

  <dt class="col-sm-12 col-md-2">Status:</dt>
  <dd class="col-sm-12 col-md-9">{{viewStudent.status}}</dd>

  <dt class="col-sm-12 col-md-2">Years:</dt>
  <dd class="col-sm-12 col-md-9">{{viewStudent.years}}</dd>

  <dt class="col-sm-12 col-md-2">Note:</dt>
  <dd class="col-sm-12 col-md-9">
    {{present-or-not viewStudent.notes}}
  </dd>
  </dl>
  {{/modal-dialog}}
{{/if}}
