<YearSelect @title="{{this.training.title}} - Trained Yet No Work"
            @year={{this.year}}
            @minYear={{2008}}
            @skipPandemic={{true}}
            @onChange={{set-value this 'year'}} />
<p>
  This report lists individuals who completed the training but did not work any shifts that require it. The
  recommendation
  is to run this post-event and not before as it may not make any sense.
</p>
{{#if this.no_positions}}
  Odd, this position {{this.training.title}} does not appear to have any working positions that require this training.
  This might be a bug.
{{else if this.no_slots}}
  The full schedule appears to have not been published yet.
{{else if this.no_trained}}
  No one has passed training yet.
{{else if this.people}}
  Showing {{pluralize this.people.length "person"}}
  <UiExportToCSVButton @onClick={{this.exportToCSV}} @size="sm" />
  <UiTable>
    <thead>
    <tr>
      <th>Person</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.people as |person|}}
      <tr>
        <td>
          <PersonLink @person={{person}} />
        </td>
        <td>{{person.status}}</td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>
{{else}}
  Every one appears to have passed training and worked.
{{/if}}