{{year-select (concat "Untrained People Report for " training.title) year=year onChange=(action "changeYearAction")}}
<p>
  This report has two sections:
  <ol>
    <li>People who have signed up for shifts but have not signed up for training.</li>
    <li>People who have signed up for shifts but did not pass training (yet).</li>
  </ol>
</p>

<h2>People signed up and no training shift</h2>
<p>
  There
  {{#if (eq not_signed_up.length 1)}}
    is 1 individual
  {{else}}
    are {{not_signed_up.length}} individuals
  {{/if}}
  signed up for a shift who {{if (eq not_signed_up.length 1) "has" "have"}} not signed up for a corresponding training shift.
</p>
{{email-list people=not_signed_up listId="no-signup-emails"}}

<table class="table table-border table-sm table-hover mt-2">
  <caption>No Training Shifts - Details</caption>
  <thead>
    <tr>
      <th>Callsign</th>
      <th>Name</th>
      <th>Email</th>
      <th>Shifts</th>
    </tr>
  </thead>
  <tbody>
    {{#each not_signed_up as |person|}}
      <tr>
        <td>{{person-link person=person}}</td>
        <td>{{person.first_name}} {{person.last_name}}</td>
        <td>{{mail-to person.email}}</td>
        <td>
          {{#each person.slots as |slot|}}
            {{shift-format slot.begins}} {{slot.description}} ({{slot.title}})<br>
          {{/each}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h2>Signed up for shifts &amp; have not (yet) passed training</h2>

{{#if not_passed}}
  <p>
    There
    {{#if (eq not_passed.length 1)}}
      is 1 individual
    {{else}}
      are {{not_passed.length}} individuals
    {{/if}}
    signed up for a shift who {{if (eq not_passed.length 1) "has" "have"}} not passed training.<br>
    (This could be because their training hasn’t happened yet.)
  </p>

  {{email-list people=not_passed}}

  <table class="table table-sm table-hover mt-2">
    <caption>Training Not Passed - Details</caption>
    <thead>
      <tr>
        <th>Callsign</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each not_passed as |person|}}
        <tr>
          <td>{{person-link person=person}}</td>
          <td>{{person.first_name}} {{person.last_name}}</td>
          <td>{{mail-to person.email}}</td>
        </tr>
        <tr class="no-border">
          <td colspan="3">
            <dl>
              <dt>Training:</dt>
              <dd>{{#link-to "training.session" training.id person.training_slot_id}}{{shift-format person.training_begins}} {{person.training_description}}{{/link-to}}</dd>
              <dt>{{pluralize person.slots.length "shift signup"}}:</dt>
              <dd>
                {{#each person.slots as |slot|}}
                  {{shift-format slot.begins}} {{slot.description}} ({{slot.position_title}})<br>
                {{/each}}
              </dd>
            </dl>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>
    Congratulations! Everyone who signed up for a shift also passed training.
  </p>
{{/if}}
