<EditableSection
  @formId="application"
  @sectionId="details"
  @formFor={{@application}}
  @validator={{this.applicationValidation}}
  @onSubmit={{this.saveApplication}}
  @editButtonNoRightAlign={{true}}
>
  <:title>Application Details</:title>
  <:view>
    {{#if @application.isProcessingCallsign}}
      <UiSectionSubtitle @type="gray" @icon="hand-point-right">
        Callsign processing in progress.
      </UiSectionSubtitle>
    {{/if}}
    {{#if (eq @application.why_volunteer_review 'unreviewed')}}
      <UiSectionSubtitle @type="warning" @icon="question">
        Unreviewed paragraph
      </UiSectionSubtitle>
    {{/if}}
    <UiGridTable as |t|>
      <t.label>
        BRC Events
      </t.label>
      <t.column>
        {{#if @application.eventsList}}
          {{#if @application.isBRCExperienceOkay}}
            <UiBadge @type="success">{{fa-icon "check" right=1}} Experience is okay</UiBadge>
          {{else}}
            <UiBadge @type="danger">{{fa-icon "hand" right=1}} Experience issue</UiBadge>
          {{/if}}
          <div>
            {{pluralize @application.eventsList.length
                        (if @application.hasPandemicEvents "total event" "event")}}
            [{{year-range @application.eventsList}}]
          </div>
          {{#if @application.hasPandemicEvents}}
            <div class="text-danger">
              {{fa-icon "hand" right=1}} Pandemic year(s) selected.
            </div>
          {{/if}}
        {{else}}
          <UiBadge @type="danger">{{fa-icon "hand" right=1}} No events selected</UiBadge>
        {{/if}}
      </t.column>
      <t.label>Age</t.label>
      <t.column>
        {{#if @application.is_over_18}}
          <UiBadge @type="success">{{fa-icon "check" right=1}} Is 18 or older</UiBadge>
        {{else}}
          <UiBadge @type="danger">{{fa-icon "times" right=1}} Under 18</UiBadge>
        {{/if}}
      </t.column>

      <t.label>
        Known Rangers
      </t.label>
      <t.column>
        <PresentOrNot @value={{@application.known_rangers}} @empty="none stated"/>
      </t.column>
      <t.label>
        Known Applicants
      </t.label>
      <t.column>
        <PresentOrNot @value={{@application.known_applicants}} @empty="none stated"/>
      </t.column>
      <t.label>
        Why Ranger?
      </t.label>
      <t.column>
        {{#if (eq @application.why_volunteer_review 'okay')}}
          <UiBadge @type="success">
            {{fa-icon "check" right=1}} paragraph okay
          </UiBadge>
          <span class="text-success"></span>
        {{else if (eq @application.why_volunteer_review 'problem')}}
          <UiBadge @type="danger">
            {{fa-icon "ban" right=1}} problem paragraph
          </UiBadge>
        {{else}}
          <UiBadge @type="warning">
            {{fa-icon "question" right=1}} unreviewed paragraph
          </UiBadge>
        {{/if}}
        {{#if @application.reviewed_at}}
          <span class="ms-2 text-muted">
            Reviewed at {{shift-format @application.reviewed_at}} by
            {{#if @application.review_person}}
              {{@application.review_person.callsign}}
            {{else}}
              <i>- unknown -</i>
            {{/if}}
          </span>
        {{/if}}
        <div class="my-2">
          {{nl2br @application.why_volunteer}}
        </div>
        {{#if (not-eq @application.why_volunteer_review 'okay')}}
          <UiButton @type="secondary" @size="sm" @onClick={{this.setReviewOkay}} class="me-2">
            Mark Okay
          </UiButton>
        {{/if}}
        {{#if (not-eq @application.why_volunteer_review 'problem')}}
          <UiButton @type="secondary" @size="sm" @onClick={{this.openProblemReviewDialog}}>
            Mark As Problem
          </UiButton>
        {{/if}}
      </t.column>
      <t.label>Regional Experience</t.label>
      <t.column>
        {{#if @application.regional_experience}}
          {{nl2br @application.regional_experience}}
        {{else}}
          <i>none stated</i>
        {{/if}}
      </t.column>
      <t.label>Comments</t.label>
      <t.column>
        <Vc::ApplicationNotes @application={{@application}} @isComment={{true}} />
      </t.column>

      <t.label>Unified Flagging Notes</t.label>
      <t.column>
        <Vc::ApplicationNotes @application={{@application}} @isComment={{false}} />
      </t.column>
      <t.label>Actions</t.label>
      <t.column class="ui-button-row">
        <UiButton @type="secondary" @size="sm" @onClick={{this.approveForCallsignProcessing}}>
          Approve for Callsign Processing
        </UiButton>
        <UiDropdownButton @label="Reject Application" as |dd|>
          <dd.item @onSelect={{this.rejectQualification}}>
            Lacking Event Experience
          </dd.item>
          {{!--
          <dd.item @onSelect={{this.rejectRegional}}>
            Failed Regional Verification
          </dd.item>
          --}}
          <dd.item @onSelect={{this.rejectTooYoung}}>
            Too Young (&lt; 18 years old)
          </dd.item>
          <dd.item @onSelect={{this.rejectPreBonk}}>
            Pre-Bonk
          </dd.item>
          <dd.item @onSelect={{this.rejectUberbonk}}>
            Uberbonk
          </dd.item>
          <dd.item @onSelect={{this.rejectReturningRanger}}>
            Returning Ranger
          </dd.item>
          <dd.item @onSelect={{this.rejectDuplicateApplication}}>
            Duplicate Application
          </dd.item>
        </UiDropdownButton>
        {{!--
        <UiButton @type="secondary" @size="sm" @onClick={{this.requestRRNCheck}}>Request RRN Check</UiButton>
        --}}
        <UiDropdownButton @label="Hold Application" as |dd|>
          <dd.item @onSelect={{this.whyRangerIssue}}>
            Why Ranger Answer Issue
          </dd.item>
          <dd.item @onSelect={{this.qualificationIssue}}>
            Ask for Experience Confirmation
          </dd.item>
        </UiDropdownButton>
      </t.column>
    </UiGridTable>
  </:view>
  <:edit as |f|>
    {{!--
    <FormRow>
      <FormLabel @fixed={{true}}>
        Experience
      </FormLabel>
      <div class="col-auto">
        <f.select @name="experience"
                  @options={{this.experienceOptions}}
        />
      </div>
    </FormRow>
    --}}
    <FormRow>
      <FormLabel @fixed={{true}}>
        BRC Events Attended
      </FormLabel>
      <div class="col-auto">
        <f.checkboxGroup @name="eventYears"
                         @options={{this.eventYearOptions}}
                         @cols={{3}}
        />
      </div>
    </FormRow>
    <FormRow>
      <FormLabel @fixed={{true}}>Age</FormLabel>
      <div class="col-auto mt-2">
        <f.checkbox @name="is_over_18" @label="Is 18 years or older?" @inline={{true}}/>
      </div>
    </FormRow>
    <FormRow>
      <FormLabel @fixed={{true}}>
        Why Ranger?
      </FormLabel>
      <f.textarea @name="why_volunteer" @cols={{80}} @rows={{5}}  />
    </FormRow>
    <FormRow>
      <FormLabel @fixed={{true}}>
        Regional Experience
      </FormLabel>
      <f.textarea @name="regional_experience" @cols={{80}} @rows={{5}} />
    </FormRow>
    <FormRow>
      <FormLabel @fixed={{true}}>
        Known Rangers
      </FormLabel>
      <f.text @name="known_rangers" @size={{80}} />
    </FormRow>
    <FormRow>
      <FormLabel @fixed={{true}}>
        Known Applicants
      </FormLabel>
      <f.text @name="known_applicants" @size={{80}} />
    </FormRow>
  </:edit>
</EditableSection>

{{#if this.showProblemReviewDialog}}
  <ModalDialog @onEscape={{this.cancelProblemReviewDialog}} as |Modal|>
    <ChForm @formId="reason"
            @formFor={{this.messageForm}}
            @validator={{this.messageValidation}}
            @onSubmit={{this.submitProblemReview}} as |f|>
      <Modal.title>Mark Paragraph as Problematic</Modal.title>
      <Modal.body>
        <div class="row">
          <f.textarea @name="message"
                      @label="Why is the paragraph problematic?"
                      @rows={{10}}
                      @cols={{80}}
                      @autofocus={{true}}
          />
        </div>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label="Mark As Problem"/>
        <UiCancelButton @onClick={{this.cancelProblemReviewDialog}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.showStatusWithMessageDialog}}
  <ModalDialog @onEscape={{this.cancelStatusMessageDialog}} as |Modal|>
    <ChForm @formId="reason"
            @formFor={{this.messageForm}}
            @validator={{this.messageValidation}}
            @onSubmit={{this.updateStatusWithMessage}} as |f|>
      <Modal.title>Update Status</Modal.title>
      <Modal.body>
        {{#if this.askForMessage}}
          <p>
            You are to update the status to "{{this.statusLabel this.newStatus}}".
          </p>
          <p>
            The new status requires a reason / message to be sent to the applicant. The email's from address
            will be
            <VcEmail/>
            .
          </p>
          <div class="row">
            <f.textarea @name="message"
                        @label="Your message to the applicant:"
                        @rows={{10}}
                        @cols={{80}}
                        @autofocus={{true}}
            />
          </div>
        {{else}}
          Please confirm updating the status to "{{this.statusLabel this.newStatus}}"
        {{/if}}
        <div class="mt-3">
          {{#if this.doesStatusSendEmail}}
            This action will email the applicant.
          {{else}}
            No emails will be sent to the applicant.
          {{/if}}
        </div>
      </Modal.body>
      <Modal.footer @align="start">
        <UiButtonRow>
          <f.submit @label={{if this.askForMessage "Submit" "Confirm"}} />
          {{#if this.doesStatusSendEmail}}
            <UiButton @onClick={{fn this.previewEmailAction f.model}} @type="secondary">
              Preview Email
            </UiButton>
          {{/if}}
          <UiCancelButton @onClick={{this.cancelStatusMessageDialog}} />
        </UiButtonRow>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

