<h1>Clubhouse Announcements</h1>
<BackToHome/>

{{#if this.motds}}
  <p>
    Showing  {{pluralize this.motds.length "Clubhouse announcement"}}.
  </p>
  Click the subject line to read the announcement.
  {{#each this.motds as |motd|}}
    <div class="accordion-container mb-2" id="motd-{{motd.id}}">
      <div class="accordion-title p-2 {{if motd.has_read "text-muted"}}">
        <a href class="d-block" {{action this.toggleMotd motd}}>
          {{#if motd.has_read}}
            {{fa-icon "check-circle"}}
          {{else}}
            {{fa-icon "arrow-right" color="success"}}
          {{/if}}
          {{motd.subject}}
        </a>
      </div>
      <div class="accordion-body collapse" id="motd-text-{{motd.id}}">
        <div class="text-muted mb-2">Posted {{dayjs-format motd.created_at "dddd, MMMM Do YYYY"}}</div>
        {{nl2br motd.message allowHtml=true}}
        <div class="mt-2">
          {{#if motd.has_read}}
            <i class="text-muted">You have read this announcement.</i>
          {{else}}
            <UiButton @type="secondary" @disabled={{motd.isMarking}} @onClick={{fn this.markMotdAsRead motd}}>
              Mark As Read
            </UiButton>
            {{#if motd.isMarking}}
              <LoadingIndicator @text="marking ..."/>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>
    <b>There are no Clubhouse announcements at this time. Check your inbox, and the Announce mailing list for
      additional messages.</b>
  </p>
{{/if}}