<h1>Clubhouse Announcements</h1>
<BackToHome/>

{{#if this.motds}}
  <p>
    Showing  {{pluralize this.motds.length "Clubhouse announcement"}}.
  </p>
  Click the subject line to read the announcement.
  {{#each this.motds as |motd|}}
    <div class="card card-announce mb-2" id="motd-{{motd.id}}">
      <div class="card-header p-2 h5 {{if motd.has_read "text-muted"}}">
        {{#if motd.has_read}}
          {{fa-icon "check-circle"}}
        {{else}}
          {{fa-icon "arrow-right" color="success"}}
        {{/if}}
        <a href {{action this.toggleMotd motd}}>
          {{motd.subject}}
        </a>
      </div>
      <div class="card-body collapse" id="motd-text-{{motd.id}}">
        <div class="text-muted mb-2">Posted {{moment-format motd.created_at "dddd, MMMM Do YYYY"}}</div>
        {{nl2br motd.message allowHtml=true}}
        <div class="mt-2">
          {{#if motd.has_read}}
            <i class="text-muted">You have read this announcement.</i>
          {{else}}
            <button type="button" class="btn btn-secondary" {{action this.markMotdAsRead motd}}
                    disabled={{motd.isMarking}}>
              Mark As Read
            </button>
            {{#if motd.isMarking}}
              <LoadingIndicator @text="marking ..."/>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>
    <b>There are no Clubhouse announcements at this time. Check your inbox, and the Announce mailing list for
      additional messages.</b>
  </p>
{{/if}}