<h1>Contact An Active Ranger</h1>
<BackToHome/>

<p>
  Use this page to send a contact message, via email, to a Ranger. Messages may only be
  sent to currently active or inactive Rangers. (An inactive Ranger is a person
  who has not rangered the last three years.) Individuals who are prospectives,
  alphas, bonked, retired, etc. may not be sent a message through this service.
</p>

{{#if this.isSearchingParam}}
  <LoadingIndicator @text={{concat "Searching for " this.searchForm.callsign}} />
{{else}}
  <p>
    Neither your email address nor the email address of the receiving Ranger will
    be revealed by the Clubhouse.
  </p>
  <p>
    <b>A Ranger callsign may not appear in the search results if the person is no longer active.</b>
  </p>

  <ChForm @formId="search" @formFor={{this.searchForm}} @changeSet={{false}} @onFormChange={{this.searchOnChange}}
          as |f|>
    <FormRow>
      <f.text @name="callsign"
              @label="Start typing the callsign of Ranger you wish to contact:"
              @size={{30}}
              @autofocus={{true}} />
    </FormRow>
    {{#if this.isSubmitting}}
      <LoadingIndicator @text="Searching . . ."/>
    {{/if}}
  </ChForm>

  {{#if this.foundCallsigns}}
    <b>Click on the callsign below to send a message:</b>
    <table class="table table-striped table-bordered table-width-auto">
      <tbody>
      {{#each this.foundCallsigns key="id" as |ranger|}}
        <tr>
          <td>
            {{#if ranger.allow_contact}}
              <a href {{action "contactRanger" ranger}}>{{ranger.callsign}}</a>
            {{else}}
              <span class="text-danger">{{ranger.callsign}} does not want to be contacted through the Clubhouse.</span>
            {{/if}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{else if this.noMatch}}
    <p class="text-danger"><b>No callsigns match "{{this.noMatch}}"</b></p>
  {{/if}}
{{/if}}

{{#if this.ranger}}
  <ContactForm @callsign={{this.ranger.callsign}}
               @recipientId={{this.ranger.id}}
               @isInactive={{this.ranger.is_inactive}}
               @contactType="ranger"
               @onDone={{action this.doneAction}} />
{{/if}}

