<h1>Ranger Cadre &amp; Delegation Email Directory</h1>
<p>
  Descriptions of the Cadres and Delegations, along with their roles and responsibilities, can be found in the
  <ExtLink @href={{setting "JoiningRangerSpecialTeamsUrl"}} class="d-inline-block">
    Ranger Special Teams and How to Join Them
  </ExtLink>
  document.
</p>
{{#each this.teams as |team idx|}}
  {{#if idx}}<hr>{{/if}}
  <h2>{{team.title}}</h2>
  Contact: <MailTo @to={{team.email}} />
  <div class="d-flex flex-wrap mt-2">
    {{#each team.members as |member|}}
      <div class="card me-4 mb-2" style="width: 10rem;">
        {{#if member.profile_url}}
          <img src={{member.profile_url}} alt="profile" class="card-img-top" loading="lazy">
        {{else}}
          <UiPhotoNone/>
        {{/if}}
        <div class="card-body">
          <div class="card-title h4 text-center">
            {{member.callsign}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}
