<h1>{{year}} Event Info For <span class="d-inline-block">{{person.callsign}}</span></h1>


{{#if (or person.isActive person.isAlpha)}}
  This page contains information about your training and various bits (meals, showers, radios, vehicles, etc.)
  related to rangering on the playa.
{{else if person.isNonRanger}}
This page contains information regarding granted positions, meals, radios, showers, and vehicle authorizations.
{{else}}
  This page contains information about your training. If you were to become a
  Black Rock Ranger, this page would contain additional information related to
  rangering on the playa.
{{/if}}

<h3 class="mt-4">{{fa-icon "graduation-cap"}} Training</h3>

{{#if person.isNonRanger}}
  <p>Non Rangers are not required to pass training.</p>
{{/if}}
{{#if (and dirtTraining (not-eq dirtTraining.status "no-shift"))}}
  {{#if (eq dirtTraining.status "pending")}}
    Signed up for training on {{mdy-format dirtTraining.date}} at {{dirtTraining.location}}.
  {{else if (eq dirtTraining.status "pass")}}
    Passed training on {{mdy-format dirtTraining.date}} at {{dirtTraining.location}}
    {{#if person.isAlpha}}
      <br>
      You still need to pass your Alpha shift on playa in order to become a Ranger.
    {{/if}}
  {{else if (eq dirtTraining.status "fail")}}
    Did not pass training on {{mdy-format dirtTraining.date}} at {{dirtTraining.location}}
  {{else if (eq dirtTraining.status "no-shift")}}
  {{else}}
    Uh oh, I did not understand the status [{{dirtTraining.status}}]
  {{/if}}
{{else}}
  <p>
    <b class="text-danger">No training sign ups were found for {{year}}.</b>
  </p>
  {{#if (is-current-year year)}}
    {{#if person.isActive}}
      You do not have to be trained to sign up for shifts, but you must be trained before actually working shifts on playa.
    {{else if person.isProspective}}
      You will need to sign up for and pass a training session before becoming an Alpha.
    {{/if}}
  {{/if}}
{{/if}}

{{#if artTrainings}}
  <h3 class="mt-4">{{fa-icon "university"}} Advanced Ranger Training (ART)</h3>
  The following {{if (eq artTrainings.length 1) "position" (concat artTrainings.length " positions")}}
  require ART Training. Although you can sign up for an
  ART-required shift at any time, you will not be allowed to work such a shift
  until you have passed the relevant ART training.
  {{training-info trainings=artTrainings}}
{{/if}}

<h3>{{fa-icon "list"}} Positions</h3>
Positions indicate which shifts you are allowed to sign up for and what ART trainings you may attend. You have
{{pluralize personPositions.length "position"}} granted:
<div class="form-row mt-2">
  {{#each personPositions as |position| }}
    <div class="col-sm-6 col-md-3">
      {{position.title}}
    </div>
  {{else}}
    <div class="col-auto">
      You currently do not hold any positions.
    </div>
  {{/each}}
</div>

{{#if (or person.isActive person.isAlpha person.isNonRanger)}}
  <h3 class="mt-4">{{fa-icon "utensils"}} Meals</h3>

  {{meal-info eventInfo.meals}}

  <h3 class="mt-4">{{fa-icon "shower"}} Showers</h3>
  {{#if eventInfo.showers}}
    {{badge "secondary" "Wet Spot"}} Your BMID will allow you to take showers at the Wet Spot.
  {{else}}
    {{badge "secondary" "Shower Pogs"}} For every 40 hours you work on playa, you can get a shower pog from HQ, good for one shower at the Wet Spot.
  {{/if}}


  <h3 class="mt-4">{{fa-icon "broadcast-tower"}} Radios</h3>
  {{#if eventInfo.radio_info_available}}
    {{#if eventInfo.radio_eligible}}
      {{badge "success" "Event Radio"}}
      {{#if (eq eventInfo.radio_max 1)}}
        You may check out an Event radio for the duraiton of the event.
      {{else}}
        You may check out up to {{eventInfo.radio_max}} Event radios for the duraiton of the event.
      {{/if}}
    {{else}}
      {{badge "success" "Shift Radio"}} You will need to check out a radio each time you show up to Ranger HQ for shift (and check it in at the end of your shift!).
    {{/if}}
  {{else}}
    Radio eligibility for this year is not yet available.
  {{/if}}

  <h3 class="mt-4">{{fa-icon "car"}} Motorpool Policy</h3>
  {{#if person.vehicle_blacklisted}}
    {{badge "danger" "Blacklisted"}} We're sorry, but you cannot drive gators, cars, or trucks on playa for Ranger business.
  {{else}}
    {{#if person.vehicle_paperwork}}
      {{badge "success" "Authorized"}} You are authorized to drive golf carts &amp; gators (UTVs) on playa for Ranger business. Vehicle must have a valid Burning Man driving sticker.
    {{else}}
      {{badge "warning" "Not Authorized"}} You are NOT authorized to drive golf carts &amp; gators (UTVs) on the playa for Ranger business. You can fix this by agreeing to the
      {{#link-to "me.motorpool-policy"}}Motorpool Policy{{/link-to}}.
    {{/if}}

    <h3 class="mt-4">{{fa-icon "truck-pickup"}} Motor Vehicle Record (MVR)</h3>
    {{#if person.vehicle_insurance_paperwork}}
      {{badge "success" "Authorized" }} You are authorized to drive cars and
      trucks (including your own personal vehicle) on playa for Ranger business.
      Vehicle must have a valid Burning Man driving sticker.
    {{else}}
      {{badge "warning" "Not Authorized" }} You are NOT authorized to drive cars
      and trucks (including your own personal vehicle) on playa for Ranger
      business. If you think you need this to do your job on playa, please
      contact your manager or team lead.
    {{/if}}
  {{/if}}
{{/if}}
