<h1>{{this.session.user.callsign}}'s Mentees</h1>
<BackToHome/>

<p>
  A message may be sent to your mentees by clicking on 'Contact'. You are only
  allowed to send a contact message to active Rangers. If you wish to contact
  a non-active Ranger, please email the Mentor Cadre.
</p>

<p>
  <i>No Contact</i> indicates that individual wishes not to be contacted by
  their Mentors.
</p>

<p>
  {{#if (eq this.firstYear this.lastYear)}}
    In {{this.firstYear}}
  {{else}}
    From {{this.firstYear}} to {{this.lastYear}},
  {{/if}}
  you have mentored {{this.totalMentees}} alphas of whom {{this.totalPassed}} have passed,
  and {{this.totalBonked}} were bonked.
</p>

<MenteeList @menteeList={{this.menteeList}} @contactAction={{this.contactAction}} />

{{#if this.contactMentee}}
  <ContactForm @callsign={{this.contactMentee.callsign}}
               @isInactive={{eq this.contactMentee.status "not active"}}
               @recipientId={{this.contactMentee.person_id}}
               @contactType="mentor"
               @onDone={{action this.doneAction}} />
{{/if}}
