<h1>My Mentors</h1>

<BackToHome/>
<p>
  You can send a message to one of your Mentors by clicking the ‘Contact’ button next to their callsign. Please note
  that if a Mentor is no longer with the department, it is possible they may not receive the message.
</p>
{{#each this.mentors as |event|}}
  <UiSection>
    <:title>
      Year {{event.year}}
      {{#if (eq event.status "pass")}}
        <UiBadge @type="success" class="ms-2">passed</UiBadge>
      {{/if}}
    </:title>
    <:body>
      <div class="d-flex flex-wrap">
        {{#each event.mentors as |mentor|~}}
        {{! template-lint-disable no-inline-styles}}
          <div class="card me-4 mb-2" style="width: 10rem;">
            {{#if mentor.profile_url}}
              <img src={{mentor.profile_url}} alt="profile" class="card-img-top" loading="lazy">
            {{else}}
              <UiPhotoNone class="text-center my-4"/>
              <div class="card-text text-center mb-3">(No Photo)</div>
            {{/if}}
            <div class="card-body">
              <div class="card-title h4 text-center">
                {{mentor.callsign}}
              </div>
              <div class="card-text text-center">
                <UiButton @onClick={{fn this.contactAction mentor}}>Contact</UiButton>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </:body>
  </UiSection>
{{else}}
  No mentors were found.
{{/each}}

{{#if this.contactMentor}}
  <MessageInbox @person={{this.person}}
                @isContact={{true}}
                @contactCallsign={{this.contactMentor.callsign}}
                @onFinished={{this.finished}}
  />
{{/if}}

