{{#if this.mayNotUse}}
  <BackToHome/>
  <UiNotice @title="Message Service Not Available" @type="danger">
    <p>
      Because your status is <code>{{this.session.user.status}}</code>, you may not send Clubhouse Messages.
    </p>
    Contact the Volunteer Coordinators if you need assistance.<br>
    <VcEmail/>
  </UiNotice>
{{else}}
  <h1>Messages for <span class="d-inline-block">{{this.session.user.callsign}}</span></h1>
  <BackToHome/>

  Use this page to send a message to a Ranger.
  <ul>
    <li><b>You can message:</b> Active Rangers, Inactive Rangers (anyone who hasn't Rangered in the last 3 events)</li>
    <li><b>You can't message:</b> Ranger Applicants, Past Prospectives, Retired or dismissed Rangers</li>
    <li><b>Heads up: delivery isn't guaranteed.</b> Your message might not get through if the Ranger
      has: turned off email notifications, has an old email address on file, or hasn't logged in a while</li>
  </ul>
  <MessageInbox @person={{this.session.user}} @isMe={{true}} />
{{/if}}