<h1>{{this.currentYear}} Ranger Vehicle Motorpool Policy</h1>
<BackToHome/>
{{#if (config "MotorpoolPolicyEnable")}}
  {{#if this.hasAgreed}}
    <p>
      <b class="text-success">{{fa-icon "check"}} You have agreed to the Motorpool Policy. Thank you. Please drive
        safely.</b>
    </p>
  {{/if}}

  <DocumentShow @tag="motorpool-policy" @onLoad={{this.loadedAction}}/>

  {{#if this.hasAgreed}}
    <p class="text-success font-weight-bold">Thank you for agreeing to the Motorpool Policy.
      You have acknowledged you have read the Ranger Motorpool Policy and understand
      the terms and conditions of driving a vehicle for Ranger business.
    </p>
  {{else if this.documentHasLoaded}}
    <button type="submit" {{action this.agreeAction}} class="btn btn-primary" disabled={{this.isSubmitting}}>
      Yes, I agree to the Motorpool Policy.
    </button>
    {{#if this.isSubmitting}}
      <LoadingIndicator/>
    {{/if}}
  {{/if}}
  <div class="mt-4">
    <BackToHome/>
  </div>
{{else}}
  <p>
    The Motorpool Policy for this year is not yet available. Please check back later.
  </p>
{{/if}}
