<h2>Welcome To The Secret Clubhouse</h2>

{{#if this.motds}}
  <div class="border rounded-lg border-danger p-2 mb-2">
    <h3 class="text-danger">{{if (eq motds.length 1) "Clubhouse Announcement" "Clubhouse Announcements"}}</h3>
    {{#each this.motds as |motd idx|}}
      {{#if idx}}
        <hr>{{/if}}
      <p class="mt-1">
        {{nl2br motd.message allowHtml=true}}
      </p>
      <div class="mt-1 small">
        {{#if motd.isModified}}
          Updated {{moment-format motd.updated_at "dddd MMMM Do [@] HH:mm"}}
        {{else}}
          Posted {{moment-format motd.created_at "dddd MMMM Do [@] HH:mm"}}
        {{/if}}
        (Pacific Time)
      </div>
    {{/each}}
  </div>
{{/if}}
{{!

If the person is a past prospective
OR if the callsign is not approved and they are not an Auditor or Non Ranger.
then let them know what's up.
}}
{{#if this.person.isPastProspective}}
  <DashboardPastProspective />
{{else if this.person.isProspectiveWaitlist}}
  <DashboardProspectiveWaitlist />
{{else}}
  {{! Person needs to have BPGUID aka Burner Profile ID}}
  {{#if this.person.needsBpguid}}
    <ChBox @title="Missing Burner Profile ID" @type="warning">
      <PersonMissingBpguid />
    </ChBox>
  {{/if}}

  {{#if this.person.unread_message_count}}
    <ChAlert @type="warning" @bold=true>
      {{fa-icon "envelope"}} You have {{pluralize this.person.unread_message_count "unread Clubhouse message"}}.
      <LinkTo @route="me.messages" class="btn btn-success">Read Now</LinkTo>
    </ChAlert>
  {{/if}}

  {{#if (or this.person.isProspective this.person.isAlpha this.person.isBonked)}}
    <DashboardPnv @milestones={{this.milestones}} @person={{this.person}} @photo={{this.photo}} @uploadAction={{this.showUploadDialogAction}} />
  {{else if this.person.isAuditor}}
    <DashboardAuditor @milestones={{this.milestones}} @person={{this.person}} />
  {{else}}
    <DashboardRanger @milestones={{this.milestones}} @person={{this.person}} @photo={{this.photo}} @uploadAction={{this.showUploadDialogAction}} />
  {{/if}}
{{/if}}

<hr>

<h5>Need Help?</h5>
<p>For general questions &amp; support email: {{general-support-email}}</p>
<p>For technical support email: {{admin-email}}</p>

{{#if this.showUploadDialog}}
  <PhotoUpload @person={{this.person}} @photo={{this.photo}} @refreshPhoto={{this.refreshPhoto}} @closeAction={{this.closeUploadDialogAction}} />
{{/if}}
