<h2>Welcome To The Ranger Secret Clubhouse</h2>

{{#if this.unreadMotds}}
  <div class="bg-light-gray" style="margin: 0 -15px 7px -15px; padding:15px">
    <h3 id="announcement-title">Announcements</h3>
    <p class="text-muted">
      Click the subject line to read the announcement.
    </p>
    {{#each this.unreadMotds as |motd|}}
      <div class="card card-announce mb-2">
        <div class="card-header p-2 h5" {{action this.toggleMotd motd}}>
          {{fa-icon (if motd.showing "caret-down" "caret-right")}} {{motd.subject}}
        </div>
        <div class="card-body {{if (not motd.showing) "d-none"}}">
          <div class="text-muted mb-2">Posted {{moment-format motd.created_at "dddd, MMMM Do YYYY"}}</div>
          {{nl2br motd.message allowHtml=true}}
          <div class="mt-2">
            <button class="btn btn-secondary" {{action this.markMotdAsRead motd}} disabled={{motd.isMarking}}>
              Mark As Read
            </button>
            {{#if motd.isMarking}}
              <LoadingIndicator @text="marking ..."/>
            {{/if}}
          </div>
        </div>
      </div>
    {{/each}}
    {{#if (not-eq this.unreadMotds.length this.unreadMotdTotal)}}
      <div class="mt-3">
        <LinkTo @route="me.announcements">View All {{this.unreadMotdTotal}} Unread Announcements</LinkTo>
      </div>
    {{/if}}
  </div>
{{else if this.motds}}
  <div class="text-muted">All current Clubhouse announcements have been read.</div>
{{/if}}
{{#if this.motds}}
  <p>
    <LinkTo @route="me.announcements">View Announcements</LinkTo>
  </p>
{{/if}}
{{!

If the person is a past prospective
OR if the callsign is not approved and they are not an Auditor or Non Ranger.
then let them know what's up.
}}
{{#if this.person.isPastProspective}}
  <DashboardPastProspective/>
{{else if this.person.isProspectiveWaitlist}}
  <DashboardProspectiveWaitlist/>
{{else}}
{{! Person needs to have BPGUID aka Burner Profile ID}}
  {{#if this.person.needsBpguid}}
    <ChBox @title="Missing Burner Profile ID" @type="warning">
      <PersonMissingBpguid/>
    </ChBox>
  {{/if}}

  {{#if this.person.unread_message_count}}
    <ChAlert @type="warning" @bold=true>
      {{fa-icon "envelope"}} You have {{pluralize this.person.unread_message_count "unread Clubhouse message"}}.
      <LinkTo @route="me.messages" class="btn btn-success">Read Now</LinkTo>
    </ChAlert>
  {{/if}}

  {{#if (or this.person.isProspective this.person.isAlpha this.person.isBonked)}}
    <DashboardPnv @milestones={{this.milestones}} @person={{this.person}} @photo={{this.photo}}
                  @uploadAction={{this.showUploadDialogAction}} />
  {{else if this.person.isAuditor}}
    <DashboardAuditor @milestones={{this.milestones}} @person={{this.person}} />
  {{else}}
    <DashboardRanger @milestones={{this.milestones}} @person={{this.person}} @photo={{this.photo}}
                     @uploadAction={{this.showUploadDialogAction}} />
  {{/if}}
{{/if}}

<hr>

<h5>Need Help?</h5>
<p>For general questions &amp; support email: {{general-support-email}}</p>
<p>For technical support email: {{admin-email}}</p>

{{#if this.showUploadDialog}}
  <PhotoUpload @person={{this.person}} @photo={{this.photo}} @refreshPhoto={{this.refreshPhoto}}
               @closeAction={{this.closeUploadDialogAction}} />
{{/if}}
