<h1>Change Password For <span class="d-inline-block">{{this.person.callsign}}</span></h1>
<BackToHome/>

<ChForm @formId="password" @formFor={{this.password}} @validator={{this.passwordValidations}}
        @onSubmit={{this.submitAction}} @onCancel={{this.cancelAction}} as |f|>
  <div class="form-row">
    <f.input @name="password_old" @type="password" @label="Old Password" @size=20 @maxlength=30 @grid="col-auto"/>
  </div>
  <div class="form-row">
    <f.input @name="password" @type="password" @label="New Password" @size=20 @maxlength=30 @grid="col-auto"/>
  </div>
  <div class="form-row">
    <f.input @name="password_confirmation" @type="password" @label="Confirm New Password" @size=20 @maxlength=30
             @grid="col-auto"/>
  </div>
  <f.submit @label={{if this.isSubmitting "Changing Password" "Change Password"}} @disabled={{this.isSubmitting}} />
  <f.cancel/>
  {{#if this.isSubmitting}}
    <LoadingIndicator/>
  {{/if}}
</ChForm>
