<h1>Change Password For <span class="d-inline-block">{{this.session.user.callsign}}</span></h1>
<BackToHome/>

{{#if this.isPasswordReset}}
  <p>
    Please enter a new password for your account.
  </p>
{{/if}}
<ChForm @formId="password"
        @formFor={{this.password}}
        @validator={{this.passwordValidations}}
        @onSubmit={{this.submitAction}} as |f|>
  {{#unless this.isPasswordReset}}
    <FormRow>
      <f.input @name="password_old" @type="password" @label="Old Password" @size={{20}} @maxlength={{30}}
               @inline={{true}}/>
    </FormRow>
  {{/unless}}
  <FormRow>
    <f.input @name="password" @type="password" @label="New Password" @size={{20}} @maxlength={{30}} @inline={{true}}/>
  </FormRow>
  <FormRow>
    <f.input @name="password_confirmation" @type="password" @label="Confirm New Password" @size={{20}} @maxlength={{30}}
             @inline={{true}}/>
  </FormRow>
  <div class="mt-2">
  <f.submit @label={{if this.isSubmitting "Changing Password" "Change Password"}} @disabled={{this.isSubmitting}} />
    <UiCancelButton @onClick={{this.cancelAction}} @disabled={{this.isSubmitting}} />
  {{#if this.isSubmitting}}
    <LoadingIndicator/>
  {{/if}}
  </div>
</ChForm>
