<h1>Change Password For <span class="d-inline-block">{{this.session.user.callsign}}</span></h1>
<BackToHome/>

{{#if this.isPasswordReset}}
  <p>
    Please enter a new password for your account.
  </p>
{{/if}}
<ChForm @formId="password"
        @formFor={{this.password}}
        @validator={{this.passwordValidations}}
        @onSubmit={{this.submitAction}} as |f|>
  {{#unless this.isPasswordReset}}
    <FormRow>
      <f.password @name="password_old"
                  @label="Old Password"
                  @size={{20}}
                  @maxlength={{30}}
      />
    </FormRow>
  {{/unless}}
  <FormRow>
    <f.password @name="password"
                @label="New Password"
                @size={{20}}
                @maxlength={{30}}
    />
  </FormRow>
  <FormRow>
    <f.password @name="password_confirmation"
                @label="Confirm New Password"
                @size={{20}}
                @maxlength={{30}}
    />
  </FormRow>
  <f.submit @label={{if this.isSubmitting "Changing Password" "Change Password"}} @disabled={{this.isSubmitting}} />
  <UiCancelButton @onClick={{this.cancelAction}} @disabled={{this.isSubmitting}} />
  {{#if this.isSubmitting}}
    <LoadingIndicator/>
  {{/if}}
</ChForm>
