<h1>Personal Information For <span class="d-inline-block">{{this.person.callsign}}</span></h1>
<BackToHome/>

<ChForm @formId="person" @formFor={{this.person}} @autocomplete="on" @validator={{this.personInfoValidations}}
        @onSubmit={{action this.onSubmit}} @onCancel={{action this.onCancel}} as |f|>
  <UiSection>
    <:title>General Information</:title>
      <:body>
          <FormRow>
              <f.input @name="first_name" @label="First Name" @maxlength={{25}} @grid="col-sm-4 col-md-4 col-lg-2"/>
              <f.input @name="mi" @label="M.I." @maxlength={{10}} @grid="col-sm-1"/>
              <f.input @name="last_name" @label="Last Name" @maxlength={{25}} @grid="col-sm-12 col-md-6 col-lg-2"/>
          </FormRow>
          <FormRow>
              <f.input @name="gender"
                       @type="text"
                       @label="Gender"
                       @hint="Examples: female, male, non-binary, gender fluid, etc."
                       @inline={{true}}
                       @maxlength={{32}}/>
          </FormRow>
          <FormRow>
              <f.input @name="pronouns"
                       @type="select"
                       @label="Pronouns"
                       @inline={{true}}
                       @options={{this.pronounOptions}}/>
                      {{#if (eq f.model.pronouns "custom")}}
                  <f.input
                          @name="pronouns_custom"
                          @type="text" @label="Tell us your pronouns (e.g, ze/zim/zir, she/them/theirs, etc.)"
                          @size={{30}}
                          @maxlength={{30}}
                          @inline={{true}}
                  />
                      {{/if}}

          </FormRow>
      </:body>
  </UiSection>
  <UiSection>
    <:title>Contact Information</:title>
      <:body>
          <p>
              Ranger teams and leads may use your email address to send important messages to you regarding scheduling
              and
              operations. Please keep your email address up to date.
          </p>
          <FormRow>
              <f.input @name="email" @label="Email" @type="text" @inputmode="email" @maxlength={{50}}
                       @grid="col-sm-12 col-md-4 col-xl-3" @noSpaces={{true}}/>
              <f.input @name="home_phone" @label="Primary Phone" @type="text" @inputmode="tel"
                       @grid="col-sm-12 col-md-auto " @maxlength={{25}}/>
                  <f.input @name="alt_phone" @label="Alternative Phone" @type="text" @inputmode="tel"
                           @grid="col-sm-12 col-md-auto"
                           @maxlength={{25}}/>
          </FormRow>
      </:body>
  </UiSection>
  <UiSection>
    <:title>Camp Name &amp; Location</:title>
    <:body>
      <FormRow>
      <f.input @name="camp_location" @type="textarea" @label="Enter your camp's name, and location (e.g. 9 & C)"
                 @cols={{80}} @rows={{3}}
                 @maxlength={{200}}
                 @inline={{true}}
                 @hint={{concat (if f.model.camp_location f.model.camp_location.length
                                  "0") " of 200 characters"}} />
      </FormRow>
    </:body>
  </UiSection>
  {{#unless this.person.isAuditor}}
    <UiSection>
      <:title>Languages</:title>
      <:body>
        List the English names of the languages you are comfortable speaking with the level of fluency in parenthesis,
        each separated by a comma.<br>
        <div class="mt-2 mb-2">
          Example: "japanese (basic), spanish (fluent)"
        </div>
        Keep the list simple:<br>
        GOOD: "french (fluent), italian (written only), spanish (basic)"<br>
        BAD: "French - I taught in Paris and can only write in Italian. Took 1 year of high school spanish"<br>

        <FormRow>
          <f.input @name="languages" @label="Languages Spoken" @type="text" @size={{80}} @grid="col-sm-12 col-md-auto"/>
        </FormRow>
      </:body>
    </UiSection>
    <UiSection>
      <:title>Callsign Pronunciation</:title>
      <:body>
        <p>
          Do you have a difficult to pronounce callsign? Enter the phonetic spelling below.
          <span class="d-inline-block">
        (e.g., if your callsign is 3pio enter as "Three-Pee-Oh", for Jschool enter as "JAY-school", etc)
        </span>
        </p>
        <FormRow>
          <f.input @name="callsign_pronounce" @label="Callsign Pronunciation" @size={{20}} @maxlength={{20}}
                   @inline={{true}}/>
        </FormRow>
      </:body>
    </UiSection>
    <UiSection>
      <:title>Ranger Clothing</:title>
        <:body>
            <FormRow>
                <f.input @name="teeshirt_size_style" @type="select" @label="T-Shirt Size"
                         @options={{this.shortSleeveOptions}}
                         @grid="col-sm-12 col-md-auto"/>
                <f.input @name="longsleeveshirt_size_style" @type="select" @label="Long Sleeve Shirt Size"
                         @options={{this.longSleeveOptions}} @grid="col-sm-12 col-md-auto"/>
            </FormRow>
        </:body>
    </UiSection>
  {{/unless}}

  <UiSection>
    <:title>Home Address</:title>
    <:body>
      <PersonAddressEdit @f={{f}} />
    </:body>
  </UiSection>


  <f.submit @label="Update" @disabled={{this.person.isSaving}} />
  <f.cancel @disabled={{this.person.isSaving}} />
  {{#if this.isSubmitting}}
    <LoadingIndicator/>
  {{/if}}
</ChForm>

{{#if this.showUpdateMailingListsDialog}}
  <ModalDialog @title="Update Ranger Mailing Lists Subscriptions?" as |Modal|>
    <Modal.body>
      <p>
        Your email address has been successfully updated in the Clubhouse to {{this.person.email}}.
      </p>
      <p>
        The Ranger mailing lists (Announce, Allcom, etc.) <b class="text-danger">subscriptions have NOT been
        updated.</b>
        You can request the lists to be updated to your new address, or continue to use the old email address.
      </p>
      <p>
        Use the area below to list any additional Ranger mailing lists that should be updated in addition
        to Allcom &amp; Announce:
      </p>
      <p>
        <Textarea @value={{this.message}} cols=60  rows=4 maxlength=1500 class="form-control" />
        <small class="text-muted">{{this.message.length}} of 1500 characters</small>
      </p>
      <p>
        A human will process your request and respond to you within a week at your new email address.
      </p>
      What do you want to do?
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <UiButton @onClick={{this.sendMailingListUpdateRequest}}>
        Request The Lists Be Updated
      </UiButton>
      <UiButton @type="secondary" @onClick={{this.cancelMailingListDialog}}>
        Don't Touch The Lists
      </UiButton>
    </Modal.footer>
  </ModalDialog>
{{/if}}
