<h1>Personal Information For <span class="d-inline-block">{{person.callsign}}</span></h1>

{{#ch-form "person" person validator=personInfoValidations onSubmit=(action "onSubmit") onCancel=(action "onCancel") as |f|}}
  <div class="form-row mb-2">
    <div class="col-12">
      Your account status is {{person.status}}.
      {{#if (and person.isActive person.years)}}
        You have rangered for {{pluralize person.years.length "year"}}:
        {{#each person.years as |year|}}
          {{year}}
        {{/each}}
      {{/if}}
    </div>
  </div>

  <fieldset>
    <legend>General Information</legend>
    <div class="form-row">
      {{f.input "first_name" label="First Name" maxlength=25 grid="col-sm-4" }}
      {{f.input "mi" label="M.I." maxlength=10 grid="col-sm-1" }}
      {{f.input "last_name" label="Last Name" maxlength=25 grid="col-sm-4"}}
    </div>
    <div class="form-row">
      {{f.input "email" label="Email" maxlength=50 grid="col-sm-6" }}
      <div class="form-group ">
        <strong>Note:</strong> Updating the email address here WILL NOT update the email address used for various ranger mailing lists. Please contact {{general-support-email}} for help.
      </div>
    </div>
    <div class="form-row">
      {{f.input "home_phone" label="Primary Phone" grid="col-sm-4"}}
      {{f.input "alt_phone" label="Alternative Phone" grid="col-sm-4"}}
    </div>

    <div class="form-row">
      {{f.input "gender" label="Gender" hint="Examples: female, male, non-binary, gender fluid, etc." }}
    </div>

    {{#unless person.isAuditor}}
      <div class="form-row">
        {{f.input "languages" label="Languages Spoken"
          hint="List the English names of languages you are comfortable speaking separated by a comma. Examples: english, french, japanese"}}
      </div>
      <div class="form-row col-auto">
        {{f.input "camp_location" type="textarea" label="Camp Name & Location" cols=50 rows=4 maxlength=200}}
      </div>
    {{/unless}}
  </fieldset>

  <fieldset>
    <legend>Home Address</legend>
    {{person-address-edit f=f}}
  </fieldset>

  {{#unless person.isAuditor}}
    <fieldset>
      <legend>Ranger Clothing</legend>
      <div class="form-row">
        {{f.input "teeshirt_size_style" type="select" label="T-Shirt Size" options=shortSleeveOptions grid="col-md-5 col-sm-8"}}
        {{f.input "longsleeveshirt_size_style" type="select" label="Long Sleeve Shirt Size" options=longSleeveOptions grid="col-md-5 col-sm-8"}}
      </div>
    </fieldset>
  {{/unless}}

  {{f.submit label="Update" disabled=isSubmitting}}
  {{f.cancel}}
{{/ch-form}}
