<h1>Personal Information For <span class="d-inline-block">{{this.person.callsign}}</span></h1>
<BackToHome/>

<ChForm @formId="person"
        @formFor={{this.person}}
        @autocomplete="on"
        @validator={{this.personInfoValidations}}
        @onSubmit={{this.onSubmit}} as |f|>
  {{#if this.isReviewing}}
    <UiWizard @onCancel={{this.cancelReview}}
              @onFinish={{fn this.finishReview f.model}}
              @finishLabel="Save & Finish Review"
              @onNext={{fn this.navigateStep f.model}}
              @nextLabel="Save & Next"
              @onBack={{fn this.navigateStep f.model}}
              as |w|>
      <w.step @title="General Information">
        <Me::PiiGeneral @f={{f}} @pronounOptions={{this.pronounOptions}} @person={{this.person}} />
      </w.step>
      <w.step @title="Contact Information">
        <Me::PiiContactInfo @f={{f}} />
      </w.step>
      <w.step @title="Camp Name & Location">
        <Me::PiiCampInfo @f={{f}} />
      </w.step>
      {{#unless this.person.isAuditor}}
        <w.step @title="Languages">
          <Me::PiiLanguages @f={{f}} />
        </w.step>
        <w.step @title="Callsign Pronunciation">
          <Me::PiiPronounciation @f={{f}} />
        </w.step>
        <w.step @title="Ranger Clothing">
          <Me::PiiClothing @f={{f}}
                           @tshirtOptions={{this.tshirtOptions}}
                           @longSleeveOptions={{this.longSleeveOptions}} />
        </w.step>
      {{/unless}}
      <w.step @title="Home Address" @isLast={{true}}>
        <PersonAddressEdit @f={{f}} />
      </w.step>
    </UiWizard>
  {{else}}
    {{#if (and this.startedReview (not this.finishedReview))}}
      <UiNotice @type="danger" @icon="hand" @title="Personal Information review not finished!">
        <p>
          You started a review of your Personal Information but did not complete all the steps. Click the 'Start Review'
          button below, make sure you go through all the steps, and be sure to click the 'Save &amp; Finish Review'
          button on the last step.
        </p>
        <UiButton @onClick={{this.startReview}} @type="danger">Start Review</UiButton>
      </UiNotice>
    {{else if this.completedReview}}
      <UiNotice @type="success" @icon="check" @title="Personal Information Review Completed!">
        Thank you for reviewing your Personal Information.
      </UiNotice>
    {{/if}}

    <UiSection>
      <:title>General Information</:title>
      <:body>
        <Me::PiiGeneral @f={{f}} @pronounOptions={{this.pronounOptions}} @person={{this.person}} />
        <f.submit @label="Update" class="mt-2" @disabled={{this.person.isSaving}} />
      </:body>
    </UiSection>
    <UiSection>
      <:title>Contact Information</:title>
      <:body>
        <Me::PiiContactInfo @f={{f}} />
        <f.submit @label="Update" class="mt-2" @disabled={{this.person.isSaving}} />
      </:body>
    </UiSection>
    <UiSection>
      <:title>Camp Name &amp; Location</:title>
      <:body>
        <Me::PiiCampInfo @f={{f}} />
        <f.submit @label="Update" class="mt-2" @disabled={{this.person.isSaving}} />
      </:body>
    </UiSection>
    {{#unless this.person.isAuditor}}
      <UiSection>
        <:title>Languages</:title>
        <:body>
          <Me::PiiLanguages @f={{f}} />
          <f.submit @label="Update" class="mt-2" @disabled={{this.person.isSaving}} />
        </:body>
      </UiSection>
      <UiSection>
        <:title>Callsign Pronunciation</:title>
        <:body>
          <Me::PiiPronounciation @f={{f}} />
          <f.submit @label="Update" class="mt-2" @disabled={{this.person.isSaving}} />
        </:body>
      </UiSection>
      <UiSection>
        <:title>Ranger Clothing</:title>
        <:body>
          <Me::PiiClothing @f={{f}}
                           @tshirtOptions={{this.tshirtOptions}}
                           @longSleeveOptions={{this.longSleeveOptions}} />
          <f.submit @label="Update" class="mt-2" @disabled={{this.person.isSaving}} />
        </:body>
      </UiSection>
    {{/unless}}

    <UiSection>
      <:title>Home Address</:title>
      <:body>
        <PersonAddressEdit @f={{f}} />
        <f.submit @label="Update" class="mt-2" @disabled={{this.person.isSaving}} />
      </:body>
    </UiSection>
  {{/if}}
</ChForm>
<BackToHome/>

{{#if this.showUpdateMailingListsDialog}}
  <ModalDialog @title="Update Ranger Mailing Lists Subscriptions?" as |Modal|>
    <Modal.body>
      <p>
        Your email address has been successfully updated in the Clubhouse to {{this.person.email}}.
      </p>
      <p>
        The Ranger mailing lists (Announce, Allcom, etc.) <b class="text-danger">subscriptions have NOT been
        updated.</b>
        You can request the lists to be updated to your new address, or continue to use the old email address.
      </p>
      <p>
        Use the area below to list any additional Ranger mailing lists that should be updated in addition
        to Allcom &amp; Announce:
      </p>
      <p>
        <Textarea @value={{this.message}} cols="60" rows="4" maxlength="1500" class="form-control"/>
        <small class="text-muted">{{this.message.length}} of 1500 characters</small>
      </p>
      <p>
        A human will process your request and respond to you within a week at your new email address.
      </p>
      What do you want to do?
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <UiButton @onClick={{this.sendMailingListUpdateRequest}}>
        Request The Lists Be Updated
      </UiButton>
      <UiButton @type="secondary" @onClick={{this.cancelMailingListDialog}}>
        Don't Touch The Lists
      </UiButton>
    </Modal.footer>
  </ModalDialog>
{{/if}}
