<h1>Personal Information For <span class="d-inline-block">{{this.person.callsign}}</span></h1>
<BackToHome/>

<ChForm @formId="person"
        @formFor={{this.person}}
        @autocomplete="on"
        @validator={{this.personInfoValidations}}
        @onSubmit={{this.onSubmit}} as |f|>
  <UiSection>
    <:title>General Information</:title>
    <:body>
      <FormRow>
        <f.text @name="first_name"
                @label="First Name"
                @maxlength={{25}}/>
        <f.text @name="mi"
                @label="M.I."
                @maxlength={{10}}/>
        <f.text @name="last_name"
                @label="Last Name"
                @maxlength={{25}}/>
      </FormRow>
      <FormRow>
        <f.text @name="gender"
                @label="Gender"
                @hint="Examples: female, male, non-binary, gender fluid, etc."
                @maxlength={{32}}/>
      </FormRow>
      <FormRow>
        <f.select @name="pronouns"
                  @label="Pronouns"
                  @options={{this.pronounOptions}}/>
        {{#if (eq f.model.pronouns "custom")}}
          <f.text
            @name="pronouns_custom"
            @label="Tell us your pronouns (e.g, ze/zim/zir, she/them/theirs, etc.)"
            @size={{30}}
            @maxlength={{30}}
          />
        {{/if}}

      </FormRow>
    </:body>
  </UiSection>
  <UiSection>
    <:title>Contact Information</:title>
    <:body>
      <p>
        Ranger teams and leads may use your email address to send important messages to you regarding scheduling
        and operations. Please keep your email address up to date.
      </p>
      <FormRow>
        <f.text @name="email" @label="Email"
                @inputmode="email"
                @size={{30}}
                @maxlength={{50}}
                @noSpaces={{true}}/>
        <f.text @name="home_phone"
                @label="Primary Phone"
                @inputmode="tel"
                @maxlength={{25}}/>
        <f.text @name="alt_phone"
                @label="Alternative Phone"
                @inputmode="tel"
                @maxlength={{25}}
        />
      </FormRow>
    </:body>
  </UiSection>
  <UiSection>
    <:title>Camp Name &amp; Location</:title>
    <:body>
      <FormRow>
        <f.textarea @name="camp_location"
                    @label="Enter your camp's name, and location (e.g. 9 & C)"
                    @cols={{80}}
                    @rows={{3}}
                    @maxlength={{200}}
                    @showCharCount={{true}}
        />
      </FormRow>
    </:body>
  </UiSection>
  {{#unless this.person.isAuditor}}
    <UiSection>
      <:title>Languages</:title>
      <:body>
        List the English names of the languages you are comfortable speaking with the level of fluency in parenthesis,
        each separated by a comma.<br>
        <div class="mt-2 mb-2">
          Example: "japanese (basic), spanish (fluent)"
        </div>
        Keep the list simple:<br>
        GOOD: "french (fluent), italian (written only), spanish (basic)"<br>
        BAD: "French - I taught in Paris and can only write in Italian. Took 1 year of high school spanish"<br>

        <FormRow>
          <f.text @name="languages"
                  @label="Languages Spoken"
                  @size={{80}}/>
        </FormRow>
      </:body>
    </UiSection>
    <UiSection>
      <:title>Callsign Pronunciation</:title>
      <:body>
        <p>
          Do you have a difficult to pronounce callsign? Enter the phonetic spelling below.
          <span class="d-inline-block">
        (e.g., if your callsign is 3pio enter as "Three-Pee-Oh", for Jschool enter as "JAY-school", etc)
        </span>
        </p>
        <FormRow>
          <f.text @name="callsign_pronounce"
                  @label="Callsign Pronunciation"
                  @size={{20}}
                  @maxlength={{20}}/>
        </FormRow>
      </:body>
    </UiSection>
    <UiSection>
      <:title>Ranger Clothing</:title>
      <:body>
        <FormRow>
          <f.select @name="teeshirt_size_style"
                    @label="T-Shirt Size"
                    @options={{this.shortSleeveOptions}}/>
          <f.select @name="longsleeveshirt_size_style"
                    @label="Long Sleeve Shirt Size"
                    @options={{this.longSleeveOptions}}/>
        </FormRow>
      </:body>
    </UiSection>
  {{/unless}}

  <UiSection>
    <:title>Home Address</:title>
    <:body>
      <PersonAddressEdit @f={{f}} />
    </:body>
  </UiSection>

  <f.submit @label="Update" @disabled={{this.person.isSaving}} />
  <UiCancelButton @disabled={{this.person.isSaving}} @onClick={{this.onCancel}} />
  {{#if this.isSubmitting}}
    <LoadingIndicator/>
  {{/if}}
</ChForm>

{{#if this.showUpdateMailingListsDialog}}
  <ModalDialog @title="Update Ranger Mailing Lists Subscriptions?" as |Modal|>
    <Modal.body>
      <p>
        Your email address has been successfully updated in the Clubhouse to {{this.person.email}}.
      </p>
      <p>
        The Ranger mailing lists (Announce, Allcom, etc.) <b class="text-danger">subscriptions have NOT been
        updated.</b>
        You can request the lists to be updated to your new address, or continue to use the old email address.
      </p>
      <p>
        Use the area below to list any additional Ranger mailing lists that should be updated in addition
        to Allcom &amp; Announce:
      </p>
      <p>
        <Textarea @value={{this.message}} cols=60 rows=4 maxlength=1500 class="form-control"/>
        <small class="text-muted">{{this.message.length}} of 1500 characters</small>
      </p>
      <p>
        A human will process your request and respond to you within a week at your new email address.
      </p>
      What do you want to do?
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <UiButton @onClick={{this.sendMailingListUpdateRequest}}>
        Request The Lists Be Updated
      </UiButton>
      <UiButton @type="secondary" @onClick={{this.cancelMailingListDialog}}>
        Don't Touch The Lists
      </UiButton>
    </Modal.footer>
  </ModalDialog>
{{/if}}
