<h1>{{this.currentYear}} Ranger Radio Checkout Agreement</h1>
<BackToHome/>
{{#if (config "RadioCheckoutAgreementEnabled")}}
  {{#if this.hasAgreed}}
    <p>
      <b class="text-success">{{fa-icon "check"}} You have signed the Radio Checkout Agreement. Thank you.</b>
    </p>
  {{/if}}

  <DocumentShow @tag="radio-checkout-agreement" @onLoad={{this.loadedAction}}/>

  {{#if this.hasAgreed}}
    <p class="text-success font-weight-bold">Thank you for signing the Radio Checkout Agreement.
      You have acknowledged you have read the Radio Checkout Agreement and understand
      the terms and conditions of using Ranger radios.
    </p>
  {{else if this.documentHasLoaded}}
    <button type="submit" {{action this.agreeAction}} class="btn btn-primary" disabled={{this.isSubmitting}}>
      Yes, I agree to the Radio Checkout Agreement.
    </button>
    {{#if this.isSubmitting}}
      <LoadingIndicator/>
    {{/if}}
  {{/if}}
  <div class="mt-4">
    <BackToHome/>
  </div>
{{else}}
  <p>
    The Ranger Radio Agreement for this year is not yet available. Please check back later.
  </p>
{{/if}}
