<h1>{{year}} Ranger Info</h1>

<dl class="row">
  <dt class="col-md-2">Status</dt>
  <dd class="col-md-9">{{person.status}}
      {{#if person.vintage}} (vintage) {{/if}}
  </dd>

  <dt class="col-md-2">Years Rangered</dt>
  <dd class="col-md-9">
    {{#if person.years}}
      {{#each person.years as |y|}}
      {{y}}
      {{/each}} ({{person.years.length}})
    {{else}}
      None yet.
    {{/if}}
  </dd>
  <dt class="col-md-2">Trained</dt>
  <dd class="col-md-9">
    {{#if dirtTraining}}
      {{training-status dirtTraining.status}} {{dirtTraining.date}} {{dirtTraining.location}}
    {{else}}
      No dirt training session was found?
    {{/if}}
  </dd>

  {{#if person.isRanger}}
  <dt class="col-md-2">ARTs</dt>
  <dd class="col-md-9">
    {{#if artTrainings}}
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead class="">
        <tr>
          <th>Position</th>
          <th>Pass</th>
          <th>Date</th>
          <th>Location</th>
        </tr>
      </thead>
        <tbody>
      {{#each artTrainings as |training|}}
          <tr>
            <td>{{training.position_title}}</td>
            <td>
              {{#if (eq training.status "pass")}}
                <span class="text-success">YES</span>
              {{else if (eq training.status "pending")}}
                pending
              {{else if (eq training.status "no-shift")}}
                <span class="text-danger">not signed up</span>
              {{else}}
                <span class="text-danger">NO</span>
              {{/if}}
            </td>
            <td>{{training.date}}</td>
            <td>{{training.location}}</td>
          </tr>
      {{/each}}
        </tbody>
      </table>
    </div>
    {{else}}
      You do not hold a position which requires Advanced Ragner Training.
    {{/if}}
  </dd>

    <dt class="col-md-2">Meals</dt>
    <dd class="col-md-9">{{meal-info yearInfo.meals}}</dd>

    <dt class="col-md-2">Showers</dt>
    <dd class="col-md-9">
      {{#if yearInfo.showers}}
        {{badge "secondary" "Wet Spot"}} Your BMID will allow you to take showers at the Wet Spot.
      {{else}}
        {{badge "secondary" "Shower Pogs"}} For every 40 hours you work on playa, you can get a shower pog from HQ, good for one shower at the Wet Spot.
      {{/if}}
    </dd>

    <dt class="col-md-2">Radios</dt>
    <dd class="col-md-9">
      {{#if yearInfo.radio_eligible}}
        {{badge "success" "Event Radio"}}
        {{#if (eq yearInfo.radio_max 1)}}
          You may check out an Event radio for the duraiton of the event.
        {{else}}
          You may check out up to {{yearInfo.radio_max}} Event radios for the duraiton of the event.
        {{/if}}
      {{else}}
        {{badge "success" "Shift Radio"}} You will need to check out a radio each time you show up to Ranger HQ for shift (and check it in at the end of your shift!).
      {{/if}}
    </dd>

    <dt class="col-md-2">Motorpool</dt>
    {{#if person.vehicle_blacklisted}}
      <dd class="col-md-9">
        {{badge "danger" "Blacklisted"}} We're sorry, but you cannot drive gators, cars, or trucks on playa for Ranger business.
      </dd>
    {{else}}
      <dd class="col-md-9">
        {{#if person.vehicle_paperwork}}
          {{badge "success" "Authorized"}} You are authorized to drive golf carts &amp; gators (UTVs) on playa for Ranger business
        {{else}}
          {{badge "warning" "Not Authorized"}} You are NOT authorized to drive golf carts &amp; gators (UTVs) on the playa for Ranger business. You can fix this by filling out
          <a href="{{config "MotorpoolPolicyUrl"}}" target="_blank" rel="noopener">this form</a>. Please be patient, it may take a few days for us to process it.
        {{/if}}
      </dd>

      <dt class="col-md-2">Org Vehicle Insurance</dt>
      <dd class="col-md-9">
        {{#if person.vehicle_insurance_paperwork}}
          {{badge "success" "Authorized" }} You are authorized to drive cars and trucks (including your own personal vehicle) on playa for Ranger business.
        {{else}}
          {{badge "warning" "Not Authorized" }} You are NOT authorized to drive cars and trucks (including your own personal vehicle) on playa for Ranger business. If you think you need this to do your job on playa, please contact your manager or team lead.
        {{/if}}
      </dd>
    {{/if}}
  {{/if}}
</dl>
