<h1>Tickets &amp; Stuff For {{person.callsign}}</h1>
{{#if (not ticketingInfo.is_enabled)}}
  {{#ch-box "Ticketing page is temporarily disabled." type="warning"}}
    Sorry, this page is disabled for the moment. Please check again later.
    Don't worry we haven't lost your ticketing information.
  {{/ch-box}}
{{else if (and person.isNotRanger (not ticketingInfo.is_enabled_for_pnv)) }}
    Sorry, access to any Work Access Passes is currently disabled. Please check again later.
{{else}}
  {{#if isAccepting}}
    <p>
      This page allows you to request, claim, or bank any items you've qualified
      for, such as a Staff Credential, Reduced-Price Ticket, Vehicle Pass,
      Work Access Pass, or Work Access Passes for your significant
      others/critical campmates.
    </p>
    {{#ch-alert "danger"}}
      {{fa-icon "exclamation-triangle"}} You must make your selections below by {{submitTime}} Pacific time on {{submitDate}}.
    {{/ch-alert}}
    <p>
        (But don't worry, you can change your mind multiple times between now and then!)
    </p>
    <p>
      Note that by accepting any of the below items you agree that you will
      volunteer and work shifts as a Ranger on playa this year.
    </p>
  {{/if}}


  {{#if person.isRanger}}
    {{ticket-info ticketList=ticketList ticket=ticket ticketingStatus=ticketingInfo.ticket_status ticketingInfo=ticketingInfo saveChoice=(action "saveChoiceAction")}}
    {{ticket-vp-info ticket=vehiclePassTicket ticketingStatus=ticketingInfo.vp_status ticketingInfo=ticketingInfo saveChoice=(action "saveChoiceAction")}}
  {{/if}}

  {{ticket-wap-info wapTicket=wapTicket ticket=ticket ticketingStatus=ticketingInfo.wap_status ticketingInfo=ticketingInfo saveChoice=(action "saveChoiceAction")}}

  {{#if person.isRanger}}
    {{ticket-wap-so-info wapSOList=wapSOList ticketingStatus=ticketingInfo.wap_so_status ticketingInfo=ticketingInfo saveSONames=(action "saveSONamesAction")}}
  {{/if}}

  {{#if (and ticket vehiclePassTicket)}}
    {{ticket-delivery-info ticket=ticket person=person ticketDelivery=ticketDelivery ticketingInfo=ticketingInfo saveDelivery=(action "saveDeliveryAction")}}
  {{/if}}

  {{#ch-box "What Happens Next?"}}
    {{#if isAccepting}}
      You have until {{submitTime}} Pacific time on {{submitDate}} to make
      your selections above.  The next day we'll start uploading everyone's
      requests into the Burning Man Ticket Request System.
    {{else}}
      Sometime in late July we'll start uploading goodies into the
      Burning Man Ticket Request System.
    {{/if}}

    You'll then receive emails from Ticketfly {{mail-to ticketingInfo.ticket_vendor_email}}
    giving you access to the goodies that you've claimed or requested.

    {{#if person.isRanger}}
      If you claimed a Reduced-Price Ticket, you'll need to pay for it at
      that time.
    {{/if}}
  {{/ch-box}}
  {{#ch-box "Got Questions? Something Wrong? Need Help?"}}
    If you have questions or think that any of the above is incorrect in
    some way or otherwise need help, please email
    {{mail-to ticketingInfo.ranger_ticketing_email}}
    <strong>Please be sure to tell us your real-world name, your Ranger callsign,
    and what you think the issue is.</strong>  Thanks!
  {{/ch-box}}

{{/if}}
