{{year-select (concat "Timesheet For " session.user.callsign) year=year years=person.years onChange=(action "changeYearAction")}}

{{#if timesheets}}

  <div class="timesheet-table">
    <div class="timesheet-row timesheet-header">
      <div class="timesheet-time">From</div>
      <div class="timesheet-time">To</div>
      <div class="timesheet-duration">Time</div>
      <div class="timesheet-credits">Credits</div>
      <div class="timesheet-position">Position</div>
    </div>
    {{#each timesheets as |ts|}}
      <div class="timesheet-entry">
        <div class="timesheet-row">
          <div class="timesheet-time">{{shift-format ts.on_duty}}</div>
          <div class="timesheet-time">{{shift-format ts.off_duty}}</div>
          <div class="timesheet-duration">
            <span class="timesheet-sm-label">Time:</span>
            {{#if ts.off_duty}}
              {{hour-minute-format ts.duration}}
            {{else}}
              <i>On Duty</i>
            {{/if}}
          </div>
          <div class="timesheet-credits">
            <span class="timesheet-sm-label">Credits:</span>
            {{#if ts.off_duty}}
              {{credits-format ts.credits}}
            {{else}}
              -
            {{/if}}
          </div>
          <div class="timesheet-position">{{ts.position.title}}</div>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="row mt-2 mb-2">
    <div class="col-auto"><strong>Total Time:</strong> {{hour-minute-format (sum-column timesheets "duration")}}</div>
    <div class="col-auto"><strong>Total Credits:</strong> {{credits-format (sum-column timesheets "credits")}}</div>
  </div>

  <div class="row mb-4">
    <div class="col"><strong>Position Summary:</strong> {{timesheet-position-summary timesheets=timesheets}}</div>
  </div>

  <div class="mt-4">
    Is an entry incorrect, or is there a missing shift that was not recorded?
    {{#link-to 'me.timesheet-corrections.index'}}Submit a correction request.{{/link-to}}
  </div>
{{else}}
  <p class="mt-3 text-danger">
    No timesheet entries were found for {{year}}.
  </p>
{{/if}}
