<h1>Timesheet Corrections for <span class="d-inline-block">{{this.session.user.callsign}}</span></h1>

{{#if this.timesheetInfo.correction_enabled}}
  {{#if this.timesheetInfo.timesheet_confirmed}}
    <h3 class="text-success">
      {{fa-icon "thumbs-up" type="far"}} Congratulations! You're done with the Timesheet Review & Confirmation.
    </h3>
    <p>
      All your timesheet entries have been reviewed, there are no outstanding correction requests,
      and you have stated you have no further correction requests. Nothing else needs to be done.
    </p>
    <p>
      Thank you for being the awesome Ranger that you are!
    </p>
    {{#unless this.showReviewSteps}}
      <p>
        In case you need to submit another correction, you can go through the Timesheet Review process again by clicking
        on the button below. Note: You will need to re-confirm
        your entire timesheet is accurate if you do submit another request.
      </p>
      <p>
        <UiButton @type="secondary" @onClick={{this.showReviewAction}}>
          Show the Timesheet Review Steps
        </UiButton>
      </p>
    {{/unless}}
  {{/if}}
  {{#if (or this.showReviewSteps (not this.timesheetInfo.timesheet_confirmed))}}
    {{#if (or this.unverifiedCount this.correctionPendingReviewCount this.missingPendingReviewCount)}}
      <p class="h4 text-danger">
        {{#if this.unverifiedCount}}
          You need to review {{pluralize this.unverifiedCount "timesheet entry"}}.<br>
        {{/if}}
        {{#if this.correctionPendingReviewCount}}
          {{pluralize this.correctionPendingReviewCount "timesheet entry"}}
          {{if (eq this.correctionPendingReviewCount 1) "is" "are"}} pending review.<br>
        {{/if}}

        {{#if this.missingPendingReviewCount}}
          {{pluralize this.missingPendingReviewCount "missing timesheet entry request"}}
          {{if (eq this.missingPendingReviewCount 1) "is" "are"}} pending review.<br>
        {{/if}}
      </p>
    {{else if (not this.timesheetInfo.timesheet_confirmed)}}
      <ChNotice @type="danger" @icon="hand-point-right"
                @title="Final Confirmation Requested">
        Please indicate you are done with submitted corrections. It appears all of your timesheet entries have been
        reviewed and there are no outstanding
        correction requests.
        Go to
        <LinkTo @route="me.timesheet-corrections.confirm">Final Confirmation</LinkTo>
        to finalize your timesheet.
      </ChNotice>
    {{/if}}
    {{outlet}}
  {{/if}}
{{else}}
  <p class="text-danger"><b>Timesheet corrections are not permitted at this time.</b></p>
  Contact {{general-support-email}} if you have questions or concerns about your timesheet.
{{/if}}
