{{year-select "Timesheets" year=year years=person.years onChange=(action "changeYearAction")}}

{{#if (and canCorrectThisYear timesheetInfo.correction_enabled)}}
    To ensure you will receive proper credit for your {{timesheetInfo.correction_year}} Ranger efforts, please
    follow all steps on this page. You need to confirm your whole timesheet at
    the end.
    <ol class="mt-2">
        <li>
          Review your timesheet entries below and mark the entries as correct
          or incorrect. If the entry is incorrect,  provide an explanation on
          why the entry is wrong.
        </li>
        <li>
          For any missing shifts, click on the 'Step 2 - Missing Timesheets' tab,
          and fill out the Missing Timesheet Entry Request form. You may submit more
          than one request.
        </li>
        <li>
          {{#if unverifiedCount}}
            <strong>You have {{pluralize unverifiedCount "timesheet entry"}} that
              has not been reviewed.</strong> Once all your timesheets
            have been marked as correct, AND there are no outstanding correction requests,
            click on the tab 'Step 3 - Final Confirmation' to let us know everything
            is correct.
          {{else}}
            Congratulations! You have marked all your timesheets as correct.
            <strong class="text-danger">
              There's one last step you need to do:
              Click on the tab 'Step 3 - Final Confirmation' to let us know your
              whole timesheet is correct and you are not planning on submitting
              additional corrections.
            </strong>
          {{/if}}
        </li>
    </ol>

    <ul class="nav nav-tabs nav-pills mb-2">
      <li class="nav-item">
        {{#link-to 'me.timesheet.review' class="nav-link"}}Step 1 - Timesheet Review{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'me.timesheet.missing' class="nav-link"}}Step 2 - Missing Entries Requests{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'me.timesheet.review' class="nav-link"}}Step 3 - Final Confirmation{{/link-to}}
      </li>
    </ul>
{{/if}}

{{outlet}}
