{{year-select (concat "Timesheet For " session.user.callsign) year=year years=person.all_years onChange=(action (mut year))}}

{{#if timesheets}}
  {{#if (and this.isCurrentYear this.timesheetInfo.correction_enabled (not this.timesheetInfo.timesheet_confirmed))}}
    <p>
      <b class="text-danger">It appears you have not confirmed your timesheet as accurate.</b> Please to go the {{#link-to "me.timesheet-corrections"}}Timesheet Corrections{{/link-to}} page,
      review your timesheet entries, submit any missing timesheet entries requests, and confirm your {{year}} timesheet as accurate.
    </p>
  {{/if}}
  <div class="row mt-4 mb-2">
    <div class="col-auto">
      [hh:mm] = time in brackets indicates the time does not count towards appreciations.
    </div>
  </div>
  <div class="timesheet-table">
    <div class="timesheet-row timesheet-header">
      <div class="timesheet-time">From</div>
      <div class="timesheet-time">To</div>
      <div class="timesheet-duration">Time</div>
      <div class="timesheet-credits">Credits</div>
      <div class="timesheet-position">Position</div>
    </div>
    {{#each timesheets as |ts|}}
      <div class="timesheet-entry">
        <div class="timesheet-row">
          <div class="timesheet-time">{{shift-format ts.on_duty}}</div>
          <div class="timesheet-time">
            {{#if ts.off_duty}}
              {{shift-format ts.off_duty}}
            {{else}}
              <i>On Duty</i>
            {{/if}}
          </div>
          <div class="timesheet-duration">
            <span class="timesheet-sm-label">Time:</span>
            {{#if ts.position.count_hours}}
              {{hour-minute-format ts.duration}}
            {{else}}
              [{{hour-minute-format ts.duration}}]
            {{/if}}
          </div>
          <div class="timesheet-credits">
            <span class="timesheet-sm-label">Credits:</span>
            {{credits-format ts.credits}}
          </div>
          <div class="timesheet-position">{{ts.position.title}}</div>
        </div>
      </div>
    {{/each}}
  </div>
  {{timesheet-summary summary=timesheetSummary}}
  <div class="row">
    <div class="col-auto">
      <b>Position Summary:</b><br>
      {{timesheet-position-summary timesheets=timesheets}}
    </div>
  </div>


  <div class="mt-4 d-print-none">
    Is an entry incorrect, or is there a missing shift that was not recorded?
    {{#link-to "me.timesheet-corrections.index"}}Submit a correction request.{{/link-to}}
  </div>
{{else}}
  <p class="mt-3 text-danger">
    <b>No timesheet entries were found for {{year}}.</b>
  </p>
{{/if}}
