<h1>{{this.year}} Vehicle Dashboard</h1>
<p>
  <BackToHome/>
</p>

{{#if this.vehicleInfo.motorpool_agreement_signed}}
  <UiAlert @type="success">
    {{fa-icon "check" right=1 fixed=true}} The Motorpool Policy has been agreed to.<br>
    {{#if this.vehicleInfo.org_vehicle_insurance}}
      {{fa-icon "check" right=1 fixed=true}} Your MVR request has been approved.<br>
    {{/if}}
    {{#if this.vehicleInfo.personal_vehicle_signed}}
      {{fa-icon "check" right=1 fixed=true}} The Personal Vehicle Agreement has been agreed to.<br>
    {{/if}}
  </UiAlert>
  {{#if this.vehicleInfo.org_vehicle_insurance}}
    {{#if this.vehicleInfo.personal_vehicle_signed}}
      {{#if this.vehicles}}
        {{#if this.pendingVehicles}}
          <UiAlert @type="secondary">
            {{fa-icon "hourglass" fixed=true right=1}} {{pluralize this.pendingVehicles "pending vehicle request"}}
          </UiAlert>
        {{/if}}
        {{#if this.approvedVehicles}}
          <UiAlert @type="success">
            {{fa-icon "check" fixed=true right=1}} {{pluralize this.approvedVehicles "approved vehicle request"}}
          </UiAlert>
        {{/if}}
        {{#if this.rejectedVehicles}}
          <UiAlert @type="danger">
            {{fa-icon "ban" fixed=true right=1}} {{pluralize this.rejectedVehicles "rejected vehicle request"}}
          </UiAlert>
        {{/if}}
      {{else}}
        <UiAlert @type="warning">
          {{fa-icon "times" right=1 fixed=true}} No vehicle requests have been submitted.
        </UiAlert>
      {{/if}}
    {{/if}}
  {{else}}
    <UiAlert @type="warning">
      {{fa-icon "hourglass" right=1 fixed=true}} A MVR request has not been submitted, or is awaiting approval.<br>
    </UiAlert>
  {{/if}}
  {{#if this.vehicleInfo.org_vehicle_insurance}}
    {{#if this.vehicleInfo.vehicle_requests_allowed}}
      <Me::PersonalVehicle @vehicles={{this.vehicles}}
                           @vehicleInfo={{this.vehicleInfo}}
                           @reviewAgreement={{this.reviewPersonalVehicleAgreement}}
      />
    {{else}}
      <div class="mt-2">
        <b class="text-danger">Note: You may not drive your personal vehicle on behalf of the Rangers at this time.</b>
        Reach out to your manager if you believe you have an operational need to drive your personal vehicle while
        volunteering for the Rangers. All personal vehicles must be approved prior to arriving to the playa.
      </div>
    {{/if}}
  {{else}}
    <p>
      Before you are allowed to drive Ranger vehicles, such as trucks &amp; SUVs, on behalf of the Ranger department,
      a MVR request must be submitted and approved. Burning Man’s insurance company will run a check on your driving
      record and let us know whether they are willing to cover you under the Burning Man insurance policy.
      Part of submitting this form is providing consent for the insurance company to perform this check.
    </p>
    Use the following information to fill out the MVR request:
    <ul class="mb-2">
      <li>Select <i>Rangers</i> as the Department</li>
      <li>
        Use your Ranger callsign, {{this.person.callsign}}, as your Playa Name. Do not enter “Ranger” before your
        callsign!
      </li>
      <li>
        Enter <i>Wilfredo Sanchez Vega</i> as the “Manager’s Full Legal Name”.
      </li>
      <li>
        Ensure you correctly enter your driver license state and number, including any leading zeros.
      </li>
      <li>
        For “DOB” (Date of Birth) make sure you enter your birthdate NOT today’s date or the current year. Seriously,
        use your birthday, not the current date.
      </li>
    </ul>
    <p>
      It can take a couple weeks for the driving record/license verification to be processed. The processing time
      will be longer for international drivers (i.e., drivers who hold a non-US license.)
    </p>
    <p>
      <b class="text-danger">DO NOT SUBMIT MORE THAN ONE REQUEST.</b> Doing so will delay your application and cause
      headaches for everyone involved. Much sadness will be had.
    </p>
    <p>
      <b>Wondering about the status of your MVR request?</b> This page will let you know when your submission has been
      approved. Reach out to your team's manager if you have additional concerns.
    </p>
    <p>
      <b>Wish to drive your personal vehicle on behalf of the Rangers?</b> Using a Personal Vehicle while on Ranger
      business requires specific approval. In addition to having an approved MVR, all personal vehicles must
      be approved (or re-approved) EACH YEAR. Contact your manager if you believe you have an operational
      need to use your personal vehicle while on duty.
    </p>
    Use
    <ExtLink @href={{this.vehicleInfo.mvr_request_url}}>THIS LINK</ExtLink> to submit a MVR request.
  {{/if}}
{{else}}
  <p>
    Before you are allowed to submit a MVR request, the Motorppool Policy has to be agreed to first. Use the button
    below to review and agree to the policy.
  </p>
  <UiButton @onClick={{this.reviewMotorpoolPolicy}}>Review &amp; Sign The Motorpool Policy</UiButton>
{{/if}}

{{#if this.showAgreementTag}}
  <Me::DocumentReview @tag={{this.showAgreementTag}} @onClose={{this.closeAgreement}} />
{{/if}}
