<h1>{{this.year}} Vehicle Requests for Stickers and Other Items</h1>
<BackToHome/>

<p>
  Using a Personal Vehicle while on Ranger business requires specific approval.
  As with the Ranger rental fleet vehicles, Personal Vehicles used while on Ranger business
  must display/contain authorized Vehicle Use Items in order to be driven on playa.
</p>

{{#if (and this.personEvent.signed_personal_vehicle_agreement this.personEvent.signed_motorpool_agreement)}}
  <p>
    <UiButton @onClick={{this.newAction}}>New Vehicle Request</UiButton>
  </p>

  {{#each this.vehicles as |vehicle|}}
    <UiSection>
      <:title>
        {{vehicle.vehicle_year}} {{vehicle.vehicle_make}} {{vehicle.vehicle_model}} {{vehicle.vehicle_color}}
        {{#if vehicle.license_number}}
          (#{{vehicle.license_state}}-{{vehicle.license_number}})
        {{/if}}
      </:title>
      <:body>
        {{#if vehicle.isPending}}
          <p>
            <b>{{fa-icon "hourglass-half"}} The request is awaiting review.</b>
          </p>
          <p>
            <UiButton @onClick={{fn this.editAction vehicle}}>
              {{fa-icon "edit"}} Edit Request
            </UiButton>
            <UiButton @type="light-red" @onClick={{fn this.deleteAction vehicle}}>
              {{fa-icon "trash"}} Delete Request
            </UiButton>
          </p>
        {{else if vehicle.isApproved}}
          <p>
            <b class="text-success">{{fa-icon "check"}} Your request has been approved for the following item(s):</b>
          </p>
        {{else if vehicle.isRejected}}
          <p>
            <b class="text-light-red">
              {{fa-icon "exclamation"}}  The request has been denied. Your vehicle is not authorized to be driven on
              playa
            </b></p>
        {{else}}
          The status [{{vehicle.status}}] is not understood. This is a bug!
        {{/if}}
        <dl>
          {{#if vehicle.response}}
            <dt>Response from Approver</dt>
            <dd>
              {{vehicle.response}}
            </dd>
          {{/if}}
          <dt>Driving Sticker</dt>
          <dd>
            {{#if (eq vehicle.driving_sticker "none")}}
              None
            {{else if vehicle.isRejected}}
              Denied
            {{else if (or (eq vehicle.driving_sticker "prepost") (eq vehicle.driving_sticker "staff"))}}
              {{if vehicle.isApproved "Approved" "Awaiting approval"}}
              for a {{if (eq vehicle.driving_sticker "prepost") "Pre/Post" "Staff"}} sticker.
            {{else}}
              Other
              <p>
                {{vehicle.driving_other}}
              </p>
            {{/if}}
          </dd>
          <dt>Ranger Logo Decal</dt>
          <dd>
            {{#if (eq vehicle.ranger_logo "none")}}
              None
            {{else if vehicle.isRejected}}
              Denied
            {{else if (or (eq vehicle.ranger_logo "permanent-new") (eq vehicle.ranger_logo "permanent-existing") (eq vehicle.ranger_logo "event"))}}
              {{#if vehicle.isApproved}}
                Approved to use
                {{#if (eq vehicle.ranger_logo "permanent-new")}}
                  a new permanent Ranger logo decal.
                {{else if (eq vehicle.ranger_logo "permanent-existing")}}
                  your existing permanent Ranger logo decal.
                {{else if (eq vehicle.ranger_logo "event")}}
                  an event only Ranger logo decal.
                {{/if}}
              {{else}}
                Awaiting approval to use a Ranger logo decal.
              {{/if}}
            {{else}}
              Uh oh, unknown logo type [{{vehicle.ranger_logo}}]
            {{/if}}
          </dd>
          <dt>Fuel Chit</dt>
          <dd>
            {{#if (eq vehicle.fuel_chit "none")}}
              None
            {{else if vehicle.isRejected}}
              Denied
            {{else if (eq vehicle.fuel_chit "event")}}
              {{#if vehicle.isApproved}}
                Approved for an event fuel chit.
              {{else}}
                Awaiting approval for an event fuel chit.
              {{/if}}
            {{else if (eq vehicle.fuel_chit "single-use")}}
              {{#if vehicle.isApproved}}
                Approved for a single-use fuel chit.
              {{else}}
                Awaiting approval for a single-use fuel chit.
              {{/if}}
            {{/if}}
          </dd>
          <dt>Amber Light</dt>
          <dd>
            {{#if (eq vehicle.amber_light "none")}}
              None
            {{else if vehicle.isRejected}}
              Denied
            {{else if (or (eq vehicle.amber_light "department") (eq vehicle.amber_light "already-has"))}}
              {{#if vehicle.isApproved}}
                Approved to use
                {{#if (eq vehicle.ranger_logo "department")}}
                  an amber light supplied by the Ranger department.
                {{else}}
                  your personal amber light.
                {{/if}}
              {{else}}
                Awaiting approval to use an amber light.
              {{/if}}
            {{else}}
              Uh oh, unknown amber light type [{{vehicle.amber_light}}]
            {{/if}}
          </dd>
        </dl>
      </:body>
    </UiSection>
  {{else}}
    <p>
      No vehicle requests have been submitted.
    </p>
  {{/each}}
{{else}}
  <p>
    You must agree to both the Motorpool Policy Agreement and the Personal Vehicle Agreement before you may submit
    requests for driving stickers.
  </p>
  <p>
    {{#if this.personEvent.signed_motorpool_agreement}}
      You have already agreed to Motorpool Policy
    {{else}}
      Visit the
      <LinkTo @route="me.motorpool-policy"> Ranger Vehicle Motorpool Policy</LinkTo>
      page to read and agree to the policy.
    {{/if}}
  </p>
  <p>
  {{#if this.personEvent.signed_personal_vehicle_agreement}}
      You have already agreed to the Personal Vehicle Agreement.
  {{else}}
    <h2>{{this.year}} Personal Vehicle Agreement Policy</h2>
    <DocumentShow @tag="personal-vehicle-agreement" @onLoad={{this.documentLoadedAction}}/>
    {{#if this.documentLoaded}}
      <UiButton @onClick={{this.signPersonVehicleAgreementAction}} @disabled={{this.personEvent.isSaving}}>
        I Agree To The Personal Vehicle Agreement
      </UiButton>
      {{#if this.personEvent.isSaving}}
        <LoadingIndicator/>
      {{/if}}
    {{/if}}
  {{/if}}
  </p>
{{/if}}

{{#if this.entry}}
  <ModalDialog @title="{{if this.entry.isNew "Submit" "Update"}} Vehicle Request"
               @onEscape={{this.cancelAction}} as |Modal|>
    <ChForm @formId="vehicle"
            @formFor={{this.entry}}
            @validator={{this.vehicleValidations}}
            @onSubmit={{this.saveAction}}  as |f|>
      <Modal.body>
        <p>
          <b class="text-danger">All fields are required.</b>
        </p>
        <fieldset>
          <legend>Vehicle Description</legend>
          <FormRow>
            <f.select @name="vehicle_class"
                      @label="Vehicle Class"
                      @options={{this.vehicleClassOptions}}/>
          </FormRow>
          <FormRow>
            <f.text @name="vehicle_year"
                    @label="Vehicle Year"
                    @size={{4}}
                    @maxlength={{4}}
            />
            <f.text @name="vehicle_make"
                    @label="Make"
                    @size={{15}}
                    @hint="e.g., Ford, GMC, etc."/>
            <f.text @name="vehicle_model"
                    @label="Model"
                    @size={{15}}
                    @hint="e.g., F-350, Tacoma, etc."
            />
            <f.text @name="vehicle_color"
                    @label="Color"
                    @size={{15}}
            />
          </FormRow>
          <FormRow>
            <f.select @name="license_state"
                      @label="Vehicle License State or Province"
                      @options={{this.stateOptions}}
            />
            <f.text @name="license_number"
                    @label="Vehicle License Number"
                    @size={{10}}
            />
          </FormRow>
        </fieldset>
        <fieldset>
          <legend>Personal Vehicle Use Items (Stickers &amp; Other Items)</legend>
          <FormRow>
            <FormLabel>
              Request a Driving Sticker if needed to drive your personal vehicle for Ranger business
            </FormLabel>
            <div class="col-12">
              <f.radioGroup @name="driving_sticker"
                            @options={{this.drivingStickerOptions}}
                            @inline={{true}}
              />
            </div>
          </FormRow>
          <FormRow>
            <FormLabel>Ranger Logo Decal</FormLabel>
            <div class="col-12">
              <f.radioGroup @name="ranger_logo"
                            @options={{this.rangerLogoOptions}}
                            @inline={{true}}
              />
            </div>
          </FormRow>
          <FormRow>
            <FormLabel>Fuel Chit Requests</FormLabel>
            <div class="col-12">
              <f.radioGroup @name="fuel_chit"
                            @options={{this.fuelChitOptions}}
                            @inline={{true}}
              />
            </div>
          </FormRow>
          <FormRow>
            <FormLabel>Amber Light</FormLabel>
            <div class="col-12">
              <f.radioGroup @name="amber_light"
                            @options={{this.amberLightOptions}}
                            @inline={{true}}
              />
            </div>
          </FormRow>
          <FormRow>
            <f.textarea @name="request_comment"
                        @label="Comments for the Approver"
                        @rows={{2}}
                        @cols={{80}}/>
          </FormRow>
        </fieldset>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="{{if this.entry.isNew "Submit" "Update"}} Request" @disabled={{this.entry.isSaving}} />
        <UiCancelButton @disabled={{this.entry.isSaving}} @onClick={{this.cancelAction}} />
        {{#if this.entry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}