<h1>{{this.year}} Vehicle Dashboard</h1>
<p>
  <BackToHome/>
</p>

{{#if this.vehicleInfo.motorpool_agreement_signed}}
  <UiAlert @type="success">
    {{fa-icon "check" right=1 fixed=true}} The Motorpool Policy has been agreed to.<br>
    {{#if this.vehicleInfo.org_vehicle_insurance}}
      {{fa-icon "check" right=1 fixed=true}} The MVR request has been approved. You are cleared to drive larger
      Ranger vehicles.<br>
    {{/if}}
    {{#if (and this.vehicleInfo.pvr_eligible this.vehicleInfo.personal_vehicle_signed)}}
      {{fa-icon "check" right=1 fixed=true}} The Personal Vehicle Agreement has been agreed to. You may submit Personal
      Vehicle requests.<br>
    {{/if}}
  </UiAlert>
  {{#if (and this.vehicleInfo.pvr_eligible this.vehicleInfo.personal_vehicle_signed)}}
    {{#if this.vehicles}}
      {{#if this.pendingVehicles}}
        <UiAlert @type="secondary" @icon="hourglass">
          {{pluralize this.pendingVehicles "pending Personal Vehicle Request"}}
        </UiAlert>
      {{/if}}
      {{#if this.approvedVehicles}}
        <UiAlert @type="success" @icon="check">
          {{pluralize this.approvedVehicles "approved Personal Vehicle Request"}}
        </UiAlert>
      {{/if}}
      {{#if this.rejectedVehicles}}
        <UiAlert @type="danger" @icon="ban">
          {{pluralize this.rejectedVehicles "rejected Personal Vehicle Request"}}
        </UiAlert>
      {{/if}}
    {{else}}
      <UiAlert @type="warning" @icon="hand">
        No Personal Vehicle Requests have been submitted yet.
      </UiAlert>
    {{/if}}
  {{/if}}

  <UiTab as |tab|>
    <tab.pane @title="MVR Requests" @id="mvr">
      <Me::MotorVehicleRecord @vehicleInfo={{this.vehicleInfo}}
                              @toggleMute={{fn this.toggleMute "mvr"}}
      />
    </tab.pane>
    <tab.pane @title="Personal Vehicle Requests" @id="personal-vehicle">
      <Me::PersonalVehicle @vehicles={{this.vehicles}}
                           @vehicleInfo={{this.vehicleInfo}}
                           @reviewAgreement={{this.reviewPersonalVehicleAgreement}}
                           @toggleMute={{fn this.toggleMute "pvr"}}
      />
    </tab.pane>
  </UiTab>
{{else}}
  <UiAlert @type="warning" @icon="exclamation">
    The Motorpool Policy has not been signed.
  </UiAlert>
  <p>
    Before submitting MVR and Personal Vehicle requests, you first must agree to the Motorpool Policy.
    Click the button below to review the policy and agree to it.
  </p>
  {{#if this.vehicleInfo.motorpool_agreement_available}}
    <p>
      <UiButton @onClick={{this.reviewMotorpoolPolicy}}>Review &amp; Sign The Motorpool Policy</UiButton>
    </p>
  {{else}}
    <p class="text-danger">
      Uh oh, it appears the Motorpool Agreement Policy is not available yet. This might be an issue!
    </p>
  {{/if}}
{{/if}}

{{#if this.showAgreementTag}}
  <Me::DocumentReview @tag={{this.showAgreementTag}} @onClose={{this.closeAgreement}} />
{{/if}}

{{#if this.isSubmitting}}
  <LoadingDialog>
    One moment
  </LoadingDialog>
{{/if}}