{{#if this.showSuccessDialog}}
  <ModalDialog @title="Password successfully set" as |Modal|>
    <Modal.body>
      <p>
        {{fa-icon "check" color="success"}}
        You have successfully set a password for your Clubhouse account. Please remember your password.
      </p>
      <p>
        To visit the Clubhouse in the future, bookmark the following URL:
      </p>
      <p>
        <a href="https://ranger-clubhouse.burningman.org">ranger-clubhouse.burningman.org</a>
      </p>
      <p>
        Next, you'll be taken to the Clubhouse Onboarding Checklist which has most but not all the tasks you have
        to complete in order to become a Ranger.
      </p>
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeAction}} />
    </Modal.footer>
  </ModalDialog>
{{else}}
  <ModalDialog @title="Welcome to the Ranger Secret Clubhouse" as |Modal|>
    <Modal.body>
      <p>
        The first step is to set a password for your Clubhouse account.
      </p>
      <ChForm @formId="password"
              @formFor={{this.password}}
              @validator={{this.passwordValidations}}
              @onSubmit={{this.submitAction}} as |f|>
        <FormRow>
          <f.password @name="password"
                      @label="New Password"
                      @size={{20}}
                      @maxlength={{30}}
          />
        </FormRow>
        <FormRow>
          <f.password @name="password_confirmation"
                      @label="Confirm New Password"
                      @size={{20}}
                      @maxlength={{30}}
          />
        </FormRow>
        <div class="mt-3">
          <f.submit @submitClass="btn-responsive"
                    @label={{if this.isSubmitting "Setting Password" "Set Password"}}
                    @disabled={{this.isSubmitting}} />
          {{#if this.isSubmitting}}
            <LoadingIndicator/>
          {{/if}}
        </div>
      </ChForm>
    </Modal.body>
  </ModalDialog>
{{/if}}
