<h3>Items (aka Access Documents &amp; Stuff)</h3>
<div class="mb-2">
  Showing {{pluralize this.documents.length (if this.isShowingAll "ALL items" "current items")}}
</div>
<table class="table  table-striped table-hover table-width-auto">
  <thead>
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Status</th>
    <th>Delivery</th>
    <th>Access Date</th>
    <th>Source Year</th>
    <th>Expires in</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.documents as |document|}}
    <tr>
      <td><a href {{action this.editAccessDocument document}}>RAD-{{document.id}}</a></td>
      <td>
        {{document.typeLabel}}
        {{#if document.isEventRadio}}
          (count {{document.item_count}})
        {{else if document.isWAPSO}}
          <br>
          for {{if document.name document.name "not given"}}
        {{/if}}
      </td>
      <td>{{document.status}}</td>
      <td>{{document.deliveryMethodLabel}}</td>
      <td>
        {{#if document.access_any_time}}
          Any
        {{else if document.access_date}}
          {{dayjs-format document.access_date "ddd MM/DD/YY"}}
        {{else}}
          -
        {{/if}}
      </td>
      <td class="text-end">
        {{document.source_year}}
      </td>
      <td class="text-end">
        {{document.expiryYear}}
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="7" class="text-danger">No current/non-expired access documents were found.</td>
    </tr>
  {{/each}}
  </tbody>
</table>
<p>
  <UiButton @onClick={{this.newAccessDocument}}>
    {{fa-icon "plus"}} New Item
  </UiButton>

  <UiButton @type="secondary" @onClick={{this.showAction}} disabled={{@this.isLoading}}>
    {{#if this.isLoading}}
      <LoadingIndicator @text="Loading"/>
    {{else}}
      Show {{if this.isShowingAll "Current" "All"}} Items
    {{/if}}
  </UiButton>

</p>
<p>
  <LinkTo @route="person.tickets" class="ms-2">View {{this.person.callsign}}'s Tickets &amp; Stuff page</LinkTo>
</p>
{{#if this.entry}}
  <ModalDialog @title="{{if this.entry.isNew "Create A New" "Edit"}} Item For {{this.person.callsign}}"
               @onEscape={{this.cancelAccessDocument}} as |Modal|>
    <ChForm @formId="entry"
            @formFor={{this.entry}}
            @onSubmit={{this.saveAccessDocument}} as |f|>
      <Modal.body>
        <FormRow>
          <f.select @name="type"
                    @label="Type"
                    @options={{this.typeOptions}}/>
          <f.select @name="status"
                    @label="Status"
                    @options={{this.statusOptions}}/>
          <f.select @name="source_year"
                    @options={{this.yearOptions}}
                    @label="Source Year"/>
          <f.select @name="expiry_year"
                    @options={{this.yearOptions}}
                    @label="Good Through"/>
          {{# if (eq f.model.type "event_radio")}}
            <f.number @name="item_count"
                      @label="Radio Count"
                      @size={{5}}/>
          {{else if (or (eq f.model.type "work_access_pass") (eq f.model.type "work_access_pass_so") (eq
            f.model.type "staff_credential"))}}
            <f.select @name="admission_date"
                      @label="Access Date"
                      @options={{this.admissionDateOptions}}/>
          {{/if}}
        </FormRow>
        {{#if (or
                (eq f.model.type "reduced_price_ticket")
                (eq f.model.type "vehicle_pass")
                (eq f.model.type "gift_ticket")
              )}}
          {{#if this.isTicketingOpen}}
            <p class="text-danger">
              NOTE: Ticketing is still open. The delivery method and/or address might be overridden
              by the end user for all un-submitted deliverable items.
            </p>
          {{/if}}

          <FormRow>
            <f.select @name="delivery_method"
                      @label="Delivery Method"
                      @options={{this.deliveryMethodOptions}}/>
          </FormRow>

          {{#if (eq f.model.delivery_method "postal")}}
            <FormRow>
              <f.text @name="street1"
                      @label="Street"
                      @size={{45}}
                      @maxlength={{100}} />
            </FormRow>
            <FormRow>
              <f.text @name="city"
                      @label="City"
                      @size={{25}}
                      @maxlength={{100}} />
              <f.select @name="state"
                        @label="State"
                        @options={{this.stateOptions}} />
              <f.text @name="postal_code"
                      @label="Zip Code"
                      @size={{10}}
              />
            </FormRow>
          {{/if}}
        {{/if}}
        {{#unless this.entry.isNew}}
          Comments:<br>
          <div class="mt-2">
            {{nl2br this.entry.comments}}
          </div>
        {{/unless}}
        <FormRow>
          <f.textarea @name="additional_comments"
                      @label="Additional Comments"
                      @rows={{4}}
                      @cols={{80}}
                      @hint="(Your callsign and today's date will be automatically added to any additional comments provided.)"/>
        </FormRow>
        {{#unless this.entry.isNew}}
          Last Modified: {{this.entry.modified_date}}
          Created: {{this.entry.create_date}}
        {{/unless}}
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label={{if this.entry.isNew "Create" "Update"}}  @disabled={{this.entry.isSaving}} />
        <UiCancelButton @disabled={{this.entry.isSaving}} @onClick={{this.cancelAccessDocument}} />
        {{#if this.entry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
        {{#unless this.entry.isNew}}
          <UiButton @type="danger" @class="ms-auto" @onClick={{fn this.deleteAccessDocument this.entry}}
                    @disabled={{this.entry.isSaving}}>
            {{fa-icon "trash"}} Delete
          </UiButton>
        {{/unless}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
