<h3>Access Documents</h3>
Showing {{pluralize this.documents.length "access document"}}
({{if this.isShowingAll "all - current/used/etc." "current"}})
{{#if this.isLoading}}
  <LoadingIndicator @text="Loading all documents" />
{{/if}}
<table class="table table-sm table-hover table-width-auto">
  <thead>
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Status</th>
    <th>Access Date</th>
    <th>Source Year</th>
    <th>Expires in</th>
    <th>Other Details</th>
  </tr>
  </thead>

  <tbody>
  {{#each this.documents as |document|}}
    <tr>
      <td><a href {{action this.editAccessDocument document}}>RAD-{{document.id}}</a></td>
      <td>{{document.typeHuman}}</td>
      <td>{{document.status}}</td>
      <td>
        {{#if document.access_any_time}}
          Any
        {{else if document.access_date}}
          {{moment-format document.access_date "ddd MM/DD/YY"}}
        {{else}}
          -
        {{/if}}
      </td>
      <td class="text-right">
        {{document.source_year}}
      </td>
      <td class="text-right">
        {{document.expiryYear}}
      </td>
      <td>
        {{#if document.name}}
          {{document.name}}
        {{else}}
          -
        {{/if}}
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="7" class="text-danger">No current/non-expired access documents were found.</td>
    </tr>
  {{/each}}
  </tbody>
</table>

<p>
  Delivery Method:
  {{#if this.delivery}}
    {{#if (eq this.delivery.method "will_call")}}
      Will Call
    {{else}}
      By mail - {{this.delivery.street}}, {{this.delivery.city}}, {{this.delivery.state}}
      , {{this.delivery.postal_code}} {{this.delivery.country}}
    {{/if}}
  {{else}}
    No method supplied, defaulting to Will Call.
  {{/if}}
</p>

<p>
  <button type="button" class="btn btn-primary btn-sm" {{action this.newAccessDocument}}>New Access Document</button>
  <button type="button" class="btn btn-secondary btn-sm" {{action this.editDelivery}}>Edit Delivery Method</button>
  <button type="button" class="btn btn-secondary btn-sm" {{action this.showAllAction}} disabled={{this.isLoading}}>
    {{#if this.isLoading}}
      <LoadingIndicator @text="Retrieving"/>
    {{else}}
      Show All Documents
    {{/if}}
  </button>
  <LinkTo @route="person.tickets">View Tickets &amp; Stuff</LinkTo>
</p>

{{#if this.entry}}
  <ModalDialog @title={{concat (if entry.isNew "Create A New" "Edit ") " Access Document For " person.callsign}}
               as |Modal|>
    <ChForm @formId="entry" @formFor={{this.entry}}
            @onSubmit={{this.saveAccessDocument}} @onCancel={{this.cancelAccessDocument}} as |f|>
      <Modal.body>
        <div class="form-row">
          <f.input @name="type" @type="select" @options={{this.typeOptions}} @label="Type" @grid="col-auto"/>
          <f.input @name="status" @type="select" @options={{this.statusOptions}} @label="Status" @grid="col-auto"/>
          <f.input @name="source_year" @type="select" @options={{this.yearOptions}} @label="Source Year"/>
          <f.input @name="expiry_year" @type="select" @options={{this.yearOptions}} @label="Good Through"/>

          {{#if (and (not-eq f.model.type "reduced_price_ticket") (not-eq f.model.type "gift_ticket") (not-eq f.model.type "vehicle_pass"))}}
            <f.input @name="admission_date" @label="Access Date" @type="select" @options={{this.admissionDateOptions}}
                     @grid="col-auto"/>
          {{/if}}
        </div>

        <f.input @name="name" @label="Name" @type="text" @size=40 @grid="col-auto"/>
        {{#unless entry.isNew}}
          <div class="form-row">
            <label class="col-form-label">Last Modified:</label>
            <div class="mt-2 col-auto">
              {{entry.modified_date}}
            </div>
            <label class="col-form-label">Created:</label>
            <div class="mt-2 col-auto">
              {{entry.create_date}}
            </div>
          </div>

          <div class="form-row mb-4">
            <label class="col-form-label">Comments:</label>
            <div class="mt-2 col-auto">
              {{nl2br entry.comments}}
            </div>
          </div>
        {{/unless}}

        <f.input @name="additional_comments" @label="Additional Comments" @type="textarea" @rows=4 @cols=60
                 @hint="(Your callsign and date will be automatically added to any additional comments you provide.)"/>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label={{if entry.isNew "Create" "Update"}}  @disabled={{this.entry.isSaving}} />
        <f.cancel @disabled={{this.entry.isSaving}} />
        {{#if this.entry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
        {{#unless entry.isNew}}
          <button type="button" class="btn btn-danger float-right"
            {{action this.deleteAccessDocument entry}} disabled={{this.entry.isSaving}}>
            Delete (Cancel) Document
          </button>
        {{/unless}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.deliveryEntry}}
  <ModalDialog @title={{concat "Edit Delivery Method for " person.callsign}} as |Modal|>
    <ChForm @formId="delivery" @formFor={{this.deliveryEntry}}
            @onSubmit={{this.saveDelivery}}
            @onCancel={{this.cancelDelivery}} as |f|>
      <Modal.body>
        <div class="form-row">
          <f.input @name="method" @type="select" @options={{this.methodOptions}} @label="Type" @grid="col-auto"/>
        </div>

        <div class="form-row mb-2">
          <div class="col">
            Note: the mailing address will be retain but not used if the method is set to Will Call.
          </div>
        </div>
        <div class="form-row">
          <f.input @name="street" @label="Street" @grid="col-lg-auto col-sm-6"/>
        </div>
        <div class="form-row">
          <f.input @name="city" @label="City" @grid="col-sm-5 col-lg-4"/>
          <f.input @name="state" @label="State" @type="select" @options={{this.stateOptions}}
                   @grid="col-sm-5 col-lg-auto"/>
          <f.input @name="postal_code" @label="Zip Code" @grid="col-sm-5 col-lg-auto"/>
        </div>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="Update" @disabled={{this.isSubmitting}} />
        <f.cancel @disabled={{this.isSubmitting}} />
        {{#if this.isSubmitting}}
          <LoadingIndicator/>
        {{/if}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
