<h3>Alert Preferences For <span class="d-inline-block">{{person.callsign}}</span></h3>
{{#unless isMe}}
  {{#ch-alert "danger"}}
    You are editing {{person.callsign}}'s alert preferences. Do not update the
    phone number(s) unless instructed to do by the tech team. A new
    verification code will be sent to the person when the number is changed.
  {{/ch-alert}}
{{/unless}}

<AlertsManage @person={{person}} @numbers={{numbers}} @alerts={{alerts}} />

{{#if (has-role "admin")}}
<div class="border rounded p-2 mt-3">
  <h3>SMS Administration Flags</h3>
  {{#ch-alert "danger"}}
    Do not touch the following unless instructed to do so by the tech team.
  {{/ch-alert}}
  {{#ch-form "person" person onSubmit=(action savePerson) as |f|}}
    <div class="form-row mb-2">
      <label class="col-form-label col-2">On Playa Flags</label>
      <div class="col-auto mt-2">
        {{f.input "sms_on_playa_verified" label="Verified" type="checkbox"}}
      </div>
      <div class="col-auto mt-2">
        {{f.input "sms_on_playa_stopped" label="Stopped" type="checkbox"}}
      </div>
    </div>
    <div class="form-row">
      <label class="col-form-label col-2">Off Playa Flags</label>
      <div class="col-auto mt-2">
        {{f.input "sms_off_playa_verified" label="Verified" type="checkbox"}}
      </div>
      <div class="col-auto mt-2">
        {{f.input "sms_off_playa_stopped" label="Stopped" type="checkbox"}}
      </div>
    </div>
    {{f.submit}}
  {{/ch-form}}
</div>
{{/if}}
