<h3>Alert Preferences For <span class="d-inline-block">{{this.person.callsign}}</span></h3>
{{#unless this.isMe}}
  <ChNotice @type="danger" @title="Editing {{this.person.callsign}}'s Alert Preferences" @icon="exclamation-triangle">
    Do not update the phone number(s) unless
    instructed to do by the tech team. A new verification code will be sent to the person when the number is updated.
  </ChNotice>
{{/unless}}

<AlertsManage @person={{this.person}} @numbers={{this.numbers}} @alerts={{this.alerts}} />

{{#if this.canManageAlerts}}
  <UiSection>
    <:title>SMS Administration Flags</:title>
    <:body>
      <p>
        Because you are a Tech Ninja, you may adjust the SMS Administration flags.
      </p>
      <ChForm @formId="person" @formFor={{this.person}} @onSubmit={{this.savePerson}} as |f|>
        <FormRow>
          <FormLabel>On Playa Flags</FormLabel>
          <div class="col-auto">
            <f.checkbox @name="sms_on_playa_verified" @label="Verified"/>
          </div>
          <div class="col-auto">
            <f.checkbox @name="sms_on_playa_stopped" @label="Stopped"/>
          </div>
        </FormRow>
        <FormRow>
          <FormLabel>Off Playa Flags</FormLabel>
          <div class="col-auto">
            <f.checkbox @name="sms_off_playa_verified" @label="Verified"/>
          </div>
          <div class="col-auto">
            <f.checkbox @name="sms_off_playa_stopped" @label="Stopped"/>
          </div>
        </FormRow>
        <f.submit @label="Update Flags" @disabled={{this.person.isSaving}} />
        {{#if this.person.isSaving}}
          <LoadingIndicator/>
        {{/if}}
      </ChForm>
    </:body>
  </UiSection>
{{/if}}
