{{year-select "Asset History" year=year years=person.all_years subheader=true onChange=(action (mut year))}}

{{#if person.asset_authorized}}
  {{#if (is-current-year year)}}
    <div class="border rounded p-2 mt-2 mb-2">
      <strong>Asset Checkout</strong>
      <AssetCheckoutForm @person={{person}} @assets={{assets}} @attachments={{attachments}} @eventInfo={{eventInfo}} />
    </div>
  {{/if}}
{{else}}
  {{#ch-alert "warning"}}
    {{person.callsign}} is not asset authorized and may not check out equipment at this time. Have the person sign the appropriate paperwork.
  {{/ch-alert}}
{{/if}}

<AssetTable @assets={{assets}} @year={{year}} />
