<YearSelect @title="Asset History" @year={{this.year}} @years={{this.person.all_years}} @subheader={{true}}
            @onChange={{action (mut this.year)}} />

{{#if (is-current-year this.year)}}
  {{#unless this.personEvent.asset_authorized}}
    <ChNotice @title="{{this.person.callsign}} Not Asset Authorized" @type="danger" @icon="exclamation">
      The person may not check out equipment at this time. Have them sign the appropriate paperwork.
    </ChNotice>
  {{/unless}}

  <div class="border rounded p-2 mt-2 mb-2">
    <strong>Asset Checkout</strong>
    <AssetCheckoutForm @person={{this.person}} @assets={{this.assets}} @attachments={{this.attachments}}
                       @eventInfo={{this.eventInfo}} />
  </div>
{{/if}}

<AssetTable @assets={{this.assets}} @year={{this.year}} />
