<h3>Swag (Shirts, Service Pins &amp; Patches) and Clubhouse Awards for {{this.person.callsign}}</h3>

<UiTab class="mt-4" as |tab|>
  <tab.pane @title="Swag" @id="swag">
    <p>
      Do not add, adjust, or remove service items from a person account unless instructed to do so by the Quartermaster.
    </p>
    <p>
      <UiButton @onClick={{fn this.newSwag "t-shirt"}}>{{fa-icon "shirt"}} T-Shirt</UiButton>
      <UiButton @onClick={{fn this.newSwag "long-sleeve"}}>{{fa-icon "shirt"}} Long Sleeve Shirt</UiButton>
      <UiButton @onClick={{fn this.newSwag "dept-pin"}}>{{fa-icon "map-pin"}} Ranger Pin</UiButton>
      <UiButton @onClick={{fn this.newSwag "dept-patch"}}>{{fa-icon "medal"}} Ranger Patch</UiButton>
      <UiButton @onClick={{fn this.newSwag "org-patch"}}>{{fa-icon "location-dot"}} Org Patch</UiButton>
      <UiButton @onClick={{fn this.newSwag "org-pin"}}>{{fa-icon "location-dot"}} Org Pin</UiButton>
      <UiButton @onClick={{fn this.newSwag "other"}}>{{fa-icon "star"}} Other Swag</UiButton>
    </p>
    Showing {{pluralize this.personSwag.length "item"}}
    <UiTable>
      <thead>
      <tr>
        <th>Swag</th>
        <th>Type</th>
        <th>Year Issued</th>
        <th>Notes</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      {{#each this.personSwag as |ps|}}
        <tr>
          <td>{{ps.swagTitle}}</td>
          <td>{{ps.swagTypeLabel}}</td>
          <td>
            <PresentOrNot @value={{ps.year_issued}} @empty="-"/>
          </td>
          <td>
            <PresentOrNot @value={{ps.notes}} @empty="-"/>
          </td>
          <td>
            <UiEditButton @onClick={{fn this.editSwag ps}} />
          </td>
        </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-danger">No swag has been recorded yet.</td>
      </tr>
      {{/each}}
      </tbody>
    </UiTable>

    {{#if this.swagEntry}}
      <ModalDialog @size="xl" @onEscape={{this.cancelSwag}} as |Modal|>
        <ChForm @formFor={{this.swagEntry}}
                @formId="person_swag"
                @validator={{this.swagValidation}}
                @onSubmit={{this.saveSwag}} as |f|>
          <Modal.title>{{if this.swagEntry.isNew "Record" "Edit"}} Swag</Modal.title>
          <Modal.body>
            <FormRow>
              <f.radioGroup @name="swag_id"
                            @label={{this.swagTitle}}
                            @options={{this.swagOptions}}
                            @groupWrapClass="masonry-container masonry-col-4"
              />
            </FormRow>
            <FormRow>
              <f.number @label="Year Issued" @name="year_issued" @maxlength={{4}}  />
            </FormRow>
            <FormRow>
              <f.textarea @name="notes" @label="Notes (optional)" @rows={{2}} @cols={{80}} />
            </FormRow>
          </Modal.body>
          <Modal.footer @align="start">
            <f.submit @label={{if this.swagEntry.isNew "Create" "Update"}} @disabled={{this.swagEntry.isSaving}} />
            <UiCancelButton @onClick={{this.cancelSwag}} @disabled={{this.swagEntry.isSaving}}/>
            {{#unless this.swagEntry.isNew}}
              <div class="ms-auto">
                <UiButton @type="danger" @size="sm" @onClick={{this.deleteSwag}}>{{fa-icon "trash"}} Delete</UiButton>
              </div>
            {{/unless}}
          </Modal.footer>
        </ChForm>
      </ModalDialog>
    {{/if}}
  </tab.pane>
  <tab.pane @title="Clubhouse Awards" @id="awards">
    <p>
      Any awards are items grant to a person and will appear on their Me &gt; Awards page.
    </p>
    <p>
      <UiButton @onClick={{this.newAward}}>Grant Award</UiButton>
    </p>
    <UiTable>
      <thead>
      <tr>
        <th>Award</th>
        <th>Granted On</th>
        <th>Notes</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {{#each this.personAwards as |pa|}}
        <tr>
          <td>
            {{pa.award.title}}
          </td>
          <td>
            {{ymd-format pa.created_at}}
          </td>
          <td>
            {{nl2br pa.notes}}
          </td>
          <td>
            <UiEditButton @onClick={{fn this.editAward pa}} />
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="4">
            No awards have been granted yet.
          </td>
        </tr>
      {{/each}}
      </tbody>
    </UiTable>
  </tab.pane>
</UiTab>

{{#if this.entry}}
  <ModalDialog @title="{{if this.entry.isNew "Grant" "Edit"}} Award"
               @onEscape={{this.closeAward}} as |Modal|>
    <ChForm @formId="award"
            @formFor={{this.entry}}
            @onSubmit={{this.saveAward}} as |f|>
      <Modal.body>
        <FormRow>
          <f.select @name="award_id"
                    @label="Award"
                    @options={{this.awardOptions}}
                    @includeBlank={{true}}
          />
        </FormRow>
        <FormRow>
          <f.textarea @name="notes"
                      @label="Optional notes concerning this award (not shown to person)"
                      @rows={{4}}
                      @cols={{80}} />
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label={{if this.entry.isNew "Grant" "Update"}} @disabled={{this.entry.isSaving}} />
        <UiCancelButton @disabled={{this.entry.isSaving}} @onClick={{this.closeAward}} />
        {{#if this.entry.isSaving}}
          <LoadingIndicator/>
        {{/if}}
        {{#unless this.entry.isNew}}
          <div class="ms-auto">
            <UiButton @type="danger" @size="sm" @onClick={{this.deleteAward}}>{{fa-icon "trash"}} Delete</UiButton>
          </div>
        {{/unless}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}