<div class="float-right">
  <LinkTo @route="person.access-documents" @model={{person.id}} class="btn btn-secondary">Access Documents</LinkTo>
  <LinkTo @route="vc.bmid" class="btn btn-secondary">Manage BMIDs</LinkTo>
</div>
<h3>{{year}} BMID</h3>
<BmidEdit @entry={{bmid}} @modalBox={{false}} @year={{year}} @admissionDateOptions={{admissionDateOptions}} @onSave={{action save}} />
