<h3>{{this.year}} BMID</h3>
<p>
  <LinkTo @route="person.access-documents" @model={{this.person.id}} class="btn btn-secondary">Access Documents</LinkTo>
  <LinkTo @route="vc.bmid" class="btn btn-secondary">Manage BMIDs</LinkTo>
</p>
<BmidEdit @entry={{this.bmid}} @year={{this.year}} @admissionDateOptions={{this.admissionDateOptions}} @onSave={{this.save}} />
