<h3>{{this.year}} BMID for {{this.person.callsign}}</h3>
<nav class="nav">
  <div class="nav-text">Navigation:</div>
  <LinkTo @route="person.tickets-provisions" @model={{this.person.id}} class="nav-link">Access Documents</LinkTo>
  <LinkTo @route="vc.bmid" class="nav-link">Manage BMIDs</LinkTo>
</nav>

<UiSection>
  <:title>Edit BMID</:title>
  <:body>
    <BmidEdit @entry={{this.bmid}}
              @year={{this.year}}
              @admissionDateOptions={{this.admissionDateOptions}}
              @onSave={{this.save}} />
  </:body>
</UiSection>
