<YearSelect @title="Event / Training Information"
            @year={{this.year}}
            @years={{this.person.all_years}}
            @subheader={{true}}
            @onChange={{set-value this 'year'}} />
<UiTab class="mt-4" as |tab|>
  <tab.pane @title="Training & ARTs" @id="trainings">
    {{#if this.person.isNonRanger}}
      <UiAlert @type="secondary" @icon="hand-point-right">
        {{this.person.callsign}} is a non-Ranger. Completing the Online Course or passing an
        In-Person Training is not required.
      </UiAlert>
    {{/if}}
    <UiSection>
      <:title>{{this.year}} Training &amp; ARTs</:title>
      <:body>
        <div class="d-flex mb-4">
          <div class="fw-bold me-4">{{this.year}} Online Course Completion</div>
          <div>
            {{#if this.eventInfo.online_course_passed}}
              {{shift-format this.eventInfo.online_course_date year=true}}
            {{else}}
              {{badge "secondary" "not completed"}}
            {{/if}}
          </div>
        </div>
        {{#if this.canManageOnlineCourse}}
          <ChForm @formFor={{this.courseForm}} @formId="course" @onSubmit={{this.saveOnlineCourse}} as |f|>
            <div class="row">
              {{#if this.onlineCourseOptions}}
                <f.select @name="id"
                          @label="Update Moodle Enrollment"
                          @options={{this.onlineCourseOptions}}
                          @inline={{true}}
                          @hint="Note: updating the course will not enroll the person under Moodle."
                />
                <div class="col-auto">
                  <f.submit @disabled={{this.personEvent.isSaving}} @submitClass="btn-sm"/>
                </div>
              {{else}}
                <div class="col-auto">
                  No Online Courses defined for {{this.year}}
                </div>
              {{/if}}
            </div>
          </ChForm>
        {{/if}}
        {{#if (and this.isCurrentYear this.canManageOnlineCourse)}}
          <div class="my-4 d-flex">
            <div class="fw-bold no-wrap me-2">Moodle Actions</div>
            <UiButtonRow>
              {{#unless this.eventInfo.online_course_passed}}
                <UiButton @type="secondary" @onClick={{this.markOnlineCourseCompleted}} @size="sm">
                  Force Mark As Completed
                </UiButton>
              {{/unless}}
              <UiButton @type="secondary" @onClick={{this.getUserInfo}} @size="sm">
                Online Course Account Info
              </UiButton>
              <UiButton @type="secondary" @onClick={{this.syncAccountInfo}} @size="sm">
                Sync Moodle Account Info w/Clubhouse Account
              </UiButton>
              <UiButton @type="secondary" @onClick={{this.generatePassword}} @size="sm">
                Generate New Moodle Password
              </UiButton>
            </UiButtonRow>
          </div>
          {{#if this.haveUserInfo}}
            <div class="mt-2">
              {{#if this.userInfoInSync}}
                <div class="text-success">{{fa-icon "check"}} All Online Course account fields appear to
                  be
                  in-sync with the
                  Clubhouse.
                </div>
              {{else}}
                <b class="text-danger">{{fa-icon "hand"}} One or more Online Course account fields are
                  not in sync
                  with the
                  Clubhouse</b>
              {{/if}}
              <UiTable>
                <thead>
                <tr>
                  <th>ID Number</th>
                  <th>Username</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email Address</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{this.showInfoAttribute 'idnumber'}}</td>
                  <td>{{this.showInfoAttribute 'username'}}</td>
                  <td>{{this.showInfoAttribute 'first_name'}}</td>
                  <td>{{this.showInfoAttribute 'last_name'}}</td>
                  <td>{{this.showInfoAttribute 'email'}}</td>
                </tr>
                </tbody>
              </UiTable>
              Note: username is the callsign with only alphanumeric characters, lower cased, and no
              spaces.<br>
              The email is the Clubhouse's email with plus addressing stripped out (e.g.,
              my+inbox@example.com -&gt;
              my@example.com).
            </div>
          {{/if}}
        {{/if}}

        <TrainingInfo @trainings={{this.eventInfo.trainings}} />
      </:body>
    </UiSection>
  </tab.pane>
  <tab.pane @title="Provisions & Radio Agreement" @id="provisions">
    {{#if (eq tab.activeId "provisions")}}
      <UiSection>
        <:title>{{this.year}} Provisions &amp; Radio Agreement</:title>
        <:body>
          Meals and Showers are a union of allocated (job) provisions, non-banked earned provisions, and what
          has been explicitly set on the BMID.
          <dl class="mt-2">
            <MealInfo @eventInfo={{this.eventInfo}} />
            <ShowerInfo @eventInfo={{this.eventInfo}} />

            <dt>Radio Checkout</dt>
            <dd>
              {{#if this.eventInfo.radio_info_available}}
                {{#if this.eventInfo.radio_eligible}}
                  Up to {{pluralize this.eventInfo.radio_max "Event Radio"}} may be checked out.
                {{else}}
                  Shift Radio only
                {{/if}}
              {{else}}
                <b class="text-danger">{{this.year}} Radio eligibility is not yet available.</b>
              {{/if}}
            </dd>
            <dt>Radio Checkout Agreement</dt>
            <dd>
              {{#if (has-role "admin")}}
                <ChForm @formId="person-event"
                        @formFor={{this.personEvent}}
                        @onSubmit={{this.save}} as |f|>
                  <div class="text-danger">
                    Do not sign agreements on someone else's behalf. You may expose the organization
                    to legal liability.
                  </div>
                  <f.checkbox @name="asset_authorized"
                              @label="Signed Radio Checkout Agreement"/>
                  <div class="mt-2">
                    <f.submit/>
                  </div>
                </ChForm>
              {{else}}
                {{#if this.personEvent.asset_authorized}}
                  {{badge "success" "signed"}}
                {{else}}
                  {{badge "warning" "not signed"}}
                {{/if}}
                {{this.year}} Radio Checkout Agreement
              {{/if}}
            </dd>
          </dl>
        </:body>
      </UiSection>
    {{/if}}
  </tab.pane>
  <tab.pane @title="Driving Privs. & Vehicle Agreements" @id="driving">
    {{#if (eq tab.activeId "driving")}}
      <UiSection>
        <:title>{{this.year}} Driving Privileges &amp; Vehicle Agreements</:title>
        <:body>
          {{#if this.person.vehicle_blacklisted}}
            <UiNotice @title="Vehicle Blacklisted" @icon="car-burst" @type="danger">
              Person may not drive gators, cars, or trucks on playa for Ranger business. All vehicle flags
              and agreements are disabled.
            </UiNotice>
          {{/if}}
          <dl>
            <ChForm @formId="person-event" @formFor={{this.personEvent}} @onSubmit={{this.save}} as |f|>
              <dt>Motor Vehicle Record (MVR) Flags</dt>
              <dd>
                {{#if this.canSignAgreements}}
                  <f.checkbox @name="org_vehicle_insurance"
                              @label="MVR request has been approved (aka BMP insurance)"
                  />
                  <f.checkbox @name="mvr_eligible"
                              @label="May submit a MVR request. Use only if person does not have a MVR eligible cadre/team nor is signed up for an eligible shift."
                  />
                  <f.checkbox @name="ignore_mvr"
                              @label="Mute the MVR request step on the Clubhouse Dashboard"
                  />
                  <div class="mt-2">
                    <f.submit class="btn-sm"/>
                  </div>
                {{else}}
                  <p>
                    {{#if this.personEvent.org_vehicle_insurance}}
                      {{badge "success" "authorized"}}
                    {{else}}
                      {{badge "danger" "not authorized"}}
                    {{/if}}
                    for the {{this.year}} event to drive Ranger vehicles on playa for Ranger business.
                    Vehicle must have a valid Burning Man driving sticker. Note: any personal vehicles to drive on
                    behalf
                    of the department must be pre-approved prior to arrival on playa.
                  </p>
                {{/if}}
              </dd>
              <dt>Person Vehicle Request Flags</dt>
              <dd>
                {{#if this.canSignAgreements}}
                  <f.checkbox @name="may_request_stickers"
                              @label="Personal Vehicle Use Requests allowed. Use only if person does not have a PVR eligible cadre/team, nor is signed up for an eligible shift."
                  />
                  <f.checkbox @name="ignore_pvr"
                              @label="Mute the Personal Vehicle Request step on the Clubhouse Dashboard"
                  />
                  <div class="mt-2">
                    <f.submit class="btn-sm"/>
                  </div>
                {{else}}
                  {{#if this.vehicleInfo.pvr_eligible}}
                    {{badge "success" "permitted"}}
                  {{else}}
                    {{badge "danger" "not permitted"}}
                  {{/if}}
                  to submit Personal Vehicle Requests.<br>
                {{/if}}
              </dd>
              <dt>Vehicle Agreements</dt>
              <dd>
                {{#if this.canSignAgreements}}
                  <div class="text-danger">
                    Do not sign agreements on someone else's behalf. You may expose the organization
                    to legal liability.
                  </div>
                  <f.checkbox @name="signed_motorpool_agreement"
                              @label="Signed Motor Pool Protocol"
                  />
                  <f.checkbox @name="signed_personal_vehicle_agreement"
                              @label="Signed Personal Vehicle Policy Agreement"
                  />
                  <div class="mt-2">
                    <f.submit class="btn-sm"/>
                  </div>
                {{else}}
                  {{#if this.personEvent.signed_motorpool_agreement}}
                    {{badge "success" "signed"}}
                  {{else}}
                    {{badge "warning" "not signed"}}
                  {{/if}}
                  the {{this.year}} Motor Pool Protocol.<br>
                  {{#if this.personEvent.signed_personal_vehicle_agreement}}
                    {{badge "success" "signed"}}
                  {{else}}
                    {{badge "warning" "not signed"}}
                  {{/if}}
                  the {{this.year}} Personal Vehicle Agreement.
                {{/if}}
              </dd>
            </ChForm>
            <dt>Lifetime Vehicle Flags</dt>
            <dd>
              {{#if (has-role "admin")}}
                <ChForm @formId="person" @formFor={{this.person}} @onSubmit={{this.save}} as |f|>
                  <f.checkbox @name="vehicle_blacklisted"
                              @label="Vehicle Blacklisted"/>
                  <div class="mt-2">
                    <f.submit class="btn-sm"/>
                  </div>
                </ChForm>
              {{else if this.person.vehicle_blacklisted}}
                <b class="text-danger">VEHICLE BLACKLISTED</b>
              {{else}}
                <i>No blacklisted vehicle</i>
              {{/if}}
            </dd>
          </dl>
        </:body>
      </UiSection>
    {{/if}}
    <UiSection>
      <:title>MVR &amp; Personal Vehicle eligible Teams and Positions</:title>
      <:body>
        <Person::VehicleEligibilityList @list={{this.vehicleInfo.mvr_teams}}
                                        @title="MVR team"
                                        @name="MVR"
        />
        <hr>
        <Person::VehicleEligibilityList @list={{this.vehicleInfo.mvr_positions}}
                                        @title="MVR eligible position"
                                        @name="MVR"
                                        @isPosition={{true}}
        />
        <hr>
        <Person::VehicleEligibilityList @list={{this.vehicleInfo.pvr_teams}}
                                        @title="Personal Vehicle eligible team"
                                        @name="Personal Vehicle"
        />
        <hr>
        <Person::VehicleEligibilityList @list={{this.vehicleInfo.pvr_positions}}
                                        @title="Personal Vehicle eligible position"
                                        @name="Personal Vehicle"
                                        @isPosition={{true}}
        />
      </:body>
    </UiSection>
  </tab.pane>
  <tab.pane @title="Certifications" @id="certifications">
    <Person::Certifications @personId={{this.person.id}} />
  </tab.pane>
  <tab.pane @title="Misc. Agreements" @id="agreements">
    {{#if (eq tab.activeId "agreements")}}
      <UiSection>
        <:title>{{this.year}} Misc. Agreements</:title>
        <:body>
          <dl>
            <dt>Yearly Agreements</dt>
            <dd>
              {{#if this.canSignAgreements}}
                <ChForm @formId="person-event" @formFor={{this.personEvent}} @onSubmit={{this.save}} as
                        |f|>
                  <div class="text-danger">
                    Do not sign agreements on someone else's behalf. You may expose the organization
                    to legal liability.
                  </div>
                  <p>
                    <f.checkbox @name="sandman_affidavit"
                                @label="Signed Sandman Affidavit"
                    />
                    <f.checkbox @name="signed_nda"
                                @label="Signed Sensitive Data Access and Use Policy Agreement (aka Ranger NDA)"
                    />
                  </p>
                  <f.submit/>
                </ChForm>
              {{else}}
                <p>
                  {{this.year}} Sandman Affidavit {{#if this.personEvent.sandman_affidavit}}
                  {{badge "success" "signed"}}
                {{else}}
                  {{badge "secondary" "not signed"}}
                {{/if}}
                </p>
                {{this.year}} Ranger NDA
                {{#if this.personEvent.signed_nda}}
                  {{badge "success" "signed"}}
                {{else}}
                  {{badge "secondary" "not signed"}}
                {{/if}}
              {{/if}}
            </dd>
            <dt class="mt-2">Lifetime Agreements</dt>
            <dd>
              {{#if (has-role "admin")}}
                <ChForm @formId="person" @formFor={{this.person}} @onSubmit={{this.save}} as |f|>
                  <p>
                    <f.checkbox @name="behavioral_agreement"
                                @label="Burning Man's Behavioral Standards Agreement"
                    />
                  </p>
                  <f.submit/>
                </ChForm>
              {{else}}
                Behavioral Standards Agreement
                {{#if @person.behavioral_agreement}}
                  {{badge "success" "signed"}}
                {{else}}
                  {{badge "secondary" "not signed"}}
                {{/if}}
              {{/if}}
            </dd>
          </dl>
        </:body>
      </UiSection>
    {{/if}}
  </tab.pane>
</UiTab>

{{#if this.isSubmitting}}
  <LoadingDialog>
    Please wait
  </LoadingDialog>
{{/if}}