<YearSelect @title="Event / Training Information" @year={{this.year}} @years={{this.person.all_years}}
            @subheader={{true}} @onChange={{action (mut this.year)}} />

<ChForm @forId="person-event" @formFor={{this.personEvent}} @onSubmit={{this.saveEvent}} as |f|>
  <UiSection>
    <:title>{{this.year}} Training</:title>
    <:body>
      <dl>
        <dt>Online Training</dt>
        <dd>
          {{#if this.eventInfo.online_training_passed}}
            {{shift-format this.eventInfo.online_training_date}}
          {{else}}
            not passed
          {{/if}}
        </dd>

        <dt>Face-to-Face Trainings</dt>
        <dd>
          {{#if this.person.isNonRanger}}
            <p>Non Rangers are not required to pass training.</p>
          {{/if}}
          <TrainingInfo @trainings={{this.eventInfo.trainings}} />
        </dd>
      </dl>
    </:body>
  </UiSection>
  <UiSection>
    <:title>{{this.year}} Provisions</:title>
    <:body>
      <dl>
        <dt>Meals</dt>
        <dd>
          <MealInfo @eventInfo={{this.eventInfo}} />
        </dd>

        <dt>Showers</dt>
        <dd>
          {{#if this.eventInfo.showers}}
            {{badge "secondary" "Wet Spot"}} BMID allows access to the Wet Spot.
          {{else}}
            {{badge "secondary" "Shower Pogs"}} Wet Spot shower pog granted for every 40 hours worked.
          {{/if}}
        </dd>

        <dt>Radios</dt>
        <dd>
          {{#if this.eventInfo.radio_info_available}}
            {{#if this.eventInfo.radio_eligible}}
              Up to {{pluralize this.eventInfo.radio_max "Event Radio"}} may be checked out.
            {{else}}
              Shift Radio only
            {{/if}}
          {{else}}
            <b class="text-danger">{{this.year}} Radio eligibility is not yet available.</b>
          {{/if}}
          <div class="mt-2">
            {{#if (has-role "admin")}}
              <f.checkbox @name="asset_authorized"
                          @label="Signed Radio Checkout Agreement"/>
            {{else}}
              {{#if this.personEvent.asset_authorized}}
                <b class="text-success"> {{fa-icon "check"}} Signed</b>
              {{else}}
                <b class="text-danger">{{fa-icon "times"}} NOT SIGNED</b>
              {{/if}}
              the Radio Checkout Agreement.
            {{/if}}
          </div>
        </dd>
      </dl>
    </:body>
  </UiSection>
  <UiSection>
    <:title>{{this.year}} Driving</:title>
    <:body>
      <dl>
        <dt>Motorpool Policy</dt>
        <dd>
          {{#if this.person.vehicle_blacklisted}}
            <b class="text-danger">{{fa-icon "ban"}} Vehicle is blacklisted.</b>
            May not drive gators, cars, or trucks on playa for Ranger business.
          {{else}}
            {{#if (has-role "admin" "vc")}}
              <f.checkbox @name="org_vehicle_insurance"
                          @label="Has Motor Vehicle Record (MVR)"
              />
              <f.checkbox @name="signed_motorpool_agreement"
                          @label="Signed Motorpool Policy Agreement"
              />
            {{else}}
              {{#if this.personEvent.signed_motorpool_agreement}}
                <b class="text-success"> {{fa-icon "check"}} Signed</b>
              {{else}}
                <b class="text-danger">{{fa-icon "times"}} NOT SIGNED</b>
              {{/if}}
              the {{this.year}} Motorpool Agreement policy.<br>
              {{#if this.personEvent.org_vehicle_insurance}}
                <b class="text-success"> {{fa-icon "check"}} Authorized</b>
              {{else}}
                <b class="text-danger">{{fa-icon "times"}} NOT AUTHORIZED</b>
              {{/if}}
              for the {{this.year}} event to drive Ranger vehicles (including own personal vehicle) on playa for Ranger
              business.
              Vehicle must have a valid Burning Man driving sticker.
            {{/if}}
          {{/if}}
        </dd>
        <dt>{{this.year}} Personal Vehicle Use</dt>
        <dd>
          {{#if (has-role "admin")}}
            <f.checkbox @name="may_request_stickers"
                        @label="Personal Vehicle Use Requests Allowed"
            />

            <f.checkbox @name="signed_personal_vehicle_agreement"
                        @label="Signed Personal Vehicle Policy Agreement"/>
          {{else}}
            {{#if this.personEvent.may_request_stickers}}
              <b class="text-success">{{fa-icon "check"}} Allowed</b>
            {{else}}
              <b class="text-danger">{{fa-icon "times"}} NOT ALLOWED</b>
            {{/if}}
            to submit Personal Vehicle Requests.<br>
            {{#if this.personEvent.signed_personal_vehicle_agreement}}
              <b class="text-success"> {{fa-icon "check"}} Signed</b>
            {{else}}
              <b class="text-danger">{{fa-icon "times"}} NOT SIGNED</b>
            {{/if}}
            the {{this.year}} Personal Vehicle Agreement.
          {{/if}}
        </dd>
      </dl>
    </:body>
  </UiSection>
  <UiSection>
    <:title>{{this.year}} Agreements</:title>
    <:body>
      {{#if (has-role "admin" "vc")}}
        <f.checkbox @name="sandman_affidavit"
                    @label="Signed Sandman Affidavit"
        />
      {{else}}
        {{#if this.personEvent.sandman_affidavit}}
          <b class="text-success"> {{fa-icon "check"}} Signed</b>
        {{else}}
          <b class="text-danger">{{fa-icon "times"}} NOT SIGNED</b>
        {{/if}}
        the {{this.year}} Sandman Affidavit
      {{/if}}
    </:body>
  </UiSection>
  <f.submit @disabled={{this.personEvent.isSaving}} />
  {{#if this.personEvent.isSaving}}
    <LoadingIndicator/>
  {{/if}}
</ChForm>
