<YearSelect @title="Event / Training Information"
            @year={{this.year}}
            @years={{this.person.all_years}}
            @subheader={{true}}
            @onChange={{action (mut this.year)}} />
<UiTab class="mt-4" as |tab|>
  <tab.pane @title="Training & ARTs" @id="trainings">
    <UiSection>
      <:title>{{this.year}} Training &amp; ARTs</:title>
      <:body>
        <ChForm @forId="person-event" @formFor={{this.personEvent}} @onSubmit={{this.save}} as |f|>
          <div class="row">
            <div class="col-auto">
              <b>{{this.year}} Online Course Completion</b><br>
              {{#if this.eventInfo.online_training_passed}}
                {{shift-format this.eventInfo.online_training_date year=true}}
              {{else}}
                not completed
              {{/if}}
            </div>
            <div class="col-auto">
              <b>{{this.year}} Course Id</b><br>
              {{#if this.canManageOnlineCourse}}
                <div class="row">
                  <f.text @name="lms_course_id" @size={{5}} @maxlength={{5}} @inline={{true}} @fieldSize="sm"/>
                  <div class="col-auto">
                    <f.submit @disabled={{this.personEvent.isSaving}} @submitClass="btn-sm"/>
                  </div>
                </div>
                <small>Note: updating the id will not enroll the person.</small>
              {{else}}
                <PresentOrNot @value={{this.personEvent.lms_course_id}} @empty="not set"/>
              {{/if}}
            </div>
          </div>
        </ChForm>
        {{#if (and this.isCurrentYear this.canManageOnlineCourse)}}
          <div class="mt-2">
            {{#unless this.eventInfo.online_training_passed}}
              <UiButton @type="secondary" @onClick={{this.markOnlineCourseCompleted}} @size="sm">
                Force Mark As Completed
              </UiButton>
            {{/unless}}
            <UiButton @type="secondary" @onClick={{this.getUserInfo}} @size="sm">
              Online Course Account Info
            </UiButton>
            <UiButton @type="secondary" @onClick={{this.syncAccountInfo}} @size="sm">
              Sync Account Info
            </UiButton>
            <UiButton @type="secondary" @onClick={{this.resetPassword}} @size="sm">
              Reset Password
            </UiButton>
          </div>
          {{#if this.haveUserInfo}}
            <div class="mt-2">
              {{#if this.userInfoInSync}}
                <div class="text-success">{{fa-icon "check"}} All Online Course account fields appear to be
                  in-sync with the
                  Clubhouse.
                </div>
              {{else}}
                <b class="text-danger">{{fa-icon "hand"}} One or more Online Course account fields are not in sync
                  with the
                  Clubhouse</b>
              {{/if}}
              <table class="table table-width-auto table-sm">
                <thead>
                <tr>
                  <th>ID Number</th>
                  <th>Username</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email Address</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{this.showInfoAttribute 'idnumber'}}</td>
                  <td>{{this.showInfoAttribute 'username'}}</td>
                  <td>{{this.showInfoAttribute 'first_name'}}</td>
                  <td>{{this.showInfoAttribute 'last_name'}}</td>
                  <td>{{this.showInfoAttribute 'email'}}</td>
                </tr>
                </tbody>
              </table>
              Note: username is the callsign with only alphanumeric characters, lower cased, and no spaces.<br>
              The email is the Clubhouse's email with plus addressing stripped out (e.g., my+inbox@example.com -&gt;
              my@example.com).
            </div>
          {{/if}}
        {{/if}}

        <div class="mt-2"><b>Trainings</b></div>
        {{#if this.person.isNonRanger}}
          <p>Non Rangers are not required to pass the In-Person Training.</p>
        {{/if}}
        <TrainingInfo @trainings={{this.eventInfo.trainings}} />
      </:body>
    </UiSection>
  </tab.pane>
  <tab.pane @title="Provisions & Radio Agreement" @id="provisions">
    {{#if (eq tab.activeId "provisions")}}
      <UiSection>
        <:title>{{this.year}} Provisions &amp; Radio Agreement</:title>
        <:body>
          Meals and Showers are a union of allocated (job) provisions, non-banked earned provisions, and what
          has been explicitly set on the BMID.
          <dl class="mt-2">
            <dt>Meals</dt>
            <dd>
              <MealInfo @eventInfo={{this.eventInfo}} />
            </dd>

            <dt>Showers</dt>
            <dd>
              {{#if this.eventInfo.showers}}
                {{badge "secondary" "Wet Spot"}} BMID allows access to the Wet Spot.
              {{else}}
                {{badge "secondary" "Shower Pogs"}} Wet Spot shower pog granted for every 40 hours worked.
              {{/if}}
            </dd>

            <dt>Radio Checkout</dt>
            <dd>
              {{#if this.eventInfo.radio_info_available}}
                {{#if this.eventInfo.radio_eligible}}
                  Up to {{pluralize this.eventInfo.radio_max "Event Radio"}} may be checked out.
                {{else}}
                  Shift Radio only
                {{/if}}
              {{else}}
                <b class="text-danger">{{this.year}} Radio eligibility is not yet available.</b>
              {{/if}}
            </dd>
            <dt>Radio Checkout Agreement</dt>
            <dd>
              {{#if (has-role "admin")}}
                <ChForm @forId="person-event" @formFor={{this.personEvent}} @onSubmit={{this.save}} as |f|>
                  <div class="text-danger">
                    Do not sign agreements on someone else's behalf. You may expose the organization to legal
                    liability.
                  </div>
                  <f.checkbox @name="asset_authorized"
                              @label="Signed Radio Checkout Agreement"/>
                  <div class="mt-2">
                    <f.submit/>
                  </div>
                </ChForm>
              {{else}}
                {{#if this.personEvent.asset_authorized}}
                  <b class="text-success"> {{fa-icon "check"}} Signed</b>
                {{else}}
                  <b class="text-danger">{{fa-icon "times"}} NOT SIGNED</b>
                {{/if}}
                the Radio Checkout Agreement.
              {{/if}}
            </dd>
          </dl>
        </:body>
      </UiSection>
    {{/if}}
  </tab.pane>
  <tab.pane @title="Driving Privs. & Vehicle Agreements" @id="driving">
    {{#if (eq tab.activeId "driving")}}
      <UiSection>
        <:title>{{this.year}} Driving Privileges &amp; Vehicle Agreements</:title>
        <:body>
          {{#if this.person.vehicle_blacklisted}}
            <UiNotice @title="Vehicle Blacklisted" @icon="car-burst" @type="danger">
              Person may not drive gators, cars, or trucks on playa for Ranger business. All vehicle flags and
              agreements are disabled.
            </UiNotice>
          {{/if}}
          <dl>
            <ChForm @forId="person-event" @formFor={{this.personEvent}} @onSubmit={{this.save}} as |f|>
              <dt>Driving Privileges</dt>
              <dd>
                {{#if this.canSignAgreements}}
                  <f.checkbox @name="org_vehicle_insurance"
                              @label="Has Motor Vehicle Record (MVR aka BMP insurance)"
                  />
                  <f.checkbox @name="may_request_stickers"
                              @label="Personal Vehicle Use Requests Allowed (Allows access to the Me > Vehicles page)"
                  />
                  <div class="mt-2">
                    <f.submit/>
                  </div>
                {{else}}
                  <p>
                    {{#if this.personEvent.org_vehicle_insurance}}
                      <b class="text-success"> {{fa-icon "check"}} Authorized</b>
                    {{else}}
                      <b class="text-danger">{{fa-icon "times"}} NOT AUTHORIZED</b>
                    {{/if}}
                    for the {{this.year}} event to drive Ranger vehicles (including own personal vehicle) on playa for
                    Ranger business. Vehicle must have a valid Burning Man driving sticker.
                  </p>
                  {{#if this.personEvent.may_request_stickers}}
                    <b class="text-success">{{fa-icon "check"}} Allowed</b>
                  {{else}}
                    <b class="text-danger">{{fa-icon "times"}} NOT ALLOWED</b>
                  {{/if}}
                  to submit Personal Vehicle Requests.<br>
                {{/if}}
              </dd>
              <dt>Vehicle Agreements</dt>
              <dd>
                {{#if this.canSignAgreements}}
                  <div class="text-danger">
                    Do not sign agreements on someone else's behalf. You may expose the organization to legal
                    liability.
                  </div>
                  <f.checkbox @name="signed_motorpool_agreement"
                              @label="Signed Motorpool Policy Agreement"
                  />
                  <f.checkbox @name="signed_personal_vehicle_agreement"
                              @label="Signed Personal Vehicle Policy Agreement"
                  />
                  <div class="mt-2">
                    <f.submit/>
                  </div>
                {{else}}
                  <p>
                    {{#if this.personEvent.signed_motorpool_agreement}}
                      <b class="text-success"> {{fa-icon "check"}} Signed</b>
                    {{else}}
                      <b class="text-danger">{{fa-icon "times"}} NOT SIGNED</b>
                    {{/if}}
                    the {{this.year}} Motorpool Agreement policy.
                  </p>
                  {{#if this.personEvent.signed_personal_vehicle_agreement}}
                    <b class="text-success"> {{fa-icon "check"}} Signed</b>
                  {{else}}
                    <b class="text-danger">{{fa-icon "times"}} NOT SIGNED</b>
                  {{/if}}
                  the {{this.year}} Personal Vehicle Agreement.
                {{/if}}
              </dd>
            </ChForm>
            <dt>Lifetime Vehicle Flags</dt>
            <dd>
              {{#if (has-role "admin")}}
                <ChForm @forId="person" @formFor={{this.person}} @onSubmit={{this.save}} as |f|>
                  <f.checkbox @name="vehicle_blacklisted"
                              @label="Vehicle Blacklisted"/>
                  <div class="mt-2">
                    <f.submit/>
                  </div>
                </ChForm>
              {{else if this.person.vehicle_blacklisted}}
                <b class="text-danger">VEHICLE BLACKLISTED</b>
              {{else}}
                <i>No blacklisted vehicle</i>
              {{/if}}
            </dd>
          </dl>
        </:body>
      </UiSection>
    {{/if}}
  </tab.pane>
  <tab.pane @title="Certifications" @id="certifications">
    <Person::Certifications @personId={{this.person.id}} />
  </tab.pane>
  <tab.pane @title="Misc. Agreements" @id="agreements">
    {{#if (eq tab.activeId "agreements")}}
      <UiSection>
        <:title>{{this.year}} Misc. Agreements</:title>
        <:body>
          <dl>
            <dt>Yearly Agreements</dt>
            <dd>
              {{#if this.canSignAgreements}}
                <ChForm @forId="person-event" @formFor={{this.personEvent}} @onSubmit={{this.save}} as |f|>
                  <div class="text-danger">
                    Do not sign agreements on someone else's behalf. You may expose the organization to legal liability.
                  </div>
                  <p>
                    <f.checkbox @name="sandman_affidavit"
                                @label="Signed Sandman Affidavit"
                    />
                    <f.checkbox @name="signed_nda"
                                @label="Signed Sensitive Data Access and Use Policy Agreement (aka Ranger NDA)"
                    />
                  </p>
                  <f.submit/>
                </ChForm>
              {{else}}
                <p>
                  {{this.year}} Sandman Affidavit {{#if this.personEvent.sandman_affidavit}}
                  <b class="text-success"> {{fa-icon "check"}} Signed</b>
                {{else}}
                  <b class="text-danger">{{fa-icon "times"}} NOT SIGNED</b>
                {{/if}}
                </p>
                {{this.year}} Ranger NDA
                {{#if this.personEvent.signed_nda}}
                  <b class="text-success"> {{fa-icon "check"}} Signed</b>
                {{else}}
                  <b class="text-danger">{{fa-icon "times"}} NOT SIGNED</b>
                {{/if}}
              {{/if}}
            </dd>
            <dt class="mt-2">Lifetime Agreements</dt>
            <dd>
              {{#if (has-role "admin")}}
                <ChForm @forId="person" @formFor={{this.person}} @onSubmit={{this.save}} as |f|>
                  <p>
                    <f.checkbox @name="behavioral_agreement"
                                @label="Burning Man's Behavioral Standards Agreement"
                    />
                  </p>
                  <f.submit/>
                </ChForm>
              {{else}}
                Behavioral Standards Agreement {{if @person.behavioral_agreement "signed" "NOT SIGNED"}}<br>
              {{/if}}
            </dd>
          </dl>
        </:body>
      </UiSection>
    {{/if}}
  </tab.pane>
</UiTab>

{{#if this.isSubmitting}}
  <LoadingDialog>
    Please wait
  </LoadingDialog>
{{/if}}