<h3>General Account Info</h3>
{{#if this.person.unread_message_count}}
  <ChAlert @type="warning" @bold=true>
    {{fa-icon "envelope"}} {{pluralize this.person.unread_message_count "unread Clubhouse message"}}
    <LinkTo @route="person.messages" class="btn btn-success">Read Now</LinkTo>
  </ChAlert>
{{/if}}

<ChForm @formId="person" @originalModel={{this.person}} @onSubmit={{action this.savePersonAction}} as |f|>
  <PersonPhoto @photo={{this.photo}} @person={{this.person}} @uploadAction={{this.showUploadDialogAction}} />

  {{! The following block is floated left on md or larger screen to ensure
    the photo is on the right and the form flows around it.
  }}
  <div class="float-md-left">
    {{! show contact information }}
    {{#if (has-role "admin" "vc" "view-pii" "view-email")}}
      <div class="form-group row">
        <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">Contact</label>
        <div class="mt-2 col-auto">
          {{#if this.person.email}}
            email address {{mail-to this.person.email}}
          {{else}}
            <div class="text-muted">missing</div>
          {{/if}}
          {{#if (has-role "admin" "vc" "view-pii")}}
            <div class="mt-2">primary phone {{#if this.person.home_phone}}{{phone-link this.person.home_phone}}{{else}}
              n/a{{/if}}</div>
            {{#if this.person.alt_phone}}
              <div class="mt-2">alt phone {{phone-link this.person.alt_phone}}</div>
            {{/if}}
          {{/if}}
          <div class="mt-2">last seen at
            {{#if this.person.last_seen_at}}
              {{moment-format this.person.last_seen_at "ddd MMM DD [@] HH:mm:ss YYYY"}}
            {{else}}
              <i>unknown</i>
            {{/if}}
          </div>
        </div>
      </div>
    {{/if}}

    <div class="form-group row">
      <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">Callsign</label>
      {{#if (has-role "admin" "mentor" "vc")}}
        {{f.input "callsign" type="text" size=35 maxlength=100 wrapClass="col-auto"}}
      {{else}}
        <div class="mt-2 col-auto">
          {{this.person.callsign}}
        </div>
      {{/if}}
    </div>

    <div class="form-group row">
      <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">FKA</label>
      {{#if (has-role "admin" "mentor" "vc")}}
        {{f.input "formerly_known_as" type="text" size=35 maxlength=200 wrapClass="col-auto"}}
      {{else}}
        <div class="mt-2 col-auto">
          {{present-or-not this.person.formerly_known_as "no previous callsigns"}}
        </div>
      {{/if}}
    </div>

    <div class="form-group row">
      <label class="col-form-label col-form-label-fixed col-2">Callsign Approved</label>
      {{#if (has-role "admin" "mentor" "vc")}}
        {{f.input "callsign_approved" type="select" wrapClass="col-auto" options=callsignApprovedOptions}}
      {{else}}
        <div class="mt-2 col-sm-12 col-md-auto">
          {{if this.person.callsign_approved "Approved" "Not Approved"}}
        </div>
      {{/if}}
    </div>

    <div class="form-group row">
      <label class="col-form-label col-form-label-fixed col-2">Status</label>
      {{#if (has-role "admin" "mentor" "vc")}}
        {{f.input "status" type="select" options=this.statusOptions wrapClass="col-auto"}}
      {{else}}
        <div class="mt-2 col-auto">
          {{this.person.status}}
        </div>
      {{/if}}
    </div>

    <div class="form-group row">
      <label class="col-form-label col-form-label-fixed col-2">Personnel</label>
      {{#if (has-role "admin")}}
        {{f.input "user_authorized" type="select" wrapClass="col-auto" options=this.userAuthorizedOptions}}
        {{f.input "has_note_on_file" label="Note on file" type="checkbox" wrapClass="col-auto mt-2" value=1}}
      {{else}}
        <div class="mt-2 col-auto">
          {{#if this.person.user_authorized}}
            Authorized
          {{else}}
            <span class="text-danger">NOT AUTHORIZED</span>
          {{/if}}
          {{#if this.person.has_note_on_file}}
            <strong class="text-danger">(note on file)</strong>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>

  {{!
   Ensure the following is not floated next to photo
  }}
  <div class="clearfix"></div>

  <div class="form-group row">
    <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">Name</label>
    {{#if (has-role "admin" "mentor" "vc")}}
      {{f.input "first_name" type="text" size=20 maxlength=25 wrapClass="col-sm-12 col-md-4 col-lg-3"}}
      {{f.input "mi" type="text" size=2 maxlength=10 wrapClass="col-sm-12 col-md-2 col-lg-1"}}
      {{f.input "last_name" type="text" size=20 maxlength=25 wrapClass="col-md-4 col-lg-3"}}
    {{else}}
      <div class="mt-2 col-md-9 col-sm-12">
        {{this.person.first_name}} {{this.person.mi}} {{this.person.last_name}}
      </div>
    {{/if}}
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed col-2">On Site</label>
    <div class="col-8">
      {{f.input "on_site" type="radioGroup" options=this.onSiteOptions inline=true}}
    </div>
  </div>

  <div class="form-group row">
    <label for="person_position" class="col-form-label col-form-label-fixed col-sm-12 col-md-2">Positions</label>
    <div class="col-md-9 col-sm-12">
      <div class="row col-12 mt-1 mb-2">
        <button type="button" {{action this.togglePositions}} class="btn btn-secondary btn-sm mr-2">
          {{if this.showPositions "Hide" "Show"}} Positions
        </button>
        {{#if (has-role "admin" "grant-position")}}
          <button type="button" {{action "editPositionsAction"}} class="btn btn-secondary btn-sm">Edit Positions
          </button>
        {{/if}}
      </div>
      {{#unless this.personPositions}}
        <div class="row">
          <div class="col-12">
            <strong class="text-danger">Person does not hold any positions</strong>
          </div>
        </div>
      {{/unless}}
      {{#if this.showPositions}}
        <div class="row">
          {{#each this.personPositions as |position| }}
            <div class="col-sm-6 col-md-4 col-xl-3">
              {{position.title}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">Roles</label>
    <div class="col-md-9 col-sm-12">
      <div class="row col-12 mt-1 mb-2">
        <button type="button" {{action this.toggleRoles}} class="btn btn-secondary btn-sm mr-2">
          {{if this.showRoles "Hide" "Show"}} Roles
        </button>
        {{#if (has-role "admin")}}
          <button type="button" {{action this.editRolesAction}} class="btn btn-secondary btn-sm">Edit Roles</button>
        {{/if}}
      </div>
      {{#unless this.personRoles}}
        <strong class="text-danger">Person does not hold any roles</strong>
      {{/unless}}
      {{#if this.showRoles}}
        <div class="row">
          {{#each this.personRoles as |role| }}
            <div class="col-sm-6 col-md-4 col-xl-3">
              {{role.title}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">Years</label>
    <div class="col-md-9 col-sm-12">
      {{#each this.person.years as |year|}}{{year}} {{/each}} ({{this.person.years.length}})
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">Vehicles</label>
    <div class="col-md-9 col-sm-12">
      {{#if (has-role "admin")}}
        {{f.input "vehicle_paperwork" label="Motorpool Policy" type="checkbox" inline=true}}
        {{f.input "vehicle_insurance_paperwork" label="Motor Vehicle Record (MVR)" type="checkbox" inline=true}}
        {{f.input "vehicle_blacklisted" label="Vehicle Blacklisted" type="checkbox" inline=true}}
      {{else}}
        {{#if this.person.vehicle_paperwork}}
          Motorpool Policy agreed to
        {{else}}
          Motorpool Policy NOT agreed to
        {{/if}}<br>
        {{if this.person.vehicle_insurance_paperwork "Has" "No"}} Motor Vehicle Record (MVR)<br>
        {{#if this.person.vehicle_blacklisted}}
          <strong class="text-danger">VEHICLE BLACKLISTED</strong>
        {{/if}}
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">Assets</label>
    <div class="col-sm-12 col-md-9">
      {{f.input "asset_authorized" label="Assets Authorized" type="checkbox" inline=true }}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">Certifications</label>
    <div class="col-sm-12 col-md-9">
      {{#if (has-role "admin" "vc")}}
        {{f.input "osha10" label="OSHA-10" type="checkbox" inline=true }}
        {{f.input "osha30" label="OSHA-30" type="checkbox" inline=true }}
      {{else if (or this.person.osha10 this.person.osha30)}}
        {{#if this.person.osha10}}OSHA-10{{/if}}
        {{#if this.person.osha30}}OSHA-30{{/if}}
      {{else}}
        No OSHA certifications
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">Agreements</label>
    <div class="col-sm-12 col-md-9">
      {{#if (has-role "admin" "vc")}}
        {{f.input "behavioral_agreement" label="Burning Man's Behavioral Standards Agreement" type="checkbox"
                  inline=true }}<br>
        {{f.input "sandman_affidavit" label="Sandman Affidavit" type="checkbox" inline=true }}
      {{else}}
        Behavioral Standards Agreement {{if this.person.behavioral_agreement "signed" "NOT SIGNED"}}<br>
        Sandman Affidavit {{if this.person.sandman_affidavit "signed" "NOT SIGNED"}}
      {{/if}}
    </div>
  </div>

  {{#if (has-role "admin")}}
    <div class="form-group row">
      <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">BPGUID</label>
      {{f.input "bpguid" type="text" size=35 maxlength=200 wrapClass="col-auto"}}
    </div>

    <div class="form-group row">
      <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">LMS ID</label>
      {{f.input "lms_id" type="text" size=35 maxlength=200 wrapClass="col-auto"}}
    </div>
  {{/if}}

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">BMID/Tickets</label>
    <div class="col-sm-12 col-md-9">
      {{#if  (has-role "edit-bmids" "edit-access-docs")}}
        {{#if (has-role "edit-bmids")}}
          <LinkTo @route="person.bmid" class="btn btn-secondary btn-sm">Edit BMID</LinkTo>
        {{/if}}
        {{#if (has-role "edit-access-docs")}}
          <LinkTo @route="person.tickets" class="btn btn-secondary btn-sm">View Tickets &amp; Stuff</LinkTo>
          <LinkTo @route="person.access-documents" class="btn btn-secondary btn-sm">Edit Access Docs</LinkTo>
        {{/if}}
      {{else}}
        <div class="text-muted">No permission to edit BMID and/or access documents.</div>
      {{/if}}
    </div>
  </div>

  {{#if (has-role "admin" "vc" "intake")}}
    <div class="form-group row">
      <label class="col-form-label-fixed col-sm-12 col-md-2">VC</label>
      <div class="col-sm-12 col-md-9">
        {{#if (has-role "admin" "vc")}}
          {{#link-to "person.onboard" class="btn btn-secondary btn-sm"}}Onboard View{{/link-to}}
          {{#link-to "person.photos" class="btn btn-secondary btn-sm"}}Photo History{{/link-to}}
        {{/if}}
        {{#link-to "person.status-history" class="btn btn-secondary btn-sm"}}Status History{{/link-to}}
        {{#if (has-role "intake")}}
          {{#link-to "person.unified-flagging" class="btn btn-secondary btn-sm"}}Unified Flagging{{/link-to}}
        {{/if}}
      </div>
    </div>
  {{/if}}
  {{#if (has-role "admin")}}
    <div class="form-group row">
      <label class="col-form-label-fixed col-sm-12 col-md-2">Logs</label>
      <div class="col-sm-12 col-md-9 ">
        <LinkTo @route="person.contact-log" class="btn btn-secondary btn-sm">Contact Log</LinkTo>
        <LinkTo @route="person.broadcast-log" class="btn btn-secondary btn-sm">Broadcast Log</LinkTo>
        <LinkTo @route="admin.action-log" @query={{hash person=person.callsign}} class="btn btn-secondary btn-sm">Action
          Log
        </LinkTo>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label-fixed col-sm-12 col-md-2">Note</label>
      <div class="col-sm-12 col-md-9">
        {{#if this.person.message}}
          <button type="button" class="btn btn-secondary btn-sm" {{action this.editNote}}>Update Note</button>
        {{else}}
          <button type="button" class="btn btn-secondary btn-sm" {{action this.confirmNoteOrMessage}}>Add Note</button>
        {{/if}}
        {{#if this.showConfirmNoteOrMessage}}
          <ModalDialog @title="Add Account Note" as |modal|>
            <modal.body>
              <p>
                A note will <b class="text-danger">NOT BE SHOWN TO {{this.person.callsign}}</b>. It is only meant to be
                seen
                by
                Admins,
                HQ Window workers, and Volunteer Coordinators.
              </p>
              <p>
                <b>SEND A CLUBHOUSE MESSAGE to leave a message for {{this.person.callsign}}</b>
              </p>
              <p>
                Would you rather send a Clubhouse Message?
              </p>
            </modal.body>
            <modal.footer>
              <button class="btn btn-primary mr-3" {{action this.sendClubhouseMessage}}>Send Clubhouse Message</button>
              <button class="btn btn-primary mr-3" {{action this.editNote}}>Add Note</button>
              <button class="btn btn-secondary" {{action this.closeConfirmNoteOrMessage}}>Cancel</button>
            </modal.footer>

          </ModalDialog>
        {{else if this.showEditNote}}
          <ModalDialog @title={{if person.messsage "Add Account Note" "Update Account Note"}} as |modal|>
            <modal.body>
              <p>
                The note will be shown to all Volunteer Coordinators, HQ Window Workers, and other Login Management role
                holders when this account is viewed
                <span class="text-danger">A NOTE WILL NOT BE SEEN BY THE USER.</span>
              </p>
              <p>
                Examples: "Person is ok to sign-in for pre-event shifts.", "Do not let this person work a shift until
                this
                person talks with Hubcap"
              </p>
              <p>
                The note will automatically timestamped when saved or updated.
              </p>

              {{f.input "message" type="textarea" label="Enter the note to be shown:" cols=80 rows=6}}
            </modal.body>
            <modal.footer>
              <modal.button @label="Cancel" @action={{action this.closeNote}} @type="secondary"/>
              <modal.button @label="Save Note" @action={{action this.saveNote f.model}} @type="primary"/>
            </modal.footer>
          </ModalDialog>
        {{/if}}

      </div>
    </div>
  {{/if}}

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">Created</label>
    <div class="col-sm-12 col-md-9">
      {{#if person.create_date}}
        {{person.create_date}}
      {{else}}
        <i>created prior to 2010</i>
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">Modified</label>
    <div class="col-sm-12 col-md-9">
      {{person.date_verified}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed d-none d-md-block col-md-2">&nbsp;</label>
    <div class="col-sm-7 col-md-5">
      <f.submit @label="Update" @disabled={{not f.model.isDirty}} />
    </div>
    {{#if (has-role "admin")}}
      <div class="col-sm-3 col-md-2 text-right">
        <button type="button" class="btn btn-secondary btn-sm" {{action this.removePerson}}>Remove</button>
      </div>
    {{/if}}
  </div>
</ChForm>

{{#if editPositions}}
  <Person::PositionForm @positions={{positions}} @positionIds={{positionIds}} @onSave={{action this.savePositions}}
                        @onCancel={{action cancelPositions}} />
{{/if}}

{{#if editRoles}}
  <Person::RoleForm @roles={{roles}} @roleIds={{roleIds}} @onSave={{action this.saveRoles}}
                    @onCancel={{action this.cancelRoles}} />
{{/if}}


{{#if this.showUploadDialog}}
  <PhotoUpload @person={{this.person}} @refreshPhoto={{this.refreshPhoto}}
               @closeAction={{this.closeUploadDialogAction}} />
{{/if}}

