{{#if
  (or this.person.isSuspended this.person.isResigned this.person.isDeceased this.person.isUberBonked this.person.isDismissed)}}
  <UiNotice @icon="ban"
            @type="danger"
            @title="Account has status {{this.person.status}} and may not be logged into.">
    For more information, contact the Personnel Manager: <PersonnelEmail />
  </UiNotice>
{{else if this.person.needsBpguid}}
  <UiNotice @icon="hand-point-right" @title="Missing BPGUID" @type="danger">
    <p>
      Account does not have a Burner Profile ID (BPGUID) on file. Signups and ticketing are disabled.
    </p>
    Contact the Volunteer Coordinators at <VcEmail /> for assistance with obtaining a BPGUID.
  </UiNotice>
{{/if}}

{{#if this.person.is_bouncing}}
  <UiNotice @title="Email Bouncing" @type="danger" @icon="envelope">
    <p>
      The email address has been reported as bouncing. The inbox might be full, the person's email server is
      experiencing
      issues, or the address is no longer valid.
    </p>
    Contact the Ranger Tech Ninjas at <TechSupportEmail /> for assistance.
  </UiNotice>
{{/if}}

{{#if this.person.unread_message_count}}
  <p>
    <LinkTo @route="person.messages">
      <b>
        {{fa-icon "envelope" color="success"}} {{pluralize this.person.unread_message_count "unread message"}}
      </b>
    </LinkTo>
  </p>
{{/if}}

<UiTab as |tab|>
  <tab.pane @title="General Info" @id="general-info">
    <div class="d-flex flex-column flex-xl-row order-sm-last order-xl-first">
      <div class="flex-grow-1">
        <UiSection>
          <:title>General Account Info</:title>
          <:body>
            {{#if this.isAdminMentorOrVC}}
              <Person::FullForm @person={{this.person}}
                                @savePersonAction={{this.savePersonAction}}
                                @callsignApprovedOptions={{this.callsignApprovedOptions}}
                                @statusOptions={{this.statusOptions}}
                                @onSiteOptions={{this.onSiteOptions}}

                                @roles={{this.roles}}
                                @grantedRoles={{this.grantedRoles}}
                                @toggleRoles={{this.toggleRoles}}
                                @showRoles={{this.showRoles}}
                                @editRolesAction={{this.editRolesAction}}

                                @personMembership={{this.personMembership}}
                                @toggleMembership={{this.toggleMembership}}
                                @showMembership={{this.showMembership}}
                                @canEditMembership={{this.canEditMembership}}

                                @editNote={{this.editNote}}
                                @confirmNoteOrMessage={{this.confirmNoteOrMessage}}
                                @removePersonAction={{this.removePersonAction}}

                                @sendWelcomeMailAction={{this.sendWelcomeMailAction}}

                                @showPasswordDialogAction={{this.showPasswordDialogAction}}
              />
            {{else}}
              <Person::SimpleForm @person={{this.person}}
                                  @savePersonAction={{this.savePersonAction}}
                                  @onSiteOptions={{this.onSiteOptions}}

                                  @grantedRoles={{this.grantedRoles}}
                                  @roles={{this.roles}}
                                  @toggleRoles={{this.toggleRoles}}
                                  @showRoles={{this.showRoles}}

                                  @personMembership={{this.personMembership}}
                                  @toggleMembership={{this.toggleMembership}}
                                  @showMembership={{this.showMembership}}
                                  @canEditMembership={{this.canEditMembership}}
              />
            {{/if}}
          </:body>
        </UiSection>
      </div>
      <div class="ms-xl-2 order-sm-first order-xl-last">
        <PersonPhoto @person={{this.person}}
                     @photo={{this.photo}}
                     @uploadAction={{this.showUploadDialogAction}} />
      </div>
    </div>
  </tab.pane>
  {{#if this.session.hasLoginManagement}}
    <tab.pane @title="Work History" @id="work-history">
      <UiSection>
        <:title>Work History For {{this.person.callsign}}</:title>
        <:body>
          {{#if (eq tab.activeId "work-history")}}
            <WorkHistory @person={{this.person}}  />
          {{/if}}
        </:body>
      </UiSection>
    </tab.pane>
  {{/if}}
  {{#if (has-role "admin" "vc")}}
    <tab.pane @title="Dashboard" @id="dashboard">
      {{#if (eq tab.activeId "dashboard")}}
        <Person::Dashboard @person={{this.person}} />
      {{/if}}
    </tab.pane>
  {{/if}}
  {{#if this.session.isAdmin}}
    <tab.pane @title="External IDs" @id="external-ids">
      <UiSection>
        <:title>External Account Identifiers</:title>
        <:body>
          <p>
            This page shows the identifiers used to associate this Clubhouse account with external websites
            such as Burner Profiles, the Moodle Learning Management System, etc.
          </p>
          <ChForm @formId="person" @formFor={{this.person}} @onSubmit={{action this.savePersonAction}} as |f|>
            <FormRow>
              <f.text @name="bpguid"
                      @label="Burner Profile Global UID (BPGUID)"
                      @size={{40}}
                      @maxlength={{200}}
              />
            </FormRow>

            <FormRow>
              <f.text @name="lms_id"
                      @label="Moodle Account ID (aka idnumber)"
                      @size={{40}}
                      @maxlength={{200}}
              />
            </FormRow>

            <FormRow>
              <f.text @name="lms_username"
                      @label="Moodle Username"
                      @size={{40}}
                      @maxlength={{200}}
                      @hint="Aka callsign, lower case, only alphanumeric characters, no spaces."
              />
            </FormRow>

            <FormRow class="mb-4">
              <f.text @name="employee_id"
                      @label="Paycom Employee ID"
                      @size={{10}}
                      @maxlength={{10}}
              />
            </FormRow>

            <f.submit @label="Update"/>
            {{#if this.person.isSaving}}
              <LoadingIndicator/>
            {{/if}}
          </ChForm>
        </:body>
      </UiSection>
    </tab.pane>
  {{/if}}
</UiTab>

{{#if this.editRoles}}
  <Person::PermissionForm @roles={{this.roles}}
                          @grantedRoles={{this.grantedRoles}}
                          @onSave={{this.saveRoles}}
                          @onCancel={{this.cancelRoles}}
                          @isSaving={{this.isSavingRoles}} />
{{/if}}

{{#if this.showUploadDialog}}
  <PhotoUpload @person={{this.person}}
               @refreshPhoto={{this.refreshPhoto}}
               @closeAction={{this.closeUploadDialogAction}}
               @photo={{this.photo}}
               @isPersonManage={{true}}
  />
{{/if}}

{{#if this.editCertifications}}
  <Person::CertificationsForm @personCertifications={{this.personCertifications}}
                              @onSave={{this.saveCertificationsAction}}
                              @onCancel={{this.cancelCertificationsAction}}
                              @isSaving={{this.isSavingCertifications}} />

{{/if}}


{{#if this.showPasswordDialog}}
  <PersonPassword @onClose={{this.closePasswordDialogAction}} @person={{this.person}} />
{{/if}}

{{#if this.showConfirmNoteOrMessage}}
  <ModalDialog @title="Add Account Note" @onEscape={{this.closeConfirmNoteOrMessage}} as |Modal|>
    <Modal.body>
      <h4 class="text-danger">A NOTE WILL NOT BE SHOWN TO {{this.person.callsign}}</h4>
      <p>
        Notes are only meant to be seen by Admins, HQ Window workers, and Volunteer Coordinators.
      </p>
      Would you rather send a Clubhouse Message?
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <UiButton @onClick={{this.sendClubhouseMessage}}>Send Clubhouse Message</UiButton>
      <UiButton @class="mx-3" @onClick={{this.editNote}}>Add Note</UiButton>
      <UiCancelButton @onClick={{this.closeConfirmNoteOrMessage}} />
    </Modal.footer>
  </ModalDialog>
{{else if this.showEditNote}}
  <ModalDialog @title="{{if this.person.messsage "Add" "Update"}} Account Note"
               @onEscape={{this.closeNote}} as |Modal|>
    <ChForm @formId="person-note"
            @formFor={{this.personNote}}
            @changeSet={{false}}
            @onSubmit={{this.saveNote}} as |f|>
      <Modal.body>
        <p>
          The note will be shown to all Volunteer Coordinators, HQ Window Workers, and other Login Management role
          holders when this account is viewed
          <span class="text-danger">A NOTE WILL NOT BE SEEN BY {{this.person.callsign}}.</span>
        </p>
        <p>
          Examples: "Person is ok to sign-in for pre-event shifts.",
          "Do not let this person work a shift until this person talks with Hubcap"
        </p>
        <p>
          The note will automatically timestamped when saved or updated.
        </p>
        <FormRow>
          <f.textarea @name="message"
                      @label="Enter the note to be shown:"
                      @cols={{80}}
                      @rows={{6}}/>
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @label="Save Note"/>
        <UiCancelButton @onClick={{this.closeNote}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
