<h3>General Account Info</h3>
{{#if this.person.unread_message_count}}
  <p>
    <LinkTo @route="person.messages">
      <b>
        {{fa-icon "envelope" color="success"}} {{pluralize this.person.unread_message_count "unread message"}}
      </b>
    </LinkTo>
  </p>
{{/if}}

<div class="row">
  <div class="col-sm-12 col-lg-9">
    {{#if (has-role "admin" "mentor" "vc")}}
      <Person::FullForm @person={{this.person}}
                        @savePersonAction={{this.savePersonAction}}
                        @callsignApprovedOptions={{this.callsignApprovedOptions}}
                        @statusOptions={{this.statusOptions}}
                        @onSiteOptions={{this.onSiteOptions}}

                        @personRoles={{this.personRoles}}
                        @toggleRoles={{this.toggleRoles}}
                        @showRoles={{this.showRoles}}
                        @editRolesAction={{this.editRolesAction}}

                        @personPositions={{this.personPositions}}
                        @togglePositions={{this.togglePositions}}
                        @showPositions={{this.showPositions}}
                        @editPositionsAction={{this.editPositionsAction}}

                        @editNote={{this.editNote}}
                        @confirmNoteOrMessage={{this.confirmNoteOrMessage}}
                        @removePersonAction={{this.removePersonAction}}
      />
    {{else}}
      <Person::SimpleForm @person={{this.person}}
                          @savePersonAction={{this.savePersonAction}}
                          @onSiteOptions={{this.onSiteOptions}}

                          @personRoles={{this.personRoles}}
                          @toggleRoles={{this.toggleRoles}}
                          @showRoles={{this.showRoles}}

                          @personPositions={{this.personPositions}}
                          @togglePositions={{this.togglePositions}}
                          @showPositions={{this.showPositions}}
                          @editPositionsAction={{this.editPositionsAction}}
      />
    {{/if}}
  </div>
  <div class="col-sm-12 col-lg-1">
    <PersonPhoto @photo={{this.photo}} @person={{this.person}} @uploadAction={{this.showUploadDialogAction}} />
  </div>
</div>

{{#if this.editPositions}}
  <Person::PositionForm @positions={{positions}} @positionIds={{positionIds}} @onSave={{action this.savePositions}}
                        @onCancel={{action cancelPositions}} />
{{/if}}

{{#if this.editRoles}}
  <Person::RoleForm @roles={{this.roles}} @roleIds={{this.roleIds}} @onSave={{this.saveRoles}}
                    @onCancel={{this.cancelRoles}} @isSaving={{this.isSavingRoles}} />
{{/if}}

{{#if this.showUploadDialog}}
  <PhotoUpload @person={{this.person}} @refreshPhoto={{this.refreshPhoto}}
               @closeAction={{this.closeUploadDialogAction}}
               @photo={{this.photo}}
  />
{{/if}}

{{#if this.showConfirmNoteOrMessage}}
  <ModalDialog @title="Add Account Note" as |Modal|>
    <Modal.body>
      <h4 class="text-danger">A NOTE WILL NOT BE SHOWN TO {{this.person.callsign}}</h4>
      <p>
        Notes are only meant to be seen by Admins, HQ Window workers, and Volunteer Coordinators.
      </p>
      Would you rather send a Clubhouse Message?
    </Modal.body>
    <Modal.footer @noAlign={{true}}>
      <button type="button" class="btn btn-primary mr-3" {{action this.sendClubhouseMessage}}>Send Clubhouse Message
      </button>
      <button type="button" class="btn btn-primary mr-3" {{action this.editNote}}>Add Note</button>
      <button type="button" class="btn btn-secondary" {{action this.closeConfirmNoteOrMessage}}>Cancel</button>
    </Modal.footer>
  </ModalDialog>
{{else if this.showEditNote}}
  <ModalDialog @title={{if person.messsage "Add Account Note" "Update Account Note"}} as |Modal|>
    <ChForm @formId="person-note" @formFor={{this.personNote}} @changeSet={{false}}
            @onSubmit={{this.saveNote}} @onCancel={{this.closeNote}} as |f|>
      <Modal.body>
        <p>
          The note will be shown to all Volunteer Coordinators, HQ Window Workers, and other Login Management role
          holders when this account is viewed
          <span class="text-danger">A NOTE WILL NOT BE SEEN BY {{this.person.callsign}}.</span>
        </p>
        <p>
          Examples: "Person is ok to sign-in for pre-event shifts.",
          "Do not let this person work a shift until this person talks with Hubcap"
        </p>
        <p>
          The note will automatically timestamped when saved or updated.
        </p>

        <f.input @name="message" @type="textarea" @label="Enter the note to be shown:" @cols=80 @rows=6/>
      </Modal.body>
      <Modal.footer>
        <f.submit @label="Save Note"/>
        <f.cancel/>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
