<h3>General Account Info</h3>
{{#ch-form "person" person  onSubmit=(action "savePersonAction") as |f|}}
  <PersonPhoto @photo={{photo}} @person={{person}} @uploadAction={{this.showUploadDialogAction}} />

  {{! The following block is floated left on md or larger screen to ensure
    the photo is on the right and the form flows around it.
  }}
  <div class="float-md-left">

    {{! show contact information }}
    {{#if (has-role "admin" "vc" "view-pii" "view-email")}}
      <div class="form-group row">
        <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">Contact</label>
        <div class="mt-2 col-auto">
          {{#if person.email}}
            email address {{mail-to person.email}}
          {{else}}
            <div class="text-muted">missing</div>
          {{/if}}
          {{#if (has-role "admin" "vc" "view-pii")}}
            <div class="mt-2">primary phone {{#if person.home_phone}}{{phone-link person.home_phone}}{{else}}
              n/a{{/if}}</div>
            {{#if person.alt_phone}}
              <div class="mt-2">alt phone {{phone-link person.alt_phone}}</div>
            {{/if}}
          {{/if}}
          <div class="mt-2">last seen at
            {{#if person.last_seen_at}}
              {{moment-format person.last_seen_at "ddd MMM DD [@] HH:mm:ss YYYY"}}
            {{else}}
              <i>unknown</i>
            {{/if}}
          </div>
        </div>
      </div>
    {{/if}}

    <div class="form-group row">
      <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">Callsign</label>
      {{#if isAdminMentorOrVC}}
        {{f.input "callsign" type="text" size=35 maxlength=100 wrapClass="col-auto"}}
      {{else}}
        <div class="mt-2 col-auto">
          {{person.callsign}}
        </div>
      {{/if}}
    </div>

    <div class="form-group row">
      <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">FKA</label>
      {{#if isAdminMentorOrVC}}
        {{f.input "formerly_known_as" type="text" size=35 maxlength=200 wrapClass="col-auto"}}
      {{else}}
        <div class="mt-2 col-auto">
          {{present-or-not person.formerly_known_as "no previous callsigns"}}
        </div>
      {{/if}}
    </div>

    <div class="form-group row">
      <label class="col-form-label col-form-label-fixed col-2">Callsign Approved</label>
      {{#if isAdminMentorOrVC}}
        {{f.input "callsign_approved" type="select" wrapClass="col-auto" options=callsignApprovedOptions}}
      {{else}}
        <div class="mt-2 col-sm-12 col-md-auto">
          {{if person.callsign_approved "Approved" "Not Approved"}}
        </div>
      {{/if}}
    </div>

    <div class="form-group row">
      <label class="col-form-label col-form-label-fixed col-2">Status</label>
      {{#if isAdminMentorOrVC}}
        {{f.input "status" type="select" options=statusOptions wrapClass="col-auto"}}
      {{else}}
        <div class="mt-2 col-auto">
          {{person.status}}
        </div>
      {{/if}}
    </div>

    <div class="form-group row">
      <label class="col-form-label col-form-label-fixed col-2">Personnel</label>
      {{#if this.isAdmin}}
        {{f.input "user_authorized" type="select" wrapClass="col-auto" options=userAuthorizedOptions}}
        {{f.input "has_note_on_file" label="Note on file" type="checkbox" wrapClass="col-auto mt-2" value=1}}
      {{else}}
        <div class="mt-2 col-auto">
          {{#if person.user_authorized}}
            Authorized
          {{else}}
            <span class="text-danger">NOT AUTHORIZED</span>
          {{/if}}
          {{#if person.has_note_on_file}}
            <strong class="text-danger">(note on file)</strong>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>

  {{!
   Ensure the following is not floated next to photo
  }}
  <div class="clearfix"></div>

  <div class="form-group row">
    <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">Name</label>
    {{#if isAdminMentorOrVC}}
      {{f.input "first_name" type="text" size=20 maxlength=25 wrapClass="col-sm-12 col-md-4 col-lg-3"}}
      {{f.input "mi" type="text" size=2 maxlength=10 wrapClass="col-sm-12 col-md-2 col-lg-1"}}
      {{f.input "last_name" type="text" size=20 maxlength=25 wrapClass="col-md-4 col-lg-3"}}
    {{else}}
      <div class="mt-2 col-md-9 col-sm-12">
        {{person.first_name}} {{person.mi}} {{person.last_name}}
      </div>
    {{/if}}
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed col-2">On Site</label>
    <div class="col-8">
      {{f.input "on_site" type="radioGroup" options=onSiteOptions inline=true}}
    </div>
  </div>

  <div class="form-group row">
    <label for="person_position" class="col-form-label col-form-label-fixed col-sm-12 col-md-2">Positions</label>
    <div class="col-md-9 col-sm-12">
      <div class="row col-12 mt-1 mb-2">
        <button type="button" {{action "togglePositions"}} class="btn btn-secondary btn-sm mr-2">{{if showPositions
                                                                                                      "Hide" "Show"}}
          Positions
        </button>
        {{#if (or isAdmin isManageAndGrantPosition)}}
          <button type="button" {{action "editPositionsAction"}} class="btn btn-secondary btn-sm">Edit Positions
          </button>
        {{/if}}
      </div>
      {{#unless personPositions}}
        <div class="row">
          <div class="col-12">
            <strong class="text-danger">Person does not hold any positions</strong>
          </div>
        </div>
      {{/unless}}
      {{#if showPositions}}
        <div class="row">
          {{#each personPositions as |position| }}
            <div class="col-sm-6 col-md-4 col-xl-3">
              {{position.title}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">Roles</label>
    <div class="col-md-9 col-sm-12">
      <div class="row col-12 mt-1 mb-2">
        <button type="button" {{action "toggleRoles"}} class="btn btn-secondary btn-sm mr-2">{{if showRoles "Hide"
                                                                                                  "Show"}} Roles
        </button>
        {{#if (has-role "admin")}}
          <button type="button" {{action "editRolesAction"}} class="btn btn-secondary btn-sm">Edit Roles</button>
        {{/if}}
      </div>
      {{#unless personRoles}}
        <strong class="text-danger">Person does not hold any roles</strong>
      {{/unless}}
      {{#if showRoles}}
        <div class="row">
          {{#each personRoles as |role| }}
            <div class="col-sm-6 col-md-4 col-xl-3">
              {{role.title}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">Years</label>
    <div class="col-md-9 col-sm-12">
      {{#each person.years as |year|}}{{year}} {{/each}} ({{person.years.length}})
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">Vehicles</label>
    <div class="col-md-9 col-sm-12">
      {{#if (has-role "admin")}}
        {{f.input "vehicle_paperwork" label="Motorpool Policy" type="checkbox" inline=true}}
        {{f.input "vehicle_insurance_paperwork" label="Motor Vehicle Record (MVR)" type="checkbox" inline=true}}
        {{f.input "vehicle_blacklisted" label="Vehicle Blacklisted" type="checkbox" inline=true}}
      {{else}}
        {{#if person.vehicle_paperwork}}
          Motorpool Policy agreed to
        {{else}}
          Motorpool Policy NOT agreed to
        {{/if}}<br>
        {{if person.vehicle_insurance_paperwork "Has" "No"}} Motor Vehicle Record (MVR)<br>
        {{#if person.vehicle_blacklisted}}
          <strong class="text-danger">VEHICLE BLACKLISTED</strong>
        {{/if}}
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">Assets</label>
    <div class="col-sm-12 col-md-9">
      {{f.input "asset_authorized" label="Assets Authorized" type="checkbox" inline=true }}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">Certifications</label>
    <div class="col-sm-12 col-md-9">
      {{#if isAdminOrVC}}
        {{f.input "osha10" label="OSHA-10" type="checkbox" inline=true }}
        {{f.input "osha30" label="OSHA-30" type="checkbox" inline=true }}
      {{else if (or person.osha10 person.osha30)}}
        {{#if person.osha10}}OSHA-10{{/if}}
        {{#if person.osha30}}OSHA-30{{/if}}
      {{else}}
        No OSHA certifications
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">Agreements</label>
    <div class="col-sm-12 col-md-9">
      {{#if isAdminOrVC}}
        {{f.input "behavioral_agreement" label="Burning Man's Behavioral Standards Agreement" type="checkbox"
                  inline=true }}<br>
        {{f.input "sandman_affidavit" label="Sandman Affidavit" type="checkbox" inline=true }}
      {{else}}
        Behavioral Standards Agreement {{if person.behavioral_agreement "signed" "NOT SIGNED"}}<br>
        Sandman Affidavit {{if person.sandman_affidavit "signed" "NOT SIGNED"}}
      {{/if}}
    </div>
  </div>

  {{#if (has-role "admin")}}
    <div class="form-group row">
      <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">BPGUID</label>
      {{#if isAdminOrVC}}
        {{f.input "bpguid" type="text" size=35 maxlength=200 wrapClass="col-auto"}}
      {{else}}
        <div class="mt-2 col-auto">
          {{present-or-not person.bpguid "No Burner Profile ID"}}
        </div>
      {{/if}}
    </div>
  {{/if}}

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">BMID/Tickets</label>
    <div class="col-sm-12 col-md-9">
      {{#if (or canEditBMIT canEditAccessDocs)}}
        {{#if canEditBMIT}}
          <LinkTo @route="person.bmid" class="btn btn-secondary btn-sm">Edit BMID</LinkTo>
        {{/if}}
        {{#if canEditAccessDocs}}
          <LinkTo @route="person.tickets" class="btn btn-secondary btn-sm">View Tickets &amp; Stuff</LinkTo>
          <LinkTo @route="person.access-documents" class="btn btn-secondary btn-sm">Edit Access Docs</LinkTo>
        {{/if}}
      {{else}}
        <div class="text-muted">No permission to edit BMID and/or access documents.</div>
      {{/if}}
    </div>
  </div>

  {{#if (has-role "admin" "vc" "intake")}}
    <div class="form-group row">
      <label class="col-form-label-fixed col-sm-12 col-md-2">VC</label>
      <div class="col-sm-12 col-md-9">
        {{#if this.isAdminOrVC}}
          {{#link-to "person.onboard" class="btn btn-secondary btn-sm"}}Onboard View{{/link-to}}
          {{#link-to "person.photos" class="btn btn-secondary btn-sm"}}Photo History{{/link-to}}
        {{/if}}
        {{#link-to "person.status-history" class="btn btn-secondary btn-sm"}}Status History{{/link-to}}
        {{#if (has-role "intake")}}
          {{#link-to "person.unified-flagging" class="btn btn-secondary btn-sm"}}Unified Flagging{{/link-to}}
        {{/if}}
      </div>
    </div>
  {{/if}}
  {{#if this.isAdmin}}
    <div class="form-group row">
      <label class="col-form-label-fixed col-sm-12 col-md-2">Logs</label>
      <div class="col-sm-12 col-md-9 ">
        <LinkTo @route="person.contact-log" class="btn btn-secondary btn-sm">Contact Log</LinkTo>
        <LinkTo @route="person.broadcast-log" class="btn btn-secondary btn-sm">Broadcast Log</LinkTo>
        <LinkTo @route="admin.action-log" @query={{hash person=person.callsign}} class="btn btn-secondary btn-sm">Action
          Log
        </LinkTo>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label-fixed col-sm-12 col-md-2">Note</label>
      <div class="col-sm-12 col-md-9">
        {{#if person.message}}
          <button class="btn btn-secondary btn-sm" {{action editNote}}>Update Note</button>
        {{else}}
          <button class="btn btn-secondary btn-sm" {{action confirmNoteOrMessage}}>Add Note</button>
        {{/if}}
        {{#if showConfirmNoteOrMessage}}
          <ModalDialog @title="Add Account Note" as |modal|>
            <modal.body>
              <p>
                A note will <b class="text-danger">NOT BE SHOWN TO {{person.callsign}}</b>. It is only meant to be seen
                by
                Admins,
                HQ Window workers, and Volunteer Coordinators.
              </p>
              <p>
                <b>SEND A CLUBHOUSE MESSAGE to leave a message for {{person.callsign}}</b>
              </p>
              <p>
                Would you rather send a Clubhouse Message?
              </p>
            </modal.body>
            <modal.footer>
              <button class="btn btn-primary mr-3" {{action sendClubhouseMessage}}>Send Clubhouse Message</button>
              <button class="btn btn-primary mr-3" {{action editNote}}>Add Note</button>
              <button class="btn btn-secondary" {{action closeConfirmNoteOrMessage}}>Cancel</button>
            </modal.footer>

          </ModalDialog>
        {{else if showEditNote}}
          <ModalDialog @title={{if person.messsage "Add Account Note" "Update Account Note"}} as |modal|>
            <modal.body>
              <p>
                The note will be shown to all Volunteer Coordinators, HQ Window Workers, and other Login Management role
                holders when this account is viewed. <span
                      class="text-danger">A NOTE WILL NOT BE SEEN BY THE USER.</span>
              </p>
              <p>
                Examples: "Person is ok to sign-in for pre-event shifts.", "Do not let this person work a shift until
                this
                person talks with Hubcap"
              </p>
              <p>
                The note will automatically timestamped when saved or updated.
              </p>

              {{f.input "message" type="textarea" label="Enter the note to be shown:" cols=80 rows=6}}
            </modal.body>
            <modal.footer>
              <modal.button @label="Cancel" @action={{action closeNote}} @type="secondary"/>
              <modal.button @label="Save Note" @action={{action saveNote f.model}} @type="primary"/>
            </modal.footer>
          </ModalDialog>
        {{/if}}

      </div>
    </div>
  {{/if}}

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">Created</label>
    <div class="col-sm-12 col-md-9">
      {{#if person.create_date}}
        {{person.create_date}}
      {{else}}
        <i>created prior to 2010</i>
      {{/if}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed col-sm-12 col-md-2">Modified</label>
    <div class="col-sm-12 col-md-9">
      {{person.date_verified}}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label-fixed d-none d-md-block col-md-2">&nbsp;</label>
    <div class="col-sm-7 col-md-5">
      <f.submit @label="Update" @disabled={{not f.model.isDirty}} />
    </div>
    {{#if (has-role "admin")}}
      <div class="col-sm-3 col-md-2 text-right">
        <button type="button" class="btn btn-secondary btn-sm" {{action "removePerson"}}>Remove</button>
      </div>
    {{/if}}
  </div>
{{/ch-form}}

{{#if editPositions}}
  <Person::PositionForm @positions={{positions}} @positionIds={{positionIds}} @onSave={{action "savePositions"}}
                        @onCancel={{action cancelPositions}} />
{{/if}}

{{#if editRoles}}
  <Person::RoleForm @roles={{roles}} @roleIds={{roleIds}} @onSave={{action "saveRoles"}}
                    @onCancel={{action cancelRoles}} />
{{/if}}

{{#if person.unread_message_count}}
  <ChAlert @type="warning" @bold=true>
    {{fa-icon "envelope"}} {{pluralize person.unread_message_count "unread Clubhouse message"}}
    <LinkTo @route="person.messages" class="btn btn-success">Read Now</LinkTo>
  </ChAlert>
{{/if}}


{{#if this.showUploadDialog}}
  <PhotoUpload @person={{this.person}} @refreshPhoto={{this.refreshPhoto}}
               @closeAction={{this.closeUploadDialogAction}} />
{{/if}}

