<h3>Team Memberships &amp; Positions</h3>
<p>
  <LinkTo @route="person.index" @model={{this.person.id}}>Back To Account Info</LinkTo>
</p>
<p class="small">
  Legend:<br>
  {{fa-icon "universal-access"}} All Rangers = position is granted to all Rangers (usually at the time a Shiny Penny is
  minted)
  regardless of team membership.<br>
  {{fa-icon "globe"}} All Accounts = position is granted to all accounts (Rangers, applicants, auditors, etc.) usually
  at the time the account is created.<br>
  <i>Is Team Manager</i> = person may grant or revoke the team's membership and positions to anyone.<br>
  <i>[N permission]</i> = Indicates permission(s) will be assigned when the team or position is granted. Click on the text to see
  what permissions will be given. The permission(s) will be removed when the team/position is revoked, however, the same permissions may
  continue to be in effect if other positions are granted with the same associated permissions or if the permissions were explicitly
  granted by the 'Edit Permissions' button.
</p>
<p>
  {{#if this.session.isAdmin}}
    Because you are a Clubhouse Admin, all teams and positions are available to be granted or revoked.
  {{else}}
    You only have permission to grant or revoke positions for the Clubhouse Teams you are a manager for.
  {{/if}}
</p>

<div class="masonry-container {{if this.isAdmin "masonry-col-2" "masonry-col-1 max-width-700"}} masonry-border mb-4">
  {{#if this.canManageGeneralPositions}}
    <div class="masonry-item">
      <div class="masonry-item-header">General Positions / Unassociated with a Clubhouse Team</div>
      <MembershipPosition @positions={{this.generalPositions}} @itemClick={{this.itemClick}} />
      <div class="ms-2 mt-3">
        <UiButton @onClick={{this.saveAction}} @size="sm">Save</UiButton>
      </div>
    </div>
  {{/if}}
  {{#each this.teams as |team|}}
    <div class="masonry-item">
      <div class="masonry-item-header d-flex justify-content-between">
        <div>
          <input id="team-{{team.id}}"
                 type="checkbox"
                 class="form-check-input"
                 checked={{team.selected}}
            {{on "change" (fn this.teamClick team)}}
                 disabled={{not team.can_manage}}
          />
          <label for="team-{{team.id}}" class="form-check-label ms-1">{{team-title team}}</label>
          {{#if team.roles}}
            <Popover @text="[{{pluralize team.roles.length "permission"}}]" class="small">
              <p>
                The following permission(s) will be given when this team is assigned:
              </p>
              {{#each team.roles as |role|}}
                {{role}}<br>
              {{/each}}
            </Popover>
          {{/if}}
        </div>
        <div>
          <div class="form-check">
            <input id="team-manager-{{team.id}}"
                   type="checkbox"
                   class="form-check-input"
                   checked={{team.managerSelect.selected}}
              {{on "change" (fn this.managerClick team)}}
            />
            <label for="team-manager-{{team.id}}" class="form-check-label">Is Team Manager</label>
          </div>
        </div>
      </div>
      {{#unless team.active}}
        <p class="text-danger">
          Note: the Clubhouse Team has been deactivated. However, the team is selected, the person is
          a Clubhouse Team Manager, and/or has granted team positions. The recommendation is to deselect
          all selected items.
        </p>
      {{/unless}}
      {{#if (or team.allMembers team.optional team.allRangers)}}
        <MembershipPosition @title="Positions all team members are recommended to have"
                            @positions={{team.allMembers}}
                            @itemClick={{this.itemClick}}
                            @saveAction={{this.saveAction}}
        />
        <MembershipPosition @title="Optional team positions (membership recommended)"
                            @positions={{team.optional}}
                            @itemClick={{this.itemClick}}
                            @saveAction={{this.saveAction}}
        />
        <MembershipPosition @title="Public positions (membership not required)"
                            @positions={{team.allRangers}}
                            @itemClick={{this.itemClick}}
                            @saveAction={{this.saveAction}}
        />
      {{else}}
        <div class="mb-2">
          <i>Team does not have any positions underneath it.</i>
        </div>
      {{/if}}
      <UiButton @onClick={{this.saveAction}} @size="sm">Save</UiButton>
    </div>
  {{/each}}
</div>
<LinkTo @route="person.index" @model={{this.person.id}}>Back To Account Info</LinkTo>
