<h3>Mentors</h3>

{{#each this.mentors as |event|}}
  <UiSection>
    <:title>Year {{event.year}} - {{event.status}}</:title>
    <:body>
      <div class="d-flex flex-wrap">
        {{#each event.mentors as |mentor|~}}
        {{! template-lint-disable no-inline-styles}}
          <div class="card me-4 mb-2" style="width: 10rem;">
            {{#if mentor.profile_url}}
              <img src={{mentor.profile_url}} alt="profile" class="card-img-top" loading="lazy">
            {{else}}
              <i class="far fa-user fa-8x text-center my-4"></i>
              <div class="card-text text-center mb-3">(No Photo)</div>
            {{/if}}
            <div class="card-body">
              <div class="card-title h4 text-center">
                <PersonLink @person={{mentor}} />
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </:body>
  </UiSection>
{{else}}
  No mentor records were found.
{{/each}}
