<h3>Mentors</h3>

{{#if this.canUpdateMentors}}
  <p>
    You have the permissions to update the mentors' result. Updating the result will NOT convert the account status.
  </p>
{{/if}}
{{#each this.mentors as |event|}}
  <UiSection>
    <:title>Year {{event.year}} - {{event.status}}</:title>
    <:body>
      {{#if this.canUpdateMentors}}
        <div class="row mb-2">
          <label>Update status:</label>
          <div class="col-auto">
          <ChForm::Select @name="status_{{event.year}}"
                          @value={{event.newStatus}}
                          @options={{this.statusOptions}}
                          @onChange={{action (mut event.newStatus)}}/>
          </div>
          <div class="col-auto">
            <UiButton @onClick={{action this.updateStatus event}}>
              Update
            </UiButton>
          </div>
        </div>
      {{/if}}
      <div class="d-flex flex-wrap">
        {{#each event.mentors as |mentor|~}}
        {{! template-lint-disable no-inline-styles}}
          <div class="card me-4 mb-2" style="width: 10rem;">
            {{#if mentor.profile_url}}
              <img src={{mentor.profile_url}} alt="profile" class="card-img-top" loading="lazy">
            {{else}}
              <i class="far fa-user fa-8x text-center my-4"></i>
              <div class="card-text text-center mb-3">(No Photo)</div>
            {{/if}}
            <div class="card-body">
              <div class="card-title h4 text-center">
                <PersonLink @person={{mentor}} />
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </:body>
  </UiSection>
{{else}}
  No mentor records were found.
{{/each}}

{{#if this.isSubmitting}}
  <LoadingDialog>
    Updating result
  </LoadingDialog>
{{/if}}