<h3>Mentors</h3>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>Year</th>
      <th>Status</th>
      <th>Mentors</th>
    </tr>
  </thead>
  <tbody>
    {{#each mentors as |event|}}
      <tr>
        <td>{{event.year}}</td>
        <td>{{event.status}}</td>
        <td>
          {{#each event.mentors as |mentor idx|~}}
            {{if idx "/"}}
            <PersonLink @person={{mentor}} />
          {{/each}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="3">No mentor records located?!?</td>
      </tr>
    {{/each}}
  </tbody>
</table>
