<h3>Update Personal Information</h3>
<p>
Last reviewed by {{this.person.callsign}} on
{{#if this.person.reviewed_pi_at}}
  {{moment-format this.person.reviewed_pi_at "MMM DD, YYYY @ HH:mm"}}
{{else}}
  <i>unknown</i>
{{/if}}
</p>

{{#if this.canEditPersonalInfo}}
  <ChForm @formId="person" @formFor={{this.person}} @validator={{this.personInfoValidations}}
          @onSubmit={{this.onSubmit}}
          @onCancel={{this.onCancel}} as |f|>
    <fieldset>
      <legend>General Information</legend>
      <div class="form-row">
        <f.input @name="first_name" @type="text" @label="First Name" @maxlength=25 @grid="col-sm-4 col-md-auto"/>
        <f.input @name="mi" @type="text" @label="M.I." @size="2" @maxlength=10 @grid="col-sm-1 col-md-auto"/>
        <f.input @name="last_name" @type="text" @label="Last Name" @maxlength=25 @grid="col-sm-4 col-md-auto"/>
      </div>
      <div class="form-row">
        <f.input @name="email" @label="Email" @type="text" @inputmode="email" @size=25 @maxlength=50 @grid="col-sm-12 col-md-auto"
                 @noSpaces={{true}} />
      </div>
      <div class="form-row">
        <f.input @name="home_phone" @type="text" @inputmode="tel" @label="Primary Phone" @grid="col-sm-4 col-md-auto"
                 @maxlength=25/>
          <f.input @name="alt_phone" @type="text" @inputmode="tel" @label="Alternative Phone" @grid="col-sm-4 col-md-auto"
                  @maxlength=25/>
      </div>

      <div class="form-row">
        <f.input @name="gender" @type="text" @label="Gender" @hint="female, male, non-binary, gender fluid, etc."
                 @maxlength=32/>
      </div>

      <div class="form-row">
        <f.input @name="callsign_pronounce" @type="text" @label="Callsign Pronounciation" @size=32 @maxlength=32 @grid="col-sm-12 col-md-auto"/>
      </div>

      <div class="form-row">
        <f.input @name="languages" @label="Languages Spoken"
                 @hint="List the English names of languages you are comfortable speaking separated by a comma. Ex: english, french, japanese"/>
      </div>
      <div class="form-row col-auto">
        <f.input @name="camp_location" @type="textarea" @label="Camp Name & Location" @cols=50 @rows=4 @maxlength=200
                 @hint={{concat (if f.model.camp_location f.model.camp_location.length "0") " of 200 characters"}} />
      </div>
    </fieldset>

    <fieldset>
      <legend>Home Address</legend>
      <PersonAddressEdit @f={{f}} />
    </fieldset>

    <fieldset>
      <legend>Ranger Clothing</legend>
      <div class="form-row">
        <f.input @name="teeshirt_size_style" @type="select" @label="T-Shirt Size" @options={{this.shortSleeveOptions}}
                 @grid="col-sm-12 col-md-auto"/>
        <f.input @name="longsleeveshirt_size_style" @type="select" @label="Long Sleeve Shirt Size"
                 @options={{this.longSleeveOptions}} @grid="col-sm-12 col-md-auto"/>
      </div>
    </fieldset>

    <f.submit @label="Update" @disabled={{this.person.isSaving}} />
    <f.cancel @disabled={{this.person.isSaving}} />
    {{#if this.person.isSaving}}
      <LoadingIndicator/>
    {{/if}}
  </ChForm>
{{else}}
  <dl class="row">
    <dt class="col-md-3">Name</dt>
    <dd class="col-md-8">
      {{this.person.first_name}} {{this.person.mi}} {{this.person.last_name}}
    </dd>

    <dt class="col-md-3">Email</dt>
    <dd class="col-md-8">
      {{mail-to this.person.email}}
    </dd>

    <dt class="col-md-3">Gender</dt>
    <dd class="col-md-8">
      <PresentOrNot @value={{this.person.gender}} />
    </dd>

    <dt class="col-md-3">Languages</dt>
    <dd class="col-md-8">
      <PresentOrNot @value={{this.person.languages}} />
    </dd>

    <dt class="col-md-3">Camp Location</dt>
    <dd class="col-md-8">
      <PresentOrNot @value={{this.person.camp_location}} />
    </dd>

    <dt class="col-md-3">Short Sleeve</dt>
    <dd class="col-md-8">
      {{this.person.teeshirt_size_style}}
    </dd>

    <dt class="col-md-3">Long Sleeve</dt>
    <dd class="col-md-8">
      {{this.person.longsleeveshirt_size_style}}
    </dd>

    <dt class="col-md-3">Home Address</dt>
    <dd class="col-md-8">
      {{this.person.street1}} {{this.person.apt}}<br>
      {{#if this.person.street2}}
        {{this.person.street2}}<br>
      {{/if}}
      {{this.person.city}}, {{this.person.state}} {{this.person.zip}}<br>
      {{this.person.country}}
    </dd>

    <dt class="col-md-3">Home Phone</dt>
    <dd class="col-md-8">
      {{#if this.person.home_phone}}
        {{phone-link this.person.home_phone}}
      {{else}}
        <i>none given</i>
      {{/if}}
    </dd>

    <dt class="col-md-3">Alt. Phone</dt>
    <dd class="col-md-8">
      {{#if this.person.alt_phone}}
        {{phone-link this.person.alt_phone}}
      {{else}}
        <i>none given</i>
      {{/if}}
    </dd>
  </dl>
{{/if}}
