<h3>Personal Information for {{this.person.callsign}}</h3>
<p>
  {{this.person.callsign}}
  {{#if this.person.reviewed_pi_at}}
    last reviewed their information on
    {{dayjs-format this.person.reviewed_pi_at "MMM DD, YYYY @ HH:mm"}} (UTC-7)
  {{else}}
    has not reviewed their Personal Information.
  {{/if}}
</p>
{{#if this.canEditPersonalInfo}}
  <p>
    Jump to: <a href="#person-general">Name</a>
    | <a href="#person-contact">Email/Phone</a>
    | <a href="#person-callsign">Callsign</a>
    | <a href="#person-clothing">Clothing</a>
    | <a href="#person-address">Address</a>
  </p>
  <ChForm @formId="person"
          @formFor={{this.person}}
          @validator={{this.personInfoValidations}}
          @onSubmit={{this.onSubmit}} as |f|>
    <UiSection id="person-general">
      <:title>General Information</:title>
      <:body>
        <FormRow>
          <f.text @name="first_name"
                  @label="First Name"
                  @maxlength={{25}}/>
          <f.text @name="mi"
                  @label="M.I."
                  @size={{2}}
                  @maxlength={{10}}/>
          <f.text @name="last_name"
                  @label="Last Name"
                  @maxlength={{25}}/>
        </FormRow>
        <FormRow>
          <f.text @name="gender"
                  @label="Gender"
                  @hint="female, male, non-binary, gender fluid, etc."
                  @maxlength={{32}}
          />
        </FormRow>
        <FormRow>
          <f.select @name="pronouns"
                    @label="Pronouns"
                    @options={{this.pronounOptions}}/>
          {{#if (eq f.model.pronouns "custom")}}
            <f.text
              @name="pronouns_custom"
              @label="Their pronouns (e.g, ze/zim/zir, she/them/theirs, etc.)"
              @size={{30}}
              @maxlength={{30}}
            />
          {{/if}}
        </FormRow>
      </:body>
    </UiSection>
    <UiSection id="person-contact">
      <:title>Contact Information</:title>
      <:body>
        <FormRow>
          <f.text @name="email"
                  @label="Email"
                  @inputmode="email"
                  @size={{25}}
                  @maxlength={{50}}
                  @noSpaces={{true}}/>
          <f.text @name="home_phone"
                  @inputmode="tel"
                  @label="Primary Phone"
                  @maxlength={{25}}/>
          <f.text @name="alt_phone"
                  @inputmode="tel"
                  @label="Alternative Phone"
                  @maxlength={{25}}/>
        </FormRow>
      </:body>
    </UiSection>
    <UiSection class="person-camp">
      <:title>Camp Name &amp; Location</:title>
      <:body>
        <FormRow>
          <f.textarea @name="camp_location"
                      @label="Camp Name & Location"
                      @cols={{50}}
                      @rows={{4}}
                      @maxlength={{200}}
                      @showCharCount={{true}} />
        </FormRow>
      </:body>
    </UiSection>
    <UiSection id="person-callsign">
      <:title>Callsign Pronunciation</:title>
      <:body>
        <FormRow>
          <f.text @name="callsign_pronounce"
                  @label="Callsign Pronounciation"
                  @size={{32}}
                  @maxlength={{32}}
          />
        </FormRow>
      </:body>
    </UiSection>
    <UiSection id="person-languages">
      <:title>Languages</:title>
      <:body>
        <p>
          List the English names of the languages they are comfortable speaking with the level of fluency in
          parenthesis, each separated by a comma.
        </p>
        <p>
          Example: "japanese (basic), spanish (fluent)"
        </p>

        <FormRow>
          <f.text @name="languages"
                  @label="Languages Spoken"
                  @size={{80}} />
        </FormRow>
      </:body>
    </UiSection>
    <UiSection id="person-clothing">
      <:title>Ranger Clothing</:title>
      <:body>
        <FormRow>
          <f.select @name="teeshirt_size_style"
                    @label="T-Shirt Size"
                    @options={{this.shortSleeveOptions}}
          />
          <f.select @name="longsleeveshirt_size_style"
                    @label="Long Sleeve Shirt Size"
                    @options={{this.longSleeveOptions}}
          />
        </FormRow>
      </:body>
    </UiSection>
    <UiSection id="person-address">
      <:title>Home Address</:title>
      <:body>
        <PersonAddressEdit @f={{f}} />
      </:body>
    </UiSection>

    <f.submit @label="Update" @disabled={{this.person.isSaving}} />
    <UiCancelButton @disabled={{this.person.isSaving}} @onClick={{this.onCancel}} />
    {{#if this.person.isSaving}}
      <LoadingIndicator/>
    {{/if}}
  </ChForm>
{{else}}
  <dl class="row">
    <dt class="col-lg-3">Name</dt>
    <dd class="col-lg-8">
      {{this.person.first_name}} {{this.person.mi}} {{this.person.last_name}}
    </dd>

    <dt class="col-lg-3">Email</dt>
    <dd class="col-lg-8">
      {{mail-to this.person.email}}
    </dd>

    <dt class="col-lg-3">Home Phone</dt>
    <dd class="col-lg-8">
      {{#if this.person.home_phone}}
        {{phone-link this.person.home_phone}}
      {{else}}
        <i>none given</i>
      {{/if}}
    </dd>

    <dt class="col-lg-3">Alt. Phone</dt>
    <dd class="col-lg-8">
      {{#if this.person.alt_phone}}
        {{phone-link this.person.alt_phone}}
      {{else}}
        <i>none given</i>
      {{/if}}
    </dd>

    <dt class="col-lg-3">Gender</dt>
    <dd class="col-lg-8">
      <PresentOrNot @value={{this.person.gender}} />
    </dd>

    <dt class="col-lg-3">Languages</dt>
    <dd class="col-lg-8">
      <PresentOrNot @value={{this.person.languages}} />
    </dd>

    <dt class="col-lg-3">Camp Location</dt>
    <dd class="col-lg-8">
      <PresentOrNot @value={{this.person.camp_location}} />
    </dd>

    <dt class="col-lg-3">Short Sleeve</dt>
    <dd class="col-lg-8">
      {{this.person.teeshirt_size_style}}
    </dd>

    <dt class="col-lg-3">Long Sleeve</dt>
    <dd class="col-lg-8">
      {{this.person.longsleeveshirt_size_style}}
    </dd>

    <dt class="col-lg-3">Home Address</dt>
    <dd class="col-lg-8">
      {{this.person.street1}} {{this.person.apt}}<br>
      {{#if this.person.street2}}
        {{this.person.street2}}<br>
      {{/if}}
      {{this.person.city}}, {{this.person.state}} {{this.person.zip}}<br>
      {{this.person.country}}
    </dd>
  </dl>
{{/if}}
