<h1>Photo History</h1>

{{#if this.photos}}
  <p>
    Click on the photo to show a larger version. Active = photo in use. Inactive = photo is archived.
  </p>
  <p>
    Showing {{pluralize this.photos.length "photo"}}.
  </p>
  <PhotoTable @photos={{this.photos}} @deletePhotoAction={{this.deletePhotoAction}}
              @activatePhotoAction={{this.activatePhotoAction}} @person={{this.person}}
              @rejectionLabels={{this.rejectionLabels}}
  />
{{else}}
  <p>
    <b>{{this.person.callsign}} has no photos on file.</b>
  </p>
{{/if}}

