<h1>Photo History</h1>

{{#if this.photos}}
  <p>
    Click on the photo to show a larger version. Active = photo in use. Inactive = photo is archived.
  </p>
  <p>
    Showing {{pluralize this.photos.length "photo"}}.
  </p>
  <table class="table table-stripped table-hover table-width-auto">
    <thead>
    <tr>
      <th>Photo</th>
      <th>ID</th>
      <th>Status</th>
      <th>Uploaded</th>
      <th>Reviewed</th>
      <th>Edited</th>
      <th>Actions</th>
      <th>Machine Analysis</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.photos as |photo|}}
      <tr>
        <td>
          <img id={{concat "photo-" photo.id}}
               src="{{photo.image_url}}"
               class="float-left photo-icon"
               {{on "click" (fn this.showPhotoAction photo)}} />
        </td>
        <td>
          {{photo.id}}
        </td>
        <td>
          {{#if (eq photo.status "approved")}}
            <b class="text-success">{{fa-icon "check"}} {{photo.status}}</b>
          {{else if (eq photo.status "rejected")}}
            <b class="text-danger">{{fa-icon "times"}} {{photo.status}}</b>
          {{else}}
            {{photo.status}}
          {{/if}}<br>
          {{#if photo.is_active}}
            <b>ACTIVE</b>
          {{else}}
            <span class="text-muted">inactive</span>
          {{/if}}
        </td>
        <td>
          {{#if photo.uploaded_at}}
            {{photo.uploaded_at}}<br>
            by {{#if photo.upload_person}}
            <PersonLink @person={{photo.upload_person}} />
          {{else}}
            <i>unknown</i>
          {{/if}}
          {{else}}
            <i>never</i>
          {{/if}}
        </td>
        <td>
          {{#if photo.reviewed_at}}
            {{photo.reviewed_at}}<br>
            by {{#if photo.review_person}}
            <PersonLink @person={{photo.review_person}} />
          {{else}}
            <i>unknown</i>
          {{/if}}
          {{else}}
            <i>never</i>
          {{/if}}
        </td>
        <td>
          {{#if photo.edited_at}}
            {{photo.edited_at}}<br>
            by {{#if photo.edit_person}}
            <PersonLink @person={{photo.edit_person}} />
          {{else}}
            <i>unknown</i>
          {{/if}}
          {{else}}
            <i>never</i>
          {{/if}}
        </td>
        <td>
          <button type="button" class="btn btn-light-red" {{action this.deletePhotoAction photo}}
                  disabled={{photo.isSaving}}>{{fa-icon "trash"}} Delete
          </button>
          {{#unless photo.is_active}}
            <button type="button" class="btn btn-secondary" {{action this.activatePhotoAction photo}}>{{fa-icon "star"}}
              Activate
            </button>
          {{/unless}}
        </td>
        <td>
          {{#if (eq photo.analysis_details.status "success")}}
            {{#each photo.analysis_details.issues as |issue|}}
              {{issue}}
            {{else}}
              no problems found
            {{/each}}<br>
            sharpness {{photo.analysis_details.sharpness}}
          {{else if (eq photo.analysis_status "failed")}}
            failed
          {{else}}
            N/A
          {{/if}}
        </td>
      </tr>

      {{#if (eq photo.status "rejected")}}
        <tr>
          <td colspan="7">
            Rejection reasons:
            {{#each photo.reject_labels as |reason idx|~}}
              {{~if idx ", " ~}}{{reason~}}
            {{else}}
              <i>none given</i>
            {{/each}}
            <p>
              Reject message:<br>
              {{present-or-not photo.reject_message "none given"}}
            </p>
          </td>
        </tr>
      {{/if}}
    {{/each}}
    </tbody>
  </table>
{{else}}
  <p>
    <b>{{this.person.callsign}} has no photos on file.</b>
  </p>
{{/if}}

{{#if this.photo}}
  <ModalDialog @title={{concat "Photo #" this.photo.id}} as |modal|>
    <modal.body>
      <p>
        Width {{this.photo.width}} Height {{this.photo.height}}
      </p>
      <img src={{this.photo.image_url}} class="d-block mx-auto"/>
    </modal.body>

    <modal.footer>
      <modal.button @label="Close" @action={{this.closePhotoAction}} @type="primary"/>
    </modal.footer>
  </ModalDialog>
{{/if}}
