<h3>Swag (Shirts, Service Pins &amp; Patches) for {{this.person.callsign}}</h3>

<p>
  Do not add, adjust, or remove service items from a person account unless instructed to do so by the Quartermaster.
</p>
<p>
Service years:
{{#if this.person.years_of_service}}
  {{pluralize this.person.years_of_service.length "year"}}
  [{{year-range this.person.years_of_service}}]
{{else}}
  <i>none</i>
{{/if}}<br>
</p>
<p>
  <UiButtonRow>
    <UiButton @onClick={{fn this.newSwag "t-shirt"}}>{{fa-icon "shirt" right=1}} T-Shirt</UiButton>
    <UiButton @onClick={{fn this.newSwag "long-sleeve"}}>{{fa-icon "shirt" right=1}} Long Sleeve Shirt</UiButton>
    <UiButton @onClick={{fn this.newSwag "dept-pin"}}>{{fa-icon "map-pin" right=1}} Ranger Pin</UiButton>
    <UiButton @onClick={{fn this.newSwag "dept-patch"}}>{{fa-icon "medal" right=1}} Ranger Patch</UiButton>
    <UiButton @onClick={{fn this.newSwag "org-patch"}}>{{fa-icon "location-dot" right=1}} Org Patch</UiButton>
    <UiButton @onClick={{fn this.newSwag "org-pin"}}>{{fa-icon "location-dot" right=1}} Org Pin</UiButton>
    <UiButton @onClick={{fn this.newSwag "other"}}>{{fa-icon "star" right=1}} Other Swag</UiButton>
  </UiButtonRow>
</p>
Showing {{pluralize this.personSwag.length "item"}}
<UiTable>
  <thead>
  <tr>
    <th>Swag</th>
    <th>Type</th>
    <th>Year Issued</th>
    <th>Notes</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.personSwag as |ps|}}
    <tr>
      <td>{{ps.swagTitle}}</td>
      <td>{{ps.swagTypeLabel}}</td>
      <td>
        <PresentOrNot @value={{ps.year_issued}} @empty="-"/>
      </td>
      <td>
        <PresentOrNot @value={{ps.notes}} @empty="-"/>
      </td>
      <td>
        <UiEditButton @onClick={{fn this.editSwag ps}} />
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="5" class="text-danger">No swag has been recorded yet.</td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>

{{#if this.swagEntry}}
  <ModalDialog @size="xl" @onEscape={{this.cancelSwag}} as |Modal|>
    <ChForm @formFor={{this.swagEntry}}
            @formId="person_swag"
            @validator={{this.swagValidation}}
            @onSubmit={{this.saveSwag}} as |f|>
      <Modal.title>{{if this.swagEntry.isNew "Record" "Edit"}} Swag</Modal.title>
      <Modal.body>
        <FormRow>
          <f.radioGroup @name="swag_id"
                        @label={{this.swagTitle}}
                        @options={{this.swagOptions}}
                        @groupWrapClass="masonry-container masonry-col-4"
          />
        </FormRow>
        <FormRow>
          <f.number @label="Year Issued" @name="year_issued" @maxlength={{4}}  />
        </FormRow>
        <FormRow>
          <f.textarea @name="notes" @label="Notes (optional)" @rows={{2}} @cols={{80}} />
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label={{if this.swagEntry.isNew "Create" "Update"}} @disabled={{this.swagEntry.isSaving}} />
        <UiCancelButton @onClick={{this.cancelSwag}} @disabled={{this.swagEntry.isSaving}}/>
        {{#unless this.swagEntry.isNew}}
          <div class="ms-auto">
            <UiButton @type="danger" @size="sm" @onClick={{this.deleteSwag}}>{{fa-icon "trash"}} Delete</UiButton>
          </div>
        {{/unless}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
