<h3>Swag (Shirts, Service Pins &amp; Patches) for {{this.person.callsign}}</h3>

<p>
  <Person::YearsBreakdown @person={{this.person}} />
</p>

{{#if this.canEdit}}
  <p>
    <UiButtonRow>
      <UiButton @onClick={{fn this.newSwag "t-shirt"}} @size="md">
        {{fa-icon "shirt" right=1}} T-Shirt
      </UiButton>
      <UiButton @onClick={{fn this.newSwag "long-sleeve"}} @size="md">
        {{fa-icon "shirt" right=1}} Long Sleeve Shirt
      </UiButton>
      <UiButton @onClick={{fn this.newSwag "dept-pin"}} @size="md">
        {{fa-icon "map-pin" right=1}} Ranger Pin
      </UiButton>
      <UiButton @onClick={{fn this.newSwag "dept-patch"}} @size="md">
        {{fa-icon "medal" right=1}} Ranger Patch
      </UiButton>
      <UiButton @onClick={{fn this.newSwag "org-patch"}} @size="md">
        {{fa-icon "location-dot" right=1}} Org Patch
      </UiButton>
      <UiButton @onClick={{fn this.newSwag "org-pin"}} @size="md">
        {{fa-icon "location-dot" right=1}} Org Pin
      </UiButton>
      <UiButton @onClick={{fn this.newSwag "other"}} @size="md">
        {{fa-icon "star" right=1}} Other Swag
      </UiButton>
    </UiButtonRow>
  </p>
{{/if}}
Showing {{pluralize this.personSwag.length "item"}}
<UiTable>
  <thead>
  <tr>
    <th>Swag</th>
    <th>Type</th>
    <th>Year Issued</th>
    <th>Notes</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {{#each this.personSwag as |ps|}}
    <tr>
      <td>{{ps.swagTitle}}</td>
      <td>{{ps.swagTypeLabel}}</td>
      <td>
        <PresentOrNot @value={{ps.year_issued}} @empty="-"/>
      </td>
      <td>
        <PresentOrNot @value={{ps.notes}} @empty="-"/>
      </td>
      {{#if this.canEdit}}
        <td>
          <UiEditButton @onClick={{fn this.editSwag ps}} />
        </td>
      {{/if}}
    </tr>
  {{else}}
    <tr>
      <td colspan="5" class="text-danger">No swag has been recorded yet.</td>
    </tr>
  {{/each}}
  </tbody>
</UiTable>

{{#if this.swagEntry}}
  <ModalDialog @size="xl" @onEscape={{this.cancelSwag}} as |Modal|>
    <ChForm @formFor={{this.swagEntry}}
            @formId="person_swag"
            @validator={{this.swagValidation}}
            @onSubmit={{this.saveSwag}} as |f|>
      <Modal.title>{{if this.swagEntry.isNew "Record" "Edit"}} Swag</Modal.title>
      <Modal.body>
        <FormRow>
          <f.radioGroup @name="swag_id"
                        @label={{this.swagTitle}}
                        @options={{this.swagOptions}}
                        @groupWrapClass="masonry-container masonry-col-4"
          />
        </FormRow>
        <FormRow>
          <f.number @label="Year Issued" @name="year_issued" @maxlength={{4}}  />
        </FormRow>
        <FormRow>
          <f.textarea @name="notes" @label="Notes (optional)" @rows={{2}} @cols={{80}} />
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <UiButtonRow>
          <f.submit @label={{if this.swagEntry.isNew "Create" "Update"}}
                    @size="md"
          />
          <UiCancelButton @onClick={{this.cancelSwag}} @size="md"/>
          {{#unless this.swagEntry.isNew}}
            <div class="ms-auto">
              <UiDeleteButton @onClick={{this.deleteSwag}} />
            </div>
          {{/unless}}
        </UiButtonRow>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.swagEntry.isSaving}}
  <LoadingDialog>Saving the entry</LoadingDialog>
{{/if}}
