<p>
  Period: {{this.ticketingInfo.period}}
  {{#if (eq this.ticketingInfo.period "open")}}
    Tickets: {{this.ticketingInfo.ticket_status}} TAS_VP: {{this.ticketingInfo.vp_status}}
    WAP: {{this.ticketingInfo.wap_status}}, TAS_WAPSO: {{this.ticketingInfo.wap_so_status}}
    Delivery: {{this.ticketingInfo.delivery_status}}
  {{/if}}
</p>
<hr>
<TicketingLanding @person={{this.person}}
                  @ticketingInfo={{this.ticketingInfo}}
                  @ticketingPackage={{this.ticketingPackage}} />
