<YearSelect @title="Timesheet Logs" @year={{this.year}} @years={{this.person.all_years}}
            @subheader={{true}} @onChange={{action (mut this.year)}} />
<p>
  <LinkTo @route="person.timesheet" @query={{hash year=this.year}}>Back To {{this.year}} Timesheet Entries</LinkTo>
</p>
{{#each this.logs as |entry|}}
  <table class="table table-sm table-striped table-box mt-2">
    <caption>
      Timesheet #{{entry.timesheet_id}}
      {{#if entry.timesheet}}
        {{entry.timesheet.position_title}}:
        {{shift-format entry.timesheet.on_duty }} -
        {{#if entry.timesheet.off_duty}}
          {{shift-format entry.timesheet.off_duty}}
        {{else}}
          <i>Still On Duty</i>
        {{/if}}
      {{else}}
        DELETED
      {{/if}}
    </caption>

    <thead>
    <tr>
      <th class="timesheetlog-time">Time</th>
      <th class="timesheetlog-action">Action</th>
      <th class="timesheetlog-user">User</th>
      <th class="timesheetlog-message">Message</th>
    </tr>
    </thead>

    <tbody>
    {{#each entry.logs as |log|}}
      <tr>
        <td class="timesheetlog-time">{{shift-format log.created_at}}</td>
        <td class="timesheetlog-action">{{log.action}}</td>
        <td cclass="timesheetlog-user">
          <PersonLink @personId={{log.creator_person_id}} @callsign={{log.creator_callsign}} />
        </td>
        <td class="timesheetlog-message">{{log.message}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{else}}
  <p class="text-danger">No timesheet logs found for {{this.year}}. Entries are not available prior to 2018.</p>
{{/each}}

<table class="table table-sm table-box table-striped mb-4">
  <caption>Other Timesheet Actions</caption>
  <thead>
  <tr>
    <th class="timesheetlog-time">Time</th>
    <th class="timesheetlog-action">Action</th>
    <th class="timesheetlog-user">User</th>
    <th class="timesheetlog-message">Message</th>
  </tr>
  </thead>

  <tbody>
  {{#each this.otherLogs as |log|}}
    <tr>
      <td class="timesheetlog-time">{{shift-format log.created_at}}</td>
      <td class="timesheetlog-action">{{log.action}}</td>
      <td class="timesheetlog-user">
        <PersonLink @personId={{log.creator_person_id}} @callsign={{log.creator_callsign}} />
      </td>
      <td class="timesheetlog-message">{{log.message}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="4"><b class="text-danger">No other logs found for {{this.year}}</b></td>
    </tr>
  {{/each}}
  </tbody>
</table>
