<div class="float-right mt-1">
  <LinkTo @route="person.timesheet-log" @query={{hash year=year}} class="btn btn-primary">Timesheet Log</LinkTo>
</div>
<YearSelect @title="Timesheet" @year={{this.year}} @years={{person.all_years}} @onChange={{action (mut this.year)}} @subheader={{true}} />
<div class="border rounded p-2 mt-3 mb-2">
  <h3>Shift Manage</h3>
  {{#if (is-current-year this.year)}}
    <ShiftCheckInOut @positions={{this.positions}} @timesheets={{this.timesheets}} @person={{this.person}} @eventInfo={{this.eventInfo}} />
  {{else}}
    Select the current year to start or end a shift
  {{/if}}
</div>
<Person::TimesheetManage @timesheets={{this.timesheets}} @person={{this.person}} @year={{this.year}} @positions={{positions}} @onChange={{this.updateTimesheetSummary}} @timesheetSummary={{this.timesheetSummary}} />
<Person::TimesheetMissing @timesheetMissing={{this.timesheetMissing}} @timesheets={{this.timesheets}} @person={{this.person}} @year={{this.year}} @positions={{this.positions}} @onChange={{this.updateTimesheetSummary}} />
