<YearSelect @title="Timesheet"
            @year={{this.year}}
            @years={{this.person.years_combined}}
            @onChange={{set-value this 'year'}}
            @subheader={{true}} />
<UiTab class="mt-4" as |tab|>
  <tab.pane @title="Timesheet / Missing Entry Requests" @id="timesheet">
    {{#if this.timesheetPendingCount}}
      <UiAlert @icon="arrow-right" @type="warning">
        {{pluralize this.timesheetPendingCount "timesheet entry"}} requires correction review.
      </UiAlert>
    {{/if}}

    {{#if this.missingRequestPendingCount}}
      <UiAlert @icon="arrow-right" @type="warning">
        {{pluralize this.missingRequestPendingCount "Missing Timesheet Entry Request"}} requires attention.
        Jump to <a href="#missing-requests">Missing Timesheet Entry Requests</a>
      </UiAlert>
    {{/if}}

    {{#if (is-current-year this.year)}}
      {{#if this.timesheetInfo.timesheet_confirmed}}
        <UiAlert @icon="check" @type="success">
          Timesheet confirmed correct on
          {{shift-format this.timesheetInfo.timesheet_confirmed_at year=true}} (Pacific). Any further updates to the
          entries will un-confirm the entire timesheet.
        </UiAlert>
      {{else}}
        <UiAlert @icon="hand" @type="secondary">
          {{this.person.callsign}} has not yet confirmed the {{this.year}} timesheet is correct.
        </UiAlert>
      {{/if}}
    {{/if}}
    {{#if this.session.isAdmin}}
      <div class="d-flex justify-content-end mb-2">
        <div>
          <UiButtonRow>
            <UiButton @onClick={{this.confirmTimesheetAction}} @type="secondary" @size="sm">
              {{if this.timesheetInfo.timesheet_confirmed "Un-Confirm" "Confirm"}} Timesheet
            </UiButton>
            <Person::TimesheetBackfill @person={{this.person}} />
          </UiButtonRow>
        </div>
      </div>
    {{/if}}
    {{#if (lt this.year 2008)}}
      <p class="text-danger">
        Note: The department did not start tracking volunteer hours until 2008. Any timesheets prior to 2008 are
        placeholders and do not represent the actual volunteer efforts.
      </p>
    {{/if}}

    <Person::TimesheetManage @timesheets={{this.timesheets}}
                             @person={{this.person}}
                             @year={{this.year}}
                             @positions={{this.positions}}
                             @timesheetSummary={{this.timesheetSummary}}
                             @startShiftNotify={{this.startShiftNotify}}
                             @endShiftNotify={{this.endShiftNotify}}
                             @onChange={{this.onTimesheetChange}}
    />

    <Person::TimesheetMissing @timesheetMissing={{this.timesheetMissing}}
                              @timesheets={{this.timesheets}}
                              @person={{this.person}}
                              @year={{this.year}}
                              @positions={{this.positions}}
                              @onChange={{this.onTimesheetChange}}
    />

  </tab.pane>
  <tab.pane @title="Audit Log" @id="audit-log">
    {{#if (eq tab.activeId "audit-log")}}
      <Person::TimesheetLog @person={{this.person}} @year={{this.year}} />
    {{/if}}
  </tab.pane>
  <tab.pane @title="Hours/Credits Breakdown" @id="breakdown">
    <TimesheetSummary @summary={{this.timesheetSummary}} @year={{this.year}} />
  </tab.pane>
  <tab.pane @title="Position Summary" @id="position-summary">
    <TimesheetPositionSummary @timesheets={{this.timesheets}} @year={{this.year}} />
  </tab.pane>
  <tab.pane @title="Shift Check In/Out" @id="shift-manage">
    {{#if (has-role "admin" "shift-management")}}
      <ShiftCheckInAlerts @positions={{this.positions}}
                          @person={{this.person}}
                          @upcomingSlots={{this.upcomingSlots}}
                          @eventInfo={{this.eventInfo}}
                          @selfServe={{false}}
      />

      When on playa operations are running, please use the HQ Window Interface to start or end a shift.
      <UiNotice @title="Need to create a timesheet entry?" @type="gray" @icon="hand-point-right" @iconType="r">
        Use the Missing Timesheet Request feature under the 'Timesheet / Missing Entry Requests' tab.
        Click on 'New Request', save, open the newly created request,
        and then approve it. This provides a better audit trail on why a timesheet entry was created.
      </UiNotice>
      <UiSection>
        <:title>Shift Check In/Out</:title>
        <:body>
          {{#if (is-current-year this.year)}}
            <ShiftCheckInOut @positions={{this.positions}}
                             @timesheets={{this.timesheets}}
                             @person={{this.person}}
                             @eventInfo={{this.eventInfo}}
                             @onDutyEntry={{this.onDutyEntry}}
                             @startShiftNotify={{this.startShiftNotify}}
                             @endShiftNotify={{this.endShiftNotify}}
                             @year={{this.year}}
            />
          {{else}}
            Select the current year to start or end a shift
          {{/if}}
        </:body>
      </UiSection>
    {{else}}
      You either do not have year round shift management permissions, or the event is not running.
    {{/if}}
  </tab.pane>
</UiTab>
