<h2>Unified Flagging for {{this.person.callsign}}</h2>

{{#if this.history.personnel_issue}}
  <ChNotice @type="danger" @icon="flag" @title="Personnel Flag Raised For {{this.person.callsign}}">
    <p>
      All training and mentor activity should be suspended and no further actions taken until the situation is resolved.
    </p>
    Contact the Personnel Manager for more information.
  </ChNotice>
{{/if}}
<UiSection>
  <:title>Known Rangers & PNVs</:title>
  <:body>
    <p>
      Known Rangers & PNV are usually imported from Salesforce as part of the VolQ.
      The fields will be populated on various Mentor pages and reports.
    </p>
    {{#if (has-role "admin" "vc" "intake")}}
      <ChForm @formId="person" @formFor={{this.person}} @onSubmit={{this.savePersonAction}} as |f|>
        <FormRow>
          <FormLabel @fixed={{true}}>Rangers</FormLabel>
          <f.text @name="known_rangers"
                  @size={{50}}
                  @maxlength={{150}}
                  @fieldSize="sm"/>
        </FormRow>
        <FormRow>
          <FormLabel @fixed={{true}}>PNVs</FormLabel>
          <f.text @name="known_pnvs"
                  @size={{50}}
                  @maxlength={{150}}
                  @fieldSize="sm"/>
        </FormRow>
        <FormRow>
          <FormLabel @fixed={{true}}>&nbsp;</FormLabel>
          <div class="col-auto">
            <f.submit @label="Save" @disabled={{f.model.isSaving}} />
            {{#if f.model.isSaving}}
              <LoadingIndicator/>
            {{/if}}
          </div>
        </FormRow>
      </ChForm>
    {{else}}
      <dl class="row">
        <dt class="col-1">Known Rangers:</dt>
        <dd class="col-11">
          <PresentOrNot @value={{this.person.known_rangers}} @empty="none"/>
        </dd>
        <dt class="col-1">Known PNVs:</dt>
        <dd class="col-11">
          <PresentOrNot @value={{this.person.known_pnvs}} @empty="none"/>
        </dd>
      </dl>
    {{/if}}
  </:body>
</UiSection>

<UiSection>
  <:title>PNV Training &amp; Alpha Shift History</:title>
  <:body>
    <table class="table table-sm table-striped table-hover table-width-auto">
      <thead>
      <tr>
        <th>Year</th>
        <th>Training</th>
        <th>Mentor</th>
      </tr>
      </thead>
      <tbody>
      {{#each-in this.history.pnv_history as |pnvYear info|}}
        <tr>
          <td>{{pnvYear}}</td>
          <td>
            {{#if (is-empty info.training_status)}}
              NONE
            {{else}}
              {{info.training_status}}
            {{/if}}
          </td>
          <td>
            {{#if info.was_auditor}}
              Auditor
            {{else if (not-eq info.mentor_status 'none')}}
              {{info.mentor_status}}
            {{else if info.have_alpha_shift}}
              Walked w/No Mentors?
            {{else}}
              No Alpha shift
            {{/if}}
          </td>
        </tr>
      {{/each-in}}
      </tbody>
    </table>
  </:body>
</UiSection>

<UiSection>
  <:title>Team Notes &amp; Rank/Flags</:title>
  <:body>
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr>
        <th class="w-10">Team</th>
        <th class="w-90">Notes & Flags</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="w-5">
          Personnel
        </td>
        <td class="w-90">
          <IntakeNotes @type="personnel"
                       @person={{this.history}}
                       @viewYear={{this.year}}
                       @onSubmit={{this.noteSubmitted}} />
        </td>
      </tr>
      <tr>
        <td class="w-5">
          RRN
        </td>
        <td>
          <IntakeNotes @type="rrn"
                       @person={{this.history}}
                       @viewYear={{this.year}}
                       @onSubmit={{this.noteSubmitted}} />
        </td>
      </tr>
      <tr>
        <td class="w-5">
          VCs
        </td>
        <td>
          <IntakeNotes @type="vc"
                       @person={{this.history}}
                       @viewYear={{this.year}}
                       @onSubmit={{this.noteSubmitted}} />
        </td>
      </tr>
      <tr>
        <td class="w-5">
          Training
        </td>
        <td>
          <IntakeTraining @trainings={{this.history.trainings}} @person={{this.person}} />
        </td>
      </tr>
      <tr>
        <td class="w-5">
          Mentors
        </td>
        <td>
          <IntakeNotes @type="mentor"
                       @person={{this.history}}
                       @viewYear={{this.year}}
                       @onSubmit={{this.noteSubmitted}} />
        </td>
      </tr>
      </tbody>
    </table>
  </:body>
</UiSection>
