<UiTab as |tab|>
  <tab.pane @title="Work History">
    <UiSection>
      <:title>Work History For {{this.person.callsign}}</:title>
      <:body>
        <WorkHistory @person={{this.person}} @timesheet={{this.timesheet}} />
      </:body>
    </UiSection>
  </tab.pane>
  <tab.pane @title="Team Membership History">
    <UiSection>
      <:title>Team Membership History</:title>
      <:body>
        <p>
          The following shows a historical record what teams, if any, the person was a member of. Admins may add new
          records, or adjust existing ones.
        </p>
        {{#if this.canManageTeamHistory}}
          <p>
            <UiButton @onClick={{this.newTeamHistory}}>New Membership History Record</UiButton>
          </p>
        {{/if}}
        <table class="table table-striped table-hover table-sm table-width-auto">
          <thead>
          <tr>
            <th>Cadre/Team/Delegation</th>
            <th>Joined On</th>
            <th>Left On</th>
            {{#if this.canManageTeamHistory}}
              <th>Action</th>
            {{/if}}
          </tr>
          </thead>
          <tbody>
          {{#each this.membershipHistory as |membership|}}
            <tr>
              <td>{{membership.team.title}}</td>
              <td>{{mdy-format membership.joined_on}}</td>
              <td>{{if membership.left_on (mdy-format membership.left_on) "-"}}</td>
              {{#if this.canManageTeamHistory}}
                <td>
                  <UiButton @size="sm" @onClick={{action this.editTeamHistory membership}}>
                    {{fa-icon "edit"}} Edit
                  </UiButton>
                </td>
              {{/if}}
            </tr>
          {{else}}
            <tr>
              <td colspan="5">
                <b class="text-danger">No team membership historical records found.</b>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </:body>
    </UiSection>
  </tab.pane>
</UiTab>

{{#if this.teamEntry}}
  <ModalDialog @title={{if this.teamEntry.isNew "Create Team History Entry" "Edit Team History Entry"}}
               @onEscape={{this.cancelTeamHistory}} as |Modal|>
    <ChForm @formId="entry"
            @formFor={{this.teamEntry}}
            @validator={{this.teamValidators}}
            @onSubmit={{this.saveTeamHistory}} as |f|>
      <Modal.body>
        <FormRow>
          <f.select @name="team_id"
                    @options={{this.teamOptions}}
                    @label="Team / Cadre / Delegation"/>
          <f.datetime @name="joined_on"
                      @label="Joined On"
                      @dateOnly={{true}}
                      @maxlength={{25}} />
          <f.datetime @name="left_on"
                      @label="Left On"
                      @dateOnly={{true}}
                      @maxlength={{25}} />
        </FormRow>
      </Modal.body>
      <Modal.footer @noAlign={{true}}>
        <f.submit @disabled={{f.model.isSaving}} />
        <UiCancelButton @onClick={{this.cancelTeamHistory}} @disabled={{f.model.isSaving}} />
        <UiButton @type="danger" @class="ms-auto" @onClick={{this.deleteTeamHistory}}>{{fa-icon "trash"}}Delete
        </UiButton>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}
