{{#if canCorrectThisYear}}
<h2>Timesheet Review</h2>
{{/if}}

{{#if entry}}
  {{#ch-form "correction" entry modalBox=true modalTitle="Timesheet Correction" validator=corectionValidations onSubmit=(action "saveCorrectionAction") onCancel=(action "cancelCorrectionAction") as |f|}}
    <dl class="form-row">
      <dt class="col-sm-2">Position:</dt>
      <dd class="col-sm-10">{{entry.position.title}}</dd>

      <dt class="col-sm-2">Time:</dt>
      <dd class="col-sm-10">{{shift-format entry.on_duty}} to {{shift-format entry.off_duty}}</dd>

      <dt class="col-sm-2">Duration:</dt>
      <dd class="col-sm-10">{{hour-minute-format entry.duration}}</dd>

      <dt class="col-sm-2">Credits:</dt>
      <dd class="col-sm-10">{{credits-format entry.credits}}</dd>
    </dl>

    {{#if entry.reviewer_notes}}
      <div class="card mb-4">
        <div class="card-header">The timesheet correction team has left you a note:</div>
        <div class="card-body">
          {{entry.reviewer_notes}}
        </div>
      </div>
    {{/if}}
    <div class="form-row">
      Use the following area to explain why this entry is incorrect. Provide as
       much information as possible to help us understand why this entry should be fixed.
      <ul>
        <li>State the correct times if the starting and/or ending time is wrong.</li>
        <li>If the position is wrong, tell us what is the correct position.</li>
        <li>Provide an explanation on why you think the entry is wrong.</li>
      </ul>
    </div>
    {{f.input "notes" label="Your correction note:" type="textarea" cols=80 rows=3 autofocus=true}}
    {{f.submit label="Submit Correction" disabled=isSubmitting}}
    {{f.cancel}}
  {{/ch-form}}
{{/if}}

{{#if timesheets}}
  <table class="table schedule-table table-striped table-rc">
    <thead class="thead-light">
      <tr>
        <th>From</th>
        <th>To</th>
        <th class="text-right">Time</th>
        <th class="text-right">Credits</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      {{#each timesheets as |ts|}}
        <tr>
          <td data-title="From">{{shift-format ts.on_duty}}</td>
          <td data-title="To">{{shift-format ts.off_duty}}</td>
          <td class="td-number" data-title="Time">
              {{#if ts.off_duty}}
                {{hour-minute-format ts.duration}}
              {{else}}
                <i>On Duty</i>
              {{/if}}
            </td>
          <td class="td-number" data-title="Credits">
            {{#if ts.off_duty}}
                {{credits-format ts.credits}}
            {{else}}
                &nbsp;
            {{/if}}
          </td>
          <td data-title="Position">{{ts.position.title}}</td>
        </tr>
        {{#if (and canCorrectThisYear timesheetInfo.correction_enabled)}}
        <tr class="no-collapse">
          <td colspan="5">
            {{#if ts.isApproved}}
              The correction request has been APPROVED.
              The timesheet has been updated with the new times.
            {{else if ts.isRejected}}
              The correction request has been denied. Contact
              {{general-support-email}} if you wish to appeal this decision.
              {{#if ts.haveReviewerResponse}}
               <p class="text-bold">Response from the timesheet review team:</p>
               <p>{{ts.reviewer_notes}}</p>
              {{/if}}
            {{else if ts.isPendingReview }}
                The correction request is pending review.
            {{else if ts.isUnverified}}
              <strong>This entry has not been verified.</strong>
            {{else if ts.verified}}
              {{fa-icon "check"}} Entry was marked correct on {{shift-format ts.verified_at}}
            {{else}}
              Unknown state?
            {{/if}}

            {{#if (and ts.haveReviewerResponse (not ts.verified) (or ts.isApproved ts.isRejected))}}
             <p class="text-bold">Response from the timesheet review team:</p>
             <p>{{ts.reviewer_notes}}</p>
            {{/if}}

          <p class="mt-2">
            {{#if ts.off_duty}}
              Is this entry correct?
              {{#unless ts.verified}}
                <button type="button" class="btn btn-primary btn-sm" {{action "markCorrectAction" ts}} disabled={{isSubmitting}}>Yes</button>
              {{/unless}}
              <button type="button" class="btn btn-secondary btn-sm" {{action "markIncorrectAction" ts}}  disabled={{isSubmitting}}>
                {{#if ts.isPendingReview}}
                  Edit Correction Note
                {{else}}
                  No - Submit Correction
                {{/if}}
              </button>
            {{else}}
              <strong>You are still on duty. You may submit a correction after the shift has ended.</strong>
            {{/if}}
            </p>
          </td>
        </tr>
        {{/if}}
      {{/each}}
      <tr class="tr-no-responsive">
        <td>
          {{pluralize timesheets.length "entry"}}
        </td>
        <td class="td-number table-rc-hide">
          Totals
        </td>
        <td class="td-number" data-title="Time">
          {{hour-minute-format (sum-column timesheets "duration")}}
        </td>
        <td class="td-number" data-title="Credits">
          {{credits-format (sum-column timesheets "credits")}}
        </td>
        <td colspan="2" class="table-rc-hide">&nbsp;</td>
      </tr>

      <tr class="tr-no-responsive">
        <td colspan="5">
          Position summary: {{timesheet-position-summary timesheets=timesheets}}
        </td>
      </tr>
    </tbody>
  </table>
{{else}}
<p class="lead mt-3 text-danger">
  No timesheets were found for {{year}}.
</p>
{{/if}}

{{#if canCorrectThisYear}}
  {{#link-to "me.timesheet.missing" class="btn btn-primary"}}Go to Step 2 - Missing Entries Requests{{/link-to}}
{{/if}}
