{{#if includeBlank}}
<option value="">-</option>
{{/if}}
{{#if isGrouped}}
  {{#each selectGroupOptions as |group|}}
    <optgroup label={{group.groupName}}>
      {{#each group.options as |opt|}}
        <option value={{opt.value}} selected={{ch-form/contains value opt.value}}>{{opt.label}}</option>
      {{/each}}
    </optgroup>
  {{/each}}
{{else}}
  {{#each selectOptions as |opt|}}
    <option value={{opt.value}} selected={{ch-form/contains value opt.value}}>{{opt.label}}</option>
  {{/each}}
{{/if}}
