<main>
  <YearSelect @title="Assets (Radios, Gear, etc)"
              @year={{this.year}}
              @minYear={{2009}}
              @skipPandemic={{true}}
              @onChange={{set-value this 'year'}} />
  <FormRow>
    <FormLabel @auto={{true}}>Type</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="typeFilter"
                      @value={{this.typeFilter}}
                      @options={{this.typeOptions}}
                      @onChange={{set-value this 'typeFilter'}}
      />
    </div>
    <FormLabel @auto={{true}}>Description</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="descriptionFilter"
                      @value={{this.descriptionFilter}}
                      @options={{this.descriptionOptions}}
                      @onChange={{set-value this 'descriptionFilter'}} />
    </div>
    <FormLabel @auto={{true}}>Expired?</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="expireFilter"
                      @value={{this.expireFilter}}
                      @options={{this.expireFilterOptions}}
                      @onChange={{set-value this 'expireFilter'}} />
    </div>
    <FormLabel @auto={{true}}>Action</FormLabel>
    <div class="col-auto">
      <UiButton @onClick={{this.newAsset}}>New Asset</UiButton>
    </div>
  </FormRow>

  <UiSection>
    <:title> Showing {{this.viewAssets.length}} of {{pluralize this.assets.length "asset"}}</:title>
    <:actions>
      <UiExportToCSVButton @onClick={{this.exportToCSV}} @size="sm"/>
    </:actions>
    <:body>
      <UiTable>
        <thead>
        <tr>
          <th>Barcode</th>
          <th>Type</th>
          <th>Description</th>
          <th>Assigned</th>
          <th>Expires On</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {{#each this.viewAssets key="id" as |asset|}}
          <tr>
            <td>{{asset.barcode}}</td>
            <td>{{asset.typeLabel}}</td>
            <td>
              <PresentOrNot @value={{asset.description}} @empty="-"/>
            </td>
            <td class="text-center">{{asset.assignmentLabel}}</td>
            <td>
              {{#if asset.expires_on}}
                {{ymd-format asset.expires_on}}
                {{#if asset.has_expired}}
                  <UiBadge @type="warning" class="ms-1">expired</UiBadge>
                {{/if}}
              {{else}}
                -
              {{/if}}
            </td>
            <td>
              <UiButton @type="secondary" @size="sm" @onClick={{fn this.assetHistoryAction asset}}>
                {{fa-icon "rectangle-list" right=1}} History
              </UiButton>
              <UiButton @size="sm" @onClick={{fn this.editAsset asset}}>
                {{fa-icon "edit" right=1}} Edit
              </UiButton>
            </td>
          </tr>
        {{else if this.assets}}
          <tr>
            <td colspan="5" class="text-danger">No assets matched.</td>
          </tr>
        {{else}}
          <td colspan="5" class="text-danger">No assets were found for {{this.year}}?!?</td>
        {{/each}}
        </tbody>
      </UiTable>
    </:body>
  </UiSection>
  {{#if this.entry}}
    <ModalDialog @title={{if this.entry.isNew "New Asset" "Edit Asset"}} @onEscape={{this.cancelAsset}} as |Modal|>
      <ChForm @formId="asset"
              @formFor={{this.entry}}
              @validator={{this.assetValidations}}
              @onSubmit={{this.saveAsset}} as |f|>
        <Modal.body>
          <FormRow>
            <f.select @name="type"
                      @label="Type"
                      @options={{this.assetDescriptionOptions}}
            />
            <f.text @name="barcode"
                    @label="Barcode"
                    @size={{25}}
                    @maxlength={{25}}
                    @showCharCount={{true}}
            />
            <f.text @name="description"
                    @label="Description"
                    @size={{25}}
                    @maxlength={{25}}
                    @showCharCount={{true}}
            />
          </FormRow>
          <FormRow>
            <div class="col-auto">
              <f.radioGroup @name="perm_assign"
                            @label="Assignment"
                            @options={{this.permanentOptions}}
              />
            </div>
            <f.select @name="category"
                      @label="Category"
                      @options={{this.categoryOptions}}
            />
            <f.text @name="year"
                    @label="Event Year"
                    @size={{4}}
                    @maxlength={{4}}
            />
          </FormRow>
          <FormRow>
            <f.datetime @name="expires_on" @dateOnly={{true}} @label="Expires On (optional)"/>
          </FormRow>
          <FormRow>
            <f.textarea @name="notes"
                        @label="Notes"
                        @rows={{2}}
                        @cols={{80}}/>
          </FormRow>

          {{#if this.entry.isNew}}
            <FormRow>
              <FormLabel>Copies (including the first) - Leave blank if only creating one</FormLabel>
              <f.text @name="copies"
                      @size={{4}}
                      @maxlength={{4}}
              />
            </FormRow>
          {{/if}}
        </Modal.body>
        <Modal.footer @align="start">
          <f.submit @label={{if f.model.isNew "Create" "Update"}} @disabled={{this.isSubmitting}} />
          <UiCancelButton @disabled={{this.isSubmitting}} @onClick={{this.cancelAsset}} />
          {{#if this.isSubmitting}}
            <LoadingIndicator/>
          {{/if}}
          <div class="ms-auto">
            <UiButton @type="danger" @onClick={{this.deleteAsset}} @disabled={{this.isSubmitting}}>
              {{fa-icon "trash" right=1}} Delete
            </UiButton>
          </div>
        </Modal.footer>
      </ChForm>
    </ModalDialog>
  {{/if}}
  {{#if (and this.isSubmitting this.creatingBarcode)}}
    <LoadingDialog>
      Creating barcode #{{this.creatingBarcode}}
    </LoadingDialog>
  {{/if}}
  {{#if this.assetForHistory}}
    <ModalAssetHistory @assetId={{this.assetForHistory.id}} @onClose={{this.closeAssetHistory}} />
  {{/if}}
</main>