<main>
  <YearSelect @title="Assets (Radios, Gear, etc)"
              @year={{this.year}}
              @minYear={{2009}}
              @skipPandemic={{true}}
              @onChange={{set-value this 'year'}} />
  <p>

  </p>
  <FormRow class="small">
    <FormLabel @auto={{true}}>Description</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="descriptionFilter"
                      @value={{this.descriptionFilter}}
                      @options={{this.descriptionOptions}}
                      @onChange={{set-value this 'descriptionFilter'}}
                      @fieldSize="sm"
      />
    </div>
    <FormLabel @auto={{true}}>Asset Group</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="groupFilter"
                      @value={{this.groupFilter}}
                      @options={{this.groupOptions}}
                      @onChange={{set-value this 'groupFilter'}}
                      @fieldSize="sm"
      />
    </div>
    <FormLabel @auto={{true}}>Assignment</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="entityAssignmentFilter"
                      @value={{this.entityAssignmentFilter}}
                      @options={{this.entityAssignmentOptions}}
                      @onChange={{set-value this 'entityAssignmentFilter'}}
                      @fieldSize="sm"
      />
    </div>
    <FormLabel @auto={{true}}>Order #</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="orderNumberFilter"
                      @value={{this.orderNumberFilter}}
                      @options={{this.orderNumberOptions}}
                      @onChange={{set-value this 'orderNumberFilter'}}
                      @fieldSize="sm"
      />
    </div>
    <FormLabel @auto={{true}}>Expired?</FormLabel>
    <div class="col-auto">
      <ChForm::Select @name="expireFilter"
                      @value={{this.expireFilter}}
                      @options={{this.expireFilterOptions}}
                      @onChange={{set-value this 'expireFilter'}}
                      @fieldSize="sm"
      />
    </div>
    <FormLabel @auto={{true}}>Action</FormLabel>
    <div class="col-auto">
      <UiButton @onClick={{this.newAsset}}>New Asset</UiButton>
    </div>
  </FormRow>

  {{#each this.viewAssetsByType as |group|}}
    <UiAccordion as |accordian|>
      <accordian.title>{{group.label}} [{{pluralize group.assets.length 'record'}}]</accordian.title>
      <accordian.body>
        <p>
          <UiExportToCSVButton @onClick={{fn this.exportToCSV group}} @size="sm"/>
        </p>
        <UiTable @stickyHeader={{true}}>
          <thead>
          <tr>
            <th>Barcode</th>
            <th>Type</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Entity Assignment</th>
            <th>Asset Group</th>
            <th>Order #</th>
            <th>Expires On</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          {{#each group.assets key="id" as |asset|}}
            <tr>
              <td class="text-end">{{asset.barcode}}</td>
              <td>{{asset.typeLabel}}</td>
              <td>
                <PresentOrNot @value={{asset.description}} @empty="-"/>
              </td>
              <td class="text-center">{{asset.assignmentLabel}}</td>
              <td>
                <PresentOrNot @value={{asset.entity_assignment}} @empty="-"/>
              </td>
              <td>
                <PresentOrNot @value={{asset.group_name}} @empty="-"/>
              </td>
              <td>
                <PresentOrNot @value={{asset.order_number}} @empty="-"/>
              </td>
              <td>
                {{#if asset.expires_on}}
                  {{ymd-format asset.expires_on}}
                  {{#if asset.has_expired}}
                    <UiBadge @type="warning" class="ms-1">expired</UiBadge>
                  {{/if}}
                {{else}}
                  -
                {{/if}}
              </td>
              <td>
                <UiButton @type="secondary" @size="sm" @onClick={{fn this.assetHistoryAction asset}}>
                  {{fa-icon "rectangle-list" right=1}} History
                </UiButton>
                <UiEditButton @size="sm" @onClick={{fn this.editAsset asset}} />
              </td>
            </tr>
          {{else if this.assets}}
            <tr>
              <td colspan="8" class="text-danger">No assets matched.</td>
            </tr>
          {{else}}
            <td colspan="8" class="text-danger">No assets were found for {{this.year}}?!?</td>
          {{/each}}
          </tbody>
        </UiTable>
      </accordian.body>
    </UiAccordion>
  {{/each}}
  {{#if this.entry}}
    <ModalDialog @title={{if this.entry.isNew "New Asset" "Edit Asset"}} @onEscape={{this.cancelAsset}} as |Modal|>
      <ChForm @formId="asset"
              @formFor={{this.entry}}
              @validator={{this.assetValidations}}
              @onSubmit={{this.saveAsset}} as |f|>
        <Modal.body>
          <FormRow>
            <f.select @name="type"
                      @label="Type"
                      @options={{this.assetDescriptionOptions}}
            />
            <f.text @name="barcode"
                    @label="Barcode"
                    @size={{25}}
                    @maxlength={{25}}
                    @showCharCount={{true}}
            />
            <f.text @name="description"
                    @label="Description"
                    @size={{25}}
                    @maxlength={{25}}
                    @showCharCount={{true}}
            />
          </FormRow>
          <p>
            If the Entity Assignment field is filled in, the asset cannot be checked out. The field will be
            used by the Last Caller App to show who's talking. This is intended to handle radios where the
            person does not have a Clubhouse account, or where the asset is being used by a team, not an individual.
          </p>
          <FormRow>
            <f.text @name="entity_assignment"
                    @label="Entity Assignment"
                    @size={{40}}
                    @showCharCount={{true}}
                    @maxlength={{40}}
            />
          </FormRow>
          <FormRow>
            <div class="col-auto">
              <f.radioGroup @name="perm_assign"
                            @label="Usage Duration"
                            @options={{this.permanentOptions}}
              />
            </div>
          </FormRow>
          <FormRow>
            <p class="col-12">
              The Group Name is used to represent which group / team / collection the radio is a part of or has been
              given to.
              E.g., SITE, Shift, Event, NVO/DPW, HRS, BPS, etc.
            </p>
            <f.text @name="group_name"
                    @label="Group Name"
                    @size={{40}}
                    @maxlength={{40}}
                    @showCharCount={{true}}
            />
          </FormRow>
          <p>
            The expires on field is used to prevent radios from being checked out after a given date at 23:59.
            (e.g., 2024-09-01 will prevent radios from being checked out after 2024-09-01 @ 23:59.)
          </p>
          <FormRow>
            <f.datetime @name="expires_on"
                        @dateOnly={{true}}
                        @label="Expires On (optional)"/>
          </FormRow>
          <p>
            The Order Number field is used to identity which vendor order number the radio belongs to.
          </p>
          <FormRow>
            <f.text @name="order_number"
                    @label="Order Number"
                    @size={{40}}
                    @maxlength={{40}}
                    @showCharCount={{true}}
            />
          </FormRow>
          <FormRow>
            <f.textarea @name="notes"
                        @label="Notes"
                        @rows={{2}}
                        @cols={{80}}/>
          </FormRow>

          {{#if this.entry.isNew}}
            <FormRow>
              <FormLabel>Copies (including the first) - Leave blank if only creating one</FormLabel>
              <f.text @name="copies"
                      @size={{4}}
                      @maxlength={{4}}
              />
            </FormRow>
          {{/if}}
        </Modal.body>
        <Modal.footer @align="start">
          <UiButtonRow>
            <f.submit @label={{if f.model.isNew "Create" "Update"}}/>
            <UiCancelButton  @onClick={{this.cancelAsset}} />
            {{#unless this.entry.isNew}}
              <div class="ms-auto">
                <UiDeleteButton @onClick={{this.deleteAsset}} />
              </div>
            {{/unless}}
          </UiButtonRow>
        </Modal.footer>
      </ChForm>
    </ModalDialog>
  {{/if}}
  {{#if (and this.isSubmitting this.creatingBarcode)}}
    <LoadingDialog>
      Creating barcode #{{this.creatingBarcode}}
    </LoadingDialog>
  {{else if this.isSubmitting}}
    <LoadingDialog>Saving asset</LoadingDialog>
  {{/if}}
  {{#if this.assetForHistory}}
    <ModalAssetHistory @assetId={{this.assetForHistory.id}} @onClose={{this.closeAssetHistory}} />
  {{/if}}
</main>