<main>
  <h1>Position Bulk Grant/Revocation</h1>
  <p>
    Use this page to grant or revoke a position for a list of callsigns.
  </p>
  <p>
    <span class="text-danger">Please note, granting or revoking positions will not add or remove a team's
      membership.</span>
    When you want to grant the recommended team positions (not public team positions), and wish to add
    the person to the team's roster, use the
    <LinkTo @route="ops.bulk-teams">Ops &gt; Bulk Grant/Revoke Team</LinkTo>
    interface instead. The interface will add a person to roster, and grant the recommended team positions in one go.
  </p>

  {{#if this.positions}}
    {{#if this.people}}
      <div class="border rounded p-2 mt-2 mb-2">
        {{#if this.committed}}
          <h4 class="text-success">
            The {{this.positionTitle}} was successfully {{if this.granted "granted to" "revoked from"}}
            {{pluralize this.successCount "person"}}
          </h4>
          {{#if this.errorCount}}
            <h4 class="text-danger">{{pluralize this.errorCount "error" }} encountered</h4>
          {{/if}}
        {{else if this.errorCount}}
          <h4 class="text-danger">{{pluralize this.errorCount "error" }} encountered</h4>
          <p>
            No changes have been committed. You can correct the errors and try again, or proceed with the bulk operation
            on the callsigns that do not have errors.
          </p>
        {{else}}
          <h4>Review Callsigns</h4>
          <p>
            No errors were detected. Review the list below to make sure the callsigns and position are correct before
            committing.
          </p>
          <p>
            <b>The position "{{this.positionTitle}}" will be {{if this.granted "GRANTED TO" "REVOKED FROM"}} the
              following:</b>
          </p>
        {{/if}}
        <UiTable>
          <thead>
          <tr>
            <th>Callsign</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          {{#each this.people as |person|}}
            <tr class="{{if person.errors "table-danger"}}">
              <td>
                {{#if person.errors}}
                  {{fa-icon "exclamation-triangle" right=1}}
                {{/if}}
                {{#if person.id}}
                  <PersonLink @person={{person}} />
                {{else}}
                  {{person.callsign}}
                {{/if}}
              </td>
              <td>
                {{#if person.errors}}
                  {{person.errors}}
                {{else}}
                  Position "{{this.positionTitle}}"
                  {{if this.committed "was successfully" "will be"}}
                  {{if this.granted "granted" "revoked"}}
                {{/if}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </UiTable>

        {{#if this.committed}}
          Bulk operation performed.
        {{else if this.successCount}}
          <UiButton @onClick={{this.commitAction}}>
            {{if this.granted "Grant" "Revoke"}} "{{this.positionTitle}}" {{if this.granted "to" "from"}}
            {{pluralize this.successCount "person"}}
          </UiButton>
        {{else}}
          All submitted callsigns have errors.
        {{/if}}
      </div>
    {{/if}}

    <ChForm @formId="bulkForm" @formFor={{this.bulkForm}} @changeSet={{false}} @onSubmit={{this.verifyAction}} as |f|>
      <FormRow>
        <f.select @name="positionId"
                  @label="Position"
                  @options={{this.positionOptions}}/>
      </FormRow>
      <FormRow>
        <div class="col-12 mt-2">
          <f.radioGroup @name="grant"
                        @options={{this.grantRevokeOptions}}
                        @inline={{true}}/>
        </div>
      </FormRow>
      <FormRow>
        <f.textarea @name="callsigns"
                    @label="Enter a list of callsigns to grant or revoke a position:"
                    @cols={{30}}
                    @rows={{10}}/>
      </FormRow>
      <p>
        Don't worry, you'll have a chance to review the callsigns and position before actually committing the changes.
      </p>
      <f.submit @label="Verify Callsign(s)"
                @disabled={{or (is-empty f.model.positionId) (is-empty f.model.callsigns)}}/>
    </ChForm>
  {{else}}
    <b class="text-danger">You are not a Clubhouse Team Manager and therefor may not bulk revoke / grant positions.</b>
  {{/if}}
</main>

{{#if this.isSubmitting}}
  <LoadingDialog>
    Performing bulk operations. This may take a minute.
  </LoadingDialog>
{{/if}}
