<main>
  <YearSelect @year={{this.year}}
              @minYear={{2023}}
              @onChange={{set-value this 'year'}}>
    Cruise Direction Management
    {{#if this.selectedShift}}
      - {{shift-format this.selectedShift.begins}}
    {{/if}}
  </YearSelect>
  This page manages the Ranger pairs (aka pods) who are deployed in the field.
  <div class="d-flex justify-content-between mb-2">
    <div>
      <UiButtonRow>
        {{#if this.periodOptions}}
          <LargeSelect
            @label="Select a {{this.year}} shift"
            @title="Select a shift period to report on"
            @formatSelected={{this.formatSelected}}
            @groups={{this.periodOptions}}
            @onSelect={{this.changeShift}}
            class="btn-responsive"
          />
        {{else}}
          <b class="text-danger">No shifts were found.</b>
        {{/if}}
        {{#if this.selectedShift}}
          <UiButton @onClick={{this.createPod}} @class="btn-responsive">
            {{fa-icon "user-group" right=1}} Create Pod
          </UiButton>
        {{/if}}
      </UiButtonRow>
    </div>

    <div>
      {{#if this.selectedShift}}
        {{#if (gt this.pods.length 1)}}
          <UiButton @onClick={{this.toggleShowSortControls}} @type="secondary" @class="btn-responsive" @size="sm">
            {{fa-icon "sort" right=1}} {{if this.showSortControls "Hide" "Show"}} Sorting Controls
          </UiButton>
        {{/if}}
      {{/if}}
      <UiButton @onClick={{this.togglePositions}} @type="secondary" @class="btn-responsive" @size="sm">
        Show Selectable Positions
      </UiButton>
      <UiButton @onClick={{this.refreshPage}} @type="secondary" @class="btn-responsive" @size="sm">
        {{fa-icon "arrows-rotate" right=1}} Refresh Page
      </UiButton>
    </div>
  </div>
  {{#if this.selectedShift}}
    {{#if this.pods}}
      <p>
        Click on the person's photo to edit or remove them from the pod. Click and drag a person's photo to move
        between pods. Click and drag the pod title to move the pod.
      </p>
      <div style="grid-template-columns: repeat(auto-fit, 270px)" class="d-grid gap-2">
        {{#each this.pods key="id" as |pod|}}
          <CruiseDirectionPod @pod={{pod}}
                              @thingDroppedOnPod={{this.thingDroppedOnPod}}
                              @setupToAdd={{this.setupToAdd}}
                              @editExistingPod={{this.editExistingPod}}
                              @showSortControls={{this.showSortControls}}
                              @movePod={{this.movePod}}
                              @editPersonInPod={{this.editPersonInPod}}
                              @isNotLastPod={{this.isNotLastPod}}
          />
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
</main>

{{#if this.editPod}}
  <ModalDialog @onEscape={{this.cancelPod}} @position="top" as |Modal|>
    <ChForm @formId="pod" @formFor={{this.editPod}} @onSubmit={{this.savePod}} as |f|>
      <Modal.title>{{if this.editPod.isNew "Create" "Edit"}} Pod</Modal.title>
      <Modal.body>
        <FormRow>
          <FormLabel @auto={{true}}>Transportation</FormLabel>
          <div class="col-auto mt-2">
            <f.radioGroup @name="transport"
                          @options={{this.transportOptions}}
                          @inline={{true}} />
          </div>
        </FormRow>
        <FormRow>
          <f.text @name="location"
                  @label="Deployment Location"
                  @size={{34}}
                  @maxlength={{34}}
                  @autofocus={{true}}
                  @showCharCount={{true}}
          />
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label="Save"/>
        <UiCancelButton @onClick={{this.cancelPod}} />
        {{#unless this.editPod.isNew}}
          <UiButton @type="danger" @size="sm" @onClick={{this.deletePod}} class="ms-auto">
            Delete Pod
          </UiButton>
        {{/unless}}
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.showAddDialog}}
  <ModalDialog @onEscape={{this.closeAddDialog}} @position="top" @size="xl" as |Modal|>
    <Modal.title>
      Pod #{{this.addPod.sort_index}} {{this.addPod.transportLabel}}.
      {{#if this.addPod.location}}
        Location {{this.addPod.location}}.
      {{else}}
        No location entered.
      {{/if}}
    </Modal.title>

    <ChForm @formId="people" @formFor={{this.peopleForm}} @onSubmit={{this.addPerson}} as |f|>
      <Modal.body>
        <p>
          Select all the callsigns to add to Pod #{{this.addPod.sort_index}}. The check-in time is appended. Only people
          who are not assigned to a pod are shown.
        </p>
        <fieldset>
          <legend>People most likely checked-in for this shift</legend>
          <FormRow>
            <div class="col-auto">
              {{#if this.currentShiftOptions}}
                <f.checkboxGroup @name="currentPeopleIds" @options={{this.currentShiftOptions}} @cols={{4}} />
              {{else}}
                No checked-in people found for
                {{#each this.positions as |position idx|~}}
                  {{~if idx ", "}}{{position.title~}}
                {{~/each~}}.
              {{/if}}
            </div>
          </FormRow>
          <div class="my-2">
            <f.submit @label="Add" @disabled={{and (not f.model.currentPeopleIds) (not f.model.priorPeopleIds)}} />
          </div>
        </fieldset>
        <fieldset>
          <legend>
            People who might be on a prior shift
          </legend>
          {{#if this.priorShiftOptions}}
            <a href {{on-click this.togglePriorShift}} class="my-2">
              {{if this.showPriorShift "Hide" "Show"}} {{pluralize this.priorShiftOptions.length "person"}}
            </a>
            {{#if this.showPriorShift}}
              <FormRow>
                <div class="col-auto">
                  <f.checkboxGroup @name="priorPeopleIds" @options={{this.priorShiftOptions}} @cols={{4}} />
                </div>
              </FormRow>
            {{/if}}
          {{else}}
            No prior checked-in people found.
          {{/if}}
        </fieldset>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label="Add" @disabled={{and (not f.model.currentPeopleIds) (not f.model.priorPeopleIds)}} />
        <UiCancelButton @onClick={{this.closeAddDialog}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.showingPositions}}
  <ModalDialog @onEscape={{this.closePositions}} as |Modal|>
    <Modal.body>
      <p>
        The following positions are selectable under this interface:
      </p>
      {{#each this.positions as |position|}}
        {{position.title}}<br>
      {{else}}
        No selectable positions found?
      {{/each}}
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closePositions}} />
    </Modal.footer>
  </ModalDialog>

{{/if}}

{{#if this.editPerson}}
  <ModalDialog @onEscape={{this.cancelPerson}} as |Modal|>
    <ChForm @formId="people"
            @formFor={{this.editPersonForm}}
            @onSubmit={{this.savePerson}}
            as |f|>
      <Modal.body>
        <div class="d-flex">
          <div class="me-3">
            <img src={{this.editPerson.photo_url}}
                 class="photo-mini"
                 alt={{this.editPerson.callsign}}
                 loading="lazy"
                 draggable="false"/>
          </div>
          <FormRow>
            <f.select @name="podId" @label="Relocate {{this.editPerson.callsign}} to pod" @options={{this.podOptions}} />
          </FormRow>
        </div>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit/>
        <UiCancelButton @onClick={{this.cancelPerson}} />
        <div class="ms-auto">
          <UiButton @type="danger" @size="sm" @onClick={{this.deletePerson}}>
            Remove Person From Pod
          </UiButton>
        </div>
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.isSubmitting}}
  <LoadingDialog>
    Submitting request
  </LoadingDialog>
{{/if}}
