<main>
  <h1>Cruise Direction Pod Management</h1>

  <p>
    This page manages the Ranger pairs (aka pods) who are deployed in the field. Only individuals working Dirt,
    Dirt - Pre-Event, Dirt Post-Event, Dirt - Shiny Penny, and Dirt - Green Dot shifts are available to select.
  </p>
  <p>
    <LargeSelect
      @label="Select a {{this.year}} shift period"
      @title="Select a shift period to report on"
      @formatSelected={{this.formatSelected}}
      @groups={{this.periodOptions}}
      @onSelect={{this.changeShift}}
      class="btn-responsive mb-2"
    />
    {{#if this.suggestedSlot}}
      <UiButton @onClick={{this.useSuggestedSlot}}  @class="btn-responsive mb-2">
        Select {{shift-format this.suggestedSlot.shift_start}}
      </UiButton>
    {{/if}}
  </p>
  {{#if this.selectedShift}}
    <h3>Shift {{shift-format this.selectedShift.begins}}</h3>
    <p>
      <UiButton @onClick={{this.createPod}} @class="btn-responsive mb-2">
        {{fa-icon "user-group" right=1}} Create Pod
      </UiButton>
      {{#if (gt this.pods.length 1)}}
        <UiButton @onClick={{this.toggleShowSortControls}} @type="secondary" @class="btn-responsive mb-2">
          {{fa-icon "sort" right=1}} {{if this.showSortControls "Hide" "Show"}} Sorting Controls
        </UiButton>
      {{/if}}
      <UiButton @onClick={{this.refreshPage}} @type="secondary" @class="btn-responsive mb-2">
        {{fa-icon "arrows-rotate"}} Refresh Page
      </UiButton>
    </p>
    {{#if this.pods}}
      <p>Click on the person to remove them from the pod.</p>
      <div class="d-flex flex-wrap">
        {{#each this.pods key="id" as |pod idx|}}
          <div class="me-3 min-width-300 mb-2">
            <div class="p-2 d-flex justify-content-between align-items-center text-bg-gray">
              <div class="fs-5 fw-medium">
                Pod #{{pod.sort_index}}
              </div>
              <div>
                <a href {{action this.editExistingPod pod}} class="d-print-none">{{fa-icon "edit" right=1}} Edit</a>
              </div>
              <a href {{action this.removePod pod}} class="d-print-none small">{{fa-icon "trash" right=1}} Delete</a>
            </div>
            <div class="p-2 d-flex justify-content-between">
              <div>
                {{#if pod.location}}
                  {{pod.location}}
                {{else}}
                  <i class="text-muted">unknown</i>
                {{/if}}
              </div>
              <div>
                {{fa-icon pod.transportIcon right=1}} {{pod.transportLabel}}
              </div>
            </div>
            {{#if this.showSortControls}}
              <div class="d-flex justify-content-between my-2">
                {{#if idx}}
                  <UiButton @onClick={{fn this.movePod pod -1}}
                            @size="sm"
                            @type="secondary"
                            class="d-block">
                    {{fa-icon "arrow-left"}}
                  </UiButton>
                {{/if}}
                {{#if (this.isNotLastPod idx)}}
                  <UiButton @onClick={{fn this.movePod pod 1}}
                            @size="sm"
                            @type="secondary"
                            class="d-block">
                    {{fa-icon "arrow-right"}}
                  </UiButton>
                {{/if}}
              </div>
            {{/if}}
            <a href {{action this.setupToAdd pod}} class="d-block d-print-none text-center mb-1 p-2 bg-light-gray fs-4">
              {{fa-icon "plus" right=1}} Add Person
            </a>
            {{#if pod.people}}
              <div class="rollcall-grid">
                {{#each pod.people key="id" as |person|}}
                  <a href {{action this.removePerson pod person}} class="rollcall-person">
                    <div class="rollcall-photo">
                      {{#if person.photo_url}}
                        <img src={{person.photo_url}} alt={{person.callsign}} loading="lazy"/>
                      {{else}}
                        {{fa-icon "user"}}
                      {{/if}}
                    </div>
                    <div class="rollcall-name">
                      {{person.callsign}}
                    </div>
                    <div class="rollcall-info">
                      {{shift-format person.on_duty}}<br>
                      {{person.position_title}}
                    </div>
                  </a>
                {{/each}}
              </div>
            {{else}}
              <span class="text-muted">No people assigned.</span>
            {{/if}}
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#if this.pods}}
      <div class="mt-4">
        <UiButton @onClick={{this.createPod}} @class="btn-responsive mb-4">
          {{fa-icon "user-group" right=1}} Create Pod
        </UiButton>
      </div>
    {{/if}}
  {{else}}
    <h3>No shift selected.</h3>
  {{/if}}
</main>

{{#if this.editPod}}
  <ModalDialog @onEscape={{this.cancelPod}} as |Modal|>
    <ChForm @formId="pod" @formFor={{this.editPod}} @onSubmit={{this.savePod}} as |f|>
      <Modal.title>{{if this.editPod.isNew "Create" "Update"}} Pod</Modal.title>
      <Modal.body>
        <FormRow>
          <FormLabel @auto={{true}}>Transportation</FormLabel>
          <div class="col-auto mt-2">
            <f.radioGroup @name="transport"
                          @options={{this.transportOptions}}
                          @inline={{true}} />
          </div>
        </FormRow>
        <FormRow>
          <f.text @name="location" @label="Deployment Location" @size={{30}} @maxlength={{80}} />
        </FormRow>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label="Save"/>
        <UiCancelButton @onClick={{this.cancelPod}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.showAddDialog}}
  <ModalDialog @onEscape={{this.closeAddDialog}} @position="top" @size="xl" as |Modal|>
    <Modal.title>
      Pod #{{this.addPod.sort_index}} {{this.addPod.transportLabel}}.
      {{#if this.addPod.location}}
        Location {{this.addPod.location}}.
      {{else}}
        No location set.
      {{/if}}
    </Modal.title>

    <ChForm @formId="people" @formFor={{this.peopleForm}} @onSubmit={{this.addPerson}} as |f|>
      <Modal.body>
        <p>
          Select all the callsigns to add to Pod #{{this.addPod.sort_index}}. The check-in time is appended.
        </p>
        <fieldset>
          <legend>People most likely checked-in for this shift</legend>
          <FormRow>
            <div class="col-auto">
              {{#if this.currentShiftOptions}}
                <f.checkboxGroup @name="currentPeopleIds" @options={{this.currentShiftOptions}} @cols={{4}} />
              {{else}}
                No checked-in people found for Dirt, Dirt - Shiny Penny, Dirt Pre-Event or Dirt Post-Event shifts.
              {{/if}}
            </div>
          </FormRow>
          <div class="my-2">
            <f.submit @label="Add" @disabled={{and (not f.model.currentPeopleIds) (not f.model.priorPeopleIds)}} />
          </div>
        </fieldset>
        <fieldset>
          <legend>
            People who might be on a prior shift
          </legend>
          {{#if this.priorShiftOptions}}
            <a href {{action this.togglePriorShift}} class="my-2">
              {{if this.showPriorShift "Hide" "Show"}} {{pluralize this.priorShiftOptions.length "person"}}
            </a>
            {{#if this.showPriorShift}}
              <FormRow>
                <div class="col-auto">
                  <f.checkboxGroup @name="priorPeopleIds" @options={{this.priorShiftOptions}} @cols={{4}} />
                </div>
              </FormRow>
            {{/if}}
          {{else}}
            No prior checked-in people found.
          {{/if}}
        </fieldset>
      </Modal.body>
      <Modal.footer @align="start">
        <f.submit @label="Add" @disabled={{and (not f.model.currentPeopleIds) (not f.model.priorPeopleIds)}} />
        <UiCancelButton @onClick={{this.closeAddDialog}} />
      </Modal.footer>
    </ChForm>
  </ModalDialog>
{{/if}}

{{#if this.isSubmitting}}
  <LoadingDialog>
    Submitting request
  </LoadingDialog>
{{/if}}
