<main>
  <h1>Clubhouse Announcements / Messages Of The Day (MOTD)</h1>

  <p>
    Announcements are shown on the user's homepage and can be targeted to active Rangers, Prospectives and/or Auditors.
  </p>
  <p>
    Expired announcements will be automatically deleted within 24 hours of the expiration.
  </p>

  <ChForm @formId="query" @formFor={{this.query}} @changeSet={{false}} @onSubmit={{this.searchAction}} as |f|>
    <FormRow>
      <f.select @name="type"
                @label="Filter by Type"
                @inline={{true}}
                @options={{this.typeOptions}} />
      <f.select @name="audience"
                @label="by Audience"
                @inline={{true}}
                @options={{this.audienceOptions}}/>
      <f.select @name="sort"
                @label="Sort"
                @inline={{true}}
                @options={{this.sortOptions}} />
      <div class="col-auto">
        <f.submit @label="Filter"/>
      </div>
    </FormRow>
  </ChForm>
  <div class="my-4">
    <UiButton @onClick={{this.newEntry}} @size="sm">New Message</UiButton>
  </div>

  Showing {{this.total}} of {{pluralize this.table_count "message"}}. Page {{this.currentPage}} of {{this.total_pages}}
  <UiTable>
    <thead>
    <tr>
      <th>Audience</th>
      <th>Status</th>
      <th>Expires</th>
      <th>Created By</th>
      <th>Created At</th>
      <th class="w-50">Subject</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    {{#each this.motds key="id" as |motd|}}
      <tr>
        <td class="no-wrap">
          {{#if motd.for_rangers}}
            Rangers<br>
          {{/if}}
          {{#if motd.for_pnvs}}
            Applicants
          {{/if}}
          {{#if motd.for_auditors}}
            Auditors
          {{/if}}
        </td>
        <td class="no-wrap">
          {{#if motd.expires_at}}
            {{#if motd.has_expired}}
              <UiBadge @type="warning">expired</UiBadge>
            {{else}}
              <UiBadge @type="success">active</UiBadge>
            {{/if}}
          {{else}}
            <UiBadge @type="success">active permanent</UiBadge>
          {{/if}}
        </td>
        <td class="no-wrap">
          {{#if motd.expires_at}}
            {{shift-format motd.expires_at year=true}} (Pacific)
          {{else}}
            <i>never</i>
          {{/if}}
        </td>
        <td class="no-wrap">
          <PersonLink @person={{motd.person}} />
        </td>
        <td class="no-wrap">
          {{shift-format motd.created_at year=true}} (Pacific)
        </td>
        <td>
          {{motd.subject}}
        </td>
        <td class="no-wrap">
          <UiEditButton @size="sm" @onClick={{fn this.editEntry motd}} />
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="6"><b class="text-danger">No messages were found.</b></td>
      </tr>
    {{/each}}
    </tbody>
  </UiTable>

  <UiButtonRow>
    <UiButton @type="secondary" @onClick={{this.goPrevPage}} @disabled={{eq this.currentPage 1}} @size="sm">
      Prev Page
    </UiButton>
    <UiButton @type="secondary" @onClick={{this.goNextPage}} @disabled={{eq this.currentPage this.total_pages}}
              @size="sm">
      Next Page
    </UiButton>
  </UiButtonRow>

  {{#if this.entry}}
    <ModalDialog @title={{if this.entry.isNew "New Message" "Edit Message"}} @onEscape={{this.cancelEntry}} @size="xl"
                 as |Modal|>
      <ChForm @formId="entry" @formFor={{this.entry}}
              @validator={{this.motdValidations}}
              @onSubmit={{this.saveEntry}} as |f|>
        <Modal.body>
          <FormRow>
            <FormLabel @fixed={{true}}>Audience</FormLabel>
            <div class="col-auto mt-2">
              <f.checkbox @name="for_rangers"
                          @label="Rangers"
                          @inline={{true}} />
              <f.checkbox @name="for_pnvs"
                          @label="Prospectives + Alphas"
                          @inline={{true}} />
              <f.checkbox @name="for_auditors"
                          @label="Auditors"
                          @inline={{true}} />
            </div>
          </FormRow>
          <p class="fw-semibold">
            The announcement will be automatically deleted within 24 hours of the expiration date.
          </p>
          <FormRow>
            <FormLabel @fixed={{true}}>Expires At</FormLabel>
            <f.datetime @name="expires_at"/>
          </FormRow>

          <FormRow>
            <f.text @name="subject"
                    @label="Subject / Heading"
                    @size={{80}} />
          </FormRow>
          <FormRow>
            <f.editor @name="message"
                      @label="Message Body"
                      @rows={{10}}
                      @cols={{80}}/>
          </FormRow>
        </Modal.body>
        <Modal.footer @align="start">
          <UiButtonRow>
            <f.submit @disabled={{this.entry.isSaving }}/>
            <UiCancelButton @onClick={{this.cancelEntry}} @disabled={{this.entry.isSaving }}/>
            {{#if this.entry.isSaving}}
              <LoadingIndicator/>
            {{/if}}
            {{#unless this.entry.isNew}}
              <div class="ms-auto">
                <UiDeleteButton @onClick={{fn this.deleteEntry this.entry}} />
              </div>
            {{/unless}}
          </UiButtonRow>
        </Modal.footer>
      </ChForm>
    </ModalDialog>
  {{/if}}
</main>