<main>
  <h1>Payroll Report</h1>
  {{#unless this.positionOptions}}
    <p class="text-danger">
      No positions have a paycode set. Payroll export is not available.
    </p>
  {{/unless}}
  <ChForm @formId="datesform" @formFor={{this.datesForm}} as |f|>
    <FormRow>
      <FormLabel>Positions to export</FormLabel>
      <f.checkboxGroup @name="position_ids" @options={{this.positionOptions}}>
        <:selectors as |setValues|>
          <div class="col-12 my-2">
            <a href class="me-2" {{on-click this.selectPayCode "all" setValues}}>select all</a>
            <a href class="me-2" {{on-click this.selectPayCode "none" setValues}}>deselect all</a>
            {{#each this.paycodeOptions as |code|}}
              <a href {{on-click this.selectPayCode code setValues}} class="me-2">select {{code}}</a>
            {{/each}}
          </div>
        </:selectors>
      </f.checkboxGroup>
    </FormRow>
    <FormRow class="mt-4">
      <div class="col">
        Default date &amp; time range is {{this.defaultWeekLabel}}
      </div>
    </FormRow>
    <FormRow>
      <f.datetime @name="start_time"
                  @label="Start Date & Time:"
                  @size={{20}}
      />
      <f.datetime @name="end_time"
                  @label="Ending Date & Time:"
                  @size={{20}}
      />
      <f.select @name="break_after"
                @label="Enforced Meal Break After"
                @options={{this.breakAfterOptions}}
      />
      <f.select @name="break_duration"
                @label="Meal Break Duration"
                @options={{this.breakDurationOptions}}
      />
      <div class="col-auto align-self-end">
        <f.submit @onSubmit={{this.submitReport}} @label="Submit"/>
      </div>
    </FormRow>
    <FormRow>
      <div class="form-text">Note: meal break is ignored on positions set to not adjust hours.</div>
    </FormRow>
  </ChForm>

  {{#if this.reportWasRun}}
    {{#if this.peopleWithoutIds}}
      <UiAlert @type="warning" @icon="exclamation-triangle">
        {{pluralize this.peopleWithoutIds.length "person"}} found who worked without a Paycom ID:
        <div class="mt-2 mb-4">
          {{#each this.peopleWithoutIds as |person idx|}}
            {{if idx ", "}}
            <PersonLink @person={{person}} />
          {{/each}}
        </div>
        <UiButton @onClick={{fn this.exportPayroll true this.peopleWithoutIds}} @size="sm" @type="secondary">
          Export Payroll Without Ids
        </UiButton>
      </UiAlert>
    {{/if}}
    {{#if this.people}}
      Showing {{pluralize this.entryCount "timesheet entry"}} for {{pluralize this.people.length "person"}}.
      <UiButton @onClick={{fn this.exportPayroll true this.people}} @size="sm">
        Export Payroll w/Meal Breaks
      </UiButton>
      <UiButton @onClick={{fn this.exportPayroll false this.people}} @size="sm" class="ms-3">
        Export Unadjusted Payroll
      </UiButton>
      <UiButton @onClick={{this.exportTable}} @size="sm" class="ms-3">
        Export On Screen Table
      </UiButton>
      <UiTable class="mt-2">
        <thead>
        <tr>
          <th>Callsign / Employee ID</th>
          <th>Position / Sub-Dept ID</th>
          <th>Entry Status</th>
          <th>Original Time</th>
          <th>Duration</th>
          <th>Adjusted</th>
          <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.people as |person|}}
          {{#each person.shifts as |row|}}
            <tr class={{if row.still_on_duty "table-warning"}}>
              <td>
                <PersonLink @person={{person}} />
                <br>
                {{person.employee_id}}
              </td>
              <td>
                {{row.position_title}}<br>
                {{row.paycode}}
              </td>
              <td class="text-center">
                {{#if row.still_on_duty}}
                  <UiBadge @text="still on duty" @type="warning" />
                {{else if row.verified}}
                  <UiBadge @text="verified" @type="success" />
                {{else}}
                  <UiBadge @text="unverified" @type="danger" />
                {{/if}}
              </td>
              <td>
                {{shift-format row.orig_on_duty row.orig_off_duty}}
              </td>
              <td class="text-end">
                {{hour-minute-format row.orig_duration}}
              </td>
              <td>
                {{#if row.meal_adjusted}}
                  {{#let row.meal_adjusted.first_half as |first|}}
                    {{shift-format first.on_duty first.off_duty}}
                  {{/let}}
                  <div class="ms-2 my-1"><i>- {{pluralize this.mealBreak "minute"}} meal break -</i></div>
                  {{#let row.meal_adjusted.second_half as |second|}}
                    {{shift-format second.on_duty second.off_duty}}
                  {{/let}}
                {{else}}
                  {{shift-format row.on_duty row.off_duty}}
                {{/if}}
              </td>
              <td>
                {{nl2br row.notes}}
              </td>
            </tr>
          {{/each}}
        {{/each}}
        </tbody>
      </UiTable>
    {{else}}
      <b class="text-danger">
        No timesheet entries found for the time range
      </b>
    {{/if}}
  {{/if}}
</main>
{{#if this.isSubmitting}}
  <LoadingDialog>
    Retrieving the timesheet entries
  </LoadingDialog>
{{/if}}
