<main>
  <h1>{{this.year}} Roll Call Interface</h1>
  <p>
    Use this page to sign people into a shift they have signed up for OR sign out. The interface
    is intended for Burn Perimeter Rangers who do not require gear to be issued before or collected afterwards.
  </p>

  <UiButtonRow class="mb-4">
    <UiButton @responsive={{true}} @onClick={{this.chooseSignIn}} @size="md">
      {{fa-icon "walking" right=1}} Sign IN People
    </UiButton>
    <UiButton @responsive={{true}} @onClick={{this.chooseSignOut}} @size="md">
      {{fa-icon "bed" right=1}} Sign OUT People
    </UiButton>
  </UiButtonRow>

  {{#if this.isSignOut}}
    <RollcallSignOut/>
  {{else if this.isSignIn}}
    <RollcallSignIn/>
  {{/if}}
</main>
