<main>
  <div class={{if (or this.showSlotCopyDialog this.slot this.showBulkEditDialog this.linkGroup) "d-none"}}>
    <YearSelect @title="Clubhouse Slots"
                @year={{this.year}}
                @minYear={{2008}}
                @skipPandemic={{true}}
                @onChange={{set-value this 'year'}} />

    {{#if (and this.eventDate.pre_event_slot_start this.eventDate.pre_event_slot_end)}}
      <p class="mt-2">
        {{this.year}} Pre-event is {{shift-format this.eventDate.pre_event_slot_start}} to
        {{shift-format this.eventDate.pre_event_slot_end}}
      </p>
    {{else}}
      <UiNotice @title="{{this.year}} pre-event slot dates are not setup" @type="danger">
        Pre-Event slots may not be properly vetted. Contact the Tech Team to set the Event Date records.
      </UiNotice>
    {{/if}}

    <FormRow>
      <FormLabel @auto={{true}}>Day Filter</FormLabel>
      <div class="col-auto">
        <ChForm::Select @name="dayFilter"
                        @value={{this.dayFilter}}
                        @options={{this.dayOptions}}
                        @onChange={{this.changeDayFilter}}/>
      </div>
      <FormLabel @auto={{true}}>Active Filter</FormLabel>
      <div class="col-auto">
        <ChForm::Select @name="activeFilter"
                        @value={{this.activeFilter}}
                        @options={{this.activeOptions}}
                        @onChange={{this.changeActiveFilter}} />
      </div>
      <FormLabel @auto={{true}}>Actions</FormLabel>
      <div class="col-auto">
        <UiButtonRow>
          <UiButton @onClick={{this.newSlot}} @size="sm">New Slot</UiButton>
          {{#if this.slots.length}}
            <UiButton @onClick={{fn this.openSlotCopy null}} @type="secondary" @size="sm">Copy Slots</UiButton>
          {{/if}}
        </UiButtonRow>
      </div>
    </FormRow>
    <FormRow class="g-2">
      <FormLabel @auto={{true}}>
        Filter by description:
      </FormLabel>
      <div class="col-auto">
        <Input @type="text"
               @value={{this.filterByDescription}}
               size="20"
               class="form-control"
          {{on "input" this.changeFilterByDescription}}
        />
      </div>
      <div class="col-auto">
        <UiButton @type="secondary" class="btn-link" @size="md" @onClick={{this.clearFilterByDescription}}>
          Clear
        </UiButton>
      </div>
      <div class="col-auto">
      </div>
    </FormRow>


    {{#if this.filterByDescription}}
      {{#if this.slots.length}}
        {{#if this.viewSlots}}
          {{#if this.bulkEditFiltered}}
            <div class="my-3">
              <Admin::SlotBulkEdit @slots={{this.viewSlots}}
                                   @onClose={{this.toggleBulkEditFiltered}}
                                   @isFiltered={{true}}
              />
            </div>
          {{else}}
            <div class="my-3">
              Showing {{this.viewSlots.length}} of {{pluralize this.slots.length "slot"}}
              <UiButton @type="primary" @onClick={{this.toggleBulkEditFiltered}} class="ms-2">Bulk Edit Filtered
                Results
              </UiButton>
            </div>
            <Admin::SlotsTable @slots={{this.filteredDescriptionGroup.slots}}
                               @slotsById={{this.slotsById}}
                               @childrenByParentId={{this.childrenByParentId}}
                               @repeatSlot={{this.repeatSlot}}
                               @repeatSlotAdd24Hours={{this.repeatSlotAdd24Hours}}
                               @deleteSlot={{this.deleteSlot}}
                               @editSlot={{this.editSlot}}
                               @showPosition={{true}}
            />
          {{/if}}
        {{else}}
          <p class="text-danger">
            No slots matched the description "{{this.filterByDescription}}"
          </p>
        {{/if}}
      {{/if}}
    {{else}}
      {{#if this.positionSlots}}
        <DropdownScrollList @items={{this.positionsScrollList}} @openAccordion={{true}} @thing="position"/>
      {{/if}}

      {{#if this.slots.length}}
        Showing {{this.viewSlots.length}} of {{pluralize this.slots.length "slot"}}
        {{#unless this.viewSlots}}
          <p class="text-danger">
            No slots matched the filter criteria.
          </p>
        {{/unless}}
      {{else}}
        No slots were found for {{this.year}}?
      {{/if}}


      {{#each this.positionSlots as |group|}}
        <UiAccordion id="position-{{group.position.id}}"
                     @isInitOpen={{this.keepAccordionOpen group.position}}
                     @onClick={{fn this.positionClicked group.position}} as |box|>
          <box.title>
            {{group.position.title}} ({{group.slots.length}}
            {{~#if group.inactive}}
              / <span class="text-danger">{{group.inactive}} inactive</span>
            {{~/if}})
          </box.title>
          <box.body>
            {{#if box.isOpen}}
              <UiButtonRow class="mb-2">
                <UiButton @size="sm" @onClick={{fn this.activate group}}>Activate All</UiButton>
                <UiButton @size="sm" @onClick={{fn this.deactivate group}}>Deactivate All</UiButton>
                <UiButton @type="secondary" @size="sm" @onClick={{fn this.openSlotCopy group.position.id}}>
                  Bulk Copy
                </UiButton>
                <UiButton @type="secondary" @size="sm" @onClick={{fn this.bulkEditOpenAction group}}>
                  Bulk Edit
                </UiButton>
                {{#if group.position.parent_position_id}}
                  <UiButton @type="secondary" @size="sm" @onClick={{fn this.openLinkSlots group "multiplier"}}>
                    Link To Multiplier Slots
                  </UiButton>
                  <UiButton @type="secondary" @size="sm" @onClick={{fn this.openLinkSlots group "parent"}}>
                    Link to Parent Slots
                  </UiButton>
                {{/if}}
              </UiButtonRow>
              <Admin::SlotsTable @slots={{group.slots}}
                                 @slotsById={{this.slotsById}}
                                 @childrenByParentId={{this.childrenByParentId}}
                                 @repeatSlot={{this.repeatSlot}}
                                 @repeatSlotAdd24Hours={{this.repeatSlotAdd24Hours}}
                                 @deleteSlot={{this.deleteSlot}}
                                 @editSlot={{this.editSlot}}
              />
            {{/if}}
          </box.body>
        </UiAccordion>
      {{/each}}
    {{/if}}
  </div>

  {{#if this.slot}}
    <Admin::SlotForm @slot={{this.slot}}
                     @slots={{this.slots}}
                     @positions={{this.positions}}
                     @trainerSlots={{this.trainerSlots}}
                     @onSave={{this.saveSlot}}
                     @onCancel={{this.cancel}}
                     @onClone={{this.cloneSlot}}
                     @year={{this.year}}
    />
  {{/if}}


  {{#if this.showSlotCopyDialog}}
    <Admin::SlotCopy @onCancel={{this.cancelSlotCopy}}
                     @updateSlots={{this._updateSlots}}
                     @year={{this.year}}
                     @selectedPositionId={{this.selectedPositionId}}
                     @viewSlots={{this.viewSlots}}
                     @positions={{this.positions}}
    />
  {{/if}}

  {{#if this.showBulkEditDialog}}
    <Admin::SlotBulkEdit @positions={{this.positions}}
                         @position={{this.bulkEditPosition.position}}
                         @slots={{this.bulkEditPosition.slots}}
                         @onPositionUpdate={{this.bulkEditPositionUpdatedAction}}
                         @onClose={{this.bulkEditCloseAction}}
    />
  {{/if}}

  {{#if this.linkGroup}}
    <SlotLinkShifts @slots={{this.linkGroup.slots}}
                    @position={{this.linkGroup.position}}
                    @type={{this.linkType}}
                    @onFinish={{this.closeLinkSlots}}
    />
  {{/if}}
</main>


{{#if this.activatingSlot}}
  <LoadingDialog>
    Activating slot #{{this.activatingSlot.id}}
    - {{this.activatingSlot.begins}}- {{this.this.activatingSlot.description}}
  </LoadingDialog>
{{/if}}

{{#if this.slots.isUpdating}}
  <LoadingDialog>
    Updating slots lists
  </LoadingDialog>
{{/if}}
