<main>
  <div class={{if (or this.showSlotCopyDialog this.slot this.showBulkEditDialog this.linkGroup) "d-none"}}>
    <YearSelect @title="Clubhouse Slots"
                @year={{this.year}}
                @years={{this.yearList}}
                @onChange={{action (mut this.year)}} />

    {{#if (and this.eventDate.pre_event_slot_start this.eventDate.pre_event_slot_end)}}
      <p class="mt-2">
        {{this.year}} Pre-event is {{shift-format this.eventDate.pre_event_slot_start}} to
        {{shift-format this.eventDate.pre_event_slot_end}}
      </p>
    {{else}}
      <UiNotice @title="{{this.year}} pre-event slot dates are not setup" @type="danger">
        Pre-Event slots may not be properly vetted. Contact the Tech Team to set the Event Date records.
      </UiNotice>
    {{/if}}

    <FormRow>
      <FormLabel @auto={{true}}>Day Filter</FormLabel>
      <div class="col-auto">
        <ChForm::Select @name="dayFilter"
                        @value={{this.dayFilter}}
                        @options={{this.dayOptions}}
                        @onChange={{this.changeDayFilter}}/>
      </div>
      <FormLabel @auto={{true}}>Active Filter</FormLabel>
      <div class="col-auto">
        <ChForm::Select @name="activeFilter"
                        @value={{this.activeFilter}}
                        @options={{this.activeOptions}}
                        @onChange={{this.changeActiveFilter}} />
      </div>
      <FormLabel @auto={{true}}>Actions</FormLabel>
      <div class="col-auto hstack gap-3">
        <UiButton @onClick={{this.newSlot}}>New Slot</UiButton>
        {{#if this.slots.length}}
          <UiButton @onClick={{fn this.openSlotCopy null}} @type="secondary">Copy Slots</UiButton>
        {{/if}}
      </div>
    </FormRow>


    {{#if this.positionSlots}}
      <DropdownScrollList @items={{this.positionsScrollList}} @openAccordion={{true}} @thing="position"/>
    {{/if}}

    {{#if this.slots.length}}
      Showing {{this.viewSlots.length}} of {{pluralize this.slots.length "slot"}}
      {{#unless this.viewSlots}}
        <p class="text-danger">
          No slots matched the filter criteria.
        </p>
      {{/unless}}
    {{else}}
      No slots were found for {{this.year}}?
    {{/if}}


    {{#each this.positionSlots as |group|}}
      <UiAccordion id="position-{{group.position.id}}"
                   @isInitOpen={{get this.positionsOpened group.position.id}}
                   @onClick={{action this.positionClicked group}} as |box|>
        <box.title>
          {{group.position.title}} ({{group.slots.length}}
          {{~#if group.inactive}}
            / <span class="text-danger">{{group.inactive}} inactive</span>
          {{~/if}})
        </box.title>
        <box.body>
          {{#if box.isOpen}}
            <UiButtonRow class="mb-2">
              <UiButton @size="sm" @onClick={{fn this.activate group}}>Activate All</UiButton>
              <UiButton @size="sm" @onClick={{fn this.deactivate group}}>Deactivate All</UiButton>
              <UiButton @type="secondary" @size="sm" @onClick={{fn this.openSlotCopy group.position.id}}>
                Bulk Copy
              </UiButton>
              <UiButton @type="secondary" @size="sm" @onClick={{fn this.bulkEditOpenAction group}}>
                Bulk Edit
              </UiButton>
              {{#if group.position.parent_position_id}}
                <UiButton @type="secondary" @size="sm" @onClick={{fn this.openLinkSlots group "multiplier"}}>
                  Link To Multiplier Slots
                </UiButton>
                <UiButton @type="secondary" @size="sm" @onClick={{fn this.openLinkSlots group "parent"}}>
                  Link to Parent Slots
                </UiButton>
              {{/if}}
            </UiButtonRow>
            <UiTable>
              <thead>
              <tr>
                <th class="text-end">ID</th>
                <th>Time</th>
                <th class="text-end">Max</th>
                <th class="text-end">Count</th>
                <th class="text-end">Credits</th>
                <th>Description</th>
                <th>Active</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              {{#each group.slots key="id" as |slot|}}
                <tr id="slot-{{slot.id}}">
                  <td class="text-end">{{slot.id}}</td>
                  <td>
                    {{shift-format slot.begins slot.ends timezone=slot.timezone_abbr}}
                    {{#if slot.trainer_slot}}
                      <div class="mt-1">
                        Multiplier
                        #{{slot.trainer_slot.id}} {{slot.trainer_slot.position.title}} {{slot.trainer_slot.description}}
                        {{shift-format slot.trainer_slot.begins}}
                      </div>
                    {{/if}}
                    {{#if slot.parent_signup_slot}}
                      <div class="mt-1">
                        Parent
                        #{{slot.parent_signup_slot.id}} {{slot.parent_signup_slot.position.title}} {{slot.parent_signup_slot.description}}
                        {{shift-format slot.parent_signup_slot.begins}}
                      </div>
                    {{/if}}
                  </td>
                  <td class="text-end">{{slot.max}}</td>
                  <td class="text-end">{{slot.signed_up}}</td>
                  <td class="text-end">{{credits-format slot.credits}}</td>
                  <td>
                    <SlotInfoLink @description={{slot.description}} @info={{slot.url}} />
                  </td>
                  <td class="text-center">
                    {{#if slot.active}}
                      {{fa-icon "check" color="success"}}
                    {{else}}
                      {{fa-icon "times" color="danger"}}
                    {{/if}}
                  </td>
                  <td>
                    <UiButtonRow>
                      <UiButton @type="secondary" @size="sm" @onClick={{fn this.repeatSlot slot}}>
                        {{fa-icon "clone"}} Repeat
                      </UiButton>
                      <UiButton @type="secondary" @size="sm" @onClick={{fn this.repeatSlotAdd24Hours slot}}>
                        {{fa-icon "clone"}} Repeat+24
                      </UiButton>
                      <UiButton @type="danger" @size="sm" @onClick={{fn this.deleteSlot slot}}>
                        {{fa-icon "trash-alt"type="fas"}} Delete
                      </UiButton>
                      <UiButton @onClick={{fn this.editSlot slot}} @size="sm">
                        {{fa-icon "edit"}} Edit
                      </UiButton>
                    </UiButtonRow>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </UiTable>
          {{/if}}
        </box.body>
      </UiAccordion>
    {{/each}}
  </div>

  {{#if this.slot}}
    <Admin::SlotForm @slot={{this.slot}}
                     @slots={{this.slots}}
                     @positions={{this.positions}}
                     @trainerSlots={{this.trainerSlots}}
                     @onSave={{this.saveSlot}}
                     @onCancel={{this.cancel}}
                     @onClone={{this.cloneSlot}}
                     @year={{this.year}}
    />
  {{/if}}


  {{#if this.showSlotCopyDialog}}
    <Admin::SlotCopy @onCancel={{this.cancelSlotCopy}}
                     @updateSlots={{this._updateSlots}}
                     @year={{this.year}}
                     @selectedPositionId={{this.selectedPositionId}}
                     @viewSlots={{this.viewSlots}}
                     @positions={{this.positions}}
    />
  {{/if}}

  {{#if this.showBulkEditDialog}}
    <Admin::SlotBulkEdit @positions={{this.positions}}
                         @position={{this.bulkEditPosition}}
                         @onPositionUpdate={{this.bulkEditPositionUpdatedAction}}
                         @onClose={{this.bulkEditCloseAction}}
    />
  {{/if}}

  {{#if this.linkGroup}}
    <SlotLinkShifts @slots={{this.linkGroup.slots}}
                    @position={{this.linkGroup.position}}
                    @type={{this.linkType}}
                    @onFinish={{this.closeLinkSlots}}
    />
  {{/if}}
</main>


{{#if this.activatingSlot}}
  <LoadingDialog>
    Activating slot #{{this.activatingSlot.id}}
    - {{this.activatingSlot.begins}}- {{this.this.activatingSlot.description}}
  </LoadingDialog>
{{/if}}

{{#if this.slots.isUpdating}}
  <LoadingDialog>
    Updating slots lists
  </LoadingDialog>
{{/if}}
