<h1 class="d-print-none">{{this.year}} Schedule &amp; Shift Sign Ups</h1>
<BackToHome />
<ScheduleManage @person={{this.session.user}}
                @slots={{this.slots}}
                @signedUpSlots={{this.signedUpSlots}}
                @scheduleSummary={{this.scheduleSummary}} @creditsEarned={{this.creditsEarned}} @year={{this.year}}
                @permission={{this.permission}} />
