<h1>{{year}} Schedule / Shift Sign Up</h1>

<ScheduleManage @person={{person}} @slots={{slots}} @signedUpSlots={{signedUpSlots}} @scheduleSummary={{scheduleSummary}} @creditsEarned={{creditsEarned}} @year={{year}} @permission={{permission}} />
