<div class="d-print-none mb-4">
  {{#link-to "me.schedule"}}Back To Your Schedule{{/link-to}}
</div>

<h1>{{person.callsign}} Schedule {{year}}</h1>

<div class="schedule-table">
  <div class="schedule-row schedule-header">
    <div class="schedule-time">From</div>
    <div class="schedule-time">To</div>
    <div class="schedule-duration">Time</div>
    <div class="schedule-credits">Credits</div>
    <div class="schedule-long-description">Position</div>
  </div>

  {{#if scheduleSlots}}
    {{#each scheduleSlots as |slot| }}
      <div class="schedule-row {{if slot.is_overlapping "schedule-overlapping"}}">
        <div class="schedule-time">
          {{#if slot.is_overlapping}}{{fa-icon "exclamation-triangle"}}{{/if}}
          {{shift-format slot.slot_begins}}
        </div>
        <div class="schedule-time">{{shift-format slot.slot_ends}}</div>
        <div class="schedule-duration">{{hour-minute-format slot.slot_duration}}</div>
        <div class="schedule-credits">{{credits-format slot.credits}}</div>
        <div class="schedule-long-description">{{slot.position_title}}</div>
      </div>
    {{/each}}
  {{else}}
    <div class="schedule-row">
      <div>
        {{#if slots}}
          <p class="text-danger">No upcoming shifts were found.</p>
        {{else}}
          <p><strong>You have nothing schedule for {{year}}.</strong></p>
        {{/if}}
      </div>
    </div>
  {{/if}}
  <div class="schedule-row">
    <div>
      <b>Total Time:</b> {{hour-minute-format (sum-column slots "slot_duration")}}
      <b>Scheduled Credits:</b> {{credits-format creditsTotal}}
      <b>Earned Credits:</b> {{credits-format creditsEarned}}
    </div>
  </div>
</div>

{{#if overlapping}}
  <p><span class="text-danger">You are signed up for overlapping shifts</span>, marked with a {{fa-icon "exclamation-triangle"}}.
    This might be an error, and you
    didn't mean to be in two places at once. It might be just fine and you plan to work two shifts back-to-back.
    You only get credit for the time you work, and won"t receive double credit for the overlapping time.</p>
{{/if}}
