<div class="d-print-none mb-4">
  {{#link-to "me.schedule"}}Back To Your Schedule{{/link-to}}
</div>

<h1>{{person.callsign}} Schedule {{year}}</h1>
<table class="table table-hover schedule-table table-sm table-rc">
  <thead>
    <tr>
      <th class="schedule-time">From</th>
      <th class="schedule-time">To</th>
      <th class="schedule-duration text-right">Time</th>
      <th class="schedule-credits text-right">Credits</th>
      <th class="schedule-description">Position / Description</th>
    </tr>
  </thead>
  <tbody>
{{#if scheduleSlots}}
    {{#each scheduleSlots as |slot| }}
      <tr class="{{if slot.is_overlapping "schedule-overlapping"}}">
        <td>
          {{#if slot.is_overlapping}}{{fa-icon "exclamation-triangle"}}{{/if}}
          {{shift-format slot.slot_begins}}
        </td>
        <td>{{shift-format slot.slot_ends}}</td>
        <td>{{hour-minute-format slot.slot_duration}}</td>
        <td>{{credits-format slot.credits}}</td>
        <td>{{slot.position_title}} {{slot.slot_description}}</td>
      </tr>

      {{#if slot.slot_url}}
        <tr class="no-border">
          <td colspan="5">
            {{slot.slot_url}}
          </td>
        </tr>
      {{/if}}
    {{/each}}
{{else}}
  <tr class="no-collapse">
    <td colspan="6">
        <strong>You have nothing schedule for {{year}}.</strong>
    </td>
  </tr>
{{/if}}
    <tr class="no-collapse">
      <td colspan="5">
        <b>Total Time:</b> {{hour-minute-format (sum-column slots "slot_duration")}}
        <b>Scheduled Credits:</b> {{credits-format creditsTotal}}
        <b>Earned Credits:</b> {{credits-format creditsEarned}}
      </td>
    </tr>
  </tbody>
</table>
{{#if overlapping}}
<p><span class="text-danger">You are signed up for overlapping shifts</span>, marked with a {{fa-icon "exclamation-triangle"}}.
This might be an error, and you
didn"t mean to be in two places at once.  It might be just fine and you plan to work two shifts back-to-back.
You only get credit for the time you work, and won"t receive double credit for the overlapping time.</p>
{{/if}}
