<header class="d-print-none">
  <nav class="navbar navbar-expand-md navbar-light bg-khaki">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{#link-to "me.overview" class="navbar-brand"}}
      {{#if (eq (config "DeploymentEnvironment") "Staging")}}
        <span class="text-danger">Staging Server</span>
      {{else if (eq (config "DeploymentEnvironment") "Training")}}
        <span class="text-danger">Training Server</span>
      {{else}}
        Clubhouse
      {{/if}}
    {{/link-to}}

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      {{#if session.isAuthenticated}}
        {{! Show callsign and logout button on small screens with collapsed navbar}}
        <div class="navbar-text d-md-none float-right">
          {{#link-to "logout" class="btn btn-sm btn-secondary text-white"}}Logout{{/link-to}}
        </div>
        <div class="navbar-text d-md-none h4 text-black">
          {{session.user.callsign}}
        </div>
      {{/if}}

      <ul class="navbar-nav mr-auto">
        {{#if session.isAuthenticated}}
          <li class="nav-item dropdown  dropdown-large">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Me</a>
            <div class="dropdown-menu dropdown-menu-large">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="navbar-text">Rangering</div>
                    {{#link-to "me.schedule" class="dropdown-item"}}Schedule / Sign Up{{/link-to}}
                    {{#if (or session.user.isAlpha session.user.isRanger)}}
                      {{#link-to "me.timesheet-corrections.index" class="dropdown-item"}}Timesheet Corrections{{/link-to}}
                      {{#link-to "me.timesheet" class="dropdown-item"}}Timesheets{{/link-to}}
                    {{/if}}
                    {{#unless session.user.isAuditor}}
                      {{#link-to "me.event-info" class="dropdown-item"}}Event Info{{/link-to}}
                    {{/unless}}
                  </div>

                  {{#if (or session.user.isRanger session.user.isAlpha session.user.isProspective)}}
                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">Pre-Event</div>
                      {{#if (or session.user.isAlpha session.user.isProspective)}}
                        {{#link-to "me.tickets" class="dropdown-item"}}Work Access Pass{{/link-to}}
                      {{else}}
                        {{#link-to "me.tickets" class="dropdown-item"}}Tickets &amp; Stuff{{/link-to}}
                      {{/if}}

                      {{#if (and (config "MotorpoolPolicyEnable") (or session.user.isRanger session.user.isAlpha))}}
                        {{#link-to "me.motorpool-policy" class="dropdown-item"}}Motorpool Policy{{/link-to}}
                      {{/if}}
                    </div>

                  {{/if}}
                  <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="navbar-text">Communication</div>
                    {{#link-to "me.alerts" class="dropdown-item"}}Alert Preferences{{/link-to}}
                    {{#if session.user.isRanger}}
                      {{#link-to "me.messages" class="dropdown-item"}}Messages{{/link-to}}
                      {{#link-to "me.contact" class="dropdown-item"}}Contact Ranger{{/link-to}}
                    {{/if}}
                    {{#if session.user.teacher.have_mentored}}
                      {{#link-to "me.mentees" class="dropdown-item"}}My Mentees{{/link-to}}
                    {{/if}}
                  </div>

                  <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="navbar-text">My Account</div>
                    {{#link-to "me.personal-info" class="dropdown-item"}}Personal Info{{/link-to}}
                    {{#if session.user.isRanger}}
                      {{#link-to "me.emergency-contact" class="dropdown-item"}}Emergency Contact{{/link-to}}
                    {{/if}}
                    {{#link-to "me.password" class="dropdown-item"}}Change Password{{/link-to}}
                  </div>
                </div>
              </div>
            </div>
          </li>
          {{#if session.user.teacher.is_trainer}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Training</a>
              <div class="dropdown-menu">
                {{#link-to "training.index" "dirt" class="dropdown-item"}}Trainer's Report{{/link-to}}
                {{#link-to "training.capacity" "dirt" class="dropdown-item"}}Training Capacity{{/link-to}}
                {{#link-to "training.multiple-enrollments" "dirt" class="dropdown-item"}}Multiple Enrollments Report{{/link-to}}
              </div>
            </li>
          {{/if}}

          {{#if session.user.teacher.is_art_trainer}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">ART Training</a>
              <div class="dropdown-menu">
                {{#each session.user.teacher.arts as |art|}}
                  {{#link-to "training.index" art.id class="dropdown-item"}}{{art.title}}{{/link-to}}
                {{/each}}
              </div>
            </li>
          {{/if}}

          {{#if (has-role "mentor")}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Mentoring</a>
              <div class="dropdown-menu">
                <div class="navbar-text">Pre-Playa</div>
                {{#link-to "mentor.potentials" class="dropdown-item"}}Potential Alphas{{/link-to}}
                {{#link-to "mentor.alpha-status" class="dropdown-item"}}Alpha Status{{/link-to}}

                <div class="navbar-text">On Playa</div>
                {{#link-to "mentor.schedule" class="dropdown-item"}}Alpha Scheduled Shifts{{/link-to}}
                {{#link-to "mentor.acceptance-sheets" class="dropdown-item"}}Alpha Acceptance Sheets{{/link-to}}
                {{#link-to "mentor.assignment" class="dropdown-item"}}Alpha Mentors Assignment{{/link-to}}
                {{#link-to "mentor.convert" class="dropdown-item"}}Alpha Conversion{{/link-to}}

                <div class="navbar-text">Post Playa</div>
                {{#link-to "mentor.mentees" class="dropdown-item"}}Mentees For Year{{/link-to}}
              </div>
            </li>
          {{/if}}

          {{#if (has-role "vc")}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Vol Coord</a>
              <div class="dropdown-menu">
                {{#link-to "handle-checker" class="dropdown-item"}}Check Callsigns{{/link-to}}
                {{#if (has-role "edit-access-docs")}}
                  {{#link-to "vc.access-documents" class="dropdown-item"}}Manage Access Docs{{/link-to}}
                {{/if}}
                {{#if (has-role "edit-bmids")}}
                  {{#link-to "vc.bmid" class="dropdown-item"}}Manage BMIDs{{/link-to}}
                {{/if}}
                <a href="{{cgo "timesheet" "noobTracker"}}" class="dropdown-item">N00b Tracker!</a>
              </div>
            </li>
          {{/if}}

          {{#if (has-role "admin" "edit-slots" "megaphone")}}
            <li class="nav-item dropdown dropdown-large">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
              <div class="dropdown-menu dropdown-menu-large">
                <div class="container">
                  <div class="row">
                    {{#if (has-role "admin" "edit-slots")}}
                      <div class="col-sm-12 col-md-3">
                        <div class="navbar-text">Edit Records</div>
                        {{#link-to "admin.slots" class="dropdown-item"}}Schedule Slots{{/link-to}}
                        {{#if (has-role "admin")}}
                          {{#link-to "admin.credits" class="dropdown-item"}}Schedule Credits{{/link-to}}
                          {{#link-to "admin.assets" class="dropdown-item"}}Assets{{/link-to}}
                          {{#link-to "admin.event-dates" class="dropdown-item"}}Event Dates{{/link-to}}
                          {{#link-to "admin.motd" class="dropdown-item"}}MOTD{{/link-to}}
                          {{#link-to "admin.positions" class="dropdown-item"}}Positions{{/link-to}}
                          {{#link-to "admin.roles" class="dropdown-item"}}(System) Roles{{/link-to}}
                          {{#link-to "admin.help" class="dropdown-item"}}Help Documents{{/link-to}}
                          {{#link-to "admin.alerts" class="dropdown-item"}}RBS Alerts{{/link-to}}
                        {{/if}}
                      </div>
                      {{#if (has-role "admin")}}
                        <div class="col-sm-12 col-md-3">
                          <div class="navbar-text">Site Administration</div>
                          {{#link-to "admin.settings" class="dropdown-item"}}Settings{{/link-to}}
                          <a href="{{cgo "maintenance" "selectAll"}}" class="dropdown-item">Maintenance</a>
                          <a href="{{cgo "logview" "show"}}" class="dropdown-item">Log View (CH1)</a>
                          {{#link-to "admin.error-log" class="dropdown-item"}}Error Log{{/link-to}}
                          {{#link-to "admin.action-log" class="dropdown-item"}}Action Log{{/link-to}}
                          <div class="navbar-text">Lambase</div>
                          <a href="{{cgo "lam" "syncLamPhotos"}}" class="dropdown-item">Synchronize Lam Photos</a>
                          <a href="{{cgo "lam" "exportLamPhotos"}}" class="dropdown-item">Export Lam Photos</a>
                        </div>
                        <div class="col-sm-12 col-md-3">
                          <div class="navbar-text">Pre-Event</div>
                          {{#link-to "admin.salesforce" class="dropdown-item"}}Salesforce Import{{/link-to}}
                          <a href="{{cgo "reminders" "index"}}" class="dropdown-item">Reminder Emails</a>
                          <a href="{{cgo "manualreview" "selectAll"}}" class="dropdown-item">Manual Review</a>
                          {{#link-to "admin.radio-eligibility" class="dropdown-item"}}Radio Eligibility{{/link-to}}
                          <div class="navbar-text">Bulk Operations</div>
                          {{#link-to "admin.bulk-upload" class="dropdown-item"}}Bulk Upload{{/link-to}}
                          {{#link-to "admin.bulk-sign-in-out" class="dropdown-item"}}Bulk Sign In/Out{{/link-to}}
                          {{#link-to "admin.bulk-signout" class="dropdown-item"}}Bulk Signout{{/link-to}}
                        </div>
                      {{/if}}
                    {{/if}}

                    {{#if (has-role "admin" "megaphone" "edit-slots")}}
                      <div class="col-sm-12 col-md-3">
                        {{#if (has-role "admin")}}
                          <div class="navbar-text">Post Event</div>
                          {{#link-to "admin.thank-you-cards" class="dropdown-item"}}Thank-You Cards{{/link-to}}
                          {{#link-to "admin.timesheet-sanity-checker" class="dropdown-item"}}Timesheet Sanity Checker{{/link-to}}
                          {{#link-to "admin.hours-credits" class="dropdown-item"}}Hours/Credits{{/link-to}}
                          <a href="{{cgo "person" "selectByStatusChange"}}" class="dropdown-item">People by Status Change</a>
                        {{/if}}
                        <div class="navbar-text">Communications</div>
                        {{#link-to "admin.rbs" class="dropdown-item"}}Ranger Broadcast{{/link-to}}
                      </div>
                    {{/if}}
                  </div>
                </div>
              </div>
            </li>
          {{/if}}

          {{#if (has-role "admin" "manage")}}
            <li class="nav-item dropdown dropdown-large">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Reports</a>
              <div class="dropdown-menu dropdown-menu-large">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">Schedule</div>
                      {{#link-to "reports.shift-lead" class="dropdown-item"}}Shift Lead Report{{/link-to}}
                      {{#link-to "reports.schedule-by-callsign" class="dropdown-item"}}Schedule by Callsign{{/link-to}}
                      {{#link-to "reports.schedule-by-position" class="dropdown-item"}}Schedule by Position{{/link-to}}
                      {{#link-to "reports.shift-coverage" class="dropdown-item"}}Coverage Report{{/link-to}}
                      {{#link-to "reports.shift-signups" class="dropdown-item"}}Shift Signups{{/link-to}}
                      {{#link-to "reports.hq-forecast" class="dropdown-item"}}HQ Checkin/Out Forecast{{/link-to}}
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">People</div>
                      {{#link-to "reports.people-by-position" class="dropdown-item"}}People by Position{{/link-to}}
                      {{#link-to "reports.people-by-role" class="dropdown-item"}}People by Role{{/link-to}}
                      <a href="{{cgo "person" "selectByStatus"}}" class="dropdown-item">People by Status</a>
                      {{#link-to "reports.people-by-location" class="dropdown-item"}}People by Location{{/link-to}}
                      {{#link-to "reports.special-teams" class="dropdown-item"}}People By Special Team{{/link-to}}
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">Timesheets</div>
                      {{#link-to "reports.on-duty" (query-params over_hours=null) class="dropdown-item"}}People On Duty{{/link-to}}
                      {{#link-to "reports.on-duty" (query-params over_hours=6) class="dropdown-item"}}... Over 6 Hours{{/link-to}}
                      <a href="{{cgo "slot" "selectFlakeReport"}}" class="dropdown-item">Flake Report</a>
                      <a href="{{cgo "timesheet" "totalPersonPosition"}}" class="dropdown-item">Timesheet Totals</a>
                      {{#link-to "reports.timesheet-by-callsign" class="dropdown-item"}}Timesheet By Callsign{{/link-to}}
                      {{#link-to "reports.timesheet-correction-requests" class="dropdown-item"}}Corrections Requests{{/link-to}}
                      {{#link-to "reports.timesheet-unconfirmed" class="dropdown-item"}}Timesheet Unconfirmed{{/link-to}}
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">Assets</div>
                      {{#link-to "reports.asset-history" class="dropdown-item"}}Non-Radio Asset History{{/link-to}}
                      {{#link-to "reports.assets-outstanding" class="dropdown-item"}}Assets Outstanding{{/link-to}}
                      {{#link-to "reports.radio-assets" class="dropdown-item"}}Radio Assets{{/link-to}}
                      {{#link-to "reports.radio-checkout" class="dropdown-item"}}Radio Checkout Report{{/link-to}}
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">Quartermaster</div>
                      {{#link-to "reports.freaking-years" class="dropdown-item"}}Freaking Years{{/link-to}}
                      {{#link-to "reports.shirts" class="dropdown-item"}}Earned Shirts{{/link-to}}
                      {{#link-to "reports.alpha-shirts" class="dropdown-item"}}Alpha Shirts{{/link-to}}
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">Other</div>
                      <a href="{{cgo "position" "selectSanityChecks"}}" class="dropdown-item">Position Sanity Check</a>
                      <a href="{{cgo "languages" "reportByLanguage"}}" class="dropdown-item">Languages</a>
                      {{#link-to "reports.sandman-qualified" class="dropdown-item"}}Sandman Qualified{{/link-to}}
                      {{#link-to "reports.vehicle-paperwork" class="dropdown-item"}}Vehicle Paperwork{{/link-to}}
                    </div>
                  </div>
                </div>
              </div>
            </li>

          {{/if}}
          {{#if (has-role "admin" "manage")}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Search</a>
              <div class="dropdown-menu">
                {{#link-to "search.assets" class="dropdown-item"}}Assets{{/link-to}}
                {{#link-to "search.languages" class="dropdown-item"}}Languages{{/link-to}}
              </div>
            </li>
          {{/if}}
        {{else}}
          {{! User not logged in}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Actions</a>
            <div class="dropdown-menu">
              {{#link-to "login" class="dropdown-item"}}Login{{/link-to}}
              {{#link-to "reset-password" class="dropdown-item"}}Forgot Password{{/link-to}}
              {{#link-to "register" class="dropdown-item"}}Register{{/link-to}}
              <a href="https://profiles.burningman.com/participate" class="dropdown-item">Volunteer Profile</a>
            </div>
          </li>
        {{/if}}
        {{!
          -- This menu is hidden in bigger devices with d-sm-none.
           The sidebar isn't proper for smaller screens imo, so this dropdown
           menu can keep all the useful sidebar itens exclusively for
           smaller screens
        <li class="nav-item d-sm-block d-md-none">
        </li>
      }}

      </ul>
      {{#if session.isAuthenticated}}
        <ul class="navbar-nav d-none d-md-inline">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{session.user.callsign}}</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item" {{action "logout"}}>Logout</a>
            </div>
          </li>
        </ul>
      {{/if}}
    </div>
  </nav>
  {{#if canAccountManage}}
    <div class="bg-khaki row no-gutters">
      {{! line up the search bar with main content}}
      <div class="d-none d-md-block sidebar-expanded">
        &nbsp;
      </div>

      {{#ch-form "person-search" searchForm formClass="col-11 col-md-9 col-lg-7 mb-2 mx-2" changeSet=false onSubmit=(action "submit") onFormChange=(action searchFormChange) as |f|}}
        <div class="form-row">
          <div class="col-12 col-sm-10 col-lg-9 col-xl-8">
            {{#power-select-typeahead
                        search=(action searchAction)
                        onchange=(action searchChangeAction)
                        onfocus=(action searchFocusAction)
                        onkeydown=(action searchKeydownAction)
                        renderInPlace=true
                        placeholder=searchPlaceholder
                        triggerId="person-search-query"
                        defaultHighlighted=(action defaultHighlightedAction)
                        loadingMessage="Searching . . ."
                        noMatchesMessage="No results found"
                        as |person| }}
              <strong>{{person.callsign}}</strong> &lt;{{person.first_name}} {{person.last_name}}, {{person.status}}&gt;
              {{#if (eq person.email_match "full")}}
                - email exact match
              {{else if (eq person.email_match "partial")}}
                - email partial match
              {{/if}}
            {{/power-select-typeahead}}
          </div>
          <div class="col-auto mt-2 mt-sm-0 no-gutters">
            {{f.input "mode" type="select" options=modeOptions controlClass="form-control form-control-sm"}}
          </div>
        </div>
        {{#if showSearchOptions}}
          <div class="bg-white p-2">
            <div class="form-row">
              <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">Search By:</label>
              <div class="col-sm-12 col-md-9 mt-2">
                {{f.input "callsign" type="checkbox" label="Callsign" inline=true}}
                {{f.input "name" type="checkbox" label="Name" inline=true}}
                {{f.input "email" type="checkbox" label="Email" inline=true}}
                {{f.input "formerly_known_as" type="checkbox" label="Formerly Known As" inline=true}}
              </div>
            </div>
            <div class="form-row">
              <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">Include:</label>
              <div class="col-sm-12 col-md-9 mt-2">
                {{f.input "auditor" type="checkbox" label="Auditor" inline=true}}
                {{f.input "past_prospective" type="checkbox" label="Past Prospective" inline=true}}
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="col-auto">
                <small>Hint: Save time by pressing &lt;SHIFT&gt; F1 to place the cursor in search field.</small>
              </div>
              <div class="col-auto ml-auto mr-2">
                <button type="button" class="btn btn-sm btn-secondary" {{action "hideSearchBoxAction"}}>Hide Options</button>
              </div>
            </div>
          </div>
        {{/if}}
      {{/ch-form}}
    </div>
  {{/if}}
</header>

{{#if session.isAuthenticated}}
  {{#if groundHogDayTime}}
    <div class="h4 alert alert-light-red text-center p-2 m-0">
      Training Server - Simulated Time {{moment-format groundHogDayTime "dddd, MMMM Do YYYY @ HH:mm"}}
    </div>
  {{else if (eq (config "DeploymentEnvironment") "Staging")}}
    <div class="h4 alert alert-light-red text-center p-2 m-0">
      You are on the Staging Server used for testing. This is not the production server.
    </div>
  {{/if}}


  {{#new-version-notifier as |version lastVersion reload|}}
    <div class="alert alert-danger text-center p-1 m-0">
      <p class="mb-2">
        Hey! The Ranger Tech Ninjas have been busy hammering the bits and bytes.<br>
        A new version of the Clubhouse is available.<br>
        Click "Reload" to update to the latest version ({{version}}).
      </p>
      <button type="button" onclick={{action reload}} class="btn btn-danger">Reload</button>
    </div>
  {{/new-version-notifier}}
{{/if}}

<div class="row" id="body-row">
  {{outlet}}
</div>

<footer class="footer d-print-none">
  <div class="container text-center">
    {{config "SiteNotice"}}
    <p>Build: {{buildTimestamp}} Tag: {{applicationVersion}}</p>
  </div>
</footer>
{{modal-registry}}
