<ToastRegistry />
<ModalRegistry/>
<header class="d-print-none">
  <Navbar />
   {{#if (has-role "admin" "manage" "vc" "mentor")}}<SearchItemBar/>{{/if}}
  {{#if this.groundHogDayTime}}
    <div class="alert alert-success text-center p-2 m-0">
      <b>Training Server - Simulated Time {{dayjs-format this.groundHogDayTime "dddd, MMMM Do YYYY @ HH:mm"}}</b>
    </div>
  {{else if this.session.isStaging}}
    <div class="h4 alert alert-light-red text-center p-2 m-0">
      You are on the Staging Server used for testing. THIS IS NOT THE PRODUCTION SERVER.
    </div>
  {{/if}}

  {{#if this.session.isAuthenticated}}
    <NewVersionNotify />
  {{/if}}
</header>

<div id="body-row">{{outlet}}</div>

<footer class="footer d-print-none">
  <div class="container text-center">
    &copy; 2008-{{dayjs-format "" "YYYY"}} Black Rock City, LLC.
    <span class="d-inline-block">
      All information contained within this website is strictly confidential.
    </span>
    <div>Build: {{this.buildTimestamp}} <span class="d-inline-block">Tag: {{this.applicationVersion}}</span></div>
  </div>
</footer>
