<header class="d-print-none">
  <nav class="navbar navbar-expand-md navbar-light bg-khaki">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      Menu
    </button>
    <LinkTo @route="me.overview" class="navbar-brand">
      {{#if (eq (config "DeploymentEnvironment") "Staging")}}
        <span class="text-danger">Staging Server</span>
      {{else if (eq (config "DeploymentEnvironment") "Training")}}
        <span class="text-danger">Training Server</span>
      {{else}}
        Clubhouse
      {{/if}}
    </LinkTo>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      {{#if session.isAuthenticated}}
      {{! Show callsign and logout button on small screens with collapsed navbar}}
        <div class="navbar-text d-md-none float-right">
          <LinkTo @route="logout" class="btn btn-sm btn-secondary text-white">Logout</LinkTo>
        </div>
        <div class="navbar-text d-md-none h4 text-black">
          {{session.user.callsign}}
        </div>
      {{/if}}

      <ul class="navbar-nav mr-auto">
        {{#if session.isAuthenticated}}
          <li class="nav-item dropdown  dropdown-large">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Me</a>
            <div class="dropdown-menu dropdown-menu-large">
              <div class="container">
                <div class="row">
                  {{#unless (or session.user.isPastProspective session.user.isProspectiveWaitlist)}}

                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">Rangering</div>
                      <LinkTo @route="me.schedule" class="dropdown-item">Schedule / Sign Up</LinkTo>
                      {{#if (or session.user.isAlpha session.user.isRanger)}}
                        <LinkTo @route="me.timesheet-corrections.index" class="dropdown-item">Timesheet Corrections
                        </LinkTo>
                        <LinkTo @route="me.timesheet" class="dropdown-item">Timesheets</LinkTo>
                      {{/if}}
                      {{#unless session.user.isAuditor}}
                        <LinkTo @route="me.event-info" class="dropdown-item">Event Info</LinkTo>
                      {{/unless}}
                    </div>
                  {{/unless}}

                  {{#if (or session.user.isRanger session.user.isAlpha session.user.isProspective)}}
                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">Pre-Event</div>
                      {{#if (or session.user.isAlpha session.user.isProspective)}}
                        <LinkTo @route="me.tickets" class="dropdown-item">Work Access Pass</LinkTo>
                      {{else}}
                        <LinkTo @route="me.tickets" class="dropdown-item">Tickets &amp; Stuff</LinkTo>
                      {{/if}}

                      {{#if (and (config "MotorpoolPolicyEnable") (or session.user.isRanger session.user.isAlpha))}}
                        <LinkTo @route="me.motorpool-policy" class="dropdown-item">Motorpool Policy</LinkTo>
                      {{/if}}
                    </div>

                  {{/if}}
                  <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="navbar-text">Communication</div>
                    <LinkTo @route="me.alerts" class="dropdown-item">Alert Preferences</LinkTo>
                    {{#if session.user.isRanger}}
                      <LinkTo @route="me.messages" class="dropdown-item">Messages</LinkTo>
                      <LinkTo @route="me.contact" class="dropdown-item">Contact Ranger</LinkTo>
                    {{/if}}
                    {{#if session.user.teacher.have_mentored}}
                      <LinkTo @route="me.mentees" class="dropdown-item">My Mentees</LinkTo>
                    {{/if}}
                  </div>

                  <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="navbar-text">My Account</div>
                    <LinkTo @route="me.personal-info" class="dropdown-item">Personal Info</LinkTo>
                    {{#if (or session.user.isProspective session.user.isRanger)}}
                      <LinkTo @route="me.emergency-contact" class="dropdown-item">Emergency Contact</LinkTo>
                    {{/if}}
                    <LinkTo @route="me.password" class="dropdown-item">Change Password</LinkTo>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {{#if session.user.teacher.is_trainer}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Training</a>
              <div class="dropdown-menu">
                <LinkTo @route="training.index" @model="dirt" class="dropdown-item">Training Sessions</LinkTo>
                <LinkTo @route="training.capacity" @model="dirt" class="dropdown-item">Training Capacity</LinkTo>
                <LinkTo @route="training.multiple-enrollments" @model="dirt" class="dropdown-item">Multiple Enrollments
                  Report
                </LinkTo>
              </div>
            </li>
          {{/if}}

          {{#if session.user.teacher.is_art_trainer}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">ART Training</a>
              <div class="dropdown-menu">
                {{#each session.user.teacher.arts as |art|}}
                  <LinkTo @route="training.index" @model={{art.id}} class="dropdown-item">{{art.title}}</LinkTo>
                {{/each}}
              </div>
            </li>
          {{/if}}

          {{#if (has-role "mentor")}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Mentoring</a>
              <div class="dropdown-menu">
                <div class="navbar-text">Pre-Playa</div>
                <LinkTo @route="mentor.potentials" class="dropdown-item">Potential Alphas</LinkTo>
                <LinkTo @route="mentor.alpha-status" class="dropdown-item">Alpha Status</LinkTo>

                <div class="navbar-text">On Playa</div>
                <LinkTo @route="mentor.schedule" class="dropdown-item">Alpha Scheduled Shifts</LinkTo>
                <LinkTo @route="mentor.acceptance-sheets" class="dropdown-item">Alpha Acceptance Sheets</LinkTo>
                <LinkTo @route="mentor.assignment" class="dropdown-item">Alpha Mentors Assignment</LinkTo>
                <LinkTo @route="mentor.convert" class="dropdown-item">Alpha Conversion</LinkTo>

                <div class="navbar-text">Post Playa</div>
                <LinkTo @route="mentor.mentees" class="dropdown-item">Mentees For Year</LinkTo>
              </div>
            </li>
          {{/if}}

          {{#if (has-role "vc" "intake")}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Vol Coord</a>
              <div class="dropdown-menu">
                {{#if (has-role "vc")}}

                  <LinkTo @route="vc.handle-checker" class="dropdown-item">Check Callsigns</LinkTo>
                  <LinkTo @route="vc.photo-review" class="dropdown-item">Photo Review</LinkTo>
                  <LinkTo @route="vc.photos" class="dropdown-item">Photos</LinkTo>

                  {{#if (has-role "edit-access-docs")}}
                    <LinkTo @route="vc.access-documents" class="dropdown-item">Manage Access Docs</LinkTo>
                  {{/if}}
                  {{#if (has-role "edit-bmids")}}
                    <LinkTo @route="vc.bmid" class="dropdown-item">Manage BMIDs</LinkTo>
                  {{/if}}
                {{/if}}
                {{#if (has-role "intake")}}
                  <LinkTo @route="vc.unified-flagging" class="dropdown-item">Unified Flagging</LinkTo>
                {{/if}}
              </div>
            </li>
          {{/if}}

          {{#if (has-role "admin" "edit-slots" "megaphone")}}
            <li class="nav-item dropdown dropdown-large">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
              <div class="dropdown-menu dropdown-menu-large">
                <div class="container">
                  <div class="row">
                    {{#if (has-role "admin" "edit-slots")}}
                      <div class="col-sm-12 col-md-3">
                        <div class="navbar-text">Edit Records</div>
                        <LinkTo @route="admin.slots" class="dropdown-item">Schedule Slots</LinkTo>
                        {{#if (has-role "admin")}}
                          <LinkTo @route="admin.credits" class="dropdown-item">Schedule Credits</LinkTo>
                          <LinkTo @route="admin.assets" class="dropdown-item">Assets</LinkTo>
                          <LinkTo @route="admin.event-dates" class="dropdown-item">Event Dates</LinkTo>
                          <LinkTo @route="admin.motd" class="dropdown-item">MOTD</LinkTo>
                          <LinkTo @route="admin.positions" class="dropdown-item">Positions</LinkTo>
                          <LinkTo @route="admin.roles" class="dropdown-item">(System) Roles</LinkTo>
                          <LinkTo @route="admin.help" class="dropdown-item">Help Documents</LinkTo>
                          <LinkTo @route="admin.alerts" class="dropdown-item">RBS Alerts</LinkTo>
                        {{/if}}
                      </div>
                      {{#if (has-role "admin")}}
                        <div class="col-sm-12 col-md-3">
                          <div class="navbar-text">Site Administration</div>
                          <LinkTo @route="admin.settings" class="dropdown-item">Settings</LinkTo>
                          <LinkTo @route="admin.maintenance" class="dropdown-item">Maintenance</LinkTo>
                          <LinkTo @route="admin.clubhouse1-log" class="dropdown-item">Clubhouse 1 Log</LinkTo>
                          <LinkTo @route="admin.error-log" class="dropdown-item">Error Log</LinkTo>
                          <LinkTo @route="admin.action-log" class="dropdown-item">Action Log</LinkTo>
                        </div>
                        <div class="col-sm-12 col-md-3">
                          <div class="navbar-text">Pre-Event</div>
                          <LinkTo @route="admin.salesforce" class="dropdown-item">Salesforce Import</LinkTo>
                          <LinkTo @route="admin.manual-review" class="dropdown-item">Manual Review</LinkTo>
                          <LinkTo @route="admin.radio-eligibility" class="dropdown-item">Radio Eligibility</LinkTo>
                          <div class="navbar-text">Bulk Operations</div>
                          <LinkTo @route="admin.bulk-upload" class="dropdown-item">Bulk Upload</LinkTo>
                          <LinkTo @route="admin.bulk-sign-in-out" class="dropdown-item">Bulk Sign In/Out</LinkTo>
                          <LinkTo @route="admin.bulk-signout" class="dropdown-item">Bulk Signout</LinkTo>
                        </div>
                      {{/if}}
                    {{/if}}

                    {{#if (has-role "admin" "megaphone" "edit-slots")}}
                      <div class="col-sm-12 col-md-3">
                        {{#if (has-role "admin")}}
                          <div class="navbar-text">Post Event</div>
                          <LinkTo @route="admin.thank-you-cards" class="dropdown-item">Thank-You Cards</LinkTo>
                          <LinkTo @route="admin.timesheet-sanity-checker" class="dropdown-item">Timesheet Sanity
                            Checker
                          </LinkTo>
                          <LinkTo @route="admin.hours-credits" class="dropdown-item">Hours/Credits</LinkTo>
                          <LinkTo @route="admin.people-by-status-change" class="dropdown-item">People By Status Change
                          </LinkTo>
                        {{/if}}
                        <div class="navbar-text">Communications</div>
                        <LinkTo @route="admin.rbs" class="dropdown-item">Ranger Broadcast</LinkTo>
                      </div>
                    {{/if}}
                  </div>
                </div>
              </div>
            </li>
          {{/if}}

          {{#if (has-role "admin" "manage")}}
            <li class="nav-item dropdown dropdown-large">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Reports</a>
              <div class="dropdown-menu dropdown-menu-large">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">Schedule</div>
                      <LinkTo @route="reports.shift-lead" class="dropdown-item">Shift Lead Report</LinkTo>
                      <LinkTo @route="reports.schedule-by-callsign" class="dropdown-item">Schedule by Callsign</LinkTo>
                      <LinkTo @route="reports.schedule-by-position" class="dropdown-item">Schedule by Position</LinkTo>
                      <LinkTo @route="reports.shift-coverage" class="dropdown-item">Coverage Report</LinkTo>
                      <LinkTo @route="reports.shift-signups" class="dropdown-item">Shift Signups</LinkTo>
                      <LinkTo @route="reports.hq-forecast" class="dropdown-item">HQ Checkin/Out Forecast</LinkTo>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">People</div>
                      <LinkTo @route="reports.people-by-position" class="dropdown-item">People by Position</LinkTo>
                      <LinkTo @route="reports.people-by-role" class="dropdown-item">People by Role</LinkTo>
                      <LinkTo @route="reports.people-by-status" class="dropdown-item">People By Status</LinkTo>
                      <LinkTo @route="reports.people-by-location" class="dropdown-item">People by Location</LinkTo>
                      <LinkTo @route="reports.special-teams" class="dropdown-item">People By Special Team</LinkTo>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">Timesheets</div>
                      <LinkTo @route="reports.on-duty" @query={{hash over_hours=null}} class="dropdown-item">People On
                        Duty
                      </LinkTo>
                      <LinkTo @route="reports.on-duty" @query={{hash over_hours=6}} class="dropdown-item">... Over 6
                        Hours
                      </LinkTo>
                      <LinkTo @route="reports.flakes" class="dropdown-item">Flake Report</LinkTo>
                      <LinkTo @route="reports.timesheet-totals" class="dropdown-item">Timesheet Totals</LinkTo>
                      <LinkTo @route="reports.timesheet-by-callsign" class="dropdown-item">Timesheet By Callsign
                      </LinkTo>
                      <LinkTo @route="reports.timesheet-by-position" class="dropdown-item">Timesheet By Position
                      </LinkTo>
                      <LinkTo @route="reports.timesheet-correction-requests" class="dropdown-item">Corrections
                        Requests
                      </LinkTo>
                      <LinkTo @route="reports.timesheet-unconfirmed" class="dropdown-item">Timesheet Unconfirmed
                      </LinkTo>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">Assets</div>
                      <LinkTo @route="reports.asset-history" class="dropdown-item">Non-Radio Asset History</LinkTo>
                      <LinkTo @route="reports.assets-outstanding" class="dropdown-item">Assets Outstanding</LinkTo>
                      <LinkTo @route="reports.radio-assets" class="dropdown-item">Radio Assets</LinkTo>
                      <LinkTo @route="reports.radio-checkout" class="dropdown-item">Radio Checkout Report</LinkTo>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">Quartermaster</div>
                      <LinkTo @route="reports.freaking-years" class="dropdown-item">Freaking Years</LinkTo>
                      <LinkTo @route="reports.shirts" class="dropdown-item">Earned Shirts</LinkTo>
                      <LinkTo @route="reports.alpha-shirts" class="dropdown-item">Alpha Shirts</LinkTo>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                      <div class="navbar-text">Other</div>
                      <LinkTo @route="reports.position-sanity-checker" class="dropdown-item">Position Sanity Check
                      </LinkTo>
                      <LinkTo @route="reports.languages" class="dropdown-item">Languages</LinkTo>
                      <LinkTo @route="reports.sandman-qualified" class="dropdown-item">Sandman Qualified</LinkTo>
                      <LinkTo @route="reports.vehicle-paperwork" class="dropdown-item">Vehicle Paperwork</LinkTo>
                      <LinkTo @route="reports.rollcall" class="dropdown-item">Rollcall</LinkTo>
                    </div>
                  </div>
                </div>
              </div>
            </li>

          {{/if}}
          {{#if (has-role "admin" "manage")}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Search</a>
              <div class="dropdown-menu">
                <LinkTo @route="search.assets" class="dropdown-item">Assets</LinkTo>
                <LinkTo @route="search.languages" class="dropdown-item">Languages</LinkTo>
              </div>
            </li>
          {{/if}}
        {{else}}
        {{! User not logged in}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Actions</a>
            <div class="dropdown-menu">
              <LinkTo @route="login" class="dropdown-item">Login</LinkTo>
              <LinkTo @route="reset-password" class="dropdown-item">Forgot Password</LinkTo>
              <a href="https://rangers.burningman.org/becoming-a-ranger/" class="dropdown-item">Ranger Application</a>
              <LinkTo @route="register" class="dropdown-item">Auditor Registration</LinkTo>
            </div>
          </li>
        {{/if}}
        {{!
            -- This menu is hidden in bigger devices with d-sm-none.
             The sidebar isn't proper for smaller screens imo, so this dropdown
             menu can keep all the useful sidebar itens exclusively for
             smaller screens
          <li class="nav-item d-sm-block d-md-none">
          </li>
        }}

      </ul>
      {{#if session.isAuthenticated}}
        <ul class="navbar-nav d-none d-md-inline">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{session.user.callsign}}</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item" {{action "logout"}}>Logout</a>
            </div>
          </li>
        </ul>
      {{/if}}
    </div>
  </nav>
  {{#if canAccountManage}}
    <div class="bg-khaki row no-gutters">
      {{! line up the search bar with main content}}
      <div class="d-none d-md-block sidebar-expanded">
        &nbsp;
      </div>

      {{#ch-form "person-search" searchForm formClass="col-11 col-md-9 col-lg-7 mb-2 mx-2" changeSet=false
                 onSubmit=(action "submit") onFormChange=(action searchFormChange) as |f|}}
        <div class="form-row">
          <div class="col-12 col-sm-10 col-lg-9 col-xl-8">
            <PowerSelectTypeahead @search={{action searchAction}} @onchange={{action searchChangeAction}}
                                  @onfocus={{action searchFocusAction}} @onkeydown={{action searchKeydownAction}}
                                  @renderInPlace={{true}} @placeholder={{searchPlaceholder}}
                                  @triggerId="person-search-query" @defaultHighlighted={{action
                    defaultHighlightedAction}} @loadingMessage="Searching . . ." @noMatchesMessage="No results found" as
                                  |item|>
              {{#if this.searchById~}}
                ID #{{item.id}} -
              {{/if}}
              <strong>{{item.callsign}}</strong>
              &lt;{{item.first_name}} {{item.last_name}}, {{item.status}}&gt;
              {{#if item.fka_match}}
                <b>(FKA: {{item.fka_match}})</b>
              {{/if}}
              {{#if (eq item.email_match "full")}}
                - email exact match
              {{else if (eq item.email_match "partial")}}
                - email partial match
              {{/if}}
            </PowerSelectTypeahead>
          </div>
          <div class="col-auto mt-2 mt-sm-0 no-gutters">
            {{f.input "mode" type="select" options=modeOptions onChange=this.modeChange
                      controlClass="form-control form-control-sm"}}
          </div>
        </div>
        {{#if showSearchOptions}}
          <div class="bg-white p-2">
            <div class="form-row">
              <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">Search By:</label>
              <div class="col-sm-12 col-md-9 mt-2">
                {{f.input "callsign" type="checkbox" label="Callsign" inline=true}}
                {{f.input "name" type="checkbox" label="Name" inline=true}}
                {{f.input "email" type="checkbox" label="Email" inline=true}}
                {{f.input "formerly_known_as" type="checkbox" label="Formerly Known As" inline=true}}
              </div>
            </div>
            <div class="form-row">
              <label class="col-form-label col-form-label-fixed col-sm-12 col-md-2">Include:</label>
              <div class="col-sm-12 col-md-9 mt-2">
                {{f.input "auditor" type="checkbox" label="Auditor" inline=true}}
                {{f.input "past_prospective" type="checkbox" label="Past Prospective" inline=true}}
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="col-auto">
                <small>Hint: Save time by pressing &lt;SHIFT&gt; F1 to place the cursor in search field.</small>
              </div>
              <div class="col-auto ml-auto mr-2">
                <button type="button" class="btn btn-sm btn-secondary" {{action "hideSearchBoxAction"}}>Hide Options
                </button>
              </div>
            </div>
          </div>
        {{/if}}
      {{/ch-form}}
    </div>
  {{/if}}
</header>

{{#if session.isAuthenticated}}
  {{#if groundHogDayTime}}
    <div class="h4 alert alert-light-red text-center p-2 m-0">
      Training Server - Simulated Time {{moment-format groundHogDayTime "dddd, MMMM Do YYYY @ HH:mm"}}
    </div>
  {{else if (eq (config "DeploymentEnvironment") "Staging")}}
    <div class="h4 alert alert-light-red text-center p-2 m-0">
      You are on the Staging Server used for testing. This is not the production server.
    </div>
  {{/if}}


  <NewVersionNotifier as |version lastVersion reload|>
    <div class="alert alert-danger text-center p-1 m-0">
      <p class="mb-2">
        Hey! The Ranger Tech Ninjas have been busy hammering the bits and bytes.<br>
        A new version of the Clubhouse is available.<br>
        Click "Reload" to update to the latest version ({{version}}).
      </p>
      <button type="button" onclick={{action reload}} class="btn btn-danger">Reload</button>
    </div>
  </NewVersionNotifier>
  {{#if session.user.isAuditor}}
    <div class="alert alert-warning text-center p-2 m-0 h3">
      {{fa-icon "exclamation-circle"}} You are an Auditor and NOT on a path to becoming a Ranger this season.
    </div>
  {{/if}}
{{/if}}

<div class="row" id="body-row">
  {{outlet}}
</div>


<footer class="footer d-print-none">
  <div class="container text-center">
    &copy; 2008-{{moment-format (now) "YYYY"}} Black Rock City, LLC. All information contained within this website is
    strictly confidential.
    <p>Build: {{buildTimestamp}} Tag: {{applicationVersion}}</p>
  </div>
</footer>

<ModalRegistry/>
<div id="modal-render"></div>
