<main>
<dl>
  <dt>EmberJS:</dt>
  <dd>{{this.emberVersion}}</dd>

  <dt>Ember Data:</dt>
  <dd>{{this.emberDataVersion}}</dd>

  <dt>Browser:</dt>
  <dd>{{this.browserVendor}}: {{this.browser}}</dd>

  <dt>API End Point:</dt>
  <dd>{{get this.env "api-server"}}</dd>

  <dt>Viewport Size:</dt>
  <dd>{{this.viewport.width}} x {{this.viewport.height}}</dd>
</dl>
</main>
