<main class="col">
<dl>
  <dt>EmberJS:</dt>
  <dd>{{emberVersion}}</dd>

  <dt>Ember Data:</dt>
  <dd>{{emberDataVersion}}</dd>

  <dt>Browser:</dt>
  <dd>{{browserVendor}}: {{browser}}</dd>

  <dt>API End Point:</dt>
  <dd>{{get env "api-server"}}</dd>

  <dt>Viewport Size:</dt>
  <dd>{{viewport.width}} x {{viewport.height}}</dd>
</dl>
</main>
