<main>
  {{#if this.isOffline}}
    <p class="text-danger">
      Uh oh, the request to the Clubhouse server could not be completed. The server might be offline or the Internet
      connection is spotty.
    </p>
    <UiButton @type="danger" @onClick={{this.reload}}>Reload the page</UiButton>
  {{else if this.notAuthorized}}
    <h1>You are not authorized.</h1>
    <p>
      It appears you do not have the appropriate Clubhouse privilieges to perform that action.
    </p>
    <p>
      Error message from the server: {{this.error.message}}
    </p>
    <p>
      Please contact the Tech Team Ninjas at {{admin-email}} if you believe this is a mistake.
    </p>
    {{#if this.session.user}}
      <p>
        <LinkTo @route="me.homepage">Back To The Home Page</LinkTo>
      </p>
    {{/if}}
  {{else}}
    <h1>Khaki, Khaki, Clubhouse - I need a Tech Ninja for a crash.</h1>
    <p>Sorry! The clubhouse experienced an unrecoverable error while trying to process your request.</p>
    <p>
      Email the following information to {{admin-email}} to help figure out what went wrong:
    </p>

    <dl>
      <dt>Version</dt>
      <dd>{{this.config.APP.version}} / {{this.config.APP.buildTimestamp}}</dd>

      <dt>Error Message:</dt>
      <dd>{{this.error.message}}</dd>
      {{#if this.error.payload.errors}}
        <dt>Response from server:</dt>
        <dd>
          {{#each this.error.payload.errors as |message|}}
            {{message.title}}<br>
          {{/each}}
        </dd>
      {{/if}}

      {{#if this.error.isAdapterError}}
        <dt>Description:</dt>
        <dd>{{this.error.description}}</dd>

        <dt>Filename / Line:</dt>
        <dd>{{this.error.fileName}}:{{this.error.lineNumber}}</dd>

        <dt>Name:</dt>
        <dd>{{this.error.name}}</dd>

        <dt>Number / Code:</dt>
        <dd>{{this.error.number}} / {{this.error.code}}</dd>
      {{/if}}
    </dl>

    <p>
      Its recommended at this time that you do not attempt the request again until you hear from the tech ninjas.
    </p>
    {{#if this.session.user}}
      <p>
        <LinkTo @route="me.homepage">Back To The Home Page</LinkTo>
      </p>
    {{/if}}
  {{/if}}
</main>
