<main class="col">
  <h1>Handle Checker</h1>

  <div class="form-row align-items-left">
    <div class="col-auto">
      <label>Proposed handle
        {{input value=currentName enter=(action "checkCurrentName")}}
      </label>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary" {{action "checkCurrentName"}}>Check handle</button>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-secondary" {{action "clearCheckedHandles"}}>Clear history</button>
    </div>
  </div>

  <div class="form-group row">
    <legend>Handle rules</legend>
    {{#each handleRules as |rule|}}
      <div class="form-check form-check-inline">
        {{#let (concat "handle-rule-checkbox-" rule.id) as |checkid|}}
          {{input type="checkbox" checked=rule.enabled class="form-check-input" id=checkid}}
          <label class="form-check-label" for="{{checkid}}">{{rule.name}}</label>
        {{/let}}
      </div>
    {{/each}}
  </div>

  <div class="form-group row">
    <legend>Entity types</legend>
    {{#each entityTypes as |type|}}
      <div class="form-check form-check-inline">
        {{#let (concat "entity-type-checkbox-" type.id) as |checkid|}}
          {{input type="checkbox" checked=type.enabled class="form-check-input" id=checkid}}
          <label class="form-check-label" for="{{checkid}}">{{type.name}}</label>
        {{/let}}
      </div>
    {{/each}}
  </div>

  <div class="row">
    {{#each checkedHandles as |checked|}}
      <div class="check-result-card card" id="check-result-{{checked.id}}">
        {{! template-lint-disable "no-nested-interactive" }}
        {{! Disabled because https://github.com/ember-template-lint/ember-template-lint/issues/587 }}
        <details open="true">
          <summary class="card-header">
            {{checked.name}} ({{checked.conflicts.length}})
          </summary>
          {{#each checked.conflicts as |conflict index|}}
            <div class="card">
              <div class="card-header conflict-priority-{{conflict.priority}} conflict-rule-{{conflict.ruleId}}">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#conflict-detail-{{checked.id}}-{{index}}">
                  {{conflict.description}}
                </button>
              </div>
              <div id="conflict-detail-{{checked.id}}-{{index}}" class="collapse">
                <div class="card-body">
                  {{get ruleNames conflict.ruleId}}, {{conflict.priority}} priority
                  {{#if conflict.conflictingHandle}}
                    {{#with conflict.conflictingHandle as |handle|}}
                      {{#if handle.personId}}
                        {{#link-to "person.index" handle.personId target="_blank" rel="noopener"}}
                          {{handle.entityType}} {{handle.name}}
                        {{/link-to}}
                      {{else}}
                        {{handle.entityType}} {{handle.name}}
                      {{/if}}
                      {{#if handle.personVintage}}(vintage){{/if}}
                    {{/with}}
                  {{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        </details>
      </div>
    {{/each}}
  </div>


  <div class="container">
    <hr>
    <div class="row justify-content-md-center">
      <div class="col col-md-auto">
        <h3>All {{allEnabledHandles.length}} Handles</h3>
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th>Handle</th>
              <th>Entity type</th>
              <th>Vintage</th>
            </tr>
          </thead>
          <tbody>
            {{#each allEnabledHandles as |handle|}}
              <tr>
                <td>
                  {{#if handle.personId}}
                    {{#link-to "person.index" handle.personId target="_blank" rel="noopener"}}
                      {{handle.name}}
                    {{/link-to}}
                  {{else}}
                    {{handle.name}}
                  {{/if}}
                </td>
                <td>
                  {{handle.entityType}}
                </td>
                <td>
                  {{#if handle.personVintage}}
                    vintage
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
