<ChSidebar @theme="hq" as |s|>
  <s.group @title="HQ Window">
    <s.link @route="hq.shift" @title="Shift Manage" @icon="walking" @iconType="s"/>
    <s.link @route="hq.schedule" @title="Schedule / Sign Up" @icon="clipboard"/>
    <s.link @route="hq.messages" @title="Messages" @icon="envelope"
            @badgeText={{this.person.unread_message_count}} />
    <s.link @route="hq.timesheet" @title="Timesheets" @class="dropdown-item" @icon="clock"/>
    <s.link @route="hq.assets" @title="Asset History" @class="dropdown-item" @icon="broadcast-tower"
            @iconType="s"/>
    <s.link @route="hq.training-info" @title="Training Info" @icon="graduation-cap" @iconType="s"/>
    <s.link @route="hq.site-checkin" @title="Site Check In" @icon="list-ol" @iconType="s"/>
  </s.group>
</ChSidebar>

<main>
  <div class="person-manage-header">
    <h2 class="homepage-title col-sm-12 col-lg-auto">
      <LinkTo @route="hq.index" @model={{this.person.id}}>{{this.person.callsign}}</LinkTo>
      &lt;{{this.person.first_name}} {{this.person.last_name}}, {{this.person.status}}&gt;
      {{#unless this.person.on_site}} <span class="text-danger">OFF SITE</span>{{/unless}}
    </h2>
    <div class="col-sm-12 col-lg-auto ml-lg-auto">
      <LinkTo @route="person.index" @model={{this.person.id}}>Switch to Person Manage</LinkTo>
    </div>
  </div>

  {{#if this.person.message}}
    <ChNotice @title="Important Account Note" @icon="hand-point-right">
      {{nl2br this.person.message}}
      <div class="mt-2 text-muted">Added {{shift-format this.person.message_updated_at}}</div>
    </ChNotice>
  {{/if}}
  <div class="d-flex flex-column flex-lg-row ">
    <div class="flex-lg-grow-1">
      {{#if (not this.allowedCheckIn)}}
        <ChNotice @title="Account is disabled" @type="danger" @icon="ban">
          <p>
            {{this.person.callsign}} has the status "{{this.person.status}}" which prevents the person from logging in.
            The HQ Window Interface cannot be used.
          </p>
          Contact the HQ Lead, HQ Supervisor or the Personnel Manager {{mail-to (config "PersonnelEmail")}}.
        </ChNotice>
      {{else if this.person.needsBpguid}}
        <ChNotice @type="danger" @icon="exclamation-triangle">
          Account does not have Burner Profile ID on file. Shift sign ups are disabled.
        </ChNotice>
      {{else if (and this.person.isPNV (not this.userIsMentor))}}
        <ChNotice @type="danger" @icon="exclamation" @title="Direct to the Hat Rack.">
          {{this.person.callsign}} is an Alpha. Do not check in this person unless you are acting on the Mentors' behalf.
        </ChNotice>
      {{/if}}

      {{outlet}}
    </div>

    <div class="mt-4 ml-auto d-print-none">
      <div class="mugshot">
        {{#if this.photo}}
          {{#if this.photo.photo_url}}
            <img src="{{this.photo.photo_url}}" class="mx-auto d-block" alt="profile">
            Photo:
            {{#if (eq this.photo.photo_status "approved")}}
              <span class="text-success">Approved</span>
            {{else}}
              <span class="text-danger">{{this.photo.photo_status}}</span>
            {{/if}}
            <br>
          {{else}}
            <i class="far fa-user fa-8x"></i><br>
            No Photo Uploaded<br>
          {{/if}}
          {{#if this.photo.message}}
            <div class="text-danger">ERROR: {{this.photo.message}}</div>
          {{/if}}
        {{else}}
          Loading photo
          <LoadingIndicator/>
        {{/if}}
      </div>
      <dl>
        <dt>Meal Pogs</dt>
        <dd>
          {{#if (eq this.meals "all")}}
            <b class="text-danger">{{fa-icon "ban"}} NO POGS</b><br>
            Has Eat-It-All BMID
          {{else if (eq this.meals "pre")}}
            <b class="text-danger">{{fa-icon "ban"}} NO POGS FOR PRE-EVENT</b><br>
            Pogs for Event &amp; Post-Event
          {{else if (eq this.meals "post")}}
            <b class="text-danger">{{fa-icon "ban"}} NO POGS FOR POST-EVENT</b><br>
            Pogs for Pre-Event &amp; Event Week
          {{else if (eq this.meals "event")}}
            <b class="text-danger">{{fa-icon "ban"}} NO POGS FOR EVENT WEEK</b><br>
            Pogs for Pre- &amp; Post-Event
          {{else if (eq this.meals "pre+event")}}
            <b class="text-danger">{{fa-icon "ban"}} NO POGS FOR PRE- &amp; EVENT WEEK</b><br>
            Pogs for Post-Event
          {{else if (eq this.meals "event+post")}}
            <b class="text-danger">{{fa-icon "ban"}} NO POGS FOR EVENT WEEK & POST-EVENT</b><br>
            Pogs for Pre-Event
          {{else if (eq this.meals "pre+post")}}
            <b class="text-danger">{{fa-icon "ban"}} NO POGS FOR PRE- &AMP; POST-EVENT</b><br>
            Pogs for Event Week
          {{else}}
            <span class="text-success">{{fa-icon "check"}} Pogs for every shift</span>
          {{/if}}
          {{#if (not-eq this.meals "all")}}
            <br>
            Full Pog: 6 or more hours<br>
            &frac12; Pog: less than 6 hours
          {{/if}}
        </dd>
        <dt>Shower Pogs</dt>
        <dd>
          {{#if this.eventInfo.showers}}
            <div class="text-danger">{{fa-icon "ban"}} NO POG</div>
            Has Wet Spot BMID
          {{else}}
            Every 40 hrs
          {{/if}}
        </dd>
        <dt>Motorpool Policy</dt>
        <dd>
          {{#if this.personEvent.signed_motorpool_agreement}}
            {{fa-icon "check"}} Signed
          {{else}}
            <span class="text-danger">NOT SIGNED</span>
          {{/if}}
        </dd>
      </dl>
    </div>
  </div>
</main>
