<ChSidebar @theme="hq" @smallTitle="HQ Actions" as |s|>
  <s.group @title="HQ Window">
    <s.link @route="hq.shift" @title="Shift Manage" @icon="walking" @iconType="s"/>
    <s.link @route="hq.schedule" @title="Schedule / Sign Up" @icon="clipboard"/>
    <s.link @route="hq.messages" @title="Messages" @icon="envelope"
            @badgeText={{this.person.unread_message_count}} />
    <s.link @route="hq.timesheet" @title="Timesheets" @class="dropdown-item" @icon="clock"/>
    <s.link @route="hq.assets" @title="Asset History" @class="dropdown-item" @icon="broadcast-tower"
            @iconType="s"/>
    <s.link @route="hq.training-info" @title="Training Info" @icon="graduation-cap" @iconType="s"/>
    <s.link @route="hq.site-checkin" @title="Site Check In" @icon="list-ol" @iconType="s"/>
  </s.group>
</ChSidebar>

<main>
  <div class="person-manage-header">
    <div class="person-manage-header-title">
      <div class="person-manage-callsign">
        <LinkTo @route="hq.index" @model={{this.person.id}}>{{this.person.callsign}}</LinkTo>
        <span class="d-inline-block">
       &lt;{{this.person.first_name}} {{this.person.last_name}}, {{this.person.status}}&gt;
      </span>
        <span class="d-inline-block">
          {{pronouns-format this.person}}
        </span>
        {{#unless this.person.on_site}}<br><span class="text-danger">OFF SITE</span>{{/unless}}
      </div>
      <div class="person-manage-switch">
        <LinkTo @route="person.index" @model={{this.person.id}}>Switch to Person Manage</LinkTo>
      </div>
    </div>
  </div>

  {{#if this.person.message}}
    <ChNotice @title="Important Account Note" @icon="hand-point-right">
      {{nl2br this.person.message}}
      <div class="mt-2 text-muted">Added {{shift-format this.person.message_updated_at}}</div>
    </ChNotice>
  {{/if}}
  <div class="d-flex flex-sm-column flex-lg-row">
    <div class="flex-lg-grow-1">
      {{#if (not this.person.canStartShift)}}
        <ChNotice @title="Account is disabled" @type="danger" @icon="ban">
          <p>
            {{this.person.callsign}} has the status "{{this.person.status}}" which prevents the person
            from working a shift. The HQ Window Interface cannot be used.
          </p>
          Contact the HQ Lead, HQ Supervisor or the Personnel Manager {{mail-to (config "PersonnelEmail")}}.
        </ChNotice>
      {{else if this.person.needsBpguid}}
        <ChNotice @type="danger" @icon="exclamation-triangle">
          Account does not have Burner Profile ID on file. Shift sign ups are disabled.
        </ChNotice>
      {{else if (and this.person.isPNV (not this.userIsMentor))}}
        <ChNotice @type="danger" @icon="exclamation" @title="Direct to the Hat Rack.">
          {{this.person.callsign}} is an Alpha. Do not check in this person unless you are acting on the Mentors'
          behalf.
        </ChNotice>
      {{/if}}
      {{outlet}}
    </div>

    <div class="ml-auto p-4 d-print-none">
      <div class="mugshot">
        {{#if this.photo}}
          {{#if this.photo.photo_url}}
            <img src="{{this.photo.photo_url}}" class="mx-auto d-block" alt="profile">
            Photo:
            {{#if (eq this.photo.photo_status "approved")}}
              <span class="text-success">Approved</span>
            {{else}}
              <span class="text-danger">{{this.photo.photo_status}}</span>
            {{/if}}
            <br>
          {{else}}
            <i class="far fa-user fa-8x"></i><br>
            No Photo Uploaded<br>
          {{/if}}
          {{#if this.photo.message}}
            <div class="text-danger">ERROR: {{this.photo.message}}</div>
          {{/if}}
        {{else}}
          <LoadingIndicator @text="Loading photo"/>
        {{/if}}
      </div>
      <dl>
        <dt>Earned Credits</dt>
        <dd>{{credits-format this.timesheetSummary.total_credits}}</dd>

        <dt>Worked Hours</dt>
        <dd>
          {{hour-minute-format this.timesheetSummary.counted_duration}}
        </dd>
        <dd>
          <UiButton @type="secondary" @size="sm" @class="btn-block mb-2"
                    @onClick={{this.toggleTicketsAndProvisionsProgress}}>
            Ticket &amp; Provisions<br>
            Progress
          </UiButton>
        </dd>
      </dl>
    </div>
  </div>
</main>


{{#if this.showTicketsAndProvisions}}
  <ModalDialog @title="Tickets and Provisions Progress" @onEscape={{this.toggleTicketsAndProvisionsProgress}} as |Modal|>
    <Modal.body>
      <HqTicketsAndProvisions @person={{this.person}} />
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.toggleTicketsAndProvisionsProgress}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.showSignInWarning}}
  <ModalDialog @title="Sign Into A Shift" @onEscape={{this.closeSignInWarning}} as |Modal|>
    <Modal.body>
      <b class="text-danger">WARNING:</b>
      You are not signed into any shift. You can use the HQ Interface however we ask you sign into a shift first.
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeSignInWarning}} />
    </Modal.footer>
  </ModalDialog>
{{else if this.showAlphaWarning}}
  <ModalDialog @onEscape={{this.closeAlphaWarning}} as |Modal|>
    <Modal.body>
      <div class="d-flex">
        <div class="mt-2 mx-3">
          {{fa-icon "exclamation-triangle" color="danger" size="3x"}}
        </div>
        <div>
          <h3>
            DO NOT CHECK IN &mdash; DIRECT PERSON TO THE HAT RACK.
          </h3>
          <h3>
            {{this.person.callsign}} is {{if this.person.isAlpha "an Alpha" "a Prospective"}} and will be handled by
            the Mentors.
          </h3>
        </div>
      </div>
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeAlphaWarning}}/>
    </Modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.showNotAllowedToWork}}
  <ModalDialog @title="Person may not work" @onEscape={{this.closeNotAllowedToWork}} as |Modal|>
    <Modal.body>
      <p>
        <b class="text-danger"> {{this.person.callsign}} has the status "{{this.person.status}}" may not be given a BMID,
          radios, and is NOT ALLOWED TO WORK.</b>
      </p>
      The HQ Window Interface cannot be for this person. Contact the HQ Lead, HQ Supervisor or the Personnel Manager.
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeNotAllowedToWork}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}