<UiSidebar @theme="hq" @smallTitle="HQ Window" as |s|>
  <s.group @title="HQ Window">
    <s.link @route="hq.shift" @title="Shift Check In/Out" @icon="walking" @iconType="s"/>
    <s.link @route="hq.schedule" @title="Schedule / Sign Ups" @icon="clipboard"/>
    <s.link @route="hq.messages" @title="Messages" @icon="envelope"/>
    <s.link @route="hq.timesheet" @title="Timesheet / Corrections" @icon="clock"/>
    <s.link @route="hq.assets" @title="Asset History" @icon="broadcast-tower" @iconType="s"/>
    <s.link @route="hq.training-info" @title="Training Info" @icon="graduation-cap" @iconType="s"/>
    <s.link @route="hq.site-checkin" @title="On-Site Registration" @icon="list-ol" @iconType="s"/>
  </s.group>
</UiSidebar>

<main>
  <div class="person-manage-header">
    <div class="person-manage-header-title">
      <div class="person-manage-callsign">
        <LinkTo @route="hq.index" @model={{this.person.id}}>{{this.person.callsign}}</LinkTo>
        <span class="d-inline-block">&lt;{{this.person.status}}&gt;</span>
        <span class="d-inline-block">
          {{pronouns-format this.person}}
        </span>
      </div>
      <div class="fs-4">HQ Window Interface</div>
      <div class="person-manage-switch">
        <LinkTo @route="person.index" @model={{this.person.id}}>Switch to Person Manage</LinkTo>
      </div>
    </div>
  </div>
  <PersonBannerManage @person={{this.person}} @personBanners={{this.personBanners}} />
  <div class="d-flex flex-column flex-lg-row">
    <div class="flex-lg-grow-1 order-1 order-lg-0">
      {{#if (not this.person.canStartShift)}}
        <UiNotice @title="Account Is Disabled" @type="danger" @icon="ban">
          <p>
            {{this.person.callsign}} has the status "{{this.person.status}}" which prevents the person
            from working a shift. The HQ Window Interface cannot be used.
          </p>
          Contact the HQ Lead, HQ Supervisor or the Personnel Manager
          <PersonnelEmail/>
        </UiNotice>
      {{else if this.person.needsBpguid}}
        <UiNotice @type="danger" @icon="exclamation-triangle">
          Account does not have Burner Profile ID on file. Shift sign-ups are disabled.
        </UiNotice>
      {{else if (and this.person.isPNV (not this.userIsMentor))}}
        <UiNotice @title="Direct to the Hat Rack." @type="danger" @icon="exclamation">
          {{this.person.callsign}} is {{if this.person.isAlpha "an Alpha" "a Prospective"}}.
          This person may only be On-Site Registered. <b class="text-danger">Do not start their Alpha shift.</b>
        </UiNotice>
      {{/if}}
      {{outlet}}
    </div>

    <div class="me-auto px-4 d-print-none order-0 order-lg-1">
      <div class="photo-medium">
        {{#if this.photo}}
          {{#if this.photo.photo_url}}
            <img src="{{or this.photo.profile_url this.photo.photo_url}}" class="d-block" alt="profile">
          {{else}}
            <UiPhoneNone/>
            No Photo Uploaded
          {{/if}}
          {{#if this.photo.message}}
            <div class="text-danger">ERROR: {{this.photo.message}}</div>
          {{/if}}
        {{else}}
          <LoadingIndicator @text="Loading photo"/>
        {{/if}}
      </div>
      <dl class="mt-2">
        <dt>Earned Credits</dt>
        <dd>{{credits-format this.timesheetSummary.total_credits}}</dd>

        <dt>Worked Hours</dt>
        <dd>
          {{hour-minute-format this.timesheetSummary.counted_duration}}
        </dd>
        <dd>
          <UiButton @type="secondary" @size="sm" class="btn-block mb-2"
                    @onClick={{this.toggleTicketsAndProvisionsProgress}}>
            Ticket &amp; Provisions<br>
            Progress
          </UiButton>
        </dd>
      </dl>
    </div>
  </div>
</main>


{{#if this.showTicketsAndProvisions}}
  <ModalDialog @title="Tickets and Provisions Progress" @onEscape={{this.toggleTicketsAndProvisionsProgress}} as
               |Modal|>
    <Modal.body>
      <HqTicketsAndProvisions @person={{this.person}} />
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.toggleTicketsAndProvisionsProgress}} />
    </Modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.showSignInWarning}}
  <ModalDialog @title="Sign Into A Shift" @onEscape={{this.closeSignInWarning}} as |Modal|>
    <Modal.body>
      <b class="text-danger">WARNING:</b>
      You are not signed in to any shift. You may use the HQ Interface, however, we ask you sign in to a shift first.
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeSignInWarning}} @size="md"/>
    </Modal.footer>
  </ModalDialog>
{{else if this.showHatRackInstruction}}
  <ModalDialog @onEscape={{this.closeHatRackInstructions}} as |Modal|>
    <Modal.title>On-Site Registration ONLY</Modal.title>
    <Modal.body>
      <p>
        {{this.person.callsign}} is
        {{#if this.person.isRetired}}
          a retired Ranger
        {{else}}
          {{if this.person.isAlpha "an Alpha" "a Prospective"}}
        {{/if}}.
      </p>
      You may <b>ONLY perform an On-Site Registration</b> for this person. <b class="text-danger">Do not start their
      Alpha shift.</b> After completing the On-Site Registration, direct the person to the Mentor Shack. The Mentors
      will be the ones to start their shift.
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeHatRackInstructions}} @size="md"/>
    </Modal.footer>
  </ModalDialog>
{{/if}}

{{#if this.showNotAllowedToWork}}
  <ModalDialog @title="Person may not ranger" @onEscape={{this.closeNotAllowedToWork}} as |Modal|>
    <Modal.body>
      <p>
        <b class="text-danger">
          {{this.person.callsign}} has the status "{{this.person.status}}" may not be given a BMID,
          radios, and is NOT ALLOWED TO PERFORM RANGER SHIFTS.
        </b>
      </p>
      The HQ Window Interface cannot be for this person. Contact the HQ Lead, HQ Supervisor or the Personnel Manager.
    </Modal.body>
    <Modal.footer>
      <UiCloseButton @onClick={{this.closeNotAllowedToWork}} @size="md"/>
    </Modal.footer>
  </ModalDialog>
{{/if}}