<ChSidebar>
  <ChSidebarGroup @title="HQ Window">
    <ChSidebarLink @routePath="hq.shift" @title="Shift Manage" @icon="walking" @iconType="s" />
    <ChSidebarLink @routePath="hq.schedule" @title="Schedule / Sign Up" @icon="clipboard" />
    <ChSidebarLink @routePath="hq.messages" @title="Messages" @icon="envelope" @badgeText={{this.person.unread_message_count}} />
    <ChSidebarLink @routePath="hq.timesheet" @title="Timesheets" @class="dropdown-item" @icon="clock" />
    <ChSidebarLink @routePath="hq.assets" @title="Asset History" @class="dropdown-item" @icon="broadcast-tower" @iconType="s" />
    <ChSidebarLink @routePath="hq.training-info" @title="Training Info" @icon="graduation-cap" @iconType="s" />
    <ChSidebarLink @routePath="hq.site-checkin" @title="Site Check In" @icon="list-ol" @iconType="s" />
  </ChSidebarGroup>
</ChSidebar>

<main class="col">
  <div class="d-flex justify-content-between d-print-none">
    <h2>
      <LinkTo @route="hq.index" @model={{this.person.id}}>{{this.person.callsign}}</LinkTo> &lt;{{this.person.first_name}} {{this.person.last_name}}, {{this.person.status}}{{if this.person.vintage "/vintage"}}&gt;
      {{#unless this.person.on_site}} <span class="text-danger">OFF SITE</span>{{/unless}}
    </h2>
    <div class="text-muted">HQ Window</div>
    <div class="text-right">
      <LinkTo @route="person.index" @model={{this.person.id}}>Switch to Person Manage</LinkTo>
    </div>
  </div>

  {{#if this.person.message}}
    <ChBox @title="Important Account Message" @type="warning">
      {{nl2br this.person.message}}
      <div class="mt-2 text-muted">Message added {{shift-format this.person.message_updated_at}}</div>
    </ChBox>
  {{/if}}
  {{#if (or this.person.isAlpha this.person.isProspective)}}
    <div class="border border-danger p-4 text-danger">
      <div class="float-left mr-4 h1">
        {{fa-icon "exclamation-triangle"}}
      </div>
      <b class="h4">{{if this.person.isAlpha "ALPHA" "PROSPECTIVE"}} RANGER - DIRECT PERSON TO HAT RACK.<br>
        * * * DO NOT CHECK IN/OUT AT HQ WINDOW. * * *</b>
    </div>
  {{/if}}

  <div class="row">
    <div class="col-md-9 d-print-block">
      {{#if (not this.person.user_authorized)}}
        <ChAlert @type="danger">
          <div class="float-left mr-2">
            {{fa-icon "exclamation-triangle" size="3x"}}
          </div>
          Account is DISABLED. Contact the HQ Lead or the Personnel Manager {{mail-to (config "PersonnelEmail")}}.
        </ChAlert>
      {{else if this.person.isSuspended}}
        <ChAlert @type="danger">
          <div class="float-left mr-2">
            {{fa-icon "exclamation-triangle" size="3x"}}
          </div>
          Account is SUSPENDED. Contact the HQ Lead or the Personnel Manager {{mail-to (config "PersonnelEmail")}}.
        </ChAlert>
      {{else if (not allowedCheckIn)}}
        <ChAlert @type="danger">
          <div class="float-left mr-2">
            {{fa-icon "exclamation-triangle" size="3x"}}
          </div>
          This account cannot use the HQ Window Interface because the status is {{this.person.status}}
        </ChAlert>
      {{else}}
        {{#if this.person.needsBpguid}}
          <ChAlert @type="warning">
            Account does not have Burner Profile ID on file. Shift sign ups are disabled.
          </ChAlert>
        {{/if}}

        {{outlet}}
      {{/if}}
    </div>

    <div class="col-md-3 d-print-none">
      <div class="mugshot">
        {{#if this.photo}}
          {{#if this.photo.photo_url}}
            <img src="{{this.photo.photo_url}}" class="mx-auto d-block" alt="profile photo">
            Status:
            {{#if (eq this.photo.photo_status "approved")}}
              <span class="text-success">Approved</span>
            {{else}}
              <span class="text-danger">{{this.photo.photo_status}}</span>
            {{/if}}
            <br>
          {{else}}
            <i class="far fa-user fa-8x"></i><br>
            No Photo Uploaded<br>
          {{/if}}
          {{#if his.photo.message}}
            <div class="text-danger">ERROR: {{photo.message}}</div>
          {{/if}}
        {{else}}
          Loading photo <LoadingIndicator />
        {{/if}}
      </div>
    </div>
  </div>
</main>
