<LoginSidebar/>
<main>
  {{#if this.session.isStaging}}
    <UiNotice @type="danger"
              @icon="exclamation"
              @title="This is the Clubhouse Staging Server used for testing and verification">
      <p>Here be dragons.</p>
      The real production server can be found here:<br>
      <a href="https://ranger-clubhouse.burningman.org">ranger-clubhouse.burningman.org</a>
    </UiNotice>
  {{else if this.session.isTraining}}
    <UiNotice @type="success"
              @icon="circle-info"
              @title="Welcome to the Clubhouse Training Server">
      <p>
        The login username is your callsign (stripped of spaces, dashes, and other non-alphanumeric characters)
        plus '@nomail.none'. Your password is the same as the production server.
      </p>
      <p>
        E.g., if your callsign is 'hub-cap' then your username is 'hubcap@nomail.none'.
      </p>
      <p>
        <span class="fw-semibold">Your password was copied from the production server at
          {{full-datetime-format (setting 'DatabaseCreatedOn')}}.
        </span>
      </p>
      <p>
        The training database is reset daily at 04:00 Pacific.
      </p>
      The real production server can be found here:<br>
      <a href="https://ranger-clubhouse.burningman.org">ranger-clubhouse.burningman.org</a>
    </UiNotice>

  {{/if}}
  <h2>Welcome To The Ranger Secret Clubhouse!</h2>
  {{#if this.tokenError}}
    {{#if this.welcome}}
      <UiNotice @title="Welcome Link Issue" @icon="heart-crack" @type="danger">
        <p>
          Sorry, the welcome link has already been used, has expired, or was entered incorrectly.
        </p>
        <p>
          If you already set up your Clubhouse account, use your email and password to login.
        </p>
        <p>
          You can use the "Forgot Your Password" link below if you cannot remember your password.
        </p>
        Contact the Volunteer Coordinators at
        <VcEmail/>
        if you continue to have problems.
      </UiNotice>
    {{else}}
      <UiNotice @title="Reset Password Issue" @icon="exclamation" @type="danger">
        Sorry, the reset password link has either expired or was entered incorrectly. You can try resetting
        your password again.
      </UiNotice>
    {{/if}}
  {{/if}}
  {{#if this.loginError}}
    {{#if (eq this.loginError "invalid-credentials")}}
      <UiNotice @title="Login Issue" @type="danger" @icon="exclamation-triangle">
        The email was not found, or the password is incorrect.
      </UiNotice>
    {{else}}
      <UiNotice @type="danger" @icon="ban" @title="Login disabled">
        This account has been disabled and cannot be logged into.
        Contact the Ranger Personnel Manager at
        <PersonnelEmail/>
        for more information.
      </UiNotice>
    {{/if}}
  {{/if}}
  {{#if this.isTryingToOAuthAuthenticate}}
    <UiNotice @title="Authenticating For Another Website" @type="secondary" @icon="hand">
      Once you successfully logged in with your Clubhouse credentials, you will be redirected back to the website
      requesting log in access.
    </UiNotice>
  {{/if}}
  <div class="d-flex flex-column flex-lg-row align-items-stretch mt-lg-4">
    <div>
      <ChForm @formId="auth"
              @formFor={{this.authForm}}
              @validator={{this.loginValidations}}
              @autocomplete="on"
              @onSubmit={{this.submit}} as |f|>
        <FormRow>
          <f.text @name="identification"
                  @label={{if this.session.isTraining "Callsign plus @nomail.none (no 'e' in nomail)" "Email"}}
                  @inputmode="email"
                  @autocomplete="username"
                  @autofocus={{true}}
                  @noSpaces={{true}}
                  @size={{30}}/>
        </FormRow>
        <FormRow>
          <f.password @name="password"
                      @label="Password"
                      @autocomplete="current-password"
                      @size={{30}}/>
        </FormRow>
        <FormRow>
          <div class="col-sm-12 col-lg-4">
            <f.submit @label="Login"
                      @disabled={{this.isSubmitting}}
                      @submitClass="btn-lg btn-responsive login-submit mb-4"/>
            {{#if this.isSubmitting}}
              <LoadingIndicator/>
            {{/if}}
          </div>
          <div class="col-sm-12 col-lg-8 mt-2 mb-4 text-end">
            <LinkTo @route="reset-password" class="d-block">Forgot your password?</LinkTo>
          </div>
        </FormRow>
      </ChForm>
    </div>
    {{#unless this.session.isTraining}}
      <div class="p-lg-4">
        <UiSection>
          <:title>Volunteer with the Rangers</:title>
          <:body>
            <p>
              Visit
              <ExtLink href="https://rangers.burningman.org/ranger-application-process/">
                Becoming a Ranger
              </ExtLink>
              to read about our requirements and how to apply.
            </p>
            All past prospective Rangers must reapply each year.
          </:body>
        </UiSection>
        <UiSection>
          <:title>Attend Ranger training as a guest/auditor</:title>
          <:body>
            <p>
              First visit
              <ExtLink href="https://rangers.burningman.org/training/auditing/">
                Auditing a Ranger Training
              </ExtLink>
              to read about auditor requirements and restrictions.
            </p>
            <p>
              Then
              <LinkTo @route="register">click here to create</LinkTo>
              an auditor Clubhouse account.
            </p>
            Note: Auditing is not a path to becoming a Ranger.
          </:body>
        </UiSection>
      </div>
    {{/unless}}
  </div>
  <hr>
  <p>
    <b>Questions? </b>
    Email the Ranger Volunteer Coordinators at
    <VcEmail/>
  </p>
  <p>
    <b>Need help logging in or registering?</b>
    Email the Rangers Tech Ninjas at
    <TechSupportEmail/>
  </p>
</main>
{{#if this.session.isAuthenticated}}
  <LoadingDialog>
    Login successful! Please wait while your account is loaded.
  </LoadingDialog>
{{/if}}

