<LoginSidebar/>
<main>
  {{#if this.session.isStaging}}
    <ChNotice @type="danger" @icon="exclamation"
              @title="This is the Clubhouse Staging Server used for testing and verification">
      <p>Here be dragons.</p>
      The real production server can be found here:<br>
      <a href="https://ranger-clubhouse.burningman.org">ranger-clubhouse.burningman.org</a>
    </ChNotice>
  {{/if}}
  <h2>Welcome To The Ranger Secret Clubhouse!</h2>
  {{#if this.tokenError}}
    <ChAlert @type="danger">
      {{#if this.welcome}}
        <p>
          Sorry, the invitation link has expired or was entered incorrectly.
        </p>
        <p>
          If you already setup your Clubhouse account, use your email and password to login.
        </p>
        <p>
          You can use the "Forgot Your Password" link below if you cannot remember your password.
        </p>
        <p>
          Contact the Volunteer Coordinators at {{vc-email}} if you continue to have problems.
        </p>
      {{else}}
        Sorry, the reset password link has either expired or was entered incorrectly. You can try resetting
        your password again.
      {{/if}}
    </ChAlert>
  {{/if}}
  {{#if this.loginError}}
    {{#if (eq this.loginError "invalid-credentials")}}
      <ChNotice @title=" The email and/or password is incorrect." @type="danger" @icon="exclamation-triangle"/>
    {{else}}
      <ChNotice @type="danger" @icon="ban" @title="Login has been disabled for this account.">
        Contact the Ranger Personnel Manager at {{mail-to (config "PersonnelEmail")}} for more
        information.
      </ChNotice>
    {{/if}}
  {{/if}}
  <div class="d-flex flex-column flex-lg-row align-items-stretch mt-lg-4">
    <div>
      <ChForm @formId="auth"
              @formFor={{this.authForm}}
              @validator={{this.loginValidations}}
              @autocomplete="on"
              @onSubmit={{this.submit}} as |f|>
        <FormRow>
          <f.text @name="identification"
                  @label="Email"
                  @inputmode="email"
                  @autocomplete="username"
                  @autofocus={{true}}
                  @noSpaces={{true}}
                  @size={{30}}/>
        </FormRow>
        <FormRow>
          <f.password @name="password"
                      @label="Password"
                      @autocomplete="current-password"
                      @size={{30}}/>
        </FormRow>
        <FormRow>
          <div class="col-sm-12 col-lg-4">
            <f.submit @label="Login"
                      @disabled={{this.isSubmitting}}
                      @submitClass="btn-lg btn-responsive login-submit mb-4"/>
            {{#if this.isSubmitting}}
              <LoadingIndicator/>
            {{/if}}
          </div>
          <div class="col-sm-12 col-lg-8 mt-2 mb-4 text-end">
            <LinkTo @route="reset-password" class="d-block">Forgot your password?</LinkTo>
          </div>
        </FormRow>
      </ChForm>
    </div>
    <div class="p-lg-4">
      <UiSection>
        <:title>Volunteer with the Rangers</:title>
        <:body>
          <p>
            Visit
            <a href="https://rangers.burningman.org/ranger-application-process/"
               target="_blank" rel="noopener noreferrer">
              Becoming a Ranger
            </a> to read about our requirements and how to apply.
          </p>
          All past prospective Rangers must reapply each year.
        </:body>
      </UiSection>
      <UiSection>
        <:title>Attend Ranger training as a guest/auditor</:title>
        <:body>
          <p>
            First visit <a href="https://rangers.burningman.org/training/auditing/" rel="noopener noreferrer">
            Auditing a Ranger Training</a> to read about auditor requirements and restrictions.
          </p>
          <p>
            Then
            <LinkTo @route="register">click here to create</LinkTo>
            an auditor Clubhouse account.
          </p>
          Note: Auditing is not a path to becoming a Ranger.
        </:body>
      </UiSection>
    </div>
  </div>

  <hr>
  <p>
    <b>Questions? </b> Email the Ranger Volunteer Coordinators at {{vc-email}}
  </p>
  <p>
    For help logging in or registering, email the Rangers Tech Ninjas at {{admin-email}}
  </p>
</main>
{{#if this.session.isAuthenticated}}
  <LoadingDialog>
    Login successful! Please wait while your account is loaded.
  </LoadingDialog>
{{/if}}

