<ChSidebar @theme="person" @smallTitle="Person Manage" as |s|>
  <s.group @title="PERSON MANAGE">
    <s.link @route="person.index" @title="Account Info" @icon="info" @iconType="s"/>
    <s.link @route="person.schedule" @title="Schedule / Sign Up" @icon="clipboard"/>
    <s.link @route="person.event-info" @title="Event/Training Info" @icon="user" @iconType="s"/>
    <s.link @route="person.timesheet" @title="Timesheets" @icon="clock"/>
    <s.link @route="person.work-history" @title="Work History" @icon="history" @iconType="s"/>
    <s.link @route="person.assets" @title="Assets" @icon="broadcast-tower" @iconType="s"/>
    <s.link @route="person.messages" @title="Messages" @icon="envelope"
            @badgeText={{this.person.unread_message_count}} />
    {{#if (has-role "admin" "manage+view-pii")}}
      <s.link @route="person.personal-info" @title="Personal Info" @icon="home" @iconType="s"/>
    {{/if}}
    {{#if (has-role "admin" "manage")}}
      <s.link @route="person.emergency-contact" @title="Emergency Contact" @icon="exclamation" @iconType="s"/>
    {{/if}}
    {{#if (has-role "admin" "vc" "mentor")}}
      <s.link @route="person.mentors" @title="Mentors" @icon="users" @iconType="s"/>
    {{/if}}
    {{#if (has-role "admin")}}
      <s.link @route="person.password" @title="Change Password" @icon="key" @iconType="s"/>
    {{/if}}
  </s.group>
  {{#if  (has-role "edit-bmids" "edit-access-docs")}}
    <s.group @title="PRE-PLAYA">
      {{#if (has-role "edit-access-docs")}}
        <s.link @route="person.access-documents" @title="Items" @icon="ticket-alt" @iconType="s"/>
      {{/if}}
      {{#if (has-role "edit-bmids")}}
        <s.link @route="person.bmid" @title="BMID" @icon="id-badge" @iconType="s"/>
      {{/if}}
    </s.group>
  {{/if}}

  {{#if (has-role "admin" "vc" "intake")}}
    <s.group @title="Vol Coords">
      {{#if (has-role "admin" "vc")}}
        <s.link @route="person.dashboard" @title="Dashboard" @icon="columns" @iconType="s"/>
      {{/if}}
      {{#if (has-role "intake")}}
        <s.link @route="person.unified-flagging" @title="Unified Flagging" @icon="flag"/>
      {{/if}}
      {{#if (has-role "admin")}}
        <s.link @route="person.external-ids" @title="External IDs" @icon="external-link-alt" @iconType="s"/>
      {{/if}}
    </s.group>
  {{/if}}

  {{#if (has-role "admin" "vc")}}
    <s.group @title="Logs">
      {{#if (has-role "admin")}}
        <s.link @route="admin.action-log" @title="Action Log" @query={{hash person=this.person.callsign}}
                @icon="arrows-alt"
                @iconType="s"/>
        <s.link @route="person.contact-log" @title="Contact Log" @icon="paper-plane"/>
        <s.link @route="person.broadcast-log" @title="Broadcast Log" @icon="volume-up" @iconType="s"/>
      {{/if}}
      {{#if (has-role "admin" "vc")}}
        <s.link @route="person.status-history" @title="Status History" @icon="history" @iconType="s"/>
        <s.link @route="person.photos" @title="Photo History" @icon="portrait" @iconType="s"/>
      {{/if}}
    </s.group>
  {{/if}}
</ChSidebar>

<main>
  <div class="person-manage-header">
    <div class="person-manage-header-title">
      <div class="person-manage-callsign">
        <PersonLink @person={{this.person}} />
        <span class="d-inline-block">
          &lt;{{this.person.status}}{{if this.person.vintage "/vintage"~}}
          , {{this.person.first_name}} {{this.person.last_name}}&gt;
        </span>
        <div class="person-manage-pronouns">
          {{pronouns-format this.person}}
        </div>
        <div class="person-manage-pronounce">
          {{#if this.person.callsign_pronounce}}
            <i>"{{this.person.callsign_pronounce}}"</i>
          {{/if}}
        </div>
      </div>
      <div class="person-manage-switch">
        <LinkTo @route="hq.index" @model={{this.person.id}}>Switch to HQ Window</LinkTo>
      </div>
    </div>
    {{#if (or this.person.isSuspended this.person.isResigned this.person.isDeceased this.person.isUberBonked this.person.isDismissed)}}
      <div class="person-manage-info">
        <h5 class="text-danger mt-2">
          {{fa-icon "exclamation-triangle"}} The account has the status "{{this.person.status}}" and may not be logged
          into.
        </h5>
        For more information, contact the Personnel Manager: {{mail-to (config "PersonnelEmail")}}
      </div>
    {{else if this.person.needsBpguid}}
      <div class="h4 person-manage-info text-danger">
        Account does not have a Burner Profile ID on file. Signups and ticketing are disabled.
      </div>
    {{/if}}
  </div>

  {{#if this.person.message}}
    <ChNotice @title="Important Account Note" @icon="hand-point-right">
      {{nl2br this.person.message}}
      <div class="mt-2 text-muted">Posted {{shift-format this.person.message_updated_at}}</div>
    </ChNotice>
  {{/if}}
  {{outlet}}
</main>
