<UiSidebar @theme="person" @smallTitle="Person Manage" as |s|>
  <s.group @title="PERSON MANAGE">
    <s.link @route="person.index" @title="Account Info" @icon="info" @iconType="s"/>
    {{#if this.session.hasEventManagement}}
      <s.link @route="person.schedule" @title="Schedule / Sign Up" @icon="clipboard"/>
      <s.link @route="person.event-info" @title="Event/Training Info" @icon="user" @iconType="s"/>
      <s.link @route="person.timesheet" @title="Timesheets" @icon="clock"/>
      <s.link @route="person.assets" @title="Assets" @icon="broadcast-tower" @iconType="s"/>
      <s.link @route="person.messages" @title="Messages" @icon="envelope"
              @badgeText={{this.person.unread_message_count}} />
      {{#if (has-role "admin" "view-pii")}}
        <s.link @route="person.personal-info" @title="Personal Info" @icon="home" @iconType="s"/>
      {{/if}}
      <s.link @route="person.emergency-contact" @title="Emergency Contact" @icon="comment-medical" @iconType="s"/>
      {{#if (has-role "admin" "vc" "mentor")}}
        <s.link @route="person.mentoring" @title="Mentors / Mentees" @icon="users" @iconType="s"/>
      {{/if}}
      {{#if (has-role "admin" "quartermaster")}}
        <s.link @route="person.swag" @title="Swag" @icon="shirt" @iconType="s"/>
      {{/if}}
      <s.link @route="person.awards" @title="Service Recognition" @icon="award" @iconType="s"/>
      <s.link @route="person.pogs" @title="Pogs" @icon="utensils" @iconType="s"/>
    {{/if}}
  </s.group>
  {{#if  (has-role "edit-bmids" "edit-access-docs")}}
    <s.group @title="PRE-PLAYA">
      {{#if (has-role "edit-access-docs")}}
        <s.link @route="person.tickets-provisions" @title="Tickets & Provisions" @icon="ticket" @iconType="s"/>
      {{/if}}
      {{#if (has-role "edit-bmids")}}
        <s.link @route="person.bmid" @title="BMID" @icon="id-badge" @iconType="s"/>
      {{/if}}
    </s.group>
  {{/if}}

  {{#if (has-role "intake" "regional" "vc")}}
    <s.group @title="Vol Coords">
      <s.link @route="person.unified-flagging" @title="Unified Flagging" @icon="flag"/>
      {{#if (has-role "vc")}}
        <s.link @route="person.applications" @title="Ranger Applications" @icon="handshake-angle"/>
      {{/if}}
    </s.group>
  {{/if}}

  {{#if (has-role "admin" "vc")}}
    <s.group @title="Logs">
      <s.link @route="person.mail-log" @title="Mail Log" @icon="paper-plane"/>
      {{#if (has-role "admin")}}
        <s.link @route="admin.action-log" @title="Action Log" @query={{hash person=this.person.callsign}}
                @icon="arrows-alt"
                @iconType="s"/>
        <s.link @route="person.broadcast-log" @title="Broadcast Log" @icon="volume-up" @iconType="s"/>
      {{/if}}
      <s.link @route="person.status-history" @title="Status History" @icon="history" @iconType="s"/>
      <s.link @route="person.photos" @title="Photo History" @icon="portrait" @iconType="s"/>
    </s.group>
  {{/if}}
</UiSidebar>

<main>
  <div class="person-manage-header">
    <div class="person-manage-header-title">
      <div class="person-manage-callsign">
        <PersonLink @person={{this.person}} />
        <span class="d-inline-block">
          &lt;{{this.person.status}}{{if this.person.vintage "/vintage"~}}
          , {{or this.person.preferred_name this.person.first_name}} {{this.person.last_name}}&gt;
        </span>
        <div class="person-manage-pronouns">
          {{pronouns-format this.person}}
        </div>
        <div class="person-manage-pronounce">
          {{#if this.person.callsign_pronounce}}
            <i>"{{this.person.callsign_pronounce}}"</i>
          {{/if}}
        </div>
      </div>
      <div class="person-manage-switch">
        <a href {{on-click this.switchToHQ}}>Switch to HQ Window</a>
      </div>
    </div>
  </div>
  {{outlet}}
</main>
