{{#ch-sidebar}}
  {{#ch-sidebar-group "PROFILE"}}
    {{ch-sidebar-link "person.index" title="Account Info" icon="info" iconType="s"}}
    {{ch-sidebar-link "person.schedule" title="Schedule / Sign Up" icon="clipboard"}}
    {{ch-sidebar-link "person.event-info" title="Event/Training Info" icon="user" iconType="s"}}
    {{ch-sidebar-link "person.timesheet" title="Timesheets" class="dropdown-item" icon="clock"}}
    {{ch-sidebar-link "person.assets" title="Assets" class="dropdown-item" icon="broadcast-tower" iconType="s"}}
    {{ch-sidebar-link "person.messages" title="Messages" icon="envelope" badgeText=person.unread_message_count}}
    {{#if (has-role "admin" "manage+view-pii")}}
      {{ch-sidebar-link "person.personal-info" title="Personal Info" icon="home" iconType="s"}}
    {{/if}}
    {{#if (has-role "admin" "manage")}}
      {{ch-sidebar-link "person.emergency-contact" title="Emergency Contact" icon="exclamation" iconType="s"}}
    {{/if}}
    {{#if (has-role "admin" "vc" "mentor")}}
      {{ch-sidebar-link "person.mentors" title="Mentors" icon="users" iconType="s"}}
    {{/if}}
    {{#if (has-role "admin")}}
      {{ch-sidebar-link "person.password" title="Change Password" icon="key" iconType="s"}}
    {{/if}}
  {{/ch-sidebar-group}}

  {{#ch-sidebar-group}}
    {{ch-sidebar-collapse}}
  {{/ch-sidebar-group}}
{{/ch-sidebar}}

<main class="col">
  {{#if (not person.user_authorized)}}
    {{#ch-alert "danger"}}
      {{fa-icon "exclamation-triangle" size="2x"}}This account is not accessible. Contact the Personnel Manager, {{mail-to (config "PersonnelEmail")}}.
    {{/ch-alert}}
  {{else if person.isSuspended}}
    {{#ch-alert "danger"}}
      {{fa-icon "exclamation-triangle" size="2x"}}This account has been suspended. Contact the Personnel Manager, {{mail-to (config "PersonnelEmail")}}.
    {{/ch-alert}}
  {{else if person.needsBpguid}}
    {{#ch-alert "warning"}}
      Account does not have a BPGUID (aka Burner Profile ID) on file. Signups and ticketing are disabled.
    {{/ch-alert}}
  {{/if}}

  <div class="row">
    <div class="col-sm-12">
      <h1>{{person-link person=person}} - {{person.status}}{{if person.vintage "/vintage"}} ({{person.first_name}} {{person.mi}} {{person.last_name}})</h1>
    </div>
    {{!
      The drop down menu only appear on mobile/small screen devices
      When adding new areas, be sure to add the link to person-sidebar.hbs
    }}
    <div class="col-sm-12 d-md-none">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Section
        </button>
        <div class="dropdown-menu">
          {{#link-to "person.index" person.id class="dropdown-item"}}Account Info{{/link-to}}
          {{#link-to "person.schedule" person.id class="dropdown-item"}}Schedule / Sign Up{{/link-to}}
          {{#link-to "person.event-info" person.id class="dropdown-item"}}Event Info{{/link-to}}
          {{#link-to "person.timesheet" person.id class="dropdown-item"}}Timesheet{{/link-to}}
          {{#link-to "person.assets" person.id class="dropdown-item"}}Assets{{/link-to}}
          {{#link-to "person.messages" person.id class="dropdown-item"}}Messages{{/link-to}}
          {{#if (has-role "admin" "manage+view-pii")}}
            {{#link-to "person.personal-info" person.id class="dropdown-item"}}Personal Info{{/link-to}}
          {{/if}}
          {{#if (has-role "admin" "manage")}}
            {{#link-to "person.emergency-contact" person.id class="dropdown-item"}}Emergency Contact{{/link-to}}
          {{/if}}
          {{#if (has-role "admin" "vc" "mentor")}}
            {{#link-to "person.mentors" person.id class="dropdown-item"}}Mentors{{/link-to}}
          {{/if}}
          {{#if (has-role "admin")}}
            {{#link-to "person.password" person.id class="dropdown-item"}}Change Password{{/link-to}}
          {{/if}}
       </div>
     </div>
   </div>
  </div>
  {{outlet}}
</main>
