<ChSidebar @linkBg="bg-person">
  <ChSidebarGroup @title="PERSON MANAGE">
    <ChSidebarLink @route="person.index" @title="Account Info" @linkBg="bg-person" @icon="info" @iconType="s"/>
    <ChSidebarLink @route="person.schedule" @title="Schedule / Sign Up" @linkBg="bg-person" @icon="clipboard"/>
    <ChSidebarLink @route="person.event-info" @title="Event/Training Info" @icon="user" @linkBg="bg-person"
                   @iconType="s"/>
    <ChSidebarLink @route="person.timesheet" @title="Timesheets" @linkBg="bg-person" @icon="clock"/>
    <ChSidebarLink @route="person.assets" @title="Assets" @linkBg="bg-person" @icon="broadcast-tower" @iconType="s"/>
    <ChSidebarLink @route="person.messages" @title="Messages" @linkBg="bg-person" @icon="envelope"
                   @badgeText={{this.person.unread_message_count}} />
    {{#if (has-role "admin" "manage+view-pii")}}
      <ChSidebarLink @route="person.personal-info" @title="Personal Info" @linkBg="bg-person" @icon="home"
                     @iconType="s"/>
    {{/if}}
    {{#if (has-role "admin" "manage")}}
      <ChSidebarLink @route="person.emergency-contact" @title="Emergency Contact" @linkBg="bg-person"
                     @icon="exclamation" @iconType="s"/>
    {{/if}}
    {{#if (has-role "admin" "vc" "mentor")}}
      <ChSidebarLink @route="person.mentors" @title="Mentors" @icon="users" @linkBg="bg-person" @iconType="s"/>
    {{/if}}
    {{#if (has-role "admin")}}
      <ChSidebarLink @route="person.password" @title="Change Password" @linkBg="bg-person" @icon="key" @iconType="s"/>
    {{/if}}
  </ChSidebarGroup>
</ChSidebar>

<main class="col">
  {{#if (or this.person.isSuspended this.person.isResigned this.person.isDeceased this.person.isUberBonked this.person.isDismissed)}}
    <ChAlert @type="danger">
      {{fa-icon "exclamation-triangle" size="2x"}} The account has the status "{{person.status}}"
      and is not accessible. Contact the Personnel Manager: {{mail-to (config "PersonnelEmail")}}.
    </ChAlert>
  {{else if this.person.needsBpguid}}
    <ChAlert @type="danger">
      Account does not have a Burner Profile ID on file. Signups and ticketing are disabled.
    </ChAlert>
  {{/if}}

  <div class="d-flex flex-md-row flex-column justify-content-between">
    <h2 class="align-middle">
      <PersonLink @person={{this.person}} /> &lt;{{this.person.status}}{{if this.person.vintage "/vintage"}}, {{this.person.first_name}} {{this.person.last_name}}&gt;
      {{#if this.person.callsign_pronounce}}
        <br><i>"{{this.person.callsign_pronounce}}"</i>
      {{/if}}
    </h2>
    <div class="text-muted align-middle">Person Manage</div>
    <div class="text-right align-middle">
      <LinkTo @route="hq.index" @model={{this.person.id}}>Switch to HQ Window</LinkTo>
    </div>
  </div>

  {{#if this.person.message}}
    <ChBox @title="Important Account Message" @type="warning">
      {{nl2br this.person.message}}
      <div class="mt-2 text-muted">Message added {{shift-format this.person.message_updated_at}}</div>
    </ChBox>
  {{/if}}

  <hr class="mt-1 mr-n2 ml-n2">

  <div class="row d-md-none mb-2">
    {{!
      The drop down menu only appear on mobile/small screen devices
      When adding new areas, be sure to add the link to person-sidebar.hbs
    }}
    <div class="col-sm-12">
      <div class="btn-group btn-block">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          Account Section
        </button>
        <div class="dropdown-menu">
          <LinkTo @route="person.index" @model={{this.person.id}} class="dropdown-item">Account Info</LinkTo>
          <LinkTo @route="person.schedule" @model={{this.person.id}} class="dropdown-item">Schedule / Sign Up</LinkTo>
          <LinkTo @route="person.event-info" @model={{this.person.id}} class="dropdown-item">Event Info</LinkTo>
          <LinkTo @route="person.timesheet" @model={{this.person.id}} class="dropdown-item">Timesheet</LinkTo>
          <LinkTo @route="person.assets" @model={{this.person.id}} class="dropdown-item">Assets</LinkTo>
          <LinkTo @route="person.messages" @model={{this.person.id}} class="dropdown-item">Messages</LinkTo>
          {{#if (has-role "admin" "manage+view-pii")}}
            <LinkTo @route="person.personal-info" @model={{this.person.id}} class="dropdown-item">Personal Info</LinkTo>
          {{/if}}
          {{#if (has-role "admin" "manage")}}
            <LinkTo @route="person.emergency-contact" @model={{this.person.id}} class="dropdown-item">Emergency Contact
            </LinkTo>
          {{/if}}
          {{#if (has-role "admin" "vc" "mentor")}}
            <LinkTo @route="person.mentors" @model={{this.person.id}} class="dropdown-item">Mentors</LinkTo>
          {{/if}}
          {{#if (has-role "admin")}}
            <LinkTo @route="person.password" @model={{this.person.id}} class="dropdown-item">Change Password</LinkTo>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{outlet}}
</main>
