<ChSidebar @linkBg="bg-person">
  {{#ch-sidebar-group "PERSON MANAGE"}}
    {{ch-sidebar-link "person.index" title="Account Info" linkBg="bg-person" icon="info" iconType="s"}}
    {{ch-sidebar-link "person.schedule" title="Schedule / Sign Up" linkBg="bg-person"  icon="clipboard"}}
    {{ch-sidebar-link "person.event-info" title="Event/Training Info" icon="user" linkBg="bg-person" iconType="s"}}
    {{ch-sidebar-link "person.timesheet" title="Timesheets" class="dropdown-item" linkBg="bg-person" icon="clock"}}
    {{ch-sidebar-link "person.assets" title="Assets" class="dropdown-item" linkBg="bg-person" icon="broadcast-tower" iconType="s"}}
    {{ch-sidebar-link "person.messages" title="Messages" icon="envelope" linkBg="bg-person"  badgeText=person.unread_message_count}}
    {{#if (has-role "admin" "manage+view-pii")}}
      {{ch-sidebar-link "person.personal-info" title="Personal Info" linkBg="bg-person"  icon="home" iconType="s"}}
    {{/if}}
    {{#if (has-role "admin" "manage")}}
      {{ch-sidebar-link "person.emergency-contact" title="Emergency Contact" linkBg="bg-person" icon="exclamation" iconType="s"}}
    {{/if}}
    {{#if (has-role "admin" "vc" "mentor")}}
      {{ch-sidebar-link "person.mentors" title="Mentors" icon="users" linkBg="bg-person" iconType="s"}}
    {{/if}}
    {{#if (has-role "admin")}}
      {{ch-sidebar-link "person.password" title="Change Password" linkBg="bg-person"  icon="key" iconType="s"}}
    {{/if}}
  {{/ch-sidebar-group}}
</ChSidebar>

<main class="col">
  {{#if (not person.user_authorized)}}
    {{#ch-alert "danger"}}
      {{fa-icon "exclamation-triangle" size="2x"}}This account is not accessible. Contact the Personnel Manager, {{mail-to (config "PersonnelEmail")}}.
    {{/ch-alert}}
  {{else if person.isSuspended}}
    {{#ch-alert "danger"}}
      {{fa-icon "exclamation-triangle" size="2x"}}This account has been suspended. Contact the Personnel Manager, {{mail-to (config "PersonnelEmail")}}.
    {{/ch-alert}}
  {{else if person.needsBpguid}}
    {{#ch-alert "warning"}}
      Account does not have a Burner Profile ID on file. Signups and ticketing are disabled.
    {{/ch-alert}}
  {{/if}}


  <div class="d-flex flex-md-row flex-column justify-content-between">
    <h2 class="align-middle">
      <PersonLink @person={{person}} /> &lt;{{person.status}}{{if person.vintage "/vintage"}}, {{person.first_name}} {{person.last_name}}&gt;
      {{#if person.callsign_pronounce}}
        <br><i>"{{person.callsign_pronounce}}"</i>
      {{/if}}
    </h2>
    <div class="text-muted align-middle">Person Manage</div>
    <div class="text-right align-middle">
      <LinkTo @route="hq.index" @model={{person.id}}>Switch to HQ Window</LinkTo>
    </div>
  </div>

  {{#if person.message}}
    {{#ch-box "Important Account Message" type="warning"}}
      {{nl2br person.message}}
      <div class="mt-2 text-muted">Message added {{shift-format person.message_updated_at}}</div>
    {{/ch-box}}
  {{/if}}

  <hr class="mt-1 mr-n2 ml-n2">

  <div class="row d-md-none mb-2">
    {{!
      The drop down menu only appear on mobile/small screen devices
      When adding new areas, be sure to add the link to person-sidebar.hbs
    }}
    <div class="col-sm-12">
      <div class="btn-group btn-block">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account Section
        </button>
        <div class="dropdown-menu">
          <LinkTo @route="person.index" @model={{person.id}} class="dropdown-item">Account Info</LinkTo>
          <LinkTo @route="person.schedule" @model={{person.id}} class="dropdown-item">Schedule / Sign Up</LinkTo>
          <LinkTo @route="person.event-info" @model={{person.id}} class="dropdown-item">Event Info</LinkTo>
          <LinkTo @route="person.timesheet" @model={{person.id}} class="dropdown-item">Timesheet</LinkTo>
          <LinkTo @route="person.assets" @model={{person.id}} class="dropdown-item">Assets</LinkTo>
          <LinkTo @route="person.messages" @model={{person.id}} class="dropdown-item">Messages</LinkTo>
          {{#if (has-role "admin" "manage+view-pii")}}
            <LinkTo @route="person.personal-info" @model={{person.id}} class="dropdown-item">Personal Info</LinkTo>
          {{/if}}
          {{#if (has-role "admin" "manage")}}
            <LinkTo @route="person.emergency-contact" @model={{person.id}} class="dropdown-item">Emergency Contact</LinkTo>
          {{/if}}
          {{#if (has-role "admin" "vc" "mentor")}}
            <LinkTo @route="person.mentors" @model={{person.id}} class="dropdown-item">Mentors</LinkTo>
          {{/if}}
          {{#if (has-role "admin")}}
            <LinkTo @route="person.password" @model={{person.id}} class="dropdown-item">Change Password</LinkTo>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{outlet}}
</main>
