<LoginSidebar/>
<main>
  {{#if (setting 'AuditorRegistrationDisabled')}}
    <UiNotice @type="danger" @icon="hand" @title="Auditor Registration Disabled">
      <p>Registration is currently closed. Here's what to know:</p>
      <ul>
        <li>Registration is: <b>March</b> and runs through <b>late May</b>.</li>
        <li>Trainings are: <b>early April through late August</b>.</li>
        <li><b>Applicant Rangers</b>: get priority over Auditors.</li>
        <li class="text-danger fw-bold">No walk-ins are allowed.</li>
      </ul>
      <p>
        <b class="text-danger">Auditing training is not a path to becoming a Ranger.</b>
        To become a Ranger, you must apply for and be accepted into the Prospective Ranger program.
      </p>
      <p>
        While you wait, browse the Ranger Manual at
        <a href="https://rangers.burningman.org">rangers.burningman.org</a>.
      </p>
    </UiNotice>
  {{else if (eq this.step "ask-intent")}}
    <UiSection>
      <:title>Hello Auditor or Potential Ranger!</:title>
      <:body>
        <p>
          Thank you for visiting the Black Rock Ranger Secret Clubhouse.
        </p>
        <p>
          <b class="text-danger">Ranger trainings are only offered late-April through August.</b>
        </p>
        <p>
          Why are you here today?
        </p>
        <UiButtonRow>
          <UiButton @responsive={{true}} @onClick={{fn this.stepAction "ranger"}}>
            To Volunteer With The Rangers
          </UiButton>
          <UiButton type="button" @responsive={{true}} @onClick={{fn this.stepAction "audit"}}>
            To Audit Ranger Training
          </UiButton>
        </UiButtonRow>
      </:body>
    </UiSection>
  {{else if (eq this.step "ranger")}}
    <UiSection>
      <:title>You're in the wrong place to become a Ranger!</:title>
      <:body>
        <p><b>You do not create a Clubhouse account to become a Black Rock Ranger.</b></p>
        <ul class="lh-lg">
          <li>
            <b class="text-danger">Do this:</b> go to
            <ExtLink @href="https://profiles.burningman.org">profiles.burningman.org</ExtLink>
            and submit a Volunteer Form.
          </li>
          <li>The Ranger Volunteer Coordinators will reach out with your next steps once they receive your application.</li>
          <li>
            This registration form is only for people who want to <b>audit</b> training, or who are training as a <b>Regional
            Ranger</b> — not as a BRC Ranger.
          </li>
        </ul>

        <UiButton @type="outline-secondary" @responsive={{true}} @onClick={{fn this.stepAction "ask-intent"}}>
          Back to start
        </UiButton>
      </:body>
    </UiSection>
  {{else if (eq this.step "audit")}}
    <UiSection>
      <:title>Register To Audit BRC Ranger Training</:title>
      <:body>
        <p>
          <b class="text-danger">{{fa-icon "ban" right=1}} Auditing is NOT:</b> a path to becoming a Black Rock Ranger.
          (NO EXCEPTIONS!)
        </p>
        <p>
          <b>Want to become a BRC Ranger?</b> Fill out a Volunteer Form at
          <ExtLink @href={{this.profilesUrl}}>profiles.burningman.org</ExtLink>
        </p>
        <UiButton @responsive={{true}} @onClick={{fn this.stepAction "register"}}>
          I understand auditing is not a path to becoming a Ranger
        </UiButton>
      </:body>
    </UiSection>
  {{else if (eq this.step "register")}}
    <h1>Register to audit Ranger training</h1>
    <p>
      In order to audit a training, you will need to create a Clubhouse account. Please supply the following
      information:
    </p>

    <ChForm @formId="register" @formFor={{this.registerForm}} @validator={{this.registerValidations}}
            @onSubmit={{this.createAccount}} as |f|>
      <FormRow>
        <f.text @name="human"
                @label="First, prove you are human - {{this.humanQuestion}}"
                @size={{4}}
                @maxlength={{10}}
                autocomplete="off"
        />
      </FormRow>
      <FormRow>
        <f.radioGroup @name="intent"
                      @label="Why are you creating a Clubhouse account?"
                      @options={{this.intentOptions}}/>
      </FormRow>
      <FormRow>
        <f.text @name="email"
                @label="Email Address"
                @inputmode="email"
                @size={{30}}
                @showCharCount={{true}}
                @maxlength={{30}}
                autocomplete="email"/>
      </FormRow>

      <FormRow>
        <f.password @name="password"
                    @label="Password"
                    @size={{20}}
                    @maxlength={{30}}
                    @showCharCount={{true}}
                    autocomplete="new-password"/>
        <f.password @name="password_confirmation"
                    @label="Confirm Password"
                    @size={{20}}
                    @maxlength={{30}}
                    @showCharCount={{true}}
                    autocomplete="new-password"
        />
      </FormRow>

      <FormRow>
        <f.text @name="first_name"
                @label="Legal First Name"
                @maxlength={{25}}/>
        <f.text @name="mi"
                @label="M.I."
                @size={{2}}
                @maxlength={{10}} />
        <f.text @name="last_name"
                @label="Legal Last Name"
                @maxlength={{25}}/>
      </FormRow>

      <PersonAddressEdit @f={{f}} />

      <FormRow>
        <f.text @name="home_phone"
                @label="Primary Phone"
                @inputmode="tel"/>
        <f.text @name="alt_phone"
                @label="Alternative Phone"
                @inputmode="tel"/>
      </FormRow>

      <f.submit @label="Create My Auditor Account" @disabled={{this.isSaving}} />
      {{#if this.isSaving}}
        <LoadingIndicator @text="Creating Account"/>
      {{/if}}
    </ChForm>
  {{else}}
    <p>Something went wrong. Let's start over.</p>
    <p>
      <UiButton @onClick={{fn this.stepAction "ask-intent"}}>Start over</UiButton>
    </p>
  {{/if}}
  <p class="mt-2">
    <b>Questions?</b> Contact the Ranger Volunteer Coordinators at
    <span class="d-inline-block"><VcEmail/></span>.
  </p>
</main>
