<LoginSidebar/>
<main>
  {{#if (config 'AuditorRegistrationDisabled')}}
    <UiSection>
      <:title><span class="text-danger">Auditor registration disabled.</span></:title>
      <:body>
        <p>
          Auditor registration is usually open between January and late August. The Black Rock Rangers only offer
          trainings
          between late April/early May and late August. Training registration will prioritize Prospective Rangers
          over Auditors. <b>No walks-in are allowed.</b>
        </p>
        <p>
          <b class="text-danger">Just attending training as an auditor is not a path to becoming a Ranger.</b> You must
          apply for and be accepted into the Prospective Ranger program in order to become a Ranger.
        </p>
        While you are waiting, please feel free to browse the Ranger manual located on the main Ranger website:
        <a href="https://rangers.burningman.org">rangers.burningman.org</a>
      </:body>
    </UiSection>
  {{else if (eq this.step "ask-intent")}}
    <UiSection>
      <:title>Hello Auditor or Potential Ranger!</:title>
      <:body>
        <p>
          Thank you for visiting the Black Rock Ranger Secret Clubhouse.
        </p>
        <p>
          <b class="text-danger">Ranger trainings are only offered late-April through August.</b>
        </p>
        <p>
          Why are you here today?
        </p>
        <UiButton @class="btn-responsive" @onClick={{fn this.stepAction "ranger"}}>
          To Volunteer With The Rangers
        </UiButton>
        <UiButton type="button" @class="btn-responsive" @onClick={{fn this.stepAction "audit"}}>
          To Audit Ranger Training
        </UiButton>
      </:body>
    </UiSection>
  {{else if (eq this.step "ranger")}}
    <UiSection>
      <:title>You're in the wrong place to become a Ranger!</:title>
      <:body>
        <p>
          <b>All potential Black Rock Rangers need to submit an application first.</b>
        </p>
        <p>
          <b class="text-danger">You do not register in the Clubhouse.</b>
        </p>
        <p>
          Visit
          <a href="https://rangers.burningman.org/becoming-a-ranger/" rel="noopener noreferrer">
            Becoming a Ranger
          </a>
          to read about the Ranger volunteer requirements, qualifications, and how to submit a volunteer application.
        </p>
        Did you mean to <a href {{action this.stepAction "audit"}}>audit Ranger training</a> instead?
      </:body>
    </UiSection>
  {{else if (eq this.step "audit")}}
    <UiSection>
      <:title>Register to audit Ranger training</:title>
      <:body>
        <p>
          <b class="text-danger">Auditing is NOT a path to becoming a Black Rock Ranger.</b>
        </p>
        <p>
          Did you mean become a Ranger instead? Visit
          <a href="https://rangers.burningman.org/becoming-a-ranger/" rel="noopener noreferrer">
            Becoming a Ranger
          </a>
          to find out how to submit a volunteer application.
        </p>
        <UiButton @class="btn-responsive" @onClick={{fn this.stepAction "register"}}>
          I understand auditing is not a path to becoming a Ranger
        </UiButton>
      </:body>
    </UiSection>
  {{else if (eq this.step "register")}}
    <h1>Register to audit Ranger training</h1>
    <p>
      In order to audit a training, you will need to create a Clubhouse account. Please supply the following
      information:
    </p>

    <ChForm @formId="register" @formFor={{this.registerForm}} @autocomplete="on" @validator={{this.registerValidations}}
            @onSubmit={{this.createAccount}} as |f|>
      <FormRow>
        <f.text @name="human"
                @label="First, prove you are human - What is 33 + 2?"
                @size={{4}}
                @maxlength={{10}}
        />
      </FormRow>
      <FormRow>
        <f.radioGroup @name="intent"
                      @label="Why are you creating a Clubhouse account?"
                      @options={{this.intentOptions}}/>
      </FormRow>
      <FormRow>
        <f.text @name="email"
                @label="Email Address"
                @inputmode="email"
                @size={{30}}/>
      </FormRow>

      <FormRow>
        <f.password @name="password"
                    @label="Password"
                    @size={{20}}
                    @maxlength={{30}} />
        <f.password @name="password_confirmation"
                    @label="Confirm Password"
                    @size={{20}}
                    @maxlength={{30}}
                />
      </FormRow>

      <FormRow>
        <f.text @name="first_name"
                @label="First Name"
                @maxlength={{25}}/>
        <f.text @name="mi"
                @label="M.I."
                @size={{2}}
                @maxlength={{10}} />
        <f.text @name="last_name"
                @label="Last Name"
                @maxlength={{25}}/>
      </FormRow>

      <PersonAddressEdit @f={{f}} />

      <FormRow>
        <f.text @name="home_phone"
                @label="Primary Phone"
                @inputmode="tel"/>
        <f.text @name="alt_phone"
                @label="Alternative Phone"
                @inputmode="tel"/>
      </FormRow>

      <f.submit @label="Create My Auditor Account" disabled={{this.iSaving}} />
      {{#if this.isSaving}}
        <LoadingIndicator @text="Creating Account"/>
      {{/if}}
    </ChForm>
  {{else}}
    <p>
      Uh oh, I don't understand what the step [{{this.step}}] is. This is a bug and should be reported to the tech team.
    </p>
    <p>
      <UiButton @onClick={{fn this.stepAction "ask-intent"}}>Back</UiButton>
    </p>
  {{/if}}
  <p class="mt-2">
    <b>Questions?</b> Contact the Ranger Volunteer Coordinators at
    <span class="d-inline-block">{{vc-email}}</span>.
  </p>
</main>
