<LoginSidebar/>
<main class="col">
  <h1>Khaki, I need a password reset &hellip; </h1>
  <ChBox @title="No longer have access to the email address?">
    Please email {{general-support-email}} if you not longer have
    access to the email address that was used to sign into the Clubhouse.
  </ChBox>

  <ChForm @formId="auth" @formFor={{this.authForm}} @validator={{this.resetPasswordValidations}}
          @onSubmit={{this.submit}} as |f|>
    <div class="form-row">
      <f.input @name="identification" @type="text" @inputmode="email" @size=30 @grid="col-auto"
               @label="Please enter your email address"/>
    </div>
    <f.submit @label="Reset Password" @disabled={{this.isSubmitting}} />
    {{#if this.isSubmitting}}
      <LoadingIndicator/>
    {{/if}}
    <div class="text-muted mt-4">Remembered the password?
      <LinkTo @route="login">Back to Login</LinkTo>
    </div>
  </ChForm>
</main>
