<LoginSidebar/>
<main>
  <h1 class="homepage-title">Khaki, Khaki, I need a password reset &hellip; </h1>
  {{#if this.session.isTraining}}
    <p>
      Sorry, password resets are not available on the training server.
    </p>
    <LinkTo @route="login">Back to Login</LinkTo>

  {{else}}
    <UiNotice @title="No longer have access to the email address?" @icon="envelope">
      Email {{admin-email}} if you no longer have
      access to the email address that was used to sign in to the Clubhouse.
    </UiNotice>

    <ChForm @formId="auth"
            @formFor={{this.authForm}}
            @validator={{this.resetPasswordValidations}}
            @onSubmit={{this.submit}} as |f|>
      <FormRow>
        <f.text @name="identification"
                @label="Please enter your email address"
                @inputmode="email"
                @size={{30}}
        />
      </FormRow>
      <f.submit @label="Reset Password" @disabled={{this.isSubmitting}} @submitClass="btn-responsive"/>
      {{#if this.isSubmitting}}
        <LoadingIndicator/>
      {{/if}}
      <div class="text-muted mt-4">Remembered the password?
        <LinkTo @route="login">Back to Login</LinkTo>
      </div>
    </ChForm>
  {{/if}}

</main>
