<LoginSidebar/>
<main>
  <h1 class="homepage-title">Khaki, Khaki, I need a password reset &hellip; </h1>
  <ChNotice @title="No longer have access to the email address?" @icon="envelope">
    Email {{general-support-email}} if you not longer have
    access to the email address that was used to sign into the Clubhouse.
  </ChNotice>

  <ChForm @formId="auth"
          @formFor={{this.authForm}}
          @validator={{this.resetPasswordValidations}}
          @onSubmit={{this.submit}} as |f|>
    <FormRow>
      <f.text @name="identification"
              @label="Please enter your email address"
              @inputmode="email"
              @size={{30}}
      />
    </FormRow>
    <f.submit @label="Reset Password" @disabled={{this.isSubmitting}} @submitClass="btn-responsive"/>
    {{#if this.isSubmitting}}
      <LoadingIndicator/>
    {{/if}}
    <div class="text-muted mt-4">Remembered the password?
      <LinkTo @route="login">Back to Login</LinkTo>
    </div>
  </ChForm>
</main>
