<UiSidebar @smallTitle={{this.training.title}} as |s|>
  <s.group @title={{this.training.title}}>
    <s.link @route="training.index"
            @title="Training Sessions"
            @icon="list-alt" @iconType="r"/>
    <s.link @route="training.capacity"
            @routeArg={{this.training.id}}
            @title="Training Capacity"
            @icon="battery-half" @iconType="s"/>
    <s.link @route="training.multiple-enrollments"
            @routeArg={{this.training.id}}
            @title="Multiple Enrollments"
            @icon="copy" @iconType="s"/>
    <s.link @route="training.people-training-completed"
            @routeArg={{this.training.id}}
            @title="Training Completed"
            @icon="check-square" @iconType="s"/>
    <s.link @route="training.trainer-attendance"
            @routeArg={{this.training.id}}
            @title="Trainer Attendance"
            @icon="user-check" @iconType="s"/>
    <s.link @route="training.resources"
            @routeArg={{this.training.id}}
            @title="Trainer Resources"
            @icon="circle-question"/>
    <s.link @route="training.trained-no-work"
            @routeArg={{this.training.id}}
            @title="Trained / No Work"
            @icon="circle-question"
    />
    {{#if this.training.is_art}}
      <s.link @route="training.untrained-people"
              @routeArg={{this.training.id}}
              @title="Untrained People"
              @icon="exclamation-circle" @iconType="s"
      />
      {{#if this.canManageSurveys}}
        <s.link @route="training.survey.index"
                @routeArg={{this.training.id}}
                @query={{hash position_id=this.training.id}}
                @title="Training Surveys"
                @icon="poll"
                @iconType="s"/>
        {{#if this.training.mentor_position_id}}
          <s.link @route="training.survey.index"
                  @routeArg={{this.training.id}}
                  @query={{hash position_id=this.training.mentor_position_id}}
                  @title="Mentor Surveys"
                  @icon="poll"
                  @iconType="s"
          />
          <s.link @route="training.survey.index"
                  @routeArg={{this.training.id}}
                  @query={{hash position_id=this.training.mentee_position_id}}
                  @title="Mentee Surveys"
                  @icon="poll"
                  @iconType="s"
          />
        {{/if}}
      {{/if}}
    {{else}}
      {{#if this.showOnlineCourseProgress}}
        <s.link @route="training.online-course-progress"
                @routeArg={{this.training.id}}
                @title="Online Course Progress"
                @icon="list-check"
                @iconType="s"
        />
      {{/if}}
      {{#if this.canManageSurveys}}
        <s.link @route="training.survey.index"
                @routeArg={{this.training.id}}
                @title="Training Surveys"
                @icon="poll"
                @iconType="s"/>
      {{/if}}
      {{#if this.hasIntake}}
        <s.link @route="training.unified-flagging"
                @routeArg={{this.training.id}}
                @title="Unified Flagging"
                @icon="flag"
                @iconType="s"/>
      {{/if}}
    {{/if}}
  </s.group>
</UiSidebar>

<main>{{outlet}}</main>
