{{#ch-sidebar}}
  {{#ch-sidebar-group training.title}}
    {{ch-sidebar-link "training.index" title="Trainer's Report" icon="list-alt" iconType="r"}}
    {{ch-sidebar-link "training.capacity" training.id title="Training Capacity" icon="battery-half" iconType="s"}}
    {{ch-sidebar-link "training.multiple-enrollments" training.id title="Multiple Enrollments" icon="copy" iconType="s"}}
    {{ch-sidebar-link "training.people-training-completed" training.id title="Training Completed" icon="check-square" iconType="s"}}
    {{ch-sidebar-link "training.trainer-attendance" training.id title="Trainer Attendance" icon="user-check" iconType="s"}}
    {{#if training.is_art}}
      {{ch-sidebar-link "training.untrained-people" training.id title="Untrained People" icon="exclamation-circle" iconType="s"}}
    {{/if}}
  {{/ch-sidebar-group}}
{{/ch-sidebar}}

<main class="col min-width-500">
  <div class="d-md-none mb-2">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Training Section
        </button>
        <div class="dropdown-menu">
          {{#link-to "training.index" training.id class="dropdown-item"}}Trainer's Report{{/link-to}}
          {{#link-to "training.capacity" training.id class="dropdown-item"}}Training Capacity{{/link-to}}
          {{#link-to "training.multiple-enrollments" training.id class="dropdown-item"}}Multiple Enrollments{{/link-to}}
          {{#link-to "training.people-training-completed" training.id class="dropdown-item"}}Training Completed{{/link-to}}
          {{#link-to "training.trainer-attendance" training.id class="dropdown-item"}}Trainer Attendance{{/link-to}}
          {{#if training.is_art}}
            {{#link-to "training.untrained-people" training.id class="dropdown-item"}}Untrained People{{/link-to}}
          {{/if}}
        </div>
      </div>
    </div>

  {{outlet}}
</main>
