<ChSidebar>
  <ChSidebarGroup @title={{training.title}}>
    <ChSidebarLink @route="training.index" @title="Training Sessions" @icon="list-alt" @iconType="r"/>
    <ChSidebarLink @route="training.capacity" @routeArg={{training.id}} @title="Training Capacity" @icon="battery-half"
                   @iconType="s"/>
    <ChSidebarLink @route="training.multiple-enrollments" @routeArg={{training.id}} @title="Multiple Enrollments"
                   @icon="copy" @iconType="s"/>
    <ChSidebarLink @route="training.people-training-completed" @routeArg={{training.id}} @title="Training Completed"
                   @icon="check-square" @iconType="s"/>
    <ChSidebarLink @route="training.trainer-attendance" @routeArg={{training.id}} @title="Trainer Attendance"
                   @icon="user-check" @iconType="s"/>
    {{#if training.is_art}}
      <ChSidebarLink @route="training.untrained-people" @routeArg={{training.id}} @title="Untrained People"
                     @icon="exclamation-circle" @iconType="s"/>
    {{else if (has-role "survey-management")}}
      <ChSidebarLink @route="training.survey.index" @routeArg={{training.id}} @title="Training Surveys" @icon="poll"
                     @iconType="s"/>
    {{/if}}
  </ChSidebarGroup>
</ChSidebar>

<main class="col min-width-500">
  <div class="d-md-none mb-2">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
        Training Section
      </button>
      <div class="dropdown-menu">
        <LinkTo @route="training.index" @model={{training.id}} class="dropdown-item">Training Sessions</LinkTo>
        <LinkTo @route="training.capacity" @model={{training.id}} class="dropdown-item">Training Capacity</LinkTo>
        <LinkTo @route="training.multiple-enrollments" @model={{training.id}} class="dropdown-item">
          Multiple Enrollments
        </LinkTo>
        <LinkTo @route="training.people-training-completed" @model={{training.id}} class="dropdown-item">
          Training Completed
        </LinkTo>
        <LinkTo @route="training.trainer-attendance" @model={{training.id}} class="dropdown-item">
          Trainer Attendance
        </LinkTo>
        {{#if training.is_art}}
          <LinkTo @route="training.untrained-people" @model={{training.id}} class="dropdown-item">
            Untrained People
          </LinkTo>
        {{else if (has-role "survey-management")}}
          <LinkTo @route="training.survey.index" @model={{training.id}} class="dropdown-item">Training Surveys</LinkTo>
        {{/if}}
      </div>
    </div>
  </div>
  {{outlet}}
</main>
