{{#ch-form "slot" slot modalBox=true modalTitle=formTitle validator=slotValidations onSubmit=(action "save") onCancel=(action "cancel") as |f|}}
  <div class="form-row">
    {{f.input "position_id" label="Position" type="select" options=positionOptions grid="col-md-auto"}}
    {{f.input "trainer_slot_id"
      label="Trainer's Slot"
      type="select"
      options=trainerSlotsOptions
      includeBlank=true
      grid="col-md-auto"}}
  </div>

  <div class="form-row">
    {{f.input "description" label="Description" type="text" size=25 maxlength=25 grid="col-md-auto"}}
    {{f.input "begins" label="Begining Time" type="datetime" maxlength=25 grid="col-md-auto col-sm-12"}}
    {{f.input "ends" label="Ending Time" type="datetime"  maxlength=20 grid="col-md-auto col-sm-12"}}
    {{f.input "max" label="Max" type="text" size=3 maxlength=3 grid="col-md-auto col-sm-12"}}
  </div>

  <div class="form-row">
    <div class="form-group">
      {{f.input "active" label="Active" type="checkbox" wrapClass="form-check col-md-auto"}}
    </div>
  </div>

  <div class="form-row">
    {{f.input "url" label="Information" type="textarea" rows=3 cols=80 maxlength=512 wrapClass="col-12"
        hint=(concat (if f.model.url f.model.url.length "0") " of 512 characters.
Additional information may be given about the shift in the above area.
e.g., Women of Khaki will meet at Tokyo before shift. More info at http://women.khaki/meetup or email women@khaki.rangers")}}
  </div>

  <div class="form-group mt-2">
    {{f.submit label=(if slot.isNew "Create" "Update")}}
    {{#unless slot.isNew}}
      {{f.submit label="Create New Slot" onSubmit=(action cloneRecord)}}
    {{/unless}}
    {{f.cancel}}
  </div>

{{/ch-form}}
